@import url("https://fonts.googleapis.com/css2?family=Familjen+Grotesk:wght@200;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Familjen Grotesk", sans-serif;
}

*::-webkit-scrollbar {
  display: none;
}

html,
body {
  overflow-x: hidden !important;
  scrollbar-width: none;
}

html p {
  margin: 0 !important;
}
html ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

header {
  position: fixed;
  width: 100%;
  padding-top: 20px;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
}

.header_logo_wrapper {
  width: 150px;
  height: 50px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  margin-top: 45px;
  margin-left: 45px;
}

.header-logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
  width: 150px;
}

.hidden {
  display: none;
  margin-left: 45px;
  width: 6rem;
}

/* Navbar */
.navbar {
  z-index: 1000;
  background-color: #fff;
  border-radius: 50px;
  width: max-content;
  box-shadow: 0 4px 16px 0 #00000015;
  font-family: "Familjen Grotesk", sans-serif;
  margin: 15px auto;
  position: relative;
  padding: 0 !important;
}

.navbar .nav-button {
  position: absolute;
  right: 8px;
  top: 20%;
  transform: translateY(-50%);
  background-color: #111f3c;
  border: none;
  border-radius: 50%;
  padding: 3px 7px 6px 7px;
  cursor: pointer;
  z-index: 20;
  box-shadow: 0 4px 4px 0 #00000015;
}

.navbar .nav-prev-button {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #111f3c;
  border: none;
  border-radius: 50%;
  padding: 3px 7px 6px 7px;
  cursor: pointer;
  z-index: 10;
  box-shadow: 0 4px 4px 0 #00000015;
}

.navbar .nav-prev-button.hidden {
  display: none;
}

.fixed {
  position: fixed;
  top: 0;
  width: max-content;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0 4px 16px 0 #00000015;
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  flex-wrap: nowrap;
  padding-left: 0;
}

.navbar li {
  padding: 4px 10px;
  color: #111f3c;
  border-radius: 20px;
  margin: 10px;
  white-space: nowrap;
  transition: background-color 0.3s ease;
  position: relative;
  z-index: 2;
}

.navbar li:hover {
  cursor: pointer;
}

.navbar li.active {
  color: #fff;
  cursor: pointer;
}

.navbar::before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 0;
  border-radius: 20px;
  width: 100px;
  height: 30px;
  background-color: #111f3c;
  transition: left 0.3s ease, width 0.3s ease;
  left: var(--nav-left, 0);
  width: var(--nav-width, 0);
}

@media screen and (max-width: 850px) {
  .navbar {
    display: none !important;
  }
  header {
    background-color: #111f3c;
    padding: 20px 0px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
  }
}

/* Mobile view Nav */
.mobile-view-nav {
  position: absolute;
  top: -310px;
  left: 0;
  width: 100%;
  background-color: #111f3c;
  padding: 15px;
  text-align: center;
  backdrop-filter: blur(5px);
  transition: top 0.5s ease;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

.mobile-view-nav.active {
  top: 0;
}

.mobile-view-nav .close {
  position: absolute;
  top: 20px;
  right: 30px;
}

.mobile-view-nav ul {
  margin-top: 10px;
}

.mobile-view-nav li {
  padding-top: 25px;
  color: #ffffff;
}

.mobile-view-nav li:hover {
  color: #ec7100;
}

#checkbox {
  display: none;
}

.toggle {
  position: absolute;
  width: 25px;
  height: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  transition-duration: 0.3s;
  right: 25px;
  top: 17px;
  display: none;
}

@media screen and (max-width: 850px) {
  .toggle {
    display: flex;
  }
  .header_logo_wrapper {
    display: none;
  }

  .hidden {
    display: block;
  }
}

.bars {
  width: 100%;
  height: 2px;
  background-color: rgb(253, 255, 243);
  border-radius: 5px;
  transition-duration: 0.3s;
}
#bar4,
#bar5 {
  display: none;
}
#checkbox:checked + .toggle #bar4 {
  display: flex;
  transform: translateY(10px) translateX(4px) rotate(25deg);
  margin-left: 0;
  transform-origin: right;
  transition-duration: 0.3s;
  z-index: 2;
  width: 12px;
}
#checkbox:checked + .toggle #bar5 {
  display: flex;
  transform: translateY(-2.5px) translateX(-6.5px) rotate(-25deg);
  margin-left: 0;
  transform-origin: right;
  transition-duration: 0.3s;
  z-index: 2;
  width: 13px;
}
#checkbox:checked + .toggle #bar2 {
  transform: translateY(19px) translateX(-5px) rotate(70deg);
  margin-left: 0;
  transform-origin: right;
  transition-duration: 0.3s;
  z-index: 2;
  width: 30px;
}
#checkbox:checked + .toggle #bar1 {
  transform: translateY(27px) translateX(4px) rotate(-70deg);
  transition-duration: 0.3s;
  transform-origin: left;
  z-index: 1;
  width: 30px;
}
#checkbox:checked + .toggle {
  transform: rotate(45deg);
}
#checkbox:checked + .toggle #bar3 {
  transform: translateY(12px) rotate(2deg);
  transition-duration: 0.3s;
  transform-origin: right;
  display: none;
}

/* Main */

.top_section {
  height: 55rem;
  width: 100%;
}
.hero_description_video_wrapper {
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: end;
}
.praposal_container {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  padding-right: 5rem;
  padding-left: 3rem;
  color: #111f3c;
}

.top_proposal_line {
  font-size: 3.5rem;
  font-weight: 600;
}

.proposal_description_container {
  padding-right: 8rem;
  margin: 3rem 0;
}

.proposal_description {
  font-size: 1rem;
  color: #616161;
}

.proposal_btn_container {
  display: flex;
  gap: 3rem;
}

.explore_our_experties {
  height: 35px;
  width: 12rem;
  font-size: 1rem;
  color: white;
  background-color: #111f3c;
  border: none;
  border-radius: 50px;
  padding: 5px 0px;
  padding-bottom: 5px;
}

.explore_our_experties:hover {
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse51 1.5s infinite;
}

@keyframes pulse51 {
  0% {
    box-shadow: 0 0 0 0 #111f3c;
  }

  70% {
    box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
  }

  100% {
    box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }
}

.free_consultation {
  height: 35px;
  width: 15rem;
  color: #111f3c;
  background-color: white;
  border: 1px solid #111f3c;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
  transition: background-color 0.5s ease;
}

.free_consultation:hover {
  background-color: #111f3c;
  color: white;
}

.free_consultation svg {
  height: 12px;
  width: 1.1rem;
  margin-left: 15px;
  margin-top: 3px;
}

.free_consultation:hover svg path {
  fill: white;
}

.hero_video_container {
  width: 40%;
  height: 90%;
  padding-bottom: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero_video_container video {
  width: 45rem;
  z-index: -1;
}

@media (max-width: 1200px) {
  .top_section {
    height: 45rem;
    margin-bottom: 3rem;
  }

  .header_logo_wrapper {
    width: 90px;
    height: 30px;
    margin-top: 55px;
    margin-left: 45px;
  }

  .header-logo {
    /* margin-top: 10px; */
    width: 140px;
  }
  .hidden {
    margin-left: 30px;
    width: 6rem;
  }
  .praposal_container {
    width: 50%;
    height: 80%;
    padding-right: 5rem;
    padding-left: 0rem;
  }

  .top_proposal_line {
    font-size: 2.5rem;
    font-weight: 600;
  }

  .proposal_description_container {
    padding-right: 3rem;
    margin: 2rem 0;
  }

  .proposal_description {
    font-size: 0.9rem;
  }

  .proposal_btn_container {
    gap: 2rem;
  }
  .explore_our_experties {
    height: 30px;
    width: 10rem;
    font-size: 0.9rem;
  }

  .free_consultation {
    height: 30px;
    width: 12rem;
    font-size: 0.9rem;
    padding-top: 0px;
  }

  .free_consultation img {
    height: 11px;
    width: 0.9rem;
    margin-left: 8px;
    margin-top: 0px;
  }

  .hero_video_container {
    width: 40%;
    height: 90%;
    padding-bottom: 0%;
  }
  .hero_video_container video {
    width: 35rem;
    z-index: -1;
  }
}

@media (max-width: 991px) {
  .top_section {
    height: 43rem;
  }

  .header_logo_wrapper {
    margin-top: 50px;
    margin-left: 0%;
  }

  .praposal_container {
    width: 70%;
    padding-left: 1rem;
  }

  .proposal_description_container {
    padding-right: 5rem;
  }

  .proposal_btn_container {
    gap: 1.5rem;
  }

  .free_consultation {
    width: 11rem;
  }

  .hero_video_container {
    width: 30%;
  }
}

@media (max-width: 860px) {
  .hero_video_container video {
    margin-right: 50px;
  }
}

@media (max-width: 780px) {
  .top_section {
    height: 35rem;
    max-width: 90vw;
  }

  .top_proposal_line {
    font-size: 2.2rem;
  }

  .proposal_description_container {
    margin: 1.5rem 0;
  }

  .proposal_description {
    font-size: 0.8rem;
  }

  .proposal_btn_container {
    gap: 1.2rem;
  }

  .explore_our_experties {
    height: 28px;
    width: 9rem;
    font-size: 0.8rem;
  }

  .free_consultation {
    height: 28px;
    width: 10rem;
  }

  .free_consultation img {
    height: 10px;
    width: 0.8rem;
    margin-top: 2px;
  }

  .hero_video_container video {
    width: 30rem;
  }
}

@media (max-width: 670px) {
  header {
    padding: 20px 0;
  }

  .top_section {
    max-width: 100vw;
    height: 35rem;
  }

  .hero_description_video_wrapper {
    height: 100%;
    margin-top: 10%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .proposal_description {
    font-size: 0.9rem;
  }

  .praposal_container {
    width: 100%;
    height: 50%;
    align-items: center;
    padding-left: 5rem;
  }

  .top_proposal_line {
    font-size: 3.2rem;
  }

  .proposal_description_container {
    width: 31rem;
    padding-left: 3rem;
  }

  .explore_our_experties {
    width: 11rem;
    margin-right: 1rem;
  }

  .free_consultation {
    width: 12rem;
  }

  .free_consultation img {
    height: 11px;
    width: 0.9rem;
  }

  .hero_video_container {
    display: none;
  }
}

@media (max-width: 600px) {
  .top_proposal_line {
    font-size: 3rem;
  }

  .proposal_description_container {
    width: 29rem;
    padding-left: 2.8rem;
  }

  .proposal_description {
    font-size: 0.9rem;
  }
  .proposal_btn_container {
    gap: 1rem;
  }
  .explore_our_experties {
    width: 11rem;
    margin-right: 0rem;
  }
}

@media (max-width: 560px) {
  .top_proposal_line {
    font-size: 2.8rem;
  }

  .praposal_container {
    padding-left: 0rem;
    padding-right: 0rem;
  }

  .proposal_description_container {
    width: 27.5rem;
  }
  .proposal_btn_container {
    gap: 2rem;
  }
  .explore_our_experties {
    height: 28px;
    width: 9rem;
    font-size: 0.8rem;
  }

  .free_consultation {
    height: 28px;
    width: 11rem;
    font-size: 0.8rem;
  }

  .free_consultation img {
    height: 10px;
    width: 0.9rem;
    margin-top: 2px;
    margin-left: 10px;
  }
}

@media (max-width: 440px) {
  .top_proposal_line {
    font-size: 2.5rem;
  }

  .proposal_description_container {
    width: 25rem;
    padding-right: 2rem;
  }
  .proposal_btn_container {
    gap: 1rem;
  }
  .free_consultation img {
    height: 9px;
    width: 0.8rem;
  }
  .explore_our_experties {
    height: 28px;
    width: 9rem;
    font-size: 0.8rem;
  }

  .free_consultation {
    height: 28px;
    width: 10rem;
    font-size: 0.85rem;
  }
}

.middle_section {
  height: 35rem;
  display: flex;
  max-width: 100vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
  padding-left: 5rem;
}

.legal_aid_logo_main_wrapper {
  height: 50%;
}

.legal_aid_container {
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100%;
  width: 90%;
  margin-left: 10%;
}

.legal_aid {
  width: 40%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 2rem;
  font-weight: 400;
}

.legal_aid span {
  font-weight: 500;
}

.navigaition_description {
  width: 60%;
  padding: 0 5rem;
  padding-right: 10rem;
  font-size: 1.1rem;
  height: 100%;
  gap: 20px;
}

#navigaition_description_btn {
  margin-top: 30px;
}

.below_legal_aid_three_descriptions {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 45px;
}

.three_sub_descriptions {
  width: 22rem;
  padding: 3rem;
}

.description_heading {
  font-size: 1.2rem;
  color: #111f3c;
  padding-right: 10px;
  font-weight: 600;
}

.description_body {
  padding-top: 20px;
  font-size: 0.9rem;
  color: #616161;
}

#middle_description {
  border-left: 1px solid #111f3c;
  border-right: 1px solid #111f3c;
}

@media (max-width: 1200px) {
  .middle_section {
    margin-bottom: 5rem;
    padding-left: 8%;
  }

  .legal_aid_logo_main_wrapper {
    height: 40%;
  }

  .legal_aid_container {
    width: 100%;
    margin-left: 0%;
    padding-left: 5%;
  }

  .legal_aid {
    width: 30%;
    font-size: 1.8rem;
  }

  .navigaition_description {
    width: 60%;
    padding-right: 8rem;
    font-size: 1rem;
  }

  #navigaition_description_btn {
    margin-top: 30px;
  }

  .below_legal_aid_three_descriptions {
    width: 100%;
    margin-bottom: 45px;
    align-items: center;
    justify-content: center;
    padding-right: 2rem;
  }

  .three_sub_descriptions {
    width: 18rem;
    padding: 2rem;
  }

  .description_heading {
    font-size: 1.2rem;
    color: #111f3c;
    padding-right: 10px;
    font-weight: 600;
  }

  .description_body {
    padding-top: 20px;
    font-size: 0.9rem;
    color: #616161;
  }
}

@media (max-width: 1150px) {
  .middle_section {
    margin-bottom: 5rem;
    padding-left: 10%;
  }
  .legal_aid_container {
    width: 100%;
    margin-left: 0%;
    padding-left: 5%;
  }

  .legal_aid {
    width: 30%;
    font-size: 1.8rem;
  }

  .navigaition_description {
    width: 70%;
    padding-right: 8rem;
    font-size: 1rem;
  }
  .three_sub_descriptions {
    width: 17rem;
    padding: 2rem;
  }
}

/* For screens smaller than 990px */
@media (max-width: 995px) {
  .middle_section {
    margin-bottom: 5rem;
    padding-left: 5%;
  }
  .legal_aid_container {
    display: flex;
    justify-content: center;
    align-items: start;
    height: 100%;
    width: 90%;
    margin-left: 0%;
    padding-left: 8%;
  }
  .legal_aid {
    width: 30%;
    font-size: 1.8rem;
  }

  .navigaition_description {
    width: 70%;
    padding-left: 6rem;
    padding-right: 0rem;
    font-size: 1rem;
  }
  .below_legal_aid_three_descriptions {
    width: 100%;
  }
  .three_sub_descriptions {
    width: 15rem;
    padding: 1.5rem;
  }
}

@media (max-width: 955px) {
  .legal_aid_container {
    padding-left: 7%;
  }
}
@media (max-width: 925px) {
  .legal_aid_container {
    padding-left: 6%;
  }
}
@media (max-width: 895px) {
  .legal_aid_container {
    padding-left: 5%;
  }
  .navigaition_description {
    width: 70%;
    padding-left: 6rem;
    padding-right: 1rem;
    font-size: 1rem;
  }
}

/* For screens smaller than 780px */
@media (max-width: 850px) {
  .middle_section {
    margin-bottom: 5rem;
    padding-left: 8%;
  }
  .legal_aid {
    width: 30%;
    font-size: 1.8rem;
  }
  .below_legal_aid_three_descriptions {
    width: 100%;
  }
  .three_sub_descriptions {
    width: 14rem;
    padding: 1.5rem;
  }
  .description_heading {
    font-size: 1rem;
    padding-right: 10px;
  }

  .description_body {
    padding-top: 20px;
    font-size: 0.8rem;
  }
}

/* For screens smaller than 600px */
@media (max-width: 780px) {
  .legal_aid {
    width: 50%;
    font-size: 1.6rem;
  }
  .navigaition_description {
    width: 60%;
    padding: 0 1rem;
    font-size: 0.9rem;
  }
  .three_sub_descriptions {
    width: 13rem;
    padding: 1.5rem 1rem;
  }
}
@media (max-width: 730px) {
  .legal_aid {
    width: 50%;
    font-size: 1.6rem;
  }
  .navigaition_description {
    width: 60%;
    padding: 0 1rem;
    font-size: 0.8rem;
  }
  .three_sub_descriptions {
    width: 12rem;
    padding: 1.5rem 1rem;
  }
  .description_heading {
    font-size: 0.9rem;
    padding-right: 10px;
  }

  .description_body {
    padding-top: 20px;
    font-size: 0.7rem;
  }
}
@media (max-width: 670px) {
  .below_legal_aid_three_descriptions {
    margin-top: 20px;
    margin-bottom: 45px;
  }

  .three_sub_descriptions {
    width: 14rem;
    padding: 1.5rem 1rem;
    margin: 10px 0;
  }
  #middle_description {
    border-left: 1px solid #111f3c;
    border-right: none;
  }
}
@media (max-width: 600px) {
  .below_legal_aid_three_descriptions {
    margin-top: 20px;
    margin-bottom: 45px;
  }

  .three_sub_descriptions {
    width: 13rem;
    padding: 1.5rem 1.5rem;
    margin: 10px 0;
  }
}
@media (max-width: 500px) {
  .three_sub_descriptions {
    width: 12rem;
    padding: 1.5rem 1.5rem;
    margin: 10px 0;
  }
  #middle_description {
    border-left: 1px solid #111f3c;
    border-right: none;
  }
}

/* For screens smaller than 480px */
@media (max-width: 480px) {
  .middle_section {
    margin-top: 8rem;
  }

  .legal_aid {
    font-size: 1.5rem;
  }

  .navigaition_description {
    padding: 0.5rem 0.5rem;
    font-size: 0.8rem;
  }

  .three_sub_descriptions {
    width: 12rem;
    padding: 1rem 0rem;
  }

  .description_body,
  .description_heading {
    text-align: center;
  }
  .description_body {
    padding-top: 20px;
    font-size: 0.75rem;
    color: #616161;
  }
}
@media (max-width: 465px) {
  #middle_description {
    border-left: none;
  }
}

/* Container for the last section */
.last_section {
  height: 85rem;
  padding: 0px 8%;
}

.multi_descriptions_wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 5rem;
}

.multi_descriptions_child {
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.171);
  padding: 15px;
  height: 10rem;
  width: 48%;
  text-align: center;
  position: relative;
  margin-bottom: 30px;
  cursor: pointer;
  transition: box-shadow 0.2s ease;
}
.multi_descriptions_child:hover {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.411);
}

.multi_descriptions_child h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #222;
}

.multi_descriptions_image_container {
  position: absolute;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.295);
  top: -20%;
  left: 5%;
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
  padding: 10px;
  overflow: hidden;
  border-radius: 50%;
  background-color: #eceff9;
}

.multi_descriptions_image_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Description text under image */
.multi_descriptions_image_descriptions {
  padding: 0px 1rem;
  font-size: 0.95rem;
  color: #555;
  line-height: 1.5;
}

.multi_descriptions_image_descriptions p {
  margin: 0;
}

@media (max-width: 1200px) {
  .multi_descriptions_child {
    padding: 15px;
    height: 10rem;
    width: 22rem;
  }

  .multi_descriptions_child h3 {
    font-size: 1rem;
  }
  .multi_descriptions_image_descriptions {
    padding: 0px 1rem;
    font-size: 0.8rem;
  }
}
@media (max-width: 990px) {
  .last_section {
    height: 85rem;
    padding: 0px 0%;
  }
  .multi_descriptions_child {
    padding: 15px;
    height: 10rem;
    width: 21rem;
  }
  .multi_descriptions_image_container {
    top: -20%;
    left: 3%;
  }
}
@media (max-width: 770px) {
  .multi_descriptions_child {
    padding: 15px;
    padding-top: 2rem;
    height: 10rem;
    width: 48%;
  }
  .multi_descriptions_image_container {
    top: -20%;
    left: 40%;
  }
  .multi_descriptions_child h3 {
    font-size: 0.9rem;
  }
  .multi_descriptions_image_descriptions {
    padding: 0px 1rem;
    font-size: 0.7rem;
  }
}
@media (max-width: 580px) {
  .last_section {
    height: 85rem;
    padding: 0px 5%;
  }
  .multi_descriptions_child {
    padding: 15px;
    padding-top: 2rem;
    height: 12rem;
    width: 45%;
  }
  .multi_descriptions_image_container {
    top: -20%;
    left: 38%;
  }
}
@media (max-width: 500px) {
  .last_section {
    height: 90rem;
  }
  .multi_descriptions_child {
    padding: 15px;
    padding-top: 2rem;
    height: 13rem;
    width: 45%;
  }
  .multi_descriptions_child h3 {
    font-size: 0.8rem;
  }
  .multi_descriptions_image_descriptions {
    padding: 0px 1rem;
    font-size: 0.7rem;
  }
}
@media (max-width: 470px) {
  .last_section {
    margin-top: 10rem;
  }
  .multi_descriptions_image_container {
    top: -20%;
    left: 36%;
  }
}
@media (max-width: 440px) {
  .last_section {
    height: 100rem;
  }
  .multi_descriptions_child {
    padding: 10px;
    padding-top: 2rem;
    margin-top: 1rem;
    height: 14rem;
    width: 47%;
  }
  .multi_descriptions_image_container {
    top: -20%;
    left: 34%;
  }
}
@media (max-width: 380px) {
  .multi_descriptions_child {
    padding: 5px;
    padding-top: 2rem;
    height: 14rem;
    width: 45%;
  }
}
@media (max-width: 350px) {
  .multi_descriptions_child {
    padding: 0px;
    padding-top: 2rem;
    height: 14rem;
    width: 46%;
  }

  .multi_descriptions_image_container {
    top: -20%;
    left: 32%;
  }
}

/* Footer */
.footer {
  color: #ffffff;
  background-color: #111f3c;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  position: relative;
  padding: 35px 10px 20px 10px;
}

.footer .container {
  max-width: 1120px;
}

.footer_hand_photo {
  position: absolute;
  top: -15%;
  left: 10%;
  width: 20rem;
}

/* Fullscreen overlay for the popup */
.popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup-overlay .close-icon {
  position: absolute;
  top: 30px;
  right: 30px;
}

/* Popup content */
.popup-content {
  background-color: white;
  padding: 25px 20px;
  width: 500px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  color: #111f3c;
  border-radius: 20px;
  position: relative;
  z-index: 10000;
}

#inner_content_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#inner_content_after_submit {
  display: none;
  align-items: center;
  justify-content: center;
  height: 70%;
  width: 100%;
}

#inner_content_after_submit video {
  width: 24rem;
  margin-top: 7rem;
  animation: scaleAnimation 0.5s forwards 3.8s;
}

@keyframes scaleAnimation {
  0% {
    width: 24rem;
  }
  100% {
    width: 14rem;
  }
}

.after_submit_video_container {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.after_submit_video_container span {
  font-size: 1.6rem;
  font-weight: 500;
  margin-top: 0rem;
  opacity: 0;
  margin-bottom: 0.3rem;
  color: #ec7100;
  animation: transitonAnimation 0.5s forwards 3.8s;
}

.after_submit_video_container p {
  font-size: 1.2rem;
  opacity: 0;
  animation: transitonAnimation 0.5s forwards 3.8s;
}

@keyframes transitonAnimation {
  0% {
    opacity: 0;
    transform: translateY(2);
  }
  100% {
    opacity: 1;
    transform: translateY(1);
  }
}

.pop_up_heading {
  width: 100%;
  padding-top: 5px;
  padding-left: 5px;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.pop_up_heading h5 {
  font-size: 1.3rem;
}

/* Input fields styling */
.popup-content input[type="text"],
.popup-content input[type="number"],
.popup-content input[type="email"] {
  display: block;
  width: 100%;
  padding: 5px;
  padding-left: 15px;
  height: 40px;
  margin: 5px 0;
  border-radius: 5px;
  border: 1px solid #51515177;
  font-size: 1rem;
  box-sizing: border-box;
}

.property_types {
  display: flex;
  flex-wrap: wrap;
}
.property_sub_types {
  border-radius: 50px;
  border: 1px solid #8b8c8d;
  color: #8b8c8d;
  padding: 2px 10px;
  font-size: 0.8rem;
  margin: 5px;
  cursor: pointer;
}

.hide_property_type {
  display: none;
}

/* Checkbox and terms container */
.terms-container {
  width: 100%;
  margin-left: 50px;
  display: flex;
  align-items: flex-start;
  text-align: left;
}

.terms-container input[type="checkbox"] {
  margin-right: 10px;
  margin-top: 7px;
}

.terms-container label {
  font-size: 0.9rem;
  color: #333;
  cursor: pointer;
  padding-top: 2px;
}

/* Close button styling */
.close-btn {
  background-color: #d9d9d9;
  color: white;
  border: none;
  padding: 8px;
  height: 45px;
  width: 90%;
  margin-top: 15px;
  cursor: pointer;
  border-radius: 50px;
  font-size: 1rem;
}

/* Scroll behavior inside popup */
/* .popup-content {
  max-height: 90vh;
  overflow-y: auto;
} */

.input-container {
  position: relative;
  margin-bottom: 15px;
  width: 90%;
}

.floating-label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  font-size: 1rem;
  color: #aaa;
  transition: all 0.3s ease;
  pointer-events: none;
}

.floating-label.active {
  top: 5%;
  left: 25px;
  padding: 0 2px;
  background-color: white;
  font-size: 0.8rem;
  color: #aaa;
}

/* When input has a value, label stays floated */
input.has-value + .floating-label {
  top: 5%;
  left: 25px;
  font-size: 0.8rem;
  padding: 0 2px;
  background-color: white;
  color: #aaa;
}

.number_input_container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.number_input_container input[type="number"] {
  border-radius: 0px 5px 5px 0px;
}

.number_input_container .floating-label {
  position: absolute;
  top: 50%;
  left: 6rem;
  transform: translateY(-50%);
  font-size: 1rem;
  color: #aaa;
  transition: all 0.3s ease;
  pointer-events: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.number_input_container .floating-label.active {
  top: 5%;
  left: 7rem;
  padding: 0 2px;
  background-color: white;
  font-size: 0.8rem;
  color: #aaa;
}

.number_input_container input.has-value + .floating-label {
  top: 5%;
  left: 7rem;
  font-size: 0.8rem;
  padding: 0 2px;
  background-color: white;
  color: #aaa;
}

.country-code-container {
  margin-right: 0px; /* Space between country code and mobile input */
}

select {
  width: 80px; /* Set a fixed width for the country code dropdown */
  padding: 5px; /* Padding for aesthetics */
  border: 1px solid #51515177; /* Border style */
  border-radius: 5px 0px 0px 5px; /* Rounded corners */
  font-size: 1rem; /* Font size */
  height: 40px; /* Height to match the mobile input */
}

.arrow {
  position: absolute;
  top: 40%;
  right: 10px;
  transform: translateY(-50%);
  border: solid black;
  border-width: 0 2px 2px 0;
  padding: 3px;
  transform: rotate(45deg);
  transition: transform 0.3s ease;
  cursor: pointer;
}
.arrow.rotate {
  transform: rotate(-135deg);
}

/* Dropdown styling */
.dropdown-options {
  display: none; /* Hidden by default */
  position: absolute;
  width: 100%;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 150px;
  overflow-y: auto;
  z-index: 10;
}

.dropdown-options li {
  padding: 10px;
  width: 100% !important;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.dropdown-options li:last-child {
  border-bottom: none;
}

.dropdown-options li:hover {
  background-color: #f1f1f1;
}

.footer .upper-footer ul {
  padding-left: 0;
  border-top: 0.5px solid #919191;
  padding-right: 50px;
}

.footer h3 {
  font-weight: 400 !important;
  font-size: 2rem;
  margin-top: 10px;
  white-space: nowrap;
  margin-right: 15px;
}

.footer h4 {
  font-weight: 300;
  font-size: 1.5rem;
}

.upper-footer {
  position: relative;
}

.upper-footer .white-btn {
  margin-top: 60px;
  background-color: transparent;
  border: 1px solid #ffffff;
  width: 200px;
  padding: 8px 15px;
  border-radius: 10px;
  color: #ffffff;
}

.upper-footer .white-btn:hover {
  background-color: #ffffff;
  color: #111f3c;
}

.footer li {
  position: relative;
  width: max-content;
}

.upper-footer li::before {
  content: "";
  width: 0;
  height: 2px;
  border-radius: 2px;
  background-color: #ec7100;
  position: absolute;
  bottom: -3px;
  left: 50%;
  transition: width 0.4s, left 0.4s;
}

.upper-footer li:hover {
  cursor: pointer;
  color: #ec7100;
}

.upper-footer li:hover::before {
  width: 100%;
  left: 0;
}

.upper-footer li:hover {
  color: #ec7100;
  cursor: pointer;
}

.lower-footer li:hover {
  cursor: pointer;
  color: #ec7100;
}

.footer .upper-footer li {
  font-weight: 300 !important;
  margin: 13px 0;
  text-align: left;
  white-space: nowrap;
  font-size: 0.9rem;
}

.footer .blue-btn {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 6px 30px 6px 6px;
  border: none;
  color: #111f3c;
  font-weight: 300 !important;
  font-size: 1rem;
  flex-wrap: nowrap;
  display: flex;
  position: relative;
}

.top_btn {
  margin-left: 30rem;
  margin-bottom: 3rem;
  padding: 8px 20px !important;
}

.top_btn:hover {
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse512 1.5s infinite;
}

@keyframes pulse512 {
  0% {
    box-shadow: 0 0 0 0 white;
  }

  70% {
    box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
  }

  100% {
    box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }
}

.footer .refer-btn {
  padding: 6px 25px 6px 6px;
}

.footer .refer-btn lottie-player {
  position: absolute;
  right: 4px;
  bottom: 8px;
}

.footer .blue-btn canvas {
  position: absolute;
  right: -18px;
  bottom: 5px;
  width: 70px;
}

.footer .playStore-btn {
  position: absolute;
  right: 20px;
  bottom: 10px;
}

.googlePlay-button .texts .launch-text,
.appstore-button .texts .launch-text {
  font-size: 1rem;
  white-space: wrap;
  margin-right: 10px;
}

.googlePlay-button .texts .soon-text,
.appstore-button .texts .soon-text {
  font-size: 1rem;
  font-weight: 400 !important;
  text-align: center;
  margin-left: 15px;
}

.googlePlay-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #000;
  border-radius: 9999px;
  background-color: rgba(0, 0, 0, 1);
  padding: 0.625rem 1.5rem;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  outline: 0;
  transition: all 0.2s ease;
  text-decoration: none;
  margin-right: 10px;
}

.googlePlay-button:hover {
  background-color: #ffffff;
  color: #000000;
}

.googlePlay-button .icon {
  height: 1.5rem;
  width: 1.5rem;
}

.googlePlay-button .texts {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1;
}

.googlePlay-button .text-1 {
  margin-bottom: 0.25rem;
  font-size: 0.75rem;
  line-height: 1rem;
}

.googlePlay-button .text-2 {
  font-weight: 600;
}

.appstore-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #000;
  border-radius: 9999px;
  background-color: rgba(0, 0, 0, 1);
  padding: 0.625rem 1.5rem;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  outline: 0;
  transition: all 0.2s ease;
  text-decoration: none;
}

.appstore-button:hover {
  background-color: #ffffff;
  color: #000000;
}

.appstore-button .icon {
  height: 1.5rem;
  width: 1.5rem;
}

.appstore-button .texts {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1;
}

.appstore-button .text-1 {
  margin-bottom: 0.25rem;
  font-size: 0.75rem;
  line-height: 1rem;
}

.appstore-button .text-2 {
  font-weight: 600;
}

.lower-footer .lower-upper {
  padding: 8px 0;
  margin-top: 40px;
  margin-bottom: 10px;
  border-bottom: 0.5px solid #919191;
  text-align: center;
}

.lower-upper li {
  padding: 0 10px;
  font-size: 0.9rem;
}

.lower-bottom .socials-container {
  display: flex;
}

.lower-bottom .socials-container button {
  margin: 0 8px;
}

.social-btn {
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.4s;
  cursor: pointer;
  position: relative;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  overflow: hidden;
}

.insta-btn {
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
}

.linkedin-btn {
  background: #007ab9;
}

.youtube-btn {
  background: #ff0000;
}

.fb-btn {
  background: #1877f2;
}

.svgIcon,
.social-btn img {
  transition-duration: 0.3s;
}

.svgIcon path {
  fill: white;
}

.social-btn .text {
  position: absolute;
  color: rgb(255, 255, 255);
  width: 120px;
  opacity: 0;
  transition-duration: 0.4s;
}

.social-btn:hover {
  width: 110px;
  transition-duration: 0.4s;
  border-radius: 30px;
}

.social-btn:hover .text {
  opacity: 1;
  transition-duration: 0.4s;
}

.social-btn:hover .svgIcon,
.social-btn:hover img {
  opacity: 0;
  transition-duration: 0.3s;
}

.lower-footer p {
  font-size: 0.9rem;
}

@media screen and (max-width: 1200px) {
  .footer .columns div:first-child img {
    margin-top: 30px;
  }
  .footer .upper-footer .columns {
    flex-wrap: wrap;
  }
  .footer .upper-footer .columns h4 {
    margin-top: 30px;
  }
  .footer_hand_photo {
    position: absolute;
    top: -10%;
    left: 10%;
    width: 20rem;
  }
}

@media screen and (max-width: 1000px) {
  .properties-categories .single-property-category {
    margin: 0 10px;
    padding: 10px;
  }
}

@media screen and (max-width: 990px) {
  .footer .upper-footer ul {
    padding-right: 10px;
  }
  .footer .upper-footer .px-5 {
    padding-right: 10px !important;
    padding-left: 10px !important;
  }
  .footer .upper-footer p br {
    display: none;
  }
  .footer .upper-footer p {
    margin-right: 10px !important;
  }
  .footer_hand_photo {
    position: absolute;
    top: -8%;
    left: 10%;
    width: 19rem;
  }
}

@media screen and (max-width: 800px) {
  /* Header */
  .header-logo {
    position: relative;
    z-index: 10;
  }
}

@media screen and (max-width: 767px) {
  /* Footer */
  .footer .lower-bottom {
    flex-direction: column;
  }
  .footer .lower-bottom p {
    margin-bottom: 8px !important;
  }
  .top_btn {
    margin-left: 60%;
  }
}

@media screen and (max-width: 770px) {
  .footer .upper-footer .d-flex:first-child {
    flex-wrap: wrap;
  }
  .footer .upper-footer h4 {
    margin-top: 20px;
  }
  .footer .lower-footer .lower-upper {
    flex-direction: column;
  }
  .footer .lower-footer .lower-upper ul {
    margin: 15px 0 !important;
    flex-direction: column;
  }
  .footer .lower-footer .lower-upper ul li {
    margin-bottom: 5px;
  }
  .footer_hand_photo {
    top: -7%;
    width: 18rem;
  }
}

@media screen and (max-width: 767px) {
  .footer .lower-bottom {
    flex-direction: column;
  }
  .footer .lower-bottom p {
    margin-bottom: 20px !important;
  }
}

@media screen and (max-width: 585px) {
  .footer_hand_photo {
    top: -5%;
    left: 8%;
    width: 17rem;
  }
}

@media screen and (max-width: 560px) {
  .footer {
    padding-top: 20px;
  }
  .footer .playStore-btn {
    position: static;
  }
  .footer .columns > div:first-child,
  .playStore-btn.larger-screen {
    display: none !important;
  }
  .footer .upper-footer .columns {
    flex-direction: column;
  }
  .footer .upper-footer .columns > div {
    overflow: hidden;
    width: 100%;
  }
  .footer .upper-footer .columns > div ul {
    max-height: 0px;
    transition: max-height 0.5s ease;
    margin: 0;
  }
  .footer .upper-footer .columns > div ul.active {
    max-height: 260px;
  }
  .footer .upper-footer .columns > div:last-child li:last-child {
    width: 100%;
  }
  .footer .upper-footer .columns > div:last-child li:nth-child(4) {
    position: absolute;
    top: -8%;
    left: 65%;
  }
  .footer .upper-footer ul {
    border: none;
  }
  .footer .upper-footer .columns h4 {
    margin-top: 15px;
  }
  .footer .columns > div:nth-child(4) h4 {
    margin-top: 8px;
  }
  .footer .upper-footer .columns h4 svg.rotated {
    transform: rotate(180deg);
  }
  .footer .upper-footer .columns > div:nth-child(2) ul > div {
    position: absolute;
    right: 0px;
    left: 0px;
  }
  .upper-footer .columns div:nth-child(3) .d-flex {
    flex-direction: column;
  }
  .upper-footer .columns div:nth-child(3) .d-flex ul:last-child {
    padding-left: 0 !important;
  }
  .upper-footer .columns {
    margin-bottom: 0 !important;
  }
  .lower-footer .lower-upper {
    padding-top: 0 !important;
  }
  .footer .upper-footer .columns > div:last-child li:last-child:before,
  .footer .upper-footer .columns > div:last-child li:nth-child(4):before {
    display: none;
  }
  .googlePlay-button,
  .appstore-button {
    margin-left: 20px;
    margin-right: 20px;
  }
  .lower-footer .lower-bottom {
    border-top: 1px solid #919191;
    padding-top: 8px;
  }
  .footer_hand_photo {
    top: -10%;
    left: 6%;
    width: 14rem;
  }
  .top_btn {
    margin-left: 55%;
  }
}

@media screen and (min-width: 560px) {
  .upper-footer .mobile-view-list,
  .playStore-btn.smaller-screen,
  .smaller-screen-refer-button {
    display: none !important;
  }
}

@media screen and (max-width: 460px) {
  .footer .upper-footer .columns > div:last-child li:nth-child(4) {
    left: 64%;
  }
  .footer_hand_photo {
    top: -10%;
    left: 2%;
    width: 13rem;
  }
  .top_btn {
    margin-left: 50%;
  }
}

@media screen and (max-width: 450px) {
  .footer .upper-footer .columns > div:last-child li:nth-child(4) {
    left: 60%;
  }
  .googlePlay-button,
  .appstore-button {
    margin-left: 2px;
    margin-right: 2px;
  }
  .footer_hand_photo {
    top: -10%;
    left: 2%;
    width: 12rem;
  }
  .top_btn {
    margin-left: 50%;
    width: 10rem;
    padding-right: 5px !important;
    font-size: 0.8rem !important;
  }
}

@media screen and (max-width: 420px) {
  .footer .upper-footer .columns > div:last-child li:nth-child(4) {
    left: 55%;
  }
  .footer_hand_photo {
    top: -10%;
    left: 5%;
    width: 12rem;
  }
  .top_btn {
    margin-left: 55%;
  }
}

@media screen and (max-width: 405px) {
  .footer .googlePlay-button .texts,
  .footer .appstore-button .texts {
    font-size: 0.7rem;
  }

  .footer .googlePlay-button,
  .footer .appstore-button {
    padding: 0.625rem 1rem;
  }
}

@media screen and (max-width: 390px) {
  .playStore-btn {
    flex-direction: column;
  }
  .playStore-btn .appstore-button {
    margin-top: 10px;
  }
  .footer_hand_photo {
    top: -8%;
    left: 2%;
    width: 10rem;
  }
  .top_btn {
    margin-left: 45%;
    width: 10rem;
    padding-right: 5px !important;
    font-size: 0.8rem !important;
  }
}
