<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Realezi | Login</title>
  <!-- CSS -->
  <link rel="stylesheet" href="{% static "login-signup/css/login-signup.css" %}">
  <!-- JS -->
  <script src="{% static "login-signup/js/login.js" %}" defer></script>
  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  <!-- Google Fonts - -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&display=swap"
    rel="stylesheet">
</head>

<body id="ls-body">

  <main id="ls-main">
    <section id="ls-section-form" class="lls-section-form">
      <form action="{% url 'login' %}" method="post">
        {% if error_message %}
          <div class="alert alert-danger">
            {{ error_message }}
          </div>
        {% endif %}
        {% csrf_token %}
        <input type="hidden" id="latitude" name="latitude">
        <input type="hidden" id="longitude" name="longitude">
        <div class="form-group">
          <label for="ls-name">Login</label>
          <div class="ls-otp-msg align-items-center gap-2">
            <span>OTP has been sent to 8976330201 </span>
            <a href="/login.html" class="link ls-orange-txt">Edit</a>
          </div>
          <div class="lls-number-div">
            <select class="form-select" id="ls-countrycode">
              <option value="+91">+91</option>
              <option value="+1">+1</option>
              <option value="+44">+44</option>
              <option value="+61">+61</option>
              <option value="+971">+971</option>

            </select>

            <input type="tel" pattern="[0-9]{10}" autocomplete="off" class="form-control" id="lls-mobile" name="mobile_no"
              placeholder="Enter Mobile Number">
          </div>
          <input type="number" class="form-control" id="lls-otp" name="otp" placeholder="Enter OTP">
          <div style="width: 100%; font-size: 0.8rem; justify-content:  end;" id="resend-div">
            <a href="#" class="text-white text-decoration-none">Resend</a>
          </div>
        </div>
        <button type="button" disabled id="continue-btn">Continue</button>
        <button type="submit" disabled id="continue-btn2">Continue</button>
        <!-- <div class="footer">
          <a href="#" class="link small-text ls-orange-txt">How it works?</a>
          <a href="#ls-faq" class="link small-text">FAQs</a>
        </div> -->
      </form>
    </section>
    <section id="ls-section-firstvideo">
      <section id="ls-video">
        <video autoplay muted playsinline id="ls-video-bg" preload="auto">
          <source src="{% static "login-signup/videos/rocket1.mp4" %}" type="video/mp4">
        </video>
        <video autoplay muted playsinline id="ls-video-bg2" loop hidden preload="auto">
          <source src="{% static "login-signup/videos/rocket2.mp4" %}" type="video/mp4">
        </video>
      </section>

    </section>

    <section id="ls-section-bottom" class="container" style="padding-bottom: 20%;">
      <section id="ls-section-metrics" class=" gap-5 d-flex flex-column">


        <div id="ls-faq" style="margin-top: 10%;">
          <h1>FAQs</h1>
          <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item my-3 ">
              <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                  data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                  aria-controls="panelsStayOpen-collapseOne">
                  How do I create an account?
                </button>
              </h2>
              <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body">
                  To create an account, sign up on the platform, go to your profile, complete all the required details,
                  and verify your information.
                </div>
              </div>
            </div>
            <div class="accordion-item my-3 ">
              <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                  aria-controls="panelsStayOpen-collapseTwo">
                  Is there any brokerage?
                </button>
              </h2>
              <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                aria-labelledby="panelsStayOpen-headingTwo">
                <div class="accordion-body">
                  No, there is no brokerage.
                </div>
              </div>
            </div>
            <div class="accordion-item my-3 ">
              <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                  aria-controls="panelsStayOpen-collapseThree">
                  Is my personal information secure?
                </button>
              </h2>
              <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                aria-labelledby="panelsStayOpen-headingThree">
                <div class="accordion-body">
                  Yes, your personal information is secure with Realezi.
                </div>
              </div>
            </div>
            <div class="accordion-item my-3 ">
              <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false"
                  aria-controls="panelsStayOpen-collapseFour">
                  How can I get assistance during the process?
                </button>
              </h2>
              <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse"
                aria-labelledby="panelsStayOpen-headingFour">
                <div class="accordion-body">
                  Go to your dashboard, click on “Connect with DRM,” and request a call back. Your Dedicated
                  Relationship Manager (DRM) will assist you.
                </div>
              </div>
            </div>
            <div class="accordion-item my-3">
              <h2 class="accordion-header" id="panelsStayOpen-headingFive">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false"
                  aria-controls="panelsStayOpen-collapseFive">
                  What do we mean by individuals?
                </button>
              </h2>
              <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse"
                aria-labelledby="panelsStayOpen-headingFive">
                <div class="accordion-body">
                  People who want to buy or sell properties or avail services at individual capacity.
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    </section>
  </main>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <script>
    // Function to get the location and store it in hidden fields
    function getLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
          document.getElementById('latitude').value = position.coords.latitude;
          document.getElementById('longitude').value = position.coords.longitude;
        }, function(error) {
          console.error("Error fetching location:", error);
        });
      } else {
        alert("Geolocation is not supported by this browser.");
      }
    }
  
    // Trigger location fetching when the page loads
    document.addEventListener("DOMContentLoaded", function() {
      getLocation();
    });
</script>

</body>

</html>