{% extends "builderpanel/base.html" %}
{% load static %}
{% block content %}

    <style>
        .component-title {
        width: 100%;
        position: absolute;
        z-index: 999;
        top: 30px;
        left: 0;
        padding: 0;
        margin: 0;
        font-size: 1rem;
        font-weight: 700;
        color: #888;
        text-align: center;
        }

        .tab-container {
        position: relative;

        display: flex;
        flex-direction: row;
        align-items: flex-start;

        padding: 2px;

        background-color: #dadadb;
        border-radius: 9px;
        }

        .indicator {
        content: "";
        width: 130px;
        height: 28px;
        background: #ffffff;
        position: absolute;
        top: 2px;
        left: 2px;
        z-index: 9;
        border: 0.5px solid rgba(0, 0, 0, 0.04);
        box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12), 0px 3px 1px rgba(0, 0, 0, 0.04);
        border-radius: 7px;
        transition: all 0.2s ease-out;
        }

        .tab {
        width: 130px;
        height: 28px;
        position: absolute;
        z-index: 99;
        outline: none;
        opacity: 0;
        }

        .tab_label {
        width: 130px;
        height: 28px;

        position: relative;
        z-index: 999;

        display: flex;
        align-items: center;
        justify-content: center;

        border: 0;

        font-size: 0.75rem;
        opacity: 0.6;

        cursor: pointer;
        }

        .tab--1:checked ~ .indicator {
        left: 2px;
        }

        .tab--2:checked ~ .indicator {
        left: calc(130px + 2px);
        }

        .tab--3:checked ~ .indicator {
        left: calc(130px * 2 + 2px);
        }

    </style>
    
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                <h4 class="mb-sm-0">Welcome Back, <span style="font-size:20px"><b>{{ user_details.personal_name|default_if_none:'' }}</b></span></h4>

                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                    </ol>
                </div>

            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-xl-4 col-sm-6">
            <div class="card card-height-100 card-animate" style="border-radius:17px">
                <div class="card-body">
                    <div class="dropdown float-end">
                        <a class="text-reset dropdown-btn" href="#" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <span class="text-muted fs-lg"><i
                                    class="mdi mdi-dots-vertical align-middle"></i></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a class="dropdown-item" href="#">Today</a>
                            <a class="dropdown-item" href="#">Last Week</a>
                            <a class="dropdown-item" href="#">Last Month</a>
                            <a class="dropdown-item" href="#">Current Year</a>
                        </div>
                    </div>
                    <p class="fs-lg text-muted mb-0">Upcoming Payments</p>

                    <div class="row mt-4 align-items-end">
                        <div class="col-lg-6">
                            <h3 class="mb-4"><span class="counter-value" data-target="{{next_payment_amount}}">0</span></h3>
                            <p class="text-success mb-0"><i class="bi bi-arrow-up me-1"></i> 06.41% Last
                                Month</p>
                        </div>
                        <div class="col-lg-6">
                            <div id="session_chart" data-colors='["--tb-primary", "--tb-secondary"]'
                                class="apex-charts m-n3 mt-n4" dir="ltr"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--end col-->
        <div class="col-xl-4 col-sm-6">
            <div class="card card-height-100 card-animate" style="border-radius:17px">
                <div class="card-body">
                    <div class="dropdown float-end">
                        <a class="text-reset dropdown-btn" href="#" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <span class="text-muted fs-lg"><i
                                    class="mdi mdi-dots-vertical align-middle"></i></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a class="dropdown-item" href="#">Today</a>
                            <a class="dropdown-item" href="#">Last Week</a>
                            <a class="dropdown-item" href="#">Last Month</a>
                            <a class="dropdown-item" href="#">Current Year</a>
                        </div>
                    </div>
                    <p class="fs-lg text-muted mb-0">Realezi commissions</p>

                    <div class="row mt-4 align-items-end">
                        <div class="col-lg-6">
                            <h3 class="mb-4"><span class="counter-value" data-target="{{ total_commissions }}">0</span>
                            </h3>
                            <p class="text-danger mb-0"><i class="bi bi-arrow-down me-1"></i> 07.26%
                                Last Week</p>
                        </div>
                        <div class="col-lg-6">
                            <div id="impressions_chart" data-colors='["--tb-secondary"]'
                                class="apex-charts m-n3 mt-n4" dir="ltr"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--end col-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/fontawesome.min.css" integrity="sha512-B46MVOJpI6RBsdcU307elYeStF2JKT87SsHZfRSkjVi4/iZ3912zXi45X5/CBr/GbCyLx6M1GQtTKYRd52Jxgw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <div class="col-xl-4 col-sm-6">
            <div class="card card-height-100 card-animate link-card" style="border-radius:17px;height: 200px;">
                <div class="card-body">

                    <div class="card">
                        <div class="card-header d-flex align-items-center">
                            <h4 class="card-title mb-0 flex-grow-1">Recent Activity</h4>
                            <div class="flex-shrink-0">
                                <a href="pages-timeline.html" class="text-muted">View All <i class="bi bi-chevron-right align-baseline"></i></a>
                            </div>
                        </div>
                        <div class="card-body px-0" style="width: 100%; height: 130px; overflow-y: scroll;">
                            <div class="px-3" data-simplebar style="height: 255px">
                                <div class="acitivity-timeline acitivity-main">
                                    {% for visit in site_visits_queryset %}
                                    <div class="acitivity-item py-3 d-flex">
                                        <div class="flex-shrink-0">
                                            <img src="{% static "builderpanel/assets/images/users/32/avatar-1.jpg" %}" alt="" class="avatar-xs rounded-circle acitivity-avatar">
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            <h6 class="mb-1 lh-base">{{ visit.builder_comments }}</h6>
                                            <p class="text-muted mb-2">Inquired on {{ visit.visit_date }}</p>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--end col-->
    </div><!--end row-->

    <div class="row">
        <div class="col-lg-8">
            <div class="card card-height-100">
                <div class="card-header align-items-center d-flex">
                    <h6 class="card-title mb-0 flex-grow-1">Business Insights</h6>
                    <div class="tab-container">
                        <input type="radio" name="tab" id="yesterday" class="tab tab--1" onclick="updateChart('yesterday')" />
                        <label class="tab_label" for="yesterday">YESTERDAY</label>

                        <input type="radio" name="tab" id="last7days" class="tab tab--2" onclick="updateChart('')" />
                        <label class="tab_label" for="last7days">LAST 7 DAYS</label>
                        
                        <input type="radio" name="tab" id="last30days" class="tab tab--3"  onclick="updateChart('')"/>
                        <label class="tab_label" for="last30days">LAST 30 DAYS</label>

                        <div class="indicator"></div>
                    </div>
                </div>            
                <div class="card-body">
                    <div id="line_chart_basic" data-colors='["--tb-primary"]' class="apex-charts" dir="ltr"></div>
                </div><!-- end card-body -->
                <div class="col-lg-6 col-md-6" style="margin:10px; margin-top:-10px;">                                        
                    <a href="{% url "businessdetail" %}"><button class="btn btn-subtle-primary" style="background-color: #273e6b;color:white !important;">View More Details</button></a>
                </div> 
            </div>
        </div>
        <div class="col-xl-4">
            <div class="card card-height-100 border-0 overflow-hidden" style="border-radius:17px">
                <div class="card-body p-0">
                    <div class="row g-0">
                        <div class="col-md-6">
                            <!-- card -->
                            <div class="card shadow-none border-end-md border-bottom rounded-0 mb-0">
                                <div class="card-body">
                                    <div class="dropdown float-end">
                                        <a class="text-reset dropdown-btn" href="#"
                                            data-bs-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                            <span class="text-muted fs-lg"><i
                                                    class="mdi mdi-dots-vertical align-middle"></i></span>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <a class="dropdown-item" href="#">Today</a>
                                            <a class="dropdown-item" href="#">Last Week</a>
                                            <a class="dropdown-item" href="#">Last Month</a>
                                            <a class="dropdown-item" href="#">Current Year</a>
                                        </div>
                                    </div>
                                    <div id="time_On_Sale" data-colors='["--tb-primary"]' dir="ltr">
                                    </div>
                                    <div class="mt-2">
                                        <p
                                            class="text-uppercase fw-medium text-muted text-truncate fs-lg">
                                            Views</p>
                                        <h4 class="fw-semibold mb-3"><span class="counter-value"
                                                data-target="0">0</span></h4>
                                        <div class="d-flex align-items-center gap-2">
                                            <h5 class="text-success flex-shrink-0 fs-xs mb-0">
                                                <i
                                                    class="ri-arrow-right-up-line fs-sm align-middle"></i>
                                                +21.36 %
                                            </h5>
                                            <div class="flex-grow-1 overflow-hidden">
                                                <p class="text-muted text-truncate mb-0">Analytics for
                                                    last week</p>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- end card body -->
                            </div><!-- end card -->
                        </div><!-- end col -->
                        <div class="col-md-6">
                            <!-- card -->
                            <div class="card shadow-none border-bottom rounded-0 mb-0">
                                <div class="card-body">
                                    <div class="dropdown float-end">
                                        <a class="text-reset dropdown-btn" href="#"
                                            data-bs-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                            <span class="text-muted fs-lg"><i
                                                    class="mdi mdi-dots-vertical align-middle"></i></span>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <a class="dropdown-item" href="#">Today</a>
                                            <a class="dropdown-item" href="#">Last Week</a>
                                            <a class="dropdown-item" href="#">Last Month</a>
                                            <a class="dropdown-item" href="#">Current Year</a>
                                        </div>
                                    </div>
                                    <div id="goal_Completions" data-colors='["--tb-dark"]' dir="ltr">
                                    </div>
                                    <div class="mt-2">
                                        <p
                                            class="text-uppercase fw-medium text-muted text-truncate fs-lg">
                                            Visit Scheduled</p>
                                        <h4 class="fw-semibold mb-3"><span class="counter-value"
                                                data-target="{{ visit_scheduled }}">0</span></h4>
                                        <div class="d-flex align-items-center gap-2">
                                            <h5 class="text-success flex-shrink-0 fs-xs mb-0">
                                                <i
                                                    class="ri-arrow-right-up-line fs-sm align-middle"></i>
                                                +6.30 %
                                            </h5>
                                            <div class="flex-grow-1 overflow-hidden">
                                                <p class="text-muted text-truncate mb-0">Analytics for
                                                    last week</p>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- end card body -->
                            </div><!-- end card -->
                        </div><!-- end col -->
                        <div class="col-md-6">
                            <!-- card -->
                            <div class="card shadow-none border-end-md rounded-0 mb-0">
                                <div class="card-body">
                                    <div class="dropdown float-end">
                                        <a class="text-reset dropdown-btn" href="#"
                                            data-bs-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                            <span class="text-muted fs-lg"><i
                                                    class="mdi mdi-dots-vertical align-middle"></i></span>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <a class="dropdown-item" href="#">Today</a>
                                            <a class="dropdown-item" href="#">Last Week</a>
                                            <a class="dropdown-item" href="#">Last Month</a>
                                            <a class="dropdown-item" href="#">Current Year</a>
                                        </div>
                                    </div>
                                    <div id="bounce_rate" data-colors='["--tb-danger"]' dir="ltr"></div>
                                    <div class="mt-2">
                                        <p
                                            class="text-uppercase fw-medium text-muted text-truncate fs-lg">
                                            Total Active Listings</p>
                                        <h4 class="fw-semibold mb-3"><span class="counter-value"
                                                data-target="{{ active_properties }}">0</span></h4>
                                        <div class="d-flex align-items-center gap-2">
                                            <h5 class="text-danger flex-shrink-0 fs-xs mb-0">
                                                <i
                                                    class="ri-arrow-right-down-line fs-sm align-middle"></i>
                                                +2.01 %
                                            </h5>
                                            <div class="flex-grow-1 overflow-hidden">
                                                <p class="text-muted text-truncate mb-0">Analytics for
                                                    last week</p>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- end card body -->
                            </div><!-- end card -->
                        </div><!-- end col -->
                        <div class="col-md-6">
                            <!-- card -->
                            <div class="card shadow-none border-top border-top-md-0 rounded-0 mb-0">
                                <div class="card-body">
                                    <div class="dropdown float-end">
                                        <a class="text-reset dropdown-btn" href="#"
                                            data-bs-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                            <span class="text-muted fs-lg"><i
                                                    class="mdi mdi-dots-vertical align-middle"></i></span>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <a class="dropdown-item" href="#">Today</a>
                                            <a class="dropdown-item" href="#">Last Week</a>
                                            <a class="dropdown-item" href="#">Last Month</a>
                                            <a class="dropdown-item" href="#">Current Year</a>
                                        </div>
                                    </div>
                                    <div id="new_Sessions" data-colors='["--tb-info"]' dir="ltr"></div>
                                    <div class="mt-2">
                                        
                                            <p class="text-uppercase fw-medium text-muted text-truncate fs-lg">
                                            No of Inquires</p>
                                        <h4 class="fw-semibold mb-3"><span class="counter-value"
                                                data-target="0">0</span> </h4>
                                        <div class="d-flex align-items-center gap-2">
                                            <h5 class="text-success flex-shrink-0 fs-xs mb-0">
                                                <i
                                                    class="ri-arrow-right-up-line fs-sm align-middle"></i>
                                                +10.42 %
                                            </h5>
                                            <div class="flex-grow-1 overflow-hidden">
                                                <p class="text-muted text-truncate mb-0">than last week
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- end card body -->
                            </div><!-- end card -->
                        </div><!-- end col -->
                    </div> <!-- end row-->
                </div>
            </div>
        </div><!--end col-->
    </div><!--end row-->

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Get the target value from the data attribute
            const targetValue = parseFloat(document.querySelector('.counter-value').getAttribute('data-target'));
            
            // Format the amount
            const formattedValue = formatAmount(targetValue);
            
            // Update the counter-value element
            document.querySelector('.counter-value').textContent = formattedValue;
        });
    
        function formatAmount(amount) {
            if (amount < 1000) return amount; // Return as is for amounts less than 1000
            const units = ["", "k", "lakh", "cr"];
            const thresholds = [1000, 100000, 10000000]; // Define thresholds for k, lakh, cr
    
            let i = -1;
            while (amount >= 1000 && i < thresholds.length - 1) {
                amount /= 1000;
                i++;
            }
    
            return amount.toFixed(2) + ' ' + units[i]; // Format to 2 decimal places and add the unit
        }
    </script>
    

{% endblock content %}