{% extends "builderpanel/base.html" %}
{% load static %}
{% block content %}

    <style>
        /* From Uiverse.io by zanina-yassine */ 
        /* Remove this container when use*/
        .component-title {
        width: 100%;
        position: absolute;
        z-index: 999;
        top: 30px;
        left: 0;
        padding: 0;
        margin: 0;
        font-size: 1rem;
        font-weight: 700;
        color: #888;
        text-align: center;
        }

        .tab-container {
        position: relative;

        display: flex;
        flex-direction: row;
        align-items: flex-start;

        padding: 2px;

        background-color: #dadadb;
        border-radius: 9px;
        }

        .indicator {
        content: "";
        width: 130px;
        height: 28px;
        background: #ffffff;
        position: absolute;
        top: 2px;
        left: 2px;
        z-index: 9;
        border: 0.5px solid rgba(0, 0, 0, 0.04);
        box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12), 0px 3px 1px rgba(0, 0, 0, 0.04);
        border-radius: 7px;
        transition: all 0.2s ease-out;
        }

        .tab {
        width: 130px;
        height: 28px;
        position: absolute;
        z-index: 99;
        outline: none;
        opacity: 0;
        }

        .tab_label {
        width: 130px;
        height: 28px;

        position: relative;
        z-index: 999;

        display: flex;
        align-items: center;
        justify-content: center;

        border: 0;

        font-size: 0.75rem;
        opacity: 0.6;

        cursor: pointer;
        }

        .tab--1:checked ~ .indicator {
        left: 2px;
        }

        .tab--2:checked ~ .indicator {
        left: calc(130px + 2px);
        }

        .tab--3:checked ~ .indicator {
        left: calc(130px * 2 + 2px);
        }

    </style>

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                <h4 class="mb-sm-0">Business Details</h4>

                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Home</a></li>
                        <li class="breadcrumb-item active">Business Details</li>
                    </ol>
                </div>

            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="col-xl-12">
                        <div class="card card-height-100">
                            <div class="card-header align-items-center d-flex">
                                <h6 class="card-title mb-0 flex-grow-1">Business Overview</h6>
                                <div class="tab-container">
                                    <input type="radio" name="tab" id="yesterday" class="tab tab--1" onclick="updateChart('yesterday')" />
                                    <label class="tab_label" for="yesterday">YESTERDAY</label>
            
                                    <input type="radio" name="tab" id="last7days" class="tab tab--2" onclick="updateChart('last7days')" />
                                    <label class="tab_label" for="last7days">LAST 7 DAYS</label>
                                    
                                    <input type="radio" name="tab" id="last30days" class="tab tab--3"  onclick="updateChart('last30days')"/>
                                    <label class="tab_label" for="last30days">LAST 30 DAYS</label>
            
                                    <div class="indicator"></div>
                                </div>
                            </div>            
                            <div class="card-body">
                                <div id="line_chart_basic" data-colors='["--tb-primary"]' class="apex-charts" dir="ltr"></div>
                            </div><!-- end card-body -->
                        </div>
                    </div><!--end col-->
                </div>
                <div class="col-xxl-12">
                    <div class="card-body">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs nav-justified mb-3" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link  active" data-bs-toggle="tab" href="#property-views" role="tab" aria-selected="false">
                                    Total Property Views
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#property-clicks" role="tab" aria-selected="false">
                                    Total Property Clicks
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#visit-booked" role="tab" aria-selected="false">
                                    Total Visit Booked
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#conversion-rate" role="tab" aria-selected="true">
                                    Conversion Rate
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#sales" role="tab" aria-selected="false">
                                    Total Sales
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#cancel-percentage" role="tab" aria-selected="true">
                                    Cancel Percentage
                                </a>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content  text-muted">
                            <div class="tab-pane active" id="property-views" role="tabpanel">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table align-middle table-nowrap mb-0">
                                            <thead>
                                                <tr>
                                                    <th scope="col">SR No.</th>
                                                    <th scope="col">Property ID</th>
                                                    <th scope="col">Name</th>
                                                    <th scope="col">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row"><a href="#" class="fw-medium">01</a></th>
                                                    <td>1001</td>
                                                    <td>XYZ</td>
                                                    <td><a href="javascript:void(0);" class="link-success">View More <i class="ri-arrow-right-line align-middle"></i></a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div><!-- end card-body -->
                            </div>
                            <div class="tab-pane" id="property-clicks" role="tabpanel">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table align-middle table-nowrap mb-0">
                                            <thead>
                                                <tr>
                                                    <th scope="col">SR No.</th>
                                                    <th scope="col">Property ID</th>
                                                    <th scope="col">Name</th>
                                                    <th scope="col">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row"><a href="#" class="fw-medium">01</a></th>
                                                    <td>1001</td>
                                                    <td>XYZ</td>
                                                    <td><a href="javascript:void(0);" class="link-success">View More <i class="ri-arrow-right-line align-middle"></i></a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div><!-- end card-body -->
                            </div>
                            <div class="tab-pane" id="visit-booked" role="tabpanel">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table align-middle table-nowrap mb-0">
                                            <thead>
                                                <tr>
                                                    <th scope="col">SR No.</th>
                                                    <th scope="col">Property ID</th>
                                                    <th scope="col">Name</th>
                                                    <th scope="col">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row"><a href="#" class="fw-medium">01</a></th>
                                                    <td>1001</td>
                                                    <td>XYZ</td>
                                                    <td><a href="javascript:void(0);" class="link-success">View More <i class="ri-arrow-right-line align-middle"></i></a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div><!-- end card-body -->
                            </div>
                            <div class="tab-pane" id="conversion-rate" role="tabpanel">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table align-middle table-nowrap mb-0">
                                            <thead>
                                                <tr>
                                                    <th scope="col">SR No.</th>
                                                    <th scope="col">Property ID</th>
                                                    <th scope="col">Name</th>
                                                    <th scope="col">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row"><a href="#" class="fw-medium">01</a></th>
                                                    <td>1001</td>
                                                    <td>XYZ</td>
                                                    <td><a href="javascript:void(0);" class="link-success">View More <i class="ri-arrow-right-line align-middle"></i></a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div><!-- end card-body -->
                            </div>
                            <div class="tab-pane" id="sales" role="tabpanel">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table align-middle table-nowrap mb-0">
                                            <thead>
                                                <tr>
                                                    <th scope="col">SR No.</th>
                                                    <th scope="col">Property ID</th>
                                                    <th scope="col">Name</th>
                                                    <th scope="col">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row"><a href="#" class="fw-medium">01</a></th>
                                                    <td>1001</td>
                                                    <td>XYZ</td>
                                                    <td><a href="javascript:void(0);" class="link-success">View More <i class="ri-arrow-right-line align-middle"></i></a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div><!-- end card-body -->
                            </div>
                            <div class="tab-pane" id="cancel-percentage" role="tabpanel">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table align-middle table-nowrap mb-0">
                                            <thead>
                                                <tr>
                                                    <th scope="col">SR No.</th>
                                                    <th scope="col">Property ID</th>
                                                    <th scope="col">Name</th>
                                                    <th scope="col">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row"><a href="#" class="fw-medium">01</a></th>
                                                    <td>1001</td>
                                                    <td>XYZ</td>
                                                    <td><a href="javascript:void(0);" class="link-success">View More <i class="ri-arrow-right-line align-middle"></i></a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div><!-- end card-body -->
                            </div>
                        </div>
                    </div><!-- end card-body -->
                </div>
                <!--end col-->
            </div>
        </div>
    </div><!--end row-->

    <div class="mb-3">
        <a href="{% url "bdashboard" %}"><button type="button" class="btn btn-label previestab" data-previous="steparrow-gen-info-tab" style="background-color: #273e6b;color:white !important;"><i class="ri-arrow-left-line label-icon align-middle fs-lg me-2"></i> Back to Dashboard</button></a>
    </div>

{% endblock content %}
