{% extends "builderpanel/base.html" %}
{% load static %}
<meta name="csrf-token" content="{% csrf_token %}">
{% block content %}
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                <h4 class="mb-sm-0">My Profile</h4>

                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Home</a></li>
                        <li class="breadcrumb-item active">My Profile</li>
                    </ol>
                </div>

            </div>
        </div>
    </div>
    <!-- end page title -->
    <style>
        .step-arrow-nav .nav .nav-link.active {
            color: white !important;
            background-color: #273e6b;
        }
        .step-arrow-nav .nav .nav-link.done {
            background-color: rgba(var(--tb-primary-rgb), .05);
            color: black !important;
        }
    </style>

    <div class="col-xl-12">
        <div class="card">
            <div class="card-body form-steps">
                <form action="#">
                    <div class="step-arrow-nav mb-4">

                        <ul class="nav nav-pills custom-nav nav-justified" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="business-detail-tab" data-bs-toggle="pill" data-bs-target="#business-detail-info" type="button" role="tab" aria-controls="business-detail-info" aria-selected="true">Business Details</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="personal-detail-tab" data-bs-toggle="pill" data-bs-target="#personal-detail-info" type="button" role="tab" aria-controls="personal-detail-info" aria-selected="false">Personal Details</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="kyc-verification-tab" data-bs-toggle="pill" data-bs-target="#kyc-verification-info" type="button" role="tab" aria-controls="kyc-verification-info" aria-selected="false">KYC Verification</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="bank-details-tab" data-bs-toggle="pill" data-bs-target="#bank-details-info" type="button" role="tab" aria-controls="bank-details-info" aria-selected="false">Bank Details</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="team-details-tab" data-bs-toggle="pill" data-bs-target="#team-details-info" type="button" role="tab" aria-controls="team-details-info" aria-selected="false">Team Details</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="agreement-tab" data-bs-toggle="pill" data-bs-target="#agreement-info" type="button" role="tab" aria-controls="agreement-info" aria-selected="false">Channel Partner Agreement</button>
                            </li>
                        </ul>
                    </div>

                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="business-detail-info" role="tabpanel" aria-labelledby="business-detail-tab">
                            <form id="businessDetailForm" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="hidden" name="tab" value="businessDetail">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label class="form-label" for="businessName">Business Name</label>
                                            <input type="text" class="form-control" id="businessName" placeholder="Enter Your Business Name" name="business_name" value="{{ user_details.business_name|default_if_none:'' }}" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label class="form-label" for="incorporatedSince">Incorporated Since</label>
                                            <input type="text" class="form-control" id="incorporatedSince" placeholder="Enter Your Incorporated Since" name="incorporated_since" value="{{ user_details.incorporated_since|default_if_none:'' }}" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label class="form-label" for="ongoingResidentialProjects">Ongoing Residential Projects</label>
                                            <input type="text" class="form-control" id="ongoingResidentialProjects" placeholder="Enter Ongoing Residential Projects" name="ongoing_residential_projects" value="{{ user_details.ongoing_residential_projects|default_if_none:'' }}">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label class="form-label" for="ongoingCommercialProjects">Ongoing Commercial Projects</label>
                                            <input type="text" class="form-control" id="ongoingCommercialProjects" placeholder="Enter Ongoing Commercial Projects" name="ongoing_commercial_projects" value="{{ user_details.ongoing_commercial_projects|default_if_none:'' }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label class="form-label" for="completedResidentialProjects">Completed Residential Projects</label>
                                            <input type="text" class="form-control" id="completedResidentialProjects" placeholder="Enter Completed Residential Projects" name="completed_residential_projects" value="{{ user_details.completed_residential_projects|default_if_none:'' }}">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label class="form-label" for="completedCommercialProjects">Completed Commercial Projects</label>
                                            <input type="text" class="form-control" id="completedCommercialProjects" placeholder="Enter Completed Commercial Projects" name="completed_commercial_projects" value="{{ user_details.completed_commercial_projects|default_if_none:'' }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="companyAddress">Company Address</label>
                                    <textarea class="form-control" placeholder="Enter Company Address" id="companyAddress" rows="3" name="company_hq_address">{{ user_details.company_hq_address|default_if_none:''}}</textarea>
                                </div>
                                <div class="mb-3">
                                    <label for="googleMap" class="form-label">Google Map</label>
                                    <input class="form-control" type="text" id="googleMap" placeholder="Enter Google Map Link" name="google_map_link" value="{{ user_details.google_map_link|default_if_none:'' }}">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="descriptionAboutCompany">Short Description About Company</label>
                                    <textarea class="form-control" placeholder="Enter Description About Your Company" id="descriptionAboutCompany" rows="3" name="short_description">{{ user_details.short_description|default_if_none:''}}</textarea>
                                </div>
                                <div class="row">                                                    
                                    <div class="col-lg-6 mb-3">
                                        <label class="form-label" for="gstNumber">Company GST Number</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="gstNumber" placeholder="Enter GST Number" name="gst_number" value="{{ user_details.gst_number|default_if_none:'' }}">
                                            <button class="btn" type="button" id="verifyButton" style="background-color: #273e6b;color:white !important;">Verify</button>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 mb-3">
                                        <label class="form-label" for="gstName">Company GST Name</label>
                                        <input type="text" class="form-control" id="gstName" placeholder="Enter GST Name" name="gst_name" value="{{ user_details.gst_name|default_if_none:'' }}">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        <label for="companyLogo" class="form-label">Upload Company LOGO</label>
                                        <input class="form-control mb-2" type="file" id="companyLogo" name="company_logo" accept="image/jpeg, image/png"  onchange="validateImage('companyLogo')">
                                        <span id="error-message" style="color: red;"></span>
                                        {% if user_details.company_logo %}
                                            <img src="{% static 'builderpanel/companyLogo/' %}{{ user_details.company_logo }}" alt="Company Logo" style="max-width: 200px; max-height: 200px;">
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="d-flex align-items-start gap-3 mt-4">
                                    <button type="button" class="btn btn-label right ms-auto nexttab nexttab" data-nexttab="personal-detail-tab" name="businessdetailsubmit" style="background-color: #273e6b;color:white !important;"><i class="ri-arrow-right-line label-icon align-middle fs-lg ms-2"></i>Next</button>
                                </div>
                            </form>
                        </div>
                        <!-- end tab pane -->

                        <div class="tab-pane fade" id="personal-detail-info" role="tabpanel" aria-labelledby="personal-detail-tab">
                            <form id="personalDetailForm" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="hidden" name="tab" value="personalDetail">
                                <div class="mb-3">
                                    <label class="form-label" for="yourName">Your Name</label>
                                    <input type="text" class="form-control" id="yourName" placeholder="Enter Your Name" name="personal_name" value="{{ user_details.personal_name|default_if_none:'' }}">
                                </div>
                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="mb-3">
                                            <label class="form-label" for="contactNumber">Contact Number</label>
                                            <input type="tel" class="form-control" id="contactNumber" minlength="10" maxlength="10" placeholder="Enter Your Contact Number" name="personal_phoneno" value="{{ user_details.personal_phoneno|default_if_none:'' }}">
                                        </div>  
                                    </div>                                              
                                    <div class="col-lg-4 mt-2">
                                        <label class="form-label" for=""></label>
                                        <div class="input-group ">
                                            <input type="text" class="form-control" placeholder="Same Number On Whatsapp" disabled>
                                            <button type="button" class="btn btn-subtle-primary {% if user_details.personal_whatsapp_number == user_details.personal_phoneno %}active{% endif %}" value="yes" onclick="whatsappNumberShow(event)">Yes</button>
                                            <button type="button" class="btn btn-subtle-primary {% if user_details.personal_whatsapp_number != user_details.personal_phoneno %}active{% endif %}" value="no" onclick="whatsappNumberShow(event)">No</button>
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" id="whatsapp_number_show" name="whatsapp_number_show" value="yes">
                                <div class="mb-3" id="whatsappNumberContainer" {% if user_details.personal_whatsapp_number != user_details.personal_phoneno %}style="display: block;"{% else %}style="display: none;"{% endif %}>
                                    <label class="form-label" for="whatsappNumber">Whatsapp Number</label>
                                    <input type="tel" class="form-control" id="whatsappNumber" minlength="10" maxlength="10" placeholder="Enter Your Whatsapp Number" name="personal_whatsapp_number" value="{% if user_details.personal_whatsapp_number != user_details.personal_phoneno %}{{ user_details.personal_whatsapp_number|default_if_none:'' }}{% else %}{% endif %}">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="secondaryNumber">Secondary Contact Number</label>
                                    <input type="tel" class="form-control" id="secondaryNumber" minlength="10" maxlength="10" placeholder="Enter Your Secondary Contact Number" name="secondary_number" value="{{ user_details.secondary_number|default_if_none:'' }}">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="emailId">Email ID</label>
                                    <input type="email" class="form-control" id="emailId" placeholder="Enter Your Email ID" name="personal_email" value="{{ user_details.personal_email|default_if_none:'' }}">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="selectDesignation">Designation</label>
                                    <select id="selectDesignation" class="form-select" name="personal_designation" onclick="showOtherTextBox()">
                                        <option value="" selected>Select Designation</option>
                                        <option value="Sales Head" {% if user_details.personal_designation == 'Sales Head' %} selected {% endif %}>Sales Head</option>
                                        <option value="Founder and CEO" {% if user_details.personal_designation == 'Founder and CEO' %} selected {% endif %}>Founder and CEO</option>
                                        <option value="Managing Director" {% if user_details.personal_designation == 'Managing Director' %} selected {% endif %}>Managing Director</option>
                                        <option value="Others" {% if user_details.personal_designation == 'Others' %} selected {% endif %}>Others</option>
                                    </select>
                                </div>
                                
                                <div class="mb-3" id="otherDesignationContainer" style="display: none;">
                                    <label class="form-label" for="otherDesignation">Please Specify Your Designation</label>
                                    <input type="text" class="form-control" id="otherDesignation" name="other_designation" placeholder="Specify Your Designation" value="{{ user_details.personal_designation }}">
                                </div>
                                <div class="mb-3">
                                    <label for="profilePicture" class="form-label">Upload Profile Picture</label>
                                    <input class="form-control mb-2" type="file" id="profilePicture" name="profile_picture"  accept="image/jpeg, image/png" onchange="validateImage('profilePicture')">
                                    <span id="error-message" style="color: red;"></span>
                                    {% if user_details.profile_picture %}
                                        <img src="{% static 'builderpanel/profilePicture/' %}{{ user_details.profile_picture }}" alt="Profile Picture" style="max-width: 200px; max-height: 200px;">
                                    {% endif %}
                                </div>
                                <div class="d-flex align-items-start gap-3 mt-4">
                                    <button type="button" class="btn btn-label previestab" data-previous="business-detail-tab" style="background-color: #273e6b;color:white !important;"><i class="ri-arrow-left-line label-icon align-middle fs-lg me-2"></i> Go Back</button>
                                    <button type="button" class="btn btn-label right ms-auto nexttab nexttab" data-nexttab="kyc-verification-tab" name="personaldetailsubmit" style="background-color: #273e6b;color:white !important;"><i class="ri-arrow-right-line label-icon align-middle fs-lg ms-2"></i>Next</button>
                                </div>
                            </form>
                        </div>
                        <!-- end tab pane -->

                        <div class="tab-pane fade" id="kyc-verification-info" role="tabpanel" aria-labelledby="kyc-verification-tab">
                            <form id="kycVerificationDetailForm" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="hidden" name="tab" value="kycDetail">
                                <div class="mb-3">
                                    <label for="aadharNumber" class="form-label">Aadhar Number</label>
                                    <div class="input-group">
                                        <input class="form-control" type="text" id="aadharNumber" placeholder="Enter Aadhar Number" name="aadhar_image" value="{{ user_details.aadhar_image|default_if_none:'' }}">
                                        <button class="btn" type="button" id="verifyButton" style="background-color: #273e6b;color:white !important;">Verify</button>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="panCard" class="form-label">Business PAN Card</label>
                                    <div class="input-group">
                                        <input class="form-control" type="file" id="panCard" name="pan_image">
                                        {% if user_details.gst_image %}
                                        <a href="{% url 'download_document' 'pan' %}" download><button class="btn" type="button" id="verifyButton" style="background-color: #273e6b;color:white !important;">Download</button></a>
                                        {% endif %}                                        
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="panNumber" class="form-label">Business PAN Number</label>
                                    <div class="input-group">
                                        <input class="form-control" type="text" id="panNumber" placeholder="Enter Business PAN Number" name="company_pan_no" value="{{ user_details.company_pan_no|default_if_none:''}}">
                                        <button class="btn" type="button" id="verifyButton" style="background-color: #273e6b;color:white !important;">Verify</button>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="gstVerification" class="form-label">Upload GST Certificate</label>
                                    <div class="input-group">
                                        <input class="form-control" type="file" id="gstVerification" name="gst_image" accept=".pdf">
                                        {% if user_details.gst_image %}
                                        <a href="{% url 'download_document' 'gst' %}" download><button class="btn" type="button" id="verifyButton"  style="background-color: #273e6b;color:white !important;">Download</button></a>
                                        {% endif %}                                        
                                    </div>
                                </div>
                                <div class="d-flex align-items-start gap-3 mt-4">
                                    <button type="button" class="btn btn-label previestab" data-previous="personal-detail-tab" style="background-color: #273e6b;color:white !important;"><i class="ri-arrow-left-line label-icon align-middle fs-lg me-2"></i> Go Back</button>
                                    <button type="button" class="btn btn-label right ms-auto nexttab nexttab" data-nexttab="bank-details-tab" name="kycdetailsubmit" style="background-color: #273e6b;color:white !important;"><i class="ri-arrow-right-line label-icon align-middle fs-lg ms-2"></i>Next</button>
                                </div>
                            </form>
                        </div>
                        <!-- end tab pane -->

                        <div class="tab-pane fade" id="bank-details-info" role="tabpanel" aria-labelledby="bank-details-tab">
                            <form id="bankDetailForm" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="hidden" name="tab" value="bankDetail">
                                <div class="mb-3">
                                    <label class="form-label" for="accountNumber">Current Account Number</label>
                                    <input type="number" class="form-control" id="accountNumber" placeholder="Enter Your Current Account Number" name="bank_account_no" value="{{ user_details.bank_account_no|default_if_none:'' }}">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="IFSCCode">IFSC Code</label>
                                    <input type="text" class="form-control" id="IFSCCode" placeholder="Enter IFSC Code" name="ifsc_code" value="{{ user_details.ifsc_code|default_if_none:'' }}">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="bankName">Bank Name</label>
                                    <input type="text" class="form-control" id="bankName" placeholder="Enter Your Bank Name" name="bank_name" value="{{ user_details.bank_name|default_if_none:'' }}">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="beneficiaryName">Beneficiary Name</label>
                                    <input type="text" class="form-control" id="beneficiaryName" placeholder="Enter Beneficiary Name" name="account_holder_name" value="{{ user_details.account_holder_name|default_if_none:'' }}">
                                </div>                                                
                                <button class="btn" type="button" id="verifyButton" style="background-color: #273e6b;color:white !important;">Verify</button>
                                <div class="d-flex align-items-start gap-3 mt-4">
                                    <button type="button" class="btn btn-label previestab" data-previous="kyc-verification-tab" style="background-color: #273e6b;color:white !important;"><i class="ri-arrow-left-line label-icon align-middle fs-lg me-2"></i> Go Back</button>
                                    <button type="button" class="btn btn-label right ms-auto nexttab nexttab" data-nexttab="team-details-tab" style="background-color: #273e6b;color:white !important;"><i class="ri-arrow-right-line label-icon align-middle fs-lg ms-2"></i>Next</button>
                                </div>
                            </form>
                        </div>
                        <!-- end tab pane -->

                        <div class="tab-pane fade" id="team-details-info" role="tabpanel" aria-labelledby="team-details-tab">
                            <form id="teamDetailForm" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="hidden" name="tab" value="teamDetail">
                                <div class="col-xxl-12">
                                    <!-- Nav tabs -->
                                    <ul class="nav nav-tabs nav-justified mb-3" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" data-bs-toggle="tab" href="#team1" role="tab" aria-selected="false" id="team1-tab">
                                                Sales Director
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-bs-toggle="tab" href="#team2" role="tab" aria-selected="false" id="team2-tab">
                                                Project Sales Manager
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-bs-toggle="tab" href="#team3" role="tab" aria-selected="false" id="team3-tab">
                                                Accounts & Finance Team
                                            </a>
                                        </li>
                                    </ul>
                                    <!-- Tab panes -->
                                    <div class="tab-content  text-muted">
                                        <div class="tab-pane active" id="team1" role="tabpanel" aria-labelledby="team1-tab">
                                            <div class="col-lg-12">
                                                <div class="mb-3">
                                                    <label class="form-label" for="companySalesHeadName">Name</label>
                                                    <input type="text" class="form-control" id="companySalesHeadName" placeholder="Enter Name" name="sales_director_name"  value="{{ user_details.sales_director_name|default_if_none:'' }}">
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="mb-3">
                                                    <label class="form-label" for="companySalesHeadEmail">Email</label>
                                                    <input type="email" class="form-control" id="companySalesHeadEmail" placeholder="Enter Email" name="sales_director_email"  value="{{ user_details.sales_director_email|default_if_none:'' }}">
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label" for="companySalesHeadNumber">Number</label>
                                                <input type="tel" class="form-control" minlength="10" maxlength="10" id="companySalesHeadNumber" placeholder="Enter Number" name="sales_director_number" value="{{ user_details.sales_director_number|default_if_none:'' }}">
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="team2" role="tabpanel" aria-labelledby="team2-tab">
                                            <div class="col-lg-12">
                                                <div class="mb-3">
                                                    <label class="form-label" for="salesManagerName">Name</label>
                                                    <input type="text" class="form-control" id="salesManagerName" placeholder="Enter Name" name="project_sales_manager_name" value="{{ user_details.project_sales_manager_name|default_if_none:'' }}">
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="mb-3">
                                                    <label class="form-label" for="salesManagerEmail">Email</label>
                                                    <input type="email" class="form-control" id="salesManagerEmail" placeholder="Enter Email" name="project_sales_manager_email" value="{{ user_details.project_sales_manager_email|default_if_none:'' }}">
                                                </div>
                                            </div>
                                            <div  class="mb-3">
                                                <label class="form-label" for="salesManagerNumber">Number</label>
                                                <input type="tel" class="form-control" minlength="10" maxlength="10" id="salesManagerNumber" placeholder="Enter Number"  name="project_sales_manager_number" value="{{ user_details.project_sales_manager_number|default_if_none:'' }}">
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="team3" role="tabpanel" aria-labelledby="team3-tab">
                                                <div class="col-lg-12">
                                                    <div class="mb-3">
                                                        <label class="form-label" for="financeTeamName">Name</label>
                                                        <input type="text" class="form-control" id="financeTeamName" placeholder="Enter Name" name="finance_team_name" value="{{ user_details.finance_team_name|default_if_none:'' }}">
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="mb-3">
                                                        <label class="form-label" for="financeTeamEmail">Email</label>
                                                        <input type="email" class="form-control" id="financeTeamEmail" placeholder="Enter Email" name="finance_team_email" value="{{ user_details.finance_team_email|default_if_none:'' }}">
                                                    </div>
                                                </div>
                                                <div class="mb-3">
                                                    <label class="form-label" for="financeTeamNumber">Number</label>
                                                    <input type="tel" class="form-control" minlength="10" maxlength="10" id="financeTeamNumber" placeholder="Enter Number" name="finance_team_number" value="{{ user_details.finance_team_number|default_if_none:'' }}">
                                                </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end col -->
                                <div class="d-flex align-items-start gap-3 mt-4">
                                    <button type="button" class="btn btn-label previestab" data-previous="bank-details-tab" style="background-color: #273e6b;color:white !important;"><i class="ri-arrow-left-line label-icon align-middle fs-lg me-2"></i> Go Back</button>
                                    <button type="button" class="btn btn-label right ms-auto nexttab nexttab" data-nexttab="agreement-tab" style="background-color: #273e6b;color:white !important;"><i class="ri-arrow-right-line label-icon align-middle fs-lg ms-2"></i>Next</button>
                                </div>                                        
                            </form>
                        </div>
                        <!-- end tab pane -->

                        <div class="tab-pane fade" id="agreement-info" role="tabpanel" aria-labelledby="agreement-tab">
                            <form id="channelPartnerAgreementDetailForm" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="hidden" name="tab" value="channelPartnerAgreementDetail">
                                <div class="mb-3">
                                    <div class="text-start">
                                        <a href="{% static 'RESELLER’S AGREEMENT.pdf' %}" download="RESELLER’S AGREEMENT.pdf" class="btn" style="background-color: #273e6b;color:white !important;">Download Agreement</a>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="signed_agreement" class="form-label">Upload Signed Agreement</label>
                                    <input class="form-control mb-2" type="file" id="signed_agreement" name="signed_agreement">
                                </div>
                                <!-- end col -->
                                <div class="d-flex align-items-start gap-3 mt-4">
                                    <button type="button" class="btn btn-label previestab" data-previous="team-details-tab" style="background-color: #273e6b;color:white !important;"><i class="ri-arrow-left-line label-icon align-middle fs-lg me-2"></i> Go Back</button>
                                    <button type="submit" class="btn btn-label right ms-auto nexttab nexttab"  style="background-color: #273e6b;color:white !important;"><i class="ri-arrow-right-line label-icon align-middle fs-lg ms-2"></i>Submit</button>
                                </div>
                            </form>
                        </div>
                        <!-- end tab pane -->

                        <div class="tab-pane fade" id="signature-info" role="tabpanel" aria-labelledby="signature-tab">
                            <form id="signatureDetailForm" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="hidden" name="tab" value="signatureDetail">
                                <div class="mb-3">
                                    <label for="esignature" class="form-label">Supplier E-signature</label>
                                    <input class="form-control mb-2" type="file" id="esignature" name="signature" accept="image/jpeg, image/png">
                                    {% if user_details.signature %}
                                        <img src="{% static 'builderpanel/signature/' %}{{user_details.signature}}" alt="Supplier E-signature" style="max-width: 200px; max-height: 200px;">
                                    {% endif %}
                                </div>
                                <div class="d-flex align-items-start gap-3 mt-4">
                                    <button type="button" class="btn btn-label previestab" data-previous="agreement-tab"  style="background-color: #273e6b;color:white !important;"><i class="ri-arrow-left-line label-icon align-middle fs-lg me-2"></i> Go Back</button>
                                    <button type="submit" class="btn btn-label right ms-auto nexttab nexttab"  style="background-color: #273e6b;color:white !important;"><i class="ri-arrow-right-line label-icon align-middle fs-lg ms-2"></i>Submit</button>
                                </div>
                            </form>
                        </div>
                        <!-- end tab pane -->
                    </div>
                    <!-- end tab content -->
                </form>
            </div>
            <!-- end card body -->
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->


<script>
    function validateImage(inputId) {
        const imageInput = document.getElementById(inputId);
        const errorMessage = document.getElementById('error-message');
        const file = imageInput.files[0];
    
        if (file) {
            const img = new Image();
            img.src = URL.createObjectURL(file);
    
            img.onload = function () {
                if (img.width !== 60 || img.height !== 60) {
                    errorMessage.textContent = "Logo must be 60px by 60px.";
                    logoInput.value = ""; // Clear the file input
                } else {
                    errorMessage.textContent = ""; // Clear error message
                }
                URL.revokeObjectURL(img.src); // Free memory
            };
        }
    }
    </script>

    <script>
        function whatsappNumberShow(event) {
            var button = event.target;
            var value = button.value;
            var container = document.getElementById('whatsappNumberContainer');
            var yesButton = document.querySelector('button[value="yes"]');
            var noButton = document.querySelector('button[value="no"]');
            var whatsapp_number_show = document.getElementById('whatsapp_number_show');
        
            if (value === 'no') {
                container.style.display = 'block';
                noButton.classList.add('active');
                yesButton.classList.remove('active');
                whatsapp_number_show.value = 'no';
            } else {
                container.style.display = 'none';
                yesButton.classList.add('active');
                noButton.classList.remove('active');
                whatsapp_number_show.value = 'yes';
            }
        }
    </script>

    <script>
        function showOtherTextBox() {
            var selectElement = document.getElementById('selectDesignation');
            var otherTextBox = document.getElementById('otherDesignationContainer');
            
            if (selectElement.value === 'Others') {
                otherTextBox.style.display = 'block';
            } else {
                otherTextBox.style.display = 'none';
            }
        }
        
        // Initial check if "Others" was selected on page load
        document.addEventListener('DOMContentLoaded', function() {
            showOtherTextBox();
        });
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    {% comment %} <script>
        $(document).ready(function() {
            $('.nexttab').click(function() {
               var form = $(this).closest('form');
                //var nextTab = $(this).attr('data-nexttab');
                alert('1st part');
                // Serialize form data
                var formData = new FormData(form[0]);
                // Submit form via AJAX
                $.ajax({
                    type: 'POST',
                    url: 'my-profile',
                    headers: { "X-CSRFToken": csrftoken }, 
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function(response) {
                        $('#' + nextTab).tab('show'); // Show next tab
                        alert(response.message);
                        // Optional: Display success message or handle further logic
                        console.log(response.message);
                    },
                    error: function(xhr, status, error) {
                        console.error(xhr.responseText);
                        // Handle error if needed
                    }
                });
            });
        });
    </script> {% endcomment %}
    <script>
        $(document).ready(function() {
            // Get the CSRF token from the meta tag
            var csrfToken = $('meta[name="csrf-token"]').attr('content');
        
            // Configure AJAX setup with the CSRF token
            $.ajaxSetup({
                headers: {
                    'X-CSRFToken': csrfToken
                }
            });
        
            $('.nexttab').click(function() {
                var form = $(this).closest('form');
                var nextTab = $(this).attr('data-nexttab');
            
                // Serialize form data
                var formData = new FormData(form[0]);
            
                // Submit form via AJAX
                $.ajax({
                    type: 'POST',
                    url: 'my-profile',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function(response) {
                        if (response.success) {
                            $('#' + nextTab).tab('show');
                            console.log(response);
                        } else {
                            alert(response.message);  // Display the error message
                        }
                    },
                    error: function(xhr, status, error) {
                        console.error(xhr.responseText);
                        // Handle error if needed
                    }
                });
            });
            
        });
    </script>
{% endblock content %}