{% extends "builderpanel/base.html" %}
{% load static %}
{% block content %}

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                <h4 class="mb-sm-0">Payments Till Date</h4>

                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Home</a></li>
                        <li class="breadcrumb-item active">Payments Till Date</li>
                    </ol>
                </div>

            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="card card-height-100">
                <div class="card-body">
                    <div class="d-flex">
                        <div class="flex-grow-1">
                            <div class="d-flex flex-column h-100">
                                <div>
                                    <div class="d-flex align-items-center gap-2 mb-4">
                                        <div class="avatar-xs flex-shrink-0">
                                            <div class="avatar-title bg-body-secondary text-primary border border-primary-subtle rounded-circle">
                                                <i class="bi bi-file-earmark-text"></i>
                                            </div>
                                        </div>
                                        <div class="flex-grow-1">
                                            <p class="text-muted mb-0"> Total Amount Received</p>
                                        </div>
                                    </div>
                                    <h3 class="mb-0"><span class="counter-value" data-target="8956">0</span> <small class="text-success fs-xs fw-normal ms-1"><i class="bi bi-arrow-up align-baseline"></i> 12.09%</small></h3>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div><!--end col-->
        <div class="col-lg-4 col-md-6">
            <div class="card card-height-100">
                <div class="card-body">
                    <div class="d-flex">
                        <div class="flex-grow-1">
                            <div class="d-flex flex-column h-100">
                                <div>
                                    <div class="d-flex align-items-center gap-2 mb-4">
                                        <div class="avatar-xs flex-shrink-0">
                                            <div class="avatar-title bg-body-secondary text-success border border-success-subtle rounded-circle">
                                                <i class="bi bi-patch-check-fill"></i>
                                            </div>
                                        </div>
                                        <div class="flex-grow-1">
                                            <p class="text-muted mb-0">Paid Amount</p>
                                        </div>
                                    </div>
                                    <h3 class="mb-0"><span class="counter-value" data-target="4519">0</span> <small class="text-success fs-xs fw-normal ms-1"><i class="bi bi-arrow-up align-baseline"></i> 6.57%</small></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--end col-->
        <div class="col-lg-4 col-md-6">
            <div class="card card-height-100">
                <div class="card-body">
                    <div class="d-flex">
                        <div class="flex-grow-1">
                            <div class="d-flex flex-column h-100">
                                <div>
                                    <div class="d-flex align-items-center gap-2 mb-4">
                                        <div class="avatar-xs flex-shrink-0">
                                            <div class="avatar-title bg-body-secondary text-warning border border-warning-subtle rounded-circle">
                                                <i class="bi bi-clock-history"></i>
                                            </div>
                                        </div>
                                        <div class="flex-grow-1">
                                            <p class="text-muted mb-0">Total Pending Amount</p>
                                        </div>
                                    </div>
                                    <h3 class="mb-0"><span class="counter-value" data-target="2648">0</span></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--end col-->
    </div><!--end row-->

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <table id="alternative-pagination" class="table nowrap dt-responsive align-middle table-hover table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th>SR No.</th>
                                <th>Payment ID</th>
                                <th>Property ID</th>
                                <th>Property Name</th>
                                <th>Customer ID</th>
                                <th>Order Amount</th>
                                <th>Payment Date</th>
                                <th>Received Payment Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for history in payment_histories %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ history.id }}</td>
                                <td>{{ history.property_id }}</td>
                                <td>{{ history.property_name }}</td>
                                <td>{{ history.buyer_id }}</td>
                                <td>{{ history.payment_amount }}</td>
                                <td>{{ history.payment_date|date:"d M Y" }}</td>
                                <td>{{ history.received_payment_date|date:"d M Y" }}</td>
                                <td>
                                    <a href="{% url "payment-history" %}"><button class="btn btn-sm" style="background-color: #273e6b;color:white !important;">View Details</button></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div><!--end col-->
    </div><!--end row-->

    <div class="mb-3">
        <a href="{% url "payment" %}"><button type="button" class="btn btn-label previestab" style="background-color: #273e6b;color:white !important;" data-previous="steparrow-gen-info-tab"><i class="ri-arrow-left-line label-icon align-middle fs-lg me-2"></i> Back to Payments</button></a>
    </div>
                    
{% endblock content %}