{% extends "builderpanel/base.html" %}
{% load static %}
{% block content %}

    <style>
        /* From Uiverse.io by zanina-yassine */ 
        /* Remove this container when use*/
        .component-title {
        width: 100%;
        position: absolute;
        z-index: 999;
        top: 30px;
        left: 0;
        padding: 0;
        margin: 0;
        font-size: 1rem;
        font-weight: 700;
        color: #888;
        text-align: center;
        }

        .tab-container {
        position: relative;

        display: flex;
        flex-direction: row;
        align-items: flex-start;

        padding: 2px;

        background-color: #dadadb;
        border-radius: 9px;
        }

        .indicator {
        content: "";
        width: 130px;
        height: 28px;
        background: #ffffff;
        position: absolute;
        top: 2px;
        left: 2px;
        z-index: 9;
        border: 0.5px solid rgba(0, 0, 0, 0.04);
        box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12), 0px 3px 1px rgba(0, 0, 0, 0.04);
        border-radius: 7px;
        transition: all 0.2s ease-out;
        }

        .tab {
        width: 130px;
        height: 28px;
        position: absolute;
        z-index: 99;
        outline: none;
        opacity: 0;
        }

        .tab_label {
        width: 130px;
        height: 28px;

        position: relative;
        z-index: 999;

        display: flex;
        align-items: center;
        justify-content: center;

        border: 0;

        font-size: 0.75rem;
        opacity: 0.6;

        cursor: pointer;
        }

        .tab--1:checked ~ .indicator {
        left: 2px;
        }

        .tab--2:checked ~ .indicator {
        left: calc(130px + 2px);
        }

        .tab--3:checked ~ .indicator {
        left: calc(130px * 2 + 2px);
        }

    </style>

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                <h4 class="mb-sm-0">Payments</h4>

                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Home</a></li>
                        <li class="breadcrumb-item active">Payments</li>
                    </ol>
                </div>

            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-xl-6 col-sm-6">
            <div class="card card-height-100">
                <div class="card-body">
                    <div class="dropdown float-end">          
                        <a href="{% url "payment-till-date" %}"><button class="btn" style="background-color: #273e6b;color:white !important;">View Details</button></a>
                    </div>
                    <p class="fs-md text-muted mb-0">Payments Till Date</p><br>
                    <h3><b> ₹ {{payment_till_date}}</b></h3><hr>
                    <div class="dropdown d-flex">
                        <p class="fs-md text-muted mb-0">Last Payment: &nbsp<b>₹ {{last_payment_amount}}</b></p>
                    </div>
                </div>
            </div>
        </div><!--end col-->
        <div class="col-xl-6 col-sm-6">
            <div class="card card-height-100">
                <div class="card-body">
                    <div class="dropdown float-end">
                        <a href="{% url "total-outstanding-payment" %}"><button class="btn" style="background-color: #273e6b;color:white !important;">View Details</button></a>
                    </div>
                    <p class="fs-md text-muted mb-0">Total Outstanding Payment</p><br>
                    <h3><b> ₹ {{total_upcoming_payment}}</b></h3><hr>
                    <div class="dropdown d-flex">
                        <p class="fs-md text-muted mb-0">Next Payment: &nbsp<b>₹ {{next_payment_amount}}</b></p>
                    </div>
                </div>
            </div>
        </div><!--end col-->
    </div><!--end row-->


    <div class="row">
        <div class="col-lg-12">
            <div class="card card-height-100">
                <div class="card-header align-items-center d-flex">
                    <h6 class="card-title mb-0 flex-grow-1">Payments Over Time</h6>
                    <div class="tab-container">
                        <input type="radio" name="tab" id="yesterday" class="tab tab--1" onclick="updateChart('yesterday')" />
                        <label class="tab_label" for="yesterday">YESTERDAY</label>

                        <input type="radio" name="tab" id="last7days" class="tab tab--2" onclick="updateChart('last7days')" />
                        <label class="tab_label" for="last7days">LAST 7 DAYS</label>
                        
                        <input type="radio" name="tab" id="last30days" class="tab tab--3"  onclick="updateChart('last30days')"/>
                        <label class="tab_label" for="last30days">LAST 30 DAYS</label>

                        <div class="indicator"></div>
                    </div>
                </div>            
                <div class="card-body">
                    <div id="line_chart_basic" data-colors='["--tb-primary"]' class="apex-charts" dir="ltr"></div>
                </div><!-- end card-body -->
            </div>
        </div>
    </div><!--end row-->
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-height-100">
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="example" class="table table-bordered dt-responsive nowrap table-striped align-middle" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Sr No</th>
                                    <th>Property ID</th>
                                    <th>Property Name</th>
                                    <th>Buyer ID</th>
                                    <th>Buyer Name</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for set_payment in set_payments %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ set_payment.property_id }}</td>
                                    <td>{{ set_payment.property_name }}</td>
                                    <td>{{ set_payment.buyer_id }}</td>
                                    <td>{{ set_payment.buyer_name }}</td>
                                    <td>
                                        Deal Close
                                    </td>
                                    <td>
                                        {% if set_payment.property_id in payment_property_ids %}
                                            {% comment %} <p>Payment has been set</p> {% endcomment %}
                                        {% else %}
                                            <a href="{% url "set-payments" set_payment.property_id %}"><button class="btn btn-sm btn-primary">Set Payment</button></a>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div><!-- end card-body -->
            </div>
        </div>
    </div><!--end row-->

    {% comment %} {% for payment in payments %}
    <div class="modal fade zoomIn" id="setpayment{{ payment.property_id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content border-0">
                <div class="modal-header p-3 bg-info-subtle">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
                </div>
                <form action="{% url "set-payments" %}" method="post" class="tablelist-form" autocomplete="off">
                    {% csrf_token %}
                    <input type="hidden" name="property_id" value="{{ payment.property_id }}">
                    <input type="hidden" name="property_name" value="{{ payment.property_name }}">
                    <input type="hidden" name="buyer_id" value="{{ payment.buyer_id }}">
                    <div class="modal-body">
                        <div class="row g-3">
                            <div class="col-lg-12">
                                <label for="total_payment" class="form-label">Total Payment</label>
                                <input type="number" class="form-control" id="total_payment{{ payment.property_id }}" name="total_payment" placeholder="Total Payment"  oninput="calculatePendingPayment(this, {{ payment.property_id }})">
                            </div>
                            <div class="col-lg-12">
                                <label for="received_payment" class="form-label">Received Payment</label>
                                <input type="number" name="received_payment" id="received_payment{{ payment.property_id }}" class="form-control" placeholder="Enter Received Payment"  oninput="calculatePendingPayment(this, {{ payment.property_id }})">
                            </div>
                            <div class="col-lg-12">
                                <label for="pending_payment" class="form-label">Pending Payment</label>
                                <input type="number" class="form-control" id="pending_payment{{ payment.property_id }}" name="pending_payment" placeholder="Pending Payment" readonly>
                            </div>
                            <div class="col-lg-12">
                                <label for="payment_type" class="form-label">Pending Payment Type</label>
                                <select id="payment_type" class="form-select" name="payment_type">
                                    <option value="" selected>--Select Pending Payment Type--</option>
                                    <option value="1 Month">1 Month</option>
                                    <option value="3 Month">3 Month</option>
                                    <option value="6 Month">6 Month</option>
                                    <option value="12 Month">12 Month</option>
                                    <option value="24 Month">24 Month</option>
                                </select>
                            </div>
                            <div class="hstack gap-2 justify-content-end">
                                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn" style="background-color: #273e6b;color:white !important;">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        function calculatePendingPayment(input, propertyId) {
            const totalPaymentInput = document.getElementById(`total_payment${propertyId}`);
            const receivedPaymentInput = document.getElementById(`received_payment${propertyId}`);
            const pendingPaymentInput = document.getElementById(`pending_payment${propertyId}`);

            const totalPayment = parseFloat(totalPaymentInput.value);
            const receivedPayment = parseFloat(receivedPaymentInput.value);

            if (totalPayment && receivedPayment) {
                const pendingPayment = totalPayment - receivedPayment;
                pendingPaymentInput.value = pendingPayment.toFixed(2);
            } else {
                pendingPaymentInput.value = '';
            }
        }
    </script>
    {% endfor %} {% endcomment %}

{% endblock content %}