{% extends "builderpanel/base.html" %}
{% load static %}
{% block content %}

    <style>
        .privacy-text {
            font-family: 'Familjen Grotesk', sans-serif;
            width: 100%;
            margin: 30px auto;
            color: #616161;
            font-size: 18px;
            font-weight: 400;
            line-height: 25px;
            text-align: left;
        }
        
        .privacy-text p {
            margin-bottom: 15px;
        }
        
        @media (max-width: 768px) {
            .privacy-text {
                width: 90%;
                font-size: 16px;
                margin-bottom: 0px; /* Reduced margin for mobile */
            }
        
            .privacy-text ol {
                padding-left: 20px; /* Adjust indentation for lists */
            }
        
            .privacy-text h3 {
                font-size: 18px; /* Smaller heading size */
            }
        }
        
        .list {
            color: #434343;
            font-family: Familjen Grotesk;
            font-size: 16px;
            font-weight: 1000;
            line-height: 25px;
            text-align: left;
            margin-right: 5px;
        }        
    </style>

    <style>
        .terms-text {
            font-family: 'Familjen Grotesk', sans-serif;
            width: 100%;
            margin: 30px auto;
            color: #616161;
            font-size: 18px;
            font-weight: 400;
            line-height: 25px;
            text-align: left;
        }
        
        .terms-text p {
            margin-bottom: 15px;
        }
        
        @media (max-width: 768px) {
            .terms-text {
                width: 90%;
                font-size: 16px;
                margin-bottom: 0px; /* Reduced margin for mobile */
            }
        
            .terms-text ol {
                padding-left: 20px; /* Adjust indentation for lists */
            }
        
            .terms-text h3 {
                font-size: 18px; /* Smaller heading size */
            }
        }
    </style>

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                <h4 class="mb-sm-0">Settings</h4>

                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Home</a></li>
                        <li class="breadcrumb-item active">Settings</li>
                    </ol>
                </div>

            </div>
        </div>
    </div>
    <!-- end page title -->
    <style>
        .nav-pills .nav-link.active, .nav-pills .show.nav-link {
            color: white !important;
            background-color: #273e6b;
        }
        .step-arrow-nav .nav .nav-link.active {
            color: white !important;
            background-color: #273e6b;
        }
        .step-arrow-nav .nav .nav-link.done {
            background-color: rgba(var(--tb-primary-rgb), .05);
            color: black !important;
        }
    </style>
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body form-steps">
                    <div class="step-arrow-nav mb-4">

                        <ul class="nav nav-pills custom-nav nav-justified" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="policies-tab" data-bs-toggle="pill" data-bs-target="#policies-info" type="button" role="tab" aria-controls="policies-info" aria-selected="true">Legal & Policies</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="whatsapp-notification-tab" data-bs-toggle="pill" data-bs-target="#whatsapp-notification-info" type="button" role="tab" aria-controls="whatsapp-notification-info" aria-selected="false">Whatsapp Notification</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="tax-tab" data-bs-toggle="pill" data-bs-target="#tax-info" type="button" role="tab" aria-controls="tax-info" aria-selected="false">Tax Details</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="email-notification-tab" data-bs-toggle="pill" data-bs-target="#email-notification-info" type="button" role="tab" aria-controls="email-notification-info" aria-selected="false">Email Notification</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="change-password-tab" data-bs-toggle="pill" data-bs-target="#change-password-info" type="button" role="tab" aria-controls="change-password-info" aria-selected="false">Change Password</button>
                            </li>
                        </ul>
                    </div>

                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="policies-info" role="tabpanel">
                            <div class="row">
                                <div class="col-xxl-3">
                                    <div class="sticky-side-div">
                                        <div class="nav flex-column nav-pills text-center card p-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                            <a class="nav-link mb-2 active" id="privacy-policy-tab" data-bs-toggle="pill" href="#privacy-policy" role="tab" aria-controls="#privacy-policy" aria-selected="true" >Privacy Policy</a>
    
                                            <a class="nav-link mb-2" id="terms-conditions-tab" data-bs-toggle="pill" href="#terms-conditions" role="tab" aria-controls="terms-conditions" aria-selected="false">Terms and Conditions</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-9 card p-3" style="border: 1px solid black;">
                                    <div class="tab-content text-muted mt-4 mt-md-0" id="v-pills-tabContent">
                                        <div class="tab-pane fade show active" id="privacy-policy" role="tabpanel" aria-labelledby="privacy-policy-tab">
                                            <div class="centered-box">
                                                <h2>PRIVACY POLICY</h2>
                                            </div>
                                            <div class="privacy-text">
                                                <p>Ingenious Real-Tech Solutions LLP is a real estate portal based in Vadodara. We principally deal in property advertisement, all real estate related services and solutions. Our Privacy Policy is incorporated as part of the Realezi.com terms of use. Please read this Privacy Policy and our Terms & Conditions carefully before using our Services. By using Realezi’s services, you agree to the provisions of this Privacy Policy.</p>
                                                <p>We take the individuals' privacy interests very seriously, whose information we receive throughout our services. We provide this Privacy Policy to describe how we use and maintain the information collected through our services and what benefits users have to control how their information is used and shared.</p>
                                                <ol>
                                                    <li>
                                                        <h3>GENERAL</h3>
                                                        <ol type="a">
                                                            <li>This document is an electronic record in terms of Information Technology Act, 2000 and rules there under as applicable and the amended provisions pertaining to electronic records in various statutes as amended by the Information Technology Act, 2000. This electronic record is generated by a computer system and does not require any physical or digital signatures.</li>
                                                            <li>This document is published in accordance with the provisions of Rule 3 (1) of the Information Technology (Intermediaries guidelines) Rules, 2011 that require publishing the rules and regulations, privacy policy and Terms of Use for access or usage of https://realezi.com/.</li>
                                                            <li>The domain name https://realezi.com/ ("Website") is owned and operated by Ingenious Real-Tech Solutions LLP.("Company") having its registered office at L 404, Rajeshwar Gold, near Harni Police station, Harni -Airport Road, Harni, Vadodara, Gujarat – 390022.</li>
                                                            <li>This Privacy Policy is effective from the date and time the user registers with Realezi by filling up the details and accepting the terms & conditions laid out in the Site Policy.</li>
                                                        </ol>
                                                    </li>
                                                    <li>
                                                        <h3>COLLECTION OF PERSONAL AND OTHER INFORMATION</h3>
                                                        <ol type="a">
                                                            <li>To provide its customers a personalized browsing experience, Realezi may collect personal information from you. Additionally, the website may require you to complete a registration form or seek some information from you  which may include but not be limited to name, email address, phone number, mailing address, demographic information (e.g., age, gender, if legally permissible), and, in some instances, financial information (e.g., income, with appropriate authorization).</li>
                                                            <li>The User is aware that the Company/Website may automatically track certain information about the User based upon the User's IP address and the User’s behavior on the Website, and the User expressly consents to the same. The User is aware that this information is used to do internal research on user demographics, interests, and behaviour, enable the Company/Website to understand better, and cater to the interests of its users. The User is expressly made aware that such information may include the URL that the User visited prior to accessing the Website, the URL which the User subsequently visits (whether or not these URLs form a part of the Website), the User's computer & web browser information, the User's IP address, etc.</li>
                                                            <li>The User is further aware that the Company/Website may occasionally request the User to write reviews for products/services purchased/availed of by the User from the Website and reviews for the various sellers listing their properties/products/services on the Website. The User is aware that such reviews will help other users of the website make prudent and correct purchases, and also help the Company/Website remove sellers whose properties/products/services are unsatisfactory in any way. The User hereby expressly authorizes the Company/Website to publish any or all reviews written by the User on the Website, along with the User's name and specific contact details, for the benefit and use of other Users of the Website.</li>
                                                        </ol>
                                                    </li>
                                                    <li>
                                                        <h3>COOKIES</h3>
                                                        <ol type="a">
                                                            <li>The User is aware that a ‘Cookie’ is a small piece of information stored by a web server on a web browser so it can later be traced back from that particular browser and that cookies are useful for enabling the browser to remember information specific to a given user, including but not limited to a User's login identification, password, etc. The User is aware that the Website places permanent and temporary cookies in the User's computer's hard drive and web browser and does hereby expressly consent to the same.</li>
                                                            <li>The User is further aware that the Website uses data collection devices such as cookies on certain pages of the Website to help analyze web page flow, measure promotional effectiveness, and promote trust and safety, and that certain features of the Website are only available through the use of such cookies.  We may leverage cookies and other tracking technologies to gather information about your activity on the Services. Cookies are small data files stored on your device. You can manage your cookie settings through your browser settings.</li>
                                                        </ol>
                                                    </li>
                                                    <li>
                                                        <h3>DIVULGING/SHARING OF PERSONAL INFORMATION</h3>
                                                        <ol type="a">
                                                            <li>The User is aware that the Website/Company may share the User's personal information with other corporate entities and affiliates to help detect and prevent identity theft, fraud, and other potentially illegal acts; correlate related or multiple accounts to prevent abuse of the Website's services; and to facilitate joint or co-branded services, where such services are provided by more than one corporate entity.</li>
                                                            <li>The User is aware that the Website/Company may disclose personal information if required to do so by law or if the Website/Company in good faith believes that such disclosure is reasonably necessary to respond to subpoenas, court orders, or other legal processes. The Website/Company may also disclose certain information which shall not hamper the privacy of the User's personal information to law enforcement offices, third party rights owners, or other third parties if it believes that such disclosure is reasonably necessary to enforce the Terms or Policy; respond to claims that an advertisement, posting or other content violates the rights of a third party; or protect the rights, property or personal safety of its users, or the general public.</li>
                                                        </ol>
                                                    </li>
                                                    <li>
                                                        <h3>SECURITY</h3>
                                                        <ol type="none">
                                                            <p>We take the security of your financial transactions very seriously. When you submit financial information through our Services, such as during an application process, we utilize industry-standard security measures to protect the confidentiality and integrity of your data. This includes:</p>
                                                            <li type="none"><span class="list">Secure Sockets Layer (SSL) encryption:</span> We utilize SSL technology to encrypt your financial information during transmission, safeguarding it from unauthorized interception.</li>
                                                            <li type="none"><span class="list">Payment processing partners:</span> We collaborate with reputable payment processing partners who adhere to stringent data security standards. We do not store your full credit card details on our servers.</li>
                                                            <li type="none"><span class="list">Regular security assessments:</span> We regularly conduct security assessments and vulnerability testing to identify and address potential security risks.</li>
                                                            <p>Transactions on the Website are secure and protected. Any information entered by the User when transacting on the Website is encrypted to protect the User against unintentional disclosure to third parties. The User's credit and debit card information is not , stored by, or retained by the Company / Website in any manner. This information is supplied by the User directly to the relevant payment gateway, which is authorized to handle the information provided and is compliant with the regulations and requirements of various banks and institutions, and payment franchisees that it is associated with.</p>
                                                        </ol>
                                                    </li>
                                                    <li>
                                                        <h3>DISPUTE RESOLUTION AND JURISDICTION</h3>
                                                        <ol type="a">
                                                            <p>It is expressly agreed to by the Parties hereto that the formation, interpretation and performance of this Policy and any disputes arising here from will be resolved through a two-step Alternate Dispute Resolution ("ADR") mechanism. It is further agreed to by the Parties that the contents of this Section shall survive even after the termination or expiry of the Policy and/or Terms.. The parties have to undergo compulsory mediation process as per the Commercial Courts Act.</p>
                                                            <li>Mediation: In case of any dispute between the parties, the Parties will attempt to resolve the same amicably amongst themselves, to the mutual satisfaction of both Parties. In the event that the Parties are unable to reach such an amicable solution within thirty (30) days of one Party communicating the existence of a dispute to the other Party</li>
                                                            <p>The Parties expressly agree that the Terms, Policy, and any other agreements entered into between the Parties are governed by the laws, rules, and regulations of India and that the Courts at Vadodara shall have exclusive jurisdiction over any disputes arising between the Parties.</p>
                                                        </ol>
                                                    </li>
                                                    <li type="none">
                                                        <h3>Disclaimer</h3>
                                                        <ol type="a">
                                                            <p>Ingenious Real-Tech Solutions LLP (Registered Company Name) - Realezi (Brand Name) is only acting as a marketing partner for developers of this real estate project providing online and offline marketing services and does not in any way facilitate and cannot be deemed to be facilitating sales between developers and the visitors / users of the Site. All commercial transactions are between you and the developer. You cannot hold Ingenious Real-Tech Solutions LLP (Registered Company Name) - Realezi (Brand Name) liable for any claims, losses or damages, deficiency of services, delay in services, cost and expense which you may suffer due to availing the services from the developer(s) or any matter incidental thereto. The display of information on www.Realezi.com with respect to a developer or project does not guarantee that the developer / project has registered under the Real Estate (Regulation and Development), 2016 or is compliant with the same. Before deciding to purchase or taking any other action, you are advised to exercise due caution and to independently validate and verify all project and the developer related information.</p>
                                                        </ol>
                                                    </li>
                                                    <li type="none">
                                                        <h3>Property Information and Availability</h3>
                                                        <ol type="a">
                                                            <p>Property details, including square footage, pricing, amenities, and availability, are presented for informational purposes only. These details are subject to change based on the discretion of the property owner or listing agent.</p>
                                                            <p>We encourage you to verify all property information independently, including contacting the listing agent or seller directly for the most current details.</p>
                                                        </ol>
                                                    </li>
                                                    <li type="none">
                                                        <h3>Investment Decisions</h3>
                                                        <ol type="a">
                                                            <p>The Website is not intended to provide financial or investment advice. Any decisions related to real estate purchases or investments should be made independently after consulting with a qualified professional.</p>
                                                        </ol>
                                                    </li>
                                                    <li type="none">
                                                        <h3>Updates to this Privacy Policy</h3>
                                                        <ol type="a">
                                                            <p>We reserve the right to update this Privacy Policy periodically. We will notify you of any changes by posting the updated Privacy Policy on the Services.</p>
                                                        </ol>
                                                    </li>
                                                </ol>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="terms-conditions" role="tabpanel" aria-labelledby="terms-conditions-tab">
                                            <div class="centered-box">
                                                <h2>TERMS & CONDITIONS</h2>
                                            </div>
                                            <div class="terms-text">
                                                <p>We Realezi under the aegis of Ingenious Real-Tech Solutions LLP  (hereinafter referred to as “Company”) aims to provide one stop end-to-end solutions for property investment through various options to our esteemed clients. Here the term "Client" refers to a person, irrespective of Gender, Firm, Company, Entity in whose favor a particular property is booked and/ or a credit note is issued.That the terms and condition mentioned hereinafter incorporates this service terms applicable upon our clients and all users of the website www.realezi.com.</p>
                                                <ol>
                                                    <li type="A">
                                                        <h3>SCOPE OF AGREEMENT</h3>
                                                        <ol type="1">
                                                            <li>In no event will the company and/or its group companies and/or its entities be liable for any loss or damages arising from the use of or reliance on information provided on this website/ in this brochure. The use of any information or material on this website/ in this brochure is entirely at the visitor’s own risk. In case of contradiction between this information and the final agreement, the conditions of the final agreement alone shall be binding.</li>
                                                            <li>The information on this website/ in this brochure does not constitute a legal offer and/or contract of any such type between us/the promoter and the visitor.</li>
                                                            <li>The information on this website/ in this brochure does not constitute a legal offer and/or contract of any such type between us/the promoter and the visitor.</li>
                                                            <li>This website/ brochure contains material which is owned by or licensed by the company and is protected by copyright and intellectual property laws. Reproduction is prohibited without prior permission in writing. The company has the right to alter the information of this website/ brochure without obligation to communicate any changes.</li>
                                                            <li> A visitor, by the act of submitting information through the website or email will be considered to warrant that he/she has provided true, accurate, current and complete information. By entering a mobile number, a visitor is considered to have consented to the company, to send alerts, promotional SMS and the permission to be contacted.</li>
                                                            <li>The company shall make every effort to keep the website free of viruses and other harmful components but does not warrant the same. This website and emails from the company are vulnerable to data corruption, interception, tampering, viruses as well as delivery error and the visitor accepts the fact that the company shall not be liable for any consequences that may arise from them.</li>
                                                            <li>The design, plans, specifications, facilities, images, features, etc. shown on this website/ in this brochure are only indicative and subject to the approval of the respective authorities. We/the promoter reserve the right to change these without any notice or objections.</li>
                                                            <li>The company or any of its employees, managers or representatives shall not be responsible for any damage or economic loss arising out of or related to the use of the website/ brochure.</li>
                                                            <li>The website may contain links to other websites which are not under the control of the company. Any such links may be accessed by the visitor and the company shall not be liable or responsible for the same.</li>
                                                            <li>We/ the promoter reserves the right to change, alter, add or delete any of the specifications mentioned herein without prior permission or notice subject to the applicable laws.</li>
                                                            <li>Please note that www.realezi.com is the only official website of Ingenious Real-Tech Solutions LLP (Brand Name- Realezi) (“the company”). The public at large is hereby informed and advised not to refer to or rely on any information/data on any other unauthorized/unofficial websites having our logos / project details / brand name. You may choose to report any such unauthorized/unofficial websites to us on Connect@realezi.com such that we can initiate necessary action against them. In addition, please check/ensure that you are dealing with our official “RERA registered” real estate agent only. As per State RERA regulations.</li>
                                                        </ol>
                                                    </li>
                                                    <li type="A">
                                                        <h4>OTHER SCOPE OF AGREEMENT</h4>
                                                        <ol type="1">
                                                            <li>The Company as a service provider relies on the information pertaining to various projects provided by the respective builders/developers, given in writing and/or provided through their representatives, responsible persons, advertisements by the Builders/Developers in the print and/or electronic media and/or such other authentic sources.</li>
                                                            <li>The customer is advised to regularly visit the website of the Company and/or respective builders/developers for developments and/or events pertaining to real estate from time to time.</li>
                                                            <li>The client is bound to notify within 24 hours to the Company in case he transfers the unit booked by him/her or creates any third party interest in the property booked through the Company.</li>
                                                            <li>The Company in the capacity of service provider is not responsible for any delays for whatsoever reason, increasing in cost, change of layout, change/levying of PLC, scrapping of project, change in the builder policies, change in the government policies, judicial/administrative orders, variations between commitments and deliverables and/or such other circumstances that may take place from time to time.</li>
                                                            <li>The Company as a service provider is not a part of the business of a Builder/Developer and is not involved in either decision making or obtaining statutory approvals from relevant authorities. The Company is not liable for any misrepresentation made by the builder/developer in any manner whatsoever and at any point of time.</li>
                                                            <li>The Company clarifies that it shall not be responsible for interest if any, on the overdue payments that may be levied by the Developer and/or cancellation(s) of the unit under any circumstances whatsoever.</li>
                                                            <li>The company further clarifies that it shall be the responsibility of the client to point out the accuracy of the information that may form part and parcel of any email conversation and should bring the same to the notice of the Company on an immediate basis, failing which the Company will presume that the information in every communication is accurate and the Company shall not be responsible for any loss which accrues on account of any erroneous information and/or any ramification arising as a consequence thereof.</li>
                                                            <li>The Company shall not be responsible for any verbal commitments allegedly made by any employee at any point of time. The Company will further not consider any communications that may be in writing but not made on the Company's letterhead and not made by a person empowered/authorized to make such a commitment. The Company will not be bound by the commitments made by any ex-employee if he/she is not working in the Company at the relevant time when such commitment was made. Any commitment made by an existing employee from a personal email ID shall not be entertained by the Company at any point of time.</li>
                                                            <li>The Client shall have no objection if the Company uses any data pertaining to his booking for any advertising and promotional purposes.</li>
                                                            <li>The Company may suspend the functionality of the website due to reasons of maintenance and/or other reasons from time to time. Any information accessed by the client during the period of such suspension which may not be updated information, shall not bind the Company in any manner whatsoever.</li>
                                                            <li>In case of any query, clarification, grievance the client is free to contact the Customer Care of the Company at PHONE NO. 8780953097 or address an email at EMAIL ID : Connect@realezi.com.</li>
                                                            <li>The client will be bound by the rules and bylaws guidelines laid down by the concerned builder/developer for each project and the Company will not have any say in the same. That in case the query of the client requires a response from the developers' end then the Company shall coordinate with the concerned builder/developer and forward the response received from the concerned builder/developer. The Company however will not be liable if such response is unsatisfactory to the client.</li>
                                                            <li>The Company does not accept any cash from any client under any circumstances whatsoever. The Company only accepts duly signed Cheque or Demand Drafts/ Bankers Cheque in favor of the concerned Developer for the concerned projects only after the client fills up the booking form issued by the concerned Developer.</li>
                                                            <li>The Company shall not be responsible for any cancellation arising out of incomplete/invalid documents in support of the booking and at the same time the Company owes no responsibility for any cancellations arising out of non-sanction/delay in sanction of loan from any financial institution.</li>
                                                            <li>The non-receipt of an email communication cannot be treated as a valid ground for non-performance of any obligation or ignorance about a particular policy and/or other aspects that may be contained in the email.</li>
                                                            <li>In case of any dispute the courts at Vadodara shall have the exclusive jurisdiction to try and entertain the same. During the use of the website if any dispute arises out of such use it will be subject to the laws of India and to the exclusive jurisdiction of the courts in Vadodara.</li>
                                                            <li>Under the Lead Mapping System, the Client acknowledges having personally visited each property/site accompanied by a Realezi team member. The Client confirms having no prior knowledge or experience with the property/site prior to the site visit facilitated by Realezi. The Client agrees that any subsequent transaction, whether intentional or inadvertent, with the seller/builder, without involving Realezi, constitutes a breach of this agreement. In the event of such a breach, the Client shall indemnify and hold Realezi harmless from any and all claims, damages, or losses arising therefrom. The Client further agrees to cooperate fully with Realezi in any legal proceedings involving the seller/builder and to provide any necessary documentation or testimony.</li>
                                                        </ol>
                                                    </li>
                                                    <li type="A">
                                                        <h3>COLLECTION OF PERSONAL AND OTHER INFORMATION</h3>
                                                        <ol type="1">
                                                            <li>The User expressly agrees and acknowledges that the Company collects and stores the User’s personal information, which is provided by the User from time to time on the Website, including but not limited to the User's user name, passwords, email address, name, address, age, date of birth, sex, nationality, shopping preferences, browsing history, etc., as well as any images or other information uploaded/published by the User on the Website. The User is aware that this information will be used by the Company/Website to provide services and features targeted at the User, that are most likely to meet the User’s needs, and also to customize and improve the Website to make its user's experiences safer and easier.</li>
                                                            <li>The User is aware that the Company/Website may automatically track certain information about the User based upon the User's IP address and the User’s behavior on the Website and the User expressly consents to the same. The User is aware that this information is used to do internal research on user demographics, interests, and behavior, to enable the Company/Website to better understand, and cater to the interests of its users. The User is expressly made aware that such information may include the URL that the User visited prior to accessing the Website, the URL which the User subsequently visits (whether or not these URLs form a part of the Website), the User's computer & web browser information, the User's IP address, etc.</li>
                                                            <li>If the User chooses to purchase products / services from the Website, the User consents to allowing the Company/Website to collect information about the User's buying behavior and trends.</li>
                                                            <li>If the User chooses to post messages / reviews / feedback anywhere on the Website, including but not limited to message boards, chat rooms, other message areas, etc., the User is aware that any and all such information provided / uploaded will be collected and stored by the Company indefinitely, and that such retained information may be used to resolve disputes, provide customer support, troubleshoot problems, etc., and that such information, if requested, may be provided to judicial or governmental authorities of requisite jurisdiction, or otherwise used by the Company/Website as permitted by applicable laws.</li>
                                                            <li>The User is aware that any and all information pertaining to the User collected by the Company, whether or not directly provided by the User to the Company/Website, including but not limited to personal correspondence such as emails or letters, feedback from other users or third parties regarding the User's activities or postings on the Website, etc., may be collected and compiled by the Company/Website into a file/folder specifically created for / allotted to the User, and the User hereby expressly consents to the same.</li>
                                                            <li>The User is aware that while he/she can browse some sections of the Website without being a registered user, certain activities (such as placing an order) require the User to provide valid personal information to the Company/Website for the purpose of registration. The User is aware that the contact information provided to the Company/Website may be used to send the User offers and promotions, whether or not based on the User's previous orders and interests, and the User hereby expressly consents to receiving the same.</li>
                                                            <li>The User is aware that the Company/Website may occasionally request the User to complete optional online surveys. These surveys may require the User to provide contact information and demographic information (like zip code, age, income bracket, sex, etc.). The User is aware that this data is used to customize the Website for the benefit of the User, and providing all users of the Website with products/services/content that the Company/Website believes they might be interested in availing of, and also to display content according to the User's preferences.</li>
                                                            <li>The User is further aware that the Company/Website may occasionally request the User to write reviews for products/services purchased/availed of by the User from the Website, and also reviews for the various sellers listing their products/services on the Website. The User is aware that such reviews will help other users of the website make prudent and correct purchases, and also help the Company/Website remove sellers whose products are unsatisfactory in any way, and the User hereby expressly authorizes the Company/Website to publish any and all reviews written by the User on the Website, along with the User's name and certain contact details, for the benefit and use of other Users of the Website.</li>
                                                            <li>Nothing contained herein shall be deemed to compel the Website/Company to store, upload, publish, or display in any manner content/reviews/surveys/feedback submitted by the User, and the User hereby expressly authorizes the Website/Company to remove from the Website any such content, review, survey, or feedback submitted by the User, without cause or being required to notify the User of the same.</li>
                                    
                                                        </ol>
                                                    </li>
                                                    <li type="A">
                                                        <h3>COOKIES</h3>
                                                        <ol type="a">
                                                            <li>The User is aware that a ‘Cookie’ is a small piece of information stored by a web server on a web browser so it can later be traced back from that particular browser, and that cookies are useful for enabling the browser to remember information specific to a given user, including but not limited to a User's login identification, password, etc. The User is aware that the Website places both permanent and temporary cookies in the User's computer's hard drive and web browser, and does hereby expressly consent to the same.</li>
                                                            <li>The User is further aware that the Website uses data collection devices such as cookies on certain pages of the Website to help analyze web page flow, measure promotional effectiveness, and promote trust and safety, and that certain features of the Website are only available through the use of such cookies. While the User is free to decline the Website's cookies if the User's browser permits, the User may consequently be unable to use certain features on the Website.</li>
                                                        </ol>
                                                    </li>
                                                    <li type="A">
                                                        <h3>DIVULGING/SHARING OF PERSONAL INFORMATION</h3>
                                                        <ol type="a">
                                                            <li>The User is aware that the Website/Company may share the User's personal information with other corporate entities and affiliates to help detect and prevent identity theft, fraud and other potentially illegal acts; correlate related or multiple accounts to prevent abuse of the Website's services; and to facilitate joint or co-branded services, where such services are provided by more than one corporate entity.</li>
                                                            <li>The User is aware that the Website/Company may disclose personal information if required to do so by law or if the Website/Company in good faith believes that such disclosure is reasonably necessary to respond to subpoenas, court orders, or other legal processes. The Website/Company may also disclose the User's personal information to law enforcement offices, third party rights owners, or other third parties if it believes that such disclosure is reasonably necessary to enforce the Terms or Policy; respond to claims that an advertisement, posting or other content violates the rights of a third party; or protect the rights, property or personal safety of its users, or the general public.</li>
                                                            <li>The User is further aware that the Website/Company and its affiliates may share / sell some or all of the User's personal information with other business entities should the Company/Website (or its assets) plan to merge with, or be acquired by such business entity, or in the event of reorganization, amalgamation, or restructuring of the Company's business. Such business entities or new entities will continue to be bound by the Terms and Policy, as may be amended from time to time.</li>
                                                        </ol>
                                                    </li>
                                                    <li type="A">
                                                        <h3>User's Consent</h3>
                                                        <ol type="none">
                                                            <li type="none">By using the Website and/ or by providing information to the Company through the Website, the User consents to the collection and use of the information disclosed by the User on the Website in accordance with this Policy, including but not limited to the User's consent the Company/Website sharing/divulging the User's information, as per Privacy Policy.</li>
                                                        </ol>
                                                    </li>
                                                    <li type="A">
                                                        <h3>AD SERVERS</h3>
                                                        <ol type="none">
                                                            <li type="none">To try and bring you offers that are of interest to you, we have relationships with other companies to whom we allow to place ads on our Website and Mobile App. As a result of your visit to our Website and / or Mobile App, ad server companies may collect information such as your domain type, your IP address and clickstream information.</li>
                                                        </ol>
                                                    </li>
                                                    <li type="A">
                                                        <h3>COPYRIGHT AND TRADEMARK POLICY</h3>
                                                        <ol type="none">
                                                            <li type="none">All content included in our Services, such as text, graphics, logos, button icons, images, clips, digital downloads, data compilations, and software, is the property of the Company and its content suppliers and protected by Intellectual Property Laws. . All software used on this Website and Mobile App is the property of the Company.</li>
                                                        </ol>
                                                    </li>
                                                    <li type="A">
                                                        <h3>SUSPENSION OF USER ACCESS AND ACTIVITY</h3>
                                                        <ol type="none">
                                                            <li type="none" style="margin-bottom:10px">Not with standing other legal remedies that may be available to it, the Company may in its sole discretion limit the User's access and/ or activity by immediately removing the User's access credentials either temporarily or indefinitely, or suspend / terminate the User's membership, and/or refuse to provide User with access to the Website, without being required to provide the User with notice or cause:</li>
                                                            <ol type="a">
                                                                <li> If the User is in breach any of these Terms or the Policy;</li>
                                                                <li>If the User has provided wrong, inaccurate, incomplete or incorrect information;</li>
                                                                <li> If the User's actions may cause any harm, damage or loss to the other users or to the Website/Company, at the sole discretion of the Company.</li>
                                                            </ol>
                                                        </ol>
                                                    </li>
                                                    <li type="A">
                                                        <h3>THIRD-PARTY WEBSITES</h3>
                                                        <ol type="none">
                                                            <li type="none">Our Website / Mobile App may contain links to third party  websites. When you click on one of these links, you will be navigated to a third party  website which will be outside the scope of the company. We do not accept liability for misuse of any information by any website controller to which we may link. We also do not have any responsibility or liability for the content on websites that use www.realezi.com search functionality. We encourage you to read the privacy statements of these websites, which may differ from ours.</li>
                                                        </ol>
                                                    </li>
                                                    <li type="A">
                                                        <h3>INDEMNIFICATION AND LIMITATION OF LIABILITY</h3>
                                                        <ol type="none">
                                                            <p>Each User agrees to indemnify, defend and hold harmless the Company and its affiliates including but not limited to its (and its affiliates’) officers, directors, consultants, agents and employees (“Indemnities”) from and against any and all losses, liabilities, claims, damages, demands, costs and expenses (including legal fees and disbursements in connection therewith and interest chargeable thereon) asserted against or incurred by the Indemnities that arise out of, result from, or may be payable by virtue of, any breach or non-performance of any representation, warranty, covenant or agreement made or obligation to be performed by such User pursuant to these General Terms of Use. Further, each User agrees to hold the Indemnities harmless against any claims made by any third party due to, or arising out of, or in connection with, such User’s use of the Website or Services, User’s violation of the General Terms of Use, or User’s violation of any rights of another, including any intellectual property rights.</p>
                                                            <p>In no event shall the Indemnities, be liable to the Users or any third party for any special, incidental, indirect, consequential or punitive damages whatsoever, including those resulting from loss of use, data or profits, whether or not foreseeable or whether or not the Company has been advised of the possibility of such damages, arising out of or in connection with (i) User’s use of or access to the Website, Services or materials on the Website; or (ii) services provided by any Registered Service Provider.</p>
                                                            <p>The limitations and exclusions in this Section apply to the maximum extent permitted by applicable laws.</p>
                                                        </ol>
                                                    </li>
                                                    <li type="A">
                                                        <h3>ENTIRE AGREEMENT</h3>
                                                        <ol type="none">
                                                            <p>These Terms, read with the Policy form the complete and final contract between the User and the Company with respect to the subject matter hereof and supersedes all other communications, representations and agreements (whether oral, written or otherwise) relating thereto.</p>
                                                        </ol>
                                                    </li>
                                                    <li type="A">
                                                        <h3>WAIVER</h3>
                                                        <ol type="none">
                                                            <p>The failure of either Party at any time to require performance of any provision of these Terms shall in no manner affect such Party's right at a later time to enforce the same. No waiver by either Party of any breach of these Terms, whether by conduct or otherwise, in any one or more instances, shall be deemed to be or construed as a further or continuing waiver of any such breach, or a waiver of any other breach of these Terms.</p>
                                                        </ol>
                                                    </li>
                                                    <li type="A">
                                                        <h3>SEVERABILITY</h3>
                                                        <ol type="none">
                                                            <p>If any provision/clause of these Terms is held to be invalid, illegal or unenforceable by any court or authority of competent jurisdiction, the validity, legality and enforceability of the remaining provisions/clauses of these Terms shall in no way be affected or impaired thereby, and each such provision/clause of these Terms shall be valid and enforceable to the fullest extent permitted by law. In such case, these Terms shall be reformed to the minimum extent necessary to correct any invalidity, illegality or unenforceability, while preserving to the maximum extent the original rights, intentions and commercial expectations of the Parties hereto, as expressed herein.</p>
                                                        </ol>
                                                    </li>
                                                    <li type="A">
                                                        <h3>DISCLAIMER</h3>
                                                        <p>Realezi is only acting as a medium for providing online & Offline advertising services. The details displayed on our website are for information purposes only.</p>
                                                        <ol type="a">
                                                            <li>All information in relation to the project whether written, visual representation or oral, as made available on Realezi.com are all information as provided, described and supplied by the concerned developer.</li>
                                                            <li>The pictures / photos / visuals / videos shown here include artist’s impression of the property being displayed and have been provided by the developers. The actual properties may vary from, and may be inconsistent with, such representations. Further pictures/photos/ representations of furniture and fixtures, surroundings, roads etc. are merely illustrative and shall not be construed to be available with the listed properties or as part of the offerings.</li>
                                                            <li>Before deciding to purchase or taking any other action, you are requested to exercise due caution and to independently validate and verify all information and details and go through the terms and conditions as included in the documents.</li>
                                                            <li>The display of information on Realezi.com with respect to a developer or project does not guarantee that the developer / project has registered under the Real Estate (Regulation and Development), 2016 or is compliant with the same.</li>
                                                            <li>You acknowledge that by merely making such information available on Realezi.com, Housing Parties are not involved in any ‘unfair trade practice’, as defined under the Act, if such information turns out to be inaccurate, incomplete or false.</li>
                                                            <li>We may contact you to solicit feedback of your experience and to provide any additional information that you would be eligible for, either as a customer or as a visitor.</li>
                                                        </ol>
                                                        <p>Neither Realezi nor any person having any ownership or other interest in either of them and their respective directors, employees, agents and other representatives shall be responsible or liable to you or any other person (a) for any error, falsity, or inaccuracy in the information provided herein or for any omission of information; (b) for any action taken, cost / expenses / losses incurred, by you or any other person, based on the information given on the portal; or (c) for any act or omission of the developers or any default or failure or breach on their part, including with respect to delivery of any services or amenities advertised and any delay in delivery or completion of the property.</p>
                                                        <p>Please note that this disclaimer is in addition to the provisions of any other disclaimer displayed / listed on Realezi. We reserve the right to revise this Disclaimer Policy at any time without prior notice. We recommend periodically reviewing this Disclaimer Policy to stay informed of any updates.</p>
                                                    </li>
                                            </div>
                                        </div>
                                    </div>
                                </div><!--  end col -->
                            </div><!--end row-->
        
                        </div>
                        <!-- end tab pane -->

                        <div class="tab-pane fade" id="whatsapp-notification-info" role="tabpanel">
                            <p><img src="https://upload.wikimedia.org/wikipedia/commons/5/5e/WhatsApp_icon.png" style="height: 30px;">You are subscribed to Whatsapp notification on this number : 8780297622</p>
                            <p>Don't need Whatsapp notifications any longer?</p>
                            <div class="d-flex align-items-start gap-3 mt-4">
                                <button class="btn btn-danger">Subscribe</button>
                            </div> 
                        </div>
                        <!-- end tab pane -->

                        <div class="tab-pane fade" id="email-notification-info" role="tabpanel">
                            <div class="mt-4 mt-lg-0">
                                <h5>Promotional Email</h5>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="radio" name="promotionalEmail" id="promotionalEmail1">
                                    <label class="form-check-label" for="promotionalEmail1">
                                        Yes
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="promotionalEmail" id="promotionalEmail2">
                                    <label class="form-check-label" for="promotionalEmail2">
                                        No
                                    </label>
                                </div>
                            </div>
                            <div class="mt-4 mt-lg-3">
                                <h5>Marketing Email</h5>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="radio" name="marketingEmail" id="marketingEmail1">
                                    <label class="form-check-label" for="marketingEmail1">
                                        Yes
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="marketingEmail" id="marketingEmail2">
                                    <label class="form-check-label" for="marketingEmail2">
                                        No
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!-- end tab pane -->

                        <div class="tab-pane fade" id="tax-info" role="tabpanel">
                            <h5>Tax Details</h5>
                        </div>
                        <!-- end tab pane -->

                        <div class="tab-pane fade" id="change-password-info" role="tabpanel">
                            <form action="{% url "profile-settings" %}" method="POST">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label class="form-label" for="old_password">Old Password</label>
                                    <input type="password" class="form-control" id="old_password" name="old_password" placeholder="Enter Old Password">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="new_password">New Password</label>
                                    <input type="password" class="form-control" id="new_password" name="new_password" placeholder="Enter New Password">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="confirm_password">Confirm New Password</label>
                                    <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Enter Confirm New Password">
                                </div>
                                <div class="d-flex align-items-start gap-3 mt-4">
                                    <button type="submit" class="btn" style="background-color: #273e6b;color:white !important;">Change Password</button>
                                </div>
                            </form>
                        </div>
                        <!-- end tab pane -->
                    </div>
                    <!-- end tab content -->
                
            </div>
            <!-- end card body -->
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->

{% endblock content %}