{% extends "builderpanel/base.html" %}
{% load static %}
{% block content %}

    <style>
        /* From Uiverse.io by talhaabu1 */ 
        .checkbox-wrapper-23 *,
        .checkbox-wrapper-23 *:after,
        .checkbox-wrapper-23 *:before {
        box-sizing: border-box;
        }

        .checkbox-wrapper-23 input {
        position: absolute;
        opacity: 0;
        }

        .checkbox-wrapper-23 input:checked + label svg path {
        stroke-dashoffset: 0;
        }

        .checkbox-wrapper-23 input:focus + label {
        transform: scale(1.03);
        }

        .checkbox-wrapper-23 input + label {
        display: block;
        border: 2px solid rgb(92, 92, 92);
        width: var(--size);
        height: var(--size);
        border-radius: 6px;
        cursor: pointer;
        transition: all .2s ease;
        }

        .checkbox-wrapper-23 input + label:active {
        transform: scale(1.05);
        border-radius: 12px;
        }

        .checkbox-wrapper-23 input + label svg {
        pointer-events: none;
        padding: 5%;
        }

        .checkbox-wrapper-23 input + label svg path {
        fill: none;
        stroke: rgb(0, 0, 0);
        stroke-width: 4px;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-dasharray: 100;
        stroke-dashoffset: 101;
        transition: all 250ms cubic-bezier(1,0,.37,.91);
        }

    </style>

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                <h4 class="mb-sm-0">My Property</h4>

                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Home</a></li>
                        <li class="breadcrumb-item active">My Property</li>
                    </ol>
                </div>

            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <table id="fixed-header" class="table table-bordered dt-responsive nowrap table-striped align-middle" style="width:100%">
                        <thead>
                            <tr>
                                <th>Sr No</th>
                                <th>Property ID</th>
                                <th>Property Name</th>
                                <th>Price</th>                                       
                                <th>Sales Head</th>
                                <th>Sales Head Contact</th>
                                <th>Total Site Visits</th>
                                <th>Interested Customers</th>
                                <th>Created Date</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for property in properties %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ property.property_unique_id}}</td>
                                <td>{{ property.name }}</td>
                                <td>Rs. {{ property.price }}</td>
                                <td>{{ property.property_sales_head|default_if_none:'' }}</td>
                                <td>{{ property.sales_head_contact_no|default_if_none:'' }}</td>
                                <td>{{ property.site_visits|default_if_none:0 }}</td>
                                <td>{{ property.property_visits|default_if_none:0 }}</td>
                                <td>{{ property.created_date|default_if_none:'' }}</td>
                                <td>
                                    {% if property.is_active %}
                                        <span>Active</span>
                                    {% else %}
                                        <span class="text-danger">Under Review</span>
                                    {% endif %}
                                </td>
                                <td>
                                    <div class="d-flex gap-3">
                                        <div class="dropdown d-inline-block">
                                            <button class="btn btn-subtle-secondary btn-sm dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="ri-more-fill align-middle"></i>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-end">
                                                <li><a href="{% url 'propertydetails' property.property_unique_id %}" class="dropdown-item"><i class="ri-eye-fill align-bottom me-2 text-muted"></i> View</a></li>
                                                <li>
                                                    {% if property.property_type == 'residential' %}
                                                    <a href="{% url 'edit-builder-property' property.property_unique_id %}" class="dropdown-item edit-item-btn"><i class="ri-pencil-fill align-bottom me-2 text-muted"></i> Edit</a>
                                                    {% elif property.property_type == 'commercial' %}
                                                    <a href="{% url 'edit-builder-property' property.property_unique_id %}" class="dropdown-item edit-item-btn"><i class="ri-pencil-fill align-bottom me-2 text-muted"></i> Edit</a>
                                                    {% else %}
                                                    <a href="{% url 'edit-residential-commercial' property.property_unique_id %}" class="dropdown-item edit-item-btn"><i class="ri-pencil-fill align-bottom me-2 text-muted"></i> Edit</a>
                                                    {% endif %}
                                                </li>
                                                <li><a href="#removePropertytModal" class="dropdown-item remove-item-btn" data-bs-toggle="modal" data-bs-target="#removePropertytModal{{property.property_unique_id}}"><i class="ri-delete-bin-fill align-bottom me-2 text-muted"></i> Delete</a></li>
                                                
                                            </ul>
                                        </div>                                    
                                        <div class="container">
                                            <form action="{% url 'builder-property-status' property.property_unique_id %}" method="post" id="toggle-form-{{ property.property_unique_id }}">
                                                {% csrf_token %}
                                                <div class="form-check form-switch form-switch-lg" dir="ltr">
                                                    <input type="checkbox" class="form-check-input"  id="checkbox{{ property.property_unique_id }}" {% if property.is_active %}checked{% endif %} onchange="this.form.submit()">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div><!--end row-->
    
    {% for property in properties %}
    <div id="removePropertytModal{{property.property_unique_id}}" class="modal fade zoomIn" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
                </div>
                <div class="modal-body">
                    <div class="mt-2 text-center">
                        <div class="text-danger">
                            <i class="bi bi-trash display-5"></i>
                        </div>
                        <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
                            <h4>Are you Sure ?</h4>
                            <p class="text-muted mx-4 mb-0">Are you Sure You want to Remove this Property ?</p>
                        </div>
                    </div>
                    <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                        <button type="button" class="btn w-sm btn-light" data-bs-dismiss="modal">Close</button>
                        <a href="{% url 'builder-property-delete' property.property_unique_id %}"><button type="button" class="btn w-sm btn-danger" id="remove-project">Yes, Delete It!</button></a>
                    </div>
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    {% endfor %}

{% endblock content %}