{% extends "builderpanel/base.html" %}
{% load static %}
{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.1/gsap.min.js"></script>
<style>
    .col-lg-4 {
        padding-right: 10px;
    }

    .card-effect {
        position: relative;
        background-color: hsla(240, 15%, 9%, 1);
        background: linear-gradient(to bottom,
                #111f3c 0%,
                rgba(3, 45, 96, 1) 50%,
                rgba(1, 118, 211, 1) 100%);
        /* background: #111f3c; */
        border-radius: 18px;
        background: radial-gradient(farthest-corner at 50% 50%,
                #111f3c 0%,
                #111f3c 70%,
                rgba(3, 45, 96, 1) 70%,
                rgba(1, 118, 211, 1) 100%);
        /* box-shadow: 0px -16px 24px 0px rgba(255, 255, 255, 0.25) inset; */
    }

    .card-effect:hover {
        transform: unset !important;
        /* box-shadow: 0px -16px 24px 0px rgba(255, 255, 255, 0.25) inset; */
    }

    .card-effect .card__border {
        overflow: hidden;
        pointer-events: none;
        position: absolute;
        z-index: -10;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: calc(100% + 3px);
        height: calc(100% + 3px);
        background-image: linear-gradient(0deg,
                hsl(0, 0%, 100%) -50%,
                hsl(0, 0%, 40%) 100%);

        border-radius: 18px;
    }

    /* @keyframes rotate {
        to {
            transform: rotate(360deg);
        }
    } */

    .card-effect .card__border::before {
        content: "";
        pointer-events: none;
        position: fixed;
        z-index: 200;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%), rotate(0deg);
        transform-origin: left;

        width: 300%;
        height: 30rem;
        background-image: linear-gradient(0deg,
                hsla(0, 0%, 100%, 0) 0%,
                hsl(277, 95%, 60%) 40%,
                hsl(277, 95%, 60%) 60%,
                hsla(0, 0%, 40%, 0) 100%);

        animation: rotate 8s linear infinite;
    }

    .card-effect .card-footer {
        background-color: transparent !important;
    }

    .card-effect .card-footer a:hover {
        color: white !important;
    }

    .card-effect .image img {
        height: 180px;
        /* border-radius: 18px 18px 0px 0px; */
    }

    #nav {
        text-align: center;
        margin: 0 auto;
        /* width: 135px; */
    }

    .demoWrapper {
        width: 680px;
        height: 400px;
        -webkit-font-smoothing: antialiased;
        margin: 50px auto;
        padding: 1px;
    }

    .stage {
        height: 325px;
        margin-top: 15px;
        margin-left: 15px;
        color: #ddd;
        margin-right: 10px;
        font-family: Arial, Helvetica, Verdana;
    }

    .box {
        position: absolute;
        /* width: 450px; */
        /* height: 450px; */
        display: inline-block;
        margin: 10px 20px 20px 235px;
        display: inline-block;
        overflow: hidden;
    }

    .box>img {
        visibility: hidden;
        /* width: 180px; */
        height: auto;
        border: 0 solid transparent;
        outline: 0 solid transparent;
    }
</style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                <h4 class="mb-sm-0">Our Services</h4>

                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Home</a></li>
                        <li class="breadcrumb-item active">Services</li>
                    </ol>
                </div>
                
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row mb-3" style="margin-left:-250px;">
       

        <div class="demoWrapper">
            <div class="stage">
                <div class="box col-6 mb-3">
                    <div class="">
                        <div class="card card-height-100 card-animate card-effect">
                            <div class="card__border"></div>
                            <div class="image">
                                <img class="card-img-top img-fluid" src="{% static 'service/home-loan.jpg' %}"
                                    alt="Card image cap">
                            </div>
                            <div class="card-body">
                                <h4 class="card-title mb-2 text-white">Home Loan</h4>
                                <p class="card-text mb-0 text-white">Whether article spirits new her covered hastily
                                    sitting
                                    her. Money witty books nor son add. Chicken age had evening believe but proceed
                                    pretend mrs.</p>
                            </div>
                            <div class="card-footer position-relative">
                                <a href="javascript:void(0);" style="" class="card-link link-secondary text-white">Get
                                    Service <i class="ri-arrow-right-s-line ms-1 align-middle lh-1"></i></a>
                            </div>
                        </div><!-- end card -->
                    </div><!-- end col -->
                </div>
                <div class="box col-6 mb-3">
                    <div class="">
                        <div class="card card-height-100 card-animate card-effect">
                            <div class="card__border"></div>
                            <div class="image">
                                <img class="card-img-top img-fluid" src="{% static 'service/solar-panel.jpg' %}"
                                    alt="Card image cap">
                            </div>
                            <div class="card-body">
                                <h4 class="card-title mb-2 text-white">Solar-Panels</h4>
                                <p class="card-text mb-0 text-white">Whether article spirits new her covered hastily
                                    sitting
                                    her. Money witty books nor son add. Chicken age had evening believe but proceed
                                    pretend mrs.</p>
                            </div>
                            <div class="card-footer position-relative">
                                <a href="javascript:void(0);" class="card-link link-secondary text-white">Get
                                    Service <i class="ri-arrow-right-s-line ms-1 align-middle lh-1"></i></a>
                            </div>
                        </div><!-- end card -->
                    </div><!-- end col -->
                </div>
                <div class="box col-6 mb-3">
                    <div class="">
                        <div class="card card-height-100 card-animate card-effect">
                            <div class="card__border"></div>
                            <div class="image">
                                <img class="card-img-top img-fluid" src="{% static 'service/architects.jpg' %}"
                                    alt="Card image cap">
                            </div>
                            <div class="card-body">
                                <h4 class="card-title mb-2 text-white">Architects</h4>
                                <p class="card-text mb-0 text-white">Whether article spirits new her covered hastily
                                    sitting
                                    her. Money witty books nor son add. Chicken age had evening believe but proceed
                                    pretend mrs.</p>
                            </div>
                            <div class="card-footer position-relative">
                                <a href="javascript:void(0);" class="card-link link-secondary text-white">Get
                                    Service <i class="ri-arrow-right-s-line ms-1 align-middle lh-1"></i></a>
                            </div>
                        </div><!-- end card -->
                    </div><!-- end col -->
                </div>
                <div class="box col-6 mb-3">
                    <div class="">
                        <div class="card card-height-100 card-animate card-effect">
                            <div class="card__border"></div>
                            <div class="image">
                                <img class="card-img-top img-fluid" src="{% static 'service/interior-design.jpg' %}"
                                    alt="Card image cap">
                            </div>
                            <div class="card-body">
                                <h4 class="card-title mb-2 text-white">Interior-Design</h4>
                                <p class="card-text mb-0 text-white">Whether article spirits new her covered hastily
                                    sitting
                                    her. Money witty books nor son add. Chicken age had evening believe but proceed
                                    pretend mrs.</p>
                            </div>
                            <div class="card-footer position-relative">
                                <a href="javascript:void(0);" class="card-link link-secondary text-white">Get
                                    Service <i class="ri-arrow-right-s-line ms-1 align-middle lh-1"></i></a>
                            </div>
                        </div><!-- end card -->
                    </div><!-- end col -->
                </div>
                <div class="box col-6 mb-3">
                    <div class="">
                        <div class="card card-height-100 card-animate card-effect">
                            <div class="card__border"></div>
                            <div class="image">
                                <img class="card-img-top img-fluid" src="{% static 'service/legal-aid.jpg' %}"
                                    alt="Card image cap">
                            </div>
                            <div class="card-body">
                                <h4 class="card-title mb-2 text-white">Legal-Aid</h4>
                                <p class="card-text mb-0 text-white">Whether article spirits new her covered hastily
                                    sitting
                                    her. Money witty books nor son add. Chicken age had evening believe but proceed
                                    pretend mrs.</p>
                            </div>
                            <div class="card-footer position-relative">
                                <a href="javascript:void(0);" class="card-link link-secondary text-white">Get
                                    Service <i class="ri-arrow-right-s-line ms-1 align-middle lh-1"></i></a>
                            </div>
                        </div><!-- end card -->
                    </div><!-- end col -->
                </div>
                <div class="box col-6 mb-3">
                    <div class="">
                        <div class="card card-height-100 card-animate card-effect">
                            <div class="card__border"></div>
                            <div class="image">
                                <img class="card-img-top img-fluid" src="{% static 'service/grocery.jpg' %}"
                                    alt="Card image cap">
                            </div>
                            <div class="card-body">
                                <h4 class="card-title mb-2 text-white">Kiranevala</h4>
                                <p class="card-text mb-0 text-white">Whether article spirits new her covered hastily
                                    sitting
                                    her. Money witty books nor son add. Chicken age had evening believe but proceed
                                    pretend mrs.</p>
                            </div>
                            <div class="card-footer position-relative">
                                <a href="javascript:void(0);" class="card-link link-secondary text-white">Get
                                    Service <i class="ri-arrow-right-s-line ms-1 align-middle lh-1"></i></a>
                            </div>
                        </div><!-- end card -->
                    </div><!-- end col -->
                </div>
                <div class="box col-6 mb-3">
                    <div class="">
                        <div class="card card-height-100 card-animate card-effect">
                            <div class="card__border"></div>
                            <div class="image">
                                <img class="card-img-top img-fluid" src="{% static 'service/movers-packers.jpg' %}"
                                    alt="Card image cap">
                            </div>
                            <div class="card-body">
                                <h4 class="card-title mb-2 text-white">Movers and Packers</h4>
                                <p class="card-text mb-0 text-white">Whether article spirits new her covered hastily
                                    sitting
                                    her. Money witty books nor son add. Chicken age had evening believe but proceed
                                    pretend mrs.</p>
                            </div>
                            <div class="card-footer position-relative">
                                <a href="javascript:void(0);" class="card-link link-secondary text-white">Get
                                    Service <i class="ri-arrow-right-s-line ms-1 align-middle lh-1"></i></a>
                            </div>
                        </div><!-- end card -->
                    </div><!-- end col -->
                </div>
            </div>
        </div>
        <nav id="nav">
            <button id="prev" data-increment="-1" class="btn btn-primary">Previous</button>
            <button id="next" data-increment="1" class="btn btn-primary">Next</button>
        </nav>

    </div>
      <!-- GSAP Core (TweenLite) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.6/TweenLite.min.js"></script>

<!-- GSAP Plugins (TweenMax) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.6/TweenMax.min.js"></script>
    <script>
        var stage = document.querySelector('.stage');
        var boxes = document.querySelectorAll('.box');
        var angle = 360 / boxes.length;
        var prevButton = document.querySelector('#prev');
        var nextButton = document.querySelector('#next');
        
        gsap.set(stage, {
          perspective: 1100,
          transformStyle: "preserve-3d"
        });
        
        boxes.forEach(function(element, index) {
          gsap.set(element, {
            rotationY: index * angle,
            transformOrigin: "50% 50% -420"
          });
          
          element.dataset.rotationY = index * angle;
        });
        
        prevButton.addEventListener("click", function() {
          console.log("Prev button clicked");
          gsap.to(boxes, {
            duration: 1,
            rotationY: (index, target) => {
              var y1 = +target.dataset.rotationY;
              var y2 = y1 - angle;
              target.dataset.rotationY = y2;
              return y2;
            },
            stagger: 0
          });
        });
        
        nextButton.addEventListener("click", function() {
          console.log("Next button clicked");
          gsap.to(boxes, {
            duration: 1,
            rotationY: (index, target) => {
              var y1 = +target.dataset.rotationY;
              var y2 = y1 + angle;
              target.dataset.rotationY = y2;
              return y2;
            },
            stagger: 0
          });
        });
        console.log("true");
            </script>
{% endblock content %}