{% extends "builderpanel/base.html" %}
{% load static %}
{% block content %}

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                <h4 class="mb-sm-0">Set Payments</h4>

                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Home</a></li>
                        <li class="breadcrumb-item active">Set Payments</li>
                    </ol>
                </div>

            </div>
        </div>
    </div>
    <!-- end page title -->
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body form-steps">
                {% for payment in payments %}
                <form action="{% url "set-payments" payment.property_id %}" method="post" class="tablelist-form" autocomplete="off">
                    {% csrf_token %}
                    <input type="hidden" name="property_id" value="{{ payment.property_id }}">
                    <input type="hidden" name="property_name" value="{{ payment.property_name }}">
                    <input type="hidden" name="buyer_id" value="{{ payment.buyer_id }}">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-4">
                                <label for="total_payment{{ payment.property_id }}" class="form-label">Total Payment</label>
                                <input type="number" class="form-control" id="total_payment{{ payment.property_id }}" name="total_payment" placeholder="Enter Total Payment" value="{{ payment.total_payment }}" oninput="calculatePendingPayment(this, {{ payment.property_id }})">
                            </div>
                            <div class="col-lg-4">
                                <label for="received_payment{{ payment.property_id }}" class="form-label">Received Payment</label>
                                <input type="number" name="received_payment" id="received_payment{{ payment.property_id }}" class="form-control" placeholder="Enter Received Payment" value="{{ payment.received_payment }}" oninput="calculatePendingPayment(this, {{ payment.property_id }})">
                            </div>
                            <div class="col-lg-4">
                                <label for="pending_payment{{ payment.property_id }}" class="form-label">Pending Payment</label>
                                <input type="number" class="form-control" id="pending_payment{{ payment.property_id }}" name="pending_payment" placeholder="Pending Payment" value="{{ payment.pending_payment }}" readonly>
                            </div>
                            <div class="row">
                                <div class="col-lg-3">
                                    <label class="form-label mt-3">Payment Amount 1</label>
                                    <input type="number" class="form-control" id="payment_amount_1" name="payment_amount[]" placeholder="Enter Amount">
                                </div>
                                <div class="col-lg-3">
                                    <label class="form-label mt-3">Payment Date 1</label>
                                    <input type="date" class="form-control" id="payment_date_1" name="payment_date[]">
                                </div>
                                <div class="col-lg-3" style="margin-top:45px;">
                                    <div class="avatar-xs flex-shrink-0"> 
                                        <div class="avatar-title bg-body-primary text-light border border-primary-subtle rounded-circle" id="plus-button">
                                            <i class="bi bi-plus" style="font-size:25px;"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="additional-fields-container"></div>
                            <div class="hstack gap-2 justify-content-end">
                                <button type="submit" class="btn" style="background-color: #273e6b;color:white !important;">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
                {% endfor %}
            </div>
            <!-- end card body -->
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->

    <script>
        function calculatePendingPayment(input, propertyId) {
            const totalPaymentInput = document.getElementById(`total_payment${propertyId}`);
            const receivedPaymentInput = document.getElementById(`received_payment${propertyId}`);
            const pendingPaymentInput = document.getElementById(`pending_payment${propertyId}`);

            const totalPayment = parseFloat(totalPaymentInput.value);
            const receivedPayment = parseFloat(receivedPaymentInput.value);

            if (totalPayment && receivedPayment) {
                const pendingPayment = totalPayment - receivedPayment;
                pendingPaymentInput.value = pendingPayment.toFixed(2);
            } else {
                pendingPaymentInput.value = '';
            }
        }
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const plusButton = document.getElementById('plus-button');
            const container = document.getElementById('additional-fields-container');
            let fieldCount = document.querySelectorAll('[id^=payment_amount_]').length; // Initialize fieldCount based on existing fields
    
            function createNewFields() {
                fieldCount++;
        
                const newFields = document.createElement('div');
                newFields.className = 'row';
                newFields.innerHTML = `
                    <div class="col-lg-3">
                        <label class="form-label mt-3">Payment Amount ${fieldCount}</label>
                        <input type="number" class="form-control" id="payment_amount_${fieldCount}" name="payment_amount[]" placeholder="Enter Amount">
                    </div>
                    <div class="col-lg-3">
                        <label class="form-label mt-3">Payment Date ${fieldCount}</label>
                        <input type="date" class="form-control" id="payment_date_${fieldCount}" name="payment_date[]">
                    </div>
                    <div class="col-lg-3" style="margin-top:45px;">
                        <div class="avatar-xs flex-shrink-0"> 
                            <div class="avatar-title bg-body-primary text-light border border-primary-subtle rounded-circle">
                                <i class="bi bi-plus" style="font-size:25px;"></i>
                            </div>
                        </div>
                    </div>
                `;
        
                container.appendChild(newFields);
        
                const newPlusButton = newFields.querySelector('.avatar-title');
                newPlusButton.addEventListener('click', function () {
                    newPlusButton.style.display = 'none';
                    createNewFields();
                });
            }
    
            plusButton.addEventListener('click', function () {
                plusButton.style.display = 'none';
                createNewFields();
            });
        });
    </script>
    
{% endblock content %}