{% extends "builderpanel/base.html" %}
{% load static %}
{% block content %}

    <style>
        .component-title {
        width: 100%;
        position: absolute;
        z-index: 999;
        top: 30px;
        left: 0;
        padding: 0;
        margin: 0;
        font-size: 1rem;
        font-weight: 700;
        color: #888;
        text-align: center;
        }

        .tab-container {
        position: relative;

        display: flex;
        flex-direction: row;
        align-items: flex-start;

        padding: 2px;

        background-color: #dadadb;
        border-radius: 9px;
        }

        .indicator {
        content: "";
        width: 130px;
        height: 28px;
        background: #ffffff;
        position: absolute;
        top: 2px;
        left: 2px;
        z-index: 9;
        border: 0.5px solid rgba(0, 0, 0, 0.04);
        box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12), 0px 3px 1px rgba(0, 0, 0, 0.04);
        border-radius: 7px;
        transition: all 0.2s ease-out;
        }

        .tab {
        width: 130px;
        height: 28px;
        position: absolute;
        z-index: 99;
        outline: none;
        opacity: 0;
        }

        .tab_label {
        width: 130px;
        height: 28px;

        position: relative;
        z-index: 999;

        display: flex;
        align-items: center;
        justify-content: center;

        border: 0;

        font-size: 0.75rem;
        opacity: 0.6;

        cursor: pointer;
        }

        .tab--1:checked ~ .indicator {
        left: 2px;
        }

        .tab--2:checked ~ .indicator {
        left: calc(130px + 2px);
        }

        .tab--3:checked ~ .indicator {
        left: calc(130px * 2 + 2px);
        }

        .tab--4:checked ~ .indicator {
        left: calc(130px * 3 + 2px);
        }

        .tab--5:checked ~ .indicator {
        left: calc(130px * 4 + 2px);
        }

    </style>

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                <h4 class="mb-sm-0">Site Visits</h4>

                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Home</a></li>
                        <li class="breadcrumb-item active">Site Visits</li>
                    </ol>
                </div>

            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-xxl-12">
            <div class="card">
                <div class="card-body">
                    <!-- Nav tabs -->
                    <div class="tab-container">
                        <input type="radio" name="tab" id="pending" class="tab tab--1" checked />
                        <label class="tab_label" for="pending">Pending</label>

                        <input type="radio" name="tab" id="confirmation" class="tab tab--2" />
                        <label class="tab_label" for="confirmation">Confirmation</label>
                        
                        <input type="radio" name="tab" id="done" class="tab tab--3" />
                        <label class="tab_label" for="done">Done</label>
                        
                        <input type="radio" name="tab" id="rescheduled" class="tab tab--4"/>
                        <label class="tab_label" for="rescheduled">Rescheduled</label>
                        
                        <input type="radio" name="tab" id="canceled" class="tab tab--5"/>
                        <label class="tab_label" for="canceled">Canceled</label>

                        <div class="indicator"></div>
                    </div>
                    <!-- Tab panes -->
                    <div class="row mt-4 date-filter" style="width:100%">
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div>
                                <label for="from-date" class="form-label">From Date</label>
                                <input type="date" class="form-control" id="from-date">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div>
                                <label for="to-date" class="form-label">To Date</label>
                                <input type="date" class="form-control" id="to-date">
                            </div>
                        </div>
                    </div>
                    <div class="tab-content text-muted mt-3">
                        <div class="tab-pane active" id="pending-tab" role="tabpanel">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="example" class="table table-bordered dt-responsive nowrap table-striped align-middle" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Property ID</th>
                                                <th>Property Name</th>
                                                <th>Buyer ID</th>
                                                <th>Buyer Name</th>
                                                <th>RM Name</th>
                                                <th>Date</th>           
                                                <th>Time Slot</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for visit in site_visits %}                                          
                                                {% if visit.status == 0 %}
                                                <tr>
                                                    <td>{{ visit.property_id }}</td>
                                                    <td>{{ visit.property_name }}</td>
                                                    <td>{{ visit.buyer_id }}</td>
                                                    <td>{{ visit.buyer_name }}</td>
                                                    <td>{{ visit.rm_name|default_if_none:"" }}</td>
                                                    <td>{{ visit.visit_date }}</td>
                                                    <td>{{ visit.visit_time }}</td>
                                                </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div><!-- end card-body -->
                        </div>
                        <div class="tab-pane" id="confirmation-tab" role="tabpanel">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="example1" class="table table-bordered dt-responsive nowrap table-striped align-middle" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Property ID</th>
                                                <th>Property Name</th>
                                                <th>Buyer ID</th>
                                                <th>Buyer Name</th>
                                                <th>RM Name</th>
                                                <th>Date</th>           
                                                <th>Time Slot</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for visit in site_visits %}                                          
                                                {% if visit.status == 1 %}
                                                <tr>
                                                    <td>{{ visit.property_id }}</td>
                                                    <td>{{ visit.property_name }}</td>
                                                    <td>{{ visit.buyer_id }}</td>
                                                    <td>{{ visit.buyer_name }}</td>
                                                    <td>{{ visit.rm_name|default_if_none:"" }}</td>
                                                    <td>{{ visit.visit_date }}</td>
                                                    <td>{{ visit.visit_time }}</td>
                                                </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div><!-- end card-body -->
                        </div>
                        <div class="tab-pane" id="done-tab" role="tabpanel">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="example2" class="table table-bordered dt-responsive nowrap table-striped align-middle" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Property ID</th>
                                                <th>Property Name</th>
                                                <th>Buyer ID</th>
                                                <th>Buyer Name</th>
                                                <th>RM Name</th>
                                                <th>Date</th>           
                                                <th>Time Slot</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for visit in site_visits %}                                            
                                                {% if visit.status == 9 %}
                                                <tr>
                                                    <td>{{ visit.property_id }}</td>
                                                    <td>{{ visit.property_name }}</td>
                                                    <td>{{ visit.buyer_id }}</td>
                                                    <td>{{ visit.buyer_name }}</td>
                                                    <td>{{ visit.rm_name|default_if_none:"" }}</td>
                                                    <td>{{ visit.visit_date }}</td>
                                                    <td>{{ visit.visit_time }}</td>
                                                </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div><!-- end card-body -->
                        </div>
                        <div class="tab-pane" id="rescheduled-tab" role="tabpanel">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="example3" class="table table-bordered dt-responsive nowrap table-striped align-middle" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Property ID</th>
                                                <th>Property Name</th>
                                                <th>Buyer ID</th>
                                                <th>Buyer Name</th>
                                                <th>RM Name</th>
                                                <th>Date</th>           
                                                <th>Time Slot</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for visit in site_visits %} 
                                                {% if visit.status == 3 or visit.status == 4 or visit.status == 5 %}
                                                <tr>
                                                    <td>{{ visit.property_id }}</td>
                                                    <td>{{ visit.property_name }}</td>
                                                    <td>{{ visit.buyer_id }}</td>
                                                    <td>{{ visit.buyer_name }}</td>
                                                    <td>{{ visit.rm_name|default_if_none:"" }}</td>
                                                    <td>{{ visit.visit_date }}</td>
                                                    <td>{{ visit.visit_time }}</td>
                                                </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div><!-- end card-body -->
                        </div>
                        <div class="tab-pane" id="canceled-tab" role="tabpanel">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="example4" class="table table-bordered dt-responsive nowrap table-striped align-middle" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Property ID</th>
                                                <th>Property Name</th>
                                                <th>Buyer ID</th>
                                                <th>Buyer Name</th>
                                                <th>RM Name</th>
                                                <th>Date</th>           
                                                <th>Time Slot</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for visit in site_visits %}                                            
                                                {% if visit.status == 6 or visit.status == 7 or visit.status == 8 %}
                                                <tr>
                                                    <td>{{ visit.property_id }}</td>
                                                    <td>{{ visit.property_name }}</td>
                                                    <td>{{ visit.buyer_id }}</td>
                                                    <td>{{ visit.buyer_name }}</td>
                                                    <td>{{ visit.rm_name|default_if_none:"" }}</td>
                                                    <td>{{ visit.visit_date }}</td>
                                                    <td>{{ visit.visit_time }}</td>
                                                </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div><!-- end card-body -->
                        </div>
                    </div>
                </div><!-- end card-body -->
            </div><!-- end card -->
        </div>
        <!--end col-->
    </div>

    <script>
        const tabs = document.querySelectorAll('.tab');
        const tabContent = document.querySelectorAll('.tab-pane');

        tabs.forEach((tab, index) => {
            tab.addEventListener('change', () => {
                if (tab.checked) {
                    tabContent.forEach((content, contentIndex) => {
                        if (contentIndex === index) {
                            content.classList.add('active');
                        } else {
                            content.classList.remove('active');
                        }
                    });
                }
            });
        });
    </script>

    <script>
        document.getElementById('from-date').addEventListener('change', filterTables);
        document.getElementById('to-date').addEventListener('change', filterTables);
        
        function filterTables() {
            const fromDate = new Date(document.getElementById('from-date').value);
            const toDate = new Date(document.getElementById('to-date').value);
        
            const tables = document.querySelectorAll('.table-responsive table tbody');
            tables.forEach((tbody) => {
                const rows = tbody.querySelectorAll('tr');
                rows.forEach((row) => {
                    const dateCell = new Date(row.cells[5].textContent); // Adjust index for date cell
                    if ((!isNaN(fromDate) && dateCell < fromDate) || 
                        (!isNaN(toDate) && dateCell > toDate)) {
                        row.style.display = 'none'; // Hide row
                    } else {
                        row.style.display = ''; // Show row
                    }
                });
            });
        }
    </script>

{% endblock content %}