{% extends "builderpanel/base.html" %}
{% load static %}
{% block content %}

    <style>
        .col-lg-4 {
            padding-right: 10px;
        }
    </style>

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                <h4 class="mb-sm-0">Subscription</h4>

                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Home</a></li>
                        <li class="breadcrumb-item active">Subscription</li>
                    </ol>
                </div>
                
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row justify-content-center">
        <div class="col-xxl-12">
            <div class="row">
                <div class="col-lg-4 col-md-6 g-3">
                    <div class="card pricing-box">
                        <div class="card-body p-4">
                            <div class="d-flex gap-3 align-items-center mb-4 pb-2">
                                <div class="avatar-sm flex-shrink-0">
                                    <div class="avatar-title bg-success-subtle text-success fs-3 rounded">
                                        <i class="ph ph-telegram-logo"></i>
                                    </div>
                                </div>
                                <div class="flex-grow-1">
                                    <h5 class="mb-2">Silver</h5>
                                    <p class="text-muted mb-0">For Startup</p>
                                </div>
                            </div>
                            <div class="mb-4">
                                <h3 class="mb-0 me-2">Free <small class="fw-normal text-muted fs-xs"></small></h3>
                            </div>

                            <div class="mt-4">
                                <ul class="ps-3 vstack gap-3">
                                    <li class="active">Zero Brokerage</li>
                                    <li class="active">Dedicated Relationship</li>
                                    <li class="active">Manager</li>
                                    <li class="active">Property Shortlisting</li>
                                    <li class="active">Best Deals</li>
                                    <li class="active">Unlimited Site visits</li>
                                    <li class="active">Bank Loan Assistance</li>
                                    <li class="active">Post- Purchase Assistance</li>
                                    <li class="text-decoration-line-through text-muted">Assured Cashbacks on Add-On services availed by Realezi</li>
                                    <li class="text-decoration-line-through text-muted">10 Site Visits with Realezi Pick & Drop Service</li>
                                    <li class="text-decoration-line-through text-muted">Assured Cashback On every successful Deal closed with Realezi</li>
                                    <li class="text-decoration-line-through text-muted">Assured Best Deals on Property</li>
                                </ul>
                            </div>

                            <div class="mt-4">
                                <button class="btn btn-secondary disabled w-100">Your Current Plan</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end col -->
                <div class="col-lg-4 col-md-6 g-3">
                    <div class="card pricing-box ribbon-box right">
                        <div class="ribbon ribbon-danger vertical-shape">Popular</div>
                        <div class="card-body p-4">
                            <div class="d-flex gap-3 align-items-center mb-4 pb-2">
                                <div class="avatar-sm flex-shrink-0">
                                    <div class="avatar-title bg-success-subtle text-success fs-3 rounded">
                                        <i class="ph ph-telegram-logo"></i>
                                    </div>
                                </div>
                                <div class="flex-grow-1">
                                    <h5 class="mb-2">Gold</h5>
                                    <p class="text-muted mb-0">Professional plans</p>
                                </div>
                            </div>
                            <div class="mb-4">
                                <h3 class="mb-0 me-2">Rs.899.00 <small class="fw-normal text-muted fs-xs">/Monthly</small></h3>
                            </div>
                            <div class="mt-4">
                                <ul class="ps-3 vstack gap-3">
                                    <li class="active">Zero Brokerage</li>
                                    <li class="active">Dedicated Relationship</li>
                                    <li class="active">Manager</li>
                                    <li class="active">Property Shortlisting</li>
                                    <li class="active">Best Deals</li>
                                    <li class="active">Unlimited Site visits</li>
                                    <li class="active">Bank Loan Assistance</li>
                                    <li class="active">Post- Purchase Assistance</li>
                                    <li class="active">Assured Cashbacks on Add-On services availed by Realezi</li>
                                    <li class="active">10 Site Visits with Realezi Pick & Drop Service</li>
                                    <li class="active">Assured Cashback upto Rs 10,000 On every successful Deal closed with Realezi</li>
                                    <li class="text-decoration-line-through text-muted">Assured Best Deals on Property</li>
                                </ul>
                            </div>

                            <div class="mt-4">
                                <button class="btn btn-primary w-100">Change Plan</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end col -->
                <div class="col-lg-4 col-md-6 g-3">
                    <div class="card pricing-box">
                        <div class="card-body p-4">
                            <div>
                                <div class="d-flex gap-3 align-items-center mb-4 pb-2">
                                    <div class="avatar-sm flex-shrink-0">
                                        <div class="avatar-title bg-success-subtle text-success fs-3 rounded">
                                            <i class="ph ph-telegram-logo"></i>
                                        </div>
                                    </div>
                                    <div class="flex-grow-1">
                                        <h5 class="mb-2">Platinum</h5>
                                        <p class="text-muted mb-0">Professional plans</p>
                                    </div>
                                </div>
                                <div class="mb-4">
                                    <h3 class="mb-0 me-2">Rs.1699.00 <small class="fw-normal text-muted fs-xs">/Monthly</small></h3>
                                </div>
                                <div class="mt-4">
                                    <ul class="ps-3 vstack gap-3">
                                        <li class="active">Zero Brokerage</li>
                                        <li class="active">Dedicated Relationship</li>
                                        <li class="active">Manager</li>
                                        <li class="active">Property Shortlisting</li>
                                        <li class="active">Best Deals</li>
                                        <li class="active">Unlimited Site visits</li>
                                        <li class="active">Bank Loan Assistance</li>
                                        <li class="active">Post- Purchase Assistance</li>
                                        <li class="active">Assured Cashbacks on Add-On services availed by Realezi</li>
                                        <li class="active">20 Site Visits with Realezi Pick & Drop Service</li>
                                        <li class="active">Assured Cashback upto Rs 25,000 On every successful Deal closed with Realezi</li>
                                        <li class="active">Assured Best Deals on Property</li>
                                    </ul>
                                </div>

                                <div class="mt-4">
                                    <button class="btn btn-primary w-100">Change Plan</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end col -->
            </div><!--end row-->
        </div><!--end col-->
    </div>
    <!-- end row -->

{% endblock content %}