{% extends "builderpanel/base.html" %}
{% load static %}
{% block content %}

    <style>
        .col-lg-4 {
            padding-right: 10px;
        }
    </style>

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                <h4 class="mb-sm-0">Team Details</h4>

                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Home</a></li>
                        <li class="breadcrumb-item active">Team Details</li>
                    </ol>
                </div>

            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="col-xl-12">
        <div class="card">
            <div class="card-body form-steps">
                <form action="#">
                    <div class="step-arrow-nav mb-4">

                        <ul class="nav nav-pills custom-nav nav-justified" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="steparrow-gen-info-tab" data-bs-toggle="pill" data-bs-target="#steparrow-gen-info" type="button" role="tab" aria-controls="steparrow-gen-info" aria-selected="true">Sales Director</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="steparrow-description-info-tab" data-bs-toggle="pill" data-bs-target="#steparrow-description-info" type="button" role="tab" aria-controls="steparrow-description-info" aria-selected="false">Project Sales Manager</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-experience-tab" data-bs-toggle="pill" data-bs-target="#pills-experience" type="button" role="tab" aria-controls="pills-experience" aria-selected="false">Accounts & Finance Team</button>
                            </li>
                        </ul>
                    </div>

                    <div class="tab-content">
                        <div class="tab-pane fade  show active" id="steparrow-gen-info" role="tabpanel" aria-labelledby="steparrow-gen-info-tab">
                            <form action="#">
                                <h3>Sales Director / Company Sales Head</h3>
                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        <label class="form-label" for="steparrow-gen-info-username-input">Name</label>
                                        <input type="text" class="form-control" id="steparrow-gen-info-username-input" placeholder="Enter Name">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        <label class="form-label" for="steparrow-gen-info-email-input">Email</label>
                                        <input type="text" class="form-control" id="steparrow-gen-info-email-input" placeholder="Enter Email">
                                    </div>
                                </div>
                                <div>
                                    <label class="form-label" for="steparrow-gen-info-confirm-password-input">Number</label>
                                    <input type="text" class="form-control" id="steparrow-gen-info-confirm-password-input" placeholder="Enter Number">
                                </div>
                                <div class="d-flex align-items-start gap-3 mt-4">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </form>
                        </div>
                        <!-- end tab pane -->

                        <div class="tab-pane fade" id="steparrow-description-info" role="tabpanel" aria-labelledby="steparrow-description-info-tab">
                            <form action="#">
                                <h3>Project Sales Manager / Sales manager</h3>
                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        <label class="form-label" for="steparrow-gen-info-username-input">Name</label>
                                        <input type="text" class="form-control" id="steparrow-gen-info-username-input" placeholder="Enter Name">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        <label class="form-label" for="steparrow-gen-info-email-input">Email</label>
                                        <input type="text" class="form-control" id="steparrow-gen-info-email-input" placeholder="Enter Email">
                                    </div>
                                </div>
                                <div>
                                    <label class="form-label" for="steparrow-gen-info-confirm-password-input">Number</label>
                                    <input type="text" class="form-control" id="steparrow-gen-info-confirm-password-input" placeholder="Enter Number">
                                </div>
                                <div class="d-flex align-items-start gap-3 mt-4">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </form>
                        </div>
                        <!-- end tab pane -->

                        <div class="tab-pane fade" id="pills-experience" role="tabpanel">
                            <form action="#">
                                <h3>Accounts & Finance Team</h3>
                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        <label class="form-label" for="steparrow-gen-info-username-input">Name</label>
                                        <input type="text" class="form-control" id="steparrow-gen-info-username-input" placeholder="Enter Name">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        <label class="form-label" for="steparrow-gen-info-email-input">Email</label>
                                        <input type="text" class="form-control" id="steparrow-gen-info-email-input" placeholder="Enter Email">
                                    </div>
                                </div>
                                <div>
                                    <label class="form-label" for="steparrow-gen-info-confirm-password-input">Number</label>
                                    <input type="text" class="form-control" id="steparrow-gen-info-confirm-password-input" placeholder="Enter Number">
                                </div>
                                <div class="d-flex align-items-start gap-3 mt-4">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </form>
                        </div>
                        <!-- end tab pane -->
                    </div>
                    <!-- end tab content -->
                </form>
            </div>
            <!-- end card body -->
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->

{% endblock content %}