{% extends "builderpanel/base.html" %}
{% load static %}
{% block content %}

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                <h4 class="mb-sm-0">Total Outstanding Payment</h4>

                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Home</a></li>
                        <li class="breadcrumb-item active">Total Outstanding Payment</li>
                    </ol>
                </div>

            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="card card-height-100">
                <div class="card-body">
                    <div class="d-flex">
                        <div class="flex-grow-1">
                            <div class="d-flex flex-column h-100">
                                <div>
                                    <div class="d-flex align-items-center gap-2 mb-4">
                                        <div class="avatar-xs flex-shrink-0">
                                            <div class="avatar-title bg-body-secondary text-primary border border-primary-subtle rounded-circle">
                                                <i class="bi bi-file-earmark-text"></i>
                                            </div>
                                        </div>
                                        <div class="flex-grow-1">
                                            <p class="text-muted mb-0"> Total Amount Received</p>
                                        </div>
                                    </div>
                                    <h3 class="mb-0"><span class="counter-value" data-target="8956">0</span> <small class="text-success fs-xs fw-normal ms-1"><i class="bi bi-arrow-up align-baseline"></i> 12.09%</small></h3>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div><!--end col-->
        <div class="col-lg-4 col-md-6">
            <div class="card card-height-100">
                <div class="card-body">
                    <div class="d-flex">
                        <div class="flex-grow-1">
                            <div class="d-flex flex-column h-100">
                                <div>
                                    <div class="d-flex align-items-center gap-2 mb-4">
                                        <div class="avatar-xs flex-shrink-0">
                                            <div class="avatar-title bg-body-secondary text-success border border-success-subtle rounded-circle">
                                                <i class="bi bi-patch-check-fill"></i>
                                            </div>
                                        </div>
                                        <div class="flex-grow-1">
                                            <p class="text-muted mb-0">Paid Amount</p>
                                        </div>
                                    </div>
                                    <h3 class="mb-0"><span class="counter-value" data-target="4519">0</span> <small class="text-success fs-xs fw-normal ms-1"><i class="bi bi-arrow-up align-baseline"></i> 6.57%</small></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--end col-->
        <div class="col-lg-4 col-md-6">
            <div class="card card-height-100">
                <div class="card-body">
                    <div class="d-flex">
                        <div class="flex-grow-1">
                            <div class="d-flex flex-column h-100">
                                <div>
                                    <div class="d-flex align-items-center gap-2 mb-4">
                                        <div class="avatar-xs flex-shrink-0">
                                            <div class="avatar-title bg-body-secondary text-warning border border-warning-subtle rounded-circle">
                                                <i class="bi bi-clock-history"></i>
                                            </div>
                                        </div>
                                        <div class="flex-grow-1">
                                            <p class="text-muted mb-0">Total Pending Amount</p>
                                        </div>
                                    </div>
                                    <h3 class="mb-0"><span class="counter-value" data-target="2648">0</span></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--end col-->
    </div><!--end row-->

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <table id="alternative-pagination" class="table nowrap dt-responsive align-middle table-hover table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th>SR No.</th>
                                <th>Payment ID</th>
                                <th>Property ID</th>
                                <th>Property Name</th>
                                <th>Customer ID</th>
                                <th>Order Amount</th>
                                <th>Payment Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for history in payment_histories %}
                            <tr {% if history.status == 3 %} style="background-color: red;" {% endif %}>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ history.id }}</td>
                                <td>{{ history.property_id }}</td>
                                <td>{{ history.property_name }}</td>
                                <td>{{ history.buyer_id }}</td>
                                <td>{{ history.payment_amount }}</td>
                                <td>{{ history.payment_date|date:"d M Y" }}</td>
                                <td>
                                    {% if history.status != 3 %}
                                    <button class="btn btn-sm" data-bs-toggle="modal" data-bs-target="#AcceptAmontModal{{history.id}}" style="background-color: #273e6b; color:white !important;">Received</button>
                                    {% endif %}
                                    <button class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#ReschedulePaymentDateModal{{history.id}}">Reschedule</button>
                                    {% if history.status != 3 %}
                                    <button class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#CancelPaymentModal{{history.id}}">Cancel</button>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div><!--end col-->
    </div><!--end row-->

    <div class="mb-3">
        <a href="{% url "payment" %}"><button type="button" class="btn btn-label previestab" style="background-color: #273e6b;color:white !important;" data-previous="steparrow-gen-info-tab"><i class="ri-arrow-left-line label-icon align-middle fs-lg me-2"></i> Back to Payments</button></a>
    </div>

    {% for history in payment_histories %}
    <div id="AcceptAmontModal{{history.id}}" class="modal fade zoomIn" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
                </div>
                <form action="{% url "update-payment-status" %}" method="post">
                    {% csrf_token %}
                    <div class="modal-body">
                        <input type="hidden" name="payment_id" value="{{history.id}}">
                        <input type="hidden" name="tab" value="received_payment">
                        <div class="mt-2 text-center">
                            <div class="text-success">
                                <i class="bi bi-patch-check-fill display-5"></i>
                            </div>
                            <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
                                <h4>Are you Sure ?</h4>
                                <div class="mb-3">
                                    <textarea class="form-control" placeholder="Enter Something..." id="payment_note" rows="3" name="payment_note"></textarea>
                                </div>                                
                                <div class="mb-3 text-start">
                                    <label for="payment_receipt">Upload Payment Receipt</label>
                                    <input class="form-control" type="file" id="payment_receipt"name="payment_receipt">
                                </div>
                                <p class="text-muted mx-4 mb-0">Are you Sure You want to Received this Payment ?</p>
                            </div>
                        </div>
                        <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                            <button type="button" class="btn w-sm btn-light" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn w-sm" id="remove-project" style="background-color: #273e6b; color:white !important;">Yes</button>
                        </div>
                    </div>
                </form>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    {% endfor %}

    {% for history in payment_histories %}
    <div id="ReschedulePaymentDateModal{{history.id}}" class="modal fade zoomIn" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
                </div>
                <form action="{% url "update-payment-status" %}" method="post">
                    {% csrf_token %}
                    <div class="modal-body">
                        <input type="hidden" name="payment_id" value="{{history.id}}">
                        <input type="hidden" name="tab" value="reschedule_date">
                        <div class="mt-2 text-center">
                            <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
                                <h4>Reschedule payment received Date ?</h4>
                                <input type="date" class="form-control" name="reschedule_date">
                            </div>
                        </div>
                        <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                            <button type="button" class="btn w-sm btn-light" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn w-sm" id="remove-project" style="background-color: #273e6b; color:white !important;">Reschedule</button>
                        </div>
                    </div>
                </form>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    {% endfor %}

    {% for history in payment_histories %}
    <div id="CancelPaymentModal{{history.id}}" class="modal fade zoomIn" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
                </div>
                <form action="{% url "update-payment-status" %}" method="post">
                    {% csrf_token %}
                    <div class="modal-body">
                        <input type="hidden" name="payment_id" value="{{history.id}}">
                        <input type="hidden" name="tab" value="cancel_payment">
                        <div class="mt-2 text-center">
                            <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
                                <h4>Cancel Payment</h4>
                                <div class="mb-3">
                                    <textarea class="form-control" placeholder="Enter Something..." id="cancel_payment_note" rows="3" name="cancel_payment_note"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                            <button type="button" class="btn w-sm btn-light" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn w-sm" id="remove-project" style="background-color: #273e6b; color:white !important;">Yes</button>
                        </div>
                    </div>
                </form>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    {% endfor %}
                    
{% endblock content %}