<!doctype html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="RealEstate Admin Dashboard template, UI kit, Bootstrap 4x">
        <meta name="author" content="Thememakker">

        <title>Realezi : Builder</title>
        <link rel="icon" href="favicon.ico" type="image/x-icon"> <!-- Favicon-->
        <link rel="stylesheet" href="https://thememakker.com/templates/oreo/realestate/html/assets/plugins/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://thememakker.com/templates/oreo/realestate/html/assets/plugins/charts-c3/plugin.css" />
        <link rel="stylesheet" href="https://thememakker.com/templates/oreo/realestate/html/assets/plugins/jvectormap/jquery-jvectormap-2.0.3.min.css"/>
        <!-- Custom Css -->
        <link rel="stylesheet" href="{% static 'admin/assets/css/main.css' %}">
        <link rel="stylesheet" href="{% static 'admin/assets/css/color_skins.css' %}">
        <link rel="stylesheet" href="https://thememakker.com/templates/oreo/realestate/html/assets/plugins/select2/select2.css" />
        <link rel="stylesheet" href="https://thememakker.com/templates/oreo/realestate/html/assets/plugins/multi-select/css/multi-select.css">
        <style>
            input{
                border:1px solid black !important;
            }
        </style>
    </head>
    <body class="theme-purple">
        {% include 'addmin/sidebars.html' %}
        <!-- Chat-launcher -->
        <div class="chat-launcher"></div>
        <div class="chat-wrapper">
            <div class="card">
                <div class="header">
                    <ul class="list-unstyled team-info margin-0">
                        <li class="m-r-15"><h2>Agent Team</h2></li>
                        <li><img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar2.jpg" alt="Avatar"></li>
                        <li><img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar3.jpg" alt="Avatar"></li>
                        <li><img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar4.jpg" alt="Avatar"></li>
                        <li><img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar6.jpg" alt="Avatar"></li>
                        <li><a href="javascript:void(0);" title="Add Member"><i class="zmdi zmdi-plus-circle"></i></a></li>
                    </ul>
                </div>
                <div class="body">
                    <div class="chat-widget">
                    <ul class="chat-scroll-list clearfix">
                        <li class="left float-left">
                            <img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar3.jpg" class="rounded-circle" alt="">
                            <div class="chat-info">
                                <a class="name" href="javascript:void(0);">Alexander</a>
                                <span class="datetime">6:12</span>
                                <span class="message">Hello, John </span>
                            </div>
                        </li>
                        <li class="right">
                            <div class="chat-info"><span class="datetime">6:15</span> <span class="message">Hi, Alexander<br> How are you!</span> </div>
                        </li>
                        <li class="right">
                            <div class="chat-info"><span class="datetime">6:16</span> <span class="message">There are many variations of passages of Lorem Ipsum available</span> </div>
                        </li>
                        <li class="left float-left"> <img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar2.jpg" class="rounded-circle" alt="">
                            <div class="chat-info"> <a class="name" href="javascript:void(0);">Elizabeth</a> <span class="datetime">6:25</span> <span class="message">Hi, Alexander,<br> John <br> What are you doing?</span> </div>
                        </li>
                        <li class="left float-left"> <img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar1.jpg" class="rounded-circle" alt="">
                            <div class="chat-info"> <a class="name" href="javascript:void(0);">Michael</a> <span class="datetime">6:28</span> <span class="message">I would love to join the team.</span> </div>
                        </li>
                            <li class="right">
                            <div class="chat-info"><span class="datetime">7:02</span> <span class="message">Hello, <br>Michael</span> </div>
                        </li>
                    </ul>
                    </div>
                    <div class="input-group p-t-15">
                        <input type="text" class="form-control" placeholder="Enter text here...">
                        <span class="input-group-addon">
                            <i class="zmdi zmdi-mail-send"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
       
        <!-- Main Content -->
        <section class="content">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <h2>Property Add
                        <small></small>
                        </h2>
                    </div>            
                    
                </div>
            </div>
            <div class="container-fluid">
                <div class="row clearfix">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="header">
                                <h2><strong>Basic</strong> Information <small>Description text here...</small> </h2>
                                <ul class="header-dropdown m-r--5">
                                    <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="zmdi zmdi-more-vert"></i></a>
                                        <ul class="dropdown-menu pull-right">
                                            <li><a href="javascript:void(0);" class=" waves-effect waves-block">Action</a></li>
                                            <li><a href="javascript:void(0);" class=" waves-effect waves-block">Another action</a></li>
                                            <li><a href="javascript:void(0);" class=" waves-effect waves-block">Something else here</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <form action="createproperty" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                            <div class="body">
                                <div class="row clearfix">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Property Name</label>
                                            <input type="text" class="form-control" name="name" placeholder="Property Name" required>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                       
                                        <div class="form-group">
                                            <label>Property Type</label>
                                            <select class="form-control select2  show-tick" name="property_type">
                                                <option value="Residential">Residential</option>
                                                <option value="Commercial">Commercial</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <label>Little Description of Property</label>
                                                <textarea rows="4" class="form-control no-resize" name="about" placeholder="Property Description"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <h6 class="mt-4">Property Information</h6>
                                <div class="row clearfix">
                                    <!-- <div class="col-sm-6">
                                        <div class="radio inlineblock m-r-25">
                                            <input type="radio" name="radio1" id="radio1" value="option1" checked="">
                                            <label for="radio1">For Rent</label>
                                        </div>
                                        <div class="radio inlineblock">
                                            <input type="radio" name="radio1" id="radio2" value="option2">
                                            <label for="radio2">For Sale</label>
                                        </div>
                                    </div> -->
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>Price</label>
                                            <input type="number" class="form-control" name="price" placeholder="Price" required>
                                        </div>
                                    </div>                            
                                    <div class="col-lg-3 col-md-3 col-sm-6">
                                        <div class="form-group">
                                            <label>No. of Bedrooms</label>
                                            <input type="number" class="form-control" name="bedroom" placeholder="Bedrooms">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-6">
                                        <div class="form-group">
                                            <label>Area(Sq. Ft)</label>
                                            <input type="text" class="form-control" name="area" placeholder="Square ft">
                                        </div>
                                    </div>
                                    
                                    <div class="col-lg-3 col-md-3 col-sm-6">
                                        <div class="form-group">
                                            <label>Year Built In</label>
                                            <input type="number" class="form-control" name="builtyear" placeholder="Year Built">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <label>Bathrooms</label>
                                            <input type="number" class="form-control" name="bathroom" placeholder="Year Built">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <label>Booking Amount</label>
                                            <input type="text" class="form-control" name="booking_amount" placeholder="Year Built">
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label>Address</label>
                                            <textarea rows="4" class="form-control no-resize" name="address" placeholder="Property Address"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-6">
                                        <div class="form-group">
                                            <label>City</label>
                                            <input type="text" class="form-control" name="city" placeholder="Enter City">
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-6">
                                        <div class="form-group">
                                            <label>State</label>
                                            <input type="text" class="form-control" name="state" placeholder="Enter State">
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-6">
                                        <div class="form-group">
                                            <label>Pincode</label>
                                            <input type="text" class="form-control" name="pincode" placeholder="Enter Pincode">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6" style="margin-top:30px;">
                                        <div class="form-line">
                                            <label>Furnished Status:</label>&nbsp;&nbsp;&nbsp;&nbsp;
                                            <input type="radio" class="" name="furnished_status" value="Fully Furnished">&nbsp;Fully Furnished
                                            &nbsp;&nbsp;
                                            <input type="radio" class="" name="furnished_status" value="Semi Furnished">&nbsp;Semi Furnished
                                            &nbsp;&nbsp;
                                            <input type="radio" class="" name="furnished_status" value="No">&nbsp;No
                                            &nbsp;&nbsp;
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6" style="margin-top:30px;">
                                        <div class="form-line">
                                            <label>Possession Type:</label>&nbsp;&nbsp;&nbsp;&nbsp;
                                            <input name="possession_type" type="radio" class="" value="Ready To Move">&nbsp;Ready To Move
                                            &nbsp;&nbsp;
                                            <input  name="possession_type" type="radio" class="" value="Delayed">&nbsp;Delayed
                                            
                                            &nbsp;&nbsp;
                                        </div>
                                    </div>
                                </div>
                                <!-- <h6 class="mt-4">Dimensions</h6>
                                <div class="row">
                                    <div class="col-lg-2 col-md-4 col-sm-6">
                                        <div class="form-line">
                                            <label>Pincode</label>
                                            <input type="text" class="form-control" placeholder="Dining Room">
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-4 col-sm-6">
                                        <div class="form-line">
                                            <input type="text" class="form-control" placeholder="Kitchen">
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-4 col-sm-6">
                                        <div class="form-line">
                                            <input type="text" class="form-control" placeholder="Living Room">
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-4 col-sm-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Master Bedroom">
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-4 col-sm-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Bedroom 2">
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-4 col-sm-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Other Room">
                                        </div>
                                    </div>
                                </div> -->
                                <h6 class="mt-4">General Amenities</h6>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="inlineblock m-r-20">
                                            <input id="" value="" class="form-control" type="checkbox" value="" name="amenities[]" style="margin-top:20px;">
                                            <label for=""><img src="{% static 'front-end/1.png' %}" style="height:70px;width:70px;"></label>
                                        </div>
                                        <div class=" inlineblock m-r-20">
                                            <input id=""  value="" class="form-control" type="checkbox" value="" name="amenities[]" style="margin-top:20px;">
                                            <label for=""><img src="{% static 'front-end/1.png' %}" style="height:70px;width:70px;"></label>
                                        </div>
                                        <div class=" inlineblock m-r-20">
                                            <input id=""  value="" class="form-control" type="checkbox" value="" name="amenities[]" style="margin-top:20px;">
                                            <label for=""><img src="{% static 'front-end/2.png' %}" style="height:70px;width:70px;"></label>
                                        </div>
                                        <div class=" inlineblock m-r-20">
                                            <input id=""  value="" class="form-control" type="checkbox" value="" name="amenities[]" style="margin-top:20px;">
                                            <label for=""><img src="{% static 'front-end/3.png' %}" style="height:70px;width:70px;"></label>
                                        </div>
                                        <div class=" inlineblock m-r-20">
                                            <input id=""  value="" class="form-control" type="checkbox" value="" name="amenities[]" style="margin-top:20px;">
                                            <label for=""><img src="{% static 'front-end/4.png' %}" style="height:70px;width:70px;"></label>
                                        </div>
                                        <div class=" inlineblock m-r-20">
                                            <input id=""  value=""  class="form-control" type="checkbox" value="" name="amenities[]" style="margin-top:20px;">
                                            <label for=""><img src="{% static 'front-end/5.png' %}" style="height:70px;width:70px;"></label>
                                        </div>
                                        <div class=" inlineblock m-r-20">
                                            <input id=""  value=""  class="form-control" type="checkbox" value="" name="amenities" style="margin-top:20px;">
                                            <label for=""><img src="{% static 'front-end/6.png' %}" style="height:70px;width:70px;"></label>
                                        </div>
                                        <div class=" inlineblock m-r-20">
                                            <input id=""  value=""  class="form-control" type="checkbox" value="" name="amenities[]" style="margin-top:20px;">
                                            <label for=""><img src="{% static 'front-end/7.png' %}" style="height:70px;width:70px;"></label>
                                        </div>
                                        <div class=" inlineblock m-r-20">
                                            <input id="" class="form-control" type="checkbox" value="" name="amenities[]" style="margin-top:20px;">
                                            <label for=""><img src="{% static 'front-end/8.png' %}" style="height:70px;width:70px;"></label>
                                        </div>
                                        <div class=" inlineblock m-r-20">
                                            <input id=""  value=""  class="form-control" type="checkbox" value="" name="amenities[]" style="margin-top:20px;">
                                            <label for=""><img src="{% static 'front-end/9.png' %}" style="height:70px;width:70px;"></label>
                                        </div>
                                        <div class=" inlineblock m-r-20">
                                            <input id=""  value="Multipurpose Room" class="form-control" type="checkbox" value="" name="amenities[]" style="margin-top:20px;">
                                            <label for=""><img src="{% static 'front-end/10.png' %}" style="height:70px;width:70px;"></label>
                                        </div>
                                        <div class=" inlineblock m-r-20">
                                            <input id="" value="FireFightingSystem"  class="form-control" type="checkbox" value="" name="amenities[]" style="margin-top:20px;">
                                            <label for=""><img src="{% static 'front-end/11.png' %}" style="height:70px;width:70px;"></label>
                                        </div>
                                        <div class=" inlineblock m-r-20">
                                            <input id=""  value="SewageTreatment" class="form-control" type="checkbox" value="" name="amenities[]" style="margin-top:20px;">
                                            <label for=""><img src="{% static 'front-end/12.png' %}" style="height:70px;width:70px;"></label>
                                        </div>
                                        <div class=" inlineblock m-r-20">
                                            <input id=""  value="RainWaterHarvesting" class="form-control" type="checkbox" value="" name="amenities[]" style="margin-top:20px;">
                                            <label for=""><img src="{% static 'front-end/13.png' %}" style="height:70px;width:70px;"></label>
                                        </div>
                                        <div class=" inlineblock m-r-20">
                                            <input id=""  value="GatedComminity" class="form-control" type="checkbox" value="" name="amenities[]" style="margin-top:20px;">
                                            <label for=""><img src="{% static 'front-end/14.png' %}" style="height:70px;width:70px;"></label>
                                        </div>
                                        <div class=" inlineblock m-r-20">
                                            <input id=""  value="24x7Security" class="form-control" type="checkbox" value="" name="amenities[]" style="margin-top:20px;">
                                            <label for=""><img src="{% static 'front-end/15.png' %}" style="height:70px;width:70px;"></label>
                                        </div>
                                        <div class=" inlineblock m-r-20">
                                            <input id=""  value="Powerbackup" class="form-control" type="checkbox" value="" name="amenities[]" style="margin-top:20px;">
                                            <label for=""><img src="{% static 'front-end/16.png' %}" style="height:70px;width:70px;"></label>
                                        </div>
                                        <div class=" inlineblock m-r-20">
                                            <input id=""  value="ChildrenPlayArea" class="form-control" type="checkbox" value="" name="amenities[]" style="margin-top:20px;">
                                            <label for=""><img src="{% static 'front-end/17.png' %}" style="height:70px;width:70px;"></label>
                                        </div>
                                        <div class=" inlineblock m-r-20">
                                            <input id=""  value="Lift" class="form-control" type="checkbox" value="" name="amenities[]" style="margin-top:20px;">
                                            <label for=""><img src="{% static 'front-end/18.png' %}" style="height:70px;width:70px;"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-sm-12">
                                        <div class="container mt-5">
                                            <div class="card">
                                                <div class="card-header">
                                                    Upload Interior Images
                                                </div>
                                                <div class="card-body">
                                                    <div class="drop-zone" id="dropZone">
                                                        <div class="text-center">
                                                            <p>Drag & Drop your image here</p>
                                                            <p>or</p>
                                                            <input type="file" name="Interior" id="fileInput" accept="image/*" multiple>
                                                            <p>Click to select an image</p>
                                                        </div>
                                                    </div>
                                                    
                                                  <div class="text-center mt-3">
                                                    <div id="imagePreviews" class="image-previews">
                                                        <!-- Preview images will be displayed here -->
                                                    </div>
                                                  </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="container mt-5">
                                            <div class="card">
                                                <div class="card-header">
                                                    Upload Exterior Images
                                                </div>
                                                <div class="card-body">
                                                    <div class="drop-zone" id="dropZone">
                                                        <div class="text-center">
                                                            <p>Drag & Drop your image here</p>
                                                            <p>or</p>
                                                            <input type="file" name="interiorimage" id="fileInput" accept="image/*">
                                                            <p>Click to select an image</p>
                                                        </div>
                                                    </div>
                                                    
                                                  <div class="text-center mt-3">
                                                    <div id="imagePreviews" class="image-previews">
                                                        <!-- Preview images will be displayed here -->
                                                    </div>
                                                  </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <label>Rera Id</label>
                                            <input type="text" class="form-control" name="rera_id" placeholder="Enter Rera ID">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <label>Brochure Link</label>
                                            <input type="file" class="form-control" name="brochure_link" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <button type="submit" class="btn btn-primary btn-round">Submit</button>
                                        <button type="submit" class="btn btn-default btn-round btn-simple">Cancel</button>
                                    </div>
                                </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <script src="https://thememakker.com/templates/oreo/realestate/html/assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script> <!-- Bootstrap Colorpicker Js --> 
        <script src="https://thememakker.com/templates/oreo/realestate/html/assets/plugins/jquery-inputmask/jquery.inputmask.bundle.js"></script> <!-- Input Mask Plugin Js --> 
        <script src="https://thememakker.com/templates/oreo/realestate/html/assets/plugins/multi-select/js/jquery.multi-select.js"></script> <!-- Multi Select Plugin Js --> 
        <script src="https://thememakker.com/templates/oreo/realestate/html/assets/plugins/jquery-spinner/js/jquery.spinner.js"></script> <!-- Jquery Spinner Plugin Js --> 
        <script src="https://thememakker.com/templates/oreo/realestate/html/assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js"></script> <!-- Bootstrap Tags Input Plugin Js --> 
        <script src="https://thememakker.com/templates/oreo/realestate/html/assets/plugins/nouislider/nouislider.js"></script> <!-- noUISlider Plugin Js -->
        <script src="https://thememakker.com/templates/oreo/realestate/html/assets/plugins/select2/select2.min.js"></script> <!-- Select2 Js -->
        <script src="https://thememakker.com/templates/oreo/realestate/html/assets/plugins/select2/select2.min.js"></script> <!-- Select2 Js -->

        <script src="{% static 'admin/assets/bundles/mainscripts.bundle.js' %}"></script><!-- Custom Js --> 
        <script src="{% static 'admin/assets/js/pages/forms/advanced-form-elements.js' %}"></script> 
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <style>
            .drop-zone {
        border: 2px dashed #cccccc;
        border-radius: 10px;
        padding: 20px;
        text-align: center;
        cursor: pointer;
            }
            
            .image-previews {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }

        .preview-image {
            max-width: 100px; /* Set a fixed width */
            max-height: 100px; /* Set a fixed height */
            object-fit: cover; /* Maintain aspect ratio and fill the container */
        }
        textarea{
            border:1px solid black !important;
            border-radius: 30px !important;
        }
    
        </style>
        <script>
        $(document).ready(function () {
    const dropZone = document.getElementById('dropZone');
    const fileInput = document.getElementById('fileInput');
    const imagePreviews = document.getElementById('imagePreviews');

    // Prevent default drag behaviors
    ['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
        dropZone.addEventListener(eventName, preventDefaults, false);
        document.body.addEventListener(eventName, preventDefaults, false);
    });

    // Highlight drop zone on drag enter
    ['dragenter', 'dragover'].forEach(eventName => {
        dropZone.addEventListener(eventName, highlight, false);
    });

    // Remove highlight on drag leave
    ['dragleave', 'drop'].forEach(eventName => {
        dropZone.addEventListener(eventName, unhighlight, false);
    });

    // Handle dropped files
    dropZone.addEventListener('drop', handleDrop, false);

    // Handle file input change
    fileInput.addEventListener('change', handleFiles, false);

    function preventDefaults(e) {
        e.preventDefault();
        e.stopPropagation();
    }

    function highlight() {
        dropZone.classList.add('highlighted');
    }

    function unhighlight() {
        dropZone.classList.remove('highlighted');
    }

    function handleDrop(e) {
        const dt = e.dataTransfer;
        const files = dt.files;

        handleFiles(files);
    }

    function handleFiles(files) {
        for (const file of files) {
            if (file.type.startsWith('image/')) {
                const reader = new FileReader();

                reader.onload = function () {
                    const img = new Image();
                    img.src = reader.result;
                    img.classList.add('preview-image');
                    imagePreviews.appendChild(img);
                };

                reader.readAsDataURL(file);
            }
        }
    }
});

    
        </script>
    </body>

   
</html>