<!doctype html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="RealEstate Admin Dashboard template, UI kit, Bootstrap 4x">
        <meta name="author" content="Thememakker">

        <title>Realezi : Builder</title>
        <link rel="icon" href="favicon.ico" type="image/x-icon"> <!-- Favicon-->
        <link rel="stylesheet" href="https://thememakker.com/templates/oreo/realestate/html/assets/plugins/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://thememakker.com/templates/oreo/realestate/html/assets/plugins/charts-c3/plugin.css" />
        <link rel="stylesheet" href="https://thememakker.com/templates/oreo/realestate/html/assets/plugins/jvectormap/jquery-jvectormap-2.0.3.min.css"/>
        <!-- Custom Css -->
        <link rel="stylesheet" href="{% static 'admin/assets/css/main.css' %}">
        <link rel="stylesheet" href="{% static 'admin/assets/css/color_skins.css' %}">
    </head>
    <body class="theme-purple">
        {% include 'addmin/sidebars.html' %}
        <!-- Chat-launcher -->
        <div class="chat-launcher"></div>
        <div class="chat-wrapper">
            <div class="card">
                <div class="header">
                    <ul class="list-unstyled team-info margin-0">
                        <li class="m-r-15"><h2>Agent Team</h2></li>
                        <li><img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar2.jpg" alt="Avatar"></li>
                        <li><img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar3.jpg" alt="Avatar"></li>
                        <li><img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar4.jpg" alt="Avatar"></li>
                        <li><img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar6.jpg" alt="Avatar"></li>
                        <li><a href="javascript:void(0);" title="Add Member"><i class="zmdi zmdi-plus-circle"></i></a></li>
                    </ul>
                </div>
                <div class="body">
                    <div class="chat-widget">
                    <ul class="chat-scroll-list clearfix">
                        <li class="left float-left">
                            <img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar3.jpg" class="rounded-circle" alt="">
                            <div class="chat-info">
                                <a class="name" href="javascript:void(0);">Alexander</a>
                                <span class="datetime">6:12</span>
                                <span class="message">Hello, John </span>
                            </div>
                        </li>
                        <li class="right">
                            <div class="chat-info"><span class="datetime">6:15</span> <span class="message">Hi, Alexander<br> How are you!</span> </div>
                        </li>
                        <li class="right">
                            <div class="chat-info"><span class="datetime">6:16</span> <span class="message">There are many variations of passages of Lorem Ipsum available</span> </div>
                        </li>
                        <li class="left float-left"> <img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar2.jpg" class="rounded-circle" alt="">
                            <div class="chat-info"> <a class="name" href="javascript:void(0);">Elizabeth</a> <span class="datetime">6:25</span> <span class="message">Hi, Alexander,<br> John <br> What are you doing?</span> </div>
                        </li>
                        <li class="left float-left"> <img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar1.jpg" class="rounded-circle" alt="">
                            <div class="chat-info"> <a class="name" href="javascript:void(0);">Michael</a> <span class="datetime">6:28</span> <span class="message">I would love to join the team.</span> </div>
                        </li>
                            <li class="right">
                            <div class="chat-info"><span class="datetime">7:02</span> <span class="message">Hello, <br>Michael</span> </div>
                        </li>
                    </ul>
                    </div>
                    <div class="input-group p-t-15">
                        <input type="text" class="form-control" placeholder="Enter text here...">
                        <span class="input-group-addon">
                            <i class="zmdi zmdi-mail-send"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main Content -->
        <section class="content">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <h2 style="font-weight: 900;">My Property
                        </h2>
                    </div>            
                    <div class="col-lg-7 col-md-7 col-sm-12 text-md-right">
                        <!-- <div class="inlineblock text-center m-r-15 m-l-15 hidden-md-down">
                            <div class="sparkline" data-type="bar" data-width="97%" data-height="25px" data-bar-Width="2" data-bar-Spacing="5" data-bar-Color="#fff">3,2,6,5,9,8,7,9,5,1,3,5,7,4,6</div>
                            <small class="col-white">Visitors</small>
                        </div>
                        <div class="inlineblock text-center m-r-15 m-l-15 hidden-md-down">
                            <div class="sparkline" data-type="bar" data-width="97%" data-height="25px" data-bar-Width="2" data-bar-Spacing="5" data-bar-Color="#fff">1,3,5,7,4,6,3,2,6,5,9,8,7,9,5</div>
                            <small class="col-white">Bounce Rate</small>
                        </div>
                        <button class="btn btn-white btn-icon btn-round hidden-sm-down float-right ml-3" type="button">
                            <i class="zmdi zmdi-plus"></i>
                        </button> -->
                        <ul class="breadcrumb float-md-right">
                            <li class="breadcrumb-item"><a href="index.html"><i class="zmdi zmdi-home"></i> Home</a></li>
                            <li class="breadcrumb-item active">Property</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row clearfix">
                    <div class="col-sm-3 form-group" style="margin-top:-24px;">
                        <label style="color:white">Search Price Range</label>
                        <select class="form-control">
                            <option style="color:white !important;">--Select--</option>
                            <option>5Lac to 15Lac</option>
                            <option>15Lac to 25Lac</option>
                            <option>25Lac to 65Lac</option>
                        </select>
                    </div>
                    
                    
                    <div class="col-sm-2 form-group" style="margin-top:-24px;">
                        <label style="color:white">Search By Address</label>
                        <input type="text" class="form-control" style="margin-top:10px;">
                    </div>
                    <div class="col-sm-2 form-group" style="margin-top:-24px;">
                        <label style="color:white">Search By Property Name</label>
                        <input type="text"  class="form-control"  style="margin-top:10px;">
                    </div>
                    <div class="col-sm-2 form-group" style="margin-top:-13px;">
                        <button class="btn btn-primary" style="margin-top:23px;background-color: white;color:purple;font-size:17px;border-radius: 20px;">Apply filter</button>
                    </div>
                </div>
                <br>
                <style>
                    .bootstrap-select .btn.btn-round.btn-simple {
                        display: none !important;
                        border:none !important;
                    }
                    .bootstrap-select {
                        border:none !important;
                    }
                </style>
                <div class="row clearfix">
                    {% for property in properties %}
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="body">
                                <img class="img-thumbnail img-fluid" src="https://thememakker.com/templates/oreo/realestate/html/assets/images/image-gallery/1.jpg" alt="img">
                                <h6 class="text-success mt-3">Rs. {{ property.price }}</h6>
                                <h5 class="mt-0"><a href="propertydetail/{{ property.property_id}}" class="col-blue-grey">{{ property.name }}</a></h5>
                                <p class="text-muted">{{ property.about}}</p>
                                <small class="text-muted"><i class="zmdi zmdi-pin mr-2"></i>{{ property.address }}</small>
                                <div class="d-flex justify-content-between mt-3 p-3 bg-light">
                                    <a href="#" title="Square Feet"><i class="zmdi zmdi-view-dashboard mr-2"></i><span>{{ property.area }} </span></a>
                                    <a href="#" title="Bedroom"><i class="zmdi zmdi-hotel mr-2"></i><span>{{ property.bedroom }} </span></a>
                                    <a href="#" title="Parking space"><i class="zmdi zmdi-car-taxi mr-2"></i><span>{{ property.area }} </span></a>
                                    <a href="#" title="Garages"><i class="zmdi zmdi-home mr-2"></i><span>Yes</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    {% endfor %}
                    
                    
                </div>
            </div>
        </section>

        <!-- Jquery Core Js -->
        <script src="{% static 'admin/assets/bundles/libscripts.bundle.js' %}"></script>
        <script src="{% static 'admin/assets/bundles/vendorscripts.bundle.js' %}"></script>

        <script src="{% static 'admin/assets/bundles/c3.bundle.js' %}"></script>
        <script src="{% static 'admin/assets/bundles/jvectormap.bundle.js' %}"></script>
        <script src="{% static 'admin/assets/bundles/knob.bundle.js' %}"></script>

        <script src="{% static 'admin/assets/bundles/mainscripts.bundle.js' %}"></script>
        <script src="{% static 'admin/assets/js/pages/index.js' %}"></script>
    </body>

   
</html>