.accordion .accordion-item {
  border-radius: 10px;
  border: none;
  background-color: #f7f9ff;
}

.accordion .accordion-button {
  border-radius: 10px;
  background-color: #f7f9ff;
}
.accordion-button:not(.collapsed) {
  background-color: #f7f9ff !important;
  box-shadow: none !important;
}
.accordion-button:focus {
  box-shadow: none !important;
}

p {
  margin: 0 !important;
  padding: 0;
}

#ls-body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: clamp(0.75rem, 1vw, 1rem);
  font-family: "Familjen Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  overflow-x: hidden;
}

#ls-main {
  box-sizing: border-box;
}

/* OTP CONTAINER */
.otp-none {
  display: none !important;
}

#ls-section-firstvideo {
  display: grid;
  grid-template-columns: 1fr;
  min-width: calc(100vw - (100vw - 100%));
  min-height: 100vh;
  background: linear-gradient(
    180deg,
    #111f3c 29.48%,
    #1e376a 97.87%,
    #2e54a2 117.92%
  );
  border-radius: 0px 0px 70px 70px;
  gap: 100px;
}
#ls-video {
  width: calc(100vw - (100vw - 100%));
  height: 100vh;
  position: relative;
  overflow: hidden;
  border-radius: 0 0 70px 70px;
}
#ls-video-bg {
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}
#ls-video-bg2 {
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}
.ls-input-error {
  border: 1px solid #ff0000 !important;
}

#ls-section-top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-width: calc(100vw - (100vw - 100%));
  min-height: 100vh;
  background: linear-gradient(
    360deg,
    #111f3c 29.48%,
    #1e376a 97.87%,
    #2e54a2 117.92%
  );
  border-radius: 0px 0px 70px 70px;
  padding-top: 5%;
  gap: 100px;
}

#ls-section-3c {
  display: flex;
  align-items: start;
  flex-direction: column;
  padding-inline: 20%;
  color: #ffffff;
  gap: 30px;
}

#ls-ccc-txt {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 43.75px;
}
.tic-span {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 31.25px;
  text-align: center;
}

#ls-section-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-width: calc(100vw - (100vw - 100%));
  min-height: 100vh;
  background: white;
}
#ls-mockup-container {
  position: relative;
  width: 100%;
  height: 100%;
}
#ls-mockup-container img {
  width: 100%;
  object-fit: contain;
  height: 100%;
}

/* Registration Form */
#ls-section-form {
  top: 10%;
  /* background: linear-gradient(0deg, #111f3c00 26.94%, #1e376a00 89.44%); */
  background: rgba(255, 255, 255, 0.103);
  box-shadow: 0px 4px 5px #ffffff5d;
  backdrop-filter: blur(10px);
  transition: all 0.5s ease-in-out;
  color: white;
  padding: 20px;
  border-radius: 0px 10px 10px 10px;
  border-top: 4px solid #ffffffe8;
  width: auto;
  height: fit-content;
  position: fixed;
  right: calc(25% - 60px);
  z-index: 100;
  transition: all 0.5s ease-in-out;
}

.lls-section-form {
  right: calc(20% - 60px) !important;
  width: 25vw !important;
  max-width: 540px !important;
  top: 15% !important;
}

.ls-section-form-opacity {
  background: linear-gradient(
    0deg,
    #5b92ff18 26.94%,
    #1e376a57 89.44%
  ) !important;
}
.ls-section-form-linear {
  transition: all 0.5s ease-in-out;
  background: linear-gradient(
    0deg,
    #111f3c 26.94%,
    #1e376a 89.44%,
    #2e54a2 107.76%
  ) !important;
}
#ls-section-form-div2 {
  background: linear-gradient(
    0deg,
    #111f3c 26.94%,
    #1e376a 89.44%,
    #2e54a2 107.76%
  );
}
.form-group {
  margin-bottom: 15px;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 1.15rem;
}
.form-control {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
}
.btn {
  background-color: #407bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}
.btn:disabled {
  background-color: #9ca3af;
  cursor: not-allowed;
}
.btn-full {
  width: 100%;
}
.flex-container {
  display: flex;
  gap: 10px;
}
#ls-otp-msg {
  display: none;
  font-size: 12px;
}
.small-text {
  font-size: 12px;
  white-space: nowrap;
}
.otp-container {
  display: grid;
  grid-template-columns: 0.7fr 0.3fr 0.3fr;
  align-items: end;
  gap: 10px;
}
.link {
  color: #ffffff;
  font-size: 12px;
  text-decoration: none;
  white-space: nowrap;
}
#ls-send-otp {
  background-color: #407bff;
  border: 1px solid #407bff;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  color: white;
  white-space: nowrap;
}
#ls-otp-verify {
  background-color: #407bff;
  border: 1px solid #407bff;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  color: white;
  white-space: nowrap;
}
.radio-group {
  display: flex;
  gap: 20px;
  margin-top: 5px;
}
.radio-button {
  display: none;
}
.radio-label {
  background-color: #f6f6f6;
  border: 1px solid #22222259;
  padding: 5px 20px;
  border-radius: 5px 5px 0px 0px;
  cursor: pointer;
  font-size: 14px !important;
  color: #9ca3af;
}

.radio-button:checked + .radio-label {
  background-color: #407bff;
  border: 1px solid #407bff;
  color: white;
}
.footer {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
}
#ls-numbers {
  background-color: #f7f9ff;
  padding-block: 20px;
  padding-inline: 5px;
  border-bottom: #111f3c 4px solid;
}

.ls-orange-txt {
  color: #ec7100;
}
#continue-btn {
  background-color: #407bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  width: 100%;
}
#continue-btn:disabled {
  background-color: #d9d9d9;
  color: white;
  cursor: not-allowed;
}

#continue-btn2 {
  background-color: #407bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  width: 100%;
  display: none;
}
#continue-btn2:disabled {
  background-color: #d9d9d9;
  color: white;
  cursor: not-allowed;
}
#ls-section-metrics {
  margin-top: 10%;
  margin-left: 10%;
}

#ls-countrycode {
  width: fit-content;
  border-radius: 5px 0px 0px 5px;
}

#lls-mobile {
  border-radius: 0px 5px 5px 0px;
}
.ls-otp-msg {
  display: none;
}
.ls-otp-msg > span {
  font-size: clamp(1rem, 1vw, 1rem);
}
.ls-orange-txt {
  color: #ec7100;
  font-size: clamp(1rem, 1vw, 1rem);
}
.lls-number-div {
  display: flex;
}
#lls-otp {
  display: none;
}
#resend-div {
  display: none;
}
.tab-btn {
  position: relative;
  transform: translate(-20px, -53px);
}
@media screen and (max-width: 1330px) {
  #ls-section-form {
    right: 10px;
  }
}

@media screen and (max-width: 1150px) {
  #ls-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #111f3c;
  }
  #ls-section-top {
    display: block;
    min-height: fit-content;
  }
  #ls-section-form {
    position: relative;
    right: 0;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 5px 5px 10px #0303037e, 3px 3px 10px #8585852f inset;
  }
  #ls-section-firstvideo {
    gap: 0;
    min-height: fit-content;
  }
  #ls-video {
    display: none;
    height: 50vh;
  }
  #ls-section-3c {
    padding-inline: 2%;
  }
  #ls-section-bottom {
    display: block;
  }

  #ls-section-metrics {
    /* margin-top: 0px !important; */
    margin-left: 0px !important;
    justify-content: center;
    align-items: center;
  }
  #ls-numbers {
    align-items: center;
    justify-content: center;
  }
  .lls-section-form {
    width: 50vw !important;
    right: unset !important;
  }
}

@media screen and (max-width: 600px) {
  .lls-section-form {
    width: 90vw !important;
  }
}

@media screen and (max-width: 410px) {
  #ls-numbers h4 {
    font-size: clamp(1rem, 0.5vw, 1.5rem);
  }
  #ls-numbers {
    align-items: end;
  }
}
