p {
  margin: 0 !important;
  padding: 0;
}
.mob-card-div-1 {
  display: none;
  position: relative;
}
.car-mob-card {
  display: none;
}
#mob-post-property {
  display: none;
}
#pl-body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: clamp(0.75rem, 1vw, 1rem);
  font-family: "Familjen Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  overflow-x: hidden;
}

.pl-mobile-filter-btn {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 0;
  z-index: 500;
}
.pll-share-like {
  display: flex;
  justify-content: end;
  align-items: center;
}

/* Samosa */
.samosa {
  height: 0;
  width: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #f7f9ff;
  position: absolute;
  top: -14px;
  right: 20px;
}

.share-div {
  display: none;
}
.share-div-active {
  display: flex !important;
  animation: popper 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.5);
}

@keyframes popper {
  0% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

#pl-post-property-nav:hover {
  background-color: white;
  color: #111f3c;
}

#pl-body footer ul {
  list-style: none;
}

#pl-body nav {
  position: sticky;
  top: 0;
  z-index: 800;
}

#pl-nav-1 {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-inline: 50px;
  background-color: #111f3c;
  min-height: 60px;
  border-radius: 0px 0px 20px 20px;
  position: relative;
}

.pl-nav-1-left {
  display: flex;
  gap: 10px;
  align-items: center;
  position: relative;
}
.nav-vertical-line {
  border-left: 1px solid #ffffff;
  min-height: 60px;
  margin: 0 10px;
}

.pl-nav-1-right {
  display: flex;
  gap: 20px;
  align-items: center;
}

.pl-nav-1-right {
  display: flex;
  gap: 20px;
  align-items: center;
}

#pl-post-property-nav {
  color: white;
  background-color: transparent;
  border: #ffffff 1px solid;
  padding: 4px 15px;
  border-radius: 10px;
}

#pl-nav-2 {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  padding-inline: 50px;
  background-color: #ffffff;
  padding-block: 10px;
  font-size: 14px;
  width: 100%;
  z-index: 100;
  height: fit-content;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.5);
  /* bottom shadow */
  box-shadow: 0px 4px 4px 0px #00000017;
}

.pl-nav-2-mob-hidden {
  height: 0px !important;
  padding: 0px;
  padding-block: 0px !important;
  overflow: hidden;
}

/* make pl-nav-2 scroll on swipe */
#pl-nav-2::-webkit-scrollbar {
  display: none;
}

#pl-nav-2 {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.menu-type-1 {
  padding: 10px 18px;
  border: none;
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
  /* 162px */
  min-width: clamp(10vw, 10vw, 20vw);
  color: #9e9e9e;
  z-index: 20;
  position: relative;
}
.menu-type-1-active {
  border-color: #00143d !important;
  box-shadow: inset 0px 0px 2px 0px #000157;
  color: #00173d;
}
.selection-text {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.75em;
}

.item-box {
  min-width: 160px;
}

.item-type-1 {
  padding: 10px 18px;
  border: none;
  background-color: #ffffff;
  border-bottom: 1px solid #616161;
  min-width: 100%;
  color: #616161;
  padding-inline: 10px;
}

.item-type-1:last-child {
  border-bottom: none;
  border-radius: 0 0 10px 10px;
}

.item-type-1:hover {
  background-color: #111f3c;
  color: white;
}

.item-type-2 {
  border: none;
  background-color: #ffffff;
  border: 1px solid #616161;
  min-width: fit-content;
  color: #616161;
  padding: 5px 18px;
  border-radius: 20px;
}

.item-type-2:hover {
  background-color: #e9e9e9;
  color: rgb(0, 0, 0);
}

.item-type-2:active {
  background-color: #ffffff;
  color: #000000;
}

#bhkTypeDropdown .item-box {
  padding: 10px;
  gap: 6px;
  justify-content: space-around;
}

#saleTypeDropdown .item-box {
  padding: 10px;
  gap: 6px;
  justify-content: space-around;
}

#possessionStageDropdown .item-box {
  padding: 10px;
  gap: 6px;
  justify-content: space-around;
}

#moreFiltersDropdown {
  padding: 0px;
  gap: 6px;
  justify-content: space-around;
  max-width: 600px;
  max-height: 500px;
  overflow: auto;
  grid-template-columns: 1fr 2fr;
}

.more-left-list {
  font-size: clamp(0.8rem, 1vw, 1rem);
  height: 26.46vh;
  background-color: #f3f3f3;
  box-shadow: 5px 0px 10px 0px #00000016;
}
.more-left-list ul {
  list-style: none;
  padding: 0%;
}
.more-left-list li {
  /* border-bottom: #d8d8d8 1px solid; */
  /* box-shadow: 0px 0px 0px 0.5px #0000004b inset; */
  border-bottom: 1px solid #d8d8d8;
  padding: 8px 10px;
}
.more-left-list li:hover {
  background-color: #ffffff;
  cursor: pointer;
}
.more-right-filters {
  font-size: clamp(0.8rem, 0.85vw, 0.85rem);
  height: 26.46vh;
  padding-block: 10px;
  padding-left: 7.5px;
}
.active-bhk-type {
  background-color: #111f3c;
  color: white;
}

.active-bhk-type:hover {
  background-color: #16284b;
  color: white;
}

.active-sale-type {
  background-color: #111f3c;
  color: white;
}

.active-sale-type:hover {
  background-color: #16284b;
  color: white;
}

.active-possession-stage {
  background-color: #111f3c;
  color: white;
}

.active-possession-stage:hover {
  background-color: #16284b;
  color: white;
}
.first-listcard-description-sm a {
  font-weight: 500;
}
.dropdown-menu {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  border: 1px solid #9e9e9e;
  transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.5);
  opacity: 0;
  display: none;
  z-index: 40;
}

.dropdown-menu.show {
  display: block;
  opacity: 1;
}

/* location d-down */

.location-menu-type-1 {
  padding: 10px 18px;
  border: none;
  background-color: #111f3c;
  border: none;
  min-width: 100px;
  color: #ffffff;
  z-index: 250;
  position: relative;
}
.location-selection-text {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.location-item-box {
  min-width: 160px;
}

.location-item-type-1 {
  padding: 10px 18px;
  border: none;
  background-color: #ffffff;
  border-bottom: 1px solid #616161;
  min-width: 100%;
  color: #111f3c;
  padding-inline: 10px;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
.location-active-property-type {
  background-color: #ffffff;
  color: #111f3c;
}

.location-active-property-type:hover {
  background-color: #ffffff;
  color: #111f3c;
}

.location-item-type-1:last-child {
  border-bottom: none;
}

.location-item-type-1:hover {
  background-color: #ffffff;
  color: #111f3c;
}
.property-list-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.location-dropdown-menu {
  border-radius: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-top: 5px solid #111f3c;
  transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.5);
  opacity: 0;
  display: none;
  z-index: 100;
  max-height: 200px;
  overflow-y: auto;
}

/* .location-dropdown-menu scroll bar */
.location-dropdown-menu::-webkit-scrollbar {
  width: 5px;
}

.location-dropdown-menu::-webkit-scrollbar-thumb {
  background-color: #afafaf;
  border-radius: 10px;
}

.location-dropdown-menu::-webkit-scrollbar-track {
  background-color: #8b8b8b;
  border-radius: 10px;
}

.location-dropdown-menu.show {
  opacity: 1;
  display: block;
}

/* Searchbox */

#pl-nav-searchbox {
  background-color: white;
  border-radius: 10px;
  padding: 5px 10px;
  color: #111f3c;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

#pl-search-input ::placeholder {
  color: #8e8e8e;
}

#pl-search-input {
  border: none;
  width: clamp(30vw, 30vw, 70vw);
  padding: 5px 10px;
  border-radius: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#pl-search-input:focus {
  outline: none;
}
#pl-search-drop-div {
  display: none;
  overflow-y: scroll;
}

/* scrollbar */
#pl-search-drop-div::-webkit-scrollbar {
  width: 5px;
  background-color: #535353;
}

#pl-search-drop-div::-webkit-scrollbar-thumb {
  background-color: #c0c0c0;
  border-radius: 10px;
}

.pl-search-drop li {
  padding: 10px;
  border-bottom: 1px solid #5a5a5a52;
}

.pl-search-drop li:hover {
  background-color: #f7f9ff;
  cursor: pointer;
}

#pl-search-tag-div {
  background-color: white;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
  transition: all 0.5s ease-in-out;
  padding: 5px 10px;
  overflow-y: hidden;
  overflow-x: auto;
}
/* scrollbar mini */
#pl-search-tag-div::-webkit-scrollbar {
  display: none;
}

.pl-search-tag {
  color: #ffffff;
  font-size: clamp(0.75rem, 1vw, 1rem);
  padding: 5px 10px 5px 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  background-color: #111f3c;
  display: flex;
  align-items: center;
  gap: 10px;
  width: fit-content;
}
.pl-search-tag::after {
  cursor: pointer;
  background-image: url("/images/property-list/cross.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: inline-flex;
  height: 20px;
  width: 20px;
  content: "";
}

.pl-tag-list-all {
  width: 100%;
  overflow-y: auto;
  display: inline-flex;
  position: sticky;
  top: 0;
  padding-block: 10px;
}

/* scrollbar */
.pl-tag-list-all::-webkit-scrollbar {
  width: 3px;
  height: 5px;
  background-color: #535353;
}

.pl-tag-list-all::-webkit-scrollbar-thumb {
  background-color: #c0c0c0;
  border-radius: 10px;
}

/* main-div */

#pl-body main {
  display: grid;
  grid-template-columns: 75% 25%;
  /* padding-inline: 100px; */
  /* padding-inline: clamp(0px, 10vw, 100px); */
}
/* main-section */
#pl-main-section {
  background-color: #ffffff;
  padding: 10px;
}
/* ad section */
#pl-ad-section {
  height: fit-content;
  box-shadow: 0px 4px 4px 0px #00000017;
  background-color: #fefefe;
  top: 138px;
  display: flex;
  align-items: center;
  margin-top: 10px;
  flex-direction: column;
  gap: 10px;
}

#main-sticky {
  position: sticky;
  top: 116px;
  background-color: white;
  z-index: 100;
  padding-block: 10px;
  padding-inline: 15px;
}

.main-sticky-div1 {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: clamp(0.9rem, 0.9vw, 0.9rem);
  color: #434343;
}

.main-nonsticky-div2 {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: clamp(0.75rem, 1vw, 1rem);
  color: #6b6d72;
  padding-block: 0px;
  padding-inline: 15px;
}
.main-sticky-div3 {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: clamp(0.75rem, 1vw, 1rem);
  color: #434343;
  position: sticky;
  top: 152.3px;
  background-color: white;
  z-index: 100;
  padding-block-end: 10px;
  flex-wrap: wrap;
  padding-inline: 15px;
}
.pl-searchresult {
  font-size: clamp(0.9rem, 1vw, 1rem);
  font-weight: 500;
  color: #434343;
  padding-block: 10px;
}

#pl-sort-by {
  display: flex;
  gap: 10px;
  align-items: center;
}

#pl-main-content {
  min-width: 100%;
  padding-block: 10px;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.pl-sort-view {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.pll-card-car {
  background-color: white;
}

#pl-switch-to-list,
#pl-switch-to-grid {
  border: none;
  background-color: #ffffff;
  border: none;
  color: #616161;
}

#pl_dropdownSortBy {
  padding: 5px 18px;
  border: none;
  background-color: #ffffff;
  border: 1px solid #616161;
  min-width: 162px;
  color: #616161;
  z-index: 20;
  position: relative;
}

/* Budget Slider CSS */
.dual-range-slider {
  min-width: 100%;
  max-width: 200px;
  margin: 20px auto;
  position: relative;
  height: 50px;
}

.dual-range-slider .slider-track {
  width: 100%;
  height: 2px;
  position: absolute;
  background: #606266;
  top: 50%;
  transform: translateY(-50%);
}

.dual-range-slider input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  background: transparent;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.dual-range-slider input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid #041a40;
  cursor: pointer;
  pointer-events: auto;
}

.dual-range-slider input[type="range"]::-moz-range-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid #041a40;
  cursor: pointer;
  pointer-events: auto;
}

.dual-range-slider .labels {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-top: 50px;
  color: #606266;
}

.dual-range-slider .tick-marks {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 80%;
  width: 100%;
  transform: translateY(-50%);
}

.dual-range-slider .tick:not(:first-child):not(:last-child) {
  width: 2px;
  height: 10px;
  background: #606266;
  transform: translateY(-50%);
}

.dual-range-slider .tick {
  margin: 0 15px;
}

#budget-start-label {
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  color: #606266;
}

#budget-end-label {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-50%);
  color: #606266;
}

.second-menu-width {
  width: 70vw;
  max-width: 400px;
}
/* all about card */
.pl-card {
  position: relative;
  background-color: #ffffff;
  border-radius: 9.62px;
  overflow: hidden;
  margin-bottom: 10px;
  min-height: fit-content;
  width: 100%;
  height: fit-content;
  border: 0.46px solid #111f3c;
}

.pl-sponsored-tag {
  position: absolute;
  background-color: #ec7100;
  top: 0;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: white;
  width: fit-content;
  padding: 5px 10px;
}
.pl-card-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 0px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pl-card-title {
  color: #434343;
  font-weight: 400;
  font-size: clamp(0.75rem, 1vw, 1rem);
}
.pl-card-content-bottom {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 14px;
  color: #111f3c;
}

.pl-card-content {
  padding: 10px;
  background-color: white;
  border-radius: 9.24px;
  transform: translateY(-5px);
}
.pl-card-interaction {
  display: flex;
  justify-content: end;
  gap: 5px;
  margin-top: 10px;
}
.pl-interested {
  border: 0.5px solid #111f3c;
  background-color: transparent;
  color: #111f3c;
  border-radius: 5px;
  padding: 5px 9px;
  font-size: clamp(0.25rem, 0.5vw, 0.5rem);
  white-space: nowrap;
}

.pl-contact-seller {
  border: none;
  background-color: #111f3c;
  color: white;
  border-radius: 5px;
  padding: 5px 9px;
  font-size: clamp(0.25rem, 0.5vw, 0.5rem);
  white-space: nowrap;
}
.pl-downbrochure {
  border: 1px solid #111f3c;
  background-color: white;
  color: #111f3c;
  border-radius: 5px;
  padding: 5px 9px;
  font-size: clamp(0.25rem, 0.5vw, 0.5rem);
  white-space: nowrap;
}

.pl-card-price {
  color: #ec7100;
}

.pl-card-share,
.pl-card-like {
  border: none;
  background-color: transparent;
}

.pl-card-share svg,
.pl-card-like svg {
  width: 20px;
  height: 20px;
}

.pl-card-like path {
  fill: #ffffff;
}

.pl-cost-share-like {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pl-card-description {
  font-size: clamp(0.65rem, 0.9vw, 0.9rem);
  color: #606266;
  /* clamp line more than 3 */
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.pl-card-detailed-box {
  box-shadow: 0px 0px 1.1px 0px #00000040;
  border-radius: 5px;
  padding-inline: 10px;
  padding-block: 2px;
}
.pl-card-detailed-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.pl-card-detailed-content-item {
  gap: 4px;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.5);
  opacity: 1;
  /* display: flex;
  flex-wrap: nowrap; */
  display: grid;
  grid-template-columns: 0.2fr 1.8fr;
  align-items: start;
}
.pl-detailed-table {
  /* display: flex;
  flex-wrap: wrap;
  min-width: fit-content;
  flex-direction: column; */
  display: grid;
}
.pl-card-detailed-content-item-title {
  font-weight: 500;
  font-size: clamp(0.75rem, 0.55vw, 0.55rem);
  color: #111f3c;
}
.pl-card-detailed-button {
  color: white;
  background-color: white;
  border: none;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: clamp(0.65rem, 0.9vw, 0.9rem);
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.5);
}

.pl-card-detailed-content-item-value {
  font-size: clamp(0.65rem, 0.55vw, 0.55rem);
  color: #606266;
}
.pl-card-detailed-content-item-hidden {
  /* display: none !important; */
  max-height: 0;
  overflow: hidden;
  opacity: 0;
}
.cta-loan {
  /* full grid cols */
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(10px, 5vw, 5vw);
  padding: 10px;
  background-color: #e4ebff;
  background-image: url(/images/property-list/postadList.svg);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin-block: 30px;
  width: 100%;
  margin-inline: auto;
}
.cta-loan-title {
  /* clamp to 30px */
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  color: #ec7100;
  font-weight: 500;
}
.cta-loan-subtitle {
  font-size: clamp(0.8rem, 1vw, 1rem);
  color: #606266;
  font-weight: 500;
}

.cta-loan-button {
  padding: 4px 5px;
  border: 1px solid #111f3c;
  border-radius: 20px;
  font-size: clamp(0.8rem, 1vw, 1rem);
  cursor: pointer;
  background-color: #ffffff;
  color: #111f3c;
  margin-top: 20px;
}
.pl-full-grid-width {
  grid-column: 1 / -1;
}

.pl-nice-bg {
  background-color: #f7f9ff;
  padding: 10px 30px;
  border-radius: 20px;
  padding-block-end: 50px;
}
.pl-car-img {
  /* width: 350px; */
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #434343;
  width: 100%;
}
.pl-card-car {
  position: relative;
  background-color: #ffffff;
  border-radius: 9.62px;
  overflow: hidden;
  margin-bottom: 10px;
  min-height: fit-content;
  height: fit-content;
  padding-bottom: 10px;
  max-width: 350px;
}
.pl-car-title {
  color: #434343;
  font-weight: 500;
  font-size: clamp(0.75rem, 1.25vw, 1.25rem);
}
.pl-car-location {
  color: #606266;
  font-size: clamp(0.65rem, 0.8vw, 0.8rem);
  margin-block: 5px;
  width: 100%;
}
.pl-car-price {
  color: #434343;
  font-weight: 500;
  font-size: clamp(0.65rem, 0.8vw, 0.8rem);
}
.pl-car-text {
  padding: 10px;
  background-color: white;
  border-radius: 9.24px;
  transform: translateY(-5px);
  width: 100%;
  display: flex;
  flex-direction: column;
}
.pl-fp-title {
  font-size: 1rem;
  color: #111f3c;
  font-weight: 500;
  margin-block: 30px;
}

.pl-ad-top {
  width: 95%;
  border: 10px;
}

.pl-ad-top-details {
  position: absolute;
  /* center align */
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -5%);
  display: flex;
  flex-direction: column;
  width: 80%;
}

.pl-ad-top-cost {
  color: #ffffff;
  font-size: 0.75rem;
  font-weight: 500;
}

.pl-ad-top-title {
  color: #ffffff;
  font-size: 0.85rem;
  font-weight: 500;
}

.pl-ad-top-owner {
  color: #ffffff;
  font-size: 0.75rem;
  font-weight: 500;
  white-space: nowrap;
}

.pl-ad-top-interaction {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.pl-ad-top-interaction button {
  border: 1px solid #ffffff;
  background-color: #ffffff00;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.65rem;
  white-space: nowrap;
}

.pl-mini-card-ad {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 10px;
}

.pl-mini-card {
  position: relative;
  background-color: #f7f9ff;
  border-radius: 9.62px;
  overflow: hidden;
  margin-bottom: 10px;
  min-height: fit-content;
  height: fit-content;
  font-size: 0.65rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 4px;
  flex-wrap: wrap;
}
.pl-mini-card-detail {
  display: flex;
  flex-direction: column;
}
.pl-mini-card-img {
  width: 80%;
  height: 80px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #000000 1px solid;
  margin: auto;
}

.pl-mini-card-cost {
  color: #434343;
  font-size: clamp(0.65rem, 0.9vw, 0.9rem);
  font-weight: bold;
}
.pl-mini-card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pl-featured-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  width: 95%;
  padding: 10px;
  /* center align grid items */
  justify-content: center;
  align-items: center;
  background-color: #f7f9ff;
  border-radius: 20px;
}
.pl-featured-item {
  background-color: #ffffff;
  border-radius: 9.62px;
  box-shadow: 0px 0px 2.7px 0px #0000000d;
  padding: 8px;
}
.pl-featured-title {
  font-size: clamp(0.75rem, 1vw, 1rem);
  color: #111f3c;
  font-weight: 500;
  margin-block: 5px;
  grid-column: 1 / -1;
  text-align: center;
}

.pl-featured-text {
  font-size: 0.8rem;
  color: #606266;
  /* clamp line more than 3 */
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.pl-featured-img {
  width: 100%;
  height: clamp(100px, 30vw, 100px);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #434343;
}

.pl-featured-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.pl-featured-more {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.pl-featured-more button {
  padding: 4px 12px;
  border: 1px solid #111f3c;
  border-radius: 10px;
  font-size: 0.8rem;
  cursor: pointer;
  background-color: #111f3c;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pl-hot-title {
  font-size: clamp(0.75rem, 1vw, 1rem);
  color: #ec7100;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 5px;
  font-weight: 500;
  margin-block: 5px;
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pl-hot-card {
  width: 150px;
  background-color: white;
  border-radius: 9.62px;
}
/* .pl-hot-car {
  width: 200%;
  overflow: hidden;
} */
.pl-hot-card-div {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  background-color: #f7f9ff;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
}
.pl-hot-card-div ul {
  width: 100%;
  position: relative;
  justify-content: space-around;
  list-style: none;
}
.pl-hot-img {
  width: 100%;
  height: 100px;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #434343;
}

.pl-liked {
  fill: #ec7100 !important;
}

.pl-hot-arrow-next {
  position: absolute;
  top: 50%;
  right: 2px;
  transform: translateY(-50%);
  background-color: #111f3c;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 50px;
  cursor: pointer;
  z-index: 10;
}

.pl-hot-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pl-hot-card-detail {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-block: 10px;
  padding-inline: 4px;
  border-radius: 0 0 5px 5px;
  box-shadow: 0px 2.7px 2.7px 2.7px #0000000d inset;
}

.pl-hot-card-title {
  font-size: 0.65em;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  color: #111f3c;
  font-weight: 500;
}

.pl-hot-card-location {
  font-size: 0.6rem;
  color: #606266;
  font-weight: 500;
}

#pl-ad-section::-webkit-scrollbar {
  width: 5px;
}

#pl-ad-section::-webkit-scrollbar-thumb {
  background-color: #afafaf;
  border-radius: 10px;
}

#pl-fire {
  width: 50px;
  height: auto;
}

.pl-explore-ad {
  background-image: url(/images/property-list/explore.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-clip: border-box;
  min-width: 95%;
  min-height: fit-content;
  border-radius: 10px;
  padding: 15px 4px;
  margin-block: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.pl-explore-ad span {
  font-size: clamp(0.75rem, 0.9vw, 0.9rem);
  color: #ffffff;
  font-weight: 500;
}

.pl-explore-ad button {
  padding: 4px 12px;
  border: 1px solid #111f3c;
  border-radius: 10px;
  font-size: 0.8rem;
  cursor: pointer;
  background-color: #ffffff;
  color: #111f3c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pl-post-ad {
  background-image: url(/images/property-list/postad.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 95%;
  min-height: fit-content;
  border-radius: 10px;
  padding: 40px 4px;
  margin-bottom: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 50px;
}

.pl-post-ad span {
  font-size: clamp(0.75rem, 0.9vw, 0.9rem);
  color: #ffffff;
  font-weight: 500;
}

.pl-post-ad button {
  padding: 4px 12px;
  border: 1px solid #111f3c;
  border-radius: 10px;
  font-size: 0.8rem;
  cursor: pointer;
  background-color: #ffffff;
  color: #111f3c;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* all button hover and active effect */

.pl-interested:hover {
  background-color: #111f3c;
  color: white;
}

.pl-interested:active {
  background-color: #111f3c;
  color: white;
}

/* on .pl-downbrochure:hover scale the span */
.pl-downbrochure svg {
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.5);
}
.pl-downbrochure:hover svg {
  transform: scale(1.5);
}

.pl-downbrochure:active svg {
  transform: scale(1.5);
}
.pl-contact-seller svg {
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.5);
}
.pl-contact-seller:hover svg {
  transform: scale(1.5);
}

.pl-contact-seller:active svg {
  transform: scale(1.5);
}

.cta-loan-button {
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.5);
}

.cta-loan-button:hover {
  background-color: #111f3c;
  color: white;
}

.cta-loan-button:active {
  background-color: #111f3c;
  color: white;
}
.pl-card-like path {
  transition: all 0.25s ease-in-out;
}

.active-property-type {
  background-color: #111f3c !important;
  color: white !important;
}

.pl-more-active {
  background-color: #111f3c;
  color: white;
}

/* list view */
.property-list-card-title {
  font-weight: 400;
}
.pl1-widthlg90 {
  box-shadow: 0px 2px 10px 2px #00000025;
  width: 100%;
  display: flex;
  gap: 20px;
  padding: 10px;
  justify-content: space-between;
}
.pl1-widthlg90-wad {
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin-bottom: 10px;
}

.property-list-img-container {
  width: 260px;
  height: 300px;
  position: relative;
  border: 1px black solid;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.property-list-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.pll-with-ad .property-list-img-container {
  margin-bottom: 10px;
}

.property-list-details {
  padding: 5px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 75%;
  position: relative;
}

.property-list-details h6 {
  font-size: clamp(0.9rem, 1vw, 1.2rem);
  font-weight: 500;
  color: #434343;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0%;
}

.property-list-details p {
  margin: 0%;
  font-size: 0.8rem;
  font-weight: 400;
  color: #1b1b1b;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sponsored-btn {
  background: #ec7100;
  font-weight: 400;
  color: white;
  border-radius: 5px;
  font-size: 1rem;
  border: none;
}
.sponsored-btn:hover {
  color: #e38238;
  background-color: white;
  box-shadow: 0px 0px 0px 1px #e38238 inset;
}
.sponsored-btn:active {
  background: #e38238;
  color: white;
}
.property-list-card-title {
  font-weight: 400;
}

.managed-byrealezi-tag {
  border: 1px #727175 solid;
  color: #727175;
  padding: 2px 5px;
  white-space: nowrap;
  font-size: 0.75em;
}

.list-details-table {
  margin-top: 10px;
}

/* add outline to columns*/
.list-details-table th {
  font-size: clamp(0.75rem, 0.75vw, 0.8rem);
  font-weight: 400;
  color: #606266;
  /* center text */
  text-align: start;
}
.property-list-car-details > .list-details-table th:first-child {
  padding-right: 50px;
}
.property-list-car-details > .list-details-table td:first-child {
  padding-right: 50px;
}
.property-list-car-details > .list-details-table td:last-child {
  padding-left: 50px;
}
.property-list-car-details > .list-details-table th:last-child {
  padding-left: 50px;
}

.list-details-table th:not(:first-child) {
  margin-right: 30px;
}

.list-details-table td:not(:first-child) {
  margin-right: 30px;
}

.list-details-table td {
  font-size: clamp(0.65rem, 0.75vw, 0.8rem);
  font-weight: 400;
  color: #434343;
  /* center text */
  text-align: start;
}
.list-details-table td,
th {
  padding: 0px 5px;
}

.list-details-table td:not(:last-child) {
  border-right: 1px solid #a8a9a9;
}
.list-details-table th:not(:last-child) {
  border-right: 1px solid #a8a9a9;
}

.dashed-bottom-div {
  border-bottom: 1px dashed #a8a9a9;
  width: 100%;
  margin: 0px 0px 0px 0px;
}

.first-listcard-description-sm span {
  display: none;
}
#sponsored-more-txt {
  display: none;
}
.first-listcard-description {
  color: #606266;
  font-size: clamp(0.75rem, 0.85vw, 0.85rem);
  display: flex;
}
.first-listcard-description button {
  margin-left: auto;
  font-size: clamp(0.75rem, 1vw, 1rem);
  padding: 3px 10px;
  background-color: #111f3c33;
  border: 1px #041a40 solid;
  border-radius: 10px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
  height: fit-content;
}

#sponsored-more-btn {
  outline: none;
  border: none;
  background-color: transparent;
  box-shadow: none;
  color: #041a40;
  text-decoration: none;
  font-size: 1em;
  margin-left: auto;
}

.interested-btn {
  background-color: gray;
}
.interested-btn:hover {
  background-color: #deeaff;
  color: #001572;
}
.interested-btn:active {
  box-shadow: 0px 0px 0px 1px #001572 inset;
  background-color: #ffffff;
  color: #001572;
}
.pll-share {
  background-color: transparent;
  border: none;
}

.pll-like {
  background-color: transparent;
  border: none;
}

.pll-like path {
  fill: #ffffff00;
  transition: all 0.25s ease-in-out;
}

.pll-like-active {
  fill: #e38238 !important;
  opacity: 1;
}

.pl-posted-extra-div {
  border-top: #00173d 1px solid;
  border-radius: 20px;
  padding: 0px 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.pl-card-section-extra {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-evenly;
}

.mini-broker-card {
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: #f7f9ff;
  border-radius: 20px;
  box-shadow: 0px 2px 10px #0000001a;
  padding-right: 5px;
}
.mini-broker-card img {
  border-radius: 20px;
  width: 150px;
  height: 90px;
  border: 1px solid #434343;
}
.mini-broker-card h6 {
  color: #434343;
}
.mini-broker-title {
  font-size: clamp(0.65rem, 0.65vw, 0.65rem);
  color: #434343;
  font-weight: 400;
}

.mini-broker-location {
  font-size: clamp(0.5rem, 0.65vw, 0.65rem);
  display: flex;
  align-items: center;
  gap: 5px;
  color: #606266;
}

.mini-card-all {
  color: #111f3c;
}

.pl-posted-by-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.pl-posted-by-contact-p:hover {
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse512 1.5s infinite;
}

@keyframes pulse512 {
  0% {
    box-shadow: 0 0 0 0 #20427c;
  }

  70% {
    box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
  }

  100% {
    box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }
}
.pl-posted-by {
  align-items: center;
}
.pl-posted-by-contact-p:active {
  background-color: #041a40;
  color: #ffffff;
  box-shadow: 0px 0px 0px 1px #041a40 inset;
}
.pl-posted-by-left {
  align-items: center;
}
.pl-posted-by-left p {
  font-size: 0.8rem;
}
.pl-posted-by-download-b {
  background-color: rgba(4, 26, 64, 0.2);
  color: rgba(4, 26, 64, 1);
  border-radius: 10px;
  border: 1px #041a40 solid;
  padding: 5px 10px;
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  font-size: clamp(0.65rem, 0.9vw, 0.9rem);
  height: fit-content;
}
.pl-posted-by-contact-p {
  background-color: #041a40;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  font-size: clamp(0.65rem, 0.9vw, 0.9rem);
  height: fit-content;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.property-list-img-container {
  width: 260px;
  height: auto;
  position: relative;
  border: 1px black solid;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
#property-list-card-1-sponsored .property-list-img-container {
  height: 230px !important;
}

.property-list-reracar {
  position: absolute;
  top: 0;
  left: 0;
}

.property-list-car-img-container {
  width: 300px;
  height: auto;
  position: relative;
  border: 1px black solid;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.property-list-car-details h6 {
  font-size: clamp(0.85rem, 1vw, 1rem);
}

.pl1-widthlg90car-wad {
  width: 100%;
  display: flex;
  gap: 20px;
}

/* end all about card */

/* Footer */
/* Footer */
/* Footer */
.footer {
  color: #ffffff;
  background-color: #111f3c;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  position: relative;
  padding: 60px 10px;
}

.footer .upper-footer ul {
  padding-left: 0;
  border-top: 0.5px solid #919191;
  padding-right: 50px;
}

.footer h3 {
  font-weight: 400 !important;
  font-size: 2rem;
  margin-top: 10px;
  white-space: nowrap;
  margin-right: 15px;
}

.footer h4 {
  font-weight: 300;
  font-size: 1.5rem;
}

.upper-footer {
  position: relative;
}

.upper-footer .white-btn {
  margin-top: 60px;
  background-color: transparent;
  border: 1px solid #ffffff;
  width: 200px;
  padding: 8px 15px;
  border-radius: 10px;
  color: #ffffff;
}

.upper-footer .white-btn:hover {
  background-color: #ffffff;
  color: #111f3c;
}

.footer li {
  position: relative;
  width: max-content;
}

.upper-footer li::before {
  content: "";
  width: 0;
  height: 2px;
  border-radius: 2px;
  background-color: #ec7100;
  position: absolute;
  bottom: -3px;
  left: 50%;
  transition: width 0.4s, left 0.4s;
}

.upper-footer li:hover {
  cursor: pointer;
  color: #ec7100;
}

.upper-footer li:hover::before {
  width: 100%;
  left: 0;
}

.upper-footer li:hover {
  color: #ec7100;
  cursor: pointer;
}

.lower-footer li:hover {
  cursor: pointer;
  color: #ec7100;
}

.footer .upper-footer li {
  font-weight: 300 !important;
  margin: 13px 0;
  text-align: left;
  white-space: nowrap;
}

.footer .blue-btn {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 6px 30px 6px 6px;
  border: none;
  color: #111f3c;
  font-weight: 300 !important;
  font-size: 1rem;
  flex-wrap: nowrap;
  display: flex;
  position: relative;
}

.footer .refer-btn {
  padding: 6px 25px 6px 6px;
}

.footer .refer-btn lottie-player {
  position: absolute;
  right: 4px;
  bottom: 8px;
}

.footer .blue-btn canvas {
  position: absolute;
  right: -18px;
  bottom: 5px;
  width: 70px;
}

.footer .playStore-btn {
  position: absolute;
  right: 20px;
  bottom: 10px;
}

.googlePlay-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #000;
  border-radius: 9999px;
  background-color: rgba(0, 0, 0, 1);
  padding: 0.625rem 1.5rem;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  outline: 0;
  transition: all 0.2s ease;
  text-decoration: none;
  margin-right: 10px;
}

.googlePlay-button:hover {
  background-color: #ffffff;
  color: #000000;
}

.googlePlay-button .icon {
  height: 1.5rem;
  width: 1.5rem;
}

.googlePlay-button .texts {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1;
}

.googlePlay-button .text-1 {
  margin-bottom: 0.25rem;
  font-size: 0.75rem;
  line-height: 1rem;
}

.googlePlay-button .text-2 {
  font-weight: 600;
}

.appstore-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #000;
  border-radius: 9999px;
  background-color: rgba(0, 0, 0, 1);
  padding: 0.625rem 1.5rem;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  outline: 0;
  transition: all 0.2s ease;
  text-decoration: none;
}

.appstore-button:hover {
  background-color: #ffffff;
  color: #000000;
}

.appstore-button .icon {
  height: 1.5rem;
  width: 1.5rem;
}

.appstore-button .texts {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1;
}

.appstore-button .text-1 {
  margin-bottom: 0.25rem;
  font-size: 0.75rem;
  line-height: 1rem;
}

.appstore-button .text-2 {
  font-weight: 600;
}

.lower-footer .lower-upper {
  padding: 8px 0;
  margin-top: 40px;
  margin-bottom: 10px;
  border-bottom: 0.5px solid #919191;
  text-align: center;
}

.lower-upper li {
  padding: 0 10px;
  font-size: 0.9rem;
}

.lower-bottom .socials-container {
  display: flex;
}

.lower-bottom .socials-container button {
  margin: 0 8px;
}

.social-btn {
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.4s;
  cursor: pointer;
  position: relative;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  overflow: hidden;
}

.insta-btn {
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
}

.linkedin-btn {
  background: #007ab9;
}

.youtube-btn {
  background: #ff0000;
}

.fb-btn {
  background: #1877f2;
}

.svgIcon,
.social-btn img {
  transition-duration: 0.3s;
}

.svgIcon path {
  fill: white;
}

.social-btn .text {
  position: absolute;
  color: rgb(255, 255, 255);
  width: 120px;
  opacity: 0;
  transition-duration: 0.4s;
}

.social-btn:hover {
  width: 110px;
  transition-duration: 0.4s;
  border-radius: 30px;
}

.social-btn:hover .text {
  opacity: 1;
  transition-duration: 0.4s;
}

.social-btn:hover .svgIcon,
.social-btn:hover img {
  opacity: 0;
  transition-duration: 0.3s;
}

.lower-footer p {
  font-size: 0.9rem;
}
/* Footerend */

/* Brochure */

/* Brochure Modal */

.modal-container {
  background-color: #00000080;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  align-items: center;
  justify-content: center;
  z-index: 900;
  display: none;
  transform: scale(0);
  transition: all 0.5s;
  font-family: "Familjen Grotesk", sans-serif;
}

.modal-container.show {
  transform: scale(1);
}

@keyframes expand {
  to {
    width: 100%;
    height: 100%;
  }
}

.modal-container .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-container .close-icon {
  position: absolute;
  right: 20px;
  top: 20px;
}

.modal-container .close-icon:hover {
  cursor: pointer;
}

.brochure-modal h4,
.schedule-form-modal h4 {
  font-weight: 400;
  font-size: 1.3rem;
  color: #434343;
}

.input-group {
  position: relative;
}

.input {
  border: 1px solid #999999;
  border-radius: 5px;
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  background: none;
  padding: 8px;
  font-size: 1rem;
  color: #434343;
  transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-label {
  position: absolute;
  left: 15px;
  color: #a8a9a9;
  pointer-events: none;
  transform: translateY(1.2rem);
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus,
input:valid {
  outline: none;
}

form .input:focus ~ label,
input:valid ~ label {
  transform: translateY(-10%) scale(0.8);
  background-color: #ffffff;
  padding: 0.2em;
}

form .no-transform label {
  transform: none;
  padding: 0;
}

.modal-container .brochure-modal,
.modal-container .schedule-form-modal {
  width: 500px;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 0 40px 30px #00000030;
}

.modal-container form {
  background-color: #fff;
  padding: 20px 10px;
}

.modal-container form input {
  width: 100%;
  margin: 13px 0;
}

.modal-container form select {
  padding: 9px;
  margin: 13px 0;
  color: #434343;
  border-right: none !important;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid #999999;
  position: relative;
  left: 2px;
}

#phone-number {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.modal-container form input::placeholder {
  color: #a8a9a9;
  font-weight: 300;
}

.brochure-modal .phone-number-container.sent input {
  margin-bottom: 0;
}

.brochure-modal .phone-number-container.sent select {
  top: 6.5px;
}

.phone-number-container {
  position: relative;
}

.brochure-modal .otp-sent {
  color: #ec7100;
  display: none;
}

.brochure-modal .otp-sent.active {
  display: block;
}

.brochure-modal .d-flex .otp-btn {
  font-size: 0.85rem;
  color: #ffffff;
  border: none;
  padding: 8px 20px;
  border-radius: 8px;
  margin: 13px 0;
  background-color: #111f3c;
  position: absolute;
  right: 4px;
  bottom: 3px;
}

.brochure-modal .phone-number-container.sent .otp-btn {
  margin: 0;
}

.brochure-modal .phone-number-container.sent select {
  margin: 0;
}

.brochure-modal .otp-container {
  display: none;
}
.otp-container {
  align-items: center !important;
  justify-content: center !important;
  gap: 10px;
  position: relative;
}
#verify-otp {
  font-size: 0.85rem;
  color: #ffffff;
  border: none;
  padding: 8px 20px;
  border-radius: 8px;
  margin: 13px 0;
  background-color: #111f3c;
  position: absolute;
  right: 138px;
  bottom: 3px;
}
.otp-container-active {
  display: flex !important;
}

.brochure-modal .otp-container input {
  width: 100%;
}

.brochure-modal .otp-container p {
  margin-top: 8px;
  margin-left: 3px;
  font-size: 0.8rem;
  width: 40%;
  white-space: nowrap;
}

.otp-container .otp-verification {
  position: absolute;
  right: 35px;
  top: 23px;
  color: green;
  width: max-content !important;
  margin: 0 !important;
  display: none;
}

.phone-number-container .verify-btn {
  font-size: 0.85rem;
  color: #ffffff;
  border: none;
  padding: 8px 20px;
  border-radius: 8px;
  margin: 13px 0;
  background-color: #111f3c;
  position: absolute;
  right: 4px;
  bottom: 3px;
}

.modal-container input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

.modal-container label {
  font-weight: 300;
  margin-left: 10px;
}

.modal-container button[type="submit"] {
  width: 100%;
  text-align: center;
  margin-top: 15px;
  border-radius: 20px;
  border: none;
  padding: 10px;
  color: #fff;
  background-color: #d9d9d9;
}

.modal-container button[type="submit"].active {
  background-color: #111f3c;
}

.modal-container button[type="submit"].active:hover {
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse512 1.5s infinite;
}

/* Confirmation Popup Modal */

.confirmation-popup-modal {
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
  border-radius: 20px;
  display: none;
  width: 450px;
  height: 400px;
}

.confirmation-popup-modal video {
  width: 400px;
  height: 250px;
}

.confirmation-popup-modal h4 {
  color: #ec7100;
  font-weight: 500;
  font-size: 1.6rem;
}

.confirmation-popup-modal p {
  color: #434343;
  font-size: 1.2rem;
}

.confirmation-popup-modal h4,
.confirmation-popup-modal p {
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.confirmation-popup-modal.show h4,
.confirmation-popup-modal.show p {
  opacity: 1;
  transform: translateY(-60px);
}

.Realezi-arrow-loader.shrink {
  width: 55%;
  transition: width 0.5s ease;
}

/* Brochure Ends */

.splide__arrow--next {
  /* center from y axis */
  top: 50%;
  transform: translateY(-50%) !important;
  /* background color */
  background-color: #ffffff;
}

.splide__arrow--prev {
  /* center from y axis and rotate 180 deg */
  top: 50%;
  transform: translateY(-50%) rotate(180deg) !important;
  /* background color */
  background-color: #ffffff;
}

@keyframes expand {
  to {
    width: 100%;
    height: 100%;
  }
}

.modal-container .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-container .close-icon {
  position: absolute;
  right: 20px;
  top: 20px;
}

.modal-container .close-icon:hover {
  cursor: pointer;
}

.brochure-modal h4,
.schedule-form-modal h4 {
  font-weight: 400;
  font-size: 1.3rem;
  color: #434343;
}

.input-group {
  position: relative;
}

.input {
  border: 1px solid #999999;
  border-radius: 5px;
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  background: none;
  padding: 8px;
  font-size: 1rem;
  color: #434343;
  transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-label {
  position: absolute;
  left: 15px;
  color: #a8a9a9;
  pointer-events: none;
  transform: translateY(1.2rem);
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus,
input:valid {
  outline: none;
}

form .input:focus ~ label,
input:valid ~ label {
  transform: translateY(-10%) scale(0.8);
  background-color: #ffffff;
  padding: 0.2em;
}

form .no-transform label {
  transform: none;
  padding: 0;
}

.modal-container .brochure-modal,
.modal-container .schedule-form-modal {
  width: 500px;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 0 40px 30px #00000030;
}

.modal-container form {
  background-color: #fff;
  padding: 20px 10px;
}

.modal-container form input {
  width: 100%;
  margin: 13px 0;
}

.modal-container form select {
  padding: 9px;
  margin: 13px 0;
  color: #434343;
  border-right: none !important;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid #999999;
  position: relative;
  left: 2px;
}

#phone-number {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.modal-container form input::placeholder {
  color: #a8a9a9;
  font-weight: 300;
}

.brochure-modal .phone-number-container.sent input,
.brochure-modal .phone-number-container.sent select {
  margin-bottom: 0;
}

.phone-number-container {
  position: relative;
}

.brochure-modal .otp-sent {
  color: #ec7100;
  display: none;
}

.brochure-modal .otp-sent.active {
  display: block;
}

.brochure-modal .d-flex .otp-btn {
  font-size: 0.85rem;
  color: #ffffff;
  border: none;
  padding: 8px 20px;
  border-radius: 8px;
  margin: 13px 0;
  background-color: #111f3c;
  position: absolute;
  right: 4px;
  bottom: 3px;
}

.brochure-modal .phone-number-container.sent .otp-btn {
  margin: 0;
}

.brochure-modal .phone-number-container.sent select {
  margin: 0;
}

.brochure-modal .otp-container input {
  width: 100%;
}

.brochure-modal .otp-container p {
  margin-top: 8px;
  margin-left: 3px;
  font-size: 0.8rem;
  width: 40%;
  white-space: nowrap;
}

.phone-number-container .verify-btn {
  font-size: 0.85rem;
  color: #ffffff;
  border: none;
  padding: 8px 20px;
  border-radius: 8px;
  margin: 13px 0;
  background-color: #111f3c;
  position: absolute;
  right: 4px;
  bottom: 3px;
}

.modal-container input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

.modal-container label {
  font-weight: 300;
  margin-left: 10px;
}

.modal-container button[type="submit"] {
  width: 100%;
  text-align: center;
  margin-top: 15px;
  border-radius: 20px;
  border: none;
  padding: 10px;
  color: #fff;
  background-color: #d9d9d9;
}

.modal-container button[type="submit"].active {
  background-color: #111f3c;
}

.modal-container button[type="submit"].active:hover {
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse512 1.5s infinite;
}

/* Confirmation Popup Modal */

.confirmation-popup-modal {
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
  border-radius: 20px;
  display: none;
  width: 450px;
  height: 400px;
}

.confirmation-popup-modal video {
  width: 400px;
  height: 250px;
}

.confirmation-popup-modal h4 {
  color: #ec7100;
  font-weight: 500;
  font-size: 1.6rem;
}

.confirmation-popup-modal p {
  color: #434343;
  font-size: 1.2rem;
}

.confirmation-popup-modal h4,
.confirmation-popup-modal p {
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.confirmation-popup-modal.show h4,
.confirmation-popup-modal.show p {
  opacity: 1;
  transform: translateY(-60px);
}

.Realezi-arrow-loader.shrink {
  width: 55%;
  transition: width 0.5s ease;
}

/* Share Each Btn */
.share-each-btn {
  display: flex;
  align-items: center;
  gap: 7px;
}

/* Build up area - dual range slider */
#builtupArea-start-label {
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  color: #606266;
}

#builtupArea-end-label {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-50%);
  color: #606266;
}
.active-more-left-btns {
  background-color: #041a40 !important;
  color: #ffffff !important;
}

/* larger screen */
@media screen and (min-width: 720px) {
  .more-filter-dropdownmenu {
    min-width: 700px;
  }
  .more-left-list {
    height: 30vh;
  }
  .more-right-filters {
    height: 30vh;
  }
}

@media screen and (max-width: 1730px) {
  #country-code {
    padding: 9.5px 9px !important;
  }
}

@media screen and (max-width: 1660px) {
  .pl-mini-card {
    flex-wrap: wrap;
  }
  .pl-mini-card-img {
    width: 90%;
    height: 100px;
  }
  .pl-ad-top-title {
    font-size: clamp(0.7rem, 0.8vw, 1rem);
  }
}

@media screen and (min-width: 1400px) {
  .container {
    max-width: 1120px !important;
  }
}

/* tab view */
@media screen and (max-width: 1200px) {
  .container {
    max-width: 1000px !important;
  }

  #pl-body main {
    grid-template-columns: 100%;
  }
  #pl-main-section {
    padding: 10px 0;
  }
  #pl-ad-section {
    box-shadow: none;
    margin-bottom: 10px;
    height: auto;
    width: 50vw;
    margin: auto;
  }
  #pl-nav-1 {
    padding: 10px 10px;
  }
  .pl-nav-1-left {
    flex-wrap: wrap;
  }
  .nav-vertical-line:nth-child(4),
  .nav-vertical-line:last-child {
    display: none;
  }
  #pl-nav-searchbox {
    width: 100%;
  }
  #pl-search-input {
    width: 100%;
  }
  #pl-nav-1 {
    flex-wrap: nowrap;
    padding: 10px 10px;
  }
  #main-sticky {
    top: 190px;
  }
  .main-sticky-div3 {
    top: 229px;
  }
  /* Footer */
  .footer .columns div:first-child img {
    margin-top: 30px;
  }

  .footer .upper-footer .columns {
    flex-wrap: wrap;
  }

  .footer .upper-footer .columns h4 {
    margin-top: 30px;
  }
  .pl-card-section-extra {
    justify-content: center;
  }
  .list-details-table td {
    font-size: clamp(0.8rem, 1vw, 0.8rem);
  }
}

@media screen and (max-width: 1160px) {
  .pl-nav-1-right {
    margin-left: auto;
  }
  .pl-nav-1-left {
    flex-wrap: wrap;
  }
  #pl-nav-searchbox {
    width: 100%;
  }
  #pl-search-input {
    width: 100%;
  }
  #pl-nav-1 {
    flex-wrap: nowrap;
    padding: 10px 10px;
  }

  .nav-vertical-line:nth-child(4),
  .nav-vertical-line:last-child {
    display: none;
  }
}
@media screen and (max-width: 990px) {
  /* Footer  */
  .footer .upper-footer ul {
    padding-right: 10px;
  }
  .footer .upper-footer .px-5 {
    padding-right: 10px !important;
    padding-left: 10px !important;
  }
  .footer .upper-footer p br {
    display: none;
  }
  .footer .upper-footer p {
    margin-right: 10px !important;
  }
}
@media screen and (max-width: 916px) {
  #main-sticky {
    position: relative;
    top: auto;
  }
  .main-sticky-div3 {
    position: relative;
    top: auto;
  }
  .pl-mobile-filter-btn {
    display: block;
  }
}
@media screen and (max-width: 876px) {
  .list-details-table td,
  .list-details-table th {
    padding: 0px 3px;
    font-size: clamp(0.65rem, 0.9vw, 0.9rem);
  }
  .list-details-table td {
    font-size: clamp(0.55rem, 0.85vw, 0.85rem);
  }

  .first-listcard-description-sm span {
    display: block;
  }
  .first-listcard-description-sm a {
    text-decoration: none;
    color: #041a40;
  }
  .first-listcard-description-lg {
    display: none;
  }
  .property-list-img-container {
    height: 20vh;
  }
  .property-list-details h6 {
    font-size: clamp(1rem, 1.25vw, 1.25rem);
  }
  .property-list-details {
    width: 70%;
  }
  .pl-card-section-extra {
    justify-content: center;
  }
  .mini-broker-card {
    width: 100%;
    flex-direction: column;
  }
  .mini-broker-card h6 {
    font-size: clamp(1rem, 1.25vw, 1.25rem);
  }
  .mini-broker-title {
    font-size: clamp(0.65rem, 1.25vw, 1.25rem);
  }
  .mini-broker-location {
    font-size: clamp(0.65rem, 1.25vw, 1.25rem);
  }
  .brochure-modal-container.show {
    z-index: 6000;
  }
  .mini-broker-card img {
    width: 100%;
    max-width: 200px;
    height: 100%;
    border-radius: 20px;
  }
}

/* mobile view */
@media screen and (max-width: 768px) {
  #pl-body main {
    padding-inline: 10px;
  }
  /* brochure modal responsive*/
  .modal-container .brochure-modal {
    width: 80%;
    padding: 30px;
  }
  #moreFiltersDropdown {
    width: 90vw;
  }
  #pl-ad-section {
    width: 90vw;
  }
  #pl-fire {
    width: 60px;
  }
  .pll-card-car .pl-posted-by {
    display: none !important;
  }
  .pl1-widthlg90car-wad {
    display: none !important;
  }
  .pll-card-car {
    padding: 0px !important;
    overflow: hidden;
  }
  .car-mob-card {
    display: block;
  }
  .car-mob-img img {
    border-radius: 20px;
  }
  .mob-featured-info {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: rgba(65, 65, 65, 0.493);
  }
  .mob-featured-info span {
    font-size: 0.8rem;
    font-weight: 500;
    padding: 2px 5px;
    color: white;
    border-radius: 5px;
  }
}

@media screen and (max-width: 550px) {
  .columns > div:first-child {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: none;
  }
  .footer .upper-footer .px-5 {
    padding: 0 !important;
  }
  .footer .upper-footer .d-flex:last-child .image-container {
    justify-content: center !important;
  }
  .footer .upper-footer .d-flex:last-child h5 {
    margin-top: 20px;
  }
  .footer .playStore-btn {
    position: static;
    margin-top: 30px;
  }
  .upper-footer .columns div:nth-child(3) .d-flex {
    flex-direction: column;
  }
  .upper-footer .columns div:nth-child(3) .d-flex ul:last-child {
    padding-left: 0 !important;
  }
  .upper-footer .columns {
    margin-bottom: 0 !important;
  }
  .lower-footer .lower-upper {
    padding-top: 0 !important;
  }

  .description {
    width: 90%;
  }
  .section-two .section-two-nav {
    overflow-x: hidden;
    width: 90%;
  }
  .section-two-nav ul {
    overflow-x: auto;
    width: 85%;
  }
  .section-two-nav li:first-child {
    margin-left: 40px;
  }
  .footer .playStore-btn {
    position: static;
    margin-top: 30px;
  }
  .footer .playStore-btn .appstore-button {
    margin-top: 10px;
  }
  /* brouchure modal responsive*/
  .modal-container .brochure-modal {
    width: 90%;
    padding: 10px;
  }
  .modal-container form {
    padding: 10px;
  }
  #BudgetTypeSelection {
    font-size: 0.75em;
  }
  #pl-nav-2 {
    padding-inline: 10px;
  }
  .menu-type-1 {
    padding: 5px 8px;
    border-radius: 20px !important;
  }
  .dropdown {
    border-radius: 20%;
  }

  .main-nonsticky-div2 {
    padding-block: 0px;
  }
  /* card view change */
  #property-list-card-1-sponsored {
    display: none;
  }
  main {
    padding: 0px !important;
  }
  .mob-card-div-1 {
    display: block;
    border-radius: 20px;
    box-shadow: 0px 2px 10px 2px #00000025;
    padding: 10px;
    border: 1px solid #00000025;
  }
  .mob-card-img-div {
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;
    position: relative;
  }
  .mob-card-img-div img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
  }
  .mob-card-div1 {
    display: flex;
    gap: 10px;
    justify-content: start;
    align-items: stretch;
    border-bottom: 1px solid #00000025;
    padding-bottom: 10px;
  }
  .mob-card-div1 p {
    font-size: 0.8rem;
    font-weight: 500;
    width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .mob-card-cost {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
  }
  .mob-prop-details {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    width: 100%;
    overflow: auto;
  }
  /* .mob-prop-details  scrollbar no display*/
  .mob-prop-details::-webkit-scrollbar {
    display: none;
  }
  .mob-detail-item:not(:first-child) {
    border-left: #00000025 1px solid;
    padding-left: 10px;
  }
  .mob-detail-item p {
    font-size: 0.8rem;
    font-weight: 500;
    white-space: nowrap;
    color: #757575;
  }
  .mob-detail-item span {
    font-size: 0.8rem;
    font-weight: 400;
    white-space: nowrap;
    color: #757575;
  }
  .mob-card-div2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: 1px solid #00000025;
    padding-bottom: 10px;
  }
  .mob-card-div3 {
    display: flex;
    gap: 10px;
    justify-content: end;
    align-items: center;
    padding: 10px 0px;
  }
  .mob-interested-btn {
    background-color: #111f3c33;
    color: #111f3c;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 0.8rem;
    border: 1px #111f3c solid;
  }
  .sponsored-btn {
    padding: 5px 10px;
    font-size: 0.8rem;
    position: absolute;
    top: 0;
    left: 0;
  }
  .pll-with-ad {
    display: none;
  }
  .pl-posted-extra-div {
    border: none;
  }
  .mini-broker-card h6 {
    font-size: 0.8rem;
  }
  .property-list-card {
    display: none;
  }
  .footer h3 {
    font-size: clamp(1.5rem, 1.5vw, 1.5rem);
  }
  .mob-card-div3-all {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px 0px;
    justify-content: start;
    width: 100%;
  }
  .pl-posted-by {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  .pl-posted-by-right {
    display: flex;
    justify-content: end;
    width: 100%;
  }

  .pl-nav-1-right {
    display: none;
  }
  #pl-view-type {
    display: none;
  }
  #pl-post-property-nav {
    font-size: 0.65rem;
    background-color: white;
    color: #111f3c;
  }

  #mob-post-property {
    display: block;
  }
  .pl-fp-title {
    font-size: 1rem;
  }
  .nav-vertical-line {
    display: none;
  }
  .pl-nav-1-left > .dropdown {
    display: none;
  }
  .pl-post-property-nav-br {
    display: none;
  }
  .pl-nav-1-left {
    justify-content: space-between;
    padding: 10px 10px;
  }
  #pl-nav-searchbox {
    padding: 2px 0px;
  }
}
