* {
  font-family: "Familjen Grotesk", sans-serif;
}

html,
body {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

ul {
  list-style: none;
}

#checkbox {
  display: none;
}

.fs-13 {
  font-size: 13px;
}

.primary-text-color {
  color: #111f3c;
}

.secondary-text-color {
  color: #616161;
}

/* Hero Section Styles */
.herosection {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Right Side Styles */
.rightside {
  height: 100%;
}

.rightside #newsCards {
  height: 60vh;
}

.hero-image {
  height: 60vh;
  width: 100%;
  object-fit: cover;
}

nav {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 55px;
  background-color: #111f3c;
  border-radius: 0px 0px 20px 20px;
  z-index: 1000;
}

nav .large-screen-navbar {
  padding: 10px 60px;
  position: relative;
  z-index: 200;
}

.header-logo {
  margin-right: 70px;
}

nav li a {
  margin-right: 50px;
  color: #fff !important;
  transition: color 0.5s ease;
  text-decoration: none;
  font-size: 0.92rem;
}

nav li a:hover {
  color: #ec7100 !important;
}

nav ul {
  margin-bottom: 0px;
}

.post-btn {
  background-color: #111f3c;
  color: white;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 4px 15px;
  font-size: 0.8rem;

  &:hover {
    background-color: #fff;
    color: #001b4b;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
}

#checkbox {
  display: none;
}

.toggle {
  position: relative;
  width: 25px;
  height: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  transition-duration: 0.3s;
}

.bars {
  width: 100%;
  height: 2px;
  background-color: rgb(253, 255, 243);
  border-radius: 5px;
  transition-duration: 0.3s;
}

#bar4,
#bar5 {
  display: none;
}

#checkbox:checked + .toggle #bar4 {
  display: flex;
  transform: translateY(10px) translateX(4px) rotate(25deg);
  margin-left: 0;
  transform-origin: right;
  transition-duration: 0.3s;
  z-index: 2;
  width: 12px;
}

#checkbox:checked + .toggle #bar5 {
  display: flex;
  transform: translateY(-2.5px) translateX(-6.5px) rotate(-25deg);
  margin-left: 0;
  transform-origin: right;
  transition-duration: 0.3s;
  z-index: 2;
  width: 13px;
}

#checkbox:checked + .toggle #bar2 {
  transform: translateY(19px) translateX(-5px) rotate(70deg);
  margin-left: 0;
  transform-origin: right;
  transition-duration: 0.3s;
  z-index: 2;
  width: 30px;
}

#checkbox:checked + .toggle #bar1 {
  transform: translateY(27px) translateX(4px) rotate(-70deg);
  transition-duration: 0.3s;
  transform-origin: left;
  z-index: 1;
  width: 30px;
}

#checkbox:checked + .toggle {
  transform: rotate(45deg);
}

#checkbox:checked + .toggle #bar3 {
  transform: translateY(12px) rotate(2deg);
  transition-duration: 0.3s;
  transform-origin: right;
  display: none;
}

.mobile-navbar {
  position: absolute;
  top: -300px;
  left: 0;
  width: 100%;
  background-color: #111f3c;
  color: #fff;
  transition: top 0.5s ease;
  border-radius: 0 0 20px 20px;
  z-index: 100;
  padding-bottom: 10px;
}

.mobile-navbar.show {
  top: 30px;
}

.mobile-navbar ul {
  margin-top: 20px;
  padding-left: 0;
  text-align: center;
}

.mobile-navbar li {
  margin-bottom: 15px;
  font-size: 0.9rem;
  width: max-content;
}

.mobile-navbar li button {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 4px 15px;
  color: #fff;
  font-size: 0.8rem;
}

.mobile-navbar li button:hover {
  cursor: pointer;
  background-color: #fff;
  color: #111f3c;
}

.mobile-navbar a {
  color: #fff;
  margin-right: 0px;
}

.heading {
  font-size: 16px;
  font-weight: 400 !important;
  color: #111f3c;
}

.mobile-menu {
  display: none;
}

.secondary-navbar {
  background-color: #f7f9ff;
  margin-top: 50px;
  width: 100%;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.header-link {
  color: white;
  font-size: 18px;
}

.header-link:hover {
  color: #ec7100;
}

.custom-navlink {
  font-size: 18px;
  font-weight: 500;
}

.nav-link {
  font-size: 18px;
  color: black;
}

.nav-tabs .nav-link:hover {
  border: none;
}

.nav-tabs .nav-link.active {
  position: relative;
  background-color: transparent;
  padding-bottom: 0.5rem;
}

.nav-tabs .nav-link.active:hover::before {
  width: 100%;
}

.nav-tabs .nav-link {
  position: relative;
}

.nav-tabs .nav-link.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  height: 2px;
  background-color: #111f3c;
  transform: translateX(-50%);
  animation: expand 0.3s ease-out forwards;
}

@keyframes expand {
  0% {
    width: 0;
  }

  100% {
    width: 80%;
  }
}

.nav-tabs .nav-link {
  color: black;
}

.nav-pills .nav-link.active {
  background: #f7f9ff;
  box-shadow: 6px 6px 12px #c5c5c5, -4px -4px 12px #ffffff;
}

.nav-pills .nav-item button {
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #f7f9ff;
  cursor: pointer;
  border: 1px solid #f7f9ff;
  transition: all 0.3s;
  box-shadow: 2px 2px 4px #c5c5c5, -6px -6px 12px #ffffff;
}

.nav-pills .nav-item button:hover {
  border: 1px solid white;
}

#riveCanvas {
  width: 45px;
}

.sort-btn {
  color: #111f3c;
  background-color: transparent;
  border-radius: 10px;
  padding: 6px 0px;
}

.no-caret::after {
  display: none !important;
}

.sort-btn:hover {
  color: white;
  background-color: #24324e;
}

.badge {
  background-color: #ec7100;
  z-index: 1;
  border-radius: 0;
}

.trending {
  background-color: linear-gradient(to bottom, #ffffff 0%, #e5e8ff 100%);
}

.trending-section-right-section {
  background-color: #f7f9ff;
  overflow-y: auto;
  height: 470px;
}

.carousel-button {
  background-color: #041a40;
  border-radius: 50%;
}

.carousel-button:hover {
  background-color: #041a40;
  color: white;
}

.subscribe-section {
  background: linear-gradient(to bottom, #ffffff 0%, #e5e8ff 100%);
  border-radius: 30px;
}

.subscribe-btn {
  border: 2px solid #ec7100;
  color: #ec7100;
  background-color: transparent;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.subscribe-btn:hover {
  background-color: #ec7100;
  color: white;
}

.view-more-btn {
  color: #111f3c;
  background-color: transparent;
}

.view-more-btn:hover {
  color: white;
  background-color: #24324e;
}

.heritage-section,
.technology-section {
  display: none;
}

.heritage-section.active,
.technology-section.active {
  display: block;
}

/* Footer */
.footer {
  color: #ffffff;
  background-color: #111f3c;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  position: relative;
  padding: 55px 10px 20px 10px;
}

.footer .container {
  max-width: 1120px;
}

footer button p {
  margin-bottom: 0px;
}

.footer .upper-footer ul {
  padding-left: 0;
  border-top: 0.5px solid #919191;
  padding-right: 50px;
}

.footer h3 {
  /* font-weight: 400 !important; */
  font-size: 2rem;
  margin-top: 10px;
  white-space: nowrap;
  margin-right: 15px;
}

.footer h4 {
  font-size: 1.5rem;
}

.upper-footer {
  position: relative;
}

.upper-footer .white-btn {
  margin-top: 60px;
  background-color: transparent;
  border: 1px solid #ffffff;
  width: 200px;
  padding: 8px 15px;
  border-radius: 10px;
  color: #ffffff;
}

.upper-footer .white-btn:hover {
  background-color: #ffffff;
  color: #111f3c;
}

.footer li {
  position: relative;
  width: max-content;
}

.upper-footer li::before {
  content: "";
  width: 0;
  height: 2px;
  border-radius: 2px;
  background-color: #ec7100;
  position: absolute;
  bottom: -3px;
  left: 50%;
  transition: width 0.4s, left 0.4s;
}

.upper-footer li:hover {
  cursor: pointer;
  color: #ec7100;
}

.upper-footer li:hover::before {
  width: 100%;
  left: 0;
}

.upper-footer li:hover {
  color: #ec7100;
  cursor: pointer;
}

.lower-footer li:hover {
  cursor: pointer;
  color: #ec7100;
}

.footer .upper-footer li {
  /* font-weight: 300 !important; */
  margin: 13px 0;
  text-align: left;
  white-space: nowrap;
  font-size: 0.9rem;
}

.footer .blue-btn {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 6px 30px 6px 6px;
  border: none;
  color: #111f3c;
  /* font-weight: 300 !important; */
  font-size: 1rem;
  flex-wrap: nowrap;
  display: flex;
  position: relative;
}

.footer .refer-btn {
  padding: 6px 25px 6px 6px;
}

.footer .refer-btn lottie-player {
  position: absolute;
  right: 4px;
  bottom: 8px;
}

.footer .blue-btn canvas {
  position: absolute;
  right: -18px;
  bottom: 5px;
  width: 70px;
}

.footer .playStore-btn {
  position: absolute;
  right: 20px;
  bottom: 10px;
}

.googlePlay-button .texts .launch-text,
.appstore-button .texts .launch-text {
  font-size: 1rem;
  white-space: wrap;
  margin-right: 10px;
}

.googlePlay-button .texts .soon-text,
.appstore-button .texts .soon-text {
  font-size: 1rem;
  font-weight: 400 !important;
  text-align: center;
  margin-left: 15px;
}

.googlePlay-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #000;
  border-radius: 9999px;
  background-color: rgba(0, 0, 0, 1);
  padding: 0.625rem 1.5rem;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  outline: 0;
  transition: all 0.2s ease;
  text-decoration: none;
  margin-right: 10px;
}

.googlePlay-button:hover {
  background-color: #ffffff;
  color: #000000;
}

.googlePlay-button .icon {
  height: 1.5rem;
  width: 1.5rem;
}

.googlePlay-button .texts {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1;
}

.googlePlay-button .text-1 {
  margin-bottom: 0.25rem;
  font-size: 0.75rem;
  line-height: 1rem;
}

.googlePlay-button .text-2 {
  font-weight: 600;
}

.appstore-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #000;
  border-radius: 9999px;
  background-color: rgba(0, 0, 0, 1);
  padding: 0.625rem 1.5rem;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  outline: 0;
  transition: all 0.2s ease;
  text-decoration: none;
}

.appstore-button:hover {
  background-color: #ffffff;
  color: #000000;
}

.appstore-button .icon {
  height: 1.5rem;
  width: 1.5rem;
}

.appstore-button .texts {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1;
}

.appstore-button .text-1 {
  margin-bottom: 0.25rem;
  font-size: 0.75rem;
  line-height: 1rem;
}

.appstore-button .text-2 {
  font-weight: 600;
}

.lower-footer .lower-upper {
  padding: 8px 0;
  margin-top: 40px;
  margin-bottom: 10px;
  border-bottom: 0.5px solid #919191;
  text-align: center;
}

.lower-upper li {
  padding: 0 10px;
  font-size: 0.9rem;
}

.lower-bottom .socials-container {
  display: flex;
}

.lower-bottom .socials-container a {
  margin: 0 8px;
}

.social-btn {
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.4s;
  cursor: pointer;
  position: relative;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  overflow: hidden;
}

.insta-btn {
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
}

.linkedin-btn {
  background: #007ab9;
}

.youtube-btn {
  background: #ff0000;
}

.fb-btn {
  background: #1877f2;
}

.svgIcon,
.social-btn img {
  transition-duration: 0.3s;
}

.svgIcon path {
  fill: white;
}

.social-btn .text {
  position: absolute;
  color: rgb(255, 255, 255);
  /* width: 120px; */
  opacity: 0;
  transition-duration: 0.4s;
}

.social-btn:hover {
  width: 110px;
  transition-duration: 0.4s;
  border-radius: 30px;
}

.social-btn:hover .text {
  opacity: 1;
  transition-duration: 0.4s;
}

.social-btn:hover .svgIcon,
.social-btn:hover img {
  opacity: 0;
  transition-duration: 0.3s;
}

.lower-footer p {
  font-size: 0.9rem;
}

/* Scrollbar Styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f7f7f7;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
  border-radius: 10px;
  border: 2px solid #f7f7f7;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #d9d9d9;
}

/* For Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #d9d9d9 #f7f7f7;
}

/* For Internet Explorer and Edge */
.custom-scrollbar {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

@media screen and (max-width: 1200px) {
  .footer .columns div:first-child img {
    margin-top: 30px;
  }
  .footer .upper-footer .columns {
    flex-wrap: wrap;
  }
  .footer .upper-footer .columns h4 {
    margin-top: 30px;
  }
}

@media screen and (max-width: 990px) {
  /* footer */
  .footer .upper-footer ul {
    padding-right: 10px;
  }
  .footer .upper-footer .px-5 {
    padding-right: 10px !important;
    padding-left: 10px !important;
  }
  .footer .upper-footer p br {
    display: none;
  }
  .footer .upper-footer p {
    margin-right: 10px !important;
  }
}

@media screen and (max-width: 820px) {
  /* Navbar */
  #nav-links {
    display: none;
  }
  header .post-btn {
    display: none;
  }
  .mobile-menu {
    display: flex;
    align-self: flex-end;
  }
  nav .large-screen-navbar {
    padding: 10px 20px;
  }
}

@media screen and (max-width: 770px) {
  .footer .upper-footer .d-flex:first-child {
    flex-wrap: wrap;
  }
  .footer .upper-footer h4 {
    margin-top: 20px;
  }
  .footer .lower-footer .lower-upper {
    flex-direction: column;
  }
  .footer .lower-footer .lower-upper ul {
    margin: 15px 0 !important;
    flex-direction: column;
  }
  .footer .lower-footer .lower-upper ul li {
    margin-bottom: 5px;
  }
}

@media (max-width: 767.98px) {
  .custom-navlink {
    font-size: 10px;
    font-weight: 600;
  }

  #pills-Bengaluru-tab {
    width: 100%;
  }

  .nav-tabs .nav-link.active {
    width: 110%;
  }

  .rightside #newsCards {
    height: 100%;
  }

  .trending-section-right-section {
    height: 4100%;
  }

  .share-container ul li p,
  .share-family-text {
    font-size: 12px;
  }
  /* footer */
  .footer .lower-bottom {
    flex-direction: column;
  }
  .footer .lower-bottom p {
    margin-bottom: 8px !important;
  }
}

@media (max-width: 767px) {
  .hero-image {
    height: 80vh;
    width: 100%;
  }

  .custom-navlink {
    font-size: 10px;
    font-weight: 600;
  }

  #pills-Bengaluru-tab {
    width: 100%;
  }

  .nav-tabs .nav-link.active {
    width: 110%;
  }

  .trending-section-right-section {
    height: 4100%;
  }
}

/* Mobile view slider styles */
.slider {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.slide {
  flex: 0 0 85%;
  scroll-snap-align: center;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slide img {
  object-fit: cover;
  height: auto;
}

@media screen and (max-width: 560px) {
  .footer {
    padding-top: 20px;
  }
  .footer .playStore-btn {
    position: static;
  }
  .footer .columns > div:first-child,
  .playStore-btn.larger-screen {
    display: none !important;
  }
  .footer .upper-footer .columns {
    flex-direction: column;
  }
  .footer .upper-footer .columns > div {
    overflow: hidden;
    width: 100%;
  }
  .footer .upper-footer .columns > div ul {
    max-height: 0px;
    transition: max-height 0.5s ease;
    margin: 0;
  }
  .footer .upper-footer .columns > div ul.active {
    max-height: 260px;
  }
  .footer .upper-footer .columns > div:last-child li:last-child {
    width: 100%;
  }
  .footer .upper-footer .columns > div:last-child li:nth-child(4) {
    position: absolute;
    top: -8%;
    left: 65%;
  }
  .footer .upper-footer ul {
    border: none;
  }
  .footer .upper-footer .columns h4 {
    margin-top: 15px;
  }
  .footer .columns > div:nth-child(4) h4 {
    margin-top: 8px;
  }
  .footer .upper-footer .columns h4 svg.rotated {
    transform: rotate(180deg);
  }
  .footer .upper-footer .columns > div:nth-child(2) ul > div {
    position: absolute;
    right: 0px;
    left: 0px;
  }
  .upper-footer .columns div:nth-child(3) .d-flex {
    flex-direction: column;
  }
  .upper-footer .columns div:nth-child(3) .d-flex ul:last-child {
    padding-left: 0 !important;
  }
  .upper-footer .columns {
    margin-bottom: 0 !important;
  }
  .lower-footer .lower-upper {
    padding-top: 0 !important;
  }
  .footer .upper-footer .columns > div:last-child li:last-child:before,
  .footer .upper-footer .columns > div:last-child li:nth-child(4):before {
    display: none;
  }
  .googlePlay-button,
  .appstore-button {
    margin-left: 20px;
    margin-right: 20px;
  }
  .lower-footer .lower-bottom {
    border-top: 1px solid #919191;
    padding-top: 8px;
  }
}

@media screen and (min-width: 560px) {
  .upper-footer .mobile-view-list,
  .playStore-btn.smaller-screen,
  .smaller-screen-refer-button {
    display: none !important;
  }
}

@media screen and (max-width: 460px) {
  .footer .upper-footer .columns > div:last-child li:nth-child(4) {
    left: 64%;
  }
}

@media screen and (max-width: 450px) {
  .footer .upper-footer .columns > div:last-child li:nth-child(4) {
    left: 60%;
  }
  .googlePlay-button,
  .appstore-button {
    margin-left: 2px;
    margin-right: 2px;
  }
}

@media screen and (max-width: 405px) {
  .footer .googlePlay-button .texts,
  .footer .appstore-button .texts {
    font-size: 0.7rem;
  }

  .footer .googlePlay-button,
  .footer .appstore-button {
    padding: 0.625rem 1rem;
  }
}

/* For screens smaller than 420px */
@media only screen and (max-width: 420px) {
  .slider {
    padding: 0;
  }

  .slide {
    margin-right: 5%;
  }

  .slide img {
    margin: 0;
  }

  .footer .upper-footer .columns > div:last-child li:nth-child(4) {
    left: 55%;
  }
}

/* Share Container */
.share-container {
  position: relative;
}

.share-container::before {
  content: "Share this property";
  position: absolute;
  top: -30px;
  left: -20px;
  padding: 4px 8px;
  border-radius: 3px;
  background-color: #00000090;
  color: #fff;
  z-index: 100;
  font-size: 0.7rem;
  white-space: nowrap;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.arrow-pair {
  position: relative;
}

.arrow-pair::before {
  content: "Save this property";
  position: absolute;
  top: -30px;
  left: -20px;
  padding: 4px 8px;
  border-radius: 3px;
  background-color: #00000090;
  color: #fff;
  z-index: 100;
  font-size: 0.7rem;
  white-space: nowrap;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.share-container:hover::before,
.arrow-pair:hover::before {
  opacity: 1;
  transform: translateY(0);
}

.property-overview-container .share-container:before {
  left: 0px;
}

.share-container ul {
  position: absolute;
  background-color: #ffffff;
  z-index: 5;
  width: max-content;
  padding-left: 0;
  top: 40px;
  left: -35px;
  box-shadow: 0px 0px 20px 2px #00000025;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
}

.share-container ul.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.share-container ul li p:hover {
  color: #ec7100;
  cursor: pointer;
}

.share-container ul li p {
  margin: 0;
  margin-left: 12px;
  color: #616161;
}

.share-container ul li:first-child {
  color: #434343;
  background-color: #f7f9ff;
}

.share-container ul li {
  display: flex;
  align-items: center;
  padding: 7px 10px;
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  .share-container ul {
    position: absolute;
    background-color: #ffffff;
    z-index: 5;
    width: max-content;
    padding-left: 0;
    top: 40px;
    left: -115px;
    box-shadow: 0px 0px 20px 2px #00000025;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
  }

  .share-container-share-text {
    font-size: 12px;
  }
}
