/********************/
/* General */
/********************/
*::-webkit-scrollbar {
  display: none;
}

* {
  font-family: "Familjen Grotesk", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0 !important;
}

input:focus {
  outline: none;
}

.green-color-text {
  color: #58b326;
}

.green-color-background {
  background-color: #58b326;
}

.solar-card-title {
  font-size: 18px;
  font-weight: 600;
}

.primary-text-color {
  color: #111f3c;
}

.secondary-text-color {
  color: #616161;
}

.sub-text {
  font-size: 16px;
}

.benefits-card-subtitle {
  font-size: 15px;
}

/* Hide the number input spinner */
.hide-spinner::-webkit-inner-spin-button,
.hide-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Navbar */
.navbar {
  z-index: 1000;
  background-color: #fff;
  border-radius: 50px;
  width: max-content;
  box-shadow: 0 4px 16px 0 #00000015;
  margin: 15px auto;
  padding: 0;
}

.navbar .nav-button {
  position: absolute;
  right: 8px;
  top: 40%;
  transform: translateY(-50%);
  background-color: #111f3c;
  border: none;
  border-radius: 50%;
  padding: 8px 7px 6px 7px;
  cursor: pointer;
  z-index: 20;
  box-shadow: 0 4px 4px 0 #00000015;
}

.navbar .nav-prev-button.hidden {
  display: none;
}

.fixed {
  position: fixed;
  top: 0;
  width: max-content;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0 4px 16px 0 #00000015;
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  flex-wrap: nowrap;
  padding-left: 0;
}

.navbar li {
  padding: 4px 10px;
  color: #111f3c;
  border-radius: 20px;
  margin: 10px;
  white-space: nowrap;
  transition: background-color 0.3s ease;
  position: relative;
  z-index: 2;
}

.navbar li:hover {
  cursor: pointer;
}

.navbar li.active {
  color: #fff;
  cursor: pointer;
}

.navbar::before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 0;
  border-radius: 20px;
  width: 100px;
  height: 30px;
  background-color: #111f3c;
  transition: left 0.3s ease, width 0.3s ease;
  left: var(--nav-left, 0);
  width: var(--nav-width, 0);
}

@media screen and (max-width: 800px) {
  .navbar {
    display: none;
  }

  header {
    background-color: #111f3c;
    padding: 20px;
  }
}

@media screen and (min-width: 800px) {
  .header-logo {
    display: none;
  }
}

/* mobile navbar */
.mobile-navbar {
  background-color: #111f3c;
  color: white;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

#checkbox {
  display: none;
}

.toggle {
  position: absolute;
  width: 25px;
  height: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  transition-duration: 0.3s;
  right: 25px;
  top: 20px;
  z-index: 1000;
}

.bars {
  width: 100%;
  height: 2px;
  background-color: rgb(253, 255, 243);
  border-radius: 5px;
  transition-duration: 0.3s;
}

#bar4,
#bar5 {
  display: none;
}

#checkbox:checked + .toggle #bar4 {
  display: flex;
  transform: translateY(10px) translateX(4px) rotate(25deg);
  margin-left: 0;
  transform-origin: right;
  transition-duration: 0.3s;
  z-index: 2;
  width: 12px;
}

#checkbox:checked + .toggle #bar5 {
  display: flex;
  transform: translateY(-2.5px) translateX(-6.5px) rotate(-25deg);
  margin-left: 0;
  transform-origin: right;
  transition-duration: 0.3s;
  z-index: 2;
  width: 13px;
}

#checkbox:checked + .toggle #bar2 {
  transform: translateY(19px) translateX(-5px) rotate(70deg);
  margin-left: 0;
  transform-origin: right;
  transition-duration: 0.3s;
  z-index: 2;
  width: 30px;
}

#checkbox:checked + .toggle #bar1 {
  transform: translateY(27px) translateX(4px) rotate(-70deg);
  transition-duration: 0.3s;
  transform-origin: left;
  z-index: 1;
  width: 30px;
}

#checkbox:checked + .toggle {
  transform: rotate(45deg);
}

#checkbox:checked + .toggle #bar3 {
  transform: translateY(12px) rotate(2deg);
  transition-duration: 0.3s;
  transform-origin: right;
  display: none;
}

.header-link {
  color: white;
  font-size: 18px;
}

.header-link:hover {
  color: #ec7100;
}

/* hero section */
.hero-section {
  background: linear-gradient(to bottom, #ffff, #ecf0ff, #c8d3f3);
}

.top-herosection {
  margin-top: 5em;
}

.hero-rightside {
  margin-top: 8em;
}

.hero-image {
  height: 90vh;
  object-fit: fill;
}

@media (max-width: 767px) {
  .hero-image {
    height: 50vh;
    width: 100%;
  }

  .top-herosection {
    margin-top: 2em;
  }

  .hero-rightside {
    margin-top: 2em;
  }
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-toggle {
  padding-right: 1.5rem;
}

.horizontal-line {
  border: none;
  height: 3px;
  background-color: #94b9ff;
}

.vertical-line {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 2px;
  background-color: #94b9ff;
}

.logo-btn {
  background-color: #111f3c;
}

.title {
  font-size: 32px;
  font-weight: 600;
}

.future-title {
  font-size: 35px;
}

.future-sub-title {
  width: 75%;
}

.future-card-title-1 {
  width: 50%;
}

.future-card-title-2 {
  width: 75%;
}

.text-underline {
  display: inline-block;
  border-bottom: 2px solid #000;
}

.benefits-card {
  background-color: #f7f9ff;
}

.benefits-card-title {
  font-size: 20px;
}

/* General card styling */
.benefits-card {
  transition: transform 0.9s ease-in-out;
  transform-style: preserve-3d;
  perspective: 1000px;
  position: relative;
}

/* Card image styles */
.benefits-card .card-img {
  height: 150px;
  width: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  margin: auto;
  cursor: pointer;
  transition: background-image 0.2s ease-in-out 0.2s;
}

.benefits-card:hover {
  box-shadow: 0px 4px 14.9px 0px #00000021;
  cursor: pointer;
}

/* Initial background images */
.hover-img-1 {
  background-image: url("./assets/benefits/benefits-1.png");
}

.hover-img-2 {
  background-image: url("./assets/benefits/benefits-2.png");
}

.hover-img-3 {
  background-image: url("./assets/benefits/benefits-3.png");
}

.hover-img-4 {
  background-image: url("./assets/benefits/benefits-4.png");
}

/* Rotate the card on hover */
/* .benefits-card:hover {
  transform: rotateY(180deg);
}

.benefits-card .card-body {
  backface-visibility: hidden;
  transform: rotateY(0deg);
}

.benefits-card:hover .card-body {
  transform: rotateY(180deg);
  transition: transform 0.1s ease-in-out;
}


.benefits-card:hover .hover-img-1 {
  background-image: url('./assets/benefits/benefits-5.png');
}

.benefits-card:hover .hover-img-2 {
  background-image: url('./assets/benefits/benefits-6.png');
}

.benefits-card:hover .hover-img-3 {
  background-image: url('./assets/benefits/benefits-7.png');
}

.benefits-card:hover .hover-img-4 {
  background-image: url('./assets/benefits/benefits-8.png');
} */

/* .select-btn {
  background-color: #ecf0ff;
  border: 1px solid #94b9ff;
} */

#riveCanvas {
  width: 40px;
}

@keyframes slideUp {
  from {
    transform: translateY(100px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 10;
  }
}

.btn-close {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.modal-backdrop {
  z-index: 1050;
}

/* Brochure Modal */

.modal-container {
  background-color: #00000080;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  display: none;
  transform: scale(0);
  transition: all 0.5s;
  font-family: "Familjen Grotesk", sans-serif;
}

.modal-container.show {
  transform: scale(1);
}

@keyframes expand {
  to {
    width: 100%;
    height: 100%;
  }
}

.modal-container .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-container .close-icon {
  position: absolute;
  right: 20px;
  top: 20px;
}

.modal-container .close-icon:hover {
  cursor: pointer;
}

.modal-container .scheduling-container.hidden {
  display: none;
}

.brochure-modal h4 {
  font-weight: 400;
  font-size: 1.3rem;
  color: #434343;
}

.brochure-modal .input-group {
  position: relative;
}

.brochure-modal .input {
  border: 1px solid #999999;
  border-radius: 5px;
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  background: none;
  padding: 8px;
  font-size: 1rem;
  color: #434343;
  transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.brochure-modal .user-label {
  position: absolute;
  left: 15px;
  color: #a8a9a9;
  pointer-events: none;
  transform: translateY(1.2rem);
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.brochure-modal .input:focus,
.brochure-modal input:valid {
  outline: none;
}

.brochure-modal form .input:focus ~ label,
.brochure-modal input:valid ~ label {
  transform: translateY(-10%) scale(0.8);
  background-color: #ffffff;
  padding: 0.2em;
}

.brochure-modal form .no-transform label {
  transform: none;
  padding: 0;
}

.modal-container .brochure-modal {
  width: 500px;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 0 40px 30px #00000030;
}

.modal-container form {
  background-color: #fff;
  padding: 20px 10px;
}

.modal-container form input {
  width: 100%;
  margin: 13px 0;
}

.modal-container form select {
  padding: 9px;
  margin: 13px 0;
  color: #434343;
  border-right: none !important;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid #999999;
  position: relative;
  left: 2px;
}

.brochure-modal #phone-number {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.modal-container form input::placeholder {
  color: #a8a9a9;
  font-weight: 300;
}

.brochure-modal .phone-number-container.sent input {
  margin-bottom: 0;
}

.brochure-modal .phone-number-container.sent select {
  top: 6.5px;
}

.brochure-modal .phone-number-container {
  position: relative;
}

.modals .otp-sent {
  color: #ec7100;
  display: none;
}

.modals .otp-sent.active {
  display: block;
}

.modals .d-flex .otp-btn {
  font-size: 0.85rem;
  color: #ffffff;
  border: none;
  padding: 8px 20px;
  border-radius: 8px;
  margin: 13px 0;
  background-color: #111f3c;
  position: absolute;
  right: 4px;
  bottom: 3px;
}

.modals .phone-number-container.sent .otp-btn {
  margin: 0;
}

.modals .phone-number-container.sent select {
  margin: 0;
}

.modals .otp-container {
  display: none;
}

.modals .otp-container input {
  width: 100%;
}

.modals .otp-container p {
  margin-top: 8px;
  margin-left: 3px;
  font-size: 0.8rem;
  width: 40%;
  white-space: nowrap;
}

.otp-container .otp-verification {
  position: absolute;
  right: 35px;
  top: 23px;
  color: green;
  width: max-content !important;
  margin: 0 !important;
  display: none;
}

.phone-number-container .verify-btn {
  font-size: 0.85rem;
  color: #ffffff;
  border: none;
  padding: 8px 20px;
  border-radius: 8px;
  margin: 13px 0;
  background-color: #111f3c;
  position: absolute;
  right: 4px;
  bottom: 3px;
}

.modal-container input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

.modal-container label {
  margin-left: 10px;
}

.modal-container button[type="submit"] {
  width: 100%;
  text-align: center;
  margin-top: 15px;
  border-radius: 20px;
  border: none;
  padding: 10px;
  color: #fff;
  background-color: #d9d9d9;
}

.modal-container button[type="submit"].active {
  background-color: #111f3c;
}

.modal-container button[type="submit"].active:hover {
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse512 1.5s infinite;
}

/* Confirmation Popup Modal */

.confirmation-popup-modal {
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
  border-radius: 20px;
  display: none;
  width: 450px;
  height: 400px;
}

.confirmation-popup-modal video {
  width: 400px;
  height: 250px;
}

.confirmation-popup-modal h4 {
  color: #ec7100;
  font-weight: 500;
  font-size: 1.6rem;
}

.confirmation-popup-modal p {
  color: #434343;
  font-size: 1.2rem;
}

.confirmation-popup-modal h4,
.confirmation-popup-modal p {
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.confirmation-popup-modal.show h4,
.confirmation-popup-modal.show p {
  opacity: 1;
  transform: translateY(-40px);
}

.Realezi-arrow-loader.shrink {
  width: 55%;
  transition: width 0.5s ease;
}

.no-scroll {
  overflow: hidden;
}

/* Custom Stepper Styles */
.stepper {
  position: sticky;
  top: 20px;
}

.step {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.step-number {
  background-color: #989899;
  color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.step.active .step-number {
  background-color: #111f3c;
}

.step-content {
  height: 100%;
  position: relative;
  /* opacity: 0; */
  transition: opacity 0.5s ease;
}

.step-line {
  width: 2px;
  height: 130px;
  background-color: gray;
  margin-left: 25px;
}

.step-content.active {
  opacity: 1;
}

.way-work-card {
  height: 50vh;
  display: flex;
  flex-direction: column;
}

.way-work-card .card-body {
  overflow: hidden;
  flex: 1;
  padding: 10px;
}

/* thuder styles */
.thunder-right {
  width: 350px;
  height: 350px;
  z-index: 2;
  right: -5%;
  top: -10%;
}

.thunder-left {
  width: 350px;
  height: 350px;
  z-index: 2;
  left: -5%;
  top: -10%;
  transform: scaleX(-1);
}

@media (max-width: 767px) {
  .thunder-right,
  .thunder-left {
    width: 200px;
    height: 200px;
    top: -5%;
  }

  .thunder-right {
    right: -3%;
  }

  .thunder-left {
    left: -10%;
  }
}

.tapInto-tomorrow-section {
  margin-top: 5%;
}

.tapInto-tomorrow-card {
  background-color: #65ceff;
  z-index: 1;
}

.Rooftop-carousel-indicators [data-bs-target] {
  height: 3px;
  border-radius: 0;
  background-color: #a5a4c5;
}

.Rooftop-carousel-indicators .active {
  background-color: #100f3f !important;
}

/* carousel indicators styles */
.solar-carousel-indicators {
  position: absolute;
  bottom: -80px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0;
  list-style: none;
}

.solar-carousel-indicators li {
  width: 12px;
  height: 12px;
  background-color: #a5a4c5;
  border-radius: 50%;
  margin: 0 5px;
}

.solar-carousel-indicators .active {
  background-color: #100f3f;
}

/* Footer */
.footer {
  color: #ffffff;
  background-color: #111f3c;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  position: relative;
  padding: 55px 10px 20px 10px;
}

.footer .container {
  max-width: 1120px;
}

footer button p {
  margin-bottom: 0px;
}

.footer .upper-footer ul {
  padding-left: 0;
  border-top: 0.5px solid #919191;
  padding-right: 50px;
}

.footer h3 {
  font-size: 2rem;
  margin-top: 10px;
  white-space: nowrap;
  margin-right: 15px;
}

.footer h4 {
  font-size: 1.5rem;
}

.upper-footer {
  position: relative;
}

.upper-footer .white-btn {
  margin-top: 60px;
  background-color: transparent;
  border: 1px solid #ffffff;
  width: 200px;
  padding: 8px 15px;
  border-radius: 10px;
  color: #ffffff;
}

.upper-footer .white-btn:hover {
  background-color: #ffffff;
  color: #111f3c;
}

.footer li {
  position: relative;
  width: max-content;
}

.upper-footer li::before {
  content: "";
  width: 0;
  height: 2px;
  border-radius: 2px;
  background-color: #ec7100;
  position: absolute;
  bottom: -3px;
  left: 50%;
  transition: width 0.4s, left 0.4s;
}

.upper-footer li:hover {
  cursor: pointer;
  color: #ec7100;
}

.upper-footer li:hover::before {
  width: 100%;
  left: 0;
}

.upper-footer li:hover {
  color: #ec7100;
  cursor: pointer;
}

.lower-footer li:hover {
  cursor: pointer;
  color: #ec7100;
}

.footer .upper-footer li {
  margin: 13px 0;
  text-align: left;
  white-space: nowrap;
  font-size: 0.9rem;
}

.footer .blue-btn {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 6px 30px 6px 6px;
  border: none;
  color: #111f3c;
  font-size: 1rem;
  flex-wrap: nowrap;
  display: flex;
  position: relative;
}

.footer .refer-btn {
  padding: 6px 25px 6px 6px;
}

.footer .refer-btn lottie-player {
  position: absolute;
  right: 4px;
  bottom: 8px;
}

.footer .blue-btn canvas {
  position: absolute;
  right: -18px;
  bottom: 5px;
  width: 70px;
}

.footer .playStore-btn {
  position: absolute;
  right: 20px;
  bottom: 10px;
}

.googlePlay-button .texts .launch-text,
.appstore-button .texts .launch-text {
  font-size: 1rem;
  white-space: wrap;
  margin-right: 10px;
}

.googlePlay-button .texts .soon-text,
.appstore-button .texts .soon-text {
  font-size: 1rem;
  font-weight: 400 !important;
  text-align: center;
  margin-left: 15px;
}

.googlePlay-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #000;
  border-radius: 9999px;
  background-color: rgba(0, 0, 0, 1);
  padding: 0.625rem 1.5rem;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  outline: 0;
  transition: all 0.2s ease;
  text-decoration: none;
  margin-right: 10px;
}

.googlePlay-button:hover {
  background-color: #ffffff;
  color: #000000;
}

.googlePlay-button .icon {
  height: 1.5rem;
  width: 1.5rem;
}

.googlePlay-button .texts {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1;
}

.googlePlay-button .text-1 {
  margin-bottom: 0.25rem;
  font-size: 0.75rem;
  line-height: 1rem;
}

.googlePlay-button .text-2 {
  font-weight: 600;
}

.appstore-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #000;
  border-radius: 9999px;
  background-color: rgba(0, 0, 0, 1);
  padding: 0.625rem 1.5rem;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  outline: 0;
  transition: all 0.2s ease;
  text-decoration: none;
}

.appstore-button:hover {
  background-color: #ffffff;
  color: #000000;
}

.appstore-button .icon {
  height: 1.5rem;
  width: 1.5rem;
}

.appstore-button .texts {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1;
}

.appstore-button .text-1 {
  margin-bottom: 0.25rem;
  font-size: 0.75rem;
  line-height: 1rem;
}

.appstore-button .text-2 {
  font-weight: 600;
}

.lower-footer .lower-upper {
  padding: 8px 0;
  margin-top: 40px;
  margin-bottom: 10px;
  border-bottom: 0.5px solid #919191;
  text-align: center;
}

.lower-upper li {
  padding: 0 10px;
  font-size: 0.9rem;
}

.lower-bottom .socials-container {
  display: flex;
}

.lower-bottom .socials-container a {
  margin: 0 8px;
}

.social-btn {
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.4s;
  cursor: pointer;
  position: relative;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  overflow: hidden;
}

.insta-btn {
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
}

.linkedin-btn {
  background: #007ab9;
}

.youtube-btn {
  background: #ff0000;
}

.fb-btn {
  background: #1877f2;
}

.svgIcon,
.social-btn img {
  transition-duration: 0.3s;
}

.svgIcon path {
  fill: white;
}

.social-btn .text {
  position: absolute;
  color: rgb(255, 255, 255);
  /* width: 120px; */
  opacity: 0;
  transition-duration: 0.4s;
}

.social-btn:hover {
  width: 110px;
  transition-duration: 0.4s;
  border-radius: 30px;
}

.social-btn:hover .text {
  opacity: 1;
  transition-duration: 0.4s;
}

.social-btn:hover .svgIcon,
.social-btn:hover img {
  opacity: 0;
  transition-duration: 0.3s;
}

.lower-footer p {
  font-size: 0.9rem;
}

/* styles for thunder animation button */
.voltage-button {
  position: relative;
  display: inline-block;
}

.voltage-button button {
  color: white;
  background: #0d1127;
  border-radius: 5rem;
  font-size: 14px;
  line-height: 1em;
  letter-spacing: 0.075em;
  transition: background 0.3s;
  border: none;
}

.voltage-button button + svg,
.voltage-button button + svg + .dots {
  opacity: 1;
}

.voltage-button svg {
  display: block;
  position: absolute;
  top: -0.75em;
  left: -0.25em;
  width: calc(100% + 0.5em);
  height: calc(100% + 1.2em);
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.4s;
  transition-delay: 0.1s;
}

.voltage-button svg path {
  stroke-dasharray: 100;
  filter: url("#glow");
}

.voltage-button svg path.line-1 {
  stroke: yellow;
  stroke-dashoffset: 0;
  animation: spark-1 3s linear infinite;
}

.voltage-button svg path.line-2 {
  stroke: #58b326;
  stroke-dashoffset: 500;
  animation: spark-2 3s linear infinite;
}

.voltage-button .dots {
  opacity: 0;
  transition: opacity 0.3s;
  transition-delay: 0.4s;
}

.voltage-button .dots .dot {
  height: 1rem;
  background: white;
  border-radius: 100%;
  position: absolute;
  opacity: 0;
}

.voltage-button .dots .dot-1 {
  top: 0;
  left: 20%;
  animation: fly-up 3s linear infinite;
}

.voltage-button .dots .dot-2 {
  top: 0;
  left: 55%;
  animation: fly-up 3s linear infinite;
  animation-delay: 0.5s;
}

.voltage-button .dots .dot-3 {
  top: 0;
  left: 80%;
  animation: fly-up 3s linear infinite;
  animation-delay: 1s;
}

.voltage-button .dots .dot-4 {
  bottom: 0;
  left: 30%;
  animation: fly-down 3s linear infinite;
  animation-delay: 2.5s;
}

.voltage-button .dots .dot-5 {
  bottom: 0;
  left: 65%;
  animation: fly-down 3s linear infinite;
  animation-delay: 1.5s;
}

@keyframes spark-1 {
  to {
    stroke-dashoffset: -1000;
  }
}

@keyframes spark-2 {
  to {
    stroke-dashoffset: -500;
  }
}

@keyframes fly-up {
  0% {
    opacity: 0;
    transform: translateY(0) scale(0.2);
  }

  5% {
    opacity: 1;
    transform: translateY(-1.5rem) scale(0.4);
  }

  10%,
  100% {
    opacity: 0;
    transform: translateY(-3rem) scale(0.2);
  }
}

@keyframes fly-down {
  0% {
    opacity: 0;
    transform: translateY(0) scale(0.2);
  }

  5% {
    opacity: 1;
    transform: translateY(1.5rem) scale(0.4);
  }

  10%,
  100% {
    opacity: 0;
    transform: translateY(3rem) scale(0.2);
  }
}

.expert-btn {
  position: relative;
  background: #111f3c;
  color: white;
  border-radius: 100px;
  font-size: 1.2rem;
  transition: all 0.3s ease-in-out;
  border: none;
}

.start-btn {
  position: relative;
  background: #80dcfe;
  color: #000000;
  box-shadow: 0px 0px 10px 0px rgb(255, 255, 255);
  border-radius: 100px;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
  border: none;
}

.star-1 {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.star-2 {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-3 {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-4 {
  position: absolute;
  top: 20%;
  left: 40%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-5 {
  position: absolute;
  top: 25%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-6 {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
}

.start-btn:hover,
.expert-btn:hover {
  background: #ffdc26;
  color: #ffffff;
  box-shadow: 0 0 80px #ffffff8c;
  border: none;
}

.start-btn:hover .star-1,
.expert-btn:hover .star-1 {
  position: absolute;
  top: -20%;
  left: -20%;
  width: 20px;
  height: auto;
  filter: drop-shadow(0 0 10px #fedb25);
  z-index: 2;
}

.start-btn:hover .star-2,
.expert-btn:hover .star-2 {
  position: absolute;
  top: 35%;
  left: -25%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fedb25);
  z-index: 2;
}

.start-btn:hover .star-3,
.expert-btn:hover .star-3 {
  position: absolute;
  top: 80%;
  left: -10%;
  width: 10px;
  height: auto;
  filter: drop-shadow(0 0 10px #fedb25);
  z-index: 2;
}

.start-btn:hover .star-4,
.expert-btn:hover .star-4 {
  position: absolute;
  top: -25%;
  left: 105%;
  width: 20px;
  height: auto;
  filter: drop-shadow(0 0 10px #fedb25);
  z-index: 2;
}

.start-btn:hover .star-5,
.expert-btn:hover .star-5 {
  position: absolute;
  top: 30%;
  left: 115%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fedb25);
  z-index: 2;
}

.start-btn:hover .star-6,
.expert-btn:hover .star-6 {
  position: absolute;
  top: 80%;
  left: 105%;
  width: 10px;
  height: auto;
  filter: drop-shadow(0 0 10px #fedb25);
  z-index: 2;
}

.fil0 {
  fill: #fedb25;
}

.calculator-image {
  height: 55vh;
  top: 40%;
}

.future-section {
  margin-top: 10%;
}

@media screen and (max-width: 1200px) {
  .footer .columns div:first-child img {
    margin-top: 30px;
  }
  .footer .upper-footer .columns {
    flex-wrap: wrap;
  }
  .footer .upper-footer .columns h4 {
    margin-top: 30px;
  }
}

@media screen and (max-width: 990px) {
  /* footer */
  .footer .upper-footer ul {
    padding-right: 10px;
  }
  .footer .upper-footer .px-5 {
    padding-right: 10px !important;
    padding-left: 10px !important;
  }
  .footer .upper-footer p br {
    display: none;
  }
  .footer .upper-footer p {
    margin-right: 10px !important;
  }
}

@media screen and (max-width: 770px) {
  .footer .upper-footer .d-flex:first-child {
    flex-wrap: wrap;
  }
  .footer .upper-footer h4 {
    margin-top: 20px;
  }
  .footer .lower-footer .lower-upper {
    flex-direction: column;
  }
  .footer .lower-footer .lower-upper ul {
    margin: 15px 0 !important;
    flex-direction: column;
  }
  .footer .lower-footer .lower-upper ul li {
    margin-bottom: 5px;
  }
}

@media (max-width: 767.98px) {
  .logo-btn {
    display: none;
  }

  .calculator-image {
    height: 40vh;
    top: 80%;
  }

  .future-section {
    margin-top: 25%;
  }

  .title {
    font-size: 32px;
    font-weight: 600;
  }

  .future-title {
    font-size: 30px;
  }

  .future-sub-title {
    width: 100%;
  }

  .future-card-title-1,
  .future-card-title-2 {
    width: 100%;
  }

  #solarConsultation {
    width: 350px;
    height: 350px;
  }

  .tapInto-tomorrow-section {
    margin-top: 15%;
  }

  .benefits-card .card-img {
    height: 150px;
    width: 130px;
  }

  .benefits-card-title {
    font-size: 16px;
  }

  .benefits-card-subtitle {
    font-size: 13px;
  }

  .sub-text {
    font-size: 16px;
  }

  .form-label {
    font-size: 13px;
  }

  .solar-card-title {
    font-size: 14px;
    font-weight: 600;
  }
}

@media (max-width: 768px) {
  .calculator-image {
    height: 40vh;
    top: 75%;
  }
  /* footer */
  .footer .lower-bottom {
    flex-direction: column;
  }
  .footer .lower-bottom p {
    margin-bottom: 8px !important;
  }
}

@media screen and (max-width: 560px) {
  .footer {
    padding-top: 20px;
  }
  .footer .playStore-btn {
    position: static;
  }
  .footer .columns > div:first-child,
  .playStore-btn.larger-screen {
    display: none !important;
  }
  .footer .upper-footer .columns {
    flex-direction: column;
  }
  .footer .upper-footer .columns > div {
    overflow: hidden;
    width: 100%;
  }
  .footer .upper-footer .columns > div ul {
    max-height: 0px;
    transition: max-height 0.5s ease;
    margin: 0;
  }
  .footer .upper-footer .columns > div ul.active {
    max-height: 260px;
  }
  .footer .upper-footer .columns > div:last-child li:last-child {
    width: 100%;
  }
  .footer .upper-footer .columns > div:last-child li:nth-child(4) {
    position: absolute;
    top: -8%;
    left: 65%;
  }
  .footer .upper-footer ul {
    border: none;
  }
  .footer .upper-footer .columns h4 {
    margin-top: 15px;
  }
  .footer .columns > div:nth-child(4) h4 {
    margin-top: 8px;
  }
  .footer .upper-footer .columns h4 svg.rotated {
    transform: rotate(180deg);
  }
  .footer .upper-footer .columns > div:nth-child(2) ul > div {
    position: absolute;
    right: 0px;
    left: 0px;
  }
  .upper-footer .columns div:nth-child(3) .d-flex {
    flex-direction: column;
  }
  .upper-footer .columns div:nth-child(3) .d-flex ul:last-child {
    padding-left: 0 !important;
  }
  .upper-footer .columns {
    margin-bottom: 0 !important;
  }
  .lower-footer .lower-upper {
    padding-top: 0 !important;
  }
  .footer .upper-footer .columns > div:last-child li:last-child:before,
  .footer .upper-footer .columns > div:last-child li:nth-child(4):before {
    display: none;
  }
  .googlePlay-button,
  .appstore-button {
    margin-left: 20px;
    margin-right: 20px;
  }
  .lower-footer .lower-bottom {
    border-top: 1px solid #919191;
    padding-top: 8px;
  }
}

@media screen and (min-width: 560px) {
  .upper-footer .mobile-view-list,
  .playStore-btn.smaller-screen,
  .smaller-screen-refer-button {
    display: none !important;
  }
}

@media screen and (max-width: 460px) {
  .footer .upper-footer .columns > div:last-child li:nth-child(4) {
    left: 64%;
  }
}

@media screen and (max-width: 450px) {
  .footer .upper-footer .columns > div:last-child li:nth-child(4) {
    left: 60%;
  }
  .googlePlay-button,
  .appstore-button {
    margin-left: 2px;
    margin-right: 2px;
  }
}

@media screen and (max-width: 420px) {
  .footer .upper-footer .columns > div:last-child li:nth-child(4) {
    left: 55%;
  }
}

@media screen and (max-width: 405px) {
  .footer .googlePlay-button .texts,
  .footer .appstore-button .texts {
    font-size: 0.7rem;
  }

  .footer .googlePlay-button,
  .footer .appstore-button {
    padding: 0.625rem 1rem;
  }
}
