html,
body {
  overflow-x: hidden;
}

*::-webkit-scrollbar {
  display: none;
}

* {
  font-family: "Familjen Grotesk", sans-serif;
}

body {
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0 !important;
}

p {
  margin: 0 !important;
  padding: 0;
}

input:focus {
  outline: none;
}

/* Navbar */
.navbar {
  z-index: 1000;
  background-color: #fff;
  border-radius: 50px;
  width: max-content;
  box-shadow: 0 4px 16px 0 #00000015;
  margin: 15px auto;
  position: relative;
  padding: 0;
}

.navbar .nav-button {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #111f3c;
  border: none;
  border-radius: 50%;
  padding: 3px 7px 6px 7px;
  cursor: pointer;
  z-index: 20;
  box-shadow: 0 4px 4px 0 #00000015;
}

.navbar .nav-prev-button {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #111f3c;
  border: none;
  border-radius: 50%;
  padding: 3px 7px 6px 7px;
  cursor: pointer;
  z-index: 10;
  box-shadow: 0 4px 4px 0 #00000015;
}

.navbar .nav-prev-button.hidden {
  display: none;
}

.fixed {
  position: fixed;
  top: 0;
  width: max-content;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0 4px 16px 0 #00000015;
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  flex-wrap: nowrap;
  padding-left: 0;
}

.navbar li {
  padding: 4px 10px;
  color: #111f3c;
  border-radius: 20px;
  margin: 10px;
  white-space: nowrap;
  transition: background-color 0.3s ease;
  position: relative;
  z-index: 2;
}

.navbar li:hover {
  cursor: pointer;
}

.navbar li.active {
  color: #fff;
  cursor: pointer;
}

.navbar::before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 0;
  border-radius: 20px;
  width: 100px;
  height: 30px;
  background-color: #111f3c;
  transition: left 0.3s ease, width 0.3s ease;
  left: var(--nav-left, 0);
  width: var(--nav-width, 0);
}

.header-logo {
  position: absolute;
  top: 30px;
  left: 70px;
  z-index: 1000;
}

/* Mobile view Nav */
.mobile-view-nav {
  position: absolute;
  top: -350px;
  left: 0;
  width: 100%;
  background-color: #111f3c;
  padding: 15px;
  text-align: center;
  backdrop-filter: blur(5px);
  transition: top 0.5s ease;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

.mobile-view-nav.active {
  top: 0;
}

.mobile-view-nav .close {
  position: absolute;
  top: 20px;
  right: 30px;
}

.mobile-view-nav ul {
  padding-top: 40px;
}

.mobile-view-nav li {
  padding-top: 25px;
  color: #ffffff;
}

.mobile-view-nav li:hover {
  color: #ec7100;
}

#checkbox {
  display: none;
}

.toggle {
  position: absolute;
  width: 25px;
  height: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  transition-duration: 0.3s;
  right: 25px;
  top: 17px;
  display: none;
}

.bars {
  width: 100%;
  height: 2px;
  background-color: rgb(253, 255, 243);
  border-radius: 5px;
  transition-duration: 0.3s;
}

#bar4,
#bar5 {
  display: none;
}

#checkbox:checked + .toggle #bar4 {
  display: flex;
  transform: translateY(10px) translateX(4px) rotate(25deg);
  margin-left: 0;
  transform-origin: right;
  transition-duration: 0.3s;
  z-index: 2;
  width: 12px;
}

#checkbox:checked + .toggle #bar5 {
  display: flex;
  transform: translateY(-2.5px) translateX(-6.5px) rotate(-25deg);
  margin-left: 0;
  transform-origin: right;
  transition-duration: 0.3s;
  z-index: 2;
  width: 13px;
}

#checkbox:checked + .toggle #bar2 {
  transform: translateY(19px) translateX(-5px) rotate(70deg);
  margin-left: 0;
  transform-origin: right;
  transition-duration: 0.3s;
  z-index: 2;
  width: 30px;
}

#checkbox:checked + .toggle #bar1 {
  transform: translateY(27px) translateX(4px) rotate(-70deg);
  transition-duration: 0.3s;
  transform-origin: left;
  z-index: 1;
  width: 30px;
}

#checkbox:checked + .toggle {
  transform: rotate(45deg);
}
#checkbox:checked + .toggle #bar3 {
  transform: translateY(12px) rotate(2deg);
  transition-duration: 0.3s;
  transform-origin: right;
  display: none;
}

/* Hero Section */
.hero-section {
  position: relative;
  height: 100vh;
}

#background-video1,
#background-video2 {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#background-video2 {
  display: none;
}

.mobile-image {
  display: none;
}

.hero-section .heading {
  position: absolute;
  bottom: 170px;
  width: 100%;
  left: 0px;
  color: #ffffff;
}

.hero-section .form-container {
  position: absolute;
  bottom: 10px;
  width: 100%;
  left: 0px;
}

.hero-section .form-container form {
  background-color: #f1f4fe;
  border-radius: 40px;
  box-shadow: 0px 3px 6.2px 0px #00000040;
  padding: 15px 40px;
  width: max-content;
}

.dropdown {
  width: max-content;
  margin-left: -20px;
  cursor: pointer;
}

.dropdown-select {
  padding: 10px;
  width: max-content;
  background-color: rgba(241, 244, 254, 1);
  color: #434343;
  border: 1px solid #ccc;
  border-radius: 10px;
}

form .dropdown-select > i {
  margin-left: 10px;
}

.dropdown-list {
  position: absolute;
  max-height: 0;
  opacity: 0;
  width: 80%;
  top: 50px;
  right: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}

.dropdown-list.active {
  max-height: 200px;
  opacity: 1;
  z-index: 1;
}

.dropdown-list li {
  padding: 10px 16px;
  color: #111f3c;
}

.dropdown-list li:hover {
  cursor: pointer;
}

.dropdown-list a {
  text-decoration: none;
  color: #111f3c;
}

.dropdown-list li:hover {
  background-color: #f1f1f1;
  border-radius: 10px;
}

.input-group {
  flex-direction: column;
  /* z-index: 5; */
}

form .vertical-line {
  height: 40px;
  width: 2px;
  background-color: #616161;
  margin: auto 20px auto 0px;
  position: relative;
  left: -10px;
  bottom: 0;
  z-index: 3;
}

form .third-vertical-line {
  width: 3px;
}

.input-group input {
  padding: 5px 5px 5px 0;
  background-color: rgba(241, 244, 254, 1);
  border: none;
}

.input-group input::placeholder {
  font-size: 0.9rem;
}

input[type="date"] {
  font-size: 0.9rem;
  color: #616161;
}

.check-price-btn {
  background: rgba(4, 26, 64, 1);
  color: white;
  border: none;
  font-size: 20px;
  border-radius: 20px;
  padding: 15px 20px;
  margin-left: 20px;
}

.check-price-btn:disabled {
  background-color: #d9d9d9;
}

.check-price-btn:disabled:hover {
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse52 1.5s infinite;
}

@keyframes pulse52 {
  0% {
    box-shadow: 0 0 0 0 #d9d9d9;
  }

  70% {
    box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
  }

  100% {
    box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }
}

.check-price-btn:hover {
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse512 1.5s infinite;
}

@keyframes pulse512 {
  0% {
    box-shadow: 0 0 0 0 #111f3c;
  }

  70% {
    box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
  }

  100% {
    box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }
}

.fa-arrow-right {
  color: #fff;
  font-size: 20px;
  margin-left: 30px;
}

/* Dialog Box */
.dialog-box-outer {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  background-color: #00000080;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.5);
  transition: transform 0.5s ease, opacity 0.5s ease, visibility 0.5s;
}

.dialog-box-outer.active {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.dialog-box-inner {
  background-color: #fff;
  border-radius: 20px;
  padding: 15px;
  width: 700px;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.dialog-box-inner .align-self-end img {
  position: absolute;
  top: 15px;
  right: 15px;
}

.dialog-box-inner .align-self-end img:hover {
  cursor: pointer;
}

.dialog-box {
  background-color: #111f3c;
  padding: 25px 15px 15px 20px;
  color: #fff;
  width: 490px;
  border-radius: 20px;
}

.dialog-box img {
  position: relative;
  left: 100px;
}

.dialog-box h3 {
  font-size: 1.8rem;
}

.dialog-box button {
  background-color: #fff;
  color: #111f3c;
  padding: 4px 10px;
  border-radius: 10px;
  border: none;
  position: relative;
  top: -30px;
}

.dialog-box button:hover {
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse51 1.5s infinite;
}

/* How it works Section */
.how-it-works {
  font-size: 2.5rem;
  font-weight: 500 !important;
  text-align: center;
  color: rgba(67, 67, 67, 1);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Create two columns */
  margin: 50px auto; /* Center the grid container */
  width: 90%;
}

.grid-item {
  height: 200px;
  border: 1px solid #919191;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 1);
  padding: 10px 30px;
  box-shadow: 0px 4px 4px 0px #00000029;
  text-align: center; /* Center text within the box */
  margin: 20px 30px;
  width: 90%;
}

.grid-item img {
  width: 64px;
  height: 64px;
  margin: 0 auto; /* Center the image horizontally */
  display: block; /* Ensures proper centering */
  padding-top: 10px;
}

.grid-item h3 {
  margin-top: 15px; /* Adjust spacing as needed */
  font-size: 25px;
  color: #111f3c !important;
}

.grid-item p {
  color: #434343;
  font-size: 1.1rem;
  text-align: center;
}

/* Testimonial Section */
.testimonials {
  background-color: rgba(4, 26, 64, 1);
  margin: 100px auto;
  padding: 40px 50px 50px 50px;
  z-index: 1;
}

.testimonials-heading {
  font-size: 2.5rem;
  font-weight: 500 !important;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  margin-top: 0;
  margin-bottom: 60px;
}

.testimonials-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.testimonial-track {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  animation: carousal 15s linear infinite;
  gap: 30px;
  will-change: transform;
}

@keyframes carousal {
  0% {
    transform: translateX(0);
  }
  90% {
    transform: translateX(-100%);
  }
}

.testimonial-item {
  width: 400px;
  height: 200px;
  background-color: white;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0px 3px 6.2px 0px rgba(0, 0, 0, 0.25);
  padding: 20px;
  flex-shrink: 0;
}

.testimonial-item img {
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 15px;
}

.testimonial-item h4 {
  font-size: 1.2rem !important;
  margin-bottom: 0px;
  color: #434343;
}

.testimonial-item .customer-info p {
  color: #100f3f7d;
  font-size: 0.9rem;
}

.testimonial-item .review {
  margin-top: 20px !important;
}

/* FAQ Section */

.faq-container > h2 {
  font-size: 2.5rem !important;
  margin-bottom: 55px !important;
}

.faq-container .accordion {
  width: 75%;
  margin: 0 auto;
}

.faq-container .accordion-item {
  margin: 20px 0;
  border-radius: 0 !important;
  box-shadow: 4px 4px 4px 0 #00000010;
}

.accordion-button {
  background-color: #f7f9ff !important;
  white-space: normal;
  word-wrap: break-word;
}

.accordion-button:focus {
  box-shadow: none !important;
}

.accordion-button:not(.collapsed) {
  background-color: transparent !important;
}

/* Consultion Container */
.consultation-container {
  position: absolute;
  top: -125px;
  left: 31%;
}

.consultation-container img {
  transform: rotate(1deg);
}

.consultation-container button {
  border: none;
  background-color: #ffffff;
  padding: 10px 20px;
  border-radius: 20px;
  white-space: nowrap;
  margin-top: 100px;
}

.consultation-container button:hover {
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse51 1.5s infinite;
}

@keyframes pulse51 {
  0% {
    box-shadow: 0 0 0 0 #ffffff;
  }

  70% {
    box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
  }

  100% {
    box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }
}

/* Brochure Modal */

.modal-container {
  background-color: #00000080;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  display: none;
  transform: scale(0);
  transition: all 0.5s;
  font-family: "Familjen Grotesk", sans-serif;
}

.modal-container.show {
  transform: scale(1);
}

@keyframes expand {
  to {
    width: 100%;
    height: 100%;
  }
}

.modal-container .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-container .close-icon {
  position: absolute;
  right: 20px;
  top: 20px;
}

.modal-container .close-icon:hover {
  cursor: pointer;
}

.modal-container .scheduling-container.hidden {
  display: none;
}

.brochure-modal h4 {
  font-weight: 400;
  font-size: 1.3rem;
  color: #434343;
}

.brochure-modal .input-group {
  position: relative;
}

.brochure-modal .input {
  border: 1px solid #999999;
  border-radius: 5px;
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  background: none;
  padding: 8px;
  font-size: 1rem;
  color: #434343;
  transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.brochure-modal .user-label {
  position: absolute;
  left: 15px;
  color: #a8a9a9;
  pointer-events: none;
  transform: translateY(1.2rem);
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.brochure-modal .input:focus,
.brochure-modal input:valid {
  outline: none;
}

.brochure-modal form .input:focus ~ label,
.brochure-modal input:valid ~ label {
  transform: translateY(-10%) scale(0.8);
  background-color: #ffffff;
  padding: 0.2em;
}

.brochure-modal form .no-transform label {
  transform: none;
  padding: 0;
}

.modal-container .brochure-modal {
  width: 500px;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 0 40px 30px #00000030;
}

.modal-container form {
  background-color: #fff;
  padding: 20px 10px;
}

.modal-container form input {
  width: 100%;
  margin: 13px 0;
}

.modal-container form select {
  padding: 9px;
  margin: 13px 0;
  color: #434343;
  border-right: none !important;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid #999999;
  position: relative;
  left: 2px;
}

.brochure-modal #phone-number {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.modal-container form input::placeholder {
  color: #a8a9a9;
  font-weight: 300;
}

.brochure-modal .phone-number-container.sent input {
  margin-bottom: 0;
}

.brochure-modal .phone-number-container.sent select {
  top: 6.5px;
}

.brochure-modal .phone-number-container {
  position: relative;
}

.modals .otp-sent {
  color: #ec7100;
  display: none;
}

.modals .otp-sent.active {
  display: block;
}

.modals .d-flex .otp-btn {
  font-size: 0.85rem;
  color: #ffffff;
  border: none;
  padding: 8px 20px;
  border-radius: 8px;
  margin: 13px 0;
  background-color: #111f3c;
  position: absolute;
  right: 4px;
  bottom: 3px;
}

.modals .phone-number-container.sent .otp-btn {
  margin: 0;
}

.modals .phone-number-container.sent select {
  margin: 0;
}

.modals .otp-container {
  display: none;
}

.modals .otp-container input {
  width: 100%;
}

.modals .otp-container p {
  margin-top: 8px;
  margin-left: 3px;
  font-size: 0.8rem;
  width: 40%;
  white-space: nowrap;
}

.otp-container .otp-verification {
  position: absolute;
  right: 35px;
  top: 23px;
  color: green;
  width: max-content !important;
  margin: 0 !important;
  display: none;
}

.phone-number-container .verify-btn {
  font-size: 0.85rem;
  color: #ffffff;
  border: none;
  padding: 8px 20px;
  border-radius: 8px;
  margin: 13px 0;
  background-color: #111f3c;
  position: absolute;
  right: 4px;
  bottom: 3px;
}

.modal-container input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

.modal-container label {
  font-weight: 300;
  margin-left: 10px;
}

.modal-container button[type="submit"] {
  width: 100%;
  text-align: center;
  margin-top: 15px;
  border-radius: 20px;
  border: none;
  padding: 10px;
  color: #fff;
  background-color: #d9d9d9;
}

.modal-container button[type="submit"].active {
  background-color: #111f3c;
}

.modal-container button[type="submit"].active:hover {
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse512 1.5s infinite;
}

/* Confirmation Popup Modal */

.confirmation-popup-modal {
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
  border-radius: 20px;
  display: none;
  width: 450px;
  height: 400px;
}

.confirmation-popup-modal video {
  width: 400px;
  height: 250px;
}

.confirmation-popup-modal h4 {
  color: #ec7100;
  font-weight: 500;
  font-size: 1.6rem;
}

.confirmation-popup-modal p {
  color: #434343;
  font-size: 1.2rem;
}

.confirmation-popup-modal h4,
.confirmation-popup-modal p {
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.confirmation-popup-modal.show h4,
.confirmation-popup-modal.show p {
  opacity: 1;
  transform: translateY(-40px);
}

.Realezi-arrow-loader.shrink {
  width: 55%;
  transition: width 0.5s ease;
}

/* Footer */
footer .container {
  max-width: 1120px !important;
}

.footer {
  color: #ffffff;
  background-color: #111f3c;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  position: relative;
  padding: 100px 10px 20px 10px;
  margin-top: 10%;
}

.footer .upper-footer ul {
  padding-left: 0;
  border-top: 0.5px solid #919191;
  padding-right: 50px;
}

.footer h3 {
  font-weight: 400 !important;
  font-size: 2rem;
  margin-top: 10px;
  white-space: nowrap;
  margin-right: 15px;
}

.footer h4 {
  font-weight: 300;
  font-size: 1.5rem;
}

.upper-footer {
  position: relative;
}

.upper-footer .white-btn {
  margin-top: 60px;
  background-color: transparent;
  border: 1px solid #ffffff;
  width: 200px;
  padding: 8px 15px;
  border-radius: 10px;
  color: #ffffff;
}

.upper-footer .white-btn:hover {
  background-color: #ffffff;
  color: #111f3c;
}

.footer li {
  position: relative;
  width: max-content;
}

.upper-footer li::before {
  content: "";
  width: 0;
  height: 2px;
  border-radius: 2px;
  background-color: #ec7100;
  position: absolute;
  bottom: -3px;
  left: 50%;
  transition: width 0.4s, left 0.4s;
}

.upper-footer li:hover {
  cursor: pointer;
  color: #ec7100;
}

.upper-footer li:hover::before {
  width: 100%;
  left: 0;
}

.upper-footer li:hover {
  color: #ec7100;
  cursor: pointer;
}

.lower-footer li:hover {
  cursor: pointer;
  color: #ec7100;
}

.footer .upper-footer li {
  font-weight: 300 !important;
  margin: 13px 0;
  text-align: left;
  white-space: nowrap;
  font-size: 0.9rem;
}

.footer .blue-btn {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 6px 30px 6px 6px;
  border: none;
  color: #111f3c;
  font-weight: 300 !important;
  font-size: 1rem;
  flex-wrap: nowrap;
  display: flex;
  position: relative;
}

.footer .refer-btn {
  padding: 6px 25px 6px 6px;
}

.footer .refer-btn lottie-player {
  position: absolute;
  right: 4px;
  bottom: 8px;
}

.footer .blue-btn canvas {
  position: absolute;
  right: -18px;
  bottom: 5px;
  width: 70px;
}

.footer .playStore-btn {
  position: absolute;
  right: 20px;
  bottom: 10px;
}

.googlePlay-button .texts .launch-text,
.appstore-button .texts .launch-text {
  font-size: 1rem;
  white-space: wrap;
  margin-right: 10px;
}

.googlePlay-button .texts .soon-text,
.appstore-button .texts .soon-text {
  font-size: 1rem;
  font-weight: 400 !important;
  text-align: center;
  margin-left: 15px;
}

.googlePlay-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #000;
  border-radius: 9999px;
  background-color: rgba(0, 0, 0, 1);
  padding: 0.625rem 1.5rem;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  outline: 0;
  transition: all 0.2s ease;
  text-decoration: none;
  margin-right: 10px;
}

.googlePlay-button:hover {
  background-color: #ffffff;
  color: #000000;
}

.googlePlay-button .icon {
  height: 1.5rem;
  width: 1.5rem;
}

.googlePlay-button .texts {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1;
}

.googlePlay-button .text-1 {
  margin-bottom: 0.25rem;
  font-size: 0.75rem;
  line-height: 1rem;
}

.googlePlay-button .text-2 {
  font-weight: 600;
}

.appstore-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #000;
  border-radius: 9999px;
  background-color: rgba(0, 0, 0, 1);
  padding: 0.625rem 1.5rem;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  outline: 0;
  transition: all 0.2s ease;
  text-decoration: none;
}

.appstore-button:hover {
  background-color: #ffffff;
  color: #000000;
}

.appstore-button .icon {
  height: 1.5rem;
  width: 1.5rem;
}

.appstore-button .texts {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1;
}

.appstore-button .text-1 {
  margin-bottom: 0.25rem;
  font-size: 0.75rem;
  line-height: 1rem;
}

.appstore-button .text-2 {
  font-weight: 600;
}

.lower-footer .lower-upper {
  padding: 8px 0;
  margin-top: 40px;
  margin-bottom: 10px;
  border-bottom: 0.5px solid #919191;
  text-align: center;
}

.lower-upper li {
  padding: 0 10px;
  font-size: 0.9rem;
}

.lower-bottom .socials-container {
  display: flex;
}

.lower-bottom .socials-container a {
  margin: 0 8px;
}

.social-btn {
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.4s;
  cursor: pointer;
  position: relative;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  overflow: hidden;
}

.insta-btn {
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
}

.linkedin-btn {
  background: #007ab9;
}

.youtube-btn {
  background: #ff0000;
}

.fb-btn {
  background: #1877f2;
}

.svgIcon,
.social-btn img {
  transition-duration: 0.3s;
}

.svgIcon path {
  fill: white;
}

.social-btn .text {
  position: absolute;
  color: rgb(255, 255, 255);
  /* width: 120px; */
  opacity: 0;
  transition-duration: 0.4s;
}

.social-btn:hover {
  width: 110px;
  transition-duration: 0.4s;
  border-radius: 30px;
}

.social-btn:hover .text {
  opacity: 1;
  transition-duration: 0.4s;
}

.social-btn:hover .svgIcon,
.social-btn:hover img {
  opacity: 0;
  transition-duration: 0.3s;
}

.lower-footer p {
  font-size: 0.9rem;
}

@media screen and (max-width: 1500px) {
  .consultation-container {
    left: 29%;
  }
}

@media screen and (max-width: 1200px) {
  /* How it works */
  .how-it-works-container .grid-container {
    width: 100%;
  }
  /* Consultation Container */
  .consultation-container {
    top: -95px;
    left: 25%;
  }
  /* Footer */
  .footer .columns div:first-child img {
    margin-top: 30px;
  }
  .footer .upper-footer .columns {
    flex-wrap: wrap;
  }
  .footer .upper-footer .columns h4 {
    margin-top: 30px;
  }
}

@media screen and (max-width: 1055px) {
  .header-logo {
    left: 20px;
  }
}

@media screen and (max-width: 990px) {
  /* How it works Section */
  .grid-item {
    height: 240px;
  }
  /* FAQ Section */
  .faq-container .accordion {
    width: 100%;
  }
  /* Consultation Container */
  .consultation-container {
    left: 25%;
  }
  /* Footer */
  .footer .upper-footer ul {
    padding-right: 10px;
  }
  .footer .upper-footer .px-5 {
    padding-right: 10px !important;
    padding-left: 10px !important;
  }
  .footer .upper-footer p br {
    display: none;
  }
  .footer .upper-footer p {
    margin-right: 10px !important;
  }
}

@media screen and (max-width: 965px) {
  /* Hero-section */
  .hero-section {
    height: 75vh;
  }
  .hero-section .heading {
    bottom: 100px;
  }
  /* Hero section form */
  .hero-section .form-container {
    bottom: -250px;
  }
  .input-group-2 {
    margin-top: 15px;
  }
  .input-group label {
    font-size: 1.1rem;
    white-space: nowrap;
  }
  .inputs .input-group {
    background-color: #fff;
    height: 100%;
    padding: 10px;
    margin-right: 20px;
    width: 160px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px 0px #9dc3f36e;
  }
  .inputs .input-group input {
    background-color: #fff;
    width: 100%;
  }
  .inputs {
    flex-direction: column;
  }
  .check-price-btn {
    align-self: center;
    margin-top: 20px;
    margin-left: 0px;
  }
  form .vertical-line {
    display: none;
  }

  /* How it works Section */
  .how-it-works-container {
    margin-top: 320px !important;
  }
}

@media screen and (max-width: 867px) {
  /* Consultation Container */
  .consultation-container {
    left: 32%;
  }
}

@media screen and (min-width: 800px) {
  /* Header */
  .mobile-header-logo {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  /* Header */
  .navbar {
    display: none;
  }
  .header {
    background-color: #111f3c;
    height: 65px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
  }
  .header-logo {
    top: 20px;
    display: none;
  }
  .mobile-header-logo {
    z-index: 1000;
    position: relative;
    top: 20px;
    left: 20px;
  }
  .toggle {
    display: flex;
  }
}

@media screen and (max-width: 770px) {
  .footer .upper-footer .d-flex:first-child {
    flex-wrap: wrap;
  }
  .footer .upper-footer h4 {
    margin-top: 20px;
  }
  .footer .lower-footer .lower-upper {
    flex-direction: column;
  }
  .footer .lower-footer .lower-upper ul {
    margin: 15px 0 !important;
    flex-direction: column;
  }
  .footer .lower-footer .lower-upper ul li {
    margin-bottom: 5px;
  }
}

@media (max-width: 768px) {
  /* Hero Section */
  .hero-section {
    height: 500px;
  }
  #background-video1,
  #background-video2 {
    display: none !important;
  }
  .mobile-image {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* How it works Section */
  .how-it-works-container .grid-item {
    padding: 10px;
    height: 220px;
    margin: 20px auto;
  }
  .grid-item h3 {
    font-size: 1.2rem;
    margin-bottom: 15px;
  }
  .grid-item p {
    font-size: 0.9rem;
  }
  /* Footer */
  .footer .lower-bottom {
    flex-direction: column;
  }
  .footer .lower-bottom p {
    margin-bottom: 8px !important;
  }
}

@media screen and (max-width: 745px) {
  .dialog-box-inner {
    width: 540px;
    height: 400px;
  }
  .dialog-box {
    width: 400px;
  }
  .dialog-box img {
    left: 30px;
  }
  .dialog-box h3 {
    font-size: 1.5rem;
  }
  .dialog-box p {
    font-size: 0.9rem;
  }
  .dialog-box button {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 730px) {
  /* Consultation Container */
  .consultation-container {
    left: 5%;
    top: -100px;
  }
}

@media screen and (max-width: 715px) {
  /* Hero Section */
  .hero-section {
    height: 350px;
  }
  .hero-section .form-container {
    bottom: -250px;
  }
  .hero-section .heading {
    bottom: 80px;
  }
  /* Form */
  .hero-section .input-group label {
    font-size: 0.9rem;
  }
  .hero-section .input-group {
    margin: 5px 10px !important;
  }
  .hero-section .input-group input {
    padding: 0;
  }
  .hero-section .input-group input::placeholder {
    font-size: 0.85rem;
  }
  .hero-section input[type="date"] {
    font-size: 0.85rem;
  }
  .check-price-btn {
    font-size: 1rem;
    padding: 10px 20px;
  }
  .fa-arrow-right {
    margin-left: 10px;
  }
}

@media screen and (max-width: 585px) {
  .dialog-box-inner {
    width: 90%;
  }
  .dialog-box {
    width: 350px;
  }
  .dialog-box img {
    width: 200px;
    left: 15px;
  }
}

@media screen and (min-width: 560px) {
  .upper-footer .mobile-view-list,
  .playStore-btn.smaller-screen,
  .smaller-screen-refer-button {
    display: none !important;
  }
}

@media screen and (max-width: 560px) {
  /* Consultation Container */
  .consultation-container {
    top: -110px;
  }

  /* Footer */
  .footer .playStore-btn {
    position: static;
  }
  .footer .columns > div:first-child,
  .playStore-btn.larger-screen {
    display: none !important;
  }
  .footer .upper-footer .columns {
    flex-direction: column;
  }
  .footer .upper-footer .columns > div {
    overflow: hidden;
    width: 100%;
  }
  .footer .upper-footer .columns > div ul {
    max-height: 0px;
    transition: max-height 0.5s ease;
    margin: 0;
  }
  .footer .upper-footer .columns > div ul.active {
    max-height: 260px;
  }
  .footer .upper-footer .columns > div:last-child li:last-child {
    width: 100%;
  }
  .footer .upper-footer .columns > div:last-child li:nth-child(4) {
    position: absolute;
    top: -8%;
    left: 65%;
  }
  .footer .upper-footer ul {
    border: none;
  }
  .footer .upper-footer .columns h4 {
    margin-top: 15px;
  }
  .footer .columns > div:nth-child(4) h4 {
    margin-top: 8px;
  }
  .footer .upper-footer .columns h4 svg.rotated {
    transform: rotate(180deg);
  }
  .footer .upper-footer .columns > div:nth-child(2) ul > div {
    position: absolute;
    right: 0px;
    left: 0px;
  }
  .upper-footer .columns div:nth-child(3) .d-flex {
    flex-direction: column;
  }
  .upper-footer .columns div:nth-child(3) .d-flex ul:last-child {
    padding-left: 0 !important;
  }
  .upper-footer .columns {
    margin-bottom: 0 !important;
  }
  .lower-footer .lower-upper {
    padding-top: 0 !important;
  }
  .footer .upper-footer .columns > div:last-child li:last-child:before,
  .footer .upper-footer .columns > div:last-child li:nth-child(4):before {
    display: none;
  }
  .googlePlay-button,
  .appstore-button {
    margin-left: 20px;
    margin-right: 20px;
  }
  .lower-footer .lower-bottom {
    border-top: 1px solid #919191;
    padding-top: 8px;
  }
}

@media screen and (max-width: 520px) {
  /* How it works Section */
  .how-it-works-container .grid-item {
    height: 230px;
  }
  .grid-item img {
    width: 55px;
    height: 55px;
  }
  .grid-item h3 {
    font-size: 1rem;
    margin-bottom: 15px;
  }
  .grid-item p {
    font-size: 0.85rem;
  }
}

@media screen and (max-width: 480px) {
  .dialog-box-inner {
    width: 90%;
    height: 300px;
  }
  .dialog-box {
    width: 75%;
    height: max-content;
    padding-bottom: 40px;
  }
  .dialog-box h3 {
    font-size: 1.4rem;
  }
  .dialog-box p br {
    display: none;
  }
  .dialog-box button {
    top: 15px;
  }
  .dialog-box img {
    display: none;
  }
}

@media screen and (max-width: 465px) {
  .hero-section .form-container form {
    padding: 15px;
  }
  .dropdown {
    margin-left: 0px;
  }
  .input-group input::placeholder {
    font-size: 0.7rem;
  }
  input[type="date"] {
    font-size: 0.7rem;
  }
  .inputs .input-group {
    width: 130px;
  }
  label .asterisk-icon {
    width: 10px;
  }
}

@media screen and (max-width: 460px) {
  .footer .upper-footer .columns > div:last-child li:nth-child(4) {
    left: 64%;
  }
}

@media screen and (max-width: 450px) {
  .footer .upper-footer .columns > div:last-child li:nth-child(4) {
    left: 60%;
  }
  .googlePlay-button,
  .appstore-button {
    margin-left: 2px;
    margin-right: 2px;
  }
}

@media screen and (max-width: 420px) {
  .footer .upper-footer .columns > div:last-child li:nth-child(4) {
    left: 55%;
  }
}

@media screen and (max-width: 405px) {
  .footer .googlePlay-button .texts,
  .footer .appstore-button .texts {
    font-size: 0.7rem;
  }

  .footer .googlePlay-button,
  .footer .appstore-button {
    padding: 0.625rem 1rem;
  }
}

@media screen and (max-width: 398px) {
  /* How it works Section */
  .how-it-works-container .grid-item {
    height: 210px;
  }
  .grid-item img {
    width: 50px;
    height: 50px;
  }
  .grid-item h3 {
    font-size: 0.9rem;
  }
  .grid-item p {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 390px) {
  .playStore-btn {
    flex-direction: column;
  }
  .playStore-btn .appstore-button {
    margin-top: 10px;
  }
}
