<!doctype html>
<html lang="en">
<head>
    <!-- Meta Tag -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="real estate, property, property search, agent, apartments, booking, business, idx, housing, real estate agency, rental">
    <meta name="author" content="unicoder">
    <title>Realezi</title>
    <!-- Favicon -->
    {% load static %}
    <link rel="shortcut icon" href="{% static 'frontpart/assets/images/favicon.ico">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sen:wght@400;700&amp;display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,500;0,700;1,400&amp;display=swap" rel="stylesheet">

    <!-- Required style of the theme -->
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/bootstrap-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/webfonts/flaticon/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/owl.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/jquery.fancybox.min.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/layerslider.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/template.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/colors/color-6.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/loader.css' %}">
</head>

<body>

    <div class="preloader">
        <div class="loader xy-center"></div>
    </div>

    <div id="page_wrapper" class="bg-light">
        <!--============== Header Section Start ==============-->
        {% include 'Frontend/header.html' %}
        <!--============== Header Section End ==============-->

        <!--============== Page Banner Start ==============-->
        <!-- <div class="page-banner-simple bg-secondary py-20" style="margin-top:80px;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <h3 class="banner-title text-white">Who We Are</h3>
                        <span class="banner-tagline font-medium text-white">We make Stragies, Planning and bring you right valued property that fits your budget.</span>
                    </div>
                </div>
            </div>
        </div> -->
        <!--============== Page Banner End ==============-->

        <!--============== Features Start ==============-->
        <div class="full-row pb-30" style="margin-top:40px;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="text-secondary mb-5">
                            <span class="tagline-2 text-primary">Capablities</span>
                            <h3 class="text-secondary mb-4">We're more than a property search platform. From finding the right property to post-purchase support, we're with you at every step.</h3>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="row row-cols-md-2 row-cols-1">
                            <div class="col border-start border-geay mb-5">
                                <div class="simple-thumb transation px-4">
                                    <span class="h3 down-line text-general mb-4 d-table">01</span>
                                    <h5 class="my-3"><a href="#" class="text-secondary">Seamless Property Reservations</a></h5>
                                    <p style="text-align:justify;">Discover the art of property booking with us. Our unique and impactful campaign ensures a heightened experience, creating more space for you to navigate through the exciting journey of finding your dream home.</p>
                                </div>
                            </div>
                            <div class="col border-start border-geay mb-5">
                                <div class="simple-thumb transation px-4">
                                    <span class="h3 down-line text-general mb-4 d-table">02</span>
                                    <h5 class="my-3"><a href="#" class="text-secondary">Payment Assurance Excellence</a></h5>
                                    <p style="text-align:justify;">Experience the assurance of seamless payments through our innovative campaign. We redefine your payment experience, creating more space for financial confidence and ensuring a unique and impactful process with every transaction.</p>
                                </div>
                            </div>
                            <div class="col border-start border-geay mb-5">
                                <div class="simple-thumb transation px-4">
                                    <span class="h3 down-line text-general mb-4 d-table">03</span>
                                    <h5 class="my-3"><a href="#" class="text-secondary">Effortless House Management</a></h5>
                                    <p style="text-align:justify;">Navigate through the realm of house management effortlessly. Our unique and impactful campaign transforms the way you move through the responsibilities of maintaining your home, creating a higher spacing for a stress-free living experience.</p>
                                </div>
                            </div>
                            <div class="col border-start border-geay mb-5">
                                <div class="simple-thumb transation px-4">
                                    <span class="h3 down-line text-general mb-4 d-table">04</span>
                                    <h5 class="my-3"><a href="#" class="text-secondary">Revolutionizing Property Deals</a></h5>
                                    <p style="text-align:justify;">Embark on a journey of transformative property deals. Our unique and impactful campaign creates a higher spacing for you to navigate through the dynamic world of real estate, ensuring that every deal is an opportunity waiting to be unleashed.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--============== Features End ==============-->

        <!--============== Banner Start ==============-->
        <!-- <div class="full-row paraxify" style="background-image: url({% static 'frontpart/assets/images/background/bg-4.png' %}); background-repeat: no-repeat; background-position: center center; background-size: cover;">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-8">
                        <div class="text-white">
                            <span class="tagline text-primary">Persional Virtual Assistants</span>
                            <h3 class="mb-4"  style="color:white;">Step into the future of productivity with our Personal Virtual Assistants. </h3>
                            <p style="color:white;">Established in 2022, our company pioneers cutting-edge technology to provide seamless assistance, creating a higher spacing for you to focus on what truly matters.</p>
                            <p style="color:white;">In 2022, our company set out on a mission to redefine support through Personal Virtual Assistants. Experience the innovative approach that transforms how you navigate tasks, creating more space for a streamlined and efficient daily life.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!--============== Banner End ==============-->

        <!--============== Approch Section Start ==============-->
        <div class="full-row pb-0">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="">
                            <span class="tagline-2 text-primary">Approch</span>
                            <h2 class="text-secondary mb-4">We’re changing the way people think of realestate</h2>
                            <p style="text-align:justify;">Our operational framework follows a comprehensive, full-stack structure, ensuring a seamless workflow that aligns with our commitment to excellence. From the humorous anecdotes of the past century to the inception of cutting-edge processes, we've left no stone unturned. Our journey is marked by a dedication to turning negatives into opportunities, creating a space where innovation thrives, and clients experience real estate like never before. Welcome to a new era of possibilities in the world of property.</p>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <img src="{% static 'frontpart/assets/images/1.png' %}" alt="image not found">
                    </div>
                </div>
            </div>
        </div>
        <!--============== Approch Section End ==============-->

        <!--============== Statistics Section Start ==============-->
        <div class="full-row pb-0">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="text-secondary mb-5">
                            <span class="tagline-2 text-primary">Statistics</span>
                            <h2 class="text-secondary mb-4">Number of work we completed</h2>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="fact-counter">
                            <div class="row row-cols-md-3 row-cols-1">
                                <div class="col">
                                    <div class="mb-30 text-start count wow fadeIn" data-wow-duration="300ms">
                                        <span class="count-num text-secondary h1" data-speed="3000" data-stop="65">65</span>
                                        <div class="text-secondary h5 py-2">New Projects</div>
                                        <p style="text-align:justify;">Embark on a journey through our 65 new projects, accompanied by a user-friendly interface and enhanced user experience across our entire platform. These developments go beyond bricks and mortar; they represent a transformative approach to real estate, ensuring an intuitive and seamless interaction for every user.</p>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="mb-30 text-start count wow fadeIn" data-wow-duration="300ms">
                                        <span class="count-num text-secondary h1" data-speed="3000" data-stop="137">137</span>
                                        <div class="text-secondary h5 py-2">Rented Apartment</div>
                                        <p style="text-align:justify;">we're not just changing spaces; we're revolutionizing the way you search and secure rentals. Our commitment is unwavering, as we set out to redefine the rental landscape with a focus on user-friendly interfaces, ensuring your search for the perfect home is efficient and enjoyable.</p>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="mb-30 text-start count wow fadeIn" data-wow-duration="300ms">
                                        <span class="count-num text-secondary h1" data-speed="3000" data-stop="45">45</span>
                                        <div class="text-secondary h5 py-2">Apartment Sold</div>
                                        <p style="text-align:justify;">we're reshaping the real estate transaction process. Our technology-driven platforms are here to simplify and enhance your journey, introducing a new era where user-friendly interfaces and seamless experiences redefine how you navigate through the buying and selling of properties.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="capability-avg">
                            <div class="bar-progress fact-counter text-secondary position-relative mb-4">
                                <span class="pb-2 d-block text-start">Customer Satisfaction</span>
                                <div class="progress bg-general count wow fadeIn" data-wow-duration="0ms">
                                    <div class="skill-percent"><span class="count-num" data-speed="3000" data-stop="80">80</span>%</div>
                                    <div class="progress-bar bg-secondary" role="progressbar" aria-valuenow="80" aria-valuemax="100"> </div>
                                </div>
                            </div>
                            <div class="bar-progress fact-counter text-secondary position-relative mb-4">
                                <span class="pb-2 d-block text-start">Builder Trust</span>
                                <div class="progress bg-general count wow fadeIn" data-wow-duration="0ms">
                                    <div class="skill-percent"><span class="count-num" data-speed="3000" data-stop="71">71</span>%</div>
                                    <div class="progress-bar bg-secondary" role="progressbar" aria-valuenow="51" aria-valuemax="100"> </div>
                                </div>
                            </div>
                            <div class="bar-progress fact-counter text-secondary position-relative mb-4">
                                <span class="pb-2 d-block text-start">Selling Quality Property</span>
                                <div class="progress bg-general count wow fadeIn" data-wow-duration="0ms">
                                    <div class="skill-percent"><span class="count-num" data-speed="3000" data-stop="95">95</span>%</div>
                                    <div class="progress-bar bg-secondary" role="progressbar" aria-valuenow="95" aria-valuemax="100"> </div>
                                </div>
                            </div>
                            <div class="bar-progress fact-counter text-secondary position-relative mb-4">
                                <span class="pb-2 d-block text-start">Support 24/7</span>
                                <div class="progress bg-general count wow fadeIn" data-wow-duration="0ms">
                                    <div class="skill-percent"><span class="count-num" data-speed="3000" data-stop="90">90</span>%</div>
                                    <div class="progress-bar bg-secondary" role="progressbar" aria-valuenow="90" aria-valuemax="100"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--============== Statistics Section End ==============-->
        <div class="full-row overlay-secondary" style="background-image: url({% static 'frontpart/assets/images/background/bg-1.png' %}); background-position: center center; background-repeat: no-repeat">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 mb-5">
                        <span class="text-primary tagline pb-2 d-table m-auto">Testimonial</span>
                        <h2 class="down-line w-50 mx-auto mb-4 text-white text-center w-sm-100">Whay Client Says About Us</h2>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <div class="testimonial-simple text-center px-5">
                            <div class="text-carusel owl-carousel">
                                <div class="item">
                                    <i class="flaticon-right-quote flat-large text-primary d-table mx-auto"></i>
                                    <blockquote class="text-white fs-5 fst-italic">“ Realezi Realty made our dream home a reality! Their team went above and beyond to understand our unique preferences and found us a property that perfectly suits our lifestyle. The personalized service and attention to detail truly set them apart. We couldn't be happier with our new home!”</blockquote>
                                    <h4 class="mt-4 font-400 text-white">Raj Pandya</h4>
                                    <span class="text-primary font-fifteen"></span>
                                </div>
                                <div class="item">
                                    <i class="flaticon-right-quote flat-large text-primary d-table mx-auto"></i>
                                    <blockquote class="text-white fs-5 fst-italic">“Choosing Realezi was the best decision we made in our home-buying journey. Unlike other real estate firms, they don't just focus on the sale; they are committed to creating lasting connections. The guidance and expertise provided by the Realezi team turned our house hunting into a seamless and enjoyable experience. Thank you for making our transition into our new home so smooth!”</blockquote>
                                    <h4 class="mt-4 font-400 text-white">Suresh Prajapati</h4>
                                    <span class="text-primary font-fifteen"></span>
                                </div>
                                <div class="item">
                                    <i class="flaticon-right-quote flat-large text-primary d-table mx-auto"></i>
                                    <blockquote class="text-white fs-5 fst-italic">“ Realezi exceeded our expectations in every way possible. Their innovative approach to real estate is refreshing. They don't just sell properties; they craft experiences. From the initial consultation to the closing, the Realezi team demonstrated professionalism and dedication. We highly recommend Realezi Realty for anyone looking for a transformative and personalized real estate journey.”</blockquote>
                                    <h4 class="mt-4 font-400 text-white">Niketan Yadav</h4>
                                    <span class="text-primary font-fifteen"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--============== Agents Start ==============-->
        
        <!--============== Agents End ==============-->
        <!-- Meetings Section Start -->
        <div class="full-row">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <img src="{% static 'frontpart/assets/images/clipart/9.png' %}" alt="">
                    </div>
                    <div class="col-lg-5 offset-lg-1">
                        <div class="position-relative y-center">
                            <span class="tagline mb-1 d-block text-primary">Beyond Transactions:</span>
                            <h2 class="mb-40 down-line">Realezi's Vision for Real Estate Evolution</h2> <p style="text-align:justify">In a realm traditionally dominated by transactions, Realezi stands apart, driven by a vision to revolutionize the real estate landscape. We are not merely a real estate firm; we are architects of change, dedicated to transforming the very dimension of real estate from a mere transactional process to an enriching, dynamic experience.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="full-row">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 offset-lg-1 order-lg-2">
                        <img src="{% static 'frontpart/assets/images/clipart/10.png' %}" alt="">
                    </div>
                    <div class="col-lg-5 order-lg-1">
                        <div class="position-relative y-center">
                            <span class="tagline mb-1 d-block text-primary">Shaping Tomorrow's Homes</span>
                            <h2 class="mb-40 down-line">Realezi's Progressive Approach</h2>
                            <p style="text-align:justify">Realezi is not your average real estate firm; we are pioneers shaping the future of homes. Beyond the conventional sale of properties, our progressive approach envisions a real estate experience that transcends the transactional.</p>
                            <p style="text-align:justify">We are here to introduce a paradigm shift, where each home represents not just a physical space but a harmonious blend of lifestyle, innovation, and personalized service.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
      
        <div class="full-row">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="md-mb-30">
                            <span class="tagline-2 text-primary">Official Channel Partner</span>
                            <h2 class="text-secondary mb-0">Partners</h2>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="row row-cols-md-4 row-cols-sm-2 row-cols-2 g-4 ">
                            <div class="col">
                                <a href="#" class="hover-img-upshow overflow-hidden pe-5 d-block">
                                    <img src="{% static 'frontpart/assets/images/partner/oh_logo_01-min.png' %}" alt="creative template">
                                </a>
                            </div>
                            <div class="col">
                                <a href="#" class="hover-img-upshow overflow-hidden pe-5 d-block">
                                    <img src="{% static 'frontpart/assets/images/partner/oh_logo_02-min.png'%}" alt="creative template">
                                </a>
                            </div>
                            <div class="col">
                                <a href="#" class="hover-img-upshow overflow-hidden pe-5 d-block">
                                    <img src="{% static 'frontpart/assets/images/partner/oh_logo_03-min.png'%}" alt="creative template">
                                </a>
                            </div>
                            <div class="col">
                                <a href="#" class="hover-img-upshow overflow-hidden pe-5 d-block">
                                    <img src="{% static 'frontpart/assets/images/partner/oh_logo_04-min.png'%}" alt="creative template">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--============== Accordian Start ==============-->
        <!-- <div class="full-row bg-light pb-0">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5">
                        <div class="text-secondary mb-lg-5">
                            <span class="tagline-2 text-primary">Capabilities</span>
                            <h2 class="text-secondary mb-4">Unleashing Real Estate Excellence</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row row-cols-xl-2 row-cols-1">
                    <div class="col px-0"><img src="{% static 'frontpart/assets/images/background/bg-5.png'%}" alt="image not found"></div>
                    <div class="col bg-white" style="margin-top: -100px;">
                        <div class="w-75 w-lg-100 sm-px-0" style="padding:50px 80px">
                            <div class="simple-video-play d-flex mb-3">
                                <div class="position-relative d-inline-block">
                                    <a data-fancybox href="https://www.youtube.com/watch?v=bh-klGboIg8" class="rounded-circle position-relative bg-secondary" style="z-index: 10"><i class="flaticon-play-button position-relative xy-center flat-mini rounded-circle text-white"></i></a>
                                    <div class="loader position-absolute xy-center">
                                        <div class="loader-inner ball-scale-multiple">
                                            <div></div>
                                            <div></div>
                                        </div><span class="tooltip">
									  <b>ball-scale-multiple</b></span>
                                    </div>
                                </div>
                                <div class="ps-4 text-secondary font-medium">Play Video</div>
                            </div>

                            <h2 class="text-secondary mb-5">Stay informed every step of the way. </h2>
                            <p style="text-align:justify;">Our team excels in providing strategic property solutions tailored to your unique needs. Whether you're seeking your dream home or optimizing your real estate portfolio, we leverage our expertise to navigate the intricacies of the market. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!--============== Accordian End ==============-->

        <!--============== Footer Section Start ==============-->
        {% include 'Frontend/footer.html' %}
        <!--============== Footer Section End ==============-->

        <!--============== Copyright Section Start ==============-->
       
        <!--============== Copyright Section End ==============-->

        <!-- Scroll to top -->
        <div class="scroll-top-vertical xs-mx-none" id="scroll">Go Top <i class="ms-2 fa-solid fa-arrow-right-long"></i></div>
        <!-- End Scroll To top -->

    </div>

    <!-- Javascript Files -->
    <script src="{% static 'frontpart/assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/popper.min.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/jquery.fancybox.min.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/owl.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/range/tmpl.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/range/jquery.dependClass.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/range/draggable.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/range/jquery.slider.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/wow.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/mixitup.min.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/paraxify.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/custom.js' %}"></script>

</body>


</html>