<!DOCTYPE html>
<html lang="zxx">
	<head>
		{% load static %}
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>Realezi.com - Buy your dream property in Vadodara with assured best deals</title>
		<meta name="description" content="Discover your dream home with Realezi.com! Browse a wide range of real estate listings, from cozy apartments to luxurious estates. Our user-friendly platform makes finding the perfect property a breeze. Start your real estate journey today!">
        <!-- Custom CSS -->
        <link href="{% static 'front-end/css/styles.css' %}" rel="stylesheet">
		<!-- Custom Color Option -->
		<link href="{% static 'front-end/css/colors.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

		
    </head>
	
    <body class="blue-skin dashboard">
		{% include 'header.html' %}
        <div id="main-wrapper">

			<!-- ============================ Page Title Start================================== -->
			<div class="page-title" style="height:90px !important">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12">
							
							<h2 class="ipt-title">Welcome {{request.session.name}}!</h2>
							<span class="ipn-subtitle">Welcome To Your Account</span>
							
						</div>
					</div>
				</div>
			</div>
			<!-- ============================ Page Title End ================================== -->
			
			<!-- ============================ User Dashboard ================================== -->
			<section class="bg-light">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12 col-md-12">
							<div class="filter_search_opt">
								<a href="javascript:void(0);" onclick="openFilterSearch()">Dashboard Navigation<i class="ml-2 ti-menu"></i></a>
							</div>
						</div>
					</div>
								
					<div class="row">
						
						<div class="col-lg-3 col-md-12">
							
							<div class="simple-sidebar sm-sidebar" id="filter_search">
								
								<div class="search-sidebar_header">
									<h4 class="ssh_heading">Close Filter</h4>
									<button onclick="closeFilterSearch()" class="w3-bar-item w3-button w3-large"><i class="ti-close"></i></button>
								</div>
								
								<div class="sidebar-widgets">
									<div class="dashboard-navbar">
										
										<div class="d-user-avater">
											<img src="{% static 'front-end/img/user-1.jpg' %}" class="img-fluid avater" alt="">
											<h4>{{request.session.name}}</h4>
											<span></span>
										</div>
										
										<div class="d-navigation">
											<ul>
												<li><a href="dashboard.html"><i class="ti-dashboard"></i>Dashboard</a></li>
												<li class="active"><a href="myprofile"><i class="ti-user"></i>My Profile</a></li>
												<!-- <li><a href="bookmark-list.html"><i class="ti-bookmark"></i>Bookmarked Listings</a></li> -->
												<li><a href=""><i class="ti-layers"></i>My Properties</a></li>
												<li><a href="addproperty"><i class="ti-pencil-alt"></i>Submit New Property</a></li>
												<li><a href=""><i class="ti-unlock"></i>Change Password</a></li>
												<li><a href="login"><i class="ti-power-off"></i>Log Out</a></li>
											</ul>
										</div>
										
									</div>
								</div>
								
							</div>
						</div>
						
						<div class="col-lg-9 col-md-12">
							<div class="dashboard-wraper">
							
								<!-- Basic Information -->
								<div class="submit-page">
								
                                    <!-- Basic Information -->
                                    <div class="form-submit">	
                                        <h3>Basic Information</h3>
                                        <div class="submit-section">
                                            <div class="row">
                                                <h4>Building Type:</h4>
                                                <div class="radio-container">
                                                    <div class="radio-box">
                                                        <input type="radio" name="box" id="box1" value="residential">
                                                        <label for="box1">
                                                            <i class="fas fa-flag flag-icon" style="font-size:17px;"></i>
                                                            Residential
                                                        </label>
                                                    </div>
                                                    <div class="radio-box">
                                                        <input type="radio" name="box" id="box2" value="commercial">
                                                        <label for="box2">
                                                            <i class="fas fa-flag flag-icon"  style="font-size:17px;"></i>
                                                            Commercial
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                            
                                                <div class="form-group col-md-12">
                                                    <label>Property Title<span class="tip-topdata" data-tip="Property Title"><i class="ti-help"></i></span></label>
                                                    <input type="text" class="form-control">
                                                </div>
                                                
                                                <div class="form-group col-md-6">
                                                    <label>Select Category</label>
                                                    <select id="status" class="form-control">
                                                        <option value=""></option>
                                                        <option value="1">For Rent</option>
                                                        <option value="2">For Sale</option>
                                                    </select>
                                                </div>
                                                
                                                <div class="form-group col-md-6">
                                                    <label>Property Type</label>
                                                    <select id="ptypes" class="form-control">
                                                        <option value="">&nbsp;</option>
                                                        <option value="1">Houses</option>
                                                        <option value="2">Apartment</option>
                                                        <option value="3">Villas</option>
                                                        <option value="4">Commercial</option>
                                                        <option value="5">Offices</option>
                                                        <option value="6">Garage</option>
                                                    </select>
                                                </div>
                                                
                                                <div class="form-group col-md-6">
                                                    <label>Price</label>
                                                    <input type="text" class="form-control" placeholder="Enter Price">
                                                </div>
                                                
                                                <div class="form-group col-md-6">
                                                    <label>Area (In sqft)</label>
                                                    <input type="text" class="form-control"  placeholder="Enter Area">
                                                </div>
                                                
                                                <div class="form-group col-md-6">
                                                    <label>Bedrooms</label>
                                                    <select id="bedrooms" class="form-control">
                                                        <option value="">&nbsp;</option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                    </select>
                                                </div>
                                                
                                                <div class="form-group col-md-6">
                                                    <label>Bathrooms</label>
                                                    <select id="bathrooms" class="form-control">
                                                        <option value="">&nbsp;</option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                    </select>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <!-- Gallery -->
                                    <div class="form-submit" style="margin-top:30px;">	
                                        <h3>Front</h3>
                                        <div class="submit-section">
                                            <div class="row">
                                            
                                                <div class="form-group col-md-4">
                                                    <label>Image-1</label>
                                                    <input type="file">
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label>Image-2</label>
                                                    <input type="file">
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label>Image-3</label>
                                                    <input type="file">
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label>Image-4</label>
                                                    <input type="file">
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label>Image-5</label>
                                                    <input type="file">
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label>Image-6</label>
                                                    <input type="file">
                                                </div>
                                              
                                                
                                            </div>
                                        </div>
                                    </div>

                    <br/>                                     <!-- Gallery -->
                                     <div class="form-submit" style="margin-top:20px;">	
                                        <h3>Interior</h3>
                                        <div class="submit-section">
                                            <div class="row">
                                            
                                                <div class="form-group col-md-4">
                                                    <label>Image-1</label>
                                                    <input type="file">
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label>Image-2</label>
                                                    <input type="file">
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label>Image-3</label>
                                                    <input type="file">
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label>Image-4</label>
                                                    <input type="file">
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label>Image-5</label>
                                                    <input type="file">
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label>Image-6</label>
                                                    <input type="file">
                                                </div>
                                              
                                                
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <!-- Location -->
                                    <div class="form-submit" style="margin-top:30px;">	
                                        <h3>Location</h3>
                                        <div class="submit-section">
                                            <div class="row">
                                            
                                                <div class="form-group col-md-6">
                                                    <label>Address</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                                
                                                <div class="form-group col-md-6">
                                                    <label>City</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                                
                                                <div class="form-group col-md-6">
                                                    <label>State</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                                
                                                <div class="form-group col-md-6">
                                                    <label>Zip Code</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <!-- Detailed Information -->
                                    <div class="form-submit" style="margin-top:30px;">	
                                        <h3>Detailed Information</h3>
                                        <div class="submit-section">
                                            <div class="row">
                                            
                                                <div class="form-group col-md-12">
                                                    <label>Description</label>
                                                    <textarea class="form-control h-120"></textarea>
                                                </div>
                                                
                                                <div class="form-group col-md-4">
                                                    <label>Building Age (optional)</label>
                                                    <select id="bage" class="form-control">
                                                        <option value="">&nbsp;</option>
                                                        <option value="1">0 - 5 Years</option>
                                                        <option value="2">0 - 10Years</option>
                                                        <option value="3">0 - 15 Years</option>
                                                        <option value="4">0 - 20 Years</option>
                                                        <option value="5">20+ Years</option>
                                                    </select>
                                                </div>
                                                
                                                <div class="form-group col-md-4">
                                                    <label>Garage (optional)</label>
                                                    <select id="garage" class="form-control">
                                                        <option value="">&nbsp;</option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                    </select>
                                                </div>
                                                
                                                <div class="form-group col-md-4">
                                                    <label>Rooms (optional)</label>
                                                    <select id="rooms" class="form-control">
                                                        <option value="">&nbsp;</option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                    </select>
                                                </div>
                                                
                                                <div class="form-group col-md-12" style="margin-top:30px;">
                                                    <label>Amenities</label>
                                                    <div class="o-features">
                                                        <ul class="no-ul-list third-row">
                                                            <li>
                                                                <input id="a-1" class="checkbox-custom" name="a-1" type="checkbox">
                                                                <label for="a-1" class="checkbox-custom-label"><i class="material-icons">security</i>&nbsp; 24 x 7 Security</label>
                                                            </li>
                                                            <li>
                                                                <input id="a-2" class="checkbox-custom" name="a-2" type="checkbox">
                                                                <label for="a-2" class="checkbox-custom-label"><i class="fas fa-building fa-lg"></i>&nbsp; Balcony</label>
                                                            </li>
                                                            <li>
                                                                <input id="a-3" class="checkbox-custom" name="a-3" type="checkbox">
                                                                <label for="a-3" class="checkbox-custom-label"><i class="fa fa-camera-cctv"></i>&nbsp; CCTV Security</label>
                                                            </li>
                                                            <li>
                                                                <input id="a-4" class="checkbox-custom" name="a-4" type="checkbox">
                                                                <label for="a-4" class="checkbox-custom-label"><i class="material-icons">sports_baseball</i>&nbsp; Kids Play Area</label>
                                                            </li>
                                                            <li>
                                                                <input id="a-5" class="checkbox-custom" name="a-5" type="checkbox">
                                                                <label for="a-5" class="checkbox-custom-label"><i class="material-icons">grass</i>&nbsp; Large Green Area</label>
                                                            </li>
                                                            <li>
                                                                <input id="a-6" class="checkbox-custom" name="a-6" type="checkbox">
                                                                <label for="a-6" class="checkbox-custom-label"><i class="material-icons">supervisor_account</i>&nbsp; Maintenance Staff</label>
                                                            </li>
                                                            <li>
                                                                <input id="a-7" class="checkbox-custom" name="a-7" type="checkbox">
                                                                <label for="a-7" class="checkbox-custom-label"><i class="material-icons">router</i>&nbsp; Power Backup
                                                                </label>
                                                            </li>
                                                            <li>
                                                                <input id="a-8" class="checkbox-custom" name="a-8" type="checkbox">
                                                                <label for="a-8" class="checkbox-custom-label"><i class="material-icons">local_parking</i>&nbsp; Visitor's Parking</label>
                                                            </li>
                                                            <li>
                                                                <input id="a-7" class="checkbox-custom" name="a-7" type="checkbox">
                                                                <label for="a-7" class="checkbox-custom-label"><i class="material-icons">router</i>&nbsp; Power Backup
                                                                </label>
                                                            </li>
                                                            
                                                        
                                                        </ul>
                                                    </div>
                                                </div>

                                                <div class="form-group col-md-12" style="margin-top:30px;">
                                                    <label>Other Internal Features (optional)</label>
                                                    <div class="o-features">
                                                        <ul class="no-ul-list third-row">
                                                            <li>
                                                                <input id="a-1" class="checkbox-custom" name="a-1" type="checkbox">
                                                                <label for="a-1" class="checkbox-custom-label">Air Condition</label>
                                                            </li>
                                                            <li>
                                                                <input id="a-2" class="checkbox-custom" name="a-2" type="checkbox">
                                                                <label for="a-2" class="checkbox-custom-label">Bedding</label>
                                                            </li>
                                                            <li>
                                                                <input id="a-3" class="checkbox-custom" name="a-3" type="checkbox">
                                                                <label for="a-3" class="checkbox-custom-label">Heating</label>
                                                            </li>
                                                            <li>
                                                                <input id="a-4" class="checkbox-custom" name="a-4" type="checkbox">
                                                                <label for="a-4" class="checkbox-custom-label">Internet</label>
                                                            </li>
                                                            <li>
                                                                <input id="a-5" class="checkbox-custom" name="a-5" type="checkbox">
                                                                <label for="a-5" class="checkbox-custom-label">Microwave</label>
                                                            </li>
                                                            <li>
                                                                <input id="a-6" class="checkbox-custom" name="a-6" type="checkbox">
                                                                <label for="a-6" class="checkbox-custom-label">Temple Area</label>
                                                            </li>
                                                            <li>
                                                                <input id="a-7" class="checkbox-custom" name="a-7" type="checkbox">
                                                                <label for="a-7" class="checkbox-custom-label">Terrace</label>
                                                            </li>
                                                            <li>
                                                                <input id="a-8" class="checkbox-custom" name="a-8" type="checkbox">
                                                                <label for="a-8" class="checkbox-custom-label">Balcony</label>
                                                            </li>
  
                                                            <li>
                                                                <input id="a-10" class="checkbox-custom" name="a-10" type="checkbox">
                                                                <label for="a-10" class="checkbox-custom-label">Wi-Fi</label>
                                                            </li>
                                                            <!-- <li>
                                                                <input id="a-11" class="checkbox-custom" name="a-11" type="checkbox">
                                                                <label for="a-11" class="checkbox-custom-label">Beach View</label>
                                                            </li>
                                                            <li>
                                                                <input id="a-12" class="checkbox-custom" name="a-12" type="checkbox">
                                                                <label for="a-12" class="checkbox-custom-label">Parking</label>
                                                            </li> -->
                                                        </ul>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <!-- Contact Information -->
                                    <div class="form-submit" style="margin-top:30px;">	
                                        <h3>Contact Information</h3>
                                        <div class="submit-section">
                                            <div class="row">
                                            
                                                <div class="form-group col-md-4">
                                                    <label>Name</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                                
                                                <div class="form-group col-md-4">
                                                    <label>Email</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                                
                                                <div class="form-group col-md-4">
                                                    <label>Phone (optional)</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group col-lg-12 col-md-12" style="margin-top:30px;">
                                        <label>GDPR Agreement *</label>
                                        <ul class="no-ul-list">
                                            <li>
                                                <input id="aj-1" class="checkbox-custom" name="aj-1" type="checkbox">
                                                <label for="aj-1" class="checkbox-custom-label">I consent to having this website store my submitted information so they can respond to my inquiry.</label>
                                            </li>
                                        </ul>
                                    </div>
                                    
                                    <div class="form-group col-lg-12 col-md-12">
                                        <button class="btn btn-theme-light-2 rounded" type="submit">Submit & Preview</button>
                                    </div>
                                                
                                </div>
								
							</div>
						</div>
						
					</div>
				</div>
			</section>
			<!-- ============================ User Dashboard End ================================== -->

			<!-- ============================ Footer Start ================================== -->
			{% include 'footer.html' %}
			<!-- ============================ Footer End ================================== -->
			
			<a id="back2Top" class="top-scroll" title="Back to top" href="#"><i class="ti-arrow-up"></i></a>
			

		</div>
		<!-- ============================================================== -->
		<!-- End Wrapper -->
		<!-- ============================================================== -->


		<!-- ============================================================== -->
		<!-- All Jquery -->
		<!-- ============================================================== -->
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/popper.min.js"></script>
		<script src="assets/js/bootstrap.min.js"></script>
		<script src="assets/js/rangeslider.js"></script>
		<script src="assets/js/select2.min.js"></script>
		<script src="assets/js/jquery.magnific-popup.min.js"></script>
		<script src="assets/js/slick.js"></script>
		<script src="assets/js/slider-bg.js"></script>
		<script src="assets/js/lightbox.js"></script> 
		<script src="assets/js/imagesloaded.js"></script>
		 
		<script src="assets/js/custom.js"></script>
		<!-- ============================================================== -->
		<!-- This page plugins -->
		<!-- ============================================================== -->
		<script>
			function openFilterSearch() {
				document.getElementById("filter_search").style.display = "block";
			}
			function closeFilterSearch() {
				document.getElementById("filter_search").style.display = "none";
			}
		</script>

	</body>
</html>