<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <!-- Meta Tag -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Uniland - Real Estate HTML5 Template">
    <meta name="keywords" content="real estate, property, property search, agent, apartments, booking, business, idx, housing, real estate agency, rental">
    <meta name="author" content="unicoder">
    <title>Realezi - Search Made Easy</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'frontpart/assets/images/favicon.ico' %}">
    
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sen:wght@400;700&amp;display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,500;0,700;1,400&amp;display=swap" rel="stylesheet">

    <!-- Required style of the theme -->
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/bootstrap-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/webfonts/flaticon/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/owl.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/jquery.fancybox.min.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/layerslider.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/template.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/colors/color-6.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/loader.css' %}">
    <style>
        .breadcrumb-item+.breadcrumb-item::before{
            display:none !important;
        }
    </style>
</head>

<body>

    <div class="preloader">
		<div class="loader xy-center"></div>
	</div>

    <div id="page_wrapper" class="bg-light">
        <!--============== Header Section Start ==============-->
        <header class="nav-on-banner bg-white">
            <div class="main-nav py-2 xs-p-0">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <nav class="navbar navbar-expand-lg nav-secondary nav-primary-hover nav-line-active">
                                <a class="navbar-brand" href="/"><img class="nav-logo" src="{% static 'frontpart/assets/realezilogos.png' %}" alt="Image not found !"></a>
                                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon flaticon-menu flat-small text-primary"></span>
                                </button>
                                <div class="collapse navbar-collapse sm-ml-0" id="navbarSupportedContent">
                                    <ul class="navbar-nav ms-auto">
                                    <ul class="navbar-nav sm-mx-none border-start ps-3">
                                        <li class="nav-item">
                                            <a class="btn btn-primary add-listing-btn" href="#"> Home</a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!--============== Page title Start ==============-->
        <div class="full-row py-5">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h3 class="text-secondary">Single Blog</h3>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mb-0 bg-transparent p-0">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">Blog</a></li>
                                <li class="breadcrumb-item active text-primary" aria-current="page">Single Blog</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!--============== Page title End ==============-->

        <!--============== Blog Area Start ==============-->
        <div class="full-row pt-0">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12  sm-mb-30">
                        <div class="border summary rounded bg-white p-10 mb-30">
                            <div class="post-image">
                                <img src="{% static 'frontpart/assets/images/property_grid/property-grid-8.png' %}" class="col-xl-12" alt="Image not found!">
                            </div>
                        </div>
                        <div class="single-post border summary rounded bg-white p-30 mb-30">
                            <div class="single-post-title">
                                <span class="d-inline-block text-primary">Apartment</span>
                                <h3 class="mb-2 text-secondary">Neque volutpat facilisis sollicitudin mus tempus.</h3>
                                <div class="post-meta list-color-general mb-4">
                                    <a href="#"><i class="flaticon-user-silhouette flat-mini"></i> <span>By Admin</span></a>
                                    <a href="#"><i class="flaticon-calendar flat-mini"></i> <span>Sep 1, 2019</span></a>
                                    <a href="#"><i class="flaticon-comments flat-mini"></i> <span>02</span></a>
                                    <a href="#"><i class="flaticon-like flat-mini"></i> <span>30</span></a>
                                    <a href="#"><i class="flaticon-eye-1 flat-mini"></i> <span>731</span></a>
                                    <span><i class="flaticon-document flat-mini"></i> <a href="#"><span>General</span></a>,<a href="#"><span>Media</span></a></span>
                                </div>
                            </div>

                            <div class="post-content pt-4 mb-5">
                                <p>Nullam. Facilisis tempor rhoncus at. Tincidunt tempus lacus donec pulvinar fusce metus class cras litora condimentum inceptos senectus curae; mollis amet consectetuer urna mi tempus nisi sociis velit dis, suscipit lectus senectus cursus tincidunt sit primis eros semper luctus.</p>

                                <p>Aenean augue, sociosqu netus varius sollicitudin. Pharetra senectus sem ornare. Fermentum mus hymenaeos. Mi molestie. <a href="#">Ultrices arcu tellus</a> mattis, et vitae posuere pede fames per. Elit. Mollis. Ridiculus tristique. Facilisis feugiat consequat, est per. Interdum potenti. Vitae accumsan diam neque risus mollis parturient massa porta scetur primis magnis tincidunt tempus sed semper integer semper penatibus ultricies nisi natoque fames.</p>

                                <blockquote>Penatibus suspendisse urna suspendisse class nascetur eros nisl blandit dignissim etiam rhoncus condimentum mollis. Montes urna, tincidunt quis. Amet faucibus torquent eros, fusce nullam accumsan sem odio facilisis curae; per pretium, inceptos vivamus mollis accumsan. Laoreet tincidunt est praesent lorem cursus pellentesque.</blockquote>

                                <p>Scelerisque. Cubilia ultrices sociis interdum augue. Sollicitudin accumsan enim vel quisque semper at Aliquam potenti velit rutrum mus erat amet dapibus sit facilisi aliquam lorem ad vestibulum litora, parturient non sagittis tellus litora. Viverra Tristique proin commodo et quisque. Torquent convallis imperdiet vulputate cubilia a consectetuer tellus laoreet nascetur euismod potenti inceptos enim mauris curabitur consequat.</p>
  </div>
                            
                        </div>

                        <!-- Autore Info -->
                        <div class="authore-meta bg-white rounded mb-30">
                            <div class="modal-content border">
                                <div class="modal-header bg-gray py-2">
                                    <span class="modal-title">Posted By: <a href="#">John Doe</a></span>
                                </div>
                                <div class="modal-body d-flex">
                                    <div class="author-image"><img class="rounded-circle" src="{% static 'frontpart/assets/images/user1.jpg' %}" alt="image not found!"></div>
                                    <p>Mus sed luctus sagittis. Elementum porttitor nullam dis montes. Eu adipiscing purus hendrerit eros habitasse facilisi non mus pellentesque natoque tincidunt congue suscipit porttitor ullamcorper cras a viverra ipsum nascetur hymenaeos.</p>
                                </div>
                            </div>
                        </div>

                        <!-- Post Comments -->
                        

                        
                    </div>
                </div>
            </div>
        </div>
        <!--============== Blog Area End ==============-->

        <!--============== Footer Section Start ==============-->
       {% comment %} {% include 'Frontend/footer.html' %} {% endcomment %}
        <!-- Scroll to top -->
        <div class="scroll-top-vertical xs-mx-none" id="scroll">Go Top <i class="ms-2 fa-solid fa-arrow-right-long"></i></div>
        <!-- End Scroll To top -->
    </div>

    <!-- Javascript Files -->
    <script src="{% static 'frontpart/assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/popper.min.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/jquery.fancybox.min.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/owl.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/range/tmpl.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/range/jquery.dependClass.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/range/draggable.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/range/jquery.slider.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/wow.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/mixitup.min.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/paraxify.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/custom.js' %}"></script>
</body>
</html>