<!doctype html>
<html lang="en">

<head>
    <!-- Meta Tag -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Uniland - Real Estate HTML5 Template">
    <meta name="keywords" content="real estate, property, property search, agent, apartments, booking, business, idx, housing, real estate agency, rental">
    <meta name="author" content="unicoder">
    <title>Realezi</title>
    <!-- Favicon -->
    {% load static %}
    <link rel="shortcut icon" href="{% static 'frontpart/assets/images/favicon.ico' %}">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sen:wght@400;700&amp;display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,500;0,700;1,400&amp;display=swap" rel="stylesheet">

    <!-- Required style of the theme -->
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/bootstrap-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/webfonts/flaticon/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/owl.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/jquery.fancybox.min.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/layerslider.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/template.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/colors/color.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/loader.css' %}">
    <style>
        .breadcrumb-item+.breadcrumb-item::before{
            display:none !important;
        }
    </style>
</head>

<body>

    <div class="preloader">
		<div class="loader xy-center"></div>
	</div>

    <div id="page_wrapper" class="bg-light">
        {% include 'frontend/header.html' %}

        <!--============== Page title Start ==============-->
        <div class="full-row py-5" style="margin-top:60px;">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h3 class="text-secondary">Blog List</h3>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mb-0 bg-transparent p-0">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item"><a href="blog-grid-v1.html">Blog</a></li>
                                <li class="breadcrumb-item active text-primary" aria-current="page">Blog List View</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!--============== Page title End ==============-->

        <!--============== Blog Area Start ==============-->
        <div class="full-row pt-0">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 order-xl-1 sm-mb-30">
                        <div class="row row-cols-md-3 row-cols-1 g-4">
                            <div class="col">
                                <div class="thumb-blog-overlay bg-white hover-text-PushUpBottom">
                                    <div class="post-image position-relative overlay-secondary">
                                        <img src="{% static 'frontpart/assets/images/blog/1.png' %}" alt="Image not found!">
                                        <div class="position-absolute xy-center">
                                            <div class="overflow-hidden text-center">
                                                <a class="text-white first-push-up transation font-large" href="#">+</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post-content p-4">
                                        <h5 class="d-block mb-3"><a href="#" class="transation text-dark hover-text-primary">Our latest development projects by more efficie.</a></h5>
                                        <div class="post-meta text-uppercase">
                                            <a href="#"><span>By Robert Haven</span></a>
                                            <a href="#"><span>Dec 25, 2019</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="thumb-blog-overlay bg-white hover-text-PushUpBottom">
                                    <div class="post-image position-relative overlay-secondary">
                                        <img src="{% static 'frontpart/assets/images/blog/2.png' %}" alt="Image not found!">
                                        <div class="position-absolute xy-center">
                                            <div class="overflow-hidden text-center">
                                                <a class="text-white first-push-up transation font-large" href="#">+</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post-content p-4">
                                        <h5 class="d-block mb-3"><a href="#" class="transation text-dark hover-text-primary">Cultivating market leadership from the inside.</a></h5>
                                        <div class="post-meta text-uppercase">
                                            <a href="#"><span>By Robert Haven</span></a>
                                            <a href="#"><span>Dec 25, 2019</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="thumb-blog-overlay bg-white hover-text-PushUpBottom">
                                    <div class="post-image position-relative overlay-secondary">
                                        <img src="{% static 'frontpart/assets/images/blog/3.png' %}" alt="Image not found!">
                                        <div class="position-absolute xy-center">
                                            <div class="overflow-hidden text-center">
                                                <a class="text-white first-push-up transation font-large" href="#">+</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post-content p-4">
                                        <h5 class="d-block mb-3"><a href="#" class="transation text-dark hover-text-primary">We are the next generation of the advertising.</a></h5>
                                        <div class="post-meta text-uppercase">
                                            <a href="#"><span>By Robert Haven</span></a>
                                            <a href="#"><span>Dec 25, 2019</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="thumb-blog-overlay bg-white hover-text-PushUpBottom">
                                    <div class="post-image position-relative overlay-secondary">
                                        <img src="{% static 'frontpart/assets/images/blog/1.png' %}" alt="Image not found!">
                                        <div class="position-absolute xy-center">
                                            <div class="overflow-hidden text-center">
                                                <a class="text-white first-push-up transation font-large" href="#">+</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post-content p-4">
                                        <h5 class="d-block mb-3"><a href="#" class="transation text-dark hover-text-primary">Our latest development projects by more efficie.</a></h5>
                                        <div class="post-meta text-uppercase">
                                            <a href="#"><span>By Robert Haven</span></a>
                                            <a href="#"><span>Dec 25, 2019</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="thumb-blog-overlay bg-white hover-text-PushUpBottom">
                                    <div class="post-image position-relative overlay-secondary">
                                        <img src="{% static 'frontpart/assets/images/blog/2.png' %}" alt="Image not found!">
                                        <div class="position-absolute xy-center">
                                            <div class="overflow-hidden text-center">
                                                <a class="text-white first-push-up transation font-large" href="#">+</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post-content p-4">
                                        <h5 class="d-block mb-3"><a href="#" class="transation text-dark hover-text-primary">Cultivating market leadership from the inside.</a></h5>
                                        <div class="post-meta text-uppercase">
                                            <a href="#"><span>By Robert Haven</span></a>
                                            <a href="#"><span>Dec 25, 2019</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="thumb-blog-overlay bg-white hover-text-PushUpBottom">
                                    <div class="post-image position-relative overlay-secondary">
                                        <img src="{% static 'frontpart/assets/images/blog/3.png' %}" alt="Image not found!">
                                        <div class="position-absolute xy-center">
                                            <div class="overflow-hidden text-center">
                                                <a class="text-white first-push-up transation font-large" href="#">+</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post-content p-4">
                                        <h5 class="d-block mb-3"><a href="#" class="transation text-dark hover-text-primary">We are the next generation of the advertising.</a></h5>
                                        <div class="post-meta text-uppercase">
                                            <a href="#"><span>By Robert Haven</span></a>
                                            <a href="#"><span>Dec 25, 2019</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="thumb-blog-overlay bg-white hover-text-PushUpBottom">
                                    <div class="post-image position-relative overlay-secondary">
                                        <img src="{% static 'frontpart/assets/images/blog/1.png' %}" alt="Image not found!">
                                        <div class="position-absolute xy-center">
                                            <div class="overflow-hidden text-center">
                                                <a class="text-white first-push-up transation font-large" href="#">+</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post-content p-4">
                                        <h5 class="d-block mb-3"><a href="#" class="transation text-dark hover-text-primary">Our latest development projects by more efficie.</a></h5>
                                        <div class="post-meta text-uppercase">
                                            <a href="#"><span>By Robert Haven</span></a>
                                            <a href="#"><span>Dec 25, 2019</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="thumb-blog-overlay bg-white hover-text-PushUpBottom">
                                    <div class="post-image position-relative overlay-secondary">
                                        <img src="{% static 'frontpart/assets/images/blog/2.png' %}" alt="Image not found!">
                                        <div class="position-absolute xy-center">
                                            <div class="overflow-hidden text-center">
                                                <a class="text-white first-push-up transation font-large" href="#">+</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post-content p-4">
                                        <h5 class="d-block mb-3"><a href="#" class="transation text-dark hover-text-primary">Cultivating market leadership from the inside.</a></h5>
                                        <div class="post-meta text-uppercase">
                                            <a href="#"><span>By Robert Haven</span></a>
                                            <a href="#"><span>Dec 25, 2019</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="thumb-blog-overlay bg-white hover-text-PushUpBottom">
                                    <div class="post-image position-relative overlay-secondary">
                                        <img src="{% static 'frontpart/assets/images/blog/3.png' %}" alt="Image not found!">
                                        <div class="position-absolute xy-center">
                                            <div class="overflow-hidden text-center">
                                                <a class="text-white first-push-up transation font-large" href="#">+</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post-content p-4">
                                        <h5 class="d-block mb-3"><a href="#" class="transation text-dark hover-text-primary">We are the next generation of the advertising.</a></h5>
                                        <div class="post-meta text-uppercase">
                                            <a href="#"><span>By Robert Haven</span></a>
                                            <a href="#"><span>Dec 25, 2019</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="thumb-blog-overlay bg-white hover-text-PushUpBottom">
                                    <div class="post-image position-relative overlay-secondary">
                                        <img src="{% static 'frontpart/assets/images/blog/1.png' %}" alt="Image not found!">
                                        <div class="position-absolute xy-center">
                                            <div class="overflow-hidden text-center">
                                                <a class="text-white first-push-up transation font-large" href="#">+</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post-content p-4">
                                        <h5 class="d-block mb-3"><a href="#" class="transation text-dark hover-text-primary">Our latest development projects by more efficie.</a></h5>
                                        <div class="post-meta text-uppercase">
                                            <a href="#"><span>By Robert Haven</span></a>
                                            <a href="#"><span>Dec 25, 2019</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mt-5">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination pagination-dotted-active justify-content-center">
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous Page</a>
                                        </li>
                                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">Next Page</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--============== Blog Area End ==============-->

        {% include 'frontend/footer.html' %}
        <!-- Scroll to top -->
        <div class="scroll-top-vertical xs-mx-none" id="scroll">Go Top <i class="ms-2 fa-solid fa-arrow-right-long"></i></div>
        <!-- End Scroll To top -->
    </div>

    <!-- Javascript Files -->
    <script src="{% static 'frontpart/assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/popper.min.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/jquery.fancybox.min.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/owl.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/range/tmpl.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/range/jquery.dependClass.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/range/draggable.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/range/jquery.slider.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/wow.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/mixitup.min.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/paraxify.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/custom.js' %}"></script>
</body>

</html>