<!DOCTYPE html>
<html lang="zxx">
	<head>
		{% load static %}
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		
        <title>Realezi.com - Buy your dream property in Vadodara with assured best deals</title>
		<meta name="description" content="Discover your dream home with Realezi.com! Browse a wide range of real estate listings, from cozy apartments to luxurious estates. Our user-friendly platform makes finding the perfect property a breeze. Start your real estate journey today!">
        <!-- Custom CSS -->
        <link href="assets/css/styles.css" rel="stylesheet">
		
		<!-- Custom Color Option -->
		<link href="assets/css/colors.css" rel="stylesheet">
		
    </head>
	
    <body class="blue-skin" style="background-image: url('https://www.imageshine.in/uploads/gallery/geometric-Blue-Wallpaper-Free-Download.jpg'); background-size: cover;">
        <!-- ============================================================== -->
        <!-- Main wrapper - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <div id="main-wrapper">

            <!-- ============================================================== -->
            <!-- Top header  -->	
            <!-- ============================================================== -->
            <!-- Start Navigation -->
			{% include 'header.html' %}
			<!-- End Navigation -->
			<div class="clearfix"></div>
			<!-- ============================================================== -->
			<!-- Top header  -->
			<!-- ============================================================== -->

			<!-- ============================ Page Title Start================================== -->
			
			<style>

				@media screen and (min-width: 880px) {
  				#contact-banner {
    					margin-top:-100px;
  						}
					}
				@media screen and (max-width: 380px) {
  				#contact-banner {
    					margin-top:-200px;
  						}
					}
				label{
					color:white !important;
				}
			</style>
			<!-- ============================ Page Title End ================================== -->
			
			<!-- ============================ Agency List Start ================================== -->
			<div class="video-cover hero-banner" style="margin-top:0px;height:900px !important" >
                <video autoplay loop muted playsinline poster="{% static 'front-end/img/banner-poster.jpg' %}">
                    <source src="{% static 'front-end/video/contactus.mp4' %}" type="video/mp4" style="width:100%;">
                    <!-- Add other video sources for different formats if needed -->
                </video>
               <div class="container">
				<div class="container">
				
					<!-- row Start -->
					<div class="row" style="margin-top:-3%">
						<h2 style="margin-top:-50px;color:white;margin-bottom:20px;">Get Started Today</h2><br/>
								<p style="color:white;">Ready to find your dream home? Let's make it happen together. 
								    <br/>
								    Explore Realezi, connect with our experts
								    and take the first step <br/> towards owning your <b style="font-family:'Jost', sans-serif;">Dream Home.</b></p>
								
						<div class="col-lg-5 col-md-5">
						    <div class="form-group">
										<label>Name</label>
										<input type="text" class="form-control simple">
									</div>
							
							
							<div class="row">
								<div class="col-lg-6 col-md-6">
								    <div class="form-group">
								    <label>Phone No.</label>
								    <input type="number" class="form-control simple">
							        </div>	
								</div>
								<div class="col-lg-6 col-md-6">
									<div class="form-group">
										<label>Email</label>
										<input type="email" class="form-control simple">
									</div>
								</div>
							</div>
							
							
							
							<div class="form-group">
								<label>Message</label>
								<textarea class="form-control simple"></textarea>
							</div>
							<br/>
							<div class="form-group">
								<button class="btn btn-md btn-primary rounded" type="submit">Submit Request</button>
							</div>
							<br/>
							<div class="contact-info" style="margin-left:-4px;">
								
								
								
								
								<div class="cn-info-detail" style="margin-top:10px;">
									<div class="cn-info-icon">
										<i class="ti-email" style="color:white;"></i>
									</div>
									<div class="cn-info-content">
										<h4 class="cn-info-title" style="color:white;">Drop A Mail</h4>
										<a href="mailto:hitesh@realezi.com" style="color:white;">hitesh@realezi.com</a></p>
									</div>
								</div>
								
								<div class="cn-info-detail">
									<div class="cn-info-icon">
										<i class="ti-mobile" style="color:white !important;"></i>
									</div>
									<div class="cn-info-content">
										<h4 class="cn-info-title" style="color:white;">Call Us</h4>
										<a href="tel:+91-8780953097" style="color:white;">+91 8780953097</a></p>
									</div>
								</div>
								
							</div>				
						</div>
						
						<div class="col-lg-5 col-md-5">
							
						</div>
						
					</div>
					<!-- /row -->		
					
				</div>
			   </div>
			</div>
			<style>
                .video-cover {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                }

                .video-cover video {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
				
            </style>
			
			<!-- ============================ Agency List End ================================== -->

			<!-- ============================ Footer Start ================================== -->
			{% include 'footer-contactus.html' %}
			<!-- ============================ Footer End ================================== -->
		</div>
	</body>
</html>