<!DOCTYPE html>
<html lang="zxx">
	<head>
		{% load static %}
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>Realezi.com - Buy your dream property in Vadodara with assured best deals</title>
		<meta name="description" content="Discover your dream home with Realezi.com! Browse a wide range of real estate listings, from cozy apartments to luxurious estates. Our user-friendly platform makes finding the perfect property a breeze. Start your real estate journey today!">
        <!-- Custom CSS -->
        <link href="{% static 'front-end/css/styles.css' %}" rel="stylesheet">
		<!-- Custom Color Option -->
		<link href="{% static 'front-end/css/colors.css' %}" rel="stylesheet">
		
    </head>
	
    <body class="blue-skin dashboard">
		{% include 'header.html' %}
        <div id="main-wrapper">

			<!-- ============================ Page Title Start================================== -->
			<div class="page-title" style="height:90px !important">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12">
							
							<h2 class="ipt-title">Welcome {{request.session.name}}!</h2>
							<span class="ipn-subtitle">Welcome To Your Account</span>
							
						</div>
					</div>
				</div>
			</div>
			<!-- ============================ Page Title End ================================== -->
			
			<!-- ============================ User Dashboard ================================== -->
			<section class="bg-light">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12 col-md-12">
							<div class="filter_search_opt">
								<a href="javascript:void(0);" onclick="openFilterSearch()">Dashboard Navigation<i class="ml-2 ti-menu"></i></a>
							</div>
						</div>
					</div>
								
					<div class="row">
						
						<div class="col-lg-3 col-md-12">
							
							<div class="simple-sidebar sm-sidebar" id="filter_search">
								
								<div class="search-sidebar_header">
									<h4 class="ssh_heading">Close Filter</h4>
									<button onclick="closeFilterSearch()" class="w3-bar-item w3-button w3-large"><i class="ti-close"></i></button>
								</div>
								
								<div class="sidebar-widgets">
									<div class="dashboard-navbar">
										
										<div class="d-user-avater">
											<img src="{% static 'front-end/img/user-1.jpg' %}" class="img-fluid avater" alt="">
											<h4>{{request.session.name}}</h4>
											<span></span>
										</div>
										
										<div class="d-navigation">
											<ul>
												<li><a href="dashboard.html"><i class="ti-dashboard"></i>Dashboard</a></li>
												<li class="active"><a href="myprofile"><i class="ti-user"></i>My Profile</a></li>
												<!-- <li><a href="bookmark-list.html"><i class="ti-bookmark"></i>Bookmarked Listings</a></li> -->
												<li><a href=""><i class="ti-layers"></i>My Properties</a></li>
												<li><a href="addproperty"><i class="ti-pencil-alt"></i>Submit New Property</a></li>
												<li><a href=""><i class="ti-unlock"></i>Change Password</a></li>
												<li><a href="login"><i class="ti-power-off"></i>Log Out</a></li>
											</ul>
										</div>
										
									</div>
								</div>
								
							</div>
						</div>
						
						<div class="col-lg-9 col-md-12">
							<div class="dashboard-wraper">
							
								<!-- Basic Information -->
								<div class="form-submit">	
									<h4>Create Blog</h4>
									<div class="submit-section">
										<div class="row">
										
											<div class="form-group col-md-6">
												<label>Title</label>
												<input type="text" class="form-control" name="title">
											</div>
											
											<div class="form-group col-md-6">
												<label>Content</label>
												<input type="text" class="form-control" name="content">
											</div>
											
											<div class="form-group col-md-6">
												<label>Author</label>
												<input type="number" class="form-control" name="number">
											</div>
											
											<div class="form-group col-md-6">
												<label>Status</label>
												<input type="text" class="form-control" name="company-name">
											</div>
											
											<div class="form-group col-md-6">
												<label>Incorporated since</label>
												<input type="text" class="form-control" name="Incorporated-since">
											</div>

											
											<div class="form-group col-md-6">
												<label>Ongoing projects</label>
												<input type="text" class="form-control" name="Ongoing-projects-no">
											</div>

											<div class="form-group col-md-6">
												<label>Complete projects</label>
												<input type="text" class="form-control" name="Ongoing-projects-name">
											</div>
											
											<div class="form-group col-md-12">
												<label>About</label>
												<textarea class="form-control">Maecenas quis consequat libero, a feugiat eros. Nunc ut lacinia tortor morbi ultricies laoreet ullamcorper phasellus semper</textarea>
											</div>
											
										</div>
									</div>
								</div>
								
							</div>
						</div>
						
					</div>
				</div>
			</section>
			<!-- ============================ User Dashboard End ================================== -->

			<!-- ============================ Footer Start ================================== -->
			{% include 'footer.html' %}
			<!-- ============================ Footer End ================================== -->
			
			<a id="back2Top" class="top-scroll" title="Back to top" href="#"><i class="ti-arrow-up"></i></a>
			

		</div>
		<!-- ============================================================== -->
		<!-- End Wrapper -->
		<!-- ============================================================== -->


		<!-- ============================================================== -->
		<!-- All Jquery -->
		<!-- ============================================================== -->
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/popper.min.js"></script>
		<script src="assets/js/bootstrap.min.js"></script>
		<script src="assets/js/rangeslider.js"></script>
		<script src="assets/js/select2.min.js"></script>
		<script src="assets/js/jquery.magnific-popup.min.js"></script>
		<script src="assets/js/slick.js"></script>
		<script src="assets/js/slider-bg.js"></script>
		<script src="assets/js/lightbox.js"></script> 
		<script src="assets/js/imagesloaded.js"></script>
		 
		<script src="assets/js/custom.js"></script>
		<!-- ============================================================== -->
		<!-- This page plugins -->
		<!-- ============================================================== -->
		<script>
			function openFilterSearch() {
				document.getElementById("filter_search").style.display = "block";
			}
			function closeFilterSearch() {
				document.getElementById("filter_search").style.display = "none";
			}
		</script>

	</body>
</html>