<!DOCTYPE html>
<html lang="zxx">
{% load static %}
	<head>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <title>Realezi</title>

        <!-- Custom CSS -->
        <link href="{% static 'front-end/css/styles.css' %}" rel="stylesheet">

		<!-- Custom Color Option -->
		<link href="{% static 'front-end/css/colors.css' %}" rel="stylesheet">

    </head>

    <body class="">

        <div id="">
			<!-- ============================ Call To Action ================================== -->
		
			<!-- ============================ Call To Action End ================================== -->

            <footer class="dark-footer skin-dark-footer" style="background:white !important">
				<div>
					<div class="container">
						<div class="row">

							<div class="col-lg-5 col-md-5">
								<div class="footer-widget">
									<img src="{% static 'front-end/img/Realezy Logo.png' %}" class="" alt="" style="margin-bottom:20px;width:40% !important;"/>
									<br>
									<p style="color:black;text-align:justify;font-weight:normal;font-size:17px;margin-bottom:0px;font-family: 'Arial, Helvetica, sans-serif' !important;">
										Realezi is a pioneering Indian start-up dedicated to simplifying the process of purchasing
										your dream home. As a comprehensive one-stop solution, Realezi assists you in finding
										the ideal property that aligns with your specific needs and budget. We not only secure the best
										deals available in the market but also provide invaluable support throughout the entire
										home-buying journey, including home loan assistance and post-purchase services.
									</p>
									<br>
									<div class="footer-add" style="margin-top:0px;">
										<!-- <p><i class="fa fa-phone" style="color:black"></i>&nbsp;<a href="tel:+91-8780953097" style="color:black !important;">+91 8780953097</a></p>
										<p><i class="fa fa-envelope" style="color:black;margin-bottom:20px;"></i>&nbsp;<a href="mailto:hitesh@realezi.com" style="color:black !important;">hitesh@realezi.com</a></p> -->

										<a href="https://www.facebook.com/profile.php?id=100095528529674&mibextid=ZbWKwL" target="_blank"><img style="width:6%;margin-right:10px" src="{% static 'front-end/img/facebook.png' %}"  alt="" /></a>
										
										<a href="https://www.instagram.com/realezi_" target="_blank"><img style="width:6%;margin-right:10px" src="{% static 'front-end/img/instagram.png' %}"  alt="" /></a>
										<a href="https://www.linkedin.com/company/realezi/" target="_blank"><img style="width:6%;margin-right:10px;" src="{% static 'front-end/img/linkedin.png' %}"  alt="" /></a>

									</div>
								</div>
							</div>
							<div class="col-lg-1 col-md-1"></div>
						<div class="col-lg-2 col-md-2">
								<div class="footer-widget">
									<br>
									<h3 class="widget-title" style="color:black !important;margin-top:0px;"><center>Company</center></h3>
									
									<br>
									<ul class="footer-menu">
										<center>
										<li><a href="#" style="font-size:15px;color:black !important;text-align: center !important;">Home</a></li>
										<li><a href="#" style="font-size:15px;color:black !important;text-align: center !important;">Buy</a></li>
										<li><a href="#" style="font-size:15px;color:black !important;text-align: center !important;">Service</a></li>
										<li><a href="{% url 'about-us' %}" style="color:black !important;text-align: center !important;">About us</a></li>
										</center>
									</ul>
								</div>
							</div>
							<div class="col-lg-1 col-md-1"></div>
							<style>
								.footer-add p a{
									color:white !important;
								}
								.footer-menu li a{
									color:white !important;
								}
							</style>
							<!-- <div class="col-lg-2 col-md-2">
								<div class="footer-widget">
									<h4 class="widget-title">My Account</h4>
									<ul class="footer-menu" >
										<li><a href="#">My Profile</a></li>
										<li><a href="#">My account</a></li>
										<li><a href="#">My Property</a></li>
										<li><a href="#">Cart</a></li>
									</ul>
								</div>
							</div> -->
							<div class="col-lg-3 col-md-3">
								<div class="footer-widget">
									<br>
									<div class="hero-search">
										<h3  class="widget-title" style="color:black !important">Get in Touch with Us</h3>
										
									</div>
									<br>
									
									<div class="footer-add" style="margin-top:10px;">
										<p><i class="fa fa-phone" style="font-size:15px;color:black"></i>&nbsp;&nbsp;<a href="tel:+91-8780953097" style="font-size:18px;color:black !important;">+91 8780953097</a></p>
										
										<p><i class="fa fa-envelope" style="font-size:15px;color:black;margin-top:10px;"></i>&nbsp;&nbsp;<a href="mailto:hitesh@realezi.com" style="font-size:18px;color:black !important;">hitesh@realezi.com</a></p> 

										<!-- <a href="https://www.facebook.com/profile.php?id=100095528529674&mibextid=ZbWKwL" target="_blank"><img style="width:6%;margin-right:10px" src="{% static 'front-end/img/facebook.png' %}"  alt="" /></a>
										
										<a href="https://www.instagram.com/realezi_" target="_blank"><img style="width:6%;margin-right:10px" src="{% static 'front-end/img/instagram.png' %}"  alt="" /></a>
										<a href="https://www.linkedin.com/company/realezi/" target="_blank"><img style="width:6%;margin-right:10px;" src="{% static 'front-end/img/linkedin.png' %}"  alt="" /></a> -->

									</div>
								</div>
							</div>
							<!-- <div class="col-lg-2 col-md-2">
								<div class="footer-widget">
									<h3  class="widget-title" style="color:black !important">What makes us best?</h3>
									<!-- <p style="color:black;text-align:justify;font-weight:normal;font-size:17px;margin-bottom:30px;font-family: 'Arial, Helvetica, sans-serif' !important;">At Realezi.com, we are on a mission to revolutionise the real estate industry in India by
										simplifying the process of finding and purchasing your dream home. As a pioneering Indian
										start-up, we understand the challenges homebuyers face, and we are dedicated to being
										your trusted companion throughout the entire home-buying journey.
									</p>
									<button type="button" class="btn btn-primary btn-md" style="font-size:18px;">Buy Residential</button>
									<button type="button" class="btn btn-success btn-md" style="font-size:18px;">Buy Commercial</button>	
									<button type="button" class="btn btn-primary btn-md" style="font-size:18px;">Buy Plots</button>		 -->
								</div>
							</div> -->
						</div>
					</div>
				</div>

				<div class="footer-bottom">
					<div class="container">
						<div class="row align-items-center">

							<div class="col-lg-6 col-md-6">
								<p class="mb-0" style="color:white">© 2023 Realezi.
								<!--Designd By <a href="https://themezhub.com">Themez Hub</a> -->
								All Rights Reserved</p>
							</div>
						</div>
					</div>
				</div>
			</footer>
						<!-- Log In Modal -->
			<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="registermodal" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered login-pop-form" role="document">
					<div class="modal-content" id="registermodal">
						<span class="mod-close" data-bs-dismiss="modal" aria-hidden="true"><i class="ti-close"></i></span>
						<div class="modal-body">
							<h4 class="modal-header-title">Log In</h4>
							<div class="login-form">
								<form>

									<div class="form-group">
										<label>User Name</label>
										<div class="input-with-icon">
											<input required type="text" class="form-control" placeholder="Username">
											<i class="ti-user"></i>
										</div>
									</div>

									<div class="form-group">
										<label>Password</label>
										<div class="input-with-icon">
											<input required type="password" class="form-control" placeholder="*******">
											<i class="ti-unlock"></i>
										</div>
									</div>

									<div class="form-group">
										<button type="submit" class="btn btn-md full-width btn-theme-light-2 rounded">Login</button>
									</div>

								</form>
							</div>
							<div class="modal-divider"><span>Or login via</span></div>
							<div class="social-login mb-3">
								<ul>
									<li><a href="#" class="btn connect-fb"><i class="ti-facebook"></i>Facebook</a></li>
									<li><a href="#" class="btn connect-google"><i class="ti-google"></i>Google+</a></li>
								</ul>
							</div>
							<div class="text-center">
								<p class="mt-5"><a href="#" class="link">Forgot password?</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Modal -->

			<!-- Sign Up Modal -->
			<div class="modal fade signup" id="signup" tabindex="-1" role="dialog" aria-labelledby="sign-up" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered login-pop-form" role="document">
					<div class="modal-content" id="sign-up">
						<span class="mod-close" data-bs-dismiss="modal" aria-hidden="true"><i class="ti-close"></i></span>
						<div class="modal-body">
							<h4 class="modal-header-title">Sign Up</h4>
							<div class="login-form">
								<form>

									<div class="row">

										<div class="col-lg-6 col-md-6">
											<div class="form-group">
												<div class="input-with-icon">
													<input required type="text" class="form-control" placeholder="Full Name">
													<i class="ti-user"></i>
												</div>
											</div>
										</div>

										<div class="col-lg-6 col-md-6">
											<div class="form-group">
												<div class="input-with-icon">
													<input required type="email" class="form-control" placeholder="Email">
													<i class="ti-email"></i>
												</div>
											</div>
										</div>

										<div class="col-lg-6 col-md-6">
											<div class="form-group">
												<div class="input-with-icon">
													<input required type="text" class="form-control" placeholder="Username">
													<i class="ti-user"></i>
												</div>
											</div>
										</div>

										<div class="col-lg-6 col-md-6">
											<div class="form-group">
												<div class="input-with-icon">
													<input required type="password" class="form-control" placeholder="*******">
													<i class="ti-unlock"></i>
												</div>
											</div>
										</div>

										<div class="col-lg-6 col-md-6">
											<div class="form-group">
												<div class="input-with-icon">
													<input required type="password" class="form-control" placeholder="123 546 5847">
													<i class="lni-phone-handset"></i>
												</div>
											</div>
										</div>

										<div class="col-lg-6 col-md-6">
											<div class="form-group">
												<div class="input-with-icon">
													<select required class="form-control">
														<option>As a Customer</option>
														<option>As a Agent</option>
														<option>As a Agency</option>
													</select>
													<i class="ti-briefcase"></i>
												</div>
											</div>
										</div>

									</div>

									<div class="form-group">
										<button type="submit" class="btn btn-md full-width btn-theme-light-2 rounded">Sign Up</button>
									</div>

								</form>
							</div>
							<div class="modal-divider"><span>Or login via</span></div>
							<div class="social-login mb-3">
								<ul>
									<li><a href="#" class="btn connect-fb"><i class="ti-facebook"></i>Facebook</a></li>
									<li><a href="#" class="btn connect-google"><i class="ti-google"></i>Google+</a></li>
								</ul>
							</div>
							<div class="text-center">
								<p class="mt-5"><i class="ti-user mr-1"></i>Already Have An Account? <a href="#" class="link">Go For LogIn</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Modal -->
			
			<!--contact modal-->
			<div class="modal fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="registermodal" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered login-pop-form" role="document">
					<div class="modal-content" id="BuilderContact">
						<span class="mod-close" data-bs-dismiss="modal" aria-hidden="true"><i class="ti-close"></i></span>
						<div class="modal-body">
							<h4 class="modal-header-title" style="font-size:25px;">Inquiry</h4>
							<div class="login-form">
								<form method="post" action="{% url 'businessInquiry' %}">
									{% csrf_token %}
									<div class="form-group">
										<label>Name</label>
										<div class="input-with-icon">
											<input required type="text" class="form-control" name="name" placeholder="Enter Name">
											<i class="ti-user"></i>
										</div>
									</div>

									<div class="form-group">
										<label>Phone No</label>
										<div class="input-with-icon">
											<input required type="number" class="form-control" name="phone" placeholder="Enter number">
											<i class="ti-mobile"></i>
										</div>
									</div>

									<div class="form-group">
										<label>Email</label>
										<div class="input-with-icon">
											<input required type="email" class="form-control" name="email" placeholder="Enter Email">
											<i class="ti-email"></i>
										</div>
									</div>

									<div class="form-group">
										<button type="submit" class="btn btn-md full-width btn-theme-light-2 rounded">Submit</button>
									</div>

								</form>
							</div>
					</div>
				</div>
			</div>
			</div>
			<!-- End Modal -->


			<!--Residential-->
			<div class="modal fade" id="Residential" tabindex="-1" role="dialog" aria-labelledby="registermodal" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered login-pop-form" role="document">
					<div class="modal-content" id="residentialInquiry">
						<span class="mod-close" data-bs-dismiss="modal" aria-hidden="true"><i class="ti-close"></i></span>
						<div class="modal-body">
							<h4 class="modal-header-title" style="font-size:25px;">Residential Inquiry</h4>
							<div class="login-form">
								<form method="post" action="{% url 'ResidentialInquiry' %}" >
							<div class="hero-search-content side-form" >
								{% csrf_token %}
								<div class="row">
									<div class="col-lg-12 col-md-12 col-sm-12">
										<div class="form-group ">
										<label>Select Locality dropdown</label>
										<select required id="cities" class="form-control" name="cities" style="height:40px !important">
												<option value="">Select an area</option>
												<option value="Ajod">Ajod</option>
												<option value="Ajwa Road">Ajwa Road</option>
												<option value="Akota">Akota</option>
												<option value="Alkapuri">Alkapuri</option>
												<option value="Amaliyara">Amaliyara</option>
												<option value="Amodar">Amodar</option>
												<option value="Ampad">Ampad</option>
												<option value="Angadh">Angadh</option>
												<option value="Ankhol">Ankhol</option>
												<option value="Ankodia">Ankodia</option>
												<option value="Asoj">Asoj</option>
												<option value="Atladara">Atladara</option>
												<option value="Bajwa">Bajwa</option>
												<option value="Bakrol">Bakrol</option>
												<option value="Baranpura">Baranpura</option>
												<option value="Bhaily">Bhaily</option>
												<option value="Bill">Bill</option>
												<option value="Chapad">Chapad</option>
												<option value="Chemical Industries">Chemical Industries</option>
												<option value="Chhani Rd">Chhani Rd</option>
												<option value="Danteshwar">Danteshwar</option>
												<option value="Dashrath">Dashrath</option>
												<option value="Dhaniavi">Dhaniavi</option>
												<option value="Dhanora">Dhanora</option>
												<option value="Dodka">Dodka</option>
												<option value="Dumad">Dumad</option>
												<option value="Eme">Eme</option>
												<option value="Fartilizer Nagar">Fartilizer Nagar</option>
												<option value="Fateganj">Fateganj</option>
												<option value="Fatepura (vadodara)">Fatepura (vadodara)</option>
												<option value="Fazalpur">Fazalpur</option>
												<option value="Geb">Geb</option>
												<option value="Gorwa">Gorwa</option>
												<option value="Gosindra">Gosindra</option>
												<option value="Gotri">Gotri</option>
												<option value="Harni Colony">Harni Colony</option>
												<option value="Industrial Estate (vadodara)">Industrial Estate (vadodara)</option>
												<option value="Itola">Itola</option>
												<option value="Itola R.s.">Itola R.s.</option>
												<option value="Jambua">Jambua</option>
												<option value="Jawahar Nagar (vadodara)">Jawahar Nagar (vadodara)</option>
												<option value="Kalali">Kalali</option>
												<option value="Kapurai">Kapurai</option>
												<option value="Karchiya">Karchiya</option>
												<option value="Karelibaug">Karelibaug</option>
												<option value="Karodia">Karodia</option>
												<option value="Kelanpur">Kelanpur</option>
												<option value="Khanderao Market">Khanderao Market</option>
												<option value="Kotna">Kotna</option>
												<option value="Koyali">Koyali</option>
												<option value="Kumetha">Kumetha</option>
												<option value="M.i. Estate">M.i. Estate</option>
												<option value="Madanzampa">Madanzampa</option>
												<option value="Makarpura">Makarpura</option>
												<option value="Mandvi (vadodara)">Mandvi (vadodara)</option>
												<option value="Maneja">Maneja</option>
												<option value="Manjalpur">Manjalpur</option>
												<option value="Nandesari">Nandesari</option>
												<option value="Nandesari Ind. Estate">Nandesari Ind. Estate</option>
												<option value="Nimetha">Nimetha</option>
												<option value="Ongc Col">Ongc Col</option>
												<option value="Padmala">Padmala</option>
												<option value="Panchvati">Panchvati</option>
												<option value="Patarveni">Patarveni</option>
												<option value="Petrochemical T Ship">Petrochemical T Ship</option>
												<option value="Petrochemical">Petrochemical</option>
												<option value="Por">Por</option>
												<option value="Pratapganj (vadodara)">Pratapganj (vadodara)</option>
												<option value="Pratapnagar R.s.">Pratapnagar R.s.</option>
												<option value="Pratapnagar (vadodara)">Pratapnagar (vadodara)</option>
												<option value="Racecourse">Racecourse</option>
												<option value="Raika">Raika</option>
												<option value="Raipura">Raipura</option>
												<option value="Ramnath">Ramnath</option>
												<option value="Ranoli (vadodara)">Ranoli (vadodara)</option>
												<option value="Ruvand">Ruvand</option>
												<option value="Samiyala">Samiyala</option>
												<option value="Samsabad">Samsabad</option>
												<option value="Sankarda">Sankarda</option>
												<option value="Santkawnar Colony">Santkawnar Colony</option>
												<option value="Sarar">Sarar</option>
												<option value="Sardar Nagar Society">Sardar Nagar Society</option>
												<option value="Sayajiganj">Sayajiganj</option>
												<option value="Sayajipura">Sayajipura</option>
												<option value="Sevasi">Sevasi</option>
												<option value="Shahpura">Shahpura</option>
												<option value="Sharadnagar">Sharadnagar</option>
												<option value="Sherkhi">Sherkhi</option>
												<option value="Sindhrot">Sindhrot</option>
												<option value="Sisva">Sisva</option>
												<option value="Sokhda">Sokhda</option>
												<option value="Soma Talav">Soma Talav</option>
												<option value="Srp Group I">Srp Group I</option>
												<option value="Subhanpura">Subhanpura</option>
												<option value="Sundarpura">Sundarpura</option>
												<option value="T B Sanatorium">T B Sanatorium</option>
												<option value="Tandalja">Tandalja</option>
												<option value="Tarsali">Tarsali</option>
												<option value="Tatarpura">Tatarpura</option>
												<option value="Undera">Undera</option>
												<option value="Vadodara">Vadodara</option>
												<option value="Vadsala">Vadsala</option>
												<option value="Vadsar">Vadsar</option>
												<option value="Varnama">Varnama</option>
												<option value="Vasna Kotaria">Vasna Kotaria</option>
												<option value="Vasna Road">Vasna Road</option>
												<option value="Vidhyut Nagar Colony">Vidhyut Nagar Colony</option>
												<option value="Virod">Virod</option>
												<option value="Wadi S.n. Road">Wadi S.n. Road</option>
												<option value="Waghodia Road">Waghodia Road</option><option value="Other">Other</option>
											</select>

										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12 col-md-12 col-sm-12">
										<div class="form-group ">
										<label>Select Your Budget </label>
										<select required id="Budget" class="form-control" name="budget" style="height:40px !important">
										<option value=""></option>
										<option value="20 - 35 lacs">20 - 35 lacs</option>
										<option value="35-50 lacs">35-50 lacs</option>
										<option value="50-65 lacs">50-65 lacs</option>
										<option value="65-80 lacs">65-80 lacs</option>
										<option value="80-1cr">80-1cr</option>
										<option value="1-1.5 cr">1-1.5 cr</option>
										<option value="1.5 cr +">1.5 cr +</option>
										</select>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-lg-12 col-md-6 col-sm-6">
									<div class="form-group">
										<label>Add Possession Type</label>
										<select required id="postypes" class="form-control mainform" name="postypes" style="height:40px !important">
										<option value=""></option>
										<option value="Ready To Move">Ready To Move</option>
										<option value="Ongoing">Ongoing</option>
										</select>
									</div>
									</div>

									<div class="col-lg-6 col-md-6 col-sm-6">
									<div class="form-group">
										<label>Name</label>
										<input required type="text" class="form-control mainform" placeholder="Enter Name" name="name">
									</div>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6">
									<div class="form-group">
										<label>Phone No</label>
										<input required type="text" class="form-control mainform" placeholder="Enter Number" name="pno">
									</div>
									</div>
								</div>

								<div class="row">
									<div class="col-lg-12 col-md-12 col-sm-12">
										<div class="form-group">
											<label>Email</label>
											<input required type="text" class="form-control mainform" placeholder="Email" name="email">
										</div>
									</div>
								</div>
							</div>
							<div class="hero-search-action">
								<input required type="submit" class="btn search-btn submit" value="Submit" name="submit">
							</div>
						</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--Ends Here-->

			<!--Commercial-->
			<div class="modal fade" id="Commercial" tabindex="-1" role="dialog" aria-labelledby="registermodal" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered login-pop-form" role="document">
					<div class="modal-content" id="commercialInquiry">
						<span class="mod-close" data-bs-dismiss="modal" aria-hidden="true"><i class="ti-close"></i></span>
						<div class="modal-body">
							<h4 class="modal-header-title" style="font-size:25px;">Commercial Inquiry</h4>
							<div class="login-form">
								<form method="post" action="{% url 'CommercialInquiry' %}" >
							<div class="hero-search-content side-form" >
								{% csrf_token %}
								<div class="row">
									<div class="col-lg-12 col-md-12 col-sm-12">
										<div class="form-group ">
										<label>Select Locality dropdown</label>
										<select required id="cities" class="form-control" name="cities" style="height:40px !important">
												<option value="">Select an area</option>
												<option value="Ajod">Ajod</option>
												<option value="Ajwa Road">Ajwa Road</option>
												<option value="Akota">Akota</option>
												<option value="Alkapuri">Alkapuri</option>
												<option value="Amaliyara">Amaliyara</option>
												<option value="Amodar">Amodar</option>
												<option value="Ampad">Ampad</option>
												<option value="Angadh">Angadh</option>
												<option value="Ankhol">Ankhol</option>
												<option value="Ankodia">Ankodia</option>
												<option value="Asoj">Asoj</option>
												<option value="Atladara">Atladara</option>
												<option value="Bajwa">Bajwa</option>
												<option value="Bakrol">Bakrol</option>
												<option value="Baranpura">Baranpura</option>
												<option value="Bhaily">Bhaily</option>
												<option value="Bill">Bill</option>
												<option value="Chapad">Chapad</option>
												<option value="Chemical Industries">Chemical Industries</option>
												<option value="Chhani Rd">Chhani Rd</option>
												<option value="Danteshwar">Danteshwar</option>
												<option value="Dashrath">Dashrath</option>
												<option value="Dhaniavi">Dhaniavi</option>
												<option value="Dhanora">Dhanora</option>
												<option value="Dodka">Dodka</option>
												<option value="Dumad">Dumad</option>
												<option value="Eme">Eme</option>
												<option value="Fartilizer Nagar">Fartilizer Nagar</option>
												<option value="Fateganj">Fateganj</option>
												<option value="Fatepura (vadodara)">Fatepura (vadodara)</option>
												<option value="Fazalpur">Fazalpur</option>
												<option value="Geb">Geb</option>
												<option value="Gorwa">Gorwa</option>
												<option value="Gosindra">Gosindra</option>
												<option value="Gotri">Gotri</option>
												<option value="Harni Colony">Harni Colony</option>
												<option value="Industrial Estate (vadodara)">Industrial Estate (vadodara)</option>
												<option value="Itola">Itola</option>
												<option value="Itola R.s.">Itola R.s.</option>
												<option value="Jambua">Jambua</option>
												<option value="Jawahar Nagar (vadodara)">Jawahar Nagar (vadodara)</option>
												<option value="Kalali">Kalali</option>
												<option value="Kapurai">Kapurai</option>
												<option value="Karchiya">Karchiya</option>
												<option value="Karelibaug">Karelibaug</option>
												<option value="Karodia">Karodia</option>
												<option value="Kelanpur">Kelanpur</option>
												<option value="Khanderao Market">Khanderao Market</option>
												<option value="Kotna">Kotna</option>
												<option value="Koyali">Koyali</option>
												<option value="Kumetha">Kumetha</option>
												<option value="M.i. Estate">M.i. Estate</option>
												<option value="Madanzampa">Madanzampa</option>
												<option value="Makarpura">Makarpura</option>
												<option value="Mandvi (vadodara)">Mandvi (vadodara)</option>
												<option value="Maneja">Maneja</option>
												<option value="Manjalpur">Manjalpur</option>
												<option value="Nandesari">Nandesari</option>
												<option value="Nandesari Ind. Estate">Nandesari Ind. Estate</option>
												<option value="Nimetha">Nimetha</option>
												<option value="Ongc Col">Ongc Col</option>
												<option value="Padmala">Padmala</option>
												<option value="Panchvati">Panchvati</option>
												<option value="Patarveni">Patarveni</option>
												<option value="Petrochemical T Ship">Petrochemical T Ship</option>
												<option value="Petrochemical">Petrochemical</option>
												<option value="Por">Por</option>
												<option value="Pratapganj (vadodara)">Pratapganj (vadodara)</option>
												<option value="Pratapnagar R.s.">Pratapnagar R.s.</option>
												<option value="Pratapnagar (vadodara)">Pratapnagar (vadodara)</option>
												<option value="Racecourse">Racecourse</option>
												<option value="Raika">Raika</option>
												<option value="Raipura">Raipura</option>
												<option value="Ramnath">Ramnath</option>
												<option value="Ranoli (vadodara)">Ranoli (vadodara)</option>
												<option value="Ruvand">Ruvand</option>
												<option value="Samiyala">Samiyala</option>
												<option value="Samsabad">Samsabad</option>
												<option value="Sankarda">Sankarda</option>
												<option value="Santkawnar Colony">Santkawnar Colony</option>
												<option value="Sarar">Sarar</option>
												<option value="Sardar Nagar Society">Sardar Nagar Society</option>
												<option value="Sayajiganj">Sayajiganj</option>
												<option value="Sayajipura">Sayajipura</option>
												<option value="Sevasi">Sevasi</option>
												<option value="Shahpura">Shahpura</option>
												<option value="Sharadnagar">Sharadnagar</option>
												<option value="Sherkhi">Sherkhi</option>
												<option value="Sindhrot">Sindhrot</option>
												<option value="Sisva">Sisva</option>
												<option value="Sokhda">Sokhda</option>
												<option value="Soma Talav">Soma Talav</option>
												<option value="Srp Group I">Srp Group I</option>
												<option value="Subhanpura">Subhanpura</option>
												<option value="Sundarpura">Sundarpura</option>
												<option value="T B Sanatorium">T B Sanatorium</option>
												<option value="Tandalja">Tandalja</option>
												<option value="Tarsali">Tarsali</option>
												<option value="Tatarpura">Tatarpura</option>
												<option value="Undera">Undera</option>
												<option value="Vadodara">Vadodara</option>
												<option value="Vadsala">Vadsala</option>
												<option value="Vadsar">Vadsar</option>
												<option value="Varnama">Varnama</option>
												<option value="Vasna Kotaria">Vasna Kotaria</option>
												<option value="Vasna Road">Vasna Road</option>
												<option value="Vidhyut Nagar Colony">Vidhyut Nagar Colony</option>
												<option value="Virod">Virod</option>
												<option value="Wadi S.n. Road">Wadi S.n. Road</option>
												<option value="Waghodia Road">Waghodia Road</option><option value="Other">Other</option>
											</select>

										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12 col-md-12 col-sm-12">
										<div class="form-group ">
										<label>Select Your Budget </label>
										<select required id="Budget" class="form-control" name="budget" style="height:32px !important">
										<option value=""></option>
										<option value="20 - 35 lacs">20 - 35 lacs</option>
										<option value="35-50 lacs">35-50 lacs</option>
										<option value="50-65 lacs">50-65 lacs</option>
										<option value="65-80 lacs">65-80 lacs</option>
										<option value="80-1cr">80-1cr</option>
										<option value="1-1.5 cr">1-1.5 cr</option>
										<option value="1.5 cr +">1.5 cr +</option>
										</select>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-lg-12 col-md-6 col-sm-6">
									<div class="form-group">
										<label>Enter Carpet Area (Sq ft)</label>
										<input required type="text" class="form-control mainform" placeholder="Carpet Area" name="carpet_area">
									</div>
									</div>

									<div class="col-lg-12 col-md-6 col-sm-6">
									<div class="form-group">
										<label>Property Type</label>
										<select required id="postypes" class="form-control mainform" name="postypes">
										<option value=""></option>
										<option value="Shops">Shops</option>
										<option value="Offices">Offices</option>
										</select>
									</div>
									</div>

									<div class="col-lg-6 col-md-6 col-sm-6">
									<div class="form-group">
										<label>Name</label>
										<input required type="text" class="form-control mainform" placeholder="Enter Name" name="name">
									</div>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6">
									<div class="form-group">
										<label>Phone No</label>
										<input required type="text" class="form-control mainform" placeholder="Enter Number" name="pno">
									</div>
									</div>
								</div>

								<div class="row">
									<div class="col-lg-12 col-md-12 col-sm-12">
										<div class="form-group">
											<label>Email</label>
											<input required type="text" class="form-control mainform" placeholder="Email" name="email">
										</div>
									</div>
								</div>
							</div>
							<div class="hero-search-action">
								<input required type="submit" class="btn search-btn submit" value="Submit" name="submit">
							</div>
						</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--Ends Here-->

			<!--Plots-->
			<div class="modal fade" id="Plots" tabindex="-1" role="dialog" aria-labelledby="registermodal" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered login-pop-form" role="document">
					<div class="modal-content" id="plotsInquiry">
						<span class="mod-close" data-bs-dismiss="modal" aria-hidden="true"><i class="ti-close"></i></span>
						<div class="modal-body">
							<h4 class="modal-header-title" style="font-size:25px;">Plots Inquiry</h4>
							<div class="login-form">
								<form method="post" action="{% url 'PlotsInquiry' %}" >
							<div class="hero-search-content side-form" >
								{% csrf_token %}
								<div class="row">
									<div class="col-lg-12 col-md-12 col-sm-12">
										<div class="form-group ">
										<label>Select Locality dropdown</label>
										<select required id="cities" class="form-control" name="cities" style="height:40px !important">
												<option value="">Select an area</option>
												<option value="Ajod">Ajod</option>
												<option value="Ajwa Road">Ajwa Road</option>
												<option value="Akota">Akota</option>
												<option value="Alkapuri">Alkapuri</option>
												<option value="Amaliyara">Amaliyara</option>
												<option value="Amodar">Amodar</option>
												<option value="Ampad">Ampad</option>
												<option value="Angadh">Angadh</option>
												<option value="Ankhol">Ankhol</option>
												<option value="Ankodia">Ankodia</option>
												<option value="Asoj">Asoj</option>
												<option value="Atladara">Atladara</option>
												<option value="Bajwa">Bajwa</option>
												<option value="Bakrol">Bakrol</option>
												<option value="Baranpura">Baranpura</option>
												<option value="Bhaily">Bhaily</option>
												<option value="Bill">Bill</option>
												<option value="Chapad">Chapad</option>
												<option value="Chemical Industries">Chemical Industries</option>
												<option value="Chhani Rd">Chhani Rd</option>
												<option value="Danteshwar">Danteshwar</option>
												<option value="Dashrath">Dashrath</option>
												<option value="Dhaniavi">Dhaniavi</option>
												<option value="Dhanora">Dhanora</option>
												<option value="Dodka">Dodka</option>
												<option value="Dumad">Dumad</option>
												<option value="Eme">Eme</option>
												<option value="Fartilizer Nagar">Fartilizer Nagar</option>
												<option value="Fateganj">Fateganj</option>
												<option value="Fatepura (vadodara)">Fatepura (vadodara)</option>
												<option value="Fazalpur">Fazalpur</option>
												<option value="Geb">Geb</option>
												<option value="Gorwa">Gorwa</option>
												<option value="Gosindra">Gosindra</option>
												<option value="Gotri">Gotri</option>
												<option value="Harni Colony">Harni Colony</option>
												<option value="Industrial Estate (vadodara)">Industrial Estate (vadodara)</option>
												<option value="Itola">Itola</option>
												<option value="Itola R.s.">Itola R.s.</option>
												<option value="Jambua">Jambua</option>
												<option value="Jawahar Nagar (vadodara)">Jawahar Nagar (vadodara)</option>
												<option value="Kalali">Kalali</option>
												<option value="Kapurai">Kapurai</option>
												<option value="Karchiya">Karchiya</option>
												<option value="Karelibaug">Karelibaug</option>
												<option value="Karodia">Karodia</option>
												<option value="Kelanpur">Kelanpur</option>
												<option value="Khanderao Market">Khanderao Market</option>
												<option value="Kotna">Kotna</option>
												<option value="Koyali">Koyali</option>
												<option value="Kumetha">Kumetha</option>
												<option value="M.i. Estate">M.i. Estate</option>
												<option value="Madanzampa">Madanzampa</option>
												<option value="Makarpura">Makarpura</option>
												<option value="Mandvi (vadodara)">Mandvi (vadodara)</option>
												<option value="Maneja">Maneja</option>
												<option value="Manjalpur">Manjalpur</option>
												<option value="Nandesari">Nandesari</option>
												<option value="Nandesari Ind. Estate">Nandesari Ind. Estate</option>
												<option value="Nimetha">Nimetha</option>
												<option value="Ongc Col">Ongc Col</option>
												<option value="Padmala">Padmala</option>
												<option value="Panchvati">Panchvati</option>
												<option value="Patarveni">Patarveni</option>
												<option value="Petrochemical T Ship">Petrochemical T Ship</option>
												<option value="Petrochemical">Petrochemical</option>
												<option value="Por">Por</option>
												<option value="Pratapganj (vadodara)">Pratapganj (vadodara)</option>
												<option value="Pratapnagar R.s.">Pratapnagar R.s.</option>
												<option value="Pratapnagar (vadodara)">Pratapnagar (vadodara)</option>
												<option value="Racecourse">Racecourse</option>
												<option value="Raika">Raika</option>
												<option value="Raipura">Raipura</option>
												<option value="Ramnath">Ramnath</option>
												<option value="Ranoli (vadodara)">Ranoli (vadodara)</option>
												<option value="Ruvand">Ruvand</option>
												<option value="Samiyala">Samiyala</option>
												<option value="Samsabad">Samsabad</option>
												<option value="Sankarda">Sankarda</option>
												<option value="Santkawnar Colony">Santkawnar Colony</option>
												<option value="Sarar">Sarar</option>
												<option value="Sardar Nagar Society">Sardar Nagar Society</option>
												<option value="Sayajiganj">Sayajiganj</option>
												<option value="Sayajipura">Sayajipura</option>
												<option value="Sevasi">Sevasi</option>
												<option value="Shahpura">Shahpura</option>
												<option value="Sharadnagar">Sharadnagar</option>
												<option value="Sherkhi">Sherkhi</option>
												<option value="Sindhrot">Sindhrot</option>
												<option value="Sisva">Sisva</option>
												<option value="Sokhda">Sokhda</option>
												<option value="Soma Talav">Soma Talav</option>
												<option value="Srp Group I">Srp Group I</option>
												<option value="Subhanpura">Subhanpura</option>
												<option value="Sundarpura">Sundarpura</option>
												<option value="T B Sanatorium">T B Sanatorium</option>
												<option value="Tandalja">Tandalja</option>
												<option value="Tarsali">Tarsali</option>
												<option value="Tatarpura">Tatarpura</option>
												<option value="Undera">Undera</option>
												<option value="Vadodara">Vadodara</option>
												<option value="Vadsala">Vadsala</option>
												<option value="Vadsar">Vadsar</option>
												<option value="Varnama">Varnama</option>
												<option value="Vasna Kotaria">Vasna Kotaria</option>
												<option value="Vasna Road">Vasna Road</option>
												<option value="Vidhyut Nagar Colony">Vidhyut Nagar Colony</option>
												<option value="Virod">Virod</option>
												<option value="Wadi S.n. Road">Wadi S.n. Road</option>
												<option value="Waghodia Road">Waghodia Road</option><option value="Other">Other</option>
											</select>

										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12 col-md-12 col-sm-12">
										<div class="form-group ">
										<label>Select Your Budget </label>
										<select required id="Budget" class="form-control" name="budget" style="height:40px !important">
										<option value=""></option>
										<option value="20 - 35 lacs">20 - 35 lacs</option>
										<option value="35-50 lacs">35-50 lacs</option>
										<option value="50-65 lacs">50-65 lacs</option>
										<option value="65-80 lacs">65-80 lacs</option>
										<option value="80-1cr">80-1cr</option>
										<option value="1-1.5 cr">1-1.5 cr</option>
										<option value="1.5 cr +">1.5 cr +</option>
										</select>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-lg-6 col-md-6 col-sm-6">
										<div class="form-group">
											<label>Area (In Sqft)</label>
											<input required type="text" class="form-control mainform" placeholder="Enter Area" name="sqft">
										</div>
										</div>


									<div class="col-lg-6 col-md-6 col-sm-6">
									<div class="form-group">
										<label>Name</label>
										<input required type="text" class="form-control mainform" placeholder="Enter Name" name="name">
									</div>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6">
									<div class="form-group">
										<label>Phone No</label>
										<input required type="text" class="form-control mainform" placeholder="Enter Number" name="pno">
									</div>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-12">
										<div class="form-group">
											<label>Email</label>
											<input required type="text" class="form-control mainform" placeholder="Email" name="email">
										</div>
									</div>
								</div>

							</div>
							<div class="hero-search-action">
								<input required type="submit" class="btn search-btn submit" value="Submit" name="submit">
							</div>
						</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--Ends Here-->

			<!--Home Loan Modal -->
			<div class="modal fade" id="homeloan" tabindex="-1" role="dialog" aria-labelledby="registermodal" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered login-pop-form" role="document">
					<div class="modal-content" id="homeLoanInquiry">
						<span class="mod-close" data-bs-dismiss="modal" aria-hidden="true"><i class="ti-close"></i></span>
						<div class="modal-body">
							<h4 class="modal-header-title" style="font-size:25px;">Home Loan Inquiry</h4>
							<div class="login-form">
								<form method="post" action="{% url 'homeLoanInquiry' %}">
									{% csrf_token %}
									<div class="form-group">
										<label>Name</label>
										<div class="input-with-icon">
											<input required type="text" class="form-control" name="name" placeholder="Enter Name">
											<i class="ti-user"></i>
										</div>
									</div>

									<div class="form-group">
										<label>Phone No</label>
										<div class="input-with-icon">
											<input required type="number" class="form-control" name="phone" placeholder="Enter number">
											<i class="ti-mobile"></i>
										</div>
									</div>

									<div class="form-group">
										<label>Email</label>
										<div class="input-with-icon">
											<input required type="email" class="form-control" name="email" placeholder="Enter Email">
											<i class="ti-email"></i>
										</div>
									</div>

									<div class="form-group">
										<label>Loan Amount</label>
										<div class="input-with-icon">
											<input required type="number" class="form-control" name="loan_amount" placeholder="Enter Loan Amount">
											<i class="ti-amount"></i>
										</div>
									</div>

									<div class="form-group">
										<button type="submit" class="btn btn-md full-width btn-theme-light-2 rounded">Submit</button>
									</div>

								</form>
							</div>
					</div>
				</div>
			</div>
			</div>
			<!--Ends Here-->


			<!--Legal Document Modal-->
			<div class="modal fade" id="legaldocument" tabindex="-1" role="dialog" aria-labelledby="registermodal" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered login-pop-form" role="document">
					<div class="modal-content" id="legalDocInquiry">
						<span class="mod-close" data-bs-dismiss="modal" aria-hidden="true"><i class="ti-close"></i></span>
						<div class="modal-body">
							<h4 class="modal-header-title" style="font-size:25px;">Legal Document Inquiry</h4>
							<div class="login-form">
								<form method="post" action="{% url 'legalDocInquiry' %}">
									{% csrf_token %}
									<div class="form-group">
										<label>Name</label>
										<div class="input-with-icon">
											<input required type="text" class="form-control" name="name" placeholder="Enter Name">
											<i class="ti-user"></i>
										</div>
									</div>

									<div class="form-group">
										<label>Phone No</label>
										<div class="input-with-icon">
											<input required type="number" class="form-control" name="phone" placeholder="Enter number">
											<i class="ti-mobile"></i>
										</div>
									</div>

									<div class="form-group">
										<label>Email</label>
										<div class="input-with-icon">
											<input required type="email" class="form-control" name="email" placeholder="Enter Email">
											<i class="ti-email"></i>
										</div>
									</div>

									

									<div class="form-group">
										<button type="submit" class="btn btn-md full-width btn-theme-light-2 rounded">Submit</button>
									</div>

								</form>
							</div>
					</div>
				</div>
			</div>
			</div>
			<!--Ends Here-->

			<a id="back2Top" class="top-scroll" title="Back to top" href="#"><i class="ti-arrow-up"></i></a>


		</div>
		<div class="modal fade" id="successpopup" tabindex="-1" role="dialog" aria-labelledby="registermodal" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered login-pop-form" role="document">
				<div class="modal-content" id="BuilderContact">
					<span class="mod-close" data-bs-dismiss="modal" aria-hidden="true"><i class="ti-close"></i></span>
					<div class="modal-body">
						<h4 class="modal-header-title" style="font-size:25px;">Thanks. Our Realezi counsellor will get in touch with you.</h4>
						
				</div>
			</div>
		</div>
		</div>
		{% if request.session.popup_shown or request.session.leg_popup_shown or request.session.hom_popup_shown or request.session.bui_popup_shown or request.session.res_popup_shown or request.session.com_popup_shown or request.session.plo_popup_shown%}
		<script>
			// JavaScript to show the popup
			// You can customize this script to fit your needs
			window.onload = function() {
				$(window).on('load', function() {
					$('#successpopup').modal('show');
				});
			};
		</script>
		{% endif %}
		<!-- ============================================================== -->
		<!-- End Wrapper -->
		<!-- ============================================================== -->
		<!-- ============================================================== -->
		<!-- All Jquery -->
		<!-- ============================================================== -->
		<script src="{% static 'front-end/js/jquery.min.js' %}"></script>
		<script src="{% static 'front-end/js/popper.min.js' %}"></script>
		<script src="{% static 'front-end/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'front-end/js/rangeslider.js' %}"></script>
		<script src="{% static 'front-end/js/select2.min.js' %}"></script>
		<script src="{% static 'front-end/js/jquery.magnific-popup.min.js' %}"></script>
		<script src="{% static 'front-end/js/slick.js' %}"></script>
		<script src="{% static 'front-end/js/slider-bg.js' %}"></script>
		<script src="{% static 'front-end/js/lightbox.js' %}"></script>
		<script src="{% static 'front-end/js/imagesloaded.js' %}"></script>

		<script src="{% static 'front-end/js/custom.js' %}"></script>

	</body>
</html>