<!DOCTYPE html>
<html lang="zxx">
{% load static %}
	<head>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <title>Realezi.com - Buy Best Property Deals in Vadodara, Gujarat</title>
		<meta name="description" content="Discover your dream home with Realezi.com! Browse a wide range of real estate listings, from cozy apartments to luxurious estates. Our user-friendly platform makes finding the perfect property a breeze. Start your real estate journey today!">

        <!-- Custom CSS -->
        <link href="{% static 'front-end/css/styles.css' %}" rel="stylesheet">

		<!-- Custom Color Option -->
		<link href="{% static 'front-end/css/colors.css' %}" rel="stylesheet">
    </head>

    <body class="blue-skin">

		 <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
       <div id="preloader">
		   <div class="preloader">
			   <span></span><span></span></div></div>

        <!-- ============================================================== -->
        <!-- Main wrapper - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <div id="main-wrapper">
            <!-- ============================================================== -->
			<div class="header header-light head-shadow">
				<div class="">
					<nav id="navigation" class="navigation navigation-landscape">
						<div class="nav-header">
							<a class="nav-brand" href="{% url 'index' %}">
								<img src="{% static 'front-end/img/realezilogos.png' %}" class="logo" alt="" style="max-width:141px;height:38px !important;width:141px !important;"/>
							</a>
							<div class="nav-toggle"></div>
						</div>
						<div class="nav-menus-wrapper" style="transition-property: none;margin-left:40px;">
							<ul class="nav-menu">
								<li class="{% if request.path == '/' %}active{% endif %}">
									<a href="/" style="font-size: 18px;">Home<span class="submenu-indicator"></span></a>
								</li>
								<li class="{% if request.path == '/buy/' %}active{% endif %}">
									<a href="" style="font-size: 18px;">Buy<span class="submenu-indicator" style="margin-top:0px"></span></a>
									<!-- Add submenu items here -->
								</li>
								<li class="{% if request.path == '/services/' %}active{% endif %}">
									<a href="" style="font-size: 18px;">Services<span class="submenu-indicator"></span></a>
									<!-- Add submenu items here -->
								</li>
								<li class="{% if request.path == '/about-us/' %}active{% endif %}">
									<a href="/about-us/" style="font-size: 18px;">About Us</a>
								</li>
								<li class="{% if request.path == '/contact/' %}active{% endif %}">
									<a href="/contact/" style="font-size: 18px;">Contact Us</a>
								</li>
								<li style="margin-left:100px;"><a href="/login"  style="margin-top:-12px;"><button type="button" class="btn btn-primary btn-md">Post your property for free.</button></a></li>
								<!-- <li><a href="JavaScript:Void(0);">Buy<span class="submenu-indicator"></span></a>
									<ul class="nav-dropdown nav-submenu">
										<li>
											<a data-bs-toggle="modal" data-bs-target="#Residential"  style="font-size: 13px;">Residential</a>
										</li>
										<li>
											<a data-bs-toggle="modal" data-bs-target="#Commercial"  style="font-size: 13px;">Commercial</a>
										</li>
										
										<li>
											<a data-bs-toggle="modal" data-bs-target="#Plots"  style="font-size: 13px;">Plots</a>
										</li>
									</ul>
								</li> -->

							</ul>
						</div>
					</nav>
				</div>
			</div>
            <!-- ============================================================== -->
			<div class="clearfix"></div>
        </div>
    </body>
</html>