<!DOCTYPE html>
<html lang="zxx">
	{% load static %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
<head>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		
        <title>Realezi</title>	
		
        <!-- Custom CSS -->

        <link href="{% static 'front-end/css/styles.css' %}" rel="stylesheet">

		<!-- Custom Color Option -->
		<link href="{% static 'front-end/css/colors.css' %}" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
	<style>
        .input-with-icon i{
				top:32% !important;
			}
    </style>
    <body class="blue-skin">
	
		 <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <!-- <div id="preloader"><div class="preloader"><span></span><span></span></div></div> -->
		
        <!-- ============================================================== -->
        <!-- Main wrapper - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <div id="main-wrapper">
		
            <!-- ============================================================== -->
            <!-- Top header  -->
            <!-- ============================================================== -->
            <!-- Start Navigation -->
			<div class="header header-transparent change-logo" style="background-color: #80808047;">
				<div class="container">
					<nav id="navigation" class="navigation navigation-landscape">
						<div class="nav-header" style="margin-top:15px;">
							<a class="nav-brand static-logo" href="#"><img src="{% static 'front-end/img/realezilogos.png' %}" class="logo" alt="" style="max-width:141px;height:38px !important;width:141px !important;"/></a>
							<a class="nav-brand fixed-logo" href="#"><img src="{% static 'front-end/img/realezilogos.png' %}" class="logo" alt="" style="margin-top:0px;max-width:141px;height:38px !important;width:141px !important;"/></a>
							<div class="nav-toggle"></div>
						</div>
						<div class="nav-menus-wrapper" style="transition-property: none;">
							<ul class="nav-menu" style="margin-top:15px;margin-left:100px !important;">
								
									<li class="{% if request.path == '/' %}active{% endif %}">
										<a href="/" style="font-size: 18px;">Home<span class="submenu-indicator"></span></a>
									</li>
									<li class="{% if request.path == '/buy/' %}active{% endif %}">
										<a href="" style="font-size: 18px;">Buy<span class="submenu-indicator" style="margin-top:0px"></span></a>
										<!-- Add submenu items here -->
									</li>
									<li class="{% if request.path == '/services/' %}active{% endif %}">
										<a href="" style="font-size: 18px;">Services<span class="submenu-indicator"></span></a>
										<!-- Add submenu items here -->
									</li>
									<li class="{% if request.path == '/about-us/' %}active{% endif %}">
										<a href="/about-us/" style="font-size: 18px;">About Us</a>
									</li>
									<li class="{% if request.path == '/contact/' %}active{% endif %}">
										<a href="/contact/" style="font-size: 18px;">Contact Us</a>
									</li>
								
								
								<li style="margin-left:100px;"><a href="/signup"  style="margin-top:-12px;"><button type="button" class="btn btn-primary">Post your property for free.</button></a></li>
							</ul>
							
						</div>
					</nav>
				</div>
			</div>
			<!-- End Navigation -->
			<div class="clearfix"></div>
			<!-- ============================================================== -->
			<!-- Top header  -->
			<!-- ============================================================== -->
			<!--background:url('{% static 'front-end/realeziii.jpeg' %}-->
			
			<!-- ============================ Hero Banner  Start================================== -->
			<div class="hero-banner" style="width: 100%;
			height: 100vh; /* Set the height to the viewport height */
			background-image: url('{% static 'realezi-homepage.jpg' %}');
			background-size: cover; /* This ensures the image covers the entire element */
			background-repeat: no-repeat;
			background-position: center; /* Center the image horizontally and vertically */
			position: relative;" data-overlay="1">
				
				<div class="container">
					<div class="row justify-content-center" style="padding:30px;">
						<div class="col-md-10 ml-auto col-xl-6 mr-auto">
							<!-- Nav tabs -->
							
						  </div>
						  <style>
							.card a {
    -webkit-transition: all 150ms ease 0s;
    -moz-transition: all 150ms ease 0s;
    -o-transition: all 150ms ease 0s;
    -ms-transition: all 150ms ease 0s;
    transition: all 150ms ease 0s;
}

[data-toggle="collapse"][data-parent="#accordion"] i {
    -webkit-transition: transform 150ms ease 0s;
    -moz-transition: transform 150ms ease 0s;
    -o-transition: transform 150ms ease 0s;
    -ms-transition: all 150ms ease 0s;
    transition: transform 150ms ease 0s;
}

[data-toggle="collapse"][data-parent="#accordion"][aria-expanded="true"] i {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}


.now-ui-icons {
    display: inline-block;
    font: normal normal normal 14px/1 'Nucleo Outline';
    font-size: inherit;
    speak: none;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@-webkit-keyframes nc-icon-spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes nc-icon-spin {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
    }
}

@keyframes nc-icon-spin {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.now-ui-icons.objects_umbrella-13:before {
    content: "\ea5f";
}

.now-ui-icons.shopping_cart-simple:before {
    content: "\ea1d";
}

.now-ui-icons.shopping_shop:before {
    content: "\ea50";
}

.now-ui-icons.ui-2_settings-90:before {
    content: "\ea4b";
}

.nav-tabs {
    border: 0;
    padding: 15px 0.7rem;
}

.nav-tabs:not(.nav-tabs-neutral)>.nav-item>.nav-link.active {
    box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.3);
}

.card .nav-tabs {
    border-top-right-radius: 0.1875rem;
    border-top-left-radius: 0.1875rem;
}

.nav-tabs>.nav-item>.nav-link {
    color:#1a1818;
    margin: 0;
    margin-right: 5px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 30px;
    font-size: 14px;
    padding: 11px 23px;
    line-height: 1.5;
}

.nav-tabs>.nav-item>.nav-link:hover {
    background-color: transparent;
}

ul.nav-tabs>.nav-item>.nav-link.active {
    background-color: rgb(68, 68, 68) !important;
    border-radius: 30px;
    color: #FFFFFF !important;
    border: 1px solid black !important;
}

.nav-tabs>.nav-item>.nav-link i.now-ui-icons {
    font-size: 14px;
    position: relative;
    top: 1px;
    margin-right: 3px;
}

.nav-tabs.nav-tabs-neutral>.nav-item>.nav-link {
    color: #FFFFFF;
}

.nav-tabs.nav-tabs-neutral>.nav-item>.nav-link.active {
    background-color: rgba(255, 255, 255, 0.2);
    color: #FFFFFF;
}

.card {
    border: 0;
    border-radius: 0.1875rem;
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
}

.card .card-header {
    background-color: transparent;
    border-bottom: 0;
    background-color: transparent;
    border-radius: 0;
    padding: 0;
}

.card[data-background-color="orange"] {
    background-color: #f96332;
}

.card[data-background-color="red"] {
    background-color: #FF3636;
}

.card[data-background-color="yellow"] {
    background-color: #FFB236;
}

.card[data-background-color="blue"] {
    background-color: #2CA8FF;
}

.card[data-background-color="green"] {
    background-color: #15b60d;
}

[data-background-color="orange"] {
    background-color: #e95e38;
}

[data-background-color="black"] {
    background-color: #2c2c2c;
}

[data-background-color]:not([data-background-color="gray"]) {
    color: #FFFFFF;
}

[data-background-color]:not([data-background-color="gray"]) p {
    color: #FFFFFF;
}

[data-background-color]:not([data-background-color="gray"]) a:not(.btn):not(.dropdown-item) {
    color: #FFFFFF;
}

[data-background-color]:not([data-background-color="gray"]) .nav-tabs>.nav-item>.nav-link i.now-ui-icons {
    color: #FFFFFF;
}


@font-face {
  font-family: 'Nucleo Outline';
  src: url("https://github.com/creativetimofficial/now-ui-kit/blob/master/assets/fonts/nucleo-outline.eot");
  src: url("https://github.com/creativetimofficial/now-ui-kit/blob/master/assets/fonts/nucleo-outline.eot") format("embedded-opentype");
  src: url("https://raw.githack.com/creativetimofficial/now-ui-kit/master/assets/fonts/nucleo-outline.woff2");
  font-weight: normal;
  font-style: normal;
        
}

.now-ui-icons {
  display: inline-block;
  font: normal normal normal 14px/1 'Nucleo Outline';
  font-size: inherit;
  speak: none;
  text-transform: none;
  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


footer{
    margin-top:50px;
    color: #555;
    background: #fff;
    padding: 25px;
    font-weight: 300;
    background: #f7f7f7;
    
}
.footer p{
    margin-bottom: 0;
}
footer p a{
    color: #555;
    font-weight: 400;
}

footer p a:hover{
    color: #e86c42;
}

@media screen and (max-width: 768px) {

    .nav-tabs {
        display: inline-block;
        width: 100%;
        padding-left: 100px;
        padding-right: 100px;
        text-align: center;
    }

    .nav-tabs .nav-item>.nav-link {
        margin-bottom: 5px;
    }
}










						  </style>
						  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
						  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
						  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
						<div class="col-lg-12 col-md-11 col-sm-12">
							<div class="inner-banner-text text-center">
								<!-- <p class="lead-i" style="font-size:33px !important;"><span class="badge">Properties for buy / rent in in your location. We have more than 3000+ listings for you to choose</span></p> -->

								<h2><div id="" style="color:white !important;font-size:70px;
									font-family:serif;">Search Made Simple</div></h2>
							</div>
							<div class="card" style="border-radius:50px;">
								<div class="card-header">
								  <ul class="nav nav-tabs justify-content-center" role="tablist">
									<li class="nav-item">
									  <a class="nav-link active" data-toggle="tab" href="#home" role="tab">
										<i class="now-ui-icons objects_umbrella-13"></i> Buy Properties
									  </a>
									</li>
									<li class="nav-item">
									  <a class="nav-link" data-toggle="tab" href="#profile" role="tab" style="color:black;">
										<i class="now-ui-icons shopping_cart-simple"></i> New Projects
									  </a>
									</li>
									<li class="nav-item">
									  <a class="nav-link" data-toggle="tab" href="#messages" role="tab" style="color:black;">
										<i class="now-ui-icons shopping_shop"></i> Rent Properties
									  </a>
									</li>
									
								  </ul>
								</div>
								<div class="card-body">
								  <!-- Tab panes -->
								  <div class="tab-content text-center">
									<div class="tab-pane active" id="home" role="tabpanel" style="padding:0px;">
									  <p style="color:black;"><div class="full-search-2 eclip-search italian-search hero-search-radius shadow-hard mt-5">
										  <div class="hero-search-content">
											  <div class="row">
											  
												  <!-- <div class="col-lg-4 col-md-4 col-sm-12 b-r">
													  <div class="form-group">
														  <div class="choose-propert-type">
															  <ul>
																  <li>
																	  <input id="cp-1" class="checkbox-custom" name="cpt" type="radio" checked>
																	  <label for="cp-1" class="checkbox-custom-label">Residential</label>
																  </li>
																  <li>
																	  <input id="cp-2" class="checkbox-custom" name="cpt" type="radio">
																	  <label for="cp-2" class="checkbox-custom-label">Commercial</label>
																  </li>
																  
															  </ul>
														  </div>
													  </div>
												  </div> -->
												  
												  <div class="col-lg-5 col-md-4 col-sm-10">
													  <div class="form-group">
														  <div class="input-with-icon" style="padding:0px;margin-left:2%;margin-top:-10px;">
															  <input type="text" class="form-control" placeholder="Search for 1bhk, 2bhk, etc OR Locality" style="border-radius:20px;line-height:90px;border:1px solid black;height:50px !important;">
															 
															  <img src="{% static 'front-end/img/pin.svg' %}" width="20"></i>
														  </div>
													  </div>
												  </div>
												  <div class="col-lg-3 col-md-4 col-sm-12" style="color:1px solid black;margin-top:-8px;">
													<div class="">
													
													<select id="Budget" class="form-control" name="budget" style="margin-left:2%;border:1px solid black !important;padding:10px;margin-top:-40px;height:32px !important" required>
													<option value="Select Budget">Select Budget</option>
													<option value="20 - 35 lacs">20 - 35 lacs</option>
													<option value="35-50 lacs">35-50 lacs</option>
													<option value="50-65 lacs">50-65 lacs</option>
													<option value="65-80 lacs">65-80 lacs</option>
													<option value="80-1cr">80-1cr</option>
													<option value="1-1.5 cr">1-1.5 cr</option>
													<option value="1.5 cr +">1.5 cr +</option>
													</select>
													</div>
												</div>
												<div class="col-lg-2 col-md-4 col-sm-12" style="color:1px solid black;margin-top:-8px;">
													<div class="form-group ">
													
													<select id="" class="" name="budget" style="height:70px !important;line-height:42px;margin-left:2%;border:1px solid black !important;margin-top:0px;width:100%;height:45px !important;border-radius:20px;" required>
														<option value="">Property Type</option>
														<option value="Residential">Residential</option>
														<option value="Commercial">Commercial</option>
														<option value="Plots">Plots</option>
													</select>
													</div>
												</div>
												  
												  
												  <div class="col-lg-2 col-md-3 col-sm-12" style="margin-top:-9px;">
													  <div class="form-group">
														  <a href="propertylisting" class="btn search-btn btn-sm" style="height:46px !important;font-size:17px !important;border-radius:23px;">Search</a>
													  </div>
												  </div>
														  
											  </div>
											  <!-- Collapse Advance Search Form -->
											  <div class="collapse" id="advance-search" aria-expanded="false" role="banner">
									  
												  <!-- row -->
												  <div class="row">
												  
													  <div class="col-lg-4 col-md-4 col-sm-12">
														  <div class="form-group mb-2">
															  <div class="input-with-icon">
																  <select id="town" class="form-control">
																	  <option value="">&nbsp;</option>
																	  <option value="1">Any Town</option>
																	  <option value="2">Toronto</option>
																	  <option value="3">Montreal</option>
																	  <option value="4">Alberta</option>
																	  <option value="5">Ontario</option>
																	  <option value="6">Ottawa</option>
																  </select>
																  <i class="ti-location-pin"></i>
															  </div>
														  </div>
													  </div>
													  
													  <div class="col-lg-4 col-md-4 col-sm-12">
														  <div class="form-group mb-2">
															  <div class="input-with-icon">
																  <select id="bedrooms" class="form-control">
																	  <option value="">&nbsp;</option>
																	  <option value="1">1</option>
																	  <option value="2">2</option>
																	  <option value="3">3</option>
																	  <option value="4">4</option>
																	  <option value="5">5</option>
																  </select>
																  <i class="fas fa-bed"></i>
															  </div>
														  </div>
													  </div>
													  
													  <div class="col-lg-4 col-md-4 col-sm-12">
														  <div class="form-group mb-2">
															  <div class="input-with-icon">
																  <select id="bathrooms" class="form-control">
																	  <option value="">&nbsp;</option>
																	  <option value="1">1</option>
																	  <option value="2">2</option>
																	  <option value="3">3</option>
																	  <option value="4">4</option>
																	  <option value="5">5</option>
																  </select>
																  <i class="fas fa-bath"></i>
															  </div>
														  </div>
													  </div>
													  
												  </div>
												  <!-- /row -->
												  
												  <!-- row -->
												  <div class="row">
												  
													  <div class="col-lg-12 col-md-12 col-sm-12 mt-3">
														  <h4 class="text-dark">Amenities & Features</h4>
														  <ul class="no-ul-list third-row">
															  <li>
																  <input id="a-1" class="checkbox-custom" name="a-1" type="checkbox">
																  <label for="a-1" class="checkbox-custom-label">Air Condition</label>
															  </li>
															  <li>
																  <input id="a-2" class="checkbox-custom" name="a-2" type="checkbox">
																  <label for="a-2" class="checkbox-custom-label">Bedding</label>
															  </li>
															  <li>
																  <input id="a-3" class="checkbox-custom" name="a-3" type="checkbox">
																  <label for="a-3" class="checkbox-custom-label">Heating</label>
															  </li>
															  <li>
																  <input id="a-4" class="checkbox-custom" name="a-4" type="checkbox">
																  <label for="a-4" class="checkbox-custom-label">Internet</label>
															  </li>
															  <li>
																  <input id="a-5" class="checkbox-custom" name="a-5" type="checkbox">
																  <label for="a-5" class="checkbox-custom-label">Microwave</label>
															  </li>
															  <li>
																  <input id="a-6" class="checkbox-custom" name="a-6" type="checkbox">
																  <label for="a-6" class="checkbox-custom-label">Smoking Allow</label>
															  </li>
															  <li>
																  <input id="a-7" class="checkbox-custom" name="a-7" type="checkbox">
																  <label for="a-7" class="checkbox-custom-label">Terrace</label>
															  </li>
															  <li>
																  <input id="a-8" class="checkbox-custom" name="a-8" type="checkbox">
																  <label for="a-8" class="checkbox-custom-label">Balcony</label>
															  </li>
															  <li>
																  <input id="a-9" class="checkbox-custom" name="a-9" type="checkbox">
																  <label for="a-9" class="checkbox-custom-label">Icon</label>
															  </li>
															  <li>
																  <input id="a-10" class="checkbox-custom" name="a-10" type="checkbox">
																  <label for="a-10" class="checkbox-custom-label">Wi-Fi</label>
															  </li>
															  <li>
																  <input id="a-11" class="checkbox-custom" name="a-11" type="checkbox">
																  <label for="a-11" class="checkbox-custom-label">Beach</label>
															  </li>
															  <li>
																  <input id="a-12" class="checkbox-custom" name="a-12" type="checkbox">
																  <label for="a-12" class="checkbox-custom-label">Parking</label>
															  </li>
														  </ul>
													  </div>
													  
												  </div>
												  <!-- /row -->
												  
											  </div>
										  </div>
									  </div></p>
									</div>
									<div class="tab-pane" id="profile" role="tabpanel">
									
										<p style="color:black;"><div class="full-search-2 eclip-search italian-search hero-search-radius shadow-hard mt-5">
											<div class="hero-search-content">
												<div class="row">
												
													<div class="col-lg-5 col-md-4 col-sm-10">
														<div class="form-group">
															<div class="input-with-icon" style="padding:0px;margin-left:2%;margin-top:-10px;">
																<input type="text" class="form-control" placeholder="Search by Property ID or Locality" style="border-radius:20px;line-height:90px;border:1px solid black;height:50px !important;">
															   
																<img src="{% static 'front-end/img/pin.svg' %}" width="20"></i>
															</div>
														</div>
													</div>
													<div class="col-lg-3 col-md-4 col-sm-12" style="color:1px solid black;margin-top:8px;">
													  <div class="">
													  
													  <select id="Budget" class="form-control" name="budget" style="margin-left:2%;border:1px solid black !important;padding:7px;margin-top:-16px;height:41px !important;border-radius:20px;" required>
													  <option value="Select Budget">Select Budget</option>
													  <option value="20 - 35 lacs">20 - 35 lacs</option>
													  <option value="35-50 lacs">35-50 lacs</option>
													  <option value="50-65 lacs">50-65 lacs</option>
													  <option value="65-80 lacs">65-80 lacs</option>
													  <option value="80-1cr">80-1cr</option>
													  <option value="1-1.5 cr">1-1.5 cr</option>
													  <option value="1.5 cr +">1.5 cr +</option>
													  </select>
													  </div>
												  </div>
												  <div class="col-lg-2 col-md-4 col-sm-12" style="color:1px solid black;margin-top:-8px;">
													  <div class="form-group ">
													  
													  <select id="" class="" name="budget" style="height:70px !important;line-height:42px;margin-left:2%;border:1px solid black !important;margin-top:0px;width:100%;height:45px !important;border-radius:20px;" required>
														  <option value="">Property Type</option>
														  <option value="Residential">Residential</option>
														  <option value="Commercial">Commercial</option>
														  <option value="Plots">Plots</option>
													  </select>
													  </div>
												  </div>
													
													
													<div class="col-lg-2 col-md-3 col-sm-12" style="margin-top:-9px;">
														<div class="form-group">
															<a href="propertylisting" class="btn search-btn btn-sm" style="height:46px !important;font-size:17px !important;border-radius:23px;">Search</a>
														</div>
													</div>
															
												</div>
												<!-- Collapse Advance Search Form -->
												<div class="collapse" id="advance-search" aria-expanded="false" role="banner">
										
													<!-- row -->
													<div class="row">
													
														<div class="col-lg-4 col-md-4 col-sm-12">
															<div class="form-group mb-2">
																<div class="input-with-icon">
																	<select id="town" class="form-control">
																		<option value="">&nbsp;</option>
																		<option value="1">Any Town</option>
																		<option value="2">Toronto</option>
																		<option value="3">Montreal</option>
																		<option value="4">Alberta</option>
																		<option value="5">Ontario</option>
																		<option value="6">Ottawa</option>
																	</select>
																	<i class="ti-location-pin"></i>
																</div>
															</div>
														</div>
														
														<div class="col-lg-4 col-md-4 col-sm-12">
															<div class="form-group mb-2">
																<div class="input-with-icon">
																	<select id="bedrooms" class="form-control">
																		<option value="">&nbsp;</option>
																		<option value="1">1</option>
																		<option value="2">2</option>
																		<option value="3">3</option>
																		<option value="4">4</option>
																		<option value="5">5</option>
																	</select>
																	<i class="fas fa-bed"></i>
																</div>
															</div>
														</div>
														
														<div class="col-lg-4 col-md-4 col-sm-12">
															<div class="form-group mb-2">
																<div class="input-with-icon">
																	<select id="bathrooms" class="form-control">
																		<option value="">&nbsp;</option>
																		<option value="1">1</option>
																		<option value="2">2</option>
																		<option value="3">3</option>
																		<option value="4">4</option>
																		<option value="5">5</option>
																	</select>
																	<i class="fas fa-bath"></i>
																</div>
															</div>
														</div>
														
													</div>
													<!-- /row -->
													
													<!-- row -->
													<div class="row">
													
														<div class="col-lg-12 col-md-12 col-sm-12 mt-3">
															<h4 class="text-dark">Amenities & Features</h4>
															<ul class="no-ul-list third-row">
																<li>
																	<input id="a-1" class="checkbox-custom" name="a-1" type="checkbox">
																	<label for="a-1" class="checkbox-custom-label">Air Condition</label>
																</li>
																<li>
																	<input id="a-2" class="checkbox-custom" name="a-2" type="checkbox">
																	<label for="a-2" class="checkbox-custom-label">Bedding</label>
																</li>
																<li>
																	<input id="a-3" class="checkbox-custom" name="a-3" type="checkbox">
																	<label for="a-3" class="checkbox-custom-label">Heating</label>
																</li>
																<li>
																	<input id="a-4" class="checkbox-custom" name="a-4" type="checkbox">
																	<label for="a-4" class="checkbox-custom-label">Internet</label>
																</li>
																<li>
																	<input id="a-5" class="checkbox-custom" name="a-5" type="checkbox">
																	<label for="a-5" class="checkbox-custom-label">Microwave</label>
																</li>
																<li>
																	<input id="a-6" class="checkbox-custom" name="a-6" type="checkbox">
																	<label for="a-6" class="checkbox-custom-label">Smoking Allow</label>
																</li>
																<li>
																	<input id="a-7" class="checkbox-custom" name="a-7" type="checkbox">
																	<label for="a-7" class="checkbox-custom-label">Terrace</label>
																</li>
																<li>
																	<input id="a-8" class="checkbox-custom" name="a-8" type="checkbox">
																	<label for="a-8" class="checkbox-custom-label">Balcony</label>
																</li>
																<li>
																	<input id="a-9" class="checkbox-custom" name="a-9" type="checkbox">
																	<label for="a-9" class="checkbox-custom-label">Icon</label>
																</li>
																<li>
																	<input id="a-10" class="checkbox-custom" name="a-10" type="checkbox">
																	<label for="a-10" class="checkbox-custom-label">Wi-Fi</label>
																</li>
																<li>
																	<input id="a-11" class="checkbox-custom" name="a-11" type="checkbox">
																	<label for="a-11" class="checkbox-custom-label">Beach</label>
																</li>
																<li>
																	<input id="a-12" class="checkbox-custom" name="a-12" type="checkbox">
																	<label for="a-12" class="checkbox-custom-label">Parking</label>
																</li>
															</ul>
														</div>
														
													</div>
													<!-- /row -->
													
												</div>
											</div>
										</div></p>
									  
									</div>
									<div class="tab-pane" id="messages" role="tabpanel">
									
										<p style="color:black;"><div class="full-search-2 eclip-search italian-search hero-search-radius shadow-hard mt-5">
											<div class="hero-search-content">
												<div class="row">
												
													<div class="col-lg-5 col-md-4 col-sm-10">
														<div class="form-group">
															<div class="input-with-icon" style="padding:0px;margin-left:2%;margin-top:-10px;">
																<input type="text" class="form-control" placeholder="Search by 2bhk in Akota" style="border-radius:20px;line-height:90px;border:1px solid black;height:50px !important;">
															   
																<img src="{% static 'front-end/img/pin.svg' %}" width="20"></i>
															</div>
														</div>
													</div>
													<div class="col-lg-3 col-md-4 col-sm-12" style="color:1px solid black;margin-top:8px;">
													  <div class="">
													  
													  <select id="Budget" class="form-control" name="budget" style="margin-left:2%;border:1px solid black !important;padding:7px;margin-top:-16px;height:41px !important;border-radius:20px;" required>
													  <option value="Select Budget">Select Budget</option>
													  <option value="20 - 35 lacs">20 - 35 lacs</option>
													  <option value="35-50 lacs">35-50 lacs</option>
													  <option value="50-65 lacs">50-65 lacs</option>
													  <option value="65-80 lacs">65-80 lacs</option>
													  <option value="80-1cr">80-1cr</option>
													  <option value="1-1.5 cr">1-1.5 cr</option>
													  <option value="1.5 cr +">1.5 cr +</option>
													  </select>
													  </div>
												  </div>
												  <div class="col-lg-2 col-md-4 col-sm-12" style="color:1px solid black;margin-top:-8px;">
													  <div class="form-group ">
													  
													  <select id="" class="" name="budget" style="height:70px !important;line-height:42px;margin-left:2%;border:1px solid black !important;margin-top:0px;width:100%;height:45px !important;border-radius:20px;" required>
														  <option value="">Property Type</option>
														  <option value="Residential">Residential</option>
														  <option value="Commercial">Commercial</option>
														  <option value="Plots">Plots</option>
													  </select>
													  </div>
												  </div>
													
													
													<div class="col-lg-2 col-md-3 col-sm-12" style="margin-top:-9px;">
														<div class="form-group">
															<a href="propertylisting" class="btn search-btn btn-sm" style="height:46px !important;font-size:17px !important;border-radius:23px;">Search</a>
														</div>
													</div>
															
												</div>
												<!-- Collapse Advance Search Form -->
												<div class="collapse" id="advance-search" aria-expanded="false" role="banner">
										
													<!-- row -->
													<div class="row">
													
														<div class="col-lg-4 col-md-4 col-sm-12">
															<div class="form-group mb-2">
																<div class="input-with-icon">
																	<select id="town" class="form-control">
																		<option value="">&nbsp;</option>
																		<option value="1">Any Town</option>
																		<option value="2">Toronto</option>
																		<option value="3">Montreal</option>
																		<option value="4">Alberta</option>
																		<option value="5">Ontario</option>
																		<option value="6">Ottawa</option>
																	</select>
																	<i class="ti-location-pin"></i>
																</div>
															</div>
														</div>
														
														<div class="col-lg-4 col-md-4 col-sm-12">
															<div class="form-group mb-2">
																<div class="input-with-icon">
																	<select id="bedrooms" class="form-control">
																		<option value="">&nbsp;</option>
																		<option value="1">1</option>
																		<option value="2">2</option>
																		<option value="3">3</option>
																		<option value="4">4</option>
																		<option value="5">5</option>
																	</select>
																	<i class="fas fa-bed"></i>
																</div>
															</div>
														</div>
														
														<div class="col-lg-4 col-md-4 col-sm-12">
															<div class="form-group mb-2">
																<div class="input-with-icon">
																	<select id="bathrooms" class="form-control">
																		<option value="">&nbsp;</option>
																		<option value="1">1</option>
																		<option value="2">2</option>
																		<option value="3">3</option>
																		<option value="4">4</option>
																		<option value="5">5</option>
																	</select>
																	<i class="fas fa-bath"></i>
																</div>
															</div>
														</div>
														
													</div>
													<!-- /row -->
													
													<!-- row -->
													<div class="row">
													
														<div class="col-lg-12 col-md-12 col-sm-12 mt-3">
															<h4 class="text-dark">Amenities & Features</h4>
															<ul class="no-ul-list third-row">
																<li>
																	<input id="a-1" class="checkbox-custom" name="a-1" type="checkbox">
																	<label for="a-1" class="checkbox-custom-label">Air Condition</label>
																</li>
																<li>
																	<input id="a-2" class="checkbox-custom" name="a-2" type="checkbox">
																	<label for="a-2" class="checkbox-custom-label">Bedding</label>
																</li>
																<li>
																	<input id="a-3" class="checkbox-custom" name="a-3" type="checkbox">
																	<label for="a-3" class="checkbox-custom-label">Heating</label>
																</li>
																<li>
																	<input id="a-4" class="checkbox-custom" name="a-4" type="checkbox">
																	<label for="a-4" class="checkbox-custom-label">Internet</label>
																</li>
																<li>
																	<input id="a-5" class="checkbox-custom" name="a-5" type="checkbox">
																	<label for="a-5" class="checkbox-custom-label">Microwave</label>
																</li>
																<li>
																	<input id="a-6" class="checkbox-custom" name="a-6" type="checkbox">
																	<label for="a-6" class="checkbox-custom-label">Smoking Allow</label>
																</li>
																<li>
																	<input id="a-7" class="checkbox-custom" name="a-7" type="checkbox">
																	<label for="a-7" class="checkbox-custom-label">Terrace</label>
																</li>
																<li>
																	<input id="a-8" class="checkbox-custom" name="a-8" type="checkbox">
																	<label for="a-8" class="checkbox-custom-label">Balcony</label>
																</li>
																<li>
																	<input id="a-9" class="checkbox-custom" name="a-9" type="checkbox">
																	<label for="a-9" class="checkbox-custom-label">Icon</label>
																</li>
																<li>
																	<input id="a-10" class="checkbox-custom" name="a-10" type="checkbox">
																	<label for="a-10" class="checkbox-custom-label">Wi-Fi</label>
																</li>
																<li>
																	<input id="a-11" class="checkbox-custom" name="a-11" type="checkbox">
																	<label for="a-11" class="checkbox-custom-label">Beach</label>
																</li>
																<li>
																	<input id="a-12" class="checkbox-custom" name="a-12" type="checkbox">
																	<label for="a-12" class="checkbox-custom-label">Parking</label>
																</li>
															</ul>
														</div>
														
													</div>
													<!-- /row -->
													
												</div>
											</div>
										</div></p>
									  
									</div>
									<div class="tab-pane" id="settings" role="tabpanel">
									  
										<p style="color:black;"><div class="full-search-2 eclip-search italian-search hero-search-radius shadow-hard mt-5">
											<div class="hero-search-content">
												<div class="row">
												
													<div class="col-lg-4 col-md-4 col-sm-12 b-r">
														<div class="form-group">
															<div class="choose-propert-type">
																<ul>
																	<li>
																		<input id="cp-1" class="checkbox-custom" name="cpt" type="radio" checked>
																		<label for="cp-1" class="checkbox-custom-label">Residential</label>
																	</li>
																	<li>
																		<input id="cp-2" class="checkbox-custom" name="cpt" type="radio">
																		<label for="cp-2" class="checkbox-custom-label">Commercial</label>
																	</li>
																	
																</ul>
															</div>
														</div>
													</div>
													
													<div class="col-lg-5 col-md-4 col-sm-10 p-0 elio">
														<div class="form-group">
															<div class="input-with-icon" style="margin:2%;">
																<input type="text" class="form-control" placeholder="Search for locality, landmark, project or builder">
															   
																<img src="{% static 'front-end/img/pin.svg' %}" width="20"></i>
															</div>
														</div>
													</div>
													
													<div class="col-lg-1 col-md-1 col-sm-2">
														<div class="form-group">
															<!-- <a class="collapsed ad-search" data-bs-toggle="collapse" data-parent="#search" data-bs-target="#advance-search" href="javascript:void(0);" aria-expanded="false" aria-controls="advance-search"><i class="fa fa-sliders-h"></i></a> -->
														</div>
													</div>
													
													<div class="col-lg-2 col-md-3 col-sm-12">
														<div class="form-group">
															<a href="propertylisting" class="btn search-btn">Search</a>
														</div>
													</div>
															
												</div>
												<!-- Collapse Advance Search Form -->
												<div class="collapse" id="advance-search" aria-expanded="false" role="banner">
										
													<!-- row -->
													<div class="row">
													
														<div class="col-lg-4 col-md-4 col-sm-12">
															<div class="form-group mb-2">
																<div class="input-with-icon">
																	<select id="town" class="form-control">
																		<option value="">&nbsp;</option>
																		<option value="1">Any Town</option>
																		<option value="2">Toronto</option>
																		<option value="3">Montreal</option>
																		<option value="4">Alberta</option>
																		<option value="5">Ontario</option>
																		<option value="6">Ottawa</option>
																	</select>
																	<i class="ti-location-pin"></i>
																</div>
															</div>
														</div>
														
														<div class="col-lg-4 col-md-4 col-sm-12">
															<div class="form-group mb-2">
																<div class="input-with-icon">
																	<select id="bedrooms" class="form-control">
																		<option value="">&nbsp;</option>
																		<option value="1">1</option>
																		<option value="2">2</option>
																		<option value="3">3</option>
																		<option value="4">4</option>
																		<option value="5">5</option>
																	</select>
																	<i class="fas fa-bed"></i>
																</div>
															</div>
														</div>
														
														<div class="col-lg-4 col-md-4 col-sm-12">
															<div class="form-group mb-2">
																<div class="input-with-icon">
																	<select id="bathrooms" class="form-control">
																		<option value="">&nbsp;</option>
																		<option value="1">1</option>
																		<option value="2">2</option>
																		<option value="3">3</option>
																		<option value="4">4</option>
																		<option value="5">5</option>
																	</select>
																	<i class="fas fa-bath"></i>
																</div>
															</div>
														</div>
														
													</div>
													<!-- /row -->
													
													<!-- row -->
													<div class="row">
													
														<div class="col-lg-12 col-md-12 col-sm-12 mt-3">
															<h4 class="text-dark">Amenities & Features</h4>
															<ul class="no-ul-list third-row">
																<li>
																	<input id="a-1" class="checkbox-custom" name="a-1" type="checkbox">
																	<label for="a-1" class="checkbox-custom-label">Air Condition</label>
																</li>
																<li>
																	<input id="a-2" class="checkbox-custom" name="a-2" type="checkbox">
																	<label for="a-2" class="checkbox-custom-label">Bedding</label>
																</li>
																<li>
																	<input id="a-3" class="checkbox-custom" name="a-3" type="checkbox">
																	<label for="a-3" class="checkbox-custom-label">Heating</label>
																</li>
																<li>
																	<input id="a-4" class="checkbox-custom" name="a-4" type="checkbox">
																	<label for="a-4" class="checkbox-custom-label">Internet</label>
																</li>
																<li>
																	<input id="a-5" class="checkbox-custom" name="a-5" type="checkbox">
																	<label for="a-5" class="checkbox-custom-label">Microwave</label>
																</li>
																<li>
																	<input id="a-6" class="checkbox-custom" name="a-6" type="checkbox">
																	<label for="a-6" class="checkbox-custom-label">Smoking Allow</label>
																</li>
																<li>
																	<input id="a-7" class="checkbox-custom" name="a-7" type="checkbox">
																	<label for="a-7" class="checkbox-custom-label">Terrace</label>
																</li>
																<li>
																	<input id="a-8" class="checkbox-custom" name="a-8" type="checkbox">
																	<label for="a-8" class="checkbox-custom-label">Balcony</label>
																</li>
																<li>
																	<input id="a-9" class="checkbox-custom" name="a-9" type="checkbox">
																	<label for="a-9" class="checkbox-custom-label">Icon</label>
																</li>
																<li>
																	<input id="a-10" class="checkbox-custom" name="a-10" type="checkbox">
																	<label for="a-10" class="checkbox-custom-label">Wi-Fi</label>
																</li>
																<li>
																	<input id="a-11" class="checkbox-custom" name="a-11" type="checkbox">
																	<label for="a-11" class="checkbox-custom-label">Beach</label>
																</li>
																<li>
																	<input id="a-12" class="checkbox-custom" name="a-12" type="checkbox">
																	<label for="a-12" class="checkbox-custom-label">Parking</label>
																</li>
															</ul>
														</div>
														
													</div>
													<!-- /row -->
													
												</div>
											</div>
										</div></p>
									  
									</div>
								  </div>
								</div>
							  </div>
							<script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>	
							<style>
								#app{
									text-align:center;
									color:black !important;
									font-size:70px;
									font-family:serif;
									background-image: linear-gradient(
										-225deg,
										#fff 0%,
										#fff 29%,
										#fff 67%,
										#fff 100%
									);
									background-clip:border-box;
									line-height: 68px;
									text-fill-color: black;
									background-clip:text;
									-webkit-background-clip:text;
									-webkit-text-fill-color: transparent;
									text-fill-color: transparent;
									animation: textclip 2s linear infinite;
								}
							</style>
							<script>
								var app = document.getElementById('app');
				
								var typewriter = new Typewriter(app, {
									loop: true
								});
				
								typewriter.typeString('Find Your Dream Property.')
									.pauseFor(2500)
									.deleteAll()
									.typeString('Your Dream Home, Made Simple')
									.pauseFor(2500)
									.deleteAll()
									.typeString('<strong>Realezi, Your All-in-One Home Solution</strong>')
									.pauseFor(2500)
									.deleteAll()
									.typeString('<strong>Hassle-Free, Personalized, Realezi</strong>')
									.start();
							</script>
							
							
						</div>
					</div>
				</div>
			</div>
			<!-- ============================ Hero Banner End ================================== -->
			
			<!-- ============================ Achievement Start ================================== -->
			
			<div class="clearfix"></div>
			<!-- ============================ Achievement End ================================== -->
			<br>
            <section>
				<div class="container">

					<div class="row justify-content-center">
						<div class="col-lg-7 col-md-10 text-center">
							<div class="sec-heading center">
								<h2>End To End Assistance</h2>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-1 col-md-1"></div>
						<div class="col-lg-2 col-md-2">
							<div class="middle-icon-features-item">
								<div class="icon-features-wrap">
									<div class="middle-icon-large-features-box f-light-success">
										<i class="fa fa-file-audio text-success"></i>
									</div>
								</div>
								<div class="middle-icon-features-content">
									<h4>Share your requirement with us</h4>
<!--									<p>To begin your journey towards finding your dream home, start by sharing your specific-->
<!--requirements, budget, and any particular preferences you have for your ideal property. Let-->
<!--us know your needs so we can tailor our search to match your criteria perfectly.</p>-->
								</div>
							</div>
						</div>

						<div class="col-lg-2 col-md-2">
							<div class="middle-icon-features-item">
								<div class="icon-features-wrap">
									<div class="middle-icon-large-features-box f-light-warning">
										<i class="fa fa-house text-warning"></i>
									</div>
								</div>
								<div class="middle-icon-features-content">
									<h4>We will shortlist Right Property for You</h4>
<!--									<p>Once you've provided us with your requirements, we will dive into our extensive database of-->
<!--properties. Our platform utilizes advanced search filters to narrow down the options and-->
<!--present you with properties that fit your preferences and budget. You can browse through the-->
<!--shortlisted properties to find the ones that catch your interest.</p>-->
								</div>
							</div>
						</div>

						<div class="col-lg-2 col-md-2">
							<div class="middle-icon-features-item">
								<div class="icon-features-wrap">
									<div class="middle-icon-large-features-box f-light-purple">
										<i class="fa fa-calendar-check text-light-purple"></i>
									</div>
								</div>
								<div class="middle-icon-features-content">
									<h4>Schedule a site visit</h4>
<!--								<p>After shortlisting the properties, you can schedule a site visit to explore them in person. Our-->
<!--team of real estate consultants will be there to assist you at every stage of the site visit. If-->
<!--you have any questions or need professional advice, don't hesitate to reach out to us. We-->
<!--are committed to making your home-buying experience smooth and stress-free.</p>-->
								</div>
							</div>
						</div>

						<div class="col-lg-2 col-md-2">
							<div class="middle-icon-features-item">
								<div class="icon-features-wrap">
									<div class="middle-icon-large-features-box f-light-blue">
										<i class="fa fa-file-shield text-blue"></i>
									</div>
								</div>
								<div class="middle-icon-features-content">
									<h4>Secure the best deals</h4>
<!--									<p>With Realezi.com by your side, securing the best deals in the market becomes effortless.-->
<!--Our experts will negotiate on your behalf to ensure you get the most value for your-->
<!--investment. We understand the importance of getting the right property at the right price, and-->
<!--we'll work diligently to make that happen for you.</p>-->
								</div>
							</div>
						</div>

						<div class="col-lg-2 col-md-2">
							<div class="middle-icon-features-item remove">
								<div class="icon-features-wrap">
									<div class="middle-icon-large-features-box f-light-success">
										<i class="fa fa-inr text-success"></i>
									</div>
								</div>
								<div class="middle-icon-features-content">
									<h4>Post Purchase support</h4>
<!--									<p>Our relationship with you doesn't end with the purchase. We offer post-purchase services to-->
<!--help you settle into your new home comfortably. Whether you need assistance with home-->
<!--loan applications, finding interior designers, or any other support, we have you covered. Our-->
<!--aim is to ensure your satisfaction and happiness even after you have moved into your dream home.</p>-->
								</div>
							</div>
						</div>

					</div>

				</div>
			</section>
			<!-- ============================ Latest Property For Sale Start ================================== -->
            <br/>
			<section class="pt-0">
				<div class="container">
				
					<div class="row justify-content-center">
						<div class="col-lg-7 col-md-10 text-center">
							<div class="sec-heading center mb-4">
								<h2>Upcoming Property</h2>
								
							</div>
						</div>
					</div>
					
					<div class="row">
						<div class="col-lg-12 col-md-12">
							<div class="property-slide">
								
								<!-- Single Property -->
								<div class="single-items">
									<div class="property-listing shadow-none property-2 border">
								
										<div class="listing-img-wrapper">
											<div class="_exlio_125">Rs. 8420</div>
											<div class="list-img-slide">
												<div class="click">
													<div><a href="single-property-1.html"><img src="{% static 'front-end/img/p-1.jpg' %}" class="img-fluid mx-auto" alt="" /></a></div>
													<div><a href="single-property-1.html"><img src="{% static 'front-end/img/p-9.jpg' %}" class="img-fluid mx-auto" alt="" /></a></div>
													<div><a href="single-property-1.html"><img src="{% static 'front-end/img/p-10.jpg' %}" class="img-fluid mx-auto" alt="" /></a></div>
												</div>
											</div>
										</div>
										
										<div class="listing-detail-wrapper">
											<div class="listing-short-detail-wrap">
												<div class="listing-short-detail">
													<span class="property-type elt_rent">For Rent</span>
													<h4 class="listing-name verified"><a href="single-property-1.html" class="prt-link-detail">Banyon Tree Realty</a></h4>
												</div>
												<div class="listing-short-detail-flex">
													<div class="prt_saveed_12lk">
														<label class="toggler toggler-danger"><input type="checkbox"><i class="fas fa-heart"></i></label>
													</div>
												</div>
											</div>
										</div>
										
										<div class="price-features-wrapper">
											<div class="list-fx-features">
												<div class="listing-card-info-icon">
													3 Beds
												</div>
												<div class="listing-card-info-icon">
													1 Bath
												</div>
												<div class="listing-card-info-icon">
													800 sqft
												</div>
											</div>
										</div>
										
										<div class="listing-detail-footer">
											<div class="footer-first">
												<div class="foot-location"><img src="{% static 'front-end/img/pin.svg" width="18" alt="" />210 Zirak Road, Harni</div>
											</div>
											<div class="footer-flex">
												<a href="property-detail.html" class="prt-view">View</a>
											</div>
										</div>
										
									</div>
								</div>
								
								<!-- Single Property -->
								<div class="single-items">
									<div class="property-listing shadow-none property-2 border">
								
										<div class="listing-img-wrapper">
											<div class="_exlio_125">Rs. 50620</div>
											<div class="list-img-slide">
												<div class="click">
													<div><a href="single-property-1.html"><img src="{% static 'front-end/img/p-2.jpg' %}" class="img-fluid mx-auto" alt="" /></a></div>
													<div><a href="single-property-1.html"><img src="{% static 'front-end/img/p-11.jpg' %}" class="img-fluid mx-auto" alt="" /></a></div>
													<div><a href="single-property-1.html"><img src="{% static 'front-end/img/p-12.jpg' %}" class="img-fluid mx-auto" alt="" /></a></div>
												</div>
											</div>
										</div>
										
										<div class="listing-detail-wrapper">
											<div class="listing-short-detail-wrap">
												<div class="listing-short-detail">
													<span class="property-type elt_sale">For Sale</span>
													<h4 class="listing-name verified"><a href="single-property-1.html" class="prt-link-detail">Blue Reef Properties</a></h4>
												</div>
												<div class="listing-short-detail-flex">
													<div class="prt_saveed_12lk">
														<label class="toggler toggler-danger"><input type="checkbox" checked><i class="fas fa-heart"></i></label>
													</div>
												</div>
											</div>
										</div>
										
										<div class="price-features-wrapper">
											<div class="list-fx-features">
												<div class="listing-card-info-icon">
													3 Beds
												</div>
												<div class="listing-card-info-icon">
													1 Bath
												</div>
												<div class="listing-card-info-icon">
													800 sqft
												</div>
											</div>
										</div>
										
										<div class="listing-detail-footer">
											<div class="footer-first">
												<div class="foot-location"><img src="{% static 'front-end/img/pin.svg" width="18" alt="" />210 Zirak Road, Harni</div>
											</div>
											<div class="footer-flex">
												<a href="property-detail.html" class="prt-view">View</a>
											</div>
										</div>
										
									</div>
								</div>
								
								<!-- Single Property -->
								<div class="single-items">
									<div class="property-listing shadow-none property-2 border">
								
										<div class="listing-img-wrapper">
											<div class="_exlio_125">Rs. 7210</div>
											<div class="list-img-slide">
												<div class="click">
													<div><a href="single-property-1.html"><img src="{% static 'front-end/img/p-3.jpg' %}" class="img-fluid mx-auto" alt="" /></a></div>
													<div><a href="single-property-1.html"><img src="{% static 'front-end/img/p-13.jpg' %}" class="img-fluid mx-auto" alt="" /></a></div>
													<div><a href="single-property-1.html"><img src="{% static 'front-end/img/p-14.jpg' %}" class="img-fluid mx-auto" alt="" /></a></div>
												</div>
											</div>
										</div>
										
										<div class="listing-detail-wrapper">
											<div class="listing-short-detail-wrap">
												<div class="listing-short-detail">
													<span class="property-type elt_rent">For Rent</span>
													<h4 class="listing-name verified"><a href="single-property-1.html" class="prt-link-detail">Beacon Homes LLC</a></h4>
												</div>
												<div class="listing-short-detail-flex">
													<div class="prt_saveed_12lk">
														<label class="toggler toggler-danger"><input type="checkbox"><i class="fas fa-heart"></i></label>
													</div>
												</div>
											</div>
										</div>
										
										<div class="price-features-wrapper">
											<div class="list-fx-features">
												<div class="listing-card-info-icon">
													3 Beds
												</div>
												<div class="listing-card-info-icon">
													1 Bath
												</div>
												<div class="listing-card-info-icon">
													800 sqft
												</div>
											</div>
										</div>
										
										<div class="listing-detail-footer">
											<div class="footer-first">
												<div class="foot-location"><img src="{% static 'front-end/img/pin.svg" width="18" alt="" />210 Zirak Road, Harni</div>
											</div>
											<div class="footer-flex">
												<a href="property-detail.html" class="prt-view">View</a>
											</div>
										</div>
										
									</div>
								</div>
								
								<!-- Single Property -->
								<div class="single-items">
									<div class="property-listing shadow-none property-2 border">
								
										<div class="listing-img-wrapper">
											<div class="_exlio_125">Rs. 300500</div>
											<div class="list-img-slide">
												<div class="click">
													<div><a href="single-property-1.html"><img src="{% static 'front-end/img/p-4.jpg' %}" class="img-fluid mx-auto" alt="" /></a></div>
													<div><a href="single-property-1.html"><img src="{% static 'front-end/img/p-15.jpg' %}" class="img-fluid mx-auto" alt="" /></a></div>
													<div><a href="single-property-1.html"><img src="{% static 'front-end/img/p-16.jpg' %}" class="img-fluid mx-auto" alt="" /></a></div>
												</div>
											</div>
										</div>
										
										<div class="listing-detail-wrapper">
											<div class="listing-short-detail-wrap">
												<div class="listing-short-detail">
													<span class="property-type elt_sale">For Sale</span>
													<h4 class="listing-name verified"><a href="single-property-1.html" class="prt-link-detail">Bluebell Real Estate</a></h4>
												</div>
												<div class="listing-short-detail-flex">
													<div class="prt_saveed_12lk">
														<label class="toggler toggler-danger"><input type="checkbox"><i class="fas fa-heart"></i></label>
													</div>
												</div>
											</div>
										</div>
										
										<div class="price-features-wrapper">
											<div class="list-fx-features">
												<div class="listing-card-info-icon">
													3 Beds
												</div>
												<div class="listing-card-info-icon">
													1 Bath
												</div>
												<div class="listing-card-info-icon">
													800 sqft
												</div>
											</div>
										</div>
										
										<div class="listing-detail-footer">
											<div class="footer-first">
												<div class="foot-location"><img src="{% static 'front-end/img/pin.svg" width="18" alt="" />210 Zirak Road, Harni</div>
											</div>
											<div class="footer-flex">
												<a href="property-detail.html" class="prt-view">View</a>
											</div>
										</div>
										
									</div>
								</div>
								
								<!-- Single Property -->
								<div class="single-items">
									<div class="property-listing shadow-none property-2 border">
								
										<div class="listing-img-wrapper">
											<div class="_exlio_125">Rs. 6300</div>
											<div class="list-img-slide">
												<div class="click">
													<div><a href="single-property-1.html"><img src="{% static 'front-end/img/p-5.jpg' %}" class="img-fluid mx-auto" alt="" /></a></div>
													<div><a href="single-property-1.html"><img src="{% static 'front-end/img/p-16.jpg' %}" class="img-fluid mx-auto" alt="" /></a></div>
													<div><a href="single-property-1.html"><img src="{% static 'front-end/img/p-17.jpg' %}" class="img-fluid mx-auto" alt="" /></a></div>
												</div>
											</div>
										</div>
										
										<div class="listing-detail-wrapper">
											<div class="listing-short-detail-wrap">
												<div class="listing-short-detail">
													<span class="property-type elt_rent">For Rent</span>
													<h4 class="listing-name verified"><a href="single-property-1.html" class="prt-link-detail">Found Property Group</a></h4>
												</div>
												<div class="listing-short-detail-flex">
													<div class="prt_saveed_12lk">
														<label class="toggler toggler-danger"><input type="checkbox" checked><i class="fas fa-heart"></i></label>
													</div>
												</div>
											</div>
										</div>
										
										<div class="price-features-wrapper">
											<div class="list-fx-features">
												<div class="listing-card-info-icon">
													3 Beds
												</div>
												<div class="listing-card-info-icon">
													1 Bath
												</div>
												<div class="listing-card-info-icon">
													800 sqft
												</div>
											</div>
										</div>
										
										<div class="listing-detail-footer">
											<div class="footer-first">
												<div class="foot-location"><img src="{% static 'front-end/img/pin.svg" width="18" alt="" />210 Zirak Road, Harni</div>
											</div>
											<div class="footer-flex">
												<a href="property-detail.html" class="prt-view">View</a>
											</div>
										</div>
										
									</div>
								</div>
								
								<!-- Single Property -->
								<div class="single-items">
									<div class="property-listing shadow-none property-2 border">
								
										<div class="listing-img-wrapper">
											<div class="_exlio_125">Rs. 40930</div>
											<div class="list-img-slide">
												<div class="click">
													<div><a href="single-property-1.html"><img src="{% static 'front-end/img/p-6.jpg' %}" class="img-fluid mx-auto" alt="" /></a></div>
													<div><a href="single-property-1.html"><img src="{% static 'front-end/img/p-12.jpg' %}" class="img-fluid mx-auto" alt="" /></a></div>
													<div><a href="single-property-1.html"><img src="{% static 'front-end/img/p-25.jpg' %}" class="img-fluid mx-auto" alt="" /></a></div>
												</div>
											</div>
										</div>
										
										<div class="listing-detail-wrapper">
											<div class="listing-short-detail-wrap">
												<div class="listing-short-detail">
													<span class="property-type elt_sale">For Sale</span>
													<h4 class="listing-name verified"><a href="single-property-1.html" class="prt-link-detail">Strive Partners Realty</a></h4>
												</div>
												<div class="listing-short-detail-flex">
													<div class="prt_saveed_12lk">
														<label class="toggler toggler-danger"><input type="checkbox"><i class="fas fa-heart"></i></label>
													</div>
												</div>
											</div>
										</div>
										
										<div class="price-features-wrapper">
											<div class="list-fx-features">
												<div class="listing-card-info-icon">
													3 Beds
												</div>
												<div class="listing-card-info-icon">
													1 Bath
												</div>
												<div class="listing-card-info-icon">
													800 sqft
												</div>
											</div>
										</div>
										
										<div class="listing-detail-footer">
											<div class="footer-first">
												<div class="foot-location"><img src="{% static 'front-end/img/pin.svg" width="18" alt="" />210 Zirak Road, Harni</div>
											</div>
											<div class="footer-flex">
												<a href="property-detail.html" class="prt-view">View</a>
											</div>
										</div>
										
									</div>
								</div>
								
							</div>
						</div>
					</div>
					
				</div>
			</section>
			<!-- ============================ Latest Property For Sale End ================================== -->
			<!-- <div class="how-section1" style="margin-top:0px;background-image: url('{% static 'front-end/img/realezi-banner.png' %}'); background-attachment: fixed; background-size: cover; -moz-background-size: cover; -webkit-background-size: cover; background-repeat: no-repeat; background-position: top center;">
				<div class="row">
					<h1 style="text-align:center;color:white;">Why Realezi ?</h1>
				</div>
				<div class="row">
					<div class="col-md-6 how-img">
						<img style="margin-top:-50px;width:37%" src="{% static 'front-end/img/personalization.png' %}" class="img-fluid" alt="" />
					</div>
					<div class="col-md-6 card" style="height:150px;padding:30px;background: #e0e0e061;">
						<h4 style="color:white;">Personalization</h4>
								<p class="text-muted" style="color:white !important;"> We believe in understanding our customers on a personal level, ensuring that we provide customised solutions tailored to their unique needs</p></p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 card" style="height:150px;padding:30px;background: #e0e0e061;">
						<h4 style="color:white;">Best Deals</h4>
									<p class="text-muted" style="color:white !important;"> Our team works tirelessly to secure the best deals available in the market, helping you make the most of your investment.</p>
					</div>
					<div class="col-md-6 how-img">
						<img  style="margin-top:-50px;width:37%"  src="{% static 'front-end/img/bestdeal.png' %}" class="img-fluid" alt=""/>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 how-img">
						 <img  style="margin-top:-30px;width:33%" src="{% static 'front-end/img/support.png' %}" class="img-fluid" alt=""/>
					</div>
					<div class="col-md-6 card" style="height:150px;padding:30px;background: #e0e0e061;">
						<h4 style="color:white;">Support Throughout the Journey</h4>
									<p class="text-muted" style="color:white !important;">From finding the perfect property to availing home loan  assistance and post-purchase services, we are here for you every step of the way.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 card" style="height:150px;padding:30px;background: #e0e0e061;">
						<h4 style="color:white;">Trusted Guidance</h4>
									<p class="text-muted" style="color:white !important;"> Think of us as the big brother you've always wanted by your side, guiding and supporting you throughout the home-buying process.</p>
					</div>
					<div class="col-md-6 how-img">
						<img  style="margin-top:-50px;width:33%" src="{% static 'front-end/img/trust.png' %}" class="img-fluid" alt=""/>
					</div>
				</div>
			</div> -->
			<style>
				.how-section1{
						margin-top:-15%;
						padding: 2%;
					}
					.how-section1 h4{
						color: #ffa500;
						font-weight: bold;
						font-size: 30px;
					}
					.how-section1 .subheading{
						color: #3931af;
						font-size: 20px;
					}
					.how-section1 .row
					{
						margin-top: 5%;
					}
					.how-img 
					{
						text-align: center;
					}
					.how-img img{
						width: 40%;
					}
			</style>
			
			<!-- ============================ All Property ================================== -->
			<section class="bg-light">
				<div class="container">
				
					<div class="row justify-content-center">
						<div class="col-lg-7 col-md-10 text-center">
							<div class="sec-heading center">
								<h2>Featured Property For Sale</h2>
								<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores</p>
							</div>
						</div>
					</div>
				
					<div class="row list-layout">
						
						<!-- Single Property Start -->
						<div class="col-lg-6 col-md-12">
							<div class="property-listing property-1">
									
								<div class="listing-img-wrapper">
									<a href="single-property-2.html">
										<img src="{% static 'front-end/img/p-1.jpg' %}" class="img-fluid mx-auto" alt="" />
									</a>
								</div>
								
								<div class="listing-content">
								
									<div class="listing-detail-wrapper-box">
										<div class="listing-detail-wrapper">
											<div class="listing-short-detail">
												<h4 class="listing-name"><a href="single-property-2.html">Resort Valley Ocs</a></h4>
												<div class="fr-can-rating">
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star"></i>
													<span class="reviews_text">(42 Reviews)</span>
												</div>
												<span class="prt-types sale">For Sale</span>
											</div>
											<div class="list-price">
												<h6 class="listing-card-info-price">Rs. 7,000</h6>
											</div>
										</div>
									</div>
									
									<div class="price-features-wrapper">
										<div class="list-fx-features">
											<div class="listing-card-info-icon">
												3 Beds
											</div>
											<div class="listing-card-info-icon">
												1 Bath
											</div>
											<div class="listing-card-info-icon">
												800 sqft
											</div>
										</div>
									</div>
								
									<div class="listing-footer-wrapper">
										<div class="listing-locate">
											<span class="listing-location"><i class="ti-location-pin"></i>Quice Market, Harni</span>
										</div>
										<div class="listing-detail-btn">
											<a href="single-property-2.html" class="more-btn">View</a>
										</div>
									</div>
									
								</div>
								
							</div>
						</div>
						<!-- Single Property End -->
						
						<!-- Single Property Start -->
						<div class="col-lg-6 col-md-12">
							<div class="property-listing property-1">
									
								<div class="listing-img-wrapper">
									<a href="single-property-2.html">
										<img src="{% static 'front-end/img/p-2.jpg' %}" class="img-fluid mx-auto" alt="" />
									</a>
								</div>
								
								<div class="listing-content">
								
									<div class="listing-detail-wrapper-box">
										<div class="listing-detail-wrapper">
											<div class="listing-short-detail">
												<h4 class="listing-name"><a href="single-property-2.html">Adobe Property Advisors</a></h4>
												<div class="fr-can-rating">
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star"></i>
													<span class="reviews_text">(42 Reviews)</span>
												</div>
												<span class="prt-types rent">For Rent</span>
											</div>
											<div class="list-price">
												<h6 class="listing-card-info-price">Rs. 6,800</h6>
											</div>
										</div>
									</div>
									
									<div class="price-features-wrapper">
										<div class="list-fx-features">
											<div class="listing-card-info-icon">
												3 Beds
											</div>
											<div class="listing-card-info-icon">
												1 Bath
											</div>
											<div class="listing-card-info-icon">
												800 sqft
											</div>
										</div>
									</div>
								
									<div class="listing-footer-wrapper">
										<div class="listing-locate">
											<span class="listing-location"><i class="ti-location-pin"></i>Quice Market, Harni</span>
										</div>
										<div class="listing-detail-btn">
											<a href="single-property-2.html" class="more-btn">View</a>
										</div>
									</div>
									
								</div>
								
							</div>
						</div>
						<!-- Single Property End -->

						<!-- Single Property Start -->
						<div class="col-lg-6 col-md-12">
							<div class="property-listing property-1">
									
								<div class="listing-img-wrapper">
									<a href="single-property-2.html">
										<img src="{% static 'front-end/img/p-3.jpg' %}" class="img-fluid mx-auto" alt="" />
									</a>
								</div>
								
								<div class="listing-content">
								
									<div class="listing-detail-wrapper-box">
										<div class="listing-detail-wrapper">
											<div class="listing-short-detail">
												<h4 class="listing-name"><a href="single-property-2.html">Bluebell Real Estate</a></h4>
												<div class="fr-can-rating">
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star"></i>
													<span class="reviews_text">(42 Reviews)</span>
												</div>
												<span class="prt-types rent">For Rent</span>
											</div>
											<div class="list-price">
												<h6 class="listing-card-info-price">Rs. 7,000</h6>
											</div>
										</div>
									</div>
									
									<div class="price-features-wrapper">
										<div class="list-fx-features">
											<div class="listing-card-info-icon">
												3 Beds
											</div>
											<div class="listing-card-info-icon">
												1 Bath
											</div>
											<div class="listing-card-info-icon">
												800 sqft
											</div>
										</div>
									</div>
								
									<div class="listing-footer-wrapper">
										<div class="listing-locate">
											<span class="listing-location"><i class="ti-location-pin"></i>Quice Market, Harni</span>
										</div>
										<div class="listing-detail-btn">
											<a href="single-property-2.html" class="more-btn">View</a>
										</div>
									</div>
									
								</div>
								
							</div>
						</div>
						<!-- Single Property End -->

						<!-- Single Property Start -->
						<div class="col-lg-6 col-md-12">
							<div class="property-listing property-1">
									
								<div class="listing-img-wrapper">
									<a href="single-property-2.html">
										<img src="{% static 'front-end/img/p-4.jpg' %}" class="img-fluid mx-auto" alt="" />
									</a>
								</div>
								
								<div class="listing-content">
								
									<div class="listing-detail-wrapper-box">
										<div class="listing-detail-wrapper">
											<div class="listing-short-detail">
												<h4 class="listing-name"><a href="single-property-2.html">Agile Real Estate Group</a></h4>
												<div class="fr-can-rating">
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star"></i>
													<span class="reviews_text">(42 Reviews)</span>
												</div>
												<span class="prt-types sale">For Sale</span>
											</div>
											<div class="list-price">
												<h6 class="listing-card-info-price">Rs. 8,100</h6>
											</div>
										</div>
									</div>
									
									<div class="price-features-wrapper">
										<div class="list-fx-features">
											<div class="listing-card-info-icon">
												3 Beds
											</div>
											<div class="listing-card-info-icon">
												1 Bath
											</div>
											<div class="listing-card-info-icon">
												800 sqft
											</div>
										</div>
									</div>
								
									<div class="listing-footer-wrapper">
										<div class="listing-locate">
											<span class="listing-location"><i class="ti-location-pin"></i>Quice Market, Harni</span>
										</div>
										<div class="listing-detail-btn">
											<a href="single-property-2.html" class="more-btn">View</a>
										</div>
									</div>
									
								</div>
								
							</div>
						</div>
						<!-- Single Property End -->

						<!-- Single Property Start -->
						<div class="col-lg-6 col-md-12">
							<div class="property-listing property-1">
									
								<div class="listing-img-wrapper">
									<a href="single-property-2.html">
										<img src="{% static 'front-end/img/p-5.jpg' %}" class="img-fluid mx-auto" alt="" />
									</a>
								</div>
								
								<div class="listing-content">
								
									<div class="listing-detail-wrapper-box">
										<div class="listing-detail-wrapper">
											<div class="listing-short-detail">
												<h4 class="listing-name"><a href="single-property-2.html">Nestled Real Estate</a></h4>
												<div class="fr-can-rating">
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star"></i>
													<span class="reviews_text">(42 Reviews)</span>
												</div>
												<span class="prt-types sale">For Sale</span>
											</div>
											<div class="list-price">
												<h6 class="listing-card-info-price">Rs. 5,700</h6>
											</div>
										</div>
									</div>
									
									<div class="price-features-wrapper">
										<div class="list-fx-features">
											<div class="listing-card-info-icon">
												3 Beds
											</div>
											<div class="listing-card-info-icon">
												1 Bath
											</div>
											<div class="listing-card-info-icon">
												800 sqft
											</div>
										</div>
									</div>
								
									<div class="listing-footer-wrapper">
										<div class="listing-locate">
											<span class="listing-location"><i class="ti-location-pin"></i>Quice Market, Harni</span>
										</div>
										<div class="listing-detail-btn">
											<a href="single-property-2.html" class="more-btn">View</a>
										</div>
									</div>
									
								</div>
								
							</div>
						</div>
						<!-- Single Property End -->

						<!-- Single Property Start -->
						<div class="col-lg-6 col-md-12">
							<div class="property-listing property-1">
									
								<div class="listing-img-wrapper">
									<a href="single-property-2.html">
										<img src="{% static 'front-end/img/p-6.jpg' %}" class="img-fluid mx-auto" alt="" />
									</a>
								</div>
								
								<div class="listing-content">
								
									<div class="listing-detail-wrapper-box">
										<div class="listing-detail-wrapper">
											<div class="listing-short-detail">
												<h4 class="listing-name"><a href="single-property-2.html">Flow Group Real Estate</a></h4>
												<div class="fr-can-rating">
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star"></i>
													<span class="reviews_text">(42 Reviews)</span>
												</div>
												<span class="prt-types rent">For Rent</span>
											</div>
											<div class="list-price">
												<h6 class="listing-card-info-price">Rs. 5,900</h6>
											</div>
										</div>
									</div>
									
									<div class="price-features-wrapper">
										<div class="list-fx-features">
											<div class="listing-card-info-icon">
												3 Beds
											</div>
											<div class="listing-card-info-icon">
												1 Bath
											</div>
											<div class="listing-card-info-icon">
												800 sqft
											</div>
										</div>
									</div>
								
									<div class="listing-footer-wrapper">
										<div class="listing-locate">
											<span class="listing-location"><i class="ti-location-pin"></i>Quice Market, Harni</span>
										</div>
										<div class="listing-detail-btn">
											<a href="single-property-2.html" class="more-btn">View</a>
										</div>
									</div>
									
								</div>
								
							</div>
						</div>
						<!-- Single Property End -->

						<!-- Single Property Start -->
						<div class="col-lg-6 col-md-12">
							<div class="property-listing property-1">
									
								<div class="listing-img-wrapper">
									<a href="single-property-2.html">
										<img src="{% static 'front-end/img/p-7.jpg' %}" class="img-fluid mx-auto" alt="" />
									</a>
								</div>
								
								<div class="listing-content">
								
									<div class="listing-detail-wrapper-box">
										<div class="listing-detail-wrapper">
											<div class="listing-short-detail">
												<h4 class="listing-name"><a href="single-property-2.html">Strive Partners Realty</a></h4>
												<div class="fr-can-rating">
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star"></i>
													<span class="reviews_text">(42 Reviews)</span>
												</div>
												<span class="prt-types sale">For Sale</span>
											</div>
											<div class="list-price">
												<h6 class="listing-card-info-price">Rs. 6,200</h6>
											</div>
										</div>
									</div>
									
									<div class="price-features-wrapper">
										<div class="list-fx-features">
											<div class="listing-card-info-icon">
												3 Beds
											</div>
											<div class="listing-card-info-icon">
												1 Bath
											</div>
											<div class="listing-card-info-icon">
												800 sqft
											</div>
										</div>
									</div>
								
									<div class="listing-footer-wrapper">
										<div class="listing-locate">
											<span class="listing-location"><i class="ti-location-pin"></i>Quice Market, Harni</span>
										</div>
										<div class="listing-detail-btn">
											<a href="single-property-2.html" class="more-btn">View</a>
										</div>
									</div>
									
								</div>
								
							</div>
						</div>
						<!-- Single Property End -->

						<!-- Single Property Start -->
						<div class="col-lg-6 col-md-12">
							<div class="property-listing property-1">
									
								<div class="listing-img-wrapper">
									<a href="single-property-2.html">
										
									</a>
								</div>
								
								<div class="listing-content">
								
									<div class="listing-detail-wrapper-box">
										<div class="listing-detail-wrapper">
											<div class="listing-short-detail">
												<h4 class="listing-name"><a href="single-property-2.html">Black Oak Realty</a></h4>
												<div class="fr-can-rating">
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star"></i>
													<span class="reviews_text">(42 Reviews)</span>
												</div>
												<span class="prt-types rent">For Rent</span>
											</div>
											<div class="list-price">
												<h6 class="listing-card-info-price">Rs. 8,400</h6>
											</div>
										</div>
									</div>
									
									<div class="price-features-wrapper">
										<div class="list-fx-features">
											<div class="listing-card-info-icon">
												3 Beds
											</div>
											<div class="listing-card-info-icon">
												1 Bath
											</div>
											<div class="listing-card-info-icon">
												800 sqft
											</div>
										</div>
									</div>
								
									<div class="listing-footer-wrapper">
										<div class="listing-locate">
											<span class="listing-location"><i class="ti-location-pin"></i>Quice Market, Harni</span>
										</div>
										<div class="listing-detail-btn">
											<a href="single-property-2.html" class="more-btn">View</a>
										</div>
									</div>
									
								</div>
								
							</div>
						</div>
						<!-- Single Property End -->								
						
					</div>
							
					<!-- Pagination -->
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 text-center">
							<a href="propertylisting" class="btn btn-theme-light rounded">Browse More Properties</a>
						</div>
					</div>
					
				</div>		
			</section>
			<!-- ============================ All Featured Property ================================== -->
			
			<!-- ============================ Step How To Use Start ================================== -->
		
			<!-- ========================== Download App Section =============================== -->						
			
			<!-- ============================ Call To Action ================================== -->
			
			<!-- ============================ Call To Action End ================================== -->
			
			<!-- ============================ Footer Start ================================== -->
            {% include 'footer.html' %}
		<!-- ============================================================== -->
		<!-- This page plugins -->
		<!-- ============================================================== -->

	</body>

</html>