<!DOCTYPE html>
<html lang="zxx">
	<head>
		{% load static %}
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <title>Realezi.com - Buy your dream property in Vadodara with assured best deals</title>
		<meta name="description" content="Discover your dream home with Realezi.com! Browse a wide range of real estate listings, from cozy apartments to luxurious estates. Our user-friendly platform makes finding the perfect property a breeze. Start your real estate journey today!">
        <!-- Custom CSS -->
        <link href="{% static 'front-end/css/styles.css' %}" rel="stylesheet">

		<!-- Custom Color Option -->
		<link href="{% static 'front-end/css/colors.css' %}" rel="stylesheet">

    </head>

    <body class="blue-skin">
		<style>
			
			li a{
				font-size: 14px;
			}
		</style>
        <div id="main-wrapper">
			<div class="header header-transparent change-logo">
				<div class="container">
					<nav id="navigation" class="navigation navigation-landscape">
						<div class="nav-header">
							<a class="nav-brand static-logo" href="#"><img src="{% static 'front-end/img/realezilogos.png' %}" class="logo" alt="" style="max-width:141px;height:38px !important;width:141px !important;"/></a>
							<a class="nav-brand fixed-logo" href="#"><img src="{% static 'front-end/img/realezilogos.png' %}" class="logo" alt="" style="margin-top:0px;max-width:141px;height:38px !important;width:141px !important;"/></a>
							<div class="nav-toggle"></div>
						</div>
						<div class="nav-menus-wrapper" style="transition-property: none;">
							<ul class="nav-menu">
								<li class="active"><a href="/" style="font-size: 13px;">Home<span class="submenu-indicator"></span></a></li>
								<li><a href="JavaScript:Void(0);"  style="font-size: 13px;">Buy<span class="submenu-indicator" style="margin-top:0px"></span></a>
									<ul class="nav-dropdown nav-submenu">
										<li>
											<a data-bs-toggle="modal" data-bs-target="#Residential"  style="font-size: 13px;">Residential</a>
										</li>
										<li>
											<a data-bs-toggle="modal" data-bs-target="#Commercial"  style="font-size: 13px;">Commercial</a>
										</li>
										
										<li>
											<a data-bs-toggle="modal" data-bs-target="#Plots"  style="font-size: 13px;">Plots</a>
										</li>
									</ul>
								</li>
								<li><a href="JavaScript:Void(0);"  style="font-size: 13px;">Services<span class="submenu-indicator"></span></a>
									<ul class="nav-dropdown nav-submenu">
										<li><a  data-bs-toggle="modal" data-bs-target="#homeloan"  style="font-size: 13px;">HomeLoan Assistance</a></li>
										<li><a  data-bs-toggle="modal" data-bs-target="#legaldocument"  style="font-size: 13px;">Legal Documentation Service</a></li>
									</ul>
								</li>
								<li><a href="/about-us"  style="font-size: 13px;">About Us</a></li>
								<li><a href="/contact"  style="font-size: 13px;">Contact Us</a></li>
								<li><a href="signup"  style="margin-top:-12px;"><button type="button" class="btn btn-primary">Sell Your Property</button></a></li>
							</ul>
							
						</div>
					</nav>
				</div>
			</div>
						
			<!-- ============================ Hero Banner  Start================================== -->
		
			<!--Home Loan Modal -->
			
			<!--Ends Here-->
			<div class="video-cover hero-banner" style="margin-top:0px;height:900px !important" >
                <video autoplay loop muted playsinline poster="{% static 'front-end/img/banner-poster.jpg' %}">
                    <source src="{% static 'front-end/video/videoplayback2.mp4' %}" type="video/mp4" style="width:100%;">
                    <!-- Add other video sources for different formats if needed -->
                </video>
               <div class="container">
					<div class="hero-search-wrap" style="float:right;margin-top:-210px;margin-bottom:0px;" >
						<div class="hero-search" >
							<h3>Find Your Dream Property</h3>
						</div>
						<style>
							
						</style>
						<form method="post" action="{% url 'SaveInquiry' %}" >
							<div class="hero-search-content side-form" >
								{% csrf_token %}
								<div class="row">
									<div class="col-lg-12 col-md-12 col-sm-12">
										<div class="form-group ">
										<label>Select Locality dropdown</label>
										<select id="cities" class="form-control" name="cities" style="height:30px !important" required>
												<option value="">Select an area</option>
												<option value="Ajod">Ajod</option>
												<option value="Ajwa Road">Ajwa Road</option>
												<option value="Akota">Akota</option>
												<option value="Alkapuri">Alkapuri</option>
												<option value="Amaliyara">Amaliyara</option>
												<option value="Amodar">Amodar</option>
												<option value="Ampad">Ampad</option>
												<option value="Angadh">Angadh</option>
												<option value="Ankhol">Ankhol</option>
												<option value="Ankodia">Ankodia</option>
												<option value="Asoj">Asoj</option>
												<option value="Atladara">Atladara</option>
												<option value="Bajwa">Bajwa</option>
												<option value="Bakrol">Bakrol</option>
												<option value="Baranpura">Baranpura</option>
												<option value="Bhaily">Bhaily</option>
												<option value="Bill">Bill</option>
												<option value="Chapad">Chapad</option>
												<option value="Chemical Industries">Chemical Industries</option>
												<option value="Chhani Rd">Chhani Rd</option>
												<option value="Danteshwar">Danteshwar</option>
												<option value="Dashrath">Dashrath</option>
												<option value="Dhaniavi">Dhaniavi</option>
												<option value="Dhanora">Dhanora</option>
												<option value="Dodka">Dodka</option>
												<option value="Dumad">Dumad</option>
												<option value="Eme">Eme</option>
												<option value="Fartilizer Nagar">Fartilizer Nagar</option>
												<option value="Fateganj">Fateganj</option>
												<option value="Fatepura (vadodara)">Fatepura (vadodara)</option>
												<option value="Fazalpur">Fazalpur</option>
												<option value="Geb">Geb</option>
												<option value="Gorwa">Gorwa</option>
												<option value="Gosindra">Gosindra</option>
												<option value="Gotri">Gotri</option>
												<option value="Harni Colony">Harni Colony</option>
												<option value="Industrial Estate (vadodara)">Industrial Estate (vadodara)</option>
												<option value="Itola">Itola</option>
												<option value="Itola R.s.">Itola R.s.</option>
												<option value="Jambua">Jambua</option>
												<option value="Jawahar Nagar (vadodara)">Jawahar Nagar (vadodara)</option>
												<option value="Kalali">Kalali</option>
												<option value="Kapurai">Kapurai</option>
												<option value="Karchiya">Karchiya</option>
												<option value="Karelibaug">Karelibaug</option>
												<option value="Karodia">Karodia</option>
												<option value="Kelanpur">Kelanpur</option>
												<option value="Khanderao Market">Khanderao Market</option>
												<option value="Kotna">Kotna</option>
												<option value="Koyali">Koyali</option>
												<option value="Kumetha">Kumetha</option>
												<option value="M.i. Estate">M.i. Estate</option>
												<option value="Madanzampa">Madanzampa</option>
												<option value="Makarpura">Makarpura</option>
												<option value="Mandvi (vadodara)">Mandvi (vadodara)</option>
												<option value="Maneja">Maneja</option>
												<option value="Manjalpur">Manjalpur</option>
												<option value="Nandesari">Nandesari</option>
												<option value="Nandesari Ind. Estate">Nandesari Ind. Estate</option>
												<option value="Nimetha">Nimetha</option>
												<option value="Ongc Col">Ongc Col</option>
												<option value="Padmala">Padmala</option>
												<option value="Panchvati">Panchvati</option>
												<option value="Patarveni">Patarveni</option>
												<option value="Petrochemical T Ship">Petrochemical T Ship</option>
												<option value="Petrochemical">Petrochemical</option>
												<option value="Por">Por</option>
												<option value="Pratapganj (vadodara)">Pratapganj (vadodara)</option>
												<option value="Pratapnagar R.s.">Pratapnagar R.s.</option>
												<option value="Pratapnagar (vadodara)">Pratapnagar (vadodara)</option>
												<option value="Racecourse">Racecourse</option>
												<option value="Raika">Raika</option>
												<option value="Raipura">Raipura</option>
												<option value="Ramnath">Ramnath</option>
												<option value="Ranoli (vadodara)">Ranoli (vadodara)</option>
												<option value="Ruvand">Ruvand</option>
												<option value="Samiyala">Samiyala</option>
												<option value="Samsabad">Samsabad</option>
												<option value="Sankarda">Sankarda</option>
												<option value="Santkawnar Colony">Santkawnar Colony</option>
												<option value="Sarar">Sarar</option>
												<option value="Sardar Nagar Society">Sardar Nagar Society</option>
												<option value="Sayajiganj">Sayajiganj</option>
												<option value="Sayajipura">Sayajipura</option>
												<option value="Sevasi">Sevasi</option>
												<option value="Shahpura">Shahpura</option>
												<option value="Sharadnagar">Sharadnagar</option>
												<option value="Sherkhi">Sherkhi</option>
												<option value="Sindhrot">Sindhrot</option>
												<option value="Sisva">Sisva</option>
												<option value="Sokhda">Sokhda</option>
												<option value="Soma Talav">Soma Talav</option>
												<option value="Srp Group I">Srp Group I</option>
												<option value="Subhanpura">Subhanpura</option>
												<option value="Sundarpura">Sundarpura</option>
												<option value="T B Sanatorium">T B Sanatorium</option>
												<option value="Tandalja">Tandalja</option>
												<option value="Tarsali">Tarsali</option>
												<option value="Tatarpura">Tatarpura</option>
												<option value="Undera">Undera</option>
												<option value="Vadodara">Vadodara</option>
												<option value="Vadsala">Vadsala</option>
												<option value="Vadsar">Vadsar</option>
												<option value="Varnama">Varnama</option>
												<option value="Vasna Kotaria">Vasna Kotaria</option>
												<option value="Vasna Road">Vasna Road</option>
												<option value="Vidhyut Nagar Colony">Vidhyut Nagar Colony</option>
												<option value="Virod">Virod</option>
												<option value="Wadi S.n. Road">Wadi S.n. Road</option>
												<option value="Waghodia Road">Waghodia Road</option>
												<option value="Other">Other</option>
											</select>
											
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12 col-md-12 col-sm-12">
										<div class="form-group ">
										<label>Select Your Budget </label>
										<select id="Budget" class="form-control" name="budget" style="height:32px !important" required>
										<option value=""></option>
										<option value="20 - 35 lacs">20 - 35 lacs</option>
										<option value="35-50 lacs">35-50 lacs</option>
										<option value="50-65 lacs">50-65 lacs</option>
										<option value="65-80 lacs">65-80 lacs</option>
										<option value="80-1cr">80-1cr</option>
										<option value="1-1.5 cr">1-1.5 cr</option>
										<option value="1.5 cr +">1.5 cr +</option>
										</select>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-lg-12 col-md-6 col-sm-6">
									<div class="form-group">
										<label>Property Type</label>
										<select id="ptypes" class="form-control mainform" name="ptypes" required>
										<option value=""></option>
										<option value="Residential">Residential</option>
										<option value="Commercial">Commercial</option>
										<option value="Plots">Plots</option>
										</select>
									</div>
									</div>

									<div class="col-lg-12 col-md-6 col-sm-6">
									<div class="form-group">
										<label>Add Possession Type</label>
										<select id="postypes" class="form-control mainform" name="postypes" required>
										<option value=""></option>
										<option value="Ready To Move">Ready To Move</option>
										<option value="Ongoing">Ongoing</option>
										</select>
									</div>
									</div>

									<div class="col-lg-6 col-md-6 col-sm-6">
									<div class="form-group">
										<label>Name</label>
										<input type="text" class="form-control mainform" placeholder="Enter Name" name="name" required>
									</div>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6">
									<div class="form-group">
										<label>Phone No</label>
										<input type="number" class="form-control" placeholder="Enter Number" name="pno" id="phone"  maxlength="10" minlength="10" 
										title="Please enter a 10 to 12-digit phone number"
										oninput="validatePhoneNumber()" required>
									</div>
									<div id="sub1text" style="display:none;">Phone no. should be of 10 digit.</div>
									</div>
								</div>
								<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
								<script>
									function validatePhoneNumber() {
										var phoneNumber = document.getElementById("phone").value;
										
										var numericRegex = /^[0-9]+$/;
										
										if (phoneNumber.length >= 10 && phoneNumber.length <= 10 && numericRegex.test(phoneNumber)) {
											document.getElementById("phone").style.borderColor = ""; 
											$('#sub1').show();
											$('#sub1text').hide();
											// Clear any previous error
										} else {
											document.getElementById("phone").style.borderColor = "red"; // Highlight input on error
											$('#sub1text').show();
											$('#sub1').hide();
										}
									}
								</script>
								<div class="row">
									<div class="col-lg-12 col-md-12 col-sm-12">
										<div class="form-group">
											<label>Email</label>
											<input type="email" class="form-control mainform" placeholder="Email" name="email" required>
										</div>
									</div>
								</div>
							</div>
							<div class="hero-search-action">
								<input type="submit" class="btn search-btn submit" id="sub1" value="Submit" name="submit">
							</div>
						</form>
					</div>
			   </div>
			</div>
			<style>
                .video-cover {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                }

                .video-cover video {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            </style>
			<!-- ============================ Hero Banner End ================================== -->

			<!-- ============================ Step How To Use Start ================================== -->
			<section>
				<div class="container">

					<div class="row justify-content-center">
						<div class="col-lg-7 col-md-10 text-center">
							<div class="sec-heading center">
								<h2>End To End Assistance</h2>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-1 col-md-1"></div>
						<div class="col-lg-2 col-md-2">
							<div class="middle-icon-features-item">
								<div class="icon-features-wrap">
									<div class="middle-icon-large-features-box f-light-success">
										<i class="fa fa-file-audio text-success"></i>
									</div>
								</div>
								<div class="middle-icon-features-content">
									<h4>Share your requirement with us</h4>
<!--									<p>To begin your journey towards finding your dream home, start by sharing your specific-->
<!--requirements, budget, and any particular preferences you have for your ideal property. Let-->
<!--us know your needs so we can tailor our search to match your criteria perfectly.</p>-->
								</div>
							</div>
						</div>

						<div class="col-lg-2 col-md-2">
							<div class="middle-icon-features-item">
								<div class="icon-features-wrap">
									<div class="middle-icon-large-features-box f-light-warning">
										<i class="fa fa-house text-warning"></i>
									</div>
								</div>
								<div class="middle-icon-features-content">
									<h4>We will shortlist Right Property for You</h4>
<!--									<p>Once you've provided us with your requirements, we will dive into our extensive database of-->
<!--properties. Our platform utilizes advanced search filters to narrow down the options and-->
<!--present you with properties that fit your preferences and budget. You can browse through the-->
<!--shortlisted properties to find the ones that catch your interest.</p>-->
								</div>
							</div>
						</div>

						<div class="col-lg-2 col-md-2">
							<div class="middle-icon-features-item">
								<div class="icon-features-wrap">
									<div class="middle-icon-large-features-box f-light-purple">
										<i class="fa fa-calendar-check text-light-purple"></i>
									</div>
								</div>
								<div class="middle-icon-features-content">
									<h4>Schedule a site visit</h4>
<!--								<p>After shortlisting the properties, you can schedule a site visit to explore them in person. Our-->
<!--team of real estate consultants will be there to assist you at every stage of the site visit. If-->
<!--you have any questions or need professional advice, don't hesitate to reach out to us. We-->
<!--are committed to making your home-buying experience smooth and stress-free.</p>-->
								</div>
							</div>
						</div>

						<div class="col-lg-2 col-md-2">
							<div class="middle-icon-features-item">
								<div class="icon-features-wrap">
									<div class="middle-icon-large-features-box f-light-blue">
										<i class="fa fa-file-shield text-blue"></i>
									</div>
								</div>
								<div class="middle-icon-features-content">
									<h4>Secure the best deals</h4>
<!--									<p>With Realezi.com by your side, securing the best deals in the market becomes effortless.-->
<!--Our experts will negotiate on your behalf to ensure you get the most value for your-->
<!--investment. We understand the importance of getting the right property at the right price, and-->
<!--we'll work diligently to make that happen for you.</p>-->
								</div>
							</div>
						</div>

						<div class="col-lg-2 col-md-2">
							<div class="middle-icon-features-item remove">
								<div class="icon-features-wrap">
									<div class="middle-icon-large-features-box f-light-success">
										<i class="fa fa-inr text-success"></i>
									</div>
								</div>
								<div class="middle-icon-features-content">
									<h4>Post Purchase support</h4>
<!--									<p>Our relationship with you doesn't end with the purchase. We offer post-purchase services to-->
<!--help you settle into your new home comfortably. Whether you need assistance with home-->
<!--loan applications, finding interior designers, or any other support, we have you covered. Our-->
<!--aim is to ensure your satisfaction and happiness even after you have moved into your dream home.</p>-->
								</div>
							</div>
						</div>

					</div>

				</div>
			</section>
			<!-- ============================ Step How To Use End ====================== -->

			<!-- ================= Why Choose Realezi ================= -->
			<!-- <section class="bg-orange" style="background-color: #cbc7c74a !important;">
				<div class="" style="padding:0px;">
					<!-- row Start -->
					<!-- <div class="row align-items-center">

						<div class="col-lg-6 col-md-6">
							<img style="width:100%;height:500px;" src="https://csworldwide.in/wp-content/uploads/2017/04/why-us.jpg" class="img-fluid" alt="" />
						</div>

						<div class="col-lg-6 col-md-6">
							<div class="story-wrap explore-content" style="margin-top:-100px;">
								<br>
								<p><i class="fa fa-users"></i>&nbsp;&nbsp; <b>Personalization:</b> We believe in understanding our customers on a personal level, ensuring that we provide customised solutions tailored to their unique needs</p>
								<br>
								<p><i class="fa fa-handshake"></i> &nbsp;&nbsp;<b>Best Deals:</b> Our team works tirelessly to secure the best deals available in the market, helping you make the most of your investment.</p>
								<br>
								<p><i class="fa fa-headset"></i> &nbsp;&nbsp;<b>Support Throughout the Journey:</b> From finding the perfect property to availing home loan  assistance and post-purchase services, we are here for you every step of the way.</p>
								<br>
								<p><i class="fa-solid fa-person-chalkboard"></i> &nbsp;&nbsp;<b>Trusted Guidance:</b> Think of us as the big brother you've always wanted by your side, guiding and supporting you throughout the home-buying process.</p>
							</div>
						</div>

					</div>
					<!-- /row -->
				<!-- </div>
			</section> -->
			
			<div class="how-section1" style="margin-top:0px;background-image: url('{% static 'front-end/img/realezi-banner.png' %}'); background-attachment: fixed; background-size: cover; -moz-background-size: cover; -webkit-background-size: cover; background-repeat: no-repeat; background-position: top center;">
				<div class="row">
					<h1 style="text-align:center;color:white;">Why Realezi ?</h1>
				</div>
				<div class="row">
					<div class="col-md-6 how-img">
						<img style="margin-top:-50px;width:37%" src="{% static 'front-end/img/personalization.png' %}" class="img-fluid" alt="" />
					</div>
					<div class="col-md-6 card" style="height:150px;padding:30px;background: #e0e0e061;">
						<h4 style="color:white;">Personalization</h4>
								<p class="text-muted" style="color:white !important;"> We believe in understanding our customers on a personal level, ensuring that we provide customised solutions tailored to their unique needs</p></p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 card" style="height:150px;padding:30px;background: #e0e0e061;">
						<h4 style="color:white;">Best Deals</h4>
									<p class="text-muted" style="color:white !important;"> Our team works tirelessly to secure the best deals available in the market, helping you make the most of your investment.</p>
					</div>
					<div class="col-md-6 how-img">
						<img  style="margin-top:-50px;width:37%"  src="{% static 'front-end/img/bestdeal.png' %}" class="img-fluid" alt=""/>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 how-img">
						 <img  style="margin-top:-30px;width:33%" src="{% static 'front-end/img/support.png' %}" class="img-fluid" alt=""/>
					</div>
					<div class="col-md-6 card" style="height:150px;padding:30px;background: #e0e0e061;">
						<h4 style="color:white;">Support Throughout the Journey</h4>
									<p class="text-muted" style="color:white !important;">From finding the perfect property to availing home loan  assistance and post-purchase services, we are here for you every step of the way.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 card" style="height:150px;padding:30px;background: #e0e0e061;">
						<h4 style="color:white;">Trusted Guidance</h4>
									<p class="text-muted" style="color:white !important;"> Think of us as the big brother you've always wanted by your side, guiding and supporting you throughout the home-buying process.</p>
					</div>
					<div class="col-md-6 how-img">
						<img  style="margin-top:-50px;width:33%" src="{% static 'front-end/img/trust.png' %}" class="img-fluid" alt=""/>
					</div>
				</div>
			</div>
			<style>
				.how-section1{
						margin-top:-15%;
						padding: 2%;
					}
					.how-section1 h4{
						color: #ffa500;
						font-weight: bold;
						font-size: 30px;
					}
					.how-section1 .subheading{
						color: #3931af;
						font-size: 20px;
					}
					.how-section1 .row
					{
						margin-top: 5%;
					}
					.how-img 
					{
						text-align: center;
					}
					.how-img img{
						width: 40%;
					}
			</style>
			<!-- <section>
				<div class="container">
					
					<div class="row justify-content-center">
						<div class="col-lg-7 col-md-10 text-center">
							<div class="sec-heading center mb-4">
								<h2>Achievement</h2>
								<p>In Very Short Amount of Span, Realezi has marked its importance in front of clients</p></div>
						</div>
					</div>
					
					<div class="row">
						<div class="col-lg-3 col-md-3 col-sm-6">
							<div class="achievement-wrap">
								<div class="achievement-content">
									<h4>150+</h4>
									<p>Projects</p>
								</div>
							</div>
						</div>
						
						<div class="col-lg-3 col-md-3 col-sm-6">
							<div class="achievement-wrap">
								<div class="achievement-content">
									<h4>15+</h4>
									<p>Developers</p>
								</div>
							</div>
						</div>
						
						<div class="col-lg-3 col-md-3 col-sm-6">
							<div class="achievement-wrap">
								<div class="achievement-content">
									<h4>25+</h4>
									<p>Happy Customers</p>
								</div>
							</div>
						</div>
						
						<div class="col-lg-3 col-md-3 col-sm-6">
							<div class="achievement-wrap">
								<div class="achievement-content">
									<h4>12 cr+</h4>
									<p>Worth Properties Sold</p>
								</div>
							</div>
						</div>
						
					</div>
					
				</div>
			</section> -->
			<!-- ================================= Why Choose Realezi =============================== -->

			<!-- ============================ Smart Testimonials ================================== -->
<!--			<section class="bg-orange">-->
<!--				<div class="container">-->

<!--					<div class="row justify-content-center">-->
<!--						<div class="col-lg-7 col-md-10 text-center">-->
<!--							<div class="sec-heading center">-->
<!--								<h2>Good Reviews by Customers</h2>-->
<!--								<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores</p>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->

<!--					<div class="row justify-content-center">-->

<!--						<div class="col-lg-12 col-md-12">-->

<!--							<div class="smart-textimonials smart-center" id="smart-textimonials">-->

<!--								&lt;!&ndash; Single Item &ndash;&gt;-->
<!--								<div class="item">-->
<!--									<div class="item-box">-->
<!--										<div class="smart-tes-author">-->
<!--											<div class="st-author-box">-->
<!--												<div class="st-author-thumb">-->
<!--													<div class="quotes bg-blue"><i class="ti-quote-right"></i></div>-->
<!--													<img src="{% static 'front-end/img/user-1.jpg' %}" class="img-fluid" alt="" />-->
<!--												</div>-->
<!--											</div>-->
<!--										</div>-->

<!--										<div class="smart-tes-content">-->
<!--											<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti.</p>-->
<!--										</div>-->

<!--										<div class="st-author-info">-->
<!--											<h4 class="st-author-title">Adam Williams</h4>-->
<!--											<span class="st-author-subtitle">CEO Of Microwoft</span>-->
<!--										</div>-->
<!--									</div>-->
<!--								</div>-->

<!--								&lt;!&ndash; Single Item &ndash;&gt;-->
<!--								<div class="item">-->
<!--									<div class="item-box">-->
<!--										<div class="smart-tes-author">-->
<!--											<div class="st-author-box">-->
<!--												<div class="st-author-thumb">-->
<!--													<div class="quotes bg-inverse"><i class="ti-quote-right"></i></div>-->
<!--													<img src="{% static 'front-end/img/user-2.jpg' %}" class="img-fluid" alt="" />-->
<!--												</div>-->
<!--											</div>-->
<!--										</div>-->

<!--										<div class="smart-tes-content">-->
<!--											<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti.</p>-->
<!--										</div>-->

<!--										<div class="st-author-info">-->
<!--											<h4 class="st-author-title">Retha Deowalim</h4>-->
<!--											<span class="st-author-subtitle">CEO Of Apple</span>-->
<!--										</div>-->
<!--									</div>-->
<!--								</div>-->

<!--								&lt;!&ndash; Single Item &ndash;&gt;-->
<!--								<div class="item">-->
<!--									<div class="item-box">-->
<!--										<div class="smart-tes-author">-->
<!--											<div class="st-author-box">-->
<!--												<div class="st-author-thumb">-->
<!--													<div class="quotes bg-purple"><i class="ti-quote-right"></i></div>-->
<!--													<img src="{% static 'front-end/img/user-3.jpg' %}" class="img-fluid" alt="" />-->
<!--												</div>-->
<!--											</div>-->
<!--										</div>-->

<!--										<div class="smart-tes-content">-->
<!--											<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti.</p>-->
<!--										</div>-->

<!--										<div class="st-author-info">-->
<!--											<h4 class="st-author-title">Sam J. Wasim</h4>-->
<!--											<span class="st-author-subtitle">Pio Founder</span>-->
<!--										</div>-->
<!--									</div>-->
<!--								</div>-->

<!--								&lt;!&ndash; Single Item &ndash;&gt;-->
<!--								<div class="item">-->
<!--									<div class="item-box">-->
<!--										<div class="smart-tes-author">-->
<!--											<div class="st-author-box">-->
<!--												<div class="st-author-thumb">-->
<!--													<div class="quotes bg-primary"><i class="ti-quote-right"></i></div>-->
<!--													<img src="{% static 'front-end/img/user-4.jpg' %}" class="img-fluid" alt="" />-->
<!--												</div>-->
<!--											</div>-->
<!--										</div>-->

<!--										<div class="smart-tes-content">-->
<!--											<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti.</p>-->
<!--										</div>-->

<!--										<div class="st-author-info">-->
<!--											<h4 class="st-author-title">Usan Gulwarm</h4>-->
<!--											<span class="st-author-subtitle">CEO Of Facewarm</span>-->
<!--										</div>-->
<!--									</div>-->
<!--								</div>-->

<!--								&lt;!&ndash; Single Item &ndash;&gt;-->
<!--								<div class="item">-->
<!--									<div class="item-box">-->
<!--										<div class="smart-tes-author">-->
<!--											<div class="st-author-box">-->
<!--												<div class="st-author-thumb">-->
<!--													<div class="quotes bg-success"><i class="ti-quote-right"></i></div>-->
<!--													<img src="{% static 'front-end/img/user-5.jpg' %}" class="img-fluid" alt="" />-->
<!--												</div>-->
<!--											</div>-->
<!--										</div>-->

<!--										<div class="smart-tes-content">-->
<!--											<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti.</p>-->
<!--										</div>-->

<!--										<div class="st-author-info">-->
<!--											<h4 class="st-author-title">Shilpa Shethy</h4>-->
<!--											<span class="st-author-subtitle">CEO Of Zapple</span>-->
<!--										</div>-->
<!--									</div>-->
<!--								</div>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--			</section>-->
			<!-- ============================ Smart Testimonials End ================================== -->

			<!-- ============================ FAQ ================================== -->
			<section class="bg-light" >
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-7 col-md-10 text-center">
							<div class="sec-heading center">
								<h2 style="margin-top:-40px;">FAQs</h2>
							</div>
						</div>
					</div>
					<div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="general-tab">
						<div class="accordion" id="generalac">
							<div class="card">
								<div class="card-header" id="headingOne">
								<h2 class="mb-0">
								<button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
									Why should I choose Realezi platform for my home-buying needs?
								</button>
								</h2>
								</div>
								<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-bs-parent="#generalac">
									<div class="card-body">
										<p class="ac-para">Because its a one stop solution for your real estate needs.</p>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card-header" id="headingTwo">
									<h2 class="mb-0">
										<button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
											How can Realezi help me find the right property at the right rate?
										</button>
									</h2>
								</div>
								<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#generalac">
									<div class="card-body">
										<p class="ac-para">At Realezi , we have an extensive database of properties, and our advanced search filters ensure that you find properties that align with your specific needs and budget. Our team of experts also negotiates on your behalf to secure the best deals in the market, making the home-buying process stress-free and rewarding.</p>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card-header" id="headingThree">
									<h2 class="mb-0">
										<button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
											What post-purchase services does Realezi platform offer?
										</button>
									</h2>
								</div>
								<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-bs-parent="#generalac">
									<div class="card-body">
										<p class="ac-para">We offers a range of post-purchase services, including home loan assistance, access to interior designers, packers and movers, legal documentation support, and ongoing consultation from our real estate experts. We are here to ensure a smooth transition into your new home and beyond.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<!-- ============================  FAQ ================================== -->


			<!-- ============================ Footer Start ================================== -->
			{% include 'footer.html' %}
			<!-- ============================ Footer End ================================== -->
		</div>
	</body>
</html>