<!DOCTYPE html>
<html lang="zxx">
	<head>
		{% load static %}
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <title>Realezi</title>

        <!-- Custom CSS -->
        <link href="{% static 'front-end/css/styles.css' %}" rel="stylesheet">

		<!-- Custom Color Option -->
		<link href="{% static 'front-end/css/colors.css' %}" rel="stylesheet">

    </head>

    <body class="blue-skin">
		{% include 'header.html' %}

        <div id="main-wrapper">

			<!-- ============================ Hero Banner  Start================================== -->
			<div class="image-cover hero-banner" style="background:url({% static 'front-end/img/banner-static.jpg' %}) no-repeat;">
               <div class="container">
					<div class="hero-search-wrap" >
						<div class="hero-search" >
							<h1>Find Your Dream Home</h1>
						</div>
						<form method="post" action="{% url 'SaveInquiry' %}" >
							<div class="hero-search-content side-form" >
								{% csrf_token %}
								<div class="row">
									<div class="col-lg-12 col-md-12 col-sm-12">
										<div class="form-group">
										<label>Select Locality dropdown</label>
										<select id="cities" class="form-control" name="cities">
										<option value=""></option>
										<option value="akota">Akota</option>
										<option value="alakapuri">Alkapuri</option>
										<option value="fatehgunj">Fatehgunj</option>
										<option value="gotri">Gotri</option>
										<option value="manjalpur">Manjalpur</option>
										<option value="nizampura">Nizampura</option>
										<option value="sama">Sama</option>
										<option value="sayajigunj">Sayajigunj</option>
										</select>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12 col-md-12 col-sm-12">
										<div class="form-group">
										<label>Budget</label>
										<input type="text" class="form-control" placeholder="Budget" name="budget">
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-lg-12 col-md-6 col-sm-6">
									<div class="form-group">
										<label>Property Type</label>
										<select id="ptypes" class="form-control" name="ptypes">
										<option value=""></option>
										<option value="1">Residential</option>
										<option value="2">Commercial</option>
										<option value="2">Plots</option>
										</select>
									</div>
									</div>

									<div class="col-lg-12 col-md-6 col-sm-6">
									<div class="form-group">
										<label>Add Possession Type</label>
										<select id="postypes" class="form-control" name="postypes">
										<option value=""></option>
										<option value="1">Ready To Move</option>
										<option value="2">Ongoing</option>
										</select>
									</div>
									</div>

									<div class="col-lg-6 col-md-6 col-sm-6">
									<div class="form-group">
										<label>Name</label>
										<input type="text" class="form-control" placeholder="Enter Name" name="name">
									</div>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6">
									<div class="form-group">
										<label>Phone No</label>
										<input type="text" class="form-control" placeholder="Enter Number" name="pno">
									</div>
									</div>
								</div>

								<div class="row">
									<div class="col-lg-12 col-md-12 col-sm-12">
										<div class="form-group">
											<label>Email</label>
											<input type="text" class="form-control" placeholder="Email" name="email">
										</div>
									</div>
								</div>
							</div>
							<div class="hero-search-action">
								<input type="submit" class="btn search-btn submit" value="Submit" name="submit">
							</div>
						</form>
					</div>
			   </div>
			</div>
			<style>
                .video-cover {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                }

                .video-cover video {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            </style>
			<!-- ============================ Hero Banner End ================================== -->

			<!-- ============================ Step How To Use Start ================================== -->
			<section>
				<div class="container">

					<div class="row justify-content-center">
						<div class="col-lg-7 col-md-10 text-center">
							<div class="sec-heading center">
								<h2>How It Works?</h2>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-1 col-md-1"></div>
						<div class="col-lg-2 col-md-2">
							<div class="middle-icon-features-item">
								<div class="icon-features-wrap">
									<div class="middle-icon-large-features-box f-light-success">
										<i class="fa fa-file-audio text-success"></i>
									</div>
								</div>
								<div class="middle-icon-features-content">
									<h4>Share your requirement</h4>
<!--									<p>To begin your journey towards finding your dream home, start by sharing your specific-->
<!--requirements, budget, and any particular preferences you have for your ideal property. Let-->
<!--us know your needs so we can tailor our search to match your criteria perfectly.</p>-->
								</div>
							</div>
						</div>

						<div class="col-lg-2 col-md-2">
							<div class="middle-icon-features-item">
								<div class="icon-features-wrap">
									<div class="middle-icon-large-features-box f-light-warning">
										<i class="fa fa-house text-warning"></i>
									</div>
								</div>
								<div class="middle-icon-features-content">
									<h4>Shortlist a right property</h4>
<!--									<p>Once you've provided us with your requirements, we will dive into our extensive database of-->
<!--properties. Our platform utilizes advanced search filters to narrow down the options and-->
<!--present you with properties that fit your preferences and budget. You can browse through the-->
<!--shortlisted properties to find the ones that catch your interest.</p>-->
								</div>
							</div>
						</div>

						<div class="col-lg-2 col-md-2">
							<div class="middle-icon-features-item">
								<div class="icon-features-wrap">
									<div class="middle-icon-large-features-box f-light-purple">
										<i class="fa fa-calendar-check text-light-purple"></i>
									</div>
								</div>
								<div class="middle-icon-features-content">
									<h4>Schedule a site visit</h4>
<!--								<p>After shortlisting the properties, you can schedule a site visit to explore them in person. Our-->
<!--team of real estate consultants will be there to assist you at every stage of the site visit. If-->
<!--you have any questions or need professional advice, don't hesitate to reach out to us. We-->
<!--are committed to making your home-buying experience smooth and stress-free.</p>-->
								</div>
							</div>
						</div>

						<div class="col-lg-2 col-md-2">
							<div class="middle-icon-features-item">
								<div class="icon-features-wrap">
									<div class="middle-icon-large-features-box f-light-blue">
										<i class="fa fa-file-shield text-blue"></i>
									</div>
								</div>
								<div class="middle-icon-features-content">
									<h4>Secure the best deals</h4>
<!--									<p>With Realezi.com by your side, securing the best deals in the market becomes effortless.-->
<!--Our experts will negotiate on your behalf to ensure you get the most value for your-->
<!--investment. We understand the importance of getting the right property at the right price, and-->
<!--we'll work diligently to make that happen for you.</p>-->
								</div>
							</div>
						</div>

						<div class="col-lg-2 col-md-2">
							<div class="middle-icon-features-item remove">
								<div class="icon-features-wrap">
									<div class="middle-icon-large-features-box f-light-success">
										<i class="fa fa-inr text-success"></i>
									</div>
								</div>
								<div class="middle-icon-features-content">
									<h4>Post Purchase support</h4>
<!--									<p>Our relationship with you doesn't end with the purchase. We offer post-purchase services to-->
<!--help you settle into your new home comfortably. Whether you need assistance with home-->
<!--loan applications, finding interior designers, or any other support, we have you covered. Our-->
<!--aim is to ensure your satisfaction and happiness even after you have moved into your dream home.</p>-->
								</div>
							</div>
						</div>

					</div>

				</div>
			</section>
			<!-- ============================ Step How To Use End ====================== -->

			<!-- ================= Why Choose Realezi ================= -->
			<section class="bg-light">
				<div class="" style="padding:20px;">
					<!-- row Start -->
					<div class="row align-items-center">

						<div class="col-lg-6 col-md-6">
							<img style="width:100%;margin-top:-10px;" src="{% static 'front-end/img/gl-1.png' %}" class="img-fluid" alt="" />
						</div>

						<div class="col-lg-6 col-md-6">
							<div class="story-wrap explore-content">
								<center><h2 style="font-family:'Open sans-serif'">Why Choose Realezi.com?</h2></center>
								<p><b>Personalization:</b> We believe in understanding our customers on a personal level, ensuring that we provide customised solutions tailored to their unique needs</p>
								<p><b>Best Deals:</b> Our team works tirelessly to secure the best deals available in the market, helping you make the most of your investment.</p>
								<p><b>Support Throughout the Journey:</b> From finding the perfect property to availing home loan  assistance and post-purchase services, we are here for you every step of the way.</p>
								<p><b>Trusted Guidance:</b> Think of us as the big brother you've always wanted by your side, guiding and supporting you throughout the home-buying process.</p>
							</div>
						</div>

					</div>
					<!-- /row -->
				</div>
			</section>
			<!-- ================================= Why Choose Realezi =============================== -->

			<!-- ============================ Smart Testimonials ================================== -->
			<section class="bg-orange">
				<div class="container">

					<div class="row justify-content-center">
						<div class="col-lg-7 col-md-10 text-center">
							<div class="sec-heading center">
								<h2>Good Reviews by Customers</h2>
								<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores</p>
							</div>
						</div>
					</div>

					<div class="row justify-content-center">

						<div class="col-lg-12 col-md-12">

							<div class="smart-textimonials smart-center" id="smart-textimonials">

								<!-- Single Item -->
								<div class="item">
									<div class="item-box">
										<div class="smart-tes-author">
											<div class="st-author-box">
												<div class="st-author-thumb">
													<div class="quotes bg-blue"><i class="ti-quote-right"></i></div>
													<img src="{% static 'front-end/img/user-1.jpg' %}" class="img-fluid" alt="" />
												</div>
											</div>
										</div>

										<div class="smart-tes-content">
											<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti.</p>
										</div>

										<div class="st-author-info">
											<h4 class="st-author-title">Adam Williams</h4>
											<span class="st-author-subtitle">CEO Of Microwoft</span>
										</div>
									</div>
								</div>

								<!-- Single Item -->
								<div class="item">
									<div class="item-box">
										<div class="smart-tes-author">
											<div class="st-author-box">
												<div class="st-author-thumb">
													<div class="quotes bg-inverse"><i class="ti-quote-right"></i></div>
													<img src="{% static 'front-end/img/user-2.jpg' %}" class="img-fluid" alt="" />
												</div>
											</div>
										</div>

										<div class="smart-tes-content">
											<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti.</p>
										</div>

										<div class="st-author-info">
											<h4 class="st-author-title">Retha Deowalim</h4>
											<span class="st-author-subtitle">CEO Of Apple</span>
										</div>
									</div>
								</div>

								<!-- Single Item -->
								<div class="item">
									<div class="item-box">
										<div class="smart-tes-author">
											<div class="st-author-box">
												<div class="st-author-thumb">
													<div class="quotes bg-purple"><i class="ti-quote-right"></i></div>
													<img src="{% static 'front-end/img/user-3.jpg' %}" class="img-fluid" alt="" />
												</div>
											</div>
										</div>

										<div class="smart-tes-content">
											<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti.</p>
										</div>

										<div class="st-author-info">
											<h4 class="st-author-title">Sam J. Wasim</h4>
											<span class="st-author-subtitle">Pio Founder</span>
										</div>
									</div>
								</div>

								<!-- Single Item -->
								<div class="item">
									<div class="item-box">
										<div class="smart-tes-author">
											<div class="st-author-box">
												<div class="st-author-thumb">
													<div class="quotes bg-primary"><i class="ti-quote-right"></i></div>
													<img src="{% static 'front-end/img/user-4.jpg' %}" class="img-fluid" alt="" />
												</div>
											</div>
										</div>

										<div class="smart-tes-content">
											<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti.</p>
										</div>

										<div class="st-author-info">
											<h4 class="st-author-title">Usan Gulwarm</h4>
											<span class="st-author-subtitle">CEO Of Facewarm</span>
										</div>
									</div>
								</div>

								<!-- Single Item -->
								<div class="item">
									<div class="item-box">
										<div class="smart-tes-author">
											<div class="st-author-box">
												<div class="st-author-thumb">
													<div class="quotes bg-success"><i class="ti-quote-right"></i></div>
													<img src="{% static 'front-end/img/user-5.jpg' %}" class="img-fluid" alt="" />
												</div>
											</div>
										</div>

										<div class="smart-tes-content">
											<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti.</p>
										</div>

										<div class="st-author-info">
											<h4 class="st-author-title">Shilpa Shethy</h4>
											<span class="st-author-subtitle">CEO Of Zapple</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- ============================ Smart Testimonials End ================================== -->

			<!-- ============================ FAQ ================================== -->
			<section class="bg-light" >
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-7 col-md-10 text-center">
							<div class="sec-heading center">
								<h2>FAQs</h2>
							</div>
						</div>
					</div>
					<div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="general-tab">
						<div class="accordion" id="generalac">
							<div class="card">
								<div class="card-header" id="headingOne">
								<h2 class="mb-0">
								<button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
									Why should I choose Realezi platform for my home-buying needs?
								</button>
								</h2>
								</div>
								<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-bs-parent="#generalac">
									<div class="card-body">
										<p class="ac-para">Realezi is a pioneering Indian start-up dedicated to simplifying the process of purchasing your dream home. We offer a comprehensive one-stop solution, personalised support, the best deals in the market, and a vision to be your trusted companion throughout the home-buying journey. With Realezi, you'll have a seamless and delightful home-buying experience.</p>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card-header" id="headingTwo">
									<h2 class="mb-0">
										<button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
											How can Realezi help me find the right property at the right rate?
										</button>
									</h2>
								</div>
								<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#generalac">
									<div class="card-body">
										<p class="ac-para">At Realezi.com, we have an extensive database of properties, and our advanced search filters ensure that you find properties that align with your specific needs and budget. Our team of experts also negotiates on your behalf to secure the best deals in the market, making the home-buying process stress-free and rewarding.</p>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card-header" id="headingThree">
									<h2 class="mb-0">
										<button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
											What post-purchase services does Realezi platform offer?
										</button>
									</h2>
								</div>
								<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-bs-parent="#generalac">
									<div class="card-body">
										<p class="ac-para">We offers a range of post-purchase services, including home loan assistance, access to interior designers, packers and movers, legal documentation support, and ongoing consultation from our real estate experts. We are here to ensure a smooth transition into your new home and beyond.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<!-- ============================  FAQ ================================== -->


			<!-- ============================ Call To Action ================================== -->
			<section class="theme-bg call-to-act-wrap" style="background-color:#111720;">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">

							<div class="call-to-act">
								<div class="call-to-act-head">
									<h3>Want to Sell Your Properties</h3>
									<span>We'll help you in that</span>
								</div>
								<a href="#" class="btn btn-call-to-act">Connect  Today</a>
							</div>

						</div>
					</div>
				</div>
			</section>
			<!-- ============================ Call To Action End ================================== -->

			<!-- ============================ Footer Start ================================== -->
			{% include 'footer.html' %}
			<!-- ============================ Footer End ================================== -->

			<!-- Log In Modal -->
			<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="registermodal" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered login-pop-form" role="document">
					<div class="modal-content" id="registermodal">
						<span class="mod-close" data-bs-dismiss="modal" aria-hidden="true"><i class="ti-close"></i></span>
						<div class="modal-body">
							<h4 class="modal-header-title">Log In</h4>
							<div class="login-form">
								<form>

									<div class="form-group">
										<label>User Name</label>
										<div class="input-with-icon">
											<input type="text" class="form-control" placeholder="Username">
											<i class="ti-user"></i>
										</div>
									</div>

									<div class="form-group">
										<label>Password</label>
										<div class="input-with-icon">
											<input type="password" class="form-control" placeholder="*******">
											<i class="ti-unlock"></i>
										</div>
									</div>

									<div class="form-group">
										<button type="submit" class="btn btn-md full-width btn-theme-light-2 rounded">Login</button>
									</div>

								</form>
							</div>
							<div class="modal-divider"><span>Or login via</span></div>
							<div class="social-login mb-3">
								<ul>
									<li><a href="#" class="btn connect-fb"><i class="ti-facebook"></i>Facebook</a></li>
									<li><a href="#" class="btn connect-google"><i class="ti-google"></i>Google+</a></li>
								</ul>
							</div>
							<div class="text-center">
								<p class="mt-5"><a href="#" class="link">Forgot password?</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Modal -->

			<!-- Sign Up Modal -->
			<div class="modal fade signup" id="signup" tabindex="-1" role="dialog" aria-labelledby="sign-up" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered login-pop-form" role="document">
					<div class="modal-content" id="sign-up">
						<span class="mod-close" data-bs-dismiss="modal" aria-hidden="true"><i class="ti-close"></i></span>
						<div class="modal-body">
							<h4 class="modal-header-title">Sign Up</h4>
							<div class="login-form">
								<form>

									<div class="row">

										<div class="col-lg-6 col-md-6">
											<div class="form-group">
												<div class="input-with-icon">
													<input type="text" class="form-control" placeholder="Full Name">
													<i class="ti-user"></i>
												</div>
											</div>
										</div>

										<div class="col-lg-6 col-md-6">
											<div class="form-group">
												<div class="input-with-icon">
													<input type="email" class="form-control" placeholder="Email">
													<i class="ti-email"></i>
												</div>
											</div>
										</div>

										<div class="col-lg-6 col-md-6">
											<div class="form-group">
												<div class="input-with-icon">
													<input type="text" class="form-control" placeholder="Username">
													<i class="ti-user"></i>
												</div>
											</div>
										</div>

										<div class="col-lg-6 col-md-6">
											<div class="form-group">
												<div class="input-with-icon">
													<input type="password" class="form-control" placeholder="*******">
													<i class="ti-unlock"></i>
												</div>
											</div>
										</div>

										<div class="col-lg-6 col-md-6">
											<div class="form-group">
												<div class="input-with-icon">
													<input type="password" class="form-control" placeholder="123 546 5847">
													<i class="lni-phone-handset"></i>
												</div>
											</div>
										</div>

										<div class="col-lg-6 col-md-6">
											<div class="form-group">
												<div class="input-with-icon">
													<select class="form-control">
														<option>As a Customer</option>
														<option>As a Agent</option>
														<option>As a Agency</option>
													</select>
													<i class="ti-briefcase"></i>
												</div>
											</div>
										</div>

									</div>

									<div class="form-group">
										<button type="submit" class="btn btn-md full-width btn-theme-light-2 rounded">Sign Up</button>
									</div>

								</form>
							</div>
							<div class="modal-divider"><span>Or login via</span></div>
							<div class="social-login mb-3">
								<ul>
									<li><a href="#" class="btn connect-fb"><i class="ti-facebook"></i>Facebook</a></li>
									<li><a href="#" class="btn connect-google"><i class="ti-google"></i>Google+</a></li>
								</ul>
							</div>
							<div class="text-center">
								<p class="mt-5"><i class="ti-user mr-1"></i>Already Have An Account? <a href="#" class="link">Go For LogIn</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Modal -->

			<a id="back2Top" class="top-scroll" title="Back to top" href="#"><i class="ti-arrow-up"></i></a>


		</div>
		<!-- ============================================================== -->
		<!-- End Wrapper -->
		<!-- ============================================================== -->

		<!-- ============================================================== -->
		<!-- All Jquery -->
		<!-- ============================================================== -->
		<script src="{% static 'front-end/js/jquery.min.js' %}"></script>
		<script src="{% static 'front-end/js/popper.min.js' %}"></script>
		<script src="{% static 'front-end/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'front-end/js/rangeslider.js' %}"></script>
		<script src="{% static 'front-end/js/select2.min.js' %}"></script>
		<script src="{% static 'front-end/js/jquery.magnific-popup.min.js' %}"></script>
		<script src="{% static 'front-end/js/slick.js' %}"></script>
		<script src="{% static 'front-end/js/slider-bg.js' %}"></script>
		<script src="{% static 'front-end/js/lightbox.js' %}"></script>
		<script src="{% static 'front-end/js/imagesloaded.js' %}"></script>

		<script src="{% static 'front-end/js/custom.js' %}"></script>
		<!-- ============================================================== -->
		<!-- This page plugins -->
		<!-- ============================================================== -->

	</body>
</html>