<!DOCTYPE html>
<html lang="en">

<head>
    <!-- META TAGS -->
    <meta charset="utf-8">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5"> 
    {% load static %}
    <!-- WEBSITE TITLE & DESCRIPTION -->
    <title>Realezi-Click, Connect, Close</title>
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- OG meta tags that improve the look of your post on social media -->
    <meta property="og:site_name" content="" /><!--website name-->
    <meta property="og:site" content="" /> <!--website link-->
    <meta property="og:title" content=""/> <!--Post title-->
    <meta property="og:description" content="" /> <!--Post description-->
    <meta property="og:image" content="" /><!-- Image link (jpg only)-->
    <meta property="og:url" content="" /> <!--where do you want your post to link to-->
    <meta property="og:type" content="article" />

    <!-- Favicon and Apple Icons -->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'landing/images/favicon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'landing/images/favicon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'landing/images/favicon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'landing/images/favicon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'landing/images/favicon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'landing/images/favicon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'landing/images/favicon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'landing/images/favicon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'landing/images/favicon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'landing/images/favicon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'landing/images/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'landing/images/favicon/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'landing/images/favicon/favicon-16x16.png' %}">

    <!-- STYLES -->
    <!-- Bootstrap -->
    <link href="{% static 'landing/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Linearicoms -->
    <link href="{% static 'landing/css/linearicons.min.css' %}" rel="stylesheet">
    <!-- Animations -->
    <link href="{% static 'landing/css/animations.css' %}" rel="stylesheet">
    <!-- Lightbox -->
    <link href="{% static 'landing/css/lightbox.min.css' %}" rel="stylesheet">
    <!-- Video Lightbox -->
    <link href="{% static 'landing/css/modal-video.min.css' %}" rel="stylesheet">
    <!-- Main Stylesheet -->
    <link href="{% static 'landing/css/style.css' %}" rel="stylesheet">

    <!-- Required style of the theme -->
    {% comment %} <link rel="stylesheet" href="{% static 'frontpart/assets/css/bootstrap.min.css' %}"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/bootstrap-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/webfonts/flaticon/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/owl.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/jquery.fancybox.min.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/layerslider.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/template.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/colors/color.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/loader.css' %}">
    <style>
        .breadcrumb-item+.breadcrumb-item::before{
            display:none !important;
        }
    </style>

</head>
<body>
    <!-- Loading Screen -->
    <div id="loader-wrapper">
        <!-- <img class="loader-logo img-fluid" src="{% static 'frontpart/assets/realezilogos.png' %}" alt="lading screen logo">
        -->
        <p class="loader-logo">REALEZI</p>
        <div id="progress"></div>
        <p class="loader-text">LOADING</p>
    </div>
    
    <!-- //// HEADER //// -->
    <header id="main-header">
        <nav class="navbar fixed-top navbar-expand-lg navbar-light">
            <div class="container">
                <!-- Site Logo -->
                <a id="main-logo" class="navbar-brand" href="#">REALEZI</a>
                <!-- Dropdown Button -->
                <button id="hamburger" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                </button>
                <!-- Navigation Links -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#features">Blogs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#pricing">Careers</a>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </nav>
    </header><!-- Header End -->
    
    <!-- /// HERO SECTION /// -->
    <div id="hero-section">
        <div class="row hero-unit angled-section large-margin">
            <div class="container">
                <div class="hero-caption"><!-- Main Tagline -->
                    <div class="animation-element pop-in">
                        <img id="logo" src="{% static 'frontpart/assets/realezilogos.png' %}" class="img-fluid" alt="logo" style="background:#ffffff4f;height:70px;width:300px;">
                    </div>
                    <div class="animation-element slide-down">
                        <h1>Click. Connect. Close</h1>
                        <p>Find your Dream House in just 3 steps.</p>
                    </div>
                    <a class="button" href="#cta">Tell us about your Dream House</a>
                    <i id="arrow" class="lnr lnr-chevron-down colored"></i>
                </div>
            </div>
        </div>
    </div><!-- Hero Section End -->
    
    <div class="container"> <!-- /// Container /// -->
        <!-- /// ABOUT SECTION /// -->
        <div id="about-section" class="large-margin">
            <a id="features"></a><!-- Nav Anchor -->
            <div class="row justify-content-center tiny-margin">
                <h2 class="heading">Our Blogs</h2>
            </div>
            <div class="full-row pt-0">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12 sm-mb-30">
                            <div class="row row-cols-md-3 row-cols-3 g-4">
                                <div class="col">
                                    <div class="thumb-blog-overlay bg-white hover-text-PushUpBottom">
                                        <div class="post-image position-relative overlay-secondary">
                                            <img src="{% static 'frontpart/assets/images/blog/1.png' %}" alt="Image not found!">
                                            <div class="position-absolute xy-center">
                                                <div class="overflow-hidden text-center">
                                                    <a class="text-white first-push-up transation font-large" href="#">+</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="post-content p-4">
                                            <h5 class="d-block mb-3"><a href="#" class="transation text-dark hover-text-primary">Our latest development projects by more efficie.</a></h5>
                                            <div class="post-meta text-uppercase">
                                                <a href="#"><span>By Robert Haven</span></a>
                                                <a href="#"><span>Dec 25, 2019</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="thumb-blog-overlay bg-white hover-text-PushUpBottom">
                                        <div class="post-image position-relative overlay-secondary">
                                            <img src="{% static 'frontpart/assets/images/blog/2.png' %}" alt="Image not found!">
                                            <div class="position-absolute xy-center">
                                                <div class="overflow-hidden text-center">
                                                    <a class="text-white first-push-up transation font-large" href="#">+</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="post-content p-4">
                                            <h5 class="d-block mb-3"><a href="#" class="transation text-dark hover-text-primary">Cultivating market leadership from the inside.</a></h5>
                                            <div class="post-meta text-uppercase">
                                                <a href="#"><span>By Robert Haven</span></a>
                                                <a href="#"><span>Dec 25, 2019</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="thumb-blog-overlay bg-white hover-text-PushUpBottom">
                                        <div class="post-image position-relative overlay-secondary">
                                            <img src="{% static 'frontpart/assets/images/blog/3.png' %}" alt="Image not found!">
                                            <div class="position-absolute xy-center">
                                                <div class="overflow-hidden text-center">
                                                    <a class="text-white first-push-up transation font-large" href="#">+</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="post-content p-4">
                                            <h5 class="d-block mb-3"><a href="#" class="transation text-dark hover-text-primary">We are the next generation of the advertising.</a></h5>
                                            <div class="post-meta text-uppercase">
                                                <a href="#"><span>By Robert Haven</span></a>
                                                <a href="#"><span>Dec 25, 2019</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Feature Box -->
            
        </div>
    </div> <!-- /// Container End /// -->
    <div id="cta-section">
        <div class="container">
            <a id="cta"></a><!-- Nav Anchor -->
            <div class="row justify-content-center tiny-margin text-center">
                <h1 class="short-hr-center text-white">Get In Touch</h1>
            </div>
            <div class="row">
                <div class="col-md-6 text-center">
                    <form id="contactForm" data-toggle="validator">
                        <div class="form-group">
                            <!-- First Name Field -->
                            <input type="text" id="name" placeholder="Name*" required size="35" data-error="Name is required">
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <!-- Phone Number Field -->
                            <input type="tel" id="phone" placeholder="Phone Number*" required size="35" data-error="Phone Number is required">
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <!-- Email Field -->
                            <input type="email" id="email" required placeholder="Email*" data-error="Email is required" size="35">
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <!-- Message Field -->
                            <textarea id="message" name="message" placeholder="Message" data-error="Message cannot be empty"></textarea>
                        </div>                        
                        <div class="help-block with-errors"></div>
                        <p class="subtle">*required fields</p>
                        <!-- Submit Button -->
                        <button type="submit" class="button">FIND YOUR NEW HOUSE</button>
                        <!-- Success Message -->
                        <div id="msgSubmit" class="text-center hidden"></div>
                    </form>
                </div>
               <div class="col-md-6 text-center">
                    <div class="agent-card">
                        
                        <p class="agent-name short-hr-center">For More Info, Contact:</p>
                        <p><b>Phone:</b> <a href="tel:8780953097">87809 53097</a></p>
                        <p><b>Email:</b> <a href="mailto:hitesh@realezi.com7"></a>hitesh@realezi.com</a></p>
                        <a href="#"><i class="fab fa-facebook-f mr-4"></i></a>
                        <a href="#"><i class="fab fa-whatsapp mr-4"></i></a>
                        <a href="#"><i class="fab fa-instagram mr-4"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in mr-4"></i></a>
                        <a href="#"><i class="fab fa-google-plus-g"></i></a>
                       
                    </div>
                </div>
            </div>
        </div>
        <!-- <div id="footer">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>Copyright Vertiglast <span id="year"> </span></p>
                </div>
            </div>
        </div> -->
    </div>
    
    <!-- /// Container End /// -->
    <!-- /// CTA SECTION /// -->
   
    
    <!-- //// SCRIPTS //// -->
    <script src="{% static 'landing/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'landing/js/popper.min.js' %}"></script>
    <script src="{% static 'landing/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'landing/js/blazy.min.js' %}"></script>
    <script src="{% static 'landing/js/lightbox.min.js' %}"></script>
    <script src="{% static 'landing/js/jquery-modal-video.min.js' %}"></script>
    <script src="{% static 'landing/js/validator.min.js' %}"></script>
    <script src="{% static 'landing/js/vertiglast.js' %}"></script>

    <!-- Javascript Files -->
    <script src="{% static 'frontpart/assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/popper.min.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/jquery.fancybox.min.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/owl.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/range/tmpl.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/range/jquery.dependClass.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/range/draggable.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/range/jquery.slider.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/wow.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/mixitup.min.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/paraxify.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/custom.js' %}"></script>

</body>

</html>