<!DOCTYPE html>
<html lang="zxx">
	<head>
		{% load static %}
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>Realezi</title>

        <!-- Custom CSS -->
        <link href="{% static 'front-end/css/styles.css' %}" rel="stylesheet">
		<!-- Custom Color Option -->
		<link href="{% static 'front-end/css/colors.css' %}" rel="stylesheet">

    </head>

    <body class="blue-skin">
		{% include 'header.html' %}
        <div id="main-wrapper">
			<!-- ============================ Page Title Start================================== -->
			<!-- <div class="page-title" style="height:150px;">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12">
							
							<h2 class="ipt-title">Legal Documentation Service</h2>
							<span class="ipn-subtitle">We are here for you every step of the way.</span>
							
						</div>
					</div>
				</div>
			</div> -->
			<!-- ============================ Page Title End ================================== -->
			
			<!-- ============================ Agency List Start ================================== -->
			<section class="gray-simple" >
			
				<div class="container" style="padding:20px;margin-top:-50px;">
				
					<!-- row Start -->
					<div class="row">
					
						<!-- Blog Detail -->
					
						
						<!-- Single blog Grid -->
						<div class="col-lg-6 col-md-12 col-sm-12 col-12">
							
							<!-- Your Assistance-->
						 <div class="container">
								<div class="hero-search-wrap" >
									<div class="hero-search" >
										<h1>Legal Documentation</h1>
									</div>
									<form method="post" action="{% url 'SaveInquiry' %}" >
										<div class="hero-search-content side-form" >
											{% csrf_token %}

												<div class="col-lg-12 col-md-12 col-sm-12">
												<div class="form-group">
													<label>Name</label>
													<input type="text" class="form-control" placeholder="Enter Name" name="name">
												</div>
												</div>
												<div class="col-lg-12 col-md-12 col-sm-12">
												<div class="form-group">
													<label>Phone No</label>
													<input type="text" class="form-control" placeholder="Enter Number" name="pno">
												</div>
												</div>

												<div class="col-lg-12 col-md-12 col-sm-12">
													<div class="form-group">
														<label>Email</label>
														<input type="text" class="form-control" placeholder="Email" name="email">
													</div>
												</div>
											</div>
										<div class="hero-search-action">
											<input type="submit" class="btn search-btn submit" value="Submit" name="submit">
										</div>
									</form>
								</div>
						   </div>
						</div>
					</div>
					<!-- /row -->

					
				</div>
						
			</section>
			<!-- ============================ Agency List End ================================== -->

			<!-- ============================ Footer Start ================================== -->
			{% include 'footer.html' %}
			<!-- ============================ Footer End ================================== -->
		</div>
	</body>

</html>