<!doctype html>
<html lang="en">


<head>
    <!-- Meta Tag -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Uniland - Real Estate HTML5 Template">
    <meta name="keywords" content="real estate, property, property search, agent, apartments, booking, business, idx, housing, real estate agency, rental">
    <meta name="author" content="unicoder">
    <title>Realezi-Search Made Easy</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'frontpart/assets/images/favicon.ico">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sen:wght@400;700&amp;display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,500;0,700;1,400&amp;display=swap" rel="stylesheet">
    {% load static %}
    <!-- Required style of the theme -->
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/bootstrap-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/webfonts/flaticon/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/owl.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/jquery.fancybox.min.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/layerslider.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/template.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/colors/color-6.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/loader.css' %}">
</head>

<body>

    <div class="preloader">
        <div class="loader xy-center"></div>
    </div>

    <div id="page_wrapper" class="bg-light">
        <!--============== Header Section Start ==============-->
        {% include 'Frontend/header.html'%}
        <!--============== Header Section End ==============-->

        <!--============== Page title Start ==============-->
        <div class="full-row py-5" style="margin-top:60px;">
            <div class="container">
                <div class="row">
                    <div class="col inner-page-banner">
                        <h4 class="text-secondary">Property Listing in Vadodara</h4>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mb-0 bg-transparent p-0">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                
                                <li class="breadcrumb-item text-primary">Property List</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!--============== Page title End ==============-->
        <style>
            .breadcrumb-item+.breadcrumb-item::before{
                display:none !important;
            }
        </style>
        <!--============== Slide Filter Start ==============-->
        <div class="secondary-nav-leftside nav-leftpush-overlay">
            <div class="navbar-expand-lg">
                <div class="navbar-slide-push transation-this">
                    <span class="slide-nav-close px-3 py-1 text-white bg-primary rounded">Hide</span>
                    <form action="#" method="POST" id="sidebar_filtering" class="quick-search slide-filter form-icon-right position-relative pb-5 p-0">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12 mb-2">
                                <h6>Location</h6>
                            </div>
                            <div class="col-12 mb-3">
                                <div class="position-relative">
                                    <input type="text" class="form-control" name="keyword" placeholder="Search Locality">
                                    <i onclick="applySidebarFiltering(this.value)" class="flaticon-placeholder flat-mini icon-font y-center text-dark"></i>
                                </div>
                            </div>
                            <div class="col-12 mb-2">
                                <h6>Building Type</h6>
                            </div>
                            <div class="col-12 mb-2">
                                <ul class="select-custom">
                                    <li>
                                        <input type="radio" value="" name="property_for" id="property-type-all-building-type" hidden onclick="changePropertyType(this.value)">
                                        <label for="property-type-all-building-type" class="select-btn">All</label>
                                    </li>
                                    <li>
                                        <input type="radio" value="residential" name="property_for" id="property-type-9" hidden onclick="changePropertyType(this.value)">
                                        <label for="property-type-9" class="select-btn">Residential</label>
                                    </li>
                                    <li>
                                        <input type="radio" value="commercial" name="property_for" id="property-type-10" hidden onclick="changePropertyType(this.value)">
                                        <label for="property-type-10" class="select-btn">Commercial</label>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-12 mb-2">
                                <h6>Property Type</h6>
                            </div>
                            <div class="col-12 mb-3">
                                <ul class="select-custom">
                                    <li>
                                        <input type="radio" value="" name="property_type" id="property-type-0" hidden onclick="applySidebarFiltering(this.value)">
                                        <label for="property-type-0" id="property-type-0-label" class="select-btn">Any Type</label>
                                    </li>
                                    <li>
                                        <input type="radio" value="apartment" name="property_type" id="property-type-1" hidden onclick="applySidebarFiltering(this.value)">
                                        <label for="property-type-1" id="property-type-1-label"  class="select-btn">Apartment</label>
                                    </li>
                                    <li>
                                        <input type="radio" value="villa"  name="property_type" id="property-type-2" hidden onclick="applySidebarFiltering(this.value)">
                                        <label for="property-type-2"  id="property-type-2-label"  class="select-btn">Villa</label>
                                    </li>
                                    <li>
                                        <input type="radio" value="plot" name="property_type" id="property-type-3" hidden onclick="applySidebarFiltering(this.value)">
                                        <label for="property-type-3" id="property-type-3-label"  class="select-btn">Plot</label>
                                    </li>
                                    <li>
                                        <input type="radio" value="penthouse" name="property_type" id="property-type-4" hidden onclick="applySidebarFiltering(this.value)">
                                        <label for="property-type-4" id="property-type-4-label"  class="select-btn">Penthouse</label>
                                    </li>
                                    <li>
                                        <input type="radio" value="independenthouse" name="property_type" id="property-type-5" hidden onclick="applySidebarFiltering(this.value)">
                                        <label for="property-type-5"  id="property-type-5-label"  class="select-btn">Independenthouse</label>
                                    </li>
                                    <li>
                                        <input type="radio" value="office" name="property_type" id="property-type-6" hidden onclick="applySidebarFiltering(this.value)">
                                        <label for="property-type-6" id="property-type-6-label"  class="select-btn">Office</label>
                                    </li>
                                    <li>
                                        <input type="radio" value="shop" name="property_type" id="property-type-7" hidden onclick="applySidebarFiltering(this.value)">
                                        <label for="property-type-7" id="property-type-7-label"  class="select-btn">shop</label>
                                    </li>
                                    <li>
                                        <input type="radio" value="showroom" name="property_type" id="property-type-7" hidden onclick="applySidebarFiltering(this.value)">
                                        <label for="property-type-7" id="property-type-8-label"  class="select-btn">Showroom</label>
                                    </li>
                                    <li>
                                        <input type="radio" value="coworkingspace" name="property_type" id="property-type-8" hidden onclick="applySidebarFiltering(this.value)">
                                        <label for="property-type-8" id="property-type-9-label" class="select-btn">Coworkingspace</label>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-12 mb-2">
                                <h6>What Purpose you are looking for?</h6>
                            </div>
                            <div class="col-12 mb-2">
                                <ul class="select-custom">
                                    <li>
                                        <input type="radio" value="" name="property_for" id="property-type-8" hidden onclick="applySidebarFiltering(this.value)">
                                        <label for="property-type-8" class="select-btn">Any</label>
                                    </li>
                                    <li>
                                        <input type="radio" value="sale" name="property_for" id="property-type-forsale" hidden onclick="applySidebarFiltering(this.value)">
                                        <label for="property-type-forsale" class="select-btn">For Sale</label>
                                    </li>
                                    <li>
                                        <input type="radio" value="rent" name="property_for" id="property-type-forrent" hidden onclick="applySidebarFiltering(this.value)">
                                        <label for="property-type-forrent" class="select-btn">For Rent</label>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-12 mb-2" style="margin-top:30px">
                                <h6>Property Pricing</h6>
                            </div>
                            <div class="col-12 mb-2">
                                <div class="row row-cols-3 g-1">
                                    <div class="col">
                                        <input type="text" class="form-control"  name="min_price" placeholder="Min Price">
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control"  name="max_price" placeholder="Max Price">
                                    </div>
                                    <div class="col"  >
                                        <button class="btn btn-primary btn-md" onclick="applySidebarFiltering(this.value)">Apply</button>
                                    </div>
                                </div>
                            </div>
                            <br>    
                            <div class="col-12 mb-2" style="margin-top:30px">
                                <h6>Possession Type</h6>
                            </div>
                            <div class="col-12 mb-2">
                                <ul class="select-custom">
                                    <li>
                                        <input type="radio" value="" name="property_for" id="possession_type_all" hidden onclick="applySidebarFiltering(this.value)">
                                        <label for="possession_type_all" class="select-btn">All</label>
                                    </li>
                                    <li>
                                        <input type="radio" value="Ready to Move" name="possession_type"  id="possession_type_ready" hidden onclick="applySidebarFiltering(this.value)">
                                        <label for="possession_type_ready" class="select-btn">Ready To Move</label>
                                    </li>
                                    <li>
                                        <input type="radio" value="Under Construction" name="possession_type" id="possession_type_under" hidden onclick="applySidebarFiltering(this.value)">
                                        <label for="possession_type_under" class="select-btn">Under Construction</label>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-12 mb-2 residential_sub_menu" id="" style="display:none">
                                <h6>Bedrooms</h6>
                            </div>
                            <div class="col-12 mb-2 residential_sub_menu" style="display:none">
                                <ul class="select-custom">
                                    <li>
                                        <input type="radio" name="bed-rooms" id="property-type-11" hidden>
                                        <label for="property-type-11" class="select-btn">One</label>
                                    </li>
                                    <li>
                                        <input type="radio" name="bed-rooms" id="property-type-12" hidden>
                                        <label for="property-type-12" class="select-btn">Two</label>
                                    </li>
                                    <li>
                                        <input type="radio" name="bed-rooms" id="property-type-13" hidden>
                                        <label for="property-type-13" class="select-btn">Three</label>
                                    </li>
                                    <li>
                                        <input type="radio" name="bed-rooms" id="property-type-14" hidden>
                                        <label for="property-type-14" class="select-btn">Four</label>
                                    </li>
                                    <li>
                                        <input type="radio" name="bed-rooms" id="property-type-15" hidden>
                                        <label for="property-type-15" class="select-btn">Five</label>
                                    </li>
                                    <li>
                                        <input type="radio" name="bed-rooms" id="property-type-16" hidden>
                                        <label for="property-type-16" class="select-btn">Six</label>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-12 mb-2 residential_sub_menu" style="display:none">
                                <h6>Bathrooms</h6>
                            </div>
                            <div class="col-12 mb-2 residential_sub_menu" style="display:none">
                                <ul class="select-custom">
                                    <li>
                                        <input type="radio" name="bath-rooms" id="property-type-17" hidden>
                                        <label for="property-type-17" class="select-btn">One</label>
                                    </li>
                                    <li>
                                        <input type="radio" name="bath-rooms" id="property-type-18" hidden>
                                        <label for="property-type-18" class="select-btn">Two</label>
                                    </li>
                                    <li>
                                        <input type="radio" name="bath-rooms" id="property-type-19" hidden>
                                        <label for="property-type-19" class="select-btn">Three</label>
                                    </li>
                                    <li>
                                        <input type="radio" name="bath-rooms" id="property-type-20" hidden>
                                        <label for="property-type-20" class="select-btn">Four</label>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-12 mb-2 residential_sub_menu" style="display:none">
                                <h6>Ares Squire Feet</h6>
                            </div>
                            <div class="col-12 mb-2 residential_sub_menu" style="display:none">
                                <ul class="select-custom">
                                    <li>
                                        <input type="radio" name="area-sqft" id="property-type-21" hidden>
                                        <label for="property-type-21" class="select-btn">0-1000 sqft</label>
                                    </li>
                                    <li>
                                        <input type="radio" name="area-sqft" id="property-type-22" hidden>
                                        <label for="property-type-22" class="select-btn">1001-3000 sqft</label>
                                    </li>
                                    <li>
                                        <input type="radio" name="area-sqft" id="property-type-23" hidden>
                                        <label for="property-type-23" class="select-btn">3001-5000 sqft</label>
                                    </li>
                                    <li>
                                        <input type="radio" name="area-sqft" id="property-type-24" hidden>
                                        <label for="property-type-24" class="select-btn">5001-8000 sqft+</label>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-12 mb-2 residential_sub_menu" style="display:none">
                                <h6>Aditional Options</h6>
                            </div>
                            <div class="col-12 mb-2 residential_sub_menu"  style="display:none">
                                <ul class="row row-cols-1 custom-check-box mb-20">
                                    <li class="col">
                                        <input type="checkbox" class="custom-control-input hide" id="customCheck1">
                                        <label class="custom-control-label" for="customCheck1">Air Conditioning</label>
                                    </li>
                                    <li class="col">
                                        <input type="checkbox" class="custom-control-input hide" id="customCheck2">
                                        <label class="custom-control-label" for="customCheck2">Garage Facility</label>
                                    </li>
                                    <li class="col">
                                        <input type="checkbox" class="custom-control-input hide" id="customCheck3">
                                        <label class="custom-control-label" for="customCheck3">Swiming Pool</label>
                                    </li>
                                    <li class="col">
                                        <input type="checkbox" class="custom-control-input hide" id="customCheck4">
                                        <label class="custom-control-label" for="customCheck4">Fire Security</label>
                                    </li>

                                    <li class="col">
                                        <input type="checkbox" class="custom-control-input hide" id="customCheck5">
                                        <label class="custom-control-label" for="customCheck5">Fire Place Facility</label>
                                    </li>
                                    <li class="col">
                                        <input type="checkbox" class="custom-control-input hide" id="customCheck6">
                                        <label class="custom-control-label" for="customCheck6">Play Ground</label>
                                    </li>
                                    <li class="col">
                                        <input type="checkbox" class="custom-control-input hide" id="customCheck7">
                                        <label class="custom-control-label" for="customCheck7">Ferniture Include</label>
                                    </li>
                                    <li class="col">
                                        <input type="checkbox" class="custom-control-input hide" id="customCheck8">
                                        <label class="custom-control-label" for="customCheck8">Marbel Floor</label>
                                    </li>

                                    <li class="col">
                                        <input type="checkbox" class="custom-control-input hide" id="customCheck9">
                                        <label class="custom-control-label" for="customCheck9">Store Room</label>
                                    </li>
                                    <li class="col">
                                        <input type="checkbox" class="custom-control-input hide" id="customCheck10">
                                        <label class="custom-control-label" for="customCheck10">Hight Class Door</label>
                                    </li>
                                    <li class="col">
                                        <input type="checkbox" class="custom-control-input hide" id="customCheck11">
                                        <label class="custom-control-label" for="customCheck11">Floor Heating System</label>
                                    </li>
                                    <li class="col">
                                        <input type="checkbox" class="custom-control-input hide" id="customCheck12">
                                        <label class="custom-control-label" for="customCheck12">Garden Include</label>
                                    </li>
                                </ul>
                            </div>
                            <!-- <div class="col-12">
                                <button class="btn btn-primary w-100" type="button" name="search">Search</button>
                            </div> -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--============== Slide Filter End ==============-->

        <!--============== Property Grid View Start ==============-->
        <div class="full-row pt-0">
            <div class="container">
                <div class="row justify-content-center">
                    {{alerts}}
                </div>
                <div class="row">

                    <div class="col">
                        <div class="woo-filter-bar p-3 d-flex flex-wrap justify-content-between">
                            <div class="d-flex flex-wrap">
                                
                                <div class="btn push-nav-toggle btn-primary btn-rounded" style="border-radius: 20px;margin-right:10px;">Advance Filter&nbsp;<i class="fas fa-filter"></i></div>
                                <form class="woocommerce-ordering" id="filtering" method="post">
                                    {% csrf_token %}
                                    <select name="property_for" onchange="filterbytype(this.value)">
                                        <option>Property for</option>
                                        <option value="rent">For Rent</option>
                                        <option value="sale">For Sale</option>
                                    </select>
                                    <select name="orderby2">
                                        <option>Default</option>
                                        <option>Most Popular</option>
                                        <option>Top Rated</option>
                                        <option>Newest Items</option>
                                        <option>Price low to high</option>
                                        <option>Price hight to low</option>
                                    </select>
                                </form>
                            </div>
                            <script>
                                function filterbytype(val){
                                    var form = document.getElementById('filtering'); // Replace 'yourFormId' with the actual ID of your form
                                    form.submit();
                                }
                                function applySidebarFiltering(val){
                                    var form = document.getElementById('sidebar_filtering');
                                    form.submit();
                                }
                                function changePropertyType(val){
                                    if(val == 'residential'){
                                        $('#property-type-6-label').hide();
                                        $('#property-type-7-label').hide();
                                        $('#property-type-8-label').hide();
                                        $('#property-type-9-label').hide();
                                        $('#property-type-0-label').show();
                                        $('#property-type-1-label').show();
                                        $('#property-type-2-label').show();
                                        $('#property-type-3-label').show();
                                        $('#property-type-4-label').show();
                                        $('#property-type-5-label').show();
                                        $('.residential_sub_menu').show()
                                    }
                                    else if(val == 'commercial'){
                                        $('#property-type-0-label').hide();
                                        $('#property-type-1-label').hide();
                                        $('#property-type-2-label').hide();
                                        $('#property-type-3-label').hide();
                                        $('#property-type-4-label').hide();
                                        $('#property-type-5-label').hide();
                                        $('#property-type-6-label').show();
                                        $('#property-type-7-label').show();
                                        $('#property-type-8-label').show();
                                        $('#property-type-9-label').show();
                                        $('.residential_sub_menu').hide()
                                    }
                                    else{
                                        $('#property-type-0-label').show();
                                        $('#property-type-1-label').show();
                                        $('#property-type-2-label').show();
                                        $('#property-type-3-label').show();
                                        $('#property-type-4-label').show();
                                        $('#property-type-5-label').show();
                                        $('#property-type-6-label').show();
                                        $('#property-type-7-label').show();
                                        $('#property-type-8-label').show();
                                        $('#property-type-9-label').show();
                                    }
                                }
                                function getCookie(name) {
                                    var cookieValue = null;
                                    if (document.cookie && document.cookie !== '') {
                                        var cookies = document.cookie.split(';');
                                        for (var i = 0; i < cookies.length; i++) {
                                            var cookie = cookies[i].trim();
                                            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                                break;
                                            }
                                        }
                                    }
                                    return cookieValue;
                                }
                            </script>
                            <div class="d-flex">
                                <span class="woocommerce-ordering-pages me-4 font-fifteen">Showing at 15 result</span>
                                <form class="view-category" method="get">
                                    <button title="List" class="list-view" value="list" name="display" type="submit"><i class="flaticon-grid-1 flat-mini"></i></button>
                                    <button title="Grid" class="grid-view active" value="grid" name="display" type="submit"><i class="flaticon-grid flat-mini"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1 g-4">
                   {% for property in properties %}
                   
                    <div class="col">
                        <!-- Property Grid -->
                        <div class="property-grid-1 property-block bg-white transation-this hover-shadow">
                            <div class="overflow-hidden position-relative transation thumbnail-img bg-secondary hover-img-zoom">
                                <div class="cata position-absolute"><span class="sale bg-secondary text-white">For {{ property.property_for}}</span></div>
                                <a href="/singlepropertyview">
                                   <img src="/media/propertyimages/{{ first_image }}" alt="Image Not Found!" style="height:250px;">
                                </a>
                                <a href="#" class="listing-ctg text-white"><i class="fa-solid fa-building"></i><span>{{ property.property_sub_type}}</span></a>
                                <ul class="position-absolute quick-meta">
                                    <!-- <li><a href="#" title="Add Compare"><i class="flaticon-transfer flat-mini"></i></a></li> -->
                                    <li><a href="#" title="Add Favourite"><i class="flaticon-like-1 flat-mini"></i></a></li>
                                    <!-- <li class="md-mx-none"><a class="quick-view" href="#quick-view" title="Quick View"><i class="flaticon-zoom-increasing-symbol flat-mini"></i></a></li> -->
                                </ul>   
                            </div>
                            <div class="property_text p-4">
                                
                                <h5 class="listing-title"><a href="/singlepropertyview/{{property.property_id}}">{{ property.name}}</a></h5>
                                <h5 class="listing-title">₹ {{ property.price}}</h5>
                                <span class="listing-location"><i class="fas fa-map-marker-alt"></i> {{ property.address}} </span>
                                <ul class="d-flex quantity font-fifteen">
                                    <li title="Beds"><span><i class="fa-solid fa-bed"></i></span>7</li>
                                    <li title="Baths"><span><i class="fa-solid fa-shower"></i></span>5</li>
                                    <li title="Area"><span><i class="fa-solid fa-vector-square"></i></span>1200 Sqft</li>
                                    <li title="Gas"><span><i class="fa-solid fa-fire"></i></span>Yes</li>
                                </ul>
                            </div>
                            
                        </div>
                    </div>
                   
                   {% endfor %}
                   
                </div>
                <div class="row">
                    <div class="col mt-5">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination pagination-dotted-active justify-content-center">
                                <li class="page-item disabled">
                                    <a class="page-link">Previous Page</a>
                                </li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">Next Page</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!--============== Property Grid View End ==============-->

        <!--============== Footer Section Start ==============-->
        {% include 'Frontend/footer.html' %}
        <!--============== Footer Section End ==============-->

        <!--============== Copyright Section Start ==============-->
        <div class="copyright bg-footer text-default py-4">
            <div class="container">
                <div class="row row-cols-md-2 row-cols-1">
                    <div class="col">
                        <span class="text-white">© 2022 Uniland All right reserved</span>
                    </div>
                    <div class="col">
                        <ul class="line-menu float-end list-color-gray">
                            <li><a href="#">Privacy & Policy </a></li>
                            <li>|</li>
                            <li><a href="#">Site Map</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--============== Copyright Section End ==============-->

        <!-- Scroll to top -->
        <div class="scroll-top-vertical xs-mx-none" id="scroll">Go Top <i class="ms-2 fa-solid fa-arrow-right-long"></i></div>
        <!-- End Scroll To top -->

        <!--============== Modal Start ==============-->
        <div class="overlay-dark modal fade quick-view-modal" id="quick-view">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <div class="close view-close">
                        <span aria-hidden="true">&times;</span>
                    </div>
                    <div class="modal-body property-block summary p-3">
                        <div class="row row-cols-xl-2 row-cols-1">
                            <div class="col">
                                <div class="overflow-hidden position-relative transation thumbnail-img bg-secondary hover-img-zoom m-2">
                                    <div class="cata position-absolute">
                                        <span class="sale bg-secondary text-white">For Rent</span>
                                        <span class="featured bg-primary text-white">Featured</span>
                                    </div>
                                    <a href="#"><img class="w-100" src="{% static 'frontpart/assets/images/property/2.png' %}" alt=""></a>
                                    <ul class="position-absolute quick-meta">
                                        <li><a href="#"><i class="flaticon-transfer flat-mini"></i></a></li>
                                        <li><a href="#"><i class="flaticon-like-1 flat-mini"></i></a></li>
                                        <li><a href="#"><i class="flaticon-share flat-mini"></i></a></li>
                                        <li><a href="#"><i class="flaticon-printer flat-mini"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col">
                                <div class="property_text transation py-3 pe-3">
                                    <span class="d-inline-block text-primary">Condos</span>
                                    <h5 class="modal-title mb-1" id="staticBackdropLabel"><a href="#" class="text-secondary hover-text-primary transation">Luxury Condos Infront of the street of Green Park</a></h5>
                                    <span class="mt-1 mb-3 d-block font-fifteen"><i class="fas fa-map-marker-alt text-primary"></i> 2305 Tree Frog Lane Overlandpk, MO 66210</span>
                                    <a href="#" class="d-block text-light hover-text-primary font-small mb-2">( 100 People Recommended )</a>
                                    <div class="d-flex">
                                        <span class="text-secondary font-large">Rs 5600 - Rs 8300/<small>mo</small></span>
                                        <span class="text-white font-mini px-2 rounded product-status ms-5 my-1 bg-primary"><i class="fas fa-check"></i> Available</span>
                                    </div>
                                    <div class="product-offers mt-3">
                                        <ul class="product-offers-list">
                                            <li class="product-offer-item"> <strong>Special Price </strong>Get extra 19% off (price inclusive of discount)</li>
                                            <li class="product-offer-item"> <strong>Bank Offer </strong> 10% instant discount on VISA Cards</li>
                                            <li class="product-offer-item"> <strong>No cost EMI Rs 49/month.</strong> Standard EMI also available</li>
                                        </ul>
                                    </div>
                                    <hr>
                                    <div class="quantity">
                                        <ul class="d-flex">
                                            <li><span>Rooms:</span> 5</li>
                                            <li><span>Beds:</span> 3</li>
                                            <li><span>Bathrooms:</span> 2</li>
                                            <li><span>Garage:</span> 1</li>
                                            <li><span>Area:</span> 1100 Sqft</li>
                                        </ul>
                                    </div>
                                    <h5 class="text-secondary my-3">Description</h5>
                                    <p>Bibendum purus aenean mus aenean eu interdum nonummy ipsum ad consequat. Dui eros donec faucibus convallis tempus rutrum id donec mus hymenaeos placerat congue curae mauris turpis gravida viverra consequat consequat
                                        gravida luctus.</p>
                                    <div class="short-description d-flex">
                                        <span class="me-4"><b>Highlights:</b></span>
                                        <div class="short-description">
                                            <ul class="list-style-tick">
                                                <li>Regular Fit.</li>
                                                <li>Full sleeves.</li>
                                                <li>Machine wash, tumble dry.</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center post-meta mt-2 py-3 border-top">
                                        <div class="agent">
                                            <a href="#" class="d-flex text-general align-items-center"><img class="rounded-circle me-2" src="{% static 'frontpart/assets/images/team/1.jpg' %}" alt="avata"><span>Ali Tufan</span></a>
                                        </div>
                                        <div class="post-date ms-auto"><span>2 Month Ago</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--============== Modal End ==============-->

    </div>

    <!-- Javascript Files -->
    <script src="{% static 'frontpart/assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/popper.min.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/jquery.fancybox.min.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/owl.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/range/tmpl.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/range/jquery.dependClass.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/range/draggable.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/range/jquery.slider.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/wow.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/mixitup.min.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/paraxify.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/custom.js' %}"></script>

</body>

</html>