<!doctype html>
<html lang="en">


<head>
    <!-- Meta Tag -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="real estate, property, property search, agent, apartments, booking, business, idx, housing, real estate agency, rental">
    <meta name="author" content="unicoder">
    <title>Realezi- Search Made Simple</title>
    <!-- Favicon -->
    {% load static %}
    <link rel="shortcut icon" href="{% static 'frontpart/assets/images/favicon.ico' %}">
    
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sen:wght@400;700&amp;display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,500;0,700;1,400&amp;display=swap" rel="stylesheet">

    <!-- Required style of the theme -->
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/bootstrap-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/webfonts/flaticon/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/owl.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/jquery.fancybox.min.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/layerslider.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/template.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/colors/color-6.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/loader.css' %}">

    
</head>

<body>

    <!--<div class="preloader">
			<div class="loader clock xy-center"></div>
		</div>-->

    <div id="page_wrapper" style="background-image: url('{% static 'frontpart/assets/images/slider/13.png' %}'); background-size: 100%; background-repeat: no-repeat">
        <!--============== Header Section Start ==============-->
        <header class="nav-on-banner fixed-bg-white">
            <div class="main-nav py-2 xs-p-0">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <nav class="navbar navbar-expand-lg nav-secondary nav-primary-hover nav-line-active">
                                <a class="navbar-brand" href="#"><img class="nav-logo" src="{% static 'frontpart/assets/realezilogos.png' %}" alt="Image not found !"></a>
                                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon flaticon-menu flat-small text-primary"></span>
                                </button>
                                <div class="collapse navbar-collapse sm-ml-0" id="navbarSupportedContent">
                                    <ul class="navbar-nav ms-auto">
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#">Buy</a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="index#">Buy in Harni</a></li>
                                                <li><a class="dropdown-item" href="index-3#">Buy in Alkapuri</a></li>
                                                <li><a class="dropdown-item" href="index-4#">Buy in Vasna</a></li>
                                               </ul>
                                        </li>
                                         <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#">Rent</a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="index#">Buy in Harni</a></li>
                                                <li><a class="dropdown-item" href="index-3#">Buy in Alkapuri</a></li>
                                                <li><a class="dropdown-item" href="index-4#">Buy in Vasna</a></li>
                                               </ul>
                                        </li>
                                         <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#">Projects</a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="index#">New Project in Harni</a></li>
                                                <li><a class="dropdown-item" href="index-3#">New Project in Alkapuri</a></li>
                                                <li><a class="dropdown-item" href="index-4#">New Project in Vasna</a></li>
                                               </ul>
                                        </li>
                                         <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#">Services</a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="index#">Home Loan</a></li>
                                                <li><a class="dropdown-item" href="index-3#">Property Legal Services</a></li>
                                                <li><a class="dropdown-item" href="index-4#">Commercial Guidance</a></li>
                                                <li><a class="dropdown-item" href="index-4#">Vastu Consultation</a></li>
                                                <li><a class="dropdown-item" href="index-4#">Legalities</a></li>
                                                <li><a class="dropdown-item" href="index-4#">Consultation</a></li>
                                                <li><a class="dropdown-item" href="index-4#">Rent/Lease Agreement Guidance</a></li>
                                                <li><a class="dropdown-item" href="index-4#">Loan Calculator</a></li>
                                               </ul>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/aboutus">About Us</a>
                                            
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/contact">Contact Us</a>
                                            
                                        </li>
                                        
                                    </ul>

                                    <ul class="navbar-nav sm-mx-none border-start ps-3">
                                        <li class="nav-item">
                                            <a class="nav-link" href="login"><i class="fas fa-user"></i> Login/Register</a>
                                        </li>
                                    </ul>
                                    <a href="#" class="btn btn-primary add-listing-btn">+ Create Listing</a>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!--============== Header Section End ==============-->

        <!--============== Search Banner Start ==============-->
        <div class="full-row p-0">
            <div class="container">
                
                <div class="row justify-content-left py-8">
                    <div class="col-md-10">
                        <div class="banner-search sm-p-0" style="padding-top: 90px; padding-bottom: 190px;">
                            <h1 class="text-start text-dark font-500">Welcome </h1>
                            <h1 class="text-start text-dark font-400">Search Made Simple</h1>
                            <span class="d-table text-dark font-medium mb-4">We have listed over 100000+ property in our database</span>
                            <form class="bg-white shadow-sm quick-search form-icon-right position-relative" action="search_criteria" method="post" style="border-radius: 20px;">
                                {% csrf_token%}
                                <div class="row row-cols-lg-12">
                                    <!-- <div class="row row-cols-lg-8 row-cols-md-4 row-cols-1 g-3"> -->
                                    <div class="col" style="">
                                        <select class="form-control" name="property_for" style="border-radius: 10px !important;border:1px solid #b1acac82;">
                                            <option value="sale">Buy</option>
                                            <option value="rent">Rent</option>
                                        </select>
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control" name="keyword" placeholder="Search Locality..." style="border-radius: 10px !important;border:1px solid #b1acac82;">
                                    </div>
                                    <div class="col" >
                                        <select class="form-control"  name="property_type"  style="border-radius: 10px !important;border:1px solid #b1acac82;">
                                            <option value="">Property Types</option>
                                            <option value="apartment">Apartment</option>
                                            <option value="villa">Villa</option>
                                            <option value="plot">Plot</option>
                                            <option value="penthouse">Pent House</option>
                                            <option value="independenthouse">Independent House</option>
                                            <option value="office">Office Space</option>
                                            <option value="shop">Shop</option>
                                            <option value="showroom">Showroom</option>
                                            <option value="coworkingspace">Co-working Space</option>
                                        </select>
                                    </div>
                                    
                                    <div class="col">
                                        <div class="position-relative">
                                            <button class="form-control price-toggle toggle-btn" data-target="#data-range-price" style="border-radius: 10px !important;border:1px solid #b1acac82;">Price <i class="fas fa-angle-down font-mini icon-font y-center text-dark"></i></button>
                                            <div id="data-range-price" class="price_range price-range-toggle" style="border:1px solid #b1acac82;">
                                                <div class="area-filter price-filter">
                                                    <span class="price-slider">
                                                    <input class="filter_price" type="text" name="budget" value="0;10000000"  style="border-radius: 10px !important;border:1px solid #b1acac82;"/>
                                                </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="col">
                                        <div class="position-relative">
                                            <button  style="border:1px solid #b1acac82;" class="form-control text-start toggle-btn" data-target="#aditional-check">Advanced <i class="fas fa-ellipsis-v font-mini icon-font y-center text-dark"></i></button>
                                        </div>
                                    </div> -->
                                    <div class="col">
                                       <button type="submit" class="btn btn-primary" style="border-radius: 10px !important;">Search</button>
                                    </div>
                                    <!-- Advance Features -->
                                    <div id="aditional-check" class="aditional-features p-5">
                                        <h5 class="mb-3">Age of Property</h5>
                                        <ul class="row row-cols-lg-4 row-cols-md-2 row-cols-1 custom-check-box mb-4">
                                            <li class="col">
                                                <input type="radio" name="ageofproperty" class="custom-control-input hide" >
                                                <label class="custom-control-label" for="0-1">0-1</label>
                                            </li>
                                            <li class="col">
                                                <input type="radio"  name="ageofproperty" class="custom-control-input hide">
                                                <label class="custom-control-label" for="2-4">2-4</label>
                                            </li>
                                            <li class="col">
                                                <input type="radio"  name="ageofproperty" class="custom-control-input hide">
                                                <label class="custom-control-label" for="5-7">5-7</label>
                                            </li>
                                            <li class="col">
                                                <input type="radio"  name="ageofproperty" class="custom-control-input hide">
                                                <label class="custom-control-label" for="8+">8+</label>
                                            </li>
                                            
                                           
                                        </ul>
                                        <h5 class="mb-3">Possession Type</h5>
                                        <ul class="row row-cols-lg-4 row-cols-md-2 row-cols-1 custom-check-box mb-4">
                                            <li class="col">
                                                <input type="checkbox" class="custom-control-input hide" id="customCheck1">
                                                <label class="custom-control-label" for="customCheck1">Ready to Move</label>
                                            </li>
                                            <li class="col">
                                                <input type="checkbox" class="custom-control-input hide" id="customCheck2">
                                                <label class="custom-control-label" for="customCheck2">Under Construction</label>
                                            </li>
                                            
                                        </ul>
                                    </div>
                                </div>
                            </form>
                            <span class="h6 mb-20 mt-20 d-table text-dark font-400">What are you looking for?</span>
                            <div class="row row-cols-lg-6 row-cols-md-3 row-cols-sm-2 row-cols-1 g-4">
                                <div class="col">
                                    <div class="text-center p-20 bg-white text-dark transation hover-shadow h-100" style="border-radius: 20px;">
                                        <span class="flaticon-home flat-medium text-primary"></span>
                                        <h6><a href="#" class="d-block text-dark hover-text-primary mt-3 font-400">Buy</a></h6>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="text-center p-20 bg-white text-dark transation hover-shadow h-100" style="border-radius: 20px;">
                                        <span class="flaticon-sketch flat-medium text-primary"></span>
                                        <h6><a href="#" class="d-block text-dark hover-text-primary mt-3 font-400">Rent</a></h6>
                                    </div>
                                </div>
                                <div class="co">
                                    <div class="text-center p-20 bg-white text-dark transation hover-shadow h-100" style="border-radius: 20px;">
                                        <span class="flaticon-online-booking flat-medium text-primary"></span>
                                        <h6><a href="#" class="d-block text-dark hover-text-primary mt-3 font-400">Booking New Projects</a></h6>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="text-center p-20 bg-white text-dark transation hover-shadow h-100" style="border-radius: 20px;">
                                        <span class="flaticon-relationship flat-medium text-primary"></span>
                                        <h6><a href="#" class="d-block text-dark hover-text-primary mt-3 font-400">Sell</a></h6>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="text-center p-20 bg-white text-dark transation hover-shadow h-100" style="border-radius: 20px;">
                                        <span class="flaticon-garage flat-medium text-primary"></span>
                                        <h6><a href="#" class="d-block text-dark hover-text-primary mt-3 font-400">Other Resources</a></h6>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="text-center p-20 bg-white text-dark transation hover-shadow h-100" style="border-radius: 20px;">
                                        <span class="flaticon-house-plan flat-medium text-primary"></span>
                                        <h6><a href="#" class="d-block text-dark hover-text-primary mt-3 font-400">House Plan</a></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <!--============== Search Banner End ==============-->


        <!--============== Company Featured start ==============-->
        <div class="full-row p-0 sm-m-0" style="margin-top: -200px;">
            <div class="container">
                <div class="row row-cols-md-3 row-cols-1 g-4 bg-light p-5 mx-0">
                    <div class="col">
                        <div class="mb-4"><i class="flaticon-life-insurance text-primary flat-medium"></i></div>
                        <h4 class="mb-3 font-400">All-in-One Solution</h4>
                        <p>We're more than a property search platform. From finding the right property to post-purchase support, we're with you at every step.</p>
                    </div>
                    <div class="col">
                        <div class="mb-4"><i class="flaticon-data text-primary flat-medium"></i></div>
                        <h4 class="mb-3 font-400">Personal Touch</h4>
                        <p>Your dream home is unique, and we understand that. Our personalized approach ensures we match you with the perfect options.</p>
                    </div>
                    <div class="col">
                        <div class="mb-4"><i class="flaticon-id-card text-primary flat-medium"></i></div>
                        <h4 class="mb-3 font-400">Market Experts</h4>
                        <p>Our team knows the real estate market inside out. We find the best deals and opportunities so you get the most value.</p>
                    </div>
                </div>
            </div>
        </div>
        <!--============== Company Featured End ==============-->
        <!--============== About Us Section Start ==============-->
        <!-- <div class="full-row">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="about-us-img-wrap">
                            <img src="{% static 'frontpart/assets/images/blog/4.png' %}" alt="About Us Image">
                            <div class="video-wrap">
                                <img src="{% static 'frontpart/assets/images/sq-26.png' %}" alt="">
                                <a data-fancybox class="video-popup" href="https://www.youtube.com/watch?v=-xW83WO0uM8" title="video popup">
                                    <span class="flaticon-play-button bg-white text-primary xy-center"></span>
                                </a>
                                <div class="loader position-absolute xy-center">
                                    <div class="loader-inner ball-scale-multiple">
                                        <div style="background: var(--theme-white-color);"></div>
                                        <div style="background: var(--theme-white-color);"></div>
                                    </div><span class="tooltip">
                                  <b>ball-scale-multiple</b></span>
                                </div>
                                <!-- Use youtube or Vimeo video link in href, first open the video and just copy the link from url and past here -->
                            <!-- </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about-us-info-wrap">
                            <div class="section-title-area mb-20">
                                <span class="tagline-3 mb-3">About Us</span>
                                <h2 class="mb-3">Elevating Vadodara's Rental Experience: Redefining Real Estate Excellence</h2>
                                <p style="text-align:justify;">Welcome to our world, where the heartbeat of real estate innovation resonates across more than 10 city, with a team of over 50 dedicated individuals shaping the future of rental experiences. We transcend borders and bring together a tapestry of expertise, offering a spectrum of specialized services that redefine the way you perceive home.</p>
                            </div>
                            <div class="list-half-width">
                                <div class="icon-text-1">
                                    <div class="icon-area"><i class="icon flaticon-shield ifs-20"></i></div><span class="text">Tailored Property Solutions</span>
                                </div>
                                <div class="icon-text-1">
                                    <div class="icon-area"><i class="icon flaticon-fireworks ifs-20"></i></div><span class="text">Unveiling Realezi's Design Brilliance</span>
                                </div>
                                <div class="icon-text-1">
                                    <div class="icon-area"><i class="icon flaticon-bathroom ifs-20"></i></div><span class="text"> Elevate Your Lifestyle with Realezi</span>
                                </div>
                                <div class="icon-text-1">
                                    <div class="icon-area"><i class="icon flaticon-antivirus ifs-20"></i></div><span class="text">Unmatched Security for Peaceful Living</span>
                                </div>
                            </div>
                            
                            <a href="/ourservices" class="btn btn-primary text-uppercase">Our Services</a>
                        </div>
                    </div> -->
                <!-- </div>
            </div>
        </div> --> 
        <!--============== About Us Section End ==============-->
        <!--============== Quentity Section Start ==============-->
        <!-- <div class="full-row">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <span class="text-primary mb-2 d-table tagline-2 text-uppercase font-600">Establish Relation</span>
                        <h3 class="text-dark mb-4">
                            Cultivating Lasting Connections with Realezi</h3>
                        <p style="text-align:justify;">At Realezi, we understand that real estate is more than just a transaction; it's about establishing enduring connections with our clients and their dream homes. Our team of dedicated professionals is committed to ensuring that every interaction goes beyond the conventional, focusing on building relationships that stand the test of time.</p>
                        <h3>Navigating Your Real Estate Journey with Realezi:</h3>
                        <p style="text-align:justify;">In the dynamic world of real estate, we at Realezi prioritize the establishment of transparent and open relationships. Whether you're a first-time homebuyer, an investor, or parting with a property that holds sentimental value, our mission is to guide you through a seamless and personalized experience. </p>
                        <!-- <form class="form-gray entry-form text-gray position-relative mt-5 d-flex md-mb-20" action="#" method="POST">
                            <input type="text" class="form-control bg-transparent border-bottom" id="examplename" placeholder="Enter Email Address">
                            <button type="submit" class="btn-text border-bottom text-primary">Make Entry</button>
                        </form> -->
                    <!-- </div>
                    <div class="col-lg-5 offset-lg-1 position-relative">
                        <div class="fact-counter position-sm-absolute d-flex flex-wrap" style="left: -30px; bottom: 0;">
                            <div class="count wow fadeIn animate p-40 xs-mb-20" data-wow-duration="300ms" style="visibility: visible; animation-duration: 300ms; animation-name: fadeIn; background:rgba(247, 89, 121, 0.9); width: 200px;">
                                <span class="flaticon-home flat-small text-white d-table mb-3"></span>
                                <div class="text-primary">
                                    <span class="count-num text-white h2 font-400" data-speed="3000" data-stop="82">82</span>
                                    <span class="text-white font-large">%</span>
                                </div>
                                <div class="text-white h6 pt-2">Advice for House Buyer</div>
                            </div>
                            <div class="count wow fadeIn animate p-40 ms-sm-4 xs-mb-20" data-wow-duration="300ms" style="visibility: visible; animation-duration: 300ms; animation-name: fadeIn; background:rgba(108, 90, 247, 0.9); width: 200px;">
                                <span class="flaticon-group-1 flat-small text-white d-table mb-3"></span>
                                <div class="text-primary">
                                    <span class="count-num text-white h2 font-400" data-speed="3000" data-stop="31">31</span>
                                    <span class="text-white font-large">k</span>
                                </div>
                                <div class="text-white h6 pt-2">People In Our Community</div>
                            </div>
                        </div>

                        <img src="{% static 'frontpart/assets/images/property/17.png' %}" alt="real estate template">
                    </div>
                </div>
            </div>
        </div> --> 
        <!--=============== Quentity Section End ===============-->
       

        <!--============== Property Tab Start ==============-->
        <div class="full-row bg-light">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-8">
                        <h2 class="main-title down-line mb-5">Featured Properties</h2>
                    </div>
                    <div class="col-md-4">
                        <a href="#" class="mb-3 btn-link text-secondary hover-text-primary transation float-md-end d-table">More Properties &gt;</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="mix-tab">
                            <ul class="nav-tab-border-active me-auto d-table">
                                <li data-filter="all">All</li>
                                <li data-filter=".house">House</li>
                                <li data-filter=".office">Office</li>
                                <li data-filter=".appartment">Appartment</li>
                                <li data-filter=".land">Land</li>
                            </ul>
                        </div>
                        <div class="mix-element row row-cols-lg-3 row-cols-md-3 row-cols-1 mt-4 g-4">
                            <div class="col mix house land">
                                <!-- Property Grid -->
                                <div class="property-grid-2 property-block transation">
                                    <div class="overflow-hidden position-relative transation thumbnail-img bg-secondary hover-img-zoom">
                                        <div class="cata position-absolute">
                                            <span class="sale bg-secondary text-white">For Sale</span>
                                        </div>
                                        <a href="property-single-v1#" class="d-block"><img src="{% static 'frontpart/assets/images/property_grid/property-grid-1.png' %}" alt="Image Not Found!"></a>
                                        <ul class="position-absolute quick-meta">
                                            <li><a href="#" title="Add Compare"><i class="flaticon-transfer flat-mini"></i></a></li>
                                            <li><a href="#" title="Add Favourite"><i class="flaticon-like-1 flat-mini"></i></a></li>
                                            <li class="md-mx-none"><a class="quick-view" href="#quick-view" title="Quick View"><i class="flaticon-zoom-increasing-symbol flat-mini"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="post-content py-3">
                                        <div class="post-meta font-small text-uppercase list-color-primary">
                                            <a href="#" class="listing-ctg"><i class="fa-solid fa-building"></i><span>Apartment</span></a>
                                        </div>
                                        <h5 class="listing-title"><a href="property-single-v1#">Family House Residense</a></h5>
                                        <span class="listing-location"><i class="fas fa-map-marker-alt"></i> 2305 Tree Frog Lane Overlandpk</span>
                                        <ul class="d-flex quantity font-fifteen">
                                            <li title="Beds"><span><i class="fa-solid fa-bed"></i></span>7</li>
                                            <li title="Baths"><span><i class="fa-solid fa-shower"></i></span>5</li>
                                            <li title="Area"><span><i class="fa-solid fa-vector-square"></i></span>1200 Sqft</li>
                                            <li title="Gas"><span><i class="fa-solid fa-fire"></i></span>Yes</li>
                                        </ul>
                                        <span class="listing-price">Rs 120,5500<small> ( One Time )</small></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col mix office">
                                <!-- Property Grid -->
                                <div class="property-grid-2 property-block transation">
                                    <div class="overflow-hidden position-relative transation thumbnail-img bg-secondary hover-img-zoom">
                                        <div class="cata position-absolute">
                                            <span class="sale bg-secondary text-white">For Rent</span>
                                            <span class="featured bg-primary text-white">Featured</span>
                                        </div>
                                        <a href="property-single-v1#" class="d-block"><img src="{% static 'frontpart/assets/images/property_grid/property-grid-2.png' %}" alt="Image Not Found!"></a>
                                        <ul class="position-absolute quick-meta">
                                            <li><a href="#" title="Add Compare"><i class="flaticon-transfer flat-mini"></i></a></li>
                                            <li><a href="#" title="Add Favourite"><i class="flaticon-like-1 flat-mini"></i></a></li>
                                            <li class="md-mx-none"><a class="quick-view" href="#quick-view" title="Quick View"><i class="flaticon-zoom-increasing-symbol flat-mini"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="post-content py-3">
                                        <div class="post-meta font-small text-uppercase list-color-primary">
                                            <a href="#" class="listing-ctg"><i class="fa-solid fa-building"></i><span>Villa</span></a>
                                        </div>
                                        <h5 class="listing-title"><a href="property-single-v1#">Gorgeous Villa Bay View</a></h5>
                                        <span class="listing-location"><i class="fas fa-map-marker-alt"></i> 2305 Tree Frog Lane Overlandpk</span>
                                        <ul class="d-flex quantity font-fifteen">
                                            <li title="Beds"><span><i class="fa-solid fa-bed"></i></span>7</li>
                                            <li title="Baths"><span><i class="fa-solid fa-shower"></i></span>5</li>
                                            <li title="Area"><span><i class="fa-solid fa-vector-square"></i></span>1200 Sqft</li>
                                            <li title="Gas"><span><i class="fa-solid fa-fire"></i></span>Yes</li>
                                        </ul>
                                        <span class="listing-price">Rs 3450<small> ( Monthly )</small></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col mix appartment land">
                                <!-- Property Grid -->
                                <div class="property-grid-2 property-block transation">
                                    <div class="overflow-hidden position-relative transation thumbnail-img bg-secondary hover-img-zoom">
                                        <div class="cata position-absolute">
                                            <span class="sale bg-secondary text-white">For Rent</span>
                                            <span class="featured bg-primary text-white">Featured</span>
                                        </div>
                                        <a href="property-single-v1#" class="d-block"><img src="{% static 'frontpart/assets/images/property_grid/property-grid-3.png' %}" alt="Image Not Found!"></a>
                                        <ul class="position-absolute quick-meta">
                                            <li><a href="#" title="Add Compare"><i class="flaticon-transfer flat-mini"></i></a></li>
                                            <li><a href="#" title="Add Favourite"><i class="flaticon-like-1 flat-mini"></i></a></li>
                                            <li class="md-mx-none"><a class="quick-view" href="#quick-view" title="Quick View"><i class="flaticon-zoom-increasing-symbol flat-mini"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="post-content py-3">
                                        <div class="post-meta font-small text-uppercase list-color-primary">
                                            <a href="#" class="listing-ctg"><i class="fa-solid fa-building"></i><span>Condos</span></a>
                                        </div>
                                        <h5 class="listing-title"><a href="property-single-v1#">New Developed Condos</a></h5>
                                        <span class="listing-location"><i class="fas fa-map-marker-alt"></i> 2305 Tree Frog Lane Overlandpk</span>
                                        <ul class="d-flex quantity font-fifteen">
                                            <li title="Beds"><span><i class="fa-solid fa-bed"></i></span>7</li>
                                            <li title="Baths"><span><i class="fa-solid fa-shower"></i></span>5</li>
                                            <li title="Area"><span><i class="fa-solid fa-vector-square"></i></span>1200 Sqft</li>
                                            <li title="Gas"><span><i class="fa-solid fa-fire"></i></span>Yes</li>
                                        </ul>
                                        <span class="listing-price">Rs 1,0450<small> ( Monthly )</small></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col mix house">
                                <!-- Property Grid -->
                                <div class="property-grid-2 property-block transation">
                                    <div class="overflow-hidden position-relative transation thumbnail-img bg-secondary hover-img-zoom">
                                        <div class="cata position-absolute">
                                            <span class="sale bg-secondary text-white">For Rent</span>
                                            <span class="featured bg-primary text-white">Featured</span>
                                        </div>
                                        <a href="property-single-v1#" class="d-block"><img src="{% static 'frontpart/assets/images/property_grid/property-grid-4.png' %}" alt="Image Not Found!"></a>
                                        <ul class="position-absolute quick-meta">
                                            <li><a href="#" title="Add Compare"><i class="flaticon-transfer flat-mini"></i></a></li>
                                            <li><a href="#" title="Add Favourite"><i class="flaticon-like-1 flat-mini"></i></a></li>
                                            <li class="md-mx-none"><a class="quick-view" href="#quick-view" title="Quick View"><i class="flaticon-zoom-increasing-symbol flat-mini"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="post-content py-3">
                                        <div class="post-meta font-small text-uppercase list-color-primary">
                                            <a href="#" class="listing-ctg"><i class="fa-solid fa-building"></i><span>Apartment</span></a>
                                        </div>
                                        <h5 class="listing-title"><a href="property-single-v1#">Apolo Family House</a></h5>
                                        <span class="listing-location"><i class="fas fa-map-marker-alt"></i> 2305 Tree Frog Lane Overlandpk</span>
                                        <ul class="d-flex quantity font-fifteen">
                                            <li title="Beds"><span><i class="fa-solid fa-bed"></i></span>7</li>
                                            <li title="Baths"><span><i class="fa-solid fa-shower"></i></span>5</li>
                                            <li title="Area"><span><i class="fa-solid fa-vector-square"></i></span>1200 Sqft</li>
                                            <li title="Gas"><span><i class="fa-solid fa-fire"></i></span>Yes</li>
                                        </ul>
                                        <span class="listing-price">Rs 1850<small> ( Monthly )</small></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col mix house land">
                                <!-- Property Grid -->
                                <div class="property-grid-2 property-block transation">
                                    <div class="overflow-hidden position-relative transation thumbnail-img bg-secondary hover-img-zoom">
                                        <div class="cata position-absolute">
                                            <span class="sale bg-secondary text-white">For Rent</span>
                                            <span class="featured bg-primary text-white">Featured</span>
                                        </div>
                                        <a href="property-single-v1#" class="d-block"><img src="{% static 'frontpart/assets/images/property_grid/property-grid-5.png' %}" alt="Image Not Found!"></a>
                                        <ul class="position-absolute quick-meta">
                                            <li><a href="#" title="Add Compare"><i class="flaticon-transfer flat-mini"></i></a></li>
                                            <li><a href="#" title="Add Favourite"><i class="flaticon-like-1 flat-mini"></i></a></li>
                                            <li class="md-mx-none"><a class="quick-view" href="#quick-view" title="Quick View"><i class="flaticon-zoom-increasing-symbol flat-mini"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="post-content py-3">
                                        <div class="post-meta font-small text-uppercase list-color-primary">
                                            <a href="#" class="listing-ctg"><i class="fa-solid fa-building"></i><span>Condo</span></a>
                                        </div>
                                        <h5 class="listing-title"><a href="property-single-v1#">Condos Infront of River</a></h5>
                                        <span class="listing-location"><i class="fas fa-map-marker-alt"></i> 2305 Tree Frog Lane Overlandpk</span>
                                        <ul class="d-flex quantity font-fifteen">
                                            <li title="Beds"><span><i class="fa-solid fa-bed"></i></span>7</li>
                                            <li title="Baths"><span><i class="fa-solid fa-shower"></i></span>5</li>
                                            <li title="Area"><span><i class="fa-solid fa-vector-square"></i></span>1200 Sqft</li>
                                            <li title="Gas"><span><i class="fa-solid fa-fire"></i></span>Yes</li>
                                        </ul>
                                        <span class="listing-price">Rs 10,0850<small> ( Monthly )</small></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col mix appartment">
                                <!-- Property Grid -->
                                <div class="property-grid-2 property-block transation">
                                    <div class="overflow-hidden position-relative transation thumbnail-img bg-secondary hover-img-zoom">
                                        <div class="cata position-absolute">
                                            <span class="sale bg-secondary text-white">For Rent</span>
                                            <span class="featured bg-primary text-white">Featured</span>
                                        </div>
                                        <a href="property-single-v1#" class="d-block"><img src="{% static 'frontpart/assets/images/property_grid/property-grid-6.png' %}" alt="Image Not Found!"></a>
                                        <ul class="position-absolute quick-meta">
                                            <li><a href="#" title="Add Compare"><i class="flaticon-transfer flat-mini"></i></a></li>
                                            <li><a href="#" title="Add Favourite"><i class="flaticon-like-1 flat-mini"></i></a></li>
                                            <li class="md-mx-none"><a class="quick-view" href="#quick-view" title="Quick View"><i class="flaticon-zoom-increasing-symbol flat-mini"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="post-content py-3">
                                        <div class="post-meta font-small text-uppercase list-color-primary">
                                            <a href="#" class="listing-ctg"><i class="fa-solid fa-building"></i><span>Condos</span></a>
                                        </div>
                                        <h5 class="listing-title"><a href="property-single-v1#">New Developed Condos</a></h5>
                                        <span class="listing-location"><i class="fas fa-map-marker-alt"></i> 2305 Tree Frog Lane Overlandpk</span>
                                        <ul class="d-flex quantity font-fifteen">
                                            <li title="Beds"><span><i class="fa-solid fa-bed"></i></span>7</li>
                                            <li title="Baths"><span><i class="fa-solid fa-shower"></i></span>5</li>
                                            <li title="Area"><span><i class="fa-solid fa-vector-square"></i></span>1200 Sqft</li>
                                            <li title="Gas"><span><i class="fa-solid fa-fire"></i></span>Yes</li>
                                        </ul>
                                        <span class="listing-price">Rs 22,0450<small> ( Monthly  )</small></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--============== Property Tab End ==============-->

         <!--============== Featured Property Start ==============-->
         <div class="full-row bg-white">
            <div class="container">
                <div class="row mb-4">
                    <div class="col">
                        <div class="d-flex justify-content-between align-items-center">
                            <h3 class="mb-0">New Hot Deals</h3>
                            <a href="#" class="btn-link text-secondary hover-text-primary transation">More Deals</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="4block-carusel nav-disable owl-carousel">
                            <div class="item">
                                <div class="property-grid-2 property-block transation">
                                    <div class="overflow-hidden position-relative transation thumbnail-img rounded bg-secondary hover-img-zoom">
                                        <div class="cata position-absolute">
                                            <span class="sale bg-secondary text-white">For Sale</span>
                                        </div>
                                        <a href="property-single-v1#"><img src="{% static 'frontpart/assets/images/property_grid/property-grid-5.png' %}" alt="Image Not Found!"></a>
                                        <ul class="position-absolute quick-meta">
                                            <li><a href="#" title="Add Compare"><i class="flaticon-transfer flat-mini"></i></a></li>
                                            <li><a href="#" title="Add Favourite"><i class="flaticon-like-1 flat-mini"></i></a></li>
                                            <li class="md-mx-none"><a class="quick-view" href="#quick-view" title="Quick View"><i class="flaticon-zoom-increasing-symbol flat-mini"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="post-content py-3">
                                        <div class="post-meta font-small text-uppercase list-color-primary">
                                            <a href="#" class="listing-ctg"><i class="fa-solid fa-building"></i><span>Villa</span></a>
                                        </div>
                                        <h5 class="listing-title"><a href="property-single-v1#">Gorgeous Villa Bay View</a></h5>
                                        <span class="listing-location"><i class="fas fa-map-marker-alt"></i> 2305 Tree Frog Lane Overlandpk</span>
                                        <span class="listing-price">Rs 12000<small> (Monthly)</small></span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="property-grid-2 property-block transation">
                                    <div class="overflow-hidden position-relative transation thumbnail-img rounded bg-secondary hover-img-zoom">
                                        <div class="cata position-absolute">
                                            <span class="sale bg-secondary text-white">For Sale</span>
                                        </div>
                                        <a href="property-single-v1#"><img src="{% static 'frontpart/assets/images/property_grid/property-grid-6.png' %}" alt="Image Not Found!"></a>
                                        <ul class="position-absolute quick-meta">
                                            <li><a href="#" title="Add Compare"><i class="flaticon-transfer flat-mini"></i></a></li>
                                            <li><a href="#" title="Add Favourite"><i class="flaticon-like-1 flat-mini"></i></a></li>
                                            <li class="md-mx-none"><a class="quick-view" href="#quick-view" title="Quick View"><i class="flaticon-zoom-increasing-symbol flat-mini"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="post-content py-3">
                                        <div class="post-meta font-small text-uppercase list-color-primary">
                                            <a href="#" class="listing-ctg"><i class="fa-solid fa-building"></i><span>Appartment</span></a>
                                        </div>
                                        <h5 class="listing-title"><a href="property-single-v1#">Luxury Condos Infront of River</a></h5>
                                        <span class="listing-location"><i class="fas fa-map-marker-alt"></i> 2305 Tree Frog Lane Overlandpk</span>
                                        <span class="listing-price">Rs 1205500<small> (Only)</small></span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="property-grid-2 property-block transation">
                                    <div class="overflow-hidden position-relative transation thumbnail-img rounded bg-secondary hover-img-zoom">
                                        <div class="cata position-absolute">
                                            <span class="sale bg-secondary text-white">For Rent</span>
                                        </div>
                                        <a href="property-single-v1#"><img src="{% static 'frontpart/assets/images/property_grid/property-grid-7.png' %}" alt="Image Not Found!"></a>
                                        <ul class="position-absolute quick-meta">
                                            <li><a href="#" title="Add Compare"><i class="flaticon-transfer flat-mini"></i></a></li>
                                            <li><a href="#" title="Add Favourite"><i class="flaticon-like-1 flat-mini"></i></a></li>
                                            <li class="md-mx-none"><a class="quick-view" href="#quick-view" title="Quick View"><i class="flaticon-zoom-increasing-symbol flat-mini"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="post-content py-3">
                                        <div class="post-meta font-small text-uppercase list-color-primary">
                                            <a href="#" class="listing-ctg"><i class="fa-solid fa-building"></i><span>Appartment</span></a>
                                        </div>
                                        <h5 class="listing-title"><a href="property-single-v1#">New Developed Condos</a></h5>
                                        <span class="listing-location"><i class="fas fa-map-marker-alt"></i> 2305 Tree Frog Lane Overlandpk</span>
                                        <span class="listing-price">Rs 17500<small> (Monthly)</small></span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="property-grid-2 property-block transation">
                                    <div class="overflow-hidden position-relative transation thumbnail-img rounded bg-secondary hover-img-zoom">
                                        <div class="cata position-absolute">
                                            <span class="sale bg-secondary text-white">For Rent</span>
                                        </div>
                                        <a href="property-single-v1#"><img src="{% static 'frontpart/assets/images/property_grid/property-grid-8.png' %}" alt="Image Not Found!"></a>
                                        <ul class="position-absolute quick-meta">
                                            <li><a href="#" title="Add Compare"><i class="flaticon-transfer flat-mini"></i></a></li>
                                            <li><a href="#" title="Add Favourite"><i class="flaticon-like-1 flat-mini"></i></a></li>
                                            <li class="md-mx-none"><a class="quick-view" href="#quick-view" title="Quick View"><i class="flaticon-zoom-increasing-symbol flat-mini"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="post-content py-3">
                                        <div class="post-meta font-small text-uppercase list-color-primary">
                                            <a href="#" class="listing-ctg"><i class="fa-solid fa-building"></i><span>Condos</span></a>
                                        </div>
                                        <h5 class="listing-title"><a href="property-single-v1#">Luxury Condos Infront of River</a></h5>
                                        <span class="listing-location"><i class="fas fa-map-marker-alt"></i> 2305 Tree Frog Lane Overlandpk</span>
                                        <span class="listing-price">Rs 22000<small> (Monthly)</small></span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="property-grid-2 property-block transation">
                                    <div class="overflow-hidden position-relative transation thumbnail-img rounded bg-secondary hover-img-zoom">
                                        <div class="cata position-absolute">
                                            <span class="sale bg-secondary text-white">For Sale</span>
                                        </div>
                                        <a href="property-single-v1#"><img src="{% static 'frontpart/assets/images/property_grid/property-grid-5.png' %}" alt="Image Not Found!"></a>
                                        <ul class="position-absolute quick-meta">
                                            <li><a href="#" title="Add Compare"><i class="flaticon-transfer flat-mini"></i></a></li>
                                            <li><a href="#" title="Add Favourite"><i class="flaticon-like-1 flat-mini"></i></a></li>
                                            <li class="md-mx-none"><a class="quick-view" href="#quick-view" title="Quick View"><i class="flaticon-zoom-increasing-symbol flat-mini"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="post-content py-3">
                                        <div class="post-meta font-small text-uppercase list-color-primary">
                                            <a href="#" class="listing-ctg"><i class="fa-solid fa-building"></i><span>Villa</span></a>
                                        </div>
                                        <h5 class="listing-title"><a href="property-single-v1#">Gorgeous Villa Bay View</a></h5>
                                        <span class="listing-location"><i class="fas fa-map-marker-alt"></i> 2305 Tree Frog Lane Overlandpk</span>
                                        <span class="listing-price">Rs 12000<small> (Monthly)</small></span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="property-grid-2 property-block transation">
                                    <div class="overflow-hidden position-relative transation thumbnail-img rounded bg-secondary hover-img-zoom">
                                        <div class="cata position-absolute">
                                            <span class="sale bg-secondary text-white">For Sale</span>
                                        </div>
                                        <a href="property-single-v1#"><img src="{% static 'frontpart/assets/images/property_grid/property-grid-6.png' %}" alt="Image Not Found!"></a>
                                        <ul class="position-absolute quick-meta">
                                            <li><a href="#" title="Add Compare"><i class="flaticon-transfer flat-mini"></i></a></li>
                                            <li><a href="#" title="Add Favourite"><i class="flaticon-like-1 flat-mini"></i></a></li>
                                            <li class="md-mx-none"><a class="quick-view" href="#quick-view" title="Quick View"><i class="flaticon-zoom-increasing-symbol flat-mini"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="post-content py-3">
                                        <div class="post-meta font-small text-uppercase list-color-primary">
                                            <a href="#" class="listing-ctg"><i class="fa-solid fa-building"></i><span>Appartment</span></a>
                                        </div>
                                        <h5 class="listing-title"><a href="property-single-v1#">Luxury Condos Infront of River</a></h5>
                                        <span class="listing-location"><i class="fas fa-map-marker-alt"></i> 2305 Tree Frog Lane Overlandpk</span>
                                        <span class="listing-price">Rs 1205500<small> (Only)</small></span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="property-grid-2 property-block transation">
                                    <div class="overflow-hidden position-relative transation thumbnail-img rounded bg-secondary hover-img-zoom">
                                        <div class="cata position-absolute">
                                            <span class="sale bg-secondary text-white">For Rent</span>
                                        </div>
                                        <a href="property-single-v1#"><img src="{% static 'frontpart/assets/images/property_grid/property-grid-7.png' %}" alt="Image Not Found!"></a>
                                        <ul class="position-absolute quick-meta">
                                            <li><a href="#" title="Add Compare"><i class="flaticon-transfer flat-mini"></i></a></li>
                                            <li><a href="#" title="Add Favourite"><i class="flaticon-like-1 flat-mini"></i></a></li>
                                            <li class="md-mx-none"><a class="quick-view" href="#quick-view" title="Quick View"><i class="flaticon-zoom-increasing-symbol flat-mini"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="post-content py-3">
                                        <div class="post-meta font-small text-uppercase list-color-primary">
                                            <a href="#" class="listing-ctg"><i class="fa-solid fa-building"></i><span>Appartment</span></a>
                                        </div>
                                        <h5 class="listing-title"><a href="property-single-v1#">New Developed Condos</a></h5>
                                        <span class="listing-location"><i class="fas fa-map-marker-alt"></i> 2305 Tree Frog Lane Overlandpk</span>
                                        <span class="listing-price">Rs 17500<small> (Monthly)</small></span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="property-grid-2 property-block transation">
                                    <div class="overflow-hidden position-relative transation thumbnail-img rounded bg-secondary hover-img-zoom">
                                        <div class="cata position-absolute">
                                            <span class="sale bg-secondary text-white">For Rent</span>
                                        </div>
                                        <a href="property-single-v1#"><img src="{% static 'frontpart/assets/images/property_grid/property-grid-8.png' %}" alt="Image Not Found!"></a>
                                        <ul class="position-absolute quick-meta">
                                            <li><a href="#" title="Add Compare"><i class="flaticon-transfer flat-mini"></i></a></li>
                                            <li><a href="#" title="Add Favourite"><i class="flaticon-like-1 flat-mini"></i></a></li>
                                            <li class="md-mx-none"><a class="quick-view" href="#quick-view" title="Quick View"><i class="flaticon-zoom-increasing-symbol flat-mini"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="post-content py-3">
                                        <div class="post-meta font-small text-uppercase list-color-primary">
                                            <a href="#" class="listing-ctg"><i class="fa-solid fa-building"></i><span>Condos</span></a>
                                        </div>
                                        <h5 class="listing-title"><a href="property-single-v1#">Luxury Condos Infront of River</a></h5>
                                        <span class="listing-location"><i class="fas fa-map-marker-alt"></i> 2305 Tree Frog Lane Overlandpk</span>
                                        <span class="listing-price">Rs 22000<small> (Monthly)</small></span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="property-grid-2 property-block transation">
                                    <div class="overflow-hidden position-relative transation thumbnail-img rounded bg-secondary hover-img-zoom">
                                        <div class="cata position-absolute">
                                            <span class="sale bg-secondary text-white">For Sale</span>
                                        </div>
                                        <a href="property-single-v1#"><img src="{% static 'frontpart/assets/images/property_grid/property-grid-5.png' %}" alt="Image Not Found!"></a>
                                        <ul class="position-absolute quick-meta">
                                            <li><a href="#" title="Add Compare"><i class="flaticon-transfer flat-mini"></i></a></li>
                                            <li><a href="#" title="Add Favourite"><i class="flaticon-like-1 flat-mini"></i></a></li>
                                            <li class="md-mx-none"><a class="quick-view" href="#quick-view" title="Quick View"><i class="flaticon-zoom-increasing-symbol flat-mini"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="post-content py-3">
                                        <div class="post-meta font-small text-uppercase list-color-primary">
                                            <a href="#" class="listing-ctg"><i class="fa-solid fa-building"></i><span>Villa</span></a>
                                        </div>
                                        <h5 class="listing-title"><a href="property-single-v1#">Gorgeous Villa Bay View</a></h5>
                                        <span class="listing-location"><i class="fas fa-map-marker-alt"></i> 2305 Tree Frog Lane Overlandpk</span>
                                        <span class="listing-price">Rs 12000<small> (Monthly)</small></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--============== Featured Property End ==============-->
        <!--============== Property Search Form Start ==============-->
        <div class="full-row p-0 overlay-secondary" style="background-image: url('{% static 'frontpart/assets/images/slider/5.png' %}'); background-position: center center;">
            <div class="container">
                <div class="banner-search" style="padding-top: 120px; padding-bottom: 120px;">
                    <div class="row">
                        <div class="col-lg-7 position-relative">
                            <h2 class="text-white font-400">Find Your Dream Home</h2>
                            <span class="h5 mb-50 d-table text-white font-400"></span>
                            <span class="h6 mb-20 d-table text-white font-400">What are you looking for?</span>
                            <div class="row">
                                <div class="col-lg-4 col-md-6 mb-4">
                                    <div class="text-center p-35 bg-dark text-white transation hover-shadow h-100 rounded">
                                        <span class="flaticon-network flat-medium text-primary"></span>
                                        <h5 class="mb-3 font-400"><a href="#" class="d-block text-white hover-text-primary mt-4">Living House</a></h5>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 mb-4">
                                    <div class="text-center p-35 bg-dark text-white transation hover-shadow h-100 rounded">
                                        <span class="flaticon-network flat-medium text-primary"></span>
                                        <h5 class="mb-3 font-400"><a href="#" class="d-block text-white hover-text-primary mt-4">Housing Land</a></h5>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 mb-4">
                                    <div class="text-center p-35 bg-dark transation hover-shadow h-100 rounded">
                                        <span class="flaticon-network flat-medium text-primary"></span>
                                        <h5 class="mb-3 font-400"><a href="#" class="d-block text-white hover-text-primary mt-4">Modern Office</a></h5>
                                    </div>
                                </div>
                            </div>
                            <p class="text-white">
                                Embark on your journey to Find Your Dream Home with us. Explore a curated collection of properties tailored to your unique lifestyle. Your perfect home awaits – discover it with ease and excitement.</p>
                        </div>
                        <div class="col-lg-4 offset-lg-1">
                            <form class="bg-white rounded shadow-sm quick-search p-20 p-xl-5 form-icon-right position-relative" action="#" method="post">
                                <h5 class="down-line mb-4">Quick Inquiry</h5>
                                <div class="row row-cols-1 g-4">
                                    <div class="col">
                                        <label>Select Locality dropdown</label>
										<select id="cities" class="form-control" name="cities" style="height:30px !important" required>
												<option value="">Select an area</option>
												<option value="Ajod">Ajod</option>
												<option value="Ajwa Road">Ajwa Road</option>
												<option value="Akota">Akota</option>
												<option value="Alkapuri">Alkapuri</option>
												<option value="Amaliyara">Amaliyara</option>
												<option value="Amodar">Amodar</option>
												<option value="Ampad">Ampad</option>
												<option value="Angadh">Angadh</option>
												<option value="Ankhol">Ankhol</option>
												<option value="Ankodia">Ankodia</option>
												<option value="Asoj">Asoj</option>
												<option value="Atladara">Atladara</option>
												<option value="Bajwa">Bajwa</option>
												<option value="Bakrol">Bakrol</option>
												<option value="Baranpura">Baranpura</option>
												<option value="Bhaily">Bhaily</option>
												<option value="Bill">Bill</option>
												<option value="Chapad">Chapad</option>
												<option value="Chemical Industries">Chemical Industries</option>
												<option value="Chhani Rd">Chhani Rd</option>
												<option value="Danteshwar">Danteshwar</option>
												<option value="Dashrath">Dashrath</option>
												<option value="Dhaniavi">Dhaniavi</option>
												<option value="Dhanora">Dhanora</option>
												<option value="Dodka">Dodka</option>
												<option value="Dumad">Dumad</option>
												<option value="Eme">Eme</option>
												<option value="Fartilizer Nagar">Fartilizer Nagar</option>
												<option value="Fateganj">Fateganj</option>
												<option value="Fatepura (vadodara)">Fatepura (vadodara)</option>
												<option value="Fazalpur">Fazalpur</option>
												<option value="Geb">Geb</option>
												<option value="Gorwa">Gorwa</option>
												<option value="Gosindra">Gosindra</option>
												<option value="Gotri">Gotri</option>
												<option value="Harni Colony">Harni Colony</option>
												<option value="Industrial Estate (vadodara)">Industrial Estate (vadodara)</option>
												<option value="Itola">Itola</option>
												<option value="Itola R.s.">Itola R.s.</option>
												<option value="Jambua">Jambua</option>
												<option value="Jawahar Nagar (vadodara)">Jawahar Nagar (vadodara)</option>
												<option value="Kalali">Kalali</option>
												<option value="Kapurai">Kapurai</option>
												<option value="Karchiya">Karchiya</option>
												<option value="Karelibaug">Karelibaug</option>
												<option value="Karodia">Karodia</option>
												<option value="Kelanpur">Kelanpur</option>
												<option value="Khanderao Market">Khanderao Market</option>
												<option value="Kotna">Kotna</option>
												<option value="Koyali">Koyali</option>
												<option value="Kumetha">Kumetha</option>
												<option value="M.i. Estate">M.i. Estate</option>
												<option value="Madanzampa">Madanzampa</option>
												<option value="Makarpura">Makarpura</option>
												<option value="Mandvi (vadodara)">Mandvi (vadodara)</option>
												<option value="Maneja">Maneja</option>
												<option value="Manjalpur">Manjalpur</option>
												<option value="Nandesari">Nandesari</option>
												<option value="Nandesari Ind. Estate">Nandesari Ind. Estate</option>
												<option value="Nimetha">Nimetha</option>
												<option value="Ongc Col">Ongc Col</option>
												<option value="Padmala">Padmala</option>
												<option value="Panchvati">Panchvati</option>
												<option value="Patarveni">Patarveni</option>
												<option value="Petrochemical T Ship">Petrochemical T Ship</option>
												<option value="Petrochemical">Petrochemical</option>
												<option value="Por">Por</option>
												<option value="Pratapganj (vadodara)">Pratapganj (vadodara)</option>
												<option value="Pratapnagar R.s.">Pratapnagar R.s.</option>
												<option value="Pratapnagar (vadodara)">Pratapnagar (vadodara)</option>
												<option value="Racecourse">Racecourse</option>
												<option value="Raika">Raika</option>
												<option value="Raipura">Raipura</option>
												<option value="Ramnath">Ramnath</option>
												<option value="Ranoli (vadodara)">Ranoli (vadodara)</option>
												<option value="Ruvand">Ruvand</option>
												<option value="Samiyala">Samiyala</option>
												<option value="Samsabad">Samsabad</option>
												<option value="Sankarda">Sankarda</option>
												<option value="Santkawnar Colony">Santkawnar Colony</option>
												<option value="Sarar">Sarar</option>
												<option value="Sardar Nagar Society">Sardar Nagar Society</option>
												<option value="Sayajiganj">Sayajiganj</option>
												<option value="Sayajipura">Sayajipura</option>
												<option value="Sevasi">Sevasi</option>
												<option value="Shahpura">Shahpura</option>
												<option value="Sharadnagar">Sharadnagar</option>
												<option value="Sherkhi">Sherkhi</option>
												<option value="Sindhrot">Sindhrot</option>
												<option value="Sisva">Sisva</option>
												<option value="Sokhda">Sokhda</option>
												<option value="Soma Talav">Soma Talav</option>
												<option value="Srp Group I">Srp Group I</option>
												<option value="Subhanpura">Subhanpura</option>
												<option value="Sundarpura">Sundarpura</option>
												<option value="T B Sanatorium">T B Sanatorium</option>
												<option value="Tandalja">Tandalja</option>
												<option value="Tarsali">Tarsali</option>
												<option value="Tatarpura">Tatarpura</option>
												<option value="Undera">Undera</option>
												<option value="Vadodara">Vadodara</option>
												<option value="Vadsala">Vadsala</option>
												<option value="Vadsar">Vadsar</option>
												<option value="Varnama">Varnama</option>
												<option value="Vasna Kotaria">Vasna Kotaria</option>
												<option value="Vasna Road">Vasna Road</option>
												<option value="Vidhyut Nagar Colony">Vidhyut Nagar Colony</option>
												<option value="Virod">Virod</option>
												<option value="Wadi S.n. Road">Wadi S.n. Road</option>
												<option value="Waghodia Road">Waghodia Road</option>
												<option value="Other">Other</option>
											</select>
                                    </div>
                                    <div class="col">
                                        <label>Select Your Budget </label>
										<select id="Budget" class="form-control" name="budget" style="height:32px !important" required>
										<option value=""></option>
										<option value="20 - 35 lacs">20 - 35 lacs</option>
										<option value="35-50 lacs">35-50 lacs</option>
										<option value="50-65 lacs">50-65 lacs</option>
										<option value="65-80 lacs">65-80 lacs</option>
										<option value="80-1cr">80-1cr</option>
										<option value="1-1.5 cr">1-1.5 cr</option>
										<option value="1.5 cr +">1.5 cr +</option>
										</select>
                                    </div>
                                    <div class="col">
                                        <div class="position-relative">
                                            <label>Property Type</label>
                                            <select id="ptypes" class="form-control mainform" name="ptypes" required>
                                                <option value=""></option>
                                                <option value="Residential">Residential</option>
                                                <option value="Commercial">Commercial</option>
                                                <option value="Plots">Plots</option>
                                            </select>
                                        </div>
                                    </div>
                                    
                                    <div class="col">
                                        <label>Name</label>
										<input type="text" class="form-control mainform" placeholder="Enter Name" name="name" required>
                                    </div>
                                    <div class="col">
                                        <label>Phone No</label>
										<input type="number" class="form-control" placeholder="Enter Number" name="pno" id="phone"  maxlength="10" minlength="10" 
										title="Please enter a 10 to 12-digit phone number"
										oninput="validatePhoneNumber()" required>
                                    </div>
                                    <div class="col">
                                        <label>Email</label>
											<input type="email" class="form-control mainform" placeholder="Email" name="email" required>
                                    </div>
                                    <div class="col mb-20">
                                        <div class="form-group mb-0">
                                            <button class="btn btn-primary w-100">Search</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--============== Property Search Form End ==============-->
       
        <!--============== Booking Banner Start ==============-->
        <!-- <div class="full-row paraxify" style="background-image: url({% static 'frontpart/assets/images/background/bg-3.png' %});">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="bg-white rounded p-5">
                            <h3 class="down-line mb-4">Are you looking for modern apartment?</h3>
                            <p style="text-align:justify;">
                                Elevate your living experience with our modern apartments, where contemporary design meets comfort. Discover a harmonious blend of style and functionality, offering the perfect sanctuary to call home. Explore our curated selection, tailored to those seeking the epitome of modern living. Your ideal apartment is just a step away from becoming your modern haven.</p>
                            <a href="/signin" class="btn btn-primary">Booking Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--============== Booking Banner End ==============-->
        <!-- Meetings Section Start -->
        <!-- <div class="full-row">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <img src="{% static 'frontpart/assets/images/clipart/9.png' %}" alt="">
                    </div>
                    <div class="col-lg-5 offset-lg-1">
                        <div class="position-relative y-center">
                            <span class="tagline mb-1 d-block text-primary">Beyond Transactions:</span>
                            <h2 class="mb-40 down-line">Realezi's Vision for Real Estate Evolution</h2> <p style="text-align:justify">In a realm traditionally dominated by transactions, Realezi stands apart, driven by a vision to revolutionize the real estate landscape. We are not merely a real estate firm; we are architects of change, dedicated to transforming the very dimension of real estate from a mere transactional process to an enriching, dynamic experience.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="full-row">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 offset-lg-1 order-lg-2">
                        <img src="{% static 'frontpart/assets/images/clipart/10.png' %}" alt="">
                    </div>
                    <div class="col-lg-5 order-lg-1">
                        <div class="position-relative y-center">
                            <span class="tagline mb-1 d-block text-primary">Shaping Tomorrow's Homes</span>
                            <h2 class="mb-40 down-line">Realezi's Progressive Approach</h2>
                            <p style="text-align:justify">Realezi is not your average real estate firm; we are pioneers shaping the future of homes. Beyond the conventional sale of properties, our progressive approach envisions a real estate experience that transcends the transactional.</p>
                            <p style="text-align:justify">We are here to introduce a paradigm shift, where each home represents not just a physical space but a harmonious blend of lifestyle, innovation, and personalized service.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>  -->
      
        <div class="full-row bg-white">
            <div class="container">
                <div class="row">
                    <div class="col position-relative">
                        <span class="box-tab-line h6 text-primary bg-white x-center px-2">Our Clients</span>
                        <h2 class="box-title text-secondary text-center mx-auto mb-4 font-400">Who Trusted</h2>
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="owl-carousel partner-slider">
                            <div class="item bg-white">
                                <a href="#"><img src="{% static 'frontpart/assets/images/partner/logo-1.jpg' %}" alt="Image not found!" /></a>
                            </div>
                            <div class="item bg-white">
                                <a href="#"><img src="{% static 'frontpart/assets/images/partner/logo-2.jpg' %}" alt="Image not found!" /></a>
                            </div>
                            <div class="item bg-white">
                                <a href="#"><img src="{% static 'frontpart/assets/images/partner/logo-3.jpg' %}" alt="Image not found!" /></a>
                            </div>
                            <div class="item bg-white">
                                <a href="#"><img src="{% static 'frontpart/assets/images/partner/logo-4.jpg' %}" alt="Image not found!" /></a>
                            </div>
                            <div class="item bg-white">
                                <a href="#"><img src="{% static 'frontpart/assets/images/partner/logo-5.jpg' %}" alt="Image not found!" /></a>
                            </div>
                            <div class="item bg-white">
                                <a href="#"><img src="{% static 'frontpart/assets/images/partner/logo-6.jpg' %}" alt="Image not found!" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--============== Client Logo End ==============-->

        <!--============== Footer Section Start ==============-->
        <!--============== Footer Section Start ==============-->
        {% include 'Frontend/footer.html' %}

        <!-- Scroll to top -->
        <div class="scroll-top-vertical xs-mx-none" id="scroll">Go Top <i class="ms-2 fa-solid fa-arrow-right-long"></i></div>
        <!-- End Scroll To top -->
        <!--============== Footer Section End ==============-->

        <!--============== Modal Start ==============-->
        <div class="overlay-dark modal fade quick-view-modal" id="quick-view">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <div class="close view-close">
                        <span aria-hidden="true">&times;</span>
                    </div>
                    <div class="modal-body property-block summary p-3">
                        <div class="row row-cols-xl-2 row-cols-1">
                            <div class="col">
                                <div class="overflow-hidden position-relative transation thumbnail-img bg-secondary hover-img-zoom m-2">
                                    <div class="cata position-absolute">
                                        <span class="sale bg-secondary text-white">For Rent</span>
                                        <span class="featured bg-primary text-white">Featured</span>
                                    </div>
                                    <a href="#"><img class="w-100" src="{% static 'frontpart/assets/images/property/2.png' %}" alt=""></a>
                                    <ul class="position-absolute quick-meta">
                                        <li><a href="#"><i class="flaticon-transfer flat-mini"></i></a></li>
                                        <li><a href="#"><i class="flaticon-like-1 flat-mini"></i></a></li>
                                        <li><a href="#"><i class="flaticon-share flat-mini"></i></a></li>
                                        <li><a href="#"><i class="flaticon-printer flat-mini"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col">
                                <div class="property_text transation py-3 pe-3">
                                    <span class="d-inline-block text-primary">Condos</span>
                                    <h5 class="modal-title mb-1" id="staticBackdropLabel"><a href="#" class="text-secondary hover-text-primary transation">Luxury Condos Infront of the street of Green Park</a></h5>
                                    <span class="mt-1 mb-3 d-block font-fifteen"><i class="fas fa-map-marker-alt text-primary"></i> 2305 Tree Frog Lane Overlandpk, MO 66210</span>
                                    <a href="#" class="d-block text-light hover-text-primary font-small mb-2">( 100 People Recommended )</a>
                                    <div class="d-flex">
                                        <span class="text-secondary font-large">Rs 5600 - Rs 8300/<small>mo</small></span>
                                        <span class="text-white font-mini px-2 rounded product-status ms-5 my-1 bg-primary"><i class="fas fa-check"></i> Available</span>
                                    </div>
                                    <div class="product-offers mt-3">
                                        <ul class="product-offers-list">
                                            <li class="product-offer-item"> <strong>Special Price </strong>Get extra 19% off (price inclusive of discount)</li>
                                            <li class="product-offer-item"> <strong>Bank Offer </strong> 10% instant discount on VISA Cards</li>
                                            <li class="product-offer-item"> <strong>No cost EMI Rs 49/month.</strong> Standard EMI also available</li>
                                        </ul>
                                    </div>
                                    <hr>
                                    <div class="quantity">
                                        <ul class="d-flex">
                                            <li><span>Rooms:</span> 5</li>
                                            <li><span>Beds:</span> 3</li>
                                            <li><span>Bathrooms:</span> 2</li>
                                            <li><span>Garage:</span> 1</li>
                                            <li><span>Area:</span> 1100 Sqft</li>
                                        </ul>
                                    </div>
                                    <h5 class="text-secondary my-3">Description</h5>
                                    <p>Bibendum purus aenean mus aenean eu interdum nonummy ipsum ad consequat. Dui eros donec faucibus convallis tempus rutrum id donec mus hymenaeos placerat congue curae mauris turpis gravida viverra consequat consequat
                                        gravida luctus.</p>
                                    <div class="short-description d-flex">
                                        <span class="me-4"><b>Highlights:</b></span>
                                        <div class="short-description">
                                            <ul class="list-style-tick">
                                                <li>Regular Fit.</li>
                                                <li>Full sleeves.</li>
                                                <li>Machine wash, tumble dry.</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center post-meta mt-2 py-3 border-top">
                                        <div class="agent">
                                            <a href="#" class="d-flex text-general align-items-center"><img class="rounded-circle me-2" src="{% static 'frontpart/assets/images/team/1.jpg' %}" alt="avata"><span>Ali Tufan</span></a>
                                        </div>
                                        <div class="post-date ms-auto"><span>2 Month Ago</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--============== Modal End ==============-->

    </div>

    <!-- Javascript Files -->
    <script src="{% static 'frontpart/assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/greensock.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/layerslider.kreaturamedia.jquery.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/popper.min.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/jquery.fancybox.min.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/owl.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/range/tmpl.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/range/jquery.dependClass.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/range/draggable.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/range/jquery.slider.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/wow.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/mixitup.min.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/paraxify.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/custom.js' %}"></script>
    <script type="text/javascript" id="zsiqchat">var $zoho=$zoho || {};$zoho.salesiq = $zoho.salesiq || {widgetcode: "siq2264bc1ec5af70b3d1cfe55041667293cc361a835a7cf4b5af5262761fb8a754", values:{},ready:function(){}};var d=document;s=d.createElement("script");s.type="text/javascript";s.id="zsiqscript";s.defer=true;s.src="https://salesiq.zohopublic.in/widget";t=d.getElementsByTagName("script")[0];t.parentNode.insertBefore(s,t);</script>
</body>


</html>