<!doctype html>
<html lang="en">

<head>
    <!-- Meta Tag -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Uniland - Real Estate HTML5 Template">
    <meta name="keywords" content="real estate, property, property search, agent, apartments, booking, business, idx, housing, real estate agency, rental">
    <meta name="author" content="unicoder">
    <title>Realezi</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'frontpart/assets/images/favicon.ico">
    {% load static %}
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sen:wght@400;700&amp;display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,500;0,700;1,400&amp;display=swap" rel="stylesheet">

    <!-- Required style of the theme -->
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/bootstrap-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/webfonts/flaticon/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/owl.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/jquery.fancybox.min.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/layerslider.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/template.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/colors/color-6.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/loader.css' %}">
    <style>
        .breadcrumb-item+.breadcrumb-item::before{
            display:none !important;
        }
    </style>
</head>

<body>

    <div class="preloader">
		<div class="loader xy-center"></div>
	</div>

    <div id="page_wrapper" class="bg-light">
        <!--============== Header Section Start ==============-->
       {% include 'Frontend/header.html'%}
        <!--============== Header Section End ==============-->

        <!--============== Page title Start ==============-->
       
        <!--============== Page title End ==============-->

       <!--============== Page Banner Start ==============-->
       <div class="page-banner-simple bg-secondary py-50" style="margin-top:60px;background-image:  url('{% static 'frontpart/assets/images/background/bg-1.png' %}'); background-repeat: no-repeat; background-position: center center; background-size: cover;">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h3 class="banner-title text-white">Privacy Policy</h3>
                </div>
            </div>
        </div>
    </div>
    <!--============== Page Banner End ==============-->

    <!--============== Faqs Start ==============-->
    <div class="full-row">
        <div class="container">
            <div class="row">
                <h1>Privacy Policy</h1>

                <p>Your privacy is of utmost importance to Realezi Real Estate ("we," "our," or "us"). This Privacy Policy is designed to help you understand how we collect, use, and safeguard your personal information when you use our website. By accessing our services, you agree to the practices outlined in this policy.</p>
            
                <h3>1. Information Collection</h3>
                <p>When you use Realezi Real Estate, we collect various types of information, including personal and non-personal data. Personal information may include your name, contact details, and property-related information. Non-personal information may include device information, IP addresses, and website usage data.</p>
            
                <h3>2. Use of Information</h3>
                <p>We use the collected information to provide and enhance our services, personalize your user experience, process transactions, and communicate with you. Additionally, we may use aggregated, non-personal information for analytical purposes to improve our website and services.</p>
            
                <h3>3. Data Security</h3>
                <p>We employ industry-standard security measures to protect your personal information from unauthorized access, disclosure, alteration, and destruction. While we strive to maintain the security of your data, no online transmission or storage method is 100% secure, and we cannot guarantee absolute security.</p>
            
                <h3>4. Third-Party Links</h3>
                <p>Realezi Real Estate may contain links to third-party websites for your convenience. We do not control or endorse the content or privacy practices of these external sites. We recommend reviewing the privacy policies of any third-party websites you visit through our platform.</p>
            
                <h3>5. Cookies and Tracking Technologies</h3>
                <p>We use cookies and similar tracking technologies to enhance your user experience, analyze website traffic, and improve our services. You have the option to disable cookies in your browser settings, but this may impact certain features of the website.</p>
            
                <h3>6. Information Sharing</h3>
                <p>We do not sell, trade, or rent your personal information to third parties. However, we may share information with trusted service providers who assist us in delivering our services, subject to confidentiality agreements. We may also disclose information in compliance with legal requirements.</p>
            
                <h3>7. Children's Privacy</h3>
                <p>Realezi Real Estate services are not intended for individuals under the age of 13. We do not knowingly collect personal information from children. If you believe we have unintentionally collected information from a child, please contact us to promptly remove the information.</p>
            
                <h3>8. Changes to Privacy Policy</h3>
                <p>We reserve the right to update or modify this Privacy Policy. Any changes will be posted on this page, and the effective date will be updated accordingly. Your continued use of our services after such changes constitutes acceptance of the updated policy.</p>
            
                <h3>9. Contact Us</h3>
                <p>If you have any questions or concerns about our Privacy Policy, please do not hesitate to contact our support team through the information provided on the "Contact Us" page. We are committed to addressing your inquiries promptly and effectively.</p>
            
            </div>
        </div>
    </div>
    <!--============== Faqs End ==============-->

        {% include 'Frontend/footer.html' %}

        <!--============== Copyright Section Start ==============-->
        <div class="copyright bg-footer text-default py-4">
            <div class="container">
                <div class="row row-cols-md-2 row-cols-1">
                    <div class="col">
                        <span class="text-white">© 2022 Uniland All right reserved</span>
                    </div>
                    <div class="col">
                        <ul class="line-menu float-end list-color-gray">
                            <li><a href="#">Privacy & Policy </a></li>
                            <li>|</li>
                            <li><a href="#">Site Map</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--============== Copyright Section End ==============-->

        <!-- Scroll to top -->
        <div class="scroll-top-vertical xs-mx-none" id="scroll">Go Top <i class="ms-2 fa-solid fa-arrow-right-long"></i></div>
        <!-- End Scroll To top -->

        <!--============== Modal Start ==============-->
        <div class="overlay-dark modal fade quick-view-modal" id="quick-view">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <div class="close view-close">
                        <span aria-hidden="true">&times;</span>
                    </div>
                    <div class="modal-body property-block summary p-3">
                        <div class="row row-cols-xl-2 row-cols-1">
                            <div class="col">
                                <div class="overflow-hidden position-relative transation thumbnail-img bg-secondary hover-img-zoom m-2">
                                    <div class="cata position-absolute">
                                        <span class="sale bg-secondary text-white">For Rent</span>
                                        <span class="featured bg-primary text-white">Featured</span>
                                    </div>
                                    <a href="#"><img class="w-100" src="{% static 'frontpart/assets/images/property/2.png' %}" alt=""></a>
                                    <ul class="position-absolute quick-meta">
                                        <li><a href="#"><i class="flaticon-transfer flat-mini"></i></a></li>
                                        <li><a href="#"><i class="flaticon-like-1 flat-mini"></i></a></li>
                                        <li><a href="#"><i class="flaticon-share flat-mini"></i></a></li>
                                        <li><a href="#"><i class="flaticon-printer flat-mini"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col">
                                <div class="property_text transation py-3 pe-3">
                                    <span class="d-inline-block text-primary">Condos</span>
                                    <h5 class="modal-title mb-1" id="staticBackdropLabel"><a href="#" class="text-secondary hover-text-primary transation">Luxury Condos Infront of the street of Green Park</a></h5>
                                    <span class="mt-1 mb-3 d-block font-fifteen"><i class="fas fa-map-marker-alt text-primary"></i> 2305 Tree Frog Lane Overlandpk, MO 66210</span>
                                    <a href="#" class="d-block text-light hover-text-primary font-small mb-2">( 100 People Recommended )</a>
                                    <div class="d-flex">
                                        <span class="text-secondary font-large">Rs. 5600 - Rs. 8300/<small>mo</small></span>
                                        <span class="text-white font-mini px-2 rounded product-status ms-5 my-1 bg-primary"><i class="fas fa-check"></i> Available</span>
                                    </div>
                                    <div class="product-offers mt-3">
                                        <ul class="product-offers-list">
                                            <li class="product-offer-item"> <strong>Special Price </strong>Get extra 19% off (price inclusive of discount)</li>
                                            <li class="product-offer-item"> <strong>Bank Offer </strong> 10% instant discount on VISA Cards</li>
                                            <li class="product-offer-item"> <strong>No cost EMI Rs. 49/month.</strong> Standard EMI also available</li>
                                        </ul>
                                    </div>
                                    <hr>
                                    <div class="quantity">
                                        <ul class="d-flex">
                                            <li><span>Rooms:</span> 5</li>
                                            <li><span>Beds:</span> 3</li>
                                            <li><span>Bathrooms:</span> 2</li>
                                            <li><span>Garage:</span> 1</li>
                                            <li><span>Area:</span> 1100 Sqft</li>
                                        </ul>
                                    </div>
                                    <h5 class="text-secondary my-3">Description</h5>
                                    <p>Bibendum purus aenean mus aenean eu interdum nonummy ipsum ad consequat. Dui eros donec faucibus convallis tempus rutrum id donec mus hymenaeos placerat congue curae mauris turpis gravida viverra consequat consequat
                                        gravida luctus.</p>
                                    <div class="short-description d-flex">
                                        <span class="me-4"><b>Highlights:</b></span>
                                        <div class="short-description">
                                            <ul class="list-style-tick">
                                                <li>Regular Fit.</li>
                                                <li>Full sleeves.</li>
                                                <li>Machine wash, tumble dry.</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center post-meta mt-2 py-3 border-top">
                                        <div class="agent">
                                            <a href="#" class="d-flex text-general align-items-center"><img class="rounded-circle me-2" src="{% static 'frontpart/assets/images/team/1.jpg' %}" alt="avata"><span>Ali Tufan</span></a>
                                        </div>
                                        <div class="post-date ms-auto"><span>2 Month Ago</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--============== Modal End ==============-->
    </div>

    <!-- Javascript Files -->
    <script src="{% static 'frontpart/assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/greensock.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/layerslider.transitions.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/layerslider.kreaturamedia.jquery.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/popper.min.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/piechart/chart.min.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/jquery.fancybox.min.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/owl.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/range/tmpl.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/range/jquery.dependClass.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/range/draggable.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/range/jquery.slider.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/wow.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/mixitup.min.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/paraxify.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/custom.js' %}"></script>
    <script>
        $('#single-property').layerSlider({
            sliderVersion: '6.5.0b2',
            type: 'popup',
            pauseOnHover: 'disabled',
            skin: 'photogallery',
            globalBGSize: 'cover',
            navStartStop: false,
            hoverBottomNav: true,
            showCircleTimer: false,
            thumbnailNavigation: 'always',
            tnContainerWidth: '100%',
            tnHeight: 70,
            popupShowOnTimeout: 1,
            popupShowOnce: false,
            popupCloseButtonStyle: 'background: rgba(0,0,0,.5); border-radius: 2px; border: 0; left: auto; right: 10px;',
            popupResetOnClose: 'disabled',
            popupDistanceLeft: 20,
            popupDistanceRight: 20,
            popupDistanceTop: 20,
            popupDistanceBottom: 20,
            popupDurationIn: 750,
            popupDelayIn: 500,
            popupTransitionIn: 'scalefromtop',
            popupTransitionOut: 'scaletobottom',
            skinsPath: '{% static "frontpart/assets/skins/" %}',
        });

        // Statistic
        if (document.querySelector('#mychart') !== null) {
            var ctx = document.getElementById("mychart").getContext('2d');

            // Data with datasets options
            var data = {
                type: 'line',
                labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct"],
                datasets: [{
                    label: 'Growth',
                    fill: true,
                    backgroundColor: "#def7e0",
                    borderColor: "#17c788",
                    data: [0, 150, 450, 400, 480, 630, 580, 500, 530, 400, 430, 600, 400],
                }]
            }

            // Chart declaration with some options:
            var mychart = new Chart(ctx, {
                type: 'line',
                data: data,
            });
        }

        //Doughnut and Pie
        if (document.querySelector('#mychart-2') !== null) {
            var ctx2 = document.getElementById("mychart-2").getContext('2d');

            // Data with datasets options
            var data2 = {
                type: 'doughnut',
                labels: ['Desktop', 'Tablet', 'Mobile'],
                datasets: [{
                    data: [10, 20, 30],
                    backgroundColor: ['rgb(255, 99, 132)', 'rgb(54, 162, 235)', 'rgb(255, 205, 86)']
                }],

            };

            // For a pie chart
            var myPieChart = new Chart(ctx2, {
                type: 'pie',
                data: data2,
            });
            // And for a doughnut chart
            var myDoughnutChart = new Chart(ctx2, {
                type: 'doughnut',
                data: data2,
            });
        }
    </script>
</body>

</html>