<!DOCTYPE html>
<html lang="zxx">
	<head>
		{% load static %}
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		
        <title>Realezi.com - Buy your dream property in Vadodara with assured best deals</title>
		<meta name="description" content="Discover your dream home with Realezi.com! Browse a wide range of real estate listings, from cozy apartments to luxurious estates. Our user-friendly platform makes finding the perfect property a breeze. Start your real estate journey today!">
        <!-- Custom CSS -->
        <link href="https://themezhub.net/resido-live/resido/assets/css/styles.css" rel="stylesheet">
		
		<!-- Custom Color Option -->
		<link href="https://themezhub.net/resido-live/resido/assets/css/colors.css" rel="stylesheet">
		
    </head>
	
    <body class="blue-skin" style="background-image: url('https://www.imageshine.in/uploads/gallery/geometric-Blue-Wallpaper-Free-Download.jpg'); background-size: cover;">
        <!-- ============================================================== -->
        <!-- Main wrapper - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <div id="main-wrapper">

            <!-- ============================================================== -->
            <!-- Top header  -->
            <!-- ============================================================== -->
            <!-- Start Navigation -->
			{% include 'header.html' %}
			<!-- End Navigation -->
			<div class="clearfix"></div>
			<!-- ============================================================== -->
			<!-- Top header  -->
			<!-- ============================================================== -->

			<!-- ============================ Page Title Start================================== -->
			
			<style>

				@media screen and (min-width: 880px) {
  				#contact-banner {
    					margin-top:-100px;
  						}
					}
				@media screen and (max-width: 380px) {
  				#contact-banner {
    					margin-top:-200px;
  						}
					}
				label{
					color:white !important;
				}
			</style>
			<!-- ============================ Page Title End ================================== -->
			
			<!-- ============================ Agency List Start ================================== -->
			<section class="gray-simple" style="margin-top:-100px;">
				<div class="" style="padding:20px;">
					
					<nav class="navbar navbar-expand-lg navbar-light bg-dark" style="padding:10px;">
						<a class="navbar-brand" href="#" style="color:white;">FILTER:</a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
						  <span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse" id="navbarNav">
						  <ul class="navbar-nav">
							<li class="nav-item dropdown" style="color:white;border:1px solid white;border-radius:10px;width:500px;">
								<input type="text" style="width:100%;margin-top:5px;border-radius:10px;">
							  </li>
							<!-- Property Type Dropdown -->
							<li class="nav-item dropdown" style="color:white;border:1px solid white;border-radius:10px;margin-left:10px;">
							  <a class="nav-link dropdown-toggle" href="#" id="propertyTypeDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white;">
								Property Type
							  </a>
							  <div class="dropdown-menu multi-column" aria-labelledby="propertyTypeDropdown">
								<div class="container-fluid">
								  <div class="row">
									<div class="col">
									  <h6>Residential</h6>
									  <div class="form-check">
										<input class="form-check-input" type="checkbox" value="" id="apartmentCheckbox">
										<label class="form-check-label" for="apartmentCheckbox" style="color:black !important;">
										  Apartment
										</label>
									  </div>
									  <div class="form-check">
										<input class="form-check-input" type="checkbox" value="" id="apartmentCheckbox">
										<label class="form-check-label" for="apartmentCheckbox" style="color:black !important;">
										  Villa
										</label>
									  </div>
									  <div class="form-check">
										<input class="form-check-input" type="checkbox" value="" id="apartmentCheckbox">
										<label class="form-check-label" for="apartmentCheckbox" style="color:black !important;">
										  Plot
										</label>
									  </div>
									  <div class="form-check">
										<input class="form-check-input" type="checkbox" value="" id="apartmentCheckbox">
										<label class="form-check-label" for="apartmentCheckbox" style="color:black !important;">
										  Pent House
										</label>
									  </div>
									  <div class="form-check">
										<input class="form-check-input" type="checkbox" value="" id="apartmentCheckbox">
										<label class="form-check-label" for="apartmentCheckbox" style="color:black !important;">
										  Independent House
										</label>
									  </div>
									  <!-- Add other residential property types -->
					  
									</div>
									<div class="col">
									  <h6>Commercial</h6>
									  <div class="form-check">
										<input class="form-check-input" type="checkbox" value="" id="officeSpaceCheckbox">
										<label class="form-check-label" for="officeSpaceCheckbox" style="color:black !important">
										  Office Space
										</label>
									  </div>
									  <div class="form-check">
										<input class="form-check-input" type="checkbox" value="" id="officeSpaceCheckbox">
										<label class="form-check-label" for="officeSpaceCheckbox" style="color:black !important">
										  Shop
										</label>
									  </div>
									  <div class="form-check">
										<input class="form-check-input" type="checkbox" value="" id="officeSpaceCheckbox">
										<label class="form-check-label" for="officeSpaceCheckbox" style="color:black !important">
										  Showroom
										</label>
									  </div>
									  <div class="form-check">
										<input class="form-check-input" type="checkbox" value="" id="officeSpaceCheckbox">
										<label class="form-check-label" for="officeSpaceCheckbox" style="color:black !important">
										  Co-working Space
										</label>
									  </div>
									  <!-- Add other commercial property types -->
					  
									</div>
								  </div>
								</div>
							  </div>
							</li>
							<li class="nav-item dropdown" style="color:white;border:1px solid white;margin-left:10px;border-radius:10px;">
								<a class="nav-link dropdown-toggle" href="#" id="possessionTypeDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white;">
								  Select Budget
								</a>
								<div class="dropdown-menu" aria-labelledby="possessionTypeDropdown">
								  <a class="dropdown-item" href="#">05 to 15 Lac</a>
								  <a class="dropdown-item" href="#">15 to 30 Lac</a>
								  <a class="dropdown-item" href="#">30 to 65 Lac</a>
								  <a class="dropdown-item" href="#">65 to 1 Cr</a>
								</div>
							  </li>
					  
							<!-- Possession Type Dropdown -->
							<li class="nav-item dropdown" style="color:white;border:1px solid white;margin-left:10px;border-radius:10px;">
							  <a class="nav-link dropdown-toggle" href="#" id="possessionTypeDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white;">
								Possession Type
							  </a>
							  <div class="dropdown-menu" aria-labelledby="possessionTypeDropdown">
								<a class="dropdown-item" href="#">Ready To Move</a>
								<a class="dropdown-item" href="#">Under Construction</a>
							  </div>
							</li>
					  
							<!-- Furnished Status Dropdown -->
							<li class="nav-item dropdown" style="color:white;border:1px solid white;margin-left:10px;border-radius:10px;">
							  <a class="nav-link dropdown-toggle" href="#" id="furnishedStatusDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white;">
								Furnished Status
							  </a>
							  <div class="dropdown-menu" aria-labelledby="furnishedStatusDropdown">
								<a class="dropdown-item" href="#">Fully Furnished</a>
								<a class="dropdown-item" href="#">Semi Furnished</a>
								<a class="dropdown-item" href="#">Un-Furnished</a>
							  </div>
							</li>
					  
							<!-- Select Rooms Dropdown -->
							<li class="nav-item dropdown" style="color:white;border:1px solid white;margin-left:10px;border-radius:10px;">
							  <a class="nav-link dropdown-toggle" href="#" id="selectRoomsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white;">
								Select Rooms
							  </a>
							  <div class="dropdown-menu" aria-labelledby="selectRoomsDropdown">
								<a class="dropdown-item" href="#">1</a>
								<a class="dropdown-item" href="#">2</a>
								<a class="dropdown-item" href="#">3</a>
								<a class="dropdown-item" href="#">4</a>
								<a class="dropdown-item" href="#">5</a>
							  </div>
							</li>
					  
							<!-- Select Bathroom Dropdown -->
							<li class="nav-item dropdown" style="color:white;border:1px solid white;margin-left:10px;border-radius:10px;">
							  <a class="nav-link dropdown-toggle" href="#" id="selectBathroomDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white;">
								Select Bathroom
							  </a>
							  <div class="dropdown-menu" aria-labelledby="selectBathroomDropdown">
								<a class="dropdown-item" href="#">1</a>
								<a class="dropdown-item" href="#">2</a>
								<a class="dropdown-item" href="#">3</a>
								<a class="dropdown-item" href="#">4</a>
								<a class="dropdown-item" href="#">5</a>
							  </div>
							</li>
							<li class="nav-item dropdown" style="color:white;margin-left:10px;border-radius:10px;margin-top:4px;">
								<button class="btn btn-primary btn-sm" style="border-radius:10px;">Apply</button>
							  </li>
						  </ul>
						</div>
					  </nav>
					  
					  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
					  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
					  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
					  
			
					
					
					<div class="row">
					
						<!-- property Sidebar -->
						

						
						<div class="col-lg-9 col-md-12 list-layout">
							
							<div class="row justify-content-center g-4">
						
								<!-- Single Property -->
								<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
									<div class="property-listing list_view style_new">
										<div class="row">
											<div class="col-sm-4">
												<div class="listing-img-wrapper position-relative">
													<div class="like_unlike_prt">
														<label class="toggler toggler-danger"><input type="checkbox"><i class="fa fa-heart"></i></label>
													</div>
													<div class="position-absolute top-0 left-0 ms-3 mt-3 z-1">
														<div class="label bg-success text-light d-inline-flex align-items-center justify-content-center">
															<span class="svg-icon text-light svg-icon-2hx me-1">
																<svg width="14" height="14" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
																	<path opacity="0.3" d="M20.5543 4.37824L12.1798 2.02473C12.0626 1.99176 11.9376 1.99176 11.8203 2.02473L3.44572 4.37824C3.18118 4.45258 3 4.6807 3 4.93945V13.569C3 14.6914 3.48509 15.8404 4.4417 16.984C5.17231 17.8575 6.18314 18.7345 7.446 19.5909C9.56752 21.0295 11.6566 21.912 11.7445 21.9488C11.8258 21.9829 11.9129 22 12.0001 22C12.0872 22 12.1744 21.983 12.2557 21.9488C12.3435 21.912 14.4326 21.0295 16.5541 19.5909C17.8169 18.7345 18.8277 17.8575 19.5584 16.984C20.515 15.8404 21 14.6914 21 13.569V4.93945C21 4.6807 20.8189 4.45258 20.5543 4.37824Z" fill="currentColor"></path>
																	<path d="M14.854 11.321C14.7568 11.2282 14.6388 11.1818 14.4998 11.1818H14.3333V10.2272C14.3333 9.61741 14.1041 9.09378 13.6458 8.65628C13.1875 8.21876 12.639 8 12 8C11.361 8 10.8124 8.21876 10.3541 8.65626C9.89574 9.09378 9.66663 9.61739 9.66663 10.2272V11.1818H9.49999C9.36115 11.1818 9.24306 11.2282 9.14583 11.321C9.0486 11.4138 9 11.5265 9 11.6591V14.5227C9 14.6553 9.04862 14.768 9.14583 14.8609C9.24306 14.9536 9.36115 15 9.49999 15H14.5C14.6389 15 14.7569 14.9536 14.8542 14.8609C14.9513 14.768 15 14.6553 15 14.5227V11.6591C15.0001 11.5265 14.9513 11.4138 14.854 11.321ZM13.3333 11.1818H10.6666V10.2272C10.6666 9.87594 10.7969 9.57597 11.0573 9.32743C11.3177 9.07886 11.6319 8.9546 12 8.9546C12.3681 8.9546 12.6823 9.07884 12.9427 9.32743C13.2031 9.57595 13.3333 9.87594 13.3333 10.2272V11.1818Z" fill="currentColor"></path>
																</svg>
															</span>Verified
														</div>
													</div>
													<div class="list-img-slide">
														<div class="clior">
															<div><a href="propertyview"><img src="https://themezhub.net/resido-live/resido/assets/img/p-1.jpg" class="img-fluid mx-auto" alt="" /></a></div>
															<div><a href="propertyview"><img src="https://themezhub.net/resido-live/resido/assets/img/p-10.jpg" class="img-fluid mx-auto" alt="" /></a></div>
															<div><a href="propertyview"><img src="https://themezhub.net/resido-live/resido/assets/img/p-15.jpg" class="img-fluid mx-auto" alt="" /></a></div>
														</div>
													</div>
												</div>
											</div>
											<div class="col-sm-6">
												<div class="list_view_flex">
												
													<div class="listing-detail-wrapper mt-1">
														<div class="listing-short-detail-wrap">
															<div class="_card_list_flex mb-2">
																<div class="_card_flex_01 d-flex align-items-center">
																	<span class="label bg-light-danger text-danger me-2">For Sell</span>
																	<span class="label bg-light-purple text-purple">Building</span>
																</div>
																<div class="_card_flex_last">
																	<h6 class="listing-info-price text-primary fs-4 mb-0">Rs. 786167</h6>
																</div>
															</div>
															<div class="_card_list_flex">
																<div class="_card_flex_01">
																	<h4 class="listing-name"><a href="propertyview" class="prt-link-detail">4789 Vadodara, Gujarat HAQC445</a></h4>
																</div>
															</div>
														</div>
													</div>
													
													<div class="price-features-wrapper">
														<div class="list-fx-features d-flex align-items-center justify-content-between">
															<div class="listing-card d-flex align-items-center">
																<div class="square--30 text-muted-2 fs-sm circle gray-simple me-2"><i class="fa-solid fa-building-shield fs-sm"></i></div><span class="text-muted-2">3BHK</span>
															</div>
															<div class="listing-card d-flex align-items-center">
																<div class="square--30 text-muted-2 fs-sm circle gray-simple me-2"><i class="fa-solid fa-bed fs-sm"></i></div><span class="text-muted-2">3 Beds</span>
															</div>
															<div class="listing-card d-flex align-items-center">
																<div class="square--30 text-muted-2 fs-sm circle gray-simple me-2"><i class="fa-solid fa-clone fs-sm"></i></div><span class="text-muted-2">1800 SQFT</span>
															</div>
														</div>
													</div>
													
													<div class="listing-detail-footer pl-0">
														<div class="footer-first">
															<a href="propertyview"  class="btn btn-md btn-primary fw-medium" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Check Availability"  style="margin-top:-30px;height:53px;">
																<span class="svg-icon text-light svg-icon-2hx me-1">
																	View More
																</span>
															</a>
															<a href="tel:4048651904" class="btn btn-md btn-light-primary px-3 me-1" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Call Agent">
																<span class="svg-icon svg-icon-muted svg-icon-2hx">
																	<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
																		<path d="M6 21C6 21.6 6.4 22 7 22H17C17.6 22 18 21.6 18 21V20H6V21Z" fill="currentColor"/>
																		<path d="M12 4C11.4 4 11 3.6 11 3V2H13V3C13 3.6 12.6 4 12 4Z" fill="currentColor"/>
																		<path opacity="0.3" d="M18 3V20H6V3C6 2.4 6.4 2 7 2H17C17.6 2 18 2.4 18 3ZM16 11C16 8.5 13.7 6.49998 11.1 7.09998C9.60001 7.39998 8.50001 8.6001 8.10001 10.1001C7.80001 11.5001 8.2 12.7 9 13.7L11.2 16.2C11.6 16.6 12.3 16.6 12.7 16.2L14.9 13.7C15.6 13 16 12 16 11Z" fill="currentColor"/>
																		<path d="M12 12.5C12.8284 12.5 13.5 11.8284 13.5 11C13.5 10.1716 12.8284 9.5 12 9.5C11.1716 9.5 10.5 10.1716 10.5 11C10.5 11.8284 11.1716 12.5 12 12.5Z" fill="currentColor"/>
																</svg>
																</span>
															</a>
															<a href="JavaScript:Void(0);" class="btn btn-md btn-light-primary px-3 me-1" data-bs-toggle="modal" data-bs-target="#autho-message">
																<span class="svg-icon svg-icon-muted svg-icon-2hx">
																	<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
																		<path opacity="0.3" d="M21 19H3C2.4 19 2 18.6 2 18V6C2 5.4 2.4 5 3 5H21C21.6 5 22 5.4 22 6V18C22 18.6 21.6 19 21 19Z" fill="currentColor"/>
																		<path d="M21 5H2.99999C2.69999 5 2.49999 5.10005 2.29999 5.30005L11.2 13.3C11.7 13.7 12.4 13.7 12.8 13.3L21.7 5.30005C21.5 5.10005 21.3 5 21 5Z" fill="currentColor"/>
																	</svg>
																</span>
															</a>
															<a href="JavaScript:Void(0);" class="btn btn-md btn-light-primary px-3" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Save property">
																<span class="svg-icon svg-icon-muted svg-icon-2hx">
																	<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
																		<path d="M18.3721 4.65439C17.6415 4.23815 16.8052 4 15.9142 4C14.3444 4 12.9339 4.73924 12.003 5.89633C11.0657 4.73913 9.66 4 8.08626 4C7.19611 4 6.35789 4.23746 5.62804 4.65439C4.06148 5.54462 3 7.26056 3 9.24232C3 9.81001 3.08941 10.3491 3.25153 10.8593C4.12155 14.9013 9.69287 20 12.0034 20C14.2502 20 19.875 14.9013 20.7488 10.8593C20.9109 10.3491 21 9.81001 21 9.24232C21.0007 7.26056 19.9383 5.54462 18.3721 4.65439Z" fill="currentColor"/>
																	</svg>
																</span>
															</a>
														</div>
													</div>
												</div>
											</div>
										</div>
										
									</div>
								</div>
								<!-- End Single Property -->
								<!-- Single Property -->
								<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12" style="margin-top:-20px;">
									<div class="property-listing list_view style_new">
										<div class="row">
											<div class="col-sm-4">
												<div class="listing-img-wrapper position-relative">
													<div class="like_unlike_prt">
														<label class="toggler toggler-danger"><input type="checkbox"><i class="fa fa-heart"></i></label>
													</div>
													<div class="position-absolute top-0 left-0 ms-3 mt-3 z-1">
														<div class="label bg-success text-light d-inline-flex align-items-center justify-content-center">
															<span class="svg-icon text-light svg-icon-2hx me-1">
																<svg width="14" height="14" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
																	<path opacity="0.3" d="M20.5543 4.37824L12.1798 2.02473C12.0626 1.99176 11.9376 1.99176 11.8203 2.02473L3.44572 4.37824C3.18118 4.45258 3 4.6807 3 4.93945V13.569C3 14.6914 3.48509 15.8404 4.4417 16.984C5.17231 17.8575 6.18314 18.7345 7.446 19.5909C9.56752 21.0295 11.6566 21.912 11.7445 21.9488C11.8258 21.9829 11.9129 22 12.0001 22C12.0872 22 12.1744 21.983 12.2557 21.9488C12.3435 21.912 14.4326 21.0295 16.5541 19.5909C17.8169 18.7345 18.8277 17.8575 19.5584 16.984C20.515 15.8404 21 14.6914 21 13.569V4.93945C21 4.6807 20.8189 4.45258 20.5543 4.37824Z" fill="currentColor"></path>
																	<path d="M14.854 11.321C14.7568 11.2282 14.6388 11.1818 14.4998 11.1818H14.3333V10.2272C14.3333 9.61741 14.1041 9.09378 13.6458 8.65628C13.1875 8.21876 12.639 8 12 8C11.361 8 10.8124 8.21876 10.3541 8.65626C9.89574 9.09378 9.66663 9.61739 9.66663 10.2272V11.1818H9.49999C9.36115 11.1818 9.24306 11.2282 9.14583 11.321C9.0486 11.4138 9 11.5265 9 11.6591V14.5227C9 14.6553 9.04862 14.768 9.14583 14.8609C9.24306 14.9536 9.36115 15 9.49999 15H14.5C14.6389 15 14.7569 14.9536 14.8542 14.8609C14.9513 14.768 15 14.6553 15 14.5227V11.6591C15.0001 11.5265 14.9513 11.4138 14.854 11.321ZM13.3333 11.1818H10.6666V10.2272C10.6666 9.87594 10.7969 9.57597 11.0573 9.32743C11.3177 9.07886 11.6319 8.9546 12 8.9546C12.3681 8.9546 12.6823 9.07884 12.9427 9.32743C13.2031 9.57595 13.3333 9.87594 13.3333 10.2272V11.1818Z" fill="currentColor"></path>
																</svg>
															</span>Verified
														</div>
													</div>
													<div class="list-img-slide">
														<div class="clior">
															<div><a href="propertyview"><img src="https://themezhub.net/resido-live/resido/assets/img/p-1.jpg" class="img-fluid mx-auto" alt="" /></a></div>
															<div><a href="propertyview"><img src="https://themezhub.net/resido-live/resido/assets/img/p-10.jpg" class="img-fluid mx-auto" alt="" /></a></div>
															<div><a href="propertyview"><img src="https://themezhub.net/resido-live/resido/assets/img/p-15.jpg" class="img-fluid mx-auto" alt="" /></a></div>
														</div>
													</div>
												</div>
											</div>
											<div class="col-sm-6">
												<div class="list_view_flex">
												
													<div class="listing-detail-wrapper mt-1">
														<div class="listing-short-detail-wrap">
															<div class="_card_list_flex mb-2">
																<div class="_card_flex_01 d-flex align-items-center">
																	<span class="label bg-light-danger text-danger me-2">For Sell</span>
																	<span class="label bg-light-purple text-purple">Building</span>
																</div>
																<div class="_card_flex_last">
																	<h6 class="listing-info-price text-primary fs-4 mb-0">Rs. 786167</h6>
																</div>
															</div>
															<div class="_card_list_flex">
																<div class="_card_flex_01">
																	<h4 class="listing-name"><a href="propertyview" class="prt-link-detail">4789 Vadodara, Gujarat HAQC445</a></h4>
																</div>
															</div>
														</div>
													</div>
													
													<div class="price-features-wrapper">
														<div class="list-fx-features d-flex align-items-center justify-content-between">
															<div class="listing-card d-flex align-items-center">
																<div class="square--30 text-muted-2 fs-sm circle gray-simple me-2"><i class="fa-solid fa-building-shield fs-sm"></i></div><span class="text-muted-2">3BHK</span>
															</div>
															<div class="listing-card d-flex align-items-center">
																<div class="square--30 text-muted-2 fs-sm circle gray-simple me-2"><i class="fa-solid fa-bed fs-sm"></i></div><span class="text-muted-2">3 Beds</span>
															</div>
															<div class="listing-card d-flex align-items-center">
																<div class="square--30 text-muted-2 fs-sm circle gray-simple me-2"><i class="fa-solid fa-clone fs-sm"></i></div><span class="text-muted-2">1800 SQFT</span>
															</div>
														</div>
													</div>
													
													<div class="listing-detail-footer pl-0">
														<div class="footer-first">
															<a href="propertyview"  class="btn btn-md btn-primary fw-medium" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Check Availability"  style="margin-top:-30px;height:53px;">
																<span class="svg-icon text-light svg-icon-2hx me-1">
																	View More
																</span>
															</a>
															<a href="tel:4048651904" class="btn btn-md btn-light-primary px-3 me-1" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Call Agent">
																<span class="svg-icon svg-icon-muted svg-icon-2hx">
																	<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
																		<path d="M6 21C6 21.6 6.4 22 7 22H17C17.6 22 18 21.6 18 21V20H6V21Z" fill="currentColor"/>
																		<path d="M12 4C11.4 4 11 3.6 11 3V2H13V3C13 3.6 12.6 4 12 4Z" fill="currentColor"/>
																		<path opacity="0.3" d="M18 3V20H6V3C6 2.4 6.4 2 7 2H17C17.6 2 18 2.4 18 3ZM16 11C16 8.5 13.7 6.49998 11.1 7.09998C9.60001 7.39998 8.50001 8.6001 8.10001 10.1001C7.80001 11.5001 8.2 12.7 9 13.7L11.2 16.2C11.6 16.6 12.3 16.6 12.7 16.2L14.9 13.7C15.6 13 16 12 16 11Z" fill="currentColor"/>
																		<path d="M12 12.5C12.8284 12.5 13.5 11.8284 13.5 11C13.5 10.1716 12.8284 9.5 12 9.5C11.1716 9.5 10.5 10.1716 10.5 11C10.5 11.8284 11.1716 12.5 12 12.5Z" fill="currentColor"/>
																</svg>
																</span>
															</a>
															<a href="JavaScript:Void(0);" class="btn btn-md btn-light-primary px-3 me-1" data-bs-toggle="modal" data-bs-target="#autho-message">
																<span class="svg-icon svg-icon-muted svg-icon-2hx">
																	<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
																		<path opacity="0.3" d="M21 19H3C2.4 19 2 18.6 2 18V6C2 5.4 2.4 5 3 5H21C21.6 5 22 5.4 22 6V18C22 18.6 21.6 19 21 19Z" fill="currentColor"/>
																		<path d="M21 5H2.99999C2.69999 5 2.49999 5.10005 2.29999 5.30005L11.2 13.3C11.7 13.7 12.4 13.7 12.8 13.3L21.7 5.30005C21.5 5.10005 21.3 5 21 5Z" fill="currentColor"/>
																	</svg>
																</span>
															</a>
															<a href="JavaScript:Void(0);" class="btn btn-md btn-light-primary px-3" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Save property">
																<span class="svg-icon svg-icon-muted svg-icon-2hx">
																	<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
																		<path d="M18.3721 4.65439C17.6415 4.23815 16.8052 4 15.9142 4C14.3444 4 12.9339 4.73924 12.003 5.89633C11.0657 4.73913 9.66 4 8.08626 4C7.19611 4 6.35789 4.23746 5.62804 4.65439C4.06148 5.54462 3 7.26056 3 9.24232C3 9.81001 3.08941 10.3491 3.25153 10.8593C4.12155 14.9013 9.69287 20 12.0034 20C14.2502 20 19.875 14.9013 20.7488 10.8593C20.9109 10.3491 21 9.81001 21 9.24232C21.0007 7.26056 19.9383 5.54462 18.3721 4.65439Z" fill="currentColor"/>
																	</svg>
																</span>
															</a>
														</div>
													</div>
												</div>
											</div>
										</div>
										
									</div>
								</div>
								<!-- End Single Property -->
								<!-- Single Property -->
								<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12" style="margin-top:-20px;">
									<div class="property-listing list_view style_new">
										<div class="row">
											<div class="col-sm-4">
												<div class="listing-img-wrapper position-relative">
													<div class="like_unlike_prt">
														<label class="toggler toggler-danger"><input type="checkbox"><i class="fa fa-heart"></i></label>
													</div>
													<div class="position-absolute top-0 left-0 ms-3 mt-3 z-1">
														<div class="label bg-success text-light d-inline-flex align-items-center justify-content-center">
															<span class="svg-icon text-light svg-icon-2hx me-1">
																<svg width="14" height="14" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
																	<path opacity="0.3" d="M20.5543 4.37824L12.1798 2.02473C12.0626 1.99176 11.9376 1.99176 11.8203 2.02473L3.44572 4.37824C3.18118 4.45258 3 4.6807 3 4.93945V13.569C3 14.6914 3.48509 15.8404 4.4417 16.984C5.17231 17.8575 6.18314 18.7345 7.446 19.5909C9.56752 21.0295 11.6566 21.912 11.7445 21.9488C11.8258 21.9829 11.9129 22 12.0001 22C12.0872 22 12.1744 21.983 12.2557 21.9488C12.3435 21.912 14.4326 21.0295 16.5541 19.5909C17.8169 18.7345 18.8277 17.8575 19.5584 16.984C20.515 15.8404 21 14.6914 21 13.569V4.93945C21 4.6807 20.8189 4.45258 20.5543 4.37824Z" fill="currentColor"></path>
																	<path d="M14.854 11.321C14.7568 11.2282 14.6388 11.1818 14.4998 11.1818H14.3333V10.2272C14.3333 9.61741 14.1041 9.09378 13.6458 8.65628C13.1875 8.21876 12.639 8 12 8C11.361 8 10.8124 8.21876 10.3541 8.65626C9.89574 9.09378 9.66663 9.61739 9.66663 10.2272V11.1818H9.49999C9.36115 11.1818 9.24306 11.2282 9.14583 11.321C9.0486 11.4138 9 11.5265 9 11.6591V14.5227C9 14.6553 9.04862 14.768 9.14583 14.8609C9.24306 14.9536 9.36115 15 9.49999 15H14.5C14.6389 15 14.7569 14.9536 14.8542 14.8609C14.9513 14.768 15 14.6553 15 14.5227V11.6591C15.0001 11.5265 14.9513 11.4138 14.854 11.321ZM13.3333 11.1818H10.6666V10.2272C10.6666 9.87594 10.7969 9.57597 11.0573 9.32743C11.3177 9.07886 11.6319 8.9546 12 8.9546C12.3681 8.9546 12.6823 9.07884 12.9427 9.32743C13.2031 9.57595 13.3333 9.87594 13.3333 10.2272V11.1818Z" fill="currentColor"></path>
																</svg>
															</span>Verified
														</div>
													</div>
													<div class="list-img-slide">
														<div class="clior">
															<div><a href="propertyview"><img src="https://themezhub.net/resido-live/resido/assets/img/p-1.jpg" class="img-fluid mx-auto" alt="" /></a></div>
															<div><a href="propertyview"><img src="https://themezhub.net/resido-live/resido/assets/img/p-10.jpg" class="img-fluid mx-auto" alt="" /></a></div>
															<div><a href="propertyview"><img src="https://themezhub.net/resido-live/resido/assets/img/p-15.jpg" class="img-fluid mx-auto" alt="" /></a></div>
														</div>
													</div>
												</div>
											</div>
											<div class="col-sm-6">
												<div class="list_view_flex">
												
													<div class="listing-detail-wrapper mt-1">
														<div class="listing-short-detail-wrap">
															<div class="_card_list_flex mb-2">
																<div class="_card_flex_01 d-flex align-items-center">
																	<span class="label bg-light-danger text-danger me-2">For Sell</span>
																	<span class="label bg-light-purple text-purple">Building</span>
																</div>
																<div class="_card_flex_last">
																	<h6 class="listing-info-price text-primary fs-4 mb-0">Rs. 786167</h6>
																</div>
															</div>
															<div class="_card_list_flex">
																<div class="_card_flex_01">
																	<h4 class="listing-name"><a href="propertyview" class="prt-link-detail">4789 Vadodara, Gujarat HAQC445</a></h4>
																</div>
															</div>
														</div>
													</div>
													
													<div class="price-features-wrapper">
														<div class="list-fx-features d-flex align-items-center justify-content-between">
															<div class="listing-card d-flex align-items-center">
																<div class="square--30 text-muted-2 fs-sm circle gray-simple me-2"><i class="fa-solid fa-building-shield fs-sm"></i></div><span class="text-muted-2">3BHK</span>
															</div>
															<div class="listing-card d-flex align-items-center">
																<div class="square--30 text-muted-2 fs-sm circle gray-simple me-2"><i class="fa-solid fa-bed fs-sm"></i></div><span class="text-muted-2">3 Beds</span>
															</div>
															<div class="listing-card d-flex align-items-center">
																<div class="square--30 text-muted-2 fs-sm circle gray-simple me-2"><i class="fa-solid fa-clone fs-sm"></i></div><span class="text-muted-2">1800 SQFT</span>
															</div>
														</div>
													</div>
													
													<div class="listing-detail-footer pl-0">
														<div class="footer-first">
															<a href="propertyview"  class="btn btn-md btn-primary fw-medium" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Check Availability"  style="margin-top:-30px;height:53px;">
																<span class="svg-icon text-light svg-icon-2hx me-1">
																	View More
																</span>
															</a>
															<a href="tel:4048651904" class="btn btn-md btn-light-primary px-3 me-1" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Call Agent">
																<span class="svg-icon svg-icon-muted svg-icon-2hx">
																	<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
																		<path d="M6 21C6 21.6 6.4 22 7 22H17C17.6 22 18 21.6 18 21V20H6V21Z" fill="currentColor"/>
																		<path d="M12 4C11.4 4 11 3.6 11 3V2H13V3C13 3.6 12.6 4 12 4Z" fill="currentColor"/>
																		<path opacity="0.3" d="M18 3V20H6V3C6 2.4 6.4 2 7 2H17C17.6 2 18 2.4 18 3ZM16 11C16 8.5 13.7 6.49998 11.1 7.09998C9.60001 7.39998 8.50001 8.6001 8.10001 10.1001C7.80001 11.5001 8.2 12.7 9 13.7L11.2 16.2C11.6 16.6 12.3 16.6 12.7 16.2L14.9 13.7C15.6 13 16 12 16 11Z" fill="currentColor"/>
																		<path d="M12 12.5C12.8284 12.5 13.5 11.8284 13.5 11C13.5 10.1716 12.8284 9.5 12 9.5C11.1716 9.5 10.5 10.1716 10.5 11C10.5 11.8284 11.1716 12.5 12 12.5Z" fill="currentColor"/>
																</svg>
																</span>
															</a>
															<a href="JavaScript:Void(0);" class="btn btn-md btn-light-primary px-3 me-1" data-bs-toggle="modal" data-bs-target="#autho-message">
																<span class="svg-icon svg-icon-muted svg-icon-2hx">
																	<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
																		<path opacity="0.3" d="M21 19H3C2.4 19 2 18.6 2 18V6C2 5.4 2.4 5 3 5H21C21.6 5 22 5.4 22 6V18C22 18.6 21.6 19 21 19Z" fill="currentColor"/>
																		<path d="M21 5H2.99999C2.69999 5 2.49999 5.10005 2.29999 5.30005L11.2 13.3C11.7 13.7 12.4 13.7 12.8 13.3L21.7 5.30005C21.5 5.10005 21.3 5 21 5Z" fill="currentColor"/>
																	</svg>
																</span>
															</a>
															<a href="JavaScript:Void(0);" class="btn btn-md btn-light-primary px-3" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Save property">
																<span class="svg-icon svg-icon-muted svg-icon-2hx">
																	<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
																		<path d="M18.3721 4.65439C17.6415 4.23815 16.8052 4 15.9142 4C14.3444 4 12.9339 4.73924 12.003 5.89633C11.0657 4.73913 9.66 4 8.08626 4C7.19611 4 6.35789 4.23746 5.62804 4.65439C4.06148 5.54462 3 7.26056 3 9.24232C3 9.81001 3.08941 10.3491 3.25153 10.8593C4.12155 14.9013 9.69287 20 12.0034 20C14.2502 20 19.875 14.9013 20.7488 10.8593C20.9109 10.3491 21 9.81001 21 9.24232C21.0007 7.26056 19.9383 5.54462 18.3721 4.65439Z" fill="currentColor"/>
																	</svg>
																</span>
															</a>
														</div>
													</div>
												</div>
											</div>
										</div>
										
									</div>
								</div>
								<!-- End Single Property -->
								<!-- Single Property -->
								<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12" style="margin-top:-20px;">
									<div class="property-listing list_view style_new">
										<div class="row">
											<div class="col-sm-4">
												<div class="listing-img-wrapper position-relative">
													<div class="like_unlike_prt">
														<label class="toggler toggler-danger"><input type="checkbox"><i class="fa fa-heart"></i></label>
													</div>
													<div class="position-absolute top-0 left-0 ms-3 mt-3 z-1">
														<div class="label bg-success text-light d-inline-flex align-items-center justify-content-center">
															<span class="svg-icon text-light svg-icon-2hx me-1">
																<svg width="14" height="14" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
																	<path opacity="0.3" d="M20.5543 4.37824L12.1798 2.02473C12.0626 1.99176 11.9376 1.99176 11.8203 2.02473L3.44572 4.37824C3.18118 4.45258 3 4.6807 3 4.93945V13.569C3 14.6914 3.48509 15.8404 4.4417 16.984C5.17231 17.8575 6.18314 18.7345 7.446 19.5909C9.56752 21.0295 11.6566 21.912 11.7445 21.9488C11.8258 21.9829 11.9129 22 12.0001 22C12.0872 22 12.1744 21.983 12.2557 21.9488C12.3435 21.912 14.4326 21.0295 16.5541 19.5909C17.8169 18.7345 18.8277 17.8575 19.5584 16.984C20.515 15.8404 21 14.6914 21 13.569V4.93945C21 4.6807 20.8189 4.45258 20.5543 4.37824Z" fill="currentColor"></path>
																	<path d="M14.854 11.321C14.7568 11.2282 14.6388 11.1818 14.4998 11.1818H14.3333V10.2272C14.3333 9.61741 14.1041 9.09378 13.6458 8.65628C13.1875 8.21876 12.639 8 12 8C11.361 8 10.8124 8.21876 10.3541 8.65626C9.89574 9.09378 9.66663 9.61739 9.66663 10.2272V11.1818H9.49999C9.36115 11.1818 9.24306 11.2282 9.14583 11.321C9.0486 11.4138 9 11.5265 9 11.6591V14.5227C9 14.6553 9.04862 14.768 9.14583 14.8609C9.24306 14.9536 9.36115 15 9.49999 15H14.5C14.6389 15 14.7569 14.9536 14.8542 14.8609C14.9513 14.768 15 14.6553 15 14.5227V11.6591C15.0001 11.5265 14.9513 11.4138 14.854 11.321ZM13.3333 11.1818H10.6666V10.2272C10.6666 9.87594 10.7969 9.57597 11.0573 9.32743C11.3177 9.07886 11.6319 8.9546 12 8.9546C12.3681 8.9546 12.6823 9.07884 12.9427 9.32743C13.2031 9.57595 13.3333 9.87594 13.3333 10.2272V11.1818Z" fill="currentColor"></path>
																</svg>
															</span>Verified
														</div>
													</div>
													<div class="list-img-slide">
														<div class="clior">
															<div><a href="propertyview"><img src="https://themezhub.net/resido-live/resido/assets/img/p-1.jpg" class="img-fluid mx-auto" alt="" /></a></div>
															<div><a href="propertyview"><img src="https://themezhub.net/resido-live/resido/assets/img/p-10.jpg" class="img-fluid mx-auto" alt="" /></a></div>
															<div><a href="propertyview"><img src="https://themezhub.net/resido-live/resido/assets/img/p-15.jpg" class="img-fluid mx-auto" alt="" /></a></div>
														</div>
													</div>
												</div>
											</div>
											<div class="col-sm-6">
												<div class="list_view_flex">
												
													<div class="listing-detail-wrapper mt-1">
														<div class="listing-short-detail-wrap">
															<div class="_card_list_flex mb-2">
																<div class="_card_flex_01 d-flex align-items-center">
																	<span class="label bg-light-danger text-danger me-2">For Sell</span>
																	<span class="label bg-light-purple text-purple">Building</span>
																</div>
																<div class="_card_flex_last">
																	<h6 class="listing-info-price text-primary fs-4 mb-0">Rs. 786167</h6>
																</div>
															</div>
															<div class="_card_list_flex">
																<div class="_card_flex_01">
																	<h4 class="listing-name"><a href="propertyview" class="prt-link-detail">4789 Vadodara, Gujarat HAQC445</a></h4>
																</div>
															</div>
														</div>
													</div>
													
													<div class="price-features-wrapper">
														<div class="list-fx-features d-flex align-items-center justify-content-between">
															<div class="listing-card d-flex align-items-center">
																<div class="square--30 text-muted-2 fs-sm circle gray-simple me-2"><i class="fa-solid fa-building-shield fs-sm"></i></div><span class="text-muted-2">3BHK</span>
															</div>
															<div class="listing-card d-flex align-items-center">
																<div class="square--30 text-muted-2 fs-sm circle gray-simple me-2"><i class="fa-solid fa-bed fs-sm"></i></div><span class="text-muted-2">3 Beds</span>
															</div>
															<div class="listing-card d-flex align-items-center">
																<div class="square--30 text-muted-2 fs-sm circle gray-simple me-2"><i class="fa-solid fa-clone fs-sm"></i></div><span class="text-muted-2">1800 SQFT</span>
															</div>
														</div>
													</div>
													
													<div class="listing-detail-footer pl-0">
														<div class="footer-first">
															<a href="propertyview"  class="btn btn-md btn-primary fw-medium" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Check Availability"  style="margin-top:-30px;height:53px;">
																<span class="svg-icon text-light svg-icon-2hx me-1">
																	View More
																</span>
															</a>
															<a href="tel:4048651904" class="btn btn-md btn-light-primary px-3 me-1" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Call Agent">
																<span class="svg-icon svg-icon-muted svg-icon-2hx">
																	<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
																		<path d="M6 21C6 21.6 6.4 22 7 22H17C17.6 22 18 21.6 18 21V20H6V21Z" fill="currentColor"/>
																		<path d="M12 4C11.4 4 11 3.6 11 3V2H13V3C13 3.6 12.6 4 12 4Z" fill="currentColor"/>
																		<path opacity="0.3" d="M18 3V20H6V3C6 2.4 6.4 2 7 2H17C17.6 2 18 2.4 18 3ZM16 11C16 8.5 13.7 6.49998 11.1 7.09998C9.60001 7.39998 8.50001 8.6001 8.10001 10.1001C7.80001 11.5001 8.2 12.7 9 13.7L11.2 16.2C11.6 16.6 12.3 16.6 12.7 16.2L14.9 13.7C15.6 13 16 12 16 11Z" fill="currentColor"/>
																		<path d="M12 12.5C12.8284 12.5 13.5 11.8284 13.5 11C13.5 10.1716 12.8284 9.5 12 9.5C11.1716 9.5 10.5 10.1716 10.5 11C10.5 11.8284 11.1716 12.5 12 12.5Z" fill="currentColor"/>
																</svg>
																</span>
															</a>
															<a href="JavaScript:Void(0);" class="btn btn-md btn-light-primary px-3 me-1" data-bs-toggle="modal" data-bs-target="#autho-message">
																<span class="svg-icon svg-icon-muted svg-icon-2hx">
																	<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
																		<path opacity="0.3" d="M21 19H3C2.4 19 2 18.6 2 18V6C2 5.4 2.4 5 3 5H21C21.6 5 22 5.4 22 6V18C22 18.6 21.6 19 21 19Z" fill="currentColor"/>
																		<path d="M21 5H2.99999C2.69999 5 2.49999 5.10005 2.29999 5.30005L11.2 13.3C11.7 13.7 12.4 13.7 12.8 13.3L21.7 5.30005C21.5 5.10005 21.3 5 21 5Z" fill="currentColor"/>
																	</svg>
																</span>
															</a>
															<a href="JavaScript:Void(0);" class="btn btn-md btn-light-primary px-3" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Save property">
																<span class="svg-icon svg-icon-muted svg-icon-2hx">
																	<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
																		<path d="M18.3721 4.65439C17.6415 4.23815 16.8052 4 15.9142 4C14.3444 4 12.9339 4.73924 12.003 5.89633C11.0657 4.73913 9.66 4 8.08626 4C7.19611 4 6.35789 4.23746 5.62804 4.65439C4.06148 5.54462 3 7.26056 3 9.24232C3 9.81001 3.08941 10.3491 3.25153 10.8593C4.12155 14.9013 9.69287 20 12.0034 20C14.2502 20 19.875 14.9013 20.7488 10.8593C20.9109 10.3491 21 9.81001 21 9.24232C21.0007 7.26056 19.9383 5.54462 18.3721 4.65439Z" fill="currentColor"/>
																	</svg>
																</span>
															</a>
														</div>
													</div>
												</div>
											</div>
										</div>
										
									</div>
								</div>
								<!-- End Single Property -->
								<!-- Single Property -->
								<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
									<div class="property-listing list_view style_new">
										<div class="row">
											<div class="col-sm-4">
												<div class="listing-img-wrapper position-relative">
													<div class="like_unlike_prt">
														<label class="toggler toggler-danger"><input type="checkbox"><i class="fa fa-heart"></i></label>
													</div>
													<div class="position-absolute top-0 left-0 ms-3 mt-3 z-1">
														<div class="label bg-success text-light d-inline-flex align-items-center justify-content-center">
															<span class="svg-icon text-light svg-icon-2hx me-1">
																<svg width="14" height="14" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
																	<path opacity="0.3" d="M20.5543 4.37824L12.1798 2.02473C12.0626 1.99176 11.9376 1.99176 11.8203 2.02473L3.44572 4.37824C3.18118 4.45258 3 4.6807 3 4.93945V13.569C3 14.6914 3.48509 15.8404 4.4417 16.984C5.17231 17.8575 6.18314 18.7345 7.446 19.5909C9.56752 21.0295 11.6566 21.912 11.7445 21.9488C11.8258 21.9829 11.9129 22 12.0001 22C12.0872 22 12.1744 21.983 12.2557 21.9488C12.3435 21.912 14.4326 21.0295 16.5541 19.5909C17.8169 18.7345 18.8277 17.8575 19.5584 16.984C20.515 15.8404 21 14.6914 21 13.569V4.93945C21 4.6807 20.8189 4.45258 20.5543 4.37824Z" fill="currentColor"></path>
																	<path d="M14.854 11.321C14.7568 11.2282 14.6388 11.1818 14.4998 11.1818H14.3333V10.2272C14.3333 9.61741 14.1041 9.09378 13.6458 8.65628C13.1875 8.21876 12.639 8 12 8C11.361 8 10.8124 8.21876 10.3541 8.65626C9.89574 9.09378 9.66663 9.61739 9.66663 10.2272V11.1818H9.49999C9.36115 11.1818 9.24306 11.2282 9.14583 11.321C9.0486 11.4138 9 11.5265 9 11.6591V14.5227C9 14.6553 9.04862 14.768 9.14583 14.8609C9.24306 14.9536 9.36115 15 9.49999 15H14.5C14.6389 15 14.7569 14.9536 14.8542 14.8609C14.9513 14.768 15 14.6553 15 14.5227V11.6591C15.0001 11.5265 14.9513 11.4138 14.854 11.321ZM13.3333 11.1818H10.6666V10.2272C10.6666 9.87594 10.7969 9.57597 11.0573 9.32743C11.3177 9.07886 11.6319 8.9546 12 8.9546C12.3681 8.9546 12.6823 9.07884 12.9427 9.32743C13.2031 9.57595 13.3333 9.87594 13.3333 10.2272V11.1818Z" fill="currentColor"></path>
																</svg>
															</span>Verified
														</div>
													</div>
													<div class="list-img-slide">
														<div class="clior">
															<div><a href="propertyview"><img src="https://themezhub.net/resido-live/resido/assets/img/p-1.jpg" class="img-fluid mx-auto" alt="" /></a></div>
															<div><a href="propertyview"><img src="https://themezhub.net/resido-live/resido/assets/img/p-10.jpg" class="img-fluid mx-auto" alt="" /></a></div>
															<div><a href="propertyview"><img src="https://themezhub.net/resido-live/resido/assets/img/p-15.jpg" class="img-fluid mx-auto" alt="" /></a></div>
														</div>
													</div>
												</div>
											</div>
											<div class="col-sm-6">
												<div class="list_view_flex">
												
													<div class="listing-detail-wrapper mt-1">
														<div class="listing-short-detail-wrap">
															<div class="_card_list_flex mb-2">
																<div class="_card_flex_01 d-flex align-items-center">
																	<span class="label bg-light-danger text-danger me-2">For Sell</span>
																	<span class="label bg-light-purple text-purple">Building</span>
																</div>
																<div class="_card_flex_last">
																	<h6 class="listing-info-price text-primary fs-4 mb-0">Rs. 786167</h6>
																</div>
															</div>
															<div class="_card_list_flex">
																<div class="_card_flex_01">
																	<h4 class="listing-name"><a href="propertyview" class="prt-link-detail">4789 Vadodara, Gujarat HAQC445</a></h4>
																</div>
															</div>
														</div>
													</div>
													
													<div class="price-features-wrapper">
														<div class="list-fx-features d-flex align-items-center justify-content-between">
															<div class="listing-card d-flex align-items-center">
																<div class="square--30 text-muted-2 fs-sm circle gray-simple me-2"><i class="fa-solid fa-building-shield fs-sm"></i></div><span class="text-muted-2">3BHK</span>
															</div>
															<div class="listing-card d-flex align-items-center">
																<div class="square--30 text-muted-2 fs-sm circle gray-simple me-2"><i class="fa-solid fa-bed fs-sm"></i></div><span class="text-muted-2">3 Beds</span>
															</div>
															<div class="listing-card d-flex align-items-center">
																<div class="square--30 text-muted-2 fs-sm circle gray-simple me-2"><i class="fa-solid fa-clone fs-sm"></i></div><span class="text-muted-2">1800 SQFT</span>
															</div>
														</div>
													</div>
													
													<div class="listing-detail-footer pl-0">
														<div class="footer-first">
															<a href="propertyview"  class="btn btn-md btn-primary fw-medium" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Check Availability"  style="margin-top:-30px;height:53px;">
																<span class="svg-icon text-light svg-icon-2hx me-1">
																	View More
																</span>
															</a>
															<a href="tel:4048651904" class="btn btn-md btn-light-primary px-3 me-1" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Call Agent">
																<span class="svg-icon svg-icon-muted svg-icon-2hx">
																	<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
																		<path d="M6 21C6 21.6 6.4 22 7 22H17C17.6 22 18 21.6 18 21V20H6V21Z" fill="currentColor"/>
																		<path d="M12 4C11.4 4 11 3.6 11 3V2H13V3C13 3.6 12.6 4 12 4Z" fill="currentColor"/>
																		<path opacity="0.3" d="M18 3V20H6V3C6 2.4 6.4 2 7 2H17C17.6 2 18 2.4 18 3ZM16 11C16 8.5 13.7 6.49998 11.1 7.09998C9.60001 7.39998 8.50001 8.6001 8.10001 10.1001C7.80001 11.5001 8.2 12.7 9 13.7L11.2 16.2C11.6 16.6 12.3 16.6 12.7 16.2L14.9 13.7C15.6 13 16 12 16 11Z" fill="currentColor"/>
																		<path d="M12 12.5C12.8284 12.5 13.5 11.8284 13.5 11C13.5 10.1716 12.8284 9.5 12 9.5C11.1716 9.5 10.5 10.1716 10.5 11C10.5 11.8284 11.1716 12.5 12 12.5Z" fill="currentColor"/>
																</svg>
																</span>
															</a>
															<a href="JavaScript:Void(0);" class="btn btn-md btn-light-primary px-3 me-1" data-bs-toggle="modal" data-bs-target="#autho-message">
																<span class="svg-icon svg-icon-muted svg-icon-2hx">
																	<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
																		<path opacity="0.3" d="M21 19H3C2.4 19 2 18.6 2 18V6C2 5.4 2.4 5 3 5H21C21.6 5 22 5.4 22 6V18C22 18.6 21.6 19 21 19Z" fill="currentColor"/>
																		<path d="M21 5H2.99999C2.69999 5 2.49999 5.10005 2.29999 5.30005L11.2 13.3C11.7 13.7 12.4 13.7 12.8 13.3L21.7 5.30005C21.5 5.10005 21.3 5 21 5Z" fill="currentColor"/>
																	</svg>
																</span>
															</a>
															<a href="JavaScript:Void(0);" class="btn btn-md btn-light-primary px-3" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Save property">
																<span class="svg-icon svg-icon-muted svg-icon-2hx">
																	<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
																		<path d="M18.3721 4.65439C17.6415 4.23815 16.8052 4 15.9142 4C14.3444 4 12.9339 4.73924 12.003 5.89633C11.0657 4.73913 9.66 4 8.08626 4C7.19611 4 6.35789 4.23746 5.62804 4.65439C4.06148 5.54462 3 7.26056 3 9.24232C3 9.81001 3.08941 10.3491 3.25153 10.8593C4.12155 14.9013 9.69287 20 12.0034 20C14.2502 20 19.875 14.9013 20.7488 10.8593C20.9109 10.3491 21 9.81001 21 9.24232C21.0007 7.26056 19.9383 5.54462 18.3721 4.65439Z" fill="currentColor"/>
																	</svg>
																</span>
															</a>
														</div>
													</div>
												</div>
											</div>
										</div>
										
									</div>
								</div>
								<!-- End Single Property -->
								<!-- Single Property -->
								<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
									<div class="property-listing list_view style_new">
										<div class="row">
											<div class="col-sm-4">
												<div class="listing-img-wrapper position-relative">
													<div class="like_unlike_prt">
														<label class="toggler toggler-danger"><input type="checkbox"><i class="fa fa-heart"></i></label>
													</div>
													<div class="position-absolute top-0 left-0 ms-3 mt-3 z-1">
														<div class="label bg-success text-light d-inline-flex align-items-center justify-content-center">
															<span class="svg-icon text-light svg-icon-2hx me-1">
																<svg width="14" height="14" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
																	<path opacity="0.3" d="M20.5543 4.37824L12.1798 2.02473C12.0626 1.99176 11.9376 1.99176 11.8203 2.02473L3.44572 4.37824C3.18118 4.45258 3 4.6807 3 4.93945V13.569C3 14.6914 3.48509 15.8404 4.4417 16.984C5.17231 17.8575 6.18314 18.7345 7.446 19.5909C9.56752 21.0295 11.6566 21.912 11.7445 21.9488C11.8258 21.9829 11.9129 22 12.0001 22C12.0872 22 12.1744 21.983 12.2557 21.9488C12.3435 21.912 14.4326 21.0295 16.5541 19.5909C17.8169 18.7345 18.8277 17.8575 19.5584 16.984C20.515 15.8404 21 14.6914 21 13.569V4.93945C21 4.6807 20.8189 4.45258 20.5543 4.37824Z" fill="currentColor"></path>
																	<path d="M14.854 11.321C14.7568 11.2282 14.6388 11.1818 14.4998 11.1818H14.3333V10.2272C14.3333 9.61741 14.1041 9.09378 13.6458 8.65628C13.1875 8.21876 12.639 8 12 8C11.361 8 10.8124 8.21876 10.3541 8.65626C9.89574 9.09378 9.66663 9.61739 9.66663 10.2272V11.1818H9.49999C9.36115 11.1818 9.24306 11.2282 9.14583 11.321C9.0486 11.4138 9 11.5265 9 11.6591V14.5227C9 14.6553 9.04862 14.768 9.14583 14.8609C9.24306 14.9536 9.36115 15 9.49999 15H14.5C14.6389 15 14.7569 14.9536 14.8542 14.8609C14.9513 14.768 15 14.6553 15 14.5227V11.6591C15.0001 11.5265 14.9513 11.4138 14.854 11.321ZM13.3333 11.1818H10.6666V10.2272C10.6666 9.87594 10.7969 9.57597 11.0573 9.32743C11.3177 9.07886 11.6319 8.9546 12 8.9546C12.3681 8.9546 12.6823 9.07884 12.9427 9.32743C13.2031 9.57595 13.3333 9.87594 13.3333 10.2272V11.1818Z" fill="currentColor"></path>
																</svg>
															</span>Verified
														</div>
													</div>
													<div class="list-img-slide">
														<div class="clior">
															<div><a href="propertyview"><img src="https://themezhub.net/resido-live/resido/assets/img/p-1.jpg" class="img-fluid mx-auto" alt="" /></a></div>
															<div><a href="propertyview"><img src="https://themezhub.net/resido-live/resido/assets/img/p-10.jpg" class="img-fluid mx-auto" alt="" /></a></div>
															<div><a href="propertyview"><img src="https://themezhub.net/resido-live/resido/assets/img/p-15.jpg" class="img-fluid mx-auto" alt="" /></a></div>
														</div>
													</div>
												</div>
											</div>
											<div class="col-sm-6">
												<div class="list_view_flex">
												
													<div class="listing-detail-wrapper mt-1">
														<div class="listing-short-detail-wrap">
															<div class="_card_list_flex mb-2">
																<div class="_card_flex_01 d-flex align-items-center">
																	<span class="label bg-light-danger text-danger me-2">For Sell</span>
																	<span class="label bg-light-purple text-purple">Building</span>
																</div>
																<div class="_card_flex_last">
																	<h6 class="listing-info-price text-primary fs-4 mb-0">Rs. 786167</h6>
																</div>
															</div>
															<div class="_card_list_flex">
																<div class="_card_flex_01">
																	<h4 class="listing-name"><a href="propertyview" class="prt-link-detail">4789 Vadodara, Gujarat HAQC445</a></h4>
																</div>
															</div>
														</div>
													</div>
													
													<div class="price-features-wrapper">
														<div class="list-fx-features d-flex align-items-center justify-content-between">
															<div class="listing-card d-flex align-items-center">
																<div class="square--30 text-muted-2 fs-sm circle gray-simple me-2"><i class="fa-solid fa-building-shield fs-sm"></i></div><span class="text-muted-2">3BHK</span>
															</div>
															<div class="listing-card d-flex align-items-center">
																<div class="square--30 text-muted-2 fs-sm circle gray-simple me-2"><i class="fa-solid fa-bed fs-sm"></i></div><span class="text-muted-2">3 Beds</span>
															</div>
															<div class="listing-card d-flex align-items-center">
																<div class="square--30 text-muted-2 fs-sm circle gray-simple me-2"><i class="fa-solid fa-clone fs-sm"></i></div><span class="text-muted-2">1800 SQFT</span>
															</div>
														</div>
													</div>
													
													<div class="listing-detail-footer pl-0">
														<div class="footer-first">
															<a href="propertyview"  class="btn btn-md btn-primary fw-medium" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Check Availability"  style="margin-top:-30px;height:53px;">
																<span class="svg-icon text-light svg-icon-2hx me-1">
																	View More
																</span>
															</a>
															<a href="tel:4048651904" class="btn btn-md btn-light-primary px-3 me-1" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Call Agent">
																<span class="svg-icon svg-icon-muted svg-icon-2hx">
																	<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
																		<path d="M6 21C6 21.6 6.4 22 7 22H17C17.6 22 18 21.6 18 21V20H6V21Z" fill="currentColor"/>
																		<path d="M12 4C11.4 4 11 3.6 11 3V2H13V3C13 3.6 12.6 4 12 4Z" fill="currentColor"/>
																		<path opacity="0.3" d="M18 3V20H6V3C6 2.4 6.4 2 7 2H17C17.6 2 18 2.4 18 3ZM16 11C16 8.5 13.7 6.49998 11.1 7.09998C9.60001 7.39998 8.50001 8.6001 8.10001 10.1001C7.80001 11.5001 8.2 12.7 9 13.7L11.2 16.2C11.6 16.6 12.3 16.6 12.7 16.2L14.9 13.7C15.6 13 16 12 16 11Z" fill="currentColor"/>
																		<path d="M12 12.5C12.8284 12.5 13.5 11.8284 13.5 11C13.5 10.1716 12.8284 9.5 12 9.5C11.1716 9.5 10.5 10.1716 10.5 11C10.5 11.8284 11.1716 12.5 12 12.5Z" fill="currentColor"/>
																</svg>
																</span>
															</a>
															<a href="JavaScript:Void(0);" class="btn btn-md btn-light-primary px-3 me-1" data-bs-toggle="modal" data-bs-target="#autho-message">
																<span class="svg-icon svg-icon-muted svg-icon-2hx">
																	<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
																		<path opacity="0.3" d="M21 19H3C2.4 19 2 18.6 2 18V6C2 5.4 2.4 5 3 5H21C21.6 5 22 5.4 22 6V18C22 18.6 21.6 19 21 19Z" fill="currentColor"/>
																		<path d="M21 5H2.99999C2.69999 5 2.49999 5.10005 2.29999 5.30005L11.2 13.3C11.7 13.7 12.4 13.7 12.8 13.3L21.7 5.30005C21.5 5.10005 21.3 5 21 5Z" fill="currentColor"/>
																	</svg>
																</span>
															</a>
															<a href="JavaScript:Void(0);" class="btn btn-md btn-light-primary px-3" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Save property">
																<span class="svg-icon svg-icon-muted svg-icon-2hx">
																	<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
																		<path d="M18.3721 4.65439C17.6415 4.23815 16.8052 4 15.9142 4C14.3444 4 12.9339 4.73924 12.003 5.89633C11.0657 4.73913 9.66 4 8.08626 4C7.19611 4 6.35789 4.23746 5.62804 4.65439C4.06148 5.54462 3 7.26056 3 9.24232C3 9.81001 3.08941 10.3491 3.25153 10.8593C4.12155 14.9013 9.69287 20 12.0034 20C14.2502 20 19.875 14.9013 20.7488 10.8593C20.9109 10.3491 21 9.81001 21 9.24232C21.0007 7.26056 19.9383 5.54462 18.3721 4.65439Z" fill="currentColor"/>
																	</svg>
																</span>
															</a>
														</div>
													</div>
												</div>
											</div>
										</div>
										
									</div>
								</div>
								<!-- End Single Property -->
								
								
							</div>
							
							<!-- Pagination -->
							
					
						</div>
						<div class="col-lg-3 card">
							<h3 style="margin-top:10px;text-decoration:underline;margin-left:10px;">Hot Property NearBy</h3>
							<img src="https://5.imimg.com/data5/SELLER/Default/2023/2/SI/QI/CT/146959638/real-estate-agent-for-residential-property-vasna-bhayli-road-500x500.jpg" style="margin-top:20px;height:250px;width:100%;">
							<button class="btn btn-primary btn-sm" style="border-radius:10px;margin-top:3px;">Enquire Now</button>
							<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-F8ChrYiwYBxKk_-z7OW3dwmS28dKE3IXSQmN-rWcqrwIa6L_s_mt4JPntyT0BBsc6O4&usqp=CAU" style="margin-top:40px;height:250px;width:100%;">
							<button class="btn btn-primary btn-sm" style="border-radius:10px;margin-top:3px;">Enquire Now</button>
							<img src="https://5.imimg.com/data5/SELLER/Default/2023/4/298595309/TC/LS/QM/146959638/new-residential-projects-in-vasna-bhayli-road-vadodara-500x500.jpg" style="margin-top:40px;height:250px;width:100%;">
							<button class="btn btn-primary btn-sm" style="border-radius:10px;margin-top:3px;">Enquire Now</button>
						</div>
						
					</div>
				</div>	
			</section>
			<style>
                .video-cover {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                }

                .video-cover video {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
				
            </style>
			
			<!-- ============================ Agency List End ================================== -->

			<!-- ============================ Footer Start ================================== -->
			{% include 'footer-contactus.html' %}
			<!-- ============================ Footer End ================================== -->
		</div>
	</body>
</html>