{% extends "builderpanel/base.html" %}
{% load static %}
{% block content %}


            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class=" overflow-hidden">
                                <h4 class="text-truncate mb-1">Welcome,</h4>
                                <p class="text-truncate text-muted mb-0">Let's get your business started in 3 steps</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->                   

            <div class="row">
                <div class="col-lg-8">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <a href="my-profile"><div class="card border shadow-none material-shadow" style="border-radius:17px">
                                            <div class="card-body text-center">
                                                <div class="avatar-md mx-auto mb-4" id="register-tour">
                                                    <div class="avatar-title bg-light rounded-circle text-primary fs-24 material-shadow">
                                                        <img src="https://cdn-icons-png.flaticon.com/512/7871/7871290.png" style="height:30px;width:30px;">
                                                    </div>
                                                </div>
                                                <h5>Complete Profile</h5>
                                            </div>
                                        </div>
                                        </a>
                                    </div>
                                    
                                    <!-- end col -->
                                    <div class="col-lg-4">
                                        <div class="card border shadow-none material-shadow" style="border-radius:17px">
                                            <div class="card-body text-center">
                                                <div class="avatar-md mx-auto mb-4" id="login-tour">
                                                    <div class="avatar-title bg-light rounded-circle text-primary fs-24 material-shadow">
                                                        <img src="https://cdn-icons-png.flaticon.com/512/2808/2808383.png" style="height:30px;width:30px;">
                                                    </div>
                                                </div>
                                                <h5>Account Verification</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end col -->
                                    <div class="col-lg-4">
                                        <div class="card border shadow-none material-shadow" style="border-radius:17px">
                                            <div class="card-body text-center">
                                                <div class="avatar-md mx-auto mb-4" id="getproduct-tour">
                                                    <div class="avatar-title bg-light rounded-circle text-primary fs-24 material-shadow">
                                                        <img src="https://cdn-icons-png.flaticon.com/512/5363/5363396.png" style="height:30px;width:30px;">
                                                    </div>
                                                </div>
                                                <h5>Post Property</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end col -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end col -->

                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="avatar-sm float-start me-3">
                                    <div class="avatar-title bg-danger-subtle text-danger fs-3xl rounded">
                                        <i class="ri-slideshow-3-line mr-3"></i> 
                                    </div>
                                </div>  
                                <div class="flex-grow-1 overflow-hidden">
                                    <h5 class="text-truncate mb-1 fs-lg">Join free live training</h5>
                                    <p class="text-truncate text-muted fs-md mb-0"><small>Get free live training with Realezi expert</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end col -->

                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="flex-grow-1 overflow-hidden">
                                    <div class="d-flex align-items-center">
                                        <div class="avatar-sm float-start me-3">
                                            <div class="avatar-title bg-success-subtle text-success fs-3xl rounded">
                                                <i class=" ri-gift-2-fill mr-3"></i> 
                                            </div>
                                        </div> 
                                        <div class="flex-grow-1 overflow-hidden">
                                            <h5 class="text-truncate">To get your first order quickly, post more properties. We recommend posting 6-7 properties.</h5>
                                        </div>
                                    </div>
                                </div> 
                                <div class="hstack gap-2 justify-content-end">
                                    <a href="propertylist.html"><button type="submit" class="btn btn-primary">Add More properties</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end col -->
                </div>

                <div class="col-lg-4">                            
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body"> 
                                <div class="mb-4">
                                    <h5 class="text-truncate mb-1 fs-lg">Useful Links</h5>
                                    <p class="text-truncate text-muted fs-md mb-0"><small>Learn to operate and grow your Business.</small></p>
                                </div>
                                <div class="flex-grow-1 overflow-hidden">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-shrink-0 chat-user-img online user-own-img align-self-center me-3 ms-0">
                                            <img src="https://cdn-icons-png.freepik.com/256/3212/3212202.png?semt=ais_hybrid" width="40px">
                                        </div>
                                        <div class="flex-grow-1 overflow-hidden">
                                            <p class="text-truncate mb-1 fs-lg"><small>Learn How to Verify yourself</small></p>
                                        </div>
                                    </div>
                                </div>                                    
                                <hr>
                                <div class="flex-grow-1 overflow-hidden">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-shrink-0 chat-user-img online user-own-img align-self-center me-3 ms-0">
                                            <img src="https://cdn-icons-png.flaticon.com/512/4514/4514882.png" width="40px">
                                        </div>
                                        <div class="flex-grow-1 overflow-hidden">
                                            <p class="text-truncate mb-1 fs-lg"><small>Get Help of Experts</small></p>
                                        </div>
                                    </div>
                                </div>   
                            </div>
                        </div>
                    </div>
                    <!-- end col -->

                    <div class="col-lg-12">
                        <div class="accordion accordion-border-box" id="genques-accordion">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="genques-headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#genques-collapseOne" aria-expanded="true" aria-controls="genques-collapseOne">
                                        How do I add a new property in the builder panel?
                                    </button>
                                </h2>
                                <div id="genques-collapseOne" class="accordion-collapse collapse show" aria-labelledby="genques-headingOne" data-bs-parent="#genques-accordion">
                                    <div class="accordion-body">
                                        To add a new property, navigate to the "Add Property" section in the menu. Fill in all the required details, such as property name, location, size, price, and any other relevant information. Once complete, click "Submit" to save the property details to the system.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="genques-headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#genques-collapseTwo" aria-expanded="false" aria-controls="genques-collapseTwo">
                                        How can I check the scheduled site visits for a property?
                                    </button>
                                </h2>
                                <div id="genques-collapseTwo" class="accordion-collapse collapse" aria-labelledby="genques-headingTwo" data-bs-parent="#genques-accordion">
                                    <div class="accordion-body">
                                        Go to the "Check Site Visit Booked" section in the menu. Here, you’ll find a list of all upcoming site visits that have been booked for various properties. You can filter the visits by date or property name to quickly find the information you need.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="genques-headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#genques-collapseThree" aria-expanded="false" aria-controls="genques-collapseThree">
                                        How do I view and manage payments?
                                    </button>
                                </h2>
                                <div id="genques-collapseThree" class="accordion-collapse collapse" aria-labelledby="genques-headingThree" data-bs-parent="#genques-accordion">
                                    <div class="accordion-body">
                                        To manage payments, select the "Payments" option from the menu. You will see a list of all payments made, including details such as payment amount, date, and associated property. You can also update payment status or export the payment records if needed.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="genques-headingFour">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#genques-collapseFour" aria-expanded="false" aria-controls="genques-collapseFour">
                                        Where can I review past site visits?
                                    </button>
                                </h2>
                                <div id="genques-collapseFour" class="accordion-collapse collapse" aria-labelledby="genques-headingFour" data-bs-parent="#genques-accordion">
                                    <div class="accordion-body">
                                        For a summary of completed site visits, go to the "Check Site Visits" section. This area displays a history of all past site visits, including dates, property details, and visitor feedback. You can use this information to follow up with potential buyers or evaluate the success of previous visits.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end accordion-->
                    </div>
                    <!-- end col -->
                </div>
            </div>
            <!-- end row -->                   
        

    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <script>document.write(new Date().getFullYear())</script> © Realezi.
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end d-none d-sm-block">
                        Designed and Developed by Realway Solution
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- end row -->


{% endblock content %}