<!DOCTYPE html>
<html lang="zxx">
	<head>
		{% load static %}
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>Realezi.com - Buy your dream property in Vadodara with assured best deals</title>
		<meta name="description" content="Discover your dream home with Realezi.com! Browse a wide range of real estate listings, from cozy apartments to luxurious estates. Our user-friendly platform makes finding the perfect property a breeze. Start your real estate journey today!">
        <!-- Custom CSS -->
        <link href="{% static 'front-end/css/styles.css' %}" rel="stylesheet">
		<!-- Custom Color Option -->
		<link href="{% static 'front-end/css/colors.css' %}" rel="stylesheet">

    </head>
	<body>
    	<div class="sidebar-widgets">
									<div class="dashboard-navbar">

										<div class="d-user-avater">
											<img src="{% static 'front-end/img/user-1.jpg' %}" class="img-fluid avater" alt="">
											<h4>Hitesh</h4>
											<span></span>
										</div>

										<div class="d-navigation">
											<ul>
												<li class="active"><a href="dashboard.html"><i class="ti-dashboard"></i>Dashboard</a></li>
												<li><a href="/myprofile"><i class="ti-user"></i>My Profile</a></li>
												<li><a onclick ="alert('Complete your Profile to post property')" href="my-property.html"><i class="ti-layers"></i>My Properties</a></li>
												<li><a href="/addproperty"><i class="ti-pencil-alt"></i>Submit New Property</a></li>
												<li><a href="change-password.html"><i class="ti-unlock"></i>Change Password</a></li>
												<li><a href="#"><i class="ti-power-off"></i>Log Out</a></li>
											</ul>
										</div>

									</div>
								</div>
</body>
</html>