<!DOCTYPE html>
<html lang="zxx">
	<head>
		{% load static %}
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <title>Realezi.com - Buy your dream property in Vadodara with assured best deals</title>
		<meta name="description" content="Discover your dream home with Realezi.com! Browse a wide range of real estate listings, from cozy apartments to luxurious estates. Our user-friendly platform makes finding the perfect property a breeze. Start your real estate journey today!">
        <!-- Custom CSS -->
        <meta charset="UTF-8">
		 <!-- Custom CSS -->
		 <link href="{% static 'front-end/css/styles.css' %}" rel="stylesheet">

		 <!-- Custom Color Option -->
		 <link href="{% static 'front-end/css/colors.css' %}" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static 'signup/css/bootstrap.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'signup/css/fontawesome-all.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'signup/css/iofrm-style.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'signup/css/iofrm-theme8.css' %}">
		<style>
			.img-holder {
				z-index: 0 !important;
			}
		</style>
    </head>

    <body>
		<div id="main-wrapper">
            <!-- ============================================================== -->
			<div class="header header-light head-shadow">
				<div class="container">
					<nav id="navigation" class="navigation navigation-landscape">
						<div class="nav-header">
							<a class="nav-brand" href="{% url 'index' %}">
								<img src="{% static 'front-end/img/realezilogos.png' %}" class="logo" alt="" style="max-width:141px;height:38px !important;width:141px !important;"/>
							</a>
							<div class="nav-toggle"></div>
						</div>
						<div class="nav-menus-wrapper" style="transition-property: none;">
							<ul class="nav-menu">
								<li class="active"><a href="/">Home<span class="submenu-indicator"></span></a></li>
								<li><a href="JavaScript:Void(0);">Buy<span class="submenu-indicator"></span></a>
									<ul class="nav-dropdown nav-submenu">
										<li>
											<a data-bs-toggle="modal" data-bs-target="#Residential"  style="font-size: 13px;">Residential</a>
										</li>
										<li>
											<a data-bs-toggle="modal" data-bs-target="#Commercial"  style="font-size: 13px;">Commercial</a>
										</li>
										
										<li>
											<a data-bs-toggle="modal" data-bs-target="#Plots"  style="font-size: 13px;">Plots</a>
										</li>
									</ul>
								</li>

								<li><a href="JavaScript:Void(0);">Services<span class="submenu-indicator"></span></a>
									<ul class="nav-dropdown nav-submenu">
										<li><a  data-bs-toggle="modal" data-bs-target="#homeloan"  style="font-size: 13px;">HomeLoan Assistance</a></li>
										<li><a  data-bs-toggle="modal" data-bs-target="#legaldocument"  style="font-size: 13px;">Legal Documentation Service</a></li>
									</ul>
								</li>

								<li><a href="/about-us" >About Us</a></li>
								<li><a href="/contact" >Contact Us</a></li>
							</ul>
						</div>
					</nav>
				</div>
			</div>
            <!-- ============================================================== -->
			<div class="clearfix"></div>
        </div>
		<div class="row" style="border:1px solid grey;background:transparent !important;">
			<div class="col-sm-4" style="background-color: white;padding:100px;height:auto">
			
						<div class="info-holder" style="margin-top:60px;">
							<h4>Start Your Journey Here</h4>
							<p>Unlock Your Real Estate Dreams with Us.</p>
							<img src="{% static 'signup/images/graphic4.svg' %}" alt="">
						</div>
					
			</div>
			<div class="col-sm-8" style="min-height:700px;padding-left:150px;padding-top:60px;margin-top:0px;background:url('https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm405-b03.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=f322db7b52ebd65b35d914be1e549db9');background-size: cover;">
					<div class="">
						<div class="form-content" style="background:none !important">
							<div class="form-items pull-left" style="background:rgba(0, 0, 0, 0.25);padding:20px;">
								<div class="website-logo-inside">
									<a href="index.html">
										
									</a>
								</div>
								<div class="page-links" style="margin-top:-50px;">
									<a href="login" {% if request.path == '/login' %} class="active" {% endif %} >Login</a><a {% if request.path == '/signup' %} class="active" {% endif %}  href="signup">Register</a>
								</div>
								<form method="post" action="{% url 'signup' %}" style="margin-top:-0px;">
									{% csrf_token %}
									<div class="row">
										<div class="form-group">
													<label>Name</label>
													<input type="text" class="form-control simple" name="customer_name">
												</div>
											</div>
										<div class="row">
											<div class="col-lg-6 col-md-6">
												<div class="form-group">
												<label>Phone No.</label>
												<input type="number" class="form-control simple" name="customer_contact">
												</div>
											</div>
											<div class="col-lg-6 col-md-6">
												<div class="form-group">
													<label>Email</label>
													<input type="email" class="form-control simple" name="customer_email">
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-lg-12 col-md-12">
												<div class="form-group">
													<label>Business Name</label>
													<input type="text" class="form-control simple" name="business_name">
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-lg-6 col-md-6">
												<div class="form-group">
													<label>Password</label>
													<input type="text" class="form-control simple" name="password">
												</div>
											</div>
											<div class="col-lg-6 col-md-6">
												<div class="form-group">
													<label>confirm password</label>
													<input type="text" class="form-control simple" name="confirm_password">
												</div>
											</div>
										</div>
										<div class="row">
										<div class="form-group">
											<button class="btn btn-md btn-primary rounded" type="submit" name="submit" style="background-color:#f37b12;">Submit Request</button>
										</div>
										</div>
									<div class="modal-divider"><span>Or register via</span></div>
										<div class="social-login mb-3">
											<ul>
												<li><a href="#" class="btn connect-fb"><i class="ti-facebook"></i>Facebook</a></li>
												<li><a href="" class="btn connect-google"><i class="ti-google"></i>Google+</a></li>
											</ul>
										</div>
								</form>
								
							</div>
						</div>
					</div>
			</div>
		</div>
		{% if request.session.signupsuccess %}
		<script>
			// JavaScript to show the popup
			// You can customize this script to fit your needs
			window.onload = function() {
				$(window).on('load', function() {
					$('#successpopup').modal('show');
				});
			};
		</script>
		{% endif %}
		<div class="modal fade" id="successpopup" tabindex="-1" role="dialog" aria-labelledby="registermodal" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered login-pop-form" role="document">
				<div class="modal-content" id="BuilderContact">
					<span class="mod-close" data-bs-dismiss="modal" aria-hidden="true"><i class="ti-close"></i></span>
					<div class="modal-body">
						<br>
						<h4 class="modal-header-title" style="font-size:25px;">Thanks For Registeration, You will be Notified once Verified.</h4>
						
				</div>
				</div>
			</div>
		</div>
		<footer class="dark-footer skin-dark-footer" style="background:white !important">
			<div>
				<div class="container">
					<div class="row">

						<div class="col-lg-5 col-md-5">
							<div class="footer-widget">
								<img src="{% static 'front-end/img/Realezy Logo.png' %}" class="" alt="" style="margin-bottom:20px;width:40% !important;"/>
								<br>
								<p style="color:black;text-align:justify;font-weight:normal;font-size:17px;margin-bottom:0px;font-family: 'Arial, Helvetica, sans-serif' !important;">
									Realezi is a pioneering Indian start-up dedicated to simplifying the process of purchasing
									your dream home. As a comprehensive one-stop solution, Realezi assists you in finding
									the ideal property that aligns with your specific needs and budget. We not only secure the best
									deals available in the market but also provide invaluable support throughout the entire
									home-buying journey, including home loan assistance and post-purchase services.
								</p>
								<br>
								<div class="footer-add" style="margin-top:0px;">
									<!-- <p><i class="fa fa-phone" style="color:black"></i>&nbsp;<a href="tel:+91-8780953097" style="color:black !important;">+91 8780953097</a></p>
									<p><i class="fa fa-envelope" style="color:black;margin-bottom:20px;"></i>&nbsp;<a href="mailto:hitesh@realezi.com" style="color:black !important;">hitesh@realezi.com</a></p> -->

									<a href="https://www.facebook.com/profile.php?id=100095528529674&mibextid=ZbWKwL" target="_blank"><img style="width:6%;margin-right:10px" src="{% static 'front-end/img/facebook.png' %}"  alt="" /></a>
									
									<a href="https://www.instagram.com/realezi_" target="_blank"><img style="width:6%;margin-right:10px" src="{% static 'front-end/img/instagram.png' %}"  alt="" /></a>
									<a href="https://www.linkedin.com/company/realezi/" target="_blank"><img style="width:6%;margin-right:10px;" src="{% static 'front-end/img/linkedin.png' %}"  alt="" /></a>

								</div>
							</div>
						</div>
						<div class="col-lg-1 col-md-1"></div>
					<div class="col-lg-2 col-md-2">
							<div class="footer-widget">
								<br>
								<h3 class="widget-title" style="color:black !important;margin-top:0px;"><center>Company</center></h3>
								
								<br>
								<ul class="footer-menu">
									<center>
									<li><a href="#" style="font-size:15px;color:black !important;text-align: center !important;">Home</a></li>
									<li><a href="#" style="font-size:15px;color:black !important;text-align: center !important;">Buy</a></li>
									<li><a href="#" style="font-size:15px;color:black !important;text-align: center !important;">Service</a></li>
									<li><a href="{% url 'about-us' %}" style="color:black !important;text-align: center !important;">About us</a></li>
									</center>
								</ul>
							</div>
						</div>
						<div class="col-lg-1 col-md-1"></div>
						<style>
							.footer-add p a{
								color:white !important;
							}
							.footer-menu li a{
								color:white !important;
							}
						</style>
						<!-- <div class="col-lg-2 col-md-2">
							<div class="footer-widget">
								<h4 class="widget-title">My Account</h4>
								<ul class="footer-menu" >
									<li><a href="#">My Profile</a></li>
									<li><a href="#">My account</a></li>
									<li><a href="#">My Property</a></li>
									<li><a href="#">Cart</a></li>
								</ul>
							</div>
						</div> -->
						<div class="col-lg-3 col-md-3">
							<div class="footer-widget">
								<br>
								<div class="hero-search">
									<h3  class="widget-title" style="color:black !important">Get in Touch with Us</h3>
									
								</div>
								<br>
								
								<div class="footer-add" style="margin-top:10px;">
									<p><i class="fa fa-phone" style="font-size:15px;color:black"></i>&nbsp;&nbsp;<a href="tel:+91-8780953097" style="font-size:18px;color:black !important;">+91 8780953097</a></p>
									
									<p><i class="fa fa-envelope" style="font-size:15px;color:black;margin-top:10px;"></i>&nbsp;&nbsp;<a href="mailto:hitesh@realezi.com" style="font-size:18px;color:black !important;">hitesh@realezi.com</a></p> 

									<!-- <a href="https://www.facebook.com/profile.php?id=100095528529674&mibextid=ZbWKwL" target="_blank"><img style="width:6%;margin-right:10px" src="{% static 'front-end/img/facebook.png' %}"  alt="" /></a>
									
									<a href="https://www.instagram.com/realezi_" target="_blank"><img style="width:6%;margin-right:10px" src="{% static 'front-end/img/instagram.png' %}"  alt="" /></a>
									<a href="https://www.linkedin.com/company/realezi/" target="_blank"><img style="width:6%;margin-right:10px;" src="{% static 'front-end/img/linkedin.png' %}"  alt="" /></a> -->

								</div>
							</div>
						</div>
						<!-- <div class="col-lg-2 col-md-2">
							<div class="footer-widget">
								<h3  class="widget-title" style="color:black !important">What makes us best?</h3>
								<!-- <p style="color:black;text-align:justify;font-weight:normal;font-size:17px;margin-bottom:30px;font-family: 'Arial, Helvetica, sans-serif' !important;">At Realezi.com, we are on a mission to revolutionise the real estate industry in India by
									simplifying the process of finding and purchasing your dream home. As a pioneering Indian
									start-up, we understand the challenges homebuyers face, and we are dedicated to being
									your trusted companion throughout the entire home-buying journey.
								</p>
								<button type="button" class="btn btn-primary btn-md" style="font-size:18px;">Buy Residential</button>
								<button type="button" class="btn btn-success btn-md" style="font-size:18px;">Buy Commercial</button>	
								<button type="button" class="btn btn-primary btn-md" style="font-size:18px;">Buy Plots</button>		 -->
							</div>
						</div> -->
					</div>
				</div>
			</div>

			<div class="footer-bottom">
				<div class="container">
					<div class="row align-items-center">

						<div class="col-lg-6 col-md-6">
							<p class="mb-0" style="color:white">© 2023 Realezi.
							<!--Designd By <a href="https://themezhub.com">Themez Hub</a> -->
							All Rights Reserved</p>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<script src="{% static 'signup/js/jquery.min.js' %}"></script>
		<script src="{% static 'signup/js/popper.min.js' %}"></script>
		<script src="{% static 'signup/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'signup/js/main.js' %}"></script>
		</body>
	

</html>