<!doctype html>
<html lang="en">

<head>
    <!-- Meta Tag -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Uniland - Real Estate HTML5 Template">
    <meta name="keywords" content="real estate, property, property search, agent, apartments, booking, business, idx, housing, real estate agency, rental">
    <meta name="author" content="unicoder">
    <title>Realezi</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'frontpart/assets/images/favicon.ico">
    {% load static %}
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sen:wght@400;700&amp;display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,500;0,700;1,400&amp;display=swap" rel="stylesheet">

    <!-- Required style of the theme -->
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/bootstrap-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/webfonts/flaticon/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/owl.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/jquery.fancybox.min.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/layerslider.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/template.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/colors/color-6.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/loader.css' %}">
    <style>
        .breadcrumb-item+.breadcrumb-item::before{
            display:none !important;
        }
    </style>
</head>

<body>

    <div class="preloader">
		<div class="loader xy-center"></div>
	</div>

    <div id="page_wrapper" class="bg-light">
        <!--============== Header Section Start ==============-->
       {% include 'Frontend/header.html'%}
        <!--============== Header Section End ==============-->

        <!--============== Page title Start ==============-->
       
        <!--============== Page title End ==============-->

        <!--============== Property Details Start ==============-->
        <div class="full-row pt-0" style="margin-top:100px;">
            <div class="container">
                <h3 class="text-secondary">{{property.name}}</h3>
                <div class="row" style="margin-top:40px;">
                    <div class="col-xl-4 order-xl-2">
                        <!-- Message Form -->
                        <div class="widget widget_contact bg-white border p-30 shadow-one rounded mb-30">
                            <button type="button" class="btn btn-primary" style="width:100%">Schedule Your Visit</button>
                            <br>
                            <form class="quick-search form-icon-right" action="/propertyInquiry" method="post" style="margin-top:15px;">
                                
                                {% csrf_token %}
                                <input type="hidden" class="form-control" name="property_id" value="{{property.property_id}}" placeholder="Your Name" style="border:1px solid black;">
                                <div class="form-row">
                                    <div class="col-12 mb-10">
                                        <div class="form-group mb-0">
                                            <input type="text" class="form-control" name="name" placeholder="Your Name" style="border:1px solid black;" required>
                                        </div>
                                    </div>
                                    <div class="col-12 mb-10">
                                        <div class="form-group mb-0">
                                            <input type="text" class="form-control" name="phone" placeholder="Phone Number" style="border:1px solid black;" required>
                                        </div>
                                    </div>
                                    <div class="col-12 mb-10">
                                        <div class="form-group mb-0">
                                            <input type="email" class="form-control" name="email" placeholder="Your Email"  style="border:1px solid black;" required>
                                        </div>
                                    </div>
                                    <div class="col-12 mb-10">
                                        <div class="form-group mb-0">
                                            <textarea class="form-control" name="message" placeholder="Message" rows="10"  style="border:1px solid black;" required></textarea>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group mb-0">
                                            <button class="btn btn-primary w-100" type="submit">Send Message</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- Property Search -->
                        
                        <!--============== Recent Property Widget Start ==============-->
                        <div class="widget widget_recent_property">
                            <h5 class="text-secondary mb-4">Similar Properties</h5>
                            <ul>
                                <li>
                                    <img src="{% static 'frontpart/assets/images/thumbnaillist/01.jpg' %}" alt="">
                                    <div class="thumb-body">
                                        <h6 class="listing-title"><a href="property-single-1.html">Nirala Appartment</a></h6>
                                        <span class="listing-price">Rs. 3200<small>( Monthly )</small></span>
                                        <ul class="d-flex quantity font-fifteen">
                                            <li title="Area"><span><i class="fa-solid fa-vector-square"></i></span>6500 Sqft</li>

                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <img src="{% static 'frontpart/assets/images/thumbnaillist/02.jpg' %}" alt="">
                                    <div class="thumb-body">
                                        <h6 class="listing-title"><a href="property-single-1.html">Condo House</a></h6>
                                        <span class="listing-price">Rs. 11500<small>( Monthly )</small></span>
                                        <ul class="d-flex quantity font-fifteen">
                                            <li title="Area"><span><i class="fa-solid fa-vector-square"></i></span>2200 Sqft</li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <img src="{% static 'frontpart/assets/images/thumbnaillist/03.jpg' %}" alt="">
                                    <div class="thumb-body">
                                        <h6 class="listing-title"><a href="property-single-1.html">Luxury Condos</a></h6>
                                        <span class="listing-price">Rs. 17000<small>( Monthly )</small></span>
                                        <ul class="d-flex quantity font-fifteen">
                                            <li title="Area"><span><i class="fa-solid fa-vector-square"></i></span>3500 Sqft</li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <img src="{% static 'frontpart/assets/images/thumbnaillist/04.jpg' %}" alt="">
                                    <div class="thumb-body">
                                        <h6 class="listing-title"><a href="property-single-1.html">Small Appartment</a></h6>
                                        <span class="listing-price">Rs. 5200<small>( Monthly )</small></span>
                                        <ul class="d-flex quantity font-fifteen">
                                            <li title="Area"><span><i class="fa-solid fa-vector-square"></i></span>1200 Sqft</li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!--============== Recent Property Widget End ==============-->
                    </div>
                    <div class="col-xl-8 order-xl-1" style="margin-top:-20px;">
                        <div class="property-overview border summary rounded bg-white p-30 mb-30">
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="single-property" style="width:1200px; height:600px; margin:0 auto 30px;">
                                        <!-- Slide 1-->
                                        <div class="ls-slide" data-ls="duration:7500; transition2d:5; kenburnszoom:in; kenburnsscale:1.2;"> <img width="1920" height="1280" src="https://assets-news.housing.com/news/wp-content/uploads/2022/03/28143140/Difference-between-flat-and-apartment-686x400.jpg" class="ls-bg" alt="" /> </div>

                                        <!-- Slide 2-->
                                        <div class="ls-slide" data-ls="duration:7500; transition2d:5; kenburnszoom:out; kenburnsscale:1.2;"> <img width="1920" height="1280" src="{% static 'frontpart/assets/images/slider/6.png' %}" class="ls-bg" alt="" /> </div>

                                        <!-- Slide 3-->
                                        <div class="ls-slide" data-ls="duration:7500; transition2d:5; kenburnszoom:in; kenburnsscale:1.2;"> <img width="1920" height="1280" src="{% static 'frontpart/assets/images/slider/8.png' %}" class="ls-bg" alt="" /> </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-auto">
                                    <div class="post-meta font-small text-uppercase list-color-primary">
                                        <a href="#" class="listing-ctg"><i class="fa-solid fa-building"></i><span>{{property.property_sub_type}}</span></a>
                                    </div>
                                    <h4 class="listing-title">{{property.name}}</h4>
                                    <span class="listing-location"><i class="fas fa-map-marker-alt text-primary"></i> {{property.address}}</span>
                                    <a href="#" class="d-block text-light hover-text-primary font-small mb-2">( 100 People Recommended )</a>
                                </div>
                                <div class="col-auto ms-auto xs-m-0 text-end xs-text-start pb-4">
                                    <span class="listing-price">Rs. {{property.price}} <small>(Only )</small></span>
                                    <span class="text-white font-mini px-2 rounded product-status ms-auto xs-m-0 py-1 bg-primary"><i class="fas fa-check"></i> Available</span>
                                </div>
                                <div class="col-12">
                                    <!-- <div class="product-offers mt-2">
                                        <ul class="product-offers-list">
                                            <li class="product-offer-item"> <strong>Special Price </strong>Get extra 19% off (price inclusive of discount)</li>
                                            <li class="product-offer-item"> <strong>Bank Offer </strong> 10% instant discount on VISA Cards</li>
                                            <li class="product-offer-item"> <strong>No cost EMI Rs. 49/month.</strong> Standard EMI also available</li>
                                        </ul>
                                    </div> -->
                                    <ul class="quick-meta mt-4">
                                        <!-- <li class="bg-light"><a href="#" title="Add to compare" class="text-dark"><i class="flaticon-transfer flat-mini"></i></a></li> -->
                                        <li class="bg-light"><a href="#" title="Add wishlist" class="text-dark"><i class="flaticon-like-1 flat-mini"></i></a></li>
                                        <li class="bg-light"><a href="#" title="Media share" class="text-dark"><i class="flaticon-share flat-mini"></i></a></li>
                                        <!-- <li class="bg-light"><a href="#" title="Print Data" class="text-dark"><i class="flaticon-printer flat-mini"></i></a></li> -->
                                        <li class="bg-light"><a href="#" title="Download PDF" class="text-dark"><i class="fas fa-download flat-mini"></i></a></li>
                                        <li class="bg-primary w-auto"><a href="#" class="px-5 text-white">Booking Now</a></li>
                                    </ul>

                                    <hr>
                                    <div class="mt-2">
                                        
                                </div>
                            </div>
                            <div class="row row-cols-1">
                                <div class="col">
                                    <h5 class="mb-3">Description</h5>
                                    <p style="text-align:justify">{{property.property_description}}</p>
                                    <!-- <div class="short-description d-flex">
                                        <span class="me-4 font-500">Highlights:</span>
                                        <div class="short-description">
                                            <ul class="list-style-tick">
                                                <li>Regular Fit.</li>
                                                <li>Full sleeves.</li>
                                                <li>Machine wash, tumble dry.</li>
                                            </ul>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                        <div class="property-overview border rounded bg-white p-30 mb-30">
                            <div class="row row-cols-1">
                                <div class="col">
                                    <h5 class="mb-3">More Information</h5>
                                    <ul class="list-three-fold-width">
                                        <li><span class="font-500">Property Type :</span> {{property.property_type }}</li>
                                        <li><span class="font-500">No. of Rooms :</span> {{property.rooms }}</li>
                                        <li><span class="font-500">Possession Type :</span> {{property.possession_type }}</li>
                                        <li><span class="font-500">Possession Year :</span> {{property.possession_year }}</li>
                                        <li><span class="font-500">Area :</span> {{property.plotarea }}  ( {{property.plot_area_type}} )</li>
                                        <li><span class="font-500">Booking Amount :</span> {{property.booking_amount }}%</li>
                                        <li><span class="font-500">Furnished Status :</span> {{property.furnished_status }}</li>
                                        <li><span class="font-500">Landmark :</span> {{property.landmark }}</li>
                                        <li><span class="font-500">State :</span> {{property.state }}</li>
                                        <li><span class="font-500">City :</span> {{property.city }}</li>
                                        <li><span class="font-500">Pincode :</span> {{property.pincode }}</li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="property-overview border rounded bg-white p-30 mb-30" style="display: none;">
                            <div class="row row-cols-1">
                                <div class="col">
                                    <h5 class="mb-3">Property Summary</h5>
                                    <div class="table-striped overflow-x-scroll pb-2">
                                        <table class="w-100">
                                            <tbody>
                                                <tr>
                                                    <td>Property Id :</td>
                                                    <td>LA459C27</td>
                                                    <td>Listing Type :</td>
                                                    <td>For Sale</td>
                                                </tr>
                                                <tr>
                                                    <td>Property Type:</td>
                                                    <td>Appartment</td>
                                                    <td>Current Owner :</td>
                                                    <td>Green Developers LTD</td>
                                                </tr>
                                                <tr>
                                                    <td>Insurance :</td>
                                                    <td>Yes</td>
                                                    <td>Architecture :</td>
                                                    <td>Nova Socity</td>
                                                </tr>
                                                <tr>
                                                    <td>Total Floor :</td>
                                                    <td>10 Story Building</td>
                                                    <td>Year of Built :</td>
                                                    <td>2008 - 2012</td>
                                                </tr>
                                                <tr>
                                                    <td>Furniture Type :</td>
                                                    <td>High Class</td>
                                                    <td>Payment Way :</td>
                                                    <td>Instalment / Cash</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="property-overview border rounded bg-white p-30 mb-30">
                            <div class="row row-cols-1">
                                <div class="col">
                                    <h5 class="mb-3">Property Features</h5>
                                    <ul class="list-three-fold-width list-style-tick">
                                        
                                        {% for amenity in amenities_list %}
                                            <li>{{ amenity }}</li>
                                        {% endfor %}
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="property-overview border rounded bg-white p-30 mb-30">
                            <div class="row row-cols-1">
                                <div class="col">
                                    <h5 class="mb-3">Floor Plans</h5>
                                    <div class="simple-collaps mb-2">
                                        <img src="https://wpmedia.roomsketcher.com/content/uploads/2022/01/06145940/What-is-a-floor-plan-with-dimensions.png" style="height:300px;">
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="property-overview border rounded bg-white overflow-hidden mb-30">
                            <div class="row row-cols-1">
                                <div class="col">
                                    <iframe width="560" height="315" src="{{property.video_url}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen style="width:100%"></iframe>
                                </div>
                            </div>
                        </div>
                      
                        <div class="property-overview border rounded bg-white p-30 mb-30">
                            <div class="row row-cols-1">
                                <div class="col">
                                    <h5 class="mb-4">Still Have Question in Mind, Reach us:</h5>
                                   
                                    <form class="contact_message form-boder" action="#" method="post" novalidate="novalidate">
                                        <div class="row g-3">
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" id="name" name="name" placeholder="Name" type="text">
                                            </div>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" id="email" name="email" placeholder="Email Address" type="text">
                                            </div>
                                            <div class="col-md-12 col-sm-12">
                                                <textarea class="form-control" id="message" rows="5" name="message" placeholder="Message"></textarea>
                                            </div>
                                            <div class="col-md-12 col-sm-6">
                                                <button class="btn btn-primary" id="send" value="send" type="submit">Submit</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--============== Property Details End ==============-->

       {% include 'Frontend/footer.html' %}

        <!--============== Copyright Section Start ==============-->
        <div class="copyright bg-footer text-default py-4">
            <div class="container">
                <div class="row row-cols-md-2 row-cols-1">
                    <div class="col">
                        <span class="text-white">© 2022 Uniland All right reserved</span>
                    </div>
                    <div class="col">
                        <ul class="line-menu float-end list-color-gray">
                            <li><a href="#">Privacy & Policy </a></li>
                            <li>|</li>
                            <li><a href="#">Site Map</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--============== Copyright Section End ==============-->

        <!-- Scroll to top -->
        <div class="scroll-top-vertical xs-mx-none" id="scroll">Go Top <i class="ms-2 fa-solid fa-arrow-right-long"></i></div>
        <!-- End Scroll To top -->

        <!--============== Modal Start ==============-->
        <div class="overlay-dark modal fade quick-view-modal" id="quick-view">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <div class="close view-close">
                        <span aria-hidden="true">&times;</span>
                    </div>
                    <div class="modal-body property-block summary p-3">
                        <div class="row row-cols-xl-2 row-cols-1">
                            <div class="col">
                                <div class="overflow-hidden position-relative transation thumbnail-img bg-secondary hover-img-zoom m-2">
                                    <div class="cata position-absolute">
                                        <span class="sale bg-secondary text-white">For Rent</span>
                                        <span class="featured bg-primary text-white">Featured</span>
                                    </div>
                                    <a href="#"><img class="w-100" src="{% static 'frontpart/assets/images/property/2.png' %}" alt=""></a>
                                    <ul class="position-absolute quick-meta">
                                        <li><a href="#"><i class="flaticon-transfer flat-mini"></i></a></li>
                                        <li><a href="#"><i class="flaticon-like-1 flat-mini"></i></a></li>
                                        <li><a href="#"><i class="flaticon-share flat-mini"></i></a></li>
                                        <li><a href="#"><i class="flaticon-printer flat-mini"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col">
                                <div class="property_text transation py-3 pe-3">
                                    <span class="d-inline-block text-primary">Condos</span>
                                    <h5 class="modal-title mb-1" id="staticBackdropLabel"><a href="#" class="text-secondary hover-text-primary transation">Luxury Condos Infront of the street of Green Park</a></h5>
                                    <span class="mt-1 mb-3 d-block font-fifteen"><i class="fas fa-map-marker-alt text-primary"></i> 2305 Tree Frog Lane Overlandpk, MO 66210</span>
                                    <a href="#" class="d-block text-light hover-text-primary font-small mb-2">( 100 People Recommended )</a>
                                    <div class="d-flex">
                                        <span class="text-secondary font-large">Rs. 5600 - Rs. 8300/<small>mo</small></span>
                                        <span class="text-white font-mini px-2 rounded product-status ms-5 my-1 bg-primary"><i class="fas fa-check"></i> Available</span>
                                    </div>
                                    <div class="product-offers mt-3">
                                        <ul class="product-offers-list">
                                            <li class="product-offer-item"> <strong>Special Price </strong>Get extra 19% off (price inclusive of discount)</li>
                                            <li class="product-offer-item"> <strong>Bank Offer </strong> 10% instant discount on VISA Cards</li>
                                            <li class="product-offer-item"> <strong>No cost EMI Rs. 49/month.</strong> Standard EMI also available</li>
                                        </ul>
                                    </div>
                                    <hr>
                                    <div class="quantity">
                                        <ul class="d-flex">
                                            <li><span>Rooms:</span> 5</li>
                                            <li><span>Beds:</span> 3</li>
                                            <li><span>Bathrooms:</span> 2</li>
                                            <li><span>Garage:</span> 1</li>
                                            <li><span>Area:</span> 1100 Sqft</li>
                                        </ul>
                                    </div>
                                    <h5 class="text-secondary my-3">Description</h5>
                                    <p>Bibendum purus aenean mus aenean eu interdum nonummy ipsum ad consequat. Dui eros donec faucibus convallis tempus rutrum id donec mus hymenaeos placerat congue curae mauris turpis gravida viverra consequat consequat
                                        gravida luctus.</p>
                                    <div class="short-description d-flex">
                                        <span class="me-4"><b>Highlights:</b></span>
                                        <div class="short-description">
                                            <ul class="list-style-tick">
                                                <li>Regular Fit.</li>
                                                <li>Full sleeves.</li>
                                                <li>Machine wash, tumble dry.</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center post-meta mt-2 py-3 border-top">
                                        <div class="agent">
                                            <a href="#" class="d-flex text-general align-items-center"><img class="rounded-circle me-2" src="{% static 'frontpart/assets/images/team/1.jpg' %}" alt="avata"><span>Ali Tufan</span></a>
                                        </div>
                                        <div class="post-date ms-auto"><span>2 Month Ago</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--============== Modal End ==============-->
    </div>

    <!-- Javascript Files -->
    <script src="{% static 'frontpart/assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/greensock.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/layerslider.transitions.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/layerslider.kreaturamedia.jquery.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/popper.min.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/piechart/chart.min.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/jquery.fancybox.min.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/owl.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/range/tmpl.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/range/jquery.dependClass.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/range/draggable.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/range/jquery.slider.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/wow.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/mixitup.min.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/paraxify.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/custom.js' %}"></script>
    <script>
        $('#single-property').layerSlider({
            sliderVersion: '6.5.0b2',
            type: 'popup',
            pauseOnHover: 'disabled',
            skin: 'photogallery',
            globalBGSize: 'cover',
            navStartStop: false,
            hoverBottomNav: true,
            showCircleTimer: false,
            thumbnailNavigation: 'always',
            tnContainerWidth: '100%',
            tnHeight: 70,
            popupShowOnTimeout: 1,
            popupShowOnce: false,
            popupCloseButtonStyle: 'background: rgba(0,0,0,.5); border-radius: 2px; border: 0; left: auto; right: 10px;',
            popupResetOnClose: 'disabled',
            popupDistanceLeft: 20,
            popupDistanceRight: 20,
            popupDistanceTop: 20,
            popupDistanceBottom: 20,
            popupDurationIn: 750,
            popupDelayIn: 500,
            popupTransitionIn: 'scalefromtop',
            popupTransitionOut: 'scaletobottom',
            skinsPath: '{% static "frontpart/assets/skins/" %}',
        });

        // Statistic
        if (document.querySelector('#mychart') !== null) {
            var ctx = document.getElementById("mychart").getContext('2d');

            // Data with datasets options
            var data = {
                type: 'line',
                labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct"],
                datasets: [{
                    label: 'Growth',
                    fill: true,
                    backgroundColor: "#def7e0",
                    borderColor: "#17c788",
                    data: [0, 150, 450, 400, 480, 630, 580, 500, 530, 400, 430, 600, 400],
                }]
            }

            // Chart declaration with some options:
            var mychart = new Chart(ctx, {
                type: 'line',
                data: data,
            });
        }

        //Doughnut and Pie
        if (document.querySelector('#mychart-2') !== null) {
            var ctx2 = document.getElementById("mychart-2").getContext('2d');

            // Data with datasets options
            var data2 = {
                type: 'doughnut',
                labels: ['Desktop', 'Tablet', 'Mobile'],
                datasets: [{
                    data: [10, 20, 30],
                    backgroundColor: ['rgb(255, 99, 132)', 'rgb(54, 162, 235)', 'rgb(255, 205, 86)']
                }],

            };

            // For a pie chart
            var myPieChart = new Chart(ctx2, {
                type: 'pie',
                data: data2,
            });
            // And for a doughnut chart
            var myDoughnutChart = new Chart(ctx2, {
                type: 'doughnut',
                data: data2,
            });
        }
    </script>
</body>

</html>