<!DOCTYPE html>
<html lang="zxx">
	<head>
		{% load static %}
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		
        <title>Realezi.com - Buy your dream property in Vadodara with assured best deals</title>
		<meta name="description" content="Discover your dream home with Realezi.com! Browse a wide range of real estate listings, from cozy apartments to luxurious estates. Our user-friendly platform makes finding the perfect property a breeze. Start your real estate journey today!">
        <!-- Custom CSS -->
        <link href="https://themezhub.net/resido-live/resido/assets/css/styles.css" rel="stylesheet">
		
		<!-- Custom Color Option -->
		<link href="https://themezhub.net/resido-live/resido/assets/css/colors.css" rel="stylesheet">
		
    </head>
	
    <body class="blue-skin" style="background-image: url('https://www.imageshine.in/uploads/gallery/geometric-Blue-Wallpaper-Free-Download.jpg'); background-size: cover;">
        <!-- ============================================================== -->
        <!-- Main wrapper - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <div id="main-wrapper">

            <!-- ============================================================== -->
            <!-- Top header  -->
            <!-- ============================================================== -->
            <!-- Start Navigation -->
			{% include 'header.html' %}
			<!-- End Navigation -->
			<div class="clearfix"></div>
			<!-- ============================================================== -->
			<!-- Top header  -->
			<!-- ============================================================== -->

			<!-- ============================ Page Title Start================================== -->
			
			<style>

				@media screen and (min-width: 880px) {
  				#contact-banner {
    					margin-top:-100px;
  						}
					}
				@media screen and (max-width: 380px) {
  				#contact-banner {
    					margin-top:-200px;
  						}
					}
				label{
					color:white !important;
				}
			</style>
			<!-- ============================ Page Title End ================================== -->
			
			<!-- ============================ Agency List Start ================================== -->
			<div class="featured_slick_gallery gray">
				<div class="featured_slick_gallery-slide">
					<div class="featured_slick_padd"><a href="https://via.placeholder.com/1200x850" class="mfp-gallery"><img src="https://themezhub.net/resido-live/resido/assets/img/p-4.jpg" class="img-fluid mx-auto" alt="" /></a></div>
					<div class="featured_slick_padd"><a href="https://via.placeholder.com/1200x850" class="mfp-gallery"><img src="https://themezhub.net/resido-live/resido/assets/img/p-1.jpg" class="img-fluid mx-auto" alt="" /></a></div>
					<div class="featured_slick_padd"><a href="https://via.placeholder.com/1200x850" class="mfp-gallery"><img src="https://themezhub.net/resido-live/resido/assets/img/p-2.jpg" class="img-fluid mx-auto" alt="" /></a></div>
	
				</div>
				<a href="JavaScript:Void(0);" class="btn-view-pic">View photos</a>
			</div>
			<section class="gray-simple">
				<div class="container">
					<div class="row">
						
						<!-- property main detail -->
						<div class="col-lg-8 col-md-12 col-sm-12">
						
							<div class="property_block_wrap style-2 p-4">
								<div class="prt-detail-title-desc">
									<span class="label text-light bg-success">For Sale</span>
									<h3>4789 Vadodara, Gujarat HAQC445</h3>
									<span><i class="lni-map-marker"></i> Harni, Vadodara</span>
									<h3 class="prt-price-fix text-primary">Rs. 786167<sub></sub></h3>
									<div class="list-fx-features">
										<div class="listing-card-info-icon">
											<div class="inc-fleat-icon me-1"><img src="https://themezhub.net/resido-live/resido/assets/img/p-4.jpg" width="13" alt=""></div>3 Beds
										</div>
										<div class="listing-card-info-icon">
											<div class="inc-fleat-icon me-1"><img src="https://themezhub.net/resido-live/resido/assets/img/p-1.jpg" width="13" alt=""></div>1 Bath
										</div>
										<div class="listing-card-info-icon">
											<div class="inc-fleat-icon me-1"><img src="https://themezhub.net/resido-live/resido/assets/img/p-2.jpg" width="13" alt=""></div>800 sqft
										</div>
									</div>
								</div>
							</div>
							
							<!-- Single Block Wrap -->
							<div class="property_block_wrap style-2">
								
								<div class="property_block_wrap_header">
									<a data-bs-toggle="collapse" data-parent="#features" data-bs-target="#clOne" aria-controls="clOne" href="javascript:void(0);" aria-expanded="false"><h4 class="property_block_title">Detail & Features</h4></a>
								</div>
								<div id="clOne" class="panel-collapse collapse show" aria-labelledby="clOne">
									<div class="block-body">
										<ul class="deatil_features">
											<li><strong>Bedrooms:</strong>3 Beds</li>
											<li><strong>Bathrooms:</strong>2 Bath</li>
											<li><strong>Areas:</strong>4,240 sq ft</li>
											<li><strong>Garage</strong>1</li>
											<li><strong>Property Type:</strong>Apartment</li>
											<li><strong>Year:</strong>Built1982</li>
											<li><strong>Status:</strong>Active</li>
											<li><strong>Cooling:</strong>Central A/C</li>
											<li><strong>Heating Type:</strong>Forced Air</li>
											<li><strong>Kitchen Features:</strong>Kitchen Facilities</li>
											<li><strong>Exterior:</strong>FinishBrick</li>
											<li><strong>Swimming Pool:</strong>Yes</li>
											<li><strong>Elevetor:</strong>Yes</li>
											<li><strong>Fireplace:</strong>Yes</li>
											<li><strong>Free WiFi:</strong>No</li>
											
										</ul>
									</div>
								</div>
								
							</div>
							
							<!-- Single Block Wrap -->
							<div class="property_block_wrap style-2">
								
								<div class="property_block_wrap_header">
									<a data-bs-toggle="collapse" data-parent="#dsrp" data-bs-target="#clTwo" aria-controls="clTwo" href="javascript:void(0);" aria-expanded="true"><h4 class="property_block_title">Description</h4></a>
								</div>
								<div id="clTwo" class="panel-collapse collapse show">
									<div class="block-body">
										<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
										<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
									</div>
								</div>
							</div>
							
							<!-- Single Block Wrap -->
							<div class="property_block_wrap style-2">
								
								<div class="property_block_wrap_header">
									<a data-bs-toggle="collapse" data-parent="#amen"  data-bs-target="#clThree" aria-controls="clThree" href="javascript:void(0);" aria-expanded="true"><h4 class="property_block_title">Ameneties</h4></a>
								</div>
								
								<div id="clThree" class="panel-collapse collapse show">
									<div class="block-body">
										<ul class="avl-features third color">
											<li>Air Conditioning</li>
											<li>Swimming Pool</li>
											<li>Central Heating</li>
											<li>Laundry Room</li>
											<li>Gym</li>
											<li>Alarm</li>
											<li>Window Covering</li>
											<li>Internet</li>
											<li>Pets Allow</li>
											<li>Free WiFi</li>
											<li>Car Parking</li>
											<li>Spa & Massage</li>
										</ul>
									</div>
								</div>
							</div>
							
							<!-- Single Block Wrap -->
							<div class="property_block_wrap style-2">
								
								<div class="property_block_wrap_header">
									<a data-bs-toggle="collapse" data-parent="#vid"  data-bs-target="#clFour" aria-controls="clFour" href="javascript:void(0);" aria-expanded="true" class="collapsed"><h4 class="property_block_title">Property video</h4></a>
								</div>
								
								<div id="clFour" class="panel-collapse collapse">
									<div class="block-body">
										<div class="property_video">
											<div class="thumb">
												<img class="pro_img img-fluid w100" src="https://via.placeholder.com/900x700" alt="7.jpg">
												<div class="overlay_icon">
													<div class="bb-video-box">
														<div class="bb-video-box-inner">
															<div class="bb-video-box-innerup">
																<a href="https://www.youtube.com/watch?v=A8EI6JaFbv4" data-bs-toggle="modal" data-bs-target="#popup-video" class="text-primary"><i class="fa-solid fa-play"></i></a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								
							</div>
							
							<!-- Single Block Wrap -->
							<div class="property_block_wrap style-2">
								
								<div class="property_block_wrap_header">
									<a data-bs-toggle="collapse" data-parent="#floor"  data-bs-target="#clFive" aria-controls="clFive" href="javascript:void(0);" aria-expanded="true" class="collapsed"><h4 class="property_block_title">Floor Plan</h4></a>
								</div>
								
								<div id="clFive" class="panel-collapse collapse">
									<div class="block-body">
										<div class="accordion" id="floor-option">
											<div class="card">
												<div class="card-header" id="firstFloor">
													<h2 class="mb-0">
														<button type="button" class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#firstfloor" aria-controls="firstfloor">First Floor<span>740 sq ft</span></button>									
													</h2>
												</div>
												<div id="firstfloor" class="collapse" aria-labelledby="firstFloor" data-parent="#floor-option">
													<div class="card-body">
														<img src="assets/img/floor.jpg" class="img-fluid" alt="" />
													</div>
												</div>
											</div>
											<div class="card">
												<div class="card-header" id="seconfFloor">
													<h2 class="mb-0">
														<button type="button" class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#secondfloor" aria-controls="secondfloor">Second Floor<span>710 sq ft</span></button>
													</h2>
												</div>
												<div id="secondfloor" class="collapse" aria-labelledby="seconfFloor" data-parent="#floor-option">
													<div class="card-body">
														<img src="assets/img/floor.jpg" class="img-fluid" alt="" />
													</div>
												</div>
											</div>
											<div class="card">
												<div class="card-header" id="third-garage">
													<h2 class="mb-0">
														<button type="button" class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#garages" aria-controls="garages">Garage<span>520 sq ft</span></button>                     
													</h2>
												</div>
												<div id="garages" class="collapse" aria-labelledby="third-garage" data-parent="#floor-option">
													<div class="card-body">
														<img src="assets/img/floor.jpg" class="img-fluid" alt="" />
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								
							</div>
							
							<!-- Single Block Wrap -->
							<div class="property_block_wrap style-2">
								
								<div class="property_block_wrap_header">
									<a data-bs-toggle="collapse" data-parent="#loca"  data-bs-target="#clSix" aria-controls="clSix" href="javascript:void(0);" aria-expanded="true" class="collapsed"><h4 class="property_block_title">Location</h4></a>
								</div>
								
								<div id="clSix" class="panel-collapse collapse">
									<div class="block-body">
										<div class="map-container">
											<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3560.3838103135677!2d80.87929001488125!3d26.827742183164247!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399bfe8bc34b51bb%3A0xa3ca86eec63f6f8!2sINFOSYS%20DIGITAL%20COMPUTER%20(Prabhat%20Computer%20Classes)!5e0!3m2!1sen!2sin!4v1680238790732!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
										</div>

									</div>
								</div>
								
							</div>
							
							<!-- Single Block Wrap -->
							<div class="property_block_wrap style-2">
								
								<div class="property_block_wrap_header">
									<a data-bs-toggle="collapse" data-parent="#clSev"  data-bs-target="#clSev" aria-controls="clOne" href="javascript:void(0);" aria-expanded="true" class="collapsed"><h4 class="property_block_title">Gallery</h4></a>
								</div>
								
								<div id="clSev" class="panel-collapse collapse">
									<div class="block-body">
										<ul class="list-gallery-inline">
											<li>
												<a href="https://via.placeholder.com/1200x850" class="mfp-gallery"><img src="https://via.placeholder.com/1200x850" class="img-fluid mx-auto" alt="" /></a>
											</li>
											<li>
												<a href="https://via.placeholder.com/1200x850" class="mfp-gallery"><img src="https://via.placeholder.com/1200x850" class="img-fluid mx-auto" alt="" /></a>
											</li>
											<li>
												<a href="https://via.placeholder.com/1200x850" class="mfp-gallery"><img src="https://via.placeholder.com/1200x850" class="img-fluid mx-auto" alt="" /></a>
											</li>
											<li>
												<a href="https://via.placeholder.com/1200x850" class="mfp-gallery"><img src="https://via.placeholder.com/1200x850" class="img-fluid mx-auto" alt="" /></a>
											</li>
											<li>
												<a href="https://via.placeholder.com/1200x850" class="mfp-gallery"><img src="https://via.placeholder.com/1200x850" class="img-fluid mx-auto" alt="" /></a>
											</li>
											<li>
												<a href="https://via.placeholder.com/1200x850" class="mfp-gallery"><img src="https://via.placeholder.com/1200x850" class="img-fluid mx-auto" alt="" /></a>
											</li>
										</ul>
									</div>
								</div>
								
							</div>
							
							<!-- All over Review -->
							
							<!-- All over Review -->
							
							<!-- Single Reviews Block -->
							
							
							
							<!-- Single Write a Review -->
							<div class="property_block_wrap style-2">
								
								<div class="property_block_wrap_header">
									<a data-bs-toggle="collapse" data-parent="#comment" data-bs-target="#clTen" aria-controls="clTen" href="javascript:void(0);" aria-expanded="true"><h4 class="property_block_title">Write a Review</h4></a>
								</div>
								
								<div id="clTen" class="panel-collapse collapse show">
									<div class="block-body">
										<form class="form-submit">
											<div class="row">
												
												<div class="col-lg-12 col-md-12 col-sm-12">
													<div class="form-group">
														<textarea class="form-control ht-80" placeholder="Messages"></textarea>
													</div>
												</div>
												
												<div class="col-lg-12 col-md-12 col-sm-12">
													<div class="form-group">
														<select id="ratting" class="form-control border">
															<option value="">&nbsp;</option>
															<option value="1">01 Star</option>
															<option value="2">02 Star</option>
															<option value="3">03 Star</option>
															<option value="4">04 Star</option>
															<option value="5">05 Star</option>
														</select>
													</div>
												</div>
												
												<div class="col-lg-6 col-md-6 col-sm-12">
													<div class="form-group">
														<input type="text" class="form-control" placeholder="Your Name">
													</div>
												</div>
												
												<div class="col-lg-6 col-md-6 col-sm-12">
													<div class="form-group">
														<input type="email" class="form-control" placeholder="Your Email">
													</div>
												</div>
												
												<div class="col-lg-12 col-md-12 col-sm-12">
													<div class="form-group">
														<button class="btn btn-primary fw-medium px-lg-5 rounded" type="submit">Submit Review</button>
													</div>
												</div>
												
											</div>
										</form>
									</div>
								</div>
								
							</div>
							
						</div>
						
						<!-- property Sidebar -->
						<div class="col-lg-4 col-md-12 col-sm-12">
							
							<!-- Like And Share -->
							<div class="like_share_wrap b-0">
								<ul class="like_share_list">
									<li><a href="JavaScript:Void(0);" class="btn btn-likes" data-toggle="tooltip" data-original-title="Share"><i class="fas fa-share"></i>Share</a></li>
									<li><a href="JavaScript:Void(0);" class="btn btn-likes" data-toggle="tooltip" data-original-title="Save"><i class="fas fa-heart"></i>Save</a></li>
								</ul>
							</div>
							
							<div class="details-sidebar">
							
								<!-- Agent Detail -->
								<div class="sides-widget">
									<div class="sides-widget-header bg-primary">
										<div class="agent-photo"><img src="https://themezhub.net/resido-live/resido/assets/img/user-6.jpg" alt=""></div>
										<div class="sides-widget-details">
											<h4><a href="#">Consult Realezi</a></h4>
											<span><i class="lni-phone-handset"></i>(91) 123 456 7895</span>
										</div>
										<div class="clearfix"></div>
									</div>
									
									<div class="sides-widget-body simple-form">
										<div class="form-group">
											<label>Email</label>
											<input type="text" class="form-control" placeholder="Your Email">
										</div>
										<div class="form-group">
											<label>Phone No.</label>
											<input type="text" class="form-control" placeholder="Your Phone">
										</div>
										<div class="form-group">
											<label>Description</label>
											<textarea class="form-control">I'm interested in this property.</textarea>
										</div>
										<button class="btn btn-light-primary" style="background-color: orange;color:white;">Book Appointment</button>
									</div>
								</div>
								
								
								<div class="sidebar-widgets">
									
									<h4>Featured Property</h4>
									
									<div class="sidebar_featured_property">
										
										<!-- List Sibar Property -->
										<div class="sides_list_property">
											<div class="sides_list_property_thumb">
												<img src="https://via.placeholder.com/1200x850" class="img-fluid" alt="">
											</div>
											<div class="sides_list_property_detail">
												<h4><a href="single-property-1.html">Loss vengel New Apartment</a></h4>
												<span><i class="fa-solid fa-location-dot"></i>Sans Fransico</span>
												<div class="lists_property_price">
													<div class="lists_property_types">
														<div class="property_types_vlix sale">For Sale</div>
													</div>
													<div class="lists_property_price_value">
														<h4>$4,240</h4>
													</div>
												</div>
											</div>
										</div>
										
										<!-- List Sibar Property -->
										<div class="sides_list_property">
											<div class="sides_list_property_thumb">
												<img src="https://via.placeholder.com/1200x850" class="img-fluid" alt="">
											</div>
											<div class="sides_list_property_detail">
												<h4><a href="single-property-1.html">Montreal Quriqe Apartment</a></h4>
												<span><i class="fa-solid fa-location-dot"></i>Liverpool, London</span>
												<div class="lists_property_price">
													<div class="lists_property_types">
														<div class="property_types_vlix">For Rent</div>
													</div>
													<div class="lists_property_price_value">
														<h4>$7,380</h4>
													</div>
												</div>
											</div>
										</div>
										
										<!-- List Sibar Property -->
										<div class="sides_list_property">
											<div class="sides_list_property_thumb">
												<img src="https://via.placeholder.com/1200x850" class="img-fluid" alt="">
											</div>
											<div class="sides_list_property_detail">
												<h4><a href="single-property-1.html">Curmic Studio For Office</a></h4>
												<span><i class="fa-solid fa-location-dot"></i>Montreal, Canada</span>
												<div class="lists_property_price">
													<div class="lists_property_types">
														<div class="property_types_vlix buy">For Buy</div>
													</div>
													<div class="lists_property_price_value">
														<h4>$8,730</h4>
													</div>
												</div>
											</div>
										</div>
										
										<!-- List Sibar Property -->
										<div class="sides_list_property">
											<div class="sides_list_property_thumb">
												<img src="https://via.placeholder.com/1200x850" class="img-fluid" alt="">
											</div>
											<div class="sides_list_property_detail">
												<h4><a href="single-property-1.html">Montreal Quebec City</a></h4>
												<span><i class="fa-solid fa-location-dot"></i>Sreek View, New York</span>
												<div class="lists_property_price">
													<div class="lists_property_types">
														<div class="property_types_vlix">For Rent</div>
													</div>
													<div class="lists_property_price_value">
														<h4>$6,240</h4>
													</div>
												</div>
											</div>
										</div>
										
									</div>
									
								</div>
							
							</div>
						</div>
						
					</div>
				</div>
			</section>
			<style>
                .video-cover {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                }

                .video-cover video {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
				
            </style>
			
			<!-- ============================ Agency List End ================================== -->

			<!-- ============================ Footer Start ================================== -->
			{% include 'footer-contactus.html' %}
			<!-- ============================ Footer End ================================== -->
		</div>
	</body>
</html>