<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Profile Registered Successfully</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            line-height: 1.6;
            color: #333;
        }
        .container {
            max-width: 600px;
            margin: 20px auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #f8f8f8;
        }
        h1 {
            color: #007BFF;
        }
        p {
            margin-bottom: 15px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Welcome to Realezi!</h1>
        <p>Please Enter OTP-{{otp}}</p>
        
        <p>Discover your dream home with us. dWhether you're buying, selling, or renting, we're here to assist you every step of the way.</p>
        <p>Explore our listings, find the perfect property, and turn your real estate dreams into reality.</p>
        <p>Thank you for choosing Realezi - where your home search begins!</p>
        <p>Best Regards,</p>
        <p>Realezi</p>
        <p>9033975413</p>
    </div>
</body>
</html>
