/* From Uiverse.io by asgardOP */ 
  .loader {
    width: fit-content;
    height: fit-content;
    background-color: rgb(58, 58, 58);
    border-radius: 7px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    transition: 0.2s;
  }
  
  .loader:hover {
    background-color: rgb(26, 26, 26);
  }
  
  .loader:hover svg {
    color: white;
  }
  
  .loader svg {
    color: rgba(255, 255, 255, 0.651);
    transform: scale(1.2);
    transition: 0.2s;
  }
  
  .point {
    position: absolute;
    bottom: 5px;
    left: 5px;
    width: 6px;
    height: 6px;
    background-color: rgb(0, 255, 0);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .point::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 1px;
    background-color: rgb(0, 255, 0);
    border-radius: 25px;
    animation: loop 1s 0s infinite;
  }
  
  @keyframes loop {
    0% {
      background-color: rgb(0, 255, 0);
      width: 1px;
      height: 1px;
    }
    100% {
      background-color: rgba(0, 255, 0, 0);
      width: 30px;
      height: 30px;
    }
  }
  