<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>

    <!-- Bootstrap CSS from jsDelivr -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://unpkg.com/@rive-app/canvas@latest"></script>

    <!-- external css link -->
    <link rel="stylesheet" href="{% static 'front-end/ApplicationForm/index.css' %}">
    <style>
        .navbar a {
            text-decoration: none !important;
            color: white;
        }
    </style>
</head>

<body>

    <!-- header section -->
    <header class="position-relative">
        <div class="container d-lg-block d-none">
            <a href="https://www.realezi.com"><button class="logo-btn rounded-pill mt-4 py-1 px-2">
                <img src="{% static 'front-end/ApplicationForm/assets/header-logo.png' %}" alt="logo" width="150">
            </button></a>
        </div>
        {% include 'Frontend/header-new-1.html' %}
    </header>

    <main class="bg-white">
        <section class="py-5">
            <div class="mt-5">
                <div class="primary-text-color title-text text-center">Lead Design- GRAPHIC DESIGN</div>
                <div class="secondary-text-color mt-2 sub-title-text text-center">MARKETING / REMOTE- PERMANENT</div>
            </div>
        </section>

        <!-- forms section -->
        <section class="pb-5">
            <form>
                <div class="paragraph-title text-center">SUBMIT YOUR APPLICATION</div>

                <div class="form-group row mt-3 mt-md-5 mt-lg-5 justify-content-center">
                    <label for="fullname" class="col-lg-2 col-md-2 col-12 col-form-label">Full Name</label>
                    <div class="col-lg-8 col-md-10 col-12">
                        <input type="text" class="form-control py-2" id="fullname" placeholder="">
                    </div>
                </div>

                <div class="form-group row mt-lg-5 mt-md-5 mt-4 justify-content-center">
                    <label for="Pronouns" class="col-lg-2 col-md-2 col-12 col-form-label">Pronouns</label>
                    <div class="col-lg-8 col-md-10 col-12">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                            <label class="form-check-label" for="inlineCheckbox1">He/Him</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                            <label class="form-check-label" for="inlineCheckbox2">She/Her</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                            <label class="form-check-label" for="inlineCheckbox3">They/Them</label>
                        </div>
                        <div class="mt-3 pronouns-text">Let the employer know what pronouns you use so that they can
                            address you correctly.</div>
                    </div>
                </div>

                <div class="form-group row mt-lg-5 mt-md-5 mt-4 justify-content-center">
                    <label for="email" class="col-lg-2 col-md-2 col-12 col-form-label">Email ID</label>
                    <div class="col-lg-8 col-md-10 col-12">
                        <input type="email" class="form-control py-2" id="email" placeholder="">
                    </div>
                </div>

                <div class="form-group row mt-lg-5 mt-md-5 mt-4 justify-content-center">
                    <label for="resume" class="col-lg-2 col-md-2 col-12 col-form-label">Your Resume</label>
                    <div class="col-lg-8 col-md-10 col-12 d-flex flex-wrap align-items-center">
                        <input type="file" id="resume" name="resume" class="custom-file-input">
                        <label for="resume" class="custom-file-label me-3">Choose File</label>
                        <div class="form-text mt-3 mt-md-0">Upload Your Resume</div>
                    </div>
                </div>


                <div class="form-group row mt-lg-5 mt-md-5 mt-4 justify-content-center">
                    <label for="phonenumber" class="col-lg-2 col-md-2 col-12 col-form-label">Phone Number</label>
                    <div class="col-lg-8 col-md-10 col-12">
                        <input type="text" class="form-control py-2" id="phonenumber" placeholder="">
                    </div>
                </div>

                <div class="form-group row mt-lg-5 mt-md-5 mt-4 justify-content-center">
                    <label for="currentlocation" class="col-lg-2 col-md-2 col-12 col-form-label">Current
                        Location</label>
                    <div class="col-lg-8 col-md-10 col-12">
                        <input type="text" class="form-control py-2" id="currentlocation" placeholder="">
                    </div>
                </div>

                <div class="form-group row mt-lg-5 mt-md-5 mt-4 justify-content-center">
                    <label for="currentcompany" class="col-lg-2 col-md-2 col-12 col-form-label">Current Company</label>
                    <div class="col-lg-8 col-md-10 col-12">
                        <input type="text" class="form-control py-2" id="currentcompany" placeholder="">
                    </div>
                </div>

                <div class="mt-5 paragraph-title text-center">LINKS</div>

                <div class="form-group row mt-3 mt-md-5 mt-lg-5 justify-content-center">
                    <label for="LinkedInURL" class="col-lg-2 col-md-2 col-12 col-form-label">LinkedIn URL</label>
                    <div class="col-lg-8 col-md-10 col-12">
                        <input type="text" class="form-control py-2" id="LinkedInURL" placeholder="">
                    </div>
                </div>

                <div class="form-group row mt-lg-5 mt-md-5 mt-4 justify-content-center">
                    <label for="TwitterURL" class="col-lg-2 col-md-2 col-12 col-form-label">Twitter URL</label>
                    <div class="col-lg-8 col-md-10 col-12">
                        <input type="text" class="form-control py-2" id="TwitterURL" placeholder="">
                    </div>
                </div>

                <div class="form-group row mt-lg-5 mt-md-5 mt-4 justify-content-center">
                    <label for="PortfolioURL" class="col-lg-2 col-md-2 col-12 col-form-label">Portfolio URL</label>
                    <div class="col-lg-8 col-md-10 col-12">
                        <input type="text" class="form-control py-2" id="PortfolioURL" placeholder="">
                    </div>
                </div>

                <div class="form-group row mt-lg-5 mt-md-5 mt-4 justify-content-center">
                    <label for="OtherWebsiteURL" class="col-lg-2 col-md-2 col-12 col-form-label">Other Website
                        URL</label>
                    <div class="col-lg-8 col-md-10 col-12">
                        <input type="text" class="form-control py-2" id="OtherWebsiteURL" placeholder="">
                    </div>
                </div>

                <hr class="mt-5">

                <div class="form-check mt-5">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label privacy-policy-text" for="exampleCheck1">Yes, Realezi can contact
                        me about future job opportunities for up to 2 years. <a href="#" style="color: #434343;">Privacy
                            policy</a></label>
                </div>

                <div class="mt-5 text-center">
                    <button class="apply-job-btn mt-5">Submit Application</button>
                </div>
            </form>
        </section>
    </main>

    <!-- Footer -->
    {% include 'Frontend/footer-page-new.html' %}
    <!-- Footer Ends -->

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/rive-canvas@latest/rive.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.1/gsap.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.1/ScrollTrigger.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script> -->
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="{% static 'front-end/ApplicationForm/riv.js' %}"></script>
    <script src="{% static 'front-end/ApplicationForm/navbar.js' %}"></script>
    <script src="{% static 'front-end/ApplicationForm/index.js' %}"></script>
    <script defer src="{% static 'front-end/ApplicationForm/footer.js' %}"></script>
</body>

</html>