<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Architecture</title>

    <!-- Bootstrap CSS from jsDelivr -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome CSS (for icons) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://unpkg.com/@rive-app/canvas@latest"></script>

    <!-- external css link -->
    <link rel="stylesheet" href="{% static 'front-end/Architecture/index.css' %}">
    <style>
        .footer a {
            text-decoration: none !important;
            color: white;
        }
    </style>
</head>

<body>
    <!-- header section -->
    <header class="position-relative">
        {% include 'Frontend/header-new-1.html' %}

        <!-- hero section -->
        <section class="">
            <div class="position-relative w-100 desktop-header-section">
                <video autoplay muted loop>
                    <source src="{% static 'front-end/Architecture/assets/hero-section.mp4' %}" type="video/mp4">
                </video>
                <div class="desktop-header-content text-white">
                    <div class="container">
                        <div class="col-md-8">
                            <a href="https://www.realezi.com"><img src="{% static 'front-end/Architecture/assets/logo.png' %}" alt="logo" class="d-none d-lg-block d-md-block mb-3"
                                width="150px"></a>
                            <div class="text-white fw-bold hero-title d-none d-lg-block d-md-block">Designing the
                                Future,</div>
                            <div class="text-white fw-bold hero-title d-none d-lg-block d-md-block">Today</div>
                            <div class="d-lg-none d-md-none text-white fw-bold hero-title">Designing the Future, Today
                            </div>
                            <div class="text-white hero-sub-title mt-2">Discover cutting-edge architectural solutions
                                that
                                shape
                                tomorrow's landscapes.</div>
                            <button class="fs-5 mt-5 rounded-pill get-started-btn open-form-1" data-bs-toggle="modal"
                                data-bs-target="#expertModal">Get Started</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </header>

    <main class="bg-white">

        <!-- Modal Form -->
        <div class="brochure-modal-container modal-container form-1">
            <img src="{% static 'front-end/Architecture/assets/cross.png' %}" width="15px" class="close-icon" />
            <div class="brochure-modal modals">
                <h4>Please share your details</h4>
                <form>
                    <div class="input-group">
                        <input type="text" name="name" autocomplete="off" class="input" required />
                        <label class="user-label">Name</label>
                    </div>
                    <div class="phone-number-container d-flex align-items-center justify-content-start">
                        <select name="country-code" id="country-code">
                            <option value="+91" selected>+91</option>
                            <option value="+1">+1</option>
                            <option value="+44">+44</option>
                            <option value="+81">+81</option>
                            <option value="+7">+7</option>
                        </select>
                        <div class="input-group">
                            <input type="text" oninput="this.value = this.value.replace(/[^0-9]/g, '');"
                                id="phone-number" name="phone-number" autocomplete="off" class="input" maxlength="10"
                                required />
                            <label class="user-label">Enter mobile number</label>
                        </div>
                        <button id="send-otp-btn" class="otp-btn">Send OTP</button>
                    </div>
                    <p class="otp-sent" id="otp-sent-message">
                        We have sent the OTP to .
                    </p>
                    <div class="otp-container justify-content-start align-items-start">
                        <div class="input-group">
                            <input type="number" name="otp" autocomplete="off" class="input" required />
                            <label class="user-label">OTP</label>
                            <p class="otp-verification">Verified</p>
                        </div>
                        <p>Did not receive OTP ?<br />Request OTP on call.</p>
                    </div>
                    <div class="input-group">
                        <input type="email" name="email" autocomplete="off" class="input" required />
                        <label class="user-label">Email ID</label>
                    </div>
                    <div class="input-group">
                        <input type="text" name="location" autocomplete="off" class="input" required />
                        <label class="user-label">Location</label>
                    </div>
                    <div class="no-transform d-flex align-items-center justify-content-start">
                        <input type="checkbox" id="checkboxId" name="checkboxName" required />
                        <label>By submitting this form, I agree to accept and agree to
                            Realezi’s T&C</label>
                    </div>
                    <button type="submit" class="submit-btn" disabled>Submit</button>
                </form>
            </div>
            <div class="confirmation-popup-modal">
                <video src="./videos/realezi-loading-arrow.mp4' %}" class="Realezi-arrow-loader">
                    Your browser does not support the video tag.
                </video>
                <h4>Great!</h4>
                <p>Our Dedicated Relationship Manager will contact you shortly</p>
            </div>
        </div>


        <section class="py-5 container">
            <div class="row align-items-center justify-content-center px-0">
                <div class="col-lg-4 col-12 fw-bold Architectural-title text-start">
                    <span class="d-lg-block d-md-block d-none">Architectural</span>
                    <div class="d-lg-block d-md-block d-none">Innovation</div>
                    <div class="d-lg-none d-md-none">Architectural Innovation</div>
                </div>
                <div class="col-lg-4 col-12 sub-title secondary-text-color mt-3 mt-md-0 mt-lg-0">
                    Experience architectural innovation that pushes boundaries and sets new trends. Designing spaces
                    that inspire and endure
                </div>
            </div>
        </section>

        <!-- insipire section -->
        <section class="py-5 container">
            <div class="primary-text-color Inspire-text d-none d-lg-block d-md-block" style="font-weight: 500;">
                From homes to high-rises and everything in between,
                <div>we design spaces that <span class="fw-bold">Inspire,</span> function, and elevate.</div>
            </div>
            <div class="primary-text-color Inspire-text d-lg-none d-md-none" style="font-weight: 500;">
                From homes to high-rises and everything in between,we design spaces that <span
                    class="fw-bold">Inspire,</span> function, and elevate.
            </div>
            <div class="row align-items-stretch">
                <div class="col-lg-6 col-12 mt-5">
                    <div class="card flex-column border-0 benefits-card">
                        <div class="card-body px-5">
                            <div class="d-flex align-items-center">
                                <img src="{% static 'front-end/Architecture/assets/Inspire/Inspire-card-img-1.png' %}" alt="Inspire-image"
                                    class="Inspire-image">
                                <div
                                    class="card-title text-start secondary-text-color fw-semibold ms-3 mt-2 inspire-card-title">
                                    Sustainable & Green Design
                                </div>
                            </div>
                            <p class="card-text text-start secondary-text-color fs-6 mt-4">Shape the cities of tomorrow
                                with our visionary urban planning solutions, blending sustainability and community
                                needs.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12 mt-5">
                    <div class="card flex-column border-0 benefits-card">
                        <div class="card-body px-5">
                            <div class="d-flex align-items-center">
                                <img src="{% static 'front-end/Architecture/assets/Inspire/Inspire-card-img-2.png' %}" alt="Inspire-image"
                                    class="Inspire-image">
                                <div
                                    class="card-title text-start secondary-text-color fw-semibold ms-3 mt-3 inspire-card-title">
                                    Urban Planning
                                </div>
                            </div>
                            <p class="card-text text-start secondary-text-color fs-6 mt-4">Designing urban environments
                                that prioritize community, sustainability, and functionality.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12 mt-5">
                    <div class="card flex-column border-0 benefits-card">
                        <div class="card-body px-5">
                            <div class="d-flex align-items-center">
                                <img src="{% static 'front-end/Architecture/assets/Inspire/Inspire-card-img-3.png' %}" alt="Inspire-image"
                                    class="Inspire-image">
                                <div
                                    class="card-title text-start secondary-text-color fw-semibold ms-3 mt-2 inspire-card-title">
                                    Project Management
                                </div>
                            </div>
                            <p class="card-text text-start secondary-text-color fs-6 mt-4">Streamlined project oversight
                                and meticulous attention to detail, delivering excellence in every phase of
                                construction.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12 mt-5">
                    <div class="card flex-column border-0 benefits-card">
                        <div class="card-body px-5">
                            <div class="d-flex align-items-center">
                                <img src="{% static 'front-end/Architecture/assets/Inspire/Inspire-card-img-4.png' %}" alt="Inspire-image"
                                    class="Inspire-image">
                                <div
                                    class="card-title text-start secondary-text-color fw-semibold ms-3 mt-1 inspire-card-title">
                                    Feasibility Studies & Site Analysis
                                </div>
                            </div>
                            <p class="card-text text-start secondary-text-color fs-6 mt-4">Empowering informed decisions
                                with comprehensive feasibility studies and meticulous site analysis.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- shot-section start -->
        <div class="section-three mt-5">
            <div class="video-slider position-relative">
                <button class="nav-btn prev-btn"><img src="{% static 'front-end/Architecture/assets/right-arrow-white.png' %}" width="18px"></button>
                <div class="video-container d-flex justify-content-start">
                    <div class="video">
                        <div class="instagram-video"
                            style="position: relative; width: 200px; height: 350px; overflow: hidden;border-radius: 15px">
                            <iframe src="https://www.instagram.com/reel/C-iC6iLtniX/embed" width="300" height="430"
                                frameborder="0" scrolling="no" allowtransparency="true"
                                style="position: absolute; top: -70px; left: 52%;transform: translateX(-50%); "></iframe>
                        </div>

                        <div class="d-flex align-items-center justify-content-between my-2">
                            <p>Semi furnished 1 BHK in block 2, Garden Villas</p>
                            <!-- <img src="./images/more.png' %}" alt="Three vertical dot menu icon" width="24px"> -->
                        </div>
                    </div>
                    <div class="video">
                        <div class="instagram-video"
                            style="position: relative; width: 200px; height: 350px; overflow: hidden;border-radius: 15px">
                            <iframe src="https://www.instagram.com/reel/C0vJn2bIifD/embed" width="300" height="430"
                                frameborder="0" scrolling="no" allowtransparency="true"
                                style="position: absolute; top: -70px; left: 52%;transform: translateX(-50%); "></iframe>
                        </div>

                        <div class="d-flex align-items-center justify-content-between my-2">
                            <p>Semi furnished 1 BHK in block 2, Garden Villas</p>
                            <!-- <img src="./images/more.png' %}" alt="Three vertical dot menu icon" width="24px"> -->
                        </div>
                    </div>
                    <div class="video">
                        <div class="instagram-video"
                            style="position: relative; width: 200px; height: 350px; overflow: hidden;border-radius: 15px">
                            <iframe src="https://www.instagram.com/reel/C7MVWCmtPpN/embed" width="300" height="430"
                                frameborder="0" scrolling="no" allowtransparency="true"
                                style="position: absolute; top: -70px; left: 52%;transform: translateX(-50%); "></iframe>
                        </div>

                        <div class="d-flex align-items-center justify-content-between my-2">
                            <p>Semi furnished 1 BHK in block 2, Garden Villas</p>
                            <!-- <img src="./images/more.png' %}" alt="Three vertical dot menu icon" width="24px"> -->
                        </div>
                    </div>
                    <div class="video">
                        <div class="instagram-video"
                            style="position: relative; width: 200px; height: 350px; overflow: hidden;border-radius: 15px">
                            <iframe src="https://www.instagram.com/reel/C87CirjNaru/embed" width="300" height="430"
                                frameborder="0" scrolling="no" allowtransparency="true"
                                style="position: absolute; top: -70px; left: 52%;transform: translateX(-50%); "></iframe>
                        </div>

                        <div class="d-flex align-items-center justify-content-between my-2">
                            <p>Semi furnished 1 BHK in block 2, Garden Villas</p>
                            <!-- <img src="./images/more.png' %}" alt="Three vertical dot menu icon" width="24px"> -->
                        </div>
                    </div>
                    <div class="video">
                        <div class="instagram-video"
                            style="position: relative; width: 200px; height: 350px; overflow: hidden;border-radius: 15px">
                            <iframe src="https://www.instagram.com/reel/C4nxoM9NYs1/embed" width="300" height="430"
                                frameborder="0" scrolling="no" allowtransparency="true"
                                style="position: absolute; top: -70px; left: 52%;transform: translateX(-50%); "></iframe>
                        </div>

                        <div class="d-flex align-items-center justify-content-between my-2">
                            <p>Semi furnished 1 BHK in block 2, Garden Villas</p>
                            <!-- <img src="./images/more.png' %}" alt="Three vertical dot menu icon" width="24px"> -->
                        </div>
                    </div>
                    <div class="video">
                        <div class="instagram-video"
                            style="position: relative; width: 200px; height: 350px; overflow: hidden;border-radius: 15px">
                            <iframe src="https://www.instagram.com/reel/C53Zv--LLAa/embed" width="300" height="430"
                                frameborder="0" scrolling="no" allowtransparency="true"
                                style="position: absolute; top: -70px; left: 52%;transform: translateX(-50%); "></iframe>
                        </div>


                        <div class="d-flex align-items-center justify-content-between my-2">
                            <p>Semi furnished 1 BHK in block 2, Garden Villas</p>
                            <!-- <img src="./images/more.png' %}" alt="Three vertical dot menu icon" width="24px"> -->
                        </div>
                    </div>
                    <div class="video">
                        <div class="instagram-video"
                            style="position: relative; width: 200px; height: 350px; overflow: hidden;border-radius: 15px">
                            <iframe src="https://www.instagram.com/reel/C0vJn2bIifD/embed" width="300" height="430"
                                frameborder="0" scrolling="no" allowtransparency="true"
                                style="position: absolute; top: -70px; left: 52%;transform: translateX(-50%); "></iframe>
                        </div>

                        <div class="d-flex align-items-center justify-content-between my-2">
                            <p>Semi furnished 1 BHK in block 2, Garden Villas</p>
                            <!-- <img src="./images/more.png' %}" alt="Three vertical dot menu icon" width="24px"> -->
                        </div>
                    </div>
                    <div class="video">
                        <div class="instagram-video"
                            style="position: relative; width: 200px; height: 350px; overflow: hidden;border-radius: 15px">
                            <iframe src="https://www.instagram.com/reel/C-iC6iLtniX/embed" width="300" height="430"
                                frameborder="0" scrolling="no" allowtransparency="true"
                                style="position: absolute; top: -70px; left: 52%;transform: translateX(-50%); "></iframe>
                        </div>

                        <div class="d-flex align-items-center justify-content-between my-2">
                            <p>Semi furnished 1 BHK in block 2, Garden Villas</p>
                            <!-- <img src="./images/more.png' %}" alt="Three vertical dot menu icon" width="24px"> -->
                        </div>
                    </div>
                    <div class="video">
                        <div class="instagram-video"
                            style="position: relative; width: 200px; height: 350px; overflow: hidden;border-radius: 15px">
                            <iframe src="https://www.instagram.com/reel/C0vJn2bIifD/embed" width="300" height="430"
                                frameborder="0" scrolling="no" allowtransparency="true"
                                style="position: absolute; top: -70px; left: 52%;transform: translateX(-50%); "></iframe>
                        </div>

                        <div class="d-flex align-items-center justify-content-between my-2">
                            <p>Semi furnished 1 BHK in block 2, Garden Villas</p>
                            <!-- <img src="./images/more.png' %}" alt="Three vertical dot menu icon" width="24px"> -->
                        </div>
                    </div>

                </div>
                <button class="nav-btn next-btn"><img src="{% static 'front-end/Architecture/assets/right-arrow-white.png' %}" width="18px"></button>
            </div>
        </div>



        <!-- why Realezi section -->
        <section class="py-5 container">
            <div class="fw-bold primary-text-color text-title">Why Realezi</div>
            <div class="mt-4 sub-title secondary-text-color">We offer comprehensive solutions, from initial concept
                development to project completion,</div>
            <div class="sub-title secondary-text-color">ensuring functional, aesthetically pleasing, and sustainable
                built
                environments.</div>
            <div class="row align-items-stretch mt-5 px-3 px-lg-0 px-md-0">
                <div class="col-lg-3 col-md-6 col-12 d-flex mb-4 mb-lg-0">
                    <div class="card d-flex flex-column  border-0 benefits-card pb-4">
                        <div class="card-img hover-img-1"></div>
                        <div class="card-body px-4">
                            <div class="card-title text-center fw-semibold fs-4">Complete Turnkey</div>
                            <p class="card-text text-center secondary-text-color fs-6">With an emphasis on details,
                                extraordinary designs and exceptional customer service, we bring your dreams to life.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 d-flex mb-4 mb-lg-0">
                    <div class="card d-flex flex-column  border-0 benefits-card">
                        <div class="card-img hover-img-2"></div>
                        <div class="card-body px-4">
                            <div class="card-title text-center fw-semibold fs-4">We Design</div>
                            <p class="card-text text-center secondary-text-color fs-6">From completed homes to modular
                                kitchens, and storage to decor, our top interior designers create spaces that match your
                                vision.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 d-flex mb-4 mb-lg-0">
                    <div class="card d-flex flex-column  border-0 benefits-card">
                        <div class="card-img hover-img-3"></div>
                        <div class="card-body px-4">
                            <div class="card-title text-center fw-semibold fs-4">We Execute</div>
                            <p class="card-text text-center secondary-text-color fs-6">We follow a meticulous planning
                                approach with detail-driven designs for interiors of your homes.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 d-flex mb-4 mb-lg-0">
                    <div class="card d-flex flex-column  border-0 benefits-card">
                        <div class="card-img hover-img-4"></div>
                        <div class="card-body px-4">
                            <div class="card-title text-center fw-semibold fs-4">We Manage</div>
                            <p class="card-text text-center secondary-text-color fs-6">Our top interior designers
                                spearhead quality assurance by extending support after the execution of home projects.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="py-5 container">
            <div class="d-lg-block d-none">
                <div class="row align-items-center">
                    <div class="col-5">
                        <!-- Left Side Content -->
                        <div id="stepper-content" class="mt-4">
                            <div class="step-content active">
                                <!-- Content for Step 1 -->
                                <canvas id="meetTeam" height="425px" width="500px"></canvas>
                            </div>
                            <div class="step-content">
                                <!-- Content for Step 2 -->
                                <canvas id="finaliseDesigns" height="400px" width="550px"></canvas>
                            </div>
                            <div class="step-content">
                                <!-- Content for Step 3 -->
                                <canvas id="sealTheDeal" height="400px" width="400px"></canvas>
                            </div>
                            <div class="step-content">
                                <!-- Content for Step 4 -->
                                <canvas id="getWorkStarted" height="400px" width="450px"></canvas>
                            </div>
                            <div class="step-content">
                                <!-- Content for Step 5 -->
                                <canvas id="installationBegins" height="380px" width="500px"></canvas>
                            </div>
                            <div class="step-content">
                                <!-- Content for Step 6 -->
                                <canvas id="moveIn" height="390px" width="500px"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="text-center fw-bold text-title primary-text-color">The Way We Work</div>
                        <div class="text-center fs-6 mt-2 secondary-text-color">Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit.
                        </div>
                        <!-- Stepper Header -->
                        <div id="stepper-header" class="d-flex justify-content-center align-items-center mt-5">
                            <div class="step-wrapper text-center">
                                <div class="step active">1</div>
                                <div class="step-title text-nowrap mt-2">Meet the team</div>
                            </div>
                            <div class="line"></div>
                            <div class="step-wrapper text-center">
                                <div class="step">2</div>
                                <div class="step-title text-nowrap mt-2">Finalise Designs</div>
                            </div>
                            <div class="line"></div>
                            <div class="step-wrapper text-center">
                                <div class="step">3</div>
                                <div class="step-title text-nowrap mt-2">Seal the Deal</div>
                            </div>
                            <div class="line"></div>
                            <div class="step-wrapper text-center">
                                <div class="step">4</div>
                                <div class="step-title text-nowrap mt-2">Get Work Started</div>
                            </div>
                            <div class="line"></div>
                            <div class="step-wrapper text-center">
                                <div class="step">5</div>
                                <div class="step-title text-nowrap mt-2">Installation Begins</div>
                            </div>
                            <div class="line"></div>
                            <div class="step-wrapper text-center">
                                <div class="step">6</div>
                                <div class="step-title text-nowrap mt-2">Move In</div>
                            </div>
                        </div>

                        <!-- Below Content -->
                        <div id="stepper-below-content" class="mt-5">
                            <div class="step-content active text-center mt-3">
                                <div class="fs-4 fw-bold">Meet the team</div>
                                <div class="w-75 mx-auto secondary-text-color mt-3">Schedule your design consultation
                                    today
                                    and meet our experienced
                                    team ready to transform your space.</div>
                            </div>
                            <div class="step-content text-center mt-3">
                                <div class="fs-4 fw-bold">Finalise Designs</div>
                                <div class="w-75 mx-auto secondary-text-color mt-3">Confirm and finalize all design
                                    elements
                                    before proceeding to the
                                    next step.</div>
                            </div>
                            <div class="step-content text-center mt-3">
                                <div class="fs-4 fw-bold">Seal the Deal</div>
                                <div class="w-75 mx-auto secondary-text-color mt-3">Finalize the agreement and complete
                                    all
                                    necessary documentation.
                                </div>
                            </div>
                            <div class="step-content text-center mt-3">
                                <div class="fs-4 fw-bold">Get Work Started</div>
                                <div class="w-75 mx-auto secondary-text-color mt-3">Kick off the project with initial
                                    preparations and planning.</div>
                            </div>
                            <div class="step-content text-center mt-3">
                                <div class="fs-4 fw-bold">Installation Begins</div>
                                <div class="w-75 mx-auto">Begin the installation phase as per the planned schedule.
                                </div>
                            </div>
                            <div class="step-content text-center mt-3">
                                <div class="fs-4 fw-bold">Move In</div>
                                <div class="w-75 mx-auto secondary-text-color mt-3">Complete the move-in process and
                                    finalize any post-installation
                                    adjustments.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Carousel for Tablet and Mobile Views -->
            <div class="d-lg-none">
                <div class="text-center fw-bold text-title primary-text-color">The Way We Work</div>
                <div class="text-center fs-6 mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>

                <div id="carouselExample" class="carousel slide mt-5" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active text-center">
                            <canvas id="mobileMeetTeam"></canvas>
                            <div class="fw-bold fs-1 primary-text-color">Meet the team</div>
                            <div class="w-75 mx-auto secondary-text-color mt-3">Schedule your design consultation today
                                and
                                meet our experienced team ready to transform your space.</div>
                        </div>
                        <div class="carousel-item text-center mt-4">
                            <canvas id="mobileFinaliseDesigns"></canvas>
                            <div class="fw-bold fs-1 primary-text-color">Finalise Designs</div>
                            <div class="w-75 mx-auto secondary-text-color mt-3">Confirm and finalize all design elements
                                before proceeding to the next step.</div>
                        </div>
                        <div class="carousel-item text-center mt-4">
                            <canvas id="mobileSealTheDeal"></canvas>
                            <div class="fw-bold fs-1 primary-text-color">Seal the Deal</div>
                            <div class="w-75 mx-auto secondary-text-color mt-3">Finalize the agreement and complete all
                                necessary documentation.</div>
                        </div>
                        <div class="carousel-item text-center mt-4">
                            <canvas id="mobileGetWorkStarted"></canvas>
                            <div class="fw-bold fs-1 primary-text-color">Get Work Started</div>
                            <div class="w-75 mx-auto secondary-text-color mt-3">Kick off the project with initial
                                preparations and planning.</div>
                        </div>
                        <div class="carousel-item text-center mt-4">
                            <canvas id="mobileInstallationBegins"></canvas>
                            <div class="fw-bold fs-1 primary-text-color">Installation Begins</div>
                            <div class="w-75 mx-auto">Begin the installation phase as per the planned schedule.</div>
                        </div>
                        <div class="carousel-item text-center mt-4">
                            <canvas id="mobileMoveIn"></canvas>
                            <div class="fw-bold fs-1 primary-text-color">Move In</div>
                            <div class="w-75 mx-auto secondary-text-color mt-3">Complete the move-in process and
                                finalize
                                any post-installation adjustments.</div>
                        </div>
                    </div>
                    <!-- Carousel Controls -->
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="false"></span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="false"></span>
                    </button>
                </div>
            </div>
        </section>

        <!-- Modal Form -->
        <div class="brochure-modal-container modal-container form-2">
            <img src="{% static 'front-end/Architecture/assets/cross.png' %}" width="15px" class="close-icon" />
            <div class="brochure-modal modals">
                <h4>Please share your details</h4>
                <form>
                    <div class="input-group">
                        <input type="text" name="name" autocomplete="off" class="input" required />
                        <label class="user-label">Name</label>
                    </div>
                    <div class="phone-number-container d-flex align-items-center justify-content-start">
                        <select name="country-code" id="country-code">
                            <option value="+91" selected>+91</option>
                            <option value="+1">+1</option>
                            <option value="+44">+44</option>
                            <option value="+81">+81</option>
                            <option value="+7">+7</option>
                        </select>
                        <div class="input-group">
                            <input type="text" oninput="this.value = this.value.replace(/[^0-9]/g, '');"
                                id="phone-number" name="phone-number" autocomplete="off" class="input" maxlength="10"
                                required />
                            <label class="user-label">Enter mobile number</label>
                        </div>
                        <button id="send-otp-btn" class="otp-btn">Send OTP</button>
                    </div>
                    <p class="otp-sent" id="otp-sent-message">
                        We have sent the OTP to .
                    </p>
                    <div class="otp-container justify-content-start align-items-start">
                        <div class="input-group">
                            <input type="number" name="otp" autocomplete="off" class="input" required />
                            <label class="user-label">OTP</label>
                            <p class="otp-verification">Verified</p>
                        </div>
                        <p>Did not receive OTP ?<br />Request OTP on call.</p>
                    </div>
                    <div class="input-group">
                        <input type="email" name="email" autocomplete="off" class="input" required />
                        <label class="user-label">Email ID</label>
                    </div>
                    <div class="no-transform d-flex align-items-center justify-content-start">
                        <input type="checkbox" id="checkboxId" name="checkboxName" required />
                        <label>By submitting this form, I agree to accept and agree to
                            Realezi’s T&C</label>
                    </div>
                    <button type="submit" class="submit-btn" disabled>Submit</button>
                </form>
            </div>
            <div class="confirmation-popup-modal">
                <video src="./videos/realezi-loading-arrow.mp4' %}" class="Realezi-arrow-loader">
                    Your browser does not support the video tag.
                </video>
                <h4>Great!</h4>
                <p>Our Dedicated Relationship Manager will contact you shortly</p>
            </div>
        </div>

        <!-- Referral Program section -->
        <section class="py-5 container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-12">
                    <div class="fw-bold primary-text-color referral-title">Referral Program</div>
                    <div class="mt-3 secondary-text-color sub-title">Join our referral program and earn rewards for
                        every
                        friend you bring to our design family. Share the joy of transforming spaces together</div>
                    <button class="mt-5 refer-btn sub-title rounded-pill  open-brochure-modal-container"
                        data-bs-toggle="modal" data-bs-target="#ReferNow"><span>Refer Now</span></button>
                </div>
                <div class="col-lg-6 col-12">
                    <img src="{% static 'front-end/Architecture/assets/Referral.png' %}" alt="Referral-image" class="w-100">
                </div>
            </div>
        </section>
    </main>

    <!-- Footer Starts -->
    <footer class="footer">
        <div class="container">
            <div class="consultation-container d-flex align-items-center ">
                <img src="{% static 'front-end/Architecture/assets/footer-man-image.png' %}" width="200px" alt="">
                <button class="open-brochure-modal-container">Book Free Consultion</button>
            </div>
            <div class="upper-footer">
                <div class="columns d-flex align-items-start justify-content-between my-3">
                    <div style="margin-right: 10px;">
                        <a href="https://www.realezi.com"><img src="{% static 'front-end/ApplicationForm/assets/logo.png' %}" width="150px" class="mb-3" /></a>
                        <h3>
                            Click.<br>
                            Connect.<br>
                            Close.<br>
                        </h3>
                        <button class="white-btn">Try it yourself</button>
                    </div>
                    <div class="">
                        <div>
                            <h4 class="d-flex align-items-center">Company <span class="d-block d-sm-none mx-2 mb-1"><svg
                                        width="14" height="10" viewBox="0 0 12 8" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M1.41 0.590088L6 5.17009L10.59 0.590088L12 2.00009L6 8.00009L0 2.00009L1.41 0.590088Z"
                                            fill="#ffffff" />
                                    </svg></span></h4>
                            <ul>
                                <a href=""><li>About us</li></a>
                                <a href="{% url 'news_blog_page' %}"><li>Blog</li></a>
                                <a href="{% url 'career' %}"><li>Career</li></a>
                                <a href="{% url 'contact_us' %}"><li>Contact support</li></a>
                                <a href="{% url 'contact_us' %}"><li>Get in touch</li></a>
                                <a href="{% url 'faq_first_page' %}"><li>FAQs</li></a>
                                <a href="{% url 'faq_second_page' %}"><li>FAQs</li></a>
                                <a href="{% url 'career' %}"><button
                                    class="align-items-center justify-content-center blue-btn mt-3 d-none d-sm-block">
                                    <p class="mx-2">We are hiring</p>
                                    <canvas id="partyPopper"></canvas>
                                </button></a>
                            </ul>
                        </div>
                    </div>


                    <div class="playStore-btn larger-screen d-flex align-items-center justify-content-between">
                        <a href="#" class="googlePlay-button" id="launch-button">
                            <span class="icon">
                                <svg fill="currentcolor" viewBox="-52.01 0 560.035 560.035"
                                    xmlns="http://www.w3.org/2000/svg" stroke="#ffffff">
                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round">
                                    </g>
                                    <g id="SVGRepo_iconCarrier">
                                        <path
                                            d="M380.844 297.529c.787 84.752 74.349 112.955 75.164 113.314-.622 1.988-11.754 40.191-38.756 79.652-23.343 34.117-47.568 68.107-85.731 68.811-37.499.691-49.557-22.236-92.429-22.236-42.859 0-56.256 21.533-91.753 22.928-36.837 1.395-64.889-36.891-88.424-70.883-48.093-69.53-84.846-196.475-35.496-282.165 24.516-42.554 68.328-69.501 115.882-70.192 36.173-.69 70.315 24.336 92.429 24.336 22.1 0 63.59-30.096 107.208-25.676 18.26.76 69.517 7.376 102.429 55.552-2.652 1.644-61.159 35.704-60.523 106.559M310.369 89.418C329.926 65.745 343.089 32.79 339.498 0 311.308 1.133 277.22 18.785 257 42.445c-18.121 20.952-33.991 54.487-29.709 86.628 31.421 2.431 63.52-15.967 83.078-39.655">
                                        </path>
                                    </g>
                                </svg>
                            </span>
                            <span class="texts">
                                <span class="text-1">Download form</span>
                                <span class="text-2">App store</span>
                            </span>
                        </a>
                        <a href="#" class="appstore-button">
                            <svg viewBox="0 0 512 512" class="icon" fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M99.617 8.057a50.191 50.191 0 00-38.815-6.713l230.932 230.933 74.846-74.846L99.617 8.057zM32.139 20.116c-6.441 8.563-10.148 19.077-10.148 30.199v411.358c0 11.123 3.708 21.636 10.148 30.199l235.877-235.877L32.139 20.116zM464.261 212.087l-67.266-37.637-81.544 81.544 81.548 81.548 67.273-37.64c16.117-9.03 25.738-25.442 25.738-43.908s-9.621-34.877-25.749-43.907zM291.733 279.711L60.815 510.629c3.786.891 7.639 1.371 11.492 1.371a50.275 50.275 0 0027.31-8.07l266.965-149.372-74.849-74.847z">
                                </path>
                            </svg>
                            <span class="texts">
                                <span class="text-1">GET IT ON</span>
                                <span class="text-2">Google Play</span>
                            </span>
                        </a>
                    </div>
                    <div>
                        <h4 class="d-flex align-items-center">Solutions<span class="d-block d-sm-none mx-2 mb-1"><svg
                                    width="14" height="10" viewBox="0 0 12 8" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M1.41 0.590088L6 5.17009L10.59 0.590088L12 2.00009L6 8.00009L0 2.00009L1.41 0.590088Z"
                                        fill="#ffffff" />
                                </svg></span></h4>
                        <div class="d-flex">
                            <ul>
                                <a href=""><li>Find a Right Property</li></a>
                                <a href="{% url 'blog_rent_buy' %}"><li>Sell or Rent Your Property</li></a>
                                <a href=""><li>Build Your Home From Scratch </li></a>
                                <a href=""><li>Interior Designing & Decor</li></a>
                                <a href="{% url 'solar_page' %}"><li>Solar Panel</li></a>
                                <a href=""><li>Home Loans</li></a>
                                <a href=""><li class="d-block d-sm-none">Legal Aid </li></a>
                                <a href=""><li class="d-block d-sm-none">Porter Services</li></a>
                                <a href=""><li class="d-block d-sm-none">For Business</li></a>
                            </ul>
                            <ul class="px-3 d-none d-sm-block">
                                <a href="{% url 'Legal_Aid_Realezi' %}"><li>Legal Aid </li></a>
                                <a href="{% url 'movers_and_packers' %}"><li>Porter Services</li></a>
                                <a href="{% url 'architecture' %}"><li>Architecture</li></a>
                                <a href=""><li>For Business</li></a>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <h4 class="d-flex align-items-center">Community<span class="d-block d-sm-none mx-2 mb-1"><svg
                                    width="14" height="10" viewBox="0 0 12 8" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M1.41 0.590088L6 5.17009L10.59 0.590088L12 2.00009L6 8.00009L0 2.00009L1.41 0.590088Z"
                                        fill="#ffffff" />
                                </svg></span></h4>
                        <ul>
                            <a href="{% url 'refer_and_earn_realezi' %}"><button class="align-items-center blue-btn refer-btn mt-3 d-none d-sm-block">
                                <p class="mx-2">Refer & Earn</p>
                                <lottie-player src="{% static 'front-end/ApplicationForm/assets/animation-files/fire-animation.json' %}"
                                    background="transparent" speed="1" style="width: 25px; height: 25px" loop
                                    autoplay></lottie-player>
                            </button></a>
                            <a href=""><li>Realezi Community</li></a>
                            <a href="{% url 'customer_review' %}"><li>Customers</li></a>
                        </ul>
                    </div>
                    <div class="d-block d-sm-none">
                        <h4 class="d-flex align-items-center">Others<span class="d-block d-sm-none mx-2 mb-1"><svg
                                    width="14" height="10" viewBox="0 0 12 8" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M1.41 0.590088L6 5.17009L10.59 0.590088L12 2.00009L6 8.00009L0 2.00009L1.41 0.590088Z"
                                        fill="#ffffff" />
                                </svg></span></h4>
                        <div class="position-relative">
                            <ul>
                                <li>Privacy policies</li>
                                <li>Terms and conditions</li>
                                <li>Disclaimer</li>
                                <li class="text-right">
                                    <button class="align-items-center justify-content-center blue-btn">
                                        <p class="mx-2">We are hiring</p>
                                        <canvas id="partyPopper2"></canvas>
                                    </button>
                                    <button class="align-items-center blue-btn refer-btn mt-3">
                                        <p class="mx-2">Refer & Earn</p>
                                        <lottie-player src="{% static 'front-end/ApplicationForm/assets/animation-files/fire-animation.json' %}"
                                            background="transparent" speed="1" style="width: 25px; height: 25px" loop
                                            autoplay></lottie-player>
                                    </button>
                                </li>
                                <li class="d-flex align-items-center justify-content-center"><a href="#"
                                        class="googlePlay-button" id="launch-button">
                                        <span class="icon">
                                            <svg fill="currentcolor" viewBox="-52.01 0 560.035 560.035"
                                                xmlns="http://www.w3.org/2000/svg" stroke="#ffffff">
                                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round"
                                                    stroke-linejoin="round">
                                                </g>
                                                <g id="SVGRepo_iconCarrier">
                                                    <path
                                                        d="M380.844 297.529c.787 84.752 74.349 112.955 75.164 113.314-.622 1.988-11.754 40.191-38.756 79.652-23.343 34.117-47.568 68.107-85.731 68.811-37.499.691-49.557-22.236-92.429-22.236-42.859 0-56.256 21.533-91.753 22.928-36.837 1.395-64.889-36.891-88.424-70.883-48.093-69.53-84.846-196.475-35.496-282.165 24.516-42.554 68.328-69.501 115.882-70.192 36.173-.69 70.315 24.336 92.429 24.336 22.1 0 63.59-30.096 107.208-25.676 18.26.76 69.517 7.376 102.429 55.552-2.652 1.644-61.159 35.704-60.523 106.559M310.369 89.418C329.926 65.745 343.089 32.79 339.498 0 311.308 1.133 277.22 18.785 257 42.445c-18.121 20.952-33.991 54.487-29.709 86.628 31.421 2.431 63.52-15.967 83.078-39.655">
                                                    </path>
                                                </g>
                                            </svg>
                                        </span>
                                        <span class="texts">
                                            <span class="text-1">Download form</span>
                                            <span class="text-2">App store</span>
                                        </span>
                                    </a>
                                    <a href="#" class="appstore-button">
                                        <svg viewBox="0 0 512 512" class="icon" fill="currentColor"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M99.617 8.057a50.191 50.191 0 00-38.815-6.713l230.932 230.933 74.846-74.846L99.617 8.057zM32.139 20.116c-6.441 8.563-10.148 19.077-10.148 30.199v411.358c0 11.123 3.708 21.636 10.148 30.199l235.877-235.877L32.139 20.116zM464.261 212.087l-67.266-37.637-81.544 81.544 81.548 81.548 67.273-37.64c16.117-9.03 25.738-25.442 25.738-43.908s-9.621-34.877-25.749-43.907zM291.733 279.711L60.815 510.629c3.786.891 7.639 1.371 11.492 1.371a50.275 50.275 0 0027.31-8.07l266.965-149.372-74.849-74.847z">
                                            </path>
                                        </svg>
                                        <span class="texts">
                                            <span class="text-1">GET IT ON</span>
                                            <span class="text-2">Google Play</span>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="lower-footer">
                <div class="lower-upper d-none d-sm-block">
                    <ul class="d-flex align-items-center justify-content-center">
                        <a href="{% url 'privacy_page' %}"><li>Privacy policies</li></a>
                        <a href="{% url 'terms_page' %}"><li>Terms and conditions</li></a>
                        <a href="{% url 'disclaimer' %}"><li>Disclaimer</li></a>
                    </ul>
                </div>
                <div class="lower-bottom d-flex align-items-center justify-content-between">
                    <p class="text-center">©2024 Realezi. All rights reserved</p>
                    <p>
                        Made with love <img src="{% static 'front-end/ApplicationForm/assets/heart.png' %}" width="15px" /> from
                        Realezi
                    </p>
                    <div class="socials-container">
                        <a href="https://www.facebook.com/profile.php?id=100095528529674&mibextid=ZbWKwL"
                            target="_blank" class="fb-btn social-btn">
                            <img src="{% static 'front-end/ApplicationForm/assets/fb.png' %}" width="18px" />
                            <span class="text">Facebook</span>
                        </a>
                        <a href="https://www.linkedin.com/company/realezi/" target="_blank"
                            class="linkedin-btn social-btn">
                            <img src="{% static 'front-end/ApplicationForm/assets/linkedin.png' %}" width="18px" />
                            <span class="text">LinkedIn</span>
                        </a>
                        <a href="https://www.instagram.com/realezi_?utm_source=qr&igshid=ZDc4ODBmNjlmNQ%3D%3D"
                            target="_blank" class="insta-btn social-btn">
                            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512" class="svgIcon">
                                <path
                                    d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z">
                                </path>
                            </svg>
                            <span class="text">Instagram</span>
                        </a>
                        <a href="https://www.youtube.com/@Realezi" target="_blank" class="youtube-btn social-btn">
                            <img src="{% static 'front-end/ApplicationForm/assets/youtube.png' %}" width="10px" />
                            <span class="text">Youtube</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Ends -->

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/rive-canvas@latest/rive.min.js"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.1/ScrollTrigger.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>

    <script src="{% static 'front-end/Architecture/index.js' %}"></script>
    <script src="{% static 'front-end/Architecture/navbar.js' %}"></script>
    <script src="{% static 'front-end/Architecture/riv.js' %}"></script>
    <script src="{% static 'front-end/Architecture/forms.js' %}"></script>
    <script src="{% static 'front-end/Architecture/video-slider.js' %}"></script>
    <script defer src="{% static 'front-end/Architecture/footer.js' %}"></script>
</body>

</html>