<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&family=Offside&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "front-end\Blog-page/css/styles.css" %}">
    <title>Blogs</title>
</head>

<body>
    <header>
        <div class="large-screen-navbar d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center">
                <a href="https://www.realezi.com"><img src="{% static "front-end/Blog-page/assets/svg/footer-logo.svg" %}" width="100px" class="header-logo" alt="Website Logo"></a>
                <nav id="nav-links">
                    <ul class="d-flex align-items-center">
                        <li class="home"><a href="#">Home</a></li>
                        <li class="resources"><a href="#">Resources</a></li>
                        <li class="buy-or-rent"><a href="#">Buy or Rent</a></li>
                    </ul>
                </nav>
            </div>
            <a href="{% url "login" %}"><button class="post-btn">Post Your Property</button></a>
            <div class="mobile-menu" id="menu-toggle">
                <input id="checkbox" type="checkbox">
                <label class="toggle" for="checkbox">
                    <div id="bar1" class="bars"></div>
                    <div id="bar2" class="bars"></div>
                    <div id="bar3" class="bars"></div>
                    <div id="bar4" class="bars"></div>
                    <div id="bar5" class="bars"></div>
                </label>
            </div>
        </div>
        <div id="mobile-navbar" class="mobile-navbar">
            <ul class="d-flex align-items-center justify-content-center flex-column">
                <li><a href="#">Home</a></li>
                <li><a href="#">Resources</a></li>
                <li><a href="#">Buy or Rent</a></li>
                <li><a href="{% url "login" %}"><button>Post Your Property</button></a></li>
            </ul>
        </div>
    </header>

    <main class="container">
        <div class="left-images">
            <button onclick="shareToFacebook()"><img src="{% static "front-end/Blog-page/assets/images/facebook.png" %}" alt="Share on Facebook"
                    title="Share on Facebook"></button>
            <button onclick="shareToEmail()"><img src="{% static "front-end/Blog-page/assets/images/gmail.png" %}" alt="Share via Email"
                    title="Share via Email"></button>
            <button onclick="shareToWhatsApp()"><img src="{% static "front-end/Blog-page/assets/images/whatsapp.png" %}" alt="Share on WhatsApp"
                    title="Share on WhatsApp"></button>
            <button onclick="copyLink()"><img src="{% static "front-end/Blog-page/assets/images/clip.png" %}" alt="Copy Link" title="Copy Link"></button>
        </div>
        <div class="d-flex justify-content-center">
            <!-- Blog Section Starts -->
            <div class="blog-section">
                <h4 class="heading mb-4">Home / Read / RENT OR BUY: Making the Right Choice in 2024.</h4>

                <div class="image-container">
                    <!-- <div class="metro-image-container"> -->
                    <img class="metro-image" src="{% static "front-end/Blog-page/assets/images/rent or buy v6.jpg" %}" width="100%" alt="Descriptive Image">
                    <!-- </div> -->
                </div>

                <div class="article-title">
                    A Complete Overview of RENT OR BUY: Making the Right Choice in 2024.
                </div>

                <div style="color: #111F3C;" class="now-reading">
                    Now Reading : <span style="color: #434343;">A
                        Complete Overview of RENT OR BUY: Making the Right Choice in 2024.</span>
                </div>

                <div class="reading-progress">
                    <div class="progress-bar">
                        <div class="progress-fill"></div>
                    </div>
                </div>

                <p class="metro-text">
                    Did you know that 80% of Indians face a dilemma: Whether to Rent or Buy, especially for first-time buyers or during substantial lifestyle transition?
                    In India, homeownership is often valued, but renting can be your soulmate if you embrace the stay-at-home lifestyle.
                    Feeling unsure? No worries; we all have been there. In this guide, you are going to learn about the pros and cons of each option so that you can make your way out easily without breaking the bank.
                </p>

                <div class="section-heading">
                    MARKET ROADMAP
                </div>

                <div class="section-intro">
                    Property prices in the Indian real estate market are 7% higher annually by 2024. Rents in major cities like Delhi-NCR and Bengaluru have gone up considerably from ₹38,000 to ₹45,000. Backed by government schemes like the PMAY or Real Estate Regulatory Act, it could be a good time to buy a home but that calls for a significant financial outlay. Renting, on the other hand, offers flexibility—but rents in many urban areas are through the roof.
                </div>

                <div class="section-heading">
                    BENEFITS AND DRAWBACKS OF BUYING AND RENTING IN INDIA<br>
                    <span><b>Pros of Buying a House</b></span>
                </div>

                <div class="section-intro">
                    <b>No Annoyances from Landlord:</b> When you own a home, you’re in full control. Renting is terrible in so many ways, having to rely on the landlord for water, electricity, and almost all other maintenance.
                </div>
                <div class="section-intro">
                    <b>No Uncertainty:</b> When owning a property, you will not face the uncertainty of the landlord terminating the lease at any time. Added to it, this saves the hassle of negotiating the renewal of the rent and lease annually.
                </div>
                <div class="section-intro">
                    <b>Tax benefits on home loans:</b> As a homeowner, you get favourable tax treatment of your mortgage interest, which reduces the burden. At the same time, the cost of living on rent is higher since you are not earning any interest on the deposit amount paid to the landlord (which is quite high in premium locations) throughout the lease term.
                </div>
                <div class="section-intro">
                    <b>Building your own asset:</b> You can pay the home loan EMI by building your own asset over time. Rather than just paying the rent, which is a pure expenditure. In reality, your home's equity increases with each EMI you pay. 
                </div>
                <div class="section-intro">
                    <b>Home as an investment:</b> Owning a home can provide peace of mind and comfort when you know that the likelihood of staying in one place for an extended period is high. As Real Estate value increases, it gradually entails an increase in wealth. 
                </div>

                <div class="section-heading">
                    <b>Cons of Buying a House</b>
                </div>

                <div class="section-intro">
                    <b>Financial commitment:</b>  When you purchase a home, it is very much a long-term investment. Down payment, moving costs, and the regular monthly payments to keep up with (mortgage payment + property taxes/insurance over time). It's like paying rent to yourself with greater responsibilities.
                </div>
                <div class="section-intro">
                    <b>Market fluctuations Real estate markets are unpredictable:</b> If you are selling your home when the values are low, it is a huge loss, of course. What about the 2008 financial crisis? It was during this time that one could make a home investment and many did only to see the market crumble.
                </div>

                <div class="section-heading">
                    <b>Pros of Renting </b>
                </div>

                <div class="section-intro">
                    <b>Flexibility:</b> Renting allows you to move more frequently as it is a short-term investment. For instance, renting would be flexible if your lifestyle changed or if your job required you to relocate.
                </div>
                <div class="section-intro">
                    <b>Lower upfront costs:</b> Renting generally requires a security deposit, which is much smaller than a heavy down payment during a home purchase. 
                </div>

                <div class="section-heading">
                    <b>Cons of Renting </b>
                </div>

                <div class="section-intro">
                    <b>Limited Control:</b> Want to paint your walls with your favourite colours or install that dream kitchen you've been drooling over? For that, you need your landlord's permission first. It sometimes feels like choking while at someone else's house with their set of rules and restrictions. 
                </div>
                <div class="section-intro">
                    <b>No House, No Wealth:</b> Renting means paying someone else's mortgage. Without property ownership, you miss out on opportunities for potential appreciation, which makes renting seem less secure. 
                </div>
                <div class="section-intro">
                    <b>Rental Increase:</b> Rents can rise unexpectedly, making it difficult to plan for expenses like vacations. 
                </div>

                <p class="date-heading">
                    So, assess your finances carefully before you decide whether to buy a house or rent it.
                </p>

                <p class="date-heading">
                <b>FINANCIAL COMPARISONS</b>
                <div class="date-heading-intro">
                    The decision to rent versus buy a house depends on your financial situation and the relative costs between them, taking into account long-term consequences. Here are the key financials to consider.
                </div>
                </p>

                <p class="date-heading">
                    1. INITIAL COST
                </p>

                <div  style="margin-bottom:25px;">
                    <table style="width: 100%; border-collapse: collapse;">
                        <thead>
                            <tr>
                                <th style="border: 1px solid #ddd; padding: 8px; text-align: left;">Cost Component</th>
                                <th style="border: 1px solid #ddd; padding: 8px; text-align: left;">Buying (for ₹30,000,000 Home)</th>
                                <th style="border: 1px solid #ddd; padding: 8px; text-align: left;">Renting (for ₹150,000/month)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="border: 1px solid #ddd; padding: 8px;">Down Payment</td>
                                <td style="border: 1px solid #ddd; padding: 8px;">₹900,000 to ₹6,000,000</td>
                                <td style="border: 1px solid #ddd; padding: 8px;">N/A</td>
                            </tr>
                            <tr>
                                <td style="border: 1px solid #ddd; padding: 8px;">Closing Costs</td>
                                <td style="border: 1px solid #ddd; padding: 8px;">₹600,000 to ₹1,500,000</td>
                                <td style="border: 1px solid #ddd; padding: 8px;">N/A</td>
                            </tr>
                            <tr>
                                <td style="border: 1px solid #ddd; padding: 8px;">Security Deposit</td>
                                <td style="border: 1px solid #ddd; padding: 8px;">N/A</td>
                                <td style="border: 1px solid #ddd; padding: 8px;">₹150,000 to ₹300,000</td>
                            </tr>
                            <tr>
                                <td style="border: 1px solid #ddd; padding: 8px;">Application Fees</td>
                                <td style="border: 1px solid #ddd; padding: 8px;">N/A</td>
                                <td style="border: 1px solid #ddd; padding: 8px;">₹4,000 to₹8,000</td>
                            </tr>
                            <tr>
                                <td style="border: 1px solid #ddd; padding: 8px;">Moving Costs</td>
                                <td style="border: 1px solid #ddd; padding: 8px;">Similar for both </td>
                                <td style="border: 1px solid #ddd; padding: 8px;">Similar for both</td>
                            </tr>
                        </tbody>
                    </table>
                </div>                
                
                <p class="date-heading">
                    2. MONTHLY COST
                </p>

                <div style="margin-bottom:25px;">
                    <table style="width: 100%; border-collapse: collapse;">
                        <thead>
                            <tr>
                                <th style="border: 1px solid #ddd; padding: 8px; text-align: left;">Cost Component</th>
                                <th style="border: 1px solid #ddd; padding: 8px; text-align: left;">Buying (for ₹30,000,000 Home)</th>
                                <th style="border: 1px solid #ddd; padding: 8px; text-align: left;">Renting (for ₹150,000/month)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="border: 1px solid #ddd; padding: 8px;">Mortgage Payment</td>
                                <td style="border: 1px solid #ddd; padding: 8px;">₹1,50,000</td>
                                <td style="border: 1px solid #ddd; padding: 8px;">N/A</td>
                            </tr>
                            <tr>
                                <td style="border: 1px solid #ddd; padding: 8px;">Property Taxes</td>
                                <td style="border: 1px solid #ddd; padding: 8px;">₹20,000 to ₹41,667</td>
                                <td style="border: 1px solid #ddd; padding: 8px;">N/A</td>
                            </tr>
                            <tr>
                                <td style="border: 1px solid #ddd; padding: 8px;">Homeowners Insurance</td>
                                <td style="border: 1px solid #ddd; padding: 8px;">₹5,000 to ₹10,000</td>
                                <td style="border: 1px solid #ddd; padding: 8px;">N/A</td>
                            </tr>
                            <tr>
                                <td style="border: 1px solid #ddd; padding: 8px;">Maintenance</td>
                                <td style="border: 1px solid #ddd; padding: 8px;">₹25,000</td>
                                <td style="border: 1px solid #ddd; padding: 8px;">N/A</td>
                            </tr>
                            <tr>
                                <td style="border: 1px solid #ddd; padding: 8px;">Monthly Rent</td>
                                <td style="border: 1px solid #ddd; padding: 8px;">N/A</td>
                                <td style="border: 1px solid #ddd; padding: 8px;">₹150,000</td>
                            </tr>
                            <tr>
                                <td style="border: 1px solid #ddd; padding: 8px;">Renter’s Insurance</td>
                                <td style="border: 1px solid #ddd; padding: 8px;">N/A</td>
                                <td style="border: 1px solid #ddd; padding: 8px;">₹800 to ₹1,500</td>
                            </tr>
                            <tr>
                                <td style="border: 1px solid #ddd; padding: 8px;">Utilities</td>
                                <td style="border: 1px solid #ddd; padding: 8px;">N/A</td>
                                <td style="border: 1px solid #ddd; padding: 8px;">₹8,000 to ₹24,000</td>
                            </tr>
                        </tbody>
                    </table>
                </div>               
                
                <p class="date-heading">
                    3. LONG-TERM CONSIDERATIONS
                </p>

                <div style="margin-bottom:25px;">
                    <table style="width: 100%; border-collapse: collapse;">
                        <thead>
                            <tr>
                                <th style="border: 1px solid #ddd; padding: 8px; text-align: left;">Factor</th>
                                <th style="border: 1px solid #ddd; padding: 8px; text-align: left;">Buying</th>
                                <th style="border: 1px solid #ddd; padding: 8px; text-align: left;">Renting</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="border: 1px solid #ddd; padding: 8px;">Equity</td>
                                <td style="border: 1px solid #ddd; padding: 8px;">Builds equity over time</td>
                                <td style="border: 1px solid #ddd; padding: 8px;">No equity built</td>
                            </tr>
                            <tr>
                                <td style="border: 1px solid #ddd; padding: 8px;">Tax Benefits</td>
                                <td style="border: 1px solid #ddd; padding: 8px;">Deductions for property taxes and mortgage interest</td>
                                <td style="border: 1px solid #ddd; padding: 8px;">No tax benefits</td>
                            </tr>
                            <tr>
                                <td style="border: 1px solid #ddd; padding: 8px;">Market Risk</td>
                                <td style="border: 1px solid #ddd; padding: 8px;">Values can fluctuate</td>
                                <td style="border: 1px solid #ddd; padding: 8px;">No market risk</td>
                            </tr>
                            <tr>
                                <td style="border: 1px solid #ddd; padding: 8px;">Flexibility</td>
                                <td style="border: 1px solid #ddd; padding: 8px;">Less flexible</td>
                                <td style="border: 1px solid #ddd; padding: 8px;">More flexible</td>
                            </tr>
                            <tr>
                                <td style="border: 1px solid #ddd; padding: 8px;">Predictable Costs</td>
                                <td style="border: 1px solid #ddd; padding: 8px;">Potential for unexpected costs</td>
                                <td style="border: 1px solid #ddd; padding: 8px;">More predictable costs</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                              

                <div class="section-heading">
                    <b>LIFESTYLE CONSIDERATIONS </b>
                </div>

                <div class="section-intro">
                    <b>1. Travel and Job Security:</b> Homeownership leads to financial gain and peace of mind while renting allows preservation for more mobile folks with new jobs or changes of scenery. While moving, short-term leases can also serve as a bridge between ownerships.
                </div>
                <div class="section-intro">
                    <b>2. Remote Work:</b> As remote work becomes the norm, renting provides an opportunity to shop around different neighbourhoods or rural locations with no long-term ties—a useful way for you to ease into your new home working life.
                </div>
                <div class="section-intro">
                    <b>3. Schools and Community:</b> The quality of schools and local amenities also plays an important part, especially with families with children. If you have good schools nearby, buying a home to live in is often thought of as one of the best long-term investments out there. 
                </div>
                <div class="section-intro">
                    <b>4. Financial Readiness:</b> Buying a house represents an important financial decision in which, obviously, one must be financially ready. Renting can be a more practical way to ease into homeownership, especially if you are not quite ready. 
                </div>

                <p class="date-heading">
                    The decision to rent or buy a home is typically contingent on personal trade-offs as opposed to something that has one clear answer. In the end, pick which one suits you better.
                </p>

                <div class="section-heading">
                    <u>So What’s Your Next Move?</u>
                </div>

                <div class="section-intro">
                    The decision to buy or rent in 2024 will depend on your budget, lifestyle, and long-term plans. If you are buying, go with a homeowner loan flexible to adapt to changes in future income. It has the benefit of flexibility and keeps inconvenient initial costs low. One possible implication of delaying a purchase is that the cost could be higher and you may have paid more rent.
                    Get in touch with Realezi today and find out what will work best for you.
                </div>

                <!-- FAQ Section Starts -->
                <div class="faq-container py-3 my-5">
                    <h3>FAQs</h3>
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    What are the interesting facts about Bangalore metro?
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong>This is the first item's accordion body.</strong> It
                                    is shown by default, until the collapse plugin adds the
                                    appropriate classes that we use to style each element. These
                                    classes control the overall appearance, as well as the
                                    showing and hiding via CSS transitions. You can modify any
                                    of this with custom CSS or overriding our default variables.
                                    It's also worth noting that just about any HTML can go
                                    within the <code>.accordion-body</code>, though the
                                    transition does limit overflow.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    What is the new line of metro in Bangalore?
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong>This is the second item's accordion body.</strong>
                                    It is hidden by default, until the collapse plugin adds the
                                    appropriate classes that we use to style each element. These
                                    classes control the overall appearance, as well as the
                                    showing and hiding via CSS transitions. You can modify any
                                    of this with custom CSS or overriding our default variables.
                                    It's also worth noting that just about any HTML can go
                                    within the <code>.accordion-body</code>, though the
                                    transition does limit overflow.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    How many lines does Bangalore metro have?
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong>This is the third item's accordion body.</strong> It
                                    is hidden by default, until the collapse plugin adds the
                                    appropriate classes that we use to style each element. These
                                    classes control the overall appearance, as well as the
                                    showing and hiding via CSS transitions. You can modify any
                                    of this with custom CSS or overriding our default variables.
                                    It's also worth noting that just about any HTML can go
                                    within the <code>.accordion-body</code>, though the
                                    transition does limit overflow.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    How does metro work in Bangalore?
                                </button>
                            </h2>
                            <div id="collapseFour" class="accordion-collapse collapse"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong>This is the third item's accordion body.</strong> It
                                    is hidden by default, until the collapse plugin adds the
                                    appropriate classes that we use to style each element. These
                                    classes control the overall appearance, as well as the
                                    showing and hiding via CSS transitions. You can modify any
                                    of this with custom CSS or overriding our default variables.
                                    It's also worth noting that just about any HTML can go
                                    within the <code>.accordion-body</code>, though the
                                    transition does limit overflow.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    What is the full form of metro?
                                </button>
                            </h2>
                            <div id="collapseFive" class="accordion-collapse collapse"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong>This is the third item's accordion body.</strong> It
                                    is hidden by default, until the collapse plugin adds the
                                    appropriate classes that we use to style each element. These
                                    classes control the overall appearance, as well as the
                                    showing and hiding via CSS transitions. You can modify any
                                    of this with custom CSS or overriding our default variables.
                                    It's also worth noting that just about any HTML can go
                                    within the <code>.accordion-body</code>, though the
                                    transition does limit overflow.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- FAQ Section Ends -->

                <!-- More like this Section Starts -->
                <div class="listed-properties-container py-3 my-5 position-relative">
                    <h3>MORE LIKE THIS</h3>
                    <button class="nav-prev-button hidden" id="slideLeftRelatedProperties">
                        <img src="{% static "front-end/Blog-page/assets/images/right-arrow-white.png" %}" width="25px" style="transform: rotate(180deg)"
                            alt="Right Aroow icon" />
                    </button>
                    <div class="listed-properties-container-slider d-flex">
                        <div class="property-containter">
                            <div class="tag">Heritage</div>
                            <img src="{% static "front-end/Blog-page/assets/images/property-image-2.jpg" %}" class="property-image" alt="Property Image" />
                            <div class="content">
                                <div class="d-flex align-items-end justify-content-between">
                                    <h4>6 BHK Independent Building Floor</h4>
                                    <div class="d-flex">
                                        <div class="share-container">
                                            <img src="{% static "front-end/Blog-page/assets/images/share.png" %}" width="25px" alt="Share icon" />
                                            <ul>
                                                <li>Share it with family and friends</li>
                                                <li>
                                                    <button onclick="copyLink()">
                                                        <img src="{% static "front-end/Blog-page/assets/images/clip.png" %}" width="18px"
                                                            alt="Clip icon" />
                                                        <p>Copy to Clipboard</p>
                                                    </button>
                                                </li>
                                                <li>
                                                    <button onclick="shareToFacebook()">
                                                        <img src="{% static "front-end/Blog-page/assets/images/facebook.png" %}" width="18px"
                                                            alt="Facebook icon" />
                                                        <p>Facebook</p>
                                                    </button>
                                                </li>
                                                <li>
                                                    <button onclick="shareToEmail()">
                                                        <img src="{% static "front-end/Blog-page/assets/images/gmail.png" %}" width="18px"
                                                            alt="Gmail icon" />
                                                        <p>Mail</p>
                                                    </button>
                                                </li>
                                                <li>
                                                    <button onclick="shareToWhatsApp()">
                                                        <img src="{% static "front-end/Blog-page/assets/images/whatsapp.png" %}" width="18px"
                                                            alt="Whatsapp icon" />
                                                        <p>Whatsapp</p>
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                                <p class="about">
                                    Very nice property in sec24 rohini near rithala metro
                                    station with in 1km and is iskon temple 200 mtr More About
                                    This Property One
                                </p>
                                <div class="mt-3 d-flex align-items-center justify-content-between">
                                    <p class="date">March 6, 2024</p>
                                    <button>Read More</button>
                                </div>
                            </div>
                        </div>
                        <div class="property-containter">
                            <div class="tag">Heritage</div>
                            <img src="{% static "front-end/Blog-page/assets/images/property-image-2.jpg" %}" class="property-image" alt="Property Image" />
                            <div class="content">
                                <div class="d-flex align-items-end justify-content-between">
                                    <h4>6 BHK Independent Building Floor</h4>
                                    <div class="d-flex">
                                        <div class="share-container">
                                            <img src="{% static "front-end/Blog-page/assets/images/share.png" %}" width="25px" alt="Share icon" />
                                            <ul>
                                                <li>Share it with family and friends</li>
                                                <li>
                                                    <button onclick="copyLink()">
                                                        <img src="{% static "front-end/Blog-page/assets/images/clip.png" %}" width="18px"
                                                            alt="Clip icon" />
                                                        <p>Copy to Clipboard</p>
                                                    </button>
                                                </li>
                                                <li>
                                                    <button onclick="shareToFacebook()">
                                                        <img src="{% static "front-end/Blog-page/assets/images/facebook.png" %}" width="18px"
                                                            alt="Facebook icon" />
                                                        <p>Facebook</p>
                                                    </button>
                                                </li>
                                                <li>
                                                    <button onclick="shareToEmail()">
                                                        <img src="{% static "front-end/Blog-page/assets/images/gmail.png" %}" width="18px"
                                                            alt="Gmail icon" />
                                                        <p>Mail</p>
                                                    </button>
                                                </li>
                                                <li>
                                                    <button onclick="shareToWhatsApp()">
                                                        <img src="{% static "front-end/Blog-page/assets/images/whatsapp.png" %}" width="18px"
                                                            alt="Whatsapp icon" />
                                                        <p>Whatsapp</p>
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                                <p class="about">
                                    Very nice property in sec24 rohini near rithala metro
                                    station with in 1km and is iskon temple 200 mtr More About
                                    This Property One
                                </p>
                                <div class="mt-3 d-flex align-items-center justify-content-between">
                                    <p class="date">March 6, 2024</p>
                                    <button>Read More</button>
                                </div>


                            </div>
                        </div>
                        <div class="property-containter">
                            <div class="tag">Heritage</div>
                            <img src="{% static "front-end/Blog-page/assets/images/property-image-2.jpg" %}" class="property-image" alt="Property Image" />
                            <div class="content">
                                <div class="d-flex align-items-end justify-content-between">
                                    <h4>6 BHK Independent Building Floor</h4>
                                    <div class="d-flex">
                                        <div class="share-container">
                                            <img src="{% static "front-end/Blog-page/assets/images/share.png" %}" width="25px" alt="Share icon" />
                                            <ul>
                                                <li>Share it with family and friends</li>
                                                <li>
                                                    <button onclick="copyLink()">
                                                        <img src="{% static "front-end/Blog-page/assets/images/clip.png" %}" width="18px"
                                                            alt="Clip icon" />
                                                        <p>Copy to Clipboard</p>
                                                    </button>
                                                </li>
                                                <li>
                                                    <button onclick="shareToFacebook()">
                                                        <img src="{% static "front-end/Blog-page/assets/images/facebook.png" %}" width="18px"
                                                            alt="Facebook icon" />
                                                        <p>Facebook</p>
                                                    </button>
                                                </li>
                                                <li>
                                                    <button onclick="shareToEmail()">
                                                        <img src="{% static "front-end/Blog-page/assets/images/gmail.png" %}" width="18px"
                                                            alt="Gmail icon" />
                                                        <p>Mail</p>
                                                    </button>
                                                </li>
                                                <li>
                                                    <button onclick="shareToWhatsApp()">
                                                        <img src="{% static "front-end/Blog-page/assets/images/whatsapp.png" %}" width="18px"
                                                            alt="Whatsapp icon" />
                                                        <p>Whatsapp</p>
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                                <p class="about">
                                    Very nice property in sec24 rohini near rithala metro
                                    station with in 1km and is iskon temple 200 mtr More About
                                    This Property One
                                </p>
                                <div class="mt-3 d-flex align-items-center justify-content-between">
                                    <p class="date">March 6, 2024</p>
                                    <button>Read More</button>
                                </div>


                            </div>
                        </div>
                        <div class="property-containter">
                            <div class="tag">Heritage</div>
                            <img src="{% static "front-end/Blog-page/assets/images/property-image-2.jpg" %}" class="property-image" alt="Property Image" />
                            <div class="content">
                                <div class="d-flex align-items-end justify-content-between">
                                    <h4>6 BHK Independent Building Floor</h4>
                                    <div class="d-flex">
                                        <div class="share-container">
                                            <img src="{% static "front-end/Blog-page/assets/images/share.png" %}" width="25px" alt="Share icon" />
                                            <ul>
                                                <li>Share it with family and friends</li>
                                                <li>
                                                    <button onclick="copyLink()">
                                                        <img src="{% static "front-end/Blog-page/assets/images/clip.png" %}" width="18px"
                                                            alt="Clip icon" />
                                                        <p>Copy to Clipboard</p>
                                                    </button>
                                                </li>
                                                <li>
                                                    <button onclick="shareToFacebook()">
                                                        <img src="{% static "front-end/Blog-page/assets/images/facebook.png" %}" width="18px"
                                                            alt="Facebook icon" />
                                                        <p>Facebook</p>
                                                    </button>
                                                </li>
                                                <li>
                                                    <button onclick="shareToEmail()">
                                                        <img src="{% static "front-end/Blog-page/assets/images/gmail.png" %}" width="18px"
                                                            alt="Gmail icon" />
                                                        <p>Mail</p>
                                                    </button>
                                                </li>
                                                <li>
                                                    <button onclick="shareToWhatsApp()">
                                                        <img src="{% static "front-end/Blog-page/assets/images/whatsapp.png" %}" width="18px"
                                                            alt="Whatsapp icon" />
                                                        <p>Whatsapp</p>
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                                <p class="about">
                                    Very nice property in sec24 rohini near rithala metro
                                    station with in 1km and is iskon temple 200 mtr More About
                                    This Property One
                                </p>
                                <div class="mt-3 d-flex align-items-center justify-content-between">
                                    <p class="date">March 6, 2024</p>
                                    <button>Read More</button>
                                </div>


                            </div>
                        </div>
                        <div class="property-containter">
                            <div class="tag">Heritage</div>
                            <img src="{% static "front-end/Blog-page/assets/images/property-image-2.jpg" %}" class="property-image" alt="Property Image" />
                            <div class="content">
                                <div class="d-flex align-items-end justify-content-between">
                                    <h4>6 BHK Independent Building Floor</h4>
                                    <div class="d-flex">
                                        <div class="share-container">
                                            <img src="{% static "front-end/Blog-page/assets/images/share.png" %}" width="25px" alt="Share icon" />
                                            <ul>
                                                <li>Share it with family and friends</li>
                                                <li>
                                                    <button onclick="copyLink()">
                                                        <img src="{% static "front-end/Blog-page/assets/images/clip.png" %}" width="18px"
                                                            alt="Clip icon" />
                                                        <p>Copy to Clipboard</p>
                                                    </button>
                                                </li>
                                                <li>
                                                    <button onclick="shareToFacebook()">
                                                        <img src="{% static "front-end/Blog-page/assets/images/facebook.png" %}" width="18px"
                                                            alt="Facebook icon" />
                                                        <p>Facebook</p>
                                                    </button>
                                                </li>
                                                <li>
                                                    <button onclick="shareToEmail()">
                                                        <img src="{% static "front-end/Blog-page/assets/images/gmail.png" %}" width="18px"
                                                            alt="Gmail icon" />
                                                        <p>Mail</p>
                                                    </button>
                                                </li>
                                                <li>
                                                    <button onclick="shareToWhatsApp()">
                                                        <img src="{% static "front-end/Blog-page/assets/images/whatsapp.png" %}" width="18px"
                                                            alt="Whatsapp icon" />
                                                        <p>Whatsapp</p>
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                                <p class="about">
                                    Very nice property in sec24 rohini near rithala metro
                                    station with in 1km and is iskon temple 200 mtr More About
                                    This Property One
                                </p>
                                <div class="mt-3 d-flex align-items-center justify-content-between">
                                    <p class="date">March 6, 2024</p>
                                    <button>Read More</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="nav-button" id="slideRightRelatedProperties">
                        <img src="{% static "front-end/Blog-page/assets/images/right-arrow-white.png" %}" width="25px" alt="Right Arrow icon" />
                    </button>
                </div>
                <!-- More like this Section Ends -->
            </div>
            <!-- Blog Section Ends -->

            <!-- Side Section Starts -->
            <div class="side-section d-flex align-items-start justify-content-between flex-column">
                <div class="upper-side-panel">
                    <div class="read-blog">
                        <h2>Read related blogs</h2>
                        <div class="video-icon-container">
                            <img src="{% static "front-end/Blog-page/assets/images/video.png" %}" class="video-icon" width="100%" alt="Another Image">
                        </div>
                        <div class="solutions">
                            <h2>Solutions</h2>
                            <ul>
                                <li>Find a right property</li>
                                <li>Sell or Rent your property</li>
                                <li>Build your home from scratch</li>
                                <li>Interior Designing & Decor</li>
                                <li>Solar Panel</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="lower-side-panel">
                    <div class="video-icon-container">
                        <img src="{% static "front-end/Blog-page/assets/images/video.png" %}" class="video-icon" width="100%" alt="Another Image">
                    </div>
                    <div class="video-icon-container mt-3">
                        <img src="{% static "front-end/Blog-page/assets/images/video.png" %}" class="video-icon" width="100%" alt="Another Image">
                    </div>
                    <div class="featured-property-container my-4">
                        <div class="featured-property-container-inner">
                            <h5>Featured Properties</h5>
                            <div class="d-flex align-items-center justify-content-between my-3">
                                <div class="property-container">
                                    <img class="property-image" src="{% static "front-end/Blog-page/assets/images/property-image-4.jpg" %}"
                                        alt="Property Image" />
                                    <p>Semi furnished 1 BHK in block 2, Garden Villas</p>
                                </div>
                                <div class="property-container">
                                    <img class="property-image" src="{% static "front-end/Blog-page/assets/images/property-image-4.jpg" %}"
                                        alt="Property Image" />
                                    <p>Semi furnished 1 BHK in block 2, Garden Villas</p>
                                </div>
                            </div>
                            <button class="d-flex align-items-center">
                                <p>View More</p>
                                <img src="{% static "front-end/Blog-page/assets/images/right-arrow-white.png" %}" width="20px" alt="Right Arrow icon" />
                            </button>
                        </div>
                    </div>
                    <div class="featured-property-container my-4">
                        <div class="featured-property-container-inner">
                            <h5>Featured Properties</h5>
                            <div class="d-flex align-items-center justify-content-between my-3">
                                <div class="property-container">
                                    <img class="property-image" src="{% static "front-end/Blog-page/assets/images/property-image-4.jpg" %}"
                                        alt="Property Image" />
                                    <p>Semi furnished 1 BHK in block 2, Garden Villas</p>
                                </div>
                                <div class="property-container">
                                    <img class="property-image" src="{% static "front-end/Blog-page/assets/images/property-image-4.jpg" %}"
                                        alt="Property Image" />
                                    <p>Semi furnished 1 BHK in block 2, Garden Villas</p>
                                </div>
                            </div>
                            <button class="d-flex align-items-center">
                                <p>View More</p>
                                <img src="{% static "front-end/Blog-page/assets/images/right-arrow-white.png" %}" width="20px" alt="Right Arrow icon" />
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Side Section Ends -->

        </div>
    </main>

    <!-- Footer Starts -->
    <footer class="footer">
        <div class="container">
            <div class="upper-footer">
                <div class="columns d-flex align-items-start justify-content-between my-3">
                    <div>
                        <img src="{% static "front-end/Blog-page/assets/images/footer-logo.png" %}" width="150px" class="mb-3" />
                        <h3>
                            Connecting You to Your<br />
                            Dream Property.
                        </h3>
                        <button class="white-btn">Try it yourself</button>
                    </div>
                    <div class="">
                        <div>
                            <h4 class="d-flex align-items-center">Company <span class="d-block d-sm-none mx-2 mb-1"><svg
                                        width="14" height="10" viewBox="0 0 12 8" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M1.41 0.590088L6 5.17009L10.59 0.590088L12 2.00009L6 8.00009L0 2.00009L1.41 0.590088Z"
                                            fill="#ffffff" />
                                    </svg></span></h4>
                            <ul>
                                <li>About us</li>
                                <li>Blog</li>
                                <li>Career</li>
                                <li>Contact support</li>
                                <li>Get in touch</li>
                                <li>FAQs</li>
                                <button
                                    class="align-items-center justify-content-center blue-btn mt-3 d-none d-sm-block">
                                    <p class="mx-2">We are hiring</p>
                                    <canvas id="partyPopper"></canvas>
                                </button>
                            </ul>
                        </div>
                    </div>


                    <div class="playStore-btn larger-screen d-flex align-items-center justify-content-between">
                        <a href="#" class="googlePlay-button" id="launch-button">
                            <span class="icon">
                                <svg fill="currentcolor" viewBox="-52.01 0 560.035 560.035"
                                    xmlns="http://www.w3.org/2000/svg" stroke="#ffffff">
                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round">
                                    </g>
                                    <g id="SVGRepo_iconCarrier">
                                        <path
                                            d="M380.844 297.529c.787 84.752 74.349 112.955 75.164 113.314-.622 1.988-11.754 40.191-38.756 79.652-23.343 34.117-47.568 68.107-85.731 68.811-37.499.691-49.557-22.236-92.429-22.236-42.859 0-56.256 21.533-91.753 22.928-36.837 1.395-64.889-36.891-88.424-70.883-48.093-69.53-84.846-196.475-35.496-282.165 24.516-42.554 68.328-69.501 115.882-70.192 36.173-.69 70.315 24.336 92.429 24.336 22.1 0 63.59-30.096 107.208-25.676 18.26.76 69.517 7.376 102.429 55.552-2.652 1.644-61.159 35.704-60.523 106.559M310.369 89.418C329.926 65.745 343.089 32.79 339.498 0 311.308 1.133 277.22 18.785 257 42.445c-18.121 20.952-33.991 54.487-29.709 86.628 31.421 2.431 63.52-15.967 83.078-39.655">
                                        </path>
                                    </g>
                                </svg>
                            </span>
                            <span class="texts">
                                <span class="text-1">Download form</span>
                                <span class="text-2">App store</span>
                            </span>
                        </a>
                        <a href="#" class="appstore-button">
                            <svg viewBox="0 0 512 512" class="icon" fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M99.617 8.057a50.191 50.191 0 00-38.815-6.713l230.932 230.933 74.846-74.846L99.617 8.057zM32.139 20.116c-6.441 8.563-10.148 19.077-10.148 30.199v411.358c0 11.123 3.708 21.636 10.148 30.199l235.877-235.877L32.139 20.116zM464.261 212.087l-67.266-37.637-81.544 81.544 81.548 81.548 67.273-37.64c16.117-9.03 25.738-25.442 25.738-43.908s-9.621-34.877-25.749-43.907zM291.733 279.711L60.815 510.629c3.786.891 7.639 1.371 11.492 1.371a50.275 50.275 0 0027.31-8.07l266.965-149.372-74.849-74.847z">
                                </path>
                            </svg>
                            <span class="texts">
                                <span class="text-1">GET IT ON</span>
                                <span class="text-2">Google Play</span>
                            </span>
                        </a>
                    </div>
                    <div>
                        <h4 class="d-flex align-items-center">Solutions<span class="d-block d-sm-none mx-2 mb-1"><svg
                                    width="14" height="10" viewBox="0 0 12 8" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M1.41 0.590088L6 5.17009L10.59 0.590088L12 2.00009L6 8.00009L0 2.00009L1.41 0.590088Z"
                                        fill="#ffffff" />
                                </svg></span></h4>
                        <div class="d-flex">
                            <ul>
                                <li>Find a Right Property</li>
                                <li>Sell or Rent Your Property</li>
                                <li>Build Your Home From Scratch </li>
                                <li>Interior Designing & Decor</li>
                                <li>Solar Panel</li>
                                <li>Home Loans</li>
                                <li class="d-block d-sm-none">Legal Aid </li>
                                <li class="d-block d-sm-none">Porter Services</li>
                                <li class="d-block d-sm-none">For Business</li>
                            </ul>
                            <ul class="px-3 d-none d-sm-block">
                                <li>Legal Aid </li>
                                <li>Porter Services</li>
                                <li>For Business</li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <h4 class="d-flex align-items-center">Community<span class="d-block d-sm-none mx-2 mb-1"><svg
                                    width="14" height="10" viewBox="0 0 12 8" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M1.41 0.590088L6 5.17009L10.59 0.590088L12 2.00009L6 8.00009L0 2.00009L1.41 0.590088Z"
                                        fill="#ffffff" />
                                </svg></span></h4>
                        <ul>
                            <button class="align-items-center blue-btn refer-btn mt-3 d-none d-sm-block">
                                <p class="mx-2">Refer & Earn</p>
                                <lottie-player src="{% static "front-end/Blog-page/animation-files/fire-animation.json" %}" background="transparent"
                                    speed="1" style="width: 25px; height: 25px" loop autoplay></lottie-player>
                            </button>
                            <li>Realezi Community</li>
                            <li>Customers</li>
                        </ul>
                    </div>
                    <div class="d-block d-sm-none">
                        <h4 class="d-flex align-items-center">Others<span class="d-block d-sm-none mx-2 mb-1"><svg
                                    width="14" height="10" viewBox="0 0 12 8" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M1.41 0.590088L6 5.17009L10.59 0.590088L12 2.00009L6 8.00009L0 2.00009L1.41 0.590088Z"
                                        fill="#ffffff" />
                                </svg></span></h4>
                        <div class="position-relative">
                            <ul>
                                <li>Privacy policies</li>
                                <li>Terms and conditions</li>
                                <li>Disclaimer</li>
                                <li class="text-right">
                                    <button class="align-items-center justify-content-center blue-btn">
                                        <p class="mx-2">We are hiring</p>
                                        <canvas id="partyPopper2"></canvas>
                                    </button>
                                    <button class="align-items-center blue-btn refer-btn mt-3">
                                        <p class="mx-2">Refer & Earn</p>
                                        <lottie-player src="{% static "front-end/Blog-page/animation-files/fire-animation.json" %}"
                                            background="transparent" speed="1" style="width: 25px; height: 25px" loop
                                            autoplay></lottie-player>
                                    </button>
                                </li>
                                <li class="d-flex align-items-center justify-content-center"><a href="#"
                                        class="googlePlay-button" id="launch-button">
                                        <span class="icon">
                                            <svg fill="currentcolor" viewBox="-52.01 0 560.035 560.035"
                                                xmlns="http://www.w3.org/2000/svg" stroke="#ffffff">
                                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round"
                                                    stroke-linejoin="round">
                                                </g>
                                                <g id="SVGRepo_iconCarrier">
                                                    <path
                                                        d="M380.844 297.529c.787 84.752 74.349 112.955 75.164 113.314-.622 1.988-11.754 40.191-38.756 79.652-23.343 34.117-47.568 68.107-85.731 68.811-37.499.691-49.557-22.236-92.429-22.236-42.859 0-56.256 21.533-91.753 22.928-36.837 1.395-64.889-36.891-88.424-70.883-48.093-69.53-84.846-196.475-35.496-282.165 24.516-42.554 68.328-69.501 115.882-70.192 36.173-.69 70.315 24.336 92.429 24.336 22.1 0 63.59-30.096 107.208-25.676 18.26.76 69.517 7.376 102.429 55.552-2.652 1.644-61.159 35.704-60.523 106.559M310.369 89.418C329.926 65.745 343.089 32.79 339.498 0 311.308 1.133 277.22 18.785 257 42.445c-18.121 20.952-33.991 54.487-29.709 86.628 31.421 2.431 63.52-15.967 83.078-39.655">
                                                    </path>
                                                </g>
                                            </svg>
                                        </span>
                                        <span class="texts">
                                            <span class="text-1">Download form</span>
                                            <span class="text-2">App store</span>
                                        </span>
                                    </a>
                                    <a href="#" class="appstore-button">
                                        <svg viewBox="0 0 512 512" class="icon" fill="currentColor"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M99.617 8.057a50.191 50.191 0 00-38.815-6.713l230.932 230.933 74.846-74.846L99.617 8.057zM32.139 20.116c-6.441 8.563-10.148 19.077-10.148 30.199v411.358c0 11.123 3.708 21.636 10.148 30.199l235.877-235.877L32.139 20.116zM464.261 212.087l-67.266-37.637-81.544 81.544 81.548 81.548 67.273-37.64c16.117-9.03 25.738-25.442 25.738-43.908s-9.621-34.877-25.749-43.907zM291.733 279.711L60.815 510.629c3.786.891 7.639 1.371 11.492 1.371a50.275 50.275 0 0027.31-8.07l266.965-149.372-74.849-74.847z">
                                            </path>
                                        </svg>
                                        <span class="texts">
                                            <span class="text-1">GET IT ON</span>
                                            <span class="text-2">Google Play</span>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="lower-footer">
                <div class="lower-upper d-none d-sm-block">
                    <ul class="d-flex align-items-center justify-content-center">
                        <li>Privacy policies</li>
                        <li>Terms and conditions</li>
                        <li>Disclaimer</li>
                    </ul>
                </div>
                <div class="lower-bottom d-flex align-items-center justify-content-between">
                    <p class="text-center">©2024 Realezi. All rights reserved</p>
                    <p>
                        Made with love <img src="{% static "front-end/Blog-page/assets/images/heart.png" %}" width="15px" /> from
                        Realezi
                    </p>
                    <div class="socials-container">
                        <button class="fb-btn social-btn">
                            <img src="{% static "front-end/Blog-page/assets/images/fb.png" %}" width="18px" />
                            <span class="text">Facebook</span>
                        </button>
                        <button class="linkedin-btn social-btn">
                            <img src="{% static "front-end/Blog-page/assets/images/linkedin.png" %}" width="18px" />
                            <span class="text">LinkedIn</span>
                        </button>
                        <button class="insta-btn social-btn">
                            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512" class="svgIcon">
                                <path
                                    d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z">
                                </path>
                            </svg>
                            <span class="text">Instagram</span>
                        </button>
                        <button class="youtube-btn social-btn">
                            <img src="{% static "front-end/Blog-page/assets/images/youtube-triangle.png" %}" width="10px" />
                            <span class="text">Youtube</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Ends -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/@rive-app/canvas@latest"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="{% static "front-end\Blog-page/js/script.js" %}"></script>
    <script defer src="{% static "front-end\Blog-page/js/footer.js" %}"></script>
</body>

</html>