<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Career</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&family=Offside&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3" />
    <link href="{% static 'front-end/career/career.css' %}" rel="stylesheet" />


</head>

<body>
    <!-- Header -->
    <header>
        <a href="https://www.realezi.com"><img class="header-logo" src="{% static 'front-end/career/images/header-logo.png' %}" width="150px" alt="Logo"></a>
        {% include 'Frontend/header-new-1.html' %}
    </header>

    <!-- Main -->
    <main>
        <div class="container">

            <div class="hero-section position-relative">
                <h1>On a Mission to make Real Estate simple<br>—where Trust, Transparency & Technology<br> help you
                    click
                    with
                    opportunities,<br> connect confidently, and close successfully</h1>
                <div class="rocket-container">
                    <img class="rocket" src="{% static 'front-end/career/images/render37.gif' %}" width="105px" alt="Realezi logo rocket">
                </div>
                <!-- Image Slider Section -->
                <div class="image-slider-container">
                    <div class="image-slider d-flex align-items-center justify-content-center">
                        <img class="img-1" src="{% static 'front-end/career/images/1.jpg' %}" alt="" width="300px">
                        <img class="img-2" src="{% static 'front-end/career/images/2.jpg' %}" alt="" width="300px">
                        <img class="img-3" src="{% static 'front-end/career/images/3.jpg' %}" alt="" width="300px">
                        <img class="img-4" src="{% static 'front-end/career/images/4.jpg' %}" alt="" width="300px">
                        <img class="img-5" src="{% static 'front-end/career/images/5.jpg' %}" alt="" width="300px">
                        <img class="img-6" src="{% static 'front-end/career/images/6.jpg' %}" alt="" width="300px">
                        <img class="img-7" src="{% static 'front-end/career/images/1.jpg' %}" alt="" width="300px">
                        <img class="img-8" src="{% static 'front-end/career/images/2.jpg' %}" alt="" width="300px">
                        <img class="img-9" src="{% static 'front-end/career/images/3.jpg' %}" alt="" width="300px">
                        <img class="img-10" src="{% static 'front-end/career/images/4.jpg' %}" alt="" width="300px">
                        <img class="img-11" src="{% static 'front-end/career/images/5.jpg' %}" alt="" width="300px">
                        <img class="img-12" src="{% static 'front-end/career/images/6.jpg' %}" alt="" width="300px">
                    </div>
                </div>

                <!-- Message from Co-Founder Section-->
                <div class="message-section">
                    <h2>A Message <br>From the Founder</h2>
                    <div class="message-container d-flex align-items-start justify-content-center my-3">
                        <div class="image-container">
                            <img src="{% static 'front-end/career/images/founder-img.png' %}" width="500px" alt="Image of Co-Founder of the Company">
                        </div>
                        <div class="message">
                            <p>At Realezi, we are not just facilitating transactions—we're shaping futures. We think
                                that the best companies are the ones where people feel that they are part of something
                                bigger than themselves, and that’s what we do at Realezi.</p>
                            <p>As a member of Realezi, you are stepping into a culture where knowledge and growth are as
                                valuable as your productivity. We’re a team that does not fear the unknown, looks
                                forward to challenges, and celebrates every single milestone each of us achieves.</p>
                            <p>So, if you are the type of person who wants to achieve their personal and professional
                                goals while having innovative and creative freedom, Realezi is the place for you.
                                Because this is where real people make a real impact. Let’s build something
                                extraordinary.</p>
                            <p>-Hitesh Udhwani</p>
                        </div>
                    </div>
                </div>

                <!-- Join Us Section -->
                <div class="join-us-section">
                    <h2>IF YOU SHARE OUR VALUES, <br>LOVE TEAMWORK, AND WANT TO<br> ACTUALLY CHANGE HOW REAL ESTATE<br>
                        WORKS, WE’RE LOOKING FOR YOU.</h2>
                    <a href="{% url 'job_list' %}"><button>Join Us Now</button></a>
                </div>
            </div>
        </div>
    </main>

    <!-- Footer -->
    {% include 'Frontend/footer-page-new.html' %}
    <!-- Footer Ends -->
     
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.1/ScrollTrigger.min.js"></script>
    <script src="https://unpkg.com/@rive-app/canvas@2.9.1"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script defer src="{% static 'front-end/career/navbar.js' %}"></script>
    <script defer src="{% static 'front-end/career/rive-animations.js' %}"></script>
    <script defer src="{% static 'front-end/career/rocket-animation.js' %}"></script>
    <script defer src="{% static 'front-end/career/footer.js' %}"></script>
</body>

</html>