<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&family=Offside&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link href="{% static 'front-end/contact-us/contact-us.css' %}" rel="stylesheet" />
    <style>
        .navbar a {
            text-decoration: none !important;
            color: white;
        }
    </style>
</head>

<body>

    <header>
        <a href="https://www.realezi.com"><img class="header-logo" src="{% static 'front-end/contact-us/assets/images/logo.png' %}" width="100px" alt="Logo">
        <div class="header"></a>
            <a href="https://www.realezi.com"><img class="mobile-header-logo" src="{% static 'front-end/contact-us/assets/images/logo.png' %}" width="100px" alt="Logo">
            <nav class="navbar"></a>
                <ul>
                    <a href="https://www.realezi.com"><li>Home</li></a>
                    <a href=""><li>About</li></a>
                    <a href="{% url 'blog_rent_buy' %}"><li>Buy or Rent</li></a>
                    <a href="{% url 'customer_review' %}"><li>Customers</li></a>
                    <li class="active">Contact</li>
                </ul>
            </nav>
            <div class="mobile-view-nav">
                <ul>
                    <a href="https://www.realezi.com"><li>Home</li></a>
                    <a href=""><li>About</li></a>
                    <a href="{% url 'blog_rent_buy' %}"><li>Buy or Rent</li></a>
                    <a href="{% url 'customer_review' %}"><li>Customers</li></a>
                    <li class="active">Contact</li>
                </ul>
            </div>
            <input id="checkbox" type="checkbox">
            <label class="toggle" for="checkbox">
                <div id="bar1" class="bars"></div>
                <div id="bar2" class="bars"></div>
                <div id="bar3" class="bars"></div>
                <div id="bar4" class="bars"></div>
                <div id="bar5" class="bars"></div>
            </label>
        </div>
    </header>

    <main class="container">
        <!-- Form Section Starts -->
        <div class="form-section d-flex align-items-center justify-content-between">
            <div class="form-container">
                <h1>Ready to be a part <br>
                    of Realezi community?</h1>
                <form id="contactForm">
                    <div class="upper-input my-4 d-flex align-items-center justify-content-between">
                        <input type="text" name="fullName" placeholder="Full Name" autocomplete="off" required>
                        <input type="email" name="email" placeholder="Email" autocomplete="off" required>
                    </div>
                    <input type="text" name="note" placeholder="If you have something to tell" autocomplete="off"
                        required>
                    <div class="d-flex align-items-center justify-content-between">
                        <p>By sending this form I confirm that I have<br> read and accept the <span>Privacy
                                Policies</span>
                        </p>
                        <button type="submit" class="d-flex align-items-center" disabled>
                            <p>Send a Message</p>
                            <img src="{% static 'front-end/contact-us/assets/images/submit-arrow.png' %}" width="30px" alt="">
                        </button>
                    </div>
                </form>
            </div>
            <div class="image-container ">
                <div class="position-relative">
                    <img src="{% static 'front-end/contact-us/assets/images/community.png' %}" width="500px" alt="">
                    <p class="text-on-image">Community</p>
                    <p class="d-none text-center">We have received your message, our dedicated<br> team will get in
                        touch with you
                        shortly. </p>
                </div>
                <div id="open-form" class="open-form align-items-center justify-content-between">
                    <p class="text-start">Forget something, want to say<br> something else?</p>
                    <button type="submit" class="d-flex align-items-center">
                        <p>Send a Message</p>
                        <img src="{% static 'front-end/contact-us/assets/images/submit-arrow.png' %}" width="30px" alt="">
                    </button>
                </div>
            </div>
        </div>
        <!-- Form section Ends -->

        <!-- Contact Section Starts -->
        <div class="contact-section text-center d-flex align-items-center justify-content-center flex-column mt-3">
            <h2 class="mb-3">In case of any queries:</h2>
            <div class="tooltip-container">
                <span class="text">
                    <svg viewBox="0 0 16 16" class="bi bi-send-fill" height="22" width="22"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471z">
                        </path>
                    </svg>
                </span>
                <a href="#" target="_blank" class="tooltip1">
                    <svg viewBox="0 0 16 16" class="bi bi-twitter" height="20" width="20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334q.002-.211-.006-.422A6.7 6.7 0 0 0 16 3.542a6.7 6.7 0 0 1-1.889.518 3.3 3.3 0 0 0 1.447-1.817 6.5 6.5 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.32 9.32 0 0 1-6.767-3.429 3.29 3.29 0 0 0 1.018 4.382A3.3 3.3 0 0 1 .64 6.575v.045a3.29 3.29 0 0 0 2.632 3.218 3.2 3.2 0 0 1-.865.115 3 3 0 0 1-.614-.057 3.28 3.28 0 0 0 3.067 2.277A6.6 6.6 0 0 1 .78 13.58a6 6 0 0 1-.78-.045A9.34 9.34 0 0 0 5.026 15">
                        </path>
                    </svg>
                </a>
                <a href="https://www.facebook.com/profile.php?id=100095528529674&mibextid=ZbWKwL" target="_blank"
                    class="tooltip2">
                    <svg viewBox="0 0 16 16" class="bi bi-facebook" height="20" width="20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951">
                        </path>
                    </svg>
                </a>
                <a href="https://wa.me/918780953097" target="_blank" class="tooltip3">
                    <svg viewBox="0 0 16 16" class="bi bi-whatsapp" height="20" width="20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M13.601 2.326A7.85 7.85 0 0 0 7.994 0C3.627 0 .068 3.558.064 7.926c0 1.399.366 2.76 1.057 3.965L0 16l4.204-1.102a7.9 7.9 0 0 0 3.79.965h.004c4.368 0 7.926-3.558 7.93-7.93A7.9 7.9 0 0 0 13.6 2.326zM7.994 14.521a6.6 6.6 0 0 1-3.356-.92l-.24-.144-2.494.654.666-2.433-.156-.251a6.56 6.56 0 0 1-1.007-3.505c0-3.626 2.957-6.584 6.591-6.584a6.56 6.56 0 0 1 4.66 1.931 6.56 6.56 0 0 1 1.928 4.66c-.004 3.639-2.961 6.592-6.592 6.592m3.615-4.934c-.197-.099-1.17-.578-1.353-.646-.182-.065-.315-.099-.445.099-.133.197-.513.646-.627.775-.114.133-.232.148-.43.05-.197-.1-.836-.308-1.592-.985-.59-.525-.985-1.175-1.103-1.372-.114-.198-.011-.304.088-.403.087-.088.197-.232.296-.346.1-.114.133-.198.198-.33.065-.134.034-.248-.015-.347-.05-.099-.445-1.076-.612-1.47-.16-.389-.323-.335-.445-.34-.114-.007-.247-.007-.38-.007a.73.73 0 0 0-.529.247c-.182.198-.691.677-.691 1.654s.71 1.916.81 2.049c.098.133 1.394 2.132 3.383 2.992.47.205.84.326 1.129.418.475.152.904.129 1.246.08.38-.058 1.171-.48 1.338-.943.164-.464.164-.86.114-.943-.049-.084-.182-.133-.38-.232">
                        </path>
                    </svg>
                    </span>
                    <a href="https://www.linkedin.com/company/realezi/" target="_blank" class="tooltip4">
                        <img src="{% static 'front-end/contact-us/assets/images/linkedin-logo.png' %}" width="20px" alt="LinkedIn logo">
                    </a>
                    <span class="tooltip5">
                        <img src="{% static 'front-end/contact-us/assets/images/gmail.png' %}" width="24px" alt="Gmail logo">
                        <div class="mail-modal modal  align-items-center justify-content-center">
                            <img src="{% static 'front-end/contact-us/assets/images/gmail-color.png' %}" width="20px" alt="">
                            <p class="mx-2">connect@realezi.com</p>
                            <img src="{% static 'front-end/contact-us/assets/images/copy.png' %}" width="20px" alt=""
                                onclick="navigator.clipboard.writeText('connect@realezi.com'); alert('Email Address copied to clipboard!');">
                        </div>
                    </span>
                    <span class="tooltip6">
                        <img src="{% static 'front-end/contact-us/assets/images/phone-call.png' %}" width="20px" alt="Phone logo">
                        <div class="phone-number-modal modal  align-items-center justify-content-center">
                            <img src="{% static 'front-end/contact-us/assets/images/phone.png' %}" width="20px" alt="">
                            <p class="mx-2">+91 878 095 3097</p>
                            <img src="{% static 'front-end/contact-us/assets/images/copy.png' %}" width="20px" alt=""
                                onclick="navigator.clipboard.writeText('+918780953097'); alert('Phone number copied to clipboard!');">
                        </div>
                    </span>
                    <a href="https://www.youtube.com/@Realezi" target="_blank" class="tooltip7">

                        <img src="{% static 'front-end/contact-us/assets/images/youtube-dark.png' %}" width="15px" alt="Youtube icon">
                    </a>
                    <span class="tooltip9"> </span>
            </div>

        </div>
        <!-- Contact Section Ends -->

    </main>

    {% include 'Frontend/footer-page-new.html' %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/@rive-app/canvas@2.9.1"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.1/gsap.min.js"></script>
    <script defer src="{% static 'front-end/contact-us/js/navbar.js' %}"></script>
    <script defer src="{% static 'front-end/contact-us/js/main.js' %}"></script>
    <script defer src="{% static 'front-end/contact-us/js/footer.js' %}"></script>

</body>

</html>