<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Realezi</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&family=Offside&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3" />
  <link href="{% static 'front-end/customer_review/customer-review.css' %}" rel="stylesheet" />


</head>

<body>
  <header>
    <img class="header-logo" src="{% static 'front-end/customer_review/images/logo2.png' %}" width="100px" alt="Logo">
    <nav class="navbar">
      <ul>
        <a href="https://www.realezi.com"><li>Home</li></a>
        <a href=""><li>About</li></a>
        <a href="{% url 'blog_rent_buy' %}"><li>Buy or Rent</li></a>
        <li class="active">Customers</li>
        <a href="{% url 'contact_us' %}"><li>Contact</li></a>
      </ul>
    </nav>
    <div class="mobile-view-nav">
      <ul>
        <a href="https://www.realezi.com"><li>Home</li></a>
        <a href=""><li>About</li></a>
        <a href="{% url 'blog_rent_buy' %}"><li>Buy or Rent</li></a>
        <li class="active">Customers</li>
        <a href="{% url 'contact_us' %}"><li>Contact</li></a>
      </ul>
    </div>
    <input id="checkbox" type="checkbox">
    <label class="toggle" for="checkbox">
      <div id="bar1" class="bars"></div>
      <div id="bar2" class="bars"></div>
      <div id="bar3" class="bars"></div>
      <div id="bar4" class="bars"></div>
      <div id="bar5" class="bars"></div>
    </label>
  </header>

  <main>
    <section class="section-main">
      <img class="logo" src="{% static 'front-end/customer_review/images/logo2.png' %}" width="110px" alt="Logo">
      <section class="section-review">
        <div class="">
          <div class="px-4 py-4 my-4 text-center">
            <h1 class="display-4 fw-bold text-white">
              Teams like yours are building <br />
              from their product data
            </h1>
          </div>
          <div class="main_reviews">
            <div>
              <div class="review-container diag_slides">
                <div class="diag_slides_lines">
                  <div class="diag_slides_line odd">
                    <div class="review-card">
                      <div class="review-header">
                        <img src="{% static 'front-end/customer_review/images/users/img5.png' %}" alt="User Image">
                        <div class="user-info">
                          <span class="username">@EuroGent10</span>
                          <span class="name">Luca Bianchi</span>
                        </div>
                      </div>
                      <div class="review-feedback">

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum
                        interdum.
                      </div>
                    </div>

                    <div class="review-card">
                      <div class="review-header">
                        <img src="{% static 'front-end/customer_review/images/users/img6.png' %}" alt="User Image">
                        <div class="user-info">
                          <span class="username">@AmerLady77</span>
                          <span class="name">Samantha Davis</span>
                        </div>
                      </div>
                      <div class="review-feedback">

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum
                        interdum.
                      </div>
                    </div>
                    <div class="review-card">
                      <div class="review-header">
                        <img src="{% static 'front-end/customer_review/images/users/img8.png' %}" alt="User Image">
                        <div class="user-info">
                          <span class="username">@EuroLady15</span>
                          <span class="name">Elena Petrova</span>
                        </div>
                      </div>
                      <div class="review-feedback">

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum
                        interdum.
                      </div>
                    </div>
                    <div class="review-card">
                      <div class="review-header">
                        <img src="{% static 'front-end/customer_review/images/users/img3.png' %}" alt="User Image">
                        <div class="user-info">
                          <span class="username">@AmerMan89</span>
                          <span class="name">Michael Brown</span>
                        </div>
                      </div>
                      <div class="review-feedback">

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum
                        interdum.
                      </div>
                    </div>
                    <div class="review-card">
                      <div class="review-header">
                        <img src="{% static 'front-end/customer_review/images/users/img13.png' %}" alt="User Image">
                        <div class="user-info">
                          <span class="username">@AmerMan89</span>
                          <span class="name">Michael Brown</span>
                        </div>
                      </div>
                      <div class="review-feedback">

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum
                        interdum.
                      </div>
                    </div>
                    <div class="review-card">
                      <div class="review-header">
                        <img src="{% static 'front-end/customer_review/images/users/img5.png' %}" alt="User Image">
                        <div class="user-info">
                          <span class="username">@AmerMan89</span>
                          <span class="name">Michael Brown</span>
                        </div>
                      </div>
                      <div class="review-feedback">

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum
                        interdum.
                      </div>
                    </div>
                    <div class="review-card">
                      <div class="review-header">
                        <img src="{% static 'front-end/customer_review/images/users/img3.png' %}" alt="User Image">
                        <div class="user-info">
                          <span class="username">@AmerMan89</span>
                          <span class="name">Michael Brown</span>
                        </div>
                      </div>
                      <div class="review-feedback">

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum
                        interdum.
                      </div>
                    </div>
                    <div class="review-card">
                      <div class="review-header">
                        <img src="{% static 'front-end/customer_review/images/users/img9.png' %}" alt="User Image">
                        <div class="user-info">
                          <span class="username">@AmerMan89</span>
                          <span class="name">Michael Brown</span>
                        </div>
                      </div>
                      <div class="review-feedback">

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum
                        interdum.
                      </div>
                    </div>
                  </div>
                  <div class="diag_slides_line even">
                    <div class="review-card">
                      <div class="review-header">
                        <img src="{% static 'front-end/customer_review/images/users/img1.png' %}" alt="User Image">
                        <div class="user-info">
                          <span class="username">@AmerMan89</span>
                          <span class="name">Michael Brown</span>
                        </div>
                      </div>
                      <div class="review-feedback">

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum
                        interdum.
                      </div>
                    </div>
                    <div class="review-card">
                      <div class="review-header">
                        <img src="{% static 'front-end/customer_review/images/users/img2.png' %}" alt="User Image">
                        <div class="user-info">
                          <span class="username">@AmerLady22</span>
                          <span class="name">Emily Johnson</span>
                        </div>
                      </div>
                      <div class="review-feedback">

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum
                        interdum.
                      </div>
                    </div>
                    <div class="review-card">
                      <div class="review-header">
                        <img src="{% static 'front-end/customer_review/images/users/img5.png' %}" alt="User Image">
                        <div class="user-info">
                          <span class="username">@EuroLady07</span>
                          <span class="name">Sophia Müller</span>
                        </div>
                      </div>
                      <div class="review-feedback">

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum
                        interdum.
                      </div>
                    </div>
                    <div class="review-card">
                      <div class="review-header">
                        <img src="{% static 'front-end/customer_review/images/users/img5.png' %}" alt="User Image">
                        <div class="user-info">
                          <span class="username">@AmerMan89</span>
                          <span class="name">Michael Brown</span>
                        </div>
                      </div>
                      <div class="review-feedback">

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum
                        interdum.
                      </div>
                    </div>
                    <div class="review-card">
                      <div class="review-header">
                        <img src="{% static 'front-end/customer_review/images/users/img5.png' %}" alt="User Image">
                        <div class="user-info">
                          <span class="username">@EuroMan05</span>
                          <span class="name">David Rossi</span>
                        </div>
                      </div>
                      <div class="review-feedback">

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum
                        interdum.
                      </div>
                    </div>
                    <div class="review-card">
                      <div class="review-header">
                        <img src="{% static 'front-end/customer_review/images/users/img5.png' %}" alt="User Image">
                        <div class="user-info">
                          <span class="username">@AmerMan89</span>
                          <span class="name">Michael Brown</span>
                        </div>
                      </div>
                      <div class="review-feedback">

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum
                        interdum.
                      </div>
                    </div>
                    <div class="review-card">
                      <div class="review-header">
                        <img src="{% static 'front-end/customer_review/images/users/img5.png' %}" alt="User Image">
                        <div class="user-info">
                          <span class="username">@AmerWoman34</span>
                          <span class="name">Jessica Lee</span>
                        </div>
                      </div>
                      <div class="review-feedback">

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum
                        interdum.
                      </div>
                    </div>
                    <div class="review-card">
                      <div class="review-header">
                        <img src="{% static 'front-end/customer_review/images/users/img5.png' %}" alt="User Image">
                        <div class="user-info">
                          <span class="username">@AmerMan89</span>
                          <span class="name">Michael Brown</span>
                        </div>
                      </div>
                      <div class="review-feedback">

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum
                        interdum.
                      </div>
                    </div>
                  </div>
                  <div class="diag_slides_line odd">
                    <div class="review-card">
                      <div class="review-header">
                        <img src="{% static 'front-end/customer_review/images/users/img5.png' %}" alt="User Image">
                        <div class="user-info">
                          <span class="username">@EuroGent10</span>
                          <span class="name">Luca Bianchi</span>
                        </div>
                      </div>
                      <div class="review-feedback">

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum
                        interdum.
                      </div>
                    </div>

                    <div class="review-card">
                      <div class="review-header">
                        <img src="{% static 'front-end/customer_review/images/users/img6.png' %}" alt="User Image">
                        <div class="user-info">
                          <span class="username">@AmerLady77</span>
                          <span class="name">Samantha Davis</span>
                        </div>
                      </div>
                      <div class="review-feedback">

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum
                        interdum.
                      </div>
                    </div>
                    <div class="review-card">
                      <div class="review-header">
                        <img src="{% static 'front-end/customer_review/images/users/img8.png' %}" alt="User Image">
                        <div class="user-info">
                          <span class="username">@EuroLady15</span>
                          <span class="name">Elena Petrova</span>
                        </div>
                      </div>
                      <div class="review-feedback">

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum
                        interdum.
                      </div>
                    </div>
                    <div class="review-card">
                      <div class="review-header">
                        <img src="{% static 'front-end/customer_review/images/users/img3.png' %}" alt="User Image">
                        <div class="user-info">
                          <span class="username">@AmerMan89</span>
                          <span class="name">Michael Brown</span>
                        </div>
                      </div>
                      <div class="review-feedback">

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum
                        interdum.
                      </div>
                    </div>
                    <div class="review-card">
                      <div class="review-header">
                        <img src="{% static 'front-end/customer_review/images/users/img13.png' %}" alt="User Image">
                        <div class="user-info">
                          <span class="username">@AmerMan89</span>
                          <span class="name">Michael Brown</span>
                        </div>
                      </div>
                      <div class="review-feedback">

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum
                        interdum.
                      </div>
                    </div>
                    <div class="review-card">
                      <div class="review-header">
                        <img src="{% static 'front-end/customer_review/images/users/img5.png' %}" alt="User Image">
                        <div class="user-info">
                          <span class="username">@AmerMan89</span>
                          <span class="name">Michael Brown</span>
                        </div>
                      </div>
                      <div class="review-feedback">

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum
                        interdum.
                      </div>
                    </div>
                    <div class="review-card">
                      <div class="review-header">
                        <img src="{% static 'front-end/customer_review/images/users/img3.png' %}" alt="User Image">
                        <div class="user-info">
                          <span class="username">@AmerMan89</span>
                          <span class="name">Michael Brown</span>
                        </div>
                      </div>
                      <div class="review-feedback">

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum
                        interdum.
                      </div>
                    </div>
                    <div class="review-card">
                      <div class="review-header">
                        <img src="{% static 'front-end/customer_review/images/users/img9.png' %}" alt="User Image">
                        <div class="user-info">
                          <span class="username">@AmerMan89</span>
                          <span class="name">Michael Brown</span>
                        </div>
                      </div>
                      <div class="review-feedback">

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum
                        interdum.
                      </div>
                    </div>
                  </div>
                  <div class="diag_slides_line even">
                    <div class="review-card">
                      <div class="review-header">
                        <img src="{% static 'front-end/customer_review/images/users/img10.png' %}" alt="User Image">
                        <div class="user-info">
                          <span class="username">@AmerMan89</span>
                          <span class="name">Michael Brown</span>
                        </div>
                      </div>
                      <div class="review-feedback">

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum
                        interdum.
                      </div>
                    </div>
                    <div class="review-card">
                      <div class="review-header">
                        <img src="{% static 'front-end/customer_review/images/users/img5.png' %}" alt="User Image">
                        <div class="user-info">
                          <span class="username">@AmerMan89</span>
                          <span class="name">Michael Brown</span>
                        </div>
                      </div>
                      <div class="review-feedback">

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum
                        interdum.
                      </div>
                    </div>
                    <div class="review-card">
                      <div class="review-header">
                        <img src="{% static 'front-end/customer_review/images/users/img12.png' %}" alt="User Image">
                        <div class="user-info">
                          <span class="username">@AmerMan89</span>
                          <span class="name">Michael Brown</span>
                        </div>
                      </div>
                      <div class="review-feedback">

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum
                        interdum.
                      </div>
                    </div>
                    <div class="review-card">
                      <div class="review-header">
                        <img src="{% static 'front-end/customer_review/images/users/img11.png' %}" alt="User Image">
                        <div class="user-info">
                          <span class="username">@AmerMan89</span>
                          <span class="name">Michael Brown</span>
                        </div>
                      </div>
                      <div class="review-feedback">

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum
                        interdum.
                      </div>
                    </div>
                    <div class="review-card">
                      <div class="review-header">
                        <img src="{% static 'front-end/customer_review/images/users/img4.png' %}" alt="User Image">
                        <div class="user-info">
                          <span class="username">@AmerMan89</span>
                          <span class="name">Michael Brown</span>
                        </div>
                      </div>
                      <div class="review-feedback">

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum
                        interdum.
                      </div>
                    </div>
                    <div class="review-card">
                      <div class="review-header">
                        <img src="{% static 'front-end/customer_review/images/users/img6.png' %}" alt="User Image">
                        <div class="user-info">
                          <span class="username">@AmerMan89</span>
                          <span class="name">Michael Brown</span>
                        </div>
                      </div>
                      <div class="review-feedback">

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum
                        interdum.
                      </div>
                    </div>
                    <div class="review-card">
                      <div class="review-header">
                        <img src="{% static 'front-end/customer_review/images/users/img7.png' %}" alt="User Image">
                        <div class="user-info">
                          <span class="username">@AmerMan89</span>
                          <span class="name">Michael Brown</span>
                        </div>
                      </div>
                      <div class="review-feedback">

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum
                        interdum.
                      </div>
                    </div>
                    <div class="review-card">
                      <div class="review-header">
                        <img src="{% static 'front-end/customer_review/images/users/img5.png' %}" alt="User Image">
                        <div class="user-info">
                          <span class="username">@AmerMan89</span>
                          <span class="name">Michael Brown</span>
                        </div>
                      </div>
                      <div class="review-feedback">

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum
                        interdum.
                      </div>
                    </div>
                  </div>
                  <div class="diag_slides_line odd">
                    <div class="review-card">
                      <div class="review-header">
                        <img src="{% static 'front-end/customer_review/images/users/img5.png' %}" alt="User Image">
                        <div class="user-info">
                          <span class="username">@AmerMan89</span>
                          <span class="name">Michael Brown</span>
                        </div>
                      </div>
                      <div class="review-feedback">

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum
                        interdum.
                      </div>
                    </div>
                    <div class="review-card">
                      <div class="review-header">
                        <img src="{% static 'front-end/customer_review/images/users/img5.png' %}" alt="User Image">
                        <div class="user-info">
                          <span class="username">@AmerMan89</span>
                          <span class="name">Michael Brown</span>
                        </div>
                      </div>
                      <div class="review-feedback">

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum
                        interdum.
                      </div>
                    </div>
                    <div class="review-card">
                      <div class="review-header">
                        <img src="{% static 'front-end/customer_review/images/users/img5.png' %}" alt="User Image">
                        <div class="user-info">
                          <span class="username">@AmerMan89</span>
                          <span class="name">Michael Brown</span>
                        </div>
                      </div>
                      <div class="review-feedback">

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum
                        interdum.
                      </div>
                    </div>
                    <div class="review-card">
                      <div class="review-header">
                        <img src="{% static 'front-end/customer_review/images/users/img1.png' %}" alt="User Image">
                        <div class="user-info">
                          <span class="username">@AmerMan89</span>
                          <span class="name">Michael Brown</span>
                        </div>
                      </div>
                      <div class="review-feedback">

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum
                        interdum.
                      </div>
                    </div>
                    <div class="review-card">
                      <div class="review-header">
                        <img src="{% static 'front-end/customer_review/images/users/img2.png' %}" alt="User Image">
                        <div class="user-info">
                          <span class="username">@AmerMan89</span>
                          <span class="name">Michael Brown</span>
                        </div>
                      </div>
                      <div class="review-feedback">

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum
                        interdum.
                      </div>
                    </div>
                    <div class="review-card">
                      <div class="review-header">
                        <img src="{% static 'front-end/customer_review/images/users/img4.png' %}" alt="User Image">
                        <div class="user-info">
                          <span class="username">@AmerMan89</span>
                          <span class="name">Michael Brown</span>
                        </div>
                      </div>
                      <div class="review-feedback">

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum
                        interdum.
                      </div>
                    </div>
                    <div class="review-card">
                      <div class="review-header">
                        <img src="{% static 'front-end/customer_review/images/users/img6.png' %}" alt="User Image">
                        <div class="user-info">
                          <span class="username">@AmerMan89</span>
                          <span class="name">Michael Brown</span>
                        </div>
                      </div>
                      <div class="review-feedback">

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum
                        interdum.
                      </div>
                    </div>
                    <div class="review-card">
                      <div class="review-header">
                        <img src="{% static 'front-end/customer_review/images/users/img7.png' %}" alt="User Image">
                        <div class="user-info">
                          <span class="username">@AmerMan89</span>
                          <span class="name">Michael Brown</span>
                        </div>
                      </div>
                      <div class="review-feedback">

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum
                        interdum.
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

      </section>


      <section class="section-delight">
        <div class="title">
          <span>
            Delighting 1000+ customers
          </span>
        </div>

        <div class="">
          <div class="container">
            <div class="tab_header">
              <span class="tab_active" data-tab="building-owners">Building Owners</span>
              <span data-tab="developers">Developers</span>
              <span data-tab="channel-partners">Channel Partners</span>
            </div>
          </div>


          <div class="container">
            <div class="tab_card">

              <div class="card_body building-owners active">
                <div class="justify-space-between">
                  <div class="main_body">
                    <div class="row">
                      <div class="col-lg-8 col-md-12 right">
                        <span class="title">consumer tech</span>


                        <img src="{% static 'front-end/customer_review/images/yelp.svg' %}" alt="" class="small_logo">


                        <blockquote>
                          <p>Mixpanel enables our product managers and designers to
                            uncover and focus on larger opportunities for product
                            discovery and improvement.
                          </p>
                          <cite><strong>Sid Arora</strong>, Head of Data
                            Products –
                            Analytics and Experimentation
                          </cite>
                        </blockquote>
                      </div>
                      <div class="col-lg-4 left d-none d-lg-block d-xl-block d-xxl-block">

                        <img src="{% static 'front-end/customer_review/images/yelp.svg' %}" alt="" class="big_logo">


                      </div>
                    </div>
                  </div>

                  <div class="fotter d-none d-lg-block d-xl-block d-xxl-block">
                    <div class="body">
                      <div class="row">
                        <div class="col-3 left_part">
                          <span>More industry customers
                          </span>
                        </div>
                        <div class="col-8 right_part">
                          <ul>
                            <li>
                              <div class="customers_uber-logo__wv04z customers_logo__drRpE">
                                <img src="{% static 'front-end/customer_review/images/uber.svg' %}" alt="uber">
                              </div>
                            </li>
                            <li>
                              <div class="customers_ziprecruiter-logo___SEXH customers_logo__drRpE">
                                <img src="{% static 'front-end/customer_review/images/zip-recruiter.svg' %}" alt="zip-recruiter">
                              </div>
                            </li>
                            <li>
                              <div class="customers_rakutenviber-logo__7Pm8P customers_logo__drRpE">
                                <img src="{% static 'front-end/customer_review/images/rakuten-viber.svg' %}" alt="rakuten-viber">
                              </div>
                            </li>
                            <li>
                              <div class="customers_logo__drRpE">
                                <img src="{% static 'front-end/customer_review/images/resy.svg' %}" alt="resy" class="">
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>


              </div>

              <div class="card_body developers">
                <div class="justify-space-between">
                  <div class="main_body">
                    <div class="row  ">
                      <div class="col-lg-8 col-md-12 right">
                        <span class="title">Media + Entertainment</span>
                        <img src="{% static 'front-end/customer_review/images/ticketmaster.svg' %}" alt="Paris" class="small_logo">

                        <blockquote>
                          <p>Using a data-driven development strategy, our team uses
                            Mixpanel to find insightful usage trends. Now, we can more
                            easily recognize the strengths and weaknesses of our product.
                          </p>
                          <cite><strong>Christopher Vezzuto</strong>, Senior Software
                            Engineer
                          </cite>
                        </blockquote>
                      </div>
                      <div class="col-lg-4 left d-none d-lg-block d-xl-block d-xxl-block">


                        <img src="{% static 'front-end/customer_review/images/ticketmaster.svg' %}" alt="Paris" class="big_logo">

                      </div>
                    </div>
                  </div>

                  <div class="fotter d-none d-lg-block d-xl-block d-xxl-block">
                    <div class="body">
                      <div class="row">
                        <div class="col-3 left_part">
                          <span>More industry customers
                          </span>
                        </div>
                        <div class="col-8 right_part">
                          <ul>
                            <li>
                              <div class="customers_uber-logo__wv04z customers_logo__drRpE">
                                <img src="{% static 'front-end/customer_review/images/uber.svg' %}" alt="uber">
                              </div>
                            </li>
                            <li>
                              <div class="customers_ziprecruiter-logo___SEXH customers_logo__drRpE">
                                <img src="{% static 'front-end/customer_review/images/zip-recruiter.svg' %}" alt="zip-recruiter">
                              </div>
                            </li>
                            <li>
                              <div class="customers_rakutenviber-logo__7Pm8P customers_logo__drRpE">
                                <img src="{% static 'front-end/customer_review/images/rakuten-viber.svg' %}" alt="rakuten-viber">
                              </div>
                            </li>
                            <li>
                              <div class="customers_logo__drRpE">
                                <img src="{% static 'front-end/customer_review/images/resy.svg' %}" alt="resy" class="">
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>

              </div>

              <div class="card_body channel-partners">
                <div class="justify-space-between">
                  <div class="main_body">
                    <div class="row  ">
                      <div class="col-lg-8 col-md-12 right">
                        <span class="title">financial services</span>
                        <img src="{% static 'front-end/customer_review/images/empower.svg' %}" alt="empower" class="small_logo">
                        <blockquote>
                          <p>With Mixpanel, our decisions are backed by data instead of
                            conjecture, meaning we can move forward with real product
                            management work.
                          </p>
                          <cite><strong>Vince Maniago</strong>, VP of Product Management
                          </cite>
                        </blockquote>
                      </div>
                      <div class="col-lg-4 left d-none d-lg-block d-xl-block d-xxl-block">

                        <img src="{% static 'front-end/customer_review/images/empower.svg' %}" alt="" class="big_logo">


                      </div>
                    </div>
                  </div>

                  <div class="fotter d-none d-lg-block d-xl-block d-xxl-block">
                    <div class="body">
                      <div class="row">
                        <div class="col-3 left_part">
                          <span>More industry customers
                          </span>
                        </div>
                        <div class="col-8 right_part">
                          <ul>
                            <li>
                              <div class="customers_uber-logo__wv04z customers_logo__drRpE">
                                <img src="{% static 'front-end/customer_review/images/uber.svg' %}" alt="uber">
                              </div>
                            </li>
                            <li>
                              <div class="customers_ziprecruiter-logo___SEXH customers_logo__drRpE">
                                <img src="{% static 'front-end/customer_review/images/zip-recruiter.svg' %}" alt="zip-recruiter">
                              </div>
                            </li>
                            <li>
                              <div class="customers_rakutenviber-logo__7Pm8P customers_logo__drRpE">
                                <img src="{% static 'front-end/customer_review/images/rakuten-viber.svg' %}" alt="rakuten-viber">
                              </div>
                            </li>
                            <li>
                              <div class="customers_logo__drRpE">
                                <img src="{% static 'front-end/customer_review/images/resy.svg' %}" alt="resy" class="">
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>

              </div>

              <div class="card_body health-wellness">
                <div class="justify-space-between">
                  <div class="main_body">
                    <div class="row  ">
                      <div class="col-lg-8 col-md-12 right">
                        <span class="title">Health + Wellness</span>
                        <img src="{% static 'front-end/customer_review/images/health-wellness.svg' %}" alt="health-wellness" class="small_logo">
                        <blockquote>
                          <p>Mixpanel met our requirements and we had access to all the
                            features. Unlike other products, Mixpanel had no hidden
                            pieces. They go the extra mile to understand our complex
                            HIPAA policies and requirements.
                          </p>
                          <cite><strong>Julia Sanders</strong>, Director of Operations
                          </cite>
                        </blockquote>
                      </div>
                      <div class="col-lg-4 left d-none d-lg-block d-xl-block d-xxl-block">

                        <img src="{% static 'front-end/customer_review/images/health-wellness.svg' %}" alt="health-wellness" class="big_logo">


                      </div>
                    </div>
                  </div>

                  <div class="fotter d-none d-lg-block d-xl-block d-xxl-block">
                    <div class="body">
                      <div class="row">
                        <div class="col-3 left_part">
                          <span>More industry customers
                          </span>
                        </div>
                        <div class="col-8 right_part">
                          <ul>
                            <li>
                              <div class="customers_uber-logo__wv04z customers_logo__drRpE">
                                <img src="{% static 'front-end/customer_review/images/uber.svg' %}" alt="uber">
                              </div>
                            </li>
                            <li>
                              <div class="customers_ziprecruiter-logo___SEXH customers_logo__drRpE">
                                <img src="{% static 'front-end/customer_review/images/zip-recruiter.svg' %}" alt="zip-recruiter">
                              </div>
                            </li>
                            <li>
                              <div class="customers_rakutenviber-logo__7Pm8P customers_logo__drRpE">
                                <img src="{% static 'front-end/customer_review/images/rakuten-viber.svg' %}" alt="rakuten-viber">
                              </div>
                            </li>
                            <li>
                              <div class="customers_logo__drRpE">
                                <img src="{% static 'front-end/customer_review/images/resy.svg' %}" alt="resy" class="">
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>

              </div>

              <div class="card_body saas">
                <div class="justify-space-between">
                  <div class="main_body">
                    <div class="row  ">
                      <div class="col-lg-8 col-md-12 right">
                        <span class="title">Saas</span>
                        <img src="{% static 'front-end/customer_review/images/thoughtspot.svg' %}" alt="thoughtspot" class="small_logo">

                        <blockquote>
                          <p>There is now no meeting where we come in and say, ‘My gut
                            feeling is…’ instead, everything is rooted in facts and what
                            the data is telling us.
                          </p>
                          <cite><strong>Snigdha Jha</strong>, Senior Manager of Data Engineering
                          </cite>
                        </blockquote>
                      </div>
                      <div class="col-lg-4 left d-none d-lg-block d-xl-block d-xxl-block">

                        <img src="{% static 'front-end/customer_review/images/thoughtspot.svg' %}" alt="" class="big_logo">

                      </div>
                    </div>
                  </div>

                  <div class="fotter d-none d-lg-block d-xl-block d-xxl-block">
                    <div class="body">
                      <div class="row">
                        <div class="col-3 left_part">
                          <span>More industry customers
                          </span>
                        </div>
                        <div class="col-8 right_part">
                          <ul>
                            <li>
                              <div class="customers_uber-logo__wv04z customers_logo__drRpE">
                                <img src="{% static 'front-end/customer_review/images/uber.svg' %}" alt="uber">
                              </div>
                            </li>
                            <li>
                              <div class="customers_ziprecruiter-logo___SEXH customers_logo__drRpE">
                                <img src="{% static 'front-end/customer_review/images/zip-recruiter.svg' %}" alt="zip-recruiter">
                              </div>
                            </li>
                            <li>
                              <div class="customers_rakutenviber-logo__7Pm8P customers_logo__drRpE">
                                <img src="{% static 'front-end/customer_review/images/rakuten-viber.svg' %}" alt="rakuten-viber">
                              </div>
                            </li>
                            <li>
                              <div class="customers_logo__drRpE">
                                <img src="{% static 'front-end/customer_review/images/resy.svg' %}" alt="resy" class="">
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>

              </div>



            </div>

          </div>
        </div>

        <div class="bg_shadow">

        </div>
      </section>
    </section>


    <section class="section-info">
      <div class="container px-4 py-5" id="featured-3">
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3 main ">
          <div class="feature col one_section">
            <h3 class="display-1 ">3X</h3>
            <p class="display-6">
              Investment on NPS since 2019
            </p>
          </div>
          <div class="feature col one_section">
            <h3 class="display-1 ">242M</h3>
            <p>
              Product questions answered per year by our users with Mixpanel
            </p>
          </div>
          <div class="feature col one_section">
            <h3 class="display-1 ">97%</h3>
            <p>
              Customer satisfaction score across all support experiences
            </p>
          </div>
        </div>
      </div>
    </section>


    <section class="section-analytics">
      <div class="px-4  py-3 text-center">
        <h4 class="display-5  text-body-emphasis">How can product analytics<br />
          impact your business?</h4>
      </div>
      <div class="container mt-5" id="hanging-icons">
        <button id="prev-btn" class="nav-btn prev-btn"><img src="{% static 'front-end/customer_review/images/right-arrow-white.png' %}" width="18px"></button>
        <div class=" main-cards">
          <div class="col-sm-12 col-md-6 col-lg-4 mt-4 col-12 d-flex align-items-start c_mt_10">
            <div class="card-div">
              <h3 class="">SaaS</h3>
              <img src="{% static 'front-end/customer_review/images/ab-tasty-dark.svg' %}" alt="Paris">
              <p>
                Adopting a product-led growth strategy to drive free trial conversions
              </p>

              <span>
                <svg width="15" height="15" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg"
                  class="bi bi-arrow-right">
                  <path
                    d="M8.52344 4.5L4.52344 8.5L3.11344 7.09L4.69344 5.5H0.523438V3.5H4.69344L3.10344 1.91L4.52344 0.5L8.52344 4.5Z"
                    fill="black" />
                </svg>
              </span>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4 mt-4 col-12  d-flex align-items-start c_mt_10">
            <div class="card-div">
              <h3 class="">Retail & E-commerce</h3>
              <img src="{% static 'front-end/customer_review/images/boll-and-branch-dark.svg' %}" alt="Paris">
              <p>
                Optimizing the online shopping experience with data
              </p>

              <span>
                <svg width="15" height="15" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg"
                  class="bi bi-arrow-right">
                  <path
                    d="M8.52344 4.5L4.52344 8.5L3.11344 7.09L4.69344 5.5H0.523438V3.5H4.69344L3.10344 1.91L4.52344 0.5L8.52344 4.5Z"
                    fill="black" />
                </svg>
              </span>
            </div>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-4 mt-4 col-12  d-flex align-items-start c_mt_10">
            <div class="card-div">
              <h3 class="">SaaS</h3>
              <img src="{% static 'front-end/customer_review/images/docusign-dark.svg' %}" alt="Paris">
              <p>
                Signing up more customers
              </p>

              <span>
                <svg width="15" height="15" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg"
                  class="bi bi-arrow-right">
                  <path
                    d="M8.52344 4.5L4.52344 8.5L3.11344 7.09L4.69344 5.5H0.523438V3.5H4.69344L3.10344 1.91L4.52344 0.5L8.52344 4.5Z"
                    fill="black" />
                </svg>
              </span>
            </div>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-4 mt-4 col-12 d-flex align-items-start c_mt_10">
            <div class="card-div">
              <h3 class="">Retail & E-commerce</h3>
              <img src="{% static 'front-end/customer_review/images/kkday-dark.svg' %}" alt="Paris">
              <p>
                Creating a culture of analytics to drive better user journeys
              </p>

              <span>
                <svg width="15" height="15" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg"
                  class="bi bi-arrow-right">
                  <path
                    d="M8.52344 4.5L4.52344 8.5L3.11344 7.09L4.69344 5.5H0.523438V3.5H4.69344L3.10344 1.91L4.52344 0.5L8.52344 4.5Z"
                    fill="black" />
                </svg>
              </span>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4 mt-4 col-12 d-flex align-items-start c_mt_10">
            <div class="card-div">
              <h3 class="">Media & Entertainment</h3>
              <img src="{% static 'front-end/customer_review/images/ticketmaster-dark.svg' %}" alt="Paris">
              <p>
                Understanding its users better
              </p>

              <span>
                <svg width="15" height="15" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg"
                  class="bi bi-arrow-right">
                  <path
                    d="M8.52344 4.5L4.52344 8.5L3.11344 7.09L4.69344 5.5H0.523438V3.5H4.69344L3.10344 1.91L4.52344 0.5L8.52344 4.5Z"
                    fill="black" />
                </svg>
              </span>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4 mt-4 col-12 d-flex align-items-start c_mt_10">
            <div class="card-div">
              <h3 class="">Consumer Technology</h3>
              <img src="{% static 'front-end/customer_review/images/ziprecruiter-dark.svg' %}" alt="Paris">
              <p>
                Improving the job search experience
              </p>

              <span>
                <svg width="15" height="15" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg"
                  class="bi bi-arrow-right">
                  <path
                    d="M8.52344 4.5L4.52344 8.5L3.11344 7.09L4.69344 5.5H0.523438V3.5H4.69344L3.10344 1.91L4.52344 0.5L8.52344 4.5Z"
                    fill="black" />
                </svg>
              </span>
            </div>
          </div>
        </div>
        <button id="next-btn" class="nav-btn next-btn"><img src="{% static 'front-end/customer_review/images/right-arrow-white.png' %}" width="18px"></button>
        <!-- <div class="show_more">
          <a href="">See All Stories</a>
        </div> -->
      </div>
    </section>
  </main>

  {% include 'Frontend/footer-page-new.html' %}

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
    </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.1/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.1/ScrollTrigger.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
  <script src="https://unpkg.com/@rive-app/canvas@2.9.1"></script>
  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script defer src="{% static 'front-end/customer_review/navbar.js' %}"></script>
  <script defer src="{% static 'front-end/customer_review/rive-animations.js' %}"></script>
  <script defer src="{% static 'front-end/customer_review/card-slider.js' %}"></script>
  <script defer src="{% static 'front-end/customer_review/review-card-animation.js' %}"></script>
  <script defer src="{% static 'front-end/customer_review/footer.js' %}"></script>
</body>

</html>