<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&family=Offside&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/@rive-app/canvas@latest"></script>
    <link rel="stylesheet" href="{% static 'front-end/Disclaimer-page/css/disclaimer.css' %}">
    <link rel="stylesheet" href="{% static 'front-end/Disclaimer-page/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'front-end/Disclaimer-page/css/nav.css' %}"> 
    <title>Disclaimer</title>
</head>
<body>

    <div class="header-container">
        <header>
            <a href="https://www.realezi.com"><img src="{% static 'front-end/Disclaimer-page/assets/images/footer-logo.png' %}" class="header-logo" alt="Website Logo"></a>
            <div class="mobile-menu" id="menu-toggle">
                <input id="checkbox" type="checkbox">
                <label class="toggle" for="checkbox">
                    <div id="bar1" class="bars"></div>
                    <div id="bar2" class="bars"></div>
                    <div id="bar3" class="bars"></div>
                    <div id="bar4" class="bars"></div>
                    <div id="bar5" class="bars"></div>
                </label>
            </div>
            <nav id="nav-links">
                <h1 class="home"><a href="https://www.realezi.com">Home</a></h1>
                <h1 class="resources"><a href="#">Resources</a></h1>
                <h1 class="buy-or-rent"><a href="{% url 'blog_rent_buy' %}">Buy or Rent</a></h1>
                <a href="{% url 'login' %}"><button class="post-btn">Post Your Property</button></a>
            </nav>
        </header>
    </div>

    <main>
        <div class="centered-box">
            <h2>DISCLAIMER</h2>
        </div>
        <div class="disclaimer-text">
            <p>Realezi is only acting as a medium for providing online & Offline advertising services. The details displayed on our website are for information purposes only.</p>
            <p><span class="list">a.</span> All information in relation to the project whether written, visual representation or oral, as made available on Realezi.com are all information as provided, described and supplied by the concerned developer.</p>
            <p><span class="list">b.</span> The pictures / photos / visuals / videos shown here include artist’s impression of the property being displayed and have been provided by the developers. The actual properties may vary from, and may be inconsistent with, such representations. Further pictures/photos/ representations of furniture and fixtures, surroundings, roads etc. are merely illustrative and shall not be construed to be available with the listed properties or as part of the offerings.</p>
            <p><span class="list">c.</span> Before deciding to purchase or taking any other action, you are requested to exercise due caution and to independently validate and verify all information and details and go through the terms and conditions as included in the documents.</p>
            <p><span class="list">d.</span> The display of information on Realezi.com with respect to a developer or project does not guarantee that the developer / project has registered under the Real Estate (Regulation and Development), 2016 or is compliant with the same.</p>
            <p><span class="list">e.</span> You acknowledge that by merely making such information available on Realezi.com, Housing Parties are not involved in any ‘unfair trade practice’, as defined under the Act, if such information turns out to be inaccurate, incomplete or false.</p>
            <p><span class="list">f.</span> We may contact you to solicit feedback of your experience and to provide any additional information that you would be eligible for, either as a customer or as a visitor.</p>
            <p>Neither Realezi nor any person having any ownership or other interest in either of them and their respective directors, employees, agents and other representatives shall be responsible or liable to you or any other person (a) for any error, falsity, or inaccuracy in the information provided herein or for any omission of information; (b) for any action taken, cost / expenses / losses incurred, by you or any other person, based on the information given on the portal; or (c) for any act or omission of the developers or any default or failure or breach on their part, including with respect to delivery of any services or amenities advertised and any delay in delivery or completion of the property.</p>
            <p>Please note that this disclaimer is in addition to the provisions of any other disclaimer displayed / listed on Realezi. We reserve the right to revise this Disclaimer Policy at any time without prior notice. We recommend periodically reviewing this Disclaimer Policy to stay informed of any updates.</p>
        </div>
    </main>

        <footer>
            <div class="footer-content">
                <a href="https://www.realezi.com"><img src="{% static 'front-end/Disclaimer-page/assets/svg/footer-logo.svg' %}" alt="Footer Logo" class="footer-logo"></a>
                <p>Connecting You to Your Dream Property.</p>
                <button class="try-it-btn">Try it yourself</button>
            </div>
            <div class="footer-links">
                <img class="line-2" src="{% static 'front-end/Disclaimer-page/assets/images/line.png' %}" alt="Line">
                <div class="column">
                    <h3>Company</h3>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="{% url 'news_blog_page' %}">Blog</a></li>
                        <li><a href="{% url 'career' %}">Career</a></li>
                        <li><a href="{% url 'contact_us' %}">Contact Support</a></li>
                        <li><a href="{% url 'contact_us' %}">Get in touch</a></li>
                        <li><a href="{% url 'faq_first_page' %}">FAQs</a></li>
                        <li><a href="{% url 'faq_second_page' %}">FAQs</a></li>
                    </ul>
                    <a href="{% url 'career' %}"><button class="hiring-btn">We are hiring<canvas id="riveCanvas" ></canvas></button></a>
                </div>
                <div class="column">
                    <h3>Solutions</h3>
                    <ul class="solutions-list">
                        <li><a href="#">Find a Right Property</a></li>
                        <li><a href="{% url 'blog_rent_buy' %}">Sell or Rent Your Property</a></li>
                        <li><a href="#">Build Your Home From Scratch</a></li>
                        <li><a href="#">Interior Designing & Decor</a></li>
                        <li><a href="{% url 'solar_page' %}">Solar Panel</a></li>
                        <li><a href="#">Home Loans</a></li>
                    </ul>
                </div>
                <div class="column side-solution">
                    <ul>
                        <li><a href="{% url 'Legal_Aid_Realezi' %}">Legal Aid</a></li>
                        <li><a href="{% url 'movers_and_packers' %}">Porter Services</a></li>
                        <li><a href="{% url 'architecture' %}">Architecture</a></li>
                        <li><a href="#">For Business</a></li>
                    </ul>
                </div>
                <div style="margin-left: -30px; margin-right: 100px;" class="column community-column">
                    <h3>Community</h3>
                    <ul>
                        <a href="{% url 'refer_and_earn_realezi' %}"><button class="refer-btn">Refer & Earn<img class="refer-icon" src="{% static 'front-end/Disclaimer-page/assets/images/fire.gif' %}"></button></a>
                        <li><a href="#">Realezi Community</a></li>
                        <li><a href="{% url 'customer_review' %}">Customers</a></li>
                    </ul>
                </div>
                <div class="app-links">
                    <a href="#" class="playstore-button">
                        <span class="icon">
                            <svg fill="currentcolor" viewBox="-52.01 0 560.035 560.035" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff">
                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                <g id="SVGRepo_iconCarrier">
                                <path d="M380.844 297.529c.787 84.752 74.349 112.955 75.164 113.314-.622 1.988-11.754 40.191-38.756 79.652-23.343 34.117-47.568 68.107-85.731 68.811-37.499.691-49.557-22.236-92.429-22.236-42.859 0-56.256 21.533-91.753 22.928-36.837 1.395-64.889-36.891-88.424-70.883-48.093-69.53-84.846-196.475-35.496-282.165 24.516-42.554 68.328-69.501 115.882-70.192 36.173-.69 70.315 24.336 92.429 24.336 22.1 0 63.59-30.096 107.208-25.676 18.26.76 69.517 7.376 102.429 55.552-2.652 1.644-61.159 35.704-60.523 106.559M310.369 89.418C329.926 65.745 343.089 32.79 339.498 0 311.308 1.133 277.22 18.785 257 42.445c-18.121 20.952-33.991 54.487-29.709 86.628 31.421 2.431 63.52-15.967 83.078-39.655"></path>
                                </g>
                            </svg>
                        </span>
                    <span class="texts">
                    <span class="text-1">Download from</span>
                    <span class="text-2">App store</span>
                    </span>
                    </a> <br> 
                    <a href="#" class="playstore-button">
                        <svg viewBox="0 0 512 512" class="icon" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M99.617 8.057a50.191 50.191 0 00-38.815-6.713l230.932 230.933 74.846-74.846L99.617 8.057zM32.139 20.116c-6.441 8.563-10.148 19.077-10.148 30.199v411.358c0 11.123 3.708 21.636 10.148 30.199l235.877-235.877L32.139 20.116zM464.261 212.087l-67.266-37.637-81.544 81.544 81.548 81.548 67.273-37.64c16.117-9.03 25.738-25.442 25.738-43.908s-9.621-34.877-25.749-43.907zM291.733 279.711L60.815 510.629c3.786.891 7.639 1.371 11.492 1.371a50.275 50.275 0 0027.31-8.07l266.965-149.372-74.849-74.847z"></path>
                        </svg>
                    <span class="texts">
                        <span class="text-1">GET IT ON</span>
                        <span class="text-2">Google Play</span>
                    </span>
                    </a>
                </div>
            </div>
    
            <div class="legal-links"> 
                <a href="{% url 'privacy_page' %}">Privacy Policy</a>
                <a href="{% url 'terms_page' %}">Terms and Conditions</a>
                <a href="{% url 'disclaimer' %}">Disclaimer</a>
            </div>
            <img class="line" src="{% static 'front-end/Disclaimer-page/assets/images/line.png' %}" alt="Line">
            <p class="copyright">©2024 Realezi. All rights reserved</p>
            <p class="qoute">Made with love <img class="heart" src="{% static 'front-end/Disclaimer-page/assets/images/heart.png' %}" alt="Heart"> from Realezi</p>
    
            <div class="social-media-container">
                    <button class="social-media-btn facebook">
                        <img src="{% static 'front-end/Disclaimer-page/assets/svg/facebook.svg' %}" alt="" class="social-media-icon">
                        <span class="social-media-text">Facebook</span>
                    </button>
                    <button class="social-media-btn linkedin">
                        <img src="{% static 'front-end/Disclaimer-page/assets/svg/linkedin.svg' %}" alt="" class="social-media-icon">
                        <span class="social-media-text">Linkedin</span>
                    </button>
                    <button class="social-media-btn instagram">
                        <img src="{% static 'front-end/Disclaimer-page/assets/svg/instagram.svg' %}" alt="" class="social-media-icon">
                        <span class="social-media-text">Instagram</span>
                    </button>
                    <button class="social-media-btn youtube">
                        <img style="width: 10px;" src="{% static 'front-end/Disclaimer-page/assets/images/youtube_footer.png' %}" alt="" class="social-media-icon">
                        <span class="social-media-text">YouTube</span>
                    </button>
            </div>
    
        </footer>
    
    <script src="{% static 'front-end/Disclaimer-page/js/script.js' %}"></script>
    <script defer src="{% static 'front-end/Disclaimer-page/js/footer.js' %}"></script>
    <script>
        const menuToggle = document.getElementById('menu-toggle');
        const navLinks = document.getElementById('nav-links');

        menuToggle.addEventListener('click', () => {
            navLinks.classList.toggle('show-menu');
        });
    </script>
</body>
</html>
