<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ-Security & Privacy</title>

    <!-- Bootstrap CSS from jsDelivr -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.0/css/all.min.css">
    <script src="https://unpkg.com/@rive-app/canvas@latest"></script>

    <!-- external css link -->
    <link rel="stylesheet" href="{% static 'front-end/FAQ-First-Page/index.css' %}">
</head>

<body>

    <!-- header section -->
    <header class="position-relative">
        <div class="container d-lg-block d-none">
            <a href="https://www.realezi.com"><button class="logo-btn rounded-pill mt-4 py-1 px-2 border-0">
                <img src="{% static 'front-end/FAQ-First-Page/assets/header-logo.png' %}" alt="logo" width="160">
            </button></a>
        </div>
        {% include 'Frontend/header-new-1.html' %}
    </header>

    <!-- main section -->
    <main style="background-color: #ffffff;">

        <section class="container pt-5 pb-3 d-lg-block d-md-block d-none">
            <div class="row align-items-center">
                <div class="col-10">
                    <div class="title-text">Frequently Asked Questions ?</div>
                    <div class="mt-3 sub-title-text">Get step-by-step guidance on setting up your account and listing
                        properties.</div>
                    <div class="sub-title-text">Start your journey with Realezi today.</div>
                </div>
                <div class="col-2">
                    <img src="{% static 'front-end/FAQ-First-Page/assets/faq.png' %}" alt="faq" height="190" width="190">
                </div>
            </div>
        </section>

        <section class="container d-lg-none d-md-none pt-5 pb-4 top-section text-center">
            <div class="title-text">Frequently Asked Questions</div>
            <div class="sub-title-text mt-2">Get step-by-step guidance on setting up your account and listing
                properties. Start your journey with Realezi today.</div>
        </section>

        <!-- secondary navbar for desktop view -->
        <section class="container pb-3 d-none d-lg-block d-md-block">
            <nav class="second-navbar-container">
                <button class="scroll-left"><i class="fas fa-chevron-left fa-sm"></i></button>
                <nav class="second-navbar">
                    <ul>
                        <li class="active">Security & Privacy</li>
                        <li>Partnerships & Collaborations</li>
                        <li>Technical Support</li>
                        <li>Listing Performance</li>
                        <li>Payments</li>
                    </ul>
                </nav>
                <button class="scroll-right"><i class="fas fa-chevron-right"></i></button>
            </nav>
        </section>

        <!-- secondary navbar for mobile view -->
        <section class="pb-3 d-lg-none d-md-none">
            <nav class="second-navbar-container">
                <button class="scroll-left"><i class="fas fa-chevron-left fa-sm"></i></button>
                <nav class="second-navbar">
                    <ul>
                        <li class="active">Security & Privacy</li>
                        <li>Partnerships & Collaborations</li>
                        <li>Technical Support</li>
                        <li>Listing Performance</li>
                        <li>Payments</li>
                    </ul>
                </nav>
                <button class="scroll-right"><i class="fas fa-chevron-right fa-sm"></i></button>
            </nav>
        </section>

        <section class="container py-lg-5 py-md-5 pb-5 pt-4">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-4">
                    <div class="card privacy-card mb-3 align-items-center">
                        <div class="card-body text-center">
                            <div class="text-center">
                                <img src="{% static 'front-end/FAQ-First-Page/assets/verify.png' %}" alt="verify" class="card-image">
                            </div>
                            <h5 class="card-title mt-lg-4 mt-md-4 mt-2 text-nowrap">Security & Privacy</h5>
                        </div>
                        <div
                            class="card-footer bg-transparent text-center align-items-center w-100 d-lg-block d-md-block d-none">
                            <button
                                class="border-0 bg-transparent mt-2 d-flex align-items-center justify-content-center mx-auto">
                                View <span class="ms-2"><img src="{% static 'front-end/FAQ-First-Page/assets/icons/Arrow-icon.png' %}"
                                        alt="arrow-icon"></span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-4">
                    <div class="card privacy-card mb-3 align-items-center">
                        <div class="card-body text-center">
                            <div class="text-center">
                                <img src="{% static 'front-end/FAQ-First-Page/assets/verify.png' %}" alt="verify" class="card-image">
                            </div>
                            <h5 class="card-title mt-lg-4 mt-md-4 mt-2 text-nowrap">Security & Privacy</h5>
                        </div>
                        <div
                            class="card-footer bg-transparent text-center align-items-center w-100 d-lg-block d-md-block d-none">
                            <button
                                class="border-0 bg-transparent mt-2 d-flex align-items-center justify-content-center mx-auto">
                                View <span class="ms-2"><img src="{% static 'front-end/FAQ-First-Page/assets/icons/Arrow-icon.png' %}"
                                        alt="arrow-icon"></span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-4">
                    <div class="card privacy-card mb-3 align-items-center">
                        <div class="card-body text-center">
                            <div class="text-center">
                                <img src="{% static 'front-end/FAQ-First-Page/assets/verify.png' %}" alt="verify" class="card-image">
                            </div>
                            <h5 class="card-title mt-lg-4 mt-md-4 mt-2 text-nowrap">Security & Privacy</h5>
                        </div>
                        <div
                            class="card-footer bg-transparent text-center align-items-center w-100 d-lg-block d-md-block d-none">
                            <button
                                class="border-0 bg-transparent mt-2 d-flex align-items-center justify-content-center mx-auto">
                                View <span class="ms-2"><img src="{% static 'front-end/FAQ-First-Page/assets/icons/Arrow-icon.png' %}"
                                        alt="arrow-icon"></span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-4">
                    <div class="card privacy-card mb-3 align-items-center">
                        <div class="card-body text-center">
                            <div class="text-center">
                                <img src="{% static 'front-end/FAQ-First-Page/assets/verify.png' %}" alt="verify" class="card-image">
                            </div>
                            <h5 class="card-title mt-lg-4 mt-md-4 mt-2 text-nowrap">Security & Privacy</h5>
                        </div>
                        <div
                            class="card-footer bg-transparent text-center align-items-center w-100 d-lg-block d-md-block d-none">
                            <button
                                class="border-0 bg-transparent mt-2 d-flex align-items-center justify-content-center mx-auto">
                                View <span class="ms-2"><img src="{% static 'front-end/FAQ-First-Page/assets/icons/Arrow-icon.png' %}"
                                        alt="arrow-icon"></span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-4">
                    <div class="card privacy-card mb-3 align-items-center">
                        <div class="card-body text-center">
                            <div class="text-center">
                                <img src="{% static 'front-end/FAQ-First-Page/assets/verify.png' %}" alt="verify" class="card-image">
                            </div>
                            <h5 class="card-title mt-lg-4 mt-md-4 mt-2 text-nowrap">Security & Privacy</h5>
                        </div>
                        <div
                            class="card-footer bg-transparent text-center align-items-center w-100 d-lg-block d-md-block d-none">
                            <button
                                class="border-0 bg-transparent mt-2 d-flex align-items-center justify-content-center mx-auto">
                                View <span class="ms-2"><img src="{% static 'front-end/FAQ-First-Page/assets/icons/Arrow-icon.png' %}"
                                        alt="arrow-icon"></span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-4">
                    <div class="card privacy-card mb-3 align-items-center">
                        <div class="card-body text-center">
                            <div class="text-center">
                                <img src="{% static 'front-end/FAQ-First-Page/assets/verify.png' %}" alt="verify" class="card-image">
                            </div>
                            <h5 class="card-title mt-lg-4 mt-md-4 mt-2 text-nowrap">Security & Privacy</h5>
                        </div>
                        <div
                            class="card-footer bg-transparent text-center align-items-center w-100 d-lg-block d-md-block d-none">
                            <button
                                class="border-0 bg-transparent mt-2 d-flex align-items-center justify-content-center mx-auto">
                                View <span class="ms-2"><img src="{% static 'front-end/FAQ-First-Page/assets/icons/Arrow-icon.png' %}"
                                        alt="arrow-icon"></span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-4">
                    <div class="card privacy-card mb-3 align-items-center">
                        <div class="card-body text-center">
                            <div class="text-center">
                                <img src="{% static 'front-end/FAQ-First-Page/assets/verify.png' %}" alt="verify" class="card-image">
                            </div>
                            <h5 class="card-title mt-lg-4 mt-md-4 mt-2 text-nowrap">Security & Privacy</h5>
                        </div>
                        <div
                            class="card-footer bg-transparent text-center align-items-center w-100 d-lg-block d-md-block d-none">
                            <button
                                class="border-0 bg-transparent mt-2 d-flex align-items-center justify-content-center mx-auto">
                                View <span class="ms-2"><img src="{% static 'front-end/FAQ-First-Page/assets/icons/Arrow-icon.png' %}"
                                        alt="arrow-icon"></span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-4">
                    <div class="card privacy-card mb-3 align-items-center">
                        <div class="card-body text-center">
                            <div class="text-center">
                                <img src="{% static 'front-end/FAQ-First-Page/assets/verify.png' %}" alt="verify" class="card-image">
                            </div>
                            <h5 class="card-title mt-lg-4 mt-md-4 mt-2 text-nowrap">Security & Privacy</h5>
                        </div>
                        <div
                            class="card-footer bg-transparent text-center align-items-center w-100 d-lg-block d-md-block d-none">
                            <button
                                class="border-0 bg-transparent mt-2 d-flex align-items-center justify-content-center mx-auto">
                                View <span class="ms-2"><img src="{% static 'front-end/FAQ-First-Page/assets/icons/Arrow-icon.png' %}"
                                        alt="arrow-icon"></span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-4 d-lg-none">
                    <div class="card privacy-card mb-3 align-items-center">
                        <div class="card-body text-center">
                            <div class="text-center">
                                <img src="{% static 'front-end/FAQ-First-Page/assets/verify.png' %}" alt="verify" class="card-image">
                            </div>
                            <h5 class="card-title mt-lg-4 mt-md-4 mt-2 text-nowrap">Security & Privacy</h5>
                        </div>
                        <div
                            class="card-footer bg-transparent text-center align-items-center w-100 d-lg-block d-md-block d-none">
                            <button
                                class="border-0 bg-transparent mt-2 d-flex align-items-center justify-content-center mx-auto">
                                View <span class="ms-2"><img src="{% static 'front-end/FAQ-First-Page/assets/icons/Arrow-icon.png' %}"
                                        alt="arrow-icon"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- Footer -->
    {% include 'Frontend/footer-page-new.html' %}

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/@rive-app/canvas@2.9.1"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.1/gsap.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.1/ScrollTrigger.min.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script> -->
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="{% static 'front-end/FAQ-First-Page/navbar.js' %}"></script>
    <script src="{% static 'front-end/FAQ-First-Page/index.js' %}"></script>
    <script defer src="{% static 'front-end/FAQ-First-Page/footer.js' %}"></script>
</body>

</html>