<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ-technical-support</title>

    <!-- Bootstrap CSS from jsDelivr -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.0/css/all.min.css">
    <script src="https://unpkg.com/@rive-app/canvas@latest"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

    <!-- external css link -->
    <link rel="stylesheet" href="{% static 'front-end/FAQ-Second Page/index.css' %}">
</head>

<body>

    <!-- header section -->
    <header class="position-relative">
        <div class="container d-lg-block d-none">
            <a href="https://www.realezi.com"><button class="logo-btn rounded-pill mt-4 py-1 px-2 border-0">
                <img src="{% static 'front-end/FAQ-Second Page/assets/header-logo.png' %}" alt="logo" width="150">
            </button></a>
        </div>
        {% include 'Frontend/header-new-1.html' %}
    </header>

    <main style="background-color: #ffffff;">

        <section class="container pt-5 pb-3 d-lg-block d-md-block d-none">
            <div class="row align-items-center">
                <div class="col-10">
                    <div class="title-text">Frequently Asked Questions ?</div>
                    <div class="mt-3 sub-title-text">Get step-by-step guidance on setting up your account and listing
                        properties.</div>
                    <div class="sub-title-text">Start your journey with Realezi today.</div>
                </div>
                <div class="col-2">
                    <img src="{% static 'front-end/FAQ-Second Page/assets/faq.png' %}" alt="faq" height="190" width="190">
                </div>
            </div>
        </section>

        <section class="container d-lg-none d-md-none pt-5 pb-4 top-section text-center">
            <div class="title-text">Frequently Asked Questions</div>
            <div class="sub-title-text mt-2">Get step-by-step guidance on setting up your account and listing
                properties. Start your journey with Realezi today.</div>
        </section>

        <!-- secondary navbar for desktop view -->
        <section class="container pb-3 d-none d-lg-block d-md-block">
            <nav class="second-navbar-container">
                <button class="scroll-left"><i class="fas fa-chevron-left fa-sm"></i></button>
                <nav class="second-navbar">
                    <ul>
                        <li>Security & Privacy</li>
                        <li>Partnerships & Collaborations</li>
                        <li class="active">Technical Support</li>
                        <li>Listing Performance</li>
                        <li>Payments</li>
                    </ul>
                </nav>
                <button class="scroll-right"><i class="fas fa-chevron-right fa-sm"></i></button>
            </nav>
        </section>

        <!-- secondary navbar for mobile view -->
        <section class="pb-3 d-lg-none d-md-none">
            <nav class="second-navbar-container">
                <button class="scroll-left"><i class="fas fa-chevron-left fa-sm"></i></button>
                <nav class="second-navbar">
                    <ul>
                        <li>Security & Privacy</li>
                        <li>Partnerships & Collaborations</li>
                        <li class="active">Technical Support</li>
                        <li>Listing Performance</li>
                        <li>Payments</li>
                    </ul>
                </nav>
                <button class="scroll-right"><i class="fas fa-chevron-right"></i></button>
            </nav>
        </section>

        <section class="container py-lg-5 py-md-5 pb-5 pt-3">
            <div class="row">
                <div class="col-lg-4 col-12 d-none d-lg-block d-md-block">
                    <div class="left-side">
                        <button class="left-side-back-btn text-start w-100 border-0 mb-3">
                            <i class="fas fa-arrow-left me-2"></i> Back
                        </button>
                        <ul style="list-style-type: disc;">
                            <li class="mt-3 left-side-points-title-text">What is Realezi, and how does it work?</li>
                            <li class="mt-3 left-side-points-text">How can I optimize my property listings on Realezi to
                                improve search engine visibility and attract more potential buyers or renters through
                                organic searches ?</li>
                            <li class="mt-3 left-side-points-text"> What are the benefits of using Realezi for property
                                listings ?</li>
                            <li class="mt-3 left-side-points-text">What procedures should I follow to update my billing
                                information, and how can I review and manage my subscription plans and payment history
                                on Realezi ?</li>
                            <li class="mt-3 left-side-points-text">What payment methods are accepted on Realezi ?</li>
                            <li class="mt-3 left-side-points-text">How do I sign up for an account on Realezi ?</li>
                            <li class="mt-3 left-side-points-text">How can I integrate my Realezi account with social
                                media platforms to share property listings, and what are the best strategies for
                                leveraging social media to boost engagement ?</li>
                            <li class="mt-3 left-side-points-text"> Does Realezi offer partnership opportunities for
                                agents or brokers ?</li>
                            <li class="mt-3 left-side-points-text"> Does Realezi offer partnership opportunities for
                                agents or brokers ?</li>
                        </ul>
                    </div>
                </div>

                <div class="col-12 d-lg-none d-md-none">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <div class="accordion-header" id="headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    What is Realezi, and how does it work?
                                </button>
                            </div>
                            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <ul style="list-style-type: disc;">
                                        <li class="mt-3 left-side-points-text">How can I optimize my property listings
                                            on Realezi to improve
                                            search engine visibility and attract more potential buyers or renters
                                            through organic
                                            searches?</li>
                                        <li class="mt-3 left-side-points-text">What are the benefits of using Realezi
                                            for property
                                            listings?</li>
                                        <li class="mt-3 left-side-points-text">What procedures should I follow to update
                                            my billing
                                            information, and how can I review and manage my subscription plans and
                                            payment history on
                                            Realezi?</li>
                                        <li class="mt-3 left-side-points-text">What payment methods are accepted on
                                            Realezi?</li>
                                        <li class="mt-3 left-side-points-text">How do I sign up for an account on
                                            Realezi?</li>
                                        <li class="mt-3 left-side-points-text">How can I integrate my Realezi account
                                            with social media
                                            platforms to share property listings, and what are the best strategies for
                                            leveraging social
                                            media to boost engagement?</li>
                                        <li class="mt-3 left-side-points-text">Does Realezi offer partnership
                                            opportunities for agents or
                                            brokers?</li>
                                        <li class="mt-3 left-side-points-text">Does Realezi offer partnership
                                            opportunities for agents or
                                            brokers?</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-8 col-12 mt-4 mt-md-2 mt-lg-0">
                    <div class="faq-question-text">What is Realezi, and how does it work?</div>
                    <div class="secondary-text-color mt-3">Realezi is an online platform designed to connect property
                        owners with potential buyers or renters. It offers a streamlined process listing, searching, and
                        managing properties. Here’s how Realezi works, explained in steps:</div>
                    <div class="mt-4">
                        <div class="faq-question-text">Step 1: Sign Up and Create an Account</div>
                        <ol class="secondary-text-color mt-3">
                            <li class="mt-1">Visit the Realezi Website: Navigate to the homepage and click on the "Sign
                                Up" button.</li>
                            <li class="mt-1">Provide Your Details: Enter your name, email address, and create a
                                password. You may also be required to verify your email.</li>
                            <li class="mt-1">Complete Your Profile: Fill out additional details like your contact
                                information, profile picture, and preferences to personalize your experience.</li>
                        </ol>
                    </div>

                    <div>
                        <img src="{% static 'front-end/FAQ-Second Page/assets/section-1.png' %}" alt="section-1" class="w-100">
                    </div>

                    <div class="mt-4">
                        <div class="faq-question-text">Step 2: Explore the Platform</div>
                        <ol class="secondary-text-color mt-3">
                            <li class="mt-1">Dashboard Overview: After logging in, you’ll be taken to your dashboard,
                                where you can view your account information, listings, messages, and notifications.</li>
                            <li class="mt-1">Browse Listings: Use the search bar and filters to explore properties
                                listed by other users. You can search by location, price range, property type, and more.
                            </li>
                        </ol>
                    </div>

                    <div>
                        <img src="{% static 'front-end/FAQ-Second Page/assets/section-2.png' %}" alt="section-2" class="w-100">
                    </div>

                    <div class="card note-card mt-4 p-3">
                        <div class="faq-question-text">Note:</div>
                        <div class="card-body">
                            <ul style="list-style-type: disc;">
                                <li>If you're an organization (not an institute or school), please list opportunities
                                    using your official email address that includes your company’s domain name (e.g.,
                                    support@realezi.com).</li>
                                <li class="mt-2">College or student organizers can list an unlimited number of
                                    opportunities for free on Realezi.</li>
                                <li class="mt-2">Businesses and startups can list up to 5 opportunities for free from a
                                    single account. If you need to publish more, please refer to the pricing section for
                                    additional information on our paid listing options.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>

    {% include 'Frontend/footer-page-new.html' %}

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/rive-canvas@latest/rive.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.1/gsap.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.1/ScrollTrigger.min.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script> -->
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="{% static 'front-end/FAQ-Second Page/navbar.js' %}"></script>
    <script src="{% static 'front-end/FAQ-Second Page/index.js' %}"></script>
    <script defer src="{% static 'front-end/FAQ-Second Page/footer.js' %}"></script>
</body>

</html>