{% load static %}
<footer class="full-row bg-footer" style="border-top:1px solid orange;background:white !important;padding-bottom: 30px">
    <div class="container">
        <div class="row row-cols-lg-4 row-cols-md-2 row-cols-1">
            <div class="col">
                <div class="footer-widget mb-4">
                    <h3 class="widget-title mb-4" style="border-bottom:3px solid orange;">About Us</h3>
                    <p style="text-align: justify;">In the dynamic world of real estate, we at Realezi prioritize the establishment of transparent and open relationships. Whether you're a first-time homebuyer, an investor, or parting with a property that holds sentimental value, our mission is to guide you through a seamless and personalized experience.</p>
                </div>
                <div class="footer-widget media-widget mb-4">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col">
                <div class="footer-widget contact-widget mb-4">
                    <h3 class="widget-title mb-4" style="border-bottom:3px solid orange;">Contact Info</h3>
                    <ul>
                        <li><i class="fa fa-location" style="color:black;font-size:12px;"></i>&nbsp;&nbsp;Harni, Vadodara, Gujrat-390001</li>
                        <li><a href="tel:8780953097" style="color:black;"><i class="fa fa-phone" style="color:black;font-size:12px;"></i>&nbsp;&nbsp;87809 53097</a></li>
                        <li><a href="mailto:hitesh@realezi.com" style="color:black;"><i class="fa fa-envelope" style="color:black;font-size:12px;"></i>&nbsp;&nbsp;hitesh@realezi.com</a></li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="footer-widget footer-nav mb-4">
                    <h3 class="widget-title mb-4" style="border-bottom:3px solid orange;">Quick Links</h3>
                    <ul>
                        <li><a href="/ourservices">Contact Us</a></li>
                        <li><a href="/faq">About Us</a></li>
                        <li><a href="/termsandcondition">Terms and Condition</a></li>
                        <li><a href="/privacy">Privacy Policy</a></li>
                        <li><a href="/blogs">Blogs</a></li>
                        <li><a href="/career">Career</a></li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="footer-widget newslatter-widget mb-4">
                    <h4 class="widget-title mb-4" style="border-bottom:3px solid orange;">Useful Links</h4>
                    <p>New Project in Harni</p>
                    <p>New Project in Gotri</p>
                    <p>New Project in Alkapuri</p>
                    <p>New Project in Waghodia</p>
                    <a href="signin" class="btn btn-primary w-100">Register Now</a>
                </div>
            </div>
        </div>
        
    </div>
    <div class="row" style="display:none;margin-top:45px;background-color: #f47a13;color:white !important;padding:10px;">
        <center>
            <h5 style="color:white !important;">Copyright @Realezi, Designed and Developed By Shyam Mehta</h5>
        </center>
    </div>
</footer>