<!DOCTYPE html>
<html lang="en">
{% load static %}
<style>
    .navbar a {
        text-decoration: none !important;
        color: white;
    }
</style>
<body>
    <!-- header section -->
    <header class="position-relative">
        <nav class="navbar d-lg-block d-md-block d-none fixed-top">
            <ul>
                {% if current_page == 'career' %}
                <li class="active">Career</li>
                {% elif current_page == 'faq_first_page' or current_page == 'faq_second_page' %}
                <li class="active">FAQ</li>
                {% elif current_page == 'architecture' %}
                <li class="active">Architecture</li>
                {% endif %}
                <a href="https://www.realezi.com"><li>Home</li></a>
                <a href="{% url 'blog_rent_buy' %}"><li>Buy or Rent</li></a>
                <a href=""><li>About</li></a>
                <a href="{% url 'contact_us' %}"><li>Contact</li></a>
            </ul>
        </nav>

        <nav class="mobile-navbar fixed-top navbar-expand-lg py-3 px-md-5 d-lg-none d-md-none">
            <div class="container-fluid gap-md-5">
                <a class="navbar-brand" href="#">
                    <img src="{% static 'front-end/ApplicationForm/assets/logo.png' %}" alt="nav-logo" style="height: 32px; margin-left: 10px;">
                </a>
                <span class="navbar-toggler border-0 bg-transparent" data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <input id="checkbox" type="checkbox" />
                    <label class="toggle" for="checkbox">
                        <div id="bar1" class="bars"></div>
                        <div id="bar2" class="bars"></div>
                        <div id="bar3" class="bars"></div>
                        <div id="bar4" class="bars"></div>
                        <div id="bar5" class="bars"></div>
                    </label>
                </span>
                <div class="collapse navbar-collapse text-center" id="navbarTogglerDemo02">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-md-5">
                        <li class="nav-item mt-3">
                            <a class="header-link text-decoration-none" aria-current="page" href="#">Career</a>
                        </li>
                        <li class="nav-item mt-3 mt-lg-0 mt-md-0">
                            <a class="header-link text-decoration-none" href="#">Home</a>
                        </li>
                        <li class="nav-item mt-3 mt-lg-0 mt-md-0">
                            <a class="header-link text-decoration-none" href="#">Buy or Rent</a>
                        </li>
                        <li class="nav-item mt-3 mt-lg-0 mt-md-0">
                            <a class="header-link text-decoration-none" href="#">About</a>
                        </li>
                        <li class="nav-item mt-3 mt-lg-0 mt-md-0">
                            <a class="header-link text-decoration-none" href="#">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
</body>

</html>