{% load static %}
<header class="nav-on-banner bg-white">
    <div class="main-nav py-2 xs-p-0">
        <div class="container">
            <div class="row">
                <div class="col">
                    <nav class="navbar navbar-expand-lg nav-secondary nav-primary-hover nav-line-active">
                        <a class="navbar-brand" href="/"><img class="nav-logo" src="{% static 'frontpart/assets/realezilogos.png' %}" alt="Image not found !"></a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon flaticon-menu flat-small text-primary"></span>
                        </button>
                        <div class="collapse navbar-collapse sm-ml-0" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#">Buy</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="index#">Buy in Harni</a></li>
                                        <li><a class="dropdown-item" href="index-3#">Buy in Alkapuri</a></li>
                                        <li><a class="dropdown-item" href="index-4#">Buy in Vasna</a></li>
                                       </ul>
                                </li>
                                 <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#">Rent</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="index#">Buy in Harni</a></li>
                                        <li><a class="dropdown-item" href="index-3#">Buy in Alkapuri</a></li>
                                        <li><a class="dropdown-item" href="index-4#">Buy in Vasna</a></li>
                                       </ul>
                                </li>
                                 <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#">Projects</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="index#">Buy in Harni</a></li>
                                        <li><a class="dropdown-item" href="index-3#">Buy in Alkapuri</a></li>
                                        <li><a class="dropdown-item" href="index-4#">Buy in Vasna</a></li>
                                       </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#">Services</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="index#">Home Loan</a></li>
                                        <li><a class="dropdown-item" href="index-3#">Property Legal Services</a></li>
                                        <li><a class="dropdown-item" href="index-4#">Commercial Guidance</a></li>
                                        <li><a class="dropdown-item" href="index-4#">Vastu Consultation</a></li>
                                        <li><a class="dropdown-item" href="index-4#">Legalities</a></li>
                                        <li><a class="dropdown-item" href="index-4#">Consultation</a></li>
                                        <li><a class="dropdown-item" href="index-4#">Rent/Lease Agreement Guidance</a></li>
                                        <li><a class="dropdown-item" href="index-4#">Loan Calculator</a></li>
                                       </ul>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/aboutus">About Us</a>
                                    
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/contact">Contact Us</a>
                                    
                                </li>
                            </ul>
                            <ul class="navbar-nav sm-mx-none border-start ps-3">
                                <li class="nav-item">
                                    <a class="nav-link" href="/login"><i class="fas fa-user"></i> Login/Register</a>
                                </li>
                            </ul>
                            <a href="/signin" class="btn btn-primary add-listing-btn">+ Create Listing</a>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>