<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Interior Page</title>

  <link rel="shortcut icon" href="{% static 'front-end/interior/assets/img/homeloan_logo_header.svg' %}" type="image/x-icon">
  <!-- bottstrap csn link start -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
  <!-- bottstrap csn link end -->

  <!-- fontfamily start -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&family=Offside&display=swap"
    rel="stylesheet">
  <!-- robot start -->
  <link
    href="https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
  <!-- robot end -->
  <!-- fontfamily end -->

  <!-- css link start -->
  <link rel="stylesheet" href="{% static 'front-end/interior/assets/css/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'front-end/interior/assets/css/global.css' %}">
  <link rel="stylesheet" href="{% static 'front-end/interior/assets/css/interior-page.css' %}">
  <!-- css link end -->

  <!-- bootstrap js start -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js"></script>
  <!-- bootstrap js end -->
  <!-- jquery start -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <!-- jquery end -->
<style>
  .footer a {
      text-decoration: none !important;
      color: white;
  }
</style>
</head>

<body>

  <!-- share-detail form start -->
  <section class="share-detail-form position-fixed">
    <div class="black-shadow" id="sharecls"></div>
    <div class="close-icon d-flex justify-content-end">
      <i class="fa-solid fa-xmark fs-3"></i>
    </div>
    <div class="container">
      <div class="row">
        <div class="form-box bg-white m-auto">
          <span class="fw-normal fs-5">Please share your details</span>
          <form action="" id="shareDetailForm">
            <div class="input-box">
              <input type="text" id="name" placeholder="" required>
              <label for="label_placeholder">Name</label>
            </div>
            <div class="input-box d-flex">
              <select name="" id="countryCode">
                <option value="+91">+91</option>
                <option value="+01">+01</option>
                <option value="+55">+55</option>
              </select>
              <input type="number" placeholder="" required>
              <label for="label_placeholder_mobile">Enter mobile number</label>
            </div>
            <div class="input-box">
              <input type="email" placeholder="" id="email" required>
              <label for="label_placeholder">Email ID</label>
            </div>
            <div class="input-box">
              <div class="property-type-dropdown">
                <label for="propertyType" class="d-flex justify-content-between align-items-center">
                  <p class="m-0" id="property"></p>
                  <i class="fa-solid fa-angle-down"></i>
                  <label for="label_placeholder">Property Type</label>
                </label>
                <div class="propertyType-list">
                  <ul class="d-flex flex-wrap m-0">
                    <li class="text-capitalize">Apartment</li>
                    <li class="text-capitalize">Duplex</li>
                    <li class="text-capitalize">Penthouse</li>
                    <li class="text-capitalize">Villa</li>
                    <li class="text-capitalize">Studio</li>
                    <li class="text-capitalize">Independent House</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="term-condition d-flex align-items-center">
              <input type="checkbox" id="termsCondition" required>
              <p class="m-0 fw-normal ps-2">By submitting this form, I agree to accept and agree to Realezi’s T&C</p>
            </div>
            <button type="submit" id="shareDetailBtn" class="text-capitalize text-center" disabled>Submit</button>
          </form>
          <div class="great-msg position-absolute top-0 start-0 bg-white">
            <div class="video">
              <video src="{% static 'front-end/interior/assets/video/form-msg.mp4' %}" width="100%" muted autoplay playsinline id="video"></video>
              <div class="msg text-center hidden" id="msg">
                <h3 class="fs-3 m-0" style="color: #EC7100;">Great!</h3>
                <p class="m-0 pt-2" style="color: #434343;">Our Dedicated Relationship Manager will contact you shortly
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- share-detail form end -->

  <!-- expert-talk-form start -->
  <section class="expert-talk-form position-fixed">
    <div class="black-shadow" id="expertcls"></div>
    <div class="close-icon d-flex justify-content-end">
      <i class="fa-solid fa-xmark fs-3"></i>
    </div>
    <div class="container">
      <div class="row">
        <div class="form-box bg-white m-auto position-relative">
          <span class="fw-normal fs-5">Please share your details</span>
          <form action="" id="expertForm">
            <div class="input-box">
              <input type="text" id="expertName" placeholder="" required>
              <label for="label_placeholder">Name</label>
            </div>
            <div class="input-box d-flex">
              <select name="" id="expertCode" required>
                <option value="+91">+91</option>
                <option value="+01">+01</option>
                <option value="+55">+55</option>
              </select>
              <input type="number" placeholder="" required id="expertNumber">
              <label for="label_placeholder_mobile">Enter mobile number</label>
            </div>
            <div class="input-box">
              <input type="email" placeholder="" required id="expertEmail">
              <label for="label_placeholder">Email ID</label>
            </div>
            <div class="input-box">
              <div class="property-type-dropdown">
                <label for="propertyType" class="d-flex justify-content-between align-items-center">
                  <p class="m-0" id="property-expert"></p>
                  <i class="fa-solid fa-angle-down"></i>
                  <label for="label_placeholder">Property Type</label>
                </label>
                <div class="propertyType-list">
                  <ul class="d-flex flex-wrap m-0">
                    <li class="text-capitalize">Apartment</li>
                    <li class="text-capitalize">Duplex</li>
                    <li class="text-capitalize">Penthouse</li>
                    <li class="text-capitalize">Villa</li>
                    <li class="text-capitalize">Studio</li>
                    <li class="text-capitalize">Independent House</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="input-box">
              <label for="budget" class="d-flex justify-content-between align-items-center">
                <!-- <p class="m-0" id="property"></p> -->
                <i class="fa-solid fa-angle-down"></i>
                <label for="label_placeholder">Budget</label>
              </label>
              <div class="budget-dropdown">
                <div class="min-max-value d-flex justify-content-between pt-2">
                  <span class="d-block" id="minValue">Rs.1 Lakh</span>
                  <span class="d-block" id="maxValue">Rs.2cr+</span>
                </div>
                <div class="budget-range">
                  <input type="range" id="minBudgetRange" min="0" max="20000000" value="0" step="10000">
                  <input type="range" id="maxBudgetRange" min="0" max="20000000" value="20000000" step="10000">
                </div>
                <div class="budget-indicator pt-5 d-flex justify-content-between ps-2 pe-2">
                  <div>
                    <span>1Lakh</span>
                  </div>
                  <div class="amount">
                    <span>40L</span>
                  </div>
                  <div class="amount">
                    <span>70L</span>
                  </div>
                  <div class="amount">
                    <span>1Cr</span>
                  </div>
                  <div class="amount">
                    <span>1.3Cr</span>
                  </div>
                  <div class="amount">
                    <span>1.7Cr</span>
                  </div>
                  <div>
                    <span>2Cr+</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="term-condition d-flex align-items-center">
              <input type="checkbox" id="expertCondition" required>
              <p class="m-0 fw-normal ps-2">By submitting this form, I agree to accept and agree to Realezi’s T&C</p>
            </div>
            <button type="submit" id="ExpertDetailBtn" class="text-capitalize text-center" disabled>Submit</button>
          </form>
          <div class="expert-great-msg position-absolute top-0 start-0 bg-white">
            <div class="video">
              <video src="{% static 'front-end/interior/assets/video/form-msg.mp4' %}" width="100%" muted autoplay playsinline id="expert-video"></video>
              <div class="msg text-center hidden" id="expert-msg">
                <h3 class="fs-3 m-0" style="color: #EC7100;">Great!</h3>
                <p class="m-0 pt-2" style="color: #434343;">Our Dedicated Relationship Manager will contact you shortly
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- expert-talk-form end -->

  <!-- free-consultation-form start -->
  <section class="free-consultation-form position-fixed">
    <div class="black-shadow" id="freecls"></div>
    <div class="close-icon d-flex justify-content-end">
      <i class="fa-solid fa-xmark fs-3"></i>
    </div>
    <div class="container">
      <div class="row">
        <div class="form-box bg-white m-auto position-relative">
          <span class="fw-normal fs-5">Please share your details</span>
          <form action="" id="freeConsultationForm">
            <div class="input-box">
              <input type="text" id="consultationName" placeholder="" required>
              <label for="label_placeholder">Name</label>
            </div>
            <div class="input-box d-flex">
              <select name="" id="consultationCountryCode">
                <option value="+91">+91</option>
                <option value="+01">+01</option>
                <option value="+55">+55</option>
              </select>
              <input type="number" placeholder="" required>
              <label for="label_placeholder_mobile" id="consultationNumber">Enter mobile number</label>
            </div>
            <div class="input-box">
              <input type="email" placeholder="" required id="consultationEmail">
              <label for="label_placeholder">Email ID</label>
            </div>
            <div class="input-box">
              <input type="text" placeholder="" required id="consultationLocation">
              <label for="label_placeholder">Location</label>
            </div>
            <div class="term-condition d-flex align-items-center">
              <input type="checkbox" id="consultationCondion" required>
              <p class="m-0 fw-normal ps-2">By submitting this form, I agree to accept and agree to Realezi’s T&C</p>
            </div>
            <button type="submit" id="freeConsultationBtn" class="text-capitalize text-center" disabled>Submit</button>
          </form>
          <div class="consultation-great-msg position-absolute top-0 start-0 bg-white">
            <div class="video">
              <video src="{% static 'front-end/interior/assets/video/form-msg.mp4' %}" width="100%" muted autoplay playsinline
                id="consultation-video"></video>
              <div class="msg text-center hidden" id="consultation-msg">
                <h3 class="fs-3 m-0" style="color: #EC7100;">Great!</h3>
                <p class="m-0 pt-2" style="color: #434343;">Our Dedicated Relationship Manager will contact you shortly
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- free-consultation-form end -->

  <!-- gradient slider start -->
  <section class="gradient">

    <!-- slider-wrapper start -->
    <section class="photo-slider-section">
      <div class="slider-container">
        <div class="row d-flex flex-nowrap">
          <div class="card-group track">
            <div class="card">
              <img src="{% static 'front-end/interior/assets/img/gradient_slide_1.png' %}" alt="">
            </div>
            <div class="card">
              <img src="{% static 'front-end/interior/assets/img/gradient_slide_2.png' %}" alt="">
            </div>
            <div class="card">
              <img src="{% static 'front-end/interior/assets/img/gradient_slide_3.jpg' %}" alt="">
            </div>
            <div class="card">
              <img src="{% static 'front-end/interior/assets/img/gradient_slide_4.jpg' %}" alt="">
            </div>
            <div class="card">
              <img src="{% static 'front-end/interior/assets/img/gradient_slide_5.png' %}" alt="">
            </div>
            <div class="card">
              <img src="{% static 'front-end/interior/assets/img/gradient_slide_6.png' %}" alt="">
            </div>
            <div class="card">
              <img src="{% static 'front-end/interior/assets/img/gradient_slide_7.png' %}" alt="">
            </div>
            <div class="card">
              <img src="{% static 'front-end/interior/assets/img/gradient_slide_1.png' %}" alt="">
            </div>
            <div class="card">
              <img src="{% static 'front-end/interior/assets/img/gradient_slide_2.png' %}" alt="">
            </div>
            <div class="card">
              <img src="{% static 'front-end/interior/assets/img/gradient_slide_3.jpg' %}" alt="">
            </div>
            <div class="card">
              <img src="{% static 'front-end/interior/assets/img/gradient_slide_3.jpg' %}" alt="">
            </div>
          </div>
          <div class="card-group track">
            <div class="card">
              <img src="{% static 'front-end/interior/assets/img/gradient_slide_3.jpg' %}" alt="">
            </div>
            <div class="card">
              <img src="{% static 'front-end/interior/assets/img/gradient_slide_8.jpg' %}" alt="">
            </div>
            <div class="card">
              <img src="{% static 'front-end/interior/assets/img/gradient_slide_9.png' %}" alt="">
            </div>
            <div class="card">
              <img src="{% static 'front-end/interior/assets/img/gradient_slide_10.jpg' %}" alt="">
            </div>
            <div class="card">
              <img src="{% static 'front-end/interior/assets/img/gradient_slide_11.jpg' %}" alt="">
            </div>
            <div class="card">
              <img src="{% static 'front-end/interior/assets/img/gradient_slide_12.jpg' %}" alt="">
            </div>
            <div class="card">
              <img src="{% static 'front-end/interior/assets/img/gradient_slide_1.png' %}" alt="">
            </div>
            <div class="card">
              <img src="{% static 'front-end/interior/assets/img/gradient_slide_3.jpg' %}" alt="">
            </div>
            <div class="card">
              <img src="{% static 'front-end/interior/assets/img/gradient_slide_5.png' %}" alt="">
            </div>
            <div class="card">
              <img src="{% static 'front-end/interior/assets/img/gradient_slide_14.jpg' %}" alt="">
            </div>
            <div class="card">
              <img src="{% static 'front-end/interior/assets/img/gradient_slide_8.jpg' %}" alt="">
            </div>
          </div>
          <div class="card-group track">
            <div class="card">
              <img src="{% static 'front-end/interior/assets/img/gradient_slide_1.png' %}" alt="">
            </div>
            <div class="card">
              <img src="{% static 'front-end/interior/assets/img/gradient_slide_2.png' %}" alt="">
            </div>
            <div class="card">
              <img src="{% static 'front-end/interior/assets/img/gradient_slide_3.jpg' %}" alt="">
            </div>
            <div class="card">
              <img src="{% static 'front-end/interior/assets/img/gradient_slide_13.jpg' %}" alt="">
            </div>
            <div class="card">
              <img src="{% static 'front-end/interior/assets/img/gradient_slide_14.jpg' %}" alt="">
            </div>
            <div class="card">
              <img src="{% static 'front-end/interior/assets/img/gradient_slide_8.jpg' %}" alt="">
            </div>
            <div class="card">
              <img src="{% static 'front-end/interior/assets/img/gradient_slide_5.png' %}" alt="">
            </div>
            <div class="card">
              <img src="{% static 'front-end/interior/assets/img/gradient_slide_1.png' %}" alt="">
            </div>
            <div class="card">
              <img src="{% static 'front-end/interior/assets/img/gradient_slide_2.png' %}" alt="">
            </div>
            <div class="card">
              <img src="{% static 'front-end/interior/assets/img/gradient_slide_3.jpg' %}" alt="">
            </div>
            <div class="card">
              <img src="{% static 'front-end/interior/assets/img/gradient_slide_1.png' %}" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- slider-wrapper end -->

    <!-- header start -->
    <header class="border-0" id="header">
      <div class="container">
        <div class="row">
          <div class="main-box d-flex">
            <div class="logo">
              <div class="image">
                <a href="#" class="d-inline-block">
                  <img src="{% static 'front-end/interior/assets/img/logo.png' %}" alt="logo" width="100px" class="d-block mt-2">
                </a>
              </div>
            </div>
            <div class="main-menu m-auto">
              <ul class="p-0 d-flex flex-wrap m-0 col-lg-12 justify-content-between">
                <li class="active">
                  <a href="interior-page.html" class="text-capitalize py-1 text-center">Interior</a>
                </li>
                <li>
                  <a href="https://www.realezi.com" class="text-capitalize py-1 text-center">Home</a>
                </li>
                <li>
                  <a href="{% url 'blog_rent_buy' %}" class="py-1 text-center">Buy or Rent</a>
                </li>
                <li>
                  <a href="#" class="text-capitalize py-1 text-center">About</a>
                </li>
                <li>
                  <a href="{% url 'contact_us' %}" class="text-capitalize py-1 text-center">Contact</a>
                </li>
              </ul>
              <button class="slider-btn prev-btn">❮</button>
              <button class="slider-btn next-btn">❯</button>
            </div>
            <div class="menu-icon">
              <!-- <div class="icon">
                <span></span>
              </div> -->
              <input id="checkbox" type="checkbox">
              <label class="toggle" for="checkbox">
                <div id="bar1" class="bars"></div>
                <div id="bar2" class="bars"></div>
                <div id="bar3" class="bars"></div>
                <div id="bar4" class="bars"></div>
                <div id="bar5" class="bars"></div>
              </label>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- header end -->

    <!--gradient-content-section start -->
    <section class="gradient-content-section">
      <div class="container">
        <div class="row">
          <div class="card">
            <div class="image">
              <a href="https://www.realezi.com"><img src="{% static 'front-end/interior/assets/img/logo.png' %}" alt="logo" width="150px" class="d-block mb-2"></a>
            </div>
            <div class="detail">
              <span class="d-block">Interior spaces that <br> speaks to you</span>
              <p class="m-0 text-white py-4">From foundation to furnishing , we do it all</p>
            </div>
            <div class="btn d-block border-0">
              <a href="#" class="text-capitalize d-inline-block" id="consultation">Free Consultation</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- gradient-content-section end -->
  </section>
  <!-- gradient slider en -->

  <!-- service-section start -->
  <section class="service-section">
    <div class="container">
      <div class="row">
        <div class="card-group d-flex flex-wrap justify-content-center">
          <div class="card">
            <div class="content">
              <div class="detail">
                <span class="text-capitalize text-white">Complete Turnkey Services</span>
                <p class="m-0 text-white pt-2">With an emphasis on details, extraordinary designs and exceptional
                  customer service, we bring your dreams to life.</p>
              </div>
              <!-- <a href="#" class="text-white">Know More</a>  -->
            </div>
          </div>
          <div class="card">
            <div class="content">
              <div class="image d-flex justify-content-center">
                <canvas id="weDesign" width="1000px" height="250px"></canvas>
              </div>
              <div class="detail text-center">
                <span class="text-capitalize pt-2">We Design</span>
                <p class="m-0 pt-2">From completed homes to modular kitchens, and storage to decor, our top interior
                  designers create spaces that match your vision.</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="content">
              <div class="image d-flex justify-content-center">
                <canvas id="weExcute" width="1000px" height="800px"></canvas>
              </div>
              <div class="detail text-center">
                <span class="text-capitalize pt-2">We Execute</span>
                <p class="m-0 pt-2">We follow a meticulous planning approach with detail-driven designs for interiors of
                  your homes.</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="content">
              <div class="image d-flex justify-content-center">
                <!-- <img src="{% static 'front-end/interior/assets/img/manage.png' %}" alt="we design" height="137px"> -->
                <canvas id="weManage"></canvas>
              </div>
              <div class="detail text-center">
                <span class="text-capitalize pt-2">We Manage</span>
                <p class="m-0 pt-2">Our top interior designers spearhead quality assurance by extending support after
                  the execution of home projects.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- service-section end -->

  <!-- shot-section start -->
  <div class="section-three">
    <h2 class="text-center">Shots</h2>
    <div class="video-slider position-relative">
      <button class="nav-btn prev-btn"><img src="{% static 'front-end/interior/assets/img/right-arrow-white.png' %}" width="18px"></button>
      <div class="video-container d-flex justify-content-start">
        <div class="video">
          <div class="instagram-video"
            style="position: relative; width: 200px; height: 350px; overflow: hidden;border-radius: 15px">
            <iframe src="https://www.instagram.com/reel/C-iC6iLtniX/embed" width="300" height="430" frameborder="0"
              scrolling="no" allowtransparency="true"
              style="position: absolute; top: -70px; left: 52%;transform: translateX(-50%); "></iframe>
          </div>

          <div class="d-flex align-items-center justify-content-between my-2">
            <p>Semi furnished 1 BHK in block 2, Garden Villas</p>
          </div>
        </div>
        <div class="video">
          <div class="instagram-video"
            style="position: relative; width: 200px; height: 350px; overflow: hidden;border-radius: 15px">
            <iframe src="https://www.instagram.com/reel/C0vJn2bIifD/embed" width="300" height="430" frameborder="0"
              scrolling="no" allowtransparency="true"
              style="position: absolute; top: -70px; left: 52%;transform: translateX(-50%); "></iframe>
          </div>

          <div class="d-flex align-items-center justify-content-between my-2">
            <p>Semi furnished 1 BHK in block 2, Garden Villas</p>
          </div>
        </div>
        <div class="video">
          <div class="instagram-video"
            style="position: relative; width: 200px; height: 350px; overflow: hidden;border-radius: 15px">
            <iframe src="https://www.instagram.com/reel/C7MVWCmtPpN/embed" width="300" height="430" frameborder="0"
              scrolling="no" allowtransparency="true"
              style="position: absolute; top: -70px; left: 52%;transform: translateX(-50%); "></iframe>
          </div>

          <div class="d-flex align-items-center justify-content-between my-2">
            <p>Semi furnished 1 BHK in block 2, Garden Villas</p>
          </div>
        </div>
        <div class="video">
          <div class="instagram-video"
            style="position: relative; width: 200px; height: 350px; overflow: hidden;border-radius: 15px">
            <iframe src="https://www.instagram.com/reel/C87CirjNaru/embed" width="300" height="430" frameborder="0"
              scrolling="no" allowtransparency="true"
              style="position: absolute; top: -70px; left: 52%;transform: translateX(-50%); "></iframe>
          </div>

          <div class="d-flex align-items-center justify-content-between my-2">
            <p>Semi furnished 1 BHK in block 2, Garden Villas</p>
          </div>
        </div>
        <div class="video">
          <div class="instagram-video"
            style="position: relative; width: 200px; height: 350px; overflow: hidden;border-radius: 15px">
            <iframe src="https://www.instagram.com/reel/C4nxoM9NYs1/embed" width="300" height="430" frameborder="0"
              scrolling="no" allowtransparency="true"
              style="position: absolute; top: -70px; left: 52%;transform: translateX(-50%); "></iframe>
          </div>

          <div class="d-flex align-items-center justify-content-between my-2">
            <p>Semi furnished 1 BHK in block 2, Garden Villas</p>
          </div>
        </div>
        <div class="video">
          <div class="instagram-video"
            style="position: relative; width: 200px; height: 350px; overflow: hidden;border-radius: 15px">
            <iframe src="https://www.instagram.com/reel/C53Zv--LLAa/embed" width="300" height="430" frameborder="0"
              scrolling="no" allowtransparency="true"
              style="position: absolute; top: -70px; left: 52%;transform: translateX(-50%); "></iframe>
          </div>


          <div class="d-flex align-items-center justify-content-between my-2">
            <p>Semi furnished 1 BHK in block 2, Garden Villas</p>
          </div>
        </div>
        <div class="video">
          <div class="instagram-video"
            style="position: relative; width: 200px; height: 350px; overflow: hidden;border-radius: 15px">
            <iframe src="https://www.instagram.com/reel/C0vJn2bIifD/embed" width="300" height="430" frameborder="0"
              scrolling="no" allowtransparency="true"
              style="position: absolute; top: -70px; left: 52%;transform: translateX(-50%); "></iframe>
          </div>

          <div class="d-flex align-items-center justify-content-between my-2">
            <p>Semi furnished 1 BHK in block 2, Garden Villas</p>
          </div>
        </div>
        <div class="video">
          <div class="instagram-video"
            style="position: relative; width: 200px; height: 350px; overflow: hidden;border-radius: 15px">
            <iframe src="https://www.instagram.com/reel/C-iC6iLtniX/embed" width="300" height="430" frameborder="0"
              scrolling="no" allowtransparency="true"
              style="position: absolute; top: -70px; left: 52%;transform: translateX(-50%); "></iframe>
          </div>

          <div class="d-flex align-items-center justify-content-between my-2">
            <p>Semi furnished 1 BHK in block 2, Garden Villas</p>
          </div>
        </div>
        <div class="video">
          <div class="instagram-video"
            style="position: relative; width: 200px; height: 350px; overflow: hidden;border-radius: 15px">
            <iframe src="https://www.instagram.com/reel/C0vJn2bIifD/embed" width="300" height="430" frameborder="0"
              scrolling="no" allowtransparency="true"
              style="position: absolute; top: -70px; left: 52%;transform: translateX(-50%); "></iframe>
          </div>

          <div class="d-flex align-items-center justify-content-between my-2">
            <p>Semi furnished 1 BHK in block 2, Garden Villas</p>
          </div>
        </div>

      </div>
      <button class="nav-btn next-btn"><img src="{% static 'front-end/interior/assets/img/right-arrow-white.png' %}" width="18px"></button>
    </div>
  </div>
  <!-- shot-section end -->

  <!-- expert-section start -->
  <section class="expert-section">
    <div class="container">
      <div class="row">
        <div class="main-heading">
          <h2 class="m-0 pb-3">Transform Your Space with Experts</h2>
          <p class="m-0 pb-3">Elevate every corner of your home with our all-in-one design solutions. From expert
            consultation <br> to personalized decorating and comprehensive design services, we bring your vision to life
            with <br> style and elegance."</p>
          <div class="btn d-block text-start ps-0">
            <a href="#" id="expertTalk" class="text-white d-inline-block">Talk to Our expert</a>
          </div>
        </div>
        <div class="card-group justify-content-between flex-wrap pt-5">
          <div class="card text-center">
            <div class="content h-100">
              <div class="image d-flex justify-content-center">
                <!-- <img src="{% static 'front-end/interior/assets/img/design_service.png' %}" alt="design_service" width="120px"> -->
                <canvas id="designService" width="1000px" height="450px"></canvas>
              </div>
              <div class="detail">
                <span class="d-block py-1">Design services</span>
                <p class="m-0">Transform your space with our expert interior design services, tailored to your unique
                  style.</p>
              </div>
            </div>
          </div>
          <div class="card text-center">
            <div class="content h-100">
              <div class="image d-flex justify-content-center">
                <!-- <img src="{% static 'front-end/interior/assets/img/home_improvment.png' %}" alt="home_improvment" width="120px"> -->
                <canvas id="homeImprovements" width="1000px" height="450px"></canvas>
              </div>
              <div class="detail">
                <span class="d-block py-1">Home Improvements</span>
                <p class="m-0">Revamp your living space effortlessly with our expert home decorating services and
                  creative ideas.</p>
              </div>
            </div>
          </div>
          <div class="card text-center">
            <div class="content h-100">
              <div class="image d-flex justify-content-center">
                <!-- <img src="{% static 'front-end/interior/assets/img/design_service.png' %}" alt="design_consultation" width="124px"> -->
                <canvas id="designConsultation" width="1000px" height="500px"></canvas>
              </div>
              <div class="detail">
                <span class="d-block py-1">Design consultation</span>
                <p class="m-0">Bring your vision to life with our expert design consultation, tailored to your unique
                  style and needs.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- expert-section end -->

  <!-- simple-step-section start -->
  <section class="simple-step-section">
    <div class="container">
      <div class="row">
        <div class="card-group justify-content-between flex-wrap">
          <div class="card col-7 col-md-12 col-lg-6">
            <div class="content">
              <h2 class="m-0 fw-semibold">Simple Steps to <br> Transform Your Home</h2>
            </div>
          </div>
          <div class="card col-3 col-md-12 col-lg-6">
            <div class="content">
              <p class="m-0 fw-bolder">Experience the ease of creating your dream space with our streamlined process.
                From
                consultation to final touches, our expert team guides you every step of the way.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- simple-step-section end -->

  <!-- slider-section start -->
  <section class="slider-section">
    <div class="container">
      <div class="row">
        <div id="sliderAutoplay" class="carousel slide" data-bs-ride="carousel" data-bs-interval="6000">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="card d-flex justify-content-between flex-row align-items-center">
                <div class="detail col-5 col-lg-6">
                  <span class="fw-semibold">Meet the team</span>
                  <p class="m-0 pt-2">Schedule your design consultation today and meet our experienced team ready to
                    transform your space. Let's collaborate to create a home that reflects your unique style and vision
                  </p>
                </div>
                <div class="image col-5 col-lg-6 d-flex justify-content-center">
                  <!-- <img src="{% static 'front-end/interior/assets/img/slider.png' %}" alt="slide"> -->
                  <canvas id="slide_1" width="1000px" height="450px"></canvas>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="card d-flex justify-content-between flex-row align-items-center">
                <div class="detail col-5 col-lg-6">
                  <span class="fw-semibold">Lock the design</span>
                  <p class="m-0 pt-2">Schedule your design consultation today and meet our experienced team ready to
                    transform your space. Let's collaborate to create a home that reflects your unique style and vision
                  </p>
                </div>
                <div class="image col-5 col-lg-6 d-flex justify-content-center">
                  <!-- <img src="{% static 'front-end/interior/assets/img/slider.png' %}" alt="slide"> -->
                  <canvas id="slide_2" width="1000px" height="400px"></canvas>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="card d-flex justify-content-between flex-row align-items-center">
                <div class="detail col-5 col-lg-6">
                  <span class="fw-semibold">Get work done by experts</span>
                  <p class="m-0 pt-2">Schedule your design consultation today and meet our experienced team ready to
                    transform your space. Let's collaborate to create a home that reflects your unique style and vision
                  </p>
                </div>
                <div class="image col-5 col-lg-6 d-flex justify-content-center">
                  <!-- <img src="{% static 'front-end/interior/assets/img/slider.png' %}" alt="slide"> -->
                  <canvas id="slide_3" width="1000px" height="400px"></canvas>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-indicators gap-1 m-0">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- slider-section end -->

  <!-- tailored-interior-section start -->
  <section class="tailored-interior-section">
    <div class="container">
      <div class="row">
        <div class="main-heading pb-4">
          <h2 class="m-0 fw-medium">Tailored Interior Solutions for Every Space</h2>
          <p class="m-0 fw-normal py-2">Schedule your design consultation today and meet our experienced <br> team ready
            to transform your space.</p>
        </div>
        <div class="card-group d-flex flex-wrap">
          <div class="card col-12 col-sm-12 col-md-4">
            <div class="content d-flex flex-wrap justify-content-between bg-white rounded-3">
              <span class="text-capitalize fw-medium fs-4 w-100">Modular Kitchen</span>
              <p class="m-0 fw-normal w-100">Efficient, stylish modular kitchens tailored to your culinary needs.</p>
            </div>
          </div>
          <div class="card col-6 col-sm-6 col-md-4">
            <div class="content d-flex flex-wrap justify-content-between bg-white rounded-3">
              <span class="text-capitalize fw-medium fs-4 w-100">Wardrobes</span>
              <p class="m-0 fw-normal w-100">Custom wardrobes designed for your storage and style preferences.</p>
            </div>
          </div>
          <div class="card col-6 col-sm-6 col-md-4">
            <div class="content d-flex flex-wrap justify-content-between bg-white rounded-3">
              <span class="text-capitalize fw-medium fs-4 w-100">Master Bedroom</span>
              <p class="m-0 fw-normal w-100">Transform your master bedroom into a luxurious retreat.</p>
            </div>
          </div>
        </div>
        <div class="card-group d-flex flex-wrap">
          <div class="card col-12 col-sm-6 col-lg-3">
            <div class="content d-flex flex-wrap justify-content-between bg-white rounded-3">
              <span class="text-capitalize fw-medium fs-4 w-100">Bathroom</span>
              <p class="m-0 fw-normal w-100">Elegant bathroom solutions for comfort and functionality</p>
            </div>
          </div>
          <div class="card col-6 col-sm-6 col-lg-6">
            <div class="content d-flex flex-wrap justify-content-between bg-white rounded-3">
              <span class="text-capitalize fw-medium fs-4 w-100">Kitchen False Ceiling</span>
              <p class="m-0 fw-normal w-100">Enhance your kitchen with innovative false ceiling designs.</p>
            </div>
          </div>
          <div class="card col-6 col-sm-12 col-lg-3">
            <div class="content d-flex flex-wrap justify-content-between bg-white rounded-3">
              <span class="text-capitalize fw-medium fs-4 w-100">Balcony</span>
              <p class="m-0 fw-normal w-100">Create an inviting outdoor space with our balcony designs.</p>
            </div>
          </div>
        </div>
        <div class="card-group d-flex flex-wrap">
          <div class="card col-3">
            <div class="content d-flex flex-wrap justify-content-between bg-white rounded-3">
              <span class="text-capitalize fw-medium fs-4 w-100">Kids Room</span>
              <p class="m-0 fw-normal w-100">Fun and functional designs for your child's room</p>
            </div>
          </div>
          <div class="card col-3">
            <div class="content d-flex flex-wrap justify-content-between bg-white rounded-3">
              <span class="text-capitalize fw-medium fs-4 w-100">Dining Room</span>
              <p class="m-0 fw-normal w-100">Elevate dining experiences with our sophisticated designs</p>
            </div>
          </div>
          <div class="card col-3">
            <div class="content d-flex flex-wrap justify-content-between bg-white rounded-3">
              <span class="text-capitalize fw-medium fs-4 w-100">TV Unit</span>
              <p class="m-0 fw-normal w-100">Sleek and practical TV units for your entertainment area.</p>
            </div>
          </div>
          <div class="card col-3">
            <div class="content d-flex flex-wrap justify-content-between bg-white rounded-3">
              <span class="text-capitalize fw-medium fs-4 w-100">Living Room</span>
              <p class="m-0 fw-normal w-100">Designs that harmonize comfort and style in your living space.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- tailored-interior-section end -->

  <!-- home-interior-section start -->
  <section class="referral-program-section">
    <div class="container">
      <div class="row">
        <div class="card-group d-flex flex-wrap align-items-center justify-content-evenly">
          <div class="card col-12 col-sm-10 col-md-6">
            <div class="content">
              <img src="{% static 'front-end/interior/assets/img/home_interior.png' %}" alt="home_interior" width="100%">
            </div>
          </div>
          <div class="card col-12 col-sm-12 col-md-6">
            <div class="content">
              <h2 class="fw-semibold m-0 text-capitalize">Referral Program</h2>
              <p class="m-0 fw-normal py-4">Join our referral program and earn rewards for every friend you
                bring to our design family. Share the joy of transforming spaces together</p>
              <div class="btn d-block text-start p-0">
                <a href="#" class="fw-normal d-inline-block text-white">Refer now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- home-interior-section end -->

  <!-- Footer Starts -->
  <footer class="footer">
    <div class="container">
      <div class="consultation-container d-flex align-items-center ">
        <img src="{% static 'front-end/interior/assets/img/Character.png' %}" width="250px" alt="">
        <button id="freeConsultation" class="open-brochure-modal-container">Book Free Consultion</button>
      </div>
      <div class="upper-footer">
        <div class="columns d-flex align-items-start justify-content-between my-3">
            <div style="margin-right: 10px;">
                <a href="https://www.realezi.com"><img src="{% static 'front-end/ApplicationForm/assets/logo.png' %}" width="150px" class="mb-3" /></a>
                <h3>
                    Click.<br>
                    Connect.<br>
                    Close.<br>
                </h3>
                <button class="white-btn">Try it yourself</button>
            </div>
            <div class="">
                <div>
                    <h4 class="d-flex align-items-center">Company <span class="d-block d-sm-none mx-2 mb-1"><svg
                                width="14" height="10" viewBox="0 0 12 8" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M1.41 0.590088L6 5.17009L10.59 0.590088L12 2.00009L6 8.00009L0 2.00009L1.41 0.590088Z"
                                    fill="#ffffff" />
                            </svg></span></h4>
                    <ul>
                        <a href=""><li>About us</li></a>
                        <a href="{% url 'news_blog_page' %}"><li>Blog</li></a>
                        <a href="{% url 'career' %}"><li>Career</li></a>
                        <a href="{% url 'contact_us' %}"><li>Contact support</li></a>
                        <a href="{% url 'contact_us' %}"><li>Get in touch</li></a>
                        <a href="{% url 'faq_first_page' %}"><li>FAQs</li></a>
                        <a href="{% url 'faq_second_page' %}"><li>FAQs</li></a>
                        <a href="{% url 'career' %}"><button
                            class="align-items-center justify-content-center blue-btn mt-3 d-none d-sm-block">
                            <p class="mx-2">We are hiring</p>
                            <canvas id="partyPopper"></canvas>
                        </button></a>
                    </ul>
                </div>
            </div>


            <div class="playStore-btn larger-screen d-flex align-items-center justify-content-between">
                <a href="#" class="googlePlay-button" id="launch-button">
                    <span class="icon">
                        <svg fill="currentcolor" viewBox="-52.01 0 560.035 560.035"
                            xmlns="http://www.w3.org/2000/svg" stroke="#ffffff">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round">
                            </g>
                            <g id="SVGRepo_iconCarrier">
                                <path
                                    d="M380.844 297.529c.787 84.752 74.349 112.955 75.164 113.314-.622 1.988-11.754 40.191-38.756 79.652-23.343 34.117-47.568 68.107-85.731 68.811-37.499.691-49.557-22.236-92.429-22.236-42.859 0-56.256 21.533-91.753 22.928-36.837 1.395-64.889-36.891-88.424-70.883-48.093-69.53-84.846-196.475-35.496-282.165 24.516-42.554 68.328-69.501 115.882-70.192 36.173-.69 70.315 24.336 92.429 24.336 22.1 0 63.59-30.096 107.208-25.676 18.26.76 69.517 7.376 102.429 55.552-2.652 1.644-61.159 35.704-60.523 106.559M310.369 89.418C329.926 65.745 343.089 32.79 339.498 0 311.308 1.133 277.22 18.785 257 42.445c-18.121 20.952-33.991 54.487-29.709 86.628 31.421 2.431 63.52-15.967 83.078-39.655">
                                </path>
                            </g>
                        </svg>
                    </span>
                    <span class="texts">
                        <span class="text-1">Download form</span>
                        <span class="text-2">App store</span>
                    </span>
                </a>
                <a href="#" class="appstore-button">
                    <svg viewBox="0 0 512 512" class="icon" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M99.617 8.057a50.191 50.191 0 00-38.815-6.713l230.932 230.933 74.846-74.846L99.617 8.057zM32.139 20.116c-6.441 8.563-10.148 19.077-10.148 30.199v411.358c0 11.123 3.708 21.636 10.148 30.199l235.877-235.877L32.139 20.116zM464.261 212.087l-67.266-37.637-81.544 81.544 81.548 81.548 67.273-37.64c16.117-9.03 25.738-25.442 25.738-43.908s-9.621-34.877-25.749-43.907zM291.733 279.711L60.815 510.629c3.786.891 7.639 1.371 11.492 1.371a50.275 50.275 0 0027.31-8.07l266.965-149.372-74.849-74.847z">
                        </path>
                    </svg>
                    <span class="texts">
                        <span class="text-1">GET IT ON</span>
                        <span class="text-2">Google Play</span>
                    </span>
                </a>
            </div>
            <div>
                <h4 class="d-flex align-items-center">Solutions<span class="d-block d-sm-none mx-2 mb-1"><svg
                            width="14" height="10" viewBox="0 0 12 8" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M1.41 0.590088L6 5.17009L10.59 0.590088L12 2.00009L6 8.00009L0 2.00009L1.41 0.590088Z"
                                fill="#ffffff" />
                        </svg></span></h4>
                <div class="d-flex">
                    <ul>
                        <a href=""><li>Find a Right Property</li></a>
                        <a href="{% url 'blog_rent_buy' %}"><li>Sell or Rent Your Property</li></a>
                        <a href=""><li>Build Your Home From Scratch </li></a>
                        <a href=""><li>Interior Designing & Decor</li></a>
                        <a href="{% url 'solar_page' %}"><li>Solar Panel</li></a>
                        <a href=""><li>Home Loans</li></a>
                        <a href=""><li class="d-block d-sm-none">Legal Aid </li></a>
                        <a href=""><li class="d-block d-sm-none">Porter Services</li></a>
                        <a href=""><li class="d-block d-sm-none">For Business</li></a>
                    </ul>
                    <ul class="px-3 d-none d-sm-block">
                        <a href="{% url 'Legal_Aid_Realezi' %}"><li>Legal Aid </li></a>
                        <a href="{% url 'movers_and_packers' %}"><li>Porter Services</li></a>
                        <a href="{% url 'architecture' %}"><li>Architecture</li></a>
                        <a href=""><li>For Business</li></a>
                    </ul>
                </div>
            </div>
            <div>
                <h4 class="d-flex align-items-center">Community<span class="d-block d-sm-none mx-2 mb-1"><svg
                            width="14" height="10" viewBox="0 0 12 8" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M1.41 0.590088L6 5.17009L10.59 0.590088L12 2.00009L6 8.00009L0 2.00009L1.41 0.590088Z"
                                fill="#ffffff" />
                        </svg></span></h4>
                <ul>
                    <a href="{% url 'refer_and_earn_realezi' %}"><button class="align-items-center blue-btn refer-btn mt-3 d-none d-sm-block">
                        <p class="mx-2">Refer & Earn</p>
                        <lottie-player src="{% static 'front-end/ApplicationForm/assets/animation-files/fire-animation.json' %}"
                            background="transparent" speed="1" style="width: 25px; height: 25px" loop
                            autoplay></lottie-player>
                    </button></a>
                    <a href=""><li>Realezi Community</li></a>
                    <a href="{% url 'customer_review' %}"><li>Customers</li></a>
                </ul>
            </div>
            <div class="d-block d-sm-none">
                <h4 class="d-flex align-items-center">Others<span class="d-block d-sm-none mx-2 mb-1"><svg
                            width="14" height="10" viewBox="0 0 12 8" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M1.41 0.590088L6 5.17009L10.59 0.590088L12 2.00009L6 8.00009L0 2.00009L1.41 0.590088Z"
                                fill="#ffffff" />
                        </svg></span></h4>
                <div class="position-relative">
                    <ul>
                        <li>Privacy policies</li>
                        <li>Terms and conditions</li>
                        <li>Disclaimer</li>
                        <li class="text-right">
                            <button class="align-items-center justify-content-center blue-btn">
                                <p class="mx-2">We are hiring</p>
                                <canvas id="partyPopper2"></canvas>
                            </button>
                            <button class="align-items-center blue-btn refer-btn mt-3">
                                <p class="mx-2">Refer & Earn</p>
                                <lottie-player src="{% static 'front-end/ApplicationForm/assets/animation-files/fire-animation.json' %}"
                                    background="transparent" speed="1" style="width: 25px; height: 25px" loop
                                    autoplay></lottie-player>
                            </button>
                        </li>
                        <li class="d-flex align-items-center justify-content-center"><a href="#"
                                class="googlePlay-button" id="launch-button">
                                <span class="icon">
                                    <svg fill="currentcolor" viewBox="-52.01 0 560.035 560.035"
                                        xmlns="http://www.w3.org/2000/svg" stroke="#ffffff">
                                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round"
                                            stroke-linejoin="round">
                                        </g>
                                        <g id="SVGRepo_iconCarrier">
                                            <path
                                                d="M380.844 297.529c.787 84.752 74.349 112.955 75.164 113.314-.622 1.988-11.754 40.191-38.756 79.652-23.343 34.117-47.568 68.107-85.731 68.811-37.499.691-49.557-22.236-92.429-22.236-42.859 0-56.256 21.533-91.753 22.928-36.837 1.395-64.889-36.891-88.424-70.883-48.093-69.53-84.846-196.475-35.496-282.165 24.516-42.554 68.328-69.501 115.882-70.192 36.173-.69 70.315 24.336 92.429 24.336 22.1 0 63.59-30.096 107.208-25.676 18.26.76 69.517 7.376 102.429 55.552-2.652 1.644-61.159 35.704-60.523 106.559M310.369 89.418C329.926 65.745 343.089 32.79 339.498 0 311.308 1.133 277.22 18.785 257 42.445c-18.121 20.952-33.991 54.487-29.709 86.628 31.421 2.431 63.52-15.967 83.078-39.655">
                                            </path>
                                        </g>
                                    </svg>
                                </span>
                                <span class="texts">
                                    <span class="text-1">Download form</span>
                                    <span class="text-2">App store</span>
                                </span>
                            </a>
                            <a href="#" class="appstore-button">
                                <svg viewBox="0 0 512 512" class="icon" fill="currentColor"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M99.617 8.057a50.191 50.191 0 00-38.815-6.713l230.932 230.933 74.846-74.846L99.617 8.057zM32.139 20.116c-6.441 8.563-10.148 19.077-10.148 30.199v411.358c0 11.123 3.708 21.636 10.148 30.199l235.877-235.877L32.139 20.116zM464.261 212.087l-67.266-37.637-81.544 81.544 81.548 81.548 67.273-37.64c16.117-9.03 25.738-25.442 25.738-43.908s-9.621-34.877-25.749-43.907zM291.733 279.711L60.815 510.629c3.786.891 7.639 1.371 11.492 1.371a50.275 50.275 0 0027.31-8.07l266.965-149.372-74.849-74.847z">
                                    </path>
                                </svg>
                                <span class="texts">
                                    <span class="text-1">GET IT ON</span>
                                    <span class="text-2">Google Play</span>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="lower-footer">
        <div class="lower-upper d-none d-sm-block">
            <ul class="d-flex align-items-center justify-content-center">
                <a href="{% url 'privacy_page' %}"><li>Privacy policies</li></a>
                <a href="{% url 'terms_page' %}"><li>Terms and conditions</li></a>
                <a href="{% url 'disclaimer' %}"><li>Disclaimer</li></a>
            </ul>
        </div>
        <div class="lower-bottom d-flex align-items-center justify-content-between">
            <p class="text-center">©2024 Realezi. All rights reserved</p>
            <p>
                Made with love <img src="{% static 'front-end/ApplicationForm/assets/heart.png' %}" width="15px" /> from
                Realezi
            </p>
            <div class="socials-container">
                <a href="https://www.facebook.com/profile.php?id=100095528529674&mibextid=ZbWKwL"
                    target="_blank" class="fb-btn social-btn">
                    <img src="{% static 'front-end/ApplicationForm/assets/fb.png' %}" width="18px" />
                    <span class="text">Facebook</span>
                </a>
                <a href="https://www.linkedin.com/company/realezi/" target="_blank"
                    class="linkedin-btn social-btn">
                    <img src="{% static 'front-end/ApplicationForm/assets/linkedin.png' %}" width="18px" />
                    <span class="text">LinkedIn</span>
                </a>
                <a href="https://www.instagram.com/realezi_?utm_source=qr&igshid=ZDc4ODBmNjlmNQ%3D%3D"
                    target="_blank" class="insta-btn social-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512" class="svgIcon">
                        <path
                            d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z">
                        </path>
                    </svg>
                    <span class="text">Instagram</span>
                </a>
                <a href="https://www.youtube.com/@Realezi" target="_blank" class="youtube-btn social-btn">
                    <img src="{% static 'front-end/ApplicationForm/assets/youtube.png' %}" width="10px" />
                    <span class="text">Youtube</span>
                </a>
            </div>
        </div>
    </div>
    </div>
  </footer>
  <!-- Footer Ends -->

  <!-- js start -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.1/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.1/ScrollTrigger.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
  <script src="{% static 'front-end/interior/js/formValidation.js' %}"></script>
  <script src="{% static 'front-end/interior/js/interior-page.js' %}"></script>
  <script src="{% static 'front-end/interior/js/nav.js' %}"></script>
  <script src="https://unpkg.com/@rive-app/canvas@2.9.1"></script>
  <script src="{% static 'front-end/interior/js/rive-animations.js' %}"></script>
  <script defer src="{% static 'front-end/interior/js/video-slider.js' %}"></script>
  <script defer src="{% static 'front-end/interior/js/footer.js' %}"></script>
  <!-- js end -->
</body>

</html>