<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jobs</title>

    <!-- Bootstrap CSS from jsDelivr -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://unpkg.com/@rive-app/canvas@latest"></script>

    <!-- external css link -->
    <link rel="stylesheet" href="{% static 'front-end/JobListPage/index.css' %}">
</head>

<body>
    <!-- header section -->
    <header class="position-relative">
        <div class="container d-lg-block d-none">
            <a href="https://www.realezi.com"><button class="logo-btn rounded-pill mt-4 py-1 px-2 border-0">
                <img src="{% static 'front-end/JobListPage/assets/header-logo.png' %}" alt="logo" width="150">
            </button></a>
        </div>
        {% include 'Frontend/header-new-1.html' %}
    </header>

    <!-- main section -->
    <main class="bg-white">

        <section class="py-5 mt-5">
            <div class="row">
                <!-- Location Type Dropdown -->
                <div class="col-lg-3 col-md-6 col-6 mb-3">
                    <div class="dropdown fillter-dropdown">
                        <button class="dropdown-btn dropdown-toggle w-100" type="button" id="locationTypeDropdown"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Location Type
                        </button>
                        <ul class="dropdown-menu w-100" aria-labelledby="locationTypeDropdown">
                            <li><a class="dropdown-item" href="#" data-value="Option 1">Option 1</a></li>
                            <li><a class="dropdown-item" href="#" data-value="Option 2">Option 2</a></li>
                            <li><a class="dropdown-item" href="#" data-value="Option 3">Option 3</a></li>
                        </ul>
                    </div>
                </div>

                <!-- Location Dropdown -->
                <div class="col-lg-3 col-md-6 col-6 mb-3">
                    <div class="dropdown fillter-dropdown">
                        <button class="dropdown-btn dropdown-toggle w-100" type="button" id="locationDropdown"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Location
                        </button>
                        <ul class="dropdown-menu w-100" aria-labelledby="locationDropdown">
                            <li><a class="dropdown-item" href="#" data-value="Option 1">Option 1</a></li>
                            <li><a class="dropdown-item" href="#" data-value="Option 2">Option 2</a></li>
                            <li><a class="dropdown-item" href="#" data-value="Option 3">Option 3</a></li>
                        </ul>
                    </div>
                </div>

                <!-- Department Dropdown -->
                <div class="col-lg-3 col-md-6 col-6 mb-3">
                    <div class="dropdown fillter-dropdown">
                        <button class="dropdown-btn dropdown-toggle w-100" type="button" id="departmentDropdown"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Department
                        </button>
                        <ul class="dropdown-menu w-100" aria-labelledby="departmentDropdown">
                            <li><a class="dropdown-item" href="#" data-value="Option 1">Option 1</a></li>
                            <li><a class="dropdown-item" href="#" data-value="Option 2">Option 2</a></li>
                            <li><a class="dropdown-item" href="#" data-value="Option 3">Option 3</a></li>
                        </ul>
                    </div>
                </div>

                <!-- Work Type Dropdown -->
                <div class="col-lg-3 col-md-6 col-6 mb-3">
                    <div class="dropdown fillter-dropdown">
                        <button class="dropdown-btn dropdown-toggle w-100" type="button" id="workTypeDropdown"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Work Type
                        </button>
                        <ul class="dropdown-menu w-100" aria-labelledby="workTypeDropdown">
                            <li><a class="dropdown-item" href="#" data-value="Option 1">Option 1</a></li>
                            <li><a class="dropdown-item" href="#" data-value="Option 2">Option 2</a></li>
                            <li><a class="dropdown-item" href="#" data-value="Option 3">Option 3</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section class="pb-5 pt-lg-5 pt-md-5 pt-0">
            <div class="primary-text-color job-title-text">COMMUNICATIONS</div>
            <div class="mt-5">
                <div class="job-sub-category-text text-decoration-underline">CORPORATE COMMUNICATIONS</div>
                <div class="card job-card border-0 mt-3">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-lg-8 col-md-8 col-12">
                                <div class="card-title job-title">Senior Corporate Communications Manager</div>
                                <div class="card-text job-sub-title">REMOTE- PERMANENT</div>
                            </div>
                            <div
                                class="col-4 d-flex justify-content-start justify-content-lg-end justify-content-md-end mt-lg-0 mt-md-0 mt-3">
                                <a href="{% url 'job_description' %}"><button class="apply-job-btn py-1">Apply</button></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-5">
                    <div class="job-sub-category-text text-decoration-underline">PUBLIC RELATION</div>
                    <div class="card job-card border-0 mt-3">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-lg-8 col-md-8 col-12">
                                    <div class="card-title job-title">Senior Corporate Communications Manager</div>
                                    <div class="card-text job-sub-title">REMOTE- PERMANENT</div>
                                </div>
                                <div
                                    class="col-4 d-flex justify-content-start justify-content-lg-end justify-content-md-end mt-lg-0 mt-md-0 mt-3">
                                    <a href="{% url 'job_description' %}"><button class="apply-job-btn py-1">Apply</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="py-5">
            <div class="primary-text-color job-title-text">FINANCE</div>
            <div class="mt-5">
                <div class="job-sub-category-text text-decoration-underline">FINANCIAL PLANNING AND ANALYSIS</div>
                <div class="mt-4">
                    <div class="card job-card border-0 mt-3">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-lg-8 col-md-8 col-12">
                                    <div class="card-title job-title">FP&A Analyst</div>
                                    <div class="card-text job-sub-title">REMOTE- PERMANENT</div>
                                </div>
                                <div
                                    class="col-4 d-flex justify-content-start justify-content-lg-end justify-content-md-end mt-lg-0 mt-md-0 mt-3">
                                    <a href="{% url 'job_description' %}"><button class="apply-job-btn py-1">Apply</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card job-card border-0 mt-3">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-lg-8 col-md-8 col-12">
                                    <div class="card-title job-title">FP&A Analyst, Marketing</div>
                                    <div class="card-text job-sub-title">REMOTE- PERMANENT</div>
                                </div>
                                <div
                                    class="col-4 d-flex justify-content-start justify-content-lg-end justify-content-md-end mt-lg-0 mt-md-0 mt-3">
                                    <a href="{% url 'job_description' %}"><button class="apply-job-btn py-1">Apply</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card job-card border-0 mt-3">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-lg-8 col-md-8 col-12">
                                    <div class="card-title job-title">FP&A Analyst, Marketing</div>
                                    <div class="card-text job-sub-title">REMOTE- PERMANENT</div>
                                </div>
                                <div
                                    class="col-4 d-flex justify-content-start justify-content-lg-end justify-content-md-end mt-lg-0 mt-md-0 mt-3">
                                    <a href="{% url 'job_description' %}"><button class="apply-job-btn py-1">Apply</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="py-5">
            <div class="primary-text-color job-title-text">MARKETING</div>
            <div class="mt-5">
                <div class="job-sub-category-text text-decoration-underline">DIGITAL MARKETING</div>
                <div class="card job-card border-0 mt-3">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-lg-8 col-md-8 col-12">
                                <div class="card-title job-title">Senior Growth Creative Marketing Manager</div>
                                <div class="card-text job-sub-title">REMOTE- PERMANENT</div>
                            </div>
                            <div
                                class="col-4 d-flex justify-content-start justify-content-lg-end justify-content-md-end mt-lg-0 mt-md-0 mt-3">
                                <a href="{% url 'job_description' %}"><button class="apply-job-btn py-1">Apply</button></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-5">
                    <div class="job-sub-category-text text-decoration-underline">GRAPHIC DESIGN</div>
                    <div class="card job-card border-0 mt-3">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-lg-8 col-md-8 col-12">
                                    <div class="card-title job-title">Design Lead</div>
                                    <div class="card-text job-sub-title">REMOTE- PERMANENT</div>
                                </div>
                                <div
                                    class="col-4 d-flex justify-content-start justify-content-lg-end justify-content-md-end mt-lg-0 mt-md-0 mt-3">
                                    <a href="{% url 'job_description' %}"><button class="apply-job-btn py-1">Apply</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-5">
                    <div class="job-sub-category-text text-decoration-underline">PRODUCT DESIGN</div>
                    <div class="card job-card border-0 mt-3">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-lg-8 col-md-8 col-12">
                                    <div class="card-title job-title">Design Lead</div>
                                    <div class="card-text job-sub-title">REMOTE- PERMANENT</div>
                                </div>
                                <div
                                    class="col-4 d-flex justify-content-start justify-content-lg-end justify-content-md-end mt-lg-0 mt-md-0 mt-3">
                                    <a href="{% url 'job_description' %}"><button class="apply-job-btn py-1">Apply</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="py-5">
            <div class="primary-text-color job-title-text">PEOPLE & CULTURE</div>
            <div class="mt-5">
                <div class="job-sub-category-text text-decoration-underline">TALENT AQUISITION</div>
                <div class="card job-card border-0 mt-3">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-lg-8 col-md-8 col-12">
                                <div class="card-title job-title">Senior Corporate Communications Manager</div>
                                <div class="card-text job-sub-title">REMOTE- PERMANENT</div>
                            </div>
                            <div
                                class="col-4 d-flex justify-content-start justify-content-lg-end justify-content-md-end mt-lg-0 mt-md-0 mt-3">
                                <a href="{% url 'job_description' %}"><button class="apply-job-btn py-1">Apply</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- Footer -->
    {% include 'Frontend/footer-page-new.html' %}
    <!-- Footer Ends -->

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/rive-canvas@latest/rive.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.1/gsap.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.1/ScrollTrigger.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script> -->
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="{% static 'front-end/JobListPage/riv.js' %}"></script>
    <script src="{% static 'front-end/JobListPage/navbar.js' %}"></script>
    <script defer src="{% static 'front-end/JobListPage/footer.js' %}"></script>
    <script>
        document.querySelectorAll('.dropdown-menu .dropdown-item').forEach(function (item) {
            item.addEventListener('click', function (e) {
                // Get the value of the selected item
                let selectedText = e.target.getAttribute('data-value');

                // Find the corresponding dropdown button
                let dropdownBtn = e.target.closest('.dropdown').querySelector('.dropdown-toggle');

                // Set the button text to the selected value
                dropdownBtn.textContent = selectedText;
            });
        });
    </script>

</body>

</html>