<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Description</title>

    <!-- Bootstrap CSS from jsDelivr -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://unpkg.com/@rive-app/canvas@latest"></script>

    <!-- external css link -->
    <link rel="stylesheet" href="{% static 'front-end/JobDescription/index.css' %}">
</head>

<body>
    <!-- header section -->
    <header class="position-relative">
        <div class="container d-lg-block d-none">
            <a href="https://www.realezi.com"><button class="logo-btn rounded-pill mt-4 py-1 px-2">
                <img src="{% static 'front-end/JobDescription/assets/header-logo.png' %}" alt="logo" width="150">
            </button></a>
        </div>
        {% include 'Frontend/header-new-1.html' %}
    </header>

    <main class="bg-white">

        <section class="py-5">
            <div class="row align-items-center mt-5">
                <div class="col-lg-8 col-12">
                    <div class="primary-text-color title-text">Lead Design- GRAPHIC DESIGN</div>
                    <div class="secondary-text-color mt-2 sub-title-text">MARKETING / REMOTE- PERMANENT</div>
                </div>
                <div class="col-lg-4 col-12 d-lg-flex d-block justify-content-end mt-4 mt-lg-0">
                    <a href="{% url 'application_form' %}"><button class="apply-job-btn" id="formPage">Apply for this Job</button></a>
                </div>
            </div>
        </section>

        <section class="pb-5 pt-0 pt-lg-5 pt-md-5 secondary-text-color description-text">
            <div>Realezi’s Creative Studio is an exciting inflection point. We’re growing rapidly, supporting Realezi
                Inc.’s
                portfolio of apps globally—and we want this momentum to continue. As part of this expansion, we’re
                looking
                to hire a Design Lead to be an integral part of our growing team, working on global projects and across
                time
                zones.</div>

            <div class="mt-3">In this lead role within the Creative Studio, you’ll be responsible for developing
                effective, exciting, and
                culturally relevant work for our portfolio of brands. You’ll be part of a full-service, in-house,
                geographically diverse creative team of designers, art directors, and copywriters who work hand-in-hand
                with
                video editors and a global network of producers and external production partners.</div>
            <div class="mt-3">The Design Lead is a strategic thinker, problem solver and a proactive cross-functional
                partner who can
                deliver business-driving ideas in a demanding, fast-paced environment. With a thorough understanding of
                creative trends in tech and with knowledge in branding, advertising, digital platforms (including social
                platforms and CMS), web usability, accessibility, digital trends and website design. They have a
                willingness
                to take creative risks and push the boundaries but also to follow and interpret creative direction when
                needed.</div>
            <div class="mt-3">Your creative scope will range from global 360 campaigns, branding, cultural brand
                moments, regional
                efforts, growth initiatives, digital design and much more.</div>

            <div>This role is based in New York or Austin, TX and will report to the Design Director in London.</div>
        </section>

        <section class="py-5">
            <div class="paragraph-title">What you'll be doing</div>
            <div class="px-4 secondary-text-color description-text mt-5">
                <ul style="list-style-type: disc;">
                    <li class="mt-3">Develop the look and feel for high-visibility campaigns, branding and digital
                        content
                        that can flex
                        seamlessly across global territories, taking into account local nuances as well as industry
                        trends
                        and
                        best practices to drive design decisions driven by an understanding of our customers.
                    </li>
                    <li class="mt-3">Present creative work, clearly explaining the assignment, creative strategy,
                        creative
                        idea, design
                        decisions, and how it meets business objectives.
                    </li>
                    <li class="mt-3">Champion emotive and powerful creative work that continually pushes the boundaries.
                        With other
                        creative leaders, you’ll help foster an environment that encourages smart risk-taking and
                        innovation.
                    </li>
                    <li class="mt-3">Collaborate with cross-functional teams, including marketing and product design to
                        help
                        translate
                        briefs into a compelling creative solution and ensure brand consistency at all times.
                    </li>
                    <li class="mt-3">Lead and inspire the design team by religiously reviewing their work and providing
                        constructive,
                        actionable feedback that improves overall output. You’ll help nurture and develop talent,
                        encourage
                        a
                        collaborative environment as well as manage resources, workloads, and timelines.
                    </li>
                </ul>
            </div>
        </section>

        <section class="py-5">
            <div class="paragraph-title">About you</div>
            <div class="px-4 secondary-text-color description-text mt-5">
                <ul style="list-style-type: disc;">
                    <li class="mt-3">A bachelor’s degree in a related field
                    </li>
                    <li class="mt-3">9+ years of experience in design roles, preferably in the tech sector
                    </li>
                    <li class="mt-3">You have an expert command of design applications (Adobe CC, Figma), using the
                        latest
                        design tools, and embracing the future
                    </li>
                    <li class="mt-3">You have a proven track record and a robust portfolio of successful 360 design work
                        and
                        world class campaigns across multiple channels and territories that demonstrate design thinking
                        abilities and how decisions impact success
                    </li>
                    <li class="mt-3">You have experience in leadership positions, nurturing and providing feedback to
                        design
                        teams but also enjoy being hands-on, leading by example
                    </li>
                    <li class="mt-3">You are positive and committed with a 'can-do' attitude and a flexible approach to
                        complex
                        problems.
                        You use this attitude to problem solve into elegant and accessible designs</li>
                    <li>You enjoy concepting creative campaigns and ideas across multiple channels and at scale</li>
                    <li class="mt-3">You have excellent time management and you know how to manage multiple priorities,
                        breaking
                        large
                        projects into manageable pieces. Your strong organisational skills and attention to detail
                        ensures
                        our work communicates clearly and is on brand at all times.</li>
                    <li class="mt-3">You have excellent time management and you know how to manage multiple priorities,
                        breaking
                        large
                        projects into manageable pieces. Your strong organisational skills and attention to detail
                        ensures
                        our work communicates clearly and is on brand at all times.</li>
                </ul>
            </div>
        </section>

        <section class="py-5">
            <div class="secondary-text-color fs-5">$125,000 - $165,000 a year</div>
            <div class="mt-4 secondary-text-color description-text">Base Compensation Range: $125,000 - $165,000. For
                base compensation,
                we set standard ranges for all
                roles based on function, level, and geographic location. This position is also typically eligible to
                participate in our short- and long-term incentive programs. Benefits include Medical, Dental, Vision,
                401(k) match, Unlimited Paid Time Off Policy.</div>
            <div class="mt-5 text-center">
                <a href="{% url 'application_form' %}"><button class="apply-job-btn mt-5">Apply for this Job</button></a>
            </div>
        </section>
    </main>

    <!-- Footer -->
    {% include 'Frontend/footer-page-new.html' %}
    <!-- Footer Ends -->
     
    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/rive-canvas@latest/rive.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.1/gsap.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.1/ScrollTrigger.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script> -->
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="{% static 'front-end/JobDescription/riv.js' %}"></script>
    <script src="{% static 'front-end/JobDescription/navbar.js' %}"></script>
    <script src="{% static 'front-end/JobDescription/index.js' %}"></script>
    <script defer src="{% static 'front-end/JobDescription/footer.js' %}"></script>
</body>

</html>