<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&family=Offside&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3" />
  <link rel="stylesheet" href="{% static 'front-end/Legal_Aid_Realezi/styles.css' %}">
  <style>
      .footer a {
          text-decoration: none !important;
          color: white;
      }
      .navbar a {
        text-decoration: none !important;
        color: white;
    }
  </style>
</head>

<body>
  <header>
    <a href="https://www.realezi.com"><img class="header-logo hidden" src="{% static 'front-end/Legal_Aid_Realezi/assets/logo.png' %}" width="100px" alt="Logo"></a>
    <nav class="navbar">
      <ul>
        <li class="active">Legal Aid</li>        
        <a href="https://www.realezi.com"><li>Home</li></a>
        <a href="{% url 'blog_rent_buy' %}"><li>Buy or Rent</li></a>
        <a href=""><li>About</li></a>
        <a href="{% url 'contact_us' %}"><li>Contact</li></a>
      </ul>
    </nav>
    <div class="mobile-view-nav">
      <ul>
        <li class="active">Legal Aid</li>
        
        <a href="https://www.realezi.com"><li>Home</li></a>
        <a href="{% url 'blog_rent_buy' %}"><li>Buy or Rent</li></a>
        <a href=""><li>About</li></a>
        <a href="{% url 'contact_us' %}"><li>Contact</li></a>
      </ul>
    </div>
    <input id="checkbox" type="checkbox">
    <label class="toggle" for="checkbox">
      <div id="bar1" class="bars"></div>
      <div id="bar2" class="bars"></div>
      <div id="bar3" class="bars"></div>
      <div id="bar4" class="bars"></div>
      <div id="bar5" class="bars"></div>
    </label>
  </header>

  <main>
    <section class="top_section container">
      <div class="header_logo_wrapper">
        <a href="https://www.realezi.com"><img class="header-logo" id="mainLogo" src="{% static 'front-end/Legal_Aid_Realezi/assets/header-logo.png' %}" width="150px" alt="Logo"></a>
      </div>
      <div class="hero_description_video_wrapper">
        <div class="praposal_container">
          <p class="top_proposal_line">Expert Real Estate <br> Legal Services</p>
          <div class="proposal_description_container">
            <p class="proposal_description">Navigate your real estate journey with confidence using our expert legal
              services. From property transactions to dispute resolution, we'er here to protect your interests every
              step of the way
            </p>
          </div>
          <div class="proposal_btn_container">
            <button class="explore_our_experties">Explore our expertise</button>
            <button class="free_consultation" onclick="openPopup()">
              Free Consultation
              <svg width="25" height="18" viewBox="0 0 25 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M24.6127 7.95179C24.4573 8.03113 24.1942 8.18392 23.9155 8.30403C17.1287 11.1725 10.3395 14.0387 3.54745 16.8932C3.19544 17.0411 2.79567 17.1948 2.42312 17.1732C1.67306 17.1253 1.35065 16.3704 1.71472 15.5635C2.58921 13.6202 3.45625 11.67 4.38432 9.749C4.7412 9.00835 4.797 8.43085 4.2644 7.7C2.97702 5.932 1.80672 4.0856 0.563761 2.28584C0.244869 1.82606 0.0267091 1.30008 0.457283 0.93779C0.776255 0.672664 1.38973 0.525529 1.80353 0.626455C9.13113 2.41771 16.4484 4.25408 23.7702 6.08562C24.9224 6.37404 25.3351 7.17156 24.6104 7.95421L24.6127 7.95179Z"
                  fill="#111F3C" />
              </svg>
            </button>
          </div>
        </div>
        <div class="hero_video_container">
          <video src="{% static 'front-end/Legal_Aid_Realezi/assets/1080X1080 legal aid.mp4' %}" autoplay loop muted></video>
        </div>
      </div>
    </section>
    <section class="middle_section container">
      <div class="legal_aid_logo_main_wrapper">
        <div class="legal_aid_container">
          <div class="legal_aid">
            <p>Legal Aids with <br> <span>REALEZI</span>
            </p>
          </div>
          <div class="navigaition_description">
            <p>"Navigate property regulations effortlessly with our expert compliance advisory, ensuring your
              investments are secure and legally compliant."</p>
            <button id="navigaition_description_btn" class="explore_our_experties">Explore our expertise</button>
            </button>
          </div>
        </div>
      </div>
      <div class="below_legal_aid_three_descriptions">
        <div class="three_sub_descriptions">
          <p class="description_heading">Property Compliance Advisory</p>
          <p class="description_body">Our advisory service offers guidance on legal requirements, zoning laws, and
            compliance issues, ensuring your property transactions are smooth and legally sound.</p>
        </div>
        <div id="middle_description" class="three_sub_descriptions">
          <p class="description_heading">Real Estate Investment Analysis</p>
          <p class="description_body">Make informed investment decisions. Our analysis service evaluates market trends,
            property potential, and financial projections, empowering you to maximize returns</p>
        </div>
        <div class="three_sub_descriptions">
          <p class="description_heading">Property Portfolio Management</p>
          <p class="description_body">Our management service offers strategic planning, asset optimization, and
            performance tracking, tailored to meet your investment goals and enhance property value over time.</p>
        </div>
      </div>
    </section>
    <section class="last_section container">
      <h4>Legal Aids with REALEZI</h4>
      <div class="multi_descriptions_wrapper">
        <div class="multi_descriptions_child">
          <div class="multi_descriptions_image_container">
            <img src="{% static 'front-end/Legal_Aid_Realezi/assets/desc_lists/image1.png' %}" alt="">
          </div>
          <h3>Leese Agreement</h3>
          <div class="multi_descriptions_image_descriptions">
            <p>A legal contract between a lessor and lessee
              Constitutes all requisites when a lessor engages with a lessee
              Allows the lessee to rent a property for a certain period</p>
          </div>
        </div>
        <div class="multi_descriptions_child">
          <div class="multi_descriptions_image_container">
            <img src="{% static 'front-end/Legal_Aid_Realezi/assets/desc_lists/image2.png' %}" alt="">
          </div>
          <h3>Sale Agreement
          </h3>
          <div class="multi_descriptions_image_descriptions">
            <p>Includes all the regulations about the sale of a property
              Executed by a developer or a seller
              Constitutes all financial terms</p>
          </div>
        </div>
        <div class="multi_descriptions_child">
          <div class="multi_descriptions_image_container">
            <img src="{% static 'front-end/Legal_Aid_Realezi/assets/desc_lists/image3.png' %}" alt="">
          </div>
          <h3>Legal Power of Attorney
          </h3>
          <div class="multi_descriptions_image_descriptions">
            <p>Gives an attorney-in-charge the authority to act for specific rights
              Issued for consideration or interest for a fixed period of time.
              Incompetent to eliminate the lack of payment capacity
            </p>
          </div>
        </div>
        <div class="multi_descriptions_child">
          <div class="multi_descriptions_image_container">
            <img src="{% static 'front-end/Legal_Aid_Realezi/assets/desc_lists/image4.png' %}" alt="">
          </div>
          <h3>Sustainable & Green Design
          </h3>
          <div class="multi_descriptions_image_descriptions">
            <p>Shape the cities of tomorrow with our visionary urban planning solutions, blending sustainability and
              community needs.</p>
          </div>
        </div>
        <div class="multi_descriptions_child">
          <div class="multi_descriptions_image_container">
            <img src="{% static 'front-end/Legal_Aid_Realezi/assets/desc_lists/image5.png' %}" alt="">
          </div>
          <h3>Property Complaints
          </h3>
          <div class="multi_descriptions_image_descriptions">
            <p>Includes assessment of the complaint and the best route to take
              Sends legal letter to the Developer / Seller for refunds / Settlement
              Files case in appropriate courts - RERA, Consumer, NCLT, Arbitration</p>
          </div>
        </div>
        <div class="multi_descriptions_child">
          <div class="multi_descriptions_image_container">
            <img src="{% static 'front-end/Legal_Aid_Realezi/assets/desc_lists/image6.png' %}" alt="">
          </div>
          <h3>Legal Document Review
          </h3>
          <div class="multi_descriptions_image_descriptions">
            <p>Recommended for property buyers
              Legal documents are reviewed by an in -house expert
              Analyses property documents and compliance issues
            </p>
          </div>
        </div>
        <div class="multi_descriptions_child">
          <div class="multi_descriptions_image_container">
            <img src="{% static 'front-end/Legal_Aid_Realezi/assets/desc_lists/image7.png' %}" alt="">
          </div>
          <h3>Comprehensive Due Diligence
          </h3>
          <div class="multi_descriptions_image_descriptions">
            <p>Analyses the property documents and compliance issues
              Verifies title search and mortgage checks
              Used for property valuation reports and verifying documents</p>
          </div>
        </div>
        <div class="multi_descriptions_child">
          <div class="multi_descriptions_image_container">
            <img src="{% static 'front-end/Legal_Aid_Realezi/assets/desc_lists/image8.png' %}" alt="">
          </div>
          <h3>Project Monitoring Report
          </h3>
          <div class="multi_descriptions_image_descriptions">
            <p>Meant especially for under-construction projects
              Tracks the developments and recent transactions
              Includes legal permissions and litigation queries</p>
          </div>
        </div>
        <div class="multi_descriptions_child">
          <div class="multi_descriptions_image_container">
            <img src="{% static 'front-end/Legal_Aid_Realezi/assets/desc_lists/image9.png' %}" alt="">
          </div>
          <h3>Litigation Search
          </h3>
          <div class="multi_descriptions_image_descriptions">
            <p>Refers to actions contested in court
              Investigates charges levied on property sellers
              Deals with active, pending and disposed off cases</p>
          </div>
        </div>
        <div class="multi_descriptions_child">
          <div class="multi_descriptions_image_container">
            <img src="{% static 'front-end/Legal_Aid_Realezi/assets/desc_lists/image10.png' %}" alt="">
          </div>
          <h3>Title Search
          </h3>
          <div class="multi_descriptions_image_descriptions">
            <p>Determines Various facets of a property history
              Helps In assessing the present titleholder
              Examines public records to confirm ownership of property
            </p>
          </div>
        </div>
      </div>
    </section>
  </main>

  <footer class="footer">
    <img class="footer_hand_photo" src="{% static 'front-end/Legal_Aid_Realezi/assets/Hand_photo_footer.png' %}" alt="">
    <button class="blue-btn top_btn" onclick="openPopup()">Book Free Consultation</button>

    <div id="popup" class="popup-overlay" onclick="closePopup()">
      <img class="close-icon" src="{% static 'front-end/Legal_Aid_Realezi/assets/cross.png' %}" width="20px" onclick="closePopup()">
      <div class="popup-content" onclick="event.stopPropagation()">
        <div id="inner_content_wrapper">
          <div class="pop_up_heading">
            <h5>Please share your details</h5>
          </div>

          <div class="input-container">
            <input type="text" id="name" autocomplete="off" oninput="checkForm()"
              onfocus="handleInputEvent(this, 'focus')" onblur="handleInputEvent(this, 'blur')">
            <label for="name" class="floating-label">Name</label>
          </div>

          <div class="input-container number_input_container">
            <div class="country-code-container">
              <select id="country-code" onchange="updateMobilePlaceholder()">
                <option value="+91">+91</option>
                <option value="+1">+1</option>
                <option value="+44">+44</option>
                <option value="+81">+81</option>
                <option value="+61">+61</option>
              </select>
            </div>
            <input type="number" id="mobile" oninput="checkForm()" onfocus="handleInputEvent(this, 'focus')"
              onblur="handleInputEvent(this, 'blur')">
            <label for="mobile" class="floating-label">Enter mobile number</label>
          </div>


          <div class="input-container">
            <input type="email" id="email" autocomplete="off" oninput="checkForm()"
              onfocus="handleInputEvent(this, 'focus')" onblur="handleInputEvent(this, 'blur')">
            <label for="email" class="floating-label">Email ID</label>
          </div>

          <div class="input-container poperty_input_container" id="poperty_input_container">
            <input type="text" id="property" autocomplete="off" oninput="checkForm()"
              onfocus="handleInputEvent(this, 'focus')" onblur="handleInputEvent(this, 'blur')"
              onclick="toggleDropdown()">
            <label for="property" class="floating-label" id="property_type">Property Type</label>
            <span class="arrow"></span>

            <div class="property_types hide_property_type">
              <div class="property_sub_types">Apartment</div>
              <div class="property_sub_types">Duplex</div>
              <div class="property_sub_types">Penthouse</div>
              <div class="property_sub_types">Villa</div>
              <div class="property_sub_types">Studio</div>
              <div class="property_sub_types">Independent</div>
            </div>
          </div>


          <div class="terms-container">
            <input type="checkbox" id="terms-checkbox" onchange="checkForm()">
            <label for="terms-checkbox">By submitting this form, I accept and agree to Realezi’s T&C</label>
          </div>

          <button id="submit_btn" class="close-btn" onclick="submitPopup()" disabled>Submit</button>
        </div>

        <div id="inner_content_after_submit">
          <div class="after_submit_video_container">
            <video src="{% static 'front-end/Legal_Aid_Realezi/assets/Realezi-arrow-loader.mp4' %}" autoplay muted></video>
            <span>Great!</span>
            <p>Our Dedicated Relationship Manager will contact you shortly</p>
          </div>
        </div>
      </div>
    </div>


    <div class="container">
      <div class="upper-footer">
          <div class="columns d-flex align-items-start justify-content-between my-3">
              <div style="margin-right: 10px;">
                  <a href="https://www.realezi.com"><img src="{% static 'front-end/ApplicationForm/assets/logo.png' %}" width="150px" class="mb-3" /></a>
                  <h3>
                      Click.<br>
                      Connect.<br>
                      Close.<br>
                  </h3>
                  <button class="white-btn">Try it yourself</button>
              </div>
              <div class="">
                  <div>
                      <h4 class="d-flex align-items-center">Company <span class="d-block d-sm-none mx-2 mb-1"><svg
                                  width="14" height="10" viewBox="0 0 12 8" fill="none"
                                  xmlns="http://www.w3.org/2000/svg">
                                  <path
                                      d="M1.41 0.590088L6 5.17009L10.59 0.590088L12 2.00009L6 8.00009L0 2.00009L1.41 0.590088Z"
                                      fill="#ffffff" />
                              </svg></span></h4>
                      <ul>
                          <a href=""><li>About us</li></a>
                          <a href="{% url 'news_blog_page' %}"><li>Blog</li></a>
                          <a href="{% url 'career' %}"><li>Career</li></a>
                          <a href="{% url 'contact_us' %}"><li>Contact support</li></a>
                          <a href="{% url 'contact_us' %}"><li>Get in touch</li></a>
                          <a href="{% url 'faq_first_page' %}"><li>FAQs</li></a>
                          <a href="{% url 'faq_second_page' %}"><li>FAQs</li></a>
                          <a href="{% url 'career' %}"><button
                              class="align-items-center justify-content-center blue-btn mt-3 d-none d-sm-block">
                              <p class="mx-2">We are hiring</p>
                              <canvas id="partyPopper"></canvas>
                          </button></a>
                      </ul>
                  </div>
              </div>


              <div class="playStore-btn larger-screen d-flex align-items-center justify-content-between">
                  <a href="#" class="googlePlay-button" id="launch-button">
                      <span class="icon">
                          <svg fill="currentcolor" viewBox="-52.01 0 560.035 560.035"
                              xmlns="http://www.w3.org/2000/svg" stroke="#ffffff">
                              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                              <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round">
                              </g>
                              <g id="SVGRepo_iconCarrier">
                                  <path
                                      d="M380.844 297.529c.787 84.752 74.349 112.955 75.164 113.314-.622 1.988-11.754 40.191-38.756 79.652-23.343 34.117-47.568 68.107-85.731 68.811-37.499.691-49.557-22.236-92.429-22.236-42.859 0-56.256 21.533-91.753 22.928-36.837 1.395-64.889-36.891-88.424-70.883-48.093-69.53-84.846-196.475-35.496-282.165 24.516-42.554 68.328-69.501 115.882-70.192 36.173-.69 70.315 24.336 92.429 24.336 22.1 0 63.59-30.096 107.208-25.676 18.26.76 69.517 7.376 102.429 55.552-2.652 1.644-61.159 35.704-60.523 106.559M310.369 89.418C329.926 65.745 343.089 32.79 339.498 0 311.308 1.133 277.22 18.785 257 42.445c-18.121 20.952-33.991 54.487-29.709 86.628 31.421 2.431 63.52-15.967 83.078-39.655">
                                  </path>
                              </g>
                          </svg>
                      </span>
                      <span class="texts">
                          <span class="text-1">Download form</span>
                          <span class="text-2">App store</span>
                      </span>
                  </a>
                  <a href="#" class="appstore-button">
                      <svg viewBox="0 0 512 512" class="icon" fill="currentColor"
                          xmlns="http://www.w3.org/2000/svg">
                          <path
                              d="M99.617 8.057a50.191 50.191 0 00-38.815-6.713l230.932 230.933 74.846-74.846L99.617 8.057zM32.139 20.116c-6.441 8.563-10.148 19.077-10.148 30.199v411.358c0 11.123 3.708 21.636 10.148 30.199l235.877-235.877L32.139 20.116zM464.261 212.087l-67.266-37.637-81.544 81.544 81.548 81.548 67.273-37.64c16.117-9.03 25.738-25.442 25.738-43.908s-9.621-34.877-25.749-43.907zM291.733 279.711L60.815 510.629c3.786.891 7.639 1.371 11.492 1.371a50.275 50.275 0 0027.31-8.07l266.965-149.372-74.849-74.847z">
                          </path>
                      </svg>
                      <span class="texts">
                          <span class="text-1">GET IT ON</span>
                          <span class="text-2">Google Play</span>
                      </span>
                  </a>
              </div>
              <div>
                  <h4 class="d-flex align-items-center">Solutions<span class="d-block d-sm-none mx-2 mb-1"><svg
                              width="14" height="10" viewBox="0 0 12 8" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path
                                  d="M1.41 0.590088L6 5.17009L10.59 0.590088L12 2.00009L6 8.00009L0 2.00009L1.41 0.590088Z"
                                  fill="#ffffff" />
                          </svg></span></h4>
                  <div class="d-flex">
                      <ul>
                          <a href=""><li>Find a Right Property</li></a>
                          <a href="{% url 'blog_rent_buy' %}"><li>Sell or Rent Your Property</li></a>
                          <a href=""><li>Build Your Home From Scratch </li></a>
                          <a href=""><li>Interior Designing & Decor</li></a>
                          <a href="{% url 'solar_page' %}"><li>Solar Panel</li></a>
                          <a href=""><li>Home Loans</li></a>
                          <a href=""><li class="d-block d-sm-none">Legal Aid </li></a>
                          <a href=""><li class="d-block d-sm-none">Porter Services</li></a>
                          <a href=""><li class="d-block d-sm-none">For Business</li></a>
                      </ul>
                      <ul class="px-3 d-none d-sm-block">
                          <a href="{% url 'Legal_Aid_Realezi' %}"><li>Legal Aid </li></a>
                          <a href="{% url 'movers_and_packers' %}"><li>Porter Services</li></a>
                          <a href="{% url 'architecture' %}"><li>Architecture</li></a>
                          <a href=""><li>For Business</li></a>
                      </ul>
                  </div>
              </div>
              <div>
                  <h4 class="d-flex align-items-center">Community<span class="d-block d-sm-none mx-2 mb-1"><svg
                              width="14" height="10" viewBox="0 0 12 8" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path
                                  d="M1.41 0.590088L6 5.17009L10.59 0.590088L12 2.00009L6 8.00009L0 2.00009L1.41 0.590088Z"
                                  fill="#ffffff" />
                          </svg></span></h4>
                  <ul>
                      <a href="{% url 'refer_and_earn_realezi' %}"><button class="align-items-center blue-btn refer-btn mt-3 d-none d-sm-block">
                          <p class="mx-2">Refer & Earn</p>
                          <lottie-player src="{% static 'front-end/ApplicationForm/assets/animation-files/fire-animation.json' %}"
                              background="transparent" speed="1" style="width: 25px; height: 25px" loop
                              autoplay></lottie-player>
                      </button></a>
                      <a href=""><li>Realezi Community</li></a>
                      <a href="{% url 'customer_review' %}"><li>Customers</li></a>
                  </ul>
              </div>
              <div class="d-block d-sm-none">
                  <h4 class="d-flex align-items-center">Others<span class="d-block d-sm-none mx-2 mb-1"><svg
                              width="14" height="10" viewBox="0 0 12 8" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path
                                  d="M1.41 0.590088L6 5.17009L10.59 0.590088L12 2.00009L6 8.00009L0 2.00009L1.41 0.590088Z"
                                  fill="#ffffff" />
                          </svg></span></h4>
                  <div class="position-relative">
                      <ul>
                          <li>Privacy policies</li>
                          <li>Terms and conditions</li>
                          <li>Disclaimer</li>
                          <li class="text-right">
                              <button class="align-items-center justify-content-center blue-btn">
                                  <p class="mx-2">We are hiring</p>
                                  <canvas id="partyPopper2"></canvas>
                              </button>
                              <button class="align-items-center blue-btn refer-btn mt-3">
                                  <p class="mx-2">Refer & Earn</p>
                                  <lottie-player src="{% static 'front-end/ApplicationForm/assets/animation-files/fire-animation.json' %}"
                                      background="transparent" speed="1" style="width: 25px; height: 25px" loop
                                      autoplay></lottie-player>
                              </button>
                          </li>
                          <li class="d-flex align-items-center justify-content-center"><a href="#"
                                  class="googlePlay-button" id="launch-button">
                                  <span class="icon">
                                      <svg fill="currentcolor" viewBox="-52.01 0 560.035 560.035"
                                          xmlns="http://www.w3.org/2000/svg" stroke="#ffffff">
                                          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                          <g id="SVGRepo_tracerCarrier" stroke-linecap="round"
                                              stroke-linejoin="round">
                                          </g>
                                          <g id="SVGRepo_iconCarrier">
                                              <path
                                                  d="M380.844 297.529c.787 84.752 74.349 112.955 75.164 113.314-.622 1.988-11.754 40.191-38.756 79.652-23.343 34.117-47.568 68.107-85.731 68.811-37.499.691-49.557-22.236-92.429-22.236-42.859 0-56.256 21.533-91.753 22.928-36.837 1.395-64.889-36.891-88.424-70.883-48.093-69.53-84.846-196.475-35.496-282.165 24.516-42.554 68.328-69.501 115.882-70.192 36.173-.69 70.315 24.336 92.429 24.336 22.1 0 63.59-30.096 107.208-25.676 18.26.76 69.517 7.376 102.429 55.552-2.652 1.644-61.159 35.704-60.523 106.559M310.369 89.418C329.926 65.745 343.089 32.79 339.498 0 311.308 1.133 277.22 18.785 257 42.445c-18.121 20.952-33.991 54.487-29.709 86.628 31.421 2.431 63.52-15.967 83.078-39.655">
                                              </path>
                                          </g>
                                      </svg>
                                  </span>
                                  <span class="texts">
                                      <span class="text-1">Download form</span>
                                      <span class="text-2">App store</span>
                                  </span>
                              </a>
                              <a href="#" class="appstore-button">
                                  <svg viewBox="0 0 512 512" class="icon" fill="currentColor"
                                      xmlns="http://www.w3.org/2000/svg">
                                      <path
                                          d="M99.617 8.057a50.191 50.191 0 00-38.815-6.713l230.932 230.933 74.846-74.846L99.617 8.057zM32.139 20.116c-6.441 8.563-10.148 19.077-10.148 30.199v411.358c0 11.123 3.708 21.636 10.148 30.199l235.877-235.877L32.139 20.116zM464.261 212.087l-67.266-37.637-81.544 81.544 81.548 81.548 67.273-37.64c16.117-9.03 25.738-25.442 25.738-43.908s-9.621-34.877-25.749-43.907zM291.733 279.711L60.815 510.629c3.786.891 7.639 1.371 11.492 1.371a50.275 50.275 0 0027.31-8.07l266.965-149.372-74.849-74.847z">
                                      </path>
                                  </svg>
                                  <span class="texts">
                                      <span class="text-1">GET IT ON</span>
                                      <span class="text-2">Google Play</span>
                                  </span>
                              </a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>

      <div class="lower-footer">
          <div class="lower-upper d-none d-sm-block">
              <ul class="d-flex align-items-center justify-content-center">
                  <a href="{% url 'privacy_page' %}"><li>Privacy policies</li></a>
                  <a href="{% url 'terms_page' %}"><li>Terms and conditions</li></a>
                  <a href="{% url 'disclaimer' %}"><li>Disclaimer</li></a>
              </ul>
          </div>
          <div class="lower-bottom d-flex align-items-center justify-content-between">
              <p class="text-center">©2024 Realezi. All rights reserved</p>
              <p>
                  Made with love <img src="{% static 'front-end/ApplicationForm/assets/heart.png' %}" width="15px" /> from
                  Realezi
              </p>
              <div class="socials-container">
                  <a href="https://www.facebook.com/profile.php?id=100095528529674&mibextid=ZbWKwL"
                      target="_blank" class="fb-btn social-btn">
                      <img src="{% static 'front-end/ApplicationForm/assets/fb.png' %}" width="18px" />
                      <span class="text">Facebook</span>
                  </a>
                  <a href="https://www.linkedin.com/company/realezi/" target="_blank"
                      class="linkedin-btn social-btn">
                      <img src="{% static 'front-end/ApplicationForm/assets/linkedin.png' %}" width="18px" />
                      <span class="text">LinkedIn</span>
                  </a>
                  <a href="https://www.instagram.com/realezi_?utm_source=qr&igshid=ZDc4ODBmNjlmNQ%3D%3D"
                      target="_blank" class="insta-btn social-btn">
                      <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512" class="svgIcon">
                          <path
                              d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z">
                          </path>
                      </svg>
                      <span class="text">Instagram</span>
                  </a>
                  <a href="https://www.youtube.com/@Realezi" target="_blank" class="youtube-btn social-btn">
                      <img src="{% static 'front-end/ApplicationForm/assets/youtube.png' %}" width="10px" />
                      <span class="text">Youtube</span>
                  </a>
              </div>
          </div>
      </div>
  </div>
  </footer>

  <script defer src="{% static 'front-end/Legal_Aid_Realezi/navbar.js' %}"></script>
  <script defer src="{% static 'front-end/Legal_Aid_Realezi/footer.js' %}"></script>
  <script defer src="{% static 'front-end/Legal_Aid_Realezi/rive-animations.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/lenis@1.1.13/dist/lenis.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
  <script src="https://unpkg.com/@rive-app/canvas@2.9.1"></script>
  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    const lenis = new Lenis()

    function raf(time) {
      lenis.raf(time)
      requestAnimationFrame(raf)
    }

    requestAnimationFrame(raf)
    function openFacebook() {
      window.open('https://www.facebook.com/profile.php?id=100095528529674&mibextid=ZbWKwL', '_blank');
    }

    function openInsta() {
      window.open('https://instagram.com/realezi_?utm_source=qr&igshid=ZDc4ODBmNjlmNQ%3D%3D', '_blank');
    }
    function openLinkedin() {
      window.open('https://www.linkedin.com/company/realezi/posts/?feedView=all', '_blank');
    }
    function openYoutube() {
      window.open('https://www.youtube.com/@Realezi', '_blank');
    }

    function openPopup() {
      document.getElementById("popup").style.display = "flex";
    }

    function closePopup() {
      document.getElementById("popup").style.display = "none";
      document.getElementById("inner_content_wrapper").style.display = "flex";
      document.getElementById("inner_content_after_submit").style.display = "none";
    }


    function submitPopup() {
      document.getElementById("inner_content_wrapper").style.display = "none";
      document.getElementById("inner_content_after_submit").style.display = "flex";
      const popupContent = document.querySelector('.popup-content');
      popupContent.style.width = '450px';  // Set the new width
      popupContent.style.height = '400px';
    }

    function handleInputEvent(input, eventType) {
      const propertyInputContainer = input.closest('#property_input_container');
      if (eventType === 'focus') {
        input.nextElementSibling.classList.add('active');
      } else if (eventType === 'blur') {
        if (input.value === '') {
          input.nextElementSibling.classList.remove('active');
          input.classList.remove('has-value');
        } else {
          input.classList.add('has-value');
        }
      }
      if (propertyInputContainer.classList.contains('has-value')) {
        floatingLabel.style.top = '5%';
      } else {
        floatingLabel.style.top = input.value === '' ? '20%' : '5%';
      }
    }

    function checkForm() {
      const name = document.getElementById('name').value;
      const mobile = document.getElementById('mobile').value;
      const email = document.getElementById('email').value;
      const property = document.getElementById('property').value;
      const termsChecked = document.getElementById('terms-checkbox').checked;

      const submitBtn = document.getElementById('submit_btn');

      if (name && mobile && email && property && termsChecked) {
        submitBtn.disabled = false;
        submitBtn.style.backgroundColor = "#111f3c";
      } else {
        submitBtn.disabled = true;
      }
    }

    function toggleDropdown() {
      const dropdown = document.querySelector('.property_types');
      const arrow = document.querySelector('.arrow');
      const floatingLabel = document.querySelector('#property_type');
      const propertyInputContainer = document.querySelector('#property_input_container');

      const isHidden = dropdown.classList.toggle('hide_property_type');
      arrow.classList.toggle('rotate', !isHidden);
      arrow.style.top = isHidden ? '40%' : '20%';
      // floatingLabel.style.top = isHidden ? '50%' : '20%';

    }



    document.querySelectorAll('.property_sub_types').forEach(item => {
      item.addEventListener('click', function () {
        const input = document.getElementById('property');

        input.value = this.textContent;
        toggleDropdown();
        input.classList.add("has-value")
      });
    });



  </script>
</body>

</html>