<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&family=Offside&display=swap"
    rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
  <link rel="stylesheet" href="{% static 'front-end/Movers and Packers/css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'front-end/Movers and Packers/css/movers.css' %}">
  <!-- <link rel="stylesheet" href="css/nav-icon.css"> -->
  <title>movers-and-packers</title>
  <style>
    .footer a {
      text-decoration: none !important;
      color: white;
    }
    .navbar a {
      text-decoration: none !important;
      color: white;
    }
  </style>
</head>

<body>


  <header>
    <a href="https://www.realezi.com"><img class="header-logo" src="{% static 'front-end/Movers and Packers/assets/images/logo.png' %}" width="100px" alt="Logo"></a>
    <div class="header">
      <img class="mobile-header-logo" src="{% static 'front-end/Movers and Packers/assets/images/logo.png' %}" width="100px" alt="Logo">
      <nav class="navbar">
        <ul>
          <li class="active">Porter Services</li>
          <a href="https://www.realezi.com"><li>Home</li></a>
          <a href="{% url 'blog_rent_buy' %}"><li>Buy or Rent</li></a>
          <a href=""><li>About</li></a>
          <a href="{% url 'contact_us' %}"><li>Contact</li></a>
        </ul>
      </nav>
      <div class="mobile-view-nav">
        <ul>
          <li>Porter Services</li>
          <a href="https://www.realezi.com"><li>Home</li></a>
          <a href="{% url 'blog_rent_buy' %}"><li>Buy or Rent</li></a>
          <a href=""><li>About</li></a>
          <a href="{% url 'contact_us' %}"><li>Contact</li></a>
        </ul>
      </div>
      <input id="checkbox" type="checkbox">
      <label class="toggle" for="checkbox">
        <div id="bar1" class="bars"></div>
        <div id="bar2" class="bars"></div>
        <div id="bar3" class="bars"></div>
        <div id="bar4" class="bars"></div>
        <div id="bar5" class="bars"></div>
      </label>
    </div>
  </header>


  <main>
    <div class="hero-section">
      <video id="background-video1" width="100%" playsinline autoplay muted preload="auto">
        <source id="video-source" src="{% static 'front-end/Movers and Packers/assets/video/movers video.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      <video id="background-video2" width="100%" playsinline autoplay muted loop preload="auto">
        <source id="video-source" src="{% static 'front-end/Movers and Packers/assets/video/m-a-p1.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
      </video>

      <img class="mobile-image" src="{% static 'front-end/Movers and Packers/assets/images/bg-image.png' %}">
      <div class="heading text-center">
        <h1>Let’s Get Your Stuff Moving</h1>
      </div>

      <div class="form-container ">
        <form class="m-auto">
          <div class="dropdown position-relative d-flex align-items-center">
            <i class="fas fa-map-marker-alt location-icon"></i>
            <div class="dropdown-select d-flex align-items-center mx-2">
              <span class="select-text">Vadodra</span>
              <i class="fas fa-chevron-down"></i>
            </div>
            <!-- <ul class="dropdown-list">
              <li><a href="#">City 1</a></li>
              <li><a href="#">City 2</a></li>
              <li><a href="#">City 3</a></li>
              <li><a href="#">City 4</a></li>
            </ul> -->
          </div>

          <div class="inputs d-flex align-items-start justify-content-start mt-3">
            <div class="input-group-1 d-flex align-items-start justify-content-start">
              <div class="input-group">
                <label>Pickup Location <img src="{% static 'front-end/Movers and Packers/assets/svg/asterisk.svg' %}" alt="*" class="asterisk-icon"></label>
                <input type="text" name="pickupLocation" id="pickupLocation" placeholder="Sending from"
                  autocomplete="off" required>
              </div>

              <div class="vertical-line"></div>

              <div class="input-group">
                <label>Drop Location <img src="{% static 'front-end/Movers and Packers/assets/svg/asterisk.svg' %}" alt="*" class="asterisk-icon"></label>
                <input type="text" name="dropLocation" id="dropLocation" placeholder="Sending to" autocomplete="off"
                  required>
              </div>

              <div class="vertical-line"></div>

            </div>
            <div class="input-group-2 d-flex align-items-start justify-content-start">
              <div class="input-group">
                <label>Phone Number <img src="{% static 'front-end/Movers and Packers/assets/svg/asterisk.svg' %}" alt="*" class="asterisk-icon"></label>
                <input type="text" name="phoneNumber" id="phoneNumber" placeholder="Enter contact number" maxlength="10"
                  autocomplete="off" required>
              </div>

              <div class="vertical-line third-vertical-line"></div>

              <div class="input-group">
                <label>Shifting Date <img src="{% static 'front-end/Movers and Packers/assets/svg/asterisk.svg' %}" alt="*" class="asterisk-icon"></label>
                <input type="date" name="date" id="shiftingDate" autocomplete="off" required>
              </div>
            </div>

            <button id="checkPriceBtn" class="check-price-btn d-flex align-items-center" type="submit" disabled>
              <p class="text-nowrap" type="submit">Check Price</p><i class="fa-solid fa-arrow-right"></i>
            </button>
          </div>

        </form>
      </div>
    </div>

    <div class="dialog-box-outer">
      <div class="dialog-box-inner">
        <div class="align-self-end">
          <img src="{% static 'front-end/Movers and Packers/assets/images/cross-dark.png' %}" alt="" width="30px" class="close-dialog">
        </div>
        <div class="dialog-box">
          <h3>Price Quote Update</h3>
          <p>Price quotes would be sent on your<br> number very soon</p>
          <button>Resend quotes</button>
          <img src="{% static 'front-end/Movers and Packers/assets/images/movers.png' %}" alt="" width="230px" class="moving-img">
        </div>
      </div>
    </div>

    <!-- How it works Section Starts -->
    <div class="how-it-works-container container mt-5">
      <h2 class="how-it-works">How It Works</h2>
      <div class="grid-container">
        <div class="group-1 m-auto">
          <div class="grid-item">
            <img src="{% static 'front-end\Movers and Packers\assets\images\checklist.png' %}" alt="Icon 1">
            <h3>Enter the Details</h3>
            <p>Provide your pickup, drop-off, and contact information.</p>
          </div>
          <div class="grid-item">
            <img src="{% static 'front-end/Movers and Packers/assets/images/best-price.png' %}" alt="Icon 3">
            <h3>Fix the Price</h3>
            <p>Finalise the cost with your respective vendor.</p>
          </div>
        </div>
        <div class="group-2 m-auto">
          <div class="grid-item">
            <img src="{% static 'front-end\Movers and Packers\assets\images\trust.png' %}" alt="Icon 2">
            <h3>Find Your Match</h3>
            <p>Select a vendor from our list of trusted movers and packers.</p>
          </div>
          <div class="grid-item">
            <img src="{% static 'front-end/Movers and Packers/assets/images/moving-truck.png' %}" alt="Icon 4">
            <h3>Get Your Stuff Moving</h3>
            <p>Sit back and relax while your belongings are safely transported to their new location.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- How it works Section Ends -->

    <!-- Testimonial Start -->
    <div class="testimonials">
      <h2 class="testimonials-heading">What our Customers say</h2>
      <div class="testimonials-container">
        <div class="testimonial-track">

          <div class="testimonial-item">
            <div class="d-flex align-items-center">
              <img src="{% static 'front-end\Movers and Packers\assets\images\profile.png' %}" alt="Testimonial 1 Image">
              <div class="customer-info">
                <h4>Debojyoti Ghosh</h4>
                <p>Pune</p>
              </div>
            </div>
            <p class="review">We applied for a joint Home Loan with realezi for our new House in Pune. Liked the
              services and offers.
            </p>
          </div>

          <div class="testimonial-item">
            <div class="d-flex align-items-center">
              <img src="{% static 'front-end\Movers and Packers\assets\images\profile.png' %}" alt="Testimonial 1 Image">
              <div class="customer-info">
                <h4>Debojyoti Ghosh</h4>
                <p>Pune</p>
              </div>
            </div>
            <p class="review">We applied for a joint Home Loan with realezi for our new House in Pune. Liked the
              services and offers.
            </p>
          </div>

          <div class="testimonial-item">
            <div class="d-flex align-items-center">
              <img src="{% static 'front-end\Movers and Packers\assets\images\profile.png' %}" alt="Testimonial 1 Image">
              <div class="customer-info">
                <h4>Debojyoti Ghosh</h4>
                <p>Pune</p>
              </div>
            </div>
            <p class="review">We applied for a joint Home Loan with realezi for our new House in Pune. Liked the
              services and offers.
            </p>
          </div>

          <div class="testimonial-item">
            <div class="d-flex align-items-center">
              <img src="{% static 'front-end\Movers and Packers\assets\images\profile.png' %}" alt="Testimonial 1 Image">
              <div class="customer-info">
                <h4>Debojyoti Ghosh</h4>
                <p>Pune</p>
              </div>
            </div>
            <p class="review">We applied for a joint Home Loan with realezi for our new House in Pune. Liked the
              services and offers.
            </p>
          </div>

          <div class="testimonial-item">
            <div class="d-flex align-items-center">
              <img src="{% static 'front-end\Movers and Packers\assets\images\profile.png' %}" alt="Testimonial 1 Image">
              <div class="customer-info">
                <h4>Debojyoti Ghosh</h4>
                <p>Pune</p>
              </div>
            </div>
            <p class="review">We applied for a joint Home Loan with realezi for our new House in Pune. Liked the
              services and offers.
            </p>
          </div>

          <div class="testimonial-item">
            <div class="d-flex align-items-center">
              <img src="{% static 'front-end\Movers and Packers\assets\images\profile.png' %}" alt="Testimonial 1 Image">
              <div class="customer-info">
                <h4>Debojyoti Ghosh</h4>
                <p>Pune</p>
              </div>
            </div>
            <p class="review">We applied for a joint Home Loan with realezi for our new House in Pune. Liked the
              services and offers.
            </p>
          </div>

          <div class="testimonial-item">
            <div class="d-flex align-items-center">
              <img src="{% static 'front-end\Movers and Packers\assets\images\profile.png' %}" alt="Testimonial 1 Image">
              <div class="customer-info">
                <h4>Debojyoti Ghosh</h4>
                <p>Pune</p>
              </div>
            </div>
            <p class="review">We applied for a joint Home Loan with realezi for our new House in Pune. Liked the
              services and offers.
            </p>
          </div>

          <div class="testimonial-item">
            <div class="d-flex align-items-center">
              <img src="{% static 'front-end\Movers and Packers\assets\images\profile.png' %}" alt="Testimonial 1 Image">
              <div class="customer-info">
                <h4>Debojyoti Ghosh</h4>
                <p>Pune</p>
              </div>
            </div>
            <p class="review">We applied for a joint Home Loan with realezi for our new House in Pune. Liked the
              services and offers.
            </p>
          </div>

        </div>
      </div>
    </div>
    <!-- Testimonial Ends -->

    <!-- FAQ Section Starts -->
    <div class="faq-container container py-3 my-5">
      <h2 class="text-center">Frequently Asked Questions</h2>
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
              aria-expanded="false" aria-controls="collapseOne">
              Can I reschedule my moving dates?
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              Yes, you can reschedule your moving dates. Please notify us as early as possible to ensure availability.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Are there any items that won’t be transported?
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              Once you schedule a call with our movers, they will review your requirements. If there are any items that
              cannot be moved, you will be informed during this discussion.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Can I track my shipment during the moving process?
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              Tracking availability depends on the vendor. If they offer shipment tracking software, you can monitor
              your move. Otherwise, you will be provided with the driver’s contact details for updates.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              How are the moving costs calculated?
            </button>
          </h2>
          <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              The moving costs are determined based on factors such as the size of the truck, the distance of the move,
              and the volume of items being transported.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              How far in advance should I book the service?
            </button>
          </h2>
          <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              We recommend booking the service at least one day in advance to ensure smooth coordination and
              availability.
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- FAQ Section Ends -->

    <!-- Form Modal Starts -->
    <div class="brochure-modal-container modal-container">
      <img src="{% static 'front-end/Movers and Packers/assets/images/cross.png' %}" width="15px" class="close-icon" />
      <div class="brochure-modal modals">
        <h4>Please share your details</h4>
        <form>
          <div class="input-group">
            <input type="text" name="name" autocomplete="off" class="input" required />
            <label class="user-label">Name</label>
          </div>
          <div class="phone-number-container d-flex align-items-center justify-content-start">
            <select name="country-code" id="country-code">
              <option value="+91" selected>+91</option>
              <option value="+1">+1</option>
              <option value="+44">+44</option>
              <option value="+81">+81</option>
              <option value="+7">+7</option>
            </select>
            <div class="input-group">
              <input type="text" oninput="this.value = this.value.replace(/[^0-9]/g, '');" id="phone-number"
                name="phone-number" autocomplete="off" class="input" maxlength="10" required />
              <label class="user-label">Enter mobile number</label>
            </div>
            <button id="send-otp-btn" class="otp-btn">Send OTP</button>
          </div>
          <p class="otp-sent" id="otp-sent-message">
            We have sent the OTP to .
          </p>
          <div class="otp-container justify-content-start align-items-start">
            <div class="input-group">
              <input type="number" name="otp" autocomplete="off" class="input" required />
              <label class="user-label">OTP</label>
              <p class="otp-verification">Verified</p>
            </div>
            <p>Did not receive OTP ?<br />Request OTP on call.</p>
          </div>
          <div class="input-group">
            <input type="email" name="email" autocomplete="off" class="input" required />
            <label class="user-label">Email ID</label>
          </div>
          <div class="no-transform d-flex align-items-center justify-content-start">
            <input type="checkbox" id="checkboxId" name="checkboxName" required />
            <label>By submitting this form, I agree to accept and agree to
              Realezi’s T&C</label>
          </div>
          <button type="submit" class="submit-btn" disabled>Submit</button>
        </form>
      </div>
      <div class="confirmation-popup-modal">
        <video src="{% static 'front-end/Movers and Packers/assets/video/realezi-loading-arrow.mp4' %}" class="Realezi-arrow-loader">
          Your browser does not support the video tag.
        </video>
        <h4>Great!</h4>
        <p>Our Dedicated Relationship Manager will contact you shortly</p>
      </div>
    </div>
    <!-- Form Modal Ends -->
  </main>

  <!-- Footer Starts -->
  <footer class="footer">
    <div class="container">
      <div class="consultation-container d-flex align-items-center ">
        <img src="{% static 'front-end/Movers and Packers/assets/images/person-consulting.png' %}" width="120px" alt="">
        <button class="open-brochure-modal-container">Book Free Consultion</button>
      </div>
      <div class="upper-footer">
        <div class="columns d-flex align-items-start justify-content-between my-3">
            <div style="margin-right: 10px;">
                <a href="https://www.realezi.com"><img src="{% static 'front-end/ApplicationForm/assets/logo.png' %}" width="150px" class="mb-3" /></a>
                <h3>
                    Click.<br>
                    Connect.<br>
                    Close.<br>
                </h3>
                <button class="white-btn">Try it yourself</button>
            </div>
            <div class="">
                <div>
                    <h4 class="d-flex align-items-center">Company <span class="d-block d-sm-none mx-2 mb-1"><svg
                                width="14" height="10" viewBox="0 0 12 8" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M1.41 0.590088L6 5.17009L10.59 0.590088L12 2.00009L6 8.00009L0 2.00009L1.41 0.590088Z"
                                    fill="#ffffff" />
                            </svg></span></h4>
                    <ul>
                        <a href=""><li>About us</li></a>
                        <a href="{% url 'news_blog_page' %}"><li>Blog</li></a>
                        <a href="{% url 'career' %}"><li>Career</li></a>
                        <a href="{% url 'contact_us' %}"><li>Contact support</li></a>
                        <a href="{% url 'contact_us' %}"><li>Get in touch</li></a>
                        <a href="{% url 'faq_first_page' %}"><li>FAQs</li></a>
                        <a href="{% url 'faq_second_page' %}"><li>FAQs</li></a>
                        <a href="{% url 'career' %}"><button
                            class="align-items-center justify-content-center blue-btn mt-3 d-none d-sm-block">
                            <p class="mx-2">We are hiring</p>
                            <canvas id="partyPopper"></canvas>
                        </button></a>
                    </ul>
                </div>
            </div>


            <div class="playStore-btn larger-screen d-flex align-items-center justify-content-between">
                <a href="#" class="googlePlay-button" id="launch-button">
                    <span class="icon">
                        <svg fill="currentcolor" viewBox="-52.01 0 560.035 560.035"
                            xmlns="http://www.w3.org/2000/svg" stroke="#ffffff">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round">
                            </g>
                            <g id="SVGRepo_iconCarrier">
                                <path
                                    d="M380.844 297.529c.787 84.752 74.349 112.955 75.164 113.314-.622 1.988-11.754 40.191-38.756 79.652-23.343 34.117-47.568 68.107-85.731 68.811-37.499.691-49.557-22.236-92.429-22.236-42.859 0-56.256 21.533-91.753 22.928-36.837 1.395-64.889-36.891-88.424-70.883-48.093-69.53-84.846-196.475-35.496-282.165 24.516-42.554 68.328-69.501 115.882-70.192 36.173-.69 70.315 24.336 92.429 24.336 22.1 0 63.59-30.096 107.208-25.676 18.26.76 69.517 7.376 102.429 55.552-2.652 1.644-61.159 35.704-60.523 106.559M310.369 89.418C329.926 65.745 343.089 32.79 339.498 0 311.308 1.133 277.22 18.785 257 42.445c-18.121 20.952-33.991 54.487-29.709 86.628 31.421 2.431 63.52-15.967 83.078-39.655">
                                </path>
                            </g>
                        </svg>
                    </span>
                    <span class="texts">
                        <span class="text-1">Download form</span>
                        <span class="text-2">App store</span>
                    </span>
                </a>
                <a href="#" class="appstore-button">
                    <svg viewBox="0 0 512 512" class="icon" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M99.617 8.057a50.191 50.191 0 00-38.815-6.713l230.932 230.933 74.846-74.846L99.617 8.057zM32.139 20.116c-6.441 8.563-10.148 19.077-10.148 30.199v411.358c0 11.123 3.708 21.636 10.148 30.199l235.877-235.877L32.139 20.116zM464.261 212.087l-67.266-37.637-81.544 81.544 81.548 81.548 67.273-37.64c16.117-9.03 25.738-25.442 25.738-43.908s-9.621-34.877-25.749-43.907zM291.733 279.711L60.815 510.629c3.786.891 7.639 1.371 11.492 1.371a50.275 50.275 0 0027.31-8.07l266.965-149.372-74.849-74.847z">
                        </path>
                    </svg>
                    <span class="texts">
                        <span class="text-1">GET IT ON</span>
                        <span class="text-2">Google Play</span>
                    </span>
                </a>
            </div>
            <div>
                <h4 class="d-flex align-items-center">Solutions<span class="d-block d-sm-none mx-2 mb-1"><svg
                            width="14" height="10" viewBox="0 0 12 8" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M1.41 0.590088L6 5.17009L10.59 0.590088L12 2.00009L6 8.00009L0 2.00009L1.41 0.590088Z"
                                fill="#ffffff" />
                        </svg></span></h4>
                <div class="d-flex">
                    <ul>
                        <a href=""><li>Find a Right Property</li></a>
                        <a href="{% url 'blog_rent_buy' %}"><li>Sell or Rent Your Property</li></a>
                        <a href=""><li>Build Your Home From Scratch </li></a>
                        <a href=""><li>Interior Designing & Decor</li></a>
                        <a href="{% url 'solar_page' %}"><li>Solar Panel</li></a>
                        <a href=""><li>Home Loans</li></a>
                        <a href=""><li class="d-block d-sm-none">Legal Aid </li></a>
                        <a href=""><li class="d-block d-sm-none">Porter Services</li></a>
                        <a href=""><li class="d-block d-sm-none">For Business</li></a>
                    </ul>
                    <ul class="px-3 d-none d-sm-block">
                        <a href="{% url 'Legal_Aid_Realezi' %}"><li>Legal Aid </li></a>
                        <a href="{% url 'movers_and_packers' %}"><li>Porter Services</li></a>
                        <a href="{% url 'architecture' %}"><li>Architecture</li></a>
                        <a href=""><li>For Business</li></a>
                    </ul>
                </div>
            </div>
            <div>
                <h4 class="d-flex align-items-center">Community<span class="d-block d-sm-none mx-2 mb-1"><svg
                            width="14" height="10" viewBox="0 0 12 8" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M1.41 0.590088L6 5.17009L10.59 0.590088L12 2.00009L6 8.00009L0 2.00009L1.41 0.590088Z"
                                fill="#ffffff" />
                        </svg></span></h4>
                <ul>
                    <a href="{% url 'refer_and_earn_realezi' %}"><button class="align-items-center blue-btn refer-btn mt-3 d-none d-sm-block">
                        <p class="mx-2">Refer & Earn</p>
                        <lottie-player src="{% static 'front-end/ApplicationForm/assets/animation-files/fire-animation.json' %}"
                            background="transparent" speed="1" style="width: 25px; height: 25px" loop
                            autoplay></lottie-player>
                    </button></a>
                    <a href=""><li>Realezi Community</li></a>
                    <a href="{% url 'customer_review' %}"><li>Customers</li></a>
                </ul>
            </div>
            <div class="d-block d-sm-none">
                <h4 class="d-flex align-items-center">Others<span class="d-block d-sm-none mx-2 mb-1"><svg
                            width="14" height="10" viewBox="0 0 12 8" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M1.41 0.590088L6 5.17009L10.59 0.590088L12 2.00009L6 8.00009L0 2.00009L1.41 0.590088Z"
                                fill="#ffffff" />
                        </svg></span></h4>
                <div class="position-relative">
                    <ul>
                        <li>Privacy policies</li>
                        <li>Terms and conditions</li>
                        <li>Disclaimer</li>
                        <li class="text-right">
                            <button class="align-items-center justify-content-center blue-btn">
                                <p class="mx-2">We are hiring</p>
                                <canvas id="partyPopper2"></canvas>
                            </button>
                            <button class="align-items-center blue-btn refer-btn mt-3">
                                <p class="mx-2">Refer & Earn</p>
                                <lottie-player src="{% static 'front-end/ApplicationForm/assets/animation-files/fire-animation.json' %}"
                                    background="transparent" speed="1" style="width: 25px; height: 25px" loop
                                    autoplay></lottie-player>
                            </button>
                        </li>
                        <li class="d-flex align-items-center justify-content-center"><a href="#"
                                class="googlePlay-button" id="launch-button">
                                <span class="icon">
                                    <svg fill="currentcolor" viewBox="-52.01 0 560.035 560.035"
                                        xmlns="http://www.w3.org/2000/svg" stroke="#ffffff">
                                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round"
                                            stroke-linejoin="round">
                                        </g>
                                        <g id="SVGRepo_iconCarrier">
                                            <path
                                                d="M380.844 297.529c.787 84.752 74.349 112.955 75.164 113.314-.622 1.988-11.754 40.191-38.756 79.652-23.343 34.117-47.568 68.107-85.731 68.811-37.499.691-49.557-22.236-92.429-22.236-42.859 0-56.256 21.533-91.753 22.928-36.837 1.395-64.889-36.891-88.424-70.883-48.093-69.53-84.846-196.475-35.496-282.165 24.516-42.554 68.328-69.501 115.882-70.192 36.173-.69 70.315 24.336 92.429 24.336 22.1 0 63.59-30.096 107.208-25.676 18.26.76 69.517 7.376 102.429 55.552-2.652 1.644-61.159 35.704-60.523 106.559M310.369 89.418C329.926 65.745 343.089 32.79 339.498 0 311.308 1.133 277.22 18.785 257 42.445c-18.121 20.952-33.991 54.487-29.709 86.628 31.421 2.431 63.52-15.967 83.078-39.655">
                                            </path>
                                        </g>
                                    </svg>
                                </span>
                                <span class="texts">
                                    <span class="text-1">Download form</span>
                                    <span class="text-2">App store</span>
                                </span>
                            </a>
                            <a href="#" class="appstore-button">
                                <svg viewBox="0 0 512 512" class="icon" fill="currentColor"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M99.617 8.057a50.191 50.191 0 00-38.815-6.713l230.932 230.933 74.846-74.846L99.617 8.057zM32.139 20.116c-6.441 8.563-10.148 19.077-10.148 30.199v411.358c0 11.123 3.708 21.636 10.148 30.199l235.877-235.877L32.139 20.116zM464.261 212.087l-67.266-37.637-81.544 81.544 81.548 81.548 67.273-37.64c16.117-9.03 25.738-25.442 25.738-43.908s-9.621-34.877-25.749-43.907zM291.733 279.711L60.815 510.629c3.786.891 7.639 1.371 11.492 1.371a50.275 50.275 0 0027.31-8.07l266.965-149.372-74.849-74.847z">
                                    </path>
                                </svg>
                                <span class="texts">
                                    <span class="text-1">GET IT ON</span>
                                    <span class="text-2">Google Play</span>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="lower-footer">
        <div class="lower-upper d-none d-sm-block">
            <ul class="d-flex align-items-center justify-content-center">
                <a href="{% url 'privacy_page' %}"><li>Privacy policies</li></a>
                <a href="{% url 'terms_page' %}"><li>Terms and conditions</li></a>
                <a href="{% url 'disclaimer' %}"><li>Disclaimer</li></a>
            </ul>
        </div>
        <div class="lower-bottom d-flex align-items-center justify-content-between">
            <p class="text-center">©2024 Realezi. All rights reserved</p>
            <p>
                Made with love <img src="{% static 'front-end/ApplicationForm/assets/heart.png' %}" width="15px" /> from
                Realezi
            </p>
            <div class="socials-container">
                <a href="https://www.facebook.com/profile.php?id=100095528529674&mibextid=ZbWKwL"
                    target="_blank" class="fb-btn social-btn">
                    <img src="{% static 'front-end/ApplicationForm/assets/fb.png' %}" width="18px" />
                    <span class="text">Facebook</span>
                </a>
                <a href="https://www.linkedin.com/company/realezi/" target="_blank"
                    class="linkedin-btn social-btn">
                    <img src="{% static 'front-end/ApplicationForm/assets/linkedin.png' %}" width="18px" />
                    <span class="text">LinkedIn</span>
                </a>
                <a href="https://www.instagram.com/realezi_?utm_source=qr&igshid=ZDc4ODBmNjlmNQ%3D%3D"
                    target="_blank" class="insta-btn social-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512" class="svgIcon">
                        <path
                            d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z">
                        </path>
                    </svg>
                    <span class="text">Instagram</span>
                </a>
                <a href="https://www.youtube.com/@Realezi" target="_blank" class="youtube-btn social-btn">
                    <img src="{% static 'front-end/ApplicationForm/assets/youtube.png' %}" width="10px" />
                    <span class="text">Youtube</span>
                </a>
            </div>
        </div>
    </div>
    </div>
  </footer>
  <!-- Footer Ends -->
  </main>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/@rive-app/canvas@2.9.1"></script>
  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.1/gsap.min.js"></script>
  <script src="{% static 'front-end/Movers and Packers/js/navbar.js' %}"></script>
  <script src="{% static 'front-end/Movers and Packers/js/hero-section-video.js' %}"></script>
  <script src="{% static 'front-end/Movers and Packers/js/form-modal.js' %}"></script>
  <script defer src="{% static 'front-end/Movers and Packers/js/footer.js' %}"></script>
</body>

</html>