<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&family=Offside&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'front-end/News-page/css/styles.css' %}">
    <title>News</title>
</head>

<body>
    <header>
        <div class="large-screen-navbar d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center">
                <a href="https://www.realezi.com"><img src="{% static 'front-end/News-page/assets/images/logo.png' %}" width="100px" class="header-logo" alt="Website Logo"></a>
                <nav id="nav-links">
                    <ul class="d-flex align-items-center">
                        <li class="home"><a href="https://www.realezi.com">Home</a></li>
                        <li class="resources"><a href="#">Resources</a></li>
                        <li class="buy-or-rent"><a href="{% url 'blog_rent_buy' %}">Buy or Rent</a></li>
                    </ul>
                </nav>
            </div>
            <a href="{% url 'login' %}"><button class="post-btn">Post Your Property</button></a>
            <div class="mobile-menu" id="menu-toggle">
                <input id="checkbox" type="checkbox">
                <label class="toggle" for="checkbox">
                    <div id="bar1" class="bars"></div>
                    <div id="bar2" class="bars"></div>
                    <div id="bar3" class="bars"></div>
                    <div id="bar4" class="bars"></div>
                    <div id="bar5" class="bars"></div>
                </label>
            </div>
        </div>
        <div id="mobile-navbar" class="mobile-navbar">
            <ul class="d-flex align-items-center justify-content-center flex-column">
                <li><a href="https://www.realezi.com">Home</a></li>
                <li><a href="#">Resources</a></li>
                <li><a href="{% url 'blog_rent_buy' %}">Buy or Rent</a></li>
                <a href="{% url 'login' %}"><li><button>Post Your Property</button></li></a>
            </ul>
        </div>
    </header>

    <main class="container">
        <div class="left-images">
            <button onclick="shareToFacebook()"><img src="{% static 'front-end/News-page/assets/images/facebook.png' %}" alt="Share on Facebook"
                    title="Share on Facebook"></button>
            <button onclick="shareToEmail()"><img src="{% static 'front-end/News-page/assets/images/gmail.png' %}" alt="Share via Email"
                    title="Share via Email"></button>
            <button onclick="shareToWhatsApp()"><img src="{% static 'front-end/News-page/assets/images/whatsapp.png' %}" alt="Share on WhatsApp"
                    title="Share on WhatsApp"></button>
            <button onclick="copyLink()"><img src="{% static 'front-end/News-page/assets/images/clip.png' %}" alt="Copy Link" title="Copy Link"></button>
        </div>
        <div class="d-flex justify-content-center align-content-end">
            <!-- Blog Section Starts -->
            <div class="blog-section">
                <h4 class="heading mb-4">Home / Read /A Complete Overview of Bangalore’s ‘Namma’ Metro and Its Impact on
                    City’s
                    Real
                    Estate</h4>
                <div class="image_article_title_wrapper">
                    <div class="article-title">
                        <button class="news_btn">News</button>
                        <p>A Complete Overview of Bangalore’s <br> ‘Namma’ Metro and Its <br> Impact on City’s Real
                            Estate</p>
                        <p class="blog_date">January 4, 2024</p>
                    </div>
                    <div class="article-title_mobile_view">
                        <p>A Complete Overview of Bangalore’s ‘Namma’ Metro and Its Impact on City’s Real Estate</p>
                        <div class="news_blog_date_container">
                            <button class="news_btn">News</button>
                            <p class="blog_date mt-2">January 4, 2024</p>
                        </div>
                    </div>

                    <div class="image-container">
                        <!-- <div class="metro-image-container"> -->
                        <img class="metro-image" src="{% static 'front-end/News-page/assets/images/metro.png' %}" alt="Descriptive Image">
                        <!-- </div> -->
                    </div>
                </div>


                <div style="color: #111F3C;" class="now-reading">
                    Now Reading : <span style="color: #434343;">A
                        Complete Overview of Bangalore’s ‘Namma’ Metro and Its Impact on City’s Real Estate</span>
                </div>

                <div class="reading-progress">
                    <div class="progress-bar">
                        <div class="progress-fill"></div>
                    </div>
                </div>

                <p class="metro-text">
                    The Bangalore Metro, popularly known as Namma Metro, is undergoing rapid expansion, which is
                    expected to
                    improve
                    connectivity for people in the IT capital from Bengaluru Airport in the north to Anjanapura in the
                    south.Bangalore, the first city
                    in South India to receive metro train service, will soon have the second-longest metro network in
                    India,
                    spanning 69.66 km.
                    Currently, the Bengaluru Metro covers a majority portion of the city and is set to expand to the
                    outskirts
                    of the city as well,
                    facilitating people’s quick transit between different pockets of the city, bypassing traffic jams
                    and
                    bottleneck routes. In addition
                    to its many boons, the Bangalore Metro route is expected to impact Bangalore’s real estate sector
                    significantly. Read on to
                    explore all you need to know about Bangalore Metro routes, connectivity, stations, new maps, metro
                    fare
                    system, its impact on
                    the real estate of the city, and more.
                </p>

                <div class="section-heading">
                    Inception and Development of Bangalore Namma Metro
                </div>

                <div class="section-intro">
                    The idea of the Bangalore metro was conceptualized in the early 1980s, but it took several years to
                    come
                    into existence. The
                    Delhi Metro Rail Corporation (DMRC) played a significant role in developing and planning the metro
                    system.
                    The first phase of
                    the project, known as “Reach 1,” was inaugurated in October 2011, and the metro network has been
                    expanding
                    ever since. The
                    expansion and implementation of the project are currently managed by the Bengaluru Metro Rail
                    Corporation
                    Limited (BMRCL).
                </div>

                <div class="section-heading">
                    Latest Updates
                </div>

                <div class="section-intro">
                    From record ridership to reduced waiting times, here are some latest BMRCL News and Headlines to
                    keep
                    you
                    up-to-date with
                    Bangalore’s Namma Metro revolution.
                </div>

                <p class="date-heading">
                    April 16, 2023: Bengaluru now has around 6 lakhs Namma Metro passengers.
                <div class="date-heading-intro">
                    The average ridership of Bangalore Metro touched 6 lakh people following the commencement of
                    commercial
                    operations on
                    the Bangalore Metro route between K.R. Pura and Whitefield.
                </div>
                </p>

                <p class="date-heading">
                    May 24, 2023: Bangalore Metro to Slash Waiting Time to around 3-3.5 Minutes.
                <div class="date-heading-intro">
                    As per reports from various media sources, Bangalore Metro Rail Corporation Limited (BMRCL) is set
                    to
                    receive a total of 36
                    new train sets in a phased manner. As a result, the waiting time for commuters on the Purple Line,
                    Green
                    Line, and their
                    extension lines is expected to reduce to approximately 3-3.5 minutes.
                </div>
                </p>

                <p class="date-heading">
                    June 7, 2023: Bangalore Metro Rail Corporation Awards Rs 501 Crore Track Building Contract to
                    Larsen & Toubro.
                <div class="date-heading-intro">
                    Bangalore Metro Rail Corporation (BMRCL) has awarded Larsen & Toubro (L&T) a contract valued at Rs
                    501
                    Crores for
                    the construction of tracks in Phase 2A and 2B of the Bangalore Metro route. The project is expected
                    to
                    be
                    completed within
                    36 months and will cover sections from Silk Board to Krishnarajapuram and Kempapura to Airport.
                </div>
                </p>

                <p class="date-heading">
                    June 7, 2023: Bangalore to Get Four More Metro Lines by November: D K Shivakumar
                <div class="date-heading-intro">
                    D K Shivakumar, Deputy CM of Karnataka, after a review meeting with the Bangalore Metro Rail
                    Corporation
                    Limited
                    (BMRCL), announced four new metro lines on the Bangalore metro route map to be completed by November
                    2023.
                </div>
                </p>

                <ul class="date-heading-intro-text">
                    <li>Baiyappanahalli-KR Pura Line (2.1 km): Expected to open in July 2023.</li>
                    <li>Kengeri-Chellaghatta Line (1.9 km): Anticipated to be ready in August or September 2023.</li>
                    <li>Nagasandra-Madavara Line (3 km): Planned to be available to the public in September or October
                        2023.
                    </li>
                    <li>RV Road-Bommasandra Line (19.14 km): Scheduled to open in October or November 2023.</li>
                </ul>

                <div class="section-heading">
                    Inception and Development of Bangalore Namma Metro
                </div>

                <div class="section-intro">
                    The idea of the Bangalore metro was conceptualized in the early 1980s, but it took several years to
                    come
                    into existence. The
                    Delhi Metro Rail Corporation (DMRC) played a significant role in developing and planning the metro
                    system.
                    The first phase of
                    the project, known as “Reach 1,” was inaugurated in October 2011, and the metro network has been
                    expanding
                    ever since. The
                    expansion and implementation of the project are currently managed by the Bengaluru Metro Rail
                    Corporation
                    Limited (BMRCL).
                </div>

                <div class="section-heading">
                    Inception and Development of Bangalore Namma Metro
                </div>

                <div class="section-intro">
                    The Green Line, operational since March 2014, spans from Nagasandra to Silk Institute, covering a
                    distance
                    of 30.32 km with
                    30 stations. Similar to the Purple Line, it is mostly elevated with a four-kilometer underground
                    section
                    in
                    the middle, which
                    includes 26 elevated metro stations and three underground stations. The Green Line of the Bangalore
                    Metro
                    route connects
                    industrial areas like Peenya and Yeshwantpur in the north with residential areas such as
                    Basavanagudi,
                    Jayanagar, and
                    Banashankari. Currently, an extension of the Green Line from Nagasandra to Bangalore International
                    Exhibition Centre (BIEC)
                    is under construction and is expected to be operational by 2023.
                </div>

                <div class="section-heading">
                    Conclusion
                </div>

                <div class="section-intro">
                    The rapid expansion of the Bangalore Metro is set to transform the way people travel and shape the
                    future of
                    the city’s real
                    estate landscape. Beyond offering quick transit to people between two pockets of the city, the metro
                    network
                    is also going to
                    play an active role in limiting greenhouse gas emissions, traffic congestion and road accidents.
                </div>

                <!-- FAQ Section Starts -->
                <div class="faq-container py-3 my-5">
                    <h3>FAQs</h3>
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    What are the interesting facts about Bangalore metro?
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong>This is the first item's accordion body.</strong> It
                                    is shown by default, until the collapse plugin adds the
                                    appropriate classes that we use to style each element. These
                                    classes control the overall appearance, as well as the
                                    showing and hiding via CSS transitions. You can modify any
                                    of this with custom CSS or overriding our default variables.
                                    It's also worth noting that just about any HTML can go
                                    within the <code>.accordion-body</code>, though the
                                    transition does limit overflow.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    What is the new line of metro in Bangalore?
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong>This is the second item's accordion body.</strong>
                                    It is hidden by default, until the collapse plugin adds the
                                    appropriate classes that we use to style each element. These
                                    classes control the overall appearance, as well as the
                                    showing and hiding via CSS transitions. You can modify any
                                    of this with custom CSS or overriding our default variables.
                                    It's also worth noting that just about any HTML can go
                                    within the <code>.accordion-body</code>, though the
                                    transition does limit overflow.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    How many lines does Bangalore metro have?
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong>This is the third item's accordion body.</strong> It
                                    is hidden by default, until the collapse plugin adds the
                                    appropriate classes that we use to style each element. These
                                    classes control the overall appearance, as well as the
                                    showing and hiding via CSS transitions. You can modify any
                                    of this with custom CSS or overriding our default variables.
                                    It's also worth noting that just about any HTML can go
                                    within the <code>.accordion-body</code>, though the
                                    transition does limit overflow.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    How does metro work in Bangalore?
                                </button>
                            </h2>
                            <div id="collapseFour" class="accordion-collapse collapse"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong>This is the third item's accordion body.</strong> It
                                    is hidden by default, until the collapse plugin adds the
                                    appropriate classes that we use to style each element. These
                                    classes control the overall appearance, as well as the
                                    showing and hiding via CSS transitions. You can modify any
                                    of this with custom CSS or overriding our default variables.
                                    It's also worth noting that just about any HTML can go
                                    within the <code>.accordion-body</code>, though the
                                    transition does limit overflow.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    What is the full form of metro?
                                </button>
                            </h2>
                            <div id="collapseFive" class="accordion-collapse collapse"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong>This is the third item's accordion body.</strong> It
                                    is hidden by default, until the collapse plugin adds the
                                    appropriate classes that we use to style each element. These
                                    classes control the overall appearance, as well as the
                                    showing and hiding via CSS transitions. You can modify any
                                    of this with custom CSS or overriding our default variables.
                                    It's also worth noting that just about any HTML can go
                                    within the <code>.accordion-body</code>, though the
                                    transition does limit overflow.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- FAQ Section Ends -->

                <!-- More like this Section Starts -->
                <div class="listed-properties-container py-3 my-5 position-relative">
                    <h3>MORE LIKE THIS</h3>
                    <button class="nav-prev-button hidden" id="slideLeftRelatedProperties">
                        <img src="{% static 'front-end/News-page/assets/images/right-arrow-white.png' %}" width="25px" style="transform: rotate(180deg)"
                            alt="Right Aroow icon" />
                    </button>
                    <div class="listed-properties-container-slider d-flex">
                        <div class="property-containter">
                            <div class="tag">Heritage</div>
                            <img src="{% static 'front-end/News-page/assets/images/property-image-2.jpg' %}" class="property-image" alt="Property Image" />
                            <div class="content">
                                <div class="d-flex align-items-end justify-content-between">
                                    <h4>6 BHK Independent Building Floor</h4>
                                    <div class="d-flex">
                                        <div class="share-container">
                                            <img src="{% static 'front-end/News-page/assets/images/share.png' %}" width="25px" alt="Share icon" />
                                            <ul>
                                                <li>Share it with family and friends</li>
                                                <li>
                                                    <button onclick="copyLink()">
                                                        <img src="{% static 'front-end/News-page/assets/images/clip.png' %}" width="18px"
                                                            alt="Clip icon" />
                                                        <p>Copy to Clipboard</p>
                                                    </button>
                                                </li>
                                                <li>
                                                    <button onclick="shareToFacebook()">
                                                        <img src="{% static 'front-end/News-page/assets/images/facebook.png' %}" width="18px"
                                                            alt="Facebook icon" />
                                                        <p>Facebook</p>
                                                    </button>
                                                </li>
                                                <li>
                                                    <button onclick="shareToEmail()">
                                                        <img src="{% static 'front-end/News-page/assets/images/gmail.png' %}" width="18px"
                                                            alt="Gmail icon" />
                                                        <p>Mail</p>
                                                    </button>
                                                </li>
                                                <li>
                                                    <button onclick="shareToWhatsApp()">
                                                        <img src="{% static 'front-end/News-page/assets/images/whatsapp.png' %}" width="18px"
                                                            alt="Whatsapp icon" />
                                                        <p>Whatsapp</p>
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                                <p class="about">
                                    Very nice property in sec24 rohini near rithala metro
                                    station with in 1km and is iskon temple 200 mtr More About
                                    This Property One
                                </p>
                                <div class="mt-3 d-flex align-items-center justify-content-between">
                                    <p class="date">March 6, 2024</p>
                                    <button>Read More</button>
                                </div>
                            </div>
                        </div>
                        <div class="property-containter">
                            <div class="tag">Heritage</div>
                            <img src="{% static 'front-end/News-page/assets/images/property-image-2.jpg' %}" class="property-image" alt="Property Image" />
                            <div class="content">
                                <div class="d-flex align-items-end justify-content-between">
                                    <h4>6 BHK Independent Building Floor</h4>
                                    <div class="d-flex">
                                        <div class="share-container">
                                            <img src="{% static 'front-end/News-page/assets/images/share.png' %}" width="25px" alt="Share icon" />
                                            <ul>
                                                <li>Share it with family and friends</li>
                                                <li>
                                                    <button onclick="copyLink()">
                                                        <img src="{% static 'front-end/News-page/assets/images/clip.png' %}" width="18px"
                                                            alt="Clip icon" />
                                                        <p>Copy to Clipboard</p>
                                                    </button>
                                                </li>
                                                <li>
                                                    <button onclick="shareToFacebook()">
                                                        <img src="{% static 'front-end/News-page/assets/images/facebook.png' %}" width="18px"
                                                            alt="Facebook icon" />
                                                        <p>Facebook</p>
                                                    </button>
                                                </li>
                                                <li>
                                                    <button onclick="shareToEmail()">
                                                        <img src="{% static 'front-end/News-page/assets/images/gmail.png' %}" width="18px"
                                                            alt="Gmail icon" />
                                                        <p>Mail</p>
                                                    </button>
                                                </li>
                                                <li>
                                                    <button onclick="shareToWhatsApp()">
                                                        <img src="{% static 'front-end/News-page/assets/images/whatsapp.png' %}" width="18px"
                                                            alt="Whatsapp icon" />
                                                        <p>Whatsapp</p>
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                                <p class="about">
                                    Very nice property in sec24 rohini near rithala metro
                                    station with in 1km and is iskon temple 200 mtr More About
                                    This Property One
                                </p>
                                <div class="mt-3 d-flex align-items-center justify-content-between">
                                    <p class="date">March 6, 2024</p>
                                    <button>Read More</button>
                                </div>


                            </div>
                        </div>
                        <div class="property-containter">
                            <div class="tag">Heritage</div>
                            <img src="{% static 'front-end/News-page/assets/images/property-image-2.jpg' %}" class="property-image" alt="Property Image" />
                            <div class="content">
                                <div class="d-flex align-items-end justify-content-between">
                                    <h4>6 BHK Independent Building Floor</h4>
                                    <div class="d-flex">
                                        <div class="share-container">
                                            <img src="{% static 'front-end/News-page/assets/images/share.png' %}" width="25px" alt="Share icon" />
                                            <ul>
                                                <li>Share it with family and friends</li>
                                                <li>
                                                    <button onclick="copyLink()">
                                                        <img src="{% static 'front-end/News-page/assets/images/clip.png' %}" width="18px"
                                                            alt="Clip icon" />
                                                        <p>Copy to Clipboard</p>
                                                    </button>
                                                </li>
                                                <li>
                                                    <button onclick="shareToFacebook()">
                                                        <img src="{% static 'front-end/News-page/assets/images/facebook.png' %}" width="18px"
                                                            alt="Facebook icon" />
                                                        <p>Facebook</p>
                                                    </button>
                                                </li>
                                                <li>
                                                    <button onclick="shareToEmail()">
                                                        <img src="{% static 'front-end/News-page/assets/images/gmail.png' %}" width="18px"
                                                            alt="Gmail icon" />
                                                        <p>Mail</p>
                                                    </button>
                                                </li>
                                                <li>
                                                    <button onclick="shareToWhatsApp()">
                                                        <img src="{% static 'front-end/News-page/assets/images/whatsapp.png' %}" width="18px"
                                                            alt="Whatsapp icon" />
                                                        <p>Whatsapp</p>
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                                <p class="about">
                                    Very nice property in sec24 rohini near rithala metro
                                    station with in 1km and is iskon temple 200 mtr More About
                                    This Property One
                                </p>
                                <div class="mt-3 d-flex align-items-center justify-content-between">
                                    <p class="date">March 6, 2024</p>
                                    <button>Read More</button>
                                </div>


                            </div>
                        </div>
                        <div class="property-containter">
                            <div class="tag">Heritage</div>
                            <img src="{% static 'front-end/News-page/assets/images/property-image-2.jpg' %}" class="property-image" alt="Property Image" />
                            <div class="content">
                                <div class="d-flex align-items-end justify-content-between">
                                    <h4>6 BHK Independent Building Floor</h4>
                                    <div class="d-flex">
                                        <div class="share-container">
                                            <img src="{% static 'front-end/News-page/assets/images/share.png' %}" width="25px" alt="Share icon" />
                                            <ul>
                                                <li>Share it with family and friends</li>
                                                <li>
                                                    <button onclick="copyLink()">
                                                        <img src="{% static 'front-end/News-page/assets/images/clip.png' %}" width="18px"
                                                            alt="Clip icon" />
                                                        <p>Copy to Clipboard</p>
                                                    </button>
                                                </li>
                                                <li>
                                                    <button onclick="shareToFacebook()">
                                                        <img src="{% static 'front-end/News-page/assets/images/facebook.png' %}" width="18px"
                                                            alt="Facebook icon" />
                                                        <p>Facebook</p>
                                                    </button>
                                                </li>
                                                <li>
                                                    <button onclick="shareToEmail()">
                                                        <img src="{% static 'front-end/News-page/assets/images/gmail.png' %}" width="18px"
                                                            alt="Gmail icon" />
                                                        <p>Mail</p>
                                                    </button>
                                                </li>
                                                <li>
                                                    <button onclick="shareToWhatsApp()">
                                                        <img src="{% static 'front-end/News-page/assets/images/whatsapp.png' %}" width="18px"
                                                            alt="Whatsapp icon" />
                                                        <p>Whatsapp</p>
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                                <p class="about">
                                    Very nice property in sec24 rohini near rithala metro
                                    station with in 1km and is iskon temple 200 mtr More About
                                    This Property One
                                </p>
                                <div class="mt-3 d-flex align-items-center justify-content-between">
                                    <p class="date">March 6, 2024</p>
                                    <button>Read More</button>
                                </div>


                            </div>
                        </div>
                        <div class="property-containter">
                            <div class="tag">Heritage</div>
                            <img src="{% static 'front-end/News-page/assets/images/property-image-2.jpg' %}" class="property-image" alt="Property Image" />
                            <div class="content">
                                <div class="d-flex align-items-end justify-content-between">
                                    <h4>6 BHK Independent Building Floor</h4>
                                    <div class="d-flex">
                                        <div class="share-container">
                                            <img src="{% static 'front-end/News-page/assets/images/share.png' %}" width="25px" alt="Share icon" />
                                            <ul>
                                                <li>Share it with family and friends</li>
                                                <li>
                                                    <button onclick="copyLink()">
                                                        <img src="{% static 'front-end/News-page/assets/images/clip.png' %}" width="18px"
                                                            alt="Clip icon" />
                                                        <p>Copy to Clipboard</p>
                                                    </button>
                                                </li>
                                                <li>
                                                    <button onclick="shareToFacebook()">
                                                        <img src="{% static 'front-end/News-page/assets/images/facebook.png' %}" width="18px"
                                                            alt="Facebook icon" />
                                                        <p>Facebook</p>
                                                    </button>
                                                </li>
                                                <li>
                                                    <button onclick="shareToEmail()">
                                                        <img src="{% static 'front-end/News-page/assets/images/gmail.png' %}" width="18px"
                                                            alt="Gmail icon" />
                                                        <p>Mail</p>
                                                    </button>
                                                </li>
                                                <li>
                                                    <button onclick="shareToWhatsApp()">
                                                        <img src="{% static 'front-end/News-page/assets/images/whatsapp.png' %}" width="18px"
                                                            alt="Whatsapp icon" />
                                                        <p>Whatsapp</p>
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                                <p class="about">
                                    Very nice property in sec24 rohini near rithala metro
                                    station with in 1km and is iskon temple 200 mtr More About
                                    This Property One
                                </p>
                                <div class="mt-3 d-flex align-items-center justify-content-between">
                                    <p class="date">March 6, 2024</p>
                                    <button>Read More</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="nav-button" id="slideRightRelatedProperties">
                        <img src="{% static 'front-end/News-page/assets/images/right-arrow-white.png' %}" width="25px" alt="Right Arrow icon" />
                    </button>
                </div>
                <!-- More like this Section Ends -->
            </div>
            <!-- Blog Section Ends -->

            <!-- Side Section Starts -->
            <div class="side-section d-flex align-items-end justify-content-end flex-column">
                <!-- <div class="upper-side-panel">
                    <div class="read-blog">
                        <h2>Read related blogs</h2>
                        <div class="video-icon-container">
                            <img src="{% static 'front-end/News-page/assets/images/video.png' %}" class="video-icon" width="100%" alt="Another Image">
                        </div>
                        <div class="solutions">
                            <h2>Solutions</h2>
                            <ul>
                                <li>Find a right property</li>
                                <li>Sell or Rent your property</li>
                                <li>Build your home from scratch</li>
                                <li>Interior Designing & Decor</li>
                                <li>Solar Panel</li>
                            </ul>
                        </div>
                    </div>
                </div> -->
                <div class="lower-side-panel">
                    <div class="video-icon-container">
                        <img src="{% static 'front-end/News-page/assets/images/video.png' %}" class="video-icon" width="100%" alt="Another Image">
                    </div>
                    <div class="video-icon-container mt-3">
                        <img src="{% static 'front-end/News-page/assets/images/video.png' %}" class="video-icon" width="100%" alt="Another Image">
                    </div>
                    <div class="featured-property-container my-4">
                        <div class="featured-property-container-inner">
                            <h5>Featured Properties</h5>
                            <div class="d-flex align-items-center justify-content-between my-3">
                                <div class="property-container">
                                    <img class="property-image" src="{% static 'front-end/News-page/assets/images/property-image-4.jpg' %}"
                                        alt="Property Image" />
                                    <p>Semi furnished 1 BHK in block 2, Garden Villas</p>
                                </div>
                                <div class="property-container">
                                    <img class="property-image" src="{% static 'front-end/News-page/assets/images/property-image-4.jpg' %}"
                                        alt="Property Image" />
                                    <p>Semi furnished 1 BHK in block 2, Garden Villas</p>
                                </div>
                            </div>
                            <button class="d-flex align-items-center">
                                <p>View More</p>
                                <img src="{% static 'front-end/News-page/assets/images/right-arrow-white.png' %}" width="20px" alt="Right Arrow icon" />
                            </button>
                        </div>
                    </div>
                    <div class="featured-property-container my-4">
                        <div class="featured-property-container-inner">
                            <h5>Featured Properties</h5>
                            <div class="d-flex align-items-center justify-content-between my-3">
                                <div class="property-container">
                                    <img class="property-image" src="{% static 'front-end/News-page/assets/images/property-image-4.jpg' %}"
                                        alt="Property Image" />
                                    <p>Semi furnished 1 BHK in block 2, Garden Villas</p>
                                </div>
                                <div class="property-container">
                                    <img class="property-image" src="{% static 'front-end/News-page/assets/images/property-image-4.jpg' %}"
                                        alt="Property Image" />
                                    <p>Semi furnished 1 BHK in block 2, Garden Villas</p>
                                </div>
                            </div>
                            <button class="d-flex align-items-center">
                                <p>View More</p>
                                <img src="{% static 'front-end/News-page/assets/images/right-arrow-white.png' %}" width="20px" alt="Right Arrow icon" />
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Side Section Ends -->

        </div>
    </main>

    <!-- Footer Starts -->
    {% include 'Frontend/footer-page-new.html' %}
    <!-- Footer Ends -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/@rive-app/canvas@latest"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="{% static 'front-end/News-page/js/script.js' %}"></script>
    <script defer src="{% static 'front-end/News-page/js/footer.js' %}"></script>
</body>

</html>