<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&family=Offside&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'front-end/Privacy-page/css/styles.css' %}">
    <title>Privacy Policy</title>
</head>

<body>

    <header>
        <div class="large-screen-navbar d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center">
                <a href="https://www.realezi.com"><img src="{% static 'front-end/Privacy-page/assets/svg/footer-logo.svg' %}" width="100px" class="header-logo" alt="Website Logo"></a>
                <nav id="nav-links">
                    <ul class="d-flex align-items-center">
                        <li class="home"><a href="https://www.realezi.com">Home</a></li>
                        <li class="resources"><a href="#">Resources</a></li>
                        <li class="buy-or-rent"><a href="{% url 'blog_rent_buy' %}">Buy or Rent</a></li>
                    </ul>
                </nav>
            </div>
            <a href="{% url 'login' %}"><button class="post-btn">Post Your Property</button></a>
            <div class="mobile-menu" id="menu-toggle">
                <input id="checkbox" type="checkbox">
                <label class="toggle" for="checkbox">
                    <div id="bar1" class="bars"></div>
                    <div id="bar2" class="bars"></div>
                    <div id="bar3" class="bars"></div>
                    <div id="bar4" class="bars"></div>
                    <div id="bar5" class="bars"></div>
                </label>
            </div>
        </div>
        <div id="mobile-navbar" class="mobile-navbar">
            <ul class="d-flex align-items-center justify-content-center flex-column">
                <li><a href="https://www.realezi.com">Home</a></li>
                <li><a href="#">Resources</a></li>
                <li><a href="{% url 'blog_rent_buy' %}">Buy or Rent</a></li>
                <a href="{% url 'login' %}"><li><button>Post Your Property</button></li></a>
            </ul>
        </div>
    </header>

    <main>
        <div class="centered-box">
            <h2>PRIVACY POLICY</h2>
        </div>
        <div class="privacy-text">
            <p>Ingenious Real-Tech Solutions LLP is a real estate portal based in Vadodara. We principally deal in
                property advertisement, all real estate related services and solutions. Our Privacy Policy is
                incorporated as part of the Realezi.com terms of use. Please read this Privacy Policy and our Terms &
                Conditions carefully before using our Services. By using Realezi’s services, you agree to the provisions
                of this Privacy Policy.</p>
            <p>We take the individuals' privacy interests very seriously, whose information we receive throughout our
                services. We provide this Privacy Policy to describe how we use and maintain the information collected
                through our services and what benefits users have to control how their information is used and shared.
            </p>
            <ol>
                <li>
                    <h3>GENERAL</h3>
                    <ol type="a">
                        <li>This document is an electronic record in terms of Information Technology Act, 2000 and rules
                            there under as applicable and the amended provisions pertaining to electronic records in
                            various statutes as amended by the Information Technology Act, 2000. This electronic record
                            is generated by a computer system and does not require any physical or digital signatures.
                        </li>
                        <li>This document is published in accordance with the provisions of Rule 3 (1) of the
                            Information Technology (Intermediaries guidelines) Rules, 2011 that require publishing the
                            rules and regulations, privacy policy and Terms of Use for access or usage of
                            https://realezi.com/.</li>
                        <li>The domain name https://realezi.com/ ("Website") is owned and operated by Ingenious
                            Real-Tech Solutions LLP.("Company") having its registered office at L 404, Rajeshwar Gold,
                            near Harni Police station, Harni -Airport Road, Harni, Vadodara, Gujarat – 390022.</li>
                        <li>This Privacy Policy is effective from the date and time the user registers with Realezi by
                            filling up the details and accepting the terms & conditions laid out in the Site Policy.
                        </li>
                    </ol>
                </li>
                <li>
                    <h3>COLLECTION OF PERSONAL AND OTHER INFORMATION</h3>
                    <ol type="a">
                        <li>To provide its customers a personalized browsing experience, Realezi may collect personal
                            information from you. Additionally, the website may require you to complete a registration
                            form or seek some information from you which may include but not be limited to name, email
                            address, phone number, mailing address, demographic information (e.g., age, gender, if
                            legally permissible), and, in some instances, financial information (e.g., income, with
                            appropriate authorization).</li>
                        <li>The User is aware that the Company/Website may automatically track certain information about
                            the User based upon the User's IP address and the User’s behavior on the Website, and the
                            User expressly consents to the same. The User is aware that this information is used to do
                            internal research on user demographics, interests, and behaviour, enable the Company/Website
                            to understand better, and cater to the interests of its users. The User is expressly made
                            aware that such information may include the URL that the User visited prior to accessing the
                            Website, the URL which the User subsequently visits (whether or not these URLs form a part
                            of the Website), the User's computer & web browser information, the User's IP address, etc.
                        </li>
                        <li>The User is further aware that the Company/Website may occasionally request the User to
                            write reviews for products/services purchased/availed of by the User from the Website and
                            reviews for the various sellers listing their properties/products/services on the Website.
                            The User is aware that such reviews will help other users of the website make prudent and
                            correct purchases, and also help the Company/Website remove sellers whose
                            properties/products/services are unsatisfactory in any way. The User hereby expressly
                            authorizes the Company/Website to publish any or all reviews written by the User on the
                            Website, along with the User's name and specific contact details, for the benefit and use of
                            other Users of the Website.</li>
                    </ol>
                </li>
                <li>
                    <h3>COOKIES</h3>
                    <ol type="a">
                        <li>The User is aware that a ‘Cookie’ is a small piece of information stored by a web server on
                            a web browser so it can later be traced back from that particular browser and that cookies
                            are useful for enabling the browser to remember information specific to a given user,
                            including but not limited to a User's login identification, password, etc. The User is aware
                            that the Website places permanent and temporary cookies in the User's computer's hard drive
                            and web browser and does hereby expressly consent to the same.</li>
                        <li>The User is further aware that the Website uses data collection devices such as cookies on
                            certain pages of the Website to help analyze web page flow, measure promotional
                            effectiveness, and promote trust and safety, and that certain features of the Website are
                            only available through the use of such cookies. We may leverage cookies and other tracking
                            technologies to gather information about your activity on the Services. Cookies are small
                            data files stored on your device. You can manage your cookie settings through your browser
                            settings.</li>
                    </ol>
                </li>
                <li>
                    <h3>DIVULGING/SHARING OF PERSONAL INFORMATION</h3>
                    <ol type="a">
                        <li>The User is aware that the Website/Company may share the User's personal information with
                            other corporate entities and affiliates to help detect and prevent identity theft, fraud,
                            and other potentially illegal acts; correlate related or multiple accounts to prevent abuse
                            of the Website's services; and to facilitate joint or co-branded services, where such
                            services are provided by more than one corporate entity.</li>
                        <li>The User is aware that the Website/Company may disclose personal information if required to
                            do so by law or if the Website/Company in good faith believes that such disclosure is
                            reasonably necessary to respond to subpoenas, court orders, or other legal processes. The
                            Website/Company may also disclose certain information which shall not hamper the privacy of
                            the User's personal information to law enforcement offices, third party rights owners, or
                            other third parties if it believes that such disclosure is reasonably necessary to enforce
                            the Terms or Policy; respond to claims that an advertisement, posting or other content
                            violates the rights of a third party; or protect the rights, property or personal safety of
                            its users, or the general public.</li>
                    </ol>
                </li>
                <li>
                    <h3>SECURITY</h3>
                    <ol type="none">
                        <p>We take the security of your financial transactions very seriously. When you submit financial
                            information through our Services, such as during an application process, we utilize
                            industry-standard security measures to protect the confidentiality and integrity of your
                            data. This includes:</p>
                        <li type="none"><span class="list">Secure Sockets Layer (SSL) encryption:</span> We utilize SSL
                            technology to encrypt your financial information during transmission, safeguarding it from
                            unauthorized interception.</li>
                        <li type="none"><span class="list">Payment processing partners:</span> We collaborate with
                            reputable payment processing partners who adhere to stringent data security standards. We do
                            not store your full credit card details on our servers.</li>
                        <li type="none"><span class="list">Regular security assessments:</span> We regularly conduct
                            security assessments and vulnerability testing to identify and address potential security
                            risks.</li>
                        <p>Transactions on the Website are secure and protected. Any information entered by the User
                            when transacting on the Website is encrypted to protect the User against unintentional
                            disclosure to third parties. The User's credit and debit card information is not , stored
                            by, or retained by the Company / Website in any manner. This information is supplied by the
                            User directly to the relevant payment gateway, which is authorized to handle the information
                            provided and is compliant with the regulations and requirements of various banks and
                            institutions, and payment franchisees that it is associated with.</p>
                    </ol>
                </li>
                <li>
                    <h3>DISPUTE RESOLUTION AND JURISDICTION</h3>
                    <ol type="a">
                        <p>It is expressly agreed to by the Parties hereto that the formation, interpretation and
                            performance of this Policy and any disputes arising here from will be resolved through a
                            two-step Alternate Dispute Resolution ("ADR") mechanism. It is further agreed to by the
                            Parties that the contents of this Section shall survive even after the termination or expiry
                            of the Policy and/or Terms.. The parties have to undergo compulsory mediation process as per
                            the Commercial Courts Act.</p>
                        <li>Mediation: In case of any dispute between the parties, the Parties will attempt to resolve
                            the same amicably amongst themselves, to the mutual satisfaction of both Parties. In the
                            event that the Parties are unable to reach such an amicable solution within thirty (30) days
                            of one Party communicating the existence of a dispute to the other Party</li>
                        <p>The Parties expressly agree that the Terms, Policy, and any other agreements entered into
                            between the Parties are governed by the laws, rules, and regulations of India and that the
                            Courts at Vadodara shall have exclusive jurisdiction over any disputes arising between the
                            Parties.</p>
                    </ol>
                </li>
                <li type="none">
                    <h3>Disclaimer</h3>
                    <ol type="a">
                        <p>Ingenious Real-Tech Solutions LLP (Registered Company Name) - Realezi (Brand Name) is only
                            acting as a marketing partner for developers of this real estate project providing online
                            and offline marketing services and does not in any way facilitate and cannot be deemed to be
                            facilitating sales between developers and the visitors / users of the Site. All commercial
                            transactions are between you and the developer. You cannot hold Ingenious Real-Tech
                            Solutions LLP (Registered Company Name) - Realezi (Brand Name) liable for any claims, losses
                            or damages, deficiency of services, delay in services, cost and expense which you may suffer
                            due to availing the services from the developer(s) or any matter incidental thereto. The
                            display of information on www.Realezi.com with respect to a developer or project does not
                            guarantee that the developer / project has registered under the Real Estate (Regulation and
                            Development), 2016 or is compliant with the same. Before deciding to purchase or taking any
                            other action, you are advised to exercise due caution and to independently validate and
                            verify all project and the developer related information.</p>
                    </ol>
                </li>
                <li type="none">
                    <h3>Property Information and Availability</h3>
                    <ol type="a">
                        <p>Property details, including square footage, pricing, amenities, and availability, are
                            presented for informational purposes only. These details are subject to change based on the
                            discretion of the property owner or listing agent.</p>
                        <p>We encourage you to verify all property information independently, including contacting the
                            listing agent or seller directly for the most current details.</p>
                    </ol>
                </li>
                <li type="none">
                    <h3>Investment Decisions</h3>
                    <ol type="a">
                        <p>The Website is not intended to provide financial or investment advice. Any decisions related
                            to real estate purchases or investments should be made independently after consulting with a
                            qualified professional.</p>
                    </ol>
                </li>
                <li type="none">
                    <h3>Updates to this Privacy Policy</h3>
                    <ol type="a">
                        <p>We reserve the right to update this Privacy Policy periodically. We will notify you of any
                            changes by posting the updated Privacy Policy on the Services.</p>
                    </ol>
                </li>
            </ol>
            <h2 class="end">END OF POLICIES</h2>
        </div>
    </main>

    <!-- Footer Starts -->
    {% include 'Frontend/footer-page-new.html' %}
    <!-- Footer Ends -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/@rive-app/canvas@latest"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script>
        const menuToggle = document.getElementById("checkbox");
        const navLinks = document.getElementById("mobile-navbar");

        menuToggle.addEventListener("click", () => {
            navLinks.classList.toggle("show");
        });
    </script>
    <script defer src="{% static 'front-end/Privacy-page/js/footer.js' %}"></script>
</body>

</html>