<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Refer and Earn</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&family=Offside&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="{% static 'front-end/referAndEarnRealezi/styles.css' %}">
    <style>
        .navbar a {
            text-decoration: none !important;
            color: white;
        }
    </style>
</head>

<body>
    <section class="first_section">
        <a href="https://www.realezi.com"><img class="header-logo before_hide" src="{% static 'front-end/referAndEarnRealezi/assets/logo.png' %}" width="100px" alt="Logo"></a>
        <div class="header">
            <a href="https://www.realezi.com"><img class="header-logo" src="{% static 'front-end/referAndEarnRealezi/assets/logo.png' %}" width="100px" alt="Logo"></a>
            <nav class="navbar">
                <ul>
                    <li class="active">Refer and earn</li>
                    <a href="https://www.realezi.com"><li>Home</li></a>
                    <a href="{% url 'blog_rent_buy' %}"><li>Buy or Rent</li></a>
                    <a href=""><li>About</li></a>
                    <a href="{% url 'contact_us' %}"><li>Contact</li></a>
                </ul>
            </nav>
            <div class="mobile-view-nav">
                <!-- <img src="{% static 'front-end/referAndEarnRealezi/assets/logo.png' %}" width="100px" alt="Logo"> -->
                <ul class="pt-4">
                    <li class="active">Refer and earn</li>
                    <a href="https://www.realezi.com"><li>Home</li></a>
                    <a href="{% url 'blog_rent_buy' %}"><li>Buy or Rent</li></a>
                    <a href=""><li>About</li></a>
                    <a href="{% url 'contact_us' %}"><li>Contact</li></a>
                </ul>
            </div>
            <input id="checkbox" type="checkbox">
            <label class="toggle" for="checkbox">
                <div id="bar1" class="bars"></div>
                <div id="bar2" class="bars"></div>
                <div id="bar3" class="bars"></div>
                <div id="bar4" class="bars"></div>
                <div id="bar5" class="bars"></div>
            </label>
        </div>
        <div class="hero_section">
            <div class="refer_friends_section">
                <div class="main_proposal">
                    <p class="top_line">
                        Refer
                        <span>friends</span>
                        <span>and</span>
                        Earn
                        <span>up to</span>
                        <span class="below_line">₹30,000 per Refer</span>
                    </p>
                </div>
                <div class="proposal_description_container">
                    <p class="proposal_description">
                        Just a few clicks to Big Rewards refer now and watch your earnings grow!
                    </p>
                </div>
                <button class="refer_button">
                    Refer
                </button>
            </div>
            <div class="hero_video_container">
                <div class="video_bg_wrapper">
                    <img class="hero_video" src="{% static 'front-end/referAndEarnRealezi/assets/Comp 2_1.gif' %}" alt="">
                    <img class="video_bg_image" src="{% static 'front-end/referAndEarnRealezi/assets/Frame 71.png' %}" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="mobile_section" id="mobile-section">
        <div class="how_it_works_heading_container">
            <h1 class="how_it_works_heading">How it works</h1>
        </div>
        <div id="mobile-section" class="mobile_and_description_wrapper">
            <!-- Swiper container for slider mode -->
            <div class="mobile_img_container">
                <img class="mobile" src="{% static 'front-end/referAndEarnRealezi/assets/mobile_1.png' %}" alt="" id="mobile-img-1">
                <img class="mobile" src="{% static 'front-end/referAndEarnRealezi/assets/mobile_2.png' %}" alt="" id="mobile-img-2">
                <img class="mobile" src="{% static 'front-end/referAndEarnRealezi/assets/mobile_3.png' %}" alt="" id="mobile-img-3">
            </div>

            <!-- Swiper Pagination and Navigation for slider -->

            <!-- Mobile description container -->
            <div class="mobile_description_wrapper">
                <div class="mobile_description_container" id="mobile-desc-1">
                    <h2>Refer friend</h2>
                    <p>It has never been easier to share the benefits with your friends! All you have to do is complete
                        our referral form with your information and your friend’s information. If your friend follows
                        the instructions and signs up for the service, you can receive 30000₹ per each referral. That’s
                        the idea—recommend, get paid and receive your benefits.</p>
                </div>
                <div class="mobile_description_container" id="mobile-desc-2">
                    <h2>Track status</h2>
                    <p>It is easy to stay current on your referral’s progress. Our tracking feature allows you to track
                        the status of your referral and how much closer you are to earning your rewards.</p>
                </div>
                <div class="mobile_description_container" id="mobile-desc-3">
                    <h2>Get amount credited</h2>
                    <p>Your earnings will be credited directly to your account once the actions of your referral are
                        confirmed and completed. Just sit back and let the blessings come through as they are!</p>
                </div>
            </div>
            <div class="swiper-pagination">
                <div class="swipper_pagination_dots first_dot"></div>
                <div class="swipper_pagination_dots"></div>
                <div class="swipper_pagination_dots"></div>
            </div>
            <div class="swiper-button-next" onclick="updateContentOnlcick('next')"></div>
            <div class="swiper-button-prev" onclick="updateContentOnlcick('prev')"></div>
        </div>

    </section>

    <section class="people_are_earning">
        <div class="people_earning_heading_container">
            <p class="people_earning_heading">
                People are earning up to <Span>₹ 30,000 per refer</Span>
            </p>
        </div>
        <div class="first_line_animation">
            <div class="first_line_child">
                <div class="logo_name_container">
                    <div class="animatoin_logo">P</div>
                    <div class="name_profile_container">
                        <span class="name">Priya Verma</span>
                    </div>
                </div>
                <div class="amount_container">
                    <p class="amount">₹15,000</p>
                </div>
            </div>
            <div class="first_line_child">
                <div class="logo_name_container">
                    <div class="animatoin_logo">R</div>
                    <div class="name_profile_container">
                        <span class="name">Rajesh Gupta</span>
                    </div>
                </div>
                <div class="amount_container">
                    <p class="amount">₹16,000</p>
                </div>
            </div>
            <div class="first_line_child">
                <div class="logo_name_container">
                    <div class="animatoin_logo">A</div>
                    <div class="name_profile_container">
                        <span class="name">Ayush Gangwar</span>
                    </div>
                </div>
                <div class="amount_container">
                    <p class="amount">₹14,000</p>
                </div>
            </div>
            <div class="first_line_child">
                <div class="logo_name_container">
                    <div class="animatoin_logo">S</div>
                    <div class="name_profile_container">
                        <span class="name">Sita Reddy</span>
                    </div>
                </div>
                <div class="amount_container">
                    <p class="amount">₹15,500</p>
                </div>
            </div>
            <div class="first_line_child">
                <div class="logo_name_container">
                    <div class="animatoin_logo">A</div>
                    <div class="name_profile_container">
                        <span class="name">
                            Aarav Sharma </span>
                    </div>
                </div>
                <div class="amount_container">
                    <p class="amount">₹11,000</p>
                </div>
            </div>
            <div class="first_line_child">
                <div class="logo_name_container">
                    <div class="animatoin_logo">K</div>
                    <div class="name_profile_container">
                        <span class="name">Karan Joshi</span>
                    </div>
                </div>
                <div class="amount_container">
                    <p class="amount">₹12,000</p>
                </div>
            </div>
            <div class="first_line_child">
                <div class="logo_name_container">
                    <div class="animatoin_logo">D</div>
                    <div class="name_profile_container">
                        <span class="name">Deepika Nair</span>
                    </div>
                </div>
                <div class="amount_container">
                    <p class="amount">₹14,500</p>
                </div>
            </div>
            <div class="first_line_child">
                <div class="logo_name_container">
                    <div class="animatoin_logo">V</div>
                    <div class="name_profile_container">
                        <span class="name">Vikram Singh</span>
                    </div>
                </div>
                <div class="amount_container">
                    <p class="amount">₹12,500</p>
                </div>
            </div>
            <div class="first_line_child">
                <div class="logo_name_container">
                    <div class="animatoin_logo">N</div>
                    <div class="name_profile_container">
                        <span class="name">Neha Bhatia</span>
                    </div>
                </div>
                <div class="amount_container">
                    <p class="amount">₹13,800</p>
                </div>
            </div>
        </div>
        <div class="second_line_animation">
            <div class="first_line_child">
                <div class="logo_name_container">
                    <div class="animatoin_logo">R</div>
                    <div class="name_profile_container">
                        <span class="name">Rahul Desai</span>
                    </div>
                </div>
                <div class="amount_container">
                    <p class="amount">₹11,050</p>
                </div>
            </div>
            <div class="first_line_child">
                <div class="logo_name_container">
                    <div class="animatoin_logo">L</div>
                    <div class="name_profile_container">
                        <span class="name">Lakshmi Iyer</span>
                    </div>
                </div>
                <div class="amount_container">
                    <p class="amount">₹9,700</p>
                </div>
            </div>
            <div class="first_line_child">
                <div class="logo_name_container">
                    <div class="animatoin_logo">A</div>
                    <div class="name_profile_container">
                        <span class="name">Aditi Rao</span>
                    </div>
                </div>
                <div class="amount_container">
                    <p class="amount">₹11,200</p>
                </div>
            </div>
            <div class="first_line_child">
                <div class="logo_name_container">
                    <div class="animatoin_logo">T</div>
                    <div class="name_profile_container">
                        <span class="name">Tanvi Chatterjee</span>
                    </div>
                </div>
                <div class="amount_container">
                    <p class="amount">₹14,200</p>
                </div>
            </div>
            <div class="first_line_child">
                <div class="logo_name_container">
                    <div class="animatoin_logo">S</div>
                    <div class="name_profile_container">
                        <span class="name">Suresh Rane</span>
                    </div>
                </div>
                <div class="amount_container">
                    <p class="amount">₹13,000</p>
                </div>
            </div>
            <div class="first_line_child">
                <div class="logo_name_container">
                    <div class="animatoin_logo">M</div>
                    <div class="name_profile_container">
                        <span class="name">Meera Sood</span>
                    </div>
                </div>
                <div class="amount_container">
                    <p class="amount">₹8,900</p>
                </div>
            </div>
            <div class="first_line_child">
                <div class="logo_name_container">
                    <div class="animatoin_logo">K</div>
                    <div class="name_profile_container">
                        <span class="name">Kavita Joshi</span>
                    </div>
                </div>
                <div class="amount_container">
                    <p class="amount">₹12,500</p>
                </div>
            </div>
            <div class="first_line_child">
                <div class="logo_name_container">
                    <div class="animatoin_logo">A</div>
                    <div class="name_profile_container">
                        <span class="name">Ajay Malhotra</span>
                    </div>
                </div>
                <div class="amount_container">
                    <p class="amount">₹11,900</p>
                </div>
            </div>
            <div class="first_line_child">
                <div class="logo_name_container">
                    <div class="animatoin_logo">P</div>
                    <div class="name_profile_container">
                        <span class="name">Pooja Shah</span>
                    </div>
                </div>
                <div class="amount_container">
                    <p class="amount">₹16,000</p>
                </div>
            </div>
        </div>
        <div class="third_line_animation">
            <div class="first_line_child">
                <div class="logo_name_container">
                    <div class="animatoin_logo">D</div>
                    <div class="name_profile_container">
                        <span class="name">Divya Singh</span>
                    </div>
                </div>
                <div class="amount_container">
                    <p class="amount">₹13,500</p>
                </div>
            </div>
            <div class="first_line_child">
                <div class="logo_name_container">
                    <div class="animatoin_logo">H</div>
                    <div class="name_profile_container">
                        <span class="name">Harish Thakur</span>
                    </div>
                </div>
                <div class="amount_container">
                    <p class="amount">₹11,850</p>
                </div>
            </div>
            <div class="first_line_child">
                <div class="logo_name_container">
                    <div class="animatoin_logo">R</div>
                    <div class="name_profile_container">
                        <span class="name">Rekha Khatri</span>
                    </div>
                </div>
                <div class="amount_container">
                    <p class="amount">₹16,000</p>
                </div>
            </div>
            <div class="first_line_child">
                <div class="logo_name_container">
                    <div class="animatoin_logo">V</div>
                    <div class="name_profile_container">
                        <span class="name">Vinay Yadav</span>
                    </div>
                </div>
                <div class="amount_container">
                    <p class="amount">₹15,450</p>
                </div>
            </div>
            <div class="first_line_child">
                <div class="logo_name_container">
                    <div class="animatoin_logo">S</div>
                    <div class="name_profile_container">
                        <span class="name">Shivani Ghadge</span>
                    </div>
                </div>
                <div class="amount_container">
                    <p class="amount">₹13,900</p>
                </div>
            </div>
            <div class="first_line_child">
                <div class="logo_name_container">
                    <div class="animatoin_logo">M</div>
                    <div class="name_profile_container">
                        <span class="name">Meenal Joshi</span>
                    </div>
                </div>
                <div class="amount_container">
                    <p class="amount">₹12,050</p>
                </div>
            </div>
            <div class="first_line_child">
                <div class="logo_name_container">
                    <div class="animatoin_logo">A</div>
                    <div class="name_profile_container">
                        <span class="name">Amit Khanna</span>
                    </div>
                </div>
                <div class="amount_container">
                    <p class="amount">₹11,000</p>
                </div>
            </div>
            <div class="first_line_child">
                <div class="logo_name_container">
                    <div class="animatoin_logo">R</div>
                    <div class="name_profile_container">
                        <span class="name">Ritesh Agarwal</span>
                    </div>
                </div>
                <div class="amount_container">
                    <p class="amount">₹10,500</p>
                </div>
            </div>
            <div class="first_line_child">
                <div class="logo_name_container">
                    <div class="animatoin_logo">T</div>
                    <div class="name_profile_container">
                        <span class="name">Tanushree Roy</span>
                    </div>
                </div>
                <div class="amount_container">
                    <p class="amount">₹8,000</p>
                </div>
            </div>
        </div>
    </section>

    <section class="faq">
        <div class="faq_heading_container">
            <h1 class="faq_heading">Frequently Asked Questions</h1>
        </div>
        <div class="accordion">
            <div class="accordion-item">
                <div class="accordion-header" onclick="toggleAccordion(this)">
                    <span>Who can participate in the referral program?</span>
                    <img src="{% static 'front-end/referAndEarnRealezi/assets/arrow.png' %}" alt="" class="arrow">
                </div>
                <div class="accordion-content">
                    <p>Anyone can participate in the referral program.</p>
                </div>
            </div>

            <div class="accordion-item">
                <div class="accordion-header" onclick="toggleAccordion(this)">
                    <span>What qualifies as a successful referral?</span>
                    <img src="{% static 'front-end/referAndEarnRealezi/assets/arrow.png' %}" alt="" class="arrow">
                </div>
                <div class="accordion-content">
                    <p>A referral is considered successful once the deal is completed, and the transaction is finalized.
                    </p>
                </div>
            </div>

            <div class="accordion-item">
                <div class="accordion-header" onclick="toggleAccordion(this)">
                    <span>Will I receive my referral reward in my bank account?</span>
                    <img src="{% static 'front-end/referAndEarnRealezi/assets/arrow.png' %}" alt="" class="arrow">
                </div>
                <div class="accordion-content">
                    <p>Yes, you will receive your referral reward directly in your bank account.</p>
                </div>
            </div>

            <div class="accordion-item">
                <div class="accordion-header" onclick="toggleAccordion(this)">
                    <span>Is there a limit to how many people I can refer to?</span>
                    <img src="{% static 'front-end/referAndEarnRealezi/assets/arrow.png' %}" alt="" class="arrow">
                </div>
                <div class="accordion-content">
                    <p>No, there is no limit to the number of people you can refer.</p>
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-header" onclick="toggleAccordion(this)">
                    <span>How do I track my referrals and rewards?</span>
                    <img src="{% static 'front-end/referAndEarnRealezi/assets/arrow.png' %}" alt="" class="arrow">
                </div>
                <div class="accordion-content">
                    <p>You can track all your referrals and rewards by visiting your profile via Login / Dashboard /
                        Refer & Earn Tab.</p>
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-header" onclick="toggleAccordion(this)">
                    <span>What details do I need to provide for my referral or to give a referral?</span>
                    <img src="{% static 'front-end/referAndEarnRealezi/assets/arrow.png' %}" alt="" class="arrow">
                </div>
                <div class="accordion-content">
                    <p>You need to provide the name, contact number, and specific requirements of the person you are
                        referring.</p>
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-header" onclick="toggleAccordion(this)">
                    <span>Buyers, sellers or renters, can I refer to all of them?</span>
                    <img src="{% static 'front-end/referAndEarnRealezi/assets/arrow.png' %}" alt="" class="arrow">
                </div>
                <div class="accordion-content">
                    <p>The referral program is only for buyers, not for sellers or renters.
                    </p>
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-header" onclick="toggleAccordion(this)">
                    <span>What are the possible reasons I may not receive a reward?</span>
                    <img src="{% static 'front-end/referAndEarnRealezi/assets/arrow.png' %}" alt="" class="arrow">
                </div>
                <div class="accordion-content">
                    <p>You may not receive a reward if the customer is already a Realezi client, if the deal isn’t
                        finalized successfully, if the deal doesn’t close within three months, or due to any
                        vendor-related issues beyond Realezi's control.</p>
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-header" onclick="toggleAccordion(this)">
                    <span>When will I receive my reward?</span>
                    <img src="{% static 'front-end/referAndEarnRealezi/assets/arrow.png' %}" alt="" class="arrow">
                </div>
                <div class="accordion-content">
                    <p>You will receive your reward 90 days after the deal is successfully completed.</p>
                </div>
            </div>
        </div>

    </section>
    
    {% include 'Frontend/footer-page-new.html' %}


    <script defer src="{% static 'front-end/referAndEarnRealezi/navbar.js' %}"></script>
    <script defer src="{% static 'front-end/referAndEarnRealezi/footer.js' %}"></script>
    <script defer src="{% static 'front-end/referAndEarnRealezi/rive-animations.js' %}"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/lenis@1.1.13/dist/lenis.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
    <script src="https://unpkg.com/@rive-app/canvas@2.9.1"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        const lenis = new Lenis()

        function raf(time) {
            lenis.raf(time)
            requestAnimationFrame(raf)
        }

        requestAnimationFrame(raf)

        // Check if the page has already reloaded from localStorage
        let hasReloaded = localStorage.getItem('hasReloaded') || '0'; // Default is '0' (string type)

        // Function to check screen width and reload if necessary
        function checkScreenWidth() {
            // Check if the width is below 600px
            if (window.innerWidth < 600) {
                if (hasReloaded === '0') { // Reload only if hasReloaded is '0'
                    localStorage.setItem('hasReloaded', '1'); // Set the flag to '1' in localStorage to prevent further reloads
                    location.reload(); // Reload the page
                }
            } else if (window.innerWidth >= 600) {
                if (hasReloaded === '1') { // Reload only if hasReloaded is '1'
                    localStorage.setItem('hasReloaded', '0'); // Resetting to '0'
                    location.reload(); // Reload the page
                }
            }
        }

        // Add event listener to the window to detect resizing
        window.addEventListener('resize', checkScreenWidth);

        // Initial check when the page loads
        checkScreenWidth();



        function toggleAccordion(element) {
            const item = element.parentElement;
            const allItems = document.querySelectorAll('.accordion-item');

            // Close all other accordion items
            allItems.forEach(i => {
                if (i !== item) {
                    i.classList.remove('active');
                }
            });

            // Toggle the current accordion item
            item.classList.toggle('active');
        }

        const menuItems = document.querySelectorAll('.nav_menu_items');
        const navBackground = document.querySelector('.nav_background');

        menuItems.forEach((item, index) => {
            item.addEventListener('click', () => {

                event.preventDefault();
                menuItems.forEach(i => i.classList.remove('active'));
                item.classList.add('active');
                const itemPosition = item.getBoundingClientRect();
                const containerPosition = item.parentElement.getBoundingClientRect();

                const leftOffset = itemPosition.left - containerPosition.left;
                const itemWidth = itemPosition.width;

                navBackground.style.left = `${leftOffset}px`;
                navBackground.style.width = `${itemWidth}px`;
            });
        });


        gsap.registerPlugin(ScrollTrigger);

        const mobileSection = document.getElementById('mobile-section');
        const images = [
            document.getElementById('mobile-img-1'),
            document.getElementById('mobile-img-2'),
            document.getElementById('mobile-img-3')
        ];
        const descriptions = [
            document.getElementById('mobile-desc-1'),
            document.getElementById('mobile-desc-2'),
            document.getElementById('mobile-desc-3')
        ];

        const dots = document.querySelectorAll('.swipper_pagination_dots'); // Get all dot elements

        let currentIndex = 0;



        function updateContent() {

            images.forEach((img, index) => {
                if (index === 0) {
                    gsap.to(img, { opacity: 1, duration: 0.3 });
                } else {
                    gsap.to(img, { opacity: index === currentIndex ? 1 : 0, duration: 0.3 });
                }
            });

            descriptions.forEach((desc, index) => {
                const isActive = index === currentIndex;
                gsap.to(desc, {
                    opacity: isActive ? 1 : 0,
                    y: isActive ? 0 : 30,
                    duration: 0.3
                });

            });
        }

        function getEndValue() {
            if (window.innerWidth <= 600) {
                return mobileSection.offsetHeight * 1;
            } else {
                return mobileSection.offsetHeight * 2.5;
            }
        }

        if (window.innerWidth > 600) {
            ScrollTrigger.create({
                trigger: mobileSection,
                start: 'top top',
                end: () => `+=${getEndValue()}`,
                pin: true,
                scrub: 3,
                onUpdate: self => {
                    const progress = self.progress.toFixed(2);
                    const newIndex = Math.min(Math.floor(progress * images.length), images.length - 1);

                    if (newIndex !== currentIndex) {
                        currentIndex = newIndex;
                        updateContent();
                    }
                },
            });
        }

        function updateContentOnlcick(direction = null, dotIndex = null) {
            if (direction === 'next') {
                currentIndex = (currentIndex + 1) % images.length; // Move to the next image, loop back if at the end
            } else if (direction === 'prev') {
                currentIndex = (currentIndex - 1 + images.length) % images.length; // Move to the previous image, loop back if at the start
            } else if (dotIndex !== null) {
                currentIndex = dotIndex; // If clicking on a pagination dot, set the currentIndex to the clicked dot's index
            }


            images.forEach((img, index) => {
                gsap.to(img, { opacity: index === currentIndex ? 1 : 0, duration: 0.3 });
            });

            descriptions.forEach((desc, index) => {
                const isActive = index === currentIndex;
                gsap.to(desc, {
                    opacity: isActive ? 1 : 0,
                    y: isActive ? 0 : 30,
                    duration: 0.3
                });
            });
            updatePagination()
        }
        function updatePagination() {
            dots.forEach((dot, index) => {
                if (index === currentIndex) {
                    dot.classList.add('active'); // Add active class to current index dot
                    dot.style.backgroundColor = '#111f3c'; // Change active dot color to blue
                } else {
                    dot.classList.remove('active'); // Remove active class from other dots
                    dot.style.backgroundColor = '#d3d3d3'; // Change inactive dot color to light gray
                }
            });
        }



        function openFacebook() {
            window.open('https://www.facebook.com/profile.php?id=100095528529674&mibextid=ZbWKwL', '_blank');
        }

        function openInsta() {
            window.open('https://instagram.com/realezi_?utm_source=qr&igshid=ZDc4ODBmNjlmNQ%3D%3D', '_blank');
        }


    </script>
</body>

</html>