<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SolarPage</title>
    <!-- Bootstrap CSS from jsDelivr -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- external css link -->
    <link rel="stylesheet" href="{% static 'front-end/solarPage/index.css' %}">
    <script src="https://unpkg.com/@rive-app/canvas@latest"></script>
    <style>
        .navbar a {
            text-decoration: none !important;
            color: white;
        }
    </style>
</head>

<body>

    <header>
        <div class="d-none d-md-none d-lg-block">
            <div class="container d-lg-block d-none mt-3">
                <div class="voltage-button">
                    <button class="py-2 px-4">
                        <a href="https://www.realezi.com" class="d-inline-block">
                            <img src="{% static 'front-end/solarPage/assets/logo.png' %}" alt="logo" height="25" class="d-block">
                        </a></button>
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 234.6 61.3"
                        preserveAspectRatio="none" xml:space="preserve">
                        <filter id="glow">
                            <feGaussianBlur class="blur" result="coloredBlur" stdDeviation="2"></feGaussianBlur>
                            <feTurbulence type="fractalNoise" baseFrequency="0.075" numOctaves="0.3"
                                result="turbulence"></feTurbulence>
                            <feDisplacementMap in="SourceGraphic" in2="turbulence" scale="30" xChannelSelector="R"
                                yChannelSelector="G" result="displace"></feDisplacementMap>
                            <feMerge>
                                <feMergeNode in="coloredBlur"></feMergeNode>
                                <feMergeNode in="coloredBlur"></feMergeNode>
                                <feMergeNode in="coloredBlur"></feMergeNode>
                                <feMergeNode in="displace"></feMergeNode>
                                <feMergeNode in="SourceGraphic"></feMergeNode>
                            </feMerge>
                        </filter>
                        <path class="voltage line-1"
                            d="m216.3 51.2c-3.7 0-3.7-1.1-7.3-1.1-3.7 0-3.7 6.8-7.3 6.8-3.7 0-3.7-4.6-7.3-4.6-3.7 0-3.7 3.6-7.3 3.6-3.7 0-3.7-0.9-7.3-0.9-3.7 0-3.7-2.7-7.3-2.7-3.7 0-3.7 7.8-7.3 7.8-3.7 0-3.7-4.9-7.3-4.9-3.7 0-3.7-7.8-7.3-7.8-3.7 0-3.7-1.1-7.3-1.1-3.7 0-3.7 3.1-7.3 3.1-3.7 0-3.7 10.9-7.3 10.9-3.7 0-3.7-12.5-7.3-12.5-3.7 0-3.7 4.6-7.3 4.6-3.7 0-3.7 4.5-7.3 4.5-3.7 0-3.7 3.6-7.3 3.6-3.7 0-3.7-10-7.3-10-3.7 0-3.7-0.4-7.3-0.4-3.7 0-3.7 2.3-7.3 2.3-3.7 0-3.7 7.1-7.3 7.1-3.7 0-3.7-11.2-7.3-11.2-3.7 0-3.7 3.5-7.3 3.5-3.7 0-3.7 3.6-7.3 3.6-3.7 0-3.7-2.9-7.3-2.9-3.7 0-3.7 8.4-7.3 8.4-3.7 0-3.7-14.6-7.3-14.6-3.7 0-3.7 5.8-7.3 5.8-2.2 0-3.8-0.4-5.5-1.5-1.8-1.1-1.8-2.9-2.9-4.8-1-1.8 1.9-2.7 1.9-4.8 0-3.4-2.1-3.4-2.1-6.8s-9.9-3.4-9.9-6.8 8-3.4 8-6.8c0-2.2 2.1-2.4 3.1-4.2 1.1-1.8 0.2-3.9 2-5 1.8-1 3.1-7.9 5.3-7.9 3.7 0 3.7 0.9 7.3 0.9 3.7 0 3.7 6.7 7.3 6.7 3.7 0 3.7-1.8 7.3-1.8 3.7 0 3.7-0.6 7.3-0.6 3.7 0 3.7-7.8 7.3-7.8h7.3c3.7 0 3.7 4.7 7.3 4.7 3.7 0 3.7-1.1 7.3-1.1 3.7 0 3.7 11.6 7.3 11.6 3.7 0 3.7-2.6 7.3-2.6 3.7 0 3.7-12.9 7.3-12.9 3.7 0 3.7 10.9 7.3 10.9 3.7 0 3.7 1.3 7.3 1.3 3.7 0 3.7-8.7 7.3-8.7 3.7 0 3.7 11.5 7.3 11.5 3.7 0 3.7-1.4 7.3-1.4 3.7 0 3.7-2.6 7.3-2.6 3.7 0 3.7-5.8 7.3-5.8 3.7 0 3.7-1.3 7.3-1.3 3.7 0 3.7 6.6 7.3 6.6s3.7-9.3 7.3-9.3c3.7 0 3.7 0.2 7.3 0.2 3.7 0 3.7 8.5 7.3 8.5 3.7 0 3.7 0.2 7.3 0.2 3.7 0 3.7-1.5 7.3-1.5 3.7 0 3.7 1.6 7.3 1.6s3.7-5.1 7.3-5.1c2.2 0 0.6 9.6 2.4 10.7s4.1-2 5.1-0.1c1 1.8 10.3 2.2 10.3 4.3 0 3.4-10.7 3.4-10.7 6.8s1.2 3.4 1.2 6.8 1.9 3.4 1.9 6.8c0 2.2 7.2 7.7 6.2 9.5-1.1 1.8-12.3-6.5-14.1-5.5-1.7 0.9-0.1 6.2-2.2 6.2z"
                            fill="transparent" stroke="#fff"></path>
                        <path class="voltage line-2"
                            d="m216.3 52.1c-3 0-3-0.5-6-0.5s-3 3-6 3-3-2-6-2-3 1.6-6 1.6-3-0.4-6-0.4-3-1.2-6-1.2-3 3.4-6 3.4-3-2.2-6-2.2-3-3.4-6-3.4-3-0.5-6-0.5-3 1.4-6 1.4-3 4.8-6 4.8-3-5.5-6-5.5-3 2-6 2-3 2-6 2-3 1.6-6 1.6-3-4.4-6-4.4-3-0.2-6-0.2-3 1-6 1-3 3.1-6 3.1-3-4.9-6-4.9-3 1.5-6 1.5-3 1.6-6 1.6-3-1.3-6-1.3-3 3.7-6 3.7-3-6.4-6-6.4-3 2.5-6 2.5h-6c-3 0-3-0.6-6-0.6s-3-1.4-6-1.4-3 0.9-6 0.9-3 4.3-6 4.3-3-3.5-6-3.5c-2.2 0-3.4-1.3-5.2-2.3-1.8-1.1-3.6-1.5-4.6-3.3s-4.4-3.5-4.4-5.7c0-3.4 0.4-3.4 0.4-6.8s2.9-3.4 2.9-6.8-0.8-3.4-0.8-6.8c0-2.2 0.3-4.2 1.3-5.9 1.1-1.8 0.8-6.2 2.6-7.3 1.8-1 5.5-2 7.7-2 3 0 3 2 6 2s3-0.5 6-0.5 3 5.1 6 5.1 3-1.1 6-1.1 3-5.6 6-5.6 3 4.8 6 4.8 3 0.6 6 0.6 3-3.8 6-3.8 3 5.1 6 5.1 3-0.6 6-0.6 3-1.2 6-1.2 3-2.6 6-2.6 3-0.6 6-0.6 3 2.9 6 2.9 3-4.1 6-4.1 3 0.1 6 0.1 3 3.7 6 3.7 3 0.1 6 0.1 3-0.6 6-0.6 3 0.7 6 0.7 3-2.2 6-2.2 3 4.4 6 4.4 3-1.7 6-1.7 3-4 6-4 3 4.7 6 4.7 3-0.5 6-0.5 3-0.8 6-0.8 3-3.8 6-3.8 3 6.3 6 6.3 3-4.8 6-4.8 3 1.9 6 1.9 3-1.9 6-1.9 3 1.3 6 1.3c2.2 0 5-0.5 6.7 0.5 1.8 1.1 2.4 4 3.5 5.8 1 1.8 0.3 3.7 0.3 5.9 0 3.4 3.4 3.4 3.4 6.8s-3.3 3.4-3.3 6.8 4 3.4 4 6.8c0 2.2-6 2.7-7 4.4-1.1 1.8 1.1 6.7-0.7 7.7-1.6 0.8-4.7-1.1-6.8-1.1z"
                            fill="transparent" stroke="#fff"></path>
                    </svg>
                    <div class="dots">
                        <div class="dot dot-1"></div>
                        <div class="dot dot-2"></div>
                        <div class="dot dot-3"></div>
                        <div class="dot dot-4"></div>
                        <div class="dot dot-5"></div>
                    </div>
                </div>
            </div>
            <!-- Centered navigation -->
            <nav class="navbar fixed-top rounded-pill">
                <ul>
                    <li class="active">Solar Panel</li>
                    <a href="https://www.realezi.com"><li>Home</li></a>
                    <a href="{% url 'blog_rent_buy' %}"><li>Buy or Rent</li></a>
                    <a href=""><li>About</li></a>
                    <a href="{% url 'contact_us' %}"><li>Contact</li></a>
                </ul>
            </nav>
        </div>

        <nav class="mobile-navbar fixed-top d-lg-none py-3 px-md-5">
            <div class="container-fluid gap-md-5">
                <a class="navbar-brand" href="#">
                    <img src="{% static 'front-end/solarPage/assets/logo.png' %}" alt="nav-logo" style="height: 37px;">
                </a>

                <span class="navbar-toggler border-0 bg-transparent" data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <input id="checkbox" type="checkbox" />
                    <label class="toggle" for="checkbox">
                        <div id="bar1" class="bars"></div>
                        <div id="bar2" class="bars"></div>
                        <div id="bar3" class="bars"></div>
                        <div id="bar4" class="bars"></div>
                        <div id="bar5" class="bars"></div>
                    </label>
                </span>

                <div class="collapse navbar-collapse text-center" id="navbarTogglerDemo02">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-md-5">
                        <li class="nav-item mt-5">
                            <a class="header-link text-decoration-none" aria-current="page" href="#">Solar Panel</a>
                        </li>
                        <li class="nav-item mt-3 mt-lg-0 mt-md-0">
                            <a class="header-link text-decoration-none" href="#">Home</a>
                        </li>
                        <li class="nav-item mt-3 mt-lg-0 mt-md-0">
                            <a class="header-link text-decoration-none" href="#">Buy or Rent</a>
                        </li>
                        <li class="nav-item mt-3 mt-lg-0 mt-md-0">
                            <a class="header-link text-decoration-none" href="#">About</a>
                        </li>
                        <li class="nav-item mt-3 mt-lg-0 mt-md-0">
                            <a class="header-link text-decoration-none" href="#">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- tablet view and mobile view content -->
    <section class="hero-section d-lg-none">
        <div class="top-herosection mt-5">
            <div class="w-full">
                <div class="px-3">
                    <div style="font-size: 26px;">Power Your
                        <span class="fw-bolder green-color-text">Future</span> with <span class="fw-bold">Solar
                            Solutions</span>
                    </div>
                    <p class="lead sub-text mt-4 secondary-text-color">Switch to sustainable energy with our top-rated
                        solar panel services.
                        Save on
                        electricity bills and reduce your carbon footprint today</p>
                    <div class="text-center mt-5 d-flex align-items-center gap-2">
                        <div class="voltage-button">
                            <button class="py-3 text-nowrap w-100">
                                <span class="px-4 fs-6">Start Saving</span>
                            </button>
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                                viewBox="0 0 234.6 61.3" preserveAspectRatio="none" xml:space="preserve">

                                <filter id="glow">
                                    <feGaussianBlur class="blur" result="coloredBlur" stdDeviation="2">
                                    </feGaussianBlur>
                                    <feTurbulence type="fractalNoise" baseFrequency="0.075" numOctaves="0.3"
                                        result="turbulence">
                                    </feTurbulence>
                                    <feDisplacementMap in="SourceGraphic" in2="turbulence" scale="30"
                                        xChannelSelector="R" yChannelSelector="G" result="displace">
                                    </feDisplacementMap>
                                    <feMerge>
                                        <feMergeNode in="coloredBlur"></feMergeNode>
                                        <feMergeNode in="coloredBlur"></feMergeNode>
                                        <feMergeNode in="coloredBlur"></feMergeNode>
                                        <feMergeNode in="displace"></feMergeNode>
                                        <feMergeNode in="SourceGraphic"></feMergeNode>
                                    </feMerge>
                                </filter>
                                <path class="voltage line-1"
                                    d="m216.3 51.2c-3.7 0-3.7-1.1-7.3-1.1-3.7 0-3.7 6.8-7.3 6.8-3.7 0-3.7-4.6-7.3-4.6-3.7 0-3.7 3.6-7.3 3.6-3.7 0-3.7-0.9-7.3-0.9-3.7 0-3.7-2.7-7.3-2.7-3.7 0-3.7 7.8-7.3 7.8-3.7 0-3.7-4.9-7.3-4.9-3.7 0-3.7-7.8-7.3-7.8-3.7 0-3.7-1.1-7.3-1.1-3.7 0-3.7 3.1-7.3 3.1-3.7 0-3.7 10.9-7.3 10.9-3.7 0-3.7-12.5-7.3-12.5-3.7 0-3.7 4.6-7.3 4.6-3.7 0-3.7 4.5-7.3 4.5-3.7 0-3.7 3.6-7.3 3.6-3.7 0-3.7-10-7.3-10-3.7 0-3.7-0.4-7.3-0.4-3.7 0-3.7 2.3-7.3 2.3-3.7 0-3.7 7.1-7.3 7.1-3.7 0-3.7-11.2-7.3-11.2-3.7 0-3.7 3.5-7.3 3.5-3.7 0-3.7 3.6-7.3 3.6-3.7 0-3.7-2.9-7.3-2.9-3.7 0-3.7 8.4-7.3 8.4-3.7 0-3.7-14.6-7.3-14.6-3.7 0-3.7 5.8-7.3 5.8-2.2 0-3.8-0.4-5.5-1.5-1.8-1.1-1.8-2.9-2.9-4.8-1-1.8 1.9-2.7 1.9-4.8 0-3.4-2.1-3.4-2.1-6.8s-9.9-3.4-9.9-6.8 8-3.4 8-6.8c0-2.2 2.1-2.4 3.1-4.2 1.1-1.8 0.2-3.9 2-5 1.8-1 3.1-7.9 5.3-7.9 3.7 0 3.7 0.9 7.3 0.9 3.7 0 3.7 6.7 7.3 6.7 3.7 0 3.7-1.8 7.3-1.8 3.7 0 3.7-0.6 7.3-0.6 3.7 0 3.7-7.8 7.3-7.8h7.3c3.7 0 3.7 4.7 7.3 4.7 3.7 0 3.7-1.1 7.3-1.1 3.7 0 3.7 11.6 7.3 11.6 3.7 0 3.7-2.6 7.3-2.6 3.7 0 3.7-12.9 7.3-12.9 3.7 0 3.7 10.9 7.3 10.9 3.7 0 3.7 1.3 7.3 1.3 3.7 0 3.7-8.7 7.3-8.7 3.7 0 3.7 11.5 7.3 11.5 3.7 0 3.7-1.4 7.3-1.4 3.7 0 3.7-2.6 7.3-2.6 3.7 0 3.7-5.8 7.3-5.8 3.7 0 3.7-1.3 7.3-1.3 3.7 0 3.7 6.6 7.3 6.6s3.7-9.3 7.3-9.3c3.7 0 3.7 0.2 7.3 0.2 3.7 0 3.7 8.5 7.3 8.5 3.7 0 3.7 0.2 7.3 0.2 3.7 0 3.7-1.5 7.3-1.5 3.7 0 3.7 1.6 7.3 1.6s3.7-5.1 7.3-5.1c2.2 0 0.6 9.6 2.4 10.7s4.1-2 5.1-0.1c1 1.8 10.3 2.2 10.3 4.3 0 3.4-10.7 3.4-10.7 6.8s1.2 3.4 1.2 6.8 1.9 3.4 1.9 6.8c0 2.2 7.2 7.7 6.2 9.5-1.1 1.8-12.3-6.5-14.1-5.5-1.7 0.9-0.1 6.2-2.2 6.2z"
                                    fill="transparent" stroke="#fff"></path>
                                <path class="voltage line-2"
                                    d="m216.3 52.1c-3 0-3-0.5-6-0.5s-3 3-6 3-3-2-6-2-3 1.6-6 1.6-3-0.4-6-0.4-3-1.2-6-1.2-3 3.4-6 3.4-3-2.2-6-2.2-3-3.4-6-3.4-3-0.5-6-0.5-3 1.4-6 1.4-3 4.8-6 4.8-3-5.5-6-5.5-3 2-6 2-3 2-6 2-3 1.6-6 1.6-3-4.4-6-4.4-3-0.2-6-0.2-3 1-6 1-3 3.1-6 3.1-3-4.9-6-4.9-3 1.5-6 1.5-3 1.6-6 1.6-3-1.3-6-1.3-3 3.7-6 3.7-3-6.4-6-6.4-3 2.5-6 2.5h-6c-3 0-3-0.6-6-0.6s-3-1.4-6-1.4-3 0.9-6 0.9-3 4.3-6 4.3-3-3.5-6-3.5c-2.2 0-3.4-1.3-5.2-2.3-1.8-1.1-3.6-1.5-4.6-3.3s-4.4-3.5-4.4-5.7c0-3.4 0.4-3.4 0.4-6.8s2.9-3.4 2.9-6.8-0.8-3.4-0.8-6.8c0-2.2 0.3-4.2 1.3-5.9 1.1-1.8 0.8-6.2 2.6-7.3 1.8-1 5.5-2 7.7-2 3 0 3 2 6 2s3-0.5 6-0.5 3 5.1 6 5.1 3-1.1 6-1.1 3-5.6 6-5.6 3 4.8 6 4.8 3 0.6 6 0.6 3-3.8 6-3.8 3 5.1 6 5.1 3-0.6 6-0.6 3-1.2 6-1.2 3-2.6 6-2.6 3-0.6 6-0.6 3 2.9 6 2.9 3-4.1 6-4.1 3 0.1 6 0.1 3 3.7 6 3.7 3 0.1 6 0.1 3-0.6 6-0.6 3 0.7 6 0.7 3-2.2 6-2.2 3 4.4 6 4.4 3-1.7 6-1.7 3-4 6-4 3 4.7 6 4.7 3-0.5 6-0.5 3-0.8 6-0.8 3-3.8 6-3.8 3 6.3 6 6.3 3-4.8 6-4.8 3 1.9 6 1.9 3-1.9 6-1.9 3 1.3 6 1.3c2.2 0 5-0.5 6.7 0.5 1.8 1.1 2.4 4 3.5 5.8 1 1.8 0.3 3.7 0.3 5.9 0 3.4 3.4 3.4 3.4 6.8s-3.3 3.4-3.3 6.8 4 3.4 4 6.8c0 2.2-6 2.7-7 4.4-1.1 1.8 1.1 6.7-0.7 7.7-1.6 0.8-4.7-1.1-6.8-1.1z"
                                    fill="transparent" stroke="#fff"></path>
                            </svg>
                            <div class="dots">
                                <div class="dot dot-1"></div>
                                <div class="dot dot-2"></div>
                                <div class="dot dot-3"></div>
                                <div class="dot dot-4"></div>
                                <div class="dot dot-5"></div>
                            </div>
                        </div>
                        <button class="start-btn py-3 text-nowrap" data-bs-toggle="modal"
                            data-bs-target="#freeConsultation">
                            <span class="px-3 fs-6 open-brochure-modal-container">Free Consultation</span>
                            <div class="star-1">
                                <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53"
                                    style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                    version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                                    <defs></defs>
                                    <g id="Layer_x0020_1">
                                        <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                                        <path
                                            d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                                            class="fil0"></path>
                                    </g>
                                </svg>
                            </div>
                            <div class="star-2">
                                <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53"
                                    style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                    version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                                    <defs></defs>
                                    <g id="Layer_x0020_1">
                                        <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                                        <path
                                            d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                                            class="fil0"></path>
                                    </g>
                                </svg>
                            </div>
                            <div class="star-3">
                                <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53"
                                    style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                    version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                                    <defs></defs>
                                    <g id="Layer_x0020_1">
                                        <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                                        <path
                                            d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                                            class="fil0"></path>
                                    </g>
                                </svg>
                            </div>
                            <div class="star-4">
                                <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53"
                                    style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                    version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                                    <defs></defs>
                                    <g id="Layer_x0020_1">
                                        <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                                        <path
                                            d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                                            class="fil0"></path>
                                    </g>
                                </svg>
                            </div>
                            <div class="star-5">
                                <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53"
                                    style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                    version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                                    <defs></defs>
                                    <g id="Layer_x0020_1">
                                        <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                                        <path
                                            d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                                            class="fil0"></path>
                                    </g>
                                </svg>
                            </div>
                            <div class="star-6">
                                <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53"
                                    style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                    version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                                    <defs></defs>
                                    <g id="Layer_x0020_1">
                                        <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                                        <path
                                            d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                                            class="fil0"></path>
                                    </g>
                                </svg>
                            </div>
                        </button>
                    </div>
                </div>
                <div class="pt-5">
                    <img src="{% static 'front-end/solarPage/assets/hero-image.png' %}" class="mb-0 w-100 hero-image" alt="">
                </div>
            </div>
        </div>

        <section class="position-relative mt-5 py-5">
            <div class="row w-100 mx-auto justify-content-center">
                <div class="col-12">
                    <div class="fs-3 mb-3 text-center fw-bolder">Solar Calculator</div>
                    <hr class="tex-center mx-auto w-75 mb-5 horizontal-line">
                    <div class="px-lg-5 px-md-5">
                        <div class="card mb-3 border-0 mx-auto text-center green-color-background">
                            <div class="card-body border-0 bg-white p-5" style="border-bottom-left-radius: 140px;">
                                <div class="dropdown mb-4 px-lg-5 px-md-5">
                                    <button class="select-btn py-2 dropdown-toggle px-5 rounded-pill fs-6 w-100"
                                        type="button" id="stateDropdown" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        <span id="selectedState">Select State</span>
                                    </button>
                                    <ul class="dropdown-menu w-100" aria-labelledby="stateDropdown">
                                        <li><a class="dropdown-item" onclick="mobileselectState('Gujarat')">Gujarat</a>
                                        </li>
                                        <li><a class="dropdown-item"
                                                onclick="mobileselectState('Rajasthan')">Rajasthan</a>
                                        </li>
                                        <li><a class="dropdown-item" onclick="mobileselectState('Uttar Pradesh')">Uttar
                                                Pradesh</a>
                                        </li>
                                        <li><a class="dropdown-item"
                                                onclick="mobileselectState('Uttarakhand')">Uttarakhand</a>
                                        </li>
                                        <li><a class="dropdown-item" onclick="mobileselectState('Haryana')">Haryana</a>
                                        </li>
                                        <li><a class="dropdown-item"
                                                onclick="mobileselectState('Madhya Pradesh')">Madhya
                                                Pradesh</a>
                                        </li>
                                        <li><a class="dropdown-item"
                                                onclick="mobileselectState('Chhattisgarh')">Chhattisgarh</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="dropdown mb-4 px-lg-5 px-md-5">
                                    <button class="select-btn py-2 dropdown-toggle px-5 rounded-pill fs-6 w-100"
                                        type="button" id="categoryDropdown" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        <span id="selectedCategory">Select Category</span>
                                    </button>
                                    <ul class="dropdown-menu w-100" aria-labelledby="categoryDropdown">
                                        <li><a class="dropdown-item"
                                                onclick="mobileselectCategory('Residential')">Residential</a>
                                        </li>
                                        <li><a class="dropdown-item"
                                                onclick="mobileselectCategory('Commercial')">Commercial</a>
                                        </li>
                                        <li><a class="dropdown-item"
                                                onclick="mobileselectCategory('Industrial')">Industrial</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="mt-5 text-center" style="margin-bottom: 15%;">
                                    <div class="form-floating w-100 mx-auto">
                                        <input type="number" id="mobileElectricityBillInput"
                                            placeholder="Monthly Electricity Bill"
                                            class="form-control border-top-0 hide-spinner">
                                        <label for="mobileElectricityBillInput">Monthly Electricity Bill</label>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center py-1">
                                <button class="btn w-100 py-3 text-white fs-3"
                                    onclick="mobileCalculate()">Calculate</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="row">
                        <div class="col-6 mb-4">
                            <div class="card border-0">
                                <div class="card-body">
                                    <div class="card-title primary-text-color solar-card-title">SUGGESTED CAPACITY (kW)
                                    </div>
                                    <div class="mt-5 fs-5 fw-bolder">
                                        <span id="mobileSuggestedCapacity"
                                            class="text-underline primary-text-color">0</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 mb-4">
                            <div class="card border-0">
                                <div class="card-body">
                                    <div class="card-title primary-text-color solar-card-title">MONTHLY SAVING (kWh)
                                    </div>
                                    <div class="mt-5 fs-5 fw-bolder">
                                        <span id="mobileMonthlySavingKWh"
                                            class="text-underline primary-text-color">0</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 mb-4">
                            <div class="card border-0">
                                <div class="card-body">
                                    <div class="card-title primary-text-color solar-card-title">MONTHLY SAVING (INR)
                                    </div>
                                    <div class="mt-5 fs-5 fw-bolder green-color-text">
                                        <span id="mobileMonthlySavingINR" class="text-underline primary-text-color">0
                                            ₹</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 mb-4">
                            <div class="card border-0">
                                <div class="card-body">
                                    <div class="card-title primary-text-color solar-card-title">REQUIRED SPACE (SQFT)
                                    </div>
                                    <div class="mt-5 fs-5 fw-bolder">
                                        <span id="mobileRequiredSpace"
                                            class="text-underline primary-text-color">0</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 mb-4">
                            <div class="card border-0">
                                <div class="card-body">
                                    <h5 class="card-title primary-text-color solar-card-title">CO2 EMISSION REDUCTION
                                        PER YEAR</h5>
                                    <div class="mt-5 fs-5 fw-bolder">
                                        <span id="mobileCo2Reduction" class="text-underline primary-text-color">0
                                            ton</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <img src="{% static 'front-end/solarPage/assets/calculator-image.png' %}" alt="" class="position-absolute end-0 calculator-image">
            </div>
        </section>
    </section>

    <!-- normal view top section content -->
    <section class="hero-section d-none d-lg-block">

        <div class="top-herosection">
            <div class="row w-100">
                <div class="col-lg-7 p-0 overflow-hidden">
                    <img src="{% static 'front-end/solarPage/assets/hero-image.png' %}" class="mb-0 w-100 hero-image" alt="">
                </div>
                <div class="col-lg-5 hero-rightside">
                    <div style="font-size: 35px;">
                        <span class="primary-text-color">Power Your</span>
                        <span class="fw-bolder green-color-text">Future</span>
                        <span class="primary-text-color">with</span>
                        <span class="fw-bold primary-text-color">Solar <div>Solutions</div></span>
                    </div>
                    <p class="mt-4 secondary-text-color w-75" style="font-size: 17px;">Switch to sustainable energy with
                        our
                        top-rated solar
                        panel services. Save on
                        electricity bills and reduce your carbon footprint today</p>
                    <div class="row align-items-center mt-5 text-center text-lg-start">
                        <div class="col-lg-5 col-12">
                            <div class="voltage-button" style="width: 80%;">
                                <button class="py-3 text-nowrap w-100">
                                    <span class="px-lg-4 px-5">Start Saving</span>
                                </button>
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                                    viewBox="0 0 234.6 61.3" preserveAspectRatio="none" xml:space="preserve">

                                    <filter id="glow">
                                        <feGaussianBlur class="blur" result="coloredBlur" stdDeviation="2">
                                        </feGaussianBlur>
                                        <feTurbulence type="fractalNoise" baseFrequency="0.075" numOctaves="0.3"
                                            result="turbulence">
                                        </feTurbulence>
                                        <feDisplacementMap in="SourceGraphic" in2="turbulence" scale="30"
                                            xChannelSelector="R" yChannelSelector="G" result="displace">
                                        </feDisplacementMap>
                                        <feMerge>
                                            <feMergeNode in="coloredBlur"></feMergeNode>
                                            <feMergeNode in="coloredBlur"></feMergeNode>
                                            <feMergeNode in="coloredBlur"></feMergeNode>
                                            <feMergeNode in="displace"></feMergeNode>
                                            <feMergeNode in="SourceGraphic"></feMergeNode>
                                        </feMerge>
                                    </filter>
                                    <path class="voltage line-1"
                                        d="m216.3 51.2c-3.7 0-3.7-1.1-7.3-1.1-3.7 0-3.7 6.8-7.3 6.8-3.7 0-3.7-4.6-7.3-4.6-3.7 0-3.7 3.6-7.3 3.6-3.7 0-3.7-0.9-7.3-0.9-3.7 0-3.7-2.7-7.3-2.7-3.7 0-3.7 7.8-7.3 7.8-3.7 0-3.7-4.9-7.3-4.9-3.7 0-3.7-7.8-7.3-7.8-3.7 0-3.7-1.1-7.3-1.1-3.7 0-3.7 3.1-7.3 3.1-3.7 0-3.7 10.9-7.3 10.9-3.7 0-3.7-12.5-7.3-12.5-3.7 0-3.7 4.6-7.3 4.6-3.7 0-3.7 4.5-7.3 4.5-3.7 0-3.7 3.6-7.3 3.6-3.7 0-3.7-10-7.3-10-3.7 0-3.7-0.4-7.3-0.4-3.7 0-3.7 2.3-7.3 2.3-3.7 0-3.7 7.1-7.3 7.1-3.7 0-3.7-11.2-7.3-11.2-3.7 0-3.7 3.5-7.3 3.5-3.7 0-3.7 3.6-7.3 3.6-3.7 0-3.7-2.9-7.3-2.9-3.7 0-3.7 8.4-7.3 8.4-3.7 0-3.7-14.6-7.3-14.6-3.7 0-3.7 5.8-7.3 5.8-2.2 0-3.8-0.4-5.5-1.5-1.8-1.1-1.8-2.9-2.9-4.8-1-1.8 1.9-2.7 1.9-4.8 0-3.4-2.1-3.4-2.1-6.8s-9.9-3.4-9.9-6.8 8-3.4 8-6.8c0-2.2 2.1-2.4 3.1-4.2 1.1-1.8 0.2-3.9 2-5 1.8-1 3.1-7.9 5.3-7.9 3.7 0 3.7 0.9 7.3 0.9 3.7 0 3.7 6.7 7.3 6.7 3.7 0 3.7-1.8 7.3-1.8 3.7 0 3.7-0.6 7.3-0.6 3.7 0 3.7-7.8 7.3-7.8h7.3c3.7 0 3.7 4.7 7.3 4.7 3.7 0 3.7-1.1 7.3-1.1 3.7 0 3.7 11.6 7.3 11.6 3.7 0 3.7-2.6 7.3-2.6 3.7 0 3.7-12.9 7.3-12.9 3.7 0 3.7 10.9 7.3 10.9 3.7 0 3.7 1.3 7.3 1.3 3.7 0 3.7-8.7 7.3-8.7 3.7 0 3.7 11.5 7.3 11.5 3.7 0 3.7-1.4 7.3-1.4 3.7 0 3.7-2.6 7.3-2.6 3.7 0 3.7-5.8 7.3-5.8 3.7 0 3.7-1.3 7.3-1.3 3.7 0 3.7 6.6 7.3 6.6s3.7-9.3 7.3-9.3c3.7 0 3.7 0.2 7.3 0.2 3.7 0 3.7 8.5 7.3 8.5 3.7 0 3.7 0.2 7.3 0.2 3.7 0 3.7-1.5 7.3-1.5 3.7 0 3.7 1.6 7.3 1.6s3.7-5.1 7.3-5.1c2.2 0 0.6 9.6 2.4 10.7s4.1-2 5.1-0.1c1 1.8 10.3 2.2 10.3 4.3 0 3.4-10.7 3.4-10.7 6.8s1.2 3.4 1.2 6.8 1.9 3.4 1.9 6.8c0 2.2 7.2 7.7 6.2 9.5-1.1 1.8-12.3-6.5-14.1-5.5-1.7 0.9-0.1 6.2-2.2 6.2z"
                                        fill="transparent" stroke="#fff"></path>
                                    <path class="voltage line-2"
                                        d="m216.3 52.1c-3 0-3-0.5-6-0.5s-3 3-6 3-3-2-6-2-3 1.6-6 1.6-3-0.4-6-0.4-3-1.2-6-1.2-3 3.4-6 3.4-3-2.2-6-2.2-3-3.4-6-3.4-3-0.5-6-0.5-3 1.4-6 1.4-3 4.8-6 4.8-3-5.5-6-5.5-3 2-6 2-3 2-6 2-3 1.6-6 1.6-3-4.4-6-4.4-3-0.2-6-0.2-3 1-6 1-3 3.1-6 3.1-3-4.9-6-4.9-3 1.5-6 1.5-3 1.6-6 1.6-3-1.3-6-1.3-3 3.7-6 3.7-3-6.4-6-6.4-3 2.5-6 2.5h-6c-3 0-3-0.6-6-0.6s-3-1.4-6-1.4-3 0.9-6 0.9-3 4.3-6 4.3-3-3.5-6-3.5c-2.2 0-3.4-1.3-5.2-2.3-1.8-1.1-3.6-1.5-4.6-3.3s-4.4-3.5-4.4-5.7c0-3.4 0.4-3.4 0.4-6.8s2.9-3.4 2.9-6.8-0.8-3.4-0.8-6.8c0-2.2 0.3-4.2 1.3-5.9 1.1-1.8 0.8-6.2 2.6-7.3 1.8-1 5.5-2 7.7-2 3 0 3 2 6 2s3-0.5 6-0.5 3 5.1 6 5.1 3-1.1 6-1.1 3-5.6 6-5.6 3 4.8 6 4.8 3 0.6 6 0.6 3-3.8 6-3.8 3 5.1 6 5.1 3-0.6 6-0.6 3-1.2 6-1.2 3-2.6 6-2.6 3-0.6 6-0.6 3 2.9 6 2.9 3-4.1 6-4.1 3 0.1 6 0.1 3 3.7 6 3.7 3 0.1 6 0.1 3-0.6 6-0.6 3 0.7 6 0.7 3-2.2 6-2.2 3 4.4 6 4.4 3-1.7 6-1.7 3-4 6-4 3 4.7 6 4.7 3-0.5 6-0.5 3-0.8 6-0.8 3-3.8 6-3.8 3 6.3 6 6.3 3-4.8 6-4.8 3 1.9 6 1.9 3-1.9 6-1.9 3 1.3 6 1.3c2.2 0 5-0.5 6.7 0.5 1.8 1.1 2.4 4 3.5 5.8 1 1.8 0.3 3.7 0.3 5.9 0 3.4 3.4 3.4 3.4 6.8s-3.3 3.4-3.3 6.8 4 3.4 4 6.8c0 2.2-6 2.7-7 4.4-1.1 1.8 1.1 6.7-0.7 7.7-1.6 0.8-4.7-1.1-6.8-1.1z"
                                        fill="transparent" stroke="#fff"></path>
                                </svg>
                                <div class="dots">
                                    <div class="dot dot-1"></div>
                                    <div class="dot dot-2"></div>
                                    <div class="dot dot-3"></div>
                                    <div class="dot dot-4"></div>
                                    <div class="dot dot-5"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-12 mt-4 mt-md-0 mt-lg-0">
                            <button class="start-btn py-3 text-nowrap" data-bs-toggle="modal"
                                data-bs-target="#freeConsultation" style="width: 80%;">
                                <span class="px-lg-4 px-2 open-brochure-modal-container">Free Consultation</span>
                                <div class="star-1">
                                    <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53"
                                        style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                        version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                                        <defs></defs>
                                        <g id="Layer_x0020_1">
                                            <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                                            <path
                                                d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                                                class="fil0"></path>
                                        </g>
                                    </svg>
                                </div>
                                <div class="star-2">
                                    <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53"
                                        style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                        version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                                        <defs></defs>
                                        <g id="Layer_x0020_1">
                                            <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                                            <path
                                                d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                                                class="fil0"></path>
                                        </g>
                                    </svg>
                                </div>
                                <div class="star-3">
                                    <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53"
                                        style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                        version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                                        <defs></defs>
                                        <g id="Layer_x0020_1">
                                            <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                                            <path
                                                d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                                                class="fil0"></path>
                                        </g>
                                    </svg>
                                </div>
                                <div class="star-4">
                                    <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53"
                                        style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                        version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                                        <defs></defs>
                                        <g id="Layer_x0020_1">
                                            <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                                            <path
                                                d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                                                class="fil0"></path>
                                        </g>
                                    </svg>
                                </div>
                                <div class="star-5">
                                    <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53"
                                        style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                        version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                                        <defs></defs>
                                        <g id="Layer_x0020_1">
                                            <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                                            <path
                                                d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                                                class="fil0"></path>
                                        </g>
                                    </svg>
                                </div>
                                <div class="star-6">
                                    <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53"
                                        style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                        version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                                        <defs></defs>
                                        <g id="Layer_x0020_1">
                                            <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                                            <path
                                                d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                                                class="fil0"></path>
                                        </g>
                                    </svg>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section class="position-relative mt-5 py-5">
            <div class="row w-100 mx-auto justify-content-center">
                <div class="col-lg-4 col-md-12 col-12">
                    <div class="fs-3 mb-3 text-center fw-bold primary-text-color">Solar Calculator</div>
                    <hr class="tex-center mx-auto w-75 mb-5 horizontal-line">
                    <div class="px-lg-5 px-md-5">
                        <div class="card mb-3 border-0 mx-auto text-center green-color-background">
                            <div class="card-body border-0 bg-white p-5" style="border-bottom-left-radius: 140px;">
                                <div class="dropdown mb-4 px-lg-5 px-md-5">
                                    <button
                                        class="select-btn w-100 py-2 dropdown-toggle px-5 rounded-pill d-flex align-items-center justify-content-center"
                                        type="button" id="stateDropdown" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        <span id="normalselectedState" class="primary-text-color">Select State</span>
                                    </button>
                                    <ul class="dropdown-menu w-75" aria-labelledby="stateDropdown">
                                        <li><a class="dropdown-item primary-text-color"
                                                onclick="selectState('Gujarat')">Gujarat</a></li>
                                        <li><a class="dropdown-item primary-text-color"
                                                onclick="selectState('Rajasthan')">Rajasthan</a></li>
                                        <li><a class="dropdown-item primary-text-color"
                                                onclick="selectState('Uttar Pradesh')">Uttar Pradesh</a></li>
                                        <li><a class="dropdown-item primary-text-color"
                                                onclick="selectState('Uttarakhand')">Uttarakhand</a></li>
                                        <li><a class="dropdown-item primary-text-color"
                                                onclick="selectState('Madhya Pradesh')">Madhya Pradesh</a></li>
                                        <li><a class="dropdown-item primary-text-color"
                                                onclick="selectState('Chhattisgarh')">Chhattisgarh</a></li>
                                    </ul>
                                </div>
                                <div class="dropdown mb-4 px-lg-5 px-md-5">
                                    <button
                                        class="select-btn w-100 dropdown-toggle rounded-pill px-5 py-2 fs-6 d-flex align-items-center justify-content-center"
                                        type="button" id="categoryDropdown" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        <span id="normalselectedCategory" class="text-center">Select Category</span>
                                    </button>
                                    <ul class="dropdown-menu w-75" aria-labelledby="categoryDropdown">
                                        <li><a class="dropdown-item primary-text-color"
                                                onclick="selectCategory('Residential')">Residential</a></li>
                                        <li><a class="dropdown-item primary-text-color"
                                                onclick="selectCategory('Commercial')">Commercial</a></li>
                                        <li><a class="dropdown-item primary-text-color"
                                                onclick="selectCategory('Industrial')">Industrial</a></li>
                                    </ul>
                                </div>
                                <div class="mt-5 text-center" style="margin-bottom: 15%;">
                                    <div class="form-floating w-75 mx-auto">
                                        <input type="number" id="electricityBillInput"
                                            placeholder="Monthly Electricity Bill" class="form-control hide-spinner">
                                        <label for="electricityBillInput">Monthly Electricity Bill</label>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center py-1">
                                <button class="btn w-100 py-3 text-white fs-3" onclick="calculate()">Calculate</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8 col-md-12 col-12">
                    <div class="row">
                        <div class="col-lg-6 mb-4">
                            <div class="card border-0">
                                <div class="card-body">
                                    <div class="card-title primary-text-color solar-card-title">SUGGESTED CAPACITY (kW)
                                    </div>
                                    <div class="mt-5 fs-5 fw-bolder">
                                        <span id="suggestedCapacity" class="text-underline primary-text-color">0</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <div class="card border-0">
                                <div class="card-body">
                                    <div class="card-title primary-text-color solar-card-title">MONTHLY SAVING (kWh)
                                    </div>
                                    <div class="mt-5 fs-5 fw-bolder">
                                        <span id="monthlySavingKWh" class="text-underline primary-text-color">0</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <div class="card border-0">
                                <div class="card-body">
                                    <div class="card-title primary-text-color solar-card-title">MONTHLY SAVING (INR)
                                    </div>
                                    <div class="mt-5 fs-5 fw-bolder green-color-text">
                                        <span id="monthlySavingINR" class="text-underline primary-text-color">0 ₹</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <div class="card border-0">
                                <div class="card-body">
                                    <div class="card-title primary-text-color solar-card-title">REQUIRED SPACE (SQFT)
                                    </div>
                                    <div class="mt-5 fs-5 fw-bolder">
                                        <span id="requiredSpace" class="text-underline primary-text-color">0</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <div class="card border-0">
                                <div class="card-body">
                                    <h5 class="card-title primary-text-color solar-card-title">CO2 EMISSION REDUCTION
                                        PER YEAR</h5>
                                    <div class="mt-5 fs-5 fw-bolder">
                                        <span id="co2Reduction" class="text-underline primary-text-color">0 ton</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <img src="{% static 'front-end/solarPage/assets/calculator-image.png' %}" alt="" class="position-absolute end-0 calculator-image">
            </div>
        </section>
    </section>

    <!-- Form Modal Starts -->
    <div class="brochure-modal-container modal-container">
        <img src="{% static 'front-end/solarPage/assets/cross.png' %}" width="15px" class="close-icon" />
        <div class="brochure-modal modals">
            <h4>Please share your details</h4>
            <form>
                <div class="input-group">
                    <input type="text" name="name" autocomplete="off" class="input" required />
                    <label class="user-label">Name</label>
                </div>
                <div class="phone-number-container d-flex align-items-center justify-content-start">
                    <select name="country-code" id="country-code">
                        <option value="+91" selected>+91</option>
                        <option value="+1">+1</option>
                        <option value="+44">+44</option>
                        <option value="+81">+81</option>
                        <option value="+7">+7</option>
                    </select>
                    <div class="input-group">
                        <input type="text" oninput="this.value = this.value.replace(/[^0-9]/g, '');" id="phone-number"
                            name="phone-number" autocomplete="off" class="input" maxlength="10" required />
                        <label class="user-label">Enter mobile number</label>
                    </div>
                    <button id="send-otp-btn" class="otp-btn">Send OTP</button>
                </div>
                <p class="otp-sent" id="otp-sent-message">
                    We have sent the OTP to .
                </p>
                <div class="otp-container justify-content-start align-items-start">
                    <div class="input-group">
                        <input type="number" name="otp" autocomplete="off" class="input" required />
                        <label class="user-label">OTP</label>
                        <p class="otp-verification">Verified</p>
                    </div>
                    <p>Did not receive OTP ?<br />Request OTP on call.</p>
                </div>
                <div class="input-group">
                    <input type="email" name="email" autocomplete="off" class="input" required />
                    <label class="user-label">Email ID</label>
                </div>
                <div class="no-transform d-flex align-items-center justify-content-start">
                    <input type="checkbox" id="checkboxId" name="checkboxName" required />
                    <label>By submitting this form, I agree to accept and agree to
                        Realezi’s T&C</label>
                </div>
                <button type="submit" class="submit-btn" disabled>Submit</button>
            </form>
        </div>
        <div class="confirmation-popup-modal">
            <video src="{% static 'front-end/solarPage/assets/realezi-loading-arrow.mp4' %}" class="Realezi-arrow-loader">
                Your browser does not support the video tag.
            </video>
            <h4>Great!</h4>
            <p>Our Dedicated Relationship Manager will contact you shortly</p>
        </div>
    </div>
    <!-- Form Modal Ends -->



    <main class="container bg-white">
        <section class="future-section py-lg-5 py-md-5 py-0">
            <div class="row align-items-center">
                <div class="col-md-7 col-12 future-title primary-text-color">
                    The <span class="fw-bolder primary-text-color">Future</span> of
                    <div class="fw-bolder primary-text-color">Sustainable Electricity</div>
                </div>
                <div class="col-md-5 col-12 mt-4 mt-lg-0">
                    <div class="sub-text future-sub-title secondary-text-color">
                        Join the green revolution today and enjoy eco-friendly, cost-effective energy solutions with our
                        advanced solar panels
                    </div>
                </div>
            </div>
        </section>

        <section class="py-lg-5 py-md-5 py-0">
            <div class="row align-items-stretch mt-5">
                <div class="col-lg-4 col-12 d-flex position-relative">
                    <!-- Vertical line on desktop -->
                    <div class="vertical-line d-none d-lg-block"></div>
                    <div class="card d-flex flex-column border-0 mb-4 mb-md-0">
                        <div class="card-body flex-grow-1">
                            <h5 class="card-title text-start fs-4 fw-bolder future-card-title-1 primary-text-color">
                                Quality Installation
                            </h5>
                            <p class="card-text text-start mt-lg-5 mt-3 w-75 fs-6 secondary-text-color">Experience the
                                highest standards in
                                solar panel
                                installation with our expert team.</p>
                        </div>
                        <hr class="d-block d-md-none text-center mx-auto w-100 horizontal-line">
                    </div>
                </div>
                <div class="col-lg-4 col-12 d-flex position-relative">
                    <!-- Vertical line on desktop -->
                    <div class="vertical-line d-none d-lg-block"></div>
                    <div class="card d-flex flex-column border-0 mb-4 mb-md-0">
                        <div class="card-body flex-grow-1">
                            <h5 class="card-title text-start fs-4 fw-bolder future-card-title-2 primary-text-color">
                                Smart Tracking in
                                Real-time</h5>
                            <p class="card-text text-start mt-lg-5 mt-3 fs-6 secondary-text-color">Stay informed with
                                smart tracking that
                                monitors your
                                solar
                                panel performance in real-time.</p>
                        </div>
                        <hr class="d-block d-md-none text-center mx-auto w-100 horizontal-line">
                    </div>
                </div>
                <div class="col-lg-4 col-12 d-flex position-relative">
                    <div class="card d-flex flex-column border-0 mb-4 mb-md-0">
                        <div class="card-body flex-grow-1">
                            <h5 class="card-title text-start fs-4 fw-bolder primary-text-color">Guaranteed Performance
                                on Installation</h5>
                            <p class="card-text text-start mt-lg-5 mt-3 fs-6 secondary-text-color">We ensure your solar
                                panels deliver
                                reliable, efficient
                                energy for years to come, backed by our commitment to excellence.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Solar Rooftop section -->
        <section class="py-5">
            <div class="card p-lg-5 p-md-5 p-3 border-0">
                <div class="row no-gutters">
                    <div class="col-lg-5 col-md-12 col-12">
                        <div id="carouselExample2" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="w-100 h-100" src="{% static 'front-end/solarPage/assets/solar-roof/solar-roof-1.png' %}" alt="Slide 1">
                                </div>
                                <div class="carousel-item">
                                    <img class="w-100 h-100" src="{% static 'front-end/solarPage/assets/solar-roof/solar-roof-2.png' %}" alt="Slide 2">
                                </div>
                                <div class="carousel-item">
                                    <img class="w-100 h-100" src="{% static 'front-end/solarPage/assets/solar-roof/solar-roof-3.png' %}" alt="Slide 3">
                                </div>
                            </div>
                            <!-- Carousel Indicators -->
                            <div class="carousel-indicators Rooftop-carousel-indicators position-absolute gap-4"
                                style="bottom: -18%;">
                                <button type="button" data-bs-target="#carouselExample2" data-bs-slide-to="0"
                                    class="active w-75" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" class="w-75" data-bs-target="#carouselExample2"
                                    data-bs-slide-to="1" aria-label="Slide 2"></button>
                                <button type="button" class="w-75" data-bs-target="#carouselExample2"
                                    data-bs-slide-to="2" aria-label="Slide 3"></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-12 col-md-12 d-flex align-items-center">
                        <div class="p-md-4 p-0 mt-5 mt-md-0">
                            <h4 class="title primary-text-color">What is Solar Rooftop System</h4>
                            <p class="mt-4 sub-text secondary-text-color">Solar rooftop system functions with
                                photovoltaic cells that absorb
                                solar
                                energy, creating electricity for residential and commercial purposes. It keeps a
                                real-time
                                count on energy consumption, including the extra energy produced through a solar lab
                                report
                                for a sustainable operation.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- solar benefits section -->
        <section class="py-5">
            <div class="title text-lg-center text-md-center text-start primary-text-color">Unlocking the Benefits of
                Solar Power</div>
            <p class="sub-text text-lg-center text-md-center text-start px-2 px-md-5 mt-4 secondary-text-color">The tons
                of quality we offer
                handles the whole process
                of
                the
                installation formalities and also the
                procurement. We handle the major solar system installation work, such as government approval, aesthetic
                design, flawless engineering and a pocket-friendly method, so you get a complete package of advantages.
                Let
                us check out each benefit that you can find nowhere else.</p>
            <div class="row align-items-stretch mt-5 px-3 px-lg-0 px-md-0">
                <div class="col-lg-3 col-md-6 col-6 d-flex mb-4 mb-lg-0">
                    <div class="card d-flex flex-column border-0 benefits-card">
                        <div class="card-img hover-img-1"></div>
                        <div class="card-body flex-grow-1">
                            <h5 class="card-title text-center fw-bold primary-text-color benefits-card-title">Easy
                                Financing</h5>
                            <div class="text-center mt-3 secondary-text-color benefits-card-subtitle">Explore
                                hassle-free financing
                                options for your solar
                                panel
                                installation.</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-6 d-flex mb-4 mb-lg-0">
                    <div class="card d-flex flex-column border-0 benefits-card">
                        <div class="card-img hover-img-2"></div>
                        <div class="card-body flex-grow-1">
                            <h5 class="card-title text-center fw-bold primary-text-color benefits-card-title">Smart
                                Homes</h5>
                            <div class="text-center mt-3 secondary-text-color benefits-card-subtitle">Embrace
                                the future of
                                interconnected living with
                                seamless
                                automation and energy management.</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-6 d-flex mb-4 mb-lg-0">
                    <div class="card d-flex flex-column border-0 benefits-card">
                        <div class="card-img hover-img-3"></div>
                        <div class="card-body flex-grow-1">
                            <h5 class="card-title text-center fw-bold primary-text-color benefits-card-title">Engineered
                                Durability
                            </h5>
                            <div class="text-center mt-3 secondary-text-color benefits-card-subtitle">Our solar
                                panels are engineered
                                for durability,
                                designed to
                                withstand the elements and deliver reliable energy production year after year.</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-6 d-flex mb-4 mb-lg-0">
                    <div class="card d-flex flex-column border-0 benefits-card">
                        <div class="card-img hover-img-4"></div>
                        <div class="card-body flex-grow-1">
                            <h5 class="card-title text-center fw-bold primary-text-color benefits-card-title">Attractive
                                Returns</h5>
                            <div class="text-center mt-3 secondary-text-color benefits-card-subtitle">Attract
                                impressive returns on
                                your investment with
                                solar
                                panels, offering long-term savings and increased property value.</div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <!-- the way work section -->
        <section class="sticky-section py-5">
            <div class="title text-center primary-text-color">The Way We Work</div>
            <div class="sub-text text-center mt-3 px-3 secondary-text-color">Lorem ipsum dolor, sit amet consectetur
                adipisicing elit.</div>

            <div class=" sticky-content justify-content-center mx-auto d-block d-lg-none" style="width: 22rem;">
                <div id="canvasCarousel" class="carousel slide" data-ride="carousel" data-interval="3000">
                    <div class="carousel-inner">
                        <div class="carousel-item active text-center position-relative">
                            <canvas id="mobileSolarConsultation" height="360px" width="320px"></canvas>
                            <hr class="w-50 mx-auto horizontal-line position-absolute"
                                style="bottom: 25%; left: 50%; transform: translateX(-50%);">
                            <div class="fs-3 fw-bolder primary-text-color" style="margin-top: -20px;">Consultation</div>
                            <div class="sub-text mt-2 px-3">We believe in understanding your solar energy needs</div>
                        </div>
                        <div class="carousel-item text-center">
                            <canvas id="mobileSolarInstallation" height="300px" width="320px"></canvas>
                            <hr class="w-50 mx-auto horizontal-line">
                            <div class="fs-3 fw-bolder primary-text-color">Installation</div>
                            <div class="sub-text mt-2 px-3">We believe in understanding your solar energy needs</div>
                        </div>
                        <div class="carousel-item text-center position-relative">
                            <canvas id="mobileSolarServiceSupport" height="300px" width="320px"></canvas>
                            <hr class="w-50 mx-auto horizontal-line position-absolute"
                                style="bottom: 25%; left: 50%; transform: translateX(-50%);">
                            <div class="fs-3 fw-bolder primary-text-color" style="margin-top: 30px;">Service Support
                            </div>
                            <div class="sub-text mt-2 px-3">We believe in understanding your solar energy needs</div>
                        </div>
                    </div>
                    <ol class="carousel-indicators solar-carousel-indicators mt-5">
                        <li data-target="#canvasCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#canvasCarousel" data-slide-to="1"></li>
                        <li data-target="#canvasCarousel" data-slide-to="2"></li>
                    </ol>
                </div>
            </div>

            <div class="custom-stepper d-none d-lg-block">
                <div class="row align-items-center justify-content-center" style="margin-top: 5%;">
                    <div class="col-md-5 col-lg-5 d-none d-md-block">
                        <div class="stepper">
                            <div class="step active" id="step1" data-target="content1">
                                <div class="step-number">1</div>
                                <div class="step-label">Consultation</div>
                            </div>
                            <div class="step-line"></div>
                            <div class="step" id="step2" data-target="content2">
                                <div class="step-number">2</div>
                                <div class="step-label">Installation</div>
                            </div>
                            <div class="step-line"></div>
                            <div class="step" id="step3">
                                <div class="step-number">3</div>
                                <div class="step-label">Service Support</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-7 col-lg-7 col-12">
                        <div class="way-work-card border-0">
                            <div class="card-body">
                                <div class="step-content text-center position-relative" id="content1">
                                    <canvas id="desktopSolarConsultation" height="350px" width="350px"></canvas>
                                    <hr class="w-50 mx-auto horizontal-line position-absolute"
                                        style="bottom: 25%; left: 50%; transform: translateX(-50%);">
                                    <div class="fs-3 fw-bolder primary-text-color" style="margin-top: -10px;">
                                        Consultation
                                    </div>
                                    <div class="sub-text">We believe in understanding your solar energy needs</div>
                                </div>
                                <div class="step-content text-center position-relative" id="content2">
                                    <canvas id="desktopSolarInstallation" height="350px" width="350px"></canvas>
                                    <hr class="w-50 mx-auto horizontal-line position-absolute"
                                        style="bottom: 20%; left: 50%; transform: translateX(-50%);">
                                    <div class="fs-3 fw-bolder primary-text-color mt-2">Installation</div>
                                    <div class="sub-text">We believe in understanding your solar energy needs</div>
                                </div>
                                <div class="step-content text-center position-relative" id="content3">
                                    <canvas id="desktopSolarServiceSupport" height="350px" width="350px"></canvas>
                                    <hr class="w-50 mx-auto horizontal-line position-absolute"
                                        style="bottom: 25%; left: 50%; transform: translateX(-50%);">
                                    <div class="fs-3 fw-bolder primary-text-color">Service Support</div>
                                    <div class="sub-text">We believe in understanding your solar energy needs</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="py-5 tapInto-tomorrow-section position-relative">
            <!-- Left Thunder -->
            <canvas id="thunder-left" class="thunder-left position-absolute"></canvas>

            <!-- Right Thunder -->
            <canvas id="thunder-right" class="thunder-right position-absolute"></canvas>

            <div class="tapInto-tomorrow-card p-3 p-lg-5 border-0 position-relative rounded">
                <div class="card-body pt-lg-0 pb-lg-0 pt-3 pb-3">
                    <div class="title text-center fw-bolder primary-text-color">
                        Tap Into Tomorrow's Energy
                        <div class="mb-0 primary-text-color">Today</div>
                    </div>
                    <div class="text-center px-2 px-lg-5 mx-auto mt-4 d-none d-lg-block d-md-block"
                        style="font-size: 18px;">
                        Schedule your solar consultation and discover how easy
                        <div>it is to make the switch to renewable energy.</div>
                    </div>

                    <div class="sub-text text-center px-2 mx-auto mt-4 d-lg-none d-md-none">
                        Schedule your solar consultation and discover how easy
                        it is to make the switch to renewable energy.
                    </div>
                    <div class="text-center mt-5">
                        <button class="expert-btn py-3 text-nowrap px-3" data-bs-toggle="modal"
                            data-bs-target="#expertModal">
                            <span class="px-5 open-brochure-modal-container">Talk to our expert</span>
                            <div class="star-1">
                                <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53"
                                    style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                    version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                                    <defs></defs>
                                    <g id="Layer_x0020_1">
                                        <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                                        <path
                                            d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                                            class="fil0"></path>
                                    </g>
                                </svg>
                            </div>
                            <div class="star-2">
                                <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53"
                                    style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                    version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                                    <defs></defs>
                                    <g id="Layer_x0020_1">
                                        <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                                        <path
                                            d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                                            class="fil0"></path>
                                    </g>
                                </svg>
                            </div>
                            <div class="star-3">
                                <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53"
                                    style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                    version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                                    <defs></defs>
                                    <g id="Layer_x0020_1">
                                        <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                                        <path
                                            d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                                            class="fil0"></path>
                                    </g>
                                </svg>
                            </div>
                            <div class="star-4">
                                <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53"
                                    style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                    version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                                    <defs></defs>
                                    <g id="Layer_x0020_1">
                                        <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                                        <path
                                            d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                                            class="fil0"></path>
                                    </g>
                                </svg>
                            </div>
                            <div class="star-5">
                                <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53"
                                    style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                    version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                                    <defs></defs>
                                    <g id="Layer_x0020_1">
                                        <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                                        <path
                                            d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                                            class="fil0"></path>
                                    </g>
                                </svg>
                            </div>
                            <div class="star-6">
                                <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53"
                                    style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                    version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                                    <defs></defs>
                                    <g id="Layer_x0020_1">
                                        <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                                        <path
                                            d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                                            class="fil0"></path>
                                    </g>
                                </svg>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </section>

        <!-- Modal -->
        <!-- <div class="modal fade" id="expertModal" tabindex="-1" aria-labelledby="expertModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header d-none">
                        <h5 class="modal-title" id="expertModalLabel">Modal title</h5>
                    </div>

                    <div class="modal-body px-3 py-4">
                        <form action="" id="expertForm" class="form-md px-4" novalidate>
                            <div class="fs-4 text-start mb-4">Please share your details</div>
                            <div class="form-group mb-4">
                                <input type="text" class="form-control fs-6" id="fullname" placeholder=" "
                                    style="border-radius: 10px;" required>
                                <label for="fullname" class="form-label">Name</label>
                                <div id="nameError" class="text-danger text-start mt-1"></div>
                            </div>
                            <div class="d-flex-container">
                                <select class="form-select" id="countryCode">
                                    <option value="+91">+91</option>
                                    <option value="+1">+1</option>
                                    <option value="+44">+44</option>
                                </select>
                                <div class="phone-container">
                                    <input type="tel" class="form-control border-start-0" id="phone" placeholder=" "
                                        required style="border-radius: 0 10px 10px 0;">
                                    <label for="phone" class="form-label">Enter mobile number</label>
                                </div>
                            </div>
                            <div id="phoneError" class="text-danger text-start mt-1 mb-4"></div>

                            <div class="form-group mb-4">
                                <input type="email" class="form-control" id="email" placeholder=" "
                                    style="border-radius: 10px;" required>
                                <label for="email" class="form-label fs-6">Email ID</label>
                                <div id="emailError" class="text-danger text-start mt-1"></div>
                            </div>

                            <div id="termsSection" class="form-check mb-4">
                                <input type="checkbox" class="form-check-input" id="termsCondition" required>
                                <label class="form-check-label text-start" for="termsCondition"
                                    style="font-size: 14px;">
                                    By submitting this form, I agree to accept and agree to Realezi’s T&C
                                </label>
                                <div id="checkError" class="text-danger text-start mt-1"></div>
                            </div>

                            <button type="submit" id="submitBtn" class="submit-btn-disabled rounded-pill w-100 py-2"
                                disabled>Submit</button>
                        </form>

                        <div id="thankYouMessage" style="display:none;" class="text-center p-5">
                            <video id="thankYouVideo" width="250" height="200" class="border-0">
                                <source src="{% static 'front-end/solarPage/assets/loading-animation.mp4' %}" type="video/mp4">
                            </video>
                            <div id="thankYouHeading" class="thankYouHeading" style="display:none;">Great!</div>
                            <div id="thankYouText" class="thankYouText" style="display:none;">Our Dedicated Relationship
                                Manager will contact you shortly</div>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-close position-fixed top-0 end-0 m-3" aria-label="Close">
                    <span><img src="{% static 'front-end/solarPage/assets/icons/wrong-circle-icon.svg" alt="icon"></span>
                </button>
            </div>
        </div> -->
    </main>

    <!-- Footer Starts -->
    {% include 'Frontend/footer-page-new.html' %}
    <!-- Footer Ends -->

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/rive-canvas@latest/rive.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.1/ScrollTrigger.min.js"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="{% static 'front-end/solarPage/index.js' %}"></script>
    <script src="{% static 'front-end/solarPage/navbar.js' %}"></script>
    <script src="{% static 'front-end/solarPage/riv.js' %}"></script>
    <script src="{% static 'front-end/solarPage/calculator.js' %}"></script>
    <script src="{% static 'front-end/solarPage/form-modal.js' %}"></script>
    <script defer src="{% static 'front-end/solarPage/footer.js' %}"></script>
</body>

</html>