{% extends "buyerpanel/base.html" %}
{% load static %}
{% block content %}

    <style>
        /* Style for the radio container */
        .radio-container {
            display: flex;
        }

        /* Style for each radio box */
        .radio-box {
            display: inline-block;
            margin-right: 10px;
        }

        /* Style for the radio input (hidden) */
        .radio-box input[type="radio"] {
            display: none;
        }

        /* Style for the radio label (the visible part) */
        .radio-box label {
            display: block;
            width: 60px;
            height: 40px;
            border:1px solid grey;
            text-align: center;
            line-height: 40px;
            cursor: pointer;
            border-radius: 17px;
        }

        /* Style for the flag icon */
        .flag-icon {
            font-size: 30px;
            margin-bottom: 10px;
        }

        /* Style for the selected radio label */
        .radio-box input[type="radio"]:checked + label {
            background-color: #3498db;
            color: #fff;
        }
    </style>

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between bg-galaxy-transparent">
                <h4 class="mb-sm-0">Welcome Back, <span style="font-size:20px"><b>{{ user_details.personal_name|default_if_none:'' }}</b></span></h4>

                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboards</a></li>
                    </ol>
                </div>

            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row mt-3">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between bg-galaxy-transparent">
                <h6>Join us fro Grand Launch at Pandit Dindayal Auditorium on 19th Oct.</h6>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-xxl-6">
            <div class="d-flex flex-column">
                <div class="row">
                    <div class="col-12">
                        <div class="card card-height-100">
                            <div class="card-body p-0">
                                <div class="alert alert-warning border-0 rounded-0 m-0 d-flex align-items-center" role="alert">
                                    <i data-feather="alert-triangle" class="text-warning me-2 icon-sm"></i>
                                    <div class="flex-grow-1 text-truncate">
                                        {% if user_master.subscription_id == 0 %}
                                        Are you a property owner?
                                        {% elif user_master.subscription_id == 1 %}
                                        Your Ezi plan expired in <b>{{ subscription_end_date }}</b> days.
                                        {% elif user_master.subscription_id == 2 %}
                                        Your Ezigo plan expired in <b>{{ subscription_end_date }}</b> days.
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row align-items-end">
                                    <div class="col-sm-8">
                                        <div class="p-3">
                                            {% if user_master.subscription_id == 0 %}                                            
                                            <p class="fs-16 lh-base">Sell your property with Realezi.</p>
                                            {% elif user_master.subscription_id == 1 %}
                                            <p class="fs-16 lh-base">Upgrade your plan from a <span class="fw-semibold">Ezi</span>, to ‘Ezigo’ <i class="mdi mdi-arrow-right"></i></p>
                                            {% elif user_master.subscription_id == 2 %}
                                            <p class="fs-16 lh-base">Upgrade your plan from a <span class="fw-semibold">Ezigo</span>, to ‘Ezigo Plus’ <i class="mdi mdi-arrow-right"></i></p>
                                            {% endif %}
                                            <div class="mt-3">
                                                <a href="{% url 'front-subscription' %}" class="btn btn-success">
                                                    {% if user_master.subscription_id == 0 %} 
                                                    Explore Plans!
                                                    {% elif user_master.subscription_id == 1 or user_master.subscription_id == 2 %}
                                                    Upgrade Account!
                                                    {% endif %}
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="px-3">
                                            <img src="{% static "buyerpanel/assets/images/user-illustarator-2.png" %}" class="img-fluid" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- end card-body-->
                        </div>
                    </div> <!-- end col-->
                </div> <!-- end row-->

                <div class="row">
                    <div class="col-md-6">
                        <div class="card card-animate card-height-100">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <p class="fw-medium text-muted mb-0">Realezi Wallet <i type="button" class="ri-information-fill" data-bs-container="body" data-bs-toggle="tooltip" data-bs-placement="right" title="Keep track of your earnings and transactions. View your available balance and recent activity." style="font-size: 20px;"></i></p>
                                        <h2 class="mt-4 ff-secondary cfs-22 fw-semibold">{{ user_master.wallet_balance|default_if_none:0 }}</h2>
                                        <p class="mb-0 text-muted text-truncate"><span class="badge bg-light text-success mb-0"> <i class="ri-arrow-up-line align-middle"></i> 16.24 % </span>previous month</p>
                                    </div>
                                    <div>
                                        <div class="avatar-sm flex-shrink-0">
                                            <span class="avatar-title bg-info-subtle rounded-circle fs-2">
                                                <i data-feather="users" class="text-info"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- end card body -->
                        </div> <!-- end card-->
                    </div> <!-- end col-->

                    <div class="col-md-6">
                        <div class="card card-animate card-height-100">
                            <div class="card-body">
                                <div class="d-flex justify-content-between"> 
                                    <div>
                                        <p class="fw-medium text-muted" style="margin-bottom:55px;">Post Your Requirement <i type="button" class="ri-information-fill" data-bs-container="body" data-bs-toggle="tooltip" data-bs-placement="right" title="Let us know what you're looking for. Share your property preferences, and we'll help you find the perfect match." style="font-size: 20px;"></i></p>
                                        <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#postRequirement">Post Requirement</button>
                                    </div>
                                    <div>
                                        <div class="avatar-sm flex-shrink-0">
                                            <span class="avatar-title bg-info-subtle rounded-circle fs-2">
                                                <i data-feather="activity" class="text-info"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- end card body -->
                        </div> <!-- end card-->
                    </div> <!-- end col-->
                </div> <!-- end row-->

                <div class="row">
                    {% if has_properties %}
                        <div class="col-md-6">
                            <div class="card card-animate card-height-100">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <p class="fw-medium text-muted mb-0">Active Listing <i type="button" class="ri-information-fill" data-bs-container="body" data-bs-toggle="tooltip" data-bs-placement="right" title="Find detailed information on your active properties and check inquiry" style="font-size: 20px;"></i></p>
                                            <h2 class="mt-4 ff-secondary cfs-22 fw-semibold">{{ active_properties }}</h2>
                                            <a href="#" class="text-decoration-underline">Add Property</a>
                                        </div>
                                        <div>
                                            <div class="avatar-sm flex-shrink-0">
                                                <span class="avatar-title bg-info-subtle rounded-circle fs-2">
                                                    <i data-feather="clock" class="text-info"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- end card body -->
                            </div> <!-- end card-->
                        </div> <!-- end col-->
                    {% endif %}
                    <div class="col-md-6">
                        <div class="card card-animate card-height-100">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <p class="fw-medium text-muted mb-0">Site Visit Lined Up for Today <i type="button" class="ri-information-fill" data-bs-container="body" data-bs-toggle="tooltip" data-bs-placement="right" title="Stay on schedule with your planned visits. View details of the properties you'll be seeing today and prepare accordingly." style="font-size: 20px;"></i></p><br>
                                        <h2 class="ff-secondary cfs-22 fw-semibold">{{ site_visit_count }}</h2>
                                        <a href="#showModal1" class="text-decoration-underline" data-bs-toggle="modal" data-bs-target="#showModal1">Schedule Visit</a>
                                    </div>
                                    <div>
                                        <div class="avatar-sm flex-shrink-0">
                                            <span class="avatar-title bg-info-subtle rounded-circle fs-2">
                                                <i data-feather="external-link" class="text-info"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- end card body -->
                        </div> <!-- end card-->
                    </div> <!-- end col-->
                </div> <!-- end row-->
            </div>
        </div> <!-- end col-->

        <div class="col-xxl-3">
            <div class="card card-height-100">
                <div class="card-header">
                    <h4 class="card-title mb-0">Popular Property</h4>
                </div><!-- end card header -->
                <div class="card-body pt-0">
                    <div class="upcoming-scheduled">
                        <input type="text" class="form-control" data-provider="flatpickr" data-date-format="d M, Y" data-deafult-date="today" data-inline-date="true">
                    </div>
                    {% for property in popular_properties %}
                    <div class="mini-stats-wid d-flex align-items-center mt-3">
                        <div class="flex-shrink-0 avatar-sm">
                            <span class="mini-stat-icon avatar-title rounded-circle text-success bg-success-subtle fs-4">
                                {% if property.cover_image_url %}
                                    <img src="{% static 'propertyimages/' %}{{ property.cover_image_url }}" alt="Property Image" class="property-list-img">
                                {% else %}
                                    <img src="{% static "propertylisting/images/properties/property1.png" %}" alt="Default Property Image" class="property-list-img">
                                {% endif %}
                            </span>
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <h6 class="mb-1">{{ property.name }}</h6>
                            <p class="text-muted mb-0">{{ property.price }} </p>
                        </div>
                        <div class="mt-3 text-center">
                            <a href="{% url "propertydetails" property.property_unique_id %}" class="text-muted text-decoration-underline">View Detail</a>
                        </div>
                    </div><!-- end -->
                    {% endfor %}

                    <div class="mt-3 text-center">
                        <a href="{% url 'propertylisting' %}" class="text-muted text-decoration-underline">View all Properties</a>
                    </div>
                </div><!-- end cardbody -->
            </div><!-- end card -->
        </div>
        <!-- end col -->

        <div class="col-xxl-3">
            <div class="card card-height-100">
                <div class="card-header">
                    <h4 class="card-title mb-0">Site Visits</h4>
                </div><!-- end cardheader -->
                <div class="card-body pt-0">
                    <div class="upcoming-scheduled">
                        <input type="text" class="form-control" data-provider="flatpickr" data-date-format="d M, Y" data-deafult-date="today" data-inline-date="true">
                    </div>
                    {% for site_visit in site_visits %}
                    <div class="mini-stats-wid d-flex align-items-center mt-3">
                        <div class="flex-shrink-0 avatar-sm">
                            <span class="mini-stat-icon avatar-title rounded-circle text-success bg-success-subtle fs-4">
                                {{ site_visit.property_id }}
                            </span>
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <h6 class="mb-1">{{ site_visit.property_name }}</h6>
                            <p class="text-muted mb-0">{{ site_visit.visit_date }} </p>
                        </div>
                        <div class="flex-shrink-0">
                            <p class="text-muted mb-0">{{ site_visit.visit_time }}</p>
                        </div>
                    </div><!-- end -->
                    {% endfor %}

                    <div class="mt-3 text-center">
                        <a href="{% url 'buyer-journey' %}?tab=visits" class="text-muted text-decoration-underline">View all Visits</a>
                    </div>
                </div><!-- end cardbody -->
            </div><!-- end card -->
        </div><!-- end col -->
    </div> <!-- end row-->
    

    <div class="modal fade zoomIn" id="showModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" style="width: 400px;">
            <div class="modal-content border-0">
                <div class="modal-header p-3 bg-info-subtle">
                    <h5 class="modal-title">All Site Visits</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
                </div>
                <div class="modal-body">
                    {% for site_visit in all_site_visits %}
                    <div class="mini-stats-wid d-flex align-items-center mt-3">
                        <div class="flex-shrink-0 avatar-sm">
                            <span class="mini-stat-icon avatar-title rounded-circle text-success bg-success-subtle fs-4">
                                {{ site_visit.property_id }}
                            </span>
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <h6 class="mb-1">{{ site_visit.property_name }}</h6>
                            <p class="text-muted mb-0">{{ site_visit.visit_date }} </p>
                        </div>
                        <div class="flex-shrink-0">
                            <p class="text-muted mb-0">{{ site_visit.visit_time }}</p>
                        </div>
                    </div><!-- end -->
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xxl-4 project-card">
            <div class="card card-height-100">
                <div class="card-body">
                    <div class="p-3 mt-n3 mx-n3 bg-danger-subtle rounded-top">
                        <div class="d-flex align-items-center">
                            <div class="flex-grow-1">
                                <h5 class="mb-0 fs-14"><a href="#" class="text-body">Details of relationship manager</a></h5>
                            </div>
                            <div class="flex-shrink-0">
                                <div class="d-flex gap-1 align-items-center my-n2">
                                    <button type="button" class="btn avatar-xs p-0 favourite-btn material-shadow-none active">
                                        <span class="avatar-title bg-transparent fs-15">
                                            <i class="ri-star-fill"></i>
                                        </span>
                                    </button>
                                    <div class="dropdown">
                                        <button class="btn btn-link text-muted p-1 mt-n1 py-0 text-decoration-none fs-15 material-shadow-none" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            <i data-feather="more-horizontal" class="icon-sm"></i>
                                        </button>

                                        <div class="dropdown-menu dropdown-menu-end">
                                            <a class="dropdown-item" href="apps-projects-overview.html"><i class="ri-eye-fill align-bottom me-2 text-muted"></i> View</a>
                                            <a class="dropdown-item" href="apps-projects-create.html"><i class="ri-pencil-fill align-bottom me-2 text-muted"></i> Edit</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#removeProjectModal"><i class="ri-delete-bin-fill align-bottom me-2 text-muted"></i> Remove</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                    <div class="pt-3">
                        <div class="d-flex">
                            <div class="flex-shrink-0 me-3">
                                <div class="avatar-sm">
                                    <span class="avatar-title bg-warning-subtle rounded fs-3">
                                        <i class="bx bx-user-circle text-warning"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="flex-grow-1">
                                <p class="text-muted mb-3">Get to know your dedicated relationship manager, your primary point of contact for personalized service and support. Here you'll find their contact information and a brief overview of their expertise.</p>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- end card body -->
            </div>
            <!-- end card -->
        </div>
        <!-- end col -->

        <div class="col-xxl-4 project-card">
            <div class="card card-height-100">
                <div class="card-body">
                    <div class="p-3 mt-n3 mx-n3 bg-warning-subtle rounded-top">
                        <div class="d-flex align-items-center">
                            <div class="flex-grow-1">
                                <h5 class="mb-0 fs-14"><a href="#" class="text-body">Search Your Property</a></h5>
                            </div>
                            <div class="flex-shrink-0">
                                <div class="d-flex gap-1 align-items-center my-n2">
                                    <button type="button" class="btn avatar-xs p-0 favourite-btn material-shadow-none active">
                                        <span class="avatar-title bg-transparent fs-15">
                                            <i class="ri-star-fill"></i>
                                        </span>
                                    </button>
                                    <div class="dropdown">
                                        <button class="btn btn-link text-muted p-1 mt-n1 py-0 text-decoration-none fs-15 material-shadow-none" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            <i data-feather="more-horizontal" class="icon-sm"></i>
                                        </button>

                                        <div class="dropdown-menu dropdown-menu-end">
                                            <a class="dropdown-item" href="apps-projects-overview.html"><i class="ri-eye-fill align-bottom me-2 text-muted"></i> View</a>
                                            <a class="dropdown-item" href="apps-projects-create.html"><i class="ri-pencil-fill align-bottom me-2 text-muted"></i> Edit</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#removeProjectModal"><i class="ri-delete-bin-fill align-bottom me-2 text-muted"></i> Remove</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="pt-3">
                        <div class="d-flex">
                            <div class="flex-shrink-0 me-3">
                                <div class="avatar-sm">
                                    <span class="avatar-title bg-info-subtle rounded fs-3">
                                        <i class="bx bx-shopping-bag text-info"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="flex-grow-1">
                                <p class="text-muted mb-3">Discover your dream home or investment opportunity with ease. Start your search now ➔</p>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- end card body -->
            </div>
            <!-- end card -->
        </div>
        <!-- end col -->
        <div class="col-xxl-4 project-card">
            <div class="card card-height-100">
                <div class="card-body">
                    <div class="p-3 mt-n3 mx-n3 bg-info-subtle rounded-top">
                        <div class="d-flex align-items-center">
                            <div class="flex-grow-1">
                                <h5 class="mb-0 fs-14"><a href="#" class="text-body">Easy Journey</a></h5>
                            </div>
                            <div class="flex-shrink-0">
                                <div class="d-flex gap-1 align-items-center my-n2">
                                    <button type="button" class="btn avatar-xs p-0 favourite-btn material-shadow-none">
                                        <span class="avatar-title bg-transparent fs-15">
                                            <i class="ri-star-fill"></i>
                                        </span>
                                    </button>
                                    <div class="dropdown">
                                        <button class="btn btn-link text-muted p-1 mt-n1 py-0 text-decoration-none fs-15 material-shadow-none" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            <i data-feather="more-horizontal" class="icon-sm"></i>
                                        </button>

                                        <div class="dropdown-menu dropdown-menu-end">
                                            <a class="dropdown-item" href="apps-projects-overview.html"><i class="ri-eye-fill align-bottom me-2 text-muted"></i> View</a>
                                            <a class="dropdown-item" href="apps-projects-create.html"><i class="ri-pencil-fill align-bottom me-2 text-muted"></i> Edit</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#removeProjectModal"><i class="ri-delete-bin-fill align-bottom me-2 text-muted"></i> Remove</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pt-3">
                        <div class="d-flex">
                            <div class="flex-shrink-0 me-3">
                                <div class="avatar-sm">
                                    <span class="avatar-title bg-info-subtle text-info rounded-2 fs-2">
                                        <i data-feather="clock" class="text-info"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="flex-grow-1">
                                <p class="text-muted mb-3">Enjoy an easy journey with us: click, connect, and close. Let’s make your experience seamless and satisfying.</p>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- end card body -->
            </div>
            <!-- end card -->
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->

    <div class="modal fade zoomIn" id="showModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content border-0">
                <div class="modal-header p-3 bg-info-subtle">
                    <h5 class="modal-title">Schedule Visit</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
                </div>
                <form class="tablelist-form" autocomplete="off">
                    <div class="modal-body">
                        <div class="row g-3">
                            <div class="col-lg-12">
                                <label for="persons_enter" class="form-label">Number Of persons</label>
                                <input type="number" class="form-control" id="persons_enter" placeholder="Enter Number Of persons">
                            </div>
                            <div class="col-lg-12">
                                <label for="Visit_Date" class="form-label">Schedule Visit Date</label>
                                <input type="date" class="form-control" id="Visit_Date">
                            </div>
                            <div class="col-lg-12">
                                <label for="visitTime" class="form-label">Schedule Visit Time</label>
                                <select name="" id="" class="form-select">
                                    <option value="" selected>Schedule Your Time For Visit</option>
                                    <option value="">9am - 11am</option>
                                    <option value="">11am - 1pm</option>
                                    <option value="">1pm - 3pm</option>
                                    <option value="">3pm - 5pm</option>
                                    <option value="">5pm - 7pm</option>
                                    <option value="">7pm - 9pm</option>
                                </select>
                            </div>
                            <div class="hstack gap-2 justify-content-end">
                                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary" id="add-btn">Submit</button>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
                                            
    <div class="modal fade" id="postRequirement" tabindex="-1" aria-labelledby="postRequirementLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <form action="javascript:void(0);">
                        <div class="row g-3">
                            <div class="col-xxl-12">
                                <div class="mt-3">
                                    <div class="row">
                                        <label>Building Type:</label>
                                        <div class="radio-container">
                                            <div class="radio-box" id="residential_bar" style="width: 200px !important;">
                                                <input type="radio" name="property_type" id="residential" value="residential" onclick="setres_comm_selection(this.value)">
                                                <label for="residential" style="width: 200px !important;">
                                                    
                                                    Residential
                                                </label>
                                            </div>
                                            <div class="radio-box">
                                                <input type="radio" name="property_type" id="commercial" value="commercial" onclick="setres_comm_selection(this.value)">
                                                <label for="commercial" style="width: 200px !important;">
                                                    
                                                    Commercial
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <script>
                                        function setres_comm_selection(value) {
                                            if (value == "residential") {
                                              document.getElementById("residential_propertytype").style.display = "block";
                                              document.getElementById("commercial_propertytype").style.display = "none";
                                            } else {
                                              document.getElementById("residential_propertytype").style.display = "none";
                                              document.getElementById("commercial_propertytype").style.display = "block";
                                            }
                                          }
                                    </script>
                                    <div class="row" style="margin-top:20px">
                                        <label>Property Type</label>
                                    </div>                                            
                                    <div class="row" id="residential_propertytype">
                                        <div class="">
                                            <div class="radio-box" style="width: 200px !important;">
                                                <input type="radio" name="property_sub_type" id="apartment" value="apartment"   onclick="disableenablebuiltinarea(this.value)">
                                                <label for="apartment" style="width: 200px !important;">
                                                    
                                                    Apartment
                                                </label>
                                            </div>
                                            <div class="radio-box">
                                                <input type="radio" name="property_sub_type" id="villa" value="villa"   onclick="disableenablebuiltinarea(this.value)">
                                                <label for="villa" style="width: 200px !important;">
                                                    
                                                    Villa
                                                </label>
                                            </div>
                                            <div class="radio-box">
                                                <input type="radio" name="property_sub_type" id="plot" value="plot"  onclick="disableenablebuiltinarea(this.value)">
                                                <label for="plot" style="width: 200px !important;">
                                                    
                                                    Plot
                                                </label>
                                            </div>
                                            
                                            <div class="radio-box">
                                                <input type="radio" name="property_sub_type" id="penthouse" value="penthouse"   onclick="disableenablebuiltinarea(this.value)">
                                                <label for="penthouse" style="width: 200px !important;">
                                                    
                                                    Pent House
                                                </label>
                                            </div>
                                            <div class="radio-box">
                                                <input type="radio" name="property_sub_type" id="independenthouse" value="commercial"   onclick="disableenablebuiltinarea(this.value)">
                                                <label for="independenthouse" style="width: 200px !important;">
                                                    
                                                    Independent House
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="display:none;"  id="commercial_propertytype">
                                        <div class="">
                                            <div class="radio-box" style="width: 200px !important;">
                                                <input type="radio" name="property_sub_type" id="officespace" value="office" onclick="disableenablebuiltinarea(this.value)" >
                                                <label for="officespace" style="width: 200px !important;">
                                                    
                                                    Office Space
                                                </label>
                                            </div>
                                            <div class="radio-box">
                                                <input type="radio" name="property_sub_type" id="shop" value="shop" onclick="disableenablebuiltinarea(this.value)">
                                                <label for="shop" style="width: 200px !important;">
                                                    
                                                    Shop
                                                </label>
                                            </div>
                                            
                                            <div class="radio-box">
                                                <input type="radio" name="property_sub_type" id="Showroom" value="showroom" onclick="disableenablebuiltinarea(this.value)">
                                                <label for="Showroom" style="width: 200px !important;">
                                                    
                                                    Showroom
                                                </label>
                                            </div>
                                            
                                            <div class="radio-box">
                                                <input type="radio" name="property_sub_type" id="coworkingspace" value="coworkingspace" onclick="disableenablebuiltinarea(this.value)">
                                                <label for="coworkingspace" style="width: 200px !important;">
                                                    
                                                    Co-Working Space
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12" style="margin-top: 30px;">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <label>Property Description</label>
                                                <textarea rows="4" class="form-control no-resize" name="property_description" placeholder="Property Description"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="hstack gap-2 justify-content-end">
                                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                                    <!-- <button type="submit" class="btn btn-primary">Submit</button>                                             -->
                                    <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#successPostRequirement">Submit</button>
                                </div>
                            </div>
                            <!--end col-->
                        </div>
                        <!--end row-->
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <div id="successPostRequirement" class="modal fade" tabindex="-1" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center p-5">
                    <div class="text-end">
                        <button type="button" class="btn-close text-end" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="mt-2">
                        <lord-icon src="https://cdn.lordicon.com/tqywkdcz.json" trigger="hover" style="width:150px;height:150px">
                        </lord-icon>
                        <h4 class="mb-3 mt-4">Thanks for Submitting the Requirement !</h4>
                        <p class="text-muted fs-15 mb-4">Our Executive will get back to you.</p>
                        <div class="hstack gap-2 justify-content-center">
                            <a href="javascript:void(0);" class="btn btn-link link-success fw-medium material-shadow-none" data-bs-dismiss="modal"><i class="ri-close-line me-1 align-middle"></i> Close</a>
                        </div>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

{% endblock content %}





