{% extends "buyerpanel/base.html" %}
{% load static %}
{% block content %}

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                <h4 class="mb-sm-0">Welcome, <span style="font-size:20px"><b>{{ user_details.name }}</b></span></h4>
                
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body form-steps">
                    <form action="#">
                        <div class="step-arrow-nav mb-4">
    
                            <ul class="nav nav-pills custom-nav nav-justified" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="personal-detail-tab" data-bs-toggle="pill" data-bs-target="#personal-detail-info" type="button" role="tab" aria-controls="personal-detail-info" aria-selected="false">Personal Details</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="kyc-verification-tab" data-bs-toggle="pill" data-bs-target="#kyc-verification-info" type="button" role="tab" aria-controls="kyc-verification-info" aria-selected="false">KYC Verification</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="property-document-tab" data-bs-toggle="pill" data-bs-target="#property-document-info" type="button" role="tab" aria-controls="property-document-info" aria-selected="false">Property Document</button>
                                </li>
                            </ul>
                        </div>
    
                        <div class="tab-content">    
                            <div class="tab-pane fade show active" id="personal-detail-info" role="tabpanel" aria-labelledby="personal-detail-tab">
                                <form id="personalDetailForm" method="POST" enctype="multipart/form-data">
                                    <input type="hidden" name="tab" value="personalDetail">
                                    <div class="mb-3">
                                        <label class="form-label" for="yourName">Your Name</label>
                                        <input type="text" class="form-control" id="yourName" placeholder="Enter Your Name" name="personal_name" value="{{ users.personal_name }}" >
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-8">
                                            <div class="mb-3">
                                                <label class="form-label" for="contactNumber">Contact Number</label>
                                                <input type="tel" class="form-control" id="contactNumber" minlength="10" maxlength="10" placeholder="Enter Your Contact Number" name="personal_phoneno" value="{{ users.personal_phoneno }}" >
                                            </div>  
                                        </div>                                              
                                        <div class="col-lg-4 mt-2">
                                            <label class="form-label" for=""></label>
                                            <div class="input-group ">
                                                <input type="text" class="form-control" placeholder="Same Number On Whatsapp" disabled>
                                                <button type="button" class="btn btn-soft-primary" value="yes" onclick="whatsappNumberShow(event)">Yes</button>
                                                <button type="button" class="btn btn-soft-primary" value="no" onclick="whatsappNumberShow(event)">No</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3" id="whatsappNumberContainer" style="display: none;">
                                        <label class="form-label" for="whatsappNumber">Whatsapp Number</label>
                                        <input type="tel" class="form-control" id="whatsappNumber" minlength="10" maxlength="10" placeholder="Enter Your Whatsapp Number" name="personal_whatsapp_number" >
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="emailId">Email ID</label>
                                        <input type="email" class="form-control" id="emailId" placeholder="Enter Your Email ID" name="personal_email" value="{{ users.personal_email }}" >
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="selectDesignation">Designation</label>
                                        <select id="selectDesignation" class="form-select" name="personal_designation">
                                            <option value="" selected>Select Designation</option>
                                            <option value="Sales Head" {% if users.personal_designation == 'Sales Head' %} selected {% endif %}>Sales Head</option>
                                            <option value="Founder" {% if users.personal_designation == 'Founder' %} selected {% endif %}>Founder and CEO</option>
                                            <option value="Managing Director" {% if users.personal_designation == 'Managing Director' %} selected {% endif %}>Managing Director</option>
                                            <option value="Others" {% if users.personal_designation == 'Others' %} selected {% endif %}>Others</option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="profilePicture" class="form-label">Upload Profile Picture</label>
                                        <input class="form-control mb-2" type="file" id="profilePicture" name="profile_picture"  accept="image/jpeg, image/png" >
                                        {% if users.profile_picture %}
                                            <img src="{% static "builderpanel/profilePicture/PROFILE_20240806160007_RZ390139.jpg" %}" alt="Profile Picture" style="max-width: 200px; max-height: 200px;">
                                        {% endif %}
                                    </div>
                                </form>
                            </div>
                            <!-- end tab pane -->
    
                            <div class="tab-pane fade" id="kyc-verification-info" role="tabpanel" aria-labelledby="kyc-verification-tab">
                                <form id="kycVerificationDetailForm" method="POST" enctype="multipart/form-data">
                                    <input type="hidden" name="tab" value="kycDetail">
                                    <div class="mb-3">
                                        <label for="aadharNumber" class="form-label">Aadhar Number</label>
                                        <div class="input-group">
                                            <input class="form-control" type="text" id="aadharNumber" placeholder="Enter Aadhar Number" name="aadhar_image" value="{{ users.aadhar_image }}" >
                                            <button class="btn btn-outline-success" type="button" id="verifyButton">Verify</button>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="panCard" class="form-label">Business PAN Card</label>
                                        <div class="input-group">
                                            <input class="form-control" type="file" id="panCard" name="pan_image">
                                            {% if users.gst_image %}
                                            <a href="{% url 'download_document' 'pan' %}" download><button class="btn btn-primary" type="button" id="verifyButton">Download</button></a>
                                            {% endif %}                                        
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="panNumber" class="form-label">Business PAN Number</label>
                                        <div class="input-group">
                                            <input class="form-control" type="text" id="panNumber" placeholder="Enter Business PAN Number" name="company_pan_no" value="{{ users.company_pan_no}}" >
                                            <button class="btn btn-outline-success" type="button" id="verifyButton">Verify</button>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="gstVerification" class="form-label">GST Verification</label>
                                        <div class="input-group">
                                            <input class="form-control" type="file" id="gstVerification" name="gst_image" >
                                            {% if users.gst_image %}
                                            <a href="{% url 'download_document' 'gst' %}" download><button class="btn btn-primary" type="button" id="verifyButton">Download</button></a>
                                            {% endif %}                                        
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-start gap-3 mt-4">
                                        <button type="button" class="btn btn-light btn-label previestab" data-previous="personal-detail-tab"><i class="ri-arrow-left-line label-icon align-middle fs-16 me-2"></i> Go Back</button>
                                        <button type="button" class="btn btn-success btn-label right ms-auto nexttab nexttab" data-nexttab="property-document-tab"><i class="ri-arrow-right-line label-icon align-middle fs-16 ms-2"></i>Next</button>
                                    </div>
                                </form>
                            </div>
                            <!-- end tab pane -->
    
                            <div class="tab-pane fade" id="property-document-info" role="tabpanel" aria-labelledby="property-document-tab">
                                <form id="propertyDetailForm" method="POST" enctype="multipart/form-data">
                                    <input type="hidden" name="tab" value="propertyDetail">
                                    <div class="mb-3">
                                        <label class="form-label" for="ownerName">Owner Name</label>
                                        <input type="text" class="form-control" id="ownerName" placeholder="Enter Owner Name" name="">
                                    </div>
                                    <div class="mb-3">
                                        <label for="lightbill" class="form-label">Electricity Bill</label>
                                        <input class="form-control" type="file" id="lightbill" name="" >
                                    </div>
                                </form>
                            </div>
                            <!-- end tab pane -->
                        </div>
                        <!-- end tab content -->
                    </form>
                </div>
                <!-- end card body -->
            </div>
            <!-- end card -->
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->


{% endblock content %}