{% extends "buyerpanel/base.html" %}
{% load static %}
{% block content %}

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between bg-galaxy-transparent">
                <h4 class="mb-sm-0">Contact Us</h4>

                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Home</a></li>
                        <li class="breadcrumb-item active">Contact Us</li>
                    </ol>
                </div>

            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h3>Connect with dedicated relationship manager</h3><hr>
                    <h5>You can Contact with us on this number : 8780297622</h5>
                    <h5>You can subscribed to Whatsapp notification on this number : 8780297622</h5>
                    <h5>You can Email on : abc123@realezi.com</h5>
                </div><!-- end card header -->

            </div><!-- end card -->
        </div>
    </div>

{% endblock content %}