{% extends "buyerpanel/base.html" %}
{% load static %}
{% block content %}
    
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between bg-galaxy-transparent">
                <h4 class="mb-sm-0">Home Loan EMI Calculator</h4>

                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Home</a></li>
                        <li class="breadcrumb-item active">Home Loan EMI Calculator</li>
                    </ol>
                </div>

            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="col-xxl-12">
        <div class="card">
            <div class="card-body">
                <div class="live-preview">
                    <form action="javascript:void(0);" class="row g-3">
                        <div class="col-md-7">
                            <label for="loanAmount" class="form-label">Loan Amount (INR)*</label>
                            <input type="number" class="form-control" id="loanAmount">
                        </div>
                        <div class="col-md-7">
                            <label for="interestRate" class="form-label">Interest Rate (%)*</label>
                            <input type="number" class="form-control" id="interestRate">
                        </div>
                        <div class="col-lg-7">
                            <label for="loanTenure" class="form-label">Loan Tenure*</label>
                            <div class="input-group">
                                <input type="number" class="form-control" id="loanTenure">
                                <span class="input-group-text" id="basic-addon2">Years</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn btn-primary" onclick="calculateEMI()">Calculate EMI</button>
                        </div>
                    </form>
                    <div class="result" id="emiResult"></div>
                </div>
            </div><!-- end card-body -->
        </div><!-- end card -->
    </div>
    <!--end col-->

    <script>
        function calculateEMI() {
        var loanAmount = parseFloat(document.getElementById('loanAmount').value);
        var interestRate = parseFloat(document.getElementById('interestRate').value);
        var loanTenure = parseInt(document.getElementById('loanTenure').value);

        if (!loanAmount || !interestRate || !loanTenure) {
            alert('Please fill in all the fields.');
            return;
        }

        var monthlyInterestRate = (interestRate / 100) / 12;
        var totalMonths = loanTenure * 12;

        var emi = (loanAmount * monthlyInterestRate * Math.pow(1 + monthlyInterestRate, totalMonths)) / (Math.pow(1 + monthlyInterestRate, totalMonths) - 1);

        var emiData = [];
        for (var i = 1; i <= totalMonths; i++) {
            emiData.push([i, emi.toFixed(2)]);
        }

        $('#emiResult').html('<h3>EMI Schedule</h3><table id="emiTable" class="table"><thead><tr><th>Month</th><th>EMI (INR)</th></tr></thead></table>');

        $('#emiTable').DataTable({
            data: emiData,
            columns: [
            { title: "Month" },
            { title: "EMI (INR)" }
            ],
            dom: 'Bfrtip',
            buttons: [
            {
                extend: 'csv',
                filename: 'Loan Details',
                text: 'Export to CSV',
                className: 'btn btn-primary'
            }
            ]
        });
        }
    </script>

{% endblock content %} 