{% extends "buyerpanel/base.html" %}
{% load static %}
{% block content %}

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between bg-galaxy-transparent">
                <h4 class="mb-sm-0">My Journey</h4>

                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Home</a></li>
                        <li class="breadcrumb-item active">My Journey</li>
                    </ol>
                </div>

            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="col-xxl-12">
        <div class="card">
            <div class="card-body">
                <!-- Nav tabs -->
                <ul class="nav nav-pills nav-justified mb-3" role="tablist">
                    <li class="nav-item waves-effect waves-light">
                        <a class="nav-link active" data-bs-toggle="tab" href="#property-viewed" role="tab">
                            Property Viewed
                        </a>
                    </li>
                    <li class="nav-item waves-effect waves-light">
                        <a class="nav-link" data-bs-toggle="tab" href="#dreamlist" role="tab">
                            My Dreamlist
                        </a>
                    </li>
                    <li class="nav-item waves-effect waves-light">
                        <a class="nav-link" data-bs-toggle="tab" href="#enquired" role="tab">
                            Enquired
                        </a>
                    </li>
                    <li class="nav-item waves-effect waves-light">
                        <a class="nav-link" data-bs-toggle="tab" href="#visits" role="tab">
                            My Visits
                        </a>
                    </li>
                    <li class="nav-item waves-effect waves-light">
                        <a class="nav-link" data-bs-toggle="tab" href="#deal" role="tab">
                            Make your Deal
                        </a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content text-muted">
                    <div class="tab-pane active" id="property-viewed" role="tabpanel">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card" id="ticketsList">
                                    <div class="card-body">
                                        <form>
                                            <div class="row g-3">
                                                <div class="col-xxl-7 col-sm-12">
                                                    <div class="search-box">
                                                        <input type="text" class="form-control search bg-light border-light" placeholder="Search Property Name or something...">
                                                        <i class="ri-search-line search-icon"></i>
                                                    </div>
                                                </div>
                                                <!--end col-->

                                                <div class="col-xxl-3 col-sm-8">
                                                    <input type="text" class="form-control bg-light border-light" data-provider="flatpickr" data-date-format="d M, Y" data-range-date="true" id="demo-datepicker" placeholder="Select date range">
                                                </div>
                                                <!--end col-->
                                                
                                                <div class="col-xxl-2 col-sm-4">
                                                    <button type="button" class="btn btn-primary w-100" onclick="SearchData();">
                                                        Search
                                                    </button>
                                                </div>
                                                <!--end col-->
                                            </div>
                                            <!--end row-->
                                        </form>
                                    </div>
                                    <!--end card-body-->
                                    <div class="card-body">
                                        <div class="table-responsive table-card mb-4">
                                            <table class="table align-middle table-nowrap mb-0" id="ticketTable">
                                                <thead>
                                                    <tr>
                                                        <th scope="col" style="width: 40px;">
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox" id="checkAll" value="option">
                                                            </div>
                                                        </th>
                                                        <th class="sort" data-sort="id">Sr No</th>
                                                        <th class="sort" data-sort="property_id">Property ID</th>
                                                        <th class="sort" data-sort="property_name">Property Name</th>
                                                        <th class="sort" data-sort="property_image">Property Image</th>
                                                        <th class="sort" data-sort="view_date">Viewed Date</th>
                                                        <th class="sort" data-sort="price">Price</th>
                                                        <th class="sort" data-sort="visits">Schedule Visit</th>
                                                        <th class="sort" data-sort="action">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="list form-check-all" id="ticket-list-data">
                                                    {% for property in properties %}
                                                    <tr>
                                                        <th scope="row">
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox" name="checkAll" value="option1">
                                                            </div>
                                                        </th>
                                                        <td class="id"><a href="javascript:void(0);" onclick="ViewTickets(this)" data-id="001" class="fw-medium link-primary">{{ forloop.counter }}</a></td>
                                                        <td class="property_id">{{ property.property_id }}</td>
                                                        <td class="property_name">{{ property.name}}</td>
                                                        <td class="property_image">---</td>
                                                        <td class="view_date">08 Dec, 2021</td>
                                                        <td class="price">{{ property.price}}</td>
                                                        <td class="visits"><button class="btn btn-sm btn-soft-info" data-bs-toggle="modal" data-bs-target="#showModal{{property.property_id}}">Schedule Visit</button></td>
                                                        <td class="action"><a><button class="btn btn-sm btn-info">Know More</button></a></td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                            <div class="noresult" style="display: none">
                                                <div class="text-center">
                                                    <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop" colors="primary:#121331,secondary:#08a88a" style="width:75px;height:75px"></lord-icon>
                                                    <h5 class="mt-2">Sorry! No Result Found</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-end mt-2">
                                            <div class="pagination-wrap hstack gap-2">
                                                <a class="page-item pagination-prev disabled" href="#">
                                                    Previous
                                                </a>
                                                <ul class="pagination listjs-pagination mb-0"></ul>
                                                <a class="page-item pagination-next" href="#">
                                                    Next
                                                </a>
                                            </div>
                                        </div>                   
                                        
                                    </div>
                                    <!--end card-body-->
                                </div>
                                <!--end card-->
                            </div>
                            <!--end col-->
                        </div>
                        <!--end row-->
                    </div>
                    <div class="tab-pane" id="dreamlist" role="tabpanel">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card" id="ticketsList">
                                    <div class="card-body">
                                        <form>
                                            <div class="row g-3">
                                                <div class="col-xxl-7 col-sm-12">
                                                    <div class="search-box">
                                                        <input type="text" class="form-control search bg-light border-light" placeholder="Search Property Name or something...">
                                                        <i class="ri-search-line search-icon"></i>
                                                    </div>
                                                </div>
                                                <!--end col-->

                                                <div class="col-xxl-3 col-sm-8">
                                                    <input type="text" class="form-control bg-light border-light" data-provider="flatpickr" data-date-format="d M, Y" data-range-date="true" id="demo-datepicker" placeholder="Select date range">
                                                </div>
                                                <!--end col-->
                                                
                                                <div class="col-xxl-2 col-sm-4">
                                                    <button type="button" class="btn btn-primary w-100" onclick="SearchData();">
                                                        Search
                                                    </button>
                                                </div>
                                                <!--end col-->
                                            </div>
                                            <!--end row-->
                                        </form>
                                    </div>
                                    <!--end card-body-->
                                    <div class="card-body">
                                        <div class="table-responsive table-card mb-4">
                                            <table class="table align-middle table-nowrap mb-0" id="ticketTable">
                                                <thead>
                                                    <tr>
                                                        <th scope="col" style="width: 40px;">
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox" id="checkAll" value="option">
                                                            </div>
                                                        </th>
                                                        <th class="sort" data-sort="id">Sr No</th>
                                                        <th class="sort" data-sort="property_id">Property ID</th>
                                                        <th class="sort" data-sort="property_name">Property Name</th>
                                                        <th class="sort" data-sort="view_date">Viewed Date</th>
                                                        <th class="sort" data-sort="price">Price</th>
                                                        <th class="sort" data-sort="visits">Schedule Visit</th>
                                                        <th class="sort" data-sort="action">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="list form-check-all" id="ticket-list-data">
                                                    {% for property in saved_property %}
                                                    <tr>
                                                        <th scope="row">
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox" name="checkAll" value="option1">
                                                            </div>
                                                        </th>
                                                        <td class="id"><a href="javascript:void(0);" onclick="ViewTickets(this)" data-id="001" class="fw-medium link-primary">{{ forloop.counter }}</a></td>
                                                        <td class="property_id">{{ property.property_id}}</td>
                                                        <td class="property_name">{{ property.property_name}}</td>
                                                        <td class="view_date">{{ property.created_date }}</td>
                                                        <td class="visits"><button class="btn btn-sm btn-soft-info" data-bs-toggle="modal" data-bs-target="#showModal">Schedule Visit</button></td>
                                                        <td class="action"><a><button class="btn btn-sm btn-info">Know More</button></a></td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                            <div class="noresult" style="display: none">
                                                <div class="text-center">
                                                    <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop" colors="primary:#121331,secondary:#08a88a" style="width:75px;height:75px"></lord-icon>
                                                    <h5 class="mt-2">Sorry! No Result Found</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-end mt-2">
                                            <div class="pagination-wrap hstack gap-2">
                                                <a class="page-item pagination-prev disabled" href="#">
                                                    Previous
                                                </a>
                                                <ul class="pagination listjs-pagination mb-0"></ul>
                                                <a class="page-item pagination-next" href="#">
                                                    Next
                                                </a>
                                            </div>
                                        </div>                   
                                        
                                    </div>
                                    <!--end card-body-->
                                </div>
                                <!--end card-->
                            </div>
                            <!--end col-->
                        </div>
                        <!--end row-->
                    </div>
                    <div class="tab-pane" id="enquired" role="tabpanel">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card" id="ticketsList">
                                    <div class="card-body">
                                        <form>
                                            <div class="row g-3">
                                                <div class="col-xxl-7 col-sm-12">
                                                    <div class="search-box">
                                                        <input type="text" class="form-control search bg-light border-light" placeholder="Search Property Name or something...">
                                                        <i class="ri-search-line search-icon"></i>
                                                    </div>
                                                </div>
                                                <!--end col-->

                                                <div class="col-xxl-3 col-sm-8">
                                                    <input type="text" class="form-control bg-light border-light" data-provider="flatpickr" data-date-format="d M, Y" data-range-date="true" id="demo-datepicker" placeholder="Select date range">
                                                </div>
                                                <!--end col-->
                                                
                                                <div class="col-xxl-2 col-sm-4">
                                                    <button type="button" class="btn btn-primary w-100" onclick="SearchData();">
                                                        Search
                                                    </button>
                                                </div>
                                                <!--end col-->
                                            </div>
                                            <!--end row-->
                                        </form>
                                    </div>
                                    <!--end card-body-->
                                    <div class="card-body">
                                        <div class="table-responsive table-card mb-4">
                                            <table class="table align-middle table-nowrap mb-0" id="ticketTable">
                                                <thead>
                                                    <tr>
                                                        <th scope="col" style="width: 40px;">
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox" id="checkAll" value="option">
                                                            </div>
                                                        </th>
                                                        <th class="sort" data-sort="id">Sr No</th>
                                                        <th class="sort" data-sort="property_name">Property Name</th>
                                                        <th class="sort" data-sort="view_date">Viewed Date</th>
                                                        <th class="sort" data-sort="price">Price</th>
                                                        <th class="sort" data-sort="visits">Schedule Visit</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="list form-check-all" id="ticket-list-data">
                                                    <tr>
                                                        <th scope="row">
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox" name="checkAll" value="option1">
                                                            </div>
                                                        </th>
                                                        <td class="id"><a href="javascript:void(0);" onclick="ViewTickets(this)" data-id="001" class="fw-medium link-primary">#01</a></td>
                                                        <td class="property_name">XYZ</td>
                                                        <td class="view_date">08 Dec, 2021</td>
                                                        <td class="price">1000</td>
                                                        <td class="visits"><button class="btn btn-sm btn-soft-info" data-bs-toggle="modal" data-bs-target="#showModal">Schedule Visit</button></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="noresult" style="display: none">
                                                <div class="text-center">
                                                    <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop" colors="primary:#121331,secondary:#08a88a" style="width:75px;height:75px"></lord-icon>
                                                    <h5 class="mt-2">Sorry! No Result Found</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-end mt-2">
                                            <div class="pagination-wrap hstack gap-2">
                                                <a class="page-item pagination-prev disabled" href="#">
                                                    Previous
                                                </a>
                                                <ul class="pagination listjs-pagination mb-0"></ul>
                                                <a class="page-item pagination-next" href="#">
                                                    Next
                                                </a>
                                            </div>
                                        </div>                   
                                        
                                    </div>
                                    <!--end card-body-->
                                </div>
                                <!--end card-->
                            </div>
                            <!--end col-->
                        </div>
                        <!--end row-->
                    </div>
                    <div class="tab-pane" id="visits" role="tabpanel">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card" id="ticketsList">
                                    <div class="card-body">
                                        <form>
                                            <div class="row g-3">
                                                <div class="col-xxl-4 col-sm-12">
                                                    <div class="search-box">
                                                        <input type="text" class="form-control search bg-light border-light" placeholder="Search Property Name or something...">
                                                        <i class="ri-search-line search-icon"></i>
                                                    </div>
                                                </div>
                                                <!--end col-->

                                                <div class="col-xxl-3 col-sm-4">
                                                    <input type="text" class="form-control bg-light border-light" data-provider="flatpickr" data-date-format="d M, Y" data-range-date="true" id="demo-datepicker" placeholder="Select date range">
                                                </div>
                                                <!--end col-->

                                                <div class="col-xxl-3 col-sm-4">
                                                    <div class="input-light">
                                                        <select class="form-select" data-choices data-choices-search-false name="choices-single-default" id="idStatus">
                                                            <option value="all" selected>All</option>
                                                            <option value="Booked">Booked</option>
                                                            <option value="Reschedule">Reschedule</option>
                                                            <option value="Canceled">Canceled</option>
                                                            <option value="Done">Done</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <!--end col-->
                                                
                                                <div class="col-xxl-2 col-sm-4">
                                                    <button type="button" class="btn btn-primary w-100" onclick="SearchData();">
                                                        Search
                                                    </button>
                                                </div>
                                                <!--end col-->
                                            </div>
                                            <!--end row-->
                                        </form>
                                    </div>
                                    <!--end card-body-->
                                    <div class="card-body">
                                        <div class="table-responsive table-card mb-4">
                                            <table class="table align-middle table-nowrap mb-0" id="ticketTable">
                                                <thead>
                                                    <tr>
                                                        <th scope="col" style="width: 40px;">
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox" id="checkAll" value="option">
                                                            </div>
                                                        </th>
                                                        <th class="sort" data-sort="id">Sr No</th>
                                                        <th class="sort" data-sort="property_id">Property ID</th>
                                                        <th class="sort" data-sort="property_name">Property Name</th>
                                                        <th class="sort" data-sort="date">Date</th>
                                                        <th class="sort" data-sort="time">Time Slot</th>
                                                        <th class="sort" data-sort="status">Status</th>
                                                        <th class="sort" data-sort="manager_name">Relationship Manager Name</th>
                                                        <th class="sort" data-sort="action">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="list form-check-all" id="ticket-list-data">
                                                    {% for visit in site_visits %}
                                                    <tr>
                                                        <th scope="row">
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox" name="checkAll" value="option1">
                                                            </div>
                                                        </th>
                                                        <td class="id"><a href="javascript:void(0);" onclick="ViewTickets(this)" data-id="001" class="fw-medium link-primary">{{ forloop.counter }}</a></td>
                                                        <td class="property_id">{{ visit.property_id }}</td>
                                                        <td class="property_name">{{ visit.property_name }}</td>
                                                        <td class="date">{{ visit.visit_date }}</td>
                                                        <td class="time">{{ visit.visit_time }}</td>
                                                        <td class="status">
                                                            {% if visit.status == 1 %}
                                                            <span class="text-info">Booked</span>
                                                            {% elif visit.status == 2 %}
                                                            <span class="text-info">Start Visit</span>
                                                            {% elif visit.status == 6  %}
                                                            <span class="text-danger">Cancelled</span>
                                                            {% elif visit.status == 7 %}
                                                            <span class="text-danger">Cancelled by Admin</span>
                                                            {% elif visit.status == 8  %}
                                                            <span class="text-danger">Cancelled by Employee</span>
                                                            {% elif visit.status == 9 %}
                                                            <span class="text-primary">Deal Accept</span>
                                                            {% elif visit.status == 10 %}
                                                            <span class="text-success">Done Site Visit</span>
                                                            {% else %}
                                                            <span class="text-danger">Pending</span>
                                                            {% endif %}
                                                        </td>
                                                        <td class="manager_name">
                                                            {% if visit.rm_name %}
                                                            {{ visit.rm_name|default_if_none:"" }}
                                                            {% endif %}
                                                        </td>
                                                        <td class="action">
                                                            <button class="btn btn-sm btn-info" data-bs-toggle="modal" data-bs-target="#showRescheduleModal{{visit.property_id}}">Reschedule</button>
                                                            {% if visit.status == 6 or visit.status == 7 or visit.status == 8 %}
                                                            
                                                            {% else %}
                                                            <button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#showCancelModal{{visit.property_id}}">Cancel</button>
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                            <div class="noresult" style="display: none">
                                                <div class="text-center">
                                                    <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop" colors="primary:#121331,secondary:#08a88a" style="width:75px;height:75px"></lord-icon>
                                                    <h5 class="mt-2">Sorry! No Result Found</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-end mt-2">
                                            <div class="pagination-wrap hstack gap-2">
                                                <a class="page-item pagination-prev disabled" href="#">
                                                    Previous
                                                </a>
                                                <ul class="pagination listjs-pagination mb-0"></ul>
                                                <a class="page-item pagination-next" href="#">
                                                    Next
                                                </a>
                                            </div>
                                        </div>                   
                                        
                                    </div>
                                    <!--end card-body-->
                                </div>
                                <!--end card-->
                            </div>
                            <!--end col-->
                        </div>
                        <!--end row-->
                    </div>
                    <div class="tab-pane" id="deal" role="tabpanel">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card" id="ticketsList">
                                    <div class="card-body">
                                        <form>
                                            <div class="row g-3">
                                                <div class="col-xxl-10 col-sm-8">
                                                    <div class="search-box">
                                                        <input type="text" class="form-control search bg-light border-light" placeholder="Search Property Name or something...">
                                                        <i class="ri-search-line search-icon"></i>
                                                    </div>
                                                </div>
                                                <!--end col-->
                                                
                                                <div class="col-xxl-2 col-sm-4">
                                                    <button type="button" class="btn btn-primary w-100" onclick="SearchData();">
                                                        Search
                                                    </button>
                                                </div>
                                                <!--end col-->
                                            </div>
                                            <!--end row-->
                                        </form>
                                    </div>
                                    <!--end card-body-->
                                    <div class="card-body">
                                        <div class="table-responsive table-card mb-4">
                                            <table class="table align-middle table-nowrap mb-0" id="ticketTable">
                                                <thead>
                                                    <tr>
                                                        <th scope="col" style="width: 40px;">
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox" id="checkAll" value="option">
                                                            </div>
                                                        </th>
                                                        <th class="sort" data-sort="id">Sr No</th>
                                                        <th class="sort" data-sort="property_name">Property Name</th>
                                                        <th class="sort" data-sort="price">Price</th>
                                                        <th class="sort" data-sort="negotiated_price">Realezi Negotiated Price</th>
                                                        <th class="sort" data-sort="offers">Offers</th>
                                                        <th class="sort" data-sort="offers_valid">Offer Valid Till</th>
                                                        <th class="sort" data-sort="status">Status</th>
                                                        <th class="sort" data-sort="action">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="list form-check-all" id="ticket-list-data">
                                                    <tr>
                                                        <th scope="row">
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox" name="checkAll" value="option1">
                                                            </div>
                                                        </th>
                                                        <td class="id"><a href="javascript:void(0);" onclick="ViewTickets(this)" data-id="001" class="fw-medium link-primary">#01</a></td>
                                                        <td class="property_name">XYZ</td>
                                                        <td class="price">2000000</td>
                                                        <td class="negotiated_price">1900000</td>
                                                        <td class="offers">20% Discount</td>
                                                        <td class="offers_valid">08 Dec, 2021</td>
                                                        <td class="status">Negotiation</td>
                                                        <td class="action"><a><button class="btn btn-sm btn-primary">Accept Offer</button></a></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="noresult" style="display: none">
                                                <div class="text-center">
                                                    <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop" colors="primary:#121331,secondary:#08a88a" style="width:75px;height:75px"></lord-icon>
                                                    <h5 class="mt-2">Sorry! No Result Found</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-end mt-2">
                                            <div class="pagination-wrap hstack gap-2">
                                                <a class="page-item pagination-prev disabled" href="#">
                                                    Previous
                                                </a>
                                                <ul class="pagination listjs-pagination mb-0"></ul>
                                                <a class="page-item pagination-next" href="#">
                                                    Next
                                                </a>
                                            </div>
                                        </div>                   
                                        
                                    </div>
                                    <!--end card-body-->
                                </div>
                                <!--end card-->
                            </div>
                            <!--end col-->
                        </div>
                        <!--end row-->
                    </div>
                </div>
            </div><!-- end card-body -->
        </div><!-- end card -->
    </div>
    <!--end col-->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            function activateTab(tabId) {
                const tabTrigger = document.querySelector(`[href="#${tabId}"]`);
                if (tabTrigger) {
                    new bootstrap.Tab(tabTrigger).show();
                }
            }
        
            const urlParams = new URLSearchParams(window.location.search);
            const activeTab = urlParams.get('tab');
        
            if (activeTab) {
                activateTab(activeTab);
            }
        });
    </script>

    {% for property in properties %}
    <div class="modal fade zoomIn" id="showModal{{property.property_id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content border-0">
                <div class="modal-header p-3 bg-info-subtle">
                    <h5 class="modal-title">Schedule Visit</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
                </div>
                <form action="{% url 'schedule-visit' %}" method="post" class="tablelist-form" autocomplete="off">
                    {% csrf_token %}
                    <input type="hidden" name="property_id" value="{{ property.property_id }}">
                    <input type="hidden" name="action" value="schedule">
                    <div class="modal-body">
                        <div class="row g-3">
                            <div class="col-lg-12">
                                <label for="persons" class="form-label">Number Of persons</label>
                                <input type="number" class="form-control" id="persons" placeholder="Enter Number Of persons">
                            </div>
                            <div class="col-lg-12">
                                <label for="visitDate{{ property.property_id }}" class="form-label">Schedule Visit Date</label>
                                <input type="date" class="form-control visit-date" id="visitDate{{ property.property_id }}" name="visit_date" min="{{ date.today|date:'Y-m-d' }}" onchange="updateDayOfWeek('{{ property.property_id }}')">
                            </div>
                            <input type="text" name="day_of_week" id="day_of_week{{ property.property_id }}" value="" hidden>
                            <div class="col-lg-12">
                                <label for="availableTimeSlots{{ property.property_id }}" class="form-label">Available Time Slots</label>
                                <select id="visitTime{{ property.property_id }}" class="form-select" name="visit_time">
                                    <option value="" selected>Schedule Your Time For Visit</option>
                                    <!-- Options will be dynamically filled based on available slots -->
                                </select>
                            </div>
                            <div class="hstack gap-2 justify-content-end">
                                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-success" id="add-btn">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const today = new Date().toISOString().split('T')[0]; // Get current date in YYYY-MM-DD format
            
            // Set the minimum date for all date inputs
            const visitDateInputs = document.querySelectorAll('.visit-date');
            visitDateInputs.forEach(input => {
                input.setAttribute('min', today);
            });
        });

        function updateDayOfWeek(propertyId) {
            // Get the selected date value
            var dateInput = document.getElementById('visitDate' + propertyId);
            var selectedDate = new Date(dateInput.value);

            // Check if the selectedDate is valid
            if (isNaN(selectedDate.getTime())) {
                return; // If not valid, do nothing
            }

            // Get the day of the week (0 = Sunday, 1 = Monday, ..., 6 = Saturday)
            var daysOfWeek = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
            var dayOfWeek = daysOfWeek[selectedDate.getDay()];

            // Set the value of the hidden input field
            var hiddenInput = document.getElementById('day_of_week' + propertyId);
            hiddenInput.value = dayOfWeek;

            // Fetch available time slots via AJAX
            fetchTimeSlots(propertyId, dayOfWeek);
        }

        function fetchTimeSlots(propertyId, dayOfWeek) {
            var url = "{% url 'schedule-visit' %}";
            var formData = new FormData();
            formData.append('day_of_week', dayOfWeek);
            formData.append('property_id', propertyId);
            formData.append('action', 'fetch_slots'); // This differentiates the action

            fetch(url, {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
                }
            })
            .then(response => response.json())
            .then(data => {
                updateAvailableTimeSlots(propertyId, data.time_slots);
            });
        }

        function updateAvailableTimeSlots(propertyId, timeSlots) {
            var selectElement = document.getElementById('visitTime' + propertyId);
            selectElement.innerHTML = '<option value="" selected>Schedule Your Time For Visit</option>'; // Reset options
        
            timeSlots.forEach(slot => {
                var fromTime = slot.from_time;
                var toTime = slot.to_time;
                var hourGap = 1;
        
                while (true) {
                    var nextTime = addHours(fromTime, hourGap);
                    if (nextTime > toTime) {
                        break;
                    }
        
                    var option = document.createElement('option');
                    option.value = `${fromTime} - ${nextTime}`;
                    option.textContent = `${fromTime} - ${nextTime}`;
                    selectElement.appendChild(option);
        
                    fromTime = nextTime;
                }
            });
        }
        
        function addHours(time, hours) {
            var timeParts = time.split(' ');
            var timePart = timeParts[0].split(':');
            var hour = parseInt(timePart[0]);
            var ampm = timeParts[1];
        
            // Convert to 24-hour format for easier manipulation
            if (ampm === 'PM' && hour !== 12) {
                hour += 12;
            }
            if (ampm === 'AM' && hour === 12) {
                hour = 0;
            }
        
            // Add the hours
            hour += hours;
        
            // Convert back to 12-hour format
            ampm = hour >= 12 ? 'PM' : 'AM';
            hour = hour % 12 || 12;
        
            return `${hour} ${ampm}`;
        }
        
    </script>

    {% for visit in site_visits %}
    <div class="modal fade zoomIn" id="showRescheduleModal{{visit.property_id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content border-0">
                <div class="modal-header p-3 bg-info-subtle">
                    <h5 class="modal-title">Schedule Visit</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
                </div>
                <form action="{% url "schedule-visit" %}" method="post" class="tablelist-form" autocomplete="off">
                    {% csrf_token %}
                    <input type="hidden" name="property_id" value="{{ visit.property_id }}">
                    <input type="hidden" name="action" value="reschedule">
                    <div class="modal-body">
                        <div class="row g-3">
                            <div class="col-lg-12">
                                <label for="persons" class="form-label">Number Of persons</label>
                                <input type="number" class="form-control" id="persons" placeholder="Enter Number Of persons">
                            </div>
                            <div class="col-lg-12">
                                <label for="RevisitDate" class="form-label">Schedule Visit Date</label>
                                <input type="date" class="form-control visit-date" id="RevisitDate" name="visit_date" min="{{ date.today|date:'Y-m-d' }}">
                            </div>
                            <div class="col-lg-12">
                                <label for="visitTime" class="form-label">Schedule Visit Time</label>
                                <select id="visitTime" class="form-select" name="visit_time">
                                    <option value="" selected>Schedule Your Time For Visit</option>
                                    <option value="9am - 11am">9am - 11am</option>
                                    <option value="11am - 1pm">11am - 1pm</option>
                                    <option value="1pm - 3pm">1pm - 3pm</option>
                                    <option value="3pm - 5pm">3pm - 5pm</option>
                                    <option value="5pm - 7pm">5pm - 7pm</option>
                                    <option value="7pm - 9pm">7pm - 9pm</option>
                                </select>
                            </div>
                            <div class="hstack gap-2 justify-content-end">
                                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-success" id="add-btn">Submit</button>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const visitDateInput = document.getElementById('RevisitDate');
            const today = new Date().toISOString().split('T')[0]; // Get current date in YYYY-MM-DD format
            
            // Set the min attribute of the input to today
            visitDateInput.setAttribute('min', today);
        });
    </script>

    {% for visit in site_visits %}
    <div class="modal fade zoomIn" id="showCancelModal{{visit.property_id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content border-0">
                <div class="modal-header p-3 bg-info-subtle">
                    <h5 class="modal-title">Reason for Cancel Site Visit</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
                </div>
                <form action="{% url "buyer-cancel-site-visit" %}" method="post" class="tablelist-form" autocomplete="off">
                    {% csrf_token %}
                    <input type="hidden" name="property_id" value="{{ visit.property_id }}">
                    <div class="modal-body">
                        <div class="row g-3">
                            <div class="col-lg-12">
                                <textarea class="form-control" placeholder="Enter Your Reason" id="buyer_note" rows="5" name="buyer_note"></textarea>
                            </div>
                            <div class="hstack gap-2 justify-content-end">
                                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary" id="add-btn">Submit</button>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}

    <!-- Modal -->
    <div class="modal fade flip" id="deleteOrder" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body p-5 text-center">
                    <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop" colors="primary:#405189,secondary:#f06548" style="width:90px;height:90px"></lord-icon>
                    <div class="mt-4 text-center">
                        <h4>You are about to delete a order ?</h4>
                        <p class="text-muted fs-14 mb-4">Deleting your order will remove all of your information from our database.</p>
                        <div class="hstack gap-2 justify-content-center remove">
                            <button class="btn btn-link link-success fw-medium text-decoration-none" id="deleteRecord-close" data-bs-dismiss="modal"><i class="ri-close-line me-1 align-middle"></i> Close</button>
                            <button class="btn btn-danger" id="delete-record">Yes, Delete It</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end modal -->

{% endblock content %}