{% extends "buyerpanel/base.html" %}
{% load static %}
{% block content %}

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between bg-galaxy-transparent">
                <h4 class="mb-sm-0">Profile Details</h4>

                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Home</a></li>
                        <li class="breadcrumb-item active">Profile Details</li>
                    </ol>
                </div>

            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="col-xxl-12">
        <div class="card">
            <div class="card-body">
                <ul class="nav nav-pills arrow-navtabs nav-primary bg-light mb-3" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link {% if active_tab == 'personalDetails' %}active{% endif %}" data-bs-toggle="tab" href="#personal-details" role="tab">
                            <span class="d-none d-sm-block">Personal Details</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if active_tab == 'agreement' %}active{% endif %}" data-bs-toggle="tab" href="#agreement" role="tab">
                            <span class="d-none d-sm-block">Reseller Agreement</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#change-password" role="tab">
                            <span class="d-none d-sm-block">Change Password</span>
                        </a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content text-muted">
                    <div class="tab-pane {% if active_tab == 'personalDetails' %}active{% endif %}" id="personal-details" role="tabpanel">
                        <div class="live-preview">
                            <form action="{% url "buyer-profile" %}" method="POST" class="row g-3">
                                {% csrf_token %}
                                <input type="hidden" name="tab" value="personalDetails">
                                <div class="col-md-12">
                                    <label for="personal_name" class="form-label">Your Name*</label>
                                    <input type="text" class="form-control" id="personal_name" placeholder="Enter your name" name="personal_name" value="{{ user_details.personal_name|default_if_none:'' }}">
                                </div>
                                <div class="col-md-6">
                                    <label for="dateOfBirth" class="form-label">Date of Birth*</label>
                                    <input type="date" class="form-control" id="dateOfBirth" name="date_of_birth" value="{{user_details.date_of_birth|date:'Y-m-d'}}">
                                </div>
                                <div class="col-md-4">
                                    <label for="city" class="form-label">City*</label>
                                    <input type="text" class="form-control" id="city" placeholder="Enter your city" name="city" value="{{user_details.city|default_if_none:''}}">
                                </div>
                                <div class="col-md-2">
                                    <label for="pin_code" class="form-label">Pin Code*</label>
                                    <input type="number" class="form-control" id="pin_code" placeholder="Enter Pin code" name="pin_code" value="{{user_details.pin_code|default_if_none:''}}">
                                </div>
                                <div class="col-md-12">
                                    <label for="inputZip" class="form-label">Languages*</label>
                                    <div class="mt-4 mt-lg-0">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" name="language" id="English" value="English" {% if 'English' in user_details.language %}checked{% endif %}>
                                            <label class="form-check-label" for="English">English</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" name="language" id="Hindi" value="Hindi" {% if 'Hindi' in user_details.language %}checked{% endif %}>
                                            <label class="form-check-label" for="Hindi">Hindi</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" name="language" id="Gujarati" value="Gujarati" {% if 'Gujarati' in user_details.language %}checked{% endif %}>
                                            <label class="form-check-label" for="Gujarati">Gujarati</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="inputEmail4" class="form-label">Email Address*</label>
                                    <input type="email" class="form-control" id="inputEmail4" placeholder="Email Email ID" name="personal_email" value="{{ user_details.personal_email|default_if_none:'' }}">
                                </div>
                                <div class="col-md-6">
                                    <label for="inputPassword4" class="form-label">Phone Number*</label>
                                    <input type="tel" minlength="10" maxlength="10" class="form-control" id="inputNumber4" placeholder="Enter Phone Number" name="personal_phoneno" value="{{ user_details.personal_phoneno|default_if_none:'' }}">
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="tab-pane {% if active_tab == 'agreement' %}active{% endif %}" id="agreement" role="tabpanel">
                        <div class="live-preview">
                            <form action="{% url "buyer-profile" %}" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="hidden" name="tab" value="agreement">
                                <div class="mb-3">
                                    <div class="text-start">
                                        <a href="{% static 'RESELLER’S AGREEMENT.pdf' %}" download="RESELLER’S AGREEMENT.pdf" class="btn btn-primary">Download Agreement</a>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="signed_agreement" class="form-label">Upload Signed Agreement</label>
                                    <input class="form-control mb-2" type="file" id="signed_agreement" name="signed_agreement">
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="tab-pane" id="change-password" role="tabpanel">
                        <div class="live-preview">
                            <form action="{% url "buyer-profile" %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="tab" value="changePassword">
                                <div class="mb-3">
                                    <label class="form-label" for="old_password">Old Password*</label>
                                    <input type="password" class="form-control" id="old_password" name="old_password" placeholder="Enter Old Password">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="new_password">New Password*</label>
                                    <input type="password" class="form-control" id="new_password" name="new_password" placeholder="Enter New Password">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="confirm_password">Confirm New Password*</label>
                                    <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Enter Confirm New Password">
                                </div>
                                <div class="d-flex align-items-start gap-3 mt-4">
                                    <button type="submit" class="btn btn-primary">Change Password</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div><!-- end card-body -->
        </div><!-- end card -->
    </div>
    <!--end col-->

{% endblock content %}