{% extends "buyerpanel/base.html" %}
{% load static %}
{% block content %}

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between bg-galaxy-transparent">
                <h4 class="mb-sm-0">My Property</h4>

                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Home</a></li>
                        <li class="breadcrumb-item active">My Property</li>
                    </ol>
                </div>

            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <table id="fixed-header" class="table table-bordered dt-responsive nowrap table-striped align-middle" style="width:100%">
                        <thead>
                            <tr>
                                <th>Sr No</th>
                                <th>Property ID</th>
                                <th>Property Name</th>
                                <th>Price</th>             
                                <th>Site Visit</th>
                                <th>Total Visit</th>
                                <th>Date of Posting</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for property in properties %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ property.property_unique_id }}</td>
                                <td>{{ property.name }}</td>
                                <td>{{ property.price }}</td>
                                <td>{{ property.site_visits|default_if_none:0 }}</td>
                                <td>00</td>
                                <td>{{ property.created_date|default_if_none:'' }}</td>
                                <td>
                                    {% if property.is_active %}
                                        <span>Active</span>
                                    {% else %}
                                        <span class="text-danger">Under Review</span>
                                    {% endif %}
                                </td>
                                <td>
                                    <div class="d-flex gap-4">
                                        <div class="dropdown d-inline-block">
                                            <button class="btn btn-subtle-secondary btn-sm dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="ri-more-fill align-middle"></i>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-end">
                                                <li><a href="{% url 'propertydetails' property.property_unique_id %}" class="dropdown-item"><i class="ri-eye-fill align-bottom me-2 text-muted"></i> View</a></li>
                                                <li><a href="{% url 'edit_property' property.property_unique_id %}" class="dropdown-item edit-item-btn"><i class="ri-pencil-fill align-bottom me-2 text-muted"></i> Edit</a></li>
                                                <li><a href="#removePropertytModal" class="dropdown-item remove-item-btn" data-bs-toggle="modal" data-bs-target="#removePropertytModal{{property.property_unique_id}}"><i class="ri-delete-bin-fill align-bottom me-2 text-muted"></i> Delete</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="flex-shrink-0 mt-1">
                                            <form action="{% url 'buyer-property-status' property.property_unique_id  %}" method="post">
                                                {% csrf_token %}
                                                <div class="form-check form-switch form-switch-right form-switch-md">
                                                    <input class="form-check-input code-switcher" type="checkbox"  id="checkbox{{ property.property_unique_id }}" {% if property.is_active %}checked{% endif %} onchange="this.form.submit()">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div><!--end row-->
    {% for property in properties %}
    <!-- removeProjectModal -->
    <div id="removePropertytModal{{property.property_unique_id}}" class="modal fade zoomIn" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
                </div>
                <div class="modal-body">
                    <div class="mt-2 text-center">
                        <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop" colors="primary:#f7b84b,secondary:#f06548" style="width:100px;height:100px"></lord-icon>
                        <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
                            <h4>Are you Sure ?</h4>
                            <p class="text-muted mx-4 mb-0">Are you Sure You want to Remove this Property ?</p>
                        </div>
                    </div>
                    <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                        <button type="button" class="btn w-sm btn-light" data-bs-dismiss="modal">Close</button>
                        <a href="{% url 'buyer-property-delete' property.property_unique_id %}"><button type="button" class="btn w-sm btn-danger" id="remove-project">Yes, Delete It!</button></a>
                    </div>
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    {% endfor %}

{% endblock content %}