{% extends "buyerpanel/base.html" %}
{% load static %}
{% block content %}

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between bg-galaxy-transparent">
                <h4 class="mb-sm-0">Refer & Earn</h4>

                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Home</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Refer & Earn</a></li>
                    </ol>
                </div>

            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-lg-4">
            <div class="card card-height-100">
                <div class="card-body p-0">
                    <div class="border-start p-4 h-100 d-flex flex-column">
                        <div class="w-100">
                            <div class="d-flex align-items-center mt-3">
                                <img src="https://img.themesbrand.com/velzon/images/img-2.gif" class="img-fluid avatar-xs rounded-circle object-fit-cover" alt="">
                                <div class="ms-3 flex-grow-1">
                                    <h5 class="fs-16 mb-1">My Earning</h5>
                                </div>
                            </div>

                            <h3 class="ff-secondary fw-bold mt-4 cfs-22">₹ 346.12</h3>

                            <p class="text-muted">Each time you suggest a property, you're not just helping others find their dream home—you're also earning rewards for yourself. Start sharing more properties and watch your earnings grow!</p>

                            <div class="d-flex align-items-end justify-content-between mt-4">
                                <div>
                                    <p class="fs-14 text-muted mb-1">Last Month</p>
                                    <h4 class="fs-20 ff-secondary fw-semibold mb-0">₹ 342.74</h4>
                                </div>

                                <div>
                                    <p class="fs-14 text-muted mb-1">Current Month</p>
                                    <h4 class="fs-20 ff-secondary fw-semibold mb-0">₹ 346.67</h4>
                                </div>
                            </div>

                            <div class="row mt-4 pt-2">
                                <div class="col">
                                    <a href="apps-nft-item-details.html" class="btn btn-primary w-100">View Details</a>
                                </div>
                                <div class="col">
                                    <button class="btn btn-primary w-100">Bid Now</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end col-->

        <div class="col-lg-8">
            <div class="card card-height-100">
                <div class="card-body">
                    <form action="">
                        <div class="col-md-12 mb-3">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Enter Your Name">                                        
                        </div>
                        <div class="col-md-12 mb-3">
                            <label for="emailID" class="form-label">Email ID</label>
                            <input type="email" class="form-control" id="emailID" placeholder="Enter Your Email ID">                                        
                        </div>
                        <div class="col-md-12 mb-3">
                            <label for="contactNumber" class="form-label">Contact Number</label>
                            <input type="tel" minlength="10" maxlength="10" class="form-control" id="contactNumber" placeholder="Enter Your Contact Number">                                        
                        </div>
                        <div class="col-md-12 mb-3">
                            <label for="description" class="form-label">Description</label>
                            <textarea class="form-control" id="description" rows="3" placeholder="Enter Short Description"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>                                        
                    </form>
                </div>
            </div>
        </div>
        <!--end col-->
    </div><!--end row-->

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <table id="example" class="table table-bordered dt-responsive nowrap table-striped align-middle" style="width:100%">
                        <thead>
                            <tr>
                                <th scope="col" style="width: 10px;">
                                    <div class="form-check">
                                        <input class="form-check-input fs-15" type="checkbox" id="checkAll" value="option">
                                    </div>
                                </th>
                                <th>Sr No.</th>
                                <th>Name</th>
                                <th>Email ID</th>
                                <th>Mobile No.</th>
                                <th>Referred Data</th>
                                <th>Earnings</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">
                                    <div class="form-check">
                                        <input class="form-check-input fs-15" type="checkbox" name="checkAll" value="option1">
                                    </div>
                                </th>
                                <td>01</td>
                                <td>XYZ</td>
                                <td>xyz12@gmail.com</td>
                                <td>1234567890</td>
                                <td>abcde</td>
                                <td>10000</td>
                                <td><span class="badge bg-info-subtle text-info">Active</span></td>
                                <td>
                                    <div class="dropdown d-inline-block">
                                        <button class="btn btn-soft-primary btn-sm dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="ri-more-fill align-middle"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end">
                                            <li><a href="#!" class="dropdown-item"><i class="ri-eye-fill align-bottom me-2 text-muted"></i> View</a></li>
                                            <li><a class="dropdown-item edit-item-btn"><i class="ri-pencil-fill align-bottom me-2 text-muted"></i> Edit</a></li>
                                            <li><a class="dropdown-item remove-item-btn"><i class="ri-delete-bin-fill align-bottom me-2 text-muted"></i> Delete</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div><!--end col-->
    </div><!--end row-->

{% endblock content %}