{% extends "buyerpanel/base.html" %}
{% load static %}
{% block content %}

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between bg-galaxy-transparent">
                <h4 class="mb-sm-0">Schedule</h4>

                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Home</a></li>
                        <li class="breadcrumb-item active">Schedule</li>
                    </ol>
                </div>

            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="col-xxl-12">
        <div class="card">
            <div class="card-body">
                <div class="live-preview">
                    <form action="javascript:void(0);" class="row g-3">
                        <div class="col-md-7">
                            <label for="persons" class="form-label">Number Of persons</label>
                            <input type="number" class="form-control" id="persons" placeholder="Enter Number Of persons">
                        </div>
                        <div class="col-md-7">
                            <label for="visitDate" class="form-label">Schedule Visit Date</label>
                            <input type="date" class="form-control" id="visitDate">
                        </div>
                        <div class="col-lg-7">
                            <label for="visitTime" class="form-label">Schedule Visit Time</label>
                            <select name="" id="" class="form-select">
                                <option value="" selected>Schedule Your Time For Visit</option>
                                <option value="">9am - 11am</option>
                                <option value="">11am - 1pm</option>
                                <option value="">1pm - 3pm</option>
                                <option value="">3pm - 5pm</option>
                                <option value="">5pm - 7pm</option>
                                <option value="">7pm - 9pm</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                    <div class="result" id="emiResult"></div>
                </div>
            </div><!-- end card-body -->
        </div><!-- end card -->
    </div>
    <!--end col-->

{% endblock content %}