{% extends "buyerpanel/base.html" %}
{% load static %}
{% block content %}

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                <h4 class="mb-sm-0">Welcome, <span style="font-size:20px"><b>{{ user_details.name }}</b></span></h4>
                
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                    <div>
                        <div class="row justify-content-center">
                            <div class="col-lg-5">
                                <div class="text-center mt-4 mb-5">
                                    <div class="py-3 px-2 d-inline-block" id="logo-tour">
                                        <h1 class="card-logo card-logo-dark">Realezi</h1>
                                        <h1 class="card-logo card-logo-light">Realezi</h1>
                                    </div>
                                </div>
                            </div>
                            <!-- end col -->
                        </div>
                        <!-- end row -->

                        <div class="row justify-content-center">
                            <div class="col-xxl-9 col-lg-10 col-sm-8">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <a href="{% url 'buyer-profile' %}"><div class="card border shadow-none material-shadow">
                                            <div class="card-body text-center">
                                                <div class="avatar-md mx-auto mb-4" id="register-tour">
                                                    <div class="avatar-title bg-light rounded-circle text-primary fs-24 material-shadow">
                                                        <i class="ri-user-shared-line"></i>
                                                    </div>
                                                </div>
                                                <h5>Complete Profile</h5>
                                                <p class="text-muted mb-0">Complate your profile and get verified.</p>
                                            </div>
                                        </div></a>
                                    </div>
                                    <!-- end col -->
                                    <div class="col-lg-4">
                                        <a href="{% url 'front-subscription' %}"><div class="card border shadow-none material-shadow">
                                            <div class="card-body text-center">
                                                <div class="avatar-md mx-auto mb-4" id="login-tour">
                                                    <div class="avatar-title bg-light rounded-circle text-primary fs-24 material-shadow">
                                                        <i class="ri-edit-box-line"></i>
                                                    </div>
                                                </div>
                                                <h5>Subcription</h5>
                                                <p class="text-muted mb-0">Get subcription plan.</p>
                                            </div>
                                        </div></a>
                                    </div>
                                    <!-- end col -->
                                    <div class="col-lg-4">
                                        <div class="card border shadow-none material-shadow">
                                            <div class="card-body text-center">
                                                <div class="avatar-md mx-auto mb-4" id="getproduct-tour">
                                                    <div class="avatar-title bg-light rounded-circle text-primary fs-24 material-shadow">
                                                        <i class="ri-file-download-line"></i>
                                                    </div>
                                                </div>
                                                <h5>Post Property</h5>
                                                <p class="text-muted mb-0">Post your property.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end col -->
                                </div>
                                <!-- end row -->
                            </div>
                            <!-- end col -->
                        </div>
                        <!-- end row -->

                        <div class="text-center my-4">
                            <button class="btn btn-success" id="thankyou-tour">Thank you !</button>
                        </div>
                    </div>
                </div><!-- end card-body -->
            </div><!-- end card -->
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->


{% endblock content %}