{% extends "buyerpanel/base.html" %}
{% load static %}
{% block content %}

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between bg-galaxy-transparent">
                <h4 class="mb-sm-0">Services</h4>

                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Home</a></li>
                        <li class="breadcrumb-item active">Services</li>
                    </ol>
                </div>

            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-sm-6 col-xl-3">
            <div class="card card-height-100 card-animate">
                <img class="card-img-top img-fluid" src="{% static "buyerpanel/assets/images/service/home-loan.jpg" %}" alt="Card image cap" style="height: 200px;">
                <div class="card-body">
                    <h4 class="card-title mb-2">Home Loan</h4>
                </div>
                <div class="card-footer">
                    <a href="javascript:void(0);" class="card-link link-secondary">Read More <i class="ri-arrow-right-s-line ms-1 align-middle lh-1"></i></a>
                </div>
            </div><!-- end card -->
        </div><!-- end col -->
        <div class="col-sm-6 col-xl-3">
            <div class="card card-height-100 card-animate">
                <img class="card-img-top img-fluid" src="{% static "buyerpanel/assets/images/service/solar-energy.jpg" %}" alt="Card image cap"  style="height: 200px;">
                <div class="card-body">
                    <h4 class="card-title mb-2">Solar Panels</h4>
                </div>
                <div class="card-footer">
                    <a href="javascript:void(0);" class="card-link link-secondary">Read More <i class="ri-arrow-right-s-line ms-1 align-middle lh-1"></i></a>
                </div>
            </div><!-- end card -->
        </div><!-- end col -->
        <div class="col-sm-6 col-xl-3">
            <div class="card card-height-100 card-animate">
                <img class="card-img-top img-fluid" src="{% static "buyerpanel/assets/images/service/architects.jpg" %}" alt="Card image cap" style="height: 200px;">
                <div class="card-body">
                    <h4 class="card-title mb-2">Architects</h4>
                </div>
                <div class="card-footer">
                    <a href="javascript:void(0);" class="card-link link-secondary">Read More <i class="ri-arrow-right-s-line ms-1 align-middle lh-1"></i></a>
                </div>
            </div><!-- end card -->
        </div><!-- end col -->
        <div class="col-sm-6 col-xl-3">
            <div class="card card-height-100 card-animate">
                <img class="card-img-top img-fluid" src="{% static "buyerpanel/assets/images/service/interior_designing .jpg" %}" alt="Card image cap"  style="height: 200px;">
                <div class="card-body">
                    <h4 class="card-title mb-2">Interior Designing</h4>
                </div>
                <div class="card-footer">
                    <a href="javascript:void(0);" class="card-link link-secondary">Read More <i class="ri-arrow-right-s-line ms-1 align-middle lh-1"></i></a>
                </div>
            </div><!-- end card -->
        </div><!-- end col -->
        <div class="col-sm-6 col-xl-3">
            <div class="card card-height-100 card-animate">
                <img class="card-img-top img-fluid" src="{% static "buyerpanel/assets/images/service/Legal_Aid.jpg" %}" alt="Card image cap"  style="height: 200px;">
                <div class="card-body">
                    <h4 class="card-title mb-2">Legal Aid</h4>
                </div>
                <div class="card-footer">
                    <a href="javascript:void(0);" class="card-link link-secondary">Read More <i class="ri-arrow-right-s-line ms-1 align-middle lh-1"></i></a>
                </div>
            </div><!-- end card -->
        </div><!-- end col -->
        <div class="col-sm-6 col-xl-3">
            <div class="card card-height-100 card-animate">
                <img class="card-img-top img-fluid" src="{% static "buyerpanel/assets/images/service/Kiranevala.jpg" %}" alt="Card image cap"  style="height: 200px;">
                <div class="card-body">
                    <h4 class="card-title mb-2">Kiranewala</h4>
                </div>
                <div class="card-footer">
                    <a href="javascript:void(0);" class="card-link link-secondary">Read More <i class="ri-arrow-right-s-line ms-1 align-middle lh-1"></i></a>
                </div>
            </div><!-- end card -->
        </div><!-- end col -->
        <div class="col-sm-6 col-xl-3">
            <div class="card card-height-100 card-animate">
                <img class="card-img-top img-fluid" src="{% static "buyerpanel/assets/images/service/packers-and-movers.jpg" %}" alt="Card image cap"  style="height: 200px;">
                <div class="card-body">
                    <h4 class="card-title mb-2">Movers and Packers</h4>
                </div>
                <div class="card-footer">
                    <a href="javascript:void(0);" class="card-link link-secondary">Read More <i class="ri-arrow-right-s-line ms-1 align-middle lh-1"></i></a>
                </div>
            </div><!-- end card -->
        </div><!-- end col -->
    </div><!-- end row -->

{% endblock content %}