* {
  font-family: "Familjen Grotesk", sans-serif;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

main {
  position: relative;
  margin-top: 100px;
}

header {
  top: 0;
  position: fixed;
  width: 100%;
  height: 55px;
  background-color: #111f3c;
  border-radius: 0px 0px 20px 20px;
  z-index: 1000;
}

header .large-screen-navbar {
  padding: 10px 60px;
  position: relative;
  z-index: 200;
}

.header-logo {
  margin-right: 70px;
}

header li a {
  margin-right: 50px;
  color: #fff !important;
  transition: color 0.5s ease;
}

header li a:hover {
  color: #ec7100 !important;
}

header ul {
  margin-bottom: 0px;
}

.post-btn {
  background-color: #111f3c;
  color: white;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 4px 15px;
  font-size: 0.85rem;

  &:hover {
    background-color: #fff;
    color: #001b4b;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
}

#checkbox {
  display: none;
}

.toggle {
  position: relative;
  width: 25px;
  height: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  transition-duration: 0.3s;
}

.bars {
  width: 100%;
  height: 2px;
  background-color: rgb(253, 255, 243);
  border-radius: 5px;
  transition-duration: 0.3s;
}

#bar4,
#bar5 {
  display: none;
}

#checkbox:checked + .toggle #bar4 {
  display: flex;
  transform: translateY(10px) translateX(4px) rotate(25deg);
  margin-left: 0;
  transform-origin: right;
  transition-duration: 0.3s;
  z-index: 2;
  width: 12px;
}

#checkbox:checked + .toggle #bar5 {
  display: flex;
  transform: translateY(-2.5px) translateX(-6.5px) rotate(-25deg);
  margin-left: 0;
  transform-origin: right;
  transition-duration: 0.3s;
  z-index: 2;
  width: 13px;
}

#checkbox:checked + .toggle #bar2 {
  transform: translateY(19px) translateX(-5px) rotate(70deg);
  margin-left: 0;
  transform-origin: right;
  transition-duration: 0.3s;
  z-index: 2;
  width: 30px;
}

#checkbox:checked + .toggle #bar1 {
  transform: translateY(27px) translateX(4px) rotate(-70deg);
  transition-duration: 0.3s;
  transform-origin: left;
  z-index: 1;
  width: 30px;
}

#checkbox:checked + .toggle {
  transform: rotate(45deg);
}

#checkbox:checked + .toggle #bar3 {
  transform: translateY(12px) rotate(2deg);
  transition-duration: 0.3s;
  transform-origin: right;
  display: none;
}

.mobile-navbar {
  position: absolute;
  top: -300px;
  left: 0;
  width: 100%;
  background-color: #111f3c;
  color: #fff;
  transition: top 0.5s ease;
  border-radius: 0 0 20px 20px;
  z-index: 100;
  padding-bottom: 10px;
}

.mobile-navbar.show {
  top: 30px;
}

.mobile-navbar ul {
  margin-top: 20px;
  padding-left: 0;
  text-align: center;
}

.mobile-navbar li {
  margin-bottom: 15px;
  font-size: 0.9rem;
  width: max-content;
}

.mobile-navbar li button {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 4px 15px;
  color: #fff;
  font-size: 0.8rem;
}

.mobile-navbar li button:hover {
  cursor: pointer;
  background-color: #fff;
  color: #111f3c;
}

.mobile-navbar a {
  color: #fff;
  margin-right: 0px;
}

.heading {
  font-size: 16px;
  font-weight: 400 !important;
  color: #111f3c;
}

.mobile-menu {
  display: none;
}

/* Left Image */

.left-images {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 85px;
  left: -4%;
  z-index: 500;
}

.left-images img {
  scale: fit;
  width: 30px;
  height: auto;
  margin-top: -10px;
  margin-bottom: 23px;
  cursor: pointer;
}

.left-images button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

/* Main Section */

.blog-section {
  width: 70%;
}

.image-container {
  display: flex;
  align-items: center;
}

.metro-image {
  border-radius: 20px;
}

.article-title {
  color: #111f3c;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  margin-top: 20px;
}

.now-reading {
  font-size: 16px;
  text-align: left;
  margin-top: 12px;
  /* margin-left: 147px; */
}

.reading-progress {
  height: 8px;
  background-color: rgba(217, 217, 217, 1);
  border: 0px solid rgba(217, 217, 217, 1);
  border-radius: 5px;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: -20px;
  position: sticky;
  top: 70px;
  z-index: 50;
  /* margin-left: 147px; */
}

.progress-bar {
  width: 100%;
  height: 8px;
  position: relative;
}

.progress-fill {
  width: 0%;
  height: 8px;
  background-color: rgba(17, 31, 60, 1);
  position: absolute;
  top: 0;
  left: 0;
  transition: width 0.5s ease;
}

.metro-text {
  font-family: Familjen Grotesk;
  color: #616161;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  margin-top: 39px;
  /* margin-left: 147px; */
}

.section-heading {
  font-family: Familjen Grotesk;
  color: #434343;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  /* margin-left: 147px; */
  margin-top: 32px;
}

.section-intro {
  font-family: Familjen Grotesk;
  color: #616161;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  margin-top: 10px;
  /* margin-left: 147px; */
  margin-bottom: 32px;
}

.date-heading {
  font-family: Familjen Grotesk;
  color: #434343;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  margin-top: 10px;
}

.date-heading-intro {
  font-family: Familjen Grotesk;
  color: #616161;
  margin-top: 10px;
}

.date-heading-intro-text {
  font-family: Familjen Grotesk;
  color: #616161;
  line-height: 20px;
}

/* Right Side section */

.side-section {
  width: 30%;
  text-align: left;
  margin-top: 45px;
  margin-left: 40px;
  margin-right: 20px;
}

.read-blog {
  margin: auto;
}

.read-blog h2 {
  text-decoration: underline;
  color: #111f3c;
  margin-bottom: 20px;
  text-align: left;
  font-size: 1.1rem;
}

.link-text {
  font-size: 16px;
  font-weight: 550;
  color: #2f487b;
  text-decoration: underline;
}

.video-icon-container {
  width: 100%;
}

.solutions {
  margin-top: 36px;
  margin-left: 0px;
}

.solutions h2 {
  color: #111f3c;
  border-bottom: 2px solid #626262;
  padding-bottom: 5px;
  margin-bottom: 10px;
  text-decoration: none;
  font-size: 1.5rem;
}

.solutions ul {
  list-style-type: decimal;
  padding-left: 20px;
  color: #434343;
  text-align: left;
}

.solutions li {
  font-size: 16px;
  font-weight: 600;
  line-height: 28.8px;
  text-align: left;
  text-decoration: underline;
  cursor: pointer;
}

/* Featured Properties Section */
.featured-property-container-inner {
  background-color: #f7f9ff;
  border-radius: 20px;
  padding: 10px;
}

.featured-property-container-inner h5 {
  text-align: center;
  font-weight: 400;
}

.featured-property-container-inner .property-container {
  width: calc(100% / 1.7);
  margin: 0 5px;
  background-color: #fff;
}

.featured-property-container-inner .property-image {
  width: 100%;
  height: 130px;
  border-radius: 8px;
  border: 1px solid #000000;
}

.featured-property-container-inner .property-container p {
  font-size: 0.85rem;
  color: #434343;
  padding: 0 2px;
  margin-bottom: 4px;
}

.featured-property-container-inner button {
  border: none;
  background-color: #111f3c;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 10px;
  border-radius: 8px;
}

.featured-property-container-inner button:hover {
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse512 1.5s infinite;
}

@keyframes pulse512 {
  0% {
    box-shadow: 0 0 0 0 #111f3c;
  }

  70% {
    box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
  }

  100% {
    box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }
}

.featured-property-container-inner button p {
  margin-right: 7px;
  margin-bottom: 2px;
}

/* FAQ Section */

.faq-container h3 {
  font-weight: 400 !important;
  color: #111f3c;
}

.faq-container .accordion-item {
  margin: 35px 0;
  border-radius: 0 !important;
  box-shadow: 4px 4px 4px 0 #00000010;
}

.accordion-button {
  background-color: #f7f9ff !important;
  white-space: normal;
  word-wrap: break-word;
}

.accordion-button:focus {
  box-shadow: none !important;
}

.accordion-button:not(.collapsed) {
  background-color: transparent !important;
}

/* Listed properties */

.listed-properties-container h3 {
  font-weight: 400 !important;
  margin-bottom: 15px;
}

.listed-properties-container-slider {
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 60px;
}

.listed-properties-container .nav-button {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #111f3c;
  border: none;
  border-radius: 50%;
  padding: 9px;
  cursor: pointer;
  box-shadow: 0 4px 4px 0 #00000015;
}

.listed-properties-container .nav-prev-button {
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #111f3c;
  border: none;
  border-radius: 50%;
  padding: 9px;
  cursor: pointer;
  box-shadow: 0 4px 4px 0 #00000015;
}

.nav-prev-button.hidden {
  display: none;
}

.property-containter {
  border-radius: 10px;
  width: 270px;
  margin-right: 30px;
  margin-top: 10px;
  border: 0.46px solid #111f3c;
  flex: 0 0 auto;
  position: relative;
}

.property-containter .tag {
  background-color: #ec7100;
  padding: 3px 15px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  color: #fff;
  font-size: 0.9rem;
  position: absolute;
  left: 0;
  top: 0;
}

.property-containter h4 {
  font-size: 0.9rem;
  text-align: left;
}

.property-containter .content {
  background-color: #fff;
  padding: 10px;
  border-radius: 20px;
  position: relative;
}

.property-containter .content > .mt-3 .date {
  font-size: 0.75rem;
  color: #616161;
  margin-bottom: 0;
}

.property-containter .content > .mt-3 button {
  font-size: 0.9rem;
  color: #434343;
  border: none;
  background-color: transparent;
  font-weight: 500;
}

.property-containter .about {
  font-size: 0.9rem;
  color: #616161;
  margin-top: 10px;
}

.property-containter:first-child {
  margin-right: 20px;
}

.property-containter .property-image {
  height: 230px;
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin-bottom: 8px;
}

/* Share Container */
.share-container {
  position: relative;
  cursor: pointer;
}

.share-container::before {
  content: "Share this property";
  position: absolute;
  top: -30px;
  left: -25px;
  padding: 4px 8px;
  border-radius: 3px;
  background-color: #00000090;
  color: #fff;
  z-index: 1;
  font-size: 0.7rem;
  white-space: nowrap;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  pointer-events: none;
}

.share-container:hover::before {
  opacity: 1;
  transform: translateY(0);
}

.share-container ul {
  position: absolute;
  background-color: #ffffff;
  width: max-content;
  padding-left: 0;
  top: 40px;
  left: -35px;
  z-index: 50;
  box-shadow: 0px 0px 20px 2px #00000025;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
}

.share-container ul.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.share-container ul li button:hover {
  cursor: pointer;
  background-color: #fff;
}

.share-container ul li button p:hover {
  color: #ec7100;
}

.share-container ul li p {
  margin: 0;
  margin-left: 12px;
  font-size: 0.8rem;
  color: #616161;
}

.share-container ul li:first-child {
  color: #434343;
  background-color: #f7f9ff;
  padding: 6px 10px;
  font-size: 0.85rem;
}

.share-container ul li button {
  display: flex;
  align-items: center;
  padding: 7px 10px;
  border: none;
  background-color: transparent;
}

/* Footer */
.footer {
  color: #ffffff;
  background-color: #111f3c;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  position: relative;
  padding: 55px 10px 20px 10px;
}

footer button p {
  margin-bottom: 0px;
}

.footer .upper-footer ul {
  padding-left: 0;
  border-top: 0.5px solid #919191;
  padding-right: 50px;
}

.footer h3 {
  font-weight: 400 !important;
  font-size: 2rem;
  margin-top: 10px;
  white-space: nowrap;
  margin-right: 15px;
}

.footer h4 {
  font-weight: 300;
  font-size: 1.5rem;
}

.upper-footer {
  position: relative;
}

.upper-footer .white-btn {
  margin-top: 60px;
  background-color: transparent;
  border: 1px solid #ffffff;
  width: 200px;
  padding: 8px 15px;
  border-radius: 10px;
  color: #ffffff;
}

.upper-footer .white-btn:hover {
  background-color: #ffffff;
  color: #111f3c;
}

.footer li {
  position: relative;
  width: max-content;
}

.upper-footer li::before {
  content: "";
  width: 0;
  height: 2px;
  border-radius: 2px;
  background-color: #ec7100;
  position: absolute;
  bottom: -3px;
  left: 50%;
  transition: width 0.4s, left 0.4s;
}

.upper-footer li:hover {
  cursor: pointer;
  color: #ec7100;
}

.upper-footer li:hover::before {
  width: 100%;
  left: 0;
}

.upper-footer li:hover {
  color: #ec7100;
  cursor: pointer;
}

.lower-footer li:hover {
  cursor: pointer;
  color: #ec7100;
}

.footer .upper-footer li {
  font-weight: 300 !important;
  margin: 13px 0;
  text-align: left;
  white-space: nowrap;
  font-size: 0.9rem;
}

.footer .blue-btn {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 6px 30px 6px 6px;
  border: none;
  color: #111f3c;
  font-weight: 300 !important;
  font-size: 1rem;
  flex-wrap: nowrap;
  display: flex;
  position: relative;
}

.footer .refer-btn {
  padding: 6px 25px 6px 6px;
}

.footer .refer-btn lottie-player {
  position: absolute;
  right: 4px;
  bottom: 8px;
}

.footer .blue-btn canvas {
  position: absolute;
  right: -18px;
  bottom: 5px;
  width: 70px;
}

.footer .playStore-btn {
  position: absolute;
  right: 20px;
  bottom: 10px;
}

.googlePlay-button .texts .launch-text,
.appstore-button .texts .launch-text {
  font-size: 1rem;
  white-space: wrap;
  margin-right: 10px;
}

.googlePlay-button .texts .soon-text,
.appstore-button .texts .soon-text {
  font-size: 1rem;
  font-weight: 400 !important;
  text-align: center;
  margin-left: 15px;
}

.googlePlay-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #000;
  border-radius: 9999px;
  background-color: rgba(0, 0, 0, 1);
  padding: 0.625rem 1.5rem;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  outline: 0;
  transition: all 0.2s ease;
  text-decoration: none;
  margin-right: 10px;
}

.googlePlay-button:hover {
  background-color: #ffffff;
  color: #000000;
}

.googlePlay-button .icon {
  height: 1.5rem;
  width: 1.5rem;
}

.googlePlay-button .texts {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1;
}

.googlePlay-button .text-1 {
  margin-bottom: 0.25rem;
  font-size: 0.75rem;
  line-height: 1rem;
}

.googlePlay-button .text-2 {
  font-weight: 600;
}

.appstore-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #000;
  border-radius: 9999px;
  background-color: rgba(0, 0, 0, 1);
  padding: 0.625rem 1.5rem;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  outline: 0;
  transition: all 0.2s ease;
  text-decoration: none;
}

.appstore-button:hover {
  background-color: #ffffff;
  color: #000000;
}

.appstore-button .icon {
  height: 1.5rem;
  width: 1.5rem;
}

.appstore-button .texts {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1;
}

.appstore-button .text-1 {
  margin-bottom: 0.25rem;
  font-size: 0.75rem;
  line-height: 1rem;
}

.appstore-button .text-2 {
  font-weight: 600;
}

.lower-footer .lower-upper {
  padding: 8px 0;
  margin-top: 40px;
  margin-bottom: 10px;
  border-bottom: 0.5px solid #919191;
  text-align: center;
}

.lower-upper li {
  padding: 0 10px;
  font-size: 0.9rem;
}

.lower-bottom .socials-container {
  display: flex;
}

.lower-bottom .socials-container button {
  margin: 0 8px;
}

.social-btn {
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.4s;
  cursor: pointer;
  position: relative;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  overflow: hidden;
}

.insta-btn {
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
}

.linkedin-btn {
  background: #007ab9;
}

.youtube-btn {
  background: #ff0000;
}

.fb-btn {
  background: #1877f2;
}

.svgIcon,
.social-btn img {
  transition-duration: 0.3s;
}

.svgIcon path {
  fill: white;
}

.social-btn .text {
  position: absolute;
  color: rgb(255, 255, 255);
  width: 120px;
  opacity: 0;
  transition-duration: 0.4s;
}

.social-btn:hover {
  width: 110px;
  transition-duration: 0.4s;
  border-radius: 30px;
}

.social-btn:hover .text {
  opacity: 1;
  transition-duration: 0.4s;
}

.social-btn:hover .svgIcon,
.social-btn:hover img {
  opacity: 0;
  transition-duration: 0.3s;
}

.lower-footer p {
  font-size: 0.9rem;
}

@media screen and (max-width: 1532px) {
  .left-images {
    left: -5%;
  }
}

@media screen and (max-width: 1477px) {
  .left-images {
    left: -3%;
  }
}

@media screen and (max-width: 1400px) {
  .left-images {
    left: -6%;
  }
}

@media screen and (max-width: 1300px) {
  .left-images {
    left: -3%;
  }
}

@media screen and (max-width: 1200px) {
  .blog-section {
    width: 65%;
  }
  .side-section {
    width: 35%;
  }
  .left-images {
    left: -7%;
  }
  .footer .columns div:first-child img {
    margin-top: 30px;
  }
  .footer .upper-footer .columns {
    flex-wrap: wrap;
  }
  .footer .upper-footer .columns h4 {
    margin-top: 30px;
  }
}

@media screen and (max-width: 1119px) {
  .left-images {
    left: -1%;
  }
  .blog-section {
    margin-left: 20px;
  }
}

@media screen and (max-width: 990px) {
  /* Blog section */
  .blog-section {
    width: 100%;
  }
  .left-images {
    left: -8%;
  }
  /* Side section */
  .side-section {
    display: none !important;
  }
  /* footer */
  .footer .upper-footer ul {
    padding-right: 10px;
  }
  .footer .upper-footer .px-5 {
    padding-right: 10px !important;
    padding-left: 10px !important;
  }
  .footer .upper-footer p br {
    display: none;
  }
  .footer .upper-footer p {
    margin-right: 10px !important;
  }
}

@media (min-width: 800px) {
  .toggle {
    display: none;
  }
}

@media screen and (max-width: 863px) {
  .left-images {
    left: -3%;
  }
}

@media screen and (max-width: 800px) {
  /* Navbar */
  #nav-links {
    display: none;
  }
  header .post-btn {
    display: none;
  }
  .mobile-menu {
    display: flex;
    align-self: flex-end;
  }
}

@media screen and (max-width: 770px) {
  .footer .upper-footer .d-flex:first-child {
    flex-wrap: wrap;
  }
  .footer .upper-footer h4 {
    margin-top: 20px;
  }
  .footer .lower-footer .lower-upper {
    flex-direction: column;
  }
  .footer .lower-footer .lower-upper ul {
    margin: 15px 0 !important;
    flex-direction: column;
  }
  .footer .lower-footer .lower-upper ul li {
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 768px) {
  /* Left side image */
  .left-images {
    left: -9%;
  }

  .left-images img {
    width: 25px;
    margin-left: 10px;
    cursor: pointer;
  }

  /* Blog Paragraph */
  .article-title {
    font-weight: 200;
    line-height: 30px;
    width: 97%;
    font-size: 24px;
  }

  .metro-text {
    margin-top: 50px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    width: 100%;
  }

  .section-heading,
  .section-intro {
    width: 100%;
  }

  .date-heading {
    color: #434343;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    margin-top: 10px;
    width: 100%;
  }

  .date-heading-intro {
    color: #616161;
    width: 100%;
    margin-top: 10px;
  }

  .date-heading-intro-text {
    width: 80%;
    color: #616161;
    line-height: 20px;
    margin-left: 0px;
  }

  /* Solutions */
  .solutions {
    display: none;
  }
  .read-blog {
    display: none;
  }

  /* Progress bar */
  .reading-progress {
    width: 97%;
    height: 8px;
    background-color: rgba(217, 217, 217, 1);
    border: none;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: -30px;
  }

  .progress-bar {
    width: 100%;
    height: 8px;
    position: relative;
  }

  .progress-fill {
    width: 0%;
    height: 8px;
    background-color: rgba(17, 31, 60, 1);
    position: absolute;
    top: 0;
    left: 0;
    transition: width 0.1s ease;
  }

  /* footer */
  .footer .lower-bottom {
    flex-direction: column;
  }
  .footer .lower-bottom p {
    margin-bottom: 8px !important;
  }
}

@media screen and (max-width: 640px) {
  /* Left side image */
  .left-images {
    left: 0%;
  }
  .left-images img {
    width: 20px;
  }
  .blog-section .image-container {
    margin-left: 40px;
  }
}

@media screen and (max-width: 576px) {
  .blog-section {
    margin-right: 20px;
  }
}

@media screen and (max-width: 560px) {
  .footer {
    padding-top: 20px;
  }
  .footer .playStore-btn {
    position: static;
  }
  .footer .columns > div:first-child,
  .playStore-btn.larger-screen {
    display: none !important;
  }
  .footer .upper-footer .columns {
    flex-direction: column;
  }
  .footer .upper-footer .columns > div {
    overflow: hidden;
    width: 100%;
  }
  .footer .upper-footer .columns > div ul {
    max-height: 0px;
    transition: max-height 0.5s ease;
    margin: 0;
  }
  .footer .upper-footer .columns > div ul.active {
    max-height: 260px;
  }
  .footer .upper-footer .columns > div:last-child li:last-child {
    width: 100%;
  }
  .footer .upper-footer .columns > div:last-child li:nth-child(4) {
    position: absolute;
    top: -8%;
    left: 65%;
  }
  .footer .upper-footer ul {
    border: none;
  }
  .footer .upper-footer .columns h4 {
    margin-top: 15px;
  }
  .footer .columns > div:nth-child(4) h4 {
    margin-top: 8px;
  }
  .footer .upper-footer .columns h4 svg.rotated {
    transform: rotate(180deg);
  }
  .footer .upper-footer .columns > div:nth-child(2) ul > div {
    position: absolute;
    right: 0px;
    left: 0px;
  }
  .upper-footer .columns div:nth-child(3) .d-flex {
    flex-direction: column;
  }
  .upper-footer .columns div:nth-child(3) .d-flex ul:last-child {
    padding-left: 0 !important;
  }
  .upper-footer .columns {
    margin-bottom: 0 !important;
  }
  .lower-footer .lower-upper {
    padding-top: 0 !important;
  }
  .footer .upper-footer .columns > div:last-child li:last-child:before,
  .footer .upper-footer .columns > div:last-child li:nth-child(4):before {
    display: none;
  }
  .googlePlay-button,
  .appstore-button {
    margin-left: 20px;
    margin-right: 20px;
  }
  .lower-footer .lower-bottom {
    border-top: 1px solid #919191;
    padding-top: 8px;
  }
}

@media screen and (min-width: 560px) {
  .upper-footer .mobile-view-list,
  .playStore-btn.smaller-screen,
  .smaller-screen-refer-button {
    display: none !important;
  }
}

@media screen and (max-width: 500px) {
  header .large-screen-navbar {
    padding: 10px 20px;
  }
}

@media screen and (max-width: 460px) {
  .footer .upper-footer .columns > div:last-child li:nth-child(4) {
    left: 64%;
  }
}

@media screen and (max-width: 450px) {
  .footer .upper-footer .columns > div:last-child li:nth-child(4) {
    left: 60%;
  }
  .googlePlay-button,
  .appstore-button {
    margin-left: 2px;
    margin-right: 2px;
  }
}

@media screen and (max-width: 420px) {
  .footer .upper-footer .columns > div:last-child li:nth-child(4) {
    left: 55%;
  }
}

@media screen and (max-width: 405px) {
  .footer .googlePlay-button .texts,
  .footer .appstore-button .texts {
    font-size: 0.7rem;
  }

  .footer .googlePlay-button,
  .footer .appstore-button {
    padding: 0.625rem 1rem;
  }
}
