{% extends "employeepanel/base.html" %}
{% load static %}
{% block content %}

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between bg-galaxy-transparent">
                <h4 class="mb-sm-0">site Visits</h4>

                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Home</a></li>
                        <li class="breadcrumb-item active">site Visits</li>
                    </ol>
                </div>

            </div>
        </div>
    </div>
    <!-- end page title -->

    {% if messages %}
        <div class="alert alert-danger" role="alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <table id="fixed-header" class="table table-bordered dt-responsive nowrap table-striped align-middle" style="width:100%">
                        <thead>
                            <tr>
                                <th scope="col" style="width: 10px;">
                                    <div class="form-check">
                                        <input class="form-check-input fs-base" type="checkbox" id="checkAll02" value="option">
                                    </div>
                                </th>
                                <th>Property ID</th>
                                <th>Property Name</th>
                                <th>Buyer ID</th>
                                <th>Buyer Name</th>
                                <th>Builder ID</th>
                                <th>Builder Name</th>
                                <th>Date</th>           
                                <th>Time Slot</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for visit in site_visits %}
                            <tr>
                                <th scope="row">
                                    <div class="form-check">
                                        <input class="form-check-input fs-base" type="checkbox" name="checkAll" value="option1">
                                    </div>
                                </th>
                                <td>{{ visit.property_id }}</td>
                                <td>{{ visit.property_name }}</td>
                                <td>{{ visit.buyer_id }}</td>
                                <td>{{ visit.buyer_name }}</td>
                                <td>{{ visit.builder_id }}</td>
                                <td>{{ visit.builder_name }}</td>
                                <td>{{ visit.visit_date }}</td>
                                <td>{{ visit.visit_time }}</td>
                                <td>
                                    {% if visit.status == 1 %}
                                    <span class="text-info">Accepted</span>
                                    {% elif visit.status == 2 %}
                                    <span class="text-info">Start Site Visit</span>
                                    {% elif visit.status == 6  %}
                                    <span class="text-danger">Canceled by Buyer</span>
                                    {% elif visit.status == 7 %}
                                    <span class="text-danger">Canceled by Admin</span>
                                    {% elif visit.status == 8  %}
                                    <span class="text-danger">Canceled</span>
                                    {% elif visit.status == 10 %}
                                    <span class="text-success">Done Site Visit</span>
                                    {% else %}
                                    <span class="text-danger">Pending</span>
                                    {% endif %}
                                </td>
                                <td>                                      
                                    {% if visit.status == 0 or visit.status == 3 %}
                                    <div class="d-flex">
                                        <div class="flex-shrink-0 me-1">
                                            <form action="{% url "employee-site-visit-status" visit.property_id %}"  method="post">
                                                {% csrf_token %}                                            
                                                <button type="submit" class="btn btn-primary btn-sm">Accept</button>
                                            </form>
                                        </div>
                                        <div class="flex-grow-1">
                                            <button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#showCancelModal{{visit.property_id}}">Cancel</button> 
                                        </div>
                                    </div>                              
                                    {% elif visit.status == 1 %}
                                    <button class="btn btn-info btn-sm" data-bs-toggle="modal" data-bs-target="#startvisit{{visit.property_id}}">Start Visit</button>
                                    {% elif visit.status == 2 %}                                          
                                    <button class="btn btn-dark btn-sm" data-bs-toggle="modal" data-bs-target="#endvisit{{visit.property_id}}">End Visit</button>
                                    {% elif visit.status == 6 or visit.status == 7 or visit.status == 8  %}
                                    
                                    {% else %}
                                    
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div><!--end row-->

    {% for visit in site_visits %}
    <div class="modal fade zoomIn" id="showCancelModal{{visit.property_id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content border-0">
                <div class="modal-header p-3 bg-info-subtle">
                    <h5 class="modal-title">Reason for Cancel Site Visit</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
                </div>
                <form action="{% url "employee-cancel-site-visit" %}" method="post" class="tablelist-form" autocomplete="off">
                    {% csrf_token %}
                    <input type="hidden" name="property_id" value="{{ visit.property_id }}">
                    <div class="modal-body">
                        <div class="row g-3">
                            <div class="col-lg-12">
                                <textarea class="form-control" placeholder="Enter Your Reason" id="rm_note" rows="5" name="rm_note"></textarea>
                            </div>
                            <div class="hstack gap-2 justify-content-end">
                                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary" id="add-btn">Submit</button>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}

    {% for visit in site_visits %}
    <div class="modal fade zoomIn" id="startvisit{{visit.property_id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content border-0">
                <div class="modal-header p-3 bg-info-subtle">
                    <h5 class="modal-title">Enter OTP</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
                </div>
                <form action="{% url "employee-site-visit-start" %}" method="post" class="tablelist-form" autocomplete="off">
                    {% csrf_token %}
                    <input type="hidden" name="property_id" value="{{ visit.property_id }}">
                    <div class="modal-body">
                        <div class="row g-3">
                            <div class="col-lg-12">
                                <input type="text" name="start_otp" class="form-control" placeholder="Enter OTP">
                            </div>
                            <div class="hstack gap-2 justify-content-end">
                                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary" id="add-btn">Submit</button>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}

    {% for visit in site_visits %}
    <div class="modal fade zoomIn" id="endvisit{{visit.property_id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content border-0">
                <div class="modal-header p-3 bg-info-subtle">
                    <h5 class="modal-title">Enter OTP</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
                </div>
                <form action="{% url "employee-site-visit-done" %}" method="post" class="tablelist-form" autocomplete="off">
                    {% csrf_token %}
                    <input type="hidden" name="property_id" value="{{ visit.property_id }}">
                    <div class="modal-body">
                        <div class="row g-3">
                            <div class="col-lg-12">
                                <input type="text" name="end_otp" class="form-control" placeholder="Enter OTP">
                            </div>
                            <div class="hstack gap-2 justify-content-end">
                                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary" id="add-btn">Submit</button>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}

{% endblock content %}