{% extends "datapoint/base.html" %}
{% load static %}
{% block content %}

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between bg-galaxy-transparent">
                <h4 class="mb-sm-0">My Alloted Links</h4>

                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Home</a></li>
                        <li class="breadcrumb-item active">My Alloted Tasks</li>
                    </ol>
                </div>

            </div>
        </div>
    </div>
    <!-- end page title -->
    
    <form action="{% url 'datapoint-allocted-links' %}" method="post">
        {% csrf_token %}
        <div class="mb-3 text-end">
            <button type="submit" name="submit_task" class="btn btn-primary">Submit Task</button>
        </div>
    </form>

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <table id="fixed-header" class="table table-bordered dt-responsive nowrap table-striped align-middle" style="width:100%">
                        <thead>
                            <tr>
                                
                                <th>Sr No</th>           
                                <th>Links</th>
                                <th>Link Type</th>
                                <th>Name</th>
                                <th>Mobile No</th>
                                <th>Comment</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for link in links %}
                            <tr>
                                
                                <td>{{ forloop.counter }}</td>
                                <td><a href="{{ link.link }}" target="_blank">{{ link.link }}</a></td>
                                <td>{{ link.link_type|default_if_none:'' }}</td>
                                <td>{{ link.name|default_if_none:'' }}</td>
                                <td>{{ link.mobile_no|default_if_none:'' }}</td>
                                <td>{{ link.comment|default_if_none:'' }}</td>
                                <td>
                                    <a href="{% url 'enter-detail' link.id %}"><button class="btn btn-sm btn-primary">Submit</button></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div><!--end row-->

    {% for link in links %}
    <div class="modal fade zoomIn" id="linkmodal{{ link.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content border-0">
                <div class="modal-header p-3 bg-info-subtle">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
                </div>
                <form action="{% url "datapoint-allocted-links" %}" method="post" class="tablelist-form" autocomplete="off">
                    {% csrf_token %}
                    <input type="hidden" name="link_id" value="{{ link.id }}">
                    <div class="modal-body">
                        <div class="row g-3">
                            <div class="col-lg-12">
                                <label for="name" class="form-label">Name</label>
                                <input type="text" class="form-control" id="name" name="name" value="{{ link.name|default_if_none:'' }}" placeholder="Enter Name">
                            </div>
                            <div class="col-lg-12">
                                <label for="number" class="form-label">Mobile No</label>
                                <input type="number" class="form-control" id="number" name="number" value="{{ link.mobile_no|default_if_none:'' }}" placeholder="Enter Mobile No">
                            </div>
                            <div class="col-lg-12">
                                <label for="comment" class="form-label">Comment</label>
                                <textarea class="form-control" placeholder="Enter Your Reason" id="comment" rows="5" name="comment"></textarea>
                            </div>
                            <div class="hstack gap-2 justify-content-end">
                                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>  
    {% endfor %} 

{% endblock content %}