{% extends "datapoint/base.html" %}
{% load static %}
{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class=" overflow-hidden">
                        <h4 class="text-truncate mb-1">Welcome {{ user_details.name|default_if_none:'' }},</h4>
                        <p class="text-truncate text-muted mb-0">Be Certified Data Extraction Engineer in 3 steps</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->                   

    <div class="row">
        <div class="col-lg-8">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-4">
                                <a href="my-profile"><div class="card border shadow-none material-shadow" style="border-radius:17px;border:1px solid grey !important;">
                                    <div class="card-body text-center">
                                        <div class="avatar-md mx-auto mb-4" id="register-tour">
                                            <div class="avatar-title bg-light rounded-circle text-primary fs-24 material-shadow">
                                                <img src="{% static 'profile.png' %}" style="height:30px;width:30px;">
                                            </div>
                                        </div>
                                        <h5>1. Complete Profile</h5>
                                    </div>
                                </div>
                                </a>
                            </div>
                            
                            <!-- end col -->
                            <div class="col-lg-4">
                                <a href="step2-datapoint">
                                <div class="card border shadow-none material-shadow" style="border-radius:17px;border:1px solid grey !important;">
                                    <div class="card-body text-center">
                                        <div class="avatar-md mx-auto mb-4" id="login-tour">
                                            <div class="avatar-title bg-light rounded-circle text-primary fs-24 material-shadow">
                                                <img src="{% static 'account-verification.png' %}" style="height:30px;width:30px;">
                                            </div>
                                        </div>
                                        <h5>2. Complete Q & A</h5>
                                    </div>
                                </div>
                                </a>
                            </div>
                            <!-- end col -->
                            <div class="col-lg-4">
                                <div class="card border shadow-none material-shadow" style="border-radius:17px;border:1px solid grey !important;">
                                    <div class="card-body text-center">
                                        <div class="avatar-md mx-auto mb-4" id="getproduct-tour">
                                            <div class="avatar-title bg-light rounded-circle text-primary fs-24 material-shadow">
                                                <img src="{% static 'post-property.png' %}" style="height:30px;width:30px;">
                                            </div>
                                        </div>
                                        <h5>3. Start Your Task</h5>
                                    </div>
                                </div>
                            </div>
                            <!-- end col -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- end col -->

            
            <!-- end col -->

            
            <!-- end col -->
        </div>
        
        <div class="col-lg-4">                            
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body"> 
                        <div class="mb-4">
                            <h5 class="text-truncate mb-1 fs-lg">Useful Links</h5>
                            <p class="text-truncate text-muted fs-md mb-0"><small>Let we help you and solve your issues</small></p>
                        </div>
                        <div class="flex-grow-1 overflow-hidden">
                            <div class="d-flex align-items-center">
                                <div class="flex-shrink-0 chat-user-img online user-own-img align-self-center me-3 ms-0">
                                    <img src="{% static 'request-callback.png' %}" width="40px">
                                </div>
                                <div class="flex-grow-1 overflow-hidden">
                                    <p class="text-truncate mb-1 fs-lg" data-bs-toggle="modal" data-bs-target="#Showmodel"><small>Request a Callback</small></p>
                                </div>
                            </div>
                        </div>      
                        <div class="modal fade" id="myModal" role="dialog">
                            <div class="modal-dialog">
                            
                              <!-- Modal content-->
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                  <h4 class="modal-title">Modal Header</h4>
                                </div>
                                <div class="modal-body">
                                  <p>Some text in the modal.</p>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                              </div>
                              
                            </div>
                          </div>                              
                        <hr>
                        <div class="flex-grow-1 overflow-hidden">
                            <div class="d-flex align-items-center">
                                <div class="flex-shrink-0 chat-user-img online user-own-img align-self-center me-3 ms-0">
                                    <img src="{% static 'email-us.png' %}" width="40px">
                                </div>
                                <div class="flex-grow-1 overflow-hidden">
                                    <a href="mailto:connect@realezi.com"><p class="text-truncate mb-1 fs-lg"><small>Email to Us</small></p></a>
                                </div>
                            </div>
                        </div>   
                    </div>
                </div>
            </div>
            <!-- end col -->

           
            <!-- end col -->
        </div>
    </div>
    <!-- end row -->  
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="avatar-sm float-start me-3">
                    <div class="avatar-title bg-danger-subtle text-danger fs-3xl rounded">
                        <i class="ri-slideshow-3-line mr-3"></i> 
                    </div>
                </div>  
                <div class="flex-grow-1 overflow-hidden">
                    <h5 class="text-truncate mb-1 fs-lg">Get Your Certificate</h5>
                    <p class="text-truncate text-muted fs-md mb-0"><small>Complete Task & Be Certfied Data Expert</small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade zoomIn" id="Showmodel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content border-0">
                <div class="modal-header p-3 bg-info-subtle">
                    <h5 class="modal-title">Your Query</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
                </div>
                <form action="" method="post" class="tablelist-form" autocomplete="off">
                    <div class="modal-body">
                        <div class="row g-3">
                            <div class="col-lg-12">
                                {% comment %} <label class="form-label" for="query">Your Query</label> {% endcomment %}
                                <textarea class="form-control" placeholder="Enter Your Query" id="query" rows="5" name="request"></textarea>
                            </div>
                            <div class="hstack gap-2 justify-content-end">
                                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn" style="background-color: #273e6b;color:white !important;">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}