{% extends "datapoint/base.html" %}
{% load static %}
{% block content %}
    
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between bg-galaxy-transparent">
                <h4 class="mb-sm-0">Enter Detail</h4>

                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Home</a></li>
                        <li class="breadcrumb-item active">Enter Detail</li>
                    </ol>
                </div>

            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="col-xxl-12">
        <div class="card">
            <div class="card-body">
                <div class="live-preview">
                    <form action="" method="post" class="tablelist-form" autocomplete="off">
                        {% csrf_token %}
                        <div class="modal-body">
                            <div class="row g-3">
                                <div class="col-lg-12">
                                    <label for="name" class="form-label">Name</label>
                                    <input type="text" class="form-control" id="name" name="name" value="{{ links.name|default_if_none:'' }}" placeholder="Enter Name">
                                </div>
                                <div class="col-lg-12">
                                    <label for="number" class="form-label">Mobile No</label>
                                    <input type="number" class="form-control" id="number" name="number" value="{{ links.mobile_no|default_if_none:'' }}" placeholder="Enter Mobile No">
                                </div>
                                <div class="col-lg-12">
                                    <label for="comment" class="form-label">Comment</label>
                                    <textarea class="form-control" placeholder="Enter Your Reason" id="comment" rows="5" name="comment">{{ links.comment|default_if_none:'' }}</textarea>
                                </div>
                                <div class="hstack gap-2 justify-content-end">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div><!-- end card-body -->
        </div><!-- end card -->
    </div>
    <!--end col-->

{% endblock content %} 