<!doctype html>
<html lang="en">

<head>
    <!-- Meta Tag -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Uniland - Real Estate HTML5 Template">
    <meta name="keywords" content="real estate, property, property search, agent, apartments, booking, business, idx, housing, real estate agency, rental">
    <meta name="author" content="unicoder">
    <title>Realezi-Search Made Simple</title>
    <!-- Favicon -->
    {% load static%}
    <link rel="shortcut icon" href="{% static 'frontpart/assets/images/favicon.ico' %}">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sen:wght@400;700&amp;display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,500;0,700;1,400&amp;display=swap" rel="stylesheet">

    <!-- Required style of the theme -->
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/bootstrap-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/webfonts/flaticon/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/owl.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/jquery.fancybox.min.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/layerslider.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/template.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/colors/color-6.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/loader.css' %}">
</head>

<body>

    <div class="preloader">
		<div class="loader xy-center"></div>
	</div>

    <div id="page_wrapper" class="bg-light">
        <!--============== Header Section Start ==============-->
        {% include 'Frontend/header.html'%}
        <!--============== Header Section End ==============-->

        <!--============== Signup Form Start ==============-->
        <div class="full-row p-0" style="background-image: url('{% static 'frontpart/assets/images/slider/3.png' %}'); background-position:center;margin-top:110px;min-height:500px !important">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 mx-auto">
                        <div class="bg-white xs-p-20 p-30 border rounded" style="margin-top:30px;margin-bottom:30px;border-radius: 40px !important;">
                            <h4 class="mb-4 down-line">Registration</h4>
                            <div class="form-icon-left form-boder">
                                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
                                <form action="{% url "datapoint-signup" %}" method="post" id="signupForm">
                                    {% if messages %}
                                        <div class="alert alert-danger">
                                            {% for message in messages %}
                                                {{ message }}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                    {% csrf_token %}
                                    <div class="row row-cols-1 g-3">
                                        <div class="col">
                                            <label class="mb-2">Your Name</label>
                                            <input type="text" name="name" class="form-control bg-light" value="" required="required">
                                        </div>
                                        <div class="col">
                                            <label class="mb-2">Mobile No</label>
                                            <input type="number" name="mobile_no" class="form-control bg-light" value=""  required="required"maxlength="10">
                                        </div>
                                        <div class="col">
                                            <label class="mb-2">Email Address</label>
                                            <input type="email" name="email" class="form-control bg-light" value=""  required="required">
                                        </div>
                                        <div class="col">
                                            <label class="mb-2">Password</label>
                                            <input id="password" name="password" type="password" class="form-control bg-light" required>
                                        </div>
                                        <div class="col">
                                            <label class="mb-2">Re-enter Password</label>
                                            <input id="repassword" name="repassword" type="password" class="form-control bg-light" required>
                                        </div>
                                        <div class="col">
                                            <div class="">
                                                <input type="checkbox" id="acceptTerms">
                                                <label for="acceptTerms">I Accept Terms and Conditions</label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <button type="submit" id="signupForm" class="btn btn-primary mb-3">Sign Up Now</button>
                                        </div>
                                        
                                        <div class="col">
                                            <a href="/termsandcondition" class="btn-link text-dark">View Terms and Condition</a>
                                            <a href="/datapoint/login" class="text-dark d-table py-1"><u>I already have account.</u></a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--============== Signup Form End ==============-->

        <!--============== Footer Section Start ==============-->
        {% include 'Frontend/footer.html'%}
        <!--============== Footer Section End ==============-->

        <!--============== Copyright Section Start ==============-->
    
        <!--============== Copyright Section End ==============-->

        <!-- Scroll to top -->
        <!-- End Scroll To top -->
    </div>


    <script src="{% static 'frontpart/assets/js/popper.min.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/bootstrap.min.js' %}"></script>
   
    <script src="{% static 'frontpart/assets/js/custom.js' %}"></script>
  
</body>

</html>