﻿<!doctype html>
<html lang="en">

<head>
    <!-- Meta Tag -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="unicoder">
    <title>Realezi-Search Made Simple</title>
    <!-- Favicon -->
    {% load static%}
    <link rel="shortcut icon" href="{% static 'frontpart/assets/images/favicon.ico' %}">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sen:wght@400;700&amp;display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,500;0,700;1,400&amp;display=swap" rel="stylesheet">

    <!-- Required style of the theme -->
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/bootstrap-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/webfonts/flaticon/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/owl.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/jquery.fancybox.min.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/layerslider.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/template.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/colors/color-6.css' %}">
    <link rel="stylesheet" href="{% static 'frontpart/assets/css/loader.css' %}">
</head>

<body>

    <div class="preloader">
		<div class="loader xy-center"></div>
	</div>

    <div id="page_wrapper" class="bg-light">
        <!--============== Header Section Start ==============-->
        {% include 'Frontend/header.html'%}
        <!--============== Header Section End ==============-->

        <!--============== Signup Form Start ==============-->
        <div class="full-row p-0" style="background-image: url('{% static 'frontpart/assets/images/slider/3.png' %}'); background-position:center;margin-top:110px;min-height:500px !important">
            
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 mx-auto">
                        <div class="bg-white xs-p-20 p-30 border rounded" style="margin-top:30px;border-radius: 40px !important;">
                            <h4 class="mb-4 down-line">Signin</h4>
                            <div class="form-icon-left form-boder">
                                
                                <form action="{% url "datapoint-login" %}" method="post">
                                    {% csrf_token %}
                                    <div class="row row-cols-1 g-3">
                                        <div class="col">
                                            <label class="mb-2">Mobile No. / Username</label>
                                            <input type="text" class="form-control bg-light" name="mobile" required>
                                        </div>
                                        <div class="col">
                                            <label class="mb-2">Password</label>
                                            <input type="password" class="form-control bg-light" name="password" required>
                                        </div>
                                        <div class="col">
                                            <button type="submit" class="btn btn-primary mb-3">Login</button>
                                        </div>
                                        <div class="col">
                                           <!-- <a href="#" class="text-dark d-table py-1">Forgot Password or Username</a>-->
                                            <a href="/datapoint/signup" class="text-dark d-table py-1"><u>Don't have account? Click here.</u></a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--============== Signup Form End ==============-->

        <!--============== Footer Section Start ==============-->
        {% include 'Frontend/footer.html'%}
        <!--============== Footer Section End ==============-->

        <!--============== Copyright Section Start ==============-->
        
        <!--============== Copyright Section End ==============-->

        <!-- Scroll to top -->
        <!-- End Scroll To top -->
    </div>

    <!-- Javascript Files -->
    <script src="{% static 'frontpart/assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/popper.min.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/jquery.fancybox.min.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/owl.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/range/tmpl.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/range/jquery.dependClass.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/range/draggable.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/range/jquery.slider.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/wow.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/mixitup.min.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/paraxify.js' %}"></script>
    <script src="{% static 'frontpart/assets/js/custom.js' %}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            document.getElementById("signupForm").addEventListener("submit", function(event) {
                // Validate Name
                var name = document.getElementById("name").value;
                if (!name) {
                    alert("Please enter your name");
                    event.preventDefault();
                    return;
                }

                // Validate Email
                var email = document.getElementById("email").value;
                var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                if (!emailRegex.test(email)) {
                    alert("Please enter a valid email address");
                    event.preventDefault();
                    return;
                }

                // Validate Password
                var password = document.getElementById("password").value;
                if (password.length < 8) {
                    alert("Password must be at least 8 characters long");
                    event.preventDefault();
                    return;
                }

                // Validate Re-entered Password
                var rePassword = document.getElementById("rePassword").value;
                if (password !== rePassword) {
                    alert("Passwords do not match");
                    event.preventDefault();
                    return;
                }

                // Validate Terms and Conditions
                var termsCheckbox = document.getElementById("defaultCheck1");
                if (!termsCheckbox.checked) {
                    alert("Please accept the terms and conditions");
                    event.preventDefault();
                    return;
                }
            });
        });
    </script>
</body>

</html>