{% extends "datapoint/base.html" %}
{% load static %}
{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class=" overflow-hidden">
                        <h4 class="text-truncate mb-1">Task-2 Watch the Video and Answer the Questions</h4>
                        <p class="text-truncate text-muted mb-0"></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->   
    {% if messages %}
        <div class="alert alert-danger" role="alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}                
    <div class="row">
        <div class="col-lg-6">
            <div class="sticky-side-div">
            <div class="card">
                <div class="card-body">
                <div class="embed-responsive embed-responsive-16by9 mb-4">
                    <iframe style="width:100%;height: 400px;border:1px solid black;" class="embed-responsive-item" src="https://www.youtube.com/embed/duSUYAxddv0" allowfullscreen></iframe>
                </div>
                <br>
                <div class="embed-responsive embed-responsive-16by9 mb-4">
                    <iframe style="width:100%;height: 400px;border:1px solid black;" class="embed-responsive-item" src="https://www.youtube.com/embed/-CauYq7REBk" allowfullscreen></iframe>
                </div>
                </div>
            </div>
            </div>
        </div>
        <div class="col-lg-6">
        <!-- Quiz Form -->
            <form method="post" action="{% url 'step2-datapoint' %}">
                {% csrf_token %}
                
                <!-- Question 1 -->
                <div class="mb-4">
                    <h5>1. How many data can be extracted from housing.com platform ? </h5>
                    <div class="form-check">
                        <input class="form-check-input" type="radio"  style="border:1px soldi black !important;" name="question1" id="q1o1" value="option1" >
                        <label class="form-check-label" for="q1o1">
                             15
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio"  style="border:1px soldi black !important;" name="question1" id="q1o2" value="option2">
                        <label class="form-check-label" for="q1o2">
                             12
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio"  style="border:1px soldi black !important;" name="question1" id="q1o3" value="option3">
                        <label class="form-check-label" for="q1o3">
                             16
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio"  style="border:1px soldi black !important;" name="question1" id="q1o4" value="option4">
                        <label class="form-check-label" for="q1o4">
                             25
                        </label>
                    </div>
                </div>

                <!-- Question 2 -->
                <div class="mb-4">
                    <h5>2. What is important for us to extract as the task ? </h5>
                    <div class="form-check">
                        <input class="form-check-input" type="radio"  style="border:1px soldi black !important;" name="question2" id="q2o1" value="option1">
                        <label class="form-check-label" for="q2o1">
                             Name & Number  
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio"  style="border:1px soldi black !important;" name="question2" id="q2o2" value="option2">
                        <label class="form-check-label" for="q2o2">
                             Email & Property Details 
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio"  style="border:1px soldi black !important;" name="question2" id="q2o3" value="option3">
                        <label class="form-check-label" for="q2o3">
                             Property Details & Name
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio"  style="border:1px soldi black !important;" name="question2" id="q2o4" value="option4">
                        <label class="form-check-label" for="q2o4">
                             Property Address & Property details
                        </label>
                    </div>
                </div>

                <!-- Question 3 -->
                <div class="mb-4">
                    <h5>3. How many properties can be extracted from Makkan.com Platform ?</h5>
                    <div class="form-check">
                        <input class="form-check-input" type="radio"  style="border:1px soldi black !important;" name="question3" id="q3o1" value="option1" >
                        <label class="form-check-label" for="q3o1">
                             10
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio"  style="border:1px soldi black !important;" name="question3" id="q3o2" value="option2">
                        <label class="form-check-label" for="q3o2">
                             5
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio"  style="border:1px soldi black !important;" name="question3" id="q3o3" value="option3">
                        <label class="form-check-label" for="q3o3">
                             12
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio"  style="border:1px soldi black !important;" name="question3" id="q3o4" value="option4">
                        <label class="form-check-label" for="q3o4">
                             20
                        </label>
                    </div>
                </div>

                <!-- Question 4 -->
                <div class="mb-4">
                    <h5>4. How many properties can be extracted from Squareyards Platform ?</h5>
                    <div class="form-check">
                        <input class="form-check-input" type="radio"  style="border:1px soldi black !important;" name="question4" id="q4o1" value="option1" >
                        <label class="form-check-label" for="q4o1">
                             10
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio"  style="border:1px soldi black !important;" name="question4" id="q4o2" value="option2">
                        <label class="form-check-label" for="q4o2">
                             5
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio"  style="border:1px soldi black !important;" name="question4" id="q4o3" value="option3">
                        <label class="form-check-label" for="q4o3">
                             12
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio"  style="border:1px soldi black !important;" name="question4" id="q4o4" value="option4">
                        <label class="form-check-label" for="q4o4">
                             20
                        </label>
                    </div>
                </div>

                <!-- Question 5 -->
                <div class="mb-4">
                    <h5>5. What if the system is not allowing you to extract data even if your limit is pending ?</h5>
                    <div class="form-check">
                        <input class="form-check-input" type="radio"  style="border:1px soldi black !important;" name="question5" id="q5o1" value="option1" >
                        <label class="form-check-label" for="q5o1">
                             Need to clean advance History which includes all time cache & Cookies 
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio"  style="border:1px soldi black !important;" name="question5" id="q5o2" value="option2">
                        <label class="form-check-label" for="q5o2">
                             Need to re start the system to try again
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio"  style="border:1px soldi black !important;" name="question5" id="q5o3" value="option3">
                        <label class="form-check-label" for="q5o3">
                             Need to open the link in Incognito mode
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio"  style="border:1px soldi black !important;" name="question5" id="q5o4" value="option4">
                        <label class="form-check-label" for="q5o4">
                             Both Option A & C 
                        </label>
                    </div>
                </div>
                
                <!-- Question 6 -->
                <div class="mb-4">
                    <h5>6. What will happen after a successful data extraction process ? </h5>
                    <div class="form-check">
                        <input class="form-check-input" type="radio"  style="border:1px soldi black !important;" name="question6" id="q6o1" value="option1" >
                        <label class="form-check-label" for="q6o1">
                             Agent will call to sell their products 
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio"  style="border:1px soldi black !important;" name="question6" id="q6o2" value="option2">
                        <label class="form-check-label" for="q6o2">
                             Property Owner might contact via call or WhatsApp text 
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio"  style="border:1px soldi black !important;" name="question6" id="q6o3" value="option3">
                        <label class="form-check-label" for="q6o3">
                             Nothing will happen 
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio"  style="border:1px soldi black !important;" name="question6" id="q6o4" value="option4">
                        <label class="form-check-label" for="q6o4">
                             Both option A & B 
                        </label>
                    </div>
                </div>

                <!-- Question 7 -->
                <div class="mb-4">
                    <h5>7. How to get rid of calls from Agents of the platform ? </h5>
                    <div class="form-check">
                        <input class="form-check-input" type="radio"  style="border:1px soldi black !important;" name="question7" id="q7o1" value="option1" >
                        <label class="form-check-label" for="q7o1">
                             Identify their numbers via truecaller and block them.  
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio"  style="border:1px soldi black !important;" name="question7" id="q7o2" value="option2">
                        <label class="form-check-label" for="q7o2">
                             Don't pick up their call
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio"  style="border:1px soldi black !important;" name="question7" id="q7o3" value="option3">
                        <label class="form-check-label" for="q7o3">
                             Speak to them and say you are not interested. 
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio"  style="border:1px soldi black !important;" name="question7" id="q7o4" value="option4">
                        <label class="form-check-label" for="q7o4">
                             None of the above
                        </label>
                    </div>
                </div>

                <!-- Question 8 -->
                <div class="mb-4">
                    <h5>8. what to do if a property owner calls or text you ?</h5>
                    <div class="form-check">
                        <input class="form-check-input" type="radio"  style="border:1px soldi black !important;" name="question8" id="q8o1" value="option1" >
                        <label class="form-check-label" for="q8o1">
                             what to do if a property owner calls or text you ?
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio"  style="border:1px soldi black !important;" name="question8" id="q8o2" value="option2">
                        <label class="form-check-label" for="q8o2">
                             If owner calls you and you Identify them, then tell them you will call them later & simply block them 
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio"  style="border:1px soldi black !important;" name="question8" id="q8o3" value="option3">
                        <label class="form-check-label" for="q8o3">
                             Don't respond to them on WhatsApp as its waste of your time 
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio"  style="border:1px soldi black !important;" name="question8" id="q8o4" value="option4">
                        <label class="form-check-label" for="q8o4">
                             Both Option B & C
                        </label>
                    </div>
                </div>

                <!-- Question 9 -->
                <div class="mb-4">
                    <h5>9. For how many days you will receive a call or a text from this platforms? </h5>
                    <div class="form-check">
                        <input class="form-check-input" type="radio"  style="border:1px soldi black !important;" name="question9" id="q9o1" value="option1" >
                        <label class="form-check-label" for="q9o1">
                             No calls after you block them correctly
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio"  style="border:1px soldi black !important;" name="question9" id="q9o2" value="option2">
                        <label class="form-check-label" for="q9o2">
                             No calls if you don't respond to WhatsApp texts and calls from owners for 2 days.
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio"  style="border:1px soldi black !important;" name="question9" id="q9o3" value="option3">
                        <label class="form-check-label" for="q9o3">
                             If you say am Not interested to owner if call picked up by mistake. 
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio"  style="border:1px soldi black !important;" name="question9" id="q9o4" value="option4">
                        <label class="form-check-label" for="q9o4">
                             All of the above
                        </label>
                    </div>
                </div>

                <!-- Question 10 -->
                <div class="mb-4">
                    <h5>10. What if someone acts rude over text or a call ?</h5>
                    <div class="form-check">
                        <input class="form-check-input" type="radio"  style="border:1px soldi black !important;" name="question10" id="q10o1" value="option1" >
                        <label class="form-check-label" for="q10o1">
                             Simply Ignore, cut the call by saying you are not interested & block them as its the part of process. 
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio"  style="border:1px soldi black !important;" name="question10" id="q10o2" value="option2">
                        <label class="form-check-label" for="q10o2">
                             Be rude with them 
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio"  style="border:1px soldi black !important;" name="question10" id="q10o3" value="option3">
                        <label class="form-check-label" for="q10o3">
                             Cut the call on their face 
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio"  style="border:1px soldi black !important;" name="question10" id="q10o4" value="option4">
                        <label class="form-check-label" for="q10o4">
                             Listen to them of a while and then cut the call 
                        </label>
                    </div>
                </div>

                <!-- Submit Button -->
                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <!-- end row -->  
    <div class="modal fade zoomIn" id="Showmodel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content border-0">
                <div class="modal-header p-3 bg-info-subtle">
                    <h5 class="modal-title">Your Query</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
                </div>
                <form action="" method="post" class="tablelist-form" autocomplete="off">
                    <div class="modal-body">
                        <div class="row g-3">
                            <div class="col-lg-12">
                                {% comment %} <label class="form-label" for="query">Your Query</label> {% endcomment %}
                                <textarea class="form-control" placeholder="Enter Your Query" id="query" rows="5" name="request"></textarea>
                            </div>
                            <div class="hstack gap-2 justify-content-end">
                                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                                <a href="datapoint-allocted-links"><button type="button" class="btn" style="background-color: #273e6b;color:white !important;">Submit</button></a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

{% endblock content %}