{% extends "datapoint/base.html" %}
{% load static %}
{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div>
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="text-center mt-4 mb-5">
                                <div class="py-3 px-2 d-inline-block" id="logo-tour">
                                    <h1>Thank You!</h1>
                                    <p class="text-muted mb-0">You will receive your certificate by email shortly.</p>
                                </div>
                            </div>
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->
                </div>
            </div><!-- end card -->
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->

{% endblock content %}