<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="RealEstate, Admin, Dashboard, template, UI kit, RealEstate Admin, Bootstrap 4x">
<meta name="author" content="Thememakker">
<title>Builder List</title>
{% load static %}
<link rel="icon" href="favicon.ico" type="image/x-icon"> <!-- Favicon-->
<link rel="stylesheet" href="https://thememakker.com/templates/oreo/realestate/html/assets/plugins/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="https://thememakker.com/templates/oreo/realestate/html/assets/plugins/jquery-datatable/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="https://thememakker.com/templates/oreo/realestate/html/assets/plugins/bootstrap-select/css/bootstrap-select.css" />
<!-- Custom Css -->
<link rel="stylesheet" href="{% static 'admin/assets/css/main.css' %}">
<link rel="stylesheet" href="{% static 'admin/assets/css/color_skins-admin.css' %}">
</head>
<body class="theme-purple">
<!-- Page Loader -->
<!-- Overlay For Sidebars -->
{% include 'admin/sidebars.html' %}


<!-- Chat-launcher -->
<div class="chat-launcher"></div>
<div class="chat-wrapper">
    <div class="card">
        <div class="header">
            <ul class="list-unstyled team-info margin-0">
                <li class="m-r-15"><h2>Builder List</h2></li>
                
                <li><a href="javascript:void(0);" title="Add Member"><i class="zmdi zmdi-plus-circle"></i></a></li>
            </ul>                       
        </div>
        <div class="body">
            <div class="chat-widget">
            <ul class="chat-scroll-list clearfix">
                <li class="left float-left">
                    <img src="https://thememakker.com/templates/oreo/realestate/html/{% static 'admin/assets/images/xs/avatar3.jpg" class="rounded-circle" alt="">
                    <div class="chat-info">
                        <a class="name" href="javascript:void(0);">Alexander</a>
                        <span class="datetime">6:12</span>                            
                        <span class="message">Hello, John </span>
                    </div>
                </li>
                <li class="right">
                    <div class="chat-info"><span class="datetime">6:15</span> <span class="message">Hi, Alexander<br> How are you!</span> </div>
                </li>
                <li class="right">
                    <div class="chat-info"><span class="datetime">6:16</span> <span class="message">There are many variations of passages of Lorem Ipsum available</span> </div>
                </li>
                <li class="left float-left"> <img src="https://thememakker.com/templates/oreo/realestate/html/{% static 'admin/assets/images/xs/avatar2.jpg" class="rounded-circle" alt="">
                    <div class="chat-info"> <a class="name" href="javascript:void(0);">Elizabeth</a> <span class="datetime">6:25</span> <span class="message">Hi, Alexander,<br> John <br> What are you doing?</span> </div>
                </li>
                <li class="left float-left"> <img src="https://thememakker.com/templates/oreo/realestate/html/{% static 'admin/assets/images/xs/avatar1.jpg" class="rounded-circle" alt="">
                    <div class="chat-info"> <a class="name" href="javascript:void(0);">Michael</a> <span class="datetime">6:28</span> <span class="message">I would love to join the team.</span> </div>
                </li>
                    <li class="right">
                    <div class="chat-info"><span class="datetime">7:02</span> <span class="message">Hello, <br>Michael</span> </div>
                </li>
            </ul>
            </div>
            <div class="input-group p-t-15">
                <input type="text" class="form-control" placeholder="Enter text here...">
                <span class="input-group-addon">
                    <i class="zmdi zmdi-mail-send"></i>
                </span>
            </div>
        </div>
    </div>
</div>

<!-- Main Content -->
<section class="content">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-12">
                <h2>User Access Control
                
                </h2>
            </div>            
           
        </div>
    </div>
    <div class="container-fluid">
        <div class="row clearfix">            
            <div class="col-lg-12">
                <div class="card">                   
                    <div class="body">
                        <select class="form-control show-tick" style="border:1px solid black !important;">
                            <option value="" style="border:1px solid black !important;">-- Please select User --</option>
                            <option value="shyam">EMP1001-Shyam</option>
                            <option value="Raj">EMP1002-Raj</option>
                            
                        </select>
                        <div class="row">
                            <div class="col-sm-4">
                                Manage Property<input type="checkbox" class="form-control" style="margin-top:-14px;margin-left:-14px;">
                            </div>
                            <div class="col-sm-4">
                                Builder Management<input type="checkbox" class="form-control" style="margin-top:-14px;margin-left:-14px;">
                            </div>
                            <div class="col-sm-4">
                                Agent Management<input type="checkbox" class="form-control" style="margin-top:-14px;margin-left:-14px;">
                            </div>
                        </div>
                        <div class="row" style="margin-top:30px;">
                            <div class="col-sm-4">
                                User Management<input type="checkbox" class="form-control" style="margin-top:-14px;margin-left:-14px;">
                            </div>
                            <div class="col-sm-4">
                                Lead Management<input type="checkbox" class="form-control" style="margin-top:-14px;margin-left:-14px;">
                            </div>
                            <div class="col-sm-4">
                                Analytics & Report<input type="checkbox" class="form-control" style="margin-top:-14px;margin-left:-14px;">
                            </div>
                        </div>
                        <div class="row" style="margin-top:30px;">
                            <div class="col-sm-4">
                                Blog Post<input type="checkbox" class="form-control" style="margin-top:-14px;margin-left:-14px;">
                            </div>
                            <div class="col-sm-4">
                                Master Management<input type="checkbox" class="form-control" style="margin-top:-14px;margin-left:-14px;">
                            </div>
                            
                        </div>
                        <div class="row" style="margin-top:30px;">
                            <button type="button" class="btn btn-primary btn-rounded" style="margin-left:10px;">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Jquery Core Js --> 
<script src="{% static 'admin/assets/bundles/libscripts.bundle.js' %}"></script>
<script src="{% static 'admin/assets/bundles/vendorscripts.bundle.js' %}"></script>

<script src="{% static 'admin/assets/bundles/datatablescripts.bundle.js' %}"></script>

<script src="{% static 'admin/assets/bundles/mainscripts.bundle.js' %}"></script>
<script src="{% static 'admin/assets/js/pages/tables/jquery-datatable.js' %}"></script>
</body>
</html>