<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="RealEstate, Admin, Dashboard, template, UI kit, RealEstate Admin, Bootstrap 4x">
<meta name="author" content="Thememakker">
<title>Add Employee</title>
{% load static %}
<link rel="icon" href="favicon.ico" type="image/x-icon"> <!-- Favicon-->
<link rel="stylesheet" href="https://thememakker.com/templates/oreo/realestate/html/assets/plugins/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="https://thememakker.com/templates/oreo/realestate/html/assets/plugins/jquery-datatable/dataTables.bootstrap4.min.css">

<!-- Custom Css -->
<link rel="stylesheet" href="{% static 'admin/assets/css/main.css' %}">
<link rel="stylesheet" href="{% static 'admin/assets/css/color_skins-admin.css' %}">
</head>
<body class="theme-purple">
<!-- Page Loader -->
<!-- Overlay For Sidebars -->
{% include 'admin/sidebars.html' %}



<section class="content">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-12">
                <h2>Add Employee
                
                </h2>
            </div>            
           
        </div>
    </div>
    <div class="container-fluid">
        <div class="row clearfix">            
            <div class="col-lg-12">
                <div class="card">                   
                    <div class="body">
                        <form method="post">
                            {% csrf_token %}
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="name">Name:</label>
                                        <input type="text" id="name" name="name" required class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="email">Email:</label>
                                        <input type="email" id="email" name="email" required class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="mobile_no">Mobile:</label>
                                        <input type="text" id="mobile_no" name="mobile_no" required class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="password">Password:</label>
                                        <input type="password" id="password" name="password" required class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="address">Address:</label>
                                        <textarea id="address" name="address" required class="form-control no-resize"></textarea>

                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <button type="submit" class="btn btn-primary btn-round">Add Employee</button>
                                </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Jquery Core Js --> 
<script src="{% static 'admin/assets/bundles/libscripts.bundle.js' %}"></script>
<script src="{% static 'admin/assets/bundles/vendorscripts.bundle.js' %}"></script>

<script src="{% static 'admin/assets/bundles/datatablescripts.bundle.js' %}"></script>

<script src="{% static 'admin/assets/bundles/mainscripts.bundle.js' %}"></script>
<script src="{% static 'admin/assets/js/pages/tables/jquery-datatable.js' %}"></script>
</body>
</html>