<!doctype html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="RealEstate Admin Dashboard template, UI kit, Bootstrap 4x">
        <meta name="author" content="Thememakker">

        <title>Realezi : Builder</title>
        <link rel="icon" href="favicon.ico" type="image/x-icon"> <!-- Favicon-->
        <link rel="stylesheet" href="https://thememakker.com/templates/oreo/realestate/html/assets/plugins/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://thememakker.com/templates/oreo/realestate/html/assets/plugins/charts-c3/plugin.css" />
        <link rel="stylesheet" href="https://thememakker.com/templates/oreo/realestate/html/assets/plugins/jvectormap/jquery-jvectormap-2.0.3.min.css"/>
        <!-- Custom Css -->
        <link rel="stylesheet" href="{% static 'admin/assets/css/main.css' %}">
        <link rel="stylesheet" href="{% static 'admin/assets/css/color_skins.css' %}">
    </head>
    <body class="theme-purple">
        {% include 'addmin/sidebars.html' %}
        <!-- Chat-launcher -->
        <div class="chat-launcher"></div>
        <div class="chat-wrapper">
            <div class="card">
                <div class="header">
                    <ul class="list-unstyled team-info margin-0">
                        <li class="m-r-15"><h2>Agent Team</h2></li>
                        <li><img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar2.jpg" alt="Avatar"></li>
                        <li><img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar3.jpg" alt="Avatar"></li>
                        <li><img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar4.jpg" alt="Avatar"></li>
                        <li><img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar6.jpg" alt="Avatar"></li>
                        <li><a href="javascript:void(0);" title="Add Member"><i class="zmdi zmdi-plus-circle"></i></a></li>
                    </ul>
                </div>
                <div class="body">
                    <div class="chat-widget">
                    <ul class="chat-scroll-list clearfix">
                        <li class="left float-left">
                            <img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar3.jpg" class="rounded-circle" alt="">
                            <div class="chat-info">
                                <a class="name" href="javascript:void(0);">Alexander</a>
                                <span class="datetime">6:12</span>
                                <span class="message">Hello, John </span>
                            </div>
                        </li>
                        <li class="right">
                            <div class="chat-info"><span class="datetime">6:15</span> <span class="message">Hi, Alexander<br> How are you!</span> </div>
                        </li>
                        <li class="right">
                            <div class="chat-info"><span class="datetime">6:16</span> <span class="message">There are many variations of passages of Lorem Ipsum available</span> </div>
                        </li>
                        <li class="left float-left"> <img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar2.jpg" class="rounded-circle" alt="">
                            <div class="chat-info"> <a class="name" href="javascript:void(0);">Elizabeth</a> <span class="datetime">6:25</span> <span class="message">Hi, Alexander,<br> John <br> What are you doing?</span> </div>
                        </li>
                        <li class="left float-left"> <img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar1.jpg" class="rounded-circle" alt="">
                            <div class="chat-info"> <a class="name" href="javascript:void(0);">Michael</a> <span class="datetime">6:28</span> <span class="message">I would love to join the team.</span> </div>
                        </li>
                            <li class="right">
                            <div class="chat-info"><span class="datetime">7:02</span> <span class="message">Hello, <br>Michael</span> </div>
                        </li>
                    </ul>
                    </div>
                    <div class="input-group p-t-15">
                        <input type="text" class="form-control" placeholder="Enter text here...">
                        <span class="input-group-addon">
                            <i class="zmdi zmdi-mail-send"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main Content -->
        <section class="content">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <h2>My Profile
                        <small></small>
                        </h2>
                    </div>            
                    
                </div>
            </div>
            <div class="container-fluid">
                <div class="row clearfix">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="header">
                               
                            </div>
                            <style>
                                input{
                                    border:1px solid black !important;
                                }
                            </style>
                            <form action="myprofile" method="POST">
                                {% csrf_token %}
                            <div class="body">
                                <div class="row clearfix">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Name</label>
                                            <input type="text" name="builder_name" class="form-control" placeholder="Enter Name" value="{{ user.customer_name }}">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Email</label>
                                            <input type="text" name="email" class="form-control" placeholder="Enter Email" value="{{ user.customer_email }}">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Contact No.</label>
                                            <input type="text" name="customer_contact" class="form-control" placeholder="Enter Contact" value="{{ user.customer_contact }}">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Business Name</label>
                                            <input type="text" name="business_name" class="form-control" placeholder="Enter Business Name" value="{{ user.business_name }}">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Incorporated Since</label>
                                            <input type="text" name="incorporated_since" class="form-control" placeholder="Enter Incorporate Since" value="{{ user.incorporated_since|default:'' }}">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Ongoing Projects</label>
                                            <input type="text" name="ongoing_projects" class="form-control" placeholder="Enter Ongoing Projects" value="{{ user.ongoing_projects|default:'' }}">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Completed Projects</label>
                                            <input type="text" name="complete_projects" class="form-control" placeholder="Enter Completed Projects" value="{{ user.complete_projects|default:'' }}">
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <label>About Company</label>
                                                <textarea rows="4" name="about" class="form-control no-resize" placeholder="About">{{ user.about }}</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row clearfix">
                                    
                                    <div class="col-sm-12">
                                        <button type="submit" class="btn btn-primary btn-round">Submit</button>
                                        <button type="submit" class="btn btn-default btn-round btn-simple">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- Jquery Core Js -->
        <script src="{% static 'admin/assets/bundles/libscripts.bundle.js' %}"></script>
        <script src="{% static 'admin/assets/bundles/vendorscripts.bundle.js' %}"></script>

        <script src="{% static 'admin/assets/bundles/c3.bundle.js' %}"></script>
        <script src="{% static 'admin/assets/bundles/jvectormap.bundle.js' %}"></script>
        <script src="{% static 'admin/assets/bundles/knob.bundle.js' %}"></script>

        <script src="{% static 'admin/assets/bundles/mainscripts.bundle.js' %}"></script>
        <script src="{% static 'admin/assets/js/pages/index.js' %}"></script>
    </body>

   
</html>