<!doctype html>
<html lang="en">

    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="RealEstate Admin Dashboard template, UI kit, Bootstrap 4x">
        <meta name="author" content="Thememakker">

        <title>Realezi : Builder</title>
        <link rel="icon" href="favicon.ico" type="image/x-icon"> <!-- Favicon-->
        <link rel="stylesheet" href="https://thememakker.com/templates/oreo/realestate/html/assets/plugins/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://thememakker.com/templates/oreo/realestate/html/assets/plugins/charts-c3/plugin.css" />
        <link rel="stylesheet" href="https://thememakker.com/templates/oreo/realestate/html/assets/plugins/jvectormap/jquery-jvectormap-2.0.3.min.css"/>
        <!-- Custom Css -->
        <link rel="stylesheet" href="{% static 'admin/assets/css/main.css' %}">
        <link rel="stylesheet" href="{% static 'admin/assets/css/color_skins-admin.css' %}">
    </head>
    <body class="theme-purple">
        {% include 'admin/sidebars.html' %}
        <!-- Chat-launcher -->
        <div class="chat-launcher"></div>
        <div class="chat-wrapper">
            <div class="card">
                <div class="header">
                    <ul class="list-unstyled team-info margin-0">
                        <li class="m-r-15"><h2>Agent Team</h2></li>
                        <li><img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar2.jpg" alt="Avatar"></li>
                        <li><img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar3.jpg" alt="Avatar"></li>
                        <li><img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar4.jpg" alt="Avatar"></li>
                        <li><img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar6.jpg" alt="Avatar"></li>
                        <li><a href="javascript:void(0);" title="Add Member"><i class="zmdi zmdi-plus-circle"></i></a></li>
                    </ul>
                </div>
                <div class="body">
                    <div class="chat-widget">
                    <ul class="chat-scroll-list clearfix">
                        <li class="left float-left">
                            <img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar3.jpg" class="rounded-circle" alt="">
                            <div class="chat-info">
                                <a class="name" href="javascript:void(0);">Alexander</a>
                                <span class="datetime">6:12</span>
                                <span class="message">Hello, John </span>
                            </div>
                        </li>
                        <li class="right">
                            <div class="chat-info"><span class="datetime">6:15</span> <span class="message">Hi, Alexander<br> How are you!</span> </div>
                        </li>
                        <li class="right">
                            <div class="chat-info"><span class="datetime">6:16</span> <span class="message">There are many variations of passages of Lorem Ipsum available</span> </div>
                        </li>
                        <li class="left float-left"> <img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar2.jpg" class="rounded-circle" alt="">
                            <div class="chat-info"> <a class="name" href="javascript:void(0);">Elizabeth</a> <span class="datetime">6:25</span> <span class="message">Hi, Alexander,<br> John <br> What are you doing?</span> </div>
                        </li>
                        <li class="left float-left"> <img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar1.jpg" class="rounded-circle" alt="">
                            <div class="chat-info"> <a class="name" href="javascript:void(0);">Michael</a> <span class="datetime">6:28</span> <span class="message">I would love to join the team.</span> </div>
                        </li>
                            <li class="right">
                            <div class="chat-info"><span class="datetime">7:02</span> <span class="message">Hello, <br>Michael</span> </div>
                        </li>
                    </ul>
                    </div>
                    <div class="input-group p-t-15">
                        <input type="text" class="form-control" placeholder="Enter text here...">
                        <span class="input-group-addon">
                            <i class="zmdi zmdi-mail-send"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main Content -->
        <section class="content">
            <div class="block-header">
                <div class="row">
                    {%if user.is_authenticated%}
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <h2>Master Admin 
                        <small>{{user.username}}</small>
                        </h2>
                    </div>
                    {%endif%}
                    <div class="col-lg-7 col-md-7 col-sm-12 text-md-right">
                        <div class="inlineblock text-center m-r-15 m-l-15 hidden-md-down">
                            <div class="sparkline" data-type="bar" data-width="97%" data-height="25px" data-bar-Width="2" data-bar-Spacing="5" data-bar-Color="#fff">3,2,6,5,9,8,7,9,5,1,3,5,7,4,6</div>
                            <small class="col-white">Visitors</small>
                        </div>
                        <!-- <div class="inlineblock text-center m-r-15 m-l-15 hidden-md-down">
                            <div class="sparkline" data-type="bar" data-width="97%" data-height="25px" data-bar-Width="2" data-bar-Spacing="5" data-bar-Color="#fff">1,3,5,7,4,6,3,2,6,5,9,8,7,9,5</div>
                            <small class="col-white">Bounce Rate</small>
                        </div> -->
                        <button class="btn btn-white btn-icon btn-round hidden-sm-down float-right ml-3" type="button">
                            <i class="zmdi zmdi-plus"></i>
                        </button>
                        <ul class="breadcrumb float-md-right">
                            <li class="breadcrumb-item"><a href="index.html"><i class="zmdi zmdi-home"></i></a></li>
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row clearfix">
                    <div class="col-xl-3 col-lg-6 col-md-6">
                        <div class="card">
                            <div class="body">
                                <div class="d-flex justify-content-between mb-3">
                                    <div>
                                        <h5 class="mt-0">Manage Property</h5>
                                        <span class="badge badge-danger">Sold 22</span>
                                        <span class="badge badge-success">New 40</span>
                                    </div>
                                    <div>
                                        <h2 class="mb-0">62</h2>
                                    </div>
                                </div>
                                <span id="linecustom1">1,4,2,6,5,2,3,8,5,2</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6">
                        <div class="card">
                            <div class="body">
                                <div class="d-flex justify-content-between mb-3">
                                    <div>
                                        <h5 class="mt-0">Builder Management</h5>
                                        <span class="badge badge-success">Total 136</span>
                                        <span class="badge badge-danger">Today 7</span>
                                    </div>
                                    <div>
                                        <h2 class="mb-0">200</h2>
                                    </div>
                                </div>
                                <span id="linecustom2">2,9,5,5,8,5,4,2,6</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6">
                        <div class="card">
                            <div class="body">
                                <div class="d-flex justify-content-between mb-3">
                                    <div>
                                        <h5 class="mt-0">Total Agents</h5>
                                       
                                    </div>
                                    <div>
                                        <h2 class="mb-0">70</h2>
                                    </div>
                                </div>
                                <span id="linecustom3">1,5,3,6,6,3,6,8,4,2</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6">
                        <div class="card">
                            <div class="body">
                                <div class="d-flex justify-content-between mb-3">
                                    <div>
                                        <h5 class="mt-0">My Wallet</h5>
                                        <span class="badge badge-success">Rs. 4000</span>
                                        <span class="badge badge-danger">RS. 500</span>
                                    </div>
                                    <div>
                                        <h2 class="mb-0">Rs. 45000</h2>
                                    </div>
                                </div>
                                <span id="linecustom4">1,5,3,6,6,3,6,8,4,2</span>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- <div class="row clearfix">
                    <div class="col-xl-4 col-lg-5 col-md-12">
                        <div class="card">
                            <div class="header">
                                <h2><strong>Total</strong> Properties</h2>
                            </div>
                            <div class="body text-center">
                                <div id="c3chart-properties"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-7 col-md-12">
                        <div class="card">
                            <div class="header">
                                <h2><strong>Graph</strong> this year</h2>
                            </div>
                            <div class="body">
                                <div id="chart-bar-rotated"></div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="row clearfix">
                    <div class="col-lg-8 col-md-12">
                        <div class="card text-center">
                            <!-- <div class="row">
                                <div class="col-lg-3 col-md-3 col-6">
                                    <div class="body">
                                        <i class="zmdi zmdi-eye col-amber zmdi-hc-2x"></i>
                                        <h4 class="mb-0">15,453</h4>
                                        <span>View</span>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-6">
                                    <div class="body">
                                        <i class="zmdi zmdi-thumb-up col-blue zmdi-hc-2x"></i>
                                        <h4 class="mb-0">921</h4>
                                        <span>Likes</span>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-6">
                                    <div class="body">
                                        <i class="zmdi zmdi-comment-text col-red zmdi-hc-2x"></i>
                                        <h4 class="mb-0">215</h4>
                                        <span>Comments</span>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-6">
                                    <div class="body">
                                        <i class="zmdi zmdi-account text-success zmdi-hc-2x"></i>
                                        <h4 class="mb-0">2,55</h4>
                                        <span>Total Agent</span>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                        <div class="card tasks_report" style="margin-top:-30px;">
                            <div class="header">
                                <h2><strong>Total</strong> Revenue</h2>
                                <ul class="header-dropdown">
                                    <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
                                        <ul class="dropdown-menu slideUp">
                                            <li><a href="javascript:void(0);">2017 Year</a></li>
                                            <li><a href="javascript:void(0);">2016 Year</a></li>
                                            <li><a href="javascript:void(0);">2015 Year</a></li>
                                        </ul>
                                    </li>
                                    <li class="remove">
                                        <a role="button" class="boxs-close"><i class="zmdi zmdi-close"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="body">
                                <div class="row clearfix">
                                    <div class="col-lg-7 col-md-6 text-center">
                                        <h4 class="margin-0">Total Sale</h4>
                                        <h6 class="m-b-20">2,45,124</h6>
                                        <input type="text" class="knob dial1" value="66" data-width="100" data-height="100" data-thickness="0.1" data-fgColor="#212121" readonly>
                                        <h6 class="m-t-20">Satisfaction Rate</h6>
                                        <small class="displayblock">47% Average <i class="zmdi zmdi-trending-up"></i></small>
                                        <div class="sparkline m-t-20" data-type="bar" data-width="97%" data-height="35px" data-bar-Width="2" data-bar-Spacing="8" data-bar-Color="#212121">3,2,6,5,9,8,7,8,4,5,1,2,9,5,1,3,5,7,4,6</div>
                                    </div>
                                    <div class="col-lg-5 col-md-6">
                                        <div class="top-report mb-4">
                                            <h3 class="mt-0 mb-0">240 <i class="zmdi zmdi-trending-up float-right"></i></h3>
                                            <p class="text-muted">New Leads</p>
                                            <div class="progress">
                                                <div class="progress-bar l-blush" role="progressbar" aria-valuenow="68" aria-valuemin="0" aria-valuemax="100" style="width: 68%;"></div>
                                            </div>
                                           
                                        </div>
                                        <div class="top-report">
                                            <h3 class="mt-0 mb-0">50<i class="zmdi zmdi-trending-up float-right"></i></h3>
                                            <p class="text-muted">Today's Registeration</p>
                                            <div class="progress">
                                                <div class="progress-bar l-turquoise" role="progressbar" aria-valuenow="68" aria-valuemin="0" aria-valuemax="100" style="width: 68%;"></div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="card">
                            <div class="header">
                                <h2><strong>Full Analysis</strong></h2>
                                <ul class="header-dropdown">
                                    <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="javascript:void(0);">Action</a></li>
                                            <li><a href="javascript:void(0);">Another action</a></li>
                                            <li><a href="javascript:void(0);">Something else</a></li>
                                        </ul>
                                    </li>
                                    <li class="remove">
                                        <a role="button" class="boxs-close"><i class="zmdi zmdi-close"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="body">
                                <div id="c3chart-Browser-Usage"></div>
                                
                            </div>
                        </div>
                       
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-xl-3 col-lg-6 col-md-6">
                        <div class="card">
                            <div class="body">
                                <div class="d-flex justify-content-between mb-3">
                                    <div>
                                        <h5 class="mt-0"></center>Employee Management</center></h5>
                                        
                                    </div>
                                    <div>
                                       
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6">
                        <div class="card">
                            <div class="body">
                                <div class="d-flex justify-content-between mb-3">
                                    <div>
                                        <h5 class="mt-0">Lead Management</h5>
                                        
                                    </div>
                                    <div>
                                        
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6">
                        <div class="card">
                            <div class="body">
                                <div class="d-flex justify-content-between mb-3">
                                    <div>
                                        <h5 class="mt-0">Analytics & tasks_report</h5>
                                       
                                    </div>
                                    <div>
                                    
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6">
                        <div class="card">
                            <div class="body">
                                <div class="d-flex justify-content-between mb-3">
                                    <div>
                                        <h5 class="mt-0">General Settings</h5>
                                        
                                    </div>
                                    <div>
                                       
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Jquery Core Js -->
        <script src="{% static 'admin/assets/bundles/libscripts.bundle.js' %}"></script>
        <script src="{% static 'admin/assets/bundles/vendorscripts.bundle.js' %}"></script>

        <script src="{% static 'admin/assets/bundles/c3.bundle.js' %}"></script>
        <script src="{% static 'admin/assets/bundles/jvectormap.bundle.js' %}"></script>
        <script src="{% static 'admin/assets/bundles/knob.bundle.js' %}"></script>

        <script src="{% static 'admin/assets/bundles/mainscripts.bundle.js' %}"></script>
        <script src="{% static 'admin/assets/js/pages/index.js' %}"></script>
    </body>

    </html>