@charset "UTF-8";
/**

* Template Name: Uniland - Real Estate Template
* Version: 3.2
* Author: Unicoder
* Email: unicoder16@gmail.com
* Developed By: Unicoder
* Last Update: 15th June, 2022
* Author URL: www.unicoderbd.com

**/
    /*===============================================================================
****CSS TABLE ****

#
# Default CSS Start
# Button Style
# Nav Pils Style Start
# Form Design Style Start
# Header Style Start
# Slide Filter Style Start
# jSlider Style Start
# Pagination Style Start
# Custom Scroll Bar Style Start
# About Us Style Start
# Photo Gallery Style Start
# Service Area Style Start
# Agent Block Style Start
# Agent Page Single Style Start
# Property Block Style Start
# Blog Thumbnail Style Start
# Sidebar Widgets Style Start
# Fact Counter Style Start
# Mixitup Style Start
# Accordion Style Start
# Owl Carousel Style Start
# Page Banner Style Start
# Search Banner Style Start
# Map Element Style Start
# Property Page Style Start
# Compare Page Style Start
# Deshboard Style Start
# Footer Style Start
# Responsive Style Start
# Social Media Style Start

==================================================================================*/


/*===============================================================================
Default CSS Start
==================================================================================*/
a,
.photo-overlay::before,
[class*="accordion-plus-"] .ac-toggle::after {
	-moz-transition: all 300ms ease-in-out 0s;
	-webkit-transition: all 300ms ease-in-out 0s;
	-o-transition: all 300ms ease-in-out 0s;
	-ms-transition: all 300ms ease-in-out 0s;
	transition: all 300ms ease-in-out 0s;
}
body {
	font-size: 15px;
	font-family: var(--theme-general-font);
	font-weight: 400;
	line-height: 28px;
}
#page_wrapper {
	overflow: hidden;
}
a,
a:hover,
a:focus,
a:visited {
	text-decoration: none;
	outline: none
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: var(--theme-highlight-font);
	line-height: revert;
	font-weight: 700;
}
h1,
.h1 {
	font-size: 44px;
	line-height: 60px;
}
h2,
.h2 {
	font-size: 36px;
	line-height: 48px;
}
h3,
.h3 {
	font-size: 30px;
	line-height: 40px;
}
h4,
.h4 {
	font-size: 24px;
}
h5,
.h5 {
	font-size: 21px;
}
h6,
.h6 {
	font-size: 18px;
}
img {
	max-width: 100%
}
ul,
li {
	list-style: none;
	margin: 0;
	padding: 0
}
li {
	line-height: 25px;
}
p {
	line-height: 28px
}
p:last-child {
    margin-bottom: 0;
}
sup {
	top: -10px;
	left: inherit;
	right: -3px;
}
label {
	margin-bottom: 0px
}
textarea {
	padding-top: 10px !important;
	padding-bottom: 10px !important
}
textarea.form-control {
	height: auto !important
}
.font-400 {
	font-weight: 400 !important;
}
.py-100,
.pt-100 {
	padding-top: 100px !important
}
.py-100,
.pb-100 {
	padding-bottom: 100px !important
}
.font-fifteen {
	font-size: 15px !important;
}
.z-index-9 {
	z-index: 9;
}
.btn-link {
	font-weight: 400;
	display: inline-block;
	align-items: center;
	width: max-content;
	color: var(--theme-general-color)
}
.btn-link:hover {
	color: var(--theme-primary-color)
}
.text-center .btn-link {
	margin: 0 auto;
}
.btn-light:not(:disabled):not(.disabled).active,
.btn-light:not(:disabled):not(.disabled):active,
.show>.btn-light.dropdown-toggle {
	color: var(--theme-dark-color);
	background-color: var(--theme-white-color);
	border-color: var(--theme-gray-color);
}
.box-shadow {
 box-shadow: 0 .3rem 1rem rgba(0, 0, 0, .10) !important;
}
.shadow-text {
	font-weight: 400;
}
.hide {
	display: none
}
.modal-content {
	border-radius: 0;
}
.quick-email-modal,
.quick-view-modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99992;
	width: 100%;
	height: 100%;
	overflow: hidden scroll !important
}
.view-close {
	cursor: pointer;
	position: absolute;
	right: 1px;
	top: 1px;
	z-index: 99;
	background-color: var(--theme-dark-color);
	display: block;
	width: 35px;
	height: 35px;
	line-height: 33px;
	text-align: center;
	color: var(--theme-white-color);
}
.btn-light.focus,
.btn-light:focus {
	box-shadow: none;
}
.header-unfix.nav-on-top,
.header-unfix.fixed-top {
	position: static !important;
	animation: unset !important;
}
.header-unfix.fixed-top.nav-on-banner {
	position: absolute !important;
	animation: unset !important;
}
.icon-text {
	display: flex;
	align-items: center
}
#page_wrapper.overlay::before {
	background-color: var(--theme-secondary-opacity-color);
	z-index: 99999;
}
.nav-leftpush-overlay .navbar-expand-lg .navbar-slide-push {
	height: 100vh;
	width: 360px;
	padding: 100px 40px;
	overflow-y: scroll;
}
.slide-nav-close {
	cursor: default;
}
table td,
table th {
	border: none;
	padding: 10px 15px;
}
.table-striped td {
	border-top: 1px solid #dee2e6;
}
.table-striped th {
	box-shadow: none;
}
.d-ruby {
	display: ruby !important
}
.fact-counter .progress {
	height: 5px;
}
.vertical-timeline::before {
	left: 90px;
}
.vertical-timeline::after {
	left: 95px;
	height: 82%;
	background-color: var(--theme-primary-color);
}
.decimal-list li {
	list-style-type: decimal;
	list-style-position: inside;
}
.artical-list li a {
	padding: 8px 0;
	display: inline-block;
}
.line-list li {
	position: relative;
	padding-left: 30px;
}
.line-list li:not(:last-child) {
	margin-bottom: 20px;
}
.line-list li::before {
	position: absolute;
	content: "";
	width: 20px;
	height: 1px;
	background-color: var(--theme-primary-color);
	left: 0;
	top: 12px;
}
.slider-signup input {
	width: 100%;
	background: #fff;
	line-height: 47px !important;
	height: 60px;
	border-radius: 30px;
	padding: 8px 130px 8px 30px;
}
 .slider-signup .form-control::placeholder {
 font-size: 15px !important;
 font-weight: 500 !important;
}
.slider-signup button {
	position: absolute;
	line-height: 50px;
	border-radius: 25px;
	right: 5px;
	top: 5px;
	width: 120px;
	font-size: 15px;
	text-align: center;
}
.tagline-2::before {
	top: calc(100% - 18px);
}
.tagline,
.tagline-2 {
	font-weight: 500;
	position: relative;
	font-size: 18px;
	letter-spacing: 2px;
	display: block;
	margin-bottom: 10px;
}
.tagline-3 {
	background-color: var(--theme-primary-opacity-color);
	color: var(--theme-primary-color);
	padding: 0 20px;
	line-height: 30px;
	display: table;
	border-radius: 50rem;
}
.line-title::before,
.testimonial-item .name::before {
	position: absolute;
	content: "";
	left: 0;
	top: 15px;
	width: 80px;
	height: 2px;
	background-color: var(--theme-primary-color);
}
.form-switch .form-check-input {
	background-repeat: no-repeat;
}
.half-bg-footer {
	z-index: 1
}
.half-bg-footer::before {
	position: absolute;
	content: "";
	width: 100%;
	height: 50%;
	left: 0;
	bottom: 0;
	background-color: var(--theme-footer-color);
	z-index: -1;
}
.video-hero {
	position: relative;
	overflow: hidden;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	width: 100%;
	max-height: 100vh;
}
.jquery-background-video {
	position: absolute;
	max-width: 100%;
	width: auto;
	height: auto;
	top: 50%;
	left: 50%;
	-o-object-fit: contain;
	object-fit: contain;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.hover-dark:hover {
	background-color: var(--theme-dark-color) !important;
}
.hover-primary:hover {
	background-color: var(--theme-primary-color) !important;
}
.hover-secondary:hover {
	background-color: var(--theme-secondary-color) !important;
}
[class*="icon-"]:before,
[class*="icon-"] span:before {
	color: inherit !important;
}
.hover-text-underline:hover {
	text-decoration: underline;
}
/*===============================================================================
Button Style
===============================================================================*/
/*----------*/
.btn.btn-primary {
	background-color: var(--theme-primary-color);
	color: var(--theme-white-color);
}
/*----------*/
.btn.btn-secondary {
	background-color: var(--theme-secondary-color);
	color: var(--theme-white-color);
}
/*----------*/
.btn.btn-dark {
	background-color: var(--theme-dark-color);
	color: var(--theme-white-color);
}
/*===============================================================================
Nav Pils Tab Style Start
==================================================================================*/
    
.nav-pills {
	margin-bottom: 20px;
}
.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
	color: var(--theme-primary-color);
	background-color: transparent;
}
.nav-pills .nav-link {
	padding: 0;
	color: var(--theme-general-color);
	position: relative
}
.nav-pills .nav-item:not(:last-child) {
	margin-right: 20px;
}
.tab-style-1 {
	display: flex;
	justify-content: center;
}
.tab-style-1 .nav-pills .nav-link {
	padding-bottom: 5px;
}
.tab-style-1 .nav-pills .nav-link::before {
	position: absolute;
	content: "";
	width: 80%;
	height: 2px;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
}
.tab-style-1 .nav-pills .nav-link.active::before,
.tab-style-1 .nav-pills .show>.nav-link::before {
	background-color: var(--theme-primary-color);
}
/*===============================================================================
Form Design Style Start
==================================================================================*/  
select {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	background-image: url(../images/icon/angle-down-solid.png);
	background-repeat: no-repeat;
	background-size: 8px;
	background-position: calc(100% - 20px);
	cursor: pointer;
}
/* For IE <= 11 */

select::-ms-expand {
 display: none;
}
select:focus {
	outline: none;
}
.form-group {
	position: relative;
	display: flex;
}
.form-group input:not(:last-child) {
	margin-right: 5px;
}
.search-form.header-active-form .form-control {
	width: 350px;
	padding: 15px 40px 15px 20px;
}
.search-form .form-control {
	height: 50px;
	padding: 5px 30px 5px 20px;
	background: var(--theme-light-color);
	font-size: 1rem;
	color: #495057;
}
 .form-control::placeholder {
 color: #495057 !important;
 font-size: 15px !important;
}
 .form-control::-webkit-input-placeholder {
 font-size: 15px;
 color: var(--theme-dark-color);
}
.quick-search {
	padding: 30px;
}
.quick-search.map-search-filter {
    padding: 20px
}
.widget .quick-search {
	padding: 0;
}
.quick-search .form-control {
	border: 1px solid;
	border-color: var(--theme-gray-color);
	font-size: 15px !important;
	color: #484848;
	padding: 0 15px;
}
.form-boder .form-control {
	border-color: var(--theme-gray-color);
}
.bootstrap-select>.dropdown-toggle {
	background: var(--theme-white-color);
	border: 1px solid;
	border-color: var(--theme-gray-color);
	height: 50px;
	font-size: 15px;
	padding: 0 15px;
	color: var(--theme-dark-color);
}
.dropdown-item.active,
.dropdown-item:active {
	background-color: var(--theme-light-color);
	color: var(--theme-primary-color);
}
.bootstrap-select .dropdown-menu li {
	position: relative;
	line-height: 35px;
}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
	width: 100%;
}
.bootstrap-select .bs-ok-default:after {
	content: '';
	display: block;
	width: .5em;
	height: 1em;
	border-style: solid;
	border-width: 0 .16em .16em 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.bootstrap-select.show-tick .dropdown-menu .selected span.check-mark {
	position: absolute;
	display: inline-block;
	right: 15px;
	top: 13px;
}
.form-icon-right .icon-font,
.form-icon-right .fas {
	right: 20px;
	top: 50%;
	position: absolute;
}
.form-control {
	margin-bottom: 0
}
.filter-option-inner-inner {
	font-family: var(--theme-general-font) !important;
	text-shadow: none;
	font-weight: 400;
	font-size: 15px;
}
.banner-search-form {
	background: rgba(255, 255, 255, 0.1);
	border-radius: 5px;
}
.bootstrap-select .dropdown-toggle:focus,
.bootstrap-select>select.mobile-device:focus+.dropdown-toggle {
	outline: none;
	outline: none;
	outline-offset: unset;
}
.aditional-features {
	position: absolute;
	width: 100%;
	top: 100%;
	left: 0;
	background: #fff;
	box-shadow: 0px 0px 50px 0px rgb(32 32 32 / 15%);
	visibility: hidden;
	opacity: 0;
	z-index: 100;
	margin: 0;
}
.aditional-features.visible-static.visible {
	position: static !important;
}
.aditional-features.visible {
	visibility: visible;
	opacity: 1;
}
.custom-check-box li {
	padding-top: 5px;
	padding-bottom: 5px;
}
.custom-check-box-2 label,
.custom-check-box li label {
	padding-left: 27px;
	position: relative;
	cursor: pointer;
	line-height: 28px;
}
.custom-check-box-2 {
	padding: 0
}
.custom-check-box-2 label {
	margin-left: 0;
}
.custom-check-box-2 label::before,
.custom-check-box li label::before {
	background-color: #ffffff;
	border: 1px solid #dddddd;
	height: 18px;
 top: .25rem;
	width: 18px;
	box-sizing: border-box;
 border-radius: .25rem;
	content: "";
	left: 0;
	position: absolute;
	transition: border-color 0.3s ease 0s;
}
.custom-control-input:focus~.custom-control-label::before {
	box-shadow: none;
}
.custom-check-box-2 input[type="checkbox"]:checked+label::before,
.custom-check-box li input[type="checkbox"]:checked+label::before {
	font-size: 7px;
	line-height: 20px;
	position: absolute;
	text-align: center;
	content: "\f00c";
	font-weight: 900;
	font-family: "Font Awesome 5 Free";
	border: none;
	background-color: var(--theme-primary-color);
	color: var(--theme-white-color);
}
.price-toggle {
	text-align: left;
}
.entry-form input {
	width: calc(100% - 110px);
}
.entry-form button {
	position: absolute;
	background: transparent;
	right: 0;
	border: 0;
	width: 100px;
	text-align: center;
	line-height: 47px;
}
.widget.agent-search select {
	background-color: transparent;
	font-size: 15px;
	color: var(--theme-dark-color);
}
.form-boder select,
.widget.agent-search select {
	border: 1px solid var(--theme-gray-color);
	padding: 8px 30px 8px 15px;
	width: 100%;
	font-size: 14px;
	color: var(--theme-general-color);
	background-position: calc(100% - 20px);
}
.property-search-form.on-slider {
    margin-top: -155px;
    z-index: 99;
    margin-bottom: 40px;
}
/*===============================================================================
Header Style Start
==================================================================================*/
.nav-logo {
    width: 150px
}
.dropdown-item,
.navbar-nav .nav-link {
	font-size: 14px;
	font-weight: 400;
}
.navbar-toggler,
.navbar-toggler:focus {
	box-shadow: none;
}
.navbar-nav>li.dropdown>a.nav-link::after,
.navbar-nav>li.dropdown .dropdown-toggle::after {
	transform: translateY(-50%) rotate(90deg);
	position: absolute;
	content: "\f067";
	font-family: "Font Awesome 5 Free";
	font-weight: 600;
	font-size: 8px;
	top: 50%;
	right: -10px;
	display: block;
	border: none;
}
/*===============================================================================
Slide Filter Style Start
==================================================================================*/
    
.select-custom li {
	display: inline-block;
	margin-top: 2px;
	margin-bottom: 2px;
}
.select-custom li label {
	padding: 3px 12px;
	border: 1px solid #d7d7d8;
	border-radius: 3px;
	font-size: 12px;
	cursor: pointer;
	font-weight: 400;
	position: relative;
	overflow: hidden;
}
.select-custom li input[type="radio"]:checked+label {
	border-color: var(--theme-primary-color);
	color: var(--theme-primary-color);
}
.select-custom li input[type="radio"]:checked+label:before {
	position: absolute;
	content: "";
	width: 1px;
	height: 1px;
	border: 12px;
	border-style: solid;
	border-color: var(--theme-primary-color) transparent transparent transparent;
	transform: rotate(-45deg);
	right: -12px;
	bottom: -12px;
}
.select-custom li input[type="radio"]:checked+label:after {
	position: absolute;
	content: "\f00c";
	font-family: "Font Awesome 5 Free";
	font-size: 5px;
	right: -1px;
	bottom: 9px;
	width: 8px;
	height: 8px;
	color: #FFF;
	font-weight: 900;
	z-index: 9;
}
.slide-filter .price-range-toggle {
	width: 100%
}
/*===============================================================================
jSlider Style Start
==================================================================================*/
    
.jslider .jslider-pointer {
	background-color: var(--theme-primary-color);
	border: 4px solid #fff;
 box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .20)!important;
}
.jslider {
	display: block;
	width: 95%;
	height: 1em;
	position: relative;
	top: 30px;
}
.jslider table {
	width: 100%;
	border-collapse: collapse;
	border: 0;
}
.jslider td,
 .jslider th {
	padding: 0;
	vertical-align: top;
	text-align: left;
	border: 0;
}
.jslider table,
 .jslider table tr,
 .jslider table tr td {
	width: 100%;
	vertical-align: top;
}
.jslider .jslider-bg {
	position: relative;
}
.jslider .jslider-bg .l {
	width: 10%;
	background-position: 0 0;
	left: 0;
	background: var(--theme-light-color);
}
.jslider .jslider-bg .f {
	width: 80%;
	left: 10%;
	background-repeat: repeat-x;
	background-position: 0 -20px;
	background: var(--theme-light-color);
}
.jslider .jslider-bg .r {
	background-position: right 0;
	width: 100%;
	right: -18px;
	background: var(--theme-light-color);
}
.jslider .jslider-bg i {
	height: 4px;
	position: absolute;
	font-size: 0;
	top: 0;
}
.jslider .jslider-bg .v {
	position: absolute;
	width: 60%;
	left: 20%;
	top: 0;
	height: 4px;
	background: var(--theme-primary-color);
}
.jslider .jslider-pointer {
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background-position: 0 -60px;
	position: absolute;
	left: 20%;
	top: -7px;
	cursor: pointer;
	cursor: hand;
}
.jslider .jslider-pointer-hover {
	background-position: -20px -60px;
}
.jslider .jslider-label {
	font-size: 9px;
	line-height: 12px;
	color: black;
	opacity: 0.4;
	white-space: nowrap;
	padding: 0px 2px;
	position: absolute;
	top: -18px;
	left: 0px;
}
.price-filter .jslider .jslider-label,
 .area-filter .jslider .jslider-label {
	display: none !important
}
.jslider .jslider-label-to {
	left: auto;
	right: 0;
}
.jslider-value>span {
	float: right;
}
.area-filter .jslider-value>span {
	float: left;
	padding-right: 3px
}
.jslider .jslider-value {
	font-size: 14px;
	font-weight: 600;
	white-space: nowrap;
	padding: 1px 2px 0;
	position: absolute;
	top: -30px;
	left: 20%;
	background: transparent;
	line-height: 13px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
}
.jslider .jslider-value-to {
	margin-right: -18px;
}
.jslider .jslider-label small,
 .jslider .jslider-value small {
	position: relative;
	top: -0.4em;
}
.jslider .jslider-scale {
	position: relative;
	top: 9px;
}
.jslider .jslider-scale span {
	position: absolute;
	height: 4px;
	border-left: 1px solid #999;
	font-size: 0;
}
.jslider .jslider-scale ins {
	font-size: 9px;
	text-decoration: none;
	position: absolute;
	left: 0px;
	top: 5px;
	color: #999;
}
.jslider-single .jslider-pointer-to,
 .jslider-single .jslider-value-to,
 .jslider-single .jslider-bg .v,
 .jslider-limitless .jslider-label {
	display: none;
}
.price-range-toggle {
	width: 285px;
	padding: 30px;
	background: #fff;
	border-radius: 6px;
	height: 100px;
	right: 0;
	top: 130%;
	position: absolute;
	box-shadow: 0px 0px 50px 0px rgba(32, 32, 32, 0.15);
	visibility: hidden;
	opacity: 0;
	z-index: 0;
}
.price-range-toggle.visible {
	visibility: visible;
	opacity: 1;
	z-index: 10;
}
.aditional-features:before,
 .price-range-toggle:before {
	background-color: #ffffff;
	content: "";
	height: 20px;
	left: auto;
	margin: 0 auto;
	position: absolute;
	right: 25%;
	top: -5px;
	width: 20px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.opacity-1 {
	opacity: 1 !important
}
/*===============================================================================
Pagination Style Start
==================================================================================*/
.pagination {
	gap:  10px;
}
.pagination .page-link,
.pagination .page-item.disabled .page-link {
	background: transparent;
}
.pagination-dotted-active .page-link {
	color: #fff;
	border: none;
	background: transparent;
	border-radius: 50%;
	padding: 0;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	color: var(--theme-dark-color)
}
.pagination-dotted-active .page-item:first-child .page-link,
 .pagination-dotted-active .page-item:last-child .page-link {
	width: auto
}
.pagination-dotted-active .active .page-link {
	background: var(--theme-primary-color);
	border: none;
	color: var(--theme-white-color)
}
/*===============================================================================
Custom Scroll Bar Style Start
==================================================================================*/
    
.dashboard-nav-area::-webkit-scrollbar,  
.left-filter-fixed::-webkit-scrollbar,  
.nav-leftpush-overlay .navbar-expand-lg .navbar-slide-push::-webkit-scrollbar {
    display: none;
}
.active-chat-list::-webkit-scrollbar,  
.msg-history::-webkit-scrollbar {
    width: 2px;
}

    
::-webkit-scrollbar-track {
    background: #f1f1f1;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.active-chat-list::-webkit-scrollbar-track,  
.msg-history::-webkit-scrollbar-track {
    background: var(--theme-white-color);
    -webkit-box-shadow: none;
    box-shadow: none;
}
/* Handle */
    
::-webkit-scrollbar-thumb {
 background: var(--theme-dark-color);
}

.active-chat-list::-webkit-scrollbar-thumb,  
.msg-history::-webkit-scrollbar-thumb {
    background: var(--theme-gray-color);
}
/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: var(--theme-primary-color);
}
/*===============================================================================
About Us Style Start
==================================================================================*/
    
.about-us-img-wrap {
	position: relative
}
.about-us-img-wrap .video-wrap {
	position: absolute;
	bottom: 100px;
	width: 50%;
	height: 30%;
	overflow: hidden;
	border-radius: 10px;
}
.about-us-info-wrap blockquote {
	background-color: var(--theme-primary-opacity-color);
	padding: 20px;
	margin: 25px 0;
	border-left: 4px solid;
	border-color: var(--theme-primary-color);
	font-size: 16px;
}
.icon-text-1 {
	display: flex;
	align-items: center;
}
.icon-text-1 .icon-area {
	width: 50px;
	height: 50px;
	display: table;
	background-color: var(--theme-primary-opacity-color);
	text-align: center;
	color: var(--theme-primary-color);
	border-radius: 50%;
	margin-right: 15px;
	line-height: 37px;
	position: relative;
}
.icon-text-1 .icon-area .icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
}
.icon-text-1 .icon-area .ifs-20::before {
	font-size: 25px;
	line-height: 25px;
}
.list-half-width {
	display: inline-block;
	width: 100%;
}
.list-half-width>* {
	width: 50%;
	float: left;
	padding-right: 20px;
	margin: 10px 0;
}
.flat-info {
	display: flex;
	align-items: center;
}
.flat-info img {
	width: 20px !important;
	margin-left: 5px;
}
.flat-info li span:first-child {
	display: flex;
	align-items: center;
	justify-content: left;
}
.flat-info>* {
	padding: 0 20px;
	border-right: 1px solid var(--theme-general-color);
}
.flat-info>*:first-child {
	padding-left: 0;
}
.flat-info>*:last-child {
	padding-right: 0;
	border-right: 0;
}
/*===============================================================================
Apartment Sketch Style Start
==================================================================================*/
    
.apartments-plan-info {
	padding: 50px;
}
.apartments-info-list>ul li:not(:first-child) {
	margin-top: 20px;
}
.apartments-info-list>ul li {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}
.apartments-info-list>ul li::before {
	position: absolute;
	content: "";
	width: 100%;
	height: 1px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	border: 1px dashed;
	border-color: var(--theme-white-color);
	z-index: 1;
}
.apartments-info-list>ul li span,
 .apartments-info-list>ul li label {
	background-color: var(--theme-primary-color);
	z-index: 9;
}
.apartments-info-list>ul li label {
	padding-right: 10px;
}
.apartments-info-list>ul li span {
	padding-left: 10px;
}
/*===============================================================================
Photo Gallery Style Start
==================================================================================*/
    
.photo-overlay {
	position: relative;
	overflow: hidden;
}
.photo-overlay::before {
	content: "";
	position: absolute;
	background: rgba( var(--theme-primary-color-rgba), 0.9);
	height: 100%;
	left: 20%;
	right: 20%;
	top: 0;
	bottom: 0;
	opacity: 0;
}
.photo-overlay:hover::before {
	opacity: 1;
	left: 0;
	right: 0;
}
.photo-overlay a.quick-view,
 .photo-overlay a.photo-view {
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 100%;
	background: #fff;
	position: absolute;
	display: block;
	z-index: 10;
	text-align: center;
	opacity: 0;
}
.photo-overlay:hover a.quick-view {
	opacity: 1;
	margin-left: 24px;
}
.photo-overlay:hover a.photo-view {
	opacity: 1;
	margin-left: -24px;
}
/*===============================================================================
Service Area Style Start
==================================================================================*/
    
.thumb-angle-left .box-70px {
	position: relative;
	text-align: center;
}
.thumb-angle-left .box-70px::before {
	position: absolute;
	content: "";
	border-width: 10px;
	bottom: -10px;
	left: 0;
	border-style: solid;
	border-color: transparent transparent transparent var(--theme-primary-color);
}
.service-style-1,
 .hover-style-1 {
	position: relative
}
.hover-style-1::before {
	position: absolute;
	content: "";
	left: 0;
	bottom: 0;
	width: 0%;
	height: 4px;
	background-color: var(--theme-primary-color);
	-webkit-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
	opacity: 0;
	visibility: hidden;
}
.hover-style-1:hover::before {
	width: 100%;
	opacity: 1;
	visibility: visible;
}
.service-style-1 .icon-wrap {
	width: 100px;
	height: 100px;
	background-color: rgba(var(--theme-primary-color-rgba), .3);
	text-align: center;
	line-height: 100px;
	border-radius: 50%;
	margin: 0 auto;
}
.service-style-1 .icon-wrap .icon {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
}
.service-style-1:hover .icon-wrap {
	background-color: var(--theme-white-color);
}
.service-style-1:hover .title a {
	color: var(--theme-white-color) !important;
}
.service-style-1 .btn-icon {
	position: absolute;
	bottom: -20px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: var(--theme-white-color);
	left: 50%;
	transform: translateX(-50%);
	color: var(--theme-dark-color);
	z-index: 9
}
.service-style-1 .btn-icon .icon {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
}
.service-style-1:hover .btn-icon {
	color: var(--theme-primary-color);
}
/*===============================================================================
Agent Block Style Start
==================================================================================*/   
.agent-thumb-copious {
	border-radius: 6px;
}
.member-score {
	padding: 0 8px;
	position: relative;
	height: max-content;
    cursor: default;
}
.member-score::before {
	position: absolute;
	content: "";
	border: 5px solid;
	border-color: transparent var(--theme-primary-color) transparent transparent;
	left: -10px;
	top: 50%;
	transform: translateY(-50%);
}
.prop-details li {
	line-height: 30px;
	font-size: 15px;
}
.prop-details b {
	font-weight: 500;
	color: var(--theme-dark-color)
}
.agent-style-1 .entry-thumbnail-wrapper {
    position: relative;
    overflow: hidden;
}
.agent-style-1 .agent-level {
    position: absolute;
    z-index: 10;
    transform: rotate(-90deg);
    top: 40px;
    left: -42px;
    width: 110px;
    text-align: center;
    background-color: var(--theme-primary-color);
    letter-spacing: 2px;
    font-size: 13px;
    color: var(--theme-white-color)
}
.agent-style-1 .agent-contact {
    font-family: var(--theme-highlight-font);
}
.agent-style-1 .agent-contact li span {
    font-weight: 700;
    color: var(--theme-dark-color);
    margin-right: 3px;
}
.agent-style-1 .agent-level span {
    display: inline-block;
}
.agent-style-1 .image-wrap {
	width: 50px;
	height: 50px;
	margin-right: 15px;
}
.agent-style-1 .about-avata {
	display: flex;
	flex-direction: column;
	align-items: self-start;
}
.agent-style-1 .about-avata .name {
	font-weight: 500;
}
.agent-style-1 .about-avata .designation {
	font-size: 13px;
}
.agent-style-1 .entry-content-wrapper {
    padding: 16px;
}
.agent-style-1 .entry-content-wrapper .entry-footer {
    margin-top: 16px;
}
.agent-style-1 .customer-review {
    text-align: right;
}
.agent-style-1 .customer-review .review-number {
    display: inline-block;
    font-size: 12px;
    color: var(--text-light-color);
    font-weight: 500;
}
.agent-style-1 .customer-review .member-score {
    margin-left: auto;
}
.agent-style-1 .social-media {
    margin-top: 10px;
    gap: 10px;
}
.agent-style-1 .social-media a {
    border: 1px solid;
    border-color: var(--theme-gray-color);
    width: 32px;
    height: 32px;
    line-height: 30px;
    text-align: center;
    display: block;
    border-radius: 5px;
    color: var(--text-light-color)
}
.agent-style-1 .social-media a:hover {
    background-color: var(--theme-primary-color);
    border-color: var(--theme-primary-color);
    color: var(--theme-white-color);
}
.agent-style-1.list-view .entry-wrapper {
    display: flex;
    flex-wrap: wrap;
}
.agent-style-1.list-view .entry-wrapper .entry-thumbnail-wrapper {
    flex: 0 0 auto;
    width: 40%;
}
.agent-style-1.list-view .entry-wrapper .entry-content-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 60%;
}
.agent-style-1.list-view .entry-wrapper .agent-name {
    font-size: 21px
}
.agent-style-1.list-view .entry-wrapper .entry-footer {
    margin-top: auto;
}
.agent-style-2 .thumb-wrapper {
	padding: 50px;
	position: relative;
}
.agent-style-2 .thumb-wrapper .thumbnail-img {
	width: 100px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	border: 3px solid #eee;
	border-radius: 100%;
	padding: 5px;
	margin-bottom: 15px;
}
.agent-style-2 .thumb-wrapper .thumbnail-img img {
	border-radius: 100%;
}
.agent-style-2 .on-listed {
	line-height: 40px;
	padding: 0 20px;
	border-radius: 20px;
	position: absolute;
	top: 20px;
	left: 20px;
}

/*===============================================================================
Agent Page Single Style Start
==================================================================================*/
.agent-style-1.agent-details .entry-content-wrapper {
    padding: 30px;
}

.agent-style-1.agent-details .customer-review,
.agent-style-1.agent-details .agent-rating {
    gap: 5px;
    font-size: 14px;
}

.agent-rating .rating-star {
    width: 61px;
    position: relative;
}

.agent-rating .rating-star::before {
    content: '\f005\f005\f005\f005\f005';
    position: absolute;
    font-family: 'Font Awesome 5 Free';
    font-size: 11px;
    font-weight: 400;
    color: var(--text-light-color);
    left: 0;
}

.agent-rating .rating-star span {
    display: flex;
    height: 28px;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
}

.agent-rating .rating-star span::before {
    content: '\f005\f005\f005\f005\f005';
    position: absolute;
    font-family: 'Font Awesome 5 Free';
    font-size: 11px;
    left: 0;
    color: orange;
    font-weight: 600
}

.agent-properties .mix-tab ul li {
    background-color: var(--theme-gray-color);
    padding: 12px 30px;
    font-family: var(--theme-highlight-font);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
}

.agent-properties .mix-tab ul li.mixitup-control-active {
    background-color: var(--theme-white-color);
}

/*===============================================================================
Property Block Style Start
==================================================================================*/
.property-grid-1 .listing-ctg,
.property-list-2 .listing-ctg {
	position: absolute;
	left: 15px;
	bottom: 15px;
	display: inline-block !important;
	text-transform: uppercase;
	font-size: 13px;
	line-height: 40px;
    height: auto !important;
    z-index: 10
}
.property-grid-1 .listing-ctg:hover,
.property-list-2 .listing-ctg:hover {
	text-decoration: underline;
}
.property-grid-1 .listing-ctg i {
	margin-right: 3px;
	color: var(--theme-primary-color);
}
.property-grid-1 .listing-price,
.property-grid-2 .listing-price,
.property-grid-4 .listing-price {
    font-weight: 700;
    color: var(--theme-primary-color);
    display: flex;
    font-family: var(--theme-highlight-font);
    font-size: 21px;
    align-items: center;
    gap: 5px;
}
.property-grid-1 .listing-location,
.property-grid-2 .listing-location,
.property-grid-3 .listing-location,
.property-grid-4 .listing-location,
.property-grid-6 .listing-location,
.property-grid-7 .listing-location {
	margin-bottom: 15px;
	display: inline-block;
	width: 100%;
    font-size: 14px;
}
.property-grid-1 .listing-location i,
.property-grid-2 .listing-location i,
.property-grid-3 .listing-location i,
.property-grid-6 .listing-location i,
.property-grid-7 .listing-location i {
	font-size: 13px;
	color: var(--theme-primary-color);
}
.property-grid-1 .listing-title,
.property-grid-1 .listing-title a {
    font-weight: 500;
    color: var(--theme-dark-color);
    font-size: 18px;
    margin-bottom: 0;
}
.property-grid-1 .listing-title:hover,
.property-grid-1 .listing-title a:hover {
    color: var(--theme-primary-color);
}
.property-grid-2 .listing-title,
.property-grid-2 .listing-title a {
	font-weight: 400;
    color: var(--theme-dark-color);
    margin-bottom: 0;
    font-size: 18px;
}
.property-grid-2 .listing-title:hover,
.property-grid-2 .listing-title a:hover {
	color: var(--theme-primary-color);
}
.property-grid-2 ul.quantity {
	margin-bottom: 15px;
}
.property-grid-1 .listing-price small,
.property-grid-2 .listing-price small,
.property-grid-4 .listing-price small{
	font-size: 14px;
	font-weight: 400;
	color: var(--theme-general-color);
}
.property-grid-1 .listing-price del,
.property-grid-2 .listing-price del,
.property-grid-4 .listing-price del {
	font-size: 17px;
	font-weight: 400;
	color: var(--theme-general-color);
	padding-left: 3px;
}
.property-grid-1 .quantity li span,
.property-grid-2 .quantity li span,
.property-grid-3 .quantity li span,
.property-grid-5 .quantity li span,
.property-grid-6 .quantity li span,
.property-grid-7 .quantity li span,
.property-list-1 .quantity li span,
.property-list-2 .quantity li span {
	display: inline-block;
	text-align: center;
	border-radius: 50%;
	font-size: 13px;
	margin-right: 8px;
}
.property-grid-3 .listing-price del,
.property-grid-7 .listing-price del {
	font-size: 17px;
	font-weight: 400;
	color: var(--theme-white-color);
	padding-left: 3px;
}
.property-grid-3 .listing-price small,
.property-grid-7 .listing-price small {
	font-size: 13px;
	font-weight: 400;
	color: var(--theme-white-color);
}
.property-grid-3 .listing-price {
	position: absolute;
    left: 15px;
    bottom: 15px;
    display: flex;
    line-height: 40px;
    margin: 0;
    padding: 0 10px;
    font-weight: 700;
    color: var(--theme-white-color);
    font-family: var(--theme-highlight-font);
    font-size: 18px;
    gap: 5px;
}
.property-grid-3 .btn.btn-primary {
	line-height: 40px;
    font-size: 13px;
}
.property-grid-3 .listing-title,
.property-grid-3 .listing-title a {
	color: var(--theme-dark-color);
    font-size: 18px;
    margin-bottom: 0
}
.property-grid-3 .listing-title:hover,
.property-grid-3 .listing-title a:hover {
	color: var(--theme-primary-color);
}
.property-grid-7 .listing-price {
	font-weight: 700;
	color: var(--theme-primary-color);
	font-family: var(--theme-highlight-font);
	font-size: 21px;
}
.property-grid-7 .listing-title,
.property-grid-7 .listing-title a {
	font-weight: 400;
	color: var(--theme-white-color);
}
.property-grid-7 .listing-title:hover,
.property-grid-7 .listing-title a:hover {
	color: var(--theme-primary-color);
}
.property-grid-7 .listing-location {
	color: var(--theme-white-color);
    font-size: 14px;
}
.property-grid-7.property-block {
	height: auto;
}
.property-grid-7 [class*="overlay-"]::before {
	z-index: 1;
	background: rgb(46, 55, 70);
	background: linear-gradient(0deg, rgba(46, 55, 70, 0.8) 0%, rgba(46, 55, 70, 0.5) 50%, rgba(46, 55, 70, 0) 100%);
}
.property-grid-7 .property_text {
	position: absolute;
	z-index: 10;
	left: 24px;
	bottom: 24px;
}
.property-grid-7 .quantity li {
	color: var(--theme-white-color);
}
.property-grid-9 {
    position: relative;
}
.property-grid-9 [class*="overlay-"]::before {
    z-index: 1;
    background: rgb(46, 55, 70);
    background: linear-gradient(0deg, rgba(46, 55, 70, 0.8) 0%, rgba(46, 55, 70, 0.5) 50%, rgba(46, 55, 70, 0) 100%);
}
.property-grid-9 .entry-content-wrapper {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
    z-index: 10;
}
.property-grid-9 .listing-price {
    font-weight: 700;
    color: var(--theme-white-color);
    display: flex;
    font-family: var(--theme-highlight-font);
    font-size: 21px;
    align-items: baseline;
    gap: 5px;
}
.property-grid-9 .listing-price small {
    font-size: 13px;
	font-weight: 400;
	color: var(--theme-white-color);
}
.property-grid-9 .listing-location {
	margin-bottom: 0;
	display: inline-block;
    color: var(--theme-white-color);
	width: 100%;
    font-size: 14px;
}
.property-grid-9 .listing-location i {
	font-size: 13px;
	color: var(--theme-primary-color);
}
.property-grid-9 .entry-footer a {
    font-size: 13px;
}
.listing-ctg i {
	margin-right: 3px;
}
.property-block {
	position: relative;
	overflow: hidden;
	height: 100%;
}
.property-block .post-meta {
	width: 100%
}
.property-block .cata {
	left: 15px;
	top: 15px;
	z-index: 9;
	display: flex;
}
.property-block .cata span {
	padding: 0 10px;
	font-size: 12px;
	margin-right: 3px;
	height: 25px;
	line-height: 25px;
}
.quantity {
	gap: 15px;
}
.quantity li:last-child {
	padding: 0
}
.agent-meta {
	display: flex;
}
.agent-meta img,
.post-meta .agent img {
	width: 40px;
	height: 40px;
}
.quick-meta {
	right: 15px;
	bottom: 15px;
    z-index: 10
}
.quick-meta li {
	width: 40px;
	height: 40px;
	border-radius: 3px;
	background-color: var(--theme-dark-opacity-color);
	display: inline-block;
	margin: 2px;
	text-align: center;
	line-height: 40px;
    font-size: 14px;
}
.quick-meta li a {
	display: block;
	color: var(--theme-white-color);
}
.lsd_list li {
	border-radius: 5px;
	background-color: rgb(247, 247, 247);
	height: 35px;
	padding: 4px 20px;
	text-align: center;
}
.lsd_list li a {
	color: #484848;
	font-size: 14px;
	line-height: 30px;
	display: block;
}
.property-grid-4 .location {
	position: absolute;
	bottom: 20px;
	left: 15px;
	z-index: 9;
	color: var(--theme-white-color);
}
.property-grid-4 .thumbnail-img .quick-meta li {
	width: auto;
	height: auto;
	background-color: rgba(var(--theme-white-color-rgba), .3);
}
.property-grid-4 .thumbnail-img .quick-meta li a {
	display: flex;
	align-items: center;
	padding: 0px 10px;
	line-height: 30px;
	color: var(--theme-white-color);
}
.property-grid-4 .thumbnail-img .quick-meta li a i {
	margin-right: 5px;
}
.property-grid-4 .flat-info {
	margin-bottom: 15px;
}
.property-grid-4 .agent {
	position: absolute;
    bottom: 15px;
    left: 15px;
    z-index: 10
}
.property-grid-4 .btn-link {
    font-size: 13px;
    text-decoration: none;
    color: var(--theme-primary-color);
    display: inline
}
.property-grid-4 .view-fiender {
    position: absolute;
    right: 15px;
    bottom: 15px;
    display: flex;
    gap: 5px;
}
.property-grid-4 .view-fiender li {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 3px;
    background-color: var(--theme-dark-color);
    text-align: center;
}
.property-grid-4 .view-fiender li a {
    color: var(--theme-primary-color);
    display: block;
}
.property-grid-4 .agent img {
    width: 40px;
    height: 40px;
}
.property-grid-4 .quick-meta li a {
	color: var(--theme-general-color);
	background-color: var(--theme-light-color);
}
.property-grid-4 .quick-meta li a:hover {
	color: var(--theme-white-color);
	background-color: var(--theme-primary-color);
}
.property-grid-5 .post-meta ul {
	display: flex;
	align-items: center;
}
.property-grid-5 .post-meta ul li:not(:last-child) {
	margin-right: 30px;
}
.property-grid-5 .post-meta a:hover span {
	text-decoration: none;
}
.property-grid-5 .entry-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}
.property-grid-5 .listing-price {
    padding: 6px 15px;
    font-size: 18px;
    font-weight: 700;
    background-color: var(--theme-light-color);
    color: var(--theme-primary-color);
    display: inline-flex;
    border-radius: 20px;
    font-family: var(--theme-highlight-font);
    gap: 5px
}
.property-grid-5 .listing-price small {
    font-size: 14px;
    padding-left: 5px;
    font-weight: 400;
}
.property-grid-5 .listing-ctg {
    position: absolute;
    left: 15px;
    top: 15px;
    display: inline-block;
    font-size: 12px;
    line-height: 25px;
    padding: 0 10px;
    z-index: 100;
    background-color: var(--theme-primary-color);
}
.property-grid-5 .listing-title {
    margin-bottom: 0
}
.property-grid-5 .agent {
    padding-top: 15px;
}
.property-grid-5 .quantity {
    margin-top: 15px
}
.property-block .owl-carousel.nav-between-in .owl-nav button {
    visibility: hidden;
    opacity: 0;
}
.property-block .owl-carousel{
    height: 100%
}
.property-block .owl-carousel div {
    height: 100%
}
.property-block .thumbnail-img:hover .owl-carousel.nav-between-in .owl-nav button {
    visibility: visible;
    opacity: 1
}
.property-grid-6 .listing-ctg {
	position: absolute;
    left: 15px;
    top: 15px;
    display: inline-block;
    font-size: 12px;
    line-height: 25px;
    padding: 0 10px;
    z-index: 100;
    background-color: var(--theme-secondary-color);
}
.property-grid-6 .listing-ctg i {
	display: none;
}
.property-grid-6 .quick-meta li {
	background-color: var(--theme-white-color);
}
.property-grid-6 .quick-meta li a {
	display: block;
	color: #fff;
	color: var(--theme-secondary-color);
	font-weight: 500;
}
.property-grid-6 .listing-title a{
	color: var(--theme-secondary-color);
}
.property-grid-6 .listing-title a:hover {
	color: var(--theme-secondary-color);
	text-decoration: underline;
}
.property-grid-6 .listing-price {
	padding: 3px 15px;
    font-size: 18px;
    font-weight: 700;
    background-color: var(--theme-primary-color);
    color: var(--theme-secondary-color);
    display: inline-flex;
    border-radius: 20px;
    font-family: var(--theme-highlight-font);
}
.property-grid-6 .listing-price small {
	font-size: 14px;
	padding-left: 5px;
	font-weight: 400;
}
.property-grid-6 .agent {
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 1px dashed #eee;
}
.property-grid-6 .quantity {
	padding-top: 15px;
	justify-content: space-between;
}
.property-grid-6 .quantity li span {
	color: var(--theme-secondary-color);
}
.property-list-1 .thumbnail-img a,
.property-list-2 .thumbnail-img a {
	display: block;
	height: 100%;
}
.property-list-1 .thumbnail-img img,
.property-list-2 .thumbnail-img img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}
.property-list-1 .listing-title, 
.property-list-1 .listing-title a,
.property-list-2 .listing-title, 
.property-list-2 .listing-title a {
    font-weight: 700;
    color: var(--theme-dark-color);
    font-size: 18px;
    margin-bottom: 0
}
.property-list-1 .listing-title:hover, 
.property-list-1 .listing-title a:hover,
.property-list-2 .listing-title:hover, 
.property-list-2 .listing-title a:hover{
    color: var(--theme-primary-color);
}
.property-list-1 .listing-price {
    padding: 6px 0;
    font-size: 21px;
    font-weight: 700;
    color: var(--theme-primary-color);
    display: inline-flex;
    border-radius: 3px;
    font-family: var(--theme-highlight-font);
    gap: 5px;
    margin-top: 10px 
}
.property-list-1 .agent ul li span {
    font-size: 13px;
    color: var(--text-light-color);
}
.property-list-1 .listing-location,
.property-list-2 .listing-location {
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
    font-size: 14px;
}
.property-list-1 .listing-location i,
.property-list-2 .listing-location i {
    font-size: 13px;
    color: var(--theme-primary-color);
}
.property-list-1 ul.quantity,
.property-list-2 ul.quantity {
    margin-bottom: 10px;
}
.property-list-1 .listing-price small,
.property-list-2 .listing-price small {
    font-size: 13px;
    font-weight: 400;
    color: var(--theme-general-color);
}
.property-list-2 .listing-price {
    font-size: 21px;
    font-weight: 700;
    color: var(--theme-primary-color);
    display: inline-flex;
    border-radius: 3px;
    margin-bottom: 5px;
    font-family: var(--theme-highlight-font);
    gap: 5px;
}
.property-list-2 .thumbnail-img {
	flex-shrink: 0;
	overflow: hidden;
}
.property-list-2 .btn-link {
    font-size: 13px;
    text-decoration: none;
    color: var(--theme-primary-color);
    display: inline;
}
.product-offer-item {
	font-size: 15px;
}
.product-offer-item strong {
	font-weight: 500;
	color: var(--theme-dark-color);
}
div.summary .product-offer-item:before {
	color: var(--theme-primary-color);
	font-size: 20px;
	margin-right: 10px;
	line-height: 1;
}
div.summary .product-offer-item:before {
	content: "\f02b";
}
div.summary .product-offer-item::before {
	display: inline-block;
	font-family: "Font Awesome 5 Free";
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	text-align: center;
	text-decoration: inherit;
	vertical-align: middle;
}
.product-status {
	line-height: 25px;
	height: 25px;
}
.map-view-list,
.map-view-grid {
    padding-right: 12px !important
}
/*===============================================================================
Blog Thumbnail Style Start
==================================================================================*/
    
.thumb-blog-overlay .post-meta a span {
	font-size: 13px;
}
/*===============================================================================
Blog Single Style Start
==================================================================================*/
    
.media {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: start;
	align-items: start;
	flex-wrap: wrap;
}
.media-body {
	-ms-flex: 1;
	flex: 1;
}
/*===============================================================================
Sidebar Widgets Style Start
==================================================================================*/
    
.widget-box-model .widget,
.agent-search,
.woo-filter-bar,
.widget_recent_property,
.widget_send_message,
.property_carousel_widget,
.advance_search_widget {
	background-color: #fff;
	border: 1px solid #dee2e6;
	margin-bottom: 30px;
}
.widget {
	padding: 30px;
}
.widget .owl-carousel .owl-dots {
	margin-top: 0
}
.widget_recent_property>ul>li {
	display: flex;
	margin-bottom: 20px;
}
.widget_recent_property li img {
	width: 80px;
	height: 80px;
	margin-right: 12px;
	border-radius: 3px;
}
.widget_recent_property .listing-price {
	font-weight: 700;
    color: var(--theme-primary-color);
    display: inline-block;
    font-family: var(--theme-highlight-font);
    font-size: 18px;
    margin-bottom: 5px;
}
.widget_recent_property .listing-price del {
	font-size: 15px;
    font-weight: 400;
    color: var(--theme-general-color);
    padding-left: 3px
}
.widget_recent_property .listing-price small {
    font-size: 13px;
    font-weight: 400;
    color: var(--theme-general-color);
    padding-left: 3px
}
.widget_recent_property .quantity {
	gap: 10px;
}
.widget_recent_property .quantity li {
	padding-right: 5px;
	font-size: 13px;
}
.widget_recent_property .quantity li span {
	margin-right: 5px;
	display: inline-block;
}
.widget_recent_property .listing-title {
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 0;
}
.view-category button {
	border-radius: 7px;
}
.widget_search .screen-reader-text {
	display: none;
}
.widget_search .search-field {
	border: 1px solid;
	border-color: var(--theme-gray-color);
	font-size: 13px !important;
	color: #484848;
	height: 50px;
	padding: 13px 15px;
	border-radius: 3px;
	width: 100%;
}
.widget_search label {
	width: 100%;
}
.widget_search input[type="submit"] {
	display: none;
}
.widget_sidebarnav ul li,
 .widget_categories ul li {
	padding: 12px 0;
}
.widget_sidebarnav ul li a {
	font-size: 15px;
	color: var(--theme-general-color);
}
.widget_sidebarnav ul li a:hover {
	color: var(--theme-primary-color);
}
.widget_recent_entries ul li a {
	font-weight: 400;
}
/*===============================================================================
Fact Counter Style Start
==================================================================================*/
    
.bar-progress {
	font-weight: 400;
}
/*===============================================================================
Mixitup Style Start
==================================================================================*/
    
.mixitup-control-active {
	color: var(--theme-primary-color)
}
/*===============================================================================
Accordion Style Start
==================================================================================*/
    
.ac-card {
	padding: 10px 0;
}
.ac-collapse {
	margin-top: 20px;
}
.bb-accordion .ac-toggle i {
	background-color: var(--theme-secondary-color);
	width: 30px;
	height: 30px;
	display: block;
	border-radius: 50rem;
	font-size: 12px;
	text-align: center;
	line-height: 33px;
	margin-right: 10px;
	color: var(--theme-white-color);
	float: left
}
[class*="accordion-plus-"] .ac-toggle {
	position: relative;
}
.accordion-plus-right .ac-toggle {
	padding-right: 30px;
	line-height: 30px;
	display: block;
}
.accordion-plus-left .ac-toggle {
	padding-left: 30px;
}
[class*="accordion-plus-"] .ac-toggle::before,
 [class*="accordion-plus-"] .ac-toggle::after {
	content: "";
	position: absolute;
	width: 16px;
	height: 2px;
	right: 0;
	background-color: var(--theme-dark-color);
	top: 50%;
	transform: translateY(-50%)
}
.accordion-plus-left .ac-toggle.active::before {
	content: "";
}
.accordion-plus-left .ac-toggle::before,
 .accordion-plus-left .ac-toggle::after {
	left: 0
}
[class*="accordion-plus-"] .ac-toggle:not(.active):after {
	transform: rotate(90deg);
}
/*===============================================================================
Owl Carousel Style Start
==================================================================================*/
    
.owl-outer-20 .owl-stage-outer {
	padding: 20px;
	margin: -20px
}
.owl-carousel .owl-nav button span {
    display: block;
    margin-top: -5px
}
.owl-carousel.nav-top-right .owl-nav {
	position: absolute;
	right: 0;
	top: -70px;
}
.owl-carousel.nav-top-right .owl-nav button {
	width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    border-radius: 5px;
    background-color: var(--theme-light-color);
    color: var(--theme-dark-color);
    margin-left: 5px;
}
.owl-carousel.nav-between-in .owl-nav button.owl-prev {
    left: 15px;
    position: absolute;
	top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}
.owl-carousel.nav-between-in .owl-nav button.owl-next {
    right: 15px;
    position: absolute;
	top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}
.owl-carousel.nav-between-in .owl-nav button {
	width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    border-radius: 5px;
    background-color: var(--theme-dark-color);
    color: var(--theme-white-color);
    margin-left: 5px;
}
.owl-carousel.nav-top-right .owl-nav button:hover {
	background-color: var(--theme-primary-color);
	color: var(--theme-dark-color);
}
.owl-carousel button.owl-dot.active {
	width: 15px;
	height: 15px;
	background-color: var(--theme-dark-color) !important;
	border-radius: 50%;
	border: 5px solid #e0e2e3;
}
.owl-carousel button.owl-dot {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	margin: 0 5px;
	background-color: #e0e2e3;
	border: 5px solid #fff;
}
.testimonial-simple blockquote {
	font-size: 16px;
	color: #fff;
	line-height: 34px;
	padding: 30px 0;
}
/*===============================================================================
Page Banner Style Start
==================================================================================*/
.banner-title {
	font-size: 30px;
	font-weight: 500;
}
.banner-tagline {
    display: inline-block;
    margin-bottom: 10px;
}
/*===============================================================================
Search Banner Style Start
==================================================================================*/
    
.banner-search {
	width: 100%;
	padding-top: 250px;
	padding-bottom: 270px;
}
/*===============================================================================
Map Element Style Start
==================================================================================*/
    
.homepage-map #map {
	width: 100%;
	height: 750px;
}
.gm-style img {
	width: 100%
}
.infobox-wrapper {
	background: #fff;
	width: 300px !important;
	margin-bottom: 85px;
	margin-left: -48px;
}
.infobox-wrapper>img {
	position: absolute !important;
	top: 20px;
	right: 20px;
	z-index: 10;
	width: 22px;
	height: 22px
}
.infobox-wrapper .img_area {
	position: relative
}
.infobox-wrapper .sale_amount {
	position: absolute;
	bottom: 20px;
	left: 20px;
	z-index: 10;
	font-size: 16px;
	color: #fff;
	font-family: var(--theme-highlight-font);
}
.infobox-wrapper:after {
	content: "";
	position: absolute;
	bottom: -20px;
	left: 42.5%;
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #fff;
}
#map-banner {
	position: relative;
	width: 100%
}
#map-banner.visible {
	overflow: visible
}
.homepage-map #map {
	width: 100%;
	height: 710px
}
.marker-style {
	width: 20px;
	height: 20px;
	margin-left: -10px !important;
	margin-top: -50px !important
}
.cluster>div {
	font-size: 12px !important;
	font-family: var(--theme-general-font) !important;
	line-height: 44px !important
}
#find-location {
	position: absolute;
	bottom: 50px;
	left: 50%;
	-moz-transform: translate(-50%, 100%);
	-webkit-transform: translate(-50%, 100%);
	-ms-transform: translate(-50%, 100%);
	-o-transform: translate(-50%, 100%);
	transform: translate(-50%, 100%);
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-webkit-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out
}
#find-location.open {
	-moz-transform: translate(-50%, 50px);
	-webkit-transform: translate(-50%, 50px);
	-ms-transform: translate(-50%, 50px);
	-o-transform: translate(-50%, 50px);
	transform: translate(-50%, 50px);
	z-index: 9999
}
.form-up-btn {
	font-family: var(--theme-general-font) !important;
	font-weight: 500;
	padding: 0 30px;
	line-height: 50px;
	cursor: pointer
}
.form-up-btn span {
	padding-left: 15px
}
#find-location.open .form-up-btn span i {
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg)
}
/*Home page 6 map*/
    
.search-box-map #find-location {
	width: 320px;
	bottom: 50%;
	left: 10%;
	position: absolute;
	-webkit-transform: translateY(50%);
	-ms-transform: translateY(50%);
	transform: translateY(50%);
	-ms-transition: all 300ms ease-in-out 0s;
	-webkit-transition: all 300ms ease-in-out 0s;
	transition: all 300ms ease-in-out 0s;
	padding: 30px;
}
.price_range {
	padding-bottom: 30px;
}
.search-box-map .property_filter_input .price-filter,
 .search-fixed-right .property_filter_input .price-filter {
	height: 50px;
	margin-right: 5px;
}
/*Home page 9 map*/
    
#map-banner.half-wide-map {
	display: flex
}
.half-wide-map #map {
	width: 65%;
	float: left;
}
.search-fixed-right {
	float: right;
	width: 35%;
}
.search-fixed-right #find-location {
	position: static;
	transform: none;
}
.single_property_detail #map {
	height: 270px;
}

/*===============================================================================
Single Property Page Style Start
==================================================================================*/
.view-category button {
	width: 40px;
	height: 40px;
	border: 0;
	color: var(--theme-general-color);
	background-color: transparent;
}
.view-category button.current {
	color: var(--theme-primary-color);
}
.woocommerce-ordering-pages {
	line-height: 40px;
}
.woo-filter-bar .bootstrap-select>.dropdown-toggle {
	border: none;
}
.woocommerce-ordering {
	display: flex;
}
.woocommerce-ordering select:not(:last-child) {
	margin-right: 10px
}
.woocommerce-ordering select {
	background-color: var(--theme-light-color);
    font-size: 14px;
    border: 0;
    padding-right: 45px;
    padding-left: 20px;
    border-radius: 23px;
    line-height: 45px;
}

.property-overview .listing-price {
    font-size: 24px;
    font-weight: 700;
    text-align: right;
    color: var(--theme-primary-color);
    display: flex;
    flex-direction: column;
    font-family: var(--theme-highlight-font);
}
.property-overview .listing-price small {
    font-size: 14px;
    color: var(--theme-general-color);
    font-weight: 400
}
.property-overview .listing-title {
    margin-bottom: 0
}


/*===============================================================================
Compare Page Style Start
==================================================================================*/
    
.clip-item .fa-times {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 25px;
	height: 25px;
	opacity: 0;
	padding: 5px;
	cursor: pointer;
	text-align: center;
	line-height: 16px;
	font-size: 10px;
}
.clip-item:hover .fa-times {
	opacity: 1;
}
.compare-list-properties {
	overflow-x: auto;
}
.compare-list-properties tr:nth-child(2n) {
	background: #f5f5f5;
}
.compare-list-properties td:first-child {
	text-align: left;
	width: 200px;
	padding-left: 25px;
}
.compare-list-properties td {
	padding: 15px;
	text-align: center;
	position: relative;
}
.compare-list-properties .available::before,
 .compare-list-properties .not-available::before {
	content: "\f00c";
	color: #2ab160;
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	display: inline-block;
}
.compare-list-properties .not-available::before {
	content: "\f00d";
	color: #d43e3e;
}
/*===============================================================================
Deshboard Style Start
==================================================================================*/
.nav-light .navbar-nav .nav-link {
	color: var(--text-light-color);
}
.dashboard-nav .db-dropdown-menu li .nav-link {
	padding: 10px 20px;
}
.dashboard-nav .db-dropdown-menu li:last-child .nav-link {
	padding-bottom: 20px;
}
.dashboard-nav .navbar-nav .nav-link {
	font-size: 13px;
	padding: 10px 20px;
	border-left: 3px solid;
	border-color: transparent;
	position: relative;
}
.dashboard-nav .navbar-nav .nav-link:hover {
	color: #FFF;
}
.dashboard-nav .navbar-nav>.nav-item>.nav-link:hover {
	border-left: 3px solid;
	border-color: var(--theme-primary-color);
	background: var(--theme-extra-color);
}
.dashboard-nav .navbar-nav .nav-item.active>.nav-link {
	color: #FFF;
}
.dashboard-nav .navbar-nav>.nav-item.active>.nav-link {
	border-left: 3px solid;
	border-color: var(--theme-primary-color);
	background: var(--theme-extra-color);
}
.dashboard-nav .db-dropdown-menu>li>.nav-link {
	border-left: 3px solid;
	border-color: var(--theme-primary-color);
	background: var(--theme-extra-color);
}
.dashboard-nav .db-dropdown-menu {
	display: none;
}
.dashboard-nav .navbar-nav .db-dropdown .nav-link.dropdown-toggle:after {
	transform: translateY(-50%) rotate(90deg);
	position: absolute;
	content: "\f105";
	font-family: "Font Awesome 5 Free";
	font-weight: 600;
	font-size: 10px;
	top: 50%;
	right: 20px;
	display: block;
	border: none;
}
.user-option img {
	width: 40px;
	height: 40px;
	border-radius: 100%;
	margin-right: 10px;
}
.ball::before {
	position: absolute;
	content: "";
	width: 40px;
	height: 40px;
	border-radius: 100%;
	background-color: #fff;
	left: 15px;
	top: 35px;
	opacity: 0.3;
}
.msg-history,
.active-chat-list {
	height: 100vh;
	overflow-y: scroll;
}
.msg-history li,
.active-chat-list li {
    display: flex;
    padding: 10px 0;
    align-items: center;
}
.msg-history li {
    align-items: flex-start;
    width: 75%
}
.msg-history li .avata {
    flex-shrink: 0
}
.active-chat-list li .chat-time {
    font-size: 13px;
}
.active-chat-list li.new-message .chat-time,
.active-chat-list li.new-message .chat-info {
    font-weight: 600;
    color: var(--theme-dark-color)
}
.active-chat-list li {
    min-width: 100%;
    line-height: 20px;
    cursor: pointer;
}
.msg-history li .avata,
.active-chat-list li .avata {
	position: relative;
	cursor: pointer;
	margin-right: 10px;
}
.active-chat-list li img {
    width: 50px;
    height: 50px;
}
.active-chat-list li .user-status {
	position: absolute;
    top: 32px;
    left: 35px;
}
.use-on-chat .chat-body {
    width: 100%
}

.active-chat-list li .user-status i {
	border: 2px solid #fff;
	border-radius: 100%;
	font-size: 11px;
}
.active-chat-list li .un-read {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: var(--theme-primary-color);
    text-align: center;
    line-height: 19px;
    margin-left: auto;
    color: #fff;
    font-size: 11px;
    font-weight: 400;
}
.chatbox-head img {
	width: 70px;
	height: 70px;
}
.msg-history li.msg-replayer {
    flex-direction: row-reverse;
    margin-left: auto;
}
.msg-history li.msg-replayer .avata {
    margin-right: 0;
    margin-left: 10px;
}
.msg-history li.msg-replayer .chat-info {
    text-align: right;
}
.msg-history li .avata img {
	width: 40px;
	height: 40px
}
.chatbox-head .user-status {
	position: absolute;
	top: 50px;
	left: 50px;
}
.chatbox-head .user-status i {
	border: 2px solid #fff;
	border-radius: 100%;
	font-size: 12px;
}
.chat-write-box button {
	position: absolute;
	right: 3px;
    top: 50%;
    transform: translateY(-50%);
}
.chat-write-box input {
	padding-right: 105px !important;
}
.chat-write-box textarea {
    resize: none;
    padding-right: 115px;
}
.items-list tr {
	border-bottom: 10px solid #ececec;
	background-color: #fff
}
.items-list.bg-transparent tr {
	background-color: transparent;
	border-bottom: 1px solid #ececec;
}
.items-list tr td,
.items-list tr th {
	padding: 20px;
	font-weight: 400;
}
.items-list td img {
	width: 90px;
	float: left;
	margin-right: 15px;
}
.media-upload li.col {
	position: relative
}
.media-upload a {
	position: absolute;
	top: 10px;
	right: 25px;
	color: #fff;
	cursor: pointer;
	display: block;
	background: var(--theme-primary-color);
	padding: 5px 8px;
	font-size: 11px;
	border-radius: 3px;
}
.fileupload_label {
	background: transparent;
	cursor: pointer;
	font-weight: 400;
	padding: 70px 0;
	text-align: center;
	background: var(--theme-light-color);
	width: 100%;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.fileupload_label:hover {
	background: rgba(144, 201, 35, 0.05);
	border-color: rgba(144, 201, 35, 0.7);
}
.wrap-custom-file {
	position: relative;
	display: inline-block;
	width: 200px;
	height: 200px;
	text-align: center;
}
.wrap-custom-file input[type="file"] {
	position: absolute;
	top: 0;
	left: 0;
	width: 2px;
	height: 2px;
	overflow: hidden;
	opacity: 0;
}
.wrap-custom-file label {
	z-index: 1;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	overflow: hidden;
	cursor: pointer;
	background-color: var(--theme-light-color);
	background-size: cover;
	border-radius: 5px;
	-webkit-transition: -webkit-transform 0.4s;
	transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	transition: transform 0.4s, -webkit-transform 0.4s;
}
.wrap-custom-file label span {
	border-radius: 5px;
	background-color: #ffffff;
	-webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.09);
	-moz-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.09);
	-o-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.09);
	box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.09);
	bottom: 20px;
	color: #484848;
	font-size: 14px;
	line-height: 2.2;
	height: 40px;
	line-height: 41px;
	left: 20px;
	position: absolute;
	width: 120px;
}
.compare-chart-classic .table tr th {
	background-color: var(--theme-light-color);
}
.compare-chart-classic .table tr th,
.compare-chart-classic .table tr td {
	border-color: var(--theme-gray-color)
}
.dashboard-nav-area {
	height: 100vh;
	width: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
}
.notice-warning button{
    height: 20px;
    font-size: 14px;
}
.notice-warning {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/*===============================================================================
Footer Style Start
==================================================================================*/
  
.media-footer-dark .widget-title,
.media-footer-dark .footer-widget a {
	color: var(--theme-white-color);
}
.media-footer-dark .footer-widget a:hover {
	color: var(--theme-primary-color);
}
.copyright-border .container {
	border-top: 1px solid #eeeeee;
	position: relative;
}
/*===============================================================================
Social Media Style Start
==================================================================================*/
.social-box-rounded li {
	width: 36px;
	height: 36px;
	border-radius: 100%;
	text-align: center;
	line-height: 36px;
}
.social-box-rounded li a {
	color: var(--theme-secondary-color);
	font-size: 15px;
	display: block;
}
.social-box-gray li {
	background-color: var(--theme-gray-color);
}
.social-media {
    display: flex;
    gap: 5px;
}
.social-media a{
    font-size: 12px;
    color: var(--theme-general-color)
}

/*===============================================================================
Responsive Style Start
==================================================================================*/
    
@media screen and (min-width: 1200px) {
    .container {
        max-width: 1180px
    }
}
 @media screen and (min-width: 1320px) {
    .container {
        max-width: 1240px
    }
}
 @media screen and (min-width: 1500px) {
    .container {
        max-width: 1320px
    }
}
 @media screen and (min-width: 767px) {
    .agent-list-view,
    .property-list-1,
    .property-list-2 {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .agent-list-view>div,
    .property-list-1 .property_text,
    .property-list-1 .thumbnail-img,
    .property-list-2 .property_text,
    .property-list-2 .thumbnail-img{
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
        display: flex;
        flex-direction: column;
    }
    .nav-leftpush-overlay .navbar-expand-lg .left-filter-fixed.navbar-slide-push {
        height: 100vh;
        width: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        padding: 50px 40px;
        display: block !important;
        opacity: 1 !important;
        position: static !important;
    }
}
 @media screen and (min-width: 576px) {
    .position-sm-absolute {
        position: absolute !important
    }
}
@media screen and (max-width: 991px) {
    .apartments-plan-info {
        padding: 50px;
    }
    .md-bg-secondary {
        background-color: var(--theme-secondary-color) !important;
    }
    .md-bg-dark {
        background-color: var(--theme-dark-color) !important;
    }
    .navbar-nav>li.dropdown>a.nav-link::after,
     .navbar-nav>li.dropdown .dropdown-toggle::after {
        right: 20px;
    }
    .navbar-expand-lg .navbar-nav>li.dropdown>a.nav-link::after {
        right: 20px;
    }
    .bootstrap-select .dropdown-menu.inner {
        background-color: #fff;
    }
    .banner-search {
        width: 100%;
        padding-top: 120px;
        padding-bottom: 140px;
    }
    .sm-position-static {
        position: static !important
    }
    .sm-position-relative {
        position: relative !important
    }
    .woocommerce-ordering .dropdown-toggle::after {
        position: relative;
        right: auto;
        top: auto;
    }
    .widget_contact .media img {
        width: 70px;
        height: 70px;
    }
    .navbar-nav.user-option {
        display: block
    }
    .user-option li:first-child {
        float: left;
        line-height: 40px;
    }
    .user-option li:last-child {
        float: right;
    }
    .sm-mw-100 {
        max-width: 100% !important;
        width: auto !important;
    }
    .overflow-x-scroll {
        width: 100%;
        overflow-x: scroll;
    }
    .overflow-x-scroll table {
        width: 700px !important;
    }
    .owl-carousel.nav-top-right .owl-nav {
        display: none;
    }
}
@media screen and (max-width: 767px) {
    #page_wrapper,
     .dashboard-body {
        height: auto !important;
    }
    .bg-sm-secondary {
        background-color: var(--theme-secondary-color);
    }
    .aditional-features {
        top: 91%
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        font-size: 13px;
    }
    .overflow-x-scroll::-webkit-scrollbar {
        height: 3px;
    }
    .list-three-fold-width li {
        width: 100%;
    }
    .xs-text-start {
        text-align: left !important
    }
    .xs-h-auto {
        height: auto !important;
    }
    .collaps-dashboard {
        line-height: 45px;
        cursor: pointer;
        font-weight: 500;
    }
    .dashboard-nav-area {
        height: auto;
    }
    .dashboard-nav {
        display: none;
    }
    .dashboard-nav-area.bg-secondary {
        background: #fff !important
    }
    .navbar-nav li {
        color: var(--theme-text-general-color) !important
    }
    .dashboard-nav-area a.navbar-brand {
        margin-left: auto !important;
        margin-right: auto !important;
        display: block;
        width: 250px;
    }
    .user-option.navbar-nav {
        border-top: 0 !important;
    }
    .xs-mw-100 {
        max-width: 100% !important;
    }
    .property-search-form.on-slider {
        margin-top: 40px;
        z-index: 99;
        margin-bottom: 40px;
    }
}
 @media screen and (max-width: 419px) {
    .list-half-width>* {
        width: 100%
    }
    .property-grid-4 .location {
        display: none
    }
}
