* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Familjen Grotesk;
}

.container {
  margin: 0px auto;
}
.partyProper1{
  display: none;
}
.card {
  background-color: transparent;
}

a {
  text-decoration: none;
}

// header start
header {
  position: relative;
  z-index: 99;
  padding: 30px 15px;

  &.sticky {
    .container {
      .row {
        .main-box {
          .main-menu {
            // top: 20px;
          }
        }
      }
    }
  }

  .container {
    .row {
      .main-box {
        .main-menu {
          width: 33%;
          background-color: white;
          border-radius: 64px;
          padding: 10px 15px;
          position: fixed;
          left: 50%;
          transform: translateX(-50%);
          z-index: 99;
          box-shadow: 0px 0px 25px -8px black;
          transition: all 0.5s;

          ul {
            li {
              position: relative;
              color: white;
              border-radius: 64px;
              cursor: pointer;

              a {
                position: relative;
                z-index: 99;
                display: block;
                color: #111F3C;
                border-radius: 64px;
                min-width: 80px;
                padding: 0 10px;
                font-size: 15px;
              }

              &.active {
                a {
                  color: white;
                }
              }
            }
          }

          .slide-line {
            /* Adjust these styles as needed */
            position: absolute;
            bottom: 0;
            /* or adjust to fit your design */
            left: 0;
            height: 30px;
            border-radius: 15px;
            z-index: 0;
            /* Ensure it's below the <a> elements */
          }

          .hover-line {
            /* Adjust these styles as needed */
            position: absolute;
            bottom: 0;
            /* or adjust to fit your design */
            left: 0;
            height: 30px;
            border-radius: 15px;
            z-index: 2;
            /* Ensure it's above the <a> elements */
          }
        }

        .menu-icon {
          display: none;
        }
      }
    }
  }
}

// header end

// footer start
footer {
  background-color: #111F3C;
  padding: 120px 0px 30px;
  border-radius: 50px 50px 0px 0px;

  .free-consultation {
    margin-top: -80px;
    padding: 0 15px;

    .btn {
      margin-left: -2px;

      a {
        padding: 12px 25px;
        color: black;
      }
    }
  }

  .card {
    flex: none !important;
  }

  .container {
    .row {
      .card-group {
        .detail {
          .btn {
            a {
              border: 1px solid white;
              border-radius: 8px;
              padding: 8px 35px;
              transition: all 0.3s;

              &:hover {
                background-color: white;
                color: #111F3C !important;
              }
            }
          }
        }

        .card {
          .content {
            .main-heading {
              border-bottom: 0.5px solid #919191;
            }

            .menu-box {
              ul {
                li {
                  a {
                    display: inline-block;
                    position: relative;
                    color: white;
                    transition: all 0.3s;
                    padding-bottom: 2px;

                    &::before {
                      position: absolute;
                      content: "";
                      box-sizing: border-box;
                      bottom: 0;
                      height: 1.5px;
                      width: 100%;
                      background-color: #ec7100;
                      transform: scaleX(0);
                      transition: all 0.5s;
                    }

                    &:hover {
                      color: #ec7100;

                      &::before {
                        transform: scaleX(1);
                      }
                    }
                  }

                  .btn {
                    a {
                      background-color: #FFFFFF;
                      padding: 4px 40px 4px 15px;
                      color: #111F3C;
                      border-radius: 20px;

                      dotlottie-player {
                        top: -30px;
                        right: -18px;
                      }

                      &::before {
                        display: none;
                      }

                      &:hover {
                        color: #111F3C;
                      }

                      &:nth-child(2) {
                        display: none !important;
                      }
                    }
                  }
                }
              }

              .playstore-button {
                display: flex;
                align-items: center;
                justify-content: center;
                border: 2px solid #000;
                border-radius: 9999px;
                background-color: rgba(0, 0, 0, 1);
                padding: 8px 1.5rem;
                text-align: center;
                color: rgba(255, 255, 255, 1);
                outline: 0;
                transition: all 0.2s ease;
                text-decoration: none;
              }

              .playstore-button:hover {
                background-color: white;
                color: rgba(0, 0, 0, 1);
              }

              .store-icon {
                display: inline-block;
                height: 1.5rem;
                width: 1.5rem;
              }

              .texts {
                margin-left: 8px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                line-height: 1;
              }

              .text-1 {
                margin-bottom: 0.25rem;
                font-size: 0.75rem;
                line-height: 1rem;
              }

              .text-2 {
                font-weight: 600;
              }
            }
          }
        }

        &:nth-child(2) {
          border-bottom: 0.5px solid #919191;

          ul {
            li {
              a {
                position: relative;
                padding-bottom: 2px;
                transition: all 0.2s;

                &:hover {
                  color: #ec7100 !important;
                }
              }
            }
          }
        }

        &:nth-child(3) {
          ul {
            li {
              a {
                .Btn {
                  border: none;
                  border-radius: 50%;
                  width: 30px;
                  height: 30px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  transition-duration: .4s;
                  cursor: pointer;
                  position: relative;
                  overflow: hidden;

                  .svgIcon {
                    transition-duration: .3s;
                  }

                  .text {
                    position: absolute;
                    color: rgb(255, 255, 255);
                    width: 120px;
                    font-weight: 600;
                    opacity: 0;
                    transition-duration: .4s;
                  }

                  &:hover {
                    width: 110px;
                    transition-duration: .4s;
                    border-radius: 30px;

                    .text {
                      opacity: 1;
                      transition-duration: .4s;
                    }

                    .svgIcon {
                      opacity: 0;
                      transition-duration: .3s;
                    }
                  }

                }
              }

              &:nth-child(1) {
                .Btn {
                  background-color: #1877f2;
                }
              }

              &:nth-child(2) {
                .Btn {
                  background-color: #007ab9;
                }
              }

              &:nth-child(3) {
                .Btn {
                  background: #f09433;
                  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
                  background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
                  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
                }
              }

              &:nth-child(4) {
                .Btn {
                  background-color: #ff0000;
                }
              }
            }
          }
        }
      }
    }
  }
}

// footer end
@media (min-width: 1400px) {
  .container {
    max-width: 1120px !important;
  }
}

@media (max-width: 1499px) {

  // header start
  header {
    .container {
      .row {
        .main-box {
          .main-menu {
            width: 36%;
          }
        }
      }
    }
  }

  // header end

}

// media-query start
@media (max-width: 1399px) {

  // header start
  header {
    .container {
      .row {
        .main-box {
          .main-menu {
            width: 40%;
          }
        }
      }
    }
  }

  // header end
}

@media (max-width: 1199px) {

  // header start
  header {
    .container {
      .row {
        .main-box {
          .main-menu {
            width: 46%;
          }
        }
      }
    }
  }

  // header end
}

@media (max-width: 1040px) {

  // header start
  header {
    .container {
      .row {
        .main-box {
          .main-menu {
            width: 50%;
          }
        }
      }
    }
  }

  // header end
}

@media (max-width: 991px) {

  // header start
  header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
    transition: all 0.3s;
    padding: 20px 0px;
    border-radius: 0px 0px 18px 18px;

    &.sticky {
      background-color: #111F3C;
      box-shadow: 0 0 25px -8px black;
    }

    .container {
      .row {
        .main-box {
          justify-content: space-between;
          align-items: center;

          .logo {
            width: fit-content;

            a {
              display: block !important;

              img {
                margin-top: 0px !important;
              }
            }
          }

          .main-menu {
            position: absolute;
            top: calc(-450% - 300%) !important;
            width: 100%;
            left: 0;
            border-radius: 0;
            background-color: transparent;
            box-shadow: none;
            transition: all 0.5s;
            transform: translate(0);
            background-color: #111f3c6f;
            backdrop-filter: blur(10px);


            ul {
              max-width: 100%;
              margin: 0px auto !important;

              li {
                width: 100%;
                padding: 10px 0;

                a {
                  border-radius: 0;
                  text-align: start !important;
                  background-color: transparent;
                  color: white;
                  font-weight: 600;
                  padding: 0 15px;

                  &.active {
                    background-color: transparent;
                    color: white;
                  }
                }
              }
            }

            &.active {
              top: 100% !important;
            }

            .slide-line,
            .hover-line {
              display: none;
            }
          }

          .menu-icon {
            display: flex;
            position: relative;
            justify-content: end;
            width: 30%;

            .icon {
              position: relative;
              top: 0;
              left: 0;
              height: 25px;
              width: 25px;
              cursor: pointer;
              transition: 0.3s;
              z-index: 9999;

              &.active {
                span {
                  background-color: transparent;

                  &::before {
                    transform: rotate(45deg);
                    top: 0;
                  }

                  &::after {
                    transform: rotate(-45deg);
                    top: 0;
                  }
                }
              }

              span {
                position: absolute;
                height: 2.5px;
                width: 22px;
                background-color: white;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: 0.3s;
                text-align: start;

                &::before {
                  content: "";
                  position: absolute;
                  top: -7px;
                  background-color: white;
                  height: 2.5px;
                  width: 22px;
                  transition: 0.3s;
                }

                &::after {
                  content: "";
                  position: absolute;
                  top: 7px;
                  background-color: white;
                  height: 2.5px;
                  width: 22px;
                  transition: 0.3s;
                }
              }
            }

            #checkbox {
              display: none;
            }

            .toggle {
              width: 25px;
              height: 30px;
              cursor: pointer;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              gap: 6px;
              transition-duration: .3s;
              z-index: 1000;
            }

            .bars {
              width: 100%;
              height: 2px;
              background-color: rgb(253, 255, 243);
              border-radius: 5px;
              transition-duration: .3s;
            }

            #bar4,
            #bar5 {
              display: none;
            }

            #checkbox:checked+.toggle #bar4 {
              display: flex;
              transform: translateY(10px) translateX(4px) rotate(25deg);
              margin-left: 0;
              transform-origin: right;
              transition-duration: .3s;
              z-index: 2;
              width: 12px;
            }

            #checkbox:checked+.toggle #bar5 {
              display: flex;
              transform: translateY(-2.5px) translateX(-6.5px) rotate(-25deg);
              margin-left: 0;
              transform-origin: right;
              transition-duration: .3s;
              z-index: 2;
              width: 13px;
            }

            #checkbox:checked+.toggle #bar2 {
              transform: translateY(19px) translateX(-5px) rotate(70deg);
              margin-left: 0;
              transform-origin: right;
              transition-duration: .3s;
              z-index: 2;
              width: 30px;
            }

            #checkbox:checked+.toggle #bar1 {
              transform: translateY(27px) translateX(4px) rotate(-70deg);
              transition-duration: .3s;
              transform-origin: left;
              z-index: 1;
              width: 30px;
            }

            #checkbox:checked+.toggle {
              transform: rotate(45deg);
            }

            #checkbox:checked+.toggle #bar3 {
              transform: translateY(12px) rotate(2deg);
              transition-duration: .3s;
              transform-origin: right;
              display: none;
            }
          }
        }
      }
    }
  }

  // header end

  // footer start
  footer {
    padding-top: 60px;
  }
  // footer end
}

@media (max-width: 768px) {
  .partyProper1{
    display: flex;
  }
  footer {
    .container {
      .row {
        .card-group {
          .card {
            .content {
              .menu-box {
                ul {
                  &.hiring {
                    display: none;
                  }
                  li {
                    .btn {
                      a {
                        &:nth-child(2) {
                          display: none !important;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 575px) {
  header {
    padding: 20px 15px;

    .container {
      .row {
        .main-box {
          .main-menu {
            padding: 10px 0;

            ul {
              width: 100%;
            }
          }
        }
      }
    }
  }

  // footer start
  .footer-logo {
    display: none;
  }
  footer {
    padding-top: 30px;
    .free-consultation {
      margin-top: -50px;
      padding: 0px 15px 30px !important;

      .image {
        img {
          width: 100px;
        }
      }

      .btn {
        a {
          padding: 8px 15px;
        }
      }
    }

    .container {
      .row {
        .card-group {
          padding: 0 15px;

          &:nth-child(2) {
            ul {
              flex-wrap: wrap;
              gap: 5px !important;
              li {
                display: flex;
                justify-content: center;
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
  

  // footer end
}

@media (max-width: 480px) {

  // footer start
  footer {
    .container {
      .row {
        .card-group {
          .card {
            .content {
              .menu-box {
                flex-wrap: wrap;

                .store {
                  width: 100%;
                  justify-content: center;
                }

                ul {
                  width: 100%;

                  &:nth-child(3) {
                    padding-top: 0 !important;
                  }
                }

                .text-2 {
                  font-size: 12px;
                }
              }
            }
          }

          &:nth-child(2) {
            padding-top: 15px !important;
          }
        }
      }
    }
  }

  // footer end
}

// media-query end