* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Familjen Grotesk;
}

.container {
  margin: 0px auto;
}

.partyProper1 {
  display: none;
}

.card {
  background-color: transparent;
}

a {
  text-decoration: none;
}

header {
  position: relative;
  z-index: 99;
  padding: 30px 15px;
}
header .container .row .main-box .main-menu {
  width: 33%;
  background-color: white;
  border-radius: 64px;
  padding: 10px 15px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
  box-shadow: 0px 0px 25px -8px black;
  transition: all 0.5s;
}
header .container .row .main-box .main-menu ul li {
  position: relative;
  color: white;
  border-radius: 64px;
  cursor: pointer;
}
header .container .row .main-box .main-menu ul li a {
  position: relative;
  z-index: 99;
  display: block;
  color: #111f3c;
  border-radius: 64px;
  min-width: 80px;
  padding: 0 10px;
  font-size: 15px;
}
header .container .row .main-box .main-menu ul li.active a {
  color: white;
}
header .container .row .main-box .main-menu .slide-line {
  /* Adjust these styles as needed */
  position: absolute;
  bottom: 0;
  /* or adjust to fit your design */
  left: 0;
  height: 30px;
  border-radius: 15px;
  z-index: 0;
  /* Ensure it's below the <a> elements */
}
header .container .row .main-box .main-menu .hover-line {
  /* Adjust these styles as needed */
  position: absolute;
  bottom: 0;
  /* or adjust to fit your design */
  left: 0;
  height: 30px;
  border-radius: 15px;
  z-index: 2;
  /* Ensure it's above the <a> elements */
}
header .container .row .main-box .menu-icon {
  display: none;
}

/* Footer */
.footer {
  color: #ffffff;
  background-color: #111f3c;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  position: relative;
  padding: 155px 10px 20px 10px;
  margin-top: 8%;
}

.footer p {
  margin-bottom: 0px;
}

.footer .upper-footer ul {
  padding-left: 0;
  border-top: 0.5px solid #919191;
  padding-right: 50px;
}

.footer h3 {
  font-weight: 400 !important;
  font-size: 2rem;
  margin-top: 10px;
  white-space: nowrap;
  margin-right: 15px;
}

.footer h4 {
  font-weight: 300;
  font-size: 1.5rem;
}

.upper-footer {
  position: relative;
}

.upper-footer .white-btn {
  margin-top: 60px;
  background-color: transparent;
  border: 1px solid #ffffff;
  width: 200px;
  padding: 8px 15px;
  border-radius: 10px;
  color: #ffffff;
}

.upper-footer .white-btn:hover {
  background-color: #ffffff;
  color: #111f3c;
}

.footer li {
  position: relative;
  width: max-content;
}

.upper-footer li::before {
  content: "";
  width: 0;
  height: 2px;
  border-radius: 2px;
  background-color: #ec7100;
  position: absolute;
  bottom: -3px;
  left: 50%;
  transition: width 0.4s, left 0.4s;
}

.upper-footer li:hover {
  cursor: pointer;
  color: #ec7100;
}

.upper-footer li:hover::before {
  width: 100%;
  left: 0;
}

.upper-footer li:hover {
  color: #ec7100;
  cursor: pointer;
}

.lower-footer li:hover {
  cursor: pointer;
  color: #ec7100;
}

.footer .upper-footer li {
  font-weight: 300 !important;
  margin: 13px 0;
  text-align: left;
  white-space: nowrap;
  font-size: 0.9rem;
}

.footer .blue-btn {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 6px 30px 6px 6px;
  border: none;
  color: #111f3c;
  font-weight: 300 !important;
  font-size: 1rem;
  flex-wrap: nowrap;
  display: flex;
  position: relative;
}

.footer .refer-btn {
  padding: 6px 25px 6px 6px;
}

.footer .refer-btn lottie-player {
  position: absolute;
  right: 4px;
  bottom: 8px;
}

.footer .blue-btn canvas {
  position: absolute;
  right: -18px;
  bottom: 5px;
  width: 70px;
}

.footer .playStore-btn {
  position: absolute;
  right: 20px;
  bottom: 10px;
}

.googlePlay-button .texts .launch-text,
.appstore-button .texts .launch-text {
  font-size: 1rem;
  white-space: wrap;
  margin-right: 10px;
}

.googlePlay-button .texts .soon-text,
.appstore-button .texts .soon-text {
  font-size: 1rem;
  font-weight: 400 !important;
  text-align: center;
  margin-left: 15px;
}

.googlePlay-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #000;
  border-radius: 9999px;
  background-color: rgba(0, 0, 0, 1);
  padding: 0.625rem 1.5rem;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  outline: 0;
  transition: all 0.2s ease;
  text-decoration: none;
  margin-right: 10px;
}

.googlePlay-button:hover {
  background-color: #ffffff;
  color: #000000;
}

.googlePlay-button .icon {
  height: 1.5rem;
  width: 1.5rem;
}

.googlePlay-button .texts {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1;
}

.googlePlay-button .text-1 {
  margin-bottom: 0.25rem;
  font-size: 0.75rem;
  line-height: 1rem;
}

.googlePlay-button .text-2 {
  font-weight: 600;
}

.appstore-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #000;
  border-radius: 9999px;
  background-color: rgba(0, 0, 0, 1);
  padding: 0.625rem 1.5rem;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  outline: 0;
  transition: all 0.2s ease;
  text-decoration: none;
}

.appstore-button:hover {
  background-color: #ffffff;
  color: #000000;
}

.appstore-button .icon {
  height: 1.5rem;
  width: 1.5rem;
}

.appstore-button .texts {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1;
}

.appstore-button .text-1 {
  margin-bottom: 0.25rem;
  font-size: 0.75rem;
  line-height: 1rem;
}

.appstore-button .text-2 {
  font-weight: 600;
}

.lower-footer .lower-upper {
  padding: 8px 0;
  margin-top: 40px;
  margin-bottom: 10px;
  border-bottom: 0.5px solid #919191;
  text-align: center;
}

.lower-upper li {
  padding: 0 10px;
  font-size: 0.9rem;
}

.lower-bottom .socials-container {
  display: flex;
}

.lower-bottom .socials-container a {
  margin: 0 8px;
}

.social-btn {
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.4s;
  cursor: pointer;
  position: relative;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  overflow: hidden;
}

.insta-btn {
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
}

.linkedin-btn {
  background: #007ab9;
}

.youtube-btn {
  background: #ff0000;
}

.fb-btn {
  background: #1877f2;
}

.svgIcon,
.social-btn img {
  transition-duration: 0.3s;
}

.svgIcon path {
  fill: white;
}

.social-btn .text {
  position: absolute;
  color: rgb(255, 255, 255);
  /* width: 120px; */
  opacity: 0;
  transition-duration: 0.4s;
}

.social-btn:hover {
  width: 110px;
  transition-duration: 0.4s;
  border-radius: 30px;
}

.social-btn:hover .text {
  opacity: 1;
  transition-duration: 0.4s;
}

.social-btn:hover .svgIcon,
.social-btn:hover img {
  opacity: 0;
  transition-duration: 0.3s;
}

.lower-footer p {
  font-size: 0.9rem;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1120px !important;
  }
}
@media (max-width: 1499px) {
  header .container .row .main-box .main-menu {
    width: 36%;
  }
}
@media (max-width: 1399px) {
  header .container .row .main-box .main-menu {
    width: 40%;
  }
}
@media (max-width: 1199px) {
  header .container .row .main-box .main-menu {
    width: 46%;
  }
  /* Footer */
  .footer .columns div:first-child img {
    margin-top: 30px;
  }
  .footer .upper-footer .columns {
    flex-wrap: wrap;
  }
  .footer .upper-footer .columns h4 {
    margin-top: 30px;
  }
}
@media (max-width: 1040px) {
  header .container .row .main-box .main-menu {
    width: 50%;
  }
}
@media (max-width: 991px) {
  header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
    transition: all 0.3s;
    padding: 20px 0px;
    border-radius: 0px 0px 30px 30px;
  }
  header.sticky {
    background-color: #111f3c;
    box-shadow: 0 0 25px -8px black;
  }
  header .container .row .main-box {
    justify-content: space-between;
    align-items: center;
  }
  header .container .row .main-box .logo {
    width: -moz-fit-content;
    width: fit-content;
    z-index: 100;
  }
  header .container .row .main-box .logo a {
    display: block !important;
  }
  header .container .row .main-box .logo a img {
    margin-top: 0px !important;
  }
  header .container .row .main-box .main-menu {
    position: absolute;
    top: -750% !important;
    width: 100%;
    left: 0;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
    transition: all 0.5s;
    transform: translate(0);
    background-color: #111f3c;
    border-radius: 30px;
    z-index: 0;
  }
  header .container .row .main-box .main-menu ul {
    max-width: 100%;
    margin: 0px auto !important;
    text-align: center;
    padding-top: 30px !important;
  }
  header .container .row .main-box .main-menu ul li {
    width: 100%;
    padding: 10px 0;
    text-align: center;
  }
  header .container .row .main-box .main-menu ul li a {
    border-radius: 0;
    text-align: start !important;
    background-color: transparent;
    color: white;
    font-weight: 600;
    padding: 0 15px;
    text-align: center !important;
  }
  header .container .row .main-box .main-menu ul li a.active {
    background-color: transparent;
    color: white;
  }
  header .container .row .main-box .main-menu.active {
    top: 30% !important;
  }
  header .container .row .main-box .main-menu .slide-line,
  header .container .row .main-box .main-menu .hover-line {
    display: none;
  }
  header .container .row .main-box .menu-icon {
    display: flex;
    position: relative;
    justify-content: end;
    width: 30%;
  }
  header .container .row .main-box .menu-icon .icon {
    position: relative;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    cursor: pointer;
    transition: 0.3s;
    z-index: 9999;
  }
  header .container .row .main-box .menu-icon .icon.active span {
    background-color: transparent;
  }
  header .container .row .main-box .menu-icon .icon.active span::before {
    transform: rotate(45deg);
    top: 0;
  }
  header .container .row .main-box .menu-icon .icon.active span::after {
    transform: rotate(-45deg);
    top: 0;
  }
  header .container .row .main-box .menu-icon .icon span {
    position: absolute;
    height: 2.5px;
    width: 22px;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
    text-align: start;
  }
  header .container .row .main-box .menu-icon .icon span::before {
    content: "";
    position: absolute;
    top: -7px;
    background-color: white;
    height: 2.5px;
    width: 22px;
    transition: 0.3s;
  }
  header .container .row .main-box .menu-icon .icon span::after {
    content: "";
    position: absolute;
    top: 7px;
    background-color: white;
    height: 2.5px;
    width: 22px;
    transition: 0.3s;
  }
  header .container .row .main-box .menu-icon #checkbox {
    display: none;
  }
  header .container .row .main-box .menu-icon .toggle {
    width: 25px;
    height: 30px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
    transition-duration: 0.3s;
    z-index: 1000;
  }
  header .container .row .main-box .menu-icon .bars {
    width: 100%;
    height: 2px;
    background-color: rgb(253, 255, 243);
    border-radius: 5px;
    transition-duration: 0.3s;
  }
  header .container .row .main-box .menu-icon #bar4,
  header .container .row .main-box .menu-icon #bar5 {
    display: none;
  }
  header
    .container
    .row
    .main-box
    .menu-icon
    #checkbox:checked
    + .toggle
    #bar4 {
    display: flex;
    transform: translateY(10px) translateX(4px) rotate(25deg);
    margin-left: 0;
    transform-origin: right;
    transition-duration: 0.3s;
    z-index: 2;
    width: 12px;
  }
  header
    .container
    .row
    .main-box
    .menu-icon
    #checkbox:checked
    + .toggle
    #bar5 {
    display: flex;
    transform: translateY(-2.5px) translateX(-6.5px) rotate(-25deg);
    margin-left: 0;
    transform-origin: right;
    transition-duration: 0.3s;
    z-index: 2;
    width: 13px;
  }
  header
    .container
    .row
    .main-box
    .menu-icon
    #checkbox:checked
    + .toggle
    #bar2 {
    transform: translateY(19px) translateX(-5px) rotate(70deg);
    margin-left: 0;
    transform-origin: right;
    transition-duration: 0.3s;
    z-index: 2;
    width: 30px;
  }
  header
    .container
    .row
    .main-box
    .menu-icon
    #checkbox:checked
    + .toggle
    #bar1 {
    transform: translateY(27px) translateX(4px) rotate(-70deg);
    transition-duration: 0.3s;
    transform-origin: left;
    z-index: 1;
    width: 30px;
  }
  header .container .row .main-box .menu-icon #checkbox:checked + .toggle {
    transform: rotate(45deg);
  }
  header
    .container
    .row
    .main-box
    .menu-icon
    #checkbox:checked
    + .toggle
    #bar3 {
    transform: translateY(12px) rotate(2deg);
    transition-duration: 0.3s;
    transform-origin: right;
    display: none;
  }
  /* Footer */
  .footer .upper-footer ul {
    padding-right: 10px;
  }
  .footer .upper-footer .px-5 {
    padding-right: 10px !important;
    padding-left: 10px !important;
  }
  .footer .upper-footer p br {
    display: none;
  }
  .footer .upper-footer p {
    margin-right: 10px !important;
  }
}

@media screen and (max-width: 770px) {
  .footer .upper-footer .d-flex:first-child {
    flex-wrap: wrap;
  }
  .footer .upper-footer h4 {
    margin-top: 20px;
  }
  .footer .lower-footer .lower-upper {
    flex-direction: column;
  }
  .footer .lower-footer .lower-upper ul {
    margin: 15px 0 !important;
    flex-direction: column;
  }
  .footer .lower-footer .lower-upper ul li {
    margin-bottom: 5px;
  }
}

@media (max-width: 768px) {
  /* Footer */
  .footer .lower-bottom {
    flex-direction: column;
  }
  .footer .lower-bottom p {
    margin-bottom: 8px !important;
  }
}
@media (max-width: 575px) {
  header {
    padding: 20px 15px;
  }
  header .container .row .main-box .main-menu {
    padding: 10px 0;
  }
  header .container .row .main-box .main-menu ul {
    width: 100%;
  }
}

@media screen and (min-width: 560px) {
  .upper-footer .mobile-view-list,
  .playStore-btn.smaller-screen,
  .smaller-screen-refer-button {
    display: none !important;
  }
}

@media screen and (max-width: 560px) {
  /* Footer */
  .footer .playStore-btn {
    position: static;
  }
  .footer .columns > div:first-child,
  .playStore-btn.larger-screen {
    display: none !important;
  }
  .footer .upper-footer .columns {
    flex-direction: column;
  }
  .footer .upper-footer .columns > div {
    overflow: hidden;
    width: 100%;
  }
  .footer .upper-footer .columns > div ul {
    max-height: 0px;
    transition: max-height 0.5s ease;
    margin: 0;
  }
  .footer .upper-footer .columns > div ul.active {
    max-height: 260px;
  }
  .footer .upper-footer .columns > div:last-child li:last-child {
    width: 100%;
  }
  .footer .upper-footer .columns > div:last-child li:nth-child(4) {
    position: absolute;
    top: -8%;
    left: 65%;
  }
  .footer .upper-footer ul {
    border: none;
  }
  .footer .upper-footer .columns h4 {
    margin-top: 15px;
  }
  .footer .columns > div:nth-child(4) h4 {
    margin-top: 8px;
  }
  .footer .upper-footer .columns h4 svg.rotated {
    transform: rotate(180deg);
  }
  .footer .upper-footer .columns > div:nth-child(2) ul > div {
    position: absolute;
    right: 0px;
    left: 0px;
  }
  .upper-footer .columns div:nth-child(3) .d-flex {
    flex-direction: column;
  }
  .upper-footer .columns div:nth-child(3) .d-flex ul:last-child {
    padding-left: 0 !important;
  }
  .upper-footer .columns {
    margin-bottom: 0 !important;
  }
  .lower-footer .lower-upper {
    padding-top: 0 !important;
  }
  .footer .upper-footer .columns > div:last-child li:last-child:before,
  .footer .upper-footer .columns > div:last-child li:nth-child(4):before {
    display: none;
  }
  .googlePlay-button,
  .appstore-button {
    margin-left: 20px;
    margin-right: 20px;
  }
  .lower-footer .lower-bottom {
    border-top: 1px solid #919191;
    padding-top: 8px;
  }
}

@media screen and (max-width: 460px) {
  .footer .upper-footer .columns > div:last-child li:nth-child(4) {
    left: 64%;
  }
}

@media screen and (max-width: 450px) {
  .footer .upper-footer .columns > div:last-child li:nth-child(4) {
    left: 60%;
  }
  .googlePlay-button,
  .appstore-button {
    margin-left: 2px;
    margin-right: 2px;
  }
}

@media screen and (max-width: 420px) {
  .footer .upper-footer .columns > div:last-child li:nth-child(4) {
    left: 55%;
  }
}

@media screen and (max-width: 405px) {
  .footer .googlePlay-button .texts,
  .footer .appstore-button .texts {
    font-size: 0.7rem;
  }

  .footer .googlePlay-button,
  .footer .appstore-button {
    padding: 0.625rem 1rem;
  }
}

@media screen and (max-width: 390px) {
  .playStore-btn {
    flex-direction: column;
  }
  .playStore-btn .appstore-button {
    margin-top: 10px;
  }
}

/*# sourceMappingURL=global.css.map */
