.row > * {
  padding: 0;
}

*::-webkit-scrollbar {
  display: none;
}

html,
body {
  overflow-x: hidden;
}

:root {
  --primary-color: #100f3f;
  --primary-bg-color: #f7f9ff;
}

.btn {
  outline: none;
  cursor: unset;
  border: 0;
}

.card {
  flex: none;
  background-color: transparent;
  border: 0 !important;
}

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#weDesign {
  height: 200px;
}

#weExcute {
  height: 200px;
}

#homeImprovements {
  width: 450px;
  height: 170px;
}

#designService {
  height: 170px;
}

#designConsultation {
  width: 450px;
  height: 170px;
}

#slide_1 {
  height: 400px;
}

#slide_2 {
  transform: scale(0.8);
}

.black-shadow {
  position: fixed;
  /* background-color: rgba(0, 0, 0, 0.2196078431); */
  height: 100vh;
  width: 98%;
  z-index: 1;
  transform: scale(1);
  transition: all 0.3s;
  top: 0;
}

@keyframes infinite-scroll-forward {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(600px);
  }
}
@keyframes infinite-scroll-reverse {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-600px);
  }
}
@keyframes infinite-scroll-right {
  0% {
    transform: translateX(-20%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes infinite-scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-15%);
  }
}
.form-box {
  position: relative;
  width: 42%;
  border-radius: 12px;
  padding: 24px;
  box-shadow: 0px 7px 21.2px 0px rgba(0, 0, 0, 0.1019607843);
  z-index: 1;
}
.form-box span {
  color: #111f3c;
}
.form-box form .input-box {
  position: relative;
  padding-top: 20px;
}
.form-box form .input-box label {
  cursor: pointer;
  padding: 4px 10px;
  font-size: 18px;
  border-bottom: 1px solid #606266;
  color: #a8a9a9;
}
.form-box form .input-box label i {
  transition: all 0.3s;
  color: #a8a9a9;
}
.form-box form .input-box label.active i {
  transform: rotate(180deg);
}
.form-box form .input-box input {
  outline: none;
  border: 1px solid #999999;
  border-radius: 5px;
  padding: 8px 10px;
  width: 100%;
  font-size: 18px;
  transition: all 0.3s;
}
.form-box form .input-box input:not(:-moz-placeholder-shown) + label {
  top: 7px;
}
.form-box form .input-box input:focus + label,
.form-box form .input-box input:not(:placeholder-shown) + label {
  top: 7px;
}
.form-box form .input-box label[for="label_placeholder"] {
  color: #a8a9a9;
  position: absolute;
  top: 29px;
  left: 10px;
  padding: 0px 3px;
  pointer-events: none;
  transition: 0.2s ease all;
  border: 0;
  background-color: white;
  font-size: 16px;
}
.form-box form .input-box label[for="label_placeholder_mobile"] {
  color: #a8a9a9;
  position: absolute;
  top: 29px;
  left: 70px;
  padding: 0px 3px;
  pointer-events: none;
  transition: 0.2s ease all;
  border: 0;
  background-color: white;
  font-size: 16px;
}
.form-box form .input-box select {
  border: 1px solid #999999;
  border-radius: 5px 0px 0px 5px;
  padding: 5px;
  outline: none;
  font-size: 16px;
}
.form-box form .input-box input[type="number"] {
  padding-left: 10px;
  border-radius: 0px 5px 5px 0;
  border-left: 0;
}
.form-box form .input-box input[type="number"]::-webkit-outer-spin-button,
.form-box form .input-box input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
}
.form-box form .input-box .property-type-dropdown label[for="propertyType"] {
  cursor: pointer;
  padding: 12.5px 10px;
  border: 1px solid #999999;
  border-radius: 5px;
  color: #a8a9a9;
}
.form-box
  form
  .input-box
  .property-type-dropdown
  label[for="propertyType"]
  label[for="label_placeholder"] {
  top: 27px;
}
.form-box form .input-box .property-type-dropdown label[for="propertyType"] p {
  font-size: 16px;
}
.form-box form .input-box .property-type-dropdown label[for="propertyType"] i {
  transition: all 0.3s;
  color: #999999;
  font-size: 14px;
}
.form-box
  form
  .input-box
  .property-type-dropdown
  label[for="propertyType"].active
  i {
  transform: rotate(180deg);
}
.form-box form .input-box .property-type-dropdown .propertyType-list {
  height: 0px;
  overflow: hidden;
  transition: all 0.3s;
}
.form-box form .input-box .property-type-dropdown .propertyType-list ul {
  padding: 5px 10px 0px;
}
.form-box form .input-box .property-type-dropdown .propertyType-list ul li {
  border: 1px solid #606266;
  padding: 7px 14px;
  border-radius: 20px;
  cursor: pointer;
  margin: 5px;
}
.form-box form .input-box label[for="budget"] {
  cursor: pointer;
  padding: 12.5px 10px;
  border: 1px solid #999999;
  border-radius: 5px;
  color: #a8a9a9;
}
.form-box form .input-box label[for="budget"] label[for="label_placeholder"] {
  top: 27px;
}
.form-box form .input-box label[for="budget"] p {
  font-size: 16px;
}
.form-box form .input-box label[for="budget"] i {
  transition: all 0.3s;
  color: #999999;
  font-size: 14px;
}
.form-box form .input-box label[for="budget"].active i {
  transform: rotate(180deg);
}
.form-box form .input-box .budget-dropdown {
  height: 0px;
  overflow: hidden;
  transition: all 0.3s;
}
.form-box form .input-box .budget-dropdown .budget-range {
  position: relative;
}
.form-box form .input-box .budget-dropdown .budget-range input[type="range"] {
  padding: 4px 0px;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  position: absolute;
  left: 0;
  margin: 20px 0px;
}
.form-box
  form
  .input-box
  .budget-dropdown
  .budget-range
  input[type="range"]::-webkit-slider-runnable-track {
  background: #606266;
  height: 1px;
}
.form-box
  form
  .input-box
  .budget-dropdown
  .budget-range
  input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 3px solid #111f3c;
  cursor: pointer;
  position: relative;
  top: -11.5px;
  z-index: 99;
  background-color: var(--primary-bg-color);
}
.form-box form .input-box .budget-dropdown .budget-indicator span {
  position: relative;
}

.form-box form .input-box .budget-dropdown .budget-indicator .amount {
  margin-left: 20px;
}

.form-box
  form
  .input-box
  .budget-dropdown
  .budget-indicator
  div:first-child
  span::before {
  left: 0px;
}

.form-box
  form
  .input-box
  .budget-dropdown
  .budget-indicator
  div:last-child
  span::before {
  left: 25px;
}

.form-box form .input-box .budget-dropdown .budget-indicator span::before {
  position: absolute;
  content: "|";
  box-sizing: border-box;
  top: -25px;
  left: 8px;
}
.form-box form .term-condition {
  padding-top: 30px;
}
.form-box form .term-condition input[type="checkbox"] {
  width: 18px;
  height: 18px;
  cursor: pointer;
}
.form-box form .term-condition p {
  color: #111f3c;
}
.form-box form button {
  margin-top: 30px;
  width: 100%;
  background-color: #111f3c;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 8px;
  outline: none;
}
.form-box form button:disabled {
  background-color: #d9d9d9;
}
.form-box .great-msg,
.form-box .expert-great-msg,
.form-box .consultation-great-msg {
  border-radius: 12px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  z-index: 99;
}
.form-box .great-msg .video video,
.form-box .expert-great-msg .video video,
.form-box .consultation-great-msg .video video {
  border-radius: 12px;
}
.form-box .great-msg .video .msg.hidden,
.form-box .expert-great-msg .video .msg.hidden,
.form-box .consultation-great-msg .video .msg.hidden {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.share-detail-form,
.expert-talk-form,
.free-consultation-form {
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 80px 15px;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.799);
  display: block;
  transform: scale(0);
  padding-top: 120px;
  transition: all 0.5s;
}
.share-detail-form.show,
.expert-talk-form.show,
.free-consultation-form.show {
  transform: scale(1);
}
.share-detail-form .close-icon,
.expert-talk-form .close-icon,
.free-consultation-form .close-icon {
  position: absolute;
  z-index: 100;
  right: 25px;
  top: 25px;
}
.share-detail-form .close-icon i,
.expert-talk-form .close-icon i,
.free-consultation-form .close-icon i {
  color: white;
  cursor: pointer;
}

.gradient {
  position: relative;
  background: none;
  background-color: #111f3c;
  overflow: hidden;
}
.gradient::before {
  position: absolute;
  content: "";
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  background: linear-gradient(
    180deg,
    rgba(28, 28, 44, 0) -4.64%,
    rgba(0, 0, 0, 0.75) 95.36%
  );
  z-index: 1;
}
.gradient .photo-slider-section {
  position: absolute;
  right: -8%;
  top: -90%;
  transform: rotate(15deg);
  z-index: 2;
}
.gradient .photo-slider-section .slider-container .row {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
}
.gradient .photo-slider-section .slider-container .row .card-group {
  width: 270px;
  flex-direction: column;
  height: 1400;
}
.gradient .photo-slider-section .slider-container .row .card-group:nth-child(1),
.gradient
  .photo-slider-section
  .slider-container
  .row
  .card-group:nth-child(3) {
  animation: infinite-scroll-forward 25s linear infinite;
}
.gradient
  .photo-slider-section
  .slider-container
  .row
  .card-group:nth-child(2) {
  animation: infinite-scroll-reverse 25s linear infinite;
}
.gradient .photo-slider-section .slider-container .row .card-group .card {
  width: 100%;
  background-color: transparent;
  padding: 5px;
}
.gradient .photo-slider-section .slider-container .row .card-group .card img {
  height: 175px;
  width: 260px;
}

nav {
  position: relative;
  z-index: 98;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  background-color: transparent;
}
nav .container .row .main-box ul li a {
  color: white;
}
nav .container .row .main-box ul li.active {
  border-bottom: 1px solid white;
}
nav .container .row .main-box ul .btn a {
  color: #100f3f;
  padding: 5px 22px;
  background-color: rgb(255, 255, 255);
}

nav {
  background-color: transparent;
}

nav .container .row .main-box ul li {
  border-bottom: 2px solid transparent;
}

nav .container .row .main-box ul li a {
  color: white;
  font-weight: 600;
}

nav .container .row .main-box ul li.active {
  border-bottom: 2px solid white;
}

nav .container .row .main-box ul .btn {
  padding: 0;
}

nav .container .row .main-box ul .btn a {
  color: #111f3c;
  font-weight: 600;
  padding: 8px 30px;
  border-radius: 30px;
  background-color: white;
  font-size: 14px;
}

header .container .row .main-box .logo .image a {
  display: none !important;
}
header .container .row .main-box .main-menu .slider-btn {
  display: none;
}

.gradient-content-section {
  position: relative;
  z-index: 2;
  padding: 180px 0px 100px;
}
.gradient-content-section .container .row .card {
  background-color: transparent;
}
.gradient-content-section .container .row .card .detail span {
  font-weight: 500;
  font-size: 65px;
  color: white;
  line-height: 1.2;
}
.gradient-content-section .container .row .card .detail p {
  font-size: 24px;
  font-weight: 500;
}
.gradient-content-section .container .row .card .btn {
  text-align: start;
  display: block;
  padding: 0;
  cursor: unset;
  width: max-content;
  border-radius: 64px;
}

.gradient-content-section .container .row .card .btn:hover {
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse512 1.5s infinite;
}

@keyframes pulse512 {
  0% {
    box-shadow: 0 0 0 0 #ffffff;
  }

  70% {
    box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
  }

  100% {
    box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }
}

.gradient-content-section .container .row .card .btn a {
  padding: 10px 30px;
  background-color: white;
  color: #100f3f;
  font-size: 18px;
  font-weight: 500;
  border-radius: 64px;
}

.service-section {
  padding: 50px 0px;
}
.service-section .container .row .card-group .card {
  flex: none;
  padding: 15px;
  background-color: transparent;
  width: 25%;
}
.service-section .container .row .card-group .card:nth-child(1) .content {
  background-color: #111f3c;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

.service-section
  .container
  .row
  .card-group
  .card:nth-child(1)
  .content
  .detail {
  margin-top: 30px !important;
}

.service-section
  .container
  .row
  .card-group
  .card:nth-child(1)
  .content
  .detail
  p {
  margin-top: 30px !important;
  font-size: 1rem;
}

.service-section .container .row .card-group .card:nth-child(1) .content span {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 2%;
}
.service-section .container .row .card-group .card:nth-child(1) .content a {
  font-size: 20px;
}
.service-section .container .row .card-group .card .content {
  border-radius: 14px;
  height: 100%;
  padding: 15px 25px 30px;
  box-shadow: 0px 4px 14.2px 0px rgba(0, 0, 0, 0.0509803922);
  background-color: white;
}
.service-section .container .row .card-group .card .content .detail span {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 2%;
}
.service-section .container .row .card-group .card .content .detail p {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2%;
}

.service-section #weManage {
  width: 500px;
  height: 230px;
}

.service-section .card:last-child .content .detail {
  margin-top: -30px;
}

@keyframes volume {
  0%,
  100% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(1.5);
  }
}
.section-three {
  padding: 20px 0 1% 0;
}

.section-three h2 {
  color: #111f3c;
  font-size: 2.3rem;
  font-weight: 600;
}

.section-three .video {
  margin: 15px;
  /* width: 400px !important; */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section-three .video p {
  text-align: left;
  font-size: 0.78rem;
}

.section-three .instagram-video {
  /* height: 350px;
  border-radius: 15px; */
  box-shadow: 0 4px 4px 0 #00000065;
  /* margin-left: auto;
  margin-right: auto; */
}
.video .volume-container.hidden {
  display: none;
}

.video .volume-icon {
  position: absolute;
  bottom: 70px;
  right: 15px;
}

.volume-up {
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
}

.bar {
  width: 4px;
  height: 10px;
  background-color: #ffffff;
  position: absolute;
  bottom: 5px;
  border-radius: 2px;
  animation: volume 1s infinite ease-in-out;
}

.bar1 {
  left: 6px;
  height: 8px;
  animation-delay: 0.1s;
}

.bar2 {
  left: 14px;
  height: 12px;
  animation-delay: 0.2s;
}

.bar3 {
  left: 22px;
  height: 16px;
  animation-delay: 0.3s;
}

@keyframes volume {
  0%,
  100% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(1.5);
  }
}

.video .volume-icon.hidden {
  display: none;
}
.video .volume-icon:hover {
  cursor: pointer;
}
.video .d-flex img:hover {
  background-color: #ededed;
  cursor: pointer;
}

.section-three .nav-btn {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  background-color: #111f3c;
  border-radius: 50%;
  color: #fff;
  border: none;
  cursor: pointer;
  z-index: 20;
}

.section-three .prev-btn {
  left: 10px;
  transform: rotate(180deg);
  padding: 2px 6px 6px 6px;
}

.section-three .next-btn {
  right: 5px;
  top: 44%;
  padding: 2px 6px 6px 6px;
  /* transform: rotate(-90deg) */
}

.expert-section {
  padding: 60px 0px;
}
.expert-section .container .row .main-heading h2 {
  color: #111f3c;
  font-size: 48px;
  font-weight: 600;
}
.expert-section .container .row .main-heading p {
  font-weight: 600;
  color: #111f3c;
}
.expert-section .container .row .main-heading .btn {
  cursor: unset;
}
.expert-section .container .row .main-heading .btn a:hover {
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse51 1.5s infinite;
}

@keyframes pulse51 {
  0% {
    box-shadow: 0 0 0 0 #111f3c;
  }

  70% {
    box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
  }

  100% {
    box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }
}

.expert-section .container .row .main-heading .btn a {
  background-color: #111f3c;
  border-radius: 34px;
  padding: 10px 30px;
  font-weight: 400;
}
.expert-section .container .row .card-group .card {
  flex: none;
  width: 280px;
  padding: 15px 10px;
}
.expert-section .container .row .card-group .card .content .detail span {
  font-size: 24px;
  color: #111f3c;
  font-weight: 600;
}
.expert-section .container .row .card-group .card .content .detail p {
  color: #111f3c;
  font-weight: 400;
}

.simple-step-section {
  padding: 60px 0px;
}
.simple-step-section .container .row .card-group .card {
  flex: none;
}
.simple-step-section .container .row .card-group .card .content h2 {
  font-size: 48px;
  line-height: 1.1;
  color: #111f3c;
}
.simple-step-section .container .row .card-group .card .content p {
  padding-top: 10px;
  line-height: 1.5;
  color: #111f3c;
}

.slider-section {
  padding: 40px 0px 60px;
}
.slider-section .container .row .slide .carousel-indicators {
  position: unset;
}
.slider-section .container .row .slide .carousel-indicators button {
  width: 10px;
  height: 10px;
  background-color: #111f3c;
  border-radius: 50%;
}
.slider-section
  .container
  .row
  .slide
  .carousel-inner
  .carousel-item
  .card
  .detail
  span {
  font-size: 32px;
}
.slider-section
  .container
  .row
  .slide
  .carousel-inner
  .carousel-item
  .card
  .image
  img {
  width: 100%;
}

.tailored-interior-section {
  padding: 60px 0px;
}
.tailored-interior-section .container .row .main-heading h2 {
  font-size: 42px;
  color: #111f3c;
}
.tailored-interior-section .container .row .main-heading p {
  font-size: 18px;
  color: #111f3c;
}
.tailored-interior-section .container .row .card-group .card {
  flex: none;
  padding: 6px;
}
.tailored-interior-section .container .row .card-group .card .content {
  height: 100%;
  padding: 20px 25px;
  box-shadow: 0px 7px 21.2px 0px rgba(0, 0, 0, 0.1019607843);
  transition: all 0.3s;
  gap: 30px;
}
.tailored-interior-section .container .row .card-group .card .content span {
  color: #111f3c;
}
.tailored-interior-section .container .row .card-group .card .content p {
  color: #111f3c;
}
.tailored-interior-section .container .row .card-group .card .content:hover {
  box-shadow: 0px 7px 25px 0px rgba(0, 0, 0, 0.5019607843);
}

.home-interior-section {
  padding: 60px 0px;
}
.home-interior-section .container .row .card-group .card {
  flex: none;
}
.home-interior-section .container .row .card-group .card .content h2 {
  font-size: 48px;
}
.home-interior-section .container .row .card-group .card .content .btn {
  padding-top: 15px !important;
  cursor: unset;
}
.home-interior-section .container .row .card-group .card .content .btn a {
  background-color: var(--primary-bg-color);
  border-radius: 60px;
  color: #111f3c;
  padding: 12px 28px;
}

.download-banner-section {
  padding: 60px 15px;
}
.download-banner-section .container .row span {
  color: #111f3c;
}

.referral-program-section {
  padding: 80px 0 120px;
}
.referral-program-section .container .row .card-group .card {
  flex: none;
}
.referral-program-section .container .row .card-group .card .content h2 {
  font-size: 48px;
  color: #111f3c;
}
.referral-program-section .container .row .card-group .card .content p {
  color: #111f3c;
}
.referral-program-section .container .row .card-group .card .content .btn {
  padding-top: 15px !important;
  cursor: unset;
}
.referral-program-section .container .row .card-group .card .content .btn a {
  background-color: #111f3c;
  border-radius: 60px;
  padding: 12px 60px;
}

.referral-program-section
  .container
  .row
  .card-group
  .card
  .content
  .btn
  a:hover {
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse51 1.5s infinite;
}

/* Consultion Container */
.consultation-container {
  position: absolute;
  top: -90px;
  left: 25%;
}

.consultation-container img {
  transform: rotate(1deg);
}

.consultation-container button {
  border: none;
  background-color: #ffffff;
  padding: 10px 20px;
  border-radius: 20px;
  white-space: nowrap;
  margin-left: -10px;
  z-index: 10;
}

.consultation-container button:hover {
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse512 1.5s infinite;
}

@media (max-width: 1399px) {
  .form-box {
    width: 45%;
  }
  .service-section .container .row .card-group .card {
    width: 25%;
    padding-right: 10px;
  }
}
@media (max-width: 1199px) {
  .form-box {
    width: 50%;
  }
}

@media (max-width: 991px) {
  header {
    background-color: #111f3c;
    box-shadow: 0 0 25px -8px black;
  }
  header .container .row .main-box .logo .image a {
    display: block !important;
  }
  .form-box {
    width: 60%;
  }
  .form-box form .input-box .property-type-dropdown .propertyType-list ul {
    padding: 0;
    border: 1px solid #606266;
    border-top: 0;
  }
  .form-box form .input-box .property-type-dropdown .propertyType-list ul li {
    width: 100%;
    border: 0;
    margin: 0;
    padding: 8px 10px;
    border-top: 1px solid #606266;
    border-radius: 0;
  }
  .form-box
    form
    .input-box
    .property-type-dropdown
    .propertyType-list
    ul
    li:nth-child(1) {
    border-top: 0;
  }
  .gradient .photo-slider-section {
    right: -15%;
  }
  .gradient .gradient-content-section {
    padding-top: 200px;
  }
  .gradient .gradient-content-section .container .row .card .image {
    display: none !important;
  }
  .service-section .container .row .card-group .card {
    width: 40%;
    padding: 15px;
  }
  .number-section .container .row .card-group .card {
    width: 50%;
  }
  .expert-section .container .row .main-heading p br {
    content: "";
  }
  .expert-section .container .row .main-heading p br::after {
    content: "";
  }
  .expert-section .container .row .card-group .card {
    width: 240px;
  }
  .simple-step-section .container .row .card-group .card {
    flex: 1;
  }
  .simple-step-section .container .row .card-group .card .content h2 {
    font-size: 38px;
  }
  .slider-section
    .container
    .row
    .slide
    .carousel-inner
    .carousel-item
    .card
    .detail {
    flex: 1;
  }
  .slider-section
    .container
    .row
    .slide
    .carousel-inner
    .carousel-item
    .card
    .image {
    flex: 1;
  }
  .tailored-interior-section .container .row .card-group .card {
    flex: 1;
  }
  .tailored-interior-section .container .row .card-group:last-child .card {
    width: 50%;
    flex: none;
  }
  .brand-partner-section {
    padding: 60px 0px;
  }
}

@media (max-width: 768px) {
  .form-box {
    width: 85%;
  }
  .form-box form .term-condition {
    padding-top: 18px;
  }
  .form-box form button {
    margin-top: 15px;
  }
  header .container .row .main-box .main-menu {
    top: -400%;
  }
  header .container .row .main-box .menu-icon .icon span {
    background-color: white;
  }
  header .container .row .main-box .menu-icon .icon span::before,
  header .container .row .main-box .menu-icon .icon span::after {
    background-color: white;
  }
  .service-section .container .row .card-group .card {
    width: 50%;
  }
  .expert-section .container .row .card-group {
    justify-content: center !important;
  }
  .expert-section .container .row .card-group .card {
    width: 50% !important;
    padding: 15px;
  }
  .simple-step-section {
    padding: 30px 0px;
  }
  .simple-step-section .container .row .card-group .card {
    width: 100%;
    flex: none;
  }
  .tailored-interior-section .container .row .card-group .card {
    flex: none;
  }
  .brand-partner-section {
    overflow-x: hidden;
  }
  .brand-partner-section .container .row .card-group {
    justify-content: space-evenly !important;
    flex-wrap: nowrap;
    animation: infinite-scroll-right 5s linear infinite;
  }
  .brand-partner-section .container .row .card-group .card {
    transform: translate(-50%);
    width: 200px;
  }
  .brand-partner-section .container .row .card-group .card a {
    width: 60px;
  }
  .brand-partner-section .container .row .card-group .card a img {
    width: 100%;
  }
}

@media screen and (max-width: 620px) {
  .consultation-container {
    position: absolute;
    left: 5%;
  }
}

@media (max-width: 575px) {
  .form-box {
    width: 100%;
  }
  .share-detail-form,
  .expert-talk-form,
  .free-consultation-form {
    padding-top: 90px;
  }
  .gradient .photo-slider-section {
    right: -25%;
  }
  .gradient .photo-slider-section .slider-container .row .card-group .card {
    margin-bottom: 0;
  }
  .gradient .gradient-content-section .container .row .card {
    padding: 0px 15px;
  }
  .gradient .gradient-content-section .container .row .card .detail span {
    font-size: 48px;
  }
  .gradient .gradient-content-section .container .row .card .detail p {
    font-size: 16px;
  }
  .gradient .gradient-content-section .container .row .card .btn a {
    font-size: 16px;
  }
  .service-section .container .row .card-group .card {
    width: 280px;
  }
  .service-section .container .row .card-group .card:nth-child(1) .content a {
    margin-top: 30px;
  }
  .number-section .container .row .card-group {
    justify-content: center !important;
  }
  .number-section .container .row .card-group .card {
    width: 200px;
  }
  .number-section .container .row .card-group .card .content span {
    font-size: 32px;
  }
  .expert-section {
    padding: 30px 0px;
  }
  .expert-section .container .row .main-heading {
    padding: 0px 15px;
  }
  .expert-section .container .row .main-heading h2 {
    font-size: 32px;
  }
  .expert-section .container .row .card-group {
    display: flex;
  }
  .expert-section .container .row .card-group .card {
    width: 250px !important;
  }
  .simple-step-section .container .row .card-group .card .content {
    padding: 0px 15px;
  }
  .simple-step-section .container .row .card-group .card .content h2 {
    font-size: 32px;
  }
  .slider-section {
    padding: 30px 0px;
  }
  .slider-section .container .row .slide .carousel-inner .carousel-item .card {
    display: flex !important;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .slider-section
    .container
    .row
    .slide
    .carousel-inner
    .carousel-item
    .card
    .detail {
    width: 100%;
    padding: 0px 15px;
    flex: none;
  }
  .slider-section
    .container
    .row
    .slide
    .carousel-inner
    .carousel-item
    .card
    .detail
    span {
    display: block;
    text-align: center;
  }
  .slider-section
    .container
    .row
    .slide
    .carousel-inner
    .carousel-item
    .card
    .image {
    width: 100%;
    padding: 0px 15px;
    order: -1;
  }
  .tailored-interior-section .container .row .main-heading {
    padding: 0px 15px;
  }
  .tailored-interior-section .container .row .main-heading h2 {
    font-size: 32px;
  }
  .tailored-interior-section .container .row .card-group {
    padding: 0px 15px;
  }
  .tailored-interior-section .container .row .card-group .card {
    margin: 0;
  }
  .tailored-interior-section .container .row .card-group .card .content {
    padding: 15px;
    gap: 15px;
  }
  .brand-partner-section .container .row .main-heading {
    padding: 0px 15px;
  }
  .brand-partner-section .container .row .main-heading h2 {
    font-size: 32px;
  }
  .brand-partner-section .container .row .card-group .card {
    width: 110px;
  }
  .referral-program-section .container .row .card-group .card {
    padding: 0px 15px;
  }
  .referral-program-section .container .row .card-group .card .content h2 {
    font-size: 32px;
    text-align: center;
  }
  .referral-program-section .container .row .card-group .card .content p {
    padding: 10px 0px !important;
  }
  .referral-program-section .container .row .card-group .card .content .btn {
    text-align: center !important;
  }
  .home-interior-section .container .row .card-group .card {
    padding: 0px 15px;
  }
  .home-interior-section .container .row .card-group .card .content h2 {
    font-size: 32px;
    text-align: center;
  }
  .home-interior-section .container .row .card-group .card .content p {
    padding: 10px 0px !important;
  }
  .home-interior-section .container .row .card-group .card .content .btn {
    text-align: center !important;
  }
}

@media screen and (max-width: 460px) {
  .consultation-container {
    top: -60px;
  }
  .consultation-container img {
    width: 200px;
  }
}
@media (max-width: 420px) {
  .consultation-container {
    top: -40px;
  }
  .consultation-container img {
    width: 150px;
  }
  .footer {
    padding-top: 80px;
  }
  .form-box {
    padding: 15px;
  }
  .form-box form {
    padding: 0px;
  }
  .form-box form .input-box input {
    font-size: 16px;
  }
  .form-box form .input-box label[for="label_placeholder"],
  .form-box form .input-box label[for="label_placeholder_mobile"] {
    top: 27px;
  }
  .form-box form .term-condition p {
    font-size: 14px;
  }
  .section-three .video-container {
    transition: transform 0.3s ease-in-out;
    overflow-x: auto;
  }

  .section-three .video {
    flex: 0 0 50%;
    box-sizing: border-box;
    padding: 10px;
    margin: 0;
  }
  .section-three .video .d-flex {
    width: 200px;
    margin-right: auto;
    margin-left: auto;
  }

  .form-box form .input-box .budget-dropdown .budget-indicator span {
    font-size: 0.85rem !important;
  }
}
@media screen and (min-width: 420px) {
  .section-three .nav-btn {
    display: none;
  }
  .section-three .video-container {
    animation: video-scroll-right 5s linear infinite;
  }
  .section-three .video-container:hover {
    animation-play-state: paused;
  }

  @keyframes video-scroll-right {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-20%);
    }
  }
}
/*# sourceMappingURL=interior-page.css.map */
