/* ====================================================
 Author       : jrtemplate
 Template     : Betra - Multipurpose
 Version      : 1.0

   TOC:
   01.	Variants Styles
   02.	Reset
   03.	Typography
   04.	Preloader Styles
   05.	Overlayer Styles
   06.	Background Color Styles
   07.	Background Image Styles
   08.	Space margin and padding
   09.	Helper Class Styles
   10.	List Styles
   11.	Dropcap's Styles

====================================================== */
/* ====================================================
   01. Variants Styles
=======================================================*/
/* Typography */
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
/* Colors */
/* ===================================
   02. Reset
   ====================================== */
body {
  background: #ffffff;
  color: #616161;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6; }

body,
html {
  height: 100%;
  -moz-osx-font-smoothing: grayscale; }

a,
a:active,
a:focus {
  color: #D3D3D3;
  text-decoration: none; }

a:active,
a:hover {
  color: #EE3449;
  text-decoration: none; }

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus,
a:active,
a:focus,
button:active,
button:focus {
  outline: none; }

img {
  max-width: 100%;
  height: auto;
  z-index: 1; }

video {
  background-size: cover;
  display: table-cell;
  vertical-align: middle;
  width: 100%; }

iframe {
  border: 0; }

b,
strong {
  font-weight: 600; }

.last-paragraph-no-margin p:last-of-type {
  margin-bottom: 0; }

.alt-font strong {
  font-weight: 700; }

dl,
ol,
ul {
  list-style-position: outside;
  margin-bottom: 20px; }

* {
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

*::after,
*::before {
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

*:hover * {
  transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s; }

::-moz-selection {
  color: #000;
  background: #dbdbdb; }

::selection {
  color: #000;
  background: #dbdbdb; }

::-moz-selection {
  color: #000;
  background: #dbdbdb; }

::-webkit-input-placeholder {
  color: #6f6f6f;
  text-overflow: ellipsis; }

::-moz-placeholder {
  color: #6f6f6f;
  text-overflow: ellipsis;
  opacity: 1; }

:-ms-input-placeholder {
  color: #6f6f6f;
  text-overflow: ellipsis;
  opacity: 1; }

.init-animation {
  visibility: hidden; }

#style::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #141820; }

#style::-webkit-scrollbar {
  width: 10px;
  background-color: #FAFAFA; }

#style::-webkit-scrollbar-thumb {
  background-color: #FAFAFA;
  border: 2px solid #FAFAFA; }

.section-main {
  overflow: hidden; }

section {
  position: relative;
  z-index: 2; }

/* ====================================================
   03. Typography
=======================================================*/
/* text ----------------
---------------------------*/
p.small {
  font-size: 10px !important;
  font-weight: 400;
  line-height: 1.6; }

p {
  margin: 0 0 30px; }

P.lead {
  font-size: 18px !important;
  font-weight: 400;
  line-height: 1.6; }

b,
strong {
  font-weight: 600; }

/* heading ------------------
---------------------------*/
/* heading */
.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6 {
  color: #141820;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-transform: capitalize; }

h1, .h1 {
  font-size: 70px;
  line-height: 1.2; }

h2, .h2 {
  font-size: 55px;
  line-height: 1.2; }

h3, .h3 {
  font-size: 48px;
  line-height: 1.2; }

h4, .h4 {
  font-size: 40px;
  line-height: 1.2; }

h5, .h5 {
  font-size: 32px;
  line-height: 1.2; }

h6, .h6 {
  font-size: 25px;
  line-height: 1.2; }

/* text size */
.h-extra-small {
  font-size: 11px;
  line-height: 1.2; }

.h-small {
  font-size: 12px;
  line-height: 1.2; }

.h-medium {
  font-size: 16px;
  line-height: 1.2; }

.h-large {
  font-size: 18px;
  line-height: 1.2; }

.h-extra-large {
  font-size: 22px;
  line-height: 1.2; }

.h-title-large {
  font-size: 100px;
  line-height: 1.2; }

.h-title-extra-large {
  font-size: 130px;
  line-height: 1.2; }

/* font weight --------------
---------------------------*/
.fw-100 {
  font-weight: 100; }

.fw-200 {
  font-weight: 200; }

.fw-300 {
  font-weight: 300; }

.fw-400 {
  font-weight: 400; }

.fw-500 {
  font-weight: 500; }

.fw-600 {
  font-weight: 600; }

.fw-700 {
  font-weight: 700; }

.fw-800 {
  font-weight: 800; }

.fw-900 {
  font-weight: 900; }

/* text size ----------------
---------------------------*/
.size-12 {
  font-size: 12px;
  line-height: 1.6; }

.size-14 {
  font-size: 14px;
  line-height: 1.6; }

.size-16 {
  font-size: 16px;
  line-height: 1.6; }

.size-18 {
  font-size: 18px;
  line-height: 1.6; }

.size-20 {
  font-size: 20px;
  line-height: 1.6; }

.size-22 {
  font-size: 22px;
  line-height: 1.6; }

.size-24 {
  font-size: 24px;
  line-height: 1.6; }

.size-28 {
  font-size: 28px;
  line-height: 1.6; }

.size-32 {
  font-size: 32px;
  line-height: 1.6; }

.size-36 {
  font-size: 36px;
  line-height: 1.6; }

.size-40 {
  font-size: 40px;
  line-height: 1.6; }

.size-44 {
  font-size: 44px;
  line-height: 1.6; }

.size-48 {
  font-size: 48px;
  line-height: 1.6; }

.size-52 {
  font-size: 52px;
  line-height: 1.6; }

.size-56 {
  font-size: 56px;
  line-height: 1.6; }

.size-60 {
  font-size: 60px;
  line-height: 1.6; }

.size-62 {
  font-size: 62px;
  line-height: 1.6; }

.size-64 {
  font-size: 64px;
  line-height: 1.6; }

.size-68 {
  font-size: 68px;
  line-height: 1.6; }

.size-70 {
  font-size: 70px;
  line-height: 1.6; }

.size-72 {
  font-size: 72px;
  line-height: 1.6; }

.size-82 {
  font-size: 82px;
  line-height: 1.6; }

.size-102 {
  font-size: 102px;
  line-height: 1.6; }

.size-300 {
  font-size: 300px;
  line-height: 1.6; }

/* ====================================================
   04. Preloader Styles
=======================================================*/
.gradient {
  -webkit-filter: none;
          filter: none; }

.preloader-area {
  background: #FAFAFA;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999; }

.double-bounce1,
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 12.5%;
  opacity: 0.6;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 60px;
  width: 60px;
  margin-left: -30px;
  margin-top: -30px;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out; }

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s; }

@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0); }
  50% {
    -webkit-transform: scale(1); } }
@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1); } }
/* ====================================================
   05. Overlayer Styles
=======================================================*/
.overlay {
  position: relative;
  z-index: 2; }

.overlay-light-32 {
  background-color: rgba(255, 255, 255, 0.32); }

.overlay-light-62 {
  background-color: rgba(255, 255, 255, 0.62); }

.overlay-light-92 {
  background-color: rgba(255, 255, 255, 0.92); }

.overlay-dark-32 {
  background-color: rgba(20, 24, 32, 0.32); }

.overlay-dark-62 {
  background-color: rgba(20, 24, 32, 0.62); }

.overlay-dark-92 {
  background-color: rgba(20, 24, 32, 0.92); }

.overlay-color-32 {
  background-color: rgba(238, 52, 73, 0.32); }

.overlay-color-62 {
  background-color: rgba(238, 52, 73, 0.62); }

.overlay-color-92 {
  background-color: rgba(238, 52, 73, 0.92); }

.overlay-texture {
  background-image: url("../../img/patterns/bg-patterns.png");
  background-repeat: repeat; }

/* ====================================================
   06. Background Color Styles
=======================================================*/
.bg-five {
  background: #FAFAFA; }

.bg-four {
  background: #D3D3D3; }

.bg-third {
  background: #616161; }

.bg-dark {
  background: #141820 !important; }

.bg-color {
  background: #EE3449; }

/* --- text in background ---
----------------------------- */
.bg-color *,
.bg-dark *,
.bg-four *,
.bg-third * {
  color: #FAFAFA; }

/* ====================================================
   07. Background Image Styles
=======================================================*/
.bg-img-0,
.bg-img-1,
.bg-img-10,
.bg-img-11,
.bg-img-12,
.bg-img-13,
.bg-img-14,
.bg-img-15,
.bg-img-16,
.bg-img-17,
.bg-img-18,
.bg-img-19,
.bg-img-2,
.bg-img-20,
.bg-img-3,
.bg-img-4,
.bg-img-5,
.bg-img-6,
.bg-img-7,
.bg-img-8,
.bg-img-9 {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: inherit;
  overflow: hidden; }

/* background image ---------
---------------------------*/
.bg-img-0 {
  background-image: url("../../img/bg/bg-img-0.html"); }

.bg-img-1 {
  background-image: url("../../img/bg/bg-img-1.jpg"); }

.bg-img-2 {
  background-image: url("../../img/bg/bg-img-2.jpg"); }

.bg-img-3 {
  background-image: url("../../img/bg/bg-img-3.jpg"); }

.bg-img-4 {
  background-image: url("../../img/bg/bg-img-4.jpg"); }

.bg-img-5 {
  background-image: url("../../img/bg/bg-img-5.jpg"); }

.bg-img-6 {
  background-image: url("../../img/bg/bg-img-6.jpg"); }

.bg-img-7 {
  background-image: url("../../img/bg/bg-img-7.jpg"); }

.bg-img-8 {
  background-image: url("../../img/bg/bg-img-8.jpg"); }

.bg-img-9 {
  background-image: url("../../img/bg/bg-img-9.jpg"); }

.bg-img-10 {
  background-image: url("../../img/bg/bg-img-10.jpg"); }

.bg-img-11 {
  background-image: url("../../img/bg/bg-img-11.jpg"); }

.bg-img-12 {
  background-image: url("../../img/bg/bg-img-12.jpg"); }

.bg-img-13 {
  background-image: url("../../img/bg/bg-img-13.jpg"); }

.bg-img-14 {
  background-image: url("../../img/bg/bg-img-14.jpg"); }

.bg-img-15 {
  background-image: url("../../img/bg/bg-img-15.jpg"); }

.bg-img-16 {
  background-image: url("../../img/bg/bg-img-16.jpg"); }

.bg-img-17 {
  background-image: url("../../img/bg/bg-img-17.jpg"); }

.bg-img-18 {
  background-image: url("../../img/bg/bg-img-18.jpg"); }

.bg-img-19 {
  background-image: url("../../img/bg/bg-img-19.jpg"); }

.bg-img-20 {
  background-image: url("../../img/bg/bg-img-20.jpg"); }

/* ====================================================
   08. Space margin and padding
=======================================================*/
.no-margin {
  margin: 0 !important; }

.no-padding {
  padding: 0 !important; }

/* --- margin 0 ----------------
----------------------------- */
.mt-0 {
  margin-top: 0px !important; }

.mb-0 {
  margin-bottom: 0px !important; }

.mr-0 {
  margin-right: 0px !important; }

.ml-0 {
  margin-left: 0px !important; }

.mtb-0 {
  margin-top: 0px !important;
  margin-bottom: 0px !important; }

.mrl-0 {
  margin-right: 0px !important;
  margin-left: 0px !important; }

/* --- margin 5 ----------------
----------------------------- */
.m-5 {
  margin: 5px !important; }

.mt-5 {
  margin-top: 5px !important; }

.mb-5 {
  margin-bottom: 5px !important; }

.mr-5 {
  margin-right: 5px !important; }

.ml-5 {
  margin-left: 5px !important; }

.mtb-5 {
  margin-top: 5px !important;
  margin-bottom: 5px !important; }

.mrl-5 {
  margin-right: 5px !important;
  margin-left: 5px !important; }

/* --- margin 10 ---------------
----------------------------- */
.m-10 {
  margin: 10px !important; }

.mt-10 {
  margin-top: 10px !important; }

.mb-10 {
  margin-bottom: 10px !important; }

.mr-10 {
  margin-right: 10px !important; }

.ml-10 {
  margin-left: 10px !important; }

.mtb-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important; }

.mrl-10 {
  margin-right: 10px !important;
  margin-left: 10px !important; }

/* --- margin 15 ---------------
----------------------------- */
.m-15 {
  margin: 15px !important; }

.mt-15 {
  margin-top: 15px !important; }

.mb-15 {
  margin-bottom: 15px !important; }

.mr-15 {
  margin-right: 15px !important; }

.ml-15 {
  margin-left: 15px !important; }

.mtb-15 {
  margin-top: 15px !important;
  margin-bottom: 15px !important; }

.mrl-15 {
  margin-right: 15px !important;
  margin-left: 15px !important; }

/* --- margin 30 ---------------
----------------------------- */
.m-30 {
  margin: 30px !important; }

.mt-30 {
  margin-top: 30px !important; }

.mb-30 {
  margin-bottom: 30px !important; }

.mr-30 {
  margin-right: 30px !important; }

.ml-30 {
  margin-left: 30px !important; }

.mtb-30 {
  margin-top: 30px !important;
  margin-bottom: 30px !important; }

.mrl-30 {
  margin-right: 30px !important;
  margin-left: 30px !important; }

/* --- margin 35 ---------------
----------------------------- */
.m-35 {
  margin: 35px !important; }

.mt-35 {
  margin-top: 35px !important; }

.mb-35 {
  margin-bottom: 35px !important; }

.mr-35 {
  margin-right: 35px !important; }

.ml-35 {
  margin-left: 35px !important; }

.mtb-35 {
  margin-top: 35px !important;
  margin-bottom: 35px !important; }

.mrl-35 {
  margin-right: 35px !important;
  margin-left: 35px !important; }

/* --- margin 45 ---------------
----------------------------- */
.m-45 {
  margin: 45px !important; }

.mt-45 {
  margin-top: 45px !important; }

.mb-45 {
  margin-bottom: 45px !important; }

.mr-45 {
  margin-right: 45px !important; }

.ml-45 {
  margin-left: 45px !important; }

.mtb-45 {
  margin-top: 45px !important;
  margin-bottom: 45px !important; }

.mrl-45 {
  margin-right: 45px !important;
  margin-left: 45px !important; }

/* --- margin 60 ---------------
----------------------------- */
.m-60 {
  margin: 60px !important; }

.mt-60 {
  margin-top: 60px !important; }

.mb-60 {
  margin-bottom: 60px !important; }

.mr-60 {
  margin-right: 60px !important; }

.ml-60 {
  margin-left: 60px !important; }

.mtb-60 {
  margin-top: 60px !important;
  margin-bottom: 60px !important; }

.mrl-60 {
  margin-right: 60px !important;
  margin-left: 60px !important; }

/* --- margin 100 --------------
----------------------------- */
.m-100 {
  margin: 100px !important; }

.mt-100 {
  margin-top: 100px !important; }

.mb-100 {
  margin-bottom: 100px !important; }

.mr-100 {
  margin-right: 100px !important; }

.ml-100 {
  margin-left: 100px !important; }

.mtb-100 {
  margin-top: 100px !important;
  margin-bottom: 100px !important; }

.mrl-100 {
  margin-right: 100px !important;
  margin-left: 100px !important; }

/* --- padding 0 ---------------
----------------------------- */
.p-0 {
  padding: 0px !important; }

.pt-0 {
  padding-top: 0px !important; }

.pb-0 {
  padding-bottom: 0px !important; }

.pr-0 {
  padding-right: 0px !important; }

.pl-0 {
  padding-left: 0px !important; }

.ptb-0 {
  padding-top: 0px !important;
  padding-bottom: 0px !important; }

.prl-0 {
  padding-right: 0px !important;
  padding-left: 0px !important; }

/* --- padding 5 ---------------
----------------------------- */
.p-5 {
  padding: 5px !important; }

.pt-5 {
  padding-top: 5px !important; }

.pb-5 {
  padding-bottom: 5px !important; }

.pr-5 {
  padding-right: 5px !important; }

.pl-5 {
  padding-left: 5px !important; }

.ptb-5 {
  padding-top: 5px !important;
  padding-bottom: 5px !important; }

.prl-5 {
  padding-right: 5px !important;
  padding-left: 5px !important; }

/* --- padding 10 --------------
----------------------------- */
.p-10 {
  padding: 10px !important; }

.pt-10 {
  padding-top: 10px !important; }

.pb-10 {
  padding-bottom: 10px !important; }

.pr-10 {
  padding-right: 10px !important; }

.pl-10 {
  padding-left: 10px !important; }

.ptb-10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important; }

.prl-10 {
  padding-right: 10px !important;
  padding-left: 10px !important; }

/* --- padding 15 --------------
----------------------------- */
.p-15 {
  padding: 15px !important; }

.pt-15 {
  padding-top: 15px !important; }

.pb-15 {
  padding-bottom: 15px !important; }

.pr-15 {
  padding-right: 15px !important; }

.pl-15 {
  padding-left: 15px !important; }

.ptb-15 {
  padding-top: 15px !important;
  padding-bottom: 15px !important; }

.prl-15 {
  padding-right: 15px !important;
  padding-left: 15px !important; }

/* --- padding 30 --------------
----------------------------- */
.p-30 {
  padding: 30px !important; }

.pt-30 {
  padding-top: 30px !important; }

.pb-30 {
  padding-bottom: 30px !important; }

.pr-30 {
  padding-right: 30px !important; }

.pl-30 {
  padding-left: 30px !important; }

.ptb-30 {
  padding-top: 30px !important;
  padding-bottom: 30px !important; }

.prl-30 {
  padding-right: 30px !important;
  padding-left: 30px !important; }

/* --- padding 45 --------------
----------------------------- */
.p-45 {
  padding: 45px !important; }

.pt-45 {
  padding-top: 45px !important; }

.pb-45 {
  padding-bottom: 45px !important; }

.pr-45 {
  padding-right: 45px !important; }

.pl-45 {
  padding-left: 45px !important; }

.ptb-45 {
  padding-top: 45px !important;
  padding-bottom: 45px !important; }

.prl-45 {
  padding-right: 45px !important;
  padding-left: 45px !important; }

/* --- padding 60 --------------
----------------------------- */
.p-60 {
  padding: 60px !important; }

.pt-60 {
  padding-top: 60px !important; }

.pb-60 {
  padding-bottom: 60px !important; }

.pr-60 {
  padding-right: 60px !important; }

.pl-60 {
  padding-left: 60px !important; }

.ptb-60 {
  padding-top: 60px !important;
  padding-bottom: 60px !important; }

.prl-60 {
  padding-right: 60px !important;
  padding-left: 60px !important; }

/* --- padding 100 -------------
----------------------------- */
.p-100 {
  padding: 100px !important; }

.pt-100 {
  padding-top: 100px !important; }

.pb-100 {
  padding-bottom: 100px !important; }

.pr-100 {
  padding-right: 100px !important; }

.pl-100 {
  padding-left: 100px !important; }

.ptb-100 {
  padding-top: 100px !important;
  padding-bottom: 100px !important; }

.prl-100 {
  padding-right: 100px !important;
  padding-left: 100px !important; }

/* --- padding other -----------
----------------------------- */
.ptb-100-70 {
  padding-top: 100px !important;
  padding-bottom: 70px !important; }

.ptb-80-70 {
  padding-top: 80px !important;
  padding-bottom: 70px !important; }

div.ptb-100 p:last-child {
  margin: 0; }

div.ptb-60 p:last-child {
  margin: 0; }

div.ptb-30 p:last-child {
  margin: 0; }

/* ====================================================
   09. Helper Class Styles
=======================================================*/
/* text color ---------------
---------------------------*/
.text-white, .white {
  color: #ffffff !important; }

.text-color, .color {
  color: #EE3449 !important; }

.text-dark, .dark {
  color: #141820 !important; }

.text-third, .third {
  color: #616161 !important; }

.text-four, .four {
  color: #D3D3D3 !important; }

.text-five, .five {
  color: #FAFAFA !important; }

/* mark ----------------
---------------------------*/
.mark, mark {
  background-color: rgba(211, 211, 211, 0.16); }

.mark.success, mark.success {
  background-color: #dff0d8;
  color: #2b542c; }

.mark.warning, mark.warning {
  background-color: #fcf8e3;
  color: #66512c; }

.mark.danger, mark.danger {
  background-color: #f2dede;
  color: #EE3449; }

/* --- shadow ------------------
----------------------------- */
.shadow {
  -webkit-box-shadow: 0 2px 40px rgba(0, 0, 0, 0.12);
  -o-box-shadow: 0 2px 40px rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 40px rgba(0, 0, 0, 0.12); }

.shadow-hover {
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1); }

/* --- list icon ---------------
----------------------------- */
.icon-list {
  display: inline-block;
  width: 25px;
  text-align: left; }

/* --- text transform ----------
----------------------------- */
.capitalize {
  text-transform: capitalize !important; }

.uppercase {
  text-transform: uppercase !important; }

.lowercase {
  text-transform: lowercase !important; }

/* --- letter spacing ----------
----------------------------- */
.ls-1 {
  letter-spacing: 1px; }

.ls-2 {
  letter-spacing: 2px; }

.ls-3 {
  letter-spacing: 3px; }

.ls-4 {
  letter-spacing: 4px; }

/* --- border ------------------
----------------------------- */
.no-border {
  border: none !important; }

.border-dark {
  border-color: rgba(0, 0, 0, 0.33) !important; }

.border {
  border: 1px solid rgba(0, 0, 0, 0.08); }

.border-large {
  border: 12px solid rgba(255, 255, 255, 0.33); }

.border-medium {
  border: 6px solid rgba(0, 0, 0, 0.08) !important; }

.border-small {
  border: 3px solid rgba(0, 0, 0, 0.08) !important; }

.tb-border {
  border-top: 1px solid rgba(0, 0, 0, 0.08) !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08) !important; }

.lr-border {
  border-left: 1px solid rgba(0, 0, 0, 0.08) !important;
  border-right: 1px solid rgba(0, 0, 0, 0.08) !important; }

.t-border {
  border-top: 1px solid rgba(0, 0, 0, 0.08) !important; }

.b-border {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08) !important; }

.l-border {
  border-left: 1px solid rgba(0, 0, 0, 0.08) !important; }

.r-border {
  border-right: 1px solid rgba(0, 0, 0, 0.08) !important; }

.border-img {
  border: 6px solid #fff;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.24); }

/* --- divider -----------------
----------------------------- */
.divider {
  position: relative;
  padding: 0 0 0 0;
  display: inline-block;
  color: #b5b9bf;
  border-bottom: 1px solid rgba(211, 211, 211, 0.08);
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 4px;
  margin: 0 auto 0 auto;
  width: 100%; }

/* ====================================================
   10. List Styles
=======================================================*/
dl,
ol,
ul {
  list-style-position: outside;
  padding-left: 0; }

dl li,
ol li,
ul li {
  padding: 5px 0 5px 5px; }

.list-none {
  list-style: none;
  padding: 0; }

/* route ----------------
---------------------------*/
.route ul {
  padding-left: 0;
  margin-bottom: 0; }

.route ul li {
  display: inline-block;
  padding: 0; }

.route ul li a {
  color: #FAFAFA;
  font-weight: lighter;
  text-transform: capitalize; }

.route ul li a:hover {
  color: #EE3449; }

.route ul li::after {
  content: "\f21b";
  font-family: 'ionicons';
  font-size: 4px;
  margin-left: 12px;
  margin-right: 12px;
  color: #EE3449; }

.route ul li:last-child::after {
  content: "";
  margin: 0; }

/* ====================================================
   11. dropcap's Styles
=======================================================*/
/* dropcaps ----------------
---------------------------*/
p.dropcaps::first-letter,
p.dropcaps-2::first-letter,
p.dropcaps-3::first-letter,
p.dropcaps-4::first-letter,
p.dropcaps-5::first-letter,
p.dropcaps-6::first-letter {
  background-color: #141820;
  border-radius: 2px;
  border: 1px solid transparent;
  color: #FAFAFA;
  display: block;
  float: left;
  font-size: 32px;
  line-height: 1.5;
  padding: 2px 14px;
  font-weight: 600;
  margin: 6px 12px 0 0; }

p.dropcaps-2::first-letter {
  background-color: transparent;
  border: 1px solid #D3D3D3;
  color: #141820; }

p.dropcaps-3::first-letter {
  background-color: #EE3449;
  color: #FAFAFA; }

p.dropcaps-4::first-letter {
  background-color: transparent;
  border: 1px solid #EE3449;
  color: #EE3449; }

p.dropcaps-5::first-letter {
  background-color: #FAFAFA;
  border: 1px solid transparent;
  color: #141820; }

p.dropcaps-6::first-letter {
  background-color: #FAFAFA;
  border: 1px solid transparent;
  color: #EE3449; }

/*# sourceMappingURL=common.css.map */