/* ====================================================
 Author       : jrtemplate
 Template     : Betra - Multipurpose
 Version      : 1.0

   TOC:
   01.	Variants Styles
   02.	Navbar Styles
   03.	Section title
   04.	 Icon with text Styles
   05.	Text box counter Styles
   06.	Tabs Styles
   07.	Button Styles
   08.	Progress Bar Styles
   09.	Team Styles
   10.	Theme Carousel Styles
   11.	Feature box Styles
   12.	Testimonials Styles
   13.	Icon list Styles
   14.	List style
   15.	Blockquote Styles
   16.	Accordion Styles
   17.	Form Styles
   18.	Blog Styles
   19.	Widget Styles
   20.	Pricing table style
   21.	Easy pie chart Styles

====================================================== */
/* ====================================================
   01. Variants Styles
=======================================================*/
/* Typography */
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
/* Colors */
/*
.container{
  background:rgba($color-four, 0.16);
}
*/
/* ====================================================
   02. Navbar Styles
======================================================= */
.main-header {
  background: transparent;
  position: absolute;
  top: 45px;
  right: 0;
  left: 0;
  z-index: 1020; }

.navbar {
  padding-left: 0;
  padding-right: 0; }

.navbar-brand {
  display: inline-block;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  padding: 0;
  margin: 0; }

.nav-link {
  display: inline-block;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 9px 16px !important;
  border-bottom: 2px solid transparent; }

.nav-link:hover {
  border-bottom: 2px solid #EE3449;
  color: #ffffff; }

.dropdown-toggle::after {
  margin-left: 0.555em;
  vertical-align: 0.255em; }

/* --- header sticky --------------------
----------------------------- */
.fixed {
  position: fixed !important;
  background: #141820;
  top: 0;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; }

/* --- dropdown menu ---
---------------------------*/
.dropdown-menu {
  background: #141820;
  border-radius: 0;
  letter-spacing: 1px;
  font-size: 13px;
  padding: 20px 0;
  min-width: 15rem;
  top: 114%; }

.dropdown-menu li {
  padding: 0; }

.dropdown-menu li .dropdown-item {
  color: #D3D3D3; }

.dropdown-menu li .dropdown-item::before {
  content: '\f21b';
  display: inline-block;
  font-family: 'ionicons';
  font-size: 6px;
  margin-right: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.dropdown-menu li .dropdown-item:hover {
  color: #EE3449; }

.dropdown-menu li .dropdown-item:hover::before {
  color: #EE3449; }

.dropdown-item:focus,
.dropdown-item:hover {
  color: #FAFAFA;
  text-decoration: none;
  background-color: #141820; }

/* --- dropdown submenu ---
---------------------------*/
.dropdown-submenu {
  position: relative;
  padding-left: 0; }

.dropdown-submenu a::after {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;
  right: 15px;
  top: 1.1em; }

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100.5%;
  margin-left: 0.1rem;
  margin-right: 0.1rem; }

/* --- navbar toggler ---
---------------------------*/
.navbar-toggler {
  border: 1px solid #616161; }

.navbar-toggler-icon {
  color: #FAFAFA;
  font-size: 24px;
  width: 24px;
  height: 24px; }

.sticky-top .navbar-toggler-icon {
  color: #ffffff; }

/* --- navbar collapse ---
---------------------------*/
.dark .collapse .navbar-nav {
  background: rgba(250, 250, 250, 0.92); }

.dark.sticky-top .collapse .navbar-nav {
  background: #141820; }

/* ====================================================
    03. Section title
==================================================== */
.section-title {
  position: relative;
  display: inline-block;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 60px; }
  .section-title h4 {
    padding: 4px 32px;
    border-left: 6px solid rgba(211, 211, 211, 0.62);
    border-right: 6px solid rgba(211, 211, 211, 0.62);
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
    display: inline-block;
    margin-bottom: 60px; }
  .section-title p {
    margin-bottom: 0; }

/* --- section-title-01 ---
----------------------------- */
.section-title-01::after {
  border: 1px solid #141820; }

.section-title-01 {
  border-top: 1px solid #141820;
  margin-top: 166px;
  margin-bottom: 100px;
  position: relative;
  padding-top: 46px;
  text-align: center; }
  .section-title-01 h5 {
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #141820;
    display: inline-block;
    padding: 15px 30px;
    position: absolute;
    top: -36px;
    left: 15%;
    right: 15%; }
  .section-title-01 p {
    margin-bottom: 0; }

.section-title-01::after {
  border: 1px solid #141820; }

/* ====================================================
  04. icon with text Styles
==================================================== */
/* --- icon style ---
----------------------------- */
.square {
  background: #FAFAFA;
  border: 5px solid #ffffff;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 0 1px #ececec;
          box-shadow: 0 0 0 1px #ececec;
  font-size: 36px;
  padding: 16px 12px;
  width: 80px;
  height: 80px;
  text-align: center; }

.circular {
  background: #F7F7F7;
  border: 5px solid #ffffff;
  border-radius: 100%;
  -webkit-box-shadow: 0 0 0 1px #ececec;
  box-shadow: 0 0 0 1px #ececec;
  line-height: 1.3;
  font-size: 36px;
  margin-bottom: 30px;
  padding: 12px;
  width: 80px;
  height: 80px;
  text-align: center; }

/* --- text box circle ---
----------------------------- */
.text-box-circle {
  color: #ffffff;
  text-align: center; }

.text-box-circle .title {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-weight: 400;
  line-height: 1.4; }

.text-box-circle span {
  color: #ffffff;
  font-size: 36px;
  margin-bottom: 30px;
  text-align: center;
  border: 1px dashed white;
  border-radius: 100px;
  width: 100px;
  height: 100px;
  padding: 30px 20px 20px 20px; }

.text-box-circle:hover span {
  border-style: solid;
  background: #EE3449; }

/* --- text box counter 03 ---
------------------------------ */
.text-box-dashed {
  position: relative;
  text-align: center;
  padding: 25px 25px 22px 25px; }

.text-box-dashed span {
  color: #ffffff;
  font-size: 36px;
  margin-bottom: 15px;
  text-align: center;
  border: 1px dashed white;
  border-radius: 100px;
  width: 100px;
  height: 100px;
  padding: 30px 20px 20px 20px; }

.text-box-dashed h6 {
  color: #ffffff; }

.text-box-dashed:hover span {
  border-style: solid;
  background: rgba(238, 52, 73, 0.62); }

.bg-dark .text-box-dashed:hover span {
  border-style: solid !important;
  background: #ee3449 !important; }

/* --- icon with text 01 ---
----------------------------- */
.item-with-text-01 {
  background: #ffffff;
  text-align: center;
  padding: 60px 45px;
  border: 1px solid rgba(103, 113, 128, 0.15); }
  .item-with-text-01 i {
    font-size: 42px;
    margin-bottom: 20px; }
  .item-with-text-01 h6 {
    font-weight: 600 !important;
    text-transform: capitalize;
    margin-bottom: 15px; }
  .item-with-text-01 p {
    margin-bottom: 0; }

.item-with-text-01:hover {
  background: #ffffff;
  -ms-box-shadow: 0 22px 43px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 22px 43px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 22px 43px rgba(0, 0, 0, 0.15);
  box-shadow: 0 22px 43px rgba(0, 0, 0, 0.15); }
  .item-with-text-01:hover i {
    color: #EE3449; }

/* --- icon with text left ---
----------------------------- */
.item-with-text-left {
  text-align: left;
  padding: 0;
  position: relative;
  margin-bottom: 45px; }
  .item-with-text-left i {
    position: absolute; }
  .item-with-text-left h6 {
    font-weight: 600 !important;
    padding-left: 105px;
    margin-bottom: 15px; }
  .item-with-text-left p {
    padding-left: 105px;
    margin-bottom: 0; }

.item-with-text-left:hover .circular {
  background: #EE3449 !important;
  color: #FFFFFF !important; }

/* --- icon with text right ---
----------------------------- */
.item-with-text-right {
  text-align: right;
  padding: 0;
  position: relative;
  margin-bottom: 45px; }
  .item-with-text-right i {
    position: absolute;
    right: 0; }
  .item-with-text-right h6 {
    font-weight: 600;
    padding-right: 105px;
    margin-bottom: 10px; }
  .item-with-text-right p {
    padding-right: 105px;
    margin-bottom: 0; }

.item-with-text-left:hover .square,
.item-with-text-right:hover .square {
  background: #EE3449 !important;
  color: #FFFFFF !important; }

/* ====================================================
  05. text box counter Styles
==================================================== */
/* --- text box counter-01 ---
------------------------------ */
.text-box-counter-01 {
  position: relative;
  text-align: center;
  border: 1px solid rgba(103, 113, 128, 0.08);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 360px;
  padding: 45px; }

.text-box-counter-01 .content {
  text-align: center; }

.text-box-counter-01 .content h6 {
  margin: 5px 5px 10px 5px; }

.text-box-counter-01 h1 {
  display: block;
  font-size: 214px;
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  font-weight: 800;
  position: absolute;
  color: rgba(211, 211, 211, 0.33);
  margin: 0 auto;
  z-index: -1; }

/* ====================================================
  06. tabs Styles
==================================================== */
/* --- tab-style-04 ---
----------------------------- */
.tab-style-01 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 0;
  margin-bottom: 60px; }

.tab-style-01 li:first-child {
  padding: 0 0 0 0; }

.tab-style-01 li {
  padding: 0 0 0 30px; }

.tab-style-01 .nav-item .nav-link {
  color: #141820;
  background-color: transparent;
  border-bottom: 2px solid #e5e5e5;
  border-radius: 0;
  font-weight: 600;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0 5px;
  text-transform: capitalize;
  letter-spacing: normal;
  width: 240px;
  text-align: center; }

.tab-style-01 .nav-item .nav-link.active,
.tab-style-01 .nav-item .show > .nav-link {
  background-color: #FFFFFF;
  border-bottom: 2px solid #EE3449; }

.tab-style-01.tab-content {
  padding-top: 100px;
  border-bottom: 0px; }

/* ====================================================
   07. button Styles
=======================================================*/
.btn {
  display: inline-block;
  border: 2px solid transparent;
  border-radius: 2px;
  letter-spacing: 2px;
  line-height: 1.6;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  width: auto; }

.btn-rounded {
  border-radius: 50px; }

.btn-dual .btn {
  margin: 0 10px 0 0; }

.btn-dual .btn:last-child {
  margin: 0; }

button:focus,
button:active,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: none; }

.btn.focus,
.btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none; }

/* --- button size -------------
----------------------------- */
.btn.btn-very-small {
  font-size: 9px;
  padding: 1px 17px;
  line-height: 1.6; }

.btn.btn-default {
  font-size: 11px;
  padding: 4px 24px; }

.btn.btn-medium {
  font-size: 12px;
  padding: 6px 25px 5px; }

.btn.btn-large {
  font-size: 13px;
  padding: 9px 34px;
  line-height: 1.6; }

.btn.btn-extra-large {
  font-size: 15px;
  padding: 12px 40px 13px;
  line-height: 1.6; }

/* --- button primary ----------
----------------------------- */
.btn.btn-primary {
  background: #EE3449;
  border-color: #EE3449;
  color: #ffffff; }

.btn.btn-primary:hover, .btn.btn-primary:focus {
  background: transparent;
  color: #EE3449; }

/* --- button outline primary ----------
----------------------------- */
.btn.btn-outline-primary {
  background: transparent;
  border-color: #EE3449;
  color: #EE3449; }

.btn.btn-outline-primary:hover, .btn.btn-outline-primary:focus {
  background: #EE3449;
  color: #FFFFFF; }

/* --- button dark ----------
----------------------------- */
.btn.btn-dark {
  background: #141820;
  border-color: #141820;
  color: #ffffff; }

.btn.btn-dark:hover, .btn.btn-dark:focus {
  background: transparent;
  color: #141820; }

/* --- button outline dark ----------
----------------------------- */
.btn.btn-outline-dark {
  background: transparent;
  border-color: #141820;
  color: #141820; }

.btn.btn-outline-dark:hover, .btn.btn-outline-dark:focus {
  background: #141820;
  color: #FFFFFF; }

/* --- button white ----------
----------------------------- */
.btn.btn-white {
  background: #ffffff;
  border-color: #ffffff;
  color: #141820; }

.btn.btn-white:hover, .btn.btn-white:focus {
  background: transparent;
  color: #ffffff; }

/* --- button outline white ----------
----------------------------- */
.btn.btn-outline-white {
  background: transparent;
  border-color: #FFFFFF;
  color: #FFFFFF; }

.btn.btn-outline-white:hover, .btn.btn-outline-white:focus {
  background: #FFFFFF;
  color: #141820; }

/* ====================================================
  08. Progress Bar Styles
==================================================== */
/* --- Progress style 01 ---
----------------------------- */
.process-bar-01 .progress-title {
  margin: 0 0 8px;
  font-size: 13px;
  line-height: 1.6;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif; }
.process-bar-01 .progress {
  height: 4px;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 40px;
  overflow: visible;
  background: #D3D3D3; }
.process-bar-01 .progress .progress-bar {
  background: #EE3449;
  -webkit-box-shadow: none;
          box-shadow: none;
  position: relative;
  -webkit-animation: animate-positive 2s;
  animation: animate-positive 2s; }
.process-bar-01 .progress .progress-bar:after {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  position: absolute;
  top: -5px;
  right: -4px; }
.process-bar-01 .progress .progress-value {
  font-size: 13px;
  line-height: 1.6;
  letter-spacing: 1px;
  font-weight: 400;
  color: #000;
  position: absolute;
  top: -24px;
  right: 0px; }

/* ====================================================
  09. team Styles
=======================================================*/
.item-team,
.item-team .item-content {
  transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s; }

.item-team .item-title {
  text-transform: capitalize; }

.item-team {
  position: relative; }
  .item-team img {
    width: 100%; }
  .item-team .item-content {
    position: relative;
    padding: 15px 0;
    margin-top: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    border: 2px solid #141820;
    background: rgba(250, 250, 250, 0.62); }

.item-team:hover .item-content {
  background: #141820; }
  .item-team:hover .item-content h6 {
    color: #FAFAFA; }

/* --- team 01 ---------
----------------------------- */
.item-team-01 {
  position: relative; }
  .item-team-01 img {
    width: 100%; }
  .item-team-01 .item-content {
    position: relative;
    padding: 15px 0;
    margin-top: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    border: 2px solid #141820;
    background: rgba(250, 250, 250, 0.62); }
  .item-team-01 .item-content .item-title h4 {
    text-transform: uppercase; }
  .item-team-01 .item-content .item-title p {
    text-transform: capitalize;
    font-size: 14px; }

.item-team-01:hover .item-content {
  background: #141820; }
  .item-team-01:hover .item-content h6 {
    color: #FAFAFA; }

/* ====================================================
  10. Theme Carousel Styles
=======================================================*/
/* --- owl-nav ---
----------------------------- */
.owl-theme .owl-nav {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 44.5%;
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent; }

.owl-theme .owl-nav [class*='owl-'] {
  color: #FFF;
  font-size: 17px;
  font-family: 'ionicons';
  width: 40px;
  height: 40px;
  margin: 5px;
  padding: 6px 7px;
  background: rgba(20, 24, 32, 0.92);
  border: 2px solid #FAFAFA;
  cursor: pointer;
  border-radius: 0;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.26);
  -o-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.26);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.26); }

.owl-theme .owl-nav .owl-prev {
  position: absolute;
  left: -64px; }

.owl-theme .owl-nav .owl-next {
  position: absolute;
  right: -64px; }

.owl-theme .owl-nav [class*='owl-']:hover {
  background: #EE3449;
  color: #FFF;
  text-decoration: none; }

.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default; }

/* --- owl-dots ---
----------------------------- */
.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 30px; }

.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent; }

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline; }

.owl-theme .owl-dots .owl-dot span {
  width: 30px;
  height: 5px;
  margin: 5px 7px;
  background: #141820;
  display: block;
  -webkit-backface-visibility: visible;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  border-radius: 30px; }

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #EE3449; }

/* ====================================================
  11. feature box Styles
==================================================== */
/* --- feature box 03 ---
----------------------------- */
.featured-box-03 {
  background: rgba(20, 24, 32, 0.62);
  -webkit-box-shadow: 0 0 0 1px rgba(236, 236, 236, 0.04);
          box-shadow: 0 0 0 1px rgba(236, 236, 236, 0.04);
  text-align: center;
  padding: 30px 30px 45px 30px;
  margin-top: 15px;
  margin-bottom: 15px;
  transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s; }
  .featured-box-03 i {
    font-size: 36px;
    margin-bottom: 0;
    padding: 20px;
    width: 80px;
    height: 80px;
    text-align: center; }
  .featured-box-03 h6 {
    color: #FAFAFA;
    text-transform: capitalize;
    margin-bottom: 15px; }
  .featured-box-03 i {
    color: #EE3449; }

.featured-box-03:hover {
  background: #ee3449;
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(238, 52, 73, 0.62)), color-stop(100%, #ff0055));
  background: linear-gradient(135deg, #ee3449 0%, #ff0055 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee3449', endColorstr='#ff0055', GradientType='1' );
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
  -ms-box-shadow: 0 22px 43px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 22px 43px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 22px 43px rgba(0, 0, 0, 0.15);
  box-shadow: 0 22px 43px rgba(0, 0, 0, 0.15); }
  .featured-box-03:hover h6, .featured-box-03:hover i, .featured-box-03:hover p {
    color: #FAFAFA; }

/* ====================================================
  12. Testimonials Styles
=======================================================*/
/* --- testimonials 01 ---
------------------------------ */
.testimonials {
  text-align: center; }

.testimonials p {
  border-top: 1px solid rgba(103, 113, 128, 0.15);
  border-bottom: 1px solid rgba(103, 113, 128, 0.15);
  color: #ffffff;
  padding: 30px;
  margin-top: 30px;
  text-align: center; }

/* ====================================================
  13. icon list Styles
=======================================================*/
.icon-dual {
  list-style: none;
  padding: 0;
  margin-bottom: 0; }

.icon-dual li {
  display: inline-block;
  margin: 0 8px; }

.icon-dual li a {
  font-size: 22px;
  width: 40px;
  height: 40px;
  line-height: 1.6;
  text-align: center;
  display: inline-block; }

/* --- icon list 01 ---------
----------------------------- */
.social-icon-01.icon-dual li a {
  border: 1px solid rgba(103, 113, 128, 0.09);
  border-radius: 40px; }

.social-icon-01.icon-dual li a.facebook:hover {
  color: #3b5998 !important; }

.social-icon-01.icon-dual li a.twitter:hover {
  color: #00aced !important; }

.social-icon-01.icon-dual li a.google:hover {
  color: #dc4a38 !important; }

.social-icon-01.icon-dual li a.dribbble:hover {
  color: #ea4c89 !important; }

.social-icon-01.icon-dual li a.linkedin:hover {
  color: #007bb6 !important; }

.social-icon-01.icon-dual li a.instagram:hover {
  color: #FE1F49 !important; }

.social-icon-01.icon-dual li a.tumblr:hover {
  color: #32506d !important; }

.social-icon-01.icon-dual li a.github:hover {
  color: #3f91cb !important; }

.social-icon-01.icon-dual li a.youtube:hover {
  color: #bb0000 !important; }

.social-icon-01.icon-dual li a.rss:hover {
  color: #f2890a !important; }

.social-icon-01.icon-dual li a.reddit:hover {
  color: #ff4500 !important; }

.social-icon-01.icon-dual li a.vimeo:hover {
  color: #35c6ea !important; }

.social-icon-01.icon-dual li a.pinterest:hover {
  color: #e13138 !important; }

/* --- icon list 02 ---------
----------------------------- */
.social-icon-02.icon-dual li a {
  border: 1px solid rgba(103, 113, 128, 0.09);
  border-radius: 40px; }

.social-icon-02.icon-dual li a.facebook {
  border-radius: 40px;
  background-color: #3b5998;
  color: #ffffff; }

.social-icon-02.icon-dual li a.facebook:hover {
  background-color: transparent;
  border: 1px solid #3b5998;
  color: #3b5998 !important; }

.social-icon-02.icon-dual li a.twitter {
  border-radius: 40px;
  background-color: #00aced;
  color: #ffffff; }

.social-icon-02.icon-dual li a.twitter:hover {
  background-color: transparent;
  border: 1px solid #00aced;
  color: #00aced !important; }

.social-icon-02.icon-dual li a.google {
  border-radius: 40px;
  background-color: #dc4a38;
  color: #ffffff; }

.social-icon-02.icon-dual li a.google:hover {
  background-color: transparent;
  border: 1px solid #dc4a38;
  color: #dc4a38 !important; }

.social-icon-02.icon-dual li a.dribbble {
  border-radius: 40px;
  background-color: #ea4c89;
  color: #ffffff; }

.social-icon-02.icon-dual li a.dribbble:hover {
  background-color: transparent;
  border: 1px solid #ea4c89;
  color: #ea4c89 !important; }

.social-icon-02.icon-dual li a.linkedin {
  border-radius: 40px;
  background-color: #007bb6;
  color: #ffffff; }

.social-icon-02.icon-dual li a.linkedin:hover {
  background-color: transparent;
  border: 1px solid #007bb6;
  color: #007bb6 !important; }

.social-icon-02.icon-dual li a.instagram {
  border-radius: 40px;
  background-color: #FE1F49;
  color: #ffffff; }

.social-icon-02.icon-dual li a.instagram:hover {
  background-color: transparent;
  border: 1px solid #FE1F49;
  color: #FE1F49 !important; }

.social-icon-02.icon-dual li a.tumblr {
  border-radius: 40px;
  background-color: #32506d;
  color: #ffffff; }

.social-icon-02.icon-dual li a.tumblr:hover {
  background-color: transparent;
  border: 1px solid #32506d;
  color: #32506d !important; }

.social-icon-02.icon-dual li a.github {
  border-radius: 40px;
  background-color: #3f91cb;
  color: #ffffff; }

.social-icon-02.icon-dual li a.github:hover {
  background-color: transparent;
  border: 1px solid #3f91cb;
  color: #3f91cb !important; }

.social-icon-02.icon-dual li a.youtube {
  border-radius: 40px;
  background-color: #bb0000;
  color: #ffffff; }

.social-icon-02.icon-dual li a.youtube:hover {
  background-color: transparent;
  border: 1px solid #bb0000;
  color: #bb0000 !important; }

.social-icon-02.icon-dual li a.rss {
  border-radius: 40px;
  background-color: #f2890a;
  color: #ffffff; }

.social-icon-02.icon-dual li a.rss:hover {
  background-color: transparent;
  border: 1px solid #f2890a;
  color: #f2890a !important; }

.social-icon-02.icon-dual li a.reddit {
  border-radius: 40px;
  background-color: #ff4500;
  color: #ffffff; }

.social-icon-02.icon-dual li a.reddit:hover {
  background-color: transparent;
  border: 1px solid #ff4500;
  color: #ff4500 !important; }

.social-icon-02.icon-dual li a.vimeo {
  border-radius: 40px;
  background-color: #35c6ea;
  color: #ffffff; }

.social-icon-02.icon-dual li a.vimeo:hover {
  background-color: transparent;
  border: 1px solid #35c6ea;
  color: #35c6ea !important; }

.social-icon-02.icon-dual li a.pinterest {
  border-radius: 40px;
  background-color: #bd081c;
  color: #ffffff; }

.social-icon-02.icon-dual li a.pinterest:hover {
  background-color: transparent;
  border: 1px solid #bd081c;
  color: #bd081c !important; }

/* ====================================================
  14. list style
=======================================================*/
/* --- icon list 01 ---------
----------------------------- */
.list-style-01 {
  list-style: none; }

.list-style-01 li {
  position: relative;
  padding: 0 0 10px 22px;
  margin: 0 0 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.list-style-01 li:before {
  content: "\f3d1";
  position: absolute;
  top: 1px;
  left: 0;
  font-family: 'ionicons';
  font-weight: 400;
  color: "Montserrat", sans-serif; }

/* --- icon list 02 ---------
----------------------------- */
.list-style-02 {
  list-style: none; }

.list-style-02 li {
  position: relative;
  padding: 4px 0 4px 20px;
  margin: 0 0 10px 0;
  border-left: 1px solid #EE3449;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

/* --- icon list 03 ---------
----------------------------- */
.list-style-03 {
  list-style: none; }

.list-style-03 li {
  position: relative;
  padding: 0 0 10px 22px;
  margin: 0 0 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.list-style-03 li:before {
  content: "\f122";
  position: absolute;
  top: 1px;
  left: 0;
  font-family: 'ionicons';
  font-weight: 400;
  color: #EE3449; }

/* --- icon list 04 ---------
----------------------------- */
.list-style-04 {
  list-style: none; }

.list-style-04 li {
  position: relative;
  padding: 0 0 10px 22px;
  margin: 0 0 4px 0; }

.list-style-04 li:before {
  content: "\f122";
  position: absolute;
  top: 1px;
  left: 0;
  font-family: 'ionicons';
  font-weight: 400;
  color: #EE3449; }

/* --- icon list 05 ---------
----------------------------- */
.list-style-05 {
  list-style: none; }

.list-style-05 li {
  text-transform: capitalize;
  position: relative;
  padding: 4px 0 4px 0;
  margin: 0 0 10px 0;
  border-left: 2px solid rgba(0, 0, 0, 0.1);
  border-right: 2px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  letter-spacing: 1px; }

/* ====================================================
   15. blockquote Styles
=======================================================*/
.blockquote {
  font-size: 16px;
  font-weight: 300;
  border-left: 10px solid #FAFAFA;
  padding: 25px 45px; }

.blockquote footer {
  margin-top: 15px; }

.blockquote-footer::before {
  content: "\f371";
  font-size: 11px;
  font-family: 'ionicons';
  margin-right: 20px;
  color: rgba(211, 211, 211, 0.92); }

.blockquote-footer {
  text-transform: capitalize;
  font-weight: 600; }

/* --- blockquote-reverse -------
----------------------------- */
.blockquote-reverse {
  font-size: 16px;
  font-weight: 300;
  border-right: 10px solid #FAFAFA;
  padding: 25px 45px; }

.blockquote-reverse .blockquote-footer {
  margin-top: 15px;
  text-align: right;
  text-transform: capitalize;
  font-weight: 600; }

/* --- blockquote-italic -------
----------------------------- */
.blockquote-italic {
  font-size: 16px;
  font-weight: 300;
  font-style: italic;
  padding: 25px 45px; }

.blockquote-italic footer {
  margin-top: 15px; }

.blockquote-footer::before {
  content: "\f371";
  font-size: 11px;
  font-family: 'ionicons';
  margin-right: 20px;
  color: #D3D3D3; }

.blockquote-footer {
  text-transform: capitalize;
  font-weight: 600; }

/* ====================================================
    16. Accordion Styles
==================================================== */
/* --- accordion 1 ---
---------------------------*/
#accordion.accordion .card,
#accordion2.accordion .card,
#accordion3.accordion .card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: transparent;
  background-clip: border-box;
  border: 0;
  border-radius: 0;
  margin-bottom: 15px; }

#accordion.accordion .card .card-header,
#accordion2.accordion .card .card-header,
#accordion3.accordion .card .card-header {
  padding: 18px;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

#accordion.accordion .card .card-header h6 i,
#accordion2.accordion .card .card-header h6 i,
#accordion3.accordion .card .card-header h6 i {
  color: #EE3449;
  font-size: 26px;
  margin: 0 15px 0 3px;
  text-align: center; }

#accordion.accordion .card .card-header h6:hover,
#accordion.accordion .card .card-header h6:focus,
#accordion2.accordion .card .card-header h6:hover,
#accordion2.accordion .card .card-header h6:focus,
#accordion3.accordion .card .card-header h6:hover,
#accordion3.accordion .card .card-header h6:focus {
  text-decoration: none;
  cursor: pointer; }

/* --- accordion 2 ---
---------------------------*/
#accordion2.accordion .card .card-header {
  background-color: transparent;
  border: 1px solid rgba(103, 113, 128, 0.15); }

/* --- accordion 3 ---
---------------------------*/
#accordion3.accordion .card .card-header {
  background-color: transparent;
  border-bottom: 1px solid rgba(103, 113, 128, 0.15); }

/* ====================================================
  17. form Styles
=======================================================*/
/* --- style 01 ---------
----------------------------- */
.form-control {
  padding: 9px 20px;
  margin-bottom: 30px;
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  background-color: transparent;
  background-clip: padding-box;
  border: 1px solid #363636;
  border-radius: 0;
  -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out; }

.form-control:focus {
  color: #141820;
  background-color: transparent;
  border-color: #141820;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none; }

select.form-control:not([size]):not([multiple]) {
  height: calc(2.25rem + 9px); }

label {
  display: inline-block;
  margin-bottom: .5rem;
  text-transform: capitalize;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 1px; }

/* ====================================================
  18. blog Styles
=======================================================*/
.blog-post {
  padding: 24px;
  position: relative;
  border: 1px solid #D3D3D3;
  background: rgba(255, 255, 255, 0.92); }

.blog-post:hover {
  background: #FAFAFA; }

.blog-post-images {
  position: relative; }

.blog-post .post-date {
  color: #FFFFFF;
  padding: 10px 20px;
  position: absolute;
  text-align: center;
  text-transform: capitalize;
  top: 0;
  right: 0;
  background: rgba(238, 52, 73, 0.92);
  z-index: 999; }

.blog-post .post-date a {
  color: #ffffff !important; }

.blog-post .post-date a.read:hover {
  color: #141820 !important; }

.post-details {
  position: relative;
  padding: 24px 0 0 0;
  margin-bottom: 0; }

.post-details p {
  margin-bottom: 15px; }

.post-details .post-autor,
.post-details .post-catg {
  color: #616161;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  text-transform: capitalize;
  font-weight: 500; }

.post-details .post-autor a,
.post-details .post-catg a {
  margin-right: 4px;
  color: #616161;
  font-style: italic;
  text-transform: capitalize; }

.post-details .post-autor a:hover,
.post-details .post-catg a:hover {
  color: #EE3449; }

.post-details .post-title {
  margin-bottom: 15px;
  font-weight: 600;
  line-height: 1.2; }

.post-link-categoria {
  color: #141820; }

.post-link-categoria:hover {
  color: #EE3449 !important; }

.post-link:hover i {
  color: #ffffff; }

/* --- blog post grid ---
----------------------------- */
.blog-post-grid .blog-post-content .blog-image {
  margin-right: 0; }
.blog-post-grid .blog-post-content .blog-text {
  margin-top: 17px; }
  .blog-post-grid .blog-post-content .blog-text h6 {
    font-size: 12px;
    margin-bottom: 16px; }

/* --- comemnts_blog ---
----------------------------- */
.pull-left {
  float: left; }

.pull-right {
  float: right; }

.comemnts_blog {
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  padding-top: 60px;
  padding-bottom: 60px; }

.comemnts_blog ul li {
  list-style: none;
  padding-top: 40px;
  padding-bottom: 10px;
  border-bottom: 10px solid #ededed; }
.comemnts_blog ul li:last-child {
  padding-bottom: 0;
  border-bottom: none; }
.comemnts_blog .comment_content {
  padding-left: 90px;
  margin-bottom: 30px; }
.comemnts_blog a.reply {
  border: 1px solid #ededed;
  background: #FAFAFA;
  color: #141820;
  padding: 3px 10px; }
.comemnts_blog a.reply i {
  margin-right: 0.25rem;
  font-size: 18px; }
.comemnts_blog .comment_content h6 {
  border-left: 4px solid #ededed;
  border-bottom: 1px solid #ededed;
  padding: 8px;
  margin-bottom: 0;
  text-transform: capitalize; }
.comemnts_blog .comment_content p.date {
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-style: italic;
  font-size: 11px; }
.comemnts_blog ul ul {
  padding-left: 2.857rem; }
.comemnts_blog ul ul li {
  border-bottom: none;
  padding-bottom: 0; }

/* --- blog post statistics ---
----------------------------- */
.statistics a {
  color: #616161;
  margin-right: 30px; }

.statistics a:last-child {
  margin-right: 0; }

.statistics a i {
  font-size: 18px;
  margin-right: 0.5rem; }

/* ====================================================
19. Widget Styles
==================================================== */
.tag-cloud {
  margin-bottom: 15px; }

.tag-cloud a {
  color: #141820;
  margin-right: 15px; }

.widget {
  margin-bottom: 60px;
  padding-left: 15px;
  padding-right: 15px; }
  .widget .widget-title {
    border-left: 4px solid #ededed;
    border-bottom: 1px solid #ededed;
    font-size: 16px;
    line-height: 1.6;
    padding: 8px 8px 8px 12px;
    margin-bottom: 30px;
    font-weight: 600; }
  .widget .widget-follow-us a {
    color: #FAFAFA;
    width: 36px;
    height: 36px;
    display: inline-block;
    padding-top: 4px;
    margin: 0 4px; }
  .widget .widget-follow-us .follow-us-f .widget-follow-us .follow-us-t .widget-follow-us .follow-us-g .widget-follow-us .follow-us-i .widget-follow-us .follow-us-l {
    color: #D3D3D3; }
  .widget .widget-follow-us .follow-us-f {
    background-color: #3b5998;
    border: 1px solid #3b5998; }
  .widget .widget-follow-us .follow-us-f:hover {
    background-color: #FAFAFA;
    border: 1px solid #3b5998; }
  .widget .widget-follow-us .follow-us-f:hover i {
    color: #3b5998 !important; }
  .widget .widget-follow-us .follow-us-t {
    background-color: #00aced;
    border: 1px solid #00aced; }
  .widget .widget-follow-us .follow-us-t:hover {
    background-color: #FAFAFA;
    border: 1px solid #00aced; }
  .widget .widget-follow-us .follow-us-t:hover i {
    color: #00aced !important; }
  .widget .widget-follow-us .follow-us-g {
    background-color: #dc4a38;
    border: 1px solid #dc4a38; }
  .widget .widget-follow-us .follow-us-g:hover {
    background-color: #FAFAFA;
    border: 1px solid #dc4a38; }
  .widget .widget-follow-us .follow-us-g:hover i {
    color: #dc4a38 !important; }
  .widget .widget-follow-us .follow-us-i {
    background-color: #FE1F49;
    border: 1px solid #FE1F49; }
  .widget .widget-follow-us .follow-us-i:hover {
    background-color: #FAFAFA;
    border: 1px solid #FE1F49; }
  .widget .widget-follow-us .follow-us-i:hover i {
    color: #FE1F49 !important; }
  .widget .widget-follow-us .follow-us-l {
    background-color: #EE3449;
    border: 1px solid #EE3449; }
  .widget .widget-follow-us .follow-us-l:hover {
    background-color: #FAFAFA;
    border: 1px solid #EE3449; }
  .widget .widget-follow-us .follow-us-l:hover i {
    color: #EE3449 !important; }
  .widget .widget-list {
    list-style: none;
    margin: 0;
    padding: 0; }
  .widget .widget-list li {
    color: #141820;
    position: relative;
    padding: 0 15px 8px 0;
    margin: 0 0 8px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  .widget .widget-list li a {
    color: #141820; }
  .widget .widget-list li:before {
    content: ""; }
  .widget .widget-list li span {
    color: #141820;
    position: absolute;
    top: 3px;
    right: 0; }

/* ====================================================
  20. pricing table style
=======================================================*/
.pricing-table {
  border: 1px solid rgba(103, 113, 128, 0.09);
  border-radius: 8px;
  background: #FFFFFF;
  padding: 60px 0;
  text-align: center;
  transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s; }

.pricing-table:hover {
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
  -ms-box-shadow: 0 22px 43px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 22px 43px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 22px 43px rgba(0, 0, 0, 0.15);
  box-shadow: 0 22px 43px rgba(0, 0, 0, 0.15); }

.pricing-table .p-value {
  background: #141820;
  border-radius: 100px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 165px;
  margin-top: 30px;
  padding: 5px;
  width: 165px; }

.pricing-table .p-value div {
  background: #141820;
  border: 1px dashed #FAFAFA;
  border-radius: 100px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 150px;
  padding: 15px;
  width: 150px; }

.pricing-table .p-value h4 {
  font-weight: 600;
  margin-bottom: 0px;
  line-height: 1.6;
  color: #FAFAFA; }

.pricing-table .p-value h4 span {
  font-size: 16px;
  font-weight: 400; }

.pricing-table .list-details {
  list-style: none;
  margin-top: 35px;
  margin-bottom: 35px;
  padding: 0 45px; }

.pricing-table .list-details li {
  border-bottom: 1px solid #fafafa; }

.pricing-table .list-details li:last-child {
  border-bottom: transparent; }

.pricing-table.pricing-color .p-value {
  background: #EF374A; }

.pricing-table.pricing-color .p-value div {
  background: #EE3449; }

/* ====================================================
  21. EASY PIE CHART Styles
=======================================================*/
.box .chart {
  position: relative;
  color: #141820;
  width: 180px;
  height: 180px;
  margin: 0 auto 0 auto;
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  line-height: 5.4; }

.box canvas {
  position: absolute;
  top: 0;
  left: 0; }

.box h6 {
  margin-bottom: 20px; }

/*# sourceMappingURL=main.css.map */