<!doctype html>
<html lang="en">

    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="RealEstate Admin Dashboard template, UI kit, Bootstrap 4x">
        <meta name="author" content="Thememakker">

        <title>Realezi : Builder</title>
        <link rel="icon" href="favicon.ico" type="image/x-icon"> <!-- Favicon-->
        <link rel="stylesheet" href="https://thememakker.com/templates/oreo/realestate/html/assets/plugins/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://thememakker.com/templates/oreo/realestate/html/assets/plugins/charts-c3/plugin.css" />
        <link rel="stylesheet" href="https://thememakker.com/templates/oreo/realestate/html/assets/plugins/jvectormap/jquery-jvectormap-2.0.3.min.css"/>
        <!-- Custom Css -->
       
    </head>
    <body class="theme-purple">
       
        {% include 'builder/sidebars.html' %}
        
        <!-- Chat-launcher -->
        <div class="chat-launcher"></div>
       <style>
        input{
          border:1px solid black !important;
        }
       </style>

        <!-- Main Content -->
        <section class="content">
            <div class="block-header">
                
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <h1 style="color:black;font-weight:bold;">
                            Settings
                       
                        </h1>
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-12 text-md-right">
                        <div class="inlineblock text-center m-r-15 m-l-15 hidden-md-down">
                          
                        </div>
                        <!-- <div class="inlineblock text-center m-r-15 m-l-15 hidden-md-down">
                            <div class="sparkline" data-type="bar" data-width="97%" data-height="25px" data-bar-Width="2" data-bar-Spacing="5" data-bar-Color="#fff">1,3,5,7,4,6,3,2,6,5,9,8,7,9,5</div>
                            <small class="col-white">Bounce Rate</small>
                        </div> -->
                        
                        <ul class="breadcrumb float-md-right">
                            <li class="breadcrumb-item"><a href="bdashboard"><i class="zmdi zmdi-home"></i></a></li>
                            <li class="breadcrumb-item active" style="color:white;">Dashboard</li>
                        </ul>
                    </div>
                </div>
                <style>
                    .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
                        background-color: #7e6990;
                    }
                    a{
                      line-height: 20px;
    font-weight: 400;
    font-family: "Mier Book";
    color: rgb(90, 94, 102);
    font-size: 20px;
    text-transform: none;
                    }
                </style>
                <div class="container card">
                    <div class="row">
                      <div class="col-md-4">
                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                          <a class="nav-link active" id="kyc-verification-tab" data-toggle="pill" href="#kyc-bdetail" role="tab" aria-controls="kyc-verification" aria-selected="false"  style="padding:20px;border:1px solid grey">Business Detail</a>
                          <a class="nav-link " id="personaldetails-tab" data-toggle="pill" href="#personaldetails" role="tab" aria-controls="change-password" aria-selected="false" style="border:1px solid grey !important;padding:20px;">Personal Details</a>
                          <a class="nav-link " id="change-password-tab" data-toggle="pill" href="#change-password" role="tab" aria-controls="change-password" aria-selected="false" style="border:1px solid grey;padding:20px;">Change Password</a>
                          <a class="nav-link" id="bank-details-tab" data-toggle="pill" href="#bank-details" role="tab" aria-controls="bank-details" aria-selected="false"  style="border:1px solid grey;padding:20px;">Bank Details</a>
                          <a class="nav-link" id="kyc-verification-tab" data-toggle="pill" href="#kyc-verification" role="tab" aria-controls="kyc-verification" aria-selected="false"  style="border:1px solid grey;padding:20px;">KYC Verification</a>
                          
                          <a class="nav-link" id="kyc-verification-tab" data-toggle="pill" href="#channel_partner" role="tab" aria-controls="kyc-verification" aria-selected="false"  style="border:1px solid grey;padding:20px;">Legal & Policies</a>
                          <a class="nav-link" id="whatsappnotification-tab" data-toggle="pill" href="#whatsappnotification" role="tab" aria-controls="kyc-verification" aria-selected="false"  style="border:1px solid grey;padding:20px;">Whatsapp Notification</a>
                          <a class="nav-link" id="suppliersignature-tab" data-toggle="pill" href="#suppliersignature" role="tab" aria-controls="kyc-verification" aria-selected="false"  style="border:1px solid grey;padding:20px;">Your Signature</a>
                        </div>
                      </div>
                      <style>
                        input {
                          border-radius:10px;
                          height:40px;
                          border:1px solid black;
                        }
                        textarea{
                          border-radius:10px;
                        }
                      </style>
                      <div class="col-md-7">
                        <div class="tab-content" id="v-pills-tabContent">
                          <div class="tab-pane fade" id="change-password" role="tabpanel" aria-labelledby="change-password-tab">
                            <br>
                            <form id="change-password-form">
                              <div class="form-group">
                                <label for="old-password">Old Password</label>
                                <input type="password" class="form-control" id="old-password" name="old-password" >
                              </div>
                              <div class="form-group">
                                <label for="new-password">New Password</label>
                                <input type="password" class="form-control" id="new-password" name="new-password" >
                              </div>
                              <div class="form-group">
                                <label for="confirm-password">Confirm New Password</label>
                                <input type="password" class="form-control" id="confirm-password" name="confirm-password" >
                              </div>
                              <button type="submit" class="btn btn-primary">Change Password</button>
                            </form>
                          </div>
                          <div class="tab-pane fade" id="whatsappnotification" role="tabpanel" aria-labelledby="whatsappnotification-tab">
                            <br>
                            <h2>WhatsApp Notification</h2>
                            <br>
                            <p style="font-size:20px;"><img src="https://upload.wikimedia.org/wikipedia/commons/5/5e/WhatsApp_icon.png" style="height: 45px;width:45px;">You are subscribed to Whatsapp notification on this number : 8780297622</p>
                            <br>
                            Don't need Whatsapp notifications any longer? <button class="btn btn-danger">Unsubscribe</button>
                            
                             
                          </div>
                          <!--Supplier E-signature-->
                          <div class="tab-pane fade" id="suppliersignature" role="tabpanel" aria-labelledby="suppliersignature-tab">
                            <br>
                            <h2>Supplier E-signature</h2>
                            <br>
                            <input type="file" class="form-control" />
                            <button type="button" class="btn btn-primary">Upload</button>
                             
                          </div>
                          <div class="tab-pane" id="bank-details" role="tabpanel" aria-labelledby="bank-details-tab">
                            <form id="bank-details-form">
                              <div class="form-group">
                                <label for="account-number">Account Number</label>
                                <input type="text" class="form-control" id="account-number" name="account-number" >
                              </div>
                              <div class="form-group">
                                <label for="ifsc-code">IFSC Code</label>
                                <input type="text" class="form-control" id="ifsc-code" name="ifsc-code" >
                              </div>
                              <div class="form-group">
                                <label for="bank-name">Bank Name</label>
                                <input type="text" class="form-control" id="bank-name" name="bank-name" >
                              </div>
                              <div class="form-group">
                                <label for="beneficiary-name">Beneficiary Name</label>
                                <input type="text" class="form-control" id="beneficiary-name" name="beneficiary-name" >
                              </div>
                              <button type="submit" class="btn btn-primary">Submit Bank Details</button>
                            </form>
                          </div>
                          
                          <div class="tab-pane fade" id="personaldetails" role="tabpanel" aria-labelledby="bank-details-tab">
                            <form id="bank-details-form" action="saveProfileDetails" method="POST" enctype="multipart/form-data">
                              {% csrf_token %}
                              <div class="form-group">
                                <label for="account-number">Name</label>
                                <input style="border:1px solid black" type="text" class="form-control" id="account-number" name="personal_name" value="{{ userdetails.personal_name }}">
                              </div>
                              <div class="form-group">
                                <label for="ifsc-code">Contact No</label>
                                <input  style="border:1px solid black" type="text" class="form-control" id="ifsc-code" name="personal_phoneno" value="{{ userdetails.personal_phoneno }}"><button class="btn btn-primary btn-sm" style="background:green;border-radius:10px;margin-top:-30px;display: inline-table;">Verify</button>
                              </div>
                              <div class="form-group">
                                <label for="bank-name">Email Id</label>
                                <input  style="border:1px solid black" type="text" class="form-control" id="bank-name" name="personal_email" value="{{ userdetails.personal_email }}">
                                <button class="btn btn-primary btn-sm" style="background:green;border-radius:10px;margin-top:-30px;display: inline-table;">Verify</button>
                              </div>
                              
                              <button type="submit" class="btn btn-primary" name="personaldetailsubmit">Submit</button>
                            </form>
                          </div>
                          <div class="tab-pane fade" id="kyc-verification" role="tabpanel" aria-labelledby="kyc-verification-tab">
                            <form id="kyc-verification-form">
                              {% csrf_token %}
                              <div class="form-group">
                                <label for="aadhar-card">Aadhar Card</label>
                                <input type="file" class="form-control-file" id="aadhar-card" name="aadhar-card" accept="image/*" >
                              </div>
                              <div class="form-group">
                                <label for="pan-card">PAN Card</label>
                                <input type="file" class="form-control-file" id="pan-card" name="pan-card" accept="image/*" >
                              </div>
                              <button type="submit" class="btn btn-primary">Upload KYC Documents</button>
                            </form>
                          </div>
                          <div class="tab-pane fade show active" id="kyc-bdetail" role="tabpanel" aria-labelledby="kyc-verification-tab"  show active>
                            <br/>
                            <form id="kyc-bdetails" action="saveProfileDetails" method="POST" enctype="multipart/form-data">
                              {% csrf_token %}
                                <div class="row">
                                  <div class="col-sm-6">
                                    <div class="form-group">
                                      <label for="aadhar-card">Business Name</label>
                                      <input type="text" class="form-control-file" id="aadhar-card" name="business_name" accept="image/*" value="{{ userdetails.business_name }}">
                                    </div>
                                  </div>
                                  <div class="col-sm-6">
                                    <div class="form-group">
                                      <label for="aadhar-card">Incorporated Since</label>
                                      <input type="text" class="form-control-file" id="aadhar-card" name="incorporated_since" accept="image/*"  value="{{ userdetails.incorporated_since }}">
                                    </div>
                                  </div>
                                  <div class="col-sm-4"></div>
                                </div>
                                  <div class="row">
                                    <div class="col-sm-6">
                                      <div class="form-group">
                                        <label for="aadhar-card">Ongoing Residential Projects</label>
                                        <input type="text" class="form-control-file" id="aadhar-card" name="ongoing_projects_residential" accept="image/*"  value="{{ userdetails.ongoing_residential_projects }}">
                                      </div>
                                    </div>
                                    <div class="col-sm-6">
                                      <div class="form-group">
                                        <label for="aadhar-card">Ongoing Commercial Projects</label>
                                        <input type="text" class="form-control-file" id="aadhar-card" name="ongoing_projects_commercial" accept="image/*"  value="{{ userdetails.ongoing_commercial_projects }}">
                                      </div>
                                    </div>
                                  </div>
                                  <!-- <button type="button" class="btn btn-primary">Completed Projects</button> -->
                                  
                                  <div class="row">
                                    <div class="col-sm-6">
                                      <div class="form-group">
                                        <label for="aadhar-card">Completed Residential Projects</label>
                                        <input type="number" class="form-control-file" id="aadhar-card" name="completed_projects_residential" accept="image/*"  value="{{ userdetails.completed_residential_projects }}">
                                      </div>
                                    </div>
                                    <div class="col-sm-6">
                                      <div class="form-group">
                                        <label for="aadhar-card">Completed Commercial Projects</label>
                                        <input type="number" class="form-control-file" id="aadhar-card" name="completed_projects_commercial" accept="image/*"  value="{{ userdetails.completed_commercial_projects }}">
                                      </div>
                                    </div>
                                  </div>
                                  
                              <div class="form-group">
                                    <label for="pan-card">Company HQ Address</label><br>
                                    <textarea rows="5" name="company_hq_address" style="width:100%">{{ userdetails.company_hq_address}}</textarea>
                              </div>
                              <div class="form-group">
                                <label for="pan-card">Short Description About company</label><br>
                                <textarea rows="5" name="short_description" style="width:100%">{{ userdetails.short_description}}</textarea>
                              </div>
                              
                              <div class="row">
                                <div class="col-sm-6">
                                  <div class="form-group">
                                    <label for="aadhar-card">Name</label>
                                    <input type="text" class="form-control-file" id="aadhar-card" name="name" accept="image/*" value="{{ userdetails.personal_name }}">
                                  </div>
                                </div>
                                <div class="col-sm-6">
                                  <div class="form-group">
                                    <label for="aadhar-card">Designation</label>
                                    <input type="text" class="form-control-file" id="aadhar-card" name="designation" accept="image/*"  value="{{ userdetails.designation }}">
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-sm-6">
                                  <div class="form-group">
                                    <label for="aadhar-card">Phone No.</label>
                                    <input type="number" class="form-control-file" id="aadhar-card" name="phone_no" accept="image/*"  value="{{ userdetails.personal_phoneno }}">
                                  </div>
                                </div>
                                <div class="col-sm-6">
                                  <div class="form-group">
                                    <label for="aadhar-card">Company Email ID</label>
                                    <input type="email" class="form-control-file" id="aadhar-card" name="email_id" accept="image/*"  value="{{ userdetails.personal_email }}">
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-sm-6">
                                  <div class="form-group">
                                    <label for="aadhar-card">Company PAN No.</label>
                                    <input type="text" class="form-control-file" id="aadhar-card" name="pan_no" accept="image/*"  value="{{ userdetails.company_pan_no }}">
                                  </div>
                                </div>
                                <div class="col-sm-6">
                                  <div class="form-group">
                                    <label for="aadhar-card">Company PAN Card</label>
                                    <input type="file" class="form-control-file" id="aadhar-card" name="pan_card" accept="image/*"  style="border:none">
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-sm-12">
                                  <div class="form-group">
                                    <label for="aadhar-card">Rera ID.</label>
                                    <input type="text" class="form-control-file" id="aadhar-card" name="rera_id" accept="image/*"  value="{{ userdetails.rera_id }}">
                                    <button class="btn btn-sm btn-primary pull-right">Verify</button>
                                  </div>
                                </div>
                                
                              </div>
                              <button type="submit" class="btn btn-primary" name="businessdetailsubmit">Submit</button>
                            </form>
                          </div>
                          <div class="tab-pane fade" id="channel_partner" role="tabpanel" aria-labelledby="kyc-verification-tab">
                            <div class="form-group">
                              <label for="old-password" style="width:350px;"><a href="#"> > Channel Partner Agreement</a></label>
                              <button class="btn btn-primary">Download</button>
                            </div>
                            <div class="form-group">
                              <label for="old-password" style="width:350px;"><a href="#"> > Privacy Policy</a></label>
                              <button class="btn btn-primary">Download</button>
                            </div>
                            <div class="form-group">
                              <label for="old-password" style="width:350px;"><a href="#"> > Terms and Conditions</a></label>
                              <button class="btn btn-primary">Download</button>
                            </div>
                            <div class="form-group">
                              <label for="old-password" style="width:350px;"><a href="#"> > Refund Policy</a></label>
                              <button class="btn btn-primary">Download</button>
                            </div>
                            
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
                  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
                  
            </div>
            
        </section>

        <!-- Jquery Core Js -->
        <script src="{% static 'admin/assets/bundles/libscripts.bundle.js' %}"></script>
        <script src="{% static 'admin/assets/bundles/vendorscripts.bundle.js' %}"></script>

        <script src="{% static 'admin/assets/bundles/c3.bundle.js' %}"></script>
        <script src="{% static 'admin/assets/bundles/jvectormap.bundle.js' %}"></script>
        <script src="{% static 'admin/assets/bundles/knob.bundle.js' %}"></script>

        <script src="{% static 'admin/assets/bundles/mainscripts.bundle.js' %}"></script>
        <script src="{% static 'admin/assets/js/pages/index.js' %}"></script>
        <script src="{% static 'admin/assets/js/pages/charts/c3.js' %}"></script>
    </body>

  
</html>