<!doctype html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="RealEstate Admin Dashboard template, UI kit, Bootstrap 4x">
        <meta name="author" content="Thememakker">

        <title>Realezi : Builder</title>
        <link rel="icon" href="favicon.ico" type="image/x-icon"> <!-- Favicon-->
        <link rel="stylesheet" href="https://thememakker.com/templates/oreo/realestate/html/assets/plugins/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://thememakker.com/templates/oreo/realestate/html/assets/plugins/charts-c3/plugin.css" />
        <link rel="stylesheet" href="https://thememakker.com/templates/oreo/realestate/html/assets/plugins/jvectormap/jquery-jvectormap-2.0.3.min.css"/>
        <link rel="stylesheet" href="https://thememakker.com/templates/oreo/realestate/html/assets/plugins/morrisjs/morris.css" />
        <!-- Custom Css -->
        <link rel="stylesheet" href="{% static 'admin/assets/css/main.css' %}">
        <link rel="stylesheet" href="{% static 'admin/assets/css/color_skins.css' %}">
    </head>
    <body class="theme-purple">
        {% include 'builder/sidebars.html' %}
        <!-- Chat-launcher -->
        <div class="chat-launcher"></div>
        <div class="chat-wrapper">
            <div class="card">
                <div class="header">
                    <ul class="list-unstyled team-info margin-0">
                        <li class="m-r-15"><h2>Agent Team</h2></li>
                        <li><img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar2.jpg" alt="Avatar"></li>
                        <li><img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar3.jpg" alt="Avatar"></li>
                        <li><img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar4.jpg" alt="Avatar"></li>
                        <li><img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar6.jpg" alt="Avatar"></li>
                        <li><a href="javascript:void(0);" title="Add Member"><i class="zmdi zmdi-plus-circle"></i></a></li>
                    </ul>
                </div>
                <div class="body">
                    <div class="chat-widget">
                    <ul class="chat-scroll-list clearfix">
                        <li class="left float-left">
                            <img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar3.jpg" class="rounded-circle" alt="">
                            <div class="chat-info">
                                <a class="name" href="javascript:void(0);">Alexander</a>
                                <span class="datetime">6:12</span>
                                <span class="message">Hello, John </span>
                            </div>
                        </li>
                        <li class="right">
                            <div class="chat-info"><span class="datetime">6:15</span> <span class="message">Hi, Alexander<br> How are you!</span> </div>
                        </li>
                        <li class="right">
                            <div class="chat-info"><span class="datetime">6:16</span> <span class="message">There are many variations of passages of Lorem Ipsum available</span> </div>
                        </li>
                        <li class="left float-left"> <img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar2.jpg" class="rounded-circle" alt="">
                            <div class="chat-info"> <a class="name" href="javascript:void(0);">Elizabeth</a> <span class="datetime">6:25</span> <span class="message">Hi, Alexander,<br> John <br> What are you doing?</span> </div>
                        </li>
                        <li class="left float-left"> <img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar1.jpg" class="rounded-circle" alt="">
                            <div class="chat-info"> <a class="name" href="javascript:void(0);">Michael</a> <span class="datetime">6:28</span> <span class="message">I would love to join the team.</span> </div>
                        </li>
                            <li class="right">
                            <div class="chat-info"><span class="datetime">7:02</span> <span class="message">Hello, <br>Michael</span> </div>
                        </li>
                    </ul>
                    </div>
                    <div class="input-group p-t-15">
                        <input type="text" class="form-control" placeholder="Enter text here...">
                        <span class="input-group-addon">
                            <i class="zmdi zmdi-mail-send"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Main Content -->
        <section class="content">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <h2 style="font-weight: 900;">My Property
                        </h2>
                    </div>    
                    <br>
                    <div class="container-fluid" style="margin-top:30px;">
                        <div class="row clearfix">            
                            <div class="col-lg-12">
                                <div class="card">                   
                                    <div class="body">
                                        <div id="m_line_chart"></div>
                                        <div class="table-responsive">
                                            <form>
                                                <div class="row clearfix">
                                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                                        <div class="form-group">
                                                            <label>From Date</label>
                                                            <input type="date" class="form-control" placeholder="Email Address">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                                        <div class="form-group">
                                                            <label style="color:black;">To Date</label>
                                                            <input type="date" class="form-control" placeholder="Password">
                                                        </div>
                                                    </div>
                                                
                                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                                        <div class="form-group">
                                                            <label style="color:black;">Property ID</label>
                                                            <input type="text" class="form-control" placeholder="Enter Property ID">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-6 col-sm-6">
                                                        
                                                        <button type="button" style="margin-top:35px;" class="btn btn-raised btn-primary btn-round waves-effect m-l-20">Filter</button>          
                                                    </div>
                                                </div>
                                            </form>
                                            <table class="table td_2 table-striped table-hover js-basic-example dataTable vcenter">
                                                <thead>

                                                    <tr style="border:1px solid black">
                                                        <th style="font-weight:bold;border:1px solid black;color:black;">Property ID</th>
                                                        <th style="font-weight:bold;border:1px solid black;color:black;">Property Name</th>
                                                        <th style="font-weight:bold;border:1px solid black;color:black;">Price</th>
                                                        <th style="font-weight:bold;border:1px solid black;color:black;">Date of Posting</th>                                        
                                                        <th style="font-weight:bold;border:1px solid black;color:black;">Sales Head</th>
                                                        <th style="font-weight:bold;border:1px solid black;color:black;">Sales Head Contact</th>
                                                        <th style="font-weight:bold;border:1px solid black;color:black;">Todays Visit</th>
                                                        <th style="font-weight:bold;border:1px solid black;color:black;">Total Visit</th>
                                                        <th style="font-weight:bold;border:1px solid black;color:black;">Status</th>
                                                        <th style="font-weight:bold;border:1px solid black;color:black;">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for property in properties %}
                                                    <tr>
                                                        
                                                        <td style="border:1px solid black;">PT12322</td>
                                                        <td style="border:1px solid black;">{{ property.name }}</td>
                                                        <td style="border:1px solid black;">Rs. {{ property.price }}</td>
                                                        <td style="border:1px solid black;">22-01-2024</td>
                                                        <td style="border:1px solid black;">
                                                            <span>Sameer Gupta</span>
                                                        </td>
                                                        <td style="border:1px solid black;">9033975413</td>
                                                        <td style="border:1px solid black;">11</td>
                                                        <td style="border:1px solid black;">103</td>
                                                        <td style="border:1px solid black;"><button class="btn btn-primary">Active</button></td>
                                                        <td style="border:1px solid black;"><button class="btn btn-primary btn-simple btn-sm"><i class="fa fa-eye"></i>&nbsp;&nbsp;<i class="fa fa-edit"></i>&nbsp;&nbsp;<i class="fa fa-trash"></i></button></td>
                                                    </tr>
                                                    {% endfor %}
                                                   
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        </div>
                    </div>        
                    
                </div>
            </div>
            <div class="container-fluid">
               
                <style>
                    .bootstrap-select .btn.btn-round.btn-simple {
                        display: none !important;
                        border:none !important;
                    }
                    .bootstrap-select {
                        border:none !important;
                    }
                </style>
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <!-- <div class="row clearfix">
                    {% for property in properties %}
                    <div class="col-lg-12 col-md-12">
                        
                        <div class="card">
                            <div class="body">
                                <div class="row" style="border:2px solid black;border-radius:20px;padding:15px;">
                                    <div class="col-sm-4">
                                        <img class="img-thumbnail img-fluid" src="https://thememakker.com/templates/oreo/realestate/html/assets/images/image-gallery/1.jpg" alt="img">
                                    </div>
                                    <div class="col-sm-8">
                                        <h4 class="mt-0"><a href="propertydetail/{{ property.property_id}}" class="col-blue-grey"  style="color:black !important;">{{ property.name }}</a>
                                            {% if property.price != 0 %}
                                            <b class="pull-right" style="color:red;font-size: 14px;">&nbsp;&nbsp;&nbsp;&nbsp;Under Review</b>
                                        {% endif %}
                                        </h4>
                                        
                                        
                                        
                                        <small class="text-muted" style="color:black !important;font-size: 16px;;"><i class="zmdi zmdi-pin mr-2"></i>{{ property.address }}</small>
                                        <h4 class="text-success mt-3" style="color:#7e6990 !important">₹ {{ property.price }} {{ property.is_active }}</h4>
                                        
                                        <p class="text-muted" id="aboutParagraph" style="color:black !important;">{{ property.about}}</p>
                                        
                                        <div class="d-flex justify-content-between mt-3 p-3 bg-light">
                                            <a href="#" title="Square Feet"><i class="zmdi zmdi-view-dashboard mr-2"></i>
                                                <span>{{ property.area }} </span></a>
                                            <a href="#" title="Bedroom" style="color:black;"><i class="zmdi zmdi-hotel mr-2"></i><span>{{ property.bedroom }} </span></a>
                                            <a href="#" title="Parking space" style="color:black;"><i class="zmdi zmdi-car-taxi mr-2"></i><span>{{ property.area }} </span></a>
                                            <a href="#" title="Garages" style="color:black;"><i class="zmdi zmdi-home mr-2"></i><span>Yes</span></a>
                                        </div>
                                        <div class="d-flex justify-content-between mt-3 p-3 bg-light">
                                            <a href="#" title="Square Feet"><i class="zmdi zmdi-view-dashboard mr-2"></i>
                                                <span>Published Date: 10 Oct 2023</span></a>
                                            <a href="#" title="Bedroom" style="color:black;"><i class="zmdi zmdi-hotel mr-2"></i><span>Posted On: 10 Oct 2023</span></a>
                                        </div>
                                        {% if property.is_active == 1 %}
                                        <div class="d-flex justify-content-between mt-3 p-3 bg-light">
                                            <a href="/checkinquiry/{{ property.property_id}}" title="Square Feet">
                                                <button class="btn btn-primary">Check Enquiries</button>
                                            </a>
                                            <a href="#" title="Square Feet">
                                                <button class="btn btn-primary">Check Views</button>
                                            </a>
                                            <a href="/deletetempproperty/{{ property.property_id }}" title="Square Feet">
                                                <button class="btn btn-primary"><i class="fa fa-trash" style="font-size:16px;"></i></button>
                                            </a>
                                            <a href="#" title="Square Feet">
                                                <button class="btn btn-primary"><i class="fa fa-facebook" style="font-size:16px;"></i></button>
                                                <button class="btn btn-primary"><i class="fa fa-linkedin" style="font-size:16px;"></i></button>
                                                <button class="btn btn-primary"><i class="fa fa-twitter" style="font-size:16px;"></i></button>
                                                <button class="btn btn-primary"><i class="fa fa-whatsapp" style="font-size:16px;"></i></button>
                                                
                                            </a>
                                            
                                        </div>
                                        {% else %}
                                       
                                        {% endif %}
                                    </div>
                                </div>
                                
                                <br>
                                
                            </div>
                        </div>
                    </div>
                    
                    {% endfor %}
                    
                    
                </div> -->
            </div>
        </section>
        <script>
            // Get the paragraph element by its ID
            var paragraph = document.getElementById('aboutParagraph');
        
            // Split the text into an array of words
            var words = paragraph.textContent.split(' ');
        
            // Check if there are more than 10 words
            if (words.length > 10) {
                // Create a new array containing the first 10 words
                var first10Words = words.slice(0, 10);
        
                // Join the first 10 words back into a string
                var shortenedText = first10Words.join(' ');
        
                // Display the shortened text
                paragraph.textContent = shortenedText + '...';
            }
        </script>
        <!-- Jquery Core Js -->
        <script src="{% static 'admin/assets/bundles/libscripts.bundle.js' %}"></script>
        <script src="{% static 'admin/assets/bundles/vendorscripts.bundle.js' %}"></script>

        <script src="{% static 'admin/assets/bundles/c3.bundle.js' %}"></script>
        <script src="{% static 'admin/assets/bundles/jvectormap.bundle.js' %}"></script>
        <script src="{% static 'admin/assets/bundles/knob.bundle.js' %}"></script>

        <script src="{% static 'admin/assets/bundles/mainscripts.bundle.js' %}"></script>
        <script src="{% static 'admin/assets/js/pages/index.js' %}"></script>
        <script src="{% static 'admin/assets/js/pages/charts/morris.js' %}"></script>
        <script src="{% static 'admin/assets/bundles/morrisscripts.bundle.js' %}"></script> <!-- Morris Plugin Js --> 
    </body>

   
</html>