<!doctype html>
<html lang="en">

    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="RealEstate Admin Dashboard template, UI kit, Bootstrap 4x">
        <meta name="author" content="Thememakker">

        <title>Realezi : Builder</title>
        <link rel="icon" href="favicon.ico" type="image/x-icon"> <!-- Favicon-->
        <link rel="stylesheet" href="https://thememakker.com/templates/oreo/realestate/html/assets/plugins/bootstrap/css/bootstrap.min.css">
       
        <!-- Custom Css -->
       
    </head>
    <body class="theme-purple" style="z-index: 0;">
       
        {% include 'builder/sidebars.html' %}
        
        <!-- Chat-launcher -->
        <div class="chat-launcher"></div>
        <div class="chat-wrapper">
            <div class="card">
                <div class="header">
                    <ul class="list-unstyled team-info margin-0">
                        <li class="m-r-15"><h2>Agent Team</h2></li>
                        <li><img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar2.jpg" alt="Avatar"></li>
                        <li><img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar3.jpg" alt="Avatar"></li>
                        <li><img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar4.jpg" alt="Avatar"></li>
                        <li><img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar6.jpg" alt="Avatar"></li>
                        <li><a href="javascript:void(0);" title="Add Member"><i class="zmdi zmdi-plus-circle"></i></a></li>
                    </ul>
                </div>
                <div class="body">
                    <div class="chat-widget">
                    <ul class="chat-scroll-list clearfix">
                        <li class="left float-left">
                            <img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar3.jpg" class="rounded-circle" alt="">
                            <div class="chat-info">
                                <a class="name" href="javascript:void(0);">Alexander</a>
                                <span class="datetime">6:12</span>
                                <span class="message">Hello, John </span>
                            </div>
                        </li>
                        <li class="right">
                            <div class="chat-info"><span class="datetime">6:15</span> <span class="message">Hi, Alexander<br> How are you!</span> </div>
                        </li>
                        <li class="right">
                            <div class="chat-info"><span class="datetime">6:16</span> <span class="message">There are many variations of passages of Lorem Ipsum available</span> </div>
                        </li>
                        <li class="left float-left"> <img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar2.jpg" class="rounded-circle" alt="">
                            <div class="chat-info"> <a class="name" href="javascript:void(0);">Elizabeth</a> <span class="datetime">6:25</span> <span class="message">Hi, Alexander,<br> John <br> What are you doing?</span> </div>
                        </li>
                        <li class="left float-left"> <img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar1.jpg" class="rounded-circle" alt="">
                            <div class="chat-info"> <a class="name" href="javascript:void(0);">Michael</a> <span class="datetime">6:28</span> <span class="message">I would love to join the team.</span> </div>
                        </li>
                            <li class="right">
                            <div class="chat-info"><span class="datetime">7:02</span> <span class="message">Hello, <br>Michael</span> </div>
                        </li>
                    </ul>
                    </div>
                    <div class="input-group p-t-15">
                        <input type="text" class="form-control" placeholder="Enter text here...">
                        <span class="input-group-addon">
                            <i class="zmdi zmdi-mail-send"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main Content -->
        <section class="content">
            <div class="block-header">
                
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="card">
                            
                            <div class="body"> 
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="nav-item" style="border:1px solid black;"><a class="nav-link active" data-toggle="tab" href="#home_with_icon_title" style="border:none"> <i class="zmdi zmdi-home"></i> YESTERDAY </a></li>
                                    <li class="nav-item" style="border:1px solid black;"><a class="nav-link" data-toggle="tab" href="#profile_with_icon_title" style="border:none"><i class="zmdi zmdi-account"></i> LAST 7 DAYS </a></li>
                                    <li class="nav-item" style="border:1px solid black;"><a class="nav-link" data-toggle="tab" href="#messages_with_icon_title" style="border:none"><i class="zmdi zmdi-email"></i> LAST 30 DAYS </a></li>
                                    <li class="nav-item" style="border:1px solid black;"><a class="nav-link" data-toggle="tab" href="#messages_with_icon_title" style="border:none"><i class="zmdi zmdi-email"></i> Custom Date </a></li>
                                </ul>
                                
                                <!-- Tab panes -->
                                <div class="tab-content" style="height:200px;">
                                    <div role="tabpanel" class="tab-pane in active" id="home_with_icon_title"> 
                                        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

    <div class="row">
        <div class="col-md-12">
            <div class="card ">
                <div class="card-header">
                    <h3>Business Overview</h3>
                </div>
                <div class="card-block">
                    <div id="chart1" style="width:100%"></div>
                </div>
                <table class="table">
                    <tr>
                        <td rowspan="" style="border:1px solid black;height:80px;padding:20px;font-size: 22px;">Total Property Views<br>
                        -<span style="color:green;font-weight:bold">45 </span> </td>
                        <td rowspan="" style="border:1px solid black;height:80px;padding:20px;font-size: 22px;">Total Property Clicks<br>
                            -<span style="color:red;font-weight:bold">2 </span> </td>
                        <td rowspan="" style="border:1px solid black;height:80px;padding:20px;font-size: 22px;">Total Visit Booked<br>
                        -<span style="color:orange;font-weight:bold">12 </span> </td>
                        <td rowspan="" style="border:1px solid black;height:80px;padding:20px;font-size: 22px;">Conversion Rate<br>
                            -<span style="color:green;font-weight:bold">41 </span> </td>
                        <td rowspan="" style="border:1px solid black;height:80px;padding:20px;font-size: 22px;">Total Sales<br>
                        -<span style="color:green;font-weight:bold">25 </span> </td>
                        <td rowspan="" style="border:1px solid black;height:80px;padding:20px;font-size: 22px;">Cancel Percentage<br>
                            -<span style="color:green;font-weight:bold">19 </span> </td>

                    </tr>
                </table>
            </div>
       
         
    </div>
    

<!-- you need to include the shieldui css and js assets in order for the charts to work -->
<link rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/light-bootstrap/all.min.css" />
<script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>
<script>

jQuery(function ($) {
        var data1 = [12, 3, 4, 2, 12, 3, 4, 17, 22, 34, 54, 67];
        var data2 = [3, 9, 12, 14, 22, 32, 45, 12, 67, 45, 55, 7];
        var data3 = [23, 19, 11, 134, 242, 352, 435, 22, 637, 445, 555, 57];
        var data4 = [13, 19, 112, 114, 212, 332, 435, 132, 67, 45, 55, 7];
            
        $("#chart1").shieldChart({
            exportOptions: {
                image: false,
                print: false
            },
            axisY: {
                title: {
                    text: "Break-Down for selected quarter"
                }
            },
            dataSeries: [{
                seriesType: "line",
                data: data1
            }]
        });

        $("#chart2").shieldChart({
            exportOptions: {
                image: false,
                print: false
            },
            axisY: {
                title: {
                    text: "Break-Down for selected quarter"
                }
            },
            dataSeries: [{
                seriesType: "polarbar",
                data: data2
            }]
        });

        $("#chart3").shieldChart({
            exportOptions: {
                image: false,
                print: false
            },
            axisY: {
                title: {
                    text: "Break-Down for selected quarter"
                }
            },
            dataSeries: [{
                seriesType: "area",
                data: data3
            }]
        });

        $("#chart4").shieldChart({
            exportOptions: {
                image: false,
                print: false
            },
            axisY: {
                title: {
                    text: "Break-Down for selected quarter"
                }
            },
            dataSeries: [{
                seriesType: "stepline",
                data: data4
            }]
        });
    });
 
</script>
                                    </div>
                                    
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- <button type="button" class="btn btn-default waves-effect m-r-20" data-toggle="modal" data-target="#defaultModal">MODAL - DEFAULT SIZE</button> -->
            <div class="modal fade" id="defaultModal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="title" id="defaultModalLabel">Modal title</h4>
                        </div>
                        <div class="modal-body"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales orci ante, sed ornare eros vestibulum ut. Ut accumsan
                            vitae eros sit amet tristique. Nullam scelerisque nunc enim, non dignissim nibh faucibus ullamcorper.
                            Fusce pulvinar libero vel ligula iaculis ullamcorper. Integer dapibus, mi ac tempor varius, purus
                            nibh mattis erat, vitae porta nunc nisi non tellus. Vivamus mollis ante non massa egestas fringilla.
                            Vestibulum egestas consectetur nunc at ultricies. Morbi quis consectetur nunc. </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default btn-round waves-effect">SAVE CHANGES</button>
                            <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">CLOSE</button>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="modal fade" id="largeModal" tabindex="-1" role="dialog" style="display:block;margin-top:190px;z-index: 1050 !important;">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="title" id="defaultModalLabel">Modal title</h4>
                            {{ show_modal }}
                        </div>
                        <div class="modal-body"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales orci ante, sed ornare eros vestibulum ut. Ut accumsan
                            vitae eros sit amet tristique. Nullam scelerisque nunc enim, non dignissim nibh faucibus ullamcorper.
                            Fusce pulvinar libero vel ligula iaculis ullamcorper. Integer dapibus, mi ac tempor varius, purus
                            nibh mattis erat, vitae porta nunc nisi non tellus. Vivamus mollis ante non massa egestas fringilla.
                            Vestibulum egestas consectetur nunc at ultricies. Morbi quis consectetur nunc. </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default btn-round waves-effect">SAVE CHANGES</button>
                            <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">CLOSE</button>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" id="showModalValue" value="{{ show_modal }}">
            <textarea class="form-control" id="showPopup" style="display: none;">
                Kindly Fill Your Profile in Order to Post Property
            </textarea>
            <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
            <script>
                //$('#largeModal').modal();
                // Get the modal
                var modal = document.getElementById("largeModal");

                var showModalValue = document.getElementById("showPopup").value;
                //alert(showModalValue);
                if (showModalValue === '1') {
                    $('#largeModal').modal();
                    // When the page is fully loaded, show the modal
                    window.onload = function() {
                        modal.style.display = "block";
                    }
                }

            </script>
            
        </section>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <!-- Jquery Core Js -->
       <!-- <script src="{% static 'admin/assets/bundles/vendorscripts.bundle.js' %}"></script>

        <script src="{% static 'admin/assets/bundles/c3.bundle.js' %}"></script> -->
       
       <!--<script src="{% static 'admin/assets/js/pages/index.js' %}"></script>
        //<script src="{% static 'admin/assets/js/pages/charts/c3.js' %}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>-->
            
    </body>

  
</html>