{% load static %}
<script>
    
    function disableenablebuiltinarea_com(val){
        $('#pg_security_deposit_div').hide();
        
        $('.show_for_pg').hide();
        $('.hide_for_pg').show();
        if(val == 'land' || val == 'industrialplot' || val == 'plot' || val == 'office'  || val == 'land' 
        || val == 'warehouse' || val == 'industrialplot' || val == 'shop' || val == 'showroom'){
            
            $('.terracearea').hide();
            if(val == 'office' || val == 'shop' || val == 'showroom'){
                $('.officespace').show();
                $('.coworking').hide();
                $('#furnished_status').hide();
                $('.hideforland').hide();
                $('.showforland').hide();
                $('.residential_noofrooms').hide();
            }
            else if(val == 'plot' || val == 'industrialplot') {
                $('.officespace').hide();
                $('#possession_type').hide();
                $('#furnished_status').hide();
                $('.hideforland').hide();
                $('.showforland').show();
                $('.residential_noofrooms').hide();
                $('.coworking').hide();
            } else if(val == 'coworkingspace'){
                $('.officespace').hide();
                $('.coworking').show();
                $('#possession_type').hide();
                $('#furnished_status').hide();
                $('.hideforland').hide();
                $('.showforland').hide();
                $('.residential_noofrooms').hide();
            } else {
                $('.officespace').hide();
                $('#possession_type').show();
                $('#furnished_status').show();
                $('.hideforland').show();
                $('.showforland').show();
                $('.residential_noofrooms').hide();
                $('.coworking').hide();
            }
            
        } else {
           
            if(val == 'penthouse'){
                $('.terracearea').show();
                $('.coworking').hide();
                $('.showforland').hide();
                $('.hideforland').show();
            }
            else if(val == 'coworkingspace'){
                $('.officespace').hide();
                $('#residential_hide').hide();
                $('.coworking').show();
                $('#possession_type').hide();
                $('#furnished_status').hide();
                $('.hideforland').hide();
                $('.showforland').hide();
                $('.residential_noofrooms').hide();
            }
            else {
                $('.officespace').hide();
                $('.coworking').hide();
                $('.terracearea').hide();
                $('.hideforland').show();
                $('.showforland').hide();
                $('.residential_noofrooms').show();
                $('#furnished_status').show();
                $('#possession_type').show();
            }
            
            // $('#possession_type').show();
            // $('#furnished_status').show();
            // $('.hideforland').show();
            // $('.showforland').hide();
            // $('.residential_noofrooms').show();
        }
        
    }
</script>
<div class="row" style="padding-left:20px;">
    <label>Property Type:</label>
</div>
<div class="row" style="padding-left: 20px;"  id="commercial_propertytype">
    <div class="radio-container">
        <div class="radio-box" style="width: 200px !important;">
            <input type="radio" name="property_sub_type" id="officespace" value="office" onclick="disableenablebuiltinarea_com(this.value)" >
            <label for="officespace" style="width: 200px !important;">
                
                Office Space
            </label>
        </div>
        <div class="radio-box">
            <input type="radio" name="property_sub_type" id="shop" value="shop" onclick="disableenablebuiltinarea_com(this.value)">
            <label for="shop" style="width: 200px !important;">
                
                Shop
            </label>
        </div>
        
        <div class="radio-box">
            <input type="radio" name="property_sub_type" id="Showroom" value="showroom" onclick="disableenablebuiltinarea_com(this.value)">
            <label for="Showroom" style="width: 200px !important;">
                
                Showroom
            </label>
        </div>
        
        <div class="radio-box">
            <input type="radio" name="property_sub_type" id="coworkingspace" value="coworkingspace" onclick="disableenablebuiltinarea_com(this.value)">
            <label for="coworkingspace" style="width: 200px !important;">
                
                Co-Working Space
            </label>
        </div>
    </div>
</div>
<div class="row clearfix" style="margin-top: 30px;">
    
    <div class="col-sm-12 hide_for_rent">
        <div class="row">
            <div class = "col-sm-4">
                <div class="form-group">
                    <label for="priceInput">Enter Price:</label>
                    <input type="number" name="price" id="priceInput" class="form-control">
                </div>
            </div>
            <div class = "col-sm-4">
                <label>In Words</label>
                <input type="text" id="wordsOutput" readonly class="form-control">
            </div>
            <div class = "col-sm-4">
                <label>Realezi Commission</label>
                <input type="text" name="commission" id="commission" class="form-control">
            </div>
        </div>
    </div>
    <div class="col-sm-12 show_for_rent" style="display:none;">
        <div class="row">
            <div class = "col-sm-6">
                <div class="form-group">
                    <label for="priceInput">Rent Amount:</label>
                    <input type="number" name="rent_amount" id="priceInput" class="form-control">
                </div>
            </div>
            <div class = "col-sm-6">
                <div class="form-group">
                    <label for="priceInput">Type:</label>
                    <select class="form-control" name="rent_type">
                        <option value="Monthly">Monthly</option>
                        
                        <option value="Yearly">Yearly</option>
                    </select>
                </div>
            </div>
        </div>
        
    </div>
    <div class="col-sm-12 show_for_rent" style="display:none;">
        <div class="row">
            <div class = "col-sm-6 ">
                <div class="form-group">
                    <label for="priceInput">Maintenance Amount:</label>
                    <input type="number" name="maintanence_amount" id="priceInput" class="form-control">
                </div>
            </div>
            <div class = "col-sm-6">
                <div class="form-group">
                    <label for="priceInput">Type:</label>
                    <select class="form-control" name="maintainence_type">
                        <option value="Monthly">Monthly</option>
                        <option value="Quaterly">Quaterly</option>
                        <option value="Yearly">Yearly</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
<h3 class="mt-4">Property Information</h3>

<div class="col-lg-12 col-md-12 col-sm-12  officespace" style="width:100%;">
    <div class="form-group">
        <label>Age of Property (Years)</label>
        <div class="radio-container">
            <div class="radio-box" style="width: 90px !important;">
                <input type="radio" name="ageofproperty_office" id="0-1" value="0-1">
                <label for="0-1" style="width: 90px !important;">
                    0-1
                </label>
            </div>
            <div class="radio-box" style="width: 60px !important;">
                <input type="radio" name="ageofproperty_office" id="2-4" value="2-4">
                <label for="2-4" style="width: 50px !important;">
                    2-4
                </label>
            </div>
            <div class="radio-box" style="width: 60px !important;">
                <input type="radio" name="ageofproperty_office" id="5-7" value="5-7">
                <label for="5-7" style="width: 50px !important;">
                    5-7
                </label>
            </div>
            
            <div class="radio-box" style="width: 60px !important;">
                <input type="radio" name="ageofproperty_office" id="8-10" value="8-10">
                <label for="2" style="width: 50px !important;">
                    8-10
                </label>
            </div>
            
            <div class="radio-box" style="width: 60px !important;">
                <input type="radio" name="ageofproperty_office" id="10+" value="10+">
                <label for="10+" style="width: 50px !important;">
                    10+
                </label>
            </div>
           
           
            
        </div>
    </div>
</div>

<div class="col-lg-12 col-md-12 col-sm-12    officespace" style="width:100%;">
    <div class="form-group">
        <label>Pantry</label>
        <div class="radio-container">
            <div class="radio-box" style="width: 90px !important;">
                <input type="radio" name="pantry" id="wet" value="wet">
                <label for="wet" style="width: 90px !important;">
                    Wet
                </label>
            </div>
            <div class="radio-box" style="width: 60px !important;">
                <input type="radio" name="pantry" id="dry" value="dry">
                <label for="dry" style="width: 50px !important;">
                    Dry
                </label>
            </div>
            <div class="radio-box" style="width: 60px !important;">
                <input type="radio" name="pantry" id="none" value="none">
                <label for="none" style="width: 50px !important;">
                    None
                </label>
            </div>
            
           
           
            
        </div>
    </div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12    officespace" style="width:100%;">
    <div class="form-group">
        <label>Covered Parking</label>
        <div class="radio-container">
            <div class="radio-box" style="width: 90px !important;">
                <input type="radio" name="coveredparking" id="1coveredparking" value="1">
                <label for="1coveredparking" style="width: 90px !important;">
                    1
                </label>
            </div>
            <div class="radio-box" style="width: 60px !important;">
                <input type="radio" name="coveredparking" id="2coveredparking" value="2">
                <label for="2coveredparking" style="width: 50px !important;">
                    2
                </label>
            </div>
            <div class="radio-box" style="width: 60px !important;">
                <input type="radio" name="coveredparking" id="3coveredparking" value="3">
                <label for="3coveredparking" style="width: 50px !important;">
                    3
                </label>
            </div>
            <div class="radio-box" style="width: 60px !important;">
                <input type="radio" name="coveredparking" id="4coveredparking" value="4">
                <label for="4coveredparking" style="width: 50px !important;">
                    4
                </label>
            </div>
            <div class="radio-box" style="width: 60px !important;">
                <input type="radio" name="coveredparking" id="5coveredparking" value="5">
                <label for="5coveredparking" style="width: 50px !important;">
                    5
                </label>
            </div>
            <div class="radio-box" style="width: 60px !important;">
                <input type="radio" name="coveredparking" id="6coveredparking" value="6">
                <label for="6coveredparking" style="width: 50px !important;">
                    6
                </label>
            </div>
            <div class="radio-box" style="width: 60px !important;">
                <input type="radio" name="coveredparking" id="6+coveredparking" value="6+">
                <label for="6+coveredparking" style="width: 50px !important;">
                    6+
                </label>
            </div>
         </div>
    </div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12    officespace" style="width:100%;">
    <div class="form-group">
        <label>Open/UnCovered Parking</label>
        <div class="radio-container">
            <div class="radio-box" style="width: 90px !important;">
                <input type="radio" name="uncoveredparking" id="n/a-uncovered" value="n/a-uncovered">
                <label for="n/a-uncovered" style="width: 90px !important;">
                    N/A
                </label>
            </div>
            <div class="radio-box" style="width: 90px !important;">
                <input type="radio" name="uncoveredparking" id="1uncovered" value="1uncovered">
                <label for="1uncovered" style="width: 90px !important;">
                    1
                </label>
            </div>
            <div class="radio-box" style="width: 60px !important;">
                <input type="radio" name="uncoveredparking" id="2uncovered" value="2uncovered">
                <label for="2uncovered" style="width: 50px !important;">
                    2
                </label>
            </div>
            <div class="radio-box" style="width: 60px !important;">
                <input type="radio" name="uncoveredparking" id="3uncovered" value="3uncovered">
                <label for="3uncovered" style="width: 50px !important;">
                    3
                </label>
            </div>
            <div class="radio-box" style="width: 60px !important;">
                <input type="radio" name="uncoveredparking" id="4uncovered" value="4uncovered">
                <label for="4uncovered" style="width: 50px !important;">
                    4
                </label>
            </div>
            <div class="radio-box" style="width: 60px !important;">
                <input type="radio" name="uncoveredparking" id="5uncovered" value="5uncovered">
                <label for="5uncovered" style="width: 50px !important;">
                    5
                </label>
            </div>
            <div class="radio-box" style="width: 60px !important;">
                <input type="radio" name="uncoveredparking" id="6uncovered" value="6uncovered">
                <label for="6uncovered" style="width: 50px !important;">
                    6
                </label>
            </div>
            <div class="radio-box" style="width: 60px !important;">
                <input type="radio" name="uncoveredparking" id="6+uncovered" value="6+uncovered">
                <label for="6+uncovered" style="width: 50px !important;">
                    6+
                </label>
            </div>
         </div>
    </div>
</div>
<!--Balcony-->
<div class="col-lg-12 col-md-12 col-sm-12  officespace" style="width:100%;">
    <div class="form-group">
        <label>Balcony</label>
        <div class="radio-container">
            <div class="radio-box" style="width: 100px !important;">
                <input type="radio" name="balcony" id="connected" value="connected">
                <label for="connected" style="width: 100px !important;">
                    Connected
                </label>
            </div>
            <div class="radio-box" style="width: 100px !important;">
                <input type="radio" name="balcony" id="Individual" value="Individual">
                <label for="Individual" style="width: 100px !important;">
                    Individual
                </label>
            </div>
            <div class="radio-box" style="width: 200px !important;">
                <input type="radio" name="balcony" id="roomattached" value="roomattached">
                <label for="roomattached" style="width: 200px !important;">
                    Room-attached
                </label>
            </div>
         </div>
    </div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12  officespace" style="width:100%;">
    <div class="form-group">
        <label>Power Backup</label>
        <div class="radio-container">
            <div class="radio-box" style="width: 100px !important;">
                <input type="radio" name="powerbackup" id="nobackup" value="yes">
                <label for="nobackup" style="width: 100px !important;">
                    No Back-up
                </label>
            </div>
            <div class="radio-box" style="width: 100px !important;">
                <input type="radio" name="powerbackup" id="backupavailable" value="no">
                <label for="backupavailable" style="width: 100px !important;">
                    Available
                </label>
            </div>
         </div>
    </div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 officespace" style="width:100%;">
    <div class="form-group">
        <label>Lift Available</label>
        <div class="radio-container">
            <div class="radio-box" style="width: 90px !important;">
                <input type="radio" name="liftavailable" id="liftyesavailable" value="yes">
                <label for="liftyesavailable" style="width: 90px !important;">
                    Yes
                </label>
            </div>
            <div class="radio-box" style="width: 60px !important;">
                <input type="radio" name="liftavailable" id="liftnotavailable" value="no">
                <label for="liftnotavailable" style="width: 50px !important;">
                    No
                </label>
            </div>
         </div>
    </div>
</div>
<div class="col-lg-4 col-md-4 col-sm-6  officespace" style="">
    <div class="form-group">
        <label>Select View</label>
        <select class="form-control" name="office_view">
            <option value="Beach View">Beach View</option>
            <option value="Garden View">Garden View</option>
            <option value="Golf Course">Golf Course</option>
            <option value="Lake View">Lake View</option>
            <option value="Park View">Park View</option>
            <option value="Road View">Road View</option>
            <option value="Community View">Community View</option>
            <option value="Pool View">Pool View</option>
            <option value="Creek View">Creek View</option>
            <option value="Sea View">Sea View</option>
        </select>
    </div>
</div>
<div class="col-lg-4 col-md-4 col-sm-6  officespace" style="">
    <div class="form-group">
        <label>Select Flooring</label>
        <select class="form-control" name="flooring">
            <option value="Marble">Marble</option>
            <option value="Concrete">Concrete</option>
            <option value="Cemented">Cemented</option>
            <option value="Carpeted">Carpeted</option>
            <option value="Wooden">Wooden</option>
            <option value="Others">Others</option>
            <option value="Community View">Community View</option>
        </select>
    </div>
</div>
<div class="col-lg-8 col-md-4 col-sm-6  officespace" style="">
    <div class="form-group">
        <label>Floor No.</label>
        <input type="text" class="form-control" name="floorno" placeholder="Enter Number">
    </div>
</div>
<div class="col-lg-8 col-md-4 col-sm-6  officespace" style="">
    <div class="form-group">
        <label>Tower/Block</label>
        <input type="text" class="form-control" name="towerblock" placeholder="Enter tower/block">
    </div>
</div>
<div class="col-lg-8 col-md-4 col-sm-6  officespace" style="">
    <div class="form-group">
        <label>Unit No</label>
        <input type="text" class="form-control" name="unitno" placeholder="Enter Unit No.">
    </div>
</div>

<div class="col-lg-12 col-md-12 col-sm-12       residential_noofrooms" style="display:none;width:100%">
    <div class="form-group">
        <label>No. of rooms</label>
        <div class="radio-container">
            <div class="radio-box" style="width: 90px !important;">
                <input type="radio" name="no_of_rooms" id="studio" value="studio">
                <label for="studio" style="width: 90px !important;">
                    Studio
                </label>
            </div>
            <div class="radio-box" style="width: 60px !important;">
                <input type="radio" name="no_of_rooms" id="1rk" value="1rk">
                <label for="1rk" style="width: 50px !important;">
                    1 RK
                </label>
            </div>
            <div class="radio-box" style="width: 60px !important;">
                <input type="radio" name="no_of_rooms" id="1" value="1">
                <label for="1" style="width: 50px !important;">
                    1
                </label>
            </div>
            
            <div class="radio-box" style="width: 60px !important;">
                <input type="radio" name="no_of_rooms" id="2" value="2">
                <label for="2" style="width: 50px !important;">
                    2
                </label>
            </div>
            
            <div class="radio-box" style="width: 60px !important;">
                <input type="radio" name="no_of_rooms" id="3" value="3">
                <label for="3" style="width: 50px !important;">
                    3
                </label>
            </div>
           
            <div class="radio-box" style="width: 60px !important;">
                <input type="radio" name="no_of_rooms" id="4" value="4">
                <label for="4" style="width: 50px !important;">
                    4
                </label>
            </div>
            <div class="radio-box" style="width: 60px !important;">
                <input type="radio" name="no_of_rooms" id="5" value="5">
                <label for="5" style="width: 50px !important;">
                    5
                </label>
            </div>
            <div class="radio-box" style="width: 60px !important;">
                <input type="radio" name="no_of_rooms" id="6" value="6">
                <label for="6" style="width: 50px !important;">
                    5+
                </label>
            </div>
            
        </div>
    </div>
</div>

<div class="col-lg-12 col-md-12 col-sm-12   coworking" style="width:100%;display: none;">
    <div class="form-group">
        <label>Pantry</label>
        <div class="radio-container">
            <div class="radio-box" style="width: 90px !important;">
                <input type="radio" name="pantry" id="wet" value="wet">
                <label for="wet" style="width: 90px !important;">
                    Wet
                </label>
            </div>
            <div class="radio-box" style="width: 60px !important;">
                <input type="radio" name="pantry" id="dry" value="dry">
                <label for="dry" style="width: 50px !important;">
                    Dry
                </label>
            </div>
            <div class="radio-box" style="width: 60px !important;">
                <input type="radio" name="pantry" id="none" value="none">
                <label for="none" style="width: 50px !important;">
                    None
                </label>
            </div>
            
           
           
            
        </div>
    </div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12   coworking" style="width:100%;display: none;">
    <div class="form-group">
        <label>Parking Available</label>
        <div class="radio-container">
            <div class="radio-box" style="width: 90px !important;">
                <input type="radio" name="parking" id="yes" value="yes">
                <label for="yes" style="width: 90px !important;">
                    Yes
                </label>
            </div>
            <div class="radio-box" style="width: 60px !important;">
                <input type="radio" name="parking" id="no" value="no">
                <label for="no" style="width: 50px !important;">
                    No
                </label>
            </div>
         </div>
    </div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12  coworking" style="width:100%;display: none;">
    <div class="form-group">
        <label>Power Backup</label>
        <div class="radio-container">
            <div class="radio-box" style="width: 100px !important;">
                <input type="radio" name="powerbackup" id="nobackup" value="yes">
                <label for="nobackup" style="width: 100px !important;">
                    No Back-up
                </label>
            </div>
            <div class="radio-box" style="width: 100px !important;">
                <input type="radio" name="powerbackup" id="backupavailable" value="no">
                <label for="backupavailable" style="width: 100px !important;">
                    Available
                </label>
            </div>
         </div>
    </div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 coworking" style="width:100%;display: none;">
    <div class="form-group">
        <label>Lift Available</label>
        <div class="radio-container">
            <div class="radio-box" style="width: 90px !important;">
                <input type="radio" name="liftavailable" id="liftyesavailable" value="yes">
                <label for="liftyesavailable" style="width: 90px !important;">
                    Yes
                </label>
            </div>
            <div class="radio-box" style="width: 60px !important;">
                <input type="radio" name="liftavailable" id="liftnotavailable" value="no">
                <label for="liftnotavailable" style="width: 50px !important;">
                    No
                </label>
            </div>
         </div>
    </div>
</div>
<div class="col-lg-4 col-md-4 col-sm-6  coworking" style="display:none">
    <div class="form-group">
        <label>Floor No</label>
        <input type="text" class="form-control" name="floorno" placeholder="Enter No. of Floors">
    </div>
</div>
<div class="col-lg-8 col-md-4 col-sm-6  coworking" style="display:none">
    <div class="form-group">
        <label>Minimum Lockin Period Preferred</label>
        <input type="text" class="form-control" name="minlockinperiod" placeholder="Enter Number">
    </div>
</div>
<div class="col-sm-4">
                                        
    <style>
        /* Style for the checkbox container */
        .checkbox-container {
            display: flex;
        }

        /* Style for each checkbox */
        .checkbox-box {
            display: inline-block;
            margin-right: 10px;
        }

        /* Style for the checkbox input (hidden) */
        .checkbox-box input[type="checkbox"] {
            display: none;
        }

        /* Style for the checkbox label (the visible part) */
        .checkbox-box label {
            border:1px solid black;
            display: block;
            width: 50px;
            height: 50px;
            background-color: #f0f0f0;
            text-align: center;
            line-height: 50px;
            cursor: pointer;
        }

        /* Style for the selected checkbox label */
        .checkbox-box input[type="checkbox"]:checked + label {
            background-color: #3498db;
            color: #fff;
        }
        #amenities{
            margin-left:20px !important;
        }
    </style>
    <div class="form-group coworking" style="padding:15px;display: none;">
        <label>Seats Type</label><br>

    <div class="inlineblock m-r-20" style="">
        <input id="" value="" class="form-control" type="checkbox" id="seatstype1" value="" name="seatstype[]" style="margin-left:0px;border:1px solid black;">
        <label for="">Open Seat</label>
    </div>
    <div class=" inlineblock m-r-20">
        <input id=""  value="" class="form-control" type="checkbox" id="seatstype2" value="" name="seatstype[]" style="margin-left:0px;">
        <label for="">Private Cabin</label>
    </div>
    <div class=" inlineblock m-r-20">
        <input id=""  value="" class="form-control" type="checkbox" id="seatstype3" value="" name="seatstype[]" style="margin-left:0px;">
        <label for="">Conference Cabin</label>
    </div>
   </div>
   
</div>
<div class="col-lg-12 col-md-12 col-sm-6  coworking" style="display: none;">
    <div class="form-group">
        <label>No. of Seats Available</label>
        <input type="text" class="form-control" name="noofseat" placeholder="no of seat">
    </div>
</div>
                                