{% load static %}

<div class="body">
    <br>
    
        
    <div class="row" style="">
        
        <div class="col-lg-12 col-md-6 col-sm-6">
            <div class="form-group">
                <label>Booking Amount (%)</label>
                <input type="number" class="form-control" name="booking_amount" placeholder="For example, 10%" max="100" value="{{ property_obj.booking_amount }}">
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="form-group">
                <label>Building Name</label>
                <input type="text" class="form-control" name="building_name" placeholder="Enter Building/House Name" max="100" value="{{ property_obj.building_name }}">
            </div>
        </div>
        <div class="col-lg-8 col-md-6 col-sm-6">
            <div class="form-group">
                <label>Address  Line 1</label>
                <input type="text" class="form-control" name="addressLine1" placeholder="Enter Address Line 1" max="100" value="{{ property_obj.addressLine1 }}">
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="form-group">
                <label>Address  Line 2</label>
                <input type="text" class="form-control" name="addressLine2" placeholder="Enter Address Line 2" max="100" value="{{ property_obj.addressLine2 }}">
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="form-group">
                <label>Address  Line 3</label>
                <input type="text" class="form-control" name="addressLine3" placeholder="Enter Address Line 3" max="100" value="{{ property_obj.addressLine3 }}">
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <label>Address</label>
                <textarea rows="4" class="form-control no-resize" name="address" placeholder="Property Address">{{ property_obj.address }}</textarea>
            </div>
        </div>
        </div>
        <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="form-group">
                <label>Landmark</label>
                <input type="text" class="form-control" name="landmark" placeholder="Enter Landmark" value="{{ property_obj.landmark }}">
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="form-group">
                <label>State</label>
                <select id="state" name="state" class="form-control" value="{{ property_obj.state }}">
                    <!-- States will be populated dynamically using jQuery -->
                </select>    
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="form-group">
                <label>City</label>
                <select id="city" name="city" class="form-control" value="{{ property_obj.city }}">
                    <!-- Cities will be populated dynamically using jQuery -->
                </select>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
       



        <script>
            // Sample JSON data for states and cities in India
            var indiaData = {
            "Select State": ["Select City"],
            "Gujarat": ["Ahmedabad", "Surat", "Vadodara", "Rajkot"]
            // Add more states and cities as needed
            };

            // Function to populate the state dropdown
            function populateStates() {
            var $stateDropdown = $("#state");
            $stateDropdown.empty();

            $.each(indiaData, function(state) {
            $stateDropdown.append($("<option />").val(state).text(state));
            });

            // Trigger the change event to populate cities based on the initial state
            $stateDropdown.change();
            }

            // Function to populate the city dropdown based on the selected state
            function populateCities(selectedState) {
            var $cityDropdown = $("#city");
            $cityDropdown.empty();

            var cities = indiaData[selectedState];
            $.each(cities, function(index, city) {
            $cityDropdown.append($("<option />").val(city).text(city));
            });
            }

            // Document ready function
            $(document).ready(function() {
            // Populate the state dropdown on page load
            populateStates();

            // Event listener for state dropdown change
            $("#state").on("change", function() {
            var selectedState = $(this).val();
            populateCities(selectedState);
            });
            });
        </script>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="form-group">
                <label>Pincode</label>
                <input type="text" class="form-control" name="pincode" placeholder="Enter Pincode" value="{{ property_obj.pincode }}">
            </div>
        </div>

        
    </div>
    
    
    <div class="row">
        <div class="col-sm-12">
            <h6 class="mt-4">General Amenities</h6>
            <style>
                /* Style for the checkbox container */
                .checkbox-container {
                    display: flex;
                }
        
                /* Style for each checkbox */
                .checkbox-box {
                    display: inline-block;
                    margin-right: 10px;
                }
        
                /* Style for the checkbox input (hidden) */
                .checkbox-box input[type="checkbox"] {
                    display: none;
                }
        
                /* Style for the checkbox label (the visible part) */
                .checkbox-box label {
                    border:1px solid black;
                    display: block;
                    width: 50px;
                    height: 50px;
                    background-color: #f0f0f0;
                    text-align: center;
                    line-height: 50px;
                    cursor: pointer;
                }
        
                /* Style for the selected checkbox label */
                .checkbox-box input[type="checkbox"]:checked + label {
                    background-color: #3498db;
                    color: #fff;
                }
                #amenities{
                    margin-left:20px !important;
                }
            </style>
            
            <div class="inlineblock m-r-20">
                <input value="Club House" class="form-control" type="checkbox" id="amenities" name="amenities[]" style="margin-left:0px;border:1px solid black;" {% if property_obj.amenities == "Club House" %} checked {% endif %}>
                <label for=""><img src="{% static 'icons/Club House.png' %}" style="height:100px;width:100px;"></label>
            </div>
            
            <div class=" inlineblock m-r-20">
                <input  value="escalator" class="form-control" type="checkbox" id="amenities2"  name="amenities[]" style="margin-left:0px;" {% if property_obj.amenities == "escalator" %}checked {% endif %}>
                <label for=""><img src="{% static 'icons/escalator.png' %}" style="height:100px;width:100px;"></label>
            </div>
            <div class=" inlineblock m-r-20">
                <input value="Elevators" class="form-control" type="checkbox" id="amenities3"  name="amenities[]" style="margin-left:0px;" {% if property_obj.amenities == "Elevators" %}checked {% endif %}>
                <label for=""><img src="{% static 'icons/Elevators.png' %}" style="height:100px;width:100px;"></label>
            </div>
            <div class=" inlineblock m-r-20">
                <input value="Gated Community" class="form-control" type="checkbox" id="amenities4" name="amenities[]" style="margin-left:0px;" {% if property_obj.amenities == "Gated Community" %}checked {% endif %}>
                <label for=""><img src="{% static 'icons/Gated Community.png' %}" style="height:100px;width:100px;"></label>
            </div>
            <div class=" inlineblock m-r-20">
                <input value="Surveillance Camera"  class="form-control" type="checkbox" id="amenities5" name="amenities[]" style="margin-left:0px;" {% if property_obj.amenities == "Surveillance Camera" %}checked {% endif %}>
                <label for=""><img src="{% static 'icons/Surveillance Camera 1.png' %}" style="height:100px;width:100px;"></label>
            </div>
            <div class=" inlineblock m-r-20">
                <input id=""  value="Parking"  class="form-control" type="checkbox" id="amenitie6" value="" name="amenities[]" style="margin-top:20px;margin-left:0px;" {% if property_obj.amenities == "Parking" %}checked {% endif %}>
                <label for=""><img src="{% static 'icons/Parking.png' %}" style="height:100px;width:100px;"></label>
            </div>
            <div class=" inlineblock m-r-20">
                <input id=""  value="Car Parking"  class="form-control" type="checkbox" id="amenities7" value="" name="amenities[]" style="margin-left:0px;" {% if property_obj.amenities == "Car Parking" %}checked {% endif %}>
                <label for=""><img src="{% static 'icons/Car Parking.png' %}" style="height:100px;width:100px;"></label>
            </div>
            <div class=" inlineblock m-r-20">
                <input value="24x7 Security" class="form-control" type="checkbox" id="amenities8"  name="amenities[]" style="margin-left:0px;"  {% if property_obj.amenities == "24x7 Security" %}checked {% endif %}>
                <label for=""><img src="{% static 'icons/24x7 Security.png' %}" style="height:100px;width:100px;"></label>
            </div>
            <div class=" inlineblock m-r-20">
                <input value="24x7 Water Supply"  class="form-control" type="checkbox" id="amenities9"name="amenities[]" style="margin-left:0px;"  {% if property_obj.amenities == "24x7 Water Supply" %}checked {% endif %}>
                <label for=""><img src="{% static 'icons/24x7 Water Supply.png' %}" style="height:100px;width:100px;"></label>
            </div>
            <!-- <div class=" inlineblock m-r-20">
                <input id=""  value="Multipurpose Room" class="form-control" type="checkbox" id="amenities10" value="" name="amenities[]" style="margin-left:0px;">
                <label for=""><img src="{% static 'front-end/10.png' %}" style="height:100px;width:100px;"></label>
            </div>
            <div class=" inlineblock m-r-20">
                <input id="" value="FireFightingSystem"  class="form-control" type="checkbox" id="amenities11" value="" name="amenities[]" style="margin-left:0px;">
                <label for=""><img src="{% static 'front-end/11.png' %}" style="height:100px;width:100px;"></label>
            </div>
            <div class=" inlineblock m-r-20">
                <input id=""  value="SewageTreatment" class="form-control" type="checkbox" id="amenities12" value="" name="amenities[]" style="margin-left:0px;">
                <label for=""><img src="{% static 'front-end/12.png' %}" style="height:100px;width:100px;"></label>
            </div>
            <div class=" inlineblock m-r-20">
                <input id=""  value="RainWaterHarvesting" class="form-control" type="checkbox" id="amenities13" value="" name="amenities[]" style="margin-left:0px;">
                <label for=""><img src="{% static 'front-end/13.png' %}" style="height:100px;width:100px;"></label>
            </div>
            <div class=" inlineblock m-r-20">
                <input id=""  value="GatedComminity" class="form-control" type="checkbox" id="amenities14" value="" name="amenities[]" style="margin-left:0px;">
                <label for=""><img src="{% static 'front-end/14.png' %}" style="height:100px;width:100px;"></label>
            </div>
            <div class=" inlineblock m-r-20">
                <input id=""  value="24x7Security" class="form-control" type="checkbox" id="amenities15" value="" name="amenities[]" style="margin-left:0px;">
                <label for=""><img src="{% static 'front-end/15.png' %}" style="height:100px;width:100px;"></label>
            </div>
            <div class=" inlineblock m-r-20">
                <input id=""  value="Powerbackup" class="form-control" type="checkbox" id="amenities16" value="" name="amenities[]" style="margin-left:0px;">
                <label for=""><img src="{% static 'front-end/16.png' %}" style="height:100px;width:100px;"></label>
            </div>
            <div class=" inlineblock m-r-20">
                <input id=""  value="ChildrenPlayArea" class="form-control" type="checkbox" id="amenities17" value="" name="amenities[]" style="margin-left:0px;">
                <label for=""><img src="{% static 'front-end/17.png' %}" style="height:100px;width:100px;"></label>
            </div>
            <div class=" inlineblock m-r-20">
                <input id=""  value="Lift" class="form-control" type="checkbox" id="amenities18" value="" name="amenities[]" style="margin-left:0px;">
                <label for=""><img src="{% static 'front-end/18.png' %}" style="height:100px;width:100px;"></label>
            </div>
            <div class=" inlineblock m-r-20">
                <input id=""  value="Lift" class="form-control" type="checkbox" id="amenities19" value="" name="amenities[]" style="margin-left:0px;">
                <label for=""><img src="{% static 'front-end/foodcourt.jpg' %}" style="height:50px;width:50px;margin-top:5px;"></label>
            </div>
            <div class=" inlineblock m-r-20">
                <input id=""  value="Lift" class="form-control" type="checkbox" id="amenities20" value="" name="amenities[]" style="margin-left:0px;">
                <label for=""><img src="{% static 'front-end/medical.jpg' %}"  style="height:50px;width:50px;margin-top:5px;"></label>
            </div>
            <div class=" inlineblock m-r-20">
                <input id=""  value="Lift" class="form-control" type="checkbox" id="amenities18" value="" name="amenities[]" style="margin-left:0px;">
                <label for=""><img src="{% static 'front-end/Multiplex.png' %}"  style="height:50px;width:50px;margin-top:5px;"></label>
            </div>
            <div class=" inlineblock m-r-20">
                <input id=""  value="Lift" class="form-control" type="checkbox" id="amenities18" value="" name="amenities[]" style="margin-left:0px;">
                <label for=""><img src="{% static 'front-end/petarea.png' %}" style="height:50px;width:50px;margin-top:5px;"></label>
            </div>
            <div class=" inlineblock m-r-20">
                <input id=""  value="Lift" class="form-control" type="checkbox" id="amenities18" value="" name="amenities[]" style="margin-left:0px;">
                <label for=""><img src="{% static 'front-end/preschool.png' %}"  style="height:50px;width:50px;margin-top:5px;"></label>
            </div>
            <div class=" inlineblock m-r-20">
                <input id=""  value="Lift" class="form-control" type="checkbox" id="amenities18" value="" name="amenities[]" style="margin-left:0px;">
                <label for=""><img src="{% static 'front-end/badminton.png' %}"  style="height:50px;width:50px;margin-top:5px;"></label>
            </div>
            <div class=" inlineblock m-r-20">
                <input id=""  value="Lift" class="form-control" type="checkbox" id="amenities18" value="" name="amenities[]" style="margin-left:0px;">
                <label for=""><img src="{% static 'front-end/homeautomation.png' %}"  style="height:50px;width:50px;margin-top:5px;"></label>
            </div>
            <div class=" inlineblock m-r-20">
                <input id=""  value="Lift" class="form-control" type="checkbox" id="amenities18" value="" name="amenities[]" style="margin-left:0px;">
                <label for=""><img src="{% static 'front-end/market.png' %}"  style="height:50px;width:50px;margin-top:5px;"></label>
            </div>
            <div class=" inlineblock m-r-20">
                <input id=""  value="Lift" class="form-control" type="checkbox" id="amenities18" value="" name="amenities[]" style="margin-left:0px;">
                <label for=""><img src="{% static 'front-end/restaurant.png' %}"  style="height:50px;width:50px;margin-top:5px;"></label>
            </div>
            <div class=" inlineblock m-r-20">
                <input id=""  value="Lift" class="form-control" type="checkbox" id="amenities18" value="" name="amenities[]" style="margin-left:0px;">
                <label for=""><img src="{% static 'front-end/swimmingpool.png' %}"  style="height:50px;width:50px;margin-top:5px;"></label>
            </div>
            
            <div class=" inlineblock m-r-20">
                <input id=""  value="Lift" class="form-control" type="checkbox" id="amenities18" value="" name="amenities[]" style="margin-left:0px;">
                <label for=""><img src="{% static 'front-end/wifi.png' %}"  style="height:50px;width:50px;margin-top:5px;"></label>
            </div> -->
            
        </div>
    </div>
   
</div>
    <div class="row clearfix">
        <div class="col-sm-12">
            <div class="container mt-5">
                <div class="card">
                    <div class="card-header">
                        Upload Images<b style="color:red">*</b>
                    </div>
                    <div class="card-body">
                        <div class="drop-zone" id="dropZone">
                            <div class="text-center">
                                <p>Drag & Drop your image here</p>
                                <p>or</p>
                                <input type="file" name="Interior" id="fileInput" accept="image/*" multiple>
                                <p>Click to select an image</p>
                            </div>
                        </div>
                    
                        <div class="text-center mt-3">
                            <div id="imagePreviews" class="image-previews">
                                <!-- Preview images will be displayed here -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row clearfix">
        <div class="col-sm-12">
            <div class="container mt-5">
                <div class="card">
                    <div class="card-header">
                        Upload Floor Plan<b style="color:red">*</b>
                    </div>
                    <div class="card-body">
                        <div class="drop-zone" id="dropZone">
                            <div class="text-center">
                                <p>Drag & Drop your image here</p>
                                <p>or</p>
                                <input type="file" name="Interi" id="fileInput_floorplan" accept="image/*" multiple>
                                <p>Click to select an image</p>
                            </div>
                        </div>
                    
                        <div class="text-center mt-3">
                            <div id="imagePreviews_floorplan" class="image-previews">
                                <!-- Preview images will be displayed here -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix" style="padding:20px;">
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="form-group">
                <label>Rera Id<b style="color:red">*</b></label>
                <input type="text" class="form-control" name="rera_id" placeholder="Enter Rera ID" value="{{ property_obj.rera_id }}">
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="form-group">
                <label>Youtube Video URL</label>
                <input type="text" id="videoUrl" class="form-control" name="video_url" placeholder="" value="{{ property_obj.video_url }}">
            </div>

            <div id="errorMessage" style="color: red; display: none;">
                YouTube link is the only acceptable.
            </div>
            
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="form-group">
                <label>Brochure Link</label>
                <input type="file" class="form-control" name="brochure_link" placeholder="">
            </div>
        </div>
    </div>
        
        
        <div class="row clearfix" style="margin-top:-30px;padding:20px;">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="form-group">
                    <label>Project Sales Head<b style="color:red">*</b></label>
                    <input type="text" class="form-control" name="property_sales_head" placeholder="Enter Sales Head" value="{{ property_obj.property_sales_head }}">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="form-group">
                    <label>Project Sales Head Contact No.<b style="color:red">*</b></label>
                    <input type="text" id="videoUrl" class="form-control" name="sales_head_contact_no" placeholder="Enter Contact Number" value="{{ property_obj.sales_head_contact_no }}">
                </div>

                
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6" style="margin-top:10px;">
                <div class="form-group">
                    <label>Sales Support Name<b style="color:red">*</b></label>
                    <input type="text" id="videoUrl" class="form-control" name="sales_support_name" placeholder="Enter Sales Support" value="{{ property_obj.sales_support_name }}">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6" style="margin-top:10px;">
                <div class="form-group">
                    <label>Sales Support Contact No.<b style="color:red">*</b></label>
                    <input type="text" id="videoUrl" class="form-control" name="sales_support_contact_no" placeholder="Enter Sales Support Contact No." value="{{ property_obj.sales_support_contact_no }}">
                </div>
            </div>
            <div class="col-lg-12 col-md-6 col-sm-6" style="margin-top:10px;">
                <div class="form-group">
                    <label>Enter Keyword (Comma Seperated! For Ex. Five Star,3bhk in fatehgunj)<b style="color:red">*</b></label>
                    <input type="text" id="videoUrl" class="form-control" name="keyword" placeholder="Enter Keywords" value="{{ property_obj.keyword }}">
                </div>
            </div>
            
        </div>
    

