{% load static %}
<div class="body">
    <div class="row" style="padding-left:20px;">
        <label>Property Listing For:</label>
    </div>
    <div class="row" style="padding-left: 20px;">
        <div class="radio-container">
            <div class="radio-box">
                <input type="radio" name="property_for" id="box1" value="sale" {% if property_obj.property_for == 'sale' %} checked {% endif %}  onclick="showonlycommercialforlease(this.value)">
                <label for="box1">
                    
                    Sale
                </label>
            </div>
            {% comment %} <div class="radio-box">
                <input type="radio" name="property_for" id="box2" value="rent" {% if property_obj.property_for == 'rent' %} checked {% endif %} onclick="showonlycommercialforlease(this.value)">
                <label for="box2" style="width: 130px;">
                   
                    Rent / Lease
                </label>
            </div> {% endcomment %}
        </div>
    </div>

    <br>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        function showpossessionyear(val){
            if(val == "Ready to Move"){
                $(".agesforresidential").show();
                $("#possessionyear").show();
            } else {
                $("#possessionyear").show();
                $(".agesforresidential").hide();
            }
        }
        function showonlycommercialforlease(val){
            if(val == "rent"){
                $('.show_for_rent').show();
                $('.hide_for_rent').hide();
                $('#residential_bar').hide();
                $('#residential_propertytype').show();
                $('.residential_noofrooms').hide();
                $('#commercial_propertytype').show();
                $('.hideforland').hide();
            } else {
                $('.show_for_rent').hide();
                $('.hide_for_rent').show();
                $('#residential_bar').show();
                $('#residential_propertytype').show();
                $('.residential_noofrooms').show();
                $('#commercial_propertytype').show();
                $('.hideforland').show();
            }
        }
        function setres_comm_selection(val){
            if(val == 'commercial'){
                $('#residential_propertytype').hide();
                $('.residential_noofrooms').hide();
                $('#commercial_propertytype').show();
                $('.hideforland').hide();
            } else {
                $('.coworking').hide();
                $('#residential_propertytype').show();
                $('#commercial_propertytype').hide(); 
                $('.residential_noofrooms').show();
                $('.hideforland').show();
            }
            

        }

        function showHidePGDiv(val){
            $('#pg_security_deposit_div').show();
            $('.show_for_pg').show();
            $('.hide_for_pg').hide();
            
        }

        function disableenablebuiltinarea(val){
            $('#pg_security_deposit_div').hide();
            
            $('.show_for_pg').hide();
            $('.hide_for_pg').show();
            if(val == 'land' || val == 'industrialplot' || val == 'plot' || val == 'office'  || val == 'land' 
            || val == 'warehouse' || val == 'industrialplot' || val == 'shop' || val == 'showroom'){
                
                $('.terracearea').hide();
                if(val == 'office' || val == 'shop' || val == 'showroom'){
                    $('.officespace').show();
                    $('.coworking').hide();
                    $('#furnished_status').hide();
                    $('.hideforland').hide();
                    $('.showforland').hide();
                    $('.residential_noofrooms').hide();
                }
                else if(val == 'plot' || val == 'industrialplot') {
                    $('.officespace').hide();
                    $('#possession_type').hide();
                    $('#furnished_status').hide();
                    $('.hideforland').hide();
                    $('.showforland').show();
                    $('.residential_noofrooms').hide();
                    $('.coworking').hide();
                } else if(val == 'coworkingspace'){
                    $('.officespace').hide();
                    $('.coworking').show();
                    $('#possession_type').hide();
                    $('#furnished_status').hide();
                    $('.hideforland').hide();
                    $('.showforland').hide();
                    $('.residential_noofrooms').hide();
                } else {
                    $('.officespace').hide();
                    $('#possession_type').show();
                    $('#furnished_status').show();
                    $('.hideforland').show();
                    $('.showforland').show();
                    $('.residential_noofrooms').hide();
                    $('.coworking').hide();
                }
                
            } else {
               
                if(val == 'penthouse'){
                    $('.terracearea').show();
                    $('.coworking').hide();
                    $('.showforland').hide();
                    $('.hideforland').show();
                }
                else if(val == 'coworkingspace'){
                    $('.officespace').hide();
                    $('#residential_hide').hide();
                    $('.coworking').show();
                    $('#possession_type').hide();
                    $('#furnished_status').hide();
                    $('.hideforland').hide();
                    $('.showforland').hide();
                    $('.residential_noofrooms').hide();
                }
                else {
                    $('.officespace').hide();
                    $('.coworking').hide();
                    $('.terracearea').hide();
                    $('.hideforland').show();
                    $('.showforland').hide();
                    $('.residential_noofrooms').show();
                    $('#furnished_status').show();
                    $('#possession_type').show();
                }
                
                // $('#possession_type').show();
                // $('#furnished_status').show();
                // $('.hideforland').show();
                // $('.showforland').hide();
                // $('.residential_noofrooms').show();
            }
            
        }
    </script>
    <div class="row" style="padding-left:20px;">
        <label>Property Type:</label>
    </div>
    
    <div class="row" style="padding-left: 20px;"  id="residential_propertytype">
        <div class="radio-container">
            <div class="radio-box" style="width: 200px !important;">
                <input type="radio" name="property_sub_type" id="apartment" value="apartment" {% if property_obj.property_sub_type == 'apartment' %} checked {% endif %} onclick="disableenablebuiltinarea(this.value)">
                <label for="apartment" style="width: 200px !important;">
                    
                    Apartment
                </label>
            </div>
            <div class="radio-box">
                <input type="radio" name="property_sub_type" id="villa" value="villa" {% if property_obj.property_sub_type == 'villa' %} checked {% endif %} onclick="disableenablebuiltinarea(this.value)">
                <label for="villa" style="width: 200px !important;">
                    
                    Villa
                </label>
            </div>
            <div class="radio-box">
                <input type="radio" name="property_sub_type" id="plot" value="plot" {% if property_obj.property_sub_type == 'plot' %} checked {% endif %} onclick="disableenablebuiltinarea(this.value)">
                <label for="plot" style="width: 200px !important;">
                    
                    Plot
                </label>
            </div>
            
            <div class="radio-box">
                <input type="radio" name="property_sub_type" id="penthouse" value="penthouse" {% if property_obj.property_sub_type == 'penthouse' %} checked {% endif %} onclick="disableenablebuiltinarea(this.value)">
                <label for="penthouse" style="width: 200px !important;">
                    
                    Pent House
                </label>
            </div>
            <div class="radio-box">
                <input type="radio" name="property_sub_type" id="independenthouse" value="independenthouse" {% if property_obj.property_sub_type == 'independenthouse' %} checked {% endif %} onclick="disableenablebuiltinarea(this.value)">
                <label for="independenthouse" style="width: 200px !important;">
                    
                    Independent House
                </label>
            </div>
            <div class="radio-box show_for_rent" {% if property_obj.property_for == "sale" %} style="display:none;"{% endif %}>
                <input type="radio" name="property_sub_type" id="colivingspace" value="pg" {% if property_obj.property_sub_type == 'pg' %} checked {% endif %} onclick="showHidePGDiv(this.value)">
                <label for="colivingspace" style="width: 200px !important;">
                    
                    PG Co-living space
                </label>
            </div>
        </div>
    </div>
    
    <div class="row clearfix" style="margin-top: 30px;">
        <div class="col-sm-6 hide_for_pg" {% if property_obj.property_sub_type == 'pg' %} style="display:none;" {% endif %}>
            <div class="form-group">
                <label>Property Name</label>
                <input type="text" class="form-control" name="name" placeholder="Property Name" value="{{ property_obj.name }}">

            </div>
        </div> 
        <div class="col-sm-6 show_for_pg" {% if property_obj.property_sub_type != 'pg' %} style="display:none;" {% endif %}>
            <div class="form-group">
                <label>PG Name</label>
                <input type="text" class="form-control" name="pg_name" placeholder="PG Name" value="{{ property_obj.pg_name }}">

            </div>
        </div> 
        <div class="col-sm-12 hide_for_rent" {% if property_obj.property_for != 'sale' %} style="display:none;" {% endif %}>
            <div class="row">
                <div class = "col-sm-4">
                    <div class="form-group">
                        <label for="priceInput">Enter Price:</label>
                        <input type="number" name="price" id="priceInput" class="form-control" value="{{ property_obj.price }}">
                    </div>
                </div>
                <div class = "col-sm-4">
                    <label>In Words</label>
                    <input type="text" id="wordsOutput" readonly class="form-control">
                </div>
                <div class = "col-sm-4">
                    <label>Realezi Commission</label>
                    <input type="text" name="commission" id="commission" class="form-control">
                </div>
            </div>
            <script>
                // Get references to the input fields
                const priceInput = document.getElementById('priceInput');
                const commissionInput = document.getElementById('commission');
                
                // Add event listener to the price input field
                priceInput.addEventListener('keyup', function() {
                    // Get the entered price value
                    const price = parseFloat(this.value);
                
                    // Calculate 2% commission
                    const commission = price * 0.02;
                
                    // Update the value of the commission input field
                    commissionInput.value = commission.toFixed(2);
                });
            </script>
        </div>
        <div class="col-sm-12 show_for_rent" {% if property_obj.property_for == 'sale' %} style="display:none;" {% endif %}>
            <div class="row">
                <div class = "col-sm-6 ">
                    <div class="form-group">
                        <label for="priceInput">Rent Amount:</label>
                        <input type="number" name="rent_amount" id="priceInput" class="form-control" value="{{ property_obj.rent_amount }}">
                    </div>
                </div>
                <div class = "col-sm-6">
                    <div class="form-group">
                        <label for="priceInput">Type:</label>
                        <select class="form-control" name="rent_type">
                            <option value="Monthly" {% if property_obj.rent_type == 'Monthly' %} selected {% endif %}>Monthly</option>
                            
                            <option value="Yearly" {% if property_obj.rent_type == 'Yearly' %} selected {% endif %}>Yearly</option>
                        </select>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="col-sm-12 show_for_rent" {% if property_obj.property_for == 'sale' %} style="display:none;" {% endif %}>
            <div class="row">
                <div class = "col-sm-6 ">
                    <div class="form-group">
                        <label for="priceInput">Maintenance Amount:</label>
                        <input type="number" name="maintanence_amount" id="priceInput" class="form-control" value="{{ property_obj.maintanence_amount }}">
                    </div>
                </div>
                <div class = "col-sm-6">
                    <div class="form-group">
                        <label for="priceInput">Type:</label>
                        <select class="form-control" name="maintainence_type">
                            <option value="Monthly" {% if property_obj.maintainence_type == 'Monthly' %} selected {% endif %}>Monthly</option>
                            <option value="Quaterly" {% if property_obj.maintainence_type == 'Quaterly' %} selected {% endif %}>Quaterly</option>
                            <option value="Yearly" {% if property_obj.maintainence_type == 'Yearly' %} selected {% endif %}>Yearly</option>
                        </select>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="col-sm-12" style="margin-top: 30px;">
            <div class="form-group">
                <div class="form-line">
                    <label>Property Description</label>
                    <textarea rows="4" class="form-control no-resize" name="property_description" placeholder="Property Description">{{ property_obj.property_description }}</textarea>
                </div>
            </div>
        </div>
    </div>
    <h3 class="mt-4">Property Information</h3>
    <div id="pg_security_deposit_div" {% if property_obj.property_sub_type != 'pg' %}style="display:none"{% endif %} >
        <div class="col-lg-12 col-md-12 col-sm-12 colivingspace" style="width:100%;">
            <div class="form-group">
                <label>Security Deposit:</label>
                <div class="radio-container">
                    <div class="radio-box" style="width: 100px !important;">
                        <input type="radio" name="security_deposit" id="zero" value="zero" {% if property_obj.security_deposit == 'zero' %} checked {% endif %}>
                        <label for="zero" style="width: 100px !important;">
                            Zero Deposit
                        </label>
                    </div>
                    <div class="radio-box" style="width: 100px !important;">
                        <input type="radio" name="security_deposit" id="one" value="one" {% if property_obj.security_deposit == 'one' %} checked {% endif %}>
                        <label for="one" style="width: 100px !important;">
                            One Month
                        </label>
                    </div>
                    <div class="radio-box" style="width: 100px !important;">
                        <input type="radio" name="security_deposit" id="two" value="two" {% if property_obj.security_deposit == 'two' %} checked {% endif %}>
                        <label for="two" style="width: 100px !important;">
                            Two Month
                        </label>
                    </div>
                    <div class="radio-box" style="width: 100px !important;">
                        <input type="radio" name="security_deposit" id="other" value="other" {% if property_obj.security_deposit == 'other' %} checked {% endif %}>
                        <label for="other" style="width: 100px !important;">
                            Other
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 colivingspace" style="width:100%;">
            <div class="form-group">
                <label>Only available for Company Lease</label>
                <div class="radio-container">
                    <div class="radio-box" style="width: 100px !important;">
                        <input type="radio" name="company_lease" id="leaseyes" value="yes" {% if property_obj.company_lease == 'yes' %} checked {% endif %}>
                        <label for="leaseyes" style="width: 100px !important;">
                            Yes
                        </label>
                    </div>
                    <div class="radio-box" style="width: 100px !important;">
                        <input type="radio" name="company_lease" id="leaseno" value="no" {% if property_obj.company_lease == 'no' %} checked {% endif %}>
                        <label for="leaseno" style="width: 100px !important;">
                            No
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 colivingspace" style="width:100%;">
            <div class="form-group">
                <label>Available For</label>
                <div class="radio-container">
                    <div class="radio-box" style="width: 100px !important;">
                        <input type="radio" name="available_for" id="girls" value="girls" {% if property_obj.available_for == 'girls' %} checked {% endif %}>
                        <label for="girls" style="width: 100px !important;">
                            Girls
                        </label>
                    </div>
                    <div class="radio-box" style="width: 100px !important;">
                        <input type="radio" name="available_for" id="boys" value="boys" {% if property_obj.available_for == 'boys' %} checked {% endif %}>
                        <label for="boys" style="width: 100px !important;">
                            Boys
                        </label>
                    </div>
                    <div class="radio-box" style="width: 100px !important;">
                        <input type="radio" name="available_for" id="all" value="all" {% if property_obj.available_for == 'all' %} checked {% endif %}>
                        <label for="all" style="width: 100px !important;">
                            All
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 colivingspace" style="width:100%;">
            <div class="form-group">
                <label>Available From</label>
                <div class="radio-container">
                    <div class="radio-box" style="width: 100px !important;">
                        <input type="radio" name="available_from" id="immediately" value="immediately" {% if property_obj.available_from == 'immediately' %} checked {% endif %}>
                        <label for="immediately" style="width: 100px !important;">
                            Immediately
                        </label>
                    </div>
                    <div class="radio-box" style="width: 100px !important;">
                        <input type="radio" name="available_from" id="later" value="later" {% if property_obj.available_from == 'later' %} checked {% endif %}>
                        <label for="later" style="width: 100px !important;">
                            Later
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 colivingspace" style="width:100%;">
            <div class="form-group">
                <label>Suited For</label>
                <div class="radio-container">
                    <div class="radio-box" style="width: 100px !important;">
                        <input type="radio" name="suited_for" id="students" value="students" {% if property_obj.suited_for == 'students' %} checked {% endif %}>
                        <label for="students" style="width: 100px !important;">
                            Students
                        </label>
                    </div>
                    <div class="radio-box" style="width: 200px !important;">
                        <input type="radio" name="suited_for" id="working_professionals" value="workingprofessionals" {% if property_obj.suited_for == 'workingprofessionals' %} checked {% endif %}>
                        <label for="working_professionals" style="width: 200px !important;">
                            Working Professionals
                        </label>
                    </div>
                    <div class="radio-box" style="width: 100px !important;">
                        <input type="radio" name="suited_for" id="any" value="any" {% if property_obj.suited_for == 'any' %} checked {% endif %}>
                        <label for="any" style="width: 100px !important;">
                            Any
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 colivingspace" style="width:100%;">
            <div class="form-group">
                <label>Room Type</label>
                <div class="radio-container">
                    <div class="radio-box" style="width:120px !important;">
                        <input type="radio" name="room_type" id="private_room" value="privateroom" {% if property_obj.room_type == 'privateroom' %} checked {% endif %}>
                        <label for="private_room" style="width: 120px !important;">
                            Private Room
                        </label>
                    </div>
                    <div class="radio-box" style="width:120px !important;">
                        <input type="radio" name="room_type" id="twin_sharing" value="twinsharing" {% if property_obj.room_type == 'twinsharing' %} checked {% endif %}>
                        <label for="twin_sharing" style="width: 120px !important;">
                            Twin Sharing
                        </label>
                    </div>
                    <div class="radio-box" style="width:120px !important;">
                        <input type="radio" name="room_type" id="triple_sharing" value="triplesharing" {% if property_obj.room_type == 'triplesharing' %} checked {% endif %}>
                        <label for="triple_sharing" style="width: 120px !important;">
                            Triple Sharing
                        </label>
                    </div>
                    <div class="radio-box" style="width:120px !important;">
                        <input type="radio" name="room_type" id="quad_sharing" value="quadsharing" {% if property_obj.room_type == 'quadsharing' %} checked {% endif %}>
                        <label for="quad_sharing" style="width: 120px !important;">
                            Quad Sharing
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6" style="margin-top:30px;" id="furnished_status">
            <div class="form-group">
                <label>Furnished Status</label>
                <div class="radio-container">
                    <div class="radio-box" style="width: 200px !important;">
                        <input type="radio" name="pg_furnished_status" id="furnished" value="furnished" {% if property_obj.pg_furnished_status == 'furnished' %} checked {% endif %}>
                        <label for="furnished" style="width: 200px !important;">
                            Fully Furnished
                        </label>
                    </div>
                    <div class="radio-box" style="width: 200px !important;">
                        <input type="radio" name="pg_furnished_status" id="semifurished" value="semifurished"{% if property_obj.pg_furnished_status == 'semifurished' %} checked {% endif %}>
                        <label for="semifurished" style="width: 200px !important;">
                            Semi Furnished
                        </label>
                    </div>
                    <div class="radio-box" style="width: 200px !important;">
                        <input type="radio" name="pg_furnished_status" id="unfurnished" value="unfurnished"{% if property_obj.pg_furnished_status == 'unfurnished' %} checked {% endif %}>
                        <label for="unfurnished" style="width: 200px !important;">
                            Un-Furnished
                        </label>
                    </div>
                   
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 colivingspace" style="width:100%;">
            <div class="form-group">
                <label>Food Available</label>
                <div class="radio-container">
                    <div class="radio-box" style="width: 100px !important;">
                        <input type="radio" name="food_available" id="breakfast" value="breakfast" {% if property_obj.food_available == 'breakfast' %} checked {% endif %}>
                        <label for="breakfast" style="width: 100px !important;">
                            Breakfast
                        </label>
                    </div>
                    <div class="radio-box" style="width: 100px !important;">
                        <input type="radio" name="food_available" id="lunch" value="lunch" {% if property_obj.food_available == 'lunch' %} checked {% endif %}>
                        <label for="lunch" style="width: 100px !important;">
                            Lunch
                        </label>
                    </div>
                    <div class="radio-box" style="width: 100px !important;">
                        <input type="radio" name="food_available" id="dinner" value="dinner" {% if property_obj.food_available == 'dinner' %} checked {% endif %}>
                        <label for="dinner" style="width: 100px !important;">
                            Dinner
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 colivingspace" style="width:100%;">
            <div class="form-group">
                <label>Food Charges Included</label>
                <div class="radio-container">
                    <div class="radio-box" style="width: 100px !important;">
                        <input type="radio" name="food_charges" id="foodchargesyes" value="yes" {% if property_obj.food_charges == 'yes' %} checked {% endif %}>
                        <label for="foodchargesyes" style="width: 100px !important;">
                            Yes
                        </label>
                    </div>
                    <div class="radio-box" style="width: 100px !important;">
                        <input type="radio" name="food_charges" id="foodchargesno" value="no" {% if property_obj.food_charges == 'no' %} checked {% endif %}>
                        <label for="foodchargesno" style="width: 100px !important;">
                            No
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 colivingspace" style="width:100%;">
            <div class="form-group">
                <label>Notice Period(Day"s)</label>
                <div class="radio-container">
                    <div class="radio-box" style="width: 100px !important;">
                        <input type="radio" name="notice_period" id="15" value="15" {% if property_obj.notice_period == '15' %} checked {% endif %}>
                        <label for="15" style="width: 100px !important;">
                            15
                        </label>
                    </div>
                    <div class="radio-box" style="width: 100px !important;">
                        <input type="radio" name="notice_period" id="30" value="30" {% if property_obj.notice_period == '30' %} checked {% endif %}>
                        <label for="30" style="width: 100px !important;">
                            30
                        </label>
                    </div>
                    <div class="radio-box" style="width: 100px !important;">
                        <input type="radio" name="notice_period" id="45" value="45" {% if property_obj.notice_period == '45' %} checked {% endif %}>
                        <label for="45" style="width: 100px !important;">
                            45
                        </label>
                    </div>
                    <div class="radio-box" style="width: 100px !important;">
                        <input type="radio" name="notice_period" id="others" value="others" {% if property_obj.notice_period == 'others' %} checked {% endif %}>
                        <label for="others" style="width: 100px !important;">
                            Others
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 colivingspace" style="width:100%;">
            <div class="form-group">
                <label>Electricity Charges Included</label>
                <div class="radio-container">
                    <div class="radio-box" style="width: 100px !important;">
                        <input type="radio" name="electricity_charges" id="electricityyes" value="yes" {% if property_obj.electricity_charges == 'yes' %} checked {% endif %}>
                        <label for="electricityyes" style="width: 100px !important;">
                            Yes
                        </label>
                    </div>
                    <div class="radio-box" style="width: 100px !important;">
                        <input type="radio" name="electricity_charges" id="electricityno" value="no" {% if property_obj.electricity_charges == 'no' %} checked {% endif %}>
                        <label for="electricityno" style="width: 100px !important;">
                            No
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 colivingspace" style="">
            <div class="form-group">
                <label>Total Number of Bed"s</label>
                <input type="text" class="form-control" name="no_of_bed" placeholder="Total Number of Bed's" value="{{property_obj.no_of_bed}}">
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 colivingspace" style="width:100%;">
            <div class="form-group">
                <label>PG,Hostel Rules</label>
                <div class="radio-container">
                    <div class="radio-box" style="width: 120px !important;">
                        <input type="radio" name="pg_rules" id="nosmoking" value="nosmoking" {% if property_obj.pg_rules == 'nosmoking' %} checked {% endif %}>
                        <label for="nosmoking" style="width: 120px !important;">
                            No Smoking
                        </label>
                    </div>
                    <div class="radio-box" style="width: 150px !important;">
                        <input type="radio" name="pg_rules" id="noguardians" value="noguardians" {% if property_obj.pg_rules == 'noguardians' %} checked {% endif %}>
                        <label for="noguardians" style="width: 150px !important;">
                            No Guardians Stay
                        </label>
                    </div>
                    <div class="radio-box" style="width: 120px !important;">
                        <input type="radio" name="pg_rules" id="nodrinking" value="nodrinking" {% if property_obj.pg_rules == 'nodrinking' %} checked {% endif %}>
                        <label for="nodrinking" style="width: 120px !important;">
                            No Drinking
                        </label>
                    </div>
                    <div class="radio-box" style="width: 120px !important;">
                        <input type="radio" name="pg_rules" id="nononveg" value="nononveg" {% if property_obj.pg_rules == 'nononveg' %} checked {% endif %}>
                        <label for="nononveg" style="width: 120px !important;">
                            No Non-Veg
                        </label>
                    </div>
                    <div class="radio-box" style="width: 120px !important;">
                        <input type="radio" name="pg_rules" id="visiterallow" value="visiterallow" {% if property_obj.pg_rules == 'visiterallow' %} checked {% endif %}>
                        <label for="visiterallow" style="width: 120px !important;">
                            Visiter Allow
                        </label>
                    </div>
                    <div class="radio-box" style="width: 100px !important;">
                        <input type="radio" name="pg_rules" id="party" value="party" {% if property_obj.pg_rules == 'party' %} checked {% endif %}>
                        <label for="party" style="width: 100px !important;">
                            Party
                        </label>
                    </div>
                    <div class="radio-box" style="width: 120px !important;">
                        <input type="radio" name="pg_rules" id="loudmusic" value="loudmusic" {% if property_obj.pg_rules == 'loudmusic' %} checked {% endif %}>
                        <label for="loudmusic" style="width: 120px !important;">
                            Loud music
                        </label>
                    </div>
                    <div class="radio-box" style="width: 150px !important;">
                        <input type="radio" name="pg_rules" id="oppositegender" value="oppositegender" {% if property_obj.pg_rules == 'oppositegender' %} checked {% endif %}>
                        <label for="oppositegender" style="width: 150px !important;">
                            Opposite Gender
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 colivingspace" style="width:100%;">
            <div class="form-group">
                <label>Gate Closing Time</label>
                <div class="radio-container">
                    <div class="radio-box" style="width: 100px !important;">
                        <input type="radio" name="gate_closing" id="gate1" value="yes" {% if property_obj.gate_closing == 'yes' %} checked {% endif %}>
                        <label for="gate1" style="width: 100px !important;">
                            Yes
                        </label>
                    </div>
                    <div class="radio-box" style="width: 100px !important;">
                        <input type="radio" name="gate_closing" id="gate2" value="no" {% if property_obj.gate_closing == 'no' %} checked {% endif %}>
                        <label for="gate2" style="width: 100px !important;">
                            No
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 colivingspace" style="width:100%;">
            <div class="form-group">
                <label>Available PG Services</label>
                <div class="radio-container">
                    <div class="radio-box" style="width: 100px !important;">
                        <input type="radio" name="pg_services" id="wifi" value="wifi" {% if property_obj.pg_services == 'wifi' %} checked {% endif %}>
                        <label for="wifi" style="width: 100px !important;">
                            WiFi
                        </label>
                    </div>
                    <div class="radio-box" style="width: 150px !important;">
                        <input type="radio" name="pg_services" id="laundary" value="laundary" {% if property_obj.pg_services == 'laundary' %} checked {% endif %}>
                        <label for="laundary" style="width: 150px !important;">
                            Laundary Service
                        </label>
                    </div>
                    <div class="radio-box" style="width: 170px !important;">
                        <input type="radio" name="pg_services" id="wheelchair" value="wheelchair" {% if property_obj.pg_services == 'wheelchair' %} checked {% endif %}>
                        <label for="wheelchair" style="width: 170px !important;">
                            Wheelchair Friendly
                        </label>
                    </div>
                    <div class="radio-box" style="width: 150px !important;">
                        <input type="radio" name="pg_services" id="pet" value="pet" {% if property_obj.pg_services == 'pet' %} checked {% endif %}>
                        <label for="pet" style="width: 150px !important;">
                            Pet Friendy
                        </label>
                    </div>
                    <div class="radio-box" style="width: 150px !important;">
                        <input type="radio" name="pg_services" id="roomcleaning" value="roomcleaning" {% if property_obj.pg_services == 'roomcleaning' %} checked {% endif %}>
                        <label for="roomcleaning" style="width: 150px !important;">
                            Room Cleaning
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    {% comment %} <div class="col-lg-12 col-md-12 col-sm-12    officespace" style="width:100%;display: none;">
        <div class="form-group">
            <label>Pantry</label>
            <div class="radio-container">
                <div class="radio-box" style="width: 90px !important;">
                    <input type="radio" name="pantry" id="wet" value="wet">
                    <label for="wet" style="width: 90px !important;">
                        Wet
                    </label>
                </div>
                <div class="radio-box" style="width: 60px !important;">
                    <input type="radio" name="pantry" id="dry" value="dry">
                    <label for="dry" style="width: 50px !important;">
                        Dry
                    </label>
                </div>
                <div class="radio-box" style="width: 60px !important;">
                    <input type="radio" name="pantry" id="none" value="none">
                    <label for="none" style="width: 50px !important;">
                        None
                    </label>
                </div>                                         
               
               
                
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12    officespace" style="width:100%;display: none;">
        <div class="form-group">
            <label>Covered Parking</label>
            <div class="radio-container">
                <div class="radio-box" style="width: 90px !important;">
                    <input type="radio" name="coveredparking" id="1coveredparking" value="1">
                    <label for="1coveredparking" style="width: 90px !important;">
                        1
                    </label>
                </div>
                <div class="radio-box" style="width: 60px !important;">
                    <input type="radio" name="coveredparking" id="2coveredparking" value="2">
                    <label for="2coveredparking" style="width: 50px !important;">
                        2
                    </label>
                </div>
                <div class="radio-box" style="width: 60px !important;">
                    <input type="radio" name="coveredparking" id="3coveredparking" value="3">
                    <label for="3coveredparking" style="width: 50px !important;">
                        3
                    </label>
                </div>
                <div class="radio-box" style="width: 60px !important;">
                    <input type="radio" name="coveredparking" id="4coveredparking" value="4">
                    <label for="4coveredparking" style="width: 50px !important;">
                        4
                    </label>
                </div>
                <div class="radio-box" style="width: 60px !important;">
                    <input type="radio" name="coveredparking" id="5coveredparking" value="5">
                    <label for="5coveredparking" style="width: 50px !important;">
                        5
                    </label>
                </div>
                <div class="radio-box" style="width: 60px !important;">
                    <input type="radio" name="coveredparking" id="6coveredparking" value="6">
                    <label for="6coveredparking" style="width: 50px !important;">
                        6
                    </label>
                </div>
                <div class="radio-box" style="width: 60px !important;">
                    <input type="radio" name="coveredparking" id="6+coveredparking" value="6+">
                    <label for="6+coveredparking" style="width: 50px !important;">
                        6+
                    </label>
                </div>
             </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12    officespace" style="width:100%;display: none;">
        <div class="form-group">
            <label>Open/UnCovered Parking</label>
            <div class="radio-container">
                <div class="radio-box" style="width: 90px !important;">
                    <input type="radio" name="uncoveredparking" id="n/a-uncovered" value="n/a-uncovered">
                    <label for="n/a-uncovered" style="width: 90px !important;">
                        N/A
                    </label>
                </div>
                <div class="radio-box" style="width: 90px !important;">
                    <input type="radio" name="uncoveredparking" id="1uncovered" value="1uncovered">
                    <label for="1uncovered" style="width: 90px !important;">
                        1
                    </label>
                </div>
                <div class="radio-box" style="width: 60px !important;">
                    <input type="radio" name="uncoveredparking" id="2uncovered" value="2uncovered">
                    <label for="2uncovered" style="width: 50px !important;">
                        2
                    </label>
                </div>
                <div class="radio-box" style="width: 60px !important;">
                    <input type="radio" name="uncoveredparking" id="3uncovered" value="3uncovered">
                    <label for="3uncovered" style="width: 50px !important;">
                        3
                    </label>
                </div>
                <div class="radio-box" style="width: 60px !important;">
                    <input type="radio" name="uncoveredparking" id="4uncovered" value="4uncovered">
                    <label for="4uncovered" style="width: 50px !important;">
                        4
                    </label>
                </div>
                <div class="radio-box" style="width: 60px !important;">
                    <input type="radio" name="uncoveredparking" id="5uncovered" value="5uncovered">
                    <label for="5uncovered" style="width: 50px !important;">
                        5
                    </label>
                </div>
                <div class="radio-box" style="width: 60px !important;">
                    <input type="radio" name="uncoveredparking" id="6uncovered" value="6uncovered">
                    <label for="6uncovered" style="width: 50px !important;">
                        6
                    </label>
                </div>
                <div class="radio-box" style="width: 60px !important;">
                    <input type="radio" name="uncoveredparking" id="6+uncovered" value="6+uncovered">
                    <label for="6+uncovered" style="width: 50px !important;">
                        6+
                    </label>
                </div>
             </div>
        </div>
    </div>
    <!--Balcony-->
    <div class="col-lg-12 col-md-12 col-sm-12  officespace" style="width:100%;display: none;">
        <div class="form-group">
            <label>Balcony</label>
            <div class="radio-container">
                <div class="radio-box" style="width: 100px !important;">
                    <input type="radio" name="balcony" id="connected" value="connected">
                    <label for="connected" style="width: 100px !important;">
                        Connected
                    </label>
                </div>
                <div class="radio-box" style="width: 100px !important;">
                    <input type="radio" name="balcony" id="Individual" value="Individual">
                    <label for="Individual" style="width: 100px !important;">
                        Individual
                    </label>
                </div>
                <div class="radio-box" style="width: 200px !important;">
                    <input type="radio" name="balcony" id="roomattached" value="roomattached">
                    <label for="roomattached" style="width: 200px !important;">
                        Room-attached
                    </label>
                </div>
             </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12  officespace" style="width:100%;display: none;">
        <div class="form-group">
            <label>Power Backup</label>
            <div class="radio-container">
                <div class="radio-box" style="width: 100px !important;">
                    <input type="radio" name="powerbackup" id="nobackup" value="yes">
                    <label for="nobackup" style="width: 100px !important;">
                        No Back-up
                    </label>
                </div>
                <div class="radio-box" style="width: 100px !important;">
                    <input type="radio" name="powerbackup" id="backupavailable" value="no">
                    <label for="backupavailable" style="width: 100px !important;">
                        Available
                    </label>
                </div>
             </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 officespace" style="width:100%;display: none;">
        <div class="form-group">
            <label>Lift Available</label>
            <div class="radio-container">
                <div class="radio-box" style="width: 90px !important;">
                    <input type="radio" name="liftavailable" id="liftyesavailable" value="yes">
                    <label for="liftyesavailable" style="width: 90px !important;">
                        Yes
                    </label>
                </div>
                <div class="radio-box" style="width: 60px !important;">
                    <input type="radio" name="liftavailable" id="liftnotavailable" value="no">
                    <label for="liftnotavailable" style="width: 50px !important;">
                        No
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6  officespace" style="display:none">
        <div class="form-group">
            <label>Select View</label>
            <select class="form-control" name="office_view">
                <option value="Beach View">Beach View</option>
                <option value="Garden View">Garden View</option>
                <option value="Golf Course">Golf Course</option>
                <option value="Lake View">Lake View</option>
                <option value="Park View">Park View</option>
                <option value="Road View">Road View</option>
                <option value="Community View">Community View</option>
                <option value="Pool View">Pool View</option>
                <option value="Creek View">Creek View</option>
                <option value="Sea View">Sea View</option>
            </select>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6  officespace" style="display:none">
        <div class="form-group">
            <label>Select Flooring</label>
            <select class="form-control" name="flooring">
                <option value="Marble">Marble</option>
                <option value="Concrete">Concrete</option>
                <option value="Cemented">Cemented</option>
                <option value="Carpeted">Carpeted</option>
                <option value="Wooden">Wooden</option>
                <option value="Others">Others</option>
                <option value="Community View">Community View</option>
            </select>
        </div>
    </div>
    <div class="col-lg-8 col-md-4 col-sm-6  officespace" style="display:none">
        <div class="form-group">
            <label>Floor No.</label>
            <input type="text" class="form-control" name="floorno" placeholder="Enter Number">
        </div>
    </div>
    <div class="col-lg-8 col-md-4 col-sm-6  officespace" style="display:none">
        <div class="form-group">
            <label>Tower/Block</label>
            <input type="text" class="form-control" name="towerblock" placeholder="Enter tower/block">
        </div>
    </div>
    <div class="col-lg-8 col-md-4 col-sm-6  officespace" style="display:none">
        <div class="form-group">
            <label>Unit No</label>
            <input type="text" class="form-control" name="unitno" placeholder="Enter Unit No.">
        </div>
    </div> {% endcomment %}
    
    <div class="row clearfix">
                                    
        <div class="col-lg-12 col-md-12 col-sm-12 hide_for_pg  residential_noofrooms" style="width:100%">
            <div class="form-group">
                <label>No. of rooms</label>
                <div class="radio-container">
                    <div class="radio-box" style="width: 90px !important;">
                        <input type="radio" name="no_of_rooms" id="studio" value="studio" {% if property_obj.no_of_rooms == 'studio' %} checked {% endif %}>
                        <label for="studio" style="width: 90px !important;">
                            Studio
                        </label>
                    </div>
                    <div class="radio-box" style="width: 60px !important;">
                        <input type="radio" name="no_of_rooms" id="1rk" value="1rk" {% if property_obj.no_of_rooms == '1rk' %} checked {% endif %}>
                        <label for="1rk" style="width: 50px !important;">
                            1 RK
                        </label>
                    </div>
                    <div class="radio-box" style="width: 60px !important;">
                        <input type="radio" name="no_of_rooms" id="1" value="1" {% if property_obj.no_of_rooms == '1' %} checked {% endif %}>
                        <label for="1" style="width: 50px !important;">
                            1
                        </label>
                    </div>
                    
                    <div class="radio-box" style="width: 60px !important;">
                        <input type="radio" name="no_of_rooms" id="2" value="2" {% if property_obj.no_of_rooms == '2' %} checked {% endif %}>
                        <label for="2" style="width: 50px !important;">
                            2
                        </label>
                    </div>
                    
                    <div class="radio-box" style="width: 60px !important;">
                        <input type="radio" name="no_of_rooms" id="3" value="3" {% if property_obj.no_of_rooms == '3' %} checked {% endif %}>
                        <label for="3" style="width: 50px !important;">
                            3
                        </label>
                    </div>
                   
                    <div class="radio-box" style="width: 60px !important;">
                        <input type="radio" name="no_of_rooms" id="4" value="4" {% if property_obj.no_of_rooms == '4' %} checked {% endif %}>
                        <label for="4" style="width: 50px !important;">
                            4
                        </label>
                    </div>
                    <div class="radio-box" style="width: 60px !important;">
                        <input type="radio" name="no_of_rooms" id="5" value="5" {% if property_obj.no_of_rooms == '5' %} checked {% endif %}>
                        <label for="5" style="width: 50px !important;">
                            5
                        </label>
                    </div>
                    <div class="radio-box" style="width: 60px !important;">
                        <input type="radio" name="no_of_rooms" id="6" value="6" {% if property_obj.no_of_rooms == '6' %} checked {% endif %}>
                        <label for="6" style="width: 50px !important;">
                            5+
                        </label>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-6 col-sm-6 hide_for_pg" style="margin-top:30px;" id="possession_type">
            <div class="form-line">
                <label>Possession Type:</label>&nbsp;&nbsp;&nbsp;&nbsp;
                <div class="radio-container">
                    <div class="radio-box" style="width: 200px !important;">
                        <input type="radio" name="possession_type" id="readytomove" value="Ready to Move" {% if property_obj.possession_type == 'Ready to Move' %} checked {% endif %} onclick="showpossessionyear(this.value)">
                        <label for="readytomove" style="width: 200px !important;">
                            Ready to Move
                        </label>
                    </div>
                    <div class="radio-box" style="width: 200px !important;">
                        <input type="radio" name="possession_type" id="under_construction" value="Under Construction" {% if property_obj.possession_type == 'Under Construction' %} checked {% endif %} onclick="showpossessionyear(this.value)">
                        <label for="under_construction" style="width: 200px !important;">
                            Under Construction
                        </label>
                    </div>
                   
                </div>
                
                &nbsp;&nbsp;
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12   hide_for_pg" style="width:100%;">
            <div class="form-group">
                <label>Religion Bias</label>
                <div class="radio-container">
                    <div class="radio-box" style="width: 90px !important;">
                        <input type="radio" name="parking" id="yes" value="yes">
                        <label for="yes" style="width: 90px !important;">
                            Yes
                        </label>
                    </div>
                    <div class="radio-box" style="width: 60px !important;">
                        <input type="radio" name="parking" id="no" value="no">
                        <label for="no" style="width: 50px !important;">
                            No
                        </label>
                    </div>
                 </div>
            </div>
        </div>
        
        <div class="col-lg-12 col-md-4 col-sm-6 hide_for_pg hideforland" id="possessionyear" style="display:none !important;">
            <div class="form-group">
                <label>Possession Year</label>
                <input type="text" class="form-control" name="possession_year" placeholder="Possession Year" value="{{ property_obj.possession_year }}">
            </div>
        </div>
        
    <div class="row" style="">
        <div class="col-sm-4">
            
            <style>
                /* Style for the checkbox container */
                .checkbox-container {
                    display: flex;
                }
        
                /* Style for each checkbox */
                .checkbox-box {
                    display: inline-block;
                    margin-right: 10px;
                }
        
                /* Style for the checkbox input (hidden) */
                .checkbox-box input[type="checkbox"] {
                    display: none;
                }
        
                /* Style for the checkbox label (the visible part) */
                .checkbox-box label {
                    border:1px solid black;
                    display: block;
                    width: 50px;
                    height: 50px;
                    background-color: #f0f0f0;
                    text-align: center;
                    line-height: 50px;
                    cursor: pointer;
                }
        
                /* Style for the selected checkbox label */
                .checkbox-box input[type="checkbox"]:checked + label {
                    background-color: #3498db;
                    color: #fff;
                }
                #amenities{
                    margin-left:20px !important;
                }
            </style>
           
        </div>
        
        
        <div class="col-lg-12 col-md-6 col-sm-6 showforland hide_for_pg" style="display:none">
            <div class="form-group">
                <label>Plot Area(Sq. Ft)</label>
                <input type="text" class="form-control" name="area" placeholder="Square ft" value="{{ property_obj.plotarea }}">
            </div>
        </div>
        <div class="col-lg-12 col-md-6 col-sm-6 showforland hide_for_pg"  style="display:none">
            <div class="form-group">
                <label>Plot Area Type</label>
                <select class="form-control" name="area_type">
                    <option value="sqft" {% if property_obj.plot_area_type == 'sqft' %} selected {% endif %}>Sq. Ft.</option>
                    <option value="sqyd" {% if property_obj.plot_area_type == 'sqyd' %} selected {% endif %}>Sq. Yd.</option>
                    <option value="sqmt" {% if property_obj.plot_area_type == 'sqmt' %} selected {% endif %}>Sq. Mt.</option>
                    <option value="acre" {% if property_obj.plot_area_type == 'acre' %} selected {% endif %}>Acre</option>
                </select>
            </div>
        </div>
        </div>
        
        <div class="col-lg-12 col-md-4 col-sm-6 hideforland hide_for_pg" style="display:none">
            <div class="form-group">
                <label>Area(Sq. Ft)</label>
                <input type="text" class="form-control" name="residential_area" placeholder="Square ft">
            </div>
        </div>
        <div class="col-lg-12 col-md-4 col-sm-6 hideforland hide_for_pg" style="display:none">
            <div class="form-group">
                <label>Area Type</label>
                <select class="form-control" name="area_type">
                    <option value="builtup-area">Built-up Area</option>
                    <option value="saleable-area">Saleable Area</option>
                    <option value="carpet-area">Carpet Area</option>
                    <option value="plot-area">Plot Area</option>
                </select>
            </div>
        </div>
        <div class="col-lg-6 col-md-4 col-sm-6 terracearea hide_for_pg"  style="display:none;">
            <div class="form-group">
                <label>Terrace Area(Sq. Ft)</label>
                <input type="text" class="form-control" name="residential_terracearea" placeholder="Square ft" value="{{ property_obj.terracearea }}">
            </div>
        </div>
        <div class="col-lg-6 col-md-4 col-sm-6 terracearea hide_for_pg" style="display:none;">
            <div class="form-group">
                <label>Terrace Type</label>
                <select class="form-control" name="terrace_area_type">
                    <option value="builtup-area" {% if property_obj.terrace_area_type == 'builtup-area' %} selected {% endif %}>Built-up Area</option>
                    <option value="saleable-area" {% if property_obj.terrace_area_type == 'saleable-area' %} selected {% endif %}>Saleable Area</option>
                    <option value="carpet-area" {% if property_obj.terrace_area_type == 'carpet-area' %} selected {% endif %}>Carpet Area</option>
                    <option value="plot-area" {% if property_obj.terrace_area_type == 'plot-area' %} selected {% endif %}>Plot Area</option>
                </select>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 hideforland hide_for_pg">
            <div class="form-group">
                <label>Bathrooms</label>
                <input type="number" class="form-control" name="bathroom" placeholder="Enter Number" value="{{ property_obj.bathroom }}">
            </div>
        </div>
       
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 hide_for_pg" style="margin-top:30px;" id="furnished_status">
        <div class="form-group">
            <label>Furnished Status</label>
            <div class="radio-container">
                <div class="radio-box" style="width: 200px !important;">
                    <input type="radio" name="furnished_status" id="Furnished" value="furnished" {% if property_obj.furnished_status == 'furnished' %} checked {% endif %}>
                    <label for="Furnished" style="width: 200px !important;">
                        Fully Furnished
                    </label>
                </div>
                <div class="radio-box" style="width: 200px !important;">
                    <input type="radio" name="furnished_status" id="semifurished" value="semifurished" {% if property_obj.furnished_status == 'semifurished' %} checked {% endif %}>
                    <label for="semifurished" style="width: 200px !important;">
                        Semi Furnished
                    </label>
                </div>
                <div class="radio-box" style="width: 200px !important;">
                    <input type="radio" name="furnished_status" id="No" value="No" {% if property_obj.furnished_status == 'No' %} checked {% endif %}>
                    <label for="No" style="width: 200px !important;">
                        Un-Furnished
                    </label>
                </div>
               
            </div>
        </div>
    </div>
    
   
</div>
    
    
    
    

    

    