<!doctype html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="RealEstate Admin Dashboard template, UI kit, Bootstrap 4x">
        <meta name="author" content="Thememakker">

        <title>Realezi : Builder</title>
        <link rel="icon" href="favicon.ico" type="image/x-icon"> 
        <link rel="stylesheet" href="{% static 'embeddcsjss/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'embeddcsjss/chart.css' %}" />
        <script src="{% static 'embeddcsjss/colorpicker.js' %}" ></script>
        <!-- Custom Css -->
        <link rel="stylesheet" href="{% static 'admin/assets/css/main.css' %}">

        <link rel="stylesheet" href="{% static 'embeddcsjss/embed.css' %}" />
        
        <style>
            input{
                border:1px solid black !important;
            }
            .theme-purple .menu>ul>li>ul.normal-sub>li a:hover,.theme-purple .menu>ul>li>ul>li>ul>li a:hover{background-color:#405086d6}.theme-purple.sidebar-collapse .navbar-collapse:before{background-color:#405086d6}.theme-purple .btn-primary{background:#405086d6}.theme-purple .btn-primary:active,.theme-purple .btn-primary:hover,.theme-purple .btn-primary:focus{background:#405086d6}.theme-purple .btn-primary.btn-simple{border-color:#405086d6;color:#405086d6;background:transparent}.theme-purple .block-header h2{color:#fff}.theme-purple .block-header h2 small{color:#fff}.theme-purple section.content:before{background-color:#405086d6}.theme-purple .navbar,.theme-purple .page-loader-wrapper{background:#405086d6}.theme-purple .bars{color:#fff}.theme-purple .sidebar .menu .list li.active{background-color:transparent}.theme-purple .sidebar .menu .list li.active>:first-child i,.theme-purple .sidebar .menu .list li.active>:first-child span{color:#405086d6}.theme-purple .sidebar .menu .list a:hover{color:#405086d6}.theme-purple .checkbox input[type="checkbox"]:checked+label::after{border:1px solid #405086d6}.theme-purple .nav-tabs .nav-link.active,.theme-purple .nav-tabs .nav-link:hover{border:1px solid #405086d6 !important;background:#405086d6;color:#fff}.theme-purple .card .header h2:before{background:#405086d6}.theme-purple .card .header h2 strong{color:#405086d6}.theme-blue .menu>ul>li>ul.normal-sub>li a:hover,.theme-blue .menu>ul>li>ul>li>ul>li a:hover{background-color:#569dd2}.theme-blue.sidebar-collapse .navbar-collapse:before{background-color:#569dd2}.theme-blue .btn-primary{background:#569dd2}.theme-blue .btn-primary:active,.theme-blue .btn-primary:hover,.theme-blue .btn-primary:focus{background:#569dd2}.theme-blue .btn-primary.btn-simple{border-color:#569dd2;color:#569dd2;background:transparent}.theme-blue .block-header h2{color:#fff}.theme-blue .block-header h2 small{color:#fff}.theme-blue section.content:before{background-color:#569dd2}.theme-blue .navbar,.theme-blue .page-loader-wrapper{background:#569dd2}.theme-blue .bars{color:#fff}.theme-blue .sidebar .menu .list li.active{background-color:transparent}.theme-blue .sidebar .menu .list li.active>:first-child i,.theme-blue .sidebar .menu .list li.active>:first-child span{color:#569dd2}.theme-blue .sidebar .menu .list a:hover{color:#569dd2}.theme-blue .checkbox input[type="checkbox"]:checked+label::after{border:1px solid #569dd2}.theme-blue .nav-tabs .nav-link.active{border:1px solid #569dd2 !important}.theme-blue .card .header h2:before{background:#569dd2}.theme-blue .card .header h2 strong{color:#569dd2}.theme-cyan .menu>ul>li>ul.normal-sub>li a:hover,.theme-cyan .menu>ul>li>ul>li>ul>li a:hover{background-color:#6bcccd}.theme-cyan.sidebar-collapse .navbar-collapse:before{background-color:#58b9ba}.theme-cyan .btn-primary{background:#58b9ba}.theme-cyan .btn-primary:active,.theme-cyan .btn-primary:hover,.theme-cyan .btn-primary:focus{background:#6bcccd}.theme-cyan .btn-primary.btn-simple{border-color:#58b9ba;color:#58b9ba;background:transparent}.theme-cyan .block-header h2{color:#fff}.theme-cyan .block-header h2 small{color:#fff}.theme-cyan section.content:before{background-color:#6bcccd}.theme-cyan .navbar,.theme-cyan .page-loader-wrapper{background:#6bcccd}.theme-cyan .bars{color:#fff}.theme-cyan .sidebar .menu .list li.active{background-color:transparent}.theme-cyan .sidebar .menu .list li.active>:first-child i,.theme-cyan .sidebar .menu .list li.active>:first-child span{color:#58b9ba}.theme-cyan .sidebar .menu .list a:hover{color:#58b9ba}.theme-cyan .checkbox input[type="checkbox"]:checked+label::after{border:1px solid #58b9ba}.theme-cyan .nav-tabs .nav-link.active{border:1px solid #58b9ba !important}.theme-cyan .card .header h2:before{background:#58b9ba}.theme-cyan .card .header h2 strong{color:#58b9ba}.theme-green .menu>ul>li>ul.normal-sub>li a:hover,.theme-green .menu>ul>li>ul>li>ul>li a:hover{background-color:#56b68b}.theme-green.sidebar-collapse .navbar-collapse:before{background-color:#4b9f79}.theme-green .btn-primary{background:#4b9f79}.theme-green .btn-primary:active,.theme-green .btn-primary:hover,.theme-green .btn-primary:focus{background:#56b68b}.theme-green .btn-primary.btn-simple{border-color:#4b9f79;color:#4b9f79;background:transparent}.theme-green .block-header h2{color:#fff}.theme-green .block-header h2 small{color:#fff}.theme-green section.content:before{background-color:#56b68b}.theme-green .navbar,.theme-green .page-loader-wrapper{background:#56b68b}.theme-green .bars{color:#fff}.theme-green .sidebar .menu .list li.active{background-color:transparent}.theme-green .sidebar .menu .list li.active>:first-child i,.theme-green .sidebar .menu .list li.active>:first-child span{color:#4b9f79}.theme-green .sidebar .menu .list a:hover{color:#4b9f79}.theme-green .checkbox input[type="checkbox"]:checked+label::after{border:1px solid #4b9f79}.theme-green .nav-tabs .nav-link.active{border:1px solid #4b9f79 !important}.theme-green .card .header h2:before{background:#4b9f79}.theme-green .card .header h2 strong{color:#4b9f79}.theme-orange .menu>ul>li>ul.normal-sub>li a:hover,.theme-orange .menu>ul>li>ul>li>ul>li a:hover{background-color:#f0a058}.theme-orange.sidebar-collapse .navbar-collapse:before{background-color:#ff9e47}.theme-orange .btn-primary{background:#ff9e47}.theme-orange .btn-primary:active,.theme-orange .btn-primary:hover,.theme-orange .btn-primary:focus{background:#f0a058}.theme-orange .btn-primary.btn-simple{border-color:#ff9e47;color:#ff9e47;background:transparent}.theme-orange .block-header h2{color:#fff}.theme-orange .block-header h2 small{color:#fff}.theme-orange section.content:before{background-color:#f0a058}.theme-orange .navbar,.theme-orange .page-loader-wrapper{background:#f0a058}.theme-orange .bars{color:#fff}.theme-orange .sidebar .menu .list li.active{background-color:transparent}.theme-orange .sidebar .menu .list li.active>:first-child i,.theme-orange .sidebar .menu .list li.active>:first-child span{color:#ff9e47}.theme-orange .sidebar .menu .list a:hover{color:#ff9e47}.theme-orange .checkbox input[type="checkbox"]:checked+label::after{border:1px solid #ff9e47}.theme-orange .nav-tabs .nav-link.active{border:1px solid #ff9e47 !important}.theme-orange .card .header h2:before{background:#ff9e47}.theme-orange .card .header h2 strong{color:#ff9e47}.theme-blush .menu>ul>li>ul.normal-sub>li a:hover,.theme-blush .menu>ul>li>ul>li>ul>li a:hover{background-color:#e96889}.theme-blush.sidebar-collapse .navbar-collapse:before{background-color:#e96875}.theme-blush .btn-primary{background:#e96875}.theme-blush .btn-primary:active,.theme-blush .btn-primary:hover,.theme-blush .btn-primary:focus{background:#e96889}.theme-blush .btn-primary.btn-simple{border-color:#e96875;color:#e96875;background:transparent}.theme-blush .block-header h2{color:#fff}.theme-blush .block-header h2 small{color:#fff}.theme-blush section.content:before{background-color:#e96875}.theme-blush .navbar,.theme-blush .page-loader-wrapper{background:#e96875}.theme-blush .bars{color:#fff}.theme-blush .sidebar .menu .list li.active{background-color:transparent}.theme-blush .sidebar .menu .list li.active>:first-child i,.theme-blush .sidebar .menu .list li.active>:first-child span{color:#e96875}.theme-blush .sidebar .menu .list a:hover{color:#e96875}.theme-blush .checkbox input[type="checkbox"]:checked+label::after{border:1px solid #e96875}.theme-blush .nav-tabs .nav-link.active{border:1px solid #e96875 !important}.theme-blush .card .header h2:before{background:#e96875}.theme-blush .card .header h2 strong{color:#e96875}

        </style>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <style>
            /* Style for the radio container */
            .radio-container {
                display: flex;
            }
    
            /* Style for each radio box */
            .radio-box {
                display: inline-block;
                margin-right: 10px;
            }
    
            /* Style for the radio input (hidden) */
            .radio-box input[type="radio"] {
                display: none;
            }
    
            /* Style for the radio label (the visible part) */
            .radio-box label {
                display: block;
                width: 60px;
                height: 40px;
                border:1px solid grey;
                text-align: center;
                line-height: 40px;
                cursor: pointer;
                border-radius: 17px;
            }
    
            /* Style for the flag icon */
            .flag-icon {
                font-size: 30px;
                margin-bottom: 10px;
            }
    
            /* Style for the selected radio label */
            .radio-box input[type="radio"]:checked + label {
                background-color: #3498db;
                color: #fff;
            }

            {% comment %} ----------- {% endcomment %}

            /* Style for the checkbox container */
            .multi-check .checkbox-container {
                display: flex;
            }
    
            /* Style for each checkbox box */
            .multi-check .checkbox-box {
                display: inline-block;
                margin-right: 10px;
            }
    
            /* Style for the checkbox input (hidden) */
            .multi-check .checkbox-box input[type="checkbox"] {
                display: none;
            }
    
            /* Style for the checkbox label (the visible part) */
            .multi-check .checkbox-box label {
                display: block;
                width: 60px;
                height: 40px;
                border:1px solid grey;
                text-align: center;
                line-height: 40px;
                cursor: pointer;
                border-radius: 17px;
            }
    
            /* Style for the flag icon */
            .flag-icon {
                font-size: 30px;
                margin-bottom: 10px;
            }
    
            /* Style for the selected checkbox label */
            .multi-check .checkbox-box input[type="checkbox"]:checked + label {
                background-color: #3498db;
                color: #fff;
            }




        
            .stepwizard-step p {
                margin-top: 10px;
            }
            .stepwizard-row {
                display: table-row;
            }
            .stepwizard {
                display: table;
                width: 50%;
                position: relative;
            }
            .stepwizard-step button[disabled] {
                opacity: 1 !important;
                filter: alpha(opacity=100) !important;
            }
            .stepwizard-row:before {
                top: 14px;
                bottom: 0;
                position: absolute;
                content: " ";
                width: 100%;
                height: 1px;
                background-color: #ccc;
                z-order: 0;
            }
            .stepwizard-step {
                display: table-cell;
                text-align: center;
                position: relative;
            }
            .btn-circle {
                width: 30px;
                height: 30px;
                text-align: center;
                padding: 6px 0;
                font-size: 12px;
                line-height: 1.428571429;
                border-radius: 15px;
            }
        </style>
    </head>
    <body class="" style="margin-left:3%;">
        {% include 'builder/sidebars.html' %}
        <!-- Chat-launcher -->
        <div class="chat-launcher"></div>
        <div class="chat-wrapper">
            <div class="card">
                <div class="header">
                    <ul class="list-unstyled team-info margin-0">
                        <li class="m-r-15"><h2>Agent Team</h2></li>
                        <li><img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar2.jpg" alt="Avatar"></li>
                        <li><img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar3.jpg" alt="Avatar"></li>
                        <li><img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar4.jpg" alt="Avatar"></li>
                        <li><img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar6.jpg" alt="Avatar"></li>
                        <li><a href="javascript:void(0);" title="Add Member"><i class="zmdi zmdi-plus-circle"></i></a></li>
                    </ul>
                </div>
                <div class="body">
                    <div class="chat-widget">
                    <ul class="chat-scroll-list clearfix">
                        <li class="left float-left">
                            <img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar3.jpg" class="rounded-circle" alt="">
                            <div class="chat-info">
                                <a class="name" href="javascript:void(0);">Alexander</a>
                                <span class="datetime">6:12</span>
                                <span class="message">Hello, John </span>
                            </div>
                        </li>
                        <li class="right">
                            <div class="chat-info"><span class="datetime">6:15</span> <span class="message">Hi, Alexander<br> How are you!</span> </div>
                        </li>
                        <li class="right">
                            <div class="chat-info"><span class="datetime">6:16</span> <span class="message">There are many variations of passages of Lorem Ipsum available</span> </div>
                        </li>
                        <li class="left float-left"> <img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar2.jpg" class="rounded-circle" alt="">
                            <div class="chat-info"> <a class="name" href="javascript:void(0);">Elizabeth</a> <span class="datetime">6:25</span> <span class="message">Hi, Alexander,<br> John <br> What are you doing?</span> </div>
                        </li>
                        <li class="left float-left"> <img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar1.jpg" class="rounded-circle" alt="">
                            <div class="chat-info"> <a class="name" href="javascript:void(0);">Michael</a> <span class="datetime">6:28</span> <span class="message">I would love to join the team.</span> </div>
                        </li>
                            <li class="right">
                            <div class="chat-info"><span class="datetime">7:02</span> <span class="message">Hello, <br>Michael</span> </div>
                        </li>
                    </ul>
                    </div>
                    <div class="input-group p-t-15">
                        <input type="text" class="form-control" placeholder="Enter text here...">
                        <span class="input-group-addon">
                            <i class="zmdi zmdi-mail-send"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
       
        <!-- Main Content -->
        <section class="content">
            <div class="block-header">
                <div class="row" style="margin-top:-80px;">
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <h2 style="font-weight:bold;">Post Residential Property
                        <small></small>
                        </h2>
                    </div>            
                    
                </div>
            </div>
            <div class="container-fluid" style="margin-top:-50px;">
                <div class="row clearfix">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="header">
                                <ul class="header-dropdown m-r--5">
                                    <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="zmdi zmdi-more-vert"></i></a>
                                        <ul class="dropdown-menu pull-right">
                                            <li><a href="javascript:void(0);" class=" waves-effect waves-block">Action</a></li>
                                            <li><a href="javascript:void(0);" class=" waves-effect waves-block">Another action</a></li>
                                            <li><a href="javascript:void(0);" class=" waves-effect waves-block">Something else here</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <!---Start Here-->
                            <style>
                                .step {
                                    display: none;
                                }
                                .step-active {
                                    display: block;
                                }
                            </style>
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="hidden" name="property_edit_for" value="residential_commercial">
                                <!-- Step 1: Residential Details -->
                                <div class="step step-active" id="step-1">
                                    <h4>Residential Details</h4>
                                    {% include 'builder/editresidentialDetailsContainer.html' %}
                                    <button type="button" class="btn btn-primary" onclick="nextStep(1)">Next</button>
                                </div>
                        
                                <!-- Step 2: Commercial Details -->
                                <div class="step" id="step-2">
                                    <h4>Commercial Details</h4>
                                    {% include 'builder/editcommercialDetailsContainer.html' %}
                                    <button type="button" class="btn btn-secondary" onclick="previousStep(2)">Previous</button>
                                    <button type="button" class="btn btn-primary" onclick="nextStep(2)">Next</button>
                                </div>

                                <!-- Step 3: General Information -->
                                <div class="step" id="step-3">
                                    <h4>General Information</h4>
                                    {% include 'builder/editgeneral_information.html' %}
                                    <button type="button" class="btn btn-secondary" onclick="previousStep(3)">Previous</button>
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </form>
                        
                        
                        <!-- Bootstrap JS -->
                        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
                        
                        <!-- Custom JS -->
                        {% comment %} <script>
                          
                            function nextStep() {
                                document.getElementById('step-1').classList.remove('step-active');
                                document.getElementById('step-2').classList.add('step-active');
                            }
                        
                            function previousStep() {
                                document.getElementById('step-2').classList.remove('step-active');
                                document.getElementById('step-1').classList.add('step-active');
                            }
                        </script> {% endcomment %}
                        <script>
                            function nextStep(step) {
                                document.getElementById('step-' + step).classList.remove('step-active');
                                document.getElementById('step-' + (step + 1)).classList.add('step-active');
                            }
                        
                            function previousStep(step) {
                                document.getElementById('step-' + step).classList.remove('step-active');
                                document.getElementById('step-' + (step - 1)).classList.add('step-active');
                            }
                        </script>
                            <!---End Here-->
            
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
       
        
        <script>
            // Get the input element
            const videoUrlInput = document.getElementById('videoUrl');
    
            // Get the error message element
            const errorMessage = document.getElementById('errorMessage');
    
            // Add event listener for focus out
            videoUrlInput.addEventListener('blur', function () {
                // Check if the input value contains "youtube.com"
                if (!videoUrlInput.value.includes('youtube.com')) {
                    // Show the error message
                    errorMessage.style.display = 'block';
                } else {
                    // Hide the error message
                    errorMessage.style.display = 'none';
                }
            });
        </script>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const imageCheckboxes = document.querySelectorAll('.form-control[type="checkbox"]');
                
                imageCheckboxes.forEach(function (checkbox) {
                    checkbox.addEventListener('change', function () {
                        const correspondingImage = this.closest('.inlineblock').querySelector('img');
                        correspondingImage.click();
                    });
        
                    const correspondingImage = checkbox.closest('.inlineblock').querySelector('img');
                    correspondingImage.addEventListener('click', function () {
                        checkbox.click();
                    });
                });
            });
        </script>
        <script>
            function convertNumberToWords(number) {
              // Replace this function with a more robust implementation for converting numbers to words
              // This is a simple example and may not cover all edge cases
              // You can use external libraries for more accurate results
        
              const units = ['', 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine'];
              const teens = ['', 'eleven', 'twelve', 'thirteen', 'fourteen', 'fifteen', 'sixteen', 'seventeen', 'eighteen', 'nineteen'];
              const tens = ['', 'ten', 'twenty', 'thirty', 'forty', 'fifty', 'sixty', 'seventy', 'eighty', 'ninety'];
        
              function convertChunk(chunk) {
                let words = '';
        
                if (chunk >= 100) {
                  words += units[Math.floor(chunk / 100)] + ' hundred ';
                  chunk %= 100;
                }
        
                if (chunk >= 20) {
                  words += tens[Math.floor(chunk / 10)] + ' ';
                  chunk %= 10;
                }
        
                if (chunk > 0) {
                  if (chunk >= 11 && chunk <= 19) {
                    words += teens[chunk - 10] + ' ';
                  } else {
                    words += units[chunk] + ' ';
                  }
                }
        
                return words;
              }
        
              const crore = Math.floor(number / 10000000);
              const lakh = Math.floor((number % 10000000) / 100000);
              const thousand = Math.floor((number % 100000) / 1000);
              const remaining = number % 1000;
        
              let words = '';
        
              if (crore > 0) {
                words += convertChunk(crore) + 'crore ';
              }
        
              if (lakh > 0) {
                words += convertChunk(lakh) + 'lakh ';
              }
        
              if (thousand > 0) {
                words += convertChunk(thousand) + 'thousand ';
              }
        
              if (remaining > 0) {
                words += convertChunk(remaining);
              }
        
              return words.trim();
            }
        
            $(document).ready(function () {
              $('#priceInput').on('input', function () {
                // Get the entered value
                let inputValue = $(this).val();
        
                // Remove non-digit characters
                inputValue = inputValue.replace(/\D/g, '');
        
                // Check if the input is a valid number
                if (!inputValue) {
                  // Clear the outputs if the input is not a valid number
                  $('#formattedOutput').val('');
                  $('#wordsOutput').val('');
                  return;
                }
        
                // Format the number with commas
                let formattedValue = Number(inputValue).toLocaleString();
        
                // Convert the number to words
                let words = convertNumberToWords(inputValue);
        
                // Set the formatted value and words to the respective inputs
                $('#formattedOutput').val(formattedValue);
                $('#wordsOutput').val(words + ' rupees only/-');
              });
            });
          </script>
        <style>
            .image-container {
                border:1px solid grey;
                padding:10px;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 10px 0; /* Add margin above and below the container */
            }
        
            .image-container img {
                width: 200px; /* Adjust the width as needed */
                height: auto;
            }
        
            .image-options {
                margin: 10px 0; /* Add margin above and below the dropdown and radio button group */
                display: flex;
                align-items: center;
            }
        
            .image-options label {
                margin-left:10px;
                margin-right: 3px; /* Add margin to the right of the label */
            }
            label{
                font-weight:bold;
            }
        </style>
     <script>
             $(document).ready(function () {
                const dropZone = document.getElementById('dropZone');
                const fileInput_floorplan = document.getElementById('fileInput_floorplan');
                const imagePreviews_floorplan = document.getElementById('imagePreviews_floorplan');
                const selectedFiles = []; // Store selected files

                // Prevent default drag behaviors
                ['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
                    dropZone.addEventListener(eventName, preventDefaults, false);
                    document.body.addEventListener(eventName, preventDefaults, false);
                });

                // Highlight drop zone on drag enter
                ['dragenter', 'dragover'].forEach(eventName => {
                    dropZone.addEventListener(eventName, highlight, false);
                });

                // Remove highlight on drag leave
                ['dragleave', 'drop'].forEach(eventName => {
                    dropZone.addEventListener(eventName, unhighlight, false);
                });

                // Handle dropped files
                dropZone.addEventListener('drop', handleDrop, false);

                // Handle file input change
                fileInput_floorplan.addEventListener('change', handlefileInput_floorplan, false);

                function preventDefaults(e) {
                    e.preventDefault();
                    e.stopPropagation();
                }

                function highlight() {
                    dropZone.classList.add('highlighted');
                }

                function unhighlight() {
                    dropZone.classList.remove('highlighted');
                }

                function handleDrop(e) {
                    const dt = e.dataTransfer;
                    const files = dt.files;

                    handleFiles_floor(files);
                }

                function handleFiles_floor(files) {
    for (const file of files) {
        if (file.type.startsWith('image/')) {
            const reader = new FileReader();

            reader.onload = function () {
                const img = new Image();
                img.src = reader.result;
                img.classList.add('preview-image');

                const imageTypeInput = document.createElement('input');
                imageTypeInput.type = 'text';
                imageTypeInput.placeholder = 'Enter Image Type';
                imageTypeInput.classList.add('image-options');

                const coverImageRadio = document.createElement('input');
                coverImageRadio.type = 'radio';
                coverImageRadio.name = 'coverImageRadio_floor';
                coverImageRadio.value = file.name;
                coverImageRadio.classList.add('image-options');

                const coverImageLabel = document.createElement('label');
                coverImageLabel.textContent = 'Cover';
                coverImageLabel.classList.add('image-options');

                const closeButton = document.createElement('button');
                closeButton.textContent = 'X';
                closeButton.addEventListener('click', () => {
                    img.remove();
                    closeButton.remove();
                    imageTypeInput.remove();
                    coverImageRadio.remove();
                    coverImageLabel.remove();
                    selectedFiles.splice(selectedFiles.indexOf(file), 1);
                });

                const container = document.createElement('div');
                container.classList.add('image-container');
                container.appendChild(img);

                const optionsContainer = document.createElement('div');
                optionsContainer.classList.add('image-options');
                optionsContainer.appendChild(imageTypeInput);
                optionsContainer.appendChild(coverImageLabel);
                optionsContainer.appendChild(coverImageRadio);

                container.appendChild(optionsContainer);
                container.appendChild(closeButton);

                imagePreviews_floorplan.appendChild(container);
                selectedFiles.push(file);
            };

            reader.readAsDataURL(file);
        }
    }
}

        function handlefileInput_floorplan(e) {
            const files = e.target.files;
            handleFiles_floor(files);
        }
    });

             $(document).ready(function () {
                const dropZone = document.getElementById('dropZone');
                const fileInput = document.getElementById('fileInput');
                const imagePreviews = document.getElementById('imagePreviews');
                const selectedFiles = []; // Store selected files

                // Prevent default drag behaviors
                ['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
                    dropZone.addEventListener(eventName, preventDefaults, false);
                    document.body.addEventListener(eventName, preventDefaults, false);
                });

                // Highlight drop zone on drag enter
                ['dragenter', 'dragover'].forEach(eventName => {
                    dropZone.addEventListener(eventName, highlight, false);
                });

                // Remove highlight on drag leave
                ['dragleave', 'drop'].forEach(eventName => {
                    dropZone.addEventListener(eventName, unhighlight, false);
                });

                // Handle dropped files
                dropZone.addEventListener('drop', handleDrop, false);

                // Handle file input change
                fileInput.addEventListener('change', handleFileInput, false);

                function preventDefaults(e) {
                    e.preventDefault();
                    e.stopPropagation();
                }

                function highlight() {
                    dropZone.classList.add('highlighted');
                }

                function unhighlight() {
                    dropZone.classList.remove('highlighted');
                }

                function handleDrop(e) {
                    const dt = e.dataTransfer;
                    const files = dt.files;

                    handleFiles(files);
                }

                function handleFiles(files) {
                    for (const file of files) {
                        if (file.type.startsWith('image/')) {
                            const reader = new FileReader();

                            reader.onload = function () {
                                const img = new Image();
                                img.src = reader.result;
                                img.classList.add('preview-image');

                                const imageTypeDropdown = document.createElement('select');
                                imageTypeDropdown.classList.add('image-options'); // Add margin above and below dropdown
                                const option1 = document.createElement('option');
                                option1.value = 'Exterior';
                                option1.text = 'Exterior Image';
                                const option2 = document.createElement('option');
                                option2.value = 'Interior';
                                option2.text = 'Interior Image';
                                const option3 = document.createElement('option')
                                option3.value = 'Amenities'
                                option3.text = 'Amenities'
                                imageTypeDropdown.appendChild(option1);
                                imageTypeDropdown.appendChild(option2);
                                imageTypeDropdown.appendChild(option3);

                                const coverImageRadio = document.createElement('input');
                                coverImageRadio.type = 'radio';
                                coverImageRadio.name = 'coverImageRadio';
                                coverImageRadio.value = file.name; // Use the file name or another unique identifier
                                coverImageRadio.classList.add('image-options'); // Add margin above and below the radio button group

                                const coverImageLabel = document.createElement('label');
                                coverImageLabel.textContent = 'Cover';
                                coverImageLabel.classList.add('image-options'); // Add margin to the right of the label

                                // Create a remove button for each image
                                const closeButton = document.createElement('button');
                                closeButton.textContent = 'X';
                                closeButton.addEventListener('click', () => {
                                    // Remove the image, the button, the dropdown, the radio button, and the label
                                    img.remove();
                                    closeButton.remove();
                                    imageTypeDropdown.remove();
                                    coverImageRadio.remove();
                                    coverImageLabel.remove();
                                    selectedFiles.splice(selectedFiles.indexOf(file), 1);
                                });

                                // Create a container for the image, the dropdown, the radio button, the label, and the close button
                                const container = document.createElement('div');
                                container.classList.add('image-container');
                                container.appendChild(img);

                                const optionsContainer = document.createElement('div');
                                optionsContainer.classList.add('image-options');
                                optionsContainer.appendChild(imageTypeDropdown);
                                optionsContainer.appendChild(coverImageLabel);
                                optionsContainer.appendChild(coverImageRadio);

                                container.appendChild(optionsContainer);
                                container.appendChild(closeButton);

                                imagePreviews.appendChild(container);
                                selectedFiles.push(file);
                            };

                            reader.readAsDataURL(file);
                        }
                    }
        }

        function handleFileInput(e) {
            const files = e.target.files;
            handleFiles(files);
        }
    });
             $(document).ready(function () {
                const dropZone = document.getElementById('dropZone');
                const fileInput = document.getElementById('fileInput_exterior');
                const imagePreviews = document.getElementById('image-previews');
        
                // Prevent default drag behaviors
                ['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
                    dropZone.addEventListener(eventName, preventDefaults, false);
                    document.body.addEventListener(eventName, preventDefaults, false);
                });
        
                // Highlight drop zone on drag enter
                ['dragenter', 'dragover'].forEach(eventName => {
                    dropZone.addEventListener(eventName, highlight, false);
                });
        
                // Remove highlight on drag leave
                ['dragleave', 'drop'].forEach(eventName => {
                    dropZone.addEventListener(eventName, unhighlight, false);
                });
        
                // Handle dropped files
                dropZone.addEventListener('drop', handleDrop, false);
        
                // Handle file input change
                fileInput.addEventListener('change', handleFileInput, false);
        
                function preventDefaults(e) {
                    e.preventDefault();
                    e.stopPropagation();
                }
        
                function highlight() {
                    dropZone.classList.add('highlighted');
                }
        
                function unhighlight() {
                    dropZone.classList.remove('highlighted');
                }
        
                function handleDrop(e) {
                    const dt = e.dataTransfer;
                    const files = dt.files;
        
                    handleFiles(files);
                }
        
                function handleFiles(files) {
                    for (const file of files) {
                        if (file.size > 800 * 1024) {
                            alert("You cannot exceed 800KB for image size.");
                            continue; // Skip further processing for this file
                        }
                        if (file.type.startsWith('image/')) {
                            const reader = new FileReader();
        
                            reader.onload = function () {
                                const img = new Image();
                                img.src = reader.result;
                                img.classList.add('image-previews');
        
                                // Create a remove button for each image
                                const closeButton = document.createElement('button');
                                closeButton.textContent = 'X';
                                closeButton.addEventListener('click', () => {
                                    // Remove the image, the button, and the associated file
                                    img.remove();
                                    closeButton.remove();
                                    selectedFiles = selectedFiles.filter(selectedFile => selectedFile !== file);
                                });
        
                                // Create a container for the image and the close button
                                const container = document.createElement('div');
                                container.appendChild(closeButton);
                                container.appendChild(img);
        
                                imagePreviews.appendChild(container);
                                selectedFiles.push(file);
                            };
        
                            reader.readAsDataURL(file);
                        }
                    }
                }
        
                function handleFileInput(e) {
                    const files = e.target.files;
                    handleFiles(files);
                }
            });


            $(document).ready(function () {
                var navListItems = $('div.setup-panel div a'),
                        allWells = $('.setup-content'),
                        allNextBtn = $('.nextBtn'),
                          allPrevBtn = $('.prevBtn');
              
                allWells.hide();
              
                navListItems.click(function (e) {
                    e.preventDefault();
                    var $target = $($(this).attr('href')),
                            $item = $(this);
              
                    if (!$item.hasClass('disabled')) {
                        navListItems.removeClass('btn-primary').addClass('btn-default');
                        $item.addClass('btn-primary');
                        allWells.hide();
                        $target.show();
                        $target.find('input:eq(0)').focus();
                    }
                });
                
                allPrevBtn.click(function(){
                    var curStep = $(this).closest(".setup-content"),
                        curStepBtn = curStep.attr("id"),
                        prevStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().prev().children("a");
              
                        prevStepWizard.removeAttr('disabled').trigger('click');
                });
              
                allNextBtn.click(function(){
                    var curStep = $(this).closest(".setup-content"),
                        curStepBtn = curStep.attr("id"),
                        nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
                        curInputs = curStep.find("input[type='text'],input[type='url']"),
                        isValid = true;
              
                    $(".form-group").removeClass("has-error");
                    for(var i=0; i<curInputs.length; i++){
                        if (!curInputs[i].validity.valid){
                            isValid = false;
                            $(curInputs[i]).closest(".form-group").addClass("has-error");
                        }
                    }
              
                    if (isValid)
                        nextStepWizard.removeAttr('disabled').trigger('click');
                });
              
                $('div.setup-panel div a.btn-primary').trigger('click');
              });
        </script>
        
        <style>
            .drop-zone {
        border: 2px dashed #cccccc;
        border-radius: 10px;
        padding: 20px;
        text-align: center;
        cursor: pointer;
            }
            
            .image-previews {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }
        .image-previews_exterior{
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }
        .preview-image {
            width: 150px; /* Set your preferred width */
            height: 150px; /* Set your preferred height */
            object-fit: cover; /* Maintain aspect ratio and fill the container */
        }
        
        textarea{
            border:1px solid black !important;
            border-radius: 30px !important;
        }
    
        </style>
     
    </body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'embeddcsjss/inputbundle.js' %}">
    <link rel="stylesheet" href="{% static 'embeddcsjss/multiselect.js' %}">
    <link rel="stylesheet" href="{% static 'embeddcsjss/multselect.css' %}">
    <link rel="stylesheet" href="{% static 'embeddcsjss/nouslider.js' %}">
    <link rel="stylesheet" href="{% static 'embeddcsjss/select.css' %}">
    <link rel="stylesheet" href="{% static 'embeddcsjss/select.min.js' %}">
    <link rel="stylesheet" href="{% static 'embeddcsjss/spinner.js' %}">
</html>