{% load static %}
<form action="add-residential-commercial" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="body">
        <div class="row" style="">
            
            <div class="col-lg-12 col-md-6 col-sm-6">
                <div class="form-group">
                    <label>Booking Amount (%)</label>
                    <input type="number" class="form-control" name="booking_amount" placeholder="For example, 10%" max="100">
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="form-group">
                    <label>Building Name</label>
                    <input type="text" class="form-control" name="building_name" placeholder="Enter Building/House Name" max="100">
                </div>
            </div>
            <div class="col-lg-8 col-md-6 col-sm-6">
                <div class="form-group">
                    <label>Address  Line 1</label>
                    <input type="text" class="form-control" name="addressLine1" placeholder="Enter Address Line 1" max="100">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="form-group">
                    <label>Address  Line 2</label>
                    <input type="text" class="form-control" name="addressLine2" placeholder="Enter Address Line 2" max="100">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="form-group">
                    <label>Address  Line 3</label>
                    <input type="text" class="form-control" name="addressLine3" placeholder="Enter Address Line 3" max="100">
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label>Address</label>
                    <textarea rows="4" class="form-control no-resize" name="address" placeholder="Property Address"></textarea>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="form-group">
                    <label>Landmark</label>
                    <input type="text" class="form-control" name="city" placeholder="Enter Landmark">
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="form-group">
                    <label>State</label>
                    <select id="state" name="state" class="form-control">
                        <!-- States will be populated dynamically using jQuery -->
                    </select>    
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="form-group">
                    <label>City</label>
                    <select id="city" name="city" class="form-control">
                        <!-- Cities will be populated dynamically using jQuery -->
                    </select>
                </div>
            </div>
            <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        



            <script>
                // Sample JSON data for states and cities in India
                var indiaData = {
                "Select State": ["Select City"],
                "Gujarat": ["Ahmedabad", "Surat", "Vadodara", "Rajkot"]
                // Add more states and cities as needed
                };

                // Function to populate the state dropdown
                function populateStates() {
                var $stateDropdown = $("#state");
                $stateDropdown.empty();

                $.each(indiaData, function(state) {
                $stateDropdown.append($("<option />").val(state).text(state));
                });

                // Trigger the change event to populate cities based on the initial state
                $stateDropdown.change();
                }

                // Function to populate the city dropdown based on the selected state
                function populateCities(selectedState) {
                var $cityDropdown = $("#city");
                $cityDropdown.empty();

                var cities = indiaData[selectedState];
                $.each(cities, function(index, city) {
                $cityDropdown.append($("<option />").val(city).text(city));
                });
                }

                // Document ready function
                $(document).ready(function() {
                // Populate the state dropdown on page load
                populateStates();

                // Event listener for state dropdown change
                $("#state").on("change", function() {
                var selectedState = $(this).val();
                populateCities(selectedState);
                });
                });
            </script>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="form-group">
                    <label>Pincode</label>
                    <input type="text" class="form-control" name="pincode" placeholder="Enter Pincode">
                </div>
            </div>
            
        </div>
        
        
        <div class="row">
            <div class="col-sm-12">
                <h6 class="mt-4">General Amenities</h6>
                <style>
                    /* Style for the checkbox container */
                    .checkbox-container {
                        display: flex;
                    }
            
                    /* Style for each checkbox */
                    .checkbox-box {
                        display: inline-block;
                        margin-right: 10px;
                    }
            
                    /* Style for the checkbox input (hidden) */
                    .checkbox-box input[type="checkbox"] {
                        display: none;
                    }
            
                    /* Style for the checkbox label (the visible part) */
                    .checkbox-box label {
                        border:1px solid black;
                        display: block;
                        width: 50px;
                        height: 50px;
                        background-color: #f0f0f0;
                        text-align: center;
                        line-height: 50px;
                        cursor: pointer;
                    }
            
                    /* Style for the selected checkbox label */
                    .checkbox-box input[type="checkbox"]:checked + label {
                        background-color: #3498db;
                        color: #fff;
                    }
                    #amenities{
                        margin-left:20px !important;
                    }
                </style>
                
                <div class="inlineblock m-r-20">
                    <input id="" value="High Speed Elevators" class="form-control" type="checkbox" id="amenities" value="" name="amenities[]" style="margin-left:0px;border:1px solid black;">
                    <label for=""><img src="{% static 'icons/Club House.png' %}" style="height:100px;width:100px;"></label>
                </div>
                
                <div class=" inlineblock m-r-20">
                    <input id=""  value="Solar Energy" class="form-control" type="checkbox" id="amenities2" value="" name="amenities[]" style="margin-left:0px;">
                    <label for=""><img src="{% static 'icons/escalator.png' %}" style="height:100px;width:100px;"></label>
                </div>
                <div class=" inlineblock m-r-20">
                    <input id=""  value="Water Conservation" class="form-control" type="checkbox" id="amenities3" value="" name="amenities[]" style="margin-left:0px;">
                    <label for=""><img src="{% static 'icons/Elevators.png' %}" style="height:100px;width:100px;"></label>
                </div>
                <div class=" inlineblock m-r-20">
                    <input id=""  value="" class="form-control" type="checkbox" id="amenities4" value="" name="amenities[]" style="margin-left:0px;">
                    <label for=""><img src="{% static 'icons/Gated Community.png' %}" style="height:100px;width:100px;"></label>
                </div>
                <div class=" inlineblock m-r-20">
                    <input id=""  value=""  class="form-control" type="checkbox" id="amenities5" value="" name="amenities[]" style="margin-left:0px;">
                    <label for=""><img src="{% static 'icons/Surveillance Camera 1.png' %}" style="height:100px;width:100px;"></label>
                </div>
                <div class=" inlineblock m-r-20">
                    <input id=""  value=""  class="form-control" type="checkbox" id="amenitie6" value="" name="amenities" style="margin-top:20px;margin-left:0px;">
                    <label for=""><img src="{% static 'icons/Parking.png' %}" style="height:100px;width:100px;"></label>
                </div>
                <div class=" inlineblock m-r-20">
                    <input id=""  value=""  class="form-control" type="checkbox" id="amenities7" value="" name="amenities[]" style="margin-left:0px;">
                    <label for=""><img src="{% static 'icons/Car Parking.png' %}" style="height:100px;width:100px;"></label>
                </div>
                <div class=" inlineblock m-r-20">
                    <input id="" class="form-control" type="checkbox" id="amenities8" value="" name="amenities[]" style="margin-left:0px;">
                    <label for=""><img src="{% static 'icons/24x7 Security.png' %}" style="height:100px;width:100px;"></label>
                </div>
                <div class=" inlineblock m-r-20">
                    <input id=""  value=""  class="form-control" type="checkbox" id="amenities9" value="" name="amenities[]" style="margin-left:0px;">
                    <label for=""><img src="{% static 'icons/24x7 Water Supply.png' %}" style="height:100px;width:100px;"></label>
                </div>
                
            </div>
        </div>
    
    </div>
    <div class="row clearfix">
        <div class="col-sm-12">
            <div class="container mt-5">
                <div class="card">
                    <div class="card-header">
                        Upload Images<b style="color:red">*</b>
                    </div>
                    <div class="card-body">
                        <div class="drop-zone" id="dropZone">
                            <div class="text-center">
                                <p>Drag & Drop your image here</p>
                                <p>or</p>
                                <input type="file" name="Interior" id="fileInput" accept="image/*" multiple>
                                <p>Click to select an image</p>
                            </div>
                        </div>
                    
                        <div class="text-center mt-3">
                            <div id="imagePreviews" class="image-previews">
                                <!-- Preview images will be displayed here -->
                            </div>
                        </div>
                    </div>
                    
                   
                    </div>
                </div>
            </div>
    </div>
    
    <div class="row clearfix">
        <div class="col-sm-12">
            <div class="container mt-5">
                <div class="card">
                    <div class="card-header">
                        Upload Floor Plan<b style="color:red">*</b>
                    </div>
                    <div class="card-body">
                        <div class="drop-zone" id="dropZone">
                            <div class="text-center">
                                <p>Drag & Drop your image here</p>
                                <p>or</p>
                                <input type="file" name="Interi" id="fileInput_floorplan" accept="image/*" multiple>
                                <p>Click to select an image</p>
                            </div>
                        </div>
                    
                        <div class="text-center mt-3">
                            <div id="imagePreviews_floorplan" class="image-previews">
                                <!-- Preview images will be displayed here -->
                            </div>
                        </div>
                    </div>
                    
                   
                    </div>
                </div>
            </div>
    </div>
    <div class="row clearfix" style="padding:20px;">
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="form-group">
                <label>Rera Id<b style="color:red">*</b></label>
                <input type="text" class="form-control" name="rera_id" placeholder="Enter Rera ID">
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="form-group">
                <label>Youtube Video URL</label>
                <input type="text" id="videoUrl" class="form-control" name="video_url" placeholder="">
            </div>

            <div id="errorMessage" style="color: red; display: none;">
                YouTube link is the only acceptable.
            </div>
            
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="form-group">
                <label>Brochure Link</label>
                <input type="file" class="form-control" name="brochure_link" placeholder="">
            </div>
        </div>
    </div>
    <div class="row clearfix" style="margin-top:-30px;padding:20px;">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="form-group">
                <label>Project Sales Head<b style="color:red">*</b></label>
                <input type="text" class="form-control" name="property_sales_head" placeholder="Enter Sales Head">
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="form-group">
                <label>Project Sales Head Contact No.<b style="color:red">*</b></label>
                <input type="text" id="videoUrl" class="form-control" name="sales_head_contact_no" placeholder="Enter Contact Number">
            </div>

            
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6" style="margin-top:10px;">
            <div class="form-group">
                <label>Sales Support Name<b style="color:red">*</b></label>
                <input type="text" id="videoUrl" class="form-control" name="sales_support_name" placeholder="Enter Sales Support">
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6" style="margin-top:10px;">
            <div class="form-group">
                <label>Sales Support Contact No.<b style="color:red">*</b></label>
                <input type="text" id="videoUrl" class="form-control" name="sales_support_contact_no" placeholder="Enter Sales Support Contact No.">
            </div>
        </div>
        <div class="col-lg-12 col-md-6 col-sm-6" style="margin-top:10px;">
            <div class="form-group">
                <label>Enter Keyword (Comma Seperated! For Ex. Five Star,3bhk in fatehgunj)<b style="color:red">*</b></label>
                <input type="text" id="videoUrl" class="form-control" name="keyword" placeholder="Enter Keywords">
            </div>
        </div>
        
    </div>
        
        
</form>

