<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="RealEstate Admin Dashboard template, UI kit, Bootstrap 4x">
    <meta name="author" content="Thememakker">

    <title>Realezi : Builder</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon"> <!-- Favicon-->
    <link rel="stylesheet" href="https://thememakker.com/templates/oreo/realestate/html/assets/plugins/bootstrap/css/bootstrap.min.css">
</head>
<body class="theme-purple" style="z-index: 0;">
    {% include 'builder/sidebars.html' %}
    <!-- Chat-launcher -->
    <div class="chat-launcher"></div>
    <div class="chat-wrapper">
        <!-- Chat content here -->
    </div>

    <!-- Main Content -->
    <section class="content">
        <div class="block-header">
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="body">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item" style="border:1px solid black;"><a class="nav-link active" data-toggle="tab" href="#yesterday" style="border:none"> <i class="zmdi zmdi-home"></i> YESTERDAY </a></li>
                                <li class="nav-item" style="border:1px solid black;"><a class="nav-link" data-toggle="tab" href="#last7days" style="border:none"><i class="zmdi zmdi-account"></i> LAST 7 DAYS </a></li>
                                <li class="nav-item" style="border:1px solid black;"><a class="nav-link" data-toggle="tab" href="#last30days" style="border:none"><i class="zmdi zmdi-email"></i> LAST 30 DAYS </a></li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content" style="height:200px;">
                                <div role="tabpanel" class="tab-pane in active" id="yesterday">
                                    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
                                    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card">
                                                <div class="card-header d-flex justify-content-between">
                                                    <h3>Business Overview</h3>
                                                    <div>
                                                        <button id="showViews" class="btn btn-primary">Views</button>
                                                        <button id="showClicks" class="btn btn-secondary">Clicks</button>
                                                    </div>
                                                </div>
                                                <div class="card-block">
                                                    <canvas id="myChart" style="width:100%; height: 400px !important;"></canvas>
                                                    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                                                    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
                                                    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                                                    <script>
                                                        $(document).ready(function() {
                                                            // Data from Django context
                                                            var dataYesterday = {
                                                                views: [{{ yesterday_views }}],
                                                                clicks: [{{ yesterday_clicks }}]
                                                            };
                                                
                                                            var dataLast7Days = {
                                                                views: [{{ last_7_days_views }}],
                                                                clicks: [{{ last_7_days_clicks }}]
                                                            };
                                                
                                                            var dataLast30Days = {
                                                                views: [{{ last_30_days_views }}],
                                                                clicks: [{{ last_30_days_clicks }}]
                                                            };
                                                
                                                            var fullData = {
                                                                views: [{{ full_views }}],
                                                                clicks: [{{ full_clicks }}]
                                                            };
                                                
                                                            console.log("Data Yesterday:", dataYesterday);
                                                            console.log("Data Last 7 Days:", dataLast7Days);
                                                            console.log("Data Last 30 Days:", dataLast30Days);
                                                            console.log("Full Data:", fullData);
                                                
                                                            var ctx = document.getElementById('myChart').getContext('2d');
                                                            var chart;
                                                
                                                            function createChart(data, label) {
                                                                if (chart) {
                                                                    chart.destroy();
                                                                }
                                                                chart = new Chart(ctx, {
                                                                    type: 'line',
                                                                    data: {
                                                                        labels: ['Views', 'Clicks'],
                                                                        datasets: [{
                                                                            label: label,
                                                                            data: data,
                                                                            borderColor: 'rgba(75, 192, 192, 1)',
                                                                            borderWidth: 2,
                                                                            fill: false
                                                                        }]
                                                                    },
                                                                    options: {
                                                                        scales: {
                                                                            y: {
                                                                                beginAtZero: true,
                                                                                stepSize: 50,
                                                                                ticks: {
                                                                                    stepSize: 50
                                                                                }
                                                                            }
                                                                        }
                                                                    }
                                                                });
                                                            }
                                                
                                                            function updateChart(timeFrame) {
                                                                var data;
                                                                var labels;
                                                                switch(timeFrame) {
                                                                    case 'yesterday':
                                                                        data = [dataYesterday.views[0], dataYesterday.clicks[0]];
                                                                        labels = ['Yesterday'];
                                                                        break;
                                                                    case 'last7days':
                                                                        data = [dataLast7Days.views[0], dataLast7Days.clicks[0]];
                                                                        labels = ['Last 7 Days'];
                                                                        break;
                                                                    case 'last30days':
                                                                        data = [dataLast30Days.views[0], dataLast30Days.clicks[0]];
                                                                        labels = ['Last 30 Days'];
                                                                        break;
                                                                    default:
                                                                        data = [fullData.views[0], fullData.clicks[0]];
                                                                        labels = ['Full Data'];
                                                                }
                                                                createChart(data, 'Property Views');
                                                            }
                                                
                                                            // Initial chart rendering
                                                            createChart([fullData.views[0], fullData.clicks[0]], 'Property Views');
                                                
                                                            // Event handlers for buttons
                                                            $('#showViews').click(function () {
                                                                createChart([fullData.views[0], fullData.clicks[0]], 'Property Views');
                                                            });
                                                
                                                            $('#showClicks').click(function () {
                                                                createChart([fullData.views[0], fullData.clicks[0]], 'Property Clicks');
                                                            });
                                                
                                                            $('.nav-item a').click(function(event) {
                                                                var timeFrame = $(this).attr('href').substring(1);
                                                                updateChart(timeFrame);
                                                            });
                                                        });
                                                    </script>
                                                </div>
                                                <table class="table">
                                                    <!-- Table content -->
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <style>
        #myChart {
            max-height: 400px !important;
            width: 100%;
        }
    </style>
</body>
</html>