﻿<!doctype html>
<html lang="en">

    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="RealEstate Admin Dashboard template, UI kit, Bootstrap 4x">
        <meta name="author" content="Thememakker">

        <title>Realezi : Builder</title>
        <link rel="icon" href="favicon.ico" type="image/x-icon"> <!-- Favicon-->
        <link rel="stylesheet" href="https://thememakker.com/templates/oreo/realestate/html/assets/plugins/bootstrap/css/bootstrap.min.css">
       
        <!-- Custom Css -->
       
    </head>
    <body class="theme-purple" style="z-index: 0;">
       
        {% include 'builder/sidebars.html' %}
        
        <!-- Chat-launcher -->
        <div class="chat-launcher"></div>
        <div class="chat-wrapper">
            <div class="card">
                <div class="header">
                    <ul class="list-unstyled team-info margin-0">
                        <li class="m-r-15"><h2>Agent Team</h2></li>
                        <li><img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar2.jpg" alt="Avatar"></li>
                        <li><img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar3.jpg" alt="Avatar"></li>
                        <li><img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar4.jpg" alt="Avatar"></li>
                        <li><img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar6.jpg" alt="Avatar"></li>
                        <li><a href="javascript:void(0);" title="Add Member"><i class="zmdi zmdi-plus-circle"></i></a></li>
                    </ul>
                </div>
                <div class="body">
                    <div class="chat-widget">
                    <ul class="chat-scroll-list clearfix">
                        <li class="left float-left">
                            <img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar3.jpg" class="rounded-circle" alt="">
                            <div class="chat-info">
                                <a class="name" href="javascript:void(0);">Alexander</a>
                                <span class="datetime">6:12</span>
                                <span class="message">Hello, John </span>
                            </div>
                        </li>
                        <li class="right">
                            <div class="chat-info"><span class="datetime">6:15</span> <span class="message">Hi, Alexander<br> How are you!</span> </div>
                        </li>
                        <li class="right">
                            <div class="chat-info"><span class="datetime">6:16</span> <span class="message">There are many variations of passages of Lorem Ipsum available</span> </div>
                        </li>
                        <li class="left float-left"> <img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar2.jpg" class="rounded-circle" alt="">
                            <div class="chat-info"> <a class="name" href="javascript:void(0);">Elizabeth</a> <span class="datetime">6:25</span> <span class="message">Hi, Alexander,<br> John <br> What are you doing?</span> </div>
                        </li>
                        <li class="left float-left"> <img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar1.jpg" class="rounded-circle" alt="">
                            <div class="chat-info"> <a class="name" href="javascript:void(0);">Michael</a> <span class="datetime">6:28</span> <span class="message">I would love to join the team.</span> </div>
                        </li>
                            <li class="right">
                            <div class="chat-info"><span class="datetime">7:02</span> <span class="message">Hello, <br>Michael</span> </div>
                        </li>
                    </ul>
                    </div>
                    <div class="input-group p-t-15">
                        <input type="text" class="form-control" placeholder="Enter text here...">
                        <span class="input-group-addon">
                            <i class="zmdi zmdi-mail-send"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main Content -->
        <section class="content" style="margin-left:18%;">
            <div class="block-header" style="background-color: white;margin-top:-80px;">
                
                <div class="row">
                    <div class="col-lg-12 col-md-5 col-sm-12" style="margin-top:0px;">
                        <h3 style="color:black;font-weight:bold;">Welcome back, Shyam Mehta
                       
                        </h3>
                        <p style="font-size: 20px;margin-top:-23px;">Manage and Grow your business with Realezi</p>
                    </div>
                    
                </div>
            </div>
            <!-- <button type="button" class="btn btn-default waves-effect m-r-20" data-toggle="modal" data-target="#defaultModal">MODAL - DEFAULT SIZE</button> -->
            
            <input type="hidden" id="showModalValue" value="{{ show_modal }}">
            <textarea class="form-control" id="showPopup" style="display: none;">
                Kindly Fill Your Profile in Order to Post Property
            </textarea>
            <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
            <script>
                //$('#largeModal').modal();
                // Get the modal
                var modal = document.getElementById("largeModal");

                var showModalValue = document.getElementById("showPopup").value;
                //alert(showModalValue);
                if (showModalValue === '1') {
                    $('#largeModal').modal();
                    // When the page is fully loaded, show the modal
                    window.onload = function() {
                        modal.style.display = "block";
                    }
                }

            </script>
            <style>
                h4{
                    font-size: 18px !important;
                }
            </style>
            <div class="container-fluid " style="margin-top:20px;">
                <div class="row clearfix ">
                    <div class="col-sm-8 card" style="padding:30px;">
                        <div class="row">
                            <b style="font-size:20px;margin-left:1%;">To do List:</b>
                        </div>
                        <br>
                        <div class="row">
                            
                            {% comment %} <div class="col-lg-3 col-md-3 col-sm-12" style="">
                                <div class="" style="border:1px solid #b1acac82;border-radius: 15px;height:60px !important;">
                                    <div class="body text-center">
                                        <div class="row">
                                            <div class="col-sm-4" style="">
                                                <img src="https://cdn-icons-png.flaticon.com/512/9202/9202500.png" style="margin-top:-7px;height:40px;width:100%;">
                                            </div>
                                            <div class="col-sm-8">
                                                <h4 class="" style="margin-top:-6px;">Total Traffic -457</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12" style="">
                                <div class="" style="border:1px solid #b1acac82;border-radius: 15px;height:60px !important;">
                                    <div class="body text-center">
                                        <div class="row">
                                            <div class="col-sm-4" style="">
                                                <img src="https://cdn-icons-png.freepik.com/512/3663/3663455.png" style="margin-top:-7px;height:40px;width:100%;">
                                            </div>
                                            <div class="col-sm-8">
                                                <h4 class="" style="margin-top:-6px;">Potential buyers -2345</h4>
                                            </div>
                                        </div>
                                      </div>
                                </div>
                            </div> {% endcomment %}
                            <div class="col-lg-6 col-md-3 col-sm-12" style="">
                                <div class="" style="border:1px solid #b1acac82;border-radius: 15px;height:120px !important;">
                                    <div class="body text-center">
                                        <div class="row">
                                            <div class="col-sm-4" style="">
                                                <img src="https://upload.wikimedia.org/wikipedia/commons/5/5e/Inquiry_icon.png" style="margin-top:0px;height:80px;width:100%;">
                                            </div>
                                            <div class="col-sm-8">
                                                <h4 class="" style="margin-top:5px;">Commission -236</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-3 col-sm-12" style="">
                                <div class="" style="border:1px solid #b1acac82;border-radius: 15px;height:120px !important;">
                                    <div class="body text-center">
                                        <div class="row">
                                            <div class="col-sm-4" style="">
                                                <img src="https://upload.wikimedia.org/wikipedia/commons/5/5e/Inquiry_icon.png" style="margin-top:0px;height:80px;width:100%;">
                                            </div>
                                            <div class="col-sm-8">
                                                <h4 class="" style="margin-top:5px;">Inventory-2306</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                                
                        </div>
                    
                    </div>
                    
                    </div>

                    <div class="row clearfix ">
                        <div class="col-sm-8 card" style="padding:30px;">
                            <div class="row">
                                <b style="font-size:20px;margin-left:1%;">Business Insights:</b>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-lg-6 col-md-6" style="margin-top:30px">
                                        
                                    <img style="height: 280px;width:100%;border:1px solid #b1acac82;border-radius: 0px;" src="https://bootstrapbrain.com/wp-content/uploads/2023/12/bootstrap-line-chart-card-example-jpg.webp">
                                    <a href="businessdetail" style="margin-top:40px;"><button class="btn btn-primary pull-right" style="background-color: white;color:black;font-size:15px;border:3px solid orange">View More Details</button></a>
                                </div>
                                <div class="col-lg-6 col-md-3">
                                    <div class="row" style="margin-top:31px;">
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="card" style="border:1px solid #b1acac82;">
                                                <div class="body">
                                                    <h4 class="m-b-0">Views</h4>
                                                    <p style="font-size:25px"><b>35</b></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12" style="margin-left:-28px;">
                                            <div class="card" style="border:1px solid #b1acac82;">
                                                <div class="body">
                                                    <h4 class="m-b-0">Visit Scheduled</h4>
                                                    <p style="font-size:25px"><b>0</b></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-2 col-sm-12" style="margin-top:-30px;">
                                            <div class="card" style="border:1px solid #b1acac82;">
                                                <div class="body">
                                                    <h4 class="m-b-0">Total Active Listings</h4>
                                                    <p style="font-size:25px"><b>0</b></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-2 col-sm-12" style="margin-left:-28px;margin-top:-30px;">
                                            <div class="card" style="border:1px solid #b1acac82;">
                                                <div class="body">
                                                    <h4 class="m-b-0">Upcoming Payments</h4>
                                                    <p style="font-size:25px"><b>0</b></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                        
                        </div>
                        
                        </div>

                        {% comment %} <div class="row clearfix ">
                            <div class="col-sm-8 card" style="padding:10px;">
                                
                                <div class="row">
                                    
                                   
                                    
                                    
                                        <div class="col-lg-6 col-md-6" style="margin-top:30px">
                                            
                                            <img style="height: 180px;width:100%;border:1px solid #b1acac82;border-radius: 0px;" src="https://static.meeshosupply.com/supplier-new/grow_business_with_ads.png">
                                            <h4 style="font-weight:bold;text-align: center;">More ads. More visibility. More Sales</h4>
                                            <p style="text-align: center;">Reach more buyers & grow faster with ads.</p>
                                           
                                        </div>
                                        <div class="col-lg-6 col-md-6" style="margin-top:30px">
                                            
                                            <img style="height: 180px;width:100%;border:1px solid #b1acac82;border-radius: 0px;" src="https://images.meesho.com/images/marketing/1712832057154.png">
                                            <h4 style="font-weight:bold;text-align: center;">Want to boost your sales but don’t know how?!</h4>
                                            <p style="text-align: center;">Contact to Realezi Experts</p>
                                           
                                        </div>
                                        
                                </div>
                            
                            </div>
                            
                        </div> {% endcomment %}
                
              
                <!-- <div class="row clearfix">
                    <div class="col-xl-4 col-lg-5 col-md-12">
                        <div class="card">
                            <div class="header">
                                <h2><strong>Total</strong> Properties</h2>
                            </div>
                            <div class="body text-center">
                                <div id="c3chart-properties"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-7 col-md-12">
                        <div class="card">
                            <div class="header">
                                <h2><strong>Graph</strong> this year</h2>
                            </div>
                            <div class="body">
                                <div id="chart-bar-rotated"></div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="row clearfix">
                    <div class="col-lg-8 col-md-12">
                        <div class="card text-center">
                            <!-- <div class="row">
                                <div class="col-lg-3 col-md-3 col-6">
                                    <div class="body">
                                        <i class="zmdi zmdi-eye col-amber zmdi-hc-2x"></i>
                                        <h4 class="mb-0">15,453</h4>
                                        <span>View</span>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-6">
                                    <div class="body">
                                        <i class="zmdi zmdi-thumb-up col-blue zmdi-hc-2x"></i>
                                        <h4 class="mb-0">921</h4>
                                        <span>Likes</span>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-6">
                                    <div class="body">
                                        <i class="zmdi zmdi-comment-text col-red zmdi-hc-2x"></i>
                                        <h4 class="mb-0">215</h4>
                                        <span>Comments</span>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-6">
                                    <div class="body">
                                        <i class="zmdi zmdi-account text-success zmdi-hc-2x"></i>
                                        <h4 class="mb-0">2,55</h4>
                                        <span>Total Agent</span>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                        
                       
                    </div>
                  
                </div>
            </div>
        </section>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <!-- Jquery Core Js -->
       <!-- <script src="{% static 'admin/assets/bundles/vendorscripts.bundle.js' %}"></script>

        <script src="{% static 'admin/assets/bundles/c3.bundle.js' %}"></script> -->
       
       <!--<script src="{% static 'admin/assets/js/pages/index.js' %}"></script>
        //<script src="{% static 'admin/assets/js/pages/charts/c3.js' %}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>-->
            
    </body>

  
</html>