<!doctype html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="RealEstate Admin Dashboard template, UI kit, Bootstrap 4x">
        <meta name="author" content="Thememakker">
     
        <title>Realezi : Builder</title>
        <link rel="icon" href="favicon.ico" type="image/x-icon"> <!-- Favicon-->
        <link rel="stylesheet" href="https://thememakker.com/templates/oreo/realestate/html/assets/plugins/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://thememakker.com/templates/oreo/realestate/html/assets/plugins/charts-c3/plugin.css" />
        <link rel="stylesheet" href="https://thememakker.com/templates/oreo/realestate/html/assets/plugins/jvectormap/jquery-jvectormap-2.0.3.min.css"/>
        <!-- Custom Css -->
        <link rel="stylesheet" href="{% static 'admin/assets/css/main.css' %}">
        <link rel="stylesheet" href="{% static 'admin/assets/css/color_skins.css' %}">
        <link rel="stylesheet" href="https://thememakker.com/templates/oreo/realestate/html/assets/plugins/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://thememakker.com/templates/oreo/realestate/html/assets/plugins/jquery-datatable/dataTables.bootstrap4.min.css">
        <style>
            div.dataTables_wrapper div.dataTables_filter input{
                border:1px solid black;
            }
        </style>
    </head>
    <body class="">
        {% include 'builder/sidebars.html' %}
        <!-- Chat-launcher -->
        <div class="chat-launcher"></div>
        <div class="chat-wrapper">
            <div class="card">
                <div class="header">
                    <ul class="list-unstyled team-info margin-0">
                        <li class="m-r-15"><h2>Agent Team</h2></li>
                        <li><img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar2.jpg" alt="Avatar"></li>
                        <li><img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar3.jpg" alt="Avatar"></li>
                        <li><img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar4.jpg" alt="Avatar"></li>
                        <li><img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar6.jpg" alt="Avatar"></li>
                        <li><a href="javascript:void(0);" title="Add Member"><i class="zmdi zmdi-plus-circle"></i></a></li>
                    </ul>
                </div>
                <div class="body">
                    <div class="chat-widget">
                    <ul class="chat-scroll-list clearfix">
                        <li class="left float-left">
                            <img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar3.jpg" class="rounded-circle" alt="">
                            <div class="chat-info">
                                <a class="name" href="javascript:void(0);">Alexander</a>
                                <span class="datetime">6:12</span>
                                <span class="message">Hello, John </span>
                            </div>
                        </li>
                        <li class="right">
                            <div class="chat-info"><span class="datetime">6:15</span> <span class="message">Hi, Alexander<br> How are you!</span> </div>
                        </li>
                        <li class="right">
                            <div class="chat-info"><span class="datetime">6:16</span> <span class="message">There are many variations of passages of Lorem Ipsum available</span> </div>
                        </li>
                        <li class="left float-left"> <img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar2.jpg" class="rounded-circle" alt="">
                            <div class="chat-info"> <a class="name" href="javascript:void(0);">Elizabeth</a> <span class="datetime">6:25</span> <span class="message">Hi, Alexander,<br> John <br> What are you doing?</span> </div>
                        </li>
                        <li class="left float-left"> <img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar1.jpg" class="rounded-circle" alt="">
                            <div class="chat-info"> <a class="name" href="javascript:void(0);">Michael</a> <span class="datetime">6:28</span> <span class="message">I would love to join the team.</span> </div>
                        </li>
                            <li class="right">
                            <div class="chat-info"><span class="datetime">7:02</span> <span class="message">Hello, <br>Michael</span> </div>
                        </li>
                    </ul>
                    </div>
                    <div class="input-group p-t-15">
                        <input type="text" class="form-control" placeholder="Enter text here...">
                        <span class="input-group-addon">
                            <i class="zmdi zmdi-mail-send"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main Content -->
        <section class="content">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <h1 style="font-weight: 900;color:white !important;">SITE VISITS
                        </h1>
                    </div>    
                         
                    <div class="col-lg-7 col-md-7 col-sm-12 text-md-right">
                        <!-- <div class="inlineblock text-center m-r-15 m-l-15 hidden-md-down">
                            <div class="sparkline" data-type="bar" data-width="97%" data-height="25px" data-bar-Width="2" data-bar-Spacing="5" data-bar-Color="#fff">3,2,6,5,9,8,7,9,5,1,3,5,7,4,6</div>
                            <small class="col-white">Visitors</small>
                        </div>
                        <div class="inlineblock text-center m-r-15 m-l-15 hidden-md-down">
                            <div class="sparkline" data-type="bar" data-width="97%" data-height="25px" data-bar-Width="2" data-bar-Spacing="5" data-bar-Color="#fff">1,3,5,7,4,6,3,2,6,5,9,8,7,9,5</div>
                            <small class="col-white">Bounce Rate</small>
                        </div>
                        <button class="btn btn-white btn-icon btn-round hidden-sm-down float-right ml-3" type="button">
                            <i class="zmdi zmdi-plus"></i>
                        </button> -->
                        <ul class="breadcrumb float-md-right" style="padding:10px;">
                            <li class="breadcrumb-item"><a href="#"><i class="zmdi zmdi-home"></i> Home</a></li>
                            <li class="breadcrumb-item active" style="color:white;">Inquiry List</li>
                        </ul>
                        
                    </div>
                </div>
            </div>
             <div class="container-fluid">
        <div class="row clearfix">            
            <div class="col-lg-12">
                <div class="card">                   
                    <div class="body">
                        <ul class="nav nav-tabs">
                            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="pending" style="border:1px solid black;font-weight:bold;margin-right:20px;">PENDING</a></li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#confirmation" style="border:1px solid black;font-weight:bold;margin-right:20px;">CONFIRAMTION</a></li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#done" style="border:1px solid black;font-weight:bold;margin-right:20px;">DONE</a></li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#rescheduled" style="border:1px solid black;font-weight:bold;margin-right:20px;">RE-SCHEDULED</a></li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#cancelled" style="border:1px solid black;font-weight:bold;margin-right:20px;">CANCELLED</a></li>
                        </ul>                        
                        <!-- Tab panes -->
                        <div class="tab-content" style="margin-top:30px;">
                            <div role="tabpanel" class="tab-pane in active" id="pending">
                                <form>
                                    <div class="row clearfix">
                                        <div class="col-lg-3 col-md-3 col-sm-3">
                                            <div class="form-group">
                                                <label>From Date</label>
                                                <input type="date" class="form-control" placeholder="Email Address" style="border:1px solid grey;">
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3">
                                            <div class="form-group">
                                                <label style="color:black;">To Date</label>
                                                <input  style="border:1px solid grey;" type="date" class="form-control" placeholder="Password">
                                            </div>
                                        </div>
                                    
                                        <div class="col-lg-3 col-md-3 col-sm-3">
                                            <div class="form-group">
                                                <label style="color:black;">Lead ID</label>
                                                <input  style="border:1px solid grey;" type="text" class="form-control" placeholder="Enter Property ID">
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-6 col-sm-6">
                                            
                                            <button type="button" style="margin-top:30px;" class="btn btn-raised btn-primary btn-round waves-effect m-l-20">Filter</button>          
                                        </div>
                                    </div>
                                </form> 
                                <div class="table-responsive">
                                    <table class="table td_2 table-striped table-hover js-basic-example dataTable vcenter">
                                        <thead>
                                            <tr>
                                                <th style="background:#80808052;font-weight:bold;border:1px solid black;color:black;">Lead ID</th>
                                                <th style="background:#80808052;font-weight:bold;border:1px solid black;color:black;">Date</th>
                                                
                                                <th style="background:#80808052;font-weight:bold;border:1px solid black;color:black;">Name</th>                                        
                                                <th style="background:#80808052;font-weight:bold;border:1px solid black;color:black;">Mobile</th>
                                                <th style="background:#80808052;font-weight:bold;border:1px solid black;color:black;">Email</th>
                                                <th style="background:#80808052;font-weight:bold;border:1px solid black;color:black;">Property Name</th>
                                                <th style="background:#80808052;font-weight:bold;border:1px solid black;color:black;">Verified</th>
                                                <th style="background:#80808052;font-weight:bold;border:1px solid black;color:black;">Action</th>
                                            </tr>
                                        </thead>
                                        
                                        <tbody>
                                            {% for inquirylist in inquiry %}
                                            <tr>
                                                <td style="border:1px solid black;">#AS1245</td>
                                                <td style="border:1px solid black;">03-04-2024</td>
                                                <td style="border:1px solid black;">
                                                    <span>SHXXXX</span>
                                                </td>
                                                <td style="border:1px solid black;">987XXXX</td>
                                                <td style="border:1px solid black;">{{ inquirylist.email }}</td>
                                                <td style="border:1px solid black;">Shilpan Arcade-3BHK</td>
                                                <td style="border:1px solid black;">YES</td>
                                                <td style="border:1px solid black;"><button class="btn btn-primary btn-simple btn-sm">Confirm Visit</button></td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <!--Second tab-->
                            <div role="tabpanel" class="tab-pane" id="confirmation">
                                <form>
                                    <div class="row clearfix">
                                        <div class="col-lg-3 col-md-3 col-sm-3">
                                            <div class="form-group">
                                                <label>From Date</label>
                                                <input type="date" class="form-control" placeholder="Email Address" style="border:1px solid grey;">
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3">
                                            <div class="form-group">
                                                <label style="color:black;">To Date</label>
                                                <input  style="border:1px solid grey;" type="date" class="form-control" placeholder="Password">
                                            </div>
                                        </div>
                                    
                                        <div class="col-lg-3 col-md-3 col-sm-3">
                                            <div class="form-group">
                                                <label style="color:black;">Lead ID</label>
                                                <input  style="border:1px solid grey;" type="text" class="form-control" placeholder="Enter Property ID">
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-6 col-sm-6">
                                            
                                            <button type="button" style="margin-top:30px;" class="btn btn-raised btn-primary btn-round waves-effect m-l-20">Filter</button>          
                                        </div>
                                    </div>
                                </form> 
                                <div class="table-responsive">
                                    <table class="table td_2 table-striped table-hover js-basic-example dataTable vcenter">
                                        <thead>
                                            <tr>
                                                <th style="background:#80808052;font-weight:bold;border:1px solid black;color:black;">Lead ID</th>
                                                <th style="background:#80808052;font-weight:bold;border:1px solid black;color:black;">Date</th>
                                                
                                                <th style="background:#80808052;font-weight:bold;border:1px solid black;color:black;">Name</th>                                        
                                                <th style="background:#80808052;font-weight:bold;border:1px solid black;color:black;">Mobile</th>
                                                <th style="background:#80808052;font-weight:bold;border:1px solid black;color:black;">Email</th>
                                                <th style="background:#80808052;font-weight:bold;border:1px solid black;color:black;">Property Name</th>
                                                <th style="background:#80808052;font-weight:bold;border:1px solid black;color:black;">Verified</th>
                                                <th style="background:#80808052;font-weight:bold;border:1px solid black;color:black;">Action</th>
                                            </tr>
                                        </thead>
                                        
                                        <tbody>
                                            {% for inquirylist in inquiry %}
                                            <tr>
                                                <td style="border:1px solid black;">#AS1245</td>
                                                <td style="border:1px solid black;">03-04-2024</td>
                                                <td style="border:1px solid black;">
                                                    <span>SHXXXX</span>
                                                </td>
                                                <td style="border:1px solid black;">987XXXX</td>
                                                <td style="border:1px solid black;">{{ inquirylist.email }}</td>
                                                <td style="border:1px solid black;"></td>
                                                <td style="border:1px solid black;"></td>
                                                <td style="border:1px solid black;"><button class="btn btn-primary btn-simple btn-sm">Confirm Visit</button></td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <!--Third tab-->
                            <div role="tabpanel" class="tab-pane" id="done">
                                <form>
                                    <div class="row clearfix">
                                        <div class="col-lg-3 col-md-3 col-sm-3">
                                            <div class="form-group">
                                                <label>From Date</label>
                                                <input type="date" class="form-control" placeholder="Email Address" style="border:1px solid grey;">
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3">
                                            <div class="form-group">
                                                <label style="color:black;">To Date</label>
                                                <input  style="border:1px solid grey;" type="date" class="form-control" placeholder="Password">
                                            </div>
                                        </div>
                                    
                                        <div class="col-lg-3 col-md-3 col-sm-3">
                                            <div class="form-group">
                                                <label style="color:black;">Lead ID</label>
                                                <input  style="border:1px solid grey;" type="text" class="form-control" placeholder="Enter Property ID">
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-6 col-sm-6">
                                            
                                            <button type="button" style="margin-top:30px;" class="btn btn-raised btn-primary btn-round waves-effect m-l-20">Filter</button>          
                                        </div>
                                    </div>
                                </form> 
                                <div class="table-responsive">
                                    <table class="table td_2 table-striped table-hover js-basic-example dataTable vcenter">
                                        <thead>
                                            <tr>
                                                <th style="background:#80808052;font-weight:bold;border:1px solid black;color:black;">Lead ID</th>
                                                <th style="background:#80808052;font-weight:bold;border:1px solid black;color:black;">Date</th>
                                                
                                                <th style="background:#80808052;font-weight:bold;border:1px solid black;color:black;">Name</th>                                        
                                                <th style="background:#80808052;font-weight:bold;border:1px solid black;color:black;">Mobile</th>
                                                <th style="background:#80808052;font-weight:bold;border:1px solid black;color:black;">Email</th>
                                                <th style="background:#80808052;font-weight:bold;border:1px solid black;color:black;">Property Name</th>
                                                <th style="background:#80808052;font-weight:bold;border:1px solid black;color:black;">Verified</th>
                                                <th style="background:#80808052;font-weight:bold;border:1px solid black;color:black;">Action</th>
                                            </tr>
                                        </thead>
                                        
                                        <tbody>
                                            {% for inquirylist in inquiry %}
                                            <tr>
                                                <td style="border:1px solid black;">#AS1245</td>
                                                <td style="border:1px solid black;">03-04-2024</td>
                                                <td style="border:1px solid black;">
                                                    <span>SHXXXX</span>
                                                </td>
                                                <td style="border:1px solid black;">987XXXX</td>
                                                <td style="border:1px solid black;">{{ inquirylist.email }}</td>
                                                <td style="border:1px solid black;"></td>
                                                <td style="border:1px solid black;"></td>
                                                <td style="border:1px solid black;"><button class="btn btn-primary btn-simple btn-sm">Confirm Visit</button></td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <!--Fourth Tab-->
                           
                            <div role="tabpanel" class="tab-pane" id="rescheduled">
                                <form>
                                    <div class="row clearfix">
                                        <div class="col-lg-3 col-md-3 col-sm-3">
                                            <div class="form-group">
                                                <label>From Date</label>
                                                <input type="date" class="form-control" placeholder="Email Address" style="border:1px solid grey;">
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3">
                                            <div class="form-group">
                                                <label style="color:black;">To Date</label>
                                                <input  style="border:1px solid grey;" type="date" class="form-control" placeholder="Password">
                                            </div>
                                        </div>
                                    
                                        <div class="col-lg-3 col-md-3 col-sm-3">
                                            <div class="form-group">
                                                <label style="color:black;">Lead ID</label>
                                                <input  style="border:1px solid grey;" type="text" class="form-control" placeholder="Enter Property ID">
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-6 col-sm-6">
                                            
                                            <button type="button" style="margin-top:30px;" class="btn btn-raised btn-primary btn-round waves-effect m-l-20">Filter</button>          
                                        </div>
                                    </div>
                                </form> 
                                <div class="table-responsive">
                                    <table class="table td_2 table-striped table-hover js-basic-example dataTable vcenter">
                                        <thead>
                                            <tr>
                                                <th style="background:#80808052;font-weight:bold;border:1px solid black;color:black;">Lead ID</th>
                                                <th style="background:#80808052;font-weight:bold;border:1px solid black;color:black;">Date</th>
                                                
                                                <th style="background:#80808052;font-weight:bold;border:1px solid black;color:black;">Name</th>                                        
                                                <th style="background:#80808052;font-weight:bold;border:1px solid black;color:black;">Mobile</th>
                                                <th style="background:#80808052;font-weight:bold;border:1px solid black;color:black;">Email</th>
                                                <th style="background:#80808052;font-weight:bold;border:1px solid black;color:black;">Property Name</th>
                                                <th style="background:#80808052;font-weight:bold;border:1px solid black;color:black;">Verified</th>
                                                <th style="background:#80808052;font-weight:bold;border:1px solid black;color:black;">Action</th>
                                            </tr>
                                        </thead>
                                        
                                        <tbody>
                                            {% for inquirylist in inquiry %}
                                            <tr>
                                                <td style="border:1px solid black;">#AS1245</td>
                                                <td style="border:1px solid black;">03-04-2024</td>
                                                <td style="border:1px solid black;">
                                                    <span>SHXXXX</span>
                                                </td>
                                                <td style="border:1px solid black;">987XXXX</td>
                                                <td style="border:1px solid black;">{{ inquirylist.email }}</td>
                                                <td style="border:1px solid black;"></td>
                                                <td style="border:1px solid black;"></td>
                                                <td style="border:1px solid black;"><button class="btn btn-primary btn-simple btn-sm">Confirm Visit</button></td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            
                            <!--Fifth tab-->
                            <div role="tabpanel" class="tab-pane" id="cancelled">
                                <form>
                                    <div class="row clearfix">
                                        <div class="col-lg-3 col-md-3 col-sm-3">
                                            <div class="form-group">
                                                <label>From Date</label>
                                                <input type="date" class="form-control" placeholder="Email Address" style="border:1px solid grey;">
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3">
                                            <div class="form-group">
                                                <label style="color:black;">To Date</label>
                                                <input  style="border:1px solid grey;" type="date" class="form-control" placeholder="Password">
                                            </div>
                                        </div>
                                    
                                        <div class="col-lg-3 col-md-3 col-sm-3">
                                            <div class="form-group">
                                                <label style="color:black;">Lead ID</label>
                                                <input  style="border:1px solid grey;" type="text" class="form-control" placeholder="Enter Property ID">
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-6 col-sm-6">
                                            
                                            <button type="button" style="margin-top:30px;" class="btn btn-raised btn-primary btn-round waves-effect m-l-20">Filter</button>          
                                        </div>
                                    </div>
                                </form> 
                                <div class="table-responsive">
                                    <table class="table td_2 table-striped table-hover js-basic-example dataTable vcenter">
                                        <thead>
                                            <tr>
                                                <th style="background:#80808052;font-weight:bold;border:1px solid black;color:black;">Lead ID</th>
                                                <th style="background:#80808052;font-weight:bold;border:1px solid black;color:black;">Date</th>
                                                
                                                <th style="background:#80808052;font-weight:bold;border:1px solid black;color:black;">Name</th>                                        
                                                <th style="background:#80808052;font-weight:bold;border:1px solid black;color:black;">Mobile</th>
                                                <th style="background:#80808052;font-weight:bold;border:1px solid black;color:black;">Email</th>
                                                <th style="background:#80808052;font-weight:bold;border:1px solid black;color:black;">Property Name</th>
                                                <th style="background:#80808052;font-weight:bold;border:1px solid black;color:black;">Verified</th>
                                                <th style="background:#80808052;font-weight:bold;border:1px solid black;color:black;">Action</th>
                                            </tr>
                                        </thead>
                                        
                                        <tbody>
                                            {% for inquirylist in inquiry %}
                                            <tr>
                                                <td style="border:1px solid black;">#AS1245</td>
                                                <td style="border:1px solid black;">03-04-2024</td>
                                                <td style="border:1px solid black;">
                                                    <span>SHXXXX</span>
                                                </td>
                                                <td style="border:1px solid black;">987XXXX</td>
                                                <td style="border:1px solid black;">{{ inquirylist.email }}</td>
                                                <td style="border:1px solid black;">Shilpan Arcade-3BHK</td>
                                                <td style="border:1px solid black;"></td>
                                                <td style="border:1px solid black;"><button class="btn btn-primary btn-simple btn-sm">Confirm Visit</button></td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
        </section>
        <script>
            // Get the paragraph element by its ID
            var paragraph = document.getElementById('aboutParagraph');
        
            // Split the text into an array of words
            var words = paragraph.textContent.split(' ');
        
            // Check if there are more than 10 words
            if (words.length > 10) {
                // Create a new array containing the first 10 words
                var first10Words = words.slice(0, 10);
        
                // Join the first 10 words back into a string
                var shortenedText = first10Words.join(' ');
        
                // Display the shortened text
                paragraph.textContent = shortenedText + '...';
            }
        </script>
        <!-- Jquery Core Js -->
        <script src="{% static 'admin/assets/bundles/libscripts.bundle.js' %}"></script>
        <script src="{% static 'admin/assets/bundles/vendorscripts.bundle.js' %}"></script>

        <script src="{% static 'admin/assets/bundles/c3.bundle.js' %}"></script>
        <script src="{% static 'admin/assets/bundles/jvectormap.bundle.js' %}"></script>
        <script src="{% static 'admin/assets/bundles/knob.bundle.js' %}"></script>

        <script src="{% static 'admin/assets/bundles/mainscripts.bundle.js' %}"></script>
        <script src="{% static 'admin/assets/js/pages/index.js' %}"></script>
        <script src="assets/bundles/libscripts.bundle.js"></script>
        <script src="assets/bundles/vendorscripts.bundle.js"></script>

        <script src="{% static 'admin/assets/bundles/datatablescripts.bundle.js' %}"></script>

        <script src="assets/bundles/mainscripts.bundle.js"></script>
        <script src="{% static 'admin/assets/js/pages/tables/jquery-datatable.js' %}"></script>

    </body>

   
</html>