<!doctype html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="RealEstate Admin Dashboard template, UI kit, Bootstrap 4x">
        <meta name="author" content="Thememakker">

        <title>Realezi : Builder</title>
        <link rel="icon" href="favicon.ico" type="image/x-icon"> <!-- Favicon-->
        <link rel="stylesheet" href="https://thememakker.com/templates/oreo/realestate/html/assets/plugins/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://thememakker.com/templates/oreo/realestate/html/assets/plugins/charts-c3/plugin.css" />
        <link rel="stylesheet" href="https://thememakker.com/templates/oreo/realestate/html/assets/plugins/jvectormap/jquery-jvectormap-2.0.3.min.css"/>
        <!-- Custom Css -->
        <link rel="stylesheet" href="{% static 'admin/assets/css/main.css' %}">
        <link rel="stylesheet" href="{% static 'admin/assets/css/color_skins.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body class="theme-purple">
        
        {% include 'builder/sidebars.html' %}
        <div id="myModal" class="modal" style="margin-top:50px;width:50% !important;border:1px solid black;overflow-y: scroll;margin-left:28%;border-radius: 10px;box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
        border-radius: 8px;">
            <div class="modal-content">
                <div class="modal-header">
                    <center><h2 style="text-align:center !important;text-decoration: underline;">Builder User Agreement</h2></center>
                </div>
                <div class="modal-body" style="margin-top:-50px;">
                    <!-- Add your long content here -->
                   <h4> PARTIES:</h4>
This Real Estate Contract ("Contract") is executed on [Date], by and between [Seller's Full Name], hereinafter referred to as the "Seller," and [Buyer's Full Name], hereinafter referred to as the "Buyer."
<br>
<h4> PROPERTY DESCRIPTION:</h4>
<p>The subject property, located at [Property Address], with the legal description as detailed in Exhibit A attached hereto, is the subject of this Contract.</p>

<h4>  PURCHASE PRICE AND PAYMENT TERMS:</h4>
The total purchase price for the Property is set at [Purchase Price] USD. The Buyer shall deposit earnest money in the amount of [Earnest Money Amount] USD within [Number] days of the effective date of this Contract. The remaining balance of the Purchase Price shall be paid by the Buyer through financing secured at an interest rate not exceeding [Interest Rate]% per annum.</p>

<h4> FINANCING CONTINGENCY:</h4>
This Contract is contingent upon the Buyer securing financing by [Financing Contingency Deadline]. In the event the Buyer is unable to obtain financing within the specified timeframe, either party may terminate this Contract, and earnest money shall be returned to the Buyer.</p>

<h4>  INSPECTIONS AND REPAIRS:</h4>
The Buyer shall have [Number] days from mutual acceptance to conduct inspections on the Property. If the inspections reveal any defects, the parties shall negotiate in good faith regarding repairs or adjustments to the Purchase Price. Failure to reach an agreement may result in the termination of this Contract.</p>

<h4> CLOSING AND POSSESSION:</h4>
The closing of the sale shall take place on or before [Closing Date] at a mutually agreed location. Possession of the Property shall be transferred to the Buyer upon closing, unless otherwise stipulated in writing by both parties.</p>

<h4>  DISPUTE RESOLUTION:</h4>
In the event of any dispute arising from or related to this Contract, the parties agree to resolve the matter through mediation or arbitration in accordance with the laws of [Your State].</p>

<h4>  GOVERNING LAW:</h4>
This Contract shall be governed by and construed in accordance with the laws of [Your State]. Any amendments to this Contract must be in writing and signed by both parties.</p>

<h4>  ENTIRE AGREEMENT:</h4>
This Real Estate Contract constitutes the entire understanding between the parties and supersedes all prior discussions, negotiations, and agreements.</p>

IN WITNESS WHEREOF, the parties have executed this Real Estate Contract as of the date first above written.</p>
<button id="agreeButton" class="btn btn-primary" style="margin-bottom:20px;">I Agree</button>
                </div>
                <div class="modal-footer">
                   
                </div>
            </div>
        </div>
        
        <!-- Chat-launcher -->
        <div class="chat-launcher"></div>
        <div class="chat-wrapper">
            <div class="card">
                <div class="header">
                    <ul class="list-unstyled team-info margin-0">
                        <li class="m-r-15"><h2>Agent Team</h2></li>
                        <li><img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar2.jpg" alt="Avatar"></li>
                        <li><img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar3.jpg" alt="Avatar"></li>
                        <li><img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar4.jpg" alt="Avatar"></li>
                        <li><img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar6.jpg" alt="Avatar"></li>
                        <li><a href="javascript:void(0);" title="Add Member"><i class="zmdi zmdi-plus-circle"></i></a></li>
                    </ul>
                </div>
                <div class="body">
                    <div class="chat-widget">
                    <ul class="chat-scroll-list clearfix">
                        <li class="left float-left">
                            <img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar3.jpg" class="rounded-circle" alt="">
                            <div class="chat-info">
                                <a class="name" href="javascript:void(0);">Alexander</a>
                                <span class="datetime">6:12</span>
                                <span class="message">Hello, John </span>
                            </div>
                        </li>
                        <li class="right">
                            <div class="chat-info"><span class="datetime">6:15</span> <span class="message">Hi, Alexander<br> How are you!</span> </div>
                        </li>
                        <li class="right">
                            <div class="chat-info"><span class="datetime">6:16</span> <span class="message">There are many variations of passages of Lorem Ipsum available</span> </div>
                        </li>
                        <li class="left float-left"> <img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar2.jpg" class="rounded-circle" alt="">
                            <div class="chat-info"> <a class="name" href="javascript:void(0);">Elizabeth</a> <span class="datetime">6:25</span> <span class="message">Hi, Alexander,<br> John <br> What are you doing?</span> </div>
                        </li>
                        <li class="left float-left"> <img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar1.jpg" class="rounded-circle" alt="">
                            <div class="chat-info"> <a class="name" href="javascript:void(0);">Michael</a> <span class="datetime">6:28</span> <span class="message">I would love to join the team.</span> </div>
                        </li>
                            <li class="right">
                            <div class="chat-info"><span class="datetime">7:02</span> <span class="message">Hello, <br>Michael</span> </div>
                        </li>
                    </ul>
                    </div>
                    <div class="input-group p-t-15">
                        <input type="text" class="form-control" placeholder="Enter text here...">
                        <span class="input-group-addon">
                            <i class="zmdi zmdi-mail-send"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main Content -->
        <section class="content">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <h2>My Profile
                        <small></small>
                        </h2>
                    </div>            
                    
                </div>
            </div>
            <div class="container-fluid">
                <div class="row clearfix">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="header">
                               <h6 style="color:red">Kindly Complete Profile Section to Post Property</h6>
                            </div>
                            <style>
                                input{
                                    border:1px solid black !important;
                                }
                            </style>
                            <form action="myprofile" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                            <div class="body">
                                <div class="row clearfix">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Name</label>
                                            <input type="text" name="builder_name" class="form-control" placeholder="Enter Name" value="{{ user.customer_name }}">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Email</label>
                                            <input type="text" name="email" class="form-control" placeholder="Enter Email" value="{{ user.customer_email }}">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Contact No.</label>
                                            <input type="text" name="customer_contact" class="form-control" placeholder="Enter Contact" value="{{ user.customer_contact }}">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Business Name</label>
                                            <input type="text" name="business_name" class="form-control" placeholder="Enter Business Name" value="{{ user.business_name }}">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Incorporated Since</label>
                                            <input type="text" name="incorporated_since" class="form-control" placeholder="Enter Incorporate Since" value="{{ user.incorporated_since|default:'' }}">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Ongoing Projects</label>
                                            <input type="text" name="ongoing_projects" class="form-control" placeholder="Enter Ongoing Projects" value="{{ user.ongoing_projects|default:'' }}">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Completed Projects</label>
                                            <input type="text" name="complete_projects" class="form-control" placeholder="Enter Completed Projects" value="{{ user.complete_projects|default:'' }}">
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <h3>&nbsp;KYC Details</h3>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Aadhar Card</label>
                                            <input type="file" name="aadhar_document" class="form-control" placeholder="Enter Completed Projects" value="{{ user.complete_projects|default:'' }}">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>PAN Card</label>
                                            <input type="file" name="pan_document" class="form-control" placeholder="Enter Completed Projects" value="{{ user.complete_projects|default:'' }}">
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <h3>&nbsp;Company Details</h3>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>GST Certificate</label>
                                            <input type="file" name="gst_certificate" class="form-control" placeholder="Enter Completed Projects" value="{{ user.complete_projects|default:'' }}">
                                        </div>
                                    </div>
                                    
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <label>About Company</label>
                                                <textarea style="border-radius:30px;border:1px solid black;" rows="4" name="about" class="form-control no-resize" placeholder="Write Short Detail about Your Company">{{ user.about }}</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row clearfix">
                                    
                                    <div class="col-sm-12">
                                        <button type="submit" class="btn btn-primary btn-round">Submit</button>
                                        <button type="submit" class="btn btn-default btn-round btn-simple">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script>
    var modal = document.getElementById("myModal");

// Get the button that opens the modal
window.onload = function () {
  modal.style.display = "block";  // Show the modal on page load
};
    $(document).ready(function () {
        // Update status on button click or any other event
        $('#agreeButton').click(function () {
            modal.style.display = "none";
            $.ajax({
                url: '/update_agreement_status/',
                type: 'POST',
                dataType: 'json',
                success: function (data) {
                    if (data.status === 'success') {
                        alert('Agreement status updated successfully!');
                    } else {
                        alert('Failed to update agreement status.');
                    }
                },
                error: function () {
                    alert('An error occurred during the Ajax request.');
                }
            });
        });
    });

// Prevent the modal from closing if the user clicks inside of it
modal.onclick = function (event) {
  event.stopPropagation();
};

// Close the modal if the user clicks outside of it
window.onclick = function (event) {
  if (event.target === modal) {
    modal.style.display = "none";
  }
};
</script>
    </body>

   
</html>