<!doctype html>
<html lang="en">

    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="RealEstate Admin Dashboard template, UI kit, Bootstrap 4x">
        <meta name="author" content="Thememakker">

        <title>Realezi : Builder</title>
        <link rel="icon" href="favicon.ico" type="image/x-icon"> <!-- Favicon-->
        <link rel="stylesheet" href="https://thememakker.com/templates/oreo/realestate/html/assets/plugins/bootstrap/css/bootstrap.min.css">
       
        <!-- Custom Css -->
       
    </head>
    <body class="theme-purple" style="z-index: 0;">
       
        {% include 'builder/sidebars.html' %}
        
        <!-- Chat-launcher -->
        <div class="chat-launcher"></div>
        <div class="chat-wrapper">
            <div class="card">
                <div class="header">
                    <ul class="list-unstyled team-info margin-0">
                        <li class="m-r-15"><h2>Agent Team</h2></li>
                        <li><img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar2.jpg" alt="Avatar"></li>
                        <li><img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar3.jpg" alt="Avatar"></li>
                        <li><img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar4.jpg" alt="Avatar"></li>
                        <li><img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar6.jpg" alt="Avatar"></li>
                        <li><a href="javascript:void(0);" title="Add Member"><i class="zmdi zmdi-plus-circle"></i></a></li>
                    </ul>
                </div>
                <div class="body">
                    <div class="chat-widget">
                    <ul class="chat-scroll-list clearfix">
                        <li class="left float-left">
                            <img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar3.jpg" class="rounded-circle" alt="">
                            <div class="chat-info">
                                <a class="name" href="javascript:void(0);">Alexander</a>
                                <span class="datetime">6:12</span>
                                <span class="message">Hello, John </span>
                            </div>
                        </li>
                        <li class="right">
                            <div class="chat-info"><span class="datetime">6:15</span> <span class="message">Hi, Alexander<br> How are you!</span> </div>
                        </li>
                        <li class="right">
                            <div class="chat-info"><span class="datetime">6:16</span> <span class="message">There are many variations of passages of Lorem Ipsum available</span> </div>
                        </li>
                        <li class="left float-left"> <img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar2.jpg" class="rounded-circle" alt="">
                            <div class="chat-info"> <a class="name" href="javascript:void(0);">Elizabeth</a> <span class="datetime">6:25</span> <span class="message">Hi, Alexander,<br> John <br> What are you doing?</span> </div>
                        </li>
                        <li class="left float-left"> <img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar1.jpg" class="rounded-circle" alt="">
                            <div class="chat-info"> <a class="name" href="javascript:void(0);">Michael</a> <span class="datetime">6:28</span> <span class="message">I would love to join the team.</span> </div>
                        </li>
                            <li class="right">
                            <div class="chat-info"><span class="datetime">7:02</span> <span class="message">Hello, <br>Michael</span> </div>
                        </li>
                    </ul>
                    </div>
                    <div class="input-group p-t-15">
                        <input type="text" class="form-control" placeholder="Enter text here...">
                        <span class="input-group-addon">
                            <i class="zmdi zmdi-mail-send"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main Content -->
        <section class="content" style="margin-left:18%;">
            <div class="block-header" style="background-color: white;margin-top:-80px;">
                
                <div class="row">
                    <div class="col-lg-8 col-md-5 col-sm-12" style="margin-top:0px;">
                        <h3 style="color:black;font-weight:bold;">Payments History</h3>
                    </div>
                    <div class="mt-3">
                        <button class="btn btn-primary btn-lg" style="border:1px solid #b1acac82;border-radius: 15px;"><i class="fa fa-arrow-down mr-2"></i>Payment Excel</button>
                    </div>
                </div>
            </div>
            <!-- <button type="button" class="btn btn-default waves-effect m-r-20" data-toggle="modal" data-target="#defaultModal">MODAL - DEFAULT SIZE</button> -->
            
            <input type="hidden" id="showModalValue" value="{{ show_modal }}">
            <textarea class="form-control" id="showPopup" style="display: none;">
                Kindly Fill Your Profile in Order to Post Property
            </textarea>
            <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
            <script>
                //$('#largeModal').modal();
                // Get the modal
                var modal = document.getElementById("largeModal");

                var showModalValue = document.getElementById("showPopup").value;
                //alert(showModalValue);
                if (showModalValue === '1') {
                    $('#largeModal').modal();
                    // When the page is fully loaded, show the modal
                    window.onload = function() {
                        modal.style.display = "block";
                    }
                }

            </script>
            <style>
                h4{
                    font-size: 14px !important;
                }
            </style>
            <div class="container-fluid " style="margin-top:20px;">
                <div class="row clearfix ">
                    <div class="col-sm-12 card" style="padding:30px;">
                        
                        <br>
                        <table class="table">
                            <tr>
                                <td rowspan="" style="border:1px solid black;height:80px;padding:20px;font-size: 18px;">Total Net Order Amount<i class="fas fa-info-circle ml-2"></i><br><span style="font-size: 25px;">₹4,508.98</span>
                                </td>
                                <td rowspan="" style="border:1px solid black;height:80px;padding:20px;font-size: 18px;">Paid Amount<br><span style="font-size: 25px;">₹0</span>
                                </td>
                                <td rowspan="" style="border:1px solid black;height:80px;padding:20px;font-size: 18px;">Total Pending Amount<br><span style="font-size: 25px;">₹0</span>
                                </td>
                            </tr>
                        </table>
                    
                    </div>
                    
                </div>

                <div class="row clearfix ">
                        <div class="col-sm-12 card" style="padding:30px;">
                            <div class="card ">
                                <div class="card">                   
                                    <div class="body">
                                        <div id="m_line_chart"></div>
                                        <div class="table-responsive">
                                            <table class="table td_2 table-striped table-hover js-basic-example dataTable vcenter">
                                                <thead>

                                                    <tr style="border:1px solid black">
                                                        <th style="font-weight:bold;border:1px solid black;color:black;">ID</th>
                                                        <th style="font-weight:bold;border:1px solid black;color:black;">Payment ID</th>
                                                        <th style="font-weight:bold;border:1px solid black;color:black;">Payment Date</th>
                                                        <th style="font-weight:bold;border:1px solid black;color:black;">Mode of Payment</th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    
                                                    <tr>
                                                        <td style="border:1px solid black;"></td>
                                                        <td style="border:1px solid black;"></td>
                                                        <td style="border:1px solid black;"></td>
                                                        <td style="border:1px solid black;"></td>
                                                    </tr>
                                                   
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        
                        </div>
                        
                </div>

                
                
            </div>
        </section>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <!-- Jquery Core Js -->
       <!-- <script src="{% static 'admin/assets/bundles/vendorscripts.bundle.js' %}"></script>

        <script src="{% static 'admin/assets/bundles/c3.bundle.js' %}"></script> -->
       
       <!--<script src="{% static 'admin/assets/js/pages/index.js' %}"></script>
        //<script src="{% static 'admin/assets/js/pages/charts/c3.js' %}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>-->
            
    </body>

  
</html>