{% load static %}
<div class="body">
    <div class="row" style="padding-left:20px;">
        <label>Property Listing For:</label>
    </div>
    <div class="row" style="padding-left: 20px;">
        <div class="radio-container">
            <div class="radio-box">
                <input type="radio" name="property_for" id="box1" value="sale"  onclick="showonlycommercialforlease(this.value)">
                <label for="box1">
                    
                    Sale
                </label>
            </div>
        </div>
    </div>

    <br>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        function showpossessionyear(val){
            if(val == "Ready to Move"){
                $(".agesforresidential").show();
                $("#possessionyear").show();
            } else {
                $("#possessionyear").show();
                $(".agesforresidential").hide();
            }
        }
        function showonlycommercialforlease(val){
            if(val == "rent"){
                $('.show_for_rent').show();
                $('.hide_for_rent').hide();
                $('#residential_bar').hide();
                $('#residential_propertytype').show();
                $('.residential_noofrooms').hide();
                $('#commercial_propertytype').show();
                $('.hideforland').hide();
            } else {
                $('.show_for_rent').hide();
                $('.hide_for_rent').show();
                $('#residential_bar').show();
                $('#residential_propertytype').show();
                $('.residential_noofrooms').show();
                $('#commercial_propertytype').show();
                $('.hideforland').show();
            }
        }
        function setres_comm_selection(val){
            if(val == 'commercial'){
                $('#residential_propertytype').hide();
                $('.residential_noofrooms').hide();
                $('#commercial_propertytype').show();
                $('.hideforland').hide();
            } else {
                $('.coworking').hide();
                $('#residential_propertytype').show();
                $('#commercial_propertytype').hide(); 
                $('.residential_noofrooms').show();
                $('.hideforland').show();
            }
            

        }

        function showHidePGDiv(val){
            $('#pg_security_deposit_div').show();
            $('.show_for_pg').show();
            $('.hide_for_pg').hide();
            
        }

        function disableenablebuiltinarea(val){
            $('#pg_security_deposit_div').hide();
            
            $('.show_for_pg').hide();
            $('.hide_for_pg').show();
            if(val == 'land' || val == 'industrialplot' || val == 'plot' || val == 'office'  || val == 'land' 
            || val == 'warehouse' || val == 'industrialplot' || val == 'shop' || val == 'showroom'){
                
                $('.terracearea').hide();
                if(val == 'office' || val == 'shop' || val == 'showroom'){
                    $('.officespace').show();
                    $('.coworking').hide();
                    $('#furnished_status').hide();
                    $('.hideforland').hide();
                    $('.showforland').hide();
                    $('.residential_noofrooms').hide();
                }
                else if(val == 'plot' || val == 'industrialplot') {
                    $('.officespace').hide();
                    $('#possession_type').hide();
                    $('#furnished_status').hide();
                    $('.hideforland').hide();
                    $('.showforland').show();
                    $('.residential_noofrooms').hide();
                    $('.coworking').hide();
                } else if(val == 'coworkingspace'){
                    $('.officespace').hide();
                    $('.coworking').show();
                    $('#possession_type').hide();
                    $('#furnished_status').hide();
                    $('.hideforland').hide();
                    $('.showforland').hide();
                    $('.residential_noofrooms').hide();
                } else {
                    $('.officespace').hide();
                    $('#possession_type').show();
                    $('#furnished_status').show();
                    $('.hideforland').show();
                    $('.showforland').show();
                    $('.residential_noofrooms').hide();
                    $('.coworking').hide();
                }
                
            } else {
               
                if(val == 'penthouse'){
                    $('.terracearea').show();
                    $('.coworking').hide();
                    $('.showforland').hide();
                    $('.hideforland').show();
                }
                else if(val == 'coworkingspace'){
                    $('.officespace').hide();
                    $('#residential_hide').hide();
                    $('.coworking').show();
                    $('#possession_type').hide();
                    $('#furnished_status').hide();
                    $('.hideforland').hide();
                    $('.showforland').hide();
                    $('.residential_noofrooms').hide();
                }
                else {
                    $('.officespace').hide();
                    $('.coworking').hide();
                    $('.terracearea').hide();
                    $('.hideforland').show();
                    $('.showforland').hide();
                    $('.residential_noofrooms').show();
                    $('#furnished_status').show();
                    $('#possession_type').show();
                }
                
                // $('#possession_type').show();
                // $('#furnished_status').show();
                // $('.hideforland').show();
                // $('.showforland').hide();
                // $('.residential_noofrooms').show();
            }
            
        }
    </script>
    <div class="row" style="padding-left:20px;">
        <label>Property Type:</label>
    </div>
    
    <div class="row" style="padding-left: 20px;"  id="residential_propertytype">
        <div class="radio-container">
            <div class="radio-box" style="width: 200px !important;">
                <input type="radio" name="property_sub_type" id="apartment" value="apartment"   onclick="disableenablebuiltinarea(this.value)">
                <label for="apartment" style="width: 200px !important;">
                    
                    Apartment
                </label>
            </div>
            <div class="radio-box">
                <input type="radio" name="property_sub_type" id="villa" value="villa"   onclick="disableenablebuiltinarea(this.value)">
                <label for="villa" style="width: 200px !important;">
                    
                    Villa
                </label>
            </div>
            <div class="radio-box">
                <input type="radio" name="property_sub_type" id="plot" value="plot"  onclick="disableenablebuiltinarea(this.value)">
                <label for="plot" style="width: 200px !important;">
                    
                    Plot
                </label>
            </div>
            
            <div class="radio-box">
                <input type="radio" name="property_sub_type" id="penthouse" value="penthouse"   onclick="disableenablebuiltinarea(this.value)">
                <label for="penthouse" style="width: 200px !important;">
                    
                    Pent House
                </label>
            </div>
            <div class="radio-box">
                <input type="radio" name="property_sub_type" id="independenthouse" value="commercial"   onclick="disableenablebuiltinarea(this.value)">
                <label for="independenthouse" style="width: 200px !important;">
                    
                    Independent House
                </label>
            </div>
            <div class="radio-box show_for_rent" style="display:none;">
                <input type="radio" name="property_sub_type" id="colivingspace" value="pg" onclick="showHidePGDiv(this.value)">
                <label for="colivingspace" style="width: 200px !important;">
                    
                    PG Co-living space
                </label>
            </div>
        </div>
    </div>
    
    <div class="row clearfix" style="margin-top: 30px;">
        <div class="col-sm-6 hide_for_pg">
            <div class="form-group">
                <label>Property Name</label>
                <input type="text" class="form-control" name="name" placeholder="Property Name" >

            </div>
        </div> 
        <div class="col-sm-6 show_for_pg" style="display:none;">
            <div class="form-group">
                <label>PG Name</label>
                <input type="text" class="form-control" name="pg_name" placeholder="PG Name" >

            </div>
        </div>                                   
        <div class="col-sm-12 hide_for_rent">
            <div class="row">
                <div class = "col-sm-4">
                    <div class="form-group">
                        <label for="priceInput">Enter Price:</label>
                        <input type="number" name="price" id="priceInput" class="form-control">
                    </div>
                </div>
                <div class = "col-sm-4">
                    <label>In Words</label>
                    <input type="text" id="wordsOutput" readonly class="form-control">
                </div>
                <div class = "col-sm-4">
                    <label>Realezi Commission</label>
                    <input type="text" name="commission" id="commission" class="form-control">
                </div>
            </div>
        </div>
        <div class="col-sm-12 show_for_rent" style="display:none;">
            <div class="row">
                <div class = "col-sm-6 ">
                    <div class="form-group">
                        <label for="priceInput">Rent Amount:</label>
                        <input type="number" name="rent_amount" id="priceInput" class="form-control">
                    </div>
                </div>
                <div class = "col-sm-6">
                    <div class="form-group">
                        <label for="priceInput">Type:</label>
                        <select class="form-control" name="rent_type">
                            <option value="Monthly">Monthly</option>
                            
                            <option value="Yearly">Yearly</option>
                        </select>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="col-sm-12 show_for_rent" style="display:none;">
            <div class="row">
                <div class = "col-sm-6 ">
                    <div class="form-group">
                        <label for="priceInput">Maintenance Amount:</label>
                        <input type="number" name="maintanence_amount" id="priceInput" class="form-control">
                    </div>
                </div>
                <div class = "col-sm-6">
                    <div class="form-group">
                        <label for="priceInput">Type:</label>
                        <select class="form-control" name="maintainence_type">
                            <option value="Monthly">Monthly</option>
                            <option value="Quaterly">Quaterly</option>
                            <option value="Yearly">Yearly</option>
                        </select>
                    </div>
                </div>
            </div>
            
        </div>
        
        <div class="col-sm-12" style="margin-top: 30px;">
            <div class="form-group">
                <div class="form-line">
                    <label>Property Description</label>
                    <textarea rows="4" class="form-control no-resize" name="property_description" placeholder="Property Description"></textarea>
                </div>
            </div>
        </div>
    </div>
    <h3 class="mt-4">Property Information</h3>
    <div id="pg_security_deposit_div" style="display:none">
        <div class="col-lg-12 col-md-12 col-sm-12 colivingspace" style="width:100%;">
            <div class="form-group">
                <label>Security Deposit:</label>
                <div class="radio-container">
                    <div class="radio-box" style="width: 100px !important;">
                        <input type="radio" name="security_deposit" id="zero" value="zero">
                        <label for="zero" style="width: 100px !important;">
                            Zero Deposit
                        </label>
                    </div>
                    <div class="radio-box" style="width: 100px !important;">
                        <input type="radio" name="security_deposit" id="one" value="one">
                        <label for="one" style="width: 100px !important;">
                            One Month
                        </label>
                    </div>
                    <div class="radio-box" style="width: 100px !important;">
                        <input type="radio" name="security_deposit" id="two" value="two">
                        <label for="two" style="width: 100px !important;">
                            Two Month
                        </label>
                    </div>
                    <div class="radio-box" style="width: 100px !important;">
                        <input type="radio" name="security_deposit" id="other" value="other">
                        <label for="other" style="width: 100px !important;">
                            Other
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 colivingspace" style="width:100%;">
            <div class="form-group">
                <label>Only available for Company Lease</label>
                <div class="radio-container">
                    <div class="radio-box" style="width: 100px !important;">
                        <input type="radio" name="company_lease" id="leaseyes" value="yes">
                        <label for="leaseyes" style="width: 100px !important;">
                            Yes
                        </label>
                    </div>
                    <div class="radio-box" style="width: 100px !important;">
                        <input type="radio" name="company_lease" id="leaseno" value="no">
                        <label for="leaseno" style="width: 100px !important;">
                            No
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 colivingspace" style="width:100%;">
            <div class="form-group">
                <label>Available For</label>
                <div class="radio-container">
                    <div class="radio-box" style="width: 100px !important;">
                        <input type="radio" name="available_for" id="girls" value="girls">
                        <label for="girls" style="width: 100px !important;">
                            Girls
                        </label>
                    </div>
                    <div class="radio-box" style="width: 100px !important;">
                        <input type="radio" name="available_for" id="boys" value="boys">
                        <label for="boys" style="width: 100px !important;">
                            Boys
                        </label>
                    </div>
                    <div class="radio-box" style="width: 100px !important;">
                        <input type="radio" name="available_for" id="all" value="all">
                        <label for="all" style="width: 100px !important;">
                            All
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 colivingspace" style="width:100%;">
            <div class="form-group">
                <label>Available From</label>
                <div class="radio-container">
                    <div class="radio-box" style="width: 100px !important;">
                        <input type="radio" name="available_from" id="immediately" value="immediately">
                        <label for="immediately" style="width: 100px !important;">
                            Immediately
                        </label>
                    </div>
                    <div class="radio-box" style="width: 100px !important;">
                        <input type="radio" name="available_from" id="later" value="later">
                        <label for="later" style="width: 100px !important;">
                            Later
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 colivingspace" style="width:100%;">
            <div class="form-group">
                <label>Suited For</label>
                <div class="radio-container">
                    <div class="radio-box" style="width: 100px !important;">
                        <input type="radio" name="suited_for" id="students" value="students">
                        <label for="students" style="width: 100px !important;">
                            Students
                        </label>
                    </div>
                    <div class="radio-box" style="width: 200px !important;">
                        <input type="radio" name="suited_for" id="working_professionals" value="workingprofessionals">
                        <label for="working_professionals" style="width: 200px !important;">
                            Working Professionals
                        </label>
                    </div>
                    <div class="radio-box" style="width: 100px !important;">
                        <input type="radio" name="suited_for" id="any" value="any">
                        <label for="any" style="width: 100px !important;">
                            Any
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 colivingspace" style="width:100%;">
            <div class="form-group">
                <label>Room Type</label>
                <div class="radio-container">
                    <div class="radio-box" style="width:120px !important;">
                        <input type="radio" name="room_type" id="private_room" value="privateroom">
                        <label for="private_room" style="width: 120px !important;">
                            Private Room
                        </label>
                    </div>
                    <div class="radio-box" style="width:120px !important;">
                        <input type="radio" name="room_type" id="twin_sharing" value="twinsharing">
                        <label for="twin_sharing" style="width: 120px !important;">
                            Twin Sharing
                        </label>
                    </div>
                    <div class="radio-box" style="width:120px !important;">
                        <input type="radio" name="room_type" id="triple_sharing" value="triplesharing">
                        <label for="triple_sharing" style="width: 120px !important;">
                            Triple Sharing
                        </label>
                    </div>
                    <div class="radio-box" style="width:120px !important;">
                        <input type="radio" name="room_type" id="quad_sharing" value="quadsharing">
                        <label for="quad_sharing" style="width: 120px !important;">
                            Quad Sharing
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6" style="margin-top:30px;" id="furnished_status">
            <div class="form-group">
                <label>Furnished Status</label>
                <div class="radio-container">
                    <div class="radio-box" style="width: 200px !important;">
                        <input type="radio" name="furnished_status" id="furnished" value="furnished">
                        <label for="Furnished" style="width: 200px !important;">
                            Fully Furnished
                        </label>
                    </div>
                    <div class="radio-box" style="width: 200px !important;">
                        <input type="radio" name="furnished_status" id="semifurished" value="semifurished">
                        <label for="semifurished" style="width: 200px !important;">
                            Semi Furnished
                        </label>
                    </div>
                    <div class="radio-box" style="width: 200px !important;">
                        <input type="radio" name="furnished_status" id="unfurnished" value="unfurnished">
                        <label for="unfurnished" style="width: 200px !important;">
                            Un-Furnished
                        </label>
                    </div>
                   
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 colivingspace" style="width:100%;">
            <div class="form-group">
                <label>Food Available</label>
                <div class="radio-container">
                    <div class="radio-box" style="width: 100px !important;">
                        <input type="radio" name="food_available" id="breakfast" value="breakfast">
                        <label for="breakfast" style="width: 100px !important;">
                            Breakfast
                        </label>
                    </div>
                    <div class="radio-box" style="width: 100px !important;">
                        <input type="radio" name="food_available" id="lunch" value="lunch">
                        <label for="lunch" style="width: 100px !important;">
                            Lunch
                        </label>
                    </div>
                    <div class="radio-box" style="width: 100px !important;">
                        <input type="radio" name="food_available" id="dinner" value="dinner">
                        <label for="dinner" style="width: 100px !important;">
                            Dinner
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 colivingspace" style="width:100%;">
            <div class="form-group">
                <label>Food Charges Included</label>
                <div class="radio-container">
                    <div class="radio-box" style="width: 100px !important;">
                        <input type="radio" name="food_charges" id="foodchargesyes" value="yes">
                        <label for="foodchargesyes" style="width: 100px !important;">
                            Yes
                        </label>
                    </div>
                    <div class="radio-box" style="width: 100px !important;">
                        <input type="radio" name="food_charges" id="foodchargesno" value="no">
                        <label for="foodchargesno" style="width: 100px !important;">
                            No
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 colivingspace" style="width:100%;">
            <div class="form-group">
                <label>Notice Period(Day"s)</label>
                <div class="radio-container">
                    <div class="radio-box" style="width: 100px !important;">
                        <input type="radio" name="notice_period" id="15" value="15">
                        <label for="15" style="width: 100px !important;">
                            15
                        </label>
                    </div>
                    <div class="radio-box" style="width: 100px !important;">
                        <input type="radio" name="notice_period" id="30" value="30">
                        <label for="30" style="width: 100px !important;">
                            30
                        </label>
                    </div>
                    <div class="radio-box" style="width: 100px !important;">
                        <input type="radio" name="notice_period" id="45" value="45">
                        <label for="45" style="width: 100px !important;">
                            45
                        </label>
                    </div>
                    <div class="radio-box" style="width: 100px !important;">
                        <input type="radio" name="notice_period" id="others" value="others">
                        <label for="others" style="width: 100px !important;">
                            Others
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 colivingspace" style="width:100%;">
            <div class="form-group">
                <label>Electricity Charges Included</label>
                <div class="radio-container">
                    <div class="radio-box" style="width: 100px !important;">
                        <input type="radio" name="electricity_charges" id="electricityyes" value="yes">
                        <label for="electricityyes" style="width: 100px !important;">
                            Yes
                        </label>
                    </div>
                    <div class="radio-box" style="width: 100px !important;">
                        <input type="radio" name="electricity_charges" id="electricityno" value="no">
                        <label for="electricityno" style="width: 100px !important;">
                            No
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 colivingspace" style="">
            <div class="form-group">
                <label>Total Number of Bed"s</label>
                <input type="text" class="form-control" name="no_of_bed" placeholder="Total Number of Bed's">
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 colivingspace" style="width:100%;">
            <div class="form-group">
                <label>PG,Hostel Rules</label>
                <div class="radio-container">
                    <div class="radio-box" style="width: 120px !important;">
                        <input type="radio" name="pg_rules" id="nosmoking" value="nosmoking">
                        <label for="nosmoking" style="width: 120px !important;">
                            No Smoking
                        </label>
                    </div>
                    <div class="radio-box" style="width: 150px !important;">
                        <input type="radio" name="pg_rules" id="noguardians" value="noguardians">
                        <label for="noguardians" style="width: 150px !important;">
                            No Guardians Stay
                        </label>
                    </div>
                    <div class="radio-box" style="width: 120px !important;">
                        <input type="radio" name="pg_rules" id="nodrinking" value="nodrinking">
                        <label for="nodrinking" style="width: 120px !important;">
                            No Drinking
                        </label>
                    </div>
                    <div class="radio-box" style="width: 120px !important;">
                        <input type="radio" name="pg_rules" id="nononveg" value="nononveg">
                        <label for="nononveg" style="width: 120px !important;">
                            No Non-Veg
                        </label>
                    </div>
                    <div class="radio-box" style="width: 120px !important;">
                        <input type="radio" name="pg_rules" id="visiterallow" value="visiterallow">
                        <label for="visiterallow" style="width: 120px !important;">
                            Visiter Allow
                        </label>
                    </div>
                    <div class="radio-box" style="width: 100px !important;">
                        <input type="radio" name="pg_rules" id="party" value="party">
                        <label for="party" style="width: 100px !important;">
                            Party
                        </label>
                    </div>
                    <div class="radio-box" style="width: 120px !important;">
                        <input type="radio" name="pg_rules" id="loudmusic" value="loudmusic">
                        <label for="loudmusic" style="width: 120px !important;">
                            Loud music
                        </label>
                    </div>
                    <div class="radio-box" style="width: 150px !important;">
                        <input type="radio" name="pg_rules" id="oppositegender" value="oppositegender">
                        <label for="oppositegender" style="width: 150px !important;">
                            Opposite Gender
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 colivingspace" style="width:100%;">
            <div class="form-group">
                <label>Gate Closing Time</label>
                <div class="radio-container">
                    <div class="radio-box" style="width: 100px !important;">
                        <input type="radio" name="gate_closing" id="gate1" value="yes">
                        <label for="gate1" style="width: 100px !important;">
                            Yes
                        </label>
                    </div>
                    <div class="radio-box" style="width: 100px !important;">
                        <input type="radio" name="gate_closing" id="gate2" value="no">
                        <label for="gate2" style="width: 100px !important;">
                            No
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 colivingspace" style="width:100%;">
            <div class="form-group">
                <label>Available PG Services</label>
                <div class="radio-container">
                    <div class="radio-box" style="width: 100px !important;">
                        <input type="radio" name="pg_services" id="wifi" value="wifi">
                        <label for="wifi" style="width: 100px !important;">
                            WiFi
                        </label>
                    </div>
                    <div class="radio-box" style="width: 150px !important;">
                        <input type="radio" name="pg_services" id="laundary" value="laundary">
                        <label for="laundary" style="width: 150px !important;">
                            Laundary Service
                        </label>
                    </div>
                    <div class="radio-box" style="width: 170px !important;">
                        <input type="radio" name="pg_services" id="wheelchair" value="wheelchair">
                        <label for="wheelchair" style="width: 170px !important;">
                            Wheelchair Friendly
                        </label>
                    </div>
                    <div class="radio-box" style="width: 150px !important;">
                        <input type="radio" name="pg_services" id="pet" value="pet">
                        <label for="pet" style="width: 150px !important;">
                            Pet Friendy
                        </label>
                    </div>
                    <div class="radio-box" style="width: 150px !important;">
                        <input type="radio" name="pg_services" id="roomcleaning" value="roomcleaning">
                        <label for="roomcleaning" style="width: 150px !important;">
                            Room Cleaning
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12  officespace" style="width:100%;display:none;">
        <div class="form-group">
            <label>Age of Property (Years)</label>
            <div class="radio-container">
                <div class="radio-box" style="width: 90px !important;">
                    <input type="radio" name="ageofproperty_office" id="0-1" value="0-1">
                    <label for="0-1" style="width: 90px !important;">
                        0-1
                    </label>
                </div>
                <div class="radio-box" style="width: 60px !important;">
                    <input type="radio" name="ageofproperty_office" id="2-4" value="2-4">
                    <label for="2-4" style="width: 50px !important;">
                        2-4
                    </label>
                </div>
                <div class="radio-box" style="width: 60px !important;">
                    <input type="radio" name="ageofproperty_office" id="5-7" value="5-7">
                    <label for="5-7" style="width: 50px !important;">
                        5-7
                    </label>
                </div>
                
                <div class="radio-box" style="width: 60px !important;">
                    <input type="radio" name="ageofproperty_office" id="8-10" value="8-10">
                    <label for="2" style="width: 50px !important;">
                        8-10
                    </label>
                </div>
                
                <div class="radio-box" style="width: 60px !important;">
                    <input type="radio" name="ageofproperty_office" id="10+" value="10+">
                    <label for="10+" style="width: 50px !important;">
                        10+
                    </label>
                </div>
               
               
                
            </div>
        </div>
    </div>
    
    <div class="row clearfix">
                                    
        <div class="col-lg-12 col-md-12 col-sm-12 hide_for_pg  residential_noofrooms" style="width:100%">
            <div class="form-group">
                <label>No. of rooms</label>
                <div class="radio-container">
                    <div class="radio-box" style="width: 90px !important;">
                        <input type="radio" name="no_of_rooms" id="studio" value="studio">
                        <label for="studio" style="width: 90px !important;">
                            Studio
                        </label>
                    </div>
                    <div class="radio-box" style="width: 60px !important;">
                        <input type="radio" name="no_of_rooms" id="1rk" value="1rk">
                        <label for="1rk" style="width: 50px !important;">
                            1 RK
                        </label>
                    </div>
                    <div class="radio-box" style="width: 60px !important;">
                        <input type="radio" name="no_of_rooms" id="1" value="1">
                        <label for="1" style="width: 50px !important;">
                            1
                        </label>
                    </div>
                    
                    <div class="radio-box" style="width: 60px !important;">
                        <input type="radio" name="no_of_rooms" id="2" value="2">
                        <label for="2" style="width: 50px !important;">
                            2
                        </label>
                    </div>
                    
                    <div class="radio-box" style="width: 60px !important;">
                        <input type="radio" name="no_of_rooms" id="3" value="3">
                        <label for="3" style="width: 50px !important;">
                            3
                        </label>
                    </div>
                   
                    <div class="radio-box" style="width: 60px !important;">
                        <input type="radio" name="no_of_rooms" id="4" value="4">
                        <label for="4" style="width: 50px !important;">
                            4
                        </label>
                    </div>
                    <div class="radio-box" style="width: 60px !important;">
                        <input type="radio" name="no_of_rooms" id="5" value="5">
                        <label for="5" style="width: 50px !important;">
                            5
                        </label>
                    </div>
                    <div class="radio-box" style="width: 60px !important;">
                        <input type="radio" name="no_of_rooms" id="6" value="6">
                        <label for="6" style="width: 50px !important;">
                            5+
                        </label>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-6 col-sm-6 hide_for_pg" style="margin-top:30px;" id="possession_type">
            <div class="form-line">
                <label>PossessiTypeon :</label>&nbsp;&nbsp;&nbsp;&nbsp;
                <div class="radio-container">
                    <div class="radio-box" style="width: 200px !important;">
                        <input type="radio" name="possession_type" id="readytomove" value="Ready to Move" onclick="showpossessionyear(this.value)">
                        <label for="readytomove" style="width: 200px !important;">
                            Ready to Move
                        </label>
                    </div>
                    <div class="radio-box" style="width: 200px !important;">
                        <input type="radio" name="possession_type" id="under_construction" value="Under Construction"  onclick="showpossessionyear(this.value)">
                        <label for="under_construction" style="width: 200px !important;">
                            Under Construction
                        </label>
                    </div>
                   
                </div>
                
                &nbsp;&nbsp;
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12   hide_for_pg" style="width:100%;">
            <div class="form-group">
                <label>Religion Bias</label>
                <div class="radio-container">
                    <div class="radio-box" style="width: 90px !important;">
                        <input type="radio" name="parking" id="yes" value="yes">
                        <label for="yes" style="width: 90px !important;">
                            Yes
                        </label>
                    </div>
                    <div class="radio-box" style="width: 60px !important;">
                        <input type="radio" name="parking" id="no" value="no">
                        <label for="no" style="width: 50px !important;">
                            No
                        </label>
                    </div>
                 </div>
            </div>
        </div>
        
        <div class="col-lg-12 col-md-4 col-sm-6 hide_for_pg hideforland" id="possessionyear" style="display:none !important;">
            <div class="form-group">
                <label>Possession Year</label>
                <input type="text" class="form-control" name="possession_year" placeholder="Possession Year">
            </div>
        </div>
        
    <div class="row" style="">
        <div class="col-sm-4">
            
            <style>
                /* Style for the checkbox container */
                .checkbox-container {
                    display: flex;
                }
        
                /* Style for each checkbox */
                .checkbox-box {
                    display: inline-block;
                    margin-right: 10px;
                }
        
                /* Style for the checkbox input (hidden) */
                .checkbox-box input[type="checkbox"] {
                    display: none;
                }
        
                /* Style for the checkbox label (the visible part) */
                .checkbox-box label {
                    border:1px solid black;
                    display: block;
                    width: 50px;
                    height: 50px;
                    background-color: #f0f0f0;
                    text-align: center;
                    line-height: 50px;
                    cursor: pointer;
                }
        
                /* Style for the selected checkbox label */
                .checkbox-box input[type="checkbox"]:checked + label {
                    background-color: #3498db;
                    color: #fff;
                }
                #amenities{
                    margin-left:20px !important;
                }
            </style>
           
        </div>
        
        
        <div class="col-lg-12 col-md-6 col-sm-6 showforland hide_for_pg" style="display:none">
            <div class="form-group">
                <label>Plot Area(Sq. Ft)</label>
                <input type="text" class="form-control" name="area" placeholder="Square ft">
            </div>
        </div>
        <div class="col-lg-12 col-md-6 col-sm-6 showforland hide_for_pg"  style="display:none">
            <div class="form-group">
                <label>Plot Area Type</label>
                <select class="form-control" name="area_type">
                    <option value="sqft">Sq. Ft.</option>
                    <option value="sqyd">Sq. Yd.</option>
                    <option value="sqmt">Sq. Mt.</option>
                    <option value="acre">Acre</option>
                </select>
            </div>
        </div>
        </div>
        
        <div class="col-lg-12 col-md-4 col-sm-6 hideforland hide_for_pg">
            <div class="form-group">
                <label>Area(Sq. Ft)</label>
                <input type="text" class="form-control" name="area" placeholder="Square ft">
            </div>
        </div>
        <div class="col-lg-12 col-md-4 col-sm-6 hideforland hide_for_pg">
            <div class="form-group">
                <label>Area Type</label>
                <select class="form-control" name="area_type">
                    <option value="builtup-area">Built-up Area</option>
                    <option value="saleable-area">Saleable Area</option>
                    <option value="carpet-area">Carpet Area</option>
                    <option value="plot-area">Plot Area</option>
                </select>
            </div>
        </div>
        <div class="col-lg-6 col-md-4 col-sm-6 terracearea hide_for_pg"  style="display:none;">
            <div class="form-group">
                <label>Terrace Area(Sq. Ft)</label>
                <input type="text" class="form-control" name="area" placeholder="Square ft">
            </div>
        </div>
        <div class="col-lg-6 col-md-4 col-sm-6 terracearea hide_for_pg" style="display:none;">
            <div class="form-group">
                <label>Terrace Type</label>
                <select class="form-control" name="area_type">
                    <option value="builtup-area">Built-up Area</option>
                    <option value="saleable-area">Saleable Area</option>
                    <option value="carpet-area">Carpet Area</option>
                    <option value="plot-area">Plot Area</option>
                </select>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 hideforland hide_for_pg">
            <div class="form-group">
                <label>Bathrooms</label>
                <input type="number" class="form-control" name="bathroom" placeholder="Enter Number">
            </div>
        </div>
       
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 hide_for_pg" style="margin-top:30px;" id="furnished_status">
        <div class="form-group">
            <label>Furnished Status</label>
            <div class="radio-container">
                <div class="radio-box" style="width: 200px !important;">
                    <input type="radio" name="furnished_status" id="Furnished" value="furnished">
                    <label for="Furnished" style="width: 200px !important;">
                        Fully Furnished
                    </label>
                </div>
                <div class="radio-box" style="width: 200px !important;">
                    <input type="radio" name="furnished_status" id="semifurished" value="semifurished">
                    <label for="semifurished" style="width: 200px !important;">
                        Semi Furnished
                    </label>
                </div>
                <div class="radio-box" style="width: 200px !important;">
                    <input type="radio" name="furnished_status" id="No" value="No">
                    <label for="No" style="width: 200px !important;">
                        Un-Furnished
                    </label>
                </div>
               
            </div>
        </div>
    </div>
    
   
</div>
    
    
    
    

    

    