
 {% load static %}
 <link rel="stylesheet" href="{% static 'admin/assets/css/main.css' %}">

 
 <link rel="stylesheet" href="{% static 'frontpart/assets/css/all.min.css' %}">
 <link rel="stylesheet" href="{% static 'frontpart/assets/css/animate.min.css' %}">
 <link rel="stylesheet" href="{% static 'frontpart/assets/webfonts/flaticon/flaticon.css' %}">
 <link rel="stylesheet" href="{% static 'frontpart/assets/css/owl.css' %}">
 <link rel="stylesheet" href="{% static 'frontpart/assets/css/jquery.fancybox.min.css' %}">
 <link rel="stylesheet" href="{% static 'frontpart/assets/css/layerslider.css' %}">
 <link rel="stylesheet" href="{% static 'frontpart/assets/css/template.css' %}">
 
 <link rel="stylesheet" href="{% static 'frontpart/assets/css/colors/color-6.css' %}">
 <link rel="stylesheet" href="{% static 'frontpart/assets/css/loader.css' %}">
 
 <br>
<!doctype html>
<html lang="en">

    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="RealEstate Admin Dashboard template, UI kit, Bootstrap 4x">
        <meta name="author" content="Thememakker">

        <title>Realezi : admin</title>
        <link rel="icon" href="favicon.ico" type="image/x-icon"> <!-- Favicon-->
        <link rel="stylesheet" href="https://thememakker.com/templates/oreo/realestate/html/assets/plugins/bootstrap/css/bootstrap.min.css">
        <!-- Custom Css -->
        <link rel="stylesheet" href="{% static 'admin/assets/css/main.css' %}">
        <link rel="stylesheet" href="{% static 'adminassets/css/color_skins.css' %}">
        <!-- Custom Css -->
       
    </head>
    <body class="theme-purple">
       
     <!-- Overlay For Sidebars -->
        <div class="overlay"></div>
        
        <!-- Top Bar -->
        
        <style>
            #sidebar_hyperlink{
                color:white;
                font-size:17px;
            }
        </style>
       <!-- Left Sidebar -->
<aside id="leftsidebar" class="sidebar" style="background-color: rgba(0, 0, 0, 0.87);width:17%;">
    <ul class="nav nav-tabs">
        <li class="nav-item" style="width:50%;"><a id="sidebar_hyperlink"class="nav-link active" data-toggle="tab" href="#notices" style="color:white;">Notices</a></li>
        <li class="nav-item" style="width:50%;"><a id="sidebar_hyperlink"class="nav-link active" data-toggle="tab" href="#offers"><i class="zmdi zmdi-account m-r-5"></i>Offers</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane stretchRight active" id="dashboard" style="margin-top:20px;">
            <div class="menu">
                <ul class="list">
                    <li>
                        <div class="user-info">
                            
                            <div class="detail">
                                <h3 style="color:white;font-family: 'Courier New', Courier, monospace;">Welcome Shyam <i class="fa fa-caret-down"></i></h3>
                            </div>
                                                    
                        </div>
                    </li>
                    <li class="header">MAIN</li>
                    <li class="active open"><a id="sidebar_hyperlink"href="{% url "bdashboard" %}"><i class="zmdi zmdi-home"></i><span>Home</span></a></li>   
                    <li class="active open"><a id="sidebar_hyperlink"href="{% url "myproperty" %}"><i class="zmdi zmdi-home"></i><span>Property List</span></a></li>                    
                    <li><a id="sidebar_hyperlink" href="javascript:void(0);" class="menu-toggle" active><i class="zmdi zmdi-city"></i><span>Add Property</span></a>
                        <ul class="ml-menu" style="display: block;">
                            <li><a id="sidebar_hyperlink"href="{% url "add-residential-property" %}">Residential</a></li>
                            <li><a id="sidebar_hyperlink"href="{% url "add-commercial-property" %}">Commercial</a></li>
                            <li><a id="sidebar_hyperlink"href="{% url "add-residential-commercial-property" %}">Residential + Commercial</a></li>
                            
                        </ul>
                    </li>
                    <li class="active open"><a id="sidebar_hyperlink"href="{% url "site-visits" %}"><i class="zmdi zmdi-home"></i><span>Site Visits</span></a></li>    
                    <li class="active open"><a id="sidebar_hyperlink"href="index.html"><i class="zmdi zmdi-home"></i><span>Inventory</span></a></li>  
                    <li class="active open"><a id="sidebar_hyperlink"href="#"><i class="zmdi zmdi-home"></i><span>Payments</span></a></li>  
                    <li class="active open"><a id="sidebar_hyperlink"href="index.html"><i class="zmdi zmdi-home"></i><span>Subscription</span></a></li>
                    <li class="active open"><a id="sidebar_hyperlink"href="{% url "team-details" %}"><i class="zmdi zmdi-home"></i><span>Team Details</span></a></li>    
                    
                </ul>
            </div>
        </div>
        <div class="tab-pane stretchLeft" id="user">
            <div class="menu">
                <ul class="list">
                    <li>
                        <div class="user-info m-b-20 p-b-15">
                            <div class="image"><a id="sidebar_hyperlink"href="profile.html"><img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/profile_av.jpg" alt="User"></a></div>
                            <div class="detail">
                                <h4>Michael</h4>
                                <small>Agent</small>
                            </div>
                            <a id="sidebar_hyperlink"title="facebook" href="javascript:void(0);"><i class="zmdi zmdi-facebook"></i></a>
                            <a id="sidebar_hyperlink"title="twitter" href="javascript:void(0);"><i class="zmdi zmdi-twitter"></i></a>
                            <a id="sidebar_hyperlink"title="instagram" href="javascript:void(0);"><i class="zmdi zmdi-instagram"></i></a>
                            <p class="text-muted">795 Folsom Ave, Suite 600 San Francisco, CADGE 94107</p>
                            <div class="row">
                                <div class="col-4">
                                    <h6 class="mb-1">852</h6>
                                    <small>Deals</small>
                                </div>
                                <div class="col-4">
                                    <h6 class="mb-1">13k</h6>
                                    <small>Sales</small>
                                </div>
                                <div class="col-4">
                                    <h6 class="mb-1">234</h6>
                                    <small>Clients</small>
                                </div>                            
                            </div>
                        </div>
                    </li>
                    <li>
                        <small class="text-muted">Email address: </small>
                        <p>michael@gmail.com</p>
                        <hr>
                        <small class="text-muted">Phone: </small>
                        <p>+ 202-555-0191</p>
                        <hr>
                        <ul class="list-unstyled">
                            <li>
                                <div>Honesty & Integrity</div>
                                <div class="progress m-b-20">
                                    <div class="progress-bar l-blue " role="progressbar" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100" style="width: 89%"> <span class="sr-only">62% Complete</span> </div>
                                </div>
                            </li>
                            <li>
                                <div>Responsiveness</div>
                                <div class="progress m-b-20">
                                    <div class="progress-bar l-green " role="progressbar" aria-valuenow="56" aria-valuemin="0" aria-valuemax="100" style="width: 56%"> <span class="sr-only">87% Complete</span> </div>
                                </div>
                            </li>
                            <li>
                                <div>Local Knowledge</div>
                                <div class="progress m-b-20">
                                    <div class="progress-bar l-amber" role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100" style="width: 78%"> <span class="sr-only">32% Complete</span> </div>
                                </div>
                            </li>
                        </ul>                        
                    </li>
                </ul>
            </div>
        </div>
    </div>    
</aside>


        <!-- Right Sidebar -->
        <aside id="rightsidebar" class="right-sidebar">
            <ul class="nav nav-tabs">
                <li class="nav-item"><a id="sidebar_hyperlink"class="nav-link active" data-toggle="tab" href="#setting"><i class="zmdi zmdi-settings zmdi-hc-spin"></i></a></li>
                <li class="nav-item"><a id="sidebar_hyperlink"class="nav-link" data-toggle="tab" href="#chat"><i class="zmdi zmdi-comments"></i></a></li>
                <li class="nav-item"><a id="sidebar_hyperlink"class="nav-link" data-toggle="tab" href="#activity">Activity</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane slideRight active" id="setting">
                    <div class="slim_scroll">
                        <div class="card">
                            <h6>Skins</h6>
                            <ul class="choose-skin list-unstyled">
                                <li data-theme="purple" class="active"><div class="purple"></div></li>
                                <li data-theme="blue"><div class="blue"></div></li>
                                <li data-theme="cyan"><div class="cyan"></div></li>
                                <li data-theme="green"><div class="green"></div></li>
                                <li data-theme="orange"><div class="orange"></div></li>
                                <li data-theme="blush"><div class="blush"></div></li>
                            </ul>
                        </div>
                        <div class="card theme-light-dark">
                            <h6>Left Menu</h6>
                            <button class="t-light btn btn-default btn-simple btn-round btn-block">Light</button>
                            <button class="t-dark btn btn-default btn-round btn-block">Dark</button>
                            <button class="m_img_btn btn btn-primary btn-round btn-block">Sidebar Image</button>
                        </div>
                        <div class="card">
                            <h6>General Settings</h6>
                            <ul class="setting-list list-unstyled">
                                <li>
                                    <div class="checkbox">
                                        <input id="checkbox1" type="checkbox">
                                        <label for="checkbox1">Report Panel Usage</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <input id="checkbox2" type="checkbox" checked="">
                                        <label for="checkbox2">Email Redirect</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <input id="checkbox3" type="checkbox" checked="">
                                        <label for="checkbox3">Notifications</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <input id="checkbox4" type="checkbox" checked="">
                                        <label for="checkbox4">Auto Updates</label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="card">
                            <h6>Account Settings</h6>
                            <ul class="setting-list list-unstyled">
                                <li>
                                    <div class="checkbox">
                                        <input id="checkbox5" type="checkbox" checked="">
                                        <label for="checkbox5">Offline</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <input id="checkbox6" type="checkbox" checked="">
                                        <label for="checkbox6">Location Permission</label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="card">
                            <h6>Information Summary</h6>
                            <div class="row m-b-20">
                                <div class="col-7">
                                    <small class="displayblock">MEMORY USAGE</small>
                                    <h5 class="m-b-0 h6">512</h5>
                                </div>
                                <div class="col-5">
                                    <div class="sparkline" data-type="bar" data-width="97%" data-height="25px" data-bar-Width="5" data-bar-Spacing="3" data-bar-Color="#00ced1">8,7,9,5,6,4,6,8</div>
                                </div>
                            </div>
                            <div class="row m-b-20">
                                <div class="col-7">
                                    <small class="displayblock">CPU USAGE</small>
                                    <h5 class="m-b-0 h6">90%</h5>
                                </div>
                                <div class="col-5">
                                    <div class="sparkline" data-type="bar" data-width="97%" data-height="25px" data-bar-Width="5" data-bar-Spacing="3" data-bar-Color="#F15F79">6,5,8,2,6,4,6,4</div>
                                </div>
                            </div>
                            <div class="row m-b-20">
                                <div class="col-7">
                                    <small class="displayblock">DAILY TRAFFIC</small>
                                    <h5 class="m-b-0 h6">25 142</h5>
                                </div>
                                <div class="col-5">
                                    <div class="sparkline" data-type="bar" data-width="97%" data-height="25px" data-bar-Width="5" data-bar-Spacing="3" data-bar-Color="#78b83e">7,5,8,7,4,2,6,5</div>
                                </div>
                            </div>
                            <div class="row m-b-40">
                                <div class="col-7">
                                    <small class="displayblock">DISK USAGE</small>
                                    <h5 class="m-b-0 h6">60.10%</h5>
                                </div>
                                <div class="col-5">
                                    <div class="sparkline" data-type="bar" data-width="97%" data-height="25px" data-bar-Width="5" data-bar-Spacing="3" data-bar-Color="#457fca">7,5,2,5,6,7,6,4</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane right_chat stretchLeft" id="chat">
                    <div class="slim_scroll">
                        <div class="card">
                            <div class="search">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search...">
                                    <span class="input-group-addon"><i class="zmdi zmdi-search"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <h6>Recent</h6>
                            <ul class="list-unstyled">
                                <li class="online">
                                    <a id="sidebar_hyperlink"href="javascript:void(0);">
                                        <div class="media">
                                            <img class="media-object " src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar4.jpg" alt="">
                                            <div class="media-body">
                                                <span class="name">Sophia</span>
                                                <span class="message">There are many variations of passages of Lorem Ipsum available</span>
                                                <span class="badge badge-outline status"></span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="online">
                                    <a id="sidebar_hyperlink"href="javascript:void(0);">
                                        <div class="media">
                                            <img class="media-object " src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar5.jpg" alt="">
                                            <div class="media-body">
                                                <span class="name">Grayson</span>
                                                <span class="message">All the Lorem Ipsum generators on the</span>
                                                <span class="badge badge-outline status"></span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="offline">
                                    <a id="sidebar_hyperlink"href="javascript:void(0);">
                                        <div class="media">
                                            <img class="media-object " src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar2.jpg" alt="">
                                            <div class="media-body">
                                                <span class="name">Isabella</span>
                                                <span class="message">Contrary to popular belief, Lorem Ipsum</span>
                                                <span class="badge badge-outline status"></span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="me">
                                    <a id="sidebar_hyperlink"href="javascript:void(0);">
                                        <div class="media">
                                            <img class="media-object " src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar1.jpg" alt="">
                                            <div class="media-body">
                                                <span class="name">John</span>
                                                <span class="message">It is a long established fact that a reader</span>
                                                <span class="badge badge-outline status"></span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="online">
                                    <a id="sidebar_hyperlink"href="javascript:void(0);">
                                        <div class="media">
                                            <img class="media-object " src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar3.jpg" alt="">
                                            <div class="media-body">
                                                <span class="name">Alexander</span>
                                                <span class="message">Richard McClintock, a Latin professor</span>
                                                <span class="badge badge-outline status"></span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="card">
                            <h6>Contacts</h6>
                            <ul class="list-unstyled">
                                <li class="offline inlineblock">
                                    <a id="sidebar_hyperlink"href="javascript:void(0);">
                                        <div class="media">
                                            <img class="media-object " src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar10.jpg" alt="">
                                            <div class="media-body">
                                                <span class="badge badge-outline status"></span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="offline inlineblock">
                                    <a id="sidebar_hyperlink"href="javascript:void(0);">
                                        <div class="media">
                                            <img class="media-object " src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar6.jpg" alt="">
                                            <div class="media-body">
                                                <span class="badge badge-outline status"></span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="offline inlineblock">
                                    <a id="sidebar_hyperlink"href="javascript:void(0);">
                                        <div class="media">
                                            <img class="media-object " src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar7.jpg" alt="">
                                            <div class="media-body">
                                                <span class="badge badge-outline status"></span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="offline inlineblock">
                                    <a id="sidebar_hyperlink"href="javascript:void(0);">
                                        <div class="media">
                                            <img class="media-object " src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar8.jpg" alt="">
                                            <div class="media-body">
                                                <span class="badge badge-outline status"></span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="offline inlineblock">
                                    <a id="sidebar_hyperlink"href="javascript:void(0);">
                                        <div class="media">
                                            <img class="media-object " src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar9.jpg" alt="">
                                            <div class="media-body">
                                                <span class="badge badge-outline status"></span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="online inlineblock">
                                    <a id="sidebar_hyperlink"href="javascript:void(0);">
                                        <div class="media">
                                            <img class="media-object " src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar5.jpg" alt="">
                                            <div class="media-body">
                                                <span class="badge badge-outline status"></span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="offline inlineblock">
                                    <a id="sidebar_hyperlink"href="javascript:void(0);">
                                        <div class="media">
                                            <img class="media-object " src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar4.jpg" alt="">
                                            <div class="media-body">
                                                <span class="badge badge-outline status"></span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="offline inlineblock">
                                    <a id="sidebar_hyperlink"href="javascript:void(0);">
                                        <div class="media">
                                            <img class="media-object " src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar3.jpg" alt="">
                                            <div class="media-body">
                                                <span class="badge badge-outline status"></span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="online inlineblock">
                                    <a id="sidebar_hyperlink"href="javascript:void(0);">
                                        <div class="media">
                                            <img class="media-object " src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar2.jpg" alt="">
                                            <div class="media-body">
                                                <span class="badge badge-outline status"></span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="offline inlineblock">
                                    <a id="sidebar_hyperlink"href="javascript:void(0);">
                                        <div class="media">
                                            <img class="media-object " src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar1.jpg" alt="">
                                            <div class="media-body">
                                                <span class="badge badge-outline status"></span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tab-pane slideLeft" id="activity">
                    <div class="slim_scroll">
                        <div class="card user_activity">
                            <h6>Recent Activity</h6>
                            <div class="streamline b-accent">
                                <div class="sl-item">
                                    <img class="user rounded-circle" src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar4.jpg" alt="">
                                    <div class="sl-content">
                                        <h5 class="m-b-0">Admin Birthday</h5>
                                        <small>Jan 21 <a id="sidebar_hyperlink"href="javascript:void(0);" class="text-info">Sophia</a>.</small>
                                    </div>
                                </div>
                                <div class="sl-item">
                                    <img class="user rounded-circle" src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar5.jpg" alt="">
                                    <div class="sl-content">
                                        <h5 class="m-b-0">Add New Contact</h5>
                                        <small>30min ago <a id="sidebar_hyperlink"href="javascript:void(0);">Alexander</a>.</small>
                                        <small><strong>P:</strong> +264-625-2323</small>
                                        <small><strong>E:</strong> maryamamiri@gmail.com</small>
                                    </div>
                                </div>
                                <div class="sl-item">
                                    <img class="user rounded-circle" src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar6.jpg" alt="">
                                    <div class="sl-content">
                                        <h5 class="m-b-0">Code Change</h5>
                                        <small>Today <a id="sidebar_hyperlink"href="javascript:void(0);">Grayson</a>.</small>
                                        <small>The standard chunk of Lorem Ipsum used since the 1500s is reproduced</small>
                                    </div>
                                </div>
                                <div class="sl-item">
                                    <img class="user rounded-circle" src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar7.jpg" alt="">
                                    <div class="sl-content">
                                        <h5 class="m-b-0">New Email</h5>
                                        <small>45min ago <a id="sidebar_hyperlink"href="javascript:void(0);" class="text-info">Fidel Tonn</a>.</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <h6>Recent Attachments</h6>
                            <ul class="list-unstyled activity">
                                <li>
                                    <a id="sidebar_hyperlink"href="javascript:void(0)">
                                        <i class="zmdi zmdi-collection-pdf l-blush"></i>
                                        <div class="info">
                                            <h4>info_258.pdf</h4>
                                            <small>2MB</small>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a id="sidebar_hyperlink"href="javascript:void(0)">
                                        <i class="zmdi zmdi-collection-text l-amber"></i>
                                        <div class="info">
                                            <h4>newdoc_214.doc</h4>
                                            <small>900KB</small>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a id="sidebar_hyperlink"href="javascript:void(0)">
                                        <i class="zmdi zmdi-image l-parpl"></i>
                                        <div class="info">
                                            <h4>MG_4145.jpg</h4>
                                            <small>5.6MB</small>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a id="sidebar_hyperlink"href="javascript:void(0)">
                                        <i class="zmdi zmdi-image l-parpl"></i>
                                        <div class="info">
                                            <h4>MG_4100.jpg</h4>
                                            <small>5MB</small>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a id="sidebar_hyperlink"href="javascript:void(0)">
                                        <i class="zmdi zmdi-collection-text l-amber"></i>
                                        <div class="info">
                                            <h4>Reports_end.doc</h4>
                                            <small>780KB</small>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a id="sidebar_hyperlink"href="javascript:void(0)">
                                        <i class="zmdi zmdi-videocam l-turquoise"></i>
                                        <div class="info">
                                            <h4>movie2018.MKV</h4>
                                            <small>750MB</small>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
    </body>
</html>