
 {% load static %}
 <link rel="stylesheet" href="{% static 'admin/assets/css/main.css' %}">

 
 <link rel="stylesheet" href="{% static 'frontpart/assets/css/all.min.css' %}">
 <link rel="stylesheet" href="{% static 'frontpart/assets/css/animate.min.css' %}">
 <link rel="stylesheet" href="{% static 'frontpart/assets/webfonts/flaticon/flaticon.css' %}">
 <link rel="stylesheet" href="{% static 'frontpart/assets/css/owl.css' %}">
 <link rel="stylesheet" href="{% static 'frontpart/assets/css/jquery.fancybox.min.css' %}">
 <link rel="stylesheet" href="{% static 'frontpart/assets/css/layerslider.css' %}">
 <link rel="stylesheet" href="{% static 'frontpart/assets/css/template.css' %}">
 
 <link rel="stylesheet" href="{% static 'frontpart/assets/css/colors/color-6.css' %}">
 <link rel="stylesheet" href="{% static 'frontpart/assets/css/loader.css' %}">
 <header class="nav-on-banner bg-white">
     <div class="main-nav py-2 xs-p-0">
         <div class="container">
             <div class="row">
                 <div class="col">
                     <nav class="navbar navbar-expand-lg nav-secondary nav-primary-hover nav-line-active" style="background-color: white;">
                         
                         <div class="collapse navbar-collapse sm-ml-0" id="navbarSupportedContent">
                             <ul class="navbar-nav ms-auto" style="margin-left:30px;">
                                 <li class="nav-item dropdown">
                                     <a class="nav-link dropdown-toggle" href="#" style="color:black;">Buy</a>
                                     <ul class="dropdown-menu">
                                         <li><a class="dropdown-item" href="index#" style="color:black;">Buy in Harni</a></li>
                                         <li><a class="dropdown-item" href="index-3#" style="color:black;">Buy in Alkapuri</a></li>
                                         <li><a class="dropdown-item" href="index-4#" style="color:black;">Buy in Vasna</a></li>
                                     </ul>
                                 </li>
                                 <li class="nav-item dropdown">
                                     <a class="nav-link dropdown-toggle" href="#" style="color:black;">Rent</a>
                                     <ul class="dropdown-menu">
                                         <li><a class="dropdown-item" href="index#" style="color:black;">Buy in Harni</a></li>
                                         <li><a class="dropdown-item" href="index-3#" style="color:black;">Buy in Alkapuri</a></li>
                                         <li><a class="dropdown-item" href="index-4#" style="color:black;">Buy in Vasna</a></li>
                                     </ul>
                                 </li>
                                 <li class="nav-item dropdown">
                                     <a class="nav-link dropdown-toggle" href="#"  style="color:black;">Projects</a>
                                     <ul class="dropdown-menu">
                                         <li><a class="dropdown-item" href="index#"  style="color:black;">Buy in Harni</a></li>
                                         <li><a class="dropdown-item" href="index-3#"  style="color:black;">Buy in Alkapuri</a></li>
                                         <li><a class="dropdown-item" href="index-4#"  style="color:black;">Buy in Vasna</a></li>
                                     </ul>
                                 </li>
                                 <li class="nav-item dropdown">
                                     <a class="nav-link dropdown-toggle" href="#"  style="color:black;">Services</a>
                                     <ul class="dropdown-menu">
                                         <li><a class="dropdown-item" href="index#"  style="color:black;">Home Loan</a></li>
                                         <li><a class="dropdown-item" href="index-3#" style="color:black;">Property Legal Services</a></li>
                                         <li><a class="dropdown-item" href="index-4#" style="color:black;">Commercial Guidance</a></li>
                                         <li><a class="dropdown-item" href="index-4#" style="color:black;">Vastu Consultation</a></li>
                                         <li><a class="dropdown-item" href="index-4#" style="color:black;">Legalities</a></li>
                                         <li><a class="dropdown-item" href="index-4#" style="color:black;">Consultation</a></li>
                                         <li><a class="dropdown-item" href="index-4#" style="color:black;">Rent/Lease Agreement Guidance</a></li>
                                         <li><a class="dropdown-item" href="index-4#" style="color:black;">Loan Calculator</a></li>
                                     </ul>
                                 </li>
                                 <li class="nav-item">
                                     <a class="nav-link" href="/aboutus" style="color:black;">About Us</a>
                                     
                                 </li>
                                 <li class="nav-item">
                                     <a class="nav-link" href="/contact" style="color:black;">Contact Us</a>
                                     
                                 </li>
                             </ul>
                             <ul class="navbar-nav sm-mx-none border-start ps-3">
                                 <li class="nav-item">
                                     <a class="nav-link" href="/signin" style="color:black;"><i class="fas fa-user"></i>{% if request.session.user_username %}
                                        <p>Welcome, {{ request.session.name }}</p>
                                    {% endif %}</a>
                                 </li>
                             </ul>
                             <a href="/signin" class="btn btn-primary add-listing-btn">+ Create Listing</a>
                         </div>
                     </nav>
                 </div>
             </div>
         </div>
     </div>
 </header>
 <br>
<!doctype html>
<html lang="en">

    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="RealEstate Admin Dashboard template, UI kit, Bootstrap 4x">
        <meta name="author" content="Thememakker">

        <title>Realezi : admin</title>
        <link rel="icon" href="favicon.ico" type="image/x-icon"> <!-- Favicon-->
        
        <!-- Custom Css -->
        <link rel="stylesheet" href="{% static 'admin/assets/css/main.css' %}">
        <link rel="stylesheet" href="{% static 'adminassets/css/color_skins.css' %}">
        <!-- Custom Css -->
       
    </head>
    <body class="theme-purple">
       
     <!-- Overlay For Sidebars -->
        <div class="overlay"></div>
        
        <!-- Top Bar -->
        <nav class="navbar p-l-5 p-r-5" style="background-color: white !important;">
            <ul class="nav navbar-nav navbar-left">
                <li class="{% if request.path == '/' %}active{% endif %}">
                    <a href="/" style="font-size: 18px;color:black;">Home<span class="submenu-indicator"></span></a>
                </li>
                <li class="{% if request.path == '/buy/' %}active{% endif %}">
                    <a href="" style="font-size: 18px;color:black;">Buy<span class="submenu-indicator" style="margin-top:0px"></span></a>
                    <!-- Add submenu items here -->
                </li>
                <li class="{% if request.path == '/services/' %}active{% endif %}">
                    <a href="" style="font-size: 18px;color:black;">Services<span class="submenu-indicator"></span></a>
                    <!-- Add submenu items here -->
                </li>
                <li class="{% if request.path == '/about-us/' %}active{% endif %}">
                    <a href="/about-us/" style="color:black;font-size: 18px;">About Us</a>
                </li>
                <li class="{% if request.path == '/contact/' %}active{% endif %}">
                    <a href="/contact/" style="color:black;font-size: 18px;">Contact Us</a>
                </li>
                
                
                <li class="float-right" style="margin-top:10px !important;">
                    <a href="/logout" style="color:white;margin-top:20px !important;"><button class="btn btn-primary btn-sm"><span style="margin-top:-30px">Logout</span>&nbsp;<i class="zmdi zmdi-power"></i></a>
                    </button>
                </li>
            </ul>
        </nav>

        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar">
            <ul class="nav nav-tabs">
                <li class="nav-item" style="border-bottom:1px solid #8080802e;width:100%;">
                    <a class="nav-link"  href="/">
                        <img src="{% static 'front-end/img/realezilogos.png' %}" class="logo" alt="" style="max-width:141px;height:38px !important;width:141px !important;"/>
						
                    </a>
                </li>
                <!-- <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#user"><i class="zmdi zmdi-account m-r-5"></i>Agent</a></li> -->
            </ul>
            <div class="tab-content">
                <div class="tab-pane stretchRight active" id="dashboard">
                    <div class="menu">
                        <ul class="list">
                            <li>
                                <div class="user-info">
                                    
                                    <div class="detail">
                                        <h4>Welcome Shyam &nbsp;&nbsp;&nbsp;&nbsp;
                                           
                                        </h4>
                                        <small></small>
                                    </div>
                                    <div class="row">
                                        <div class="col-6" style="border:1px solid grey;padding:15px;">
                                            <img src="https://cdn-icons-png.flaticon.com/512/565/565422.png" style="height:30px;width:30px;">Notices
                                            
                                        </div>
                                        <div class="col-6" style="border:1px solid grey;padding:15px;">
                                            <img src="https://cdn1.iconfinder.com/data/icons/ios-11-glyphs/30/online_support-512.png" style="height:30px;width:30px;">Support
                                            
                                            
                                        </div> 
                                        <div class="modal fade" id="myModal" role="dialog">
                                            <div class="modal-dialog">
                                            
                                              <!-- Modal content-->
                                              <div class="modal-content">
                                                <div class="modal-header">
                                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                  <h4 class="modal-title">Modal Header</h4>
                                                </div>
                                                <div class="modal-body">
                                                  <p>Some text in the modal.</p>
                                                </div>
                                                <div class="modal-footer">
                                                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                </div>
                                              </div>
                                              
                                            </div>
                                          </div>                                                         
                                    </div>
                                </div>
                                
                            </li>
                            <li class="header">MAIN</li>
                            <li class="{% if request.path == '/bdashboard'%}active {% endif %} open"><a href="/bdashboard"><span><img src="https://cdn-icons-png.flaticon.com/512/6292/6292175.png" style="height:30px;width:30px;">&nbsp;&nbsp;Home</span></a></li>
                            
                            <li class="{% if request.path == '/myproperty' %} active {% endif %}open"><a href="/myproperty"><span><img src="https://cdn-icons-png.flaticon.com/512/306/306470.png" style="height:30px;width:30px;">&nbsp;&nbsp;MY LISTINGS</span></a></li>
                            <li class="{% if request.path == '/addproperty' %} active {% endif %}open"><a href="/addproperty"><span><img src="https://cdn-icons-png.flaticon.com/512/3325/3325947.png" style="height:30px;width:30px;">&nbsp;&nbsp;POST PROPERTY</span></a></li>
                            
                            <li class="{% if request.path == '/addproperty' %} active {% endif %}open"><a href="/manageinquiry"><span><img src="https://www.kindpng.com/picc/m/258-2588636_transparent-sales-icon-png-sales-inquiry-icon-png.png" style="height:30px;width:30px;">&nbsp;&nbsp;INQUIRY/VISITS</span></a></li>
                            <li class="{% if request.path == '/myprofile'%}active {% endif %} open"><a href="/myprofile"><span><img src="https://cdn-icons-png.flaticon.com/512/2897/2897785.png" style="height:30px;width:30px;"/>&nbsp;&nbsp;INVENTORY</span></a></li>
                            <li><a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-city"></i><span>Settings</span></a>
                                <ul class="ml-menu">
                                    <li><a href="#">Manage Password</a></li>
                                    <li><a href="#">Manage Bank Account</a></li>
                                    <li><a href="#">Manage KYC</a></li>
                                    
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-swap-alt"></i><span>User Interface (UI)</span></a>
                                <ul class="ml-menu">
                                    <li><a href="ui_kit.html">UI KIT</a></li>
                                    <li><a href="alerts.html">Alerts</a></li>
                                    <li><a href="collapse.html">Collapse</a></li>
                                    <li><a href="colors.html">Colors</a></li>
                                    <li><a href="dialogs.html">Dialogs</a></li>
                                    <li><a href="icons.html">Icons</a></li>
                                    <li><a href="list-group.html">List Group</a></li>
                                    <li><a href="media-object.html">Media Object</a></li>
                                    <li><a href="modals.html">Modals</a></li>
                                    <li><a href="notifications.html">Notifications</a></li>
                                    <li><a href="progressbars.html">Progress Bars</a></li>
                                    <li><a href="range-sliders.html">Range Sliders</a></li>
                                    <li><a href="sortable-nestable.html">Sortable & Nestable</a></li>
                                    <li><a href="tabs.html">Tabs</a></li>
                                    <li><a href="waves.html">Waves</a></li>
                                </ul>
                            </li>
                            <!-- <li><a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-city"></i><span>Types</span></a>
                                <ul class="ml-menu">
                                    <li><a href="apartment.html">Apartment</a></li>
                                    <li><a href="office.html">Office</a></li>
                                    <li><a href="shop.html">Shop</a></li>
                                    <li><a href="villa.html">Villa</a></li>
                                </ul>
                            </li>
                            <li><a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-accounts-outline"></i><span>Agents</span></a>
                                <ul class="ml-menu">
                                    <li><a href="agent.html">All Agents</a></li>
                                    <li><a href="{% url 'agent' %}">Add Agent</a></li>
                                    <li><a href="profile.html">Agent Profile</a></li>
                                    <li><a href="invoices.html">Agent Invoice</a></li>
                                </ul>
                            </li>
                            <li><a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-case-check"></i><span>Contract</span></a>
                                <ul class="ml-menu">
                                    <li><a href="contract-add.html">Add New</a></li>
                                    <li><a href="contract-list.html">List</a></li>
                                </ul>
                            </li>
                            <li><a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-apps"></i><span>App</span></a>
                                <ul class="ml-menu">
                                    <li><a href="mail-inbox.html">Inbox</a></li>
                                    <li><a href="chat.html">Chat</a></li>
                                    <li><a href="events.html">Calendar</a></li>
                                    <li><a href="contact.html">Contact list</a></li>
                                    <li><a href="blog-dashboard.html">Blog</a></li>
                                </ul>
                            </li>
                            <li><a href="groups.html"><i class="zmdi zmdi-ungroup"></i><span>Groups</span></a>
                            <li><a href="file-dashboard.html"><i class="zmdi zmdi-file-text"></i><span>File Manager</span></a>
                            <li><a href="jvectormap.html"><i class="zmdi zmdi-map"></i><span>Site Location</span></a>
                            <li class="header">EXTRA COMPONENTS</li>
                           
                            <li>
                                <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-assignment"></i><span>Forms</span></a>
                                <ul class="ml-menu">
                                    <li><a href="basic-form-elements.html">Basic Elements</a> </li>
                                    <li><a href="advanced-form-elements.html">Advanced Elements</a> </li>
                                    <li><a href="form-examples.html">Form Examples</a> </li>
                                    <li><a href="form-validation.html">Form Validation</a> </li>
                                    <li><a href="form-wizard.html">Form Wizard</a> </li>
                                    <li><a href="form-editors.html">Editors</a> </li>
                                    <li><a href="form-upload.html">File Upload</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-grid"></i><span>Tables</span></a>
                                <ul class="ml-menu">
                                    <li><a href="normal-tables.html">Normal Tables</a></li>
                                    <li><a href="jquery-datatable.html">Jquery Datatables</a></li>
                                    <li><a href="editable-table.html">Editable Tables</a></li>
                                    <li><a href="table-color.html">Tables Color</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-chart"></i><span>Charts</span> </a>
                                <ul class="ml-menu">
                                    <li><a href="c3chart.html">C3 Chart</a></li>
                                    <li><a href="morris.html">Morris</a></li>
                                    <li><a href="flot.html">Flot</a></li>
                                    <li><a href="chartjs.html">ChartJS</a></li>
                                    <li><a href="sparkline.html">Sparkline</a></li>
                                    <li><a href="jquery-knob.html">Jquery Knob</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-delicious"></i><span>Widgets</span></a>
                                <ul class="ml-menu">
                                    <li><a href="widgets-app.html">Apps Widgetse</a></li>
                                    <li><a href="widgets-data.html">Data Widgetse</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-lock"></i><span>Authentication</span></a>
                                <ul class="ml-menu">
                                    <li><a href="sign-in.html">Sign In</a></li>
                                    <li><a href="sign-up.html">Sign Up</a></li>
                                    <li><a href="forgot-password.html">Forgot Password</a></li>
                                    <li><a href="404.html">Page 404</a></li>
                                    <li><a href="500.html">Page 500</a></li>
                                    <li><a href="page-offline.html">Page Offline</a></li>
                                    <li><a href="locked.html">Locked Screen</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-copy"></i><span>Sample Pages</span></a>
                                <ul class="ml-menu">
                                    <li><a href="blank.html">Blank Page</a></li>
                                    <li><a href="image-gallery.html">Image Gallery</a></li>
                                    <li><a href="timeline.html">Timeline</a></li>
                                    <li><a href="pricing.html">Pricing</a></li>
                                    <li><a href="search-results.html">Search Results</a></li>
                                </ul>
                            </li>
                            <li class="header">Extra</li>
                            <li>
                                <div class="progress-container progress-primary m-t-10">
                                    <span class="progress-badge">Traffic this Month</span>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="67" aria-valuemin="0" aria-valuemax="100" style="width: 67%;">
                                            <span class="progress-value">67%</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="progress-container progress-info">
                                    <span class="progress-badge">Server Load</span>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="86" aria-valuemin="0" aria-valuemax="100" style="width: 86%;">
                                            <span class="progress-value">86%</span>
                                        </div>
                                    </div>
                                </div>
                            </li> -->
                        </ul>
                    </div>
                </div>
                <div class="tab-pane stretchLeft" id="user">
                    <div class="menu">
                        <ul class="list">
                            <li>
                                <div class="user-info m-b-20 p-b-15">
                                    <div class="image"><a href="profile.html"><img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/profile_av.jpg" alt="User"></a></div>
                                    <div class="detail">
                                        <h4>Michael</h4>
                                        <small>Agent</small>
                                    </div>
                                    <a title="facebook" href="javascript:void(0);"><i class="zmdi zmdi-facebook"></i></a>
                                    <a title="twitter" href="javascript:void(0);"><i class="zmdi zmdi-twitter"></i></a>
                                    <a title="instagram" href="javascript:void(0);"><i class="zmdi zmdi-instagram"></i></a>
                                    <p class="text-muted">795 Folsom Ave, Suite 600 San Francisco, CADGE 94107</p>
                                    <div class="row">
                                        <div class="col-4">
                                            <h6 class="mb-1">852</h6>
                                            <small>Deals</small>
                                        </div>
                                        <div class="col-4">
                                            <h6 class="mb-1">13k</h6>
                                            <small>Sales</small>
                                        </div>
                                        <div class="col-4">
                                            <h6 class="mb-1">234</h6>
                                            <small>Clients</small>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <small class="text-muted">Email address: </small>
                                <p>michael@gmail.com</p>
                                <hr>
                                <small class="text-muted">Phone: </small>
                                <p>+ 202-555-0191</p>
                                <hr>
                                <ul class="list-unstyled">
                                    <li>
                                        <div>Honesty & Integrity</div>
                                        <div class="progress m-b-20">
                                            <div class="progress-bar l-blue " role="progressbar" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100" style="width: 89%"> <span class="sr-only">62% Complete</span> </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div>Responsiveness</div>
                                        <div class="progress m-b-20">
                                            <div class="progress-bar l-green " role="progressbar" aria-valuenow="56" aria-valuemin="0" aria-valuemax="100" style="width: 56%"> <span class="sr-only">87% Complete</span> </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div>Local Knowledge</div>
                                        <div class="progress m-b-20">
                                            <div class="progress-bar l-amber" role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100" style="width: 78%"> <span class="sr-only">32% Complete</span> </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </aside>

        <!-- Right Sidebar -->
        <aside id="rightsidebar" class="right-sidebar">
            <ul class="nav nav-tabs">
                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#setting"><i class="zmdi zmdi-settings zmdi-hc-spin"></i></a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#chat"><i class="zmdi zmdi-comments"></i></a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#activity">Activity</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane slideRight active" id="setting">
                    <div class="slim_scroll">
                        <div class="card">
                            <h6>Skins</h6>
                            <ul class="choose-skin list-unstyled">
                                <li data-theme="purple" class="active"><div class="purple"></div></li>
                                <li data-theme="blue"><div class="blue"></div></li>
                                <li data-theme="cyan"><div class="cyan"></div></li>
                                <li data-theme="green"><div class="green"></div></li>
                                <li data-theme="orange"><div class="orange"></div></li>
                                <li data-theme="blush"><div class="blush"></div></li>
                            </ul>
                        </div>
                        <div class="card theme-light-dark">
                            <h6>Left Menu</h6>
                            <button class="t-light btn btn-default btn-simple btn-round btn-block">Light</button>
                            <button class="t-dark btn btn-default btn-round btn-block">Dark</button>
                            <button class="m_img_btn btn btn-primary btn-round btn-block">Sidebar Image</button>
                        </div>
                        <div class="card">
                            <h6>General Settings</h6>
                            <ul class="setting-list list-unstyled">
                                <li>
                                    <div class="checkbox">
                                        <input id="checkbox1" type="checkbox">
                                        <label for="checkbox1">Report Panel Usage</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <input id="checkbox2" type="checkbox" checked="">
                                        <label for="checkbox2">Email Redirect</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <input id="checkbox3" type="checkbox" checked="">
                                        <label for="checkbox3">Notifications</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <input id="checkbox4" type="checkbox" checked="">
                                        <label for="checkbox4">Auto Updates</label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="card">
                            <h6>Account Settings</h6>
                            <ul class="setting-list list-unstyled">
                                <li>
                                    <div class="checkbox">
                                        <input id="checkbox5" type="checkbox" checked="">
                                        <label for="checkbox5">Offline</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <input id="checkbox6" type="checkbox" checked="">
                                        <label for="checkbox6">Location Permission</label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="card">
                            <h6>Information Summary</h6>
                            <div class="row m-b-20">
                                <div class="col-7">
                                    <small class="displayblock">MEMORY USAGE</small>
                                    <h5 class="m-b-0 h6">512</h5>
                                </div>
                                <div class="col-5">
                                    <div class="sparkline" data-type="bar" data-width="97%" data-height="25px" data-bar-Width="5" data-bar-Spacing="3" data-bar-Color="#00ced1">8,7,9,5,6,4,6,8</div>
                                </div>
                            </div>
                            <div class="row m-b-20">
                                <div class="col-7">
                                    <small class="displayblock">CPU USAGE</small>
                                    <h5 class="m-b-0 h6">90%</h5>
                                </div>
                                <div class="col-5">
                                    <div class="sparkline" data-type="bar" data-width="97%" data-height="25px" data-bar-Width="5" data-bar-Spacing="3" data-bar-Color="#F15F79">6,5,8,2,6,4,6,4</div>
                                </div>
                            </div>
                            <div class="row m-b-20">
                                <div class="col-7">
                                    <small class="displayblock">DAILY TRAFFIC</small>
                                    <h5 class="m-b-0 h6">25 142</h5>
                                </div>
                                <div class="col-5">
                                    <div class="sparkline" data-type="bar" data-width="97%" data-height="25px" data-bar-Width="5" data-bar-Spacing="3" data-bar-Color="#78b83e">7,5,8,7,4,2,6,5</div>
                                </div>
                            </div>
                            <div class="row m-b-40">
                                <div class="col-7">
                                    <small class="displayblock">DISK USAGE</small>
                                    <h5 class="m-b-0 h6">60.10%</h5>
                                </div>
                                <div class="col-5">
                                    <div class="sparkline" data-type="bar" data-width="97%" data-height="25px" data-bar-Width="5" data-bar-Spacing="3" data-bar-Color="#457fca">7,5,2,5,6,7,6,4</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane right_chat stretchLeft" id="chat">
                    <div class="slim_scroll">
                        <div class="card">
                            <div class="search">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search...">
                                    <span class="input-group-addon"><i class="zmdi zmdi-search"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <h6>Recent</h6>
                            <ul class="list-unstyled">
                                <li class="online">
                                    <a href="javascript:void(0);">
                                        <div class="media">
                                            <img class="media-object " src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar4.jpg" alt="">
                                            <div class="media-body">
                                                <span class="name">Sophia</span>
                                                <span class="message">There are many variations of passages of Lorem Ipsum available</span>
                                                <span class="badge badge-outline status"></span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="online">
                                    <a href="javascript:void(0);">
                                        <div class="media">
                                            <img class="media-object " src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar5.jpg" alt="">
                                            <div class="media-body">
                                                <span class="name">Grayson</span>
                                                <span class="message">All the Lorem Ipsum generators on the</span>
                                                <span class="badge badge-outline status"></span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="offline">
                                    <a href="javascript:void(0);">
                                        <div class="media">
                                            <img class="media-object " src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar2.jpg" alt="">
                                            <div class="media-body">
                                                <span class="name">Isabella</span>
                                                <span class="message">Contrary to popular belief, Lorem Ipsum</span>
                                                <span class="badge badge-outline status"></span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="me">
                                    <a href="javascript:void(0);">
                                        <div class="media">
                                            <img class="media-object " src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar1.jpg" alt="">
                                            <div class="media-body">
                                                <span class="name">John</span>
                                                <span class="message">It is a long established fact that a reader</span>
                                                <span class="badge badge-outline status"></span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="online">
                                    <a href="javascript:void(0);">
                                        <div class="media">
                                            <img class="media-object " src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar3.jpg" alt="">
                                            <div class="media-body">
                                                <span class="name">Alexander</span>
                                                <span class="message">Richard McClintock, a Latin professor</span>
                                                <span class="badge badge-outline status"></span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="card">
                            <h6>Contacts</h6>
                            <ul class="list-unstyled">
                                <li class="offline inlineblock">
                                    <a href="javascript:void(0);">
                                        <div class="media">
                                            <img class="media-object " src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar10.jpg" alt="">
                                            <div class="media-body">
                                                <span class="badge badge-outline status"></span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="offline inlineblock">
                                    <a href="javascript:void(0);">
                                        <div class="media">
                                            <img class="media-object " src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar6.jpg" alt="">
                                            <div class="media-body">
                                                <span class="badge badge-outline status"></span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="offline inlineblock">
                                    <a href="javascript:void(0);">
                                        <div class="media">
                                            <img class="media-object " src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar7.jpg" alt="">
                                            <div class="media-body">
                                                <span class="badge badge-outline status"></span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="offline inlineblock">
                                    <a href="javascript:void(0);">
                                        <div class="media">
                                            <img class="media-object " src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar8.jpg" alt="">
                                            <div class="media-body">
                                                <span class="badge badge-outline status"></span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="offline inlineblock">
                                    <a href="javascript:void(0);">
                                        <div class="media">
                                            <img class="media-object " src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar9.jpg" alt="">
                                            <div class="media-body">
                                                <span class="badge badge-outline status"></span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="online inlineblock">
                                    <a href="javascript:void(0);">
                                        <div class="media">
                                            <img class="media-object " src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar5.jpg" alt="">
                                            <div class="media-body">
                                                <span class="badge badge-outline status"></span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="offline inlineblock">
                                    <a href="javascript:void(0);">
                                        <div class="media">
                                            <img class="media-object " src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar4.jpg" alt="">
                                            <div class="media-body">
                                                <span class="badge badge-outline status"></span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="offline inlineblock">
                                    <a href="javascript:void(0);">
                                        <div class="media">
                                            <img class="media-object " src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar3.jpg" alt="">
                                            <div class="media-body">
                                                <span class="badge badge-outline status"></span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="online inlineblock">
                                    <a href="javascript:void(0);">
                                        <div class="media">
                                            <img class="media-object " src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar2.jpg" alt="">
                                            <div class="media-body">
                                                <span class="badge badge-outline status"></span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="offline inlineblock">
                                    <a href="javascript:void(0);">
                                        <div class="media">
                                            <img class="media-object " src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar1.jpg" alt="">
                                            <div class="media-body">
                                                <span class="badge badge-outline status"></span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tab-pane slideLeft" id="activity">
                    <div class="slim_scroll">
                        <div class="card user_activity">
                            <h6>Recent Activity</h6>
                            <div class="streamline b-accent">
                                <div class="sl-item">
                                    <img class="user rounded-circle" src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar4.jpg" alt="">
                                    <div class="sl-content">
                                        <h5 class="m-b-0">Admin Birthday</h5>
                                        <small>Jan 21 <a href="javascript:void(0);" class="text-info">Sophia</a>.</small>
                                    </div>
                                </div>
                                <div class="sl-item">
                                    <img class="user rounded-circle" src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar5.jpg" alt="">
                                    <div class="sl-content">
                                        <h5 class="m-b-0">Add New Contact</h5>
                                        <small>30min ago <a href="javascript:void(0);">Alexander</a>.</small>
                                        <small><strong>P:</strong> +264-625-2323</small>
                                        <small><strong>E:</strong> maryamamiri@gmail.com</small>
                                    </div>
                                </div>
                                <div class="sl-item">
                                    <img class="user rounded-circle" src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar6.jpg" alt="">
                                    <div class="sl-content">
                                        <h5 class="m-b-0">Code Change</h5>
                                        <small>Today <a href="javascript:void(0);">Grayson</a>.</small>
                                        <small>The standard chunk of Lorem Ipsum used since the 1500s is reproduced</small>
                                    </div>
                                </div>
                                <div class="sl-item">
                                    <img class="user rounded-circle" src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar7.jpg" alt="">
                                    <div class="sl-content">
                                        <h5 class="m-b-0">New Email</h5>
                                        <small>45min ago <a href="javascript:void(0);" class="text-info">Fidel Tonn</a>.</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <h6>Recent Attachments</h6>
                            <ul class="list-unstyled activity">
                                <li>
                                    <a href="javascript:void(0)">
                                        <i class="zmdi zmdi-collection-pdf l-blush"></i>
                                        <div class="info">
                                            <h4>info_258.pdf</h4>
                                            <small>2MB</small>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <i class="zmdi zmdi-collection-text l-amber"></i>
                                        <div class="info">
                                            <h4>newdoc_214.doc</h4>
                                            <small>900KB</small>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <i class="zmdi zmdi-image l-parpl"></i>
                                        <div class="info">
                                            <h4>MG_4145.jpg</h4>
                                            <small>5.6MB</small>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <i class="zmdi zmdi-image l-parpl"></i>
                                        <div class="info">
                                            <h4>MG_4100.jpg</h4>
                                            <small>5MB</small>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <i class="zmdi zmdi-collection-text l-amber"></i>
                                        <div class="info">
                                            <h4>Reports_end.doc</h4>
                                            <small>780KB</small>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <i class="zmdi zmdi-videocam l-turquoise"></i>
                                        <div class="info">
                                            <h4>movie2018.MKV</h4>
                                            <small>750MB</small>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
    </body>
</html>