/*==================================
Theme Color All Codes Variable
==================================*/

:root {
    --theme-general-color: #6d7175;
    /* theme gray color */
}

:root {
    --theme-primary-color: #f47a13;
    /* theme primary color */
}

:root {
    --theme-secondary-color: #2e3746;
    /* theme secondary color */
}

:root {
    --theme-white-color: #fff;
    /* theme white font color */
}

:root {
    --theme-light-color: #f8f9fa;
    /* theme light gray color */
}

:root {
    --theme-gray-color: #efefef;
    /* theme gray color */
}

:root {
    --theme-dark-color: #181a1d;
    /* theme dark color ok*/
}

:root {
    --theme-extra-color: #ff5a5f;
    /* theme extra color */
}

:root {
    --theme-footer-color: #1e2124;
    /* theme dark color ok*/
}

:root {
    --theme-primary-opacity-color: rgba(229, 62, 41, 0.05);
    /* theme secondary color */
}

:root {
    --theme-primary-color-rgba: 255, 90, 60
}

:root {
    --theme-secondary-opacity-color: rgba(46, 55, 70, .8);
    /* theme secondary color */
}

:root {
    --theme-dark-opacity-color: rgba(24, 26, 29, .8);
    /* theme dark opacity color */
}

:root {
    --theme-white-opacity-color: rgba(255, 255, 255, 0.5);
    /* theme light color */
}

:root {
    --theme-white-color-rgba: 255, 255, 255
}

:root {
    --text-light-color: #a5a5a5;
    /* text light color */
}

:root {
    --text-gray-color: #c3c3c3;
    /* theme text gray color */
}


/*==================================
Font Variable
==================================*/

:root {
    --theme-general-font: 'Barlow', sans-serif;;
    /* Font use for normal text and general text */
}

:root {
    --theme-hiperlink-font: 'Sen', sans-serif;
    /* Font use for normal text and general text */
}

:root {
    --theme-highlight-font: 'Sen', sans-serif;
    /* Font used in title or special area */
}

.sub-title {
    font-size: 20px;
}

.btn {
    font-size: 14px;
}

.btn.font-medium {
    font-size: 18px;
}

h1,
.h1 {
    font-size: 48px;
}

h2,
.h2 {
    font-size: 40px;
}

h3,
.h3 {
    font-size: 30px;
}

h4,
.h4 {
    font-size: 24px;
}

h5,
.h5 {
    font-size: 20px;
}

h6,
.h6 {
    font-size: 18px;
}

.form-control::placeholder {
    color: #495057 !important;
    font-size: 15px !important;
}

.form-control::-webkit-input-placeholder {
    font-size: 15px;
    color: var(--theme-dark-color);
}

.filter-option-inner-inner {
    font-size: 15px !important;
}

.btn {
    font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.navbar-expand-lg .navbar-nav .nav-link {
	font-weight: 300;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 13px;
}

@media screen and (max-width: 1199.98px) {
    .navbar-expand-lg .navbar-nav .nav-item {
        padding: 0 15px;
    }
}