.centered-box h2 {
    color: #111F3C;
    width: 607px;
    height: 78px;
    gap: 0px;
    opacity: 1;
    font-family: Familjen Grotesk;
    font-size: 62px;
    font-weight: 400;
    line-height: 77.5px;
    text-align: center;
    margin: 0;
}

@media (max-width: 768px) {
    .centered-box h2 {
        width: 100%;
        height: auto;
        text-align: center;
        font-size: 28px;
    }
}

.centered-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 736px;
    height: 147px;
    gap: 0px;
    opacity: 1;
    border: 0px solid black;
    position: relative;
    top: 121px;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 75px;
}

@media (max-width: 768px) {
    .centered-box {
        width: 80%;
        height: auto;
        top: 100px;
        margin-bottom: 50px;
    }
}

.disclaimer-text {
    font-family: 'Familjen Grotesk', sans-serif;
    width: 70%;
    margin: 30px auto;
    color: #616161;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    margin-bottom: -950px;
}

.disclaimer-text p {
    margin-bottom: 15px;
}

@media (max-width: 768px) {
    .disclaimer-text {
        width: 90%;
        font-size: 16px;
        margin-bottom: 0px;
    }
}

.list {
    color: #111F3C;
    font-family: Familjen Grotesk;
    font-size: 16px;
    font-weight: 1000;
    line-height: 25px;
    text-align: left;
    margin-right: 5px;
}