@media (max-width: 768px) {
#nav-links {
  display: none; /* Hide the navigation links by default */
  width: 100%; /* Full width for mobile */
  background-color: #111F3C;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  margin-top: 10px;
}

#nav-links.show-menu {
  display: flex; /* Show the menu when toggled */
}

#nav-links h1 {
  margin: 10px 0; /* Add spacing between links */
}
}

/* Other existing CSS */
#checkbox {
  display: none;
}

.toggle {
  position: relative;
  width: 25px;
  height: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  transition-duration: 0.3s;
  right: 20px;
  top: -3px;
}

.bars {
  width: 100%;
  height: 2px;
  background-color: rgb(253, 255, 243);
  border-radius: 5px;
  transition-duration: 0.3s;
}

#bar4,
#bar5 {
  display: none;
}

#checkbox:checked + .toggle #bar4 {
  display: flex;
  transform: translateY(10px) translateX(4px) rotate(25deg);
  margin-left: 0;
  transform-origin: right;
  transition-duration: .3s;
  z-index: 2;
  width: 12px;
}

#checkbox:checked + .toggle #bar5 {
  display: flex;
  transform: translateY(-2.5px) translateX(-6.5px) rotate(-25deg);
  margin-left: 0;
  transform-origin: right;
  transition-duration: .3s;
  z-index: 2;
  width: 13px;
}

#checkbox:checked + .toggle #bar2 {
  transform: translateY(19px) translateX(-5px) rotate(70deg);
  margin-left: 0;
  transform-origin: right;
  transition-duration: .3s;
  z-index: 2;
  width: 30px;
}

#checkbox:checked + .toggle #bar1 {
  transform: translateY(27px) translateX(4px) rotate(-70deg);
  transition-duration: .3s;
  transform-origin: left;
  z-index: 1;
  width: 30px;
}

#checkbox:checked + .toggle {
  transform: rotate(45deg);
}

#checkbox:checked + .toggle #bar3 {
  transform: translateY(12px) rotate(2deg);
  transition-duration: .3s;
  transform-origin: right;
  display: none;
}

@media (min-width: 769px) {
  .toggle {
    display: none; /* Hide hamburger toggle on larger screens */
  }
}
