<!doctype html>
<html lang="en">

    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="RealEstate Admin Dashboard template, UI kit, Bootstrap 4x">
        <meta name="author" content="Thememakker">

        <title>Realezi : Buyer</title>
        <link rel="icon" href="favicon.ico" type="image/x-icon"> <!-- Favicon-->
        <link rel="stylesheet" href="https://thememakker.com/templates/oreo/realestate/html/assets/plugins/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://thememakker.com/templates/oreo/realestate/html/assets/plugins/charts-c3/plugin.css" />
        <link rel="stylesheet" href="https://thememakker.com/templates/oreo/realestate/html/assets/plugins/jvectormap/jquery-jvectormap-2.0.3.min.css"/>
        <!-- Custom Css -->
       
    </head>
    <body class="theme-purple">
       
        {% include 'buyer/sidebars.html' %}
        
        <!-- Chat-launcher -->
        <div class="chat-launcher"></div>
       <style>
        input{
          border:1px solid black !important;
        }
       </style>

        <!-- Main Content -->
        <section class="content">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <h2 style="font-weight: 900;">Contact Us
                        </h2>
                    </div>    
                    <br>
                    <div class="container-fluid" style="margin-top:30px;">
                        <div class="row clearfix">            
                            <div class="col-lg-12">
                                <div class="card">                   
                                    <div class="body">
                                        <br>
                                        <h2 style="font-size:22px;"><b>Connect with dedicated relationship manager</b></h2>
                                        <br>
                                        <p style="font-size:18px;">You can Contact with us on this number : 8780297622</p>
                                        <p style="font-size:18px;">You can subscribed to Whatsapp notification on this number : 8780297622</p>                                            
                                        <p style="font-size:18px;">You can Email on : abc123@realezi.com</p>                                            
                                             
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                  
            </div>
            
        </section>

        <!-- Jquery Core Js -->
        <script src="{% static 'admin/assets/bundles/libscripts.bundle.js' %}"></script>
        <script src="{% static 'admin/assets/bundles/vendorscripts.bundle.js' %}"></script>

        <script src="{% static 'admin/assets/bundles/c3.bundle.js' %}"></script>
        <script src="{% static 'admin/assets/bundles/jvectormap.bundle.js' %}"></script>
        <script src="{% static 'admin/assets/bundles/knob.bundle.js' %}"></script>

        <script src="{% static 'admin/assets/bundles/mainscripts.bundle.js' %}"></script>
        <script src="{% static 'admin/assets/js/pages/index.js' %}"></script>
        <script src="{% static 'admin/assets/js/pages/charts/c3.js' %}"></script>
    </body>

  
</html>