<!doctype html>
<html lang="en">

    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="RealEstate Admin Dashboard template, UI kit, Bootstrap 4x">
        <meta name="author" content="Thememakker">

        <title>Realezi : Buyer</title>
        <link rel="icon" href="favicon.ico" type="image/x-icon"> <!-- Favicon-->
        <link rel="stylesheet" href="https://thememakker.com/templates/oreo/realestate/html/assets/plugins/bootstrap/css/bootstrap.min.css">
       
        <!-- Custom Css -->
       
    </head>
    <body class="theme-purple" style="z-index: 0;">
       
        {% include 'buyer/sidebars.html' %}
        
        <!-- Chat-launcher -->
        <div class="chat-launcher"></div>
        <div class="chat-wrapper">
            <div class="card">
                <div class="header">
                    <ul class="list-unstyled team-info margin-0">
                        <li class="m-r-15"><h2>Agent Team</h2></li>
                        <li><img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar2.jpg" alt="Avatar"></li>
                        <li><img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar3.jpg" alt="Avatar"></li>
                        <li><img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar4.jpg" alt="Avatar"></li>
                        <li><img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar6.jpg" alt="Avatar"></li>
                        <li><a href="javascript:void(0);" title="Add Member"><i class="zmdi zmdi-plus-circle"></i></a></li>
                    </ul>
                </div>
                <div class="body">
                    <div class="chat-widget">
                    <ul class="chat-scroll-list clearfix">
                        <li class="left float-left">
                            <img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar3.jpg" class="rounded-circle" alt="">
                            <div class="chat-info">
                                <a class="name" href="javascript:void(0);">Alexander</a>
                                <span class="datetime">6:12</span>
                                <span class="message">Hello, John </span>
                            </div>
                        </li>
                        <li class="right">
                            <div class="chat-info"><span class="datetime">6:15</span> <span class="message">Hi, Alexander<br> How are you!</span> </div>
                        </li>
                        <li class="right">
                            <div class="chat-info"><span class="datetime">6:16</span> <span class="message">There are many variations of passages of Lorem Ipsum available</span> </div>
                        </li>
                        <li class="left float-left"> <img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar2.jpg" class="rounded-circle" alt="">
                            <div class="chat-info"> <a class="name" href="javascript:void(0);">Elizabeth</a> <span class="datetime">6:25</span> <span class="message">Hi, Alexander,<br> John <br> What are you doing?</span> </div>
                        </li>
                        <li class="left float-left"> <img src="https://thememakker.com/templates/oreo/realestate/html/assets/images/xs/avatar1.jpg" class="rounded-circle" alt="">
                            <div class="chat-info"> <a class="name" href="javascript:void(0);">Michael</a> <span class="datetime">6:28</span> <span class="message">I would love to join the team.</span> </div>
                        </li>
                            <li class="right">
                            <div class="chat-info"><span class="datetime">7:02</span> <span class="message">Hello, <br>Michael</span> </div>
                        </li>
                    </ul>
                    </div>
                    <div class="input-group p-t-15">
                        <input type="text" class="form-control" placeholder="Enter text here...">
                        <span class="input-group-addon">
                            <i class="zmdi zmdi-mail-send"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main Content -->
        <section class="content" style="margin-left:18%;">
            
            <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
            <script>
                //$('#largeModal').modal();
                // Get the modal
                var modal = document.getElementById("largeModal");

                var showModalValue = document.getElementById("showPopup").value;
                //alert(showModalValue);
                if (showModalValue === '1') {
                    $('#largeModal').modal();
                    // When the page is fully loaded, show the modal
                    window.onload = function() {
                        modal.style.display = "block";
                    }
                }

            </script>
            <style>
                h4{
                    font-size: 18px !important;
                }
            </style>
            <div class="container-fluid " style="margin-top:20px;">
                <div class="row clearfix ">
                    <div class="col-sm-12 card" style="padding:30px;">
                        <br>
                        <div class="row">
                            
                            <div class="col-lg-3 col-md-3 col-sm-12" style="">
                                <div class="" style="border:1px solid #b1acac82;border-radius: 15px;height:120px !important;">
                                    <a href="{% url "home-interior" %}">
                                        <div class="body text-center">
                                            <div class="row">
                                                <div class="col-sm-4" style="">
                                                    <img src="https://upload.wikimedia.org/wikipedia/commons/5/5e/Inquiry_icon.png" style="margin-top:0px;height:80px;width:100%;">
                                                </div>
                                                <div class="col-sm-8">
                                                    <h4 class="" style="margin-top:1px;">Get Home Interior Quote</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12" style="">
                                <div class="" style="border:1px solid #b1acac82;border-radius: 15px;height:120px !important;">
                                    <div class="body text-center">
                                        <div class="row">
                                            <div class="col-sm-4" style="">
                                                <img src="https://upload.wikimedia.org/wikipedia/commons/5/5e/Inquiry_icon.png" style="margin-top:0px;height:80px;width:100%;">
                                            </div>
                                            <div class="col-sm-8">
                                                <h4 class="" style="margin-top:1px;">Solar Panel</h4>
                                            </div>
                                        </div>
                                      </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12" style="">
                                <div class="" style="border:1px solid #b1acac82;border-radius: 15px;height:120px !important;">
                                    <a href="{% url "apply-loan" %}">
                                        <div class="body text-center">
                                            <div class="row">
                                                <div class="col-sm-4" style="">
                                                    <img src="https://upload.wikimedia.org/wikipedia/commons/5/5e/Inquiry_icon.png" style="margin-top:0px;height:80px;width:100%;">
                                                </div>
                                                <div class="col-sm-8">
                                                    <h4 class="" style="margin-top:1px;">Apply for home loan</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                               
                                
                        </div>
                    
                    </div>
                    
                </div>
                
            </div>
        </section>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <!-- Jquery Core Js -->
       <!-- <script src="{% static 'admin/assets/bundles/vendorscripts.bundle.js' %}"></script>

        <script src="{% static 'admin/assets/bundles/c3.bundle.js' %}"></script> -->
       
       <!--<script src="{% static 'admin/assets/js/pages/index.js' %}"></script>
        //<script src="{% static 'admin/assets/js/pages/charts/c3.js' %}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>-->
            
    </body>

  
</html>