<!doctype html>
<html lang="en">

    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="RealEstate Admin Dashboard template, UI kit, Bootstrap 4x">
        <meta name="author" content="Thememakker">

        <title>Realezi : Buyer</title>
        <link rel="icon" href="favicon.ico" type="image/x-icon"> <!-- Favicon-->
        <link rel="stylesheet" href="https://thememakker.com/templates/oreo/realestate/html/assets/plugins/bootstrap/css/bootstrap.min.css">
       
        <!-- Custom Css -->
       
    </head>
    <body class="" style="z-index: 0;">
       
        {% include 'buyer/sidebars.html' %}
        <!-- Chat-launcher -->
        

        <!-- Main Content -->
        <section class="content" style="margin-left:18%;">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-7 col-md-6 col-sm-12">
                        <h1>
                        <small>Choose From Below Subscription Plan</small>
                        </h1>
                    </div>
                    <div class="col-lg-5 col-md-6 col-sm-12">
                        <ul class="breadcrumb float-md-right">
                            <li class="breadcrumb-item"><a href="#" style="color:black"><i class="zmdi zmdi-home"></i> Home</a></li>
                            
                            <li class="breadcrumb-item active">Pricing</li>
                        </ul>
                        <div class="mt-3">
                            <a href="{% url "subscription-history" %}"><button class="btn btn-primary btn-lg" style="border:1px solid #b1acac82;border-radius: 15px;">Subscription History</button></a>
                        </div>
                    </div>
                </div>
            </div>
            <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cashfree Checkout Integration</title>
    <script src="https://sdk.cashfree.com/js/v3/cashfree.js"></script>
</head>
<body>
    <div class="row">
        <p>Click below to open the checkout page in popup</p>
        <button id="renderBtn" onclick="alert('hii')">Pay Now</button>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        const cashfree = Cashfree({
            mode: "prod",
        });
    
        {% comment %} $(document).ready(function() {
            $("#renderBtn").on("click", function() {
                alert("hii");
                $.ajax({
                    url: "{% url 'payments:create_order' %}",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify({
                    version: "2023-08-01"  // Make sure this version matches the valid values
                }),
                    success: function(data) {
                        console.log(data);
                        if (data.error) {
                            console.error('Error creating order:', data.error);
                        } else {
                            const checkoutOptions = {
                                paymentSessionId: data.payment_session_id,  // Use the correct key from the API response
                                redirectTarget: "_modal",
                            };
                            cashfree.checkout(checkoutOptions).then((result) => {
                                if (result.error) {
                                    console.log("User has closed the popup or there is some payment error, Check for Payment Status");
                                    console.log(result.error);
                                }
                                if (result.redirect) {
                                    console.log("Payment will be redirected");
                                }
                                if (result.paymentDetails) {
                                    console.log("Payment has been completed, Check for Payment Status");
                                    console.log(result.paymentDetails.paymentMessage);
                                }
                            });
                        }
                    },
                    error: function(error) {
                        console.error('Error:', error);
                    }
                });
            });
        }); {% endcomment %}
    </script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</body>
</html>


            <div class="block-header" style="background-color: white;margin-top:0px;padding:40px;">
                
                <div class="row clearfix">
                    <div class="table-responsive">
                        <div class="membership-pricing-table">
                            <table>
                                <tbody><tr>
                                    <th></th>
                                    <th class="plan-header plan-header-free">
                                <div class="pricing-plan-name">Silver </div>
                                <div class="pricing-plan-price">Free</div>
                                </th>
                                
                                
                                <th class="plan-header plan-header-standard">
                                <div class="header-plan-inner">
                                    <!--<span class="plan-head"> </span>-->
                                    <span class="recommended-plan-ribbon">RECOMMENDED</span>
                                    <div class="pricing-plan-name">Gold</div>
                                    <div class="pricing-plan-price">
                                        <sup>Rs.</sup>899<span>.00</span>
                                    </div>
                                    <div class="pricing-plan-period">month</div>
                                </div>
                                </th>
                                <th class="plan-header plan-header-blue">
                                <div class="pricing-plan-name">Platinum</div>
                                <div class="pricing-plan-price">
                                    <sup>Rs.</sup>1699<span>.00</span>
                                </div>
                                <div class="pricing-plan-period">month</div>
                                </th>
                                </tr>
                                <tr>
                                    <td></td>
                
                                    
                                    <td class="action-header">
                                        <div class="current-plan">
                                            <div class="with-date">Current Plan</div>
                                            <div><em class="smaller block">renews June 30, 2024</em></div>
                                        </div> 
                                    </td>
                                    <td class="action-header">
                                        <a class="btn btn-success">
                                            Upgrade
                                        </a>
                                    </td>
                                    <td class="action-header">
                                        <a class="btn btn-info">
                                            Upgrade
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Zero Brokerage</td>
                                    <td><span class="icon-no glyphicon glyphicon-remove-circle"></span>Yes</td>
                                    <td><span class="icon-no glyphicon glyphicon-remove-circle"></span>Yes</td>
                                    <td><span class="icon-no glyphicon glyphicon-remove-circle"></span>Yes</td>
                                   
                                </tr>
                                <tr>
                                    <td>Dedicated Relationship Manager</td>
                                    <td><span class="icon-no glyphicon glyphicon-remove-circle"></span>Yes</td>
                                    <td><span class="icon-no glyphicon glyphicon-remove-circle"></span>Yes</td>
                                    <td><span class="icon-no glyphicon glyphicon-remove-circle"></span>Yes</td>
                                    
                                </tr>
                                <tr>
                                    <td>Property Shortlisting</td>
                                    <td><span class="icon-no glyphicon glyphicon-remove-circle"></span>Yes</td>
                                    <td><span class="icon-no glyphicon glyphicon-remove-circle"></span>Yes</td>
                                    <td><span class="icon-yes glyphicon glyphicon-ok-circle"></span>Yes</td>
                                    
                                </tr>
                                <tr>
                                    <td>Best Deals</td>
                                    <td><span class="icon-no glyphicon glyphicon-remove-circle"></span>Yes</td>
                                    <td><span class="icon-yes glyphicon glyphicon-ok-circle"></span>Yes</td>
                                    <td><span class="icon-yes glyphicon glyphicon-ok-circle"></span>Yes</td>
                                    
                                </tr>
                                <tr>
                                    <td>Unlimited Site visits</td>
                                    <td>Yes</td>
                                    <td>yes</td>
                                    <td>Yes</td>
                                    
                                </tr>
                                <tr>
                                    <td>Bank Loan Assistance</td>
                                    <td>Yes</td>
                                    <td>yes</td>
                                    <td>Yes</td>
                                    
                                </tr>
                                <tr>
                                    <td>Post- Purchase Assistance</td>
                                    <td>Yes</td>
                                    <td>Yes</td>
                                    <td>Yes</td>
                                    
                                </tr>
                                <tr>
                                    <td>Site Visits with Realezi Pick & Drop Service</td>
                                    <td>No</td>
                                    <td>Yes</td>
                                    <td>Yes</td>
                                    
                                </tr>
                                <tr>
                                    <td>Assured Cashback
                                        upto Rs 10,000
                                        On every successful Deal closed with Realezi</td>
                                    <td>No</td>
                                    <td>Yes</td>
                                    <td>No</td>
                                    
                                </tr>
                                <tr>
                                    <td>Assured Best Deals on Property</td>
                                    <td>No</td>
                                    <td>No</td>
                                    <td>Yes</td>
                                    
                                </tr>
                                <tr>
                                    <td>Assured Cashback
                                        upto Rs 25,000
                                        On every successful Deal closed with Realezi</td>
                                    <td>No</td>
                                    <td>No</td>
                                    <td>Yes</td>
                                    
                                </tr>
                                <tr>
                                    <td>Assured Cashbacks on Add-On services availed by Realezi</td>
                                    <td>No</td>
                                    <td>Yes</td>
                                    <td>Yes</td>
                                    
                                </tr>
                                <tr>
                                    <td>Manager</td>
                                    <td>Yes</td>
                                    <td>Yes</td>
                                    <td>Yes</td>
                                    
                                </tr>
                            </tbody></table>
                        </div>
                    </div>

                    <style>

.membership-pricing-table {
    width: 100%;
}

.membership-pricing-table table .icon-no,.membership-pricing-table table .icon-yes {
    font-size: 22px
}

.membership-pricing-table table .icon-no {
    color: #a93717
}

.membership-pricing-table table .icon-yes {
    color: #209e61
}

.membership-pricing-table table .plan-header {
    text-align: center;
    font-size: 48px;
    border: 1px solid #e2e2e2;
    padding: 25px 0
}

.membership-pricing-table table .plan-header-free {
    background-color: #eee;
    color: #555
}

.membership-pricing-table table .plan-header-blue {
    color: #fff;
    background-color: #61a1d1;
    border-color: #3989c6
}

.membership-pricing-table table .plan-header-standard {
    color: #fff;
    background-color: #ff9317;
    border-color: #e37900
}

.membership-pricing-table table td {
    text-align: center;
    width: 15%;
    padding: 7px 10px;
    background-color: #fafafa;
    font-size: 14px;
    -webkit-box-shadow: 0 1px 0 #fff inset;
    box-shadow: 0 1px 0 #fff inset
}

.membership-pricing-table table,.membership-pricing-table table td {
    border: 1px solid #ebebeb
}

.membership-pricing-table table tr td:first-child {
    background-color: transparent;
    text-align: right;
    width: 24%
}

.membership-pricing-table table tr td:nth-child(5) {
    background-color: #FFF
}

.membership-pricing-table table tr:first-child td,.membership-pricing-table table tr:nth-child(2) td {
    -webkit-box-shadow: none;
    box-shadow: none
}

.membership-pricing-table table tr:first-child th:first-child {
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: #e2e2e2
}

.membership-pricing-table table tr:first-child th .pricing-plan-name {
    font-size: 22px
}

.membership-pricing-table table tr:first-child th .pricing-plan-price {
    line-height: 35px
}

.membership-pricing-table table tr:first-child th .pricing-plan-price>sup {
    font-size: 45%
}

.membership-pricing-table table tr:first-child th .pricing-plan-price>span {
    font-size: 30%
}

.membership-pricing-table table tr:first-child th .pricing-plan-period {
    margin-top: -7px;
    font-size: 25%
}

.membership-pricing-table table .header-plan-inner {
    position: relative
}

.membership-pricing-table table .recommended-plan-ribbon {
    box-sizing: content-box;
    background-color: #dc3b5d;
    color: #FFF;
    position: absolute;
    padding: 3px 6px;
    font-size: 11px!important;
    font-weight: 500;
    left: -6px;
    top: -22px;
    z-index: 99;
    width: 100%;
    -webkit-box-shadow: 0 -1px #c2284c inset;
    box-shadow: 0 -1px #c2284c inset;
    text-shadow: 0 -1px #c2284c
}

.membership-pricing-table table .recommended-plan-ribbon:before {
    border: solid;
    border-color: #c2284c transparent;
    border-width: 6px 0 0 6px;
    bottom: -5px;
    content: "";
    left: 0;
    position: absolute;
    z-index: 90
}

.membership-pricing-table table .recommended-plan-ribbon:after {
    border: solid;
    border-color: #c2284c transparent;
    border-width: 6px 6px 0 0;
    bottom: -5px;
    content: "";
    right: 0;
    position: absolute;
    z-index: 90
}

.membership-pricing-table table .plan-head {
    box-sizing: content-box;
    background-color: #ff9c00;
    border: 1px solid #cf7300;
    position: absolute;
    top: -33px;
    left: -1px;
    height: 30px;
    width: 100%;
    border-bottom: none
}
                    </style>
                    
                </div>
            </div>
            <!-- <button type="button" class="btn btn-default waves-effect m-r-20" data-toggle="modal" data-target="#defaultModal">MODAL - DEFAULT SIZE</button> -->
            
            
            <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
            <script>
                //$('#largeModal').modal();
                // Get the modal
                var modal = document.getElementById("largeModal");

                var showModalValue = document.getElementById("showPopup").value;
                //alert(showModalValue);
                if (showModalValue === '1') {
                    $('#largeModal').modal();
                    // When the page is fully loaded, show the modal
                    window.onload = function() {
                        modal.style.display = "block";
                    }
                }

            </script>
            <style>
                h4{
                    font-size: 18px !important;
                }
            </style>
           
        </section>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <!-- Jquery Core Js -->
       <!-- <script src="{% static 'admin/assets/bundles/vendorscripts.bundle.js' %}"></script>

        <script src="{% static 'admin/assets/bundles/c3.bundle.js' %}"></script> -->
       
       <!--<script src="{% static 'admin/assets/js/pages/index.js' %}"></script>
        //<script src="{% static 'admin/assets/js/pages/charts/c3.js' %}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>-->
            
    </body>

  
</html>