{% extends "adminpanel/base.html" %}
{% load static %}
{% block content %}
    
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between bg-galaxy-transparent">
                <h4 class="mb-sm-0">Add Sales</h4>

                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Home</a></li>
                        <li class="breadcrumb-item active">Add Sales</li>
                    </ol>
                </div>

            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="col-xxl-12">
        <div class="card">
            <div class="card-body">
                <div class="live-preview">
                    <form action="" method="post" class="row g-3">
                        {% csrf_token %}
                        <div class="col-md-12">
                            <label for="name" class="form-label">Name*</label>
                            <input type="text" class="form-control" name="name" id="name" placeholder="Enter Name" >
                        </div>
                        <div class="col-lg-6">
                            <label for="email" class="form-label">Email ID*</label>
                            <input type="email" class="form-control" name="email" id="email" placeholder="Enter Email ID" >
                        </div>
                        <div class="col-md-6">
                            <label for="mobile_no" class="form-label">Mobile No*</label>
                            <input type="number" class="form-control" name="mobile_no" id="mobile_no" placeholder="Enter Mobile Number" >
                        </div>
                        <div class="col-md-6">
                            <label for="salary" class="form-label">Salary*</label>
                            <input type="number" class="form-control" name="salary" id="salary" placeholder="Enter Salary" >
                        </div>
                        <div class="col-md-6">
                            <label for="date_of_joining" class="form-label">Date of Joining*</label>
                            <input type="date" class="form-control" name="date_of_joining" id="date_of_joining">
                        </div>
                        <div class="col-md-6">
                            <label for="password" class="form-label">Password*</label>
                            <input type="password" class="form-control" name="password" id="password" placeholder="Enter Password" >
                        </div>
                        <div class="col-md-6">
                            <label for="aadhar_number" class="form-label">Aadhar Number*</label>
                            <div class="input-group">
                                <input class="form-control" type="text" id="aadhar_number" placeholder="Enter Aadhar Number" name="aadhar_number" value="">
                                <button type="button" class="btn btn-primary" id="verifyButton">Verify</button>
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <label for="address" class="form-label">Address*</label>
                            <textarea class="form-control" name="address" id="address" rows="3" placeholder="Enter Address"></textarea>
                        </div>
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div><!-- end card-body -->
        </div><!-- end card -->
    </div>
    <!--end col-->

{% endblock content %} 