{% extends "adminpanel/base.html" %}
{% load static %}
{% block content %}
    
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between bg-galaxy-transparent">
                <h4 class="mb-sm-0">Add Lead</h4>

                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Home</a></li>
                        <li class="breadcrumb-item active">Add Lead</li>
                    </ol>
                </div>

            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="col-xxl-12">
        <div class="card">
            <div class="card-body">
                <div class="live-preview">
                    <form method="POST" action="{% url 'realeziadmin-add-lead' %}" class="row g-3">
                        {% csrf_token %}
                        <div class="col-lg-12">
                            <label class="form-label" for="name">Name:</label>
                            <input type="text" id="name" class="form-control" name="name">
                        </div>
                        <div class="col-lg-12">
                            <label class="form-label" for="email">Email:</label>
                            <input type="email" id="email" class="form-control" name="email">
                        </div>
                        <div class="col-lg-12">
                            <label class="form-label" for="phone">Phone:</label>
                            <input type="text" id="phone" class="form-control" name="phone">
                        </div>
                        <div class="col-lg-12">
                            <label class="form-label" for="source">Source:</label>
                            <select id="source" class="form-select" name="source">
                                <option selected>Select Lead Source</option>
                                <option value="facebook">Facebook</option>
                                <option value="instagram">Instagram</option>
                                <option value="google_ads">Google Ads</option>
                                <option value="other">Other</option>
                            </select>
                        </div>
                        <div class="col-lg-12">
                            <label class="form-label" for="lead_status">Status:</label>
                            <select id="lead_status" class="form-select" name="status">
                                <option selected>Select Lead Status</option>
                                <option value="new">New</option>
                                <option value="in_progress">In Progress</option>
                                <option value="converted">Converted</option>
                                <option value="closed">Closed</option>
                                <option value="deleted">Deleted</option>
                            </select>
                        </div>
                        <div class="col-lg-12">
                            <label class="form-label" for="revenue">Revenue:</label>
                            <input type="number" id="revenue" class="form-control" name="revenue" step="0.01" min="0">
                        </div>
                        <div class="col-lg-6">
                            <button type="submit" class="btn btn-primary">Add Lead</button>
                        </div>
                    </form>
                </div>
            </div><!-- end card-body -->
        </div><!-- end card -->
    </div>
    <!--end col-->

{% endblock content %} 