{% extends "adminpanel/base.html" %}
{% load static %}
{% block content %}

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between bg-galaxy-transparent">
                <h4 class="mb-sm-0">All Users</h4>

                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Home</a></li>
                        <li class="breadcrumb-item active">All Users</li>
                    </ol>
                </div>

            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <table id="fixed-header" class="table table-bordered dt-responsive nowrap table-striped align-middle" style="width:100%">
                        <thead>
                            <tr>
                                
                                <th>ID</th>  
                                <th>Name</th>         
                                <th>Email ID</th>
                                <th>Mobile No</th>
                                <th>Password</th>
                                <th>Date of Birth</th>
                                <th>Language</th>
                                <th>City</th>
                                <th>Pin Code</th>
                                <th>Facebook</th>
                                <th>Instagram</th>
                                <th>Linkedin</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for datapoint in datapoints %}
                            <tr>
                                <td>{{ datapoint.id|default_if_none:'' }}</td>
                                <td>{{ datapoint.name|default_if_none:'' }}</td>
                                <td>{{ datapoint.email|default_if_none:'' }}</td>
                                <td>{{ datapoint.mobile_no|default_if_none:'' }}</td>
                                <td>{{ datapoint.decrypted_password|default_if_none:'' }}</td>
                                <td>{{ datapoint.date_of_birth|default_if_none:'' }}</td>
                                <td>{{ datapoint.language|default_if_none:'' }}</td>
                                <td>{{ datapoint.city|default_if_none:'' }}</td>
                                <td>{{ datapoint.pin_code|default_if_none:'' }}</td>
                                <td>{{ datapoint.facebook_links|default_if_none:'' }}</td>
                                <td>{{ datapoint.instagram_links|default_if_none:'' }}</td>
                                <td>{{ datapoint.linkedin_links|default_if_none:'' }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div><!--end row-->

{% endblock content %}