{% extends "adminpanel/base.html" %}
{% load static %}
{% block content %}

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between bg-galaxy-transparent">
                <h4 class="mb-sm-0">Builder Details</h4>

                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Builder Dashboard</a></li>
                        <li class="breadcrumb-item active">Builder Details</li>
                    </ol>
                </div>

            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-xxl-3">
                    <div class="card sticky-side-div">
                        <div class="card-body">
                            <h5 class="card-title mb-3">Info</h5> 
                            <div class="mb-0">                                                
                                <img src="{% static 'builderpanel/companyLogo/' %}{{ users.company_logo }}" width="200px">
                            </div>
                            <div class="table-responsive">
                                <table class="table table-borderless mb-0">
                                    <tbody>
                                        
                                        <tr>
                                            <th class="ps-0" scope="row">Name :</th>
                                            <td class="text-muted">{{ user_detail.name|default_if_none:'' }}</td>
                                        </tr>
                                        <tr>
                                            <th class="ps-0" scope="row">Mobile :</th>
                                            <td class="text-muted">{{ user_detail.mobile_no|default_if_none:'' }}</td>
                                        </tr>
                                        <tr>
                                            <th class="ps-0" scope="row">E-mail :</th>
                                            <td class="text-muted">{{ user_detail.email|default_if_none:'' }}</td>
                                        </tr>
                                        <tr>
                                            <th class="ps-0" scope="row">Business Name :</th>
                                            <td class="text-muted">{{ users.business_name|default_if_none:'' }}</td>
                                        </tr>
                                        <tr>
                                            <th class="ps-0" scope="row">Ongoing Residential :</th>
                                            <td class="text-muted">{{ users.ongoing_residential_projects|default_if_none:'' }}</td>
                                        </tr>
                                        <tr>
                                            <th class="ps-0" scope="row">Ongoing Commercial :</th>
                                            <td class="text-muted">{{ users.ongoing_commercial_projects|default_if_none:'' }}</td>
                                        </tr>
                                        <tr>
                                            <th class="ps-0" scope="row">Company Address :</th>
                                            <td class="text-muted">{{ users.company_hq_address|default_if_none:'' }}</td>
                                        </tr>
                                    </tbody>
                                </table>               
                                {% if users.signed_agreement %}                                 
                                <div class="mt-3">
                                    <a href="{% static 'builderpanel/agreement/' %}{{ users.signed_agreement }}" download class="btn btn-primary">Channel Partner Agreement</a>
                                </div>
                                {% endif %}
                            </div>
                        </div><!-- end card body -->
                        <div class="p-2 mt-4">
                            <a href="{% url "realeziadmin-builder-dashboard" %}"><button type="button" class="btn btn-light btn-label previestab"><i class="ri-arrow-left-line label-icon align-middle fs-16 me-2"></i>Back to Builder Dashboard</button></a>
                        </div>
                    </div><!-- end card -->
                </div>
                <!--end col-->
                <div class="col-xxl-9">
                    <div class="card">
                        <div class="card-body">
                            <div class="file-manager-content minimal-border w-100 p-3 py-0">
                                <div class="text-end">
                                    <form action="{% url "realeziadmin-builder-detail" user_detail.user_id %}" method="post">
                                        {% csrf_token %}
                                        {% if user_detail.is_verify == 1 %}
                                        <button type="submit" class="btn btn-primary btn-sm">Verified</button>
                                        {% else %}
                                        <button type="submit" class="btn btn-primary btn-sm">Verify</button>
                                        {% endif %}
                                    </form>                                                                        
                                </div>
                                <div class="mx-n3 pt-4 px-4 " data-simplebar>
                                    <div id="folder-list" class="mb-3">
                                        <!--end row-->
                                        {% comment %} <div class="row" id="folderlist-data">
                                            <div class="col-xxl-3 col-6 folder-card">
                                                <div class="card bg-light shadow-none" id="folder-1">
                                                    <div class="card-body">
                                                        <div class="text-center">
                                                            <div class="mb-2">
                                                                <i class="ri-folder-2-fill align-bottom text-warning display-5"></i>
                                                            </div>
                                                            <h6 class="fs-15 folder-name">Business</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--end col-->
                                            <div class="col-xxl-3 col-6 folder-card">
                                                <div class="card bg-light shadow-none" id="folder-2">
                                                    <div class="card-body">
                                                        <div class="text-center">
                                                            <div class="mb-2">
                                                                <i class="ri-folder-2-fill align-bottom text-warning display-5"></i>
                                                            </div>
                                                            <h6 class="fs-15 folder-name">Personal</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--end col-->
                                            <div class="col-xxl-3 col-6 folder-card">
                                                <div class="card bg-light shadow-none" id="folder-3">
                                                    <div class="card-body">
                                                        <div class="text-center">
                                                            <div class="mb-2">
                                                                <i class="ri-folder-2-fill align-bottom text-warning display-5"></i>
                                                            </div>
                                                            <h6 class="fs-15 folder-name">KYC</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--end col-->
                                            <div class="col-xxl-3 col-6 folder-card">
                                                <div class="card bg-light shadow-none" id="folder-4">
                                                    <div class="card-body">
                                                        <div class="text-center">
                                                            <div class="mb-2">
                                                                <i class="ri-folder-2-fill align-bottom text-warning display-5"></i>
                                                            </div>
                                                            <h6 class="fs-15 folder-name">Agreement</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--end col-->
                                        </div> {% endcomment %}
                                        <!--end row-->
                                    </div>
                                    <div class="col-xl-12">
                                        <div class="card">
                                            <div class="card-body form-steps">
                                                <div class="step-arrow-nav mb-4">
                                
                                                    <ul class="nav nav-pills custom-nav nav-justified" role="tablist">
                                                        <li class="nav-item" role="presentation">
                                                            <button class="nav-link active" id="business-detail-tab" data-bs-toggle="pill" data-bs-target="#business-detail-info" type="button" role="tab" aria-controls="business-detail-info" aria-selected="true">Business Details</button>
                                                        </li>
                                                        <li class="nav-item" role="presentation">
                                                            <button class="nav-link" id="personal-detail-tab" data-bs-toggle="pill" data-bs-target="#personal-detail-info" type="button" role="tab" aria-controls="personal-detail-info" aria-selected="false">Personal Details</button>
                                                        </li>
                                                        <li class="nav-item" role="presentation">
                                                            <button class="nav-link" id="kyc-verification-tab" data-bs-toggle="pill" data-bs-target="#kyc-verification-info" type="button" role="tab" aria-controls="kyc-verification-info" aria-selected="false">KYC Verification</button>
                                                        </li>
                                                        <li class="nav-item" role="presentation">
                                                            <button class="nav-link" id="bank-details-tab" data-bs-toggle="pill" data-bs-target="#bank-details-info" type="button" role="tab" aria-controls="bank-details-info" aria-selected="false">Bank Details</button>
                                                        </li>
                                                        <li class="nav-item" role="presentation">
                                                            <button class="nav-link" id="team-details-tab" data-bs-toggle="pill" data-bs-target="#team-details-info" type="button" role="tab" aria-controls="team-details-info" aria-selected="false">Team Details</button>
                                                        </li>
                                                    </ul>
                                                </div>
                            
                                                <div class="tab-content">
                                                    <div class="tab-pane fade show active" id="business-detail-info" role="tabpanel" aria-labelledby="business-detail-tab">
                                                        <form action="{% url "realeziadmin-builder-detail" user_detail.user_id %}" method="post" enctype="multipart/form-data">
                                                            {% csrf_token %}
                                                            <input type="hidden" name="tab" value="businessDetail">
                                                            <div class="row">
                                                                <div class="col-lg-6">
                                                                    <div class="mb-3">
                                                                        <label class="form-label" for="businessName">Business Name</label>
                                                                        <input type="text" class="form-control" id="businessName" placeholder="Enter Your Business Name" name="business_name" value="{{ users.business_name|default_if_none:'' }}" readonly>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <div class="mb-3">
                                                                        <label class="form-label" for="incorporatedSince">Incorporated Since</label>
                                                                        <input type="text" class="form-control" id="incorporatedSince" placeholder="Enter Your Incorporated Since" name="incorporated_since" value="{{ users.incorporated_since|default_if_none:'' }}" readonly>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-6">
                                                                    <div class="mb-3">
                                                                        <label class="form-label" for="ongoingResidentialProjects">Ongoing Residential Projects</label>
                                                                        <input type="text" class="form-control" id="ongoingResidentialProjects" placeholder="Enter Ongoing Residential Projects" name="ongoing_residential_projects" value="{{ users.ongoing_residential_projects|default_if_none:'' }}" readonly>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <div class="mb-3">
                                                                        <label class="form-label" for="ongoingCommercialProjects">Ongoing Commercial Projects</label>
                                                                        <input type="text" class="form-control" id="ongoingCommercialProjects" placeholder="Enter Ongoing Commercial Projects" name="ongoing_commercial_projects" value="{{ users.ongoing_commercial_projects|default_if_none:'' }}" readonly>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-6">
                                                                    <div class="mb-3">
                                                                        <label class="form-label" for="completedResidentialProjects">Completed Residential Projects</label>
                                                                        <input type="text" class="form-control" id="completedResidentialProjects" placeholder="Enter Completed Residential Projects" name="completed_residential_projects" value="{{ users.completed_residential_projects|default_if_none:'' }}" readonly>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <div class="mb-3">
                                                                        <label class="form-label" for="completedCommercialProjects">Completed Commercial Projects</label>
                                                                        <input type="text" class="form-control" id="completedCommercialProjects" placeholder="Enter Completed Commercial Projects" name="completed_commercial_projects" value="{{ users.completed_commercial_projects|default_if_none:'' }}" readonly>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="mb-3">
                                                                <label class="form-label" for="companyAddress">Company Address</label>
                                                                <textarea class="form-control" placeholder="Enter Company Address" id="companyAddress" rows="3" name="company_hq_address" readonly>{{ users.company_hq_address|default_if_none:''}}</textarea>
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="googleMap" class="form-label">Google Map</label>
                                                                <input class="form-control" type="text" id="googleMap" placeholder="Enter Google Map Link" name="google_map_link" value="{{ users.google_map_link|default_if_none:'' }}">
                                                            </div>
                                                            <div class="mb-3">
                                                                <label class="form-label" for="descriptionAboutCompany">Short Description About Company</label>
                                                                <textarea class="form-control" placeholder="Enter Description About Your Company" id="descriptionAboutCompany" rows="3" name="short_description" readonly>{{ users.short_description|default_if_none:''}}</textarea>
                                                            </div>
                                                            <div class="col-lg-12 mb-3">
                                                                <label class="form-label" for="gstNumber">Company GST Number</label>
                                                                <input type="text" class="form-control" id="gstNumber" placeholder="Enter GST Number" name="gst_number" value="{{ users.gst_number|default_if_none:'' }}" readonly>
                                                            </div>
                                                            <div class="text-end">
                                                                <button type="submit" class="btn btn-primary">Reject</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <!-- end tab pane -->
                            
                                                    <div class="tab-pane fade" id="personal-detail-info" role="tabpanel" aria-labelledby="personal-detail-tab">
                                                        <form action="{% url "realeziadmin-builder-detail" user_detail.user_id %}" method="post" enctype="multipart/form-data">
                                                            {% csrf_token %}
                                                            <input type="hidden" name="tab" value="personalDetail">
                                                            <div class="mb-3">
                                                                <label class="form-label" for="yourName">Your Name</label>
                                                                <input type="text" class="form-control" id="yourName" placeholder="Enter Your Name" name="personal_name" value="{{ users.personal_name|default_if_none:'' }}" readonly>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-6">
                                                                    <div class="mb-3">
                                                                        <label class="form-label" for="contactNumber">Contact Number</label>
                                                                        <input type="tel" class="form-control" id="contactNumber" minlength="10" maxlength="10" placeholder="Enter Your Contact Number" name="personal_phoneno" value="{{ users.personal_phoneno|default_if_none:'' }}" readonly>
                                                                    </div>  
                                                                </div>                                              
                                                                <div class="col-lg-6">
                                                                    <label class="form-label" for="whatsappNumber">Whatsapp Number</label>
                                                                    {% if users.personal_whatsapp_number == users.personal_phoneno %}
                                                                    <input type="text" class="form-control" placeholder="Same Number On Whatsapp" disabled>
                                                                    {% else %}
                                                                    <input type="tel" class="form-control" id="whatsappNumber" minlength="10" maxlength="10" placeholder="Enter Your Whatsapp Number" name="personal_whatsapp_number" value="{{ users.personal_whatsapp_number|default_if_none:'' }}" readonly>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                            <div class="mb-3">
                                                                <label class="form-label" for="secondaryNumber">Secondary Contact Number</label>
                                                                <input type="tel" class="form-control" id="secondaryNumber" minlength="10" maxlength="10" placeholder="Enter Your Secondary Contact Number" name="secondary_number" value="{{ users.secondary_number|default_if_none:'' }}" readonly>
                                                            </div>
                                                            <div class="mb-3">
                                                                <label class="form-label" for="emailId">Email ID</label>
                                                                <input type="email" class="form-control" id="emailId" placeholder="Enter Your Email ID" name="personal_email" value="{{ users.personal_email|default_if_none:'' }}" readonly>
                                                            </div>
                                                            <div class="mb-3">
                                                                <label class="form-label" for="selectDesignation">Designation</label><input type="text" class="form-control" id="yourName" placeholder="Enter Your Name" name="personal_name" value="{{ users.personal_designation|default_if_none:'' }}" readonly>
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="profilePicture" class="form-label"> Profile Picture</label><br>
                                                                {% if users.profile_picture %}
                                                                    <img src="{% static 'builderpanel/profilePicture/' %}{{ users.profile_picture }}" alt="Profile Picture" style="max-width: 200px; max-height: 200px;">
                                                                {% endif %}
                                                            </div>
                                                            <div class="text-end">
                                                                <button type="submit" class="btn btn-primary">Reject</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <!-- end tab pane -->
                            
                                                    <div class="tab-pane fade" id="kyc-verification-info" role="tabpanel" aria-labelledby="kyc-verification-tab">
                                                        <form action="{% url "realeziadmin-builder-detail" user_detail.user_id %}" method="post" enctype="multipart/form-data">
                                                            {% csrf_token %}
                                                            <input type="hidden" name="tab" value="kycDetail">
                                                            <div class="mb-3">
                                                                <label for="aadharNumber" class="form-label">Aadhar Number</label>
                                                                <input class="form-control" type="text" id="aadharNumber" placeholder="Enter Aadhar Number" name="aadhar_image" value="{{ users.aadhar_image|default_if_none:'' }}" readonly>
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="panNumber" class="form-label">Business PAN Number</label>
                                                                <input class="form-control" type="text" id="panNumber" placeholder="Enter Business PAN Number" name="company_pan_no" value="{{ users.company_pan_no|default_if_none:'' }}" readonly>
                                                            </div>
                                                            <div class="mb-3">
                                                                {% if users.gst_image %}
                                                                    <a href="{% url 'download_document' 'pan' %}" download><button class="btn btn-primary" type="button" id="verifyButton">Download Business PAN Card</button></a>
                                                                {% endif %}
                                                            </div>
                                                            <div class="mb-3">
                                                                {% if users.gst_image %}
                                                                    <a href="{% url 'download_document' 'gst' %}" download><button class="btn btn-primary" type="button" id="verifyButton">Download GST Certificate</button></a>
                                                                {% endif %} 
                                                            </div>
                                                            <div class="text-end">
                                                                <button type="submit" class="btn btn-primary">Reject</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <!-- end tab pane -->
                            
                                                    <div class="tab-pane fade" id="bank-details-info" role="tabpanel" aria-labelledby="bank-details-tab">
                                                        <form action="{% url "realeziadmin-builder-detail" user_detail.user_id %}" method="post" enctype="multipart/form-data">
                                                            {% csrf_token %}
                                                            <input type="hidden" name="tab" value="bankDetail">
                                                            <div class="mb-3">
                                                                <label class="form-label" for="accountNumber">Current Account Number</label>
                                                                <input type="number" class="form-control" id="accountNumber" placeholder="Enter Your Current Account Number" name="bank_account_no" value="{{ users.bank_account_no|default_if_none:'' }}" readonly>
                                                            </div>
                                                            <div class="mb-3">
                                                                <label class="form-label" for="IFSCCode">IFSC Code</label>
                                                                <input type="text" class="form-control" id="IFSCCode" placeholder="Enter IFSC Code" name="ifsc_code" value="{{ users.ifsc_code|default_if_none:'' }}" readonly>
                                                            </div>
                                                            <div class="mb-3">
                                                                <label class="form-label" for="bankName">Bank Name</label>
                                                                <input type="text" class="form-control" id="bankName" placeholder="Enter Your Bank Name" name="bank_name" value="{{ users.bank_name|default_if_none:'' }}" readonly>
                                                            </div>
                                                            <div class="mb-3">
                                                                <label class="form-label" for="beneficiaryName">Beneficiary Name</label>
                                                                <input type="text" class="form-control" id="beneficiaryName" placeholder="Enter Beneficiary Name" name="account_holder_name" value="{{ users.account_holder_name|default_if_none:'' }}" readonly>
                                                            </div>
                                                            <div class="text-end">
                                                                <button type="submit" class="btn btn-primary">Reject</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <!-- end tab pane -->
                            
                                                    <div class="tab-pane fade" id="team-details-info" role="tabpanel" aria-labelledby="team-details-tab">
                                                        <form action="{% url "realeziadmin-builder-detail" user_detail.user_id %}" method="post" enctype="multipart/form-data">
                                                            {% csrf_token %}
                                                            <input type="hidden" name="tab" value="teamDetail">
                                                            <div class="col-xxl-12">
                                                                <!-- Nav tabs -->
                                                                <ul class="nav nav-tabs nav-justified mb-3" role="tablist">
                                                                    <li class="nav-item">
                                                                        <a class="nav-link active" data-bs-toggle="tab" href="#team1" role="tab" aria-selected="false" id="team1-tab">
                                                                            Sales Director
                                                                        </a>
                                                                    </li>
                                                                    <li class="nav-item">
                                                                        <a class="nav-link" data-bs-toggle="tab" href="#team2" role="tab" aria-selected="false" id="team2-tab">
                                                                            Project Sales Manager
                                                                        </a>
                                                                    </li>
                                                                    <li class="nav-item">
                                                                        <a class="nav-link" data-bs-toggle="tab" href="#team3" role="tab" aria-selected="false" id="team3-tab">
                                                                            Accounts & Finance Team
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                                <!-- Tab panes -->
                                                                <div class="tab-content  text-muted">
                                                                    <div class="tab-pane active" id="team1" role="tabpanel" aria-labelledby="team1-tab">
                                                                        <div class="col-lg-12">
                                                                            <div class="mb-3">
                                                                                <label class="form-label" for="companySalesHeadName">Name</label>
                                                                                <input type="text" class="form-control" id="companySalesHeadName" placeholder="Enter Name" name="sales_director_name"  value="{{ users.sales_director_name|default_if_none:'' }}" readonly>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-lg-12">
                                                                            <div class="mb-3">
                                                                                <label class="form-label" for="companySalesHeadEmail">Email</label>
                                                                                <input type="email" class="form-control" id="companySalesHeadEmail" placeholder="Enter Email" name="sales_director_email"  value="{{ users.sales_director_email|default_if_none:'' }}" readonly>
                                                                            </div>
                                                                        </div>
                                                                        <div class="mb-3">
                                                                            <label class="form-label" for="companySalesHeadNumber">Number</label>
                                                                            <input type="tel" class="form-control" minlength="10" maxlength="10" id="companySalesHeadNumber" placeholder="Enter Number" name="sales_director_number" value="{{ users.sales_director_number|default_if_none:'' }}" readonly>
                                                                        </div>
                                                                    </div>
                                                                    <div class="tab-pane" id="team2" role="tabpanel" aria-labelledby="team2-tab">
                                                                        <div class="col-lg-12">
                                                                            <div class="mb-3">
                                                                                <label class="form-label" for="salesManagerName">Name</label>
                                                                                <input type="text" class="form-control" id="salesManagerName" placeholder="Enter Name" name="project_sales_manager_name" value="{{ users.project_sales_manager_name|default_if_none:'' }}" readonly>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-lg-12">
                                                                            <div class="mb-3">
                                                                                <label class="form-label" for="salesManagerEmail">Email</label>
                                                                                <input type="email" class="form-control" id="salesManagerEmail" placeholder="Enter Email" name="project_sales_manager_email" value="{{ users.project_sales_manager_email|default_if_none:'' }}" readonly>
                                                                            </div>
                                                                        </div>
                                                                        <div  class="mb-3">
                                                                            <label class="form-label" for="salesManagerNumber">Number</label>
                                                                            <input type="tel" class="form-control" minlength="10" maxlength="10" id="salesManagerNumber" placeholder="Enter Number"  name="project_sales_manager_number" value="{{ users.project_sales_manager_number|default_if_none:'' }}" readonly>
                                                                        </div>
                                                                    </div>
                                                                    <div class="tab-pane" id="team3" role="tabpanel" aria-labelledby="team3-tab">
                                                                        <div class="col-lg-12">
                                                                            <div class="mb-3">
                                                                                <label class="form-label" for="financeTeamName">Name</label>
                                                                                <input type="text" class="form-control" id="financeTeamName" placeholder="Enter Name" name="finance_team_name" value="{{ users.finance_team_name|default_if_none:'' }}" readonly>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-lg-12">
                                                                            <div class="mb-3">
                                                                                <label class="form-label" for="financeTeamEmail">Email</label>
                                                                                <input type="email" class="form-control" id="financeTeamEmail" placeholder="Enter Email" name="finance_team_email" value="{{ users.finance_team_email|default_if_none:'' }}" readonly>
                                                                            </div>
                                                                        </div>
                                                                        <div class="mb-3">
                                                                            <label class="form-label" for="financeTeamNumber">Number</label>
                                                                            <input type="tel" class="form-control" minlength="10" maxlength="10" id="financeTeamNumber" placeholder="Enter Number" name="finance_team_number" value="{{ users.finance_team_number|default_if_none:'' }}" readonly>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- end col --> 
                                                            <div class="text-end">
                                                                <button type="submit" class="btn btn-primary">Reject</button>
                                                            </div>                                      
                                                        </form>
                                                    </div>
                                                    <!-- end tab pane -->
                            
                                                    <div class="tab-pane fade" id="signature-info" role="tabpanel" aria-labelledby="signature-tab">
                                                        <form action="{% url "realeziadmin-builder-detail" user_detail.user_id %}" method="post" enctype="multipart/form-data">
                                                            {% csrf_token %}
                                                            <input type="hidden" name="tab" value="signatureDetail">
                                                            <div class="mb-3">
                                                                <label for="esignature" class="form-label">Supplier E-signature</label>
                                                                <input class="form-control mb-2" type="file" id="esignature" name="signature" accept="image/jpeg, image/png">
                                                                {% if users.signature %}
                                                                    <img src="{% static 'builderpanel/signature/' %}{{users.signature}}" alt="Supplier E-signature" style="max-width: 200px; max-height: 200px;">
                                                                {% endif %}
                                                            </div>
                                                            <div class="text-end">
                                                                <button type="submit" class="btn btn-primary">Reject</button>
                                                            </div> 
                                                        </form>
                                                    </div>
                                                    <!-- end tab pane -->
                                                </div>
                                                <!-- end tab content -->
                                            </div>
                                            <!-- end card body -->
                                        </div>
                                        <!-- end card -->
                                    </div>
                                    <!-- end col -->
                                    <div class="col-xl-12">
                                        <div class="d-flex align-items-center mb-3">
                                            <h5 class="flex-grow-1 fs-16 mb-0" id="filetype-title">Posted Properties</h5>
                                        </div>
                                        <div class="table-responsive">
                                            <table id="example" class="table table-bordered dt-responsive nowrap table-striped align-middle" style="width:100%">
                                                <thead>
                                                    <tr>
                                                        <th data-ordering="false">SR No.</th>
                                                        <th data-ordering="false">Property ID</th>
                                                        <th data-ordering="false">Property Name</th>
                                                        <th>Property Type</th>
                                                        <th>Property Price</th>
                                                        <th>Status</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for property in properties %}
                                                    <tr>
                                                        <td>{{ forloop.counter}}</td>
                                                        <td>{{ property.property_unique_id}}</td>
                                                        <td>{{ property.name }}</td>
                                                        <td>{{ property.property_type }}</td>
                                                        <td>{{ property.price }}</td>
                                                        <td>
                                                            {% if property.is_active %}Active{% else %}<span class="text-danger">Under Review</span>{% endif %}                                                            
                                                        </td>
                                                        <td>
                                                            <ul class="list-inline hstack gap-2 mb-0">
                                                                <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="View">
                                                                    <a href="{% url 'propertydetails' property.property_unique_id %}"><i class="ri-eye-fill align-bottom text-muted"></i></a>
                                                                </li>
                                                            </ul>
                                                        </td>
                                                    </tr>                                                    
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end card-body-->
                    </div><!-- end card -->

                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end col-->
    </div>
    <!--end row-->

    <!-- START CREATE FOLDER MODAL -->
    <div class="modal fade zoomIn" id="createFolderModal" tabindex="-1" aria-labelledby="createFolderModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content border-0">
                <div class="modal-header p-3 bg-success-subtle">
                    <h5 class="modal-title" id="createFolderModalLabel">Create Folder</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" id="addFolderBtn-close" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form autocomplete="off" class="needs-validation createfolder-form" id="createfolder-form" novalidate>
                        <div class="mb-4">
                            <label for="foldername-input" class="form-label">Folder Name</label>
                            <input type="text" class="form-control" id="foldername-input"  placeholder="Enter folder name">
                            <div class="invalid-feedback">Please enter a folder name.</div>
                            <input type="hidden" class="form-control" id="folderid-input" value="" placeholder="Enter folder name">
                        </div>
                        <div class="hstack gap-2 justify-content-end">
                            <button type="button" class="btn btn-ghost-success material-shadow-none" data-bs-dismiss="modal"><i class="ri-close-line align-bottom"></i> Close</button>
                            <button type="submit" class="btn btn-primary" id="addNewFolder">Add Folder</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- END CREATE FOLDER MODAL -->                  

    <!-- removeFileItemModal -->
    <div id="removeFolderModal" class="modal fade zoomIn" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-removeFoldermodal"></button>
                </div>
                <div class="modal-body">
                    <div class="mt-2 text-center">
                        <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop" colors="primary:#f7b84b,secondary:#f06548" style="width:100px;height:100px"></lord-icon>
                        <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
                            <h4>Are you sure ?</h4>
                            <p class="text-muted mx-4 mb-0">Are you sure you want to remove this folder ?</p>
                        </div>
                    </div>
                    <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                        <button type="button" class="btn w-sm btn-light" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn w-sm btn-danger" id="remove-folderList">Yes, Delete It!</button>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <script>
        function whatsappNumberShow(event) {
            var button = event.target;
            var value = button.value;
            var container = document.getElementById('whatsappNumberContainer');
            var yesButton = document.querySelector('button[value="yes"]');
            var noButton = document.querySelector('button[value="no"]');
        
            if (value === 'no') {
                container.style.display = 'block';
                noButton.classList.add('active');
                yesButton.classList.remove('active');
            } else {
                container.style.display = 'none';
                yesButton.classList.add('active');
                noButton.classList.remove('active');
            }
        }
    </script>

{% endblock content %}