{% extends "adminpanel/base.html" %}
{% load static %}
{% block content %}

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between bg-galaxy-transparent">
                <h4 class="mb-sm-0">Complete Datapoint Task</h4>

                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Home</a></li>
                        <li class="breadcrumb-item active">Complete Datapoint Task</li>
                    </ol>
                </div>

            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <table id="fixed-header" class="table table-bordered dt-responsive nowrap table-striped align-middle" style="width:100%">
                        <thead>
                            <tr>
                                
                                <th>Sr No</th>  
                                <th>ID</th>  
                                <th>Name</th>         
                                <th>Email ID</th>
                                <th>Mobile No</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for datapoint in datapoints %}
                            <tr>
                                
                                <td>{{ forloop.counter }}</td>
                                <td>{{ datapoint.id }}</td>
                                <td>{{ datapoint.name }}</td>
                                <td>{{ datapoint.email }}</td>
                                <td>{{ datapoint.mobile_no }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div><!--end row-->

{% endblock content %}