{% extends "adminpanel/base.html" %}
{% load static %}
{% block content %}
    
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between bg-galaxy-transparent">
                <h4 class="mb-sm-0">Edit Lead</h4>

                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Home</a></li>
                        <li class="breadcrumb-item active">Edit Lead</li>
                    </ol>
                </div>

            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="col-xxl-12">
        <div class="card">
            <div class="card-body">
                <div class="live-preview">
                    <form method="POST" class="row g-3">
                        {% csrf_token %}
                        <div class="col-lg-12">
                            <label class="form-label" for="name">Name:</label>
                            <input type="text" id="name" class="form-control" value="{{ lead.name}}" name="name">
                        </div>
                        <div class="col-lg-12">
                            <label class="form-label" for="email">Email:</label>
                            <input type="email" id="email" class="form-control" value="{{ lead.email}}" name="email">
                        </div>
                        <div class="col-lg-12">
                            <label class="form-label" for="phone">Phone:</label>
                            <input type="text" id="phone" class="form-control" value="{{ lead.phone}}" name="phone">
                        </div>
                        <div class="col-lg-12">
                            <label class="form-label" for="source">Source:</label>
                            <select id="source" class="form-select" name="source">
                                <option selected>Select Lead Source</option>
                                <option value="facebook" {% if lead.source == 'facebook' %}selected{% endif %}>Facebook</option>
                                <option value="instagram" {% if lead.source == 'instagram' %}selected{% endif %}>Instagram</option>
                                <option value="google_ads" {% if lead.source == 'google_ads' %}selected{% endif %}>Google Ads</option>
                                <option value="other" {% if lead.source == 'other' %}selected{% endif %}>Other</option>
                            </select>
                        </div>
                        <div class="col-lg-12">
                            <label class="form-label" for="lead_status">Status:</label>
                            <select id="lead_status" class="form-select" name="status">
                                <option selected>Select Lead Status</option>
                                <option value="new" {% if lead.status == 'new' %}selected{% endif %}>New</option>
                                <option value="in_progress" {% if lead.status == 'in_progress' %}selected{% endif %}>In Progress</option>
                                <option value="converted" {% if lead.status == 'converted' %}selected{% endif %}>Converted</option>
                                <option value="closed" {% if lead.status == 'closed' %}selected{% endif %}>Closed</option>
                                <option value="deleted" {% if lead.status == 'deleted' %}selected{% endif %}>Deleted</option>
                            </select>
                        </div>
                        <div class="col-lg-12">
                            <label class="form-label" for="revenue">Revenue:</label>
                            <input type="number" id="revenue" class="form-control" value="{{ lead.revenue}}" name="revenue" step="0.01" min="0">
                        </div>
                        <div class="col-lg-6">
                            <button type="submit" class="btn btn-primary">Edit Lead</button>
                        </div>
                    </form>
                </div>
            </div><!-- end card-body -->
        </div><!-- end card -->
    </div>
    <!--end col-->

{% endblock content %} 