{% extends "adminpanel/base.html" %}
{% load static %}
{% block content %}

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between bg-galaxy-transparent">
                <h4 class="mb-sm-0">Sales</h4>

                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Home</a></li>
                        <li class="breadcrumb-item active">Sales</li>
                    </ol>
                </div>

            </div>
        </div>
    </div>
    <!-- end page title -->
    
    <div class="mb-3 text-end">
        <a href="{% url "realeziadmin-add-sales" %}"><button type="submit" class="btn btn-primary">Add Sales</button></a>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <table id="fixed-header" class="table table-bordered dt-responsive nowrap table-striped align-middle" style="width:100%">
                        <thead>
                            <tr>                                
                                <th>Sr No</th> 
                                <th>ID</th>
                                <th>Name</th>
                                <th>Email ID</th>
                                <th>Mobile No</th>
                                <th>Password</th>
                                <th>Date of Joining</th>
                                <th>Salary</th>
                                <th>Aadhar No</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for employee in employees %}
                            <tr>
                                
                                <td>{{ forloop.counter }}</td>
                                <td>{{ employee.employee_id}}</td>
                                <td>{{ employee.name}}</td>
                                <td>{{ employee.email }}</td>
                                <td>{{ employee.mobile_no }}</td>
                                <td>{{ employee.decrypted_password }}</td>
                                <td>{{ employee.created_date }}</td>
                                <td>{{ employee.salary }}</td>
                                <td>{{ employee.aadhar_number }}</td>
                                <td>
                                    {% if employee.is_active == 1 %}Active{% else %}<span class="text-danger">De-Active</span>{% endif %}
                                </td>
                                <td>
                                    <div class="d-flex gap-4">
                                        <ul class="list-inline hstack gap-2 mb-0">
                                            <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="View">
                                                <a href="#"><i class="ri-eye-fill align-bottom text-muted"></i></a>
                                            </li>
                                            <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Edit">
                                                <a class="edit-item-btn" href="#showModal" data-bs-toggle="modal"><i class="ri-pencil-fill align-bottom text-muted"></i></a>
                                            </li>
                                            <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Delete">
                                                <a href="#removeSalesModal" class="dropdown-item remove-item-btn" data-bs-toggle="modal" data-bs-target="#removeSalesModal{{ employee.employee_id}}"><i class="ri-delete-bin-fill align-bottom text-muted"></i></a>
                                            </li>
                                        </ul>
                                        <div class="flex-shrink-0">
                                            <form action="{% url 'realeziadmin-sales-status' employee.employee_id %}" method="post">
                                                {% csrf_token %}
                                                <div class="form-check form-switch form-switch-right form-switch-md">
                                                    <input class="form-check-input code-switcher" type="checkbox"  id="checkbox{{ property.property_unique_id }}" {% if employee.is_active %}checked{% endif %} onchange="this.form.submit()">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div><!--end row-->

    {% for employee in employees %}
    <!-- removeProjectModal -->
    <div id="removeSalesModal{{ employee.employee_id}}" class="modal fade zoomIn" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
                </div>
                <div class="modal-body">
                    <div class="mt-2 text-center">
                        <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop" colors="primary:#f7b84b,secondary:#f06548" style="width:100px;height:100px"></lord-icon>
                        <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
                            <h4>Are you Sure ?</h4>
                            <p class="text-muted mx-4 mb-0">Are you Sure You want to Remove this Sales ?</p>
                        </div>
                    </div>
                    <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                        <button type="button" class="btn w-sm btn-light" data-bs-dismiss="modal">Close</button>
                        <a href="{% url 'realeziadmin-sales-delete' employee.employee_id %}"><button type="button" class="btn w-sm btn-danger" id="remove-project">Yes, Delete It!</button></a>
                    </div>
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    {% endfor %}

{% endblock content %}