{% extends "adminpanel/base.html" %}
{% load static %}
{% block content %}

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between bg-galaxy-transparent">
                <h4 class="mb-sm-0">site Visits</h4>

                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Home</a></li>
                        <li class="breadcrumb-item active">site Visits</li>
                    </ol>
                </div>

            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <table id="fixed-header" class="table table-bordered dt-responsive nowrap table-striped align-middle" style="width:100%">
                        <thead>
                            <tr>
                                <th>Sr No</th>
                                <th>Property ID</th>
                                <th>Property Name</th>
                                <th>Buyer ID</th>
                                <th>Buyer Name</th>
                                <th>Builder ID</th>
                                <th>Builder Name</th>
                                <th>Date</th>           
                                <th>Time Slot</th>
                                <th>Start Visit Time</th>
                                <th>End VisitTime</th>
                                <th>Assign RM</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for visit in site_visits %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ visit.property_id }}</td>
                                <td>{{ visit.property_name }}</td>
                                <td>{{ visit.buyer_id }}</td>
                                <td>{{ visit.buyer_name }}</td>
                                <td>{{ visit.builder_id }}</td>
                                <td>{{ visit.builder_name }}</td>
                                <td>{{ visit.visit_date }}</td>
                                <td>{{ visit.visit_time }}</td>
                                <td>
                                    {% for history in site_visit_history %}
                                    {% if history.property_id == visit.property_id %}
                                        {{ history.start_time|default_if_none:'' }}
                                    {% endif %}
                                {% endfor %}
                                </td>
                                <td>
                                    {% for history in site_visit_history %}
                                    {% if history.property_id == visit.property_id %}
                                        {{ history.end_time|default_if_none:'' }}
                                    {% endif %}
                                {% endfor %}
                                </td>
                                <td>
                                    {% if visit.rm_name %}
                                        {{ visit.rm_name }}         
                                    {% elif visit.status == 6 %}
                                    {% else %}
                                    <button class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#showModal{{ visit.property_id }}">Assign RM</button>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if visit.rm_name %}
                                        {% if visit.status == 1 %} 
                                            <span class="text-primary">Accepted</span>
                                        {% elif visit.status == 0 or visit.status == 3 %}
                                            <span class="text-danger">Pending</span>
                                        {% elif visit.status == 9 %}
                                            <span class="text-success">Complited</span>
                                        {% elif visit.status == 10 %}
                                            <span class="text-primary">Done Site Visit</span>
                                        {% endif %}
                                    {% endif %}                                    
                                    {% if visit.status == 6  %}
                                    <span class="text-danger">Canceled by Buyer</span>
                                    {% elif visit.status == 7 %}
                                    <span class="text-danger">Canceled</span>
                                    {% elif visit.status == 8  %}
                                    <span class="text-danger">Canceled by Employee</span>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if visit.status == 6 or visit.status == 7 or visit.status == 8 %}
                                        <button class="btn btn-soft-success btn-sm">Reschedule</button>
                                    {% elif visit.status == 10 %}
                                        <button class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#confirmdeal{{ visit.property_id }}">Confirm Deal</button>
                                    {% elif visit.status == 9 %}
                                        
                                    {% else %}                                        
                                        <button class="btn btn-soft-success btn-sm">Reschedule</button>
                                        <button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#showCancelModal{{visit.property_id}}">Cancel</button>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div><!--end row-->

    {% for visit in site_visits %}
    <div class="modal fade zoomIn" id="showModal{{ visit.property_id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content border-0">
                <div class="modal-header p-3 bg-info-subtle">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
                </div>
                <form action="{% url "realeziadmin-site-visit" %}" method="post" class="tablelist-form" autocomplete="off">
                    {% csrf_token %}
                    <input type="hidden" name="property_id" value="{{ visit.property_id }}">
                    <div class="modal-body">
                        <div class="row g-3">
                            <div class="col-lg-12">
                                <label for="employee_name" class="form-label">Assign Relationship Manager Name</label>
                                <select id="employee_name" class="form-select" name="employee_id">
                                    <option value="" selected>Relationship Manager Name</option>
                                    {% for employee in employees %}
                                        <option value="{{ employee.employee_id }}">{{ employee.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="hstack gap-2 justify-content-end">
                                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary" id="add-btn">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}

    {% for visit in site_visits %}
    <div class="modal fade zoomIn" id="confirmdeal{{ visit.property_id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content border-0">
                <div class="modal-header p-3 bg-info-subtle">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
                </div>
                <form action="{% url "realeziadmin-commission" %}" method="post" class="tablelist-form" autocomplete="off">
                    {% csrf_token %}
                    <input type="hidden" name="property_id" value="{{ visit.property_id }}">
                    <input type="hidden" name="buyer_id" value="{{ visit.buyer_id }}">
                    <input type="hidden" name="builder_id" value="{{ visit.builder_id }}">
                    <div class="modal-body">
                        <div class="row g-3">
                            <div class="col-lg-12">
                                <label for="" class="form-label">Total Amount</label>
                                <input type="number" class="form-control" id="total_amount{{ visit.property_id }}" name="total_amount" placeholder="Enter Total Amount"  oninput="calculateCommission(this, {{ visit.property_id }})">
                            </div>
                            <div class="col-lg-12">
                                <label for="" class="form-label">Commission (%)</label>
                                <input type="text" name="commission_percentage" id="commission{{ visit.property_id }}" class="form-control" placeholder="Enter Commission Percentage"  oninput="calculateCommission(this, {{ visit.property_id }})">
                            </div>
                            <div class="col-lg-12">
                                <label for="" class="form-label">Commission Amount</label>
                                <input type="text" class="form-control" id="commission_amount{{ visit.property_id }}" name="commission_amount" placeholder="Your Commission Amount" readonly>
                            </div>
                            <div class="hstack gap-2 justify-content-end">
                                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>  
    <script>
        function calculateCommission(input, propertyId) {
            const totalAmountInput = document.getElementById(`total_amount${propertyId}`);
            const commissionInput = document.getElementById(`commission${propertyId}`);
            const commissionAmountInput = document.getElementById(`commission_amount${propertyId}`);

            const totalAmount = parseFloat(totalAmountInput.value);
            const commission = parseFloat(commissionInput.value);

            if (totalAmount && commission) {
                const commissionAmount = (totalAmount / 100) * commission;
                commissionAmountInput.value = commissionAmount.toFixed(2);
            } else {
                commissionAmountInput.value = '';
            }
        }
    </script>
    {% endfor %} 
    
    {% for visit in site_visits %}
    <div class="modal fade zoomIn" id="showCancelModal{{visit.property_id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content border-0">
                <div class="modal-header p-3 bg-info-subtle">
                    <h5 class="modal-title">Reason for Cancel Site Visit</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
                </div>
                <form action="{% url "admin-cancel-site-visit" %}" method="post" class="tablelist-form" autocomplete="off">
                    {% csrf_token %}
                    <input type="hidden" name="property_id" value="{{ visit.property_id }}">
                    <div class="modal-body">
                        <div class="row g-3">
                            <div class="col-lg-12">
                                <textarea class="form-control" placeholder="Enter Your Reason" id="admin_note" rows="5" name="admin_note"></textarea>
                            </div>
                            <div class="hstack gap-2 justify-content-end">
                                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary" id="add-btn">Submit</button>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock content %}