{% extends "adminpanel/base.html" %}
{% load static %}
{% block content %}
    
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between bg-galaxy-transparent">
                <h4 class="mb-sm-0">User / Re-seller</h4>

                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboards</a></li>
                        <li class="breadcrumb-item active">User / Re-seller</li>
                    </ol>
                </div>

            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-xl-3 col-md-6">
            <!-- card -->
            <div class="card card-animate card-height-100">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="flex-grow-1 overflow-hidden">
                            <p class="text-uppercase fw-medium text-muted text-truncate mb-0">All Users</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-end justify-content-between mt-4">
                        <div>
                            <h4 class="fs-22 fw-semibold ff-secondary mb-4"><span class="counter-value" data-target="{{ all_user }}">0</span></h4>
                            <a href="#" class="text-decoration-underline">See details</a>
                        </div>
                        <div class="avatar-sm flex-shrink-0">
                            <span class="avatar-title bg-success-subtle rounded fs-3">
                                <i class="bx bx-dollar-circle text-success"></i>
                            </span>
                        </div>
                    </div>
                </div><!-- end card body -->
            </div><!-- end card -->
        </div><!-- end col -->

        <div class="col-xl-3 col-md-6">
            <!-- card -->
            <div class="card card-animate card-height-100">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="flex-grow-1 overflow-hidden">
                        <p class="text-uppercase fw-medium text-muted text-truncate mb-0">All Resellers</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-end justify-content-between mt-4">
                        <div>
                            <h4 class="fs-22 fw-semibold ff-secondary mb-4"><span class="counter-value" data-target="{{ all_resellers }}">0</span></h4>
                            <a href="#" class="text-decoration-underline">See details</a>
                        </div>
                        <div class="avatar-sm flex-shrink-0">
                            <span class="avatar-title bg-info-subtle rounded fs-3">
                                <i class="bx bx-shopping-bag text-info"></i>
                            </span>
                        </div>
                    </div>
                </div><!-- end card body -->
            </div><!-- end card -->
        </div><!-- end col -->

        <div class="col-xl-3 col-md-6">
            <!-- card -->
            <div class="card card-animate card-height-100">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="flex-grow-1 overflow-hidden">
                            <p class="text-uppercase fw-medium text-muted text-truncate mb-0">Today Registered Reseller</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-end justify-content-between mt-4">
                        <div>
                            <h4 class="fs-22 fw-semibold ff-secondary mb-4"><span class="counter-value" data-target="{{ today_registered_users }}">0</span></h4>
                            <a href="#" class="text-decoration-underline">See details</a>
                        </div>
                        <div class="avatar-sm flex-shrink-0">
                            <span class="avatar-title bg-warning-subtle rounded fs-3">
                                <i class="bx bx-user-circle text-warning"></i>
                            </span>
                        </div>
                    </div>
                </div><!-- end card body -->
            </div><!-- end card -->
        </div><!-- end col -->

        <div class="col-xl-3 col-md-6">
            <!-- card -->
            <div class="card card-animate card-height-100">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="flex-grow-1 overflow-hidden">
                            <p class="text-uppercase fw-medium text-muted text-truncate mb-0">Pending Verification</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-end justify-content-between mt-4">
                        <div>
                            <h4 class="fs-22 fw-semibold ff-secondary mb-4"><span class="counter-value" data-target="{{ pending_verification }}">0</span></h4>
                            <a href="#" class="text-decoration-underline">See details</a>
                        </div>
                        <div class="avatar-sm flex-shrink-0">
                            <span class="avatar-title bg-primary-subtle rounded fs-3">
                                <i class="bx bx-wallet text-primary"></i>
                            </span>
                        </div>
                    </div>
                </div><!-- end card body -->
            </div><!-- end card -->
        </div><!-- end col -->
    </div> <!-- end row-->

    <div class="row">
        <div class="col-xxl-12">
            <div class="card">
                <div class="card-header align-items-xl-center d-xl-flex">
                    <p class="text-muted flex-grow-1 mb-xl-0"></p>
                    <div class="flex-shrink-0">
                        <ul class="nav nav-pills card-header-pills" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-bs-toggle="tab" href="#all_users" role="tab">
                                    All Users
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#buyers" role="tab">
                                    Buyers
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#resellers" role="tab">
                                    Resellers
                                </a>
                            </li>
                        </ul>
                    </div>
                </div><!-- end card header -->
                <div class="card-body">
                    <!-- Tab panes -->
                    <div class="tab-content text-muted">
                        <div class="tab-pane active" id="all_users" role="tabpanel">
                            <div class="card-body">
                                <table id="example" class="table table-bordered dt-responsive nowrap table-striped align-middle" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th data-ordering="false">SR No.</th>
                                            <th data-ordering="false">User ID</th>
                                            <th data-ordering="false">User Name</th>
                                            <th data-ordering="false">Source</th>
                                            <th data-ordering="false">Device</th>
                                            <th>First Visit Date</th>
                                            <th>Last Visit Date</th>
                                            <th>Properties</th>
                                            <th>Subscription</th>
                                            <th>Activity</th>
                                            <th>Documents</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for user in users %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ user.user_master.user_id }}</td>
                                            <td>{{ user.user_master.name }}</td>
                                            <td>Website</td>
                                            <td>Desktop</td>
                                            <td>03 Oct, 2021</td>
                                            <td>03 Oct, 2021</td>
                                            <td>{{ user.property_count}}</td>
                                            <td><a href="user-subscription-history.html"><button class="btn btn-danger btn-sm">Subscribed</button></a></td>
                                            <td><a href="check-user-activity.html"><button class="btn btn-success btn-sm">Check Activity</button></a></td>
                                            <td><button class="btn btn-primary btn-sm">Checked</button></td>
                                            <td>
                                                {% if user.user_master.is_active %}
                                                    Active
                                                {% else %}
                                                    <span class="text-danger">De-Active</span>
                                                {% endif %}
                                            </td>
                                            <td>
                                                <div class="d-flex gap-4">
                                                    <ul class="list-inline hstack gap-2 mb-0">
                                                        <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="View">
                                                            <a href="user-detail.html"><i class="ri-eye-fill align-bottom text-muted"></i></a>
                                                        </li>
                                                        <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Edit">
                                                            <a class="edit-item-btn" href="#showModal" data-bs-toggle="modal"><i class="ri-pencil-fill align-bottom text-muted"></i></a>
                                                        </li>
                                                        <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Delete">
                                                            <a class="remove-item-btn" data-bs-toggle="modal" href="#deleteRecordModal">
                                                                <i class="ri-delete-bin-fill align-bottom text-muted"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                    <div class="flex-shrink-0">
                                                        <form action="{% url 'change-buyer-status' user.user_master.user_id %}" method="post">
                                                            {% csrf_token %}
                                                            <div class="form-check form-switch form-switch-right form-switch-md">
                                                                <input class="form-check-input code-switcher" type="checkbox"  id="checkbox{{ user.user_master.user_id }}" {% if user.user_master.is_active %}checked{% endif %} onchange="this.form.submit()">
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane" id="buyers" role="tabpanel">
                            <div class="card-body">
                                <table id="example1" class="table table-bordered dt-responsive nowrap table-striped align-middle" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th data-ordering="false">SR No.</th>
                                            <th data-ordering="false">User ID</th>
                                            <th data-ordering="false">User Name</th>
                                            <th data-ordering="false">Source</th>
                                            <th data-ordering="false">Device</th>
                                            <th>First Visit Date</th>
                                            <th>Last Visit Date</th>
                                            <th>Subscription</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for user in users %}
                                        {% if user.property_count %}
                                        {% else %}
                                        <tr>
                                            <td></td>
                                            <td>{{ user.user_master.user_id }}</td>
                                            <td>{{ user.user_master.name }}</td>
                                            <td>Website</td>
                                            <td>Desktop</td>
                                            <td>03 Oct, 2021</td>
                                            <td>03 Oct, 2021</td>
                                            <td><button class="btn btn-danger btn-sm">Subscription History</button></td>
                                            <td>
                                                {% if user.user_master.is_active %}
                                                    Active
                                                {% else %}
                                                    <span class="text-danger">De-Active</span>
                                                {% endif %}
                                            </td>
                                            <td>
                                                <div class="d-flex gap-4">
                                                    <ul class="list-inline hstack gap-2 mb-0">
                                                        <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="View">
                                                            <a href="#"><i class="ri-eye-fill align-bottom text-muted"></i></a>
                                                        </li>
                                                        <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Edit">
                                                            <a class="edit-item-btn" href="#showModal" data-bs-toggle="modal"><i class="ri-pencil-fill align-bottom text-muted"></i></a>
                                                        </li>
                                                        <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Delete">
                                                            <a class="remove-item-btn" data-bs-toggle="modal" href="#deleteRecordModal">
                                                                <i class="ri-delete-bin-fill align-bottom text-muted"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                    <div class="flex-shrink-0">
                                                        <form action="{% url 'change-buyer-status' user.user_master.user_id %}" method="post">
                                                            {% csrf_token %}
                                                            <div class="form-check form-switch form-switch-right form-switch-md">
                                                                <input class="form-check-input code-switcher" type="checkbox"  id="checkbox{{ user.user_master.user_id }}" {% if user.user_master.is_active %}checked{% endif %} onchange="this.form.submit()">
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <script>
                            let srNo = 0;
                            let rows = document.getElementById('example1').getElementsByTagName('tbody')[0].getElementsByTagName('tr');
                            for (let i = 0; i < rows.length; i++) {
                            srNo++;
                            rows[i].cells[0].textContent = srNo;
                            }
                        </script>
                        <div class="tab-pane" id="resellers" role="tabpanel">
                            <div class="card-body">
                                <table id="example2" class="table table-bordered dt-responsive nowrap table-striped align-middle" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th data-ordering="false">SR No.</th>
                                            <th data-ordering="false">User ID</th>
                                            <th data-ordering="false">User Name</th>
                                            <th data-ordering="false">Source</th>
                                            <th data-ordering="false">Device</th>
                                            <th>First Visit Date</th>
                                            <th>Last Visit Date</th>
                                            <th>Subscription</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for user in users %}
                                        {% if user.property_count %}
                                        <tr>
                                            <td class="sr-no"></td>
                                            <td>{{ user.user_master.user_id }}</td>
                                            <td>{{ user.user_master.name }}</td>
                                            <td>Website</td>
                                            <td>Desktop</td>
                                            <td>03 Oct, 2021</td>
                                            <td>03 Oct, 2021</td>
                                            <td><button class="btn btn-danger btn-sm">Subscription History</button></td>
                                            <td>
                                                {% if user.user_master.is_active %}
                                                    Active
                                                {% else %}
                                                    <span class="text-danger">De-Active</span>
                                                {% endif %}
                                            </td>
                                            <td>
                                                <div class="d-flex gap-4">
                                                    <ul class="list-inline hstack gap-2 mb-0">
                                                        <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="View">
                                                            <a href="#"><i class="ri-eye-fill align-bottom text-muted"></i></a>
                                                        </li>
                                                        <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Edit">
                                                            <a class="edit-item-btn" href="#showModal" data-bs-toggle="modal"><i class="ri-pencil-fill align-bottom text-muted"></i></a>
                                                        </li>
                                                        <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Delete">
                                                            <a class="remove-item-btn" data-bs-toggle="modal" href="#deleteRecordModal">
                                                                <i class="ri-delete-bin-fill align-bottom text-muted"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                    <div class="flex-shrink-0">
                                                        <form action="{% url 'change-buyer-status' user.user_master.user_id %}" method="post">
                                                            {% csrf_token %}
                                                            <div class="form-check form-switch form-switch-right form-switch-md">
                                                                <input class="form-check-input code-switcher" type="checkbox"  id="checkbox{{ user.user_master.user_id }}" {% if user.user_master.is_active %}checked{% endif %} onchange="this.form.submit()">
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div><!-- end card-body -->
            </div><!-- end card -->
        </div>
        <!--end col-->
    </div>
    <!--end row-->

    <script>
        function updateSerialNumbers() {
            const rows = document.querySelectorAll('#example2 tbody tr');
            rows.forEach((row, index) => {
                const srNoCell = row.querySelector('.sr-no');
                srNoCell.textContent = index + 1; // Set the SR No. (1-based index)
            });
        }
    
        // Call the function to update serial numbers on page load
        document.addEventListener('DOMContentLoaded', updateSerialNumbers);
    </script>

{% endblock content %}